<label for="itemRegionalFlag" class="checkbox-container">
  <input name="itemRegionalFlag" id="itemRegionalFlag" tabindex="18" type="checkbox" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" class="large-input-field margin-right-5" ng-model="$ctrl.service.item.regional" data-permission="regionalinventoryeditinvnregionalflag">
  <span data-translate="3176">Regional Inventory</span>
</label>