<div>
  <div class="row" ng-if="rBar.ready&&rBar.expected!==rBar.received" style="background-color:#FFF;padding:0px;border:solid 1px;">
    <div class="col-xs-12" style="padding:0px;">
      <div style="width:{{rBar.bar_width}};position:absolute;z-index:1;background-color:#144371;">&nbsp;</div>
      <span class="text-center" style="z-index:2;display:block;position:relative;color:darkgrey;">{{rBar.received}} <span data-translate="4746">of</span> {{rBar.expected}} - {{rBar.bar_width}}</span>
    </div>
  </div>
  <div class="row" ng-if="rBar.ready&&rBar.expected===rBar.received">
    <div class="col-xs-12 text-center">
      <span class="glyphicon glyphicon-import"></span> {{rBar.received}} <span data-translate="4746">of</span> {{rBar.expected}}
    </div>
  </div>
</div>

