<div>
    <label class="control-label" data-translate="4164">To Subsidiary</label><br>
    <select ng-disabled="true" class="form-control">
        <option style="display:none" data-translate="1358">Select...</option>
        <option value="0" selected="selected">{{insbsname}}</option>
    </select>
</div>
