﻿@model List<string>
@{
    ViewData["Title"] = "checkproduct";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}

<h2>Kiểm tra sp excel</h2>

<form method="post" enctype="multipart/form-data">
   
    <input type="file" id="excel_pr" name="files" />
    <input type="submit" value="up file excel" id="btnexcel" />
</form>
@if (Model != null)
{
    foreach (var i in Model)
    {
    <p>@i</p>
    }
}