﻿@model List<string>
@{
    ViewData["Title"] = "Colorwoo";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}

@using WooCommerceNET.WooCommerce.v2;
<script src="~/lib/spectrum.js"></script>
<link href="~/css/spectrum.css" rel="stylesheet" />
<script>
    function savecolor(o) {
        var c = $(o).attr('id_');
        var color = $('.value_cl_' + c);
        alert($(color).val());
    }
</script>
<h2>Màu sản phẩm</h2>
<table style="width:30%">
    <thead>
        <tr>
            <td>Tên</td>
            <td>Giá trị</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr id="color_">
                <td>@i</td>
                <td><input type='color' name='color2' value='' class="value_cl" /></td>
                <td><input type="button" value="save" id_="" onclick="savecolor(this)" /></td>
            </tr>
        }
    </tbody>
</table>

