﻿
@{
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/bootstrap.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/jquery/tinh_thanh.js"></script>
    <script src="~/lib/jquery/quan_huyen.js"></script>
    <script src="~/lib/jquery/phuong_xa.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }
        .cmnd_ {
            width: 150px;
            float: left;
            padding: 10px;
        }
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 600px) {
            .col-25, .col-75, input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }
    </style>
    <script>
        var accentMap = { "ẚ": "a", "Á": "a", "á": "a", "À": "a", "à": "a", "Ă": "a", "ă": "a", "Ắ": "a", "ắ": "a", "Ằ": "a", "ằ": "a", "Ẵ": "a", "ẵ": "a", "Ẳ": "a", "ẳ": "a", "Â": "a", "â": "a", "Ấ": "a", "ấ": "a", "Ầ": "a", "ầ": "a", "Ẫ": "a", "ẫ": "a", "Ẩ": "a", "ẩ": "a", "Ǎ": "a", "ǎ": "a", "Å": "a", "å": "a", "Ǻ": "a", "ǻ": "a", "Ä": "a", "ä": "a", "Ǟ": "a", "ǟ": "a", "Ã": "a", "ã": "a", "Ȧ": "a", "ȧ": "a", "Ǡ": "a", "ǡ": "a", "Ą": "a", "ą": "a", "Ā": "a", "ā": "a", "Ả": "a", "ả": "a", "Ȁ": "a", "ȁ": "a", "Ȃ": "a", "ȃ": "a", "Ạ": "a", "ạ": "a", "Ặ": "a", "ặ": "a", "Ậ": "a", "ậ": "a", "Ḁ": "a", "ḁ": "a", "Ⱥ": "a", "ⱥ": "a", "Ǽ": "a", "ǽ": "a", "Ǣ": "a", "ǣ": "a", "Ḃ": "b", "ḃ": "b", "Ḅ": "b", "ḅ": "b", "Ḇ": "b", "ḇ": "b", "Ƀ": "b", "ƀ": "b", "ᵬ": "b", "Ɓ": "b", "ɓ": "b", "Ƃ": "b", "ƃ": "b", "Ć": "c", "ć": "c", "Ĉ": "c", "ĉ": "c", "Č": "c", "č": "c", "Ċ": "c", "ċ": "c", "Ç": "c", "ç": "c", "Ḉ": "c", "ḉ": "c", "Ȼ": "c", "ȼ": "c", "Ƈ": "c", "ƈ": "c", "ɕ": "c", "Ď": "d", "ď": "d", "Ḋ": "d", "ḋ": "d", "Ḑ": "d", "ḑ": "d", "Ḍ": "d", "ḍ": "d", "Ḓ": "d", "ḓ": "d", "Ḏ": "d", "ḏ": "d", "Đ": "d", "đ": "d", "ᵭ": "d", "Ɖ": "d", "ɖ": "d", "Ɗ": "d", "ɗ": "d", "Ƌ": "d", "ƌ": "d", "ȡ": "d", "ð": "d", "É": "e", "Ə": "e", "Ǝ": "e", "ǝ": "e", "é": "e", "È": "e", "è": "e", "Ĕ": "e", "ĕ": "e", "Ê": "e", "ê": "e", "Ế": "e", "ế": "e", "Ề": "e", "ề": "e", "Ễ": "e", "ễ": "e", "Ể": "e", "ể": "e", "Ě": "e", "ě": "e", "Ë": "e", "ë": "e", "Ẽ": "e", "ẽ": "e", "Ė": "e", "ė": "e", "Ȩ": "e", "ȩ": "e", "Ḝ": "e", "ḝ": "e", "Ę": "e", "ę": "e", "Ē": "e", "ē": "e", "Ḗ": "e", "ḗ": "e", "Ḕ": "e", "ḕ": "e", "Ẻ": "e", "ẻ": "e", "Ȅ": "e", "ȅ": "e", "Ȇ": "e", "ȇ": "e", "Ẹ": "e", "ẹ": "e", "Ệ": "e", "ệ": "e", "Ḙ": "e", "ḙ": "e", "Ḛ": "e", "ḛ": "e", "Ɇ": "e", "ɇ": "e", "ɚ": "e", "ɝ": "e", "Ḟ": "f", "ḟ": "f", "ᵮ": "f", "Ƒ": "f", "ƒ": "f", "Ǵ": "g", "ǵ": "g", "Ğ": "g", "ğ": "g", "Ĝ": "g", "ĝ": "g", "Ǧ": "g", "ǧ": "g", "Ġ": "g", "ġ": "g", "Ģ": "g", "ģ": "g", "Ḡ": "g", "ḡ": "g", "Ǥ": "g", "ǥ": "g", "Ɠ": "g", "ɠ": "g", "Ĥ": "h", "ĥ": "h", "Ȟ": "h", "ȟ": "h", "Ḧ": "h", "ḧ": "h", "Ḣ": "h", "ḣ": "h", "Ḩ": "h", "ḩ": "h", "Ḥ": "h", "ḥ": "h", "Ḫ": "h", "ḫ": "h", H: "h", "̱": "h", "ẖ": "h", "Ħ": "h", "ħ": "h", "Ⱨ": "h", "ⱨ": "h", "Í": "i", "í": "i", "Ì": "i", "ì": "i", "Ĭ": "i", "ĭ": "i", "Î": "i", "î": "i", "Ǐ": "i", "ǐ": "i", "Ï": "i", "ï": "i", "Ḯ": "i", "ḯ": "i", "Ĩ": "i", "ĩ": "i", "İ": "i", i: "i", "Į": "i", "ı": "i", "į": "i", "Ī": "i", "ī": "i", "Ỉ": "i", "ỉ": "i", "Ȉ": "i", "ȉ": "i", "Ȋ": "i", "ȋ": "i", "Ị": "i", "ị": "i", "Ḭ": "i", "ḭ": "i", I: "i", "ı": "i", "Ɨ": "i", "ɨ": "i", "Ĵ": "j", "ĵ": "j", J: "j", "̌": "j", "ǰ": "j", "ȷ": "j", "Ɉ": "j", "ɉ": "j", "ʝ": "j", "ɟ": "j", "ʄ": "j", "Ḱ": "k", "ḱ": "k", "Ǩ": "k", "ǩ": "k", "Ķ": "k", "ķ": "k", "Ḳ": "k", "ḳ": "k", "Ḵ": "k", "ḵ": "k", "Ƙ": "k", "ƙ": "k", "Ⱪ": "k", "ⱪ": "k", "Ĺ": "a", "ĺ": "l", "Ľ": "l", "ľ": "l", "Ļ": "l", "ļ": "l", "Ḷ": "l", "ḷ": "l", "Ḹ": "l", "ḹ": "l", "Ḽ": "l", "ḽ": "l", "Ḻ": "l", "ḻ": "l", "Ł": "l", "ł": "l", "Ł": "l", "̣": "l", "ł": "l", "̣": "l", "Ŀ": "l", "ŀ": "l", "Ƚ": "l", "ƚ": "l", "Ⱡ": "l", "ⱡ": "l", "Ɫ": "l", "ɫ": "l", "ɬ": "l", "ɭ": "l", "ȴ": "l", "Ḿ": "m", "ḿ": "m", "Ṁ": "m", "ṁ": "m", "Ṃ": "m", "ṃ": "m", "ɱ": "m", "Ń": "n", "ń": "n", "Ǹ": "n", "ǹ": "n", "Ň": "n", "ň": "n", "Ñ": "n", "ñ": "n", "Ṅ": "n", "ṅ": "n", "Ņ": "n", "ņ": "n", "Ṇ": "n", "ṇ": "n", "Ṋ": "n", "ṋ": "n", "Ṉ": "n", "ṉ": "n", "Ɲ": "n", "ɲ": "n", "Ƞ": "n", "ƞ": "n", "ɳ": "n", "ȵ": "n", N: "n", "̈": "n", n: "n", "̈": "n", "Ó": "o", "ó": "o", "Ò": "o", "ò": "o", "Ŏ": "o", "ŏ": "o", "Ô": "o", "ô": "o", "Ố": "o", "ố": "o", "Ồ": "o", "ồ": "o", "Ỗ": "o", "ỗ": "o", "Ổ": "o", "ổ": "o", "Ǒ": "o", "ǒ": "o", "Ö": "o", "ö": "o", "Ȫ": "o", "ȫ": "o", "Ő": "o", "ő": "o", "Õ": "o", "õ": "o", "Ṍ": "o", "ṍ": "o", "Ṏ": "o", "ṏ": "o", "Ȭ": "o", "ȭ": "o", "Ȯ": "o", "ȯ": "o", "Ȱ": "o", "ȱ": "o", "Ø": "o", "ø": "o", "Ǿ": "o", "ǿ": "o", "Ǫ": "o", "ǫ": "o", "Ǭ": "o", "ǭ": "o", "Ō": "o", "ō": "o", "Ṓ": "o", "ṓ": "o", "Ṑ": "o", "ṑ": "o", "Ỏ": "o", "ỏ": "o", "Ȍ": "o", "ȍ": "o", "Ȏ": "o", "ȏ": "o", "Ơ": "o", "ơ": "o", "Ớ": "o", "ớ": "o", "Ờ": "o", "ờ": "o", "Ỡ": "o", "ỡ": "o", "Ở": "o", "ở": "o", "Ợ": "o", "ợ": "o", "Ọ": "o", "ọ": "o", "Ộ": "o", "ộ": "o", "Ɵ": "o", "ɵ": "o", "Ṕ": "p", "ṕ": "p", "Ṗ": "p", "ṗ": "p", "Ᵽ": "p", "Ƥ": "p", "ƥ": "p", P: "p", "̃": "p", p: "p", "̃": "p", "ʠ": "q", "Ɋ": "q", "ɋ": "q", "Ŕ": "r", "ŕ": "r", "Ř": "r", "ř": "r", "Ṙ": "r", "ṙ": "r", "Ŗ": "r", "ŗ": "r", "Ȑ": "r", "ȑ": "r", "Ȓ": "r", "ȓ": "r", "Ṛ": "r", "ṛ": "r", "Ṝ": "r", "ṝ": "r", "Ṟ": "r", "ṟ": "r", "Ɍ": "r", "ɍ": "r", "ᵲ": "r", "ɼ": "r", "Ɽ": "r", "ɽ": "r", "ɾ": "r", "ᵳ": "r", "ß": "s", "Ś": "s", "ś": "s", "Ṥ": "s", "ṥ": "s", "Ŝ": "s", "ŝ": "s", "Š": "s", "š": "s", "Ṧ": "s", "ṧ": "s", "Ṡ": "s", "ṡ": "s", "ẛ": "s", "Ş": "s", "ş": "s", "Ṣ": "s", "ṣ": "s", "Ṩ": "s", "ṩ": "s", "Ș": "s", "ș": "s", "ʂ": "s", S: "s", "̩": "s", s: "s", "̩": "s", "Þ": "t", "þ": "t", "Ť": "t", "ť": "t", T: "t", "̈": "t", "ẗ": "t", "Ṫ": "t", "ṫ": "t", "Ţ": "t", "ţ": "t", "Ṭ": "t", "ṭ": "t", "Ț": "t", "ț": "t", "Ṱ": "t", "ṱ": "t", "Ṯ": "t", "ṯ": "t", "Ŧ": "t", "ŧ": "t", "Ⱦ": "t", "ⱦ": "t", "ᵵ": "t", "ƫ": "t", "Ƭ": "t", "ƭ": "t", "Ʈ": "t", "ʈ": "t", "ȶ": "t", "Ú": "u", "ú": "u", "Ù": "u", "ù": "u", "Ŭ": "u", "ŭ": "u", "Û": "u", "û": "u", "Ǔ": "u", "ǔ": "u", "Ů": "u", "ů": "u", "Ü": "u", "ü": "u", "Ǘ": "u", "ǘ": "u", "Ǜ": "u", "ǜ": "u", "Ǚ": "u", "ǚ": "u", "Ǖ": "u", "ǖ": "u", "Ű": "u", "ű": "u", "Ũ": "u", "ũ": "u", "Ṹ": "u", "ṹ": "u", "Ų": "u", "ų": "u", "Ū": "u", "ū": "u", "Ṻ": "u", "ṻ": "u", "Ủ": "u", "ủ": "u", "Ȕ": "u", "ȕ": "u", "Ȗ": "u", "ȗ": "u", "Ư": "u", "ư": "u", "Ứ": "u", "ứ": "u", "Ừ": "u", "ừ": "u", "Ữ": "u", "ữ": "u", "Ử": "u", "ử": "u", "Ự": "u", "ự": "u", "Ụ": "u", "ụ": "u", "Ṳ": "u", "ṳ": "u", "Ṷ": "u", "ṷ": "u", "Ṵ": "u", "ṵ": "u", "Ʉ": "u", "ʉ": "u", "Ṽ": "v", "ṽ": "v", "Ṿ": "v", "ṿ": "v", "Ʋ": "v", "ʋ": "v", "Ẃ": "w", "ẃ": "w", "Ẁ": "w", "ẁ": "w", "Ŵ": "w", "ŵ": "w", W: "w", "̊": "w", "ẘ": "w", "Ẅ": "w", "ẅ": "w", "Ẇ": "w", "ẇ": "w", "Ẉ": "w", "ẉ": "w", "Ẍ": "x", "ẍ": "x", "Ẋ": "x", "ẋ": "x", "Ý": "y", "ý": "y", "Ỳ": "y", "ỳ": "y", "Ŷ": "y", "ŷ": "y", Y: "y", "̊": "y", "ẙ": "y", "Ÿ": "y", "ÿ": "y", "Ỹ": "y", "ỹ": "y", "Ẏ": "y", "ẏ": "y", "Ȳ": "y", "ȳ": "y", "Ỷ": "y", "ỷ": "y", "Ỵ": "y", "ỵ": "y", "ʏ": "y", "Ɏ": "y", "ɏ": "y", "Ƴ": "y", "ƴ": "y", "Ź": "z", "ź": "z", "Ẑ": "z", "ẑ": "z", "Ž": "z", "ž": "z", "Ż": "z", "ż": "z", "Ẓ": "z", "ẓ": "z", "Ẕ": "z", "ẕ": "z", "Ƶ": "z", "ƶ": "z", "Ȥ": "z", "ȥ": "z", "ʐ": "z", "ʑ": "z", "Ⱬ": "z", "ⱬ": "z", "Ǯ": "z", "ǯ": "z", "ƺ": "z", "２": "2", "６": "6", "Ｂ": "B", "Ｆ": "F", "Ｊ": "J", "Ｎ": "N", "Ｒ": "R", "Ｖ": "V", "Ｚ": "Z", "ｂ": "b", "ｆ": "f", "ｊ": "j", "ｎ": "n", "ｒ": "r", "ｖ": "v", "ｚ": "z", "１": "1", "５": "5", "９": "9", "Ａ": "A", "Ｅ": "E", "Ｉ": "I", "Ｍ": "M", "Ｑ": "Q", "Ｕ": "U", "Ｙ": "Y", "ａ": "a", "ｅ": "e", "ｉ": "i", "ｍ": "m", "ｑ": "q", "ｕ": "u", "ｙ": "y", "０": "0", "４": "4", "８": "8", "Ｄ": "D", "Ｈ": "H", "Ｌ": "L", "Ｐ": "P", "Ｔ": "T", "Ｘ": "X", "ｄ": "d", "ｈ": "h", "ｌ": "l", "ｐ": "p", "ｔ": "t", "ｘ": "x", "３": "3", "７": "7", "Ｃ": "C", "Ｇ": "G", "Ｋ": "K", "Ｏ": "O", "Ｓ": "S", "Ｗ": "W", "ｃ": "c", "ｇ": "g", "ｋ": "k", "ｏ": "o", "ｓ": "s", "ｗ": "w" }
        var normalize = function (term) {
            var ret = "";
            for (var i = 0; i < term.length; i++) {
                ret += accentMap[term.charAt(i)] || term.charAt(i);
            }
            return ret;
        };
        var cityname = [];
        var cityId = [];
        var quanname = [];
        var quanId = [];
        var pxaname = [];
        for (var i = 0; i < city.length; i++) {
            cityname.push(city[i].ten);
            cityId.push(city[i].ma);
        }
        function autocomplet(o, data) {

            $(o).autocomplete({
                source: function (request, response) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    response($.grep(data, function (value) {
                        value = value.label || value.value || value;
                        return matcher.test(value) || matcher.test(normalize(value));
                    }));
                }
            });
        }
        function dataquan(o) {
            quanname = [];
            quanId = [];
            pxaname = [];
            var i = cityname.indexOf(o);
            if (i == -1) {
                //alert("Không tồn tại tp");
                //$("#lcity").focus();
                return false;

            }
            var ma = cityId[i];
            for (var j = 0; j < tows.length; j++) {
                if (tows[j].maT == ma) {
                    quanname.push(tows[j].ten);
                    quanId.push(tows[j].ma);
                }
            }
            autocomplet($("#lquan"), quanname)
        }
        function datapxa() {
            pxaname = [];
            var cty = $("#lcity").val();
            var qh = $("#lquan").val();
            var i = cityname.indexOf(cty);
            if (i == -1) {
                //$("#lcity").focus()
                return false;

            }
            var k = quanname.indexOf(qh);
            if (k == -1) {
                //$("#lquan").focus()
                return false;

            }
            var ma = cityId[i];
            var maq = quanId[i];
            for (var j = 0; j < p_xa.length; j++) {
                if (p_xa[j].maTP.toString() == ma.toString() && p_xa[j].maQH.toString() == maq.toString()) {
                    pxaname.push(p_xa[j].ten);
                }
            }
            autocomplet($("#lpxa"), pxaname)
        }

        function convertDate(o) {
            var date = new Date(o);
            var a = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            return a;

        }
        function seachPhone(o) {
            $(".l_cmnd").empty();
            var p = $(o).val();
            $(".notedit").removeAttr('disabled');
            $("input[type='text']").val('');
            $("#lphone").val(p)
            $("#btn_save").val("Save");
           
            if (p === "")
                return false;
            $.get("/api/API/checkPhonectm?p=" + p, { async: false }, function (data) {
                var j = JSON.parse(data);
                var d = "";

                if (j.length > 0) {
                    var title = j[0].title_sid;
                    $(".notedit").attr('disabled', 'disabled');
                    try {
                        $("input[name=sex][value=" + title + "]").prop("checked", true);
                    }
                    catch{ }
                    try {
                        if (j[0].udf1_date !== "")
                            d = convertDate(j[0].udf1_date.toString());
                        else
                            $("#lbirday").removeAttr('disabled');
                    }
                    catch{
                        $("#lbirday").removeAttr('disabled');
                    }
                    $("#fname").val(j[0].first_name);
                    $("#lname").val(j[0].last_name);
                    $("#lbirday").val(d);
                    $("#laddress").val(j[0].primary_address_line_1);
                    $("#lemail").val(j[0].email_address);

                    $("#lcity").val(namecity(j[0].primary_address_line_4, "ten"));
                    $("#lquan").val(namequan(j[0].primary_address_line_3, "ten"));
                    $("#lpxa").val(namepxa(j[0].primary_address_line_2, "ten"));
                    $("#btn_save").val("Cập nhật");
                    $("#btn_save").attr("sid", j[0].sid);
                    var imgs = j[0].udffield01.toString().split(',');
              
                    for (var k = 0; k < imgs.length; k++) {
                        var img = '<img src="/cmnd/' + imgs[k]+'" class="cmnd_" giatri="old" ondblclick="$(this).remove()" onerror="this.remove();">';
                        $(img).appendTo(".l_cmnd");
                    }
                }
                try {
                    if (j[0].primary_address_line_4.toString() !== "")
                        dataquan(j[0].primary_address_line_4.toString());
                }
                catch (ex) { }
            });
        }
        function namecity(o, obj) {
            var n = "";
            for (var i = 0; i < city.length; i++) {
                if (city[i].ma.toString() == o) {
                    if (obj == "ten")
                        n = city[i].ten;
                    else
                        n = city[i].ma;
                    return n;
                    return false;
                }
            }
            return n;
        }
        function namequan(o, obj) {

            var n = "";
            for (var i = 0; i < tows.length; i++) {
                if (tows[i].ma.toString() == o) {
                    if (obj == "ten")
                        n = tows[i].ten;
                    else
                        n = tows[i].ma;
                    return n;
                    return false;
                }
            }
            return n;
        }
        function namepxa(o, obj) {
            var n = "";
            for (var i = 0; i < p_xa.length; i++) {
                if (p_xa[i].ma.toString() == o) {
                    if (obj == "ten")
                        n = p_xa[i].ten;
                    else
                        n = p_xa[i].ma;
                    return n;
                    return false;
                }
            }
            return n;
        }
        function macity(o, obj) {
            var n = "";
            for (var i = 0; i < city.length; i++) {
                if (city[i].ten.toString() == o) {
                    n = city[i].ma;
                    return n;
                    return false;
                }
            }
            return n;
        }
        function maquan(o, obj) {

            var n = "";
            for (var i = 0; i < tows.length; i++) {
                if (tows[i].ten.toString() == o) {
                    n = tows[i].ma;
                    return n;
                    return false;
                }
            }
            return n;
        }
        function mapxa(o, obj) {
            var n = "";
            for (var i = 0; i < p_xa.length; i++) {
                if (p_xa[i].ten.toString() == o) {
                    n = p_xa[i].ma;
                    return n;
                    return false;
                }
            }
            return n;
        }
        function checkempty() {
            var rs = true;
            $(".no_emty").each(function (index) {
                if ($(this).val() == "") {
                    rs = false;
                }
            });
            return rs;
        }
        $(function () {
            autocomplet($("#lcity"), cityname)
            $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#btn_save").click(function () {
                var ch_ = checkempty();
                //if(ch_==false)
                    //return false;
                var idchk = $('input[name=sex]:checked').val();
                var img = [];
                if ($(".cmnd_").length > 0) {
                    $(".cmnd_").each(function (index) {
                        var k = {
                            giatri: $(this).attr("giatri"),
                            data: $(this).attr("src")
                        }
                        img.push(k)
                    });
                }
                var o = {
                    "primary_phone_no": $("#lphone").val(),
                    "first_name": $("#fname").val(),
                    "last_name": $("#lname").val(),
                    "udf1_date": $("#lbirday").val(),
                    "email_address": $("#lemail").val(),
                    "primary_address_line_1": $("#laddress").val(),
                    "primary_address_line_2": mapxa($("#lpxa").val()),
                    "primary_address_line_3": maquan($("#lquan").val()),
                    "primary_address_line_4": macity($("#lcity").val()),
                    "title_sid": idchk,
                    "action": $("#btn_save").val(),
                    "sid": $("#btn_save").attr("sid"),
                }
                
                $("#files").val(JSON.stringify(img));
                $("#valuectm").val(JSON.stringify(o));
            })
        });
        function opencamera() {
            $('#myCMND').modal('toggle');
      
            // Grab elements, create settings, etc.
            var video = document.getElementById('video');

            // Get access to the camera!
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                // Not adding `{ audio: true }` since we only want video now
                navigator.mediaDevices.getUserMedia({ video:true, facingMode:{exact:"environment"} }).then(function (stream) {
                    //video.src = window.URL.createObjectURL(stream);
                    video.srcObject = stream;
                    video.play();
                });
            }
            
        }
        function capture() {
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            context.drawImage(video, 10, 0);
        }
        function closecamera(){
           
            $('#myCMND').modal('hide');
        }
        function binding(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = '<img src="' + e.target.result +'" class="cmnd_" giatri="new" ondblclick="$(this).remove()" />'
                   $(img).appendTo(".l_cmnd");
                }

                reader.readAsDataURL(input.files[0]);
            }
           
        }
    </script>
</head>
<body>

   <button type="button" class="btn btn-info btn-lg" onclick="$('#imgCmnd').trigger('click')">Chụp hình</button>
    <div class="container">
        <form method="post">
            <input type="hidden" name="valuectm" id="valuectm" />
            <input type="hidden" name="files" id="files" />
            <div class="row">
                <div class="col-25">
                    <label for="lphone">Số điện thoại</label>
                </div>
                <div class="col-75">
                    <input class="no_emty" type="text" id="lphone" name="phone" placeholder="Số điện thoại" onblur="seachPhone($(this))" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">

                </div>
                <div class="col-75 l_cmnd">


                    <!-- Modal -->

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="fname">Họ</label>
                    <input type="file" accept="image/*" style="display:none" capture="camera" id="imgCmnd" name="files" onchange="binding(this)" />
                </div>
                <div class="col-75">
                    <input type="text" class="notedit no_emty" id="fname" name="firstname" placeholder="Your first name.." autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Tên</label>
                </div>
                <div class="col-75">
                    <input type="text" class="notedit no_emty" id="lname" name="lastname" placeholder="Your last name.." autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Giới tính</label>
                </div>
                <div class="col-75">
                    <input type="radio" class="notedit" name="sex" id="544935122000173148" value="544935122000173148" checked /><label for="544935122000173148">Anh</label>
                    <input type="radio" class="notedit" name="sex" id="544935122000172141" value="544935122000172141" /><label for="544935122000172141">Chị</label>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lbirday">Ngày sinh</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lbirday" name="birday" class="datepicker notedit no_emty" placeholder="Ngày sinh" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lemail">Email</label>
                </div>
                <div class="col-75">
                    <input type="text" class="notedit" id="lemail" name="email" placeholder="Email" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="laddress">Địa chỉ</label>
                </div>
                <div class="col-75">
                    <input type="text" id="laddress" name="address" placeholder="Địa chỉ" autocomplete="off">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="lcity">Tỉnh thành</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lcity" name="city" placeholder="Tỉnh thành" onblur="dataquan($(this).val())" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lquan">Quận</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lquan" name="quan" placeholder="Quận huyện" onblur="datapxa()" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lpxa">Phường xã</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lpxa" name="pxa" placeholder="Phường xã" autocomplete="off">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <input type="submit" value="Save" id="btn_save">
            </div>
        </form>
    </div>

</body>
</html>
