﻿
@{
    ViewData["Title"] = "discountproduct";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}
<h2>Nhập giá khuyến mãi</h2>

<form method="post" enctype="multipart/form-data">

    <input type="file" id="excel_pr" name="files" />
    <input type="submit" value="up file excel" id="btnexcel" />
    <input type="submit" value="export excel" id="btnexcel" />
</form>
<table>
    <thead>
        <tr>
            <td>Mã thiết kế</td>
            <td>giá bán</td>
            <td>giá giảm</td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var i in Model)
            {
        <tr class="upgia">
            <td>@i.mtk</td>
            <td>@i.giaban</td>
            <td>@i.giagiam</td>
        </tr>
              
            }
        }
    </tbody>
</table>

