﻿
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}

<h2>EditProduct</h2>
<form method="post">
    <input type="text" name="o" />
    <input type="submit" value="up" />
</form>

