﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeePrism</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>empl name</td>
                <td><input type="text" name="emplname" /></td>
            </tr>
            <tr>
                <td>Họ</td>
                <td><input type="text" name="fname" /></td>
            </tr>
            <tr>
                <td>Tên</td>
                <td><input type="text" name="lname" /></td>
            </tr>
            <tr>
                <td>pass</td>
                <td><input type="text" name="pass" /></td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Save" />
        </p>
    </form>
</body>
</html>
