﻿@model API_net_core.Areas.Tool.Models.Search
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";

}

<style>
    .sub_tt {
    }
    .img_new {
        width:35px
    }
    .img_old {
        width: 30px
    }
   
</style>
@using WooCommerceNET.WooCommerce.v2;
<script>
    
    function checkphone() {

        $.ajax({
            url: "/api/API/checkPhone?p=0908543884",
            headers: { 'Auth_Session': "ererererer" },
            complete: function (data) {

            }
        });

    }
    function GetCatelogy() {
        $(".chk_cate").prop("checked", false);
        var c = $('#myModal').attr("cate");
        if (c != "") {
            var a = c.split(",");
            for (var i = 0; i < a.length; i++) {
                $("#" + a[i]).prop("checked", true);
            }
        }
        $('#myModal').modal('toggle');

    }
    function GetColor(o) {
        $("#name_cl").val($(o).attr("cl_"));
        $('#mycolor').attr("color", $(o).attr("id_"));
        $('#mycolor').modal('toggle');

    }
    function SetCatelogy() {
        var c = [];
        var n_ = [];
        $(".chk_cate").each(function (index) {
            if ($(this).is(':checked')) {
                c.push($(this).attr("id"));
                n_.push($(this).parent().find("label").html());
            }
        });
        $('#myModal').attr("cate", c.toString());
        $('#myModal').attr("ncate", n_.toString());
        $('#myModal').modal('hide');
    }
    function Setcolor() {
        var id = $('#mycolor').attr("color");
        var o = $("#value_cl").val();
        var sp = '<input type="color" name="color2" value="'+o+'" id="value_cl">';
        $(sp).appendTo("#" + id + " .color");
        $('#mycolor').modal('hide');
    }
    function selectAll(o) {

        if ($(o).is(':checked') == true) {
            $(".slitem").prop("checked", true);
        }
        else
            $(".slitem").prop("checked", false);
    }
    function upweb() {
        var desc = [];
        var items = [];
        var cates_ = $('#myModal').attr("cate");
        var ccte = cates_.split(',');
        if (ccte[0] == "") {
            alert("Chọn danh mục");
            return false;
        }
        if ($('#namewebsite').val() == "") {
            alert("Vui lòng nhập tên sản phẩm");
            return false;
        }
        var webnino = $("#webninomaxx").is(':checked');
        var webnm = $("#webnm").is(':checked');
       var weblaginews = false;
        if (!webnino && !webnm && !weblaginews) {
            alert("Vui lòng chọn website đăng sản phẩm");
            return false;
        }
        $("#btnupweb").hide();
        var err = true;
        $(".slitem").each(function (index) {
            if ($(this).is(':checked') == true) {
                var pricedown = $(this).parent().parent().find(".price_down").val();
                var invent = $(this).parent().parent().find(".invent").val();
                var desc1 = $(this).attr("desc1");
                var name = $(this).attr("desc2");
                var upc = $(this).attr("upc");
                var cates = $('#myModal').attr("ncate");
                var namewebsite = $('#namewebsite').val()
                var i = {
                    name: name,
                    desc: desc1,
                    cates: cates,
                    namewebsite: namewebsite
                };
                i.attr = [];
                var attr = {
                    invent:invent,
                    desc1: desc1,
                    upc: upc,
                    price: $("#giaban").val(),
                    pricedown: $("#giagiam").val(),
                    color: $(this).attr("color"),
                    size: $(this).attr("size"),
                }
                var indexof = desc.indexOf(desc1);
                if (indexof > -1) {
                    var o = items[indexof];
                    o.attr.push(attr)
                }
                else {
                    desc.push(desc1);
                    i.attr.push(attr);
                    items.push(i);
                }

            }
        });
        
        let datas = {
            data: JSON.stringify(items),
            cate_: cates_,
            mtk: $("#mtk").val(),
            tast: $("#tast").val(),
            namewebsite: $('#namewebsite').val(),
            webnino: true,
            webnm: false,
            weblaginews: false,
            chatlieu:$("#chatlieu").val(),
        }
   
        $.ajax({
            url: "/api/Api/InsertWoo",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(datas),
            success: function (res) {
                alert("thành công");
                $("#btnupweb").hide();

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("FAIL: " + errorThrown);
            },
        });

    }
    $(document).ready(function () {
        var c = $("#cateweb").val();
        var c_ = [];
        var n_ = [];
        if (c != "") {
            var j = JSON.parse(c);
            for (var i = 0; i < j.length; i++) {
                var id = j[i].id;
                c_.push(id);
                n_.push(j[i].name);
            }

        }
        $('#myModal').attr("cate", c_.toString());
        $('#myModal').attr("ncate", n_.toString());
       // SetCatelogy();
        $("#btnexcel_").click(function () {
            $(this).hide();
        });
    });
    function importExcel() {
        $("#btnexcel").hide();
        var fileInput = document.getElementById('excel_pr');
        if (fileInput.files.length === 0) return;
        var payload = new FormData();
        var file = [];

        for (var i = 0; i < fileInput.files.length; i++) {
            payload.append("files", fileInput.files[i]);
            //  file.push(fileInput.files[0])
        }
        $.ajax({
            url: "/api/Api/UploadFileProcductWeb",
            type: "POST",
            data: payload,
            processData: false,
            contentType: false,
            success: function (res) {

                alert("thành công");
                $("#btnexcel").show();
                var exit = res.split(";");

                for (var i = 0; i < exit.length; i++) {
                    var p = "<p>" + exit[i] + "</p>";
                    $(p).appendTo("#exit");
                }
            },
            error: function (res) {
                alert("er");
            }
        });
    }
    function Add_image_sub(input) {

        if (input.files && input.files[0]) {
            var cll = $("#files").attr("mtk");
    
            for (var h = 0; h < input.files.length; h++) {
                var reader = new FileReader();
                reader.onload = function (e) {

                    var o = '<img src="' + e.target.result + '" ondblclick="$(this).remove()" class="img_new" data="new_" />';
                    
                    $(o).appendTo("." + cll);

                };
                reader.readAsDataURL(input.files[h]);
            }
            
        }
    }
  async function save_hinh(o) {
        $(o).hide();
      await new Promise(r => setTimeout(r, 2000));
      var parent = $(o).parent().parent();
      var color_i = $(parent).find(".color").html();
      var img_old = $(parent).find(".td_img .img_old").length;
      var img_all = $(parent).find(".td_img");
      var bgimg = img_old;
      var sunv = $(o).attr("class_i");
      $(parent).find(".img_new").each(function (index) {
          bgimg = bgimg+1;
            var src = $(this).attr("src");
            $(this).removeClass("img_new").addClass("img_old");
            var o = {
                stt: bgimg, mtk: $("#mtk").val(), src: src, attr: color_i
            }
            $.ajax({
                url: "/api/Api/saveImgbg64",
                type: "POST",
                data: JSON.stringify(o),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
            }).done(function () {
             
                   // $(this).removeClass("img_new").addClass("img_old");
           
                    bgimg++;
              
            });
          
      });
      $("." + sunv).html($(img_all).html());
      $(o).show();
    }
    function selecthinh(o) {
        var mtk = $(o).attr("upc");
        $("#files").attr("mtk", mtk);
        $("#files").trigger("click");

    }
    function deletefile(o) {
        var a = $(o).attr("link_");
        var od = $(o).attr("order_");
        //$(o).remove();
        $.ajax({
            url: "/api/Api/deletes3?link="+a+"&order="+od,
            type: "GET",
            contentType: "application/json",
            success: function (res) {
                $(o).remove();
                alert("thành công");
               
            },
            error: function (jqXHR, textStatus, errorThrown) {
                 $(o).remove();
                console.log("FAIL: " + errorThrown);
            },
        });
    }
</script>
@*<input type='color' name='color' />*@
@using API_net_core.Models

<input type="file" multiple id="files" mtk="" style="display:none" onchange="Add_image_sub(this)" />
<div style="position:fixed;bottom:20px;right:20px;display:none">
    <input type="text" name="o" value="" id="tast" autocomplete="off" placeholder="Tags" />
    <input type="button" value="Up web" id="btnupweb" onclick="upweb()"/>
</div>
<input type="hidden" id="cateweb" value="@ViewBag.cweb" />
<!-- Modal -->
@if (ViewBag.r != null)
{
    <div id="myModal" class="modal fade" role="dialog" cate="">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Catelogy</h4>
                </div>
                <div class="modal-body" style="max-height: 400px;overflow: auto;">
                    <div>
                        @foreach (var j in ViewBag.root)
                        {

                            <p><input type="checkbox" id="@j.id" value="@j.id" class="chk_cate" /><label for="@j.id">@j.name</label></p>
                        }
                    </div>
                    <div>
                        <div>
                            @{
                                var chil = (List<ProductCategory>)ViewBag.c;
                                foreach (var j in ViewBag.r)
                                {
                                    <p><input type="checkbox" id="@j.id" value="@j.id" class="chk_cate" /><label for="@j.id">@j.name</label></p>


                                    var chids = chil.Where(s => s.parent == j.id).ToList();
                                    <div style="padding-left:50px" class="sub_tt">
                                        @foreach (var k in chids)
                                        {
                                            if (k.parent == j.id)
                                            {
                                                <p><input type="checkbox" id="@k.id" value="@k.parent" class="chk_cate" /><label for="@k.id">@k.name</label></p>
                                            }
                                        }
                                    </div>


                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="savecate" onclick="SetCatelogy()">Close</button>
                </div>
            </div>

        </div>
    </div>
}
<div id="exit"></div>

<div id="mycolor" class="modal fade" role="dialog" cate="">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Màu</h4>
            </div>
            <div class="modal-body" style="max-height: 400px;overflow: auto;">
               <input type="text" id="name_cl"> <input type='color' name='color2' value='#3355cc' id="value_cl"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="savecate" onclick="Setcolor()">Close</button>
            </div>
        </div>

    </div>
</div>
<form method="post" enctype="multipart/form-data">

    @*<input type="file" id="excel_pr" name="files" />
            <input type="button" value="up file excel" id="btnexcel" onclick="importExcel()" />
        <input type="hidden" id="btnexcel_" value="up file excel" /></p>*@
    <p>
        <input type="text" name="o" placeholder="upc" value="@Model.keyword" id="mtk" />
        <span>where:
            <select name="where">
            <option value="local">local</option>
             <option value="region">region</option>
              <option value="system">system</option>
            </select>
          </span>
           <label> exactly: 
            <input type="checkbox" name="exactly" checked="@Model.exactly" />
          </label>
        <input type="hidden" name="web" value="" id="web" />
        <input type="submit" value="Search" />
    </p>
    <br />
   
    
    @ViewBag.er
    <table>
        <thead>
            <tr>

                <th>Upc</th>
                <th>description1</th>
                <th>description2</th>
                <th>thuộc tính</th>
                <th>size</th>
                <th>tồn kho</th>
                <th>giá bán</th>
               @* <th>Catelogy</th>
                <th>up hinh</th>
                <th>img</th>
                <th><input type="checkbox" id="selectall" onchange="selectAll(this)" /></th>*@
            </tr>
        </thead>
        @if (Model.data != null)
        {
            string[] sku_ = Model.keyword.Split('-');
            string mtk2 = sku_[sku_.Length - 1];
            var des1 = "";
            common cmd = new common();
            List<string> uphinh = new List<string>();
            foreach (var i in Model.data)
            {
                var attr = i.attribute.ToString();
                var btnhinh = true;
                var subattr = cmd.replaceChar(attr);
                if (uphinh.Count > 0)
                {
                    var testatt = uphinh.IndexOf(attr);

                    if (testatt != -1)
                    {
                        btnhinh = false;

                    }
                    else
                    {
                        uphinh.Add(attr);
                    }
                }
                else
                {
                    uphinh.Add(attr);
                }
                var btn = false;
                if (i.description1 != des1)
                {
                    btn = true;
                    des1 = i.description1;
                }
                <tr id="@i.upc">

                    <td>@i.upc</td>
                    <td>@i.description1</td>
                    <td>@i.description2</td>

                    <td class="color">

                        @i.attribute
                        @*<input type='button' id_="@i.upc" value='chọn màu' cl_="@i.attribute" onclick='GetColor($(this))' cate='' class='cates' />*@
                    </td>
                    <td>@i.item_size</td>
                    <td><input type='text' value="@i.invent" class="invent" /></td>
                    <td>@i.order_cost</td>
                    @* <td>
                        @if (btn)
                        {
                            <input type='button' value='Catelogy' onclick='GetCatelogy($(this))' cate='' class='cates' />}
                    </td>
                    <td>
                        @if (btnhinh)
                        {
                            <input type="button" value="up hình" upc="td_@i.upc" onclick="selecthinh(this)" />
                            <input type="button" value="save hình" upc="td_@i.upc" onclick="save_hinh(this)" class_i="td_@subattr" />}
                    </td>
                    <td class="td_img td_@i.upc td_@subattr">
                        @for (var h = 1; h < 6; h++)
                        {

                            string attr_ = i.attribute.ToString().Replace(".", "_").Replace("/", "_").Replace(" ", "_");
                            string next = mtk2 + "_" + attr_ + "_" + (h + 1) + ".jpg";
                            string limg = mtk2 + "_" + attr_ + "_" + h + ".jpg";
                            <img src="https://hcm01.vstorage.vngcloud.vn/v1/AUTH_f34d13925ff54f6ca78e503226f4bd37/imgweb/@mtk2/@limg" onerror="$(this).remove()" order_="@mtk2/@next" link_="@mtk2/@limg" width="25" class="img_old" ondblclick="deletefile(this)" />}
                    </td>
                    <td>
                        @if (i.sid != -1)
                        {
                        }
                        <input type="checkbox" class="slitem" upc="@i.upc" price="@i.order_cost" size="@i.item_size" color="@i.attribute" desc1="@i.description1" desc2="@i.description2" />
                    </td>*@
                </tr>
            }
        }
    </table>
</form>