﻿@model List<Order>
@{
    ViewData["Title"] = "invoice";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}

<script>
    $(function () {

        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
    });

     function excel() {
       // $("#ecel").hide();
         //$("#tb_excel").table2excel({
         //    exclude: ".excludeThisClass",
         //    name: "Worksheet Name",
         //    filename: "Invoice.xls", // do include extension
         //    preserveColors: false // set to true if you want background colors and font colors preserved
         //});
         window.open("/api/API/exportInvoid?after=" + $('#after').val() + "&before=" + $('#before').val())
         return false;
        $.ajax({
            url: "/api/Api/exportInvoid/",
            type: "GET",
            async: false,
        }).done(function () {

            $("#ecel").show();

        });
    }
</script>
@using WooCommerceNET.WooCommerce.v2;

<input type="button" id="ecel" value="Excel" onclick="excel()" />
<form method="post">
    <input type="text" value="@ViewBag.after" id="after" class="datepicker" name="after" placeholder="từ ngày" autocomplete="off"/>
    <input type="text" value="@ViewBag.before" id="before" class="datepicker" name="before" placeholder="tới ngày" autocomplete="off"/>
    <input type="submit" value="Tìm" />
</form>
<table id="tb_excel" style="width:100%">
    <thead>
        <tr>

            <td>ngày</td>
            <td>ID đơn hàng</td>
            <td>số đt khách</td>
            <td>họ</td>
            <td>tên</td>

            <td>giới tính</td>
            <td>địa chỉ</td>
            <td>xã phường</td>
            <td>quận huyện</td>
            <td>thành phố</td>
            <td>UPC</td>
            <td>giá bán</td>
            <td>số lượng</td>
            <td>thành tiền</td>
            <td>phí ship title</td>
            <td>phí ship value</td>
            <td>loai thanh toán</td>

            <td>Ghi chú</td>
            <td>trạng thái</td>
        </tr>
    </thead>
    <tbody>

        @if (Model != null) {
            int id = 1;
            foreach (var i in Model)
            {
                string gener = "";
                var item = i.line_items;
                try {
                   // gener = i.meta_data.FirstOrDefault(s => s.key == "_billing_gender").value.ToString();
                }
                catch { }
                @foreach (var j in item)
                {
                   
                   
        <tr>

            <td>@i.date_created</td>
            <td>@i.id</td>
            <td>@i.billing.phone</td>
            <td>@i.billing.last_name</td>
            <td>@i.billing.first_name</td>

            <td>@gener</td>
            <td>@i.shipping.address_1 </td>
            <td>@i.shipping.address_2</td>
            <td>@i.shipping.city</td>
            <td>@i.shipping.state</td>
            <td>@j.sku</td>
            <td>@j.price</td>
            <td>@j.quantity</td>
            <td>@j.total</td>
            @try
            {
                <td>
                    @i.shipping_lines[0].method_title
                </td>
            }
            catch (Exception)
            {
                <td></td>
            }
            @try
            {
                <td>
                    @i.shipping_lines[0].total
                </td>
            }
            catch (Exception)
            {
                <td>0</td>
            }
            <td>@i.payment_method_title</td>
            <td>@i.customer_note</td>
            <td>@i.status</td>
        </tr>
                    id++;
                }
            }
        }
    </tbody>
</table>

