﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Order";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml"; }
@using WooCommerceNET.WooCommerce.v2;

<script>
    var linimg = "https://s3.cloud.cmctelecom.vn/vfc.website.images/";
    function sort() {
        var o = [];
        $("#btnsort").hide();
        $("#lisdata li").each(function () {
            o.push($(this).attr("idpr"));
        })
        $.ajax({
            url: "/api/API/OrderProductCate?order=" +o.toString(),
            type: "GET",
            success: function (res) {
                alert("xong");
                $("#btnsort").show();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("FAIL: " + errorThrown);
            },
        });

    }
    $(document).ready(function () {
        $('.chk_cate').on('change', function () {
            $("#lisdata").empty();
            $.ajax({
                url: "/api/API/GetProductCate?cate=" + $("input[name=rdicate]:checked").attr("id"),
                type: "GET",
                success: function (res) {
                   
                    var d = JSON.parse(res)
                    $.each(d, function (index, value) {
                        var li = "<li idpr='" + value["id"] + "' ordervl='" + value["order"] + "'><img style='width:150px;height:220px' src='" + linimg + value["hinh"] + "' onerror='$(this).parent().remove()' /><br/><span>" + value["sku"]+"</span></li>"
                        $(li).appendTo("#lisdata");
                    })
                    console.log(d);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("FAIL: " + errorThrown);
                },
            });

        });
        
    })
    $(function () {
        $("#lisdata").sortable();
        $("#lisdata").disableSelection();
    });
</script>
        <!-- Modal content-->
<div>
    <div style="width: 20%; left: 0;position:fixed;height:100%;overflow:auto" id="div-left">
        <h4 class="modal-title">Catelogy</h4>
        <div class="modal-body">
            <div>
                @foreach (var j in ViewBag.root)
                {

                    <p><input type="radio" name="rdicate" id="@j.id" value="@j.id" class="chk_cate" /><label for="@j.id">@j.name</label></p>}
            </div>
            <div>
                <div>
                    @{ var chil = (List<ProductCategory>)ViewBag.c;
                        foreach (var j in ViewBag.r)
                        {
                            <p><input type="radio" name="rdicate" id="@j.id" value="@j.id" class="chk_cate" /><label for="@j.id">@j.name</label></p> var chids = chil.Where(s => s.parent == j.id).ToList();
                            <div style="padding-left:50px" class="sub_tt">
                                @foreach (var k in chids)
                                {
                                    if (k.parent == j.id)
                                    {
                                        <p><input type="radio" name="rdicate" id="@k.id" value="@k.parent" class="chk_cate" /><label for="@k.id">@k.name</label></p>}
                                }
                            </div> } }

                </div>
            </div>
        </div>


    </div>
    <div id="div-rigth">
        <ul id="lisdata"></ul>
        <input type="button" value="save" onclick="sort()" id="btnsort" />
    </div>
</div>
<style>
    #lisdata{
        list-style-type:none
    }
        #lisdata li {
            float: left;
            padding: 10px;
        }
    #div-rigth {
        width: 80%;
        float: right;
    }
</style>