﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/jquery.js"></script>
    <title>Print</title>
</head>
<body>
    <script type="text/javascript" language="javascript">
        function CallPrint(strid) {
            var prtContent = document.getElementById(strid);
            var docwrite = prtContent.innerHTML;
            var WinPrint = window.open('', '', 'left=0,top=0,toolbar=0,status=0');
            WinPrint.document.open();
            WinPrint.document.write(docwrite);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
            //          prtContent.innerHTML=strOldOne;
        }
    </script>
    <div id="div1" style="display:none">
        <input id="Button1" onclick="javascript:CallPrint('div1')" class="button" type="button" value="Print" />
    </div>
     <p>
        <input type="text" name="o" placeholder="upc" value="" id="mtk" />
       
        <input type="button" value="Search" />
    </p>
</body>
</html>
