﻿@{
    ViewData["Title"] = "Up hình";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}
<script src="http://203.205.21.52:8080/scripts/tinh_thanh.js"></script>


<body>

    <form method="post" enctype="multipart/form-data">
        @*<input type="file" multiple name="files" onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory />*@
        <input type="file" multiple name="files" />
        <input type="submit" value="Upload" />

    </form>
    <script>
        $.ajax({
            type: "GET",
            url: "http://203.205.21.185/api/API/GetAu",
            dataType: "json",
            async: false,
            complete: function (data) {
                console.log("1:");
                console.log(data.responseText);
            }
        });
        $.ajax({
            type: "GET",
            url: "http://182.237.23.201:83/api/API/GetAu",
            async: false,
            complete: function (data) {
                console.log(data.responseText);
            }
        });
    </script>
</body>


