﻿@model List<dynamic>
@{
    ViewData["Title"] = "RemoveDiscount";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}

<h2>RemoveDiscount</h2>
Thông báo:@ViewBag.txt
<form method="post" enctype="multipart/form-data">

    <input type="file" id="excel_pr" name="files" />
    <select name="store" id="slstore">
    <option value="0">Chọn cửa hàng</option>
    @foreach(var it in Model){
        <option value="@it["sid"]">@it["store_name"]</option>
    }
</select>
    <input type="submit" value="up file excel" id="btnexcel" />
    <input type="hidden" value="export excel" id="btnexcel22" />
</form>
@{
    /*var dd = string.Join(",", Model);
    foreach (var i in Model)
    {
        <p>@i</p>
    }*/

}
<script>
    $(document).ready(function(){
        $("#btnexcel").on('click',function(){
            if($('#slstore :selected').val()=="0"){
                alert("chọn store");
                  return false
            }
          
        })
    })
</script>
