﻿
@{
    ViewData["Title"] = "searchImg";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}
<style>
    .img_, .img_new {
        width: 30px
    }
    .save_{
        display:none;
    }
    #paging {
        list-style-type: none;
    }
        #paging li {
            float: left; margin: 10px;
        }
    .active {
        padding: 5px;
        color: white;
    }
</style>
<script>
    
    $(document).ready(function () {
        $("#upaoto").hide();
       for (var i = 1; i < 26; i++) {
           var li = "<li onclick='loaddata("+i+")' class='li_"+i+"'>" + i + "</li>";
           $(li).appendTo("#paging");
       }
       //loaddata(1);
    });
    function lochinh() {
        $("#data_ tbody tr").each(function () {
            var img_ = $(this).find(".img_").length;
            if (img_ > 0)
                $(this).remove();
        })
    }
    async function upimgauto() {
        $("#upaoto").hide()
        await new Promise(r => setTimeout(r, 2000));
        $("#data_ tbody tr").each(function () {
            var img_ = $(this).find(".img_").length;
            var color = $(this).find(".td_color").html();
            var mtk = $(this).find(".td_mtk").html();
            if (img_ <= 0) {
                //if (mtk == "1903023")
                //    return false;
          
                $.ajax({
                    url: "/api/Api/saveImgmiss?color="+color+"&mtk="+mtk+"",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        
                        
                       
                    },
                    error: function (data) {

                    }
                });
               
            }
           
        })
      
        alert("ok");
    }
    function loadImg() {

        $("#data_ tbody tr").each(function () {
            var img_ = $(this).find(".img_").length;
            var color = $(this).find(".td_color").html();
            var mtk = $(this).find(".td_mtk").html();
            var img = "";
            for (var j = 1; j < 6; j++) {

                img += '<img onerror="$(this).remove()" src="https://s3.cloud.cmctelecom.vn/vfc.website.images/' + mtk + '/' + mtk + "_" + color + '_' + j + '.jpg" class="img_" on />';

            }
            $(img).appendTo($(this).find(".img_"));
        })
       
        
    }
    async function loaddata(page) {

        $("#data_ tbody").empty();
        $("li").removeClass("active");
       $(".li_" + page).addClass("active");

       await new Promise(r => setTimeout(r, 2000));
        $.ajax({
            url: "/api/Api/SearchWootest?page=" + page,
            type: "GET",
            contentType: "application/json",
            async: false,
            success: function (res) {

                var json = JSON.parse(res);

                var bg = 1;
                for (var i = 0; i < json.length; i++) {
                   
                    var mtk = json[i].sku;
                    if (mtk == "")
                        continue;
                    
                    var colors = json[i].attributes[0].options;

                    for (var k = 0; k < colors.length; k++) {
                        var var_ = json[i].variations[k];
                        var img = "";
                        var sku = "mtk_" + mtk + k;
                        for (var j = 1; j < 6; j++) {
                            if (j > 1) {
                                img += '<img onerror="$(this).remove()"  ondblclick="$(this).remove()" src="https://s3.cloud.cmctelecom.vn/vfc.website.images/' + mtk + '/' + mtk + "_" + colors[k].toUpperCase() + '_' + j + '.jpg" class="img_" on />';
                            }
                            else {
                                img += '<img onload="$(this).parent().parent().remove()" onerror="$(this).remove()" ondblclick="$(this).remove()" src="https://s3.cloud.cmctelecom.vn/vfc.website.images/' + mtk + '/' + mtk + "_" + colors[k] + '_' + j + '.jpg" class="img_" on />';
                            }
                        }
                        var tr = "<tr id='" + sku + "' var_='" + colors[k].toUpperCase() + "' matk='" + mtk +"'>";
                        tr += "<td>" + bg + "</td>";
                        tr += "<td>" + json[i].name + "</td>";
                        tr += "<td class='td_mtk'>" + mtk + "</td>";

                        tr += "<td class='td_color'>" + colors[k] + "</td>";
                        tr += "<td><input type='button' mtk='" + sku + "' value='hình' onclick='selecthinh(" + mtk + k + ")' /></td>";
                        tr += "<td class='hinh'>" + img + "</td>";
                        tr += "<td><input type='button' value='save hình' class='save_' mmtk='" + mtk + "' attrs='" + colors[k]+"' onclick='savehinh(this)' /></td>";
                        tr += "</tr>";
                        $(tr).appendTo("#data_ tbody");
                        bg++;
                    }

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("FAIL: " + errorThrown);
            },
       });
        $("#upaoto").show();
    }
    function selecthinh(o) {
        var mtk = "mtk_" + o;
        $("#data_").attr("mtk", mtk);
        $("#files").trigger("click");
       
    }
    function savehinh(o){
        var c = $("#data_").attr("mtk");
        var l = $("#" + c + " .img_").length + 1;
        var mtk = $("#" + c + " .td_mtk").html();
        var att = $("#" + c + " .td_color").html();
        $(o).hide();
        $("#" + c + " .img_new").each(function () {
            var src = $(this).attr("src");
            var o = {
                stt: l,mtk: mtk, src: src,attr:att
            }
            $.ajax({
                url: "/api/Api/saveImgbg64",
                type: "POST",
                data: JSON.stringify(o),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {
                    l++;
                },
                error: function (data) {

                }
            });
        })
        $("#" + c + " .hinh").empty();
        var mtk = $(o).attr("mmtk");
        var att = $(o).attr("attrs");
        var img = "";
        for (var j = 1; j < 6; j++) {
            var s_ = "https://s3.cloud.cmctelecom.vn/vfc.website.images/" + mtk + '/' + mtk + "_" + att + '_' + j + ".jpg";
            img += '<img onerror="$(this).remove()"  ondblclick="$(this).remove()" src="' + s_+'" class="img_" on />';
        }
        $("#" + c + " .hinh").html(img);
       
    }
    function Add_image_sub(input) {

        if (input.files && input.files[0]) {
            var cl_ = $("#data_").attr("mtk");
          
            var img_nb = $('.img_up_sub').length + 1;
            for (var h = 0; h < input.files.length; h++) {
                var reader = new FileReader();
                reader.onload = function (e) {

                    var o = '<img src="' + e.target.result + '" ondblclick="$(this).remove()" class="img_up_sub img_new" data="new_" />';
                    $(o).appendTo("#" + cl_ + " .hinh");

                };
                reader.readAsDataURL(input.files[h]);
            }
            $("#" + cl_).find(".save_").show();
        }
    }
    function disable() {
        var mtka = [];
        var vari = [];
        $("#data_ tbody tr").each(function () {
            
            var mtk = $(this).attr("matk");
            var v = mtk+"$"+$(this).attr("var_");
            $.ajax({
                url: "/api/Api/diasablewoo?mtk=" + mtk + "&vr=" + v,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {



                },
                error: function (data) {

                }
            });
        });
        
        alert("ok")
    }
</script>
<ul id="paging">

</ul>

<input type="file" multiple id="files" style="display:none" onchange="Add_image_sub(this)"/>
<table id="data_" mtk="" >
    <thead>
        <tr>
            <th></th>
            <th>Tên sp</th>
            <th>Mã thiết kế</th>

            <th>color</th>
            <th></th>
            <th>hình</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<p><input type="button" style="display:" id="upaoto" value="up hình" onclick="disable()" />

    </p>