﻿
@{
    ViewData["Title"] = "Upcoupon";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}
<script>
    function importExcel() {
       // $("#btnexcel").hide();
        var fileInput = document.getElementById('excel_pr');
        if (fileInput.files.length === 0) return;
        var payload = new FormData();
        var file = [];

        for (var i = 0; i < fileInput.files.length; i++) {
            payload.append("files", fileInput.files[i]);
            //  file.push(fileInput.files[0])
        }
        var dataJSON = { "files": "test" }
        $.ajax({
            url: "/api/Api/UploadFilecoupon",
            type: "POST",
            data: payload,
            processData: false,
            contentType: false,
            success: function (res) {
                alert("thành công");
                $("#btnexcel").show();
                var exit = res.split(";");

                for (var i = 0; i < exit.length; i++) {
                    var p = "<p>" + exit[i] + "</p>";
                    $(p).appendTo("#exit");
                }
            },
            error: function (res) {
                alert("er");
            }
        });
    }
</script>
<form method="post" enctype="multipart/form-data">
    <h2>Upcoupon</h2>
    <input type="file" id="excel_pr" name="files" />
    <input type="button" value="up file excel" id="btnexcel" onclick="importExcel()" />
    </form>
