﻿
@{
    ViewData["Title"] = "UpFileInFolder";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}

<body>
    <form method="post" enctype="multipart/form-data">
        @*<input type="file" multiple name="files" onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory />*@
        <input type="text" name="path" />
        <input type="submit" value="Upload" />
    </form>
</body>


