﻿
@{
    ViewData["Title"] = "UploadFolder";
    Layout = "~/Areas/Tool/Views/_Layout.cshtml";
}

<h2>Sửa ngày</h2>

<form method="post">
    <input type="text" name="link" value="" placeholder="sid" />
    <input type="text" name="lbirday" id="lbirday" class="datepicker" placeholder="ngày tạo (d/m/yyyy)" value="" />
    <input type="submit" value="upload" />
</form>
