<div class="modal-content">
    <div class="modal-header">
		<h4 data-translate="4372">New Coupon</h4>
    </div>
	<div class="modal-body" style="overflow: visible;">
		<ng-form name="form.coupon">
			<div class="row form-group">
				<div class="col-xs-4">
				    <label class="control-label" data-translate="2735">Code</label>
				</div>
				<div class="col-xs-8">
				    <input type="text" class="form-control" ng-model="coupon.couponcode">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-4">
				  <label class="control-label" data-translate="3033">Issued</label>
				</div>
				<div class="col-xs-8">
				  <input type="checkbox" class="" ng-model="coupon.issuedstatus" ng-checked="coupon.issuedstatus===1" ng-true-value="1" ng-false-value="2">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-4">
					<label class="control-label" data-translate="6361">Used</label>
				</div>
				<div class="col-xs-8">
					<input type="number" class="form-control" ng-model="coupon.usedqty">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-4">
					&nbsp;<label class="control-label" data-translate="958">Start Date</label>
				</div>
				<div class="col-xs-8">
					<p class="input-group" ng-click="openCalendar($event, 'startDate')">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<input type="button" class="form-control" datetime-picker="mediumDate" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'mediumDate'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="false" datepicker-options="startDate.datepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
					</p>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-4">
				  &nbsp;<label class="control-label" data-translate="611">End Date</label>
				</div>
				<div class="col-xs-8">
					<p class="input-group" ng-click="openCalendar($event, 'endDate')">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<input type="button" class="form-control" datetime-picker="mediumDate" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'mediumDate'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="false" datepicker-options="endDate.datepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
					</p>
				</div>
			</div>
		</ng-form>
	</div>
    <div class="modal-footer">
		<button class="btn btn-default" data-translate="1.1" ng-click="createCoupon()" ng-disabled="!form.coupon.$valid" event-name="saveSetCouponOK" id="saveSetCouponOkButton">OK</button>
		<button class="btn btn-default" data-translate="1.2" ng-click="closeModal()" event-name="saveSetCouponCancel" id="saveSetCouponCancelButton">Cancel</button>
    </div>
</div>
