<div>
  <div class="col-xs-12">
    <label class="control-label" data-translate="3827">Order Date</label>
    <p class="input-group {{fieldClass}}" ng-click="openCalendar($event, 'poCreateDate')">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-disabled="!purchaseOrder.isEdit"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="poCreateDate.datepickerOptions" ng-model="poCreateDate.date" value="{{(poCreateDate.date)?(poCreateDate.date | date:'mediumDate'):(poCreateDate.placeholder)}}" is-open="poCreateDate.open" button-bar="poCreateDate.buttonBar" enable-time="false" when-closed="poCreateDate.closed()">
    </p>
  </div>
</div>
