<fieldset>
  <div class="panel-heading" ng-if="!custStatistics.tabView">
    <div class="row">
      <div class="col-xs-6">
        <h4 data-translate="6595">Customer Statistics</h4>
      </div>
   </div>
  </div>
  <div class="row row-container">
    <div class="panel panel-default">
      <div class="panel-footer" style="border-top-right-radius:3px;padding:3px;border-top-left-radius:3px;margin:-1px;">
        <label class="control-label" style="margin-left:5px;" data-translate="6590">History</label>
      </div>
      <div class="panel-body">
        <div class="row top-margin">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-5">
                <label class="control-label" data-translate="595">Customer Since</label>
              </div>
              <div class="col-xs-7">
                <span>{{custStatistics.data.createddate | cleanDate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-5">
                <label class="control-label" data-translate="3079">First Sale</label>
              </div>
              <div class="col-xs-7">
                <span>{{custStatistics.data.firstsaledate | cleanDate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-5">
                <label class="control-label" data-translate="3080">Last Sale</label>
              </div>
              <div class="col-xs-7">
                <span>{{custStatistics.data.lastsaledate | cleanDate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-5">
                <label class="control-label" data-translate="3081">Last Return</label>
              </div>
              <div class="col-xs-7">
                <span>{{custStatistics.data.lastreturndate | cleanDate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-5">
                <label class="control-label" data-translate="3082">Last Order</label>
              </div>
              <div class="col-xs-7">
                <span>{{custStatistics.data.lastorderdate | cleanDate}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-container">
    <div class="panel panel-default">
        <div class="panel-footer" style="border-top-right-radius:3px;padding:3px;border-top-left-radius:3px;margin:-1px;">
          <label class="control-label" style="margin-left:5px;" data-translate="1396">Transactions</label>
        </div>
        <div class="panel-body">
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="617">Total Transactions</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.totaltransactions | number}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="3083">Avg. Discount Amount</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.averagediscamount | currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="3084">Total Discounts</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.totaldiscamount | currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="3085">Sold Qty.</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.soldqty | number}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="3086">Return Qty.</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.returnqty | number}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="3087">MTD Sales</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.mtdsaleamt | currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="3088">YTD Sales</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.ytdsaleamt | currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="5204">MTD Returns</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.mtdreturnamt | currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-7">
                  <label class="control-label" data-translate="5205">YTD Returns</label>
                </div>
                <div class="col-xs-5">
                  <span>{{custStatistics.data.ytdreturnamt | currency}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>