<div>
  <div class="row">
    <div class="col-md-4">
      <po-details-general-fee></po-details-general-fee>
    </div>
    <div class="col-md-4">
      <po-details-general-discount></po-details-general-discount>
    </div>
    <div class="col-md-4">
      <po-details-general-freight></po-details-general-freight>
    </div>
  </div>
  <div class="row">
    <div ng-if="reasonRequired" class="col-md-4">
      <po-details-general-reason></po-details-general-reason>
    </div>
  </div>
</div>
