<div class="btn-group">
    <button data-permission="transferscopyformerslip" permission-disabled="!transferSlip.slip.sid||transferSlip.saving||(transferSlip.slip.status !== 4)||(transferSlip.isAssignLimited)" class="btn btn-default" ng-click="copySlip();">
        <span data-translate="582">Copy</span>
    </button>
</div>
