<div class="panel panel-default" style="margin-bottom: 0">
	<div class="panel-heading">
    <h2><span data-translate="6852">Delete Season</span> {{ season.name }}</h2>
	</div>
	<div class="panel-body">
    <h4><span data-translate="6845">Are you sure?</span></h4>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-6">
        <button class="btn btn-default btn-block"><span data-translate="1.1">OK</span></button>
			</div>
			<div class="col-xs-6">
        <button class="btn btn-default btn-block" ng-click="close()"><span data-translate="1.2">Cancel</span></button>
			</div>
		</div>
	</div>
</div>
