<ng-form name="season_form">
<div class="panel panel-default" style="margin-bottom: 0">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4 data-translate="6332">Edit Season</h4>
  </div>

  <div class="panel-body" style="padding: 1em;">
    <form name="seasoneditform">
    <div class="row form-group">
      <div class="col-xs-3">
        <label for="code" data-translate="2735">Code</label>
      </div>
      <div class="col-xs-9">
        <input id="code" type="text" name="seasoncode" maxlength="5" class="form-control" disabled="disabled" ng-model="season.seasoncode" style="text-transform:uppercase">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-3">
        <label for="season_name" data-translate="4866">Season</label>
      </div>
      <div class="col-xs-9">
        <input id="season_name" required type="text" name="seasonname" maxlength="30" class="form-control" ng-model="season.seasonname">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-3">
        <label data-translate="586">Active</label>
      </div>
      <div class="col-xs-9">
          <input type="checkbox" class="large-input-field" id="activeSeason" checked="checked" ng-model="season.active">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">
        <label class="control-label" for="start-date" data-translate="612">Begin Date</label>
        <p class="input-group" ng-click="openCalendar($event, 'startDate')">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:mediumDate):(startDate.placeholder)}}" is-open="startDate.open" enable-time="false" datepicker-options="startDate.datepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
        </p>
      </div>
      <div class="col-xs-6">
        <label class="control-label" for="end-date" data-translate="611">End Date</label>
        <p class="input-group" ng-click="openCalendar($event, 'endDate')">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:mediumDate):(endDate.placeholder)}}" is-open="endDate.open" enable-time="false" datepicker-options="endDate.datepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
        </p>
      </div>
    </div>
  </form>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <button type="submit" ng-disabled="seasoneditform.$invalid" class="btn btn-default" ng-click="update()"><span data-translate="1514">Save & Exit</span></button>
          <button type="button" class="btn btn-default" ng-click="close()"><span data-translate="0.1">Exit</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-form>

