<div class="panel panel-default">
	<div class="panel-heading">
		<h4 data-translate="6333">Seasons</h4>
	</div>
	<div class="panel-body" style="overflow-y: scroll; max-height: 50vh;">
		<div style="width: 100%; height: 100%; text-align: center;" ng-if="loading">
			<div loader-css="ball-clip-rotate" style="margin-top: 10vh"></div>
		</div>
		<table class="table col-md-12 table-striped table-bordered table-reponsive table-centered" ng-show="!loading">
			<thead>
				<tr class="capitalize">
					<td><strong data-translate="774">Edit</strong></td>
					<td class="cursor-pointer" ng-click="sortSeason('seasoncode')"><strong data-translate="2559">Season Code</strong><strong ng-if="sortField==='seasoncode' && sortOrder==='asc'" class="glyphicon glyphicon-arrow-up"></strong><strong ng-if="sortField==='seasoncode' && sortOrder==='desc'" class="glyphicon glyphicon-arrow-down"></strong></td>
					<td class="cursor-pointer" ng-click="sortSeason('seasonname')"><strong data-translate="4866">Season</strong><strong ng-if="sortField==='seasonname' && sortOrder==='asc'" class="glyphicon glyphicon-arrow-up"></strong><strong ng-if="sortField==='seasonname' && sortOrder==='desc'" class="glyphicon glyphicon-arrow-down"></strong></td>
					<td class="cursor-pointer" ng-click="sortSeason('begindate')"><strong data-translate="612">Begin Date</strong><strong ng-if="sortField==='begindate' && sortOrder==='asc'" class="glyphicon glyphicon-arrow-up"></strong><strong ng-if="sortField==='begindate' && sortOrder==='desc'" class="glyphicon glyphicon-arrow-down"></strong></td>
					<td class="cursor-pointer" ng-click="sortSeason('enddate')"><strong data-translate="611">End Date</strong><strong ng-if="sortField==='enddate' && sortOrder==='asc'" class="glyphicon glyphicon-arrow-up"></strong><strong ng-if="sortField==='enddate' && sortOrder==='desc'" class="glyphicon glyphicon-arrow-down"></strong></td>
					<td><strong data-translate="586">Active</strong></td>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="season in seasons" ng-click="setRow(season)" class="context-row{{season === selected}}">
					<td><button ng-disabled="season.seasoncode === 'None'" class="btn btn-default btn-icon glyphicon glyphicon-pencil" ng-click="openEdit(season)"></button></td>
					<td>{{ season.seasoncode }}</td>
					<td>{{ season.seasonname }}</td>
					<td>{{ season.begindate | date }}</td>
					<td>{{ season.enddate | date }}</td>
					<td><input type="checkbox" ng-model="season.active" disabled="disabled"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
					<button type="submit" class="btn btn-default" ng-click="openCreate()" data-translate="6494">New Season</button>
				</div>
			</div>
		</div>
	</div>
</div>
