<div class="well well-sm slip-items-summary" style="padding: 0px;
margin-bottom: 0px;">
    <div class="row">
        <div class="col-xs-4">
            <ul class="list-group-nopad">
                <li class="list-group-item">
                    <slip-totalqty></slip-totalqty>
                </li>
                <li class="list-group-item">
                    <slip-lineitems></slip-lineitems>
                </li>
                <li class="list-group-item">
                    <slip-freightamt></slip-freightamt>
                </li>
                <li class="list-group-item">
                    <slip-feeamt></slip-feeamt>
                </li>
                <li class="list-group-item">
                    <slip-feetype></slip-feetype>
                </li>
            </ul>
        </div>
        <div class="col-xs-3 col-xs-offset-5">
            <ul class="list-group-nopad">
                <li class="list-group-item total">
                    <span class="badge total">{{transferSlip.slip.docpricetotal||0 | currency}}</span>
                    <span data-translate="4170">Total Price</span>
                </li>
                <li class="list-group-item total">
                    <span class="badge total">{{transferSlip.slip.doccosttotal||0 | currency}}</span>
                    <span data-translate="4171">Total Cost</span>
                </li>
            </ul>
        </div>
    </div>
</div>
