<div class="panel panel-default">
  <ng-form name="form.fees">
    <div class="panel-heading">
      <h4 data-translate="3229">Fee</h4>
    </div>
    <div class="panel-body po-details-panel">
      <div class="row form-group">
        <div class="col-xs-12">
          <label class="control-label" data-translate="694">Fee Type</label>
          <select ng-readonly="purchaseOrder.isReadOnly" ng-model="purchaseOrder.fee.purchfeetypesid " ng-disabled="!purchaseOrder.isEdit||feeTypes.length===0" ng-blur="saveFee($index);" ng-required="true" class="form-control {{fieldClass}}" ng-options="x.sid as x.feename for x in activeFeeTypes">
            <option value="undefined" style="display:none"><span data-translate="1358">Select...</span></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="control-label" data-translate="693">Fee Amount</label>
          <input enter-blur="undefined" ng-readonly="purchaseOrder.isReadOnly" type="text" ng-disabled="!purchaseOrder.isEdit||feeTypes.length===0||(purchaseOrder.fee.feetype===''||purchaseOrder.fee.feetype===undefined)" class="form-control {{fieldClass}}" ng-blur="saveFee();" ng-required="true" ng-model="purchaseOrder.fee.amt" numberonly="undefined" data-currency-formatter="currency">
        </div>
      </div>
    </div>
  </ng-form>
</div>
