<button type="button" class="btn btn-info" ng-click="searchBtn.open()" data-permission="posadvanceditemlookup" ng-disabled="searchBtn.disable">
  <span class="glyphicon glyphicon-search"></span>
</button>
