<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <h4 data-translate="3638">PO Items</h4>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
					<div class="col-xs-12">
						<div class="row" ui-i18n="{{lang}}">
							<div id="grid1" ng-if="receivingPoItemsGrid && receivingPoItemsGrid.data.length > 0" ui-grid-resize-columns="undefined" ui-grid-cellnav="undefined" auto-resize="undefined" ui-grid-edit="undefined" ui-grid-selection="undefined" ui-grid="receivingPoItemsGrid" external-scopes="gridHandlers" class="grid"></div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <!-- <button class="btn btn-large" type="button" ng-click="itemQty()"><span data-translate="3871">Item Qty</span></button> -->
                <button class="btn btn-info btn-large" type="button" ng-disabled="!(enableActionButtons)||!(sharedData.receiving.voucher.settings.poitems.selected.length > 0)" ng-click="itemDue()">
                    <span ng-if="sharedData.receiving.voucher.info.voutype !== 1" data-translate="3872">Item Due</span>
                    <span ng-if="sharedData.receiving.voucher.info.voutype === 1" data-translate="4512">Item Received</span>
                </button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="(dueFilled === true)||!(enableActionButtons)" ng-click="allDue()">
                    <span ng-if="sharedData.receiving.voucher.info.voutype !== 1" data-translate="3873">All Due</span>
                    <span ng-if="sharedData.receiving.voucher.info.voutype === 1" data-translate="4513">All Received</span>
                </button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="!(dueFilled === true)||!(enableActionButtons)" ng-click="addPOItemsToVoucher()"><span data-translate="1.1">Ok</span></button>
                <button class="btn btn-info btn-large" type="button" ng-click="$close(false)"><span data-translate="1.2">Cancel</span></button>
            </div>
        </div>
    </div>
</div>
