<div ng-if="($ctrl.asklayout!==3) &&  ($ctrl.asklayout!==1)">
  <rp-select-input form="$ctrl.form" ng-required="true" repeater-data="$ctrl.storesList" key-string="'name'" suppress-translate="true" default-obj="$ctrl.defaultObj" value-key="'value'" ng-model="$ctrl.store" ng-change="$ctrl.OnChange()" is-disabled="(!$ctrl.subsidiary)||$ctrl.disableSelect()||($ctrl.meDisabled)" ng-blur="$ctrl.onBlur()">
  </rp-select-input>
</div>
