<div>
  <rp-select-input repeater-data="$ctrl.obj.listData" ng-model="$ctrl.scaleObj.value" call-back="$ctrl.obj.http()" suppress-translate="true" default-obj="$ctrl.scaleObj.value" is-last-page="$ctrl.obj.isLastPage" key-string="$ctrl.obj.textKey" is-disabled="$ctrl.disable" ng-change="$ctrl.changeScale()" page="$ctrl.obj.page" filter-string="$ctrl.obj.searchString" required="$ctrl.setDefaultScale">
  </rp-select-input>
</div>

