<div class="discount-tier-container">
	<table class="table table-bordered">
		<thead>
			<th ng-repeat="title in titles">{{title.name | translate}}</th>
		</thead>
		<tbody>
			<tr ng-repeat="tier in discountTier" ng-if="discountTier.length > 0">
				<td ng-repeat="title in titles">
					<input type="text" ng-if="!$last" data-currency-formatter="{{title.type}}" numberonly="" class="form-control" ng-disabled="disable||processing" ng-model="tier[title.field]" ng-blur="saveTier(tier, $event, title)" enter-blur="">
					<button ng-if="$last&&!tier.emptyTier" ng-disabled="disable||processing" class="btn btn-icon remove" ng-click="removeTier(tier);" type="button">
          				<span class="glyphicon glyphicon-remove"></span>
          			</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>