<div class="row">
  <div class="col-xs-6" data-translate="714">
    Discount %
  </div>
  <div class="col-xs-6 text-right">
    <span ng-if="purchaseOrder.active.pototal===0">{{0 | number}}</span>
    <span ng-if="purchaseOrder.active.pototal!==0">{{purchaseOrder.active.discperc}}</span>
  </div>
</div>
