<div>
  <div class="col-xs-5 text-right">
    <p class="form-control-static">
      <strong data-translate="4553">Discount %:</strong>
    </p>
  </div>
  <div class="col-xs-7">
    <input tabindex="3" ng-required="isFieldRequired('charge_discount_percent','charge')" type="text" id="chargetermdiscperc" numberonly="" class="form-control text-right" ng-model="tender.charge_discount_percent">
  </div>
</div>
