<div class="col-xs-12 padding-20">
  <div ng-if="$ctrl.mode === 'new'">
      <div class="alert alert-danger" role="alert">
          <span data-translate="5346">Quantity information is available for existing items only.</span>
      </div>
  </div>
  <div ng-if="$ctrl.mode !== 'new'">
      <div id="itemQtyGrid" ui-grid="$ctrl.itemQtyGrid" ui-grid-resize-columns class="grid"></div>
  </div>
</div>
