<ng-form name="pm_form">
  <div class="row">
    <div class="col-xs-12">
      <pm-main list="isListView"></pm-main>
    </div>
  </div>
  <div class="row">
    <action-button-bar ng-if="pmButtons" action-bar="pmButtons"></action-button-bar>
  </div>
</ng-form>

