<button type="button" ng-disabled="!purchaseOrder.isEdit||purchaseOrder.activeItems.length===0" class="btn btn-info" ng-click="removePoItem();">
  <span data-translate="767">Remove Item</span>
</button>
