<span>
<button class="btn btn-lg btn-default" ng-disabled="sharedData.disableUpdate||!disbursement.form.$valid||(disbursements.active.event_type!==4&&disbursements.active.currency_total===0)" ng-click="printDisbursement();" type="button">
  <span data-translate="653" ng-if="!disbursements.active.finalized">Print\Update</span>
  <span data-translate="522" ng-if="disbursements.active.finalized">Print</span>
</button>
</span>
