<div class="btn-group dropup" uib-dropdown is-open="button.status.isopen">
    <button type="button" id="vi-quick-filter" uib-dropdown-toggle ng-disabled="button.disable()" class="btn btn-info toggle" event-name="VendorInvoiceShowVoucherOptions">
        <span data-translate="4810">Show</span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="vi-quick-filter">
        <li><a ng-click="button.action(1)" data-translate="1143">All</a></li>
        <li><a ng-click="button.action(2)" data-translate="4811">Assigned</a></li>
        <li><a ng-click="button.action(3)" data-translate="4812">Unassigned</a></li>
    </ul>
</div>
