<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12" ng-if="cMgr.conn.noConnection">
        <connection-no-connection></connection-no-connection>
      </div>
    </div>
    <div class="row" ng-if="!cMgr.conn.noConnection">
      <div class="col-xs-12">
        <conn-manager-connection-list></conn-manager-connection-list>
      </div>
    </div>
    <div class="row" ng-if="!cMgr.conn.noConnection">
      <div class="col-xs-12">
        <conn-manager-connection-profiles></conn-manager-connection-profiles>
      </div>
    </div>
  </div>
</div>
