<div class="row">
  <div class="col-xs-4">
    <span class="badge badge-info">
      <span ng-if="!phoneList.parent.active.phoneallowcontact" class="glyphicon-ban-circle glyphicon"></span>
      <span ng-if="phoneList.parent.active.phoneallowcontact" class="glyphicon-ok glyphicon"></span>
      <span data-translate="539">Contact</span>
    </span>
  </div>
  <div class="col-xs-4 text-center">
    <span class="badge badge-info" ng-if="phoneList.parent.active.phonetype">
      <span class="glyphicon glyphicon-user"></span> {{phoneList.parent.active.phonetype}}
    </span>
  </div>
  <div class="col-xs-4 text-right">
    <span class="badge badge-info">
      <span ng-if="!phoneList.parent.active.primaryflag" class="glyphicon-ban-circle glyphicon"></span>
      <span ng-if="phoneList.parent.active.primaryflag" class="glyphicon-ok glyphicon"></span>
      <span data-translate="537">Primary</span>
    </span>

  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
   {{phoneList.parent.active.phoneno}}
  </div>
</div>
