<div class="col-xs-12 padding-20">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="4520">DCS Name</label>
            </div>
            <div class="col-xs-9">
                <input ng-disabled="true" type="text" ng-value="dcs.getFullDcsName();" class="form-control" id="imi-deptName">
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2734">Vendor Name</label>
            </div>
            <div class="col-xs-9">
                <input ng-disabled="true" type="text" ng-model="item.vendorname" class="form-control" id="imi-vendorName">
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2147">Description 3</label>
            </div>
            <div class="col-xs-9">
                <input maxlength="30" ng-disabled="disable" type="text" ng-model="item.description3" class="form-control" id="imi-description3">
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2148">Description 4</label>
            </div>
            <div class="col-xs-9">
                <input maxlength="30" ng-disabled="disable" type="text" ng-model="item.description4" class="form-control" id="imi-description4">
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2732">Department</label>
            </div>
            <div class="col-xs-4">
                <input ng-disabled="true" type="text" ng-model="dcs.dname" class="form-control" id="imi-attribute">
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2731">Class</label>
            </div>
            <div class="col-xs-4">
                <input ng-disabled="true" type="text" ng-model="dcs.cname" class="form-control" id="imi-itemsize">
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2733">Subclass</label>
            </div>
            <div class="col-xs-4">
                <input ng-disabled="true" type="text" ng-model="dcs.sname" class="form-control" id="imi-needchilddata">
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="848">Inventory Type</label>
            </div>
            <div class="col-xs-4">
                <invn-select-invntype ng-disabled="disable" ng-change="state.onTypesBlur('kittype')" kit-type-val="item.kittype"></invn-select-invntype>
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2765">Serial Type</label>
            </div>
            <div class="col-xs-4">
                <select class="form-control" ng-disabled="state.noPermSNType||disable||item.noninventory||(item.kittype > 0 && item.kittype < 3)" ng-change="state.onTypesBlur({fieldName:'serialtype',newValue:item.serialtype})" ng-model="item.serialtype" ng-options="type.value as type.text for type in state.serialTypeList"></select>
            </div>
            <div class="col-xs-3">
                <button event-name="invnSnMgmt" ng-disabled="item.serialtype===0" ng-click="state.manageSerNos(item);" type="button" class="btn btn-info btn-block"><span data-translate="5771">Serial Numbers</span></button>
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2755">Lot Type</label>
            </div>
            <div class="col-xs-4">
                <select class="form-control" ng-disabled="state.noPermLNType||disable||item.noninventory||(item.kittype > 0 && item.kittype < 3)" ng-change="state.onTypesBlur({fieldName:'lottype',newValue:item.lottype})" ng-model="item.lottype" ng-options="type.value as type.text for type in state.lotTypeList"></select>
            </div>
            <div class="col-xs-3">
                <button event-name="invnLnMgmt" ng-disabled="item.lottype===0||state.mode==='new'" ng-click="state.manageLotNos(item);" type="button" class="btn btn-info btn-block"><span data-translate="5760">Lot Numbers</span></button>
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="5132">Quantity Decimals</label>
            </div>
            <div class="col-xs-2">
                <invn-select-qtydecimals disable="disable" ng-change="state.onCalcfieldBlur('useqtydecimals')" use-qty-dec="item.useqtydecimals"></invn-select-qtydecimals>
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="552">Max Discount %</label>
            </div>
            <div class="col-xs-2" ng-if="state.prefDiscount === 0"> <!-- Max Discount Pct -->
                <input ng-disabled="disable" type="text" numberonly="" max="100" min="0" ng-model="item.maxdiscperc1" class="form-control" id="imi-maxdiscperc1">
            </div>
            <div class="col-xs-2" ng-if="state.prefDiscount === 1"> <!-- Max Accumulated Discount Pct -->
                <input ng-disabled="disable" type="text" numberonly="" max="100" min="0" ng-model="item.maxdiscperc2" class="form-control" id="imi-maxdiscperc2">
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-xs-3 no-left-padding">
                <label data-translate="2772">Tax Code</label>
            </div>
            <div class="col-xs-4">
                <invn-select-taxcode disable="disable" ng-change="state.onCalcfieldBlur('taxcodesid')" tax-code="item.taxcodesid"></invn-select-taxcode>
            </div>
        </div>
    </div>
    <div class="row top-margin20">
        <div class="form-group remove-bottom-margin">
            <label for="itemNonInventory" class="col-xs-offset-3">
                <input name="itemNonInventory" id="itemNonInventory" tabindex="18" type="checkbox" ng-disabled="disable" class="checkbox-inline" ng-model="item.noninventory">
                <span data-translate="3174">Non-Inventory</span>
            </label>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group remove-bottom-margin">
            <label for="itemForceTax" class="col-xs-offset-3">
                <input name="itemForceTax" id="itemForceTax" tabindex="18" type="checkbox" ng-disabled="disable" class="checkbox-inline" ng-model="item.forceorigtax">
                <span data-translate="2566">Enforce Original Price Tax</span>
            </label>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group remove-bottom-margin">
            <label for="itemNonCommitted" class="col-xs-offset-3">
                <input name="itemNonCommitted" id="itemNonCommitted" tabindex="18" type="checkbox" ng-disabled="disable" class="checkbox-inline" ng-model="item.noncommitted">
                <span data-translate="5896">Skip Committed</span>
            </label>
        </div>
    </div>
</div>
