<div class="inline-block">
    <button data-permission="adjmemoseditformermemo" data-permission-disabled="(sharedData.documentLookup.selected.length !== 1)||(sharedData.documentLookup.selected[0].status !== 4)||(sharedData.documentLookup.selected[0].creatingdoctype===9)" class="btn btn-info btn-large" type="button" ng-click="extraActionSelected('edit')"><span data-translate="774">Edit</span></button>
    <button data-permission="adjmemosreversememo" data-permission-disabled="(sharedData.documentLookup.selected.length !== 1)||(sharedData.documentLookup.selected[0].status !== 4)||(sharedData.documentLookup.selected[0].reversedflag)||(sharedData.documentLookup.selected[0].creatingdoctype===9)" class="btn btn-info btn-large" type="button" ng-click="extraActionSelected('reverse')"><span data-translate="4790">Reverse</span></button>
    <button ng-if="sharedData.documentLookup.selected.length===0" disabled="disabled" class="btn btn-info btn-large" type="button"><span data-translate="582">Copy</span></button>
    <button ng-if="sharedData.documentLookup.selected[0].adjtype===0" data-permission="adjmemoscreateqtymemo" data-permission-disabled="(sharedData.documentLookup.selected.length !== 1)||(sharedData.documentLookup.selected[0].status !== 4)||(sharedData.documentLookup.selected[0].creatingdoctype===9)" class="btn btn-info btn-large" type="button" ng-click="extraActionSelected('copy')"><span data-translate="582">Copy</span></button>
    <button ng-if="sharedData.documentLookup.selected[0].adjtype===1" data-permission="adjmemoscreatepricememo" data-permission-disabled="(sharedData.documentLookup.selected.length !== 1)||(sharedData.documentLookup.selected[0].status !== 4)||(sharedData.documentLookup.selected[0].creatingdoctype===9)" class="btn btn-info btn-large" type="button" ng-click="extraActionSelected('copy')"><span data-translate="582">Copy</span></button>
    <button ng-if="sharedData.documentLookup.selected[0].adjtype===2" data-permission="adjmemoscreatecostmemo" data-permission-disabled="(sharedData.documentLookup.selected.length !== 1)||(sharedData.documentLookup.selected[0].status !== 4)||(sharedData.documentLookup.selected[0].creatingdoctype===9)" class="btn btn-info btn-large" type="button" ng-click="extraActionSelected('copy')"><span data-translate="582">Copy</span></button>
</div>
