<div style="width: auto;">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-2">
          <h4 data-translate="765">Item Details</h4>
        </div>

        <div class="col-xs-2 col-xs-offset-8">
          <slip-item-detail-prev-button></slip-item-detail-prev-button> <slip-item-detail-next-button></slip-item-detail-next-button>
        </div>
      </div>
    </div>
    <div class="modal-body">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <label data-translate="677">UPC</label>
                        </div>
                        <div class="col-xs-8">
                            <span>{{selectedItem.upc|padUPC}}</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <label data-translate="3533">Vendor Code</label>
                        </div>
                        <div class="col-xs-8">
                            <span>{{selectedItem.vendcode}}</span>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <label data-translate="3796">Department Code</label>
                        </div>
                        <div class="col-xs-8">
                            <span>{{selectedItem.dcscode}}</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <label data-translate="2118">Description 1</label>
                        </div>
                        <div class="col-xs-8">
                            <span>{{selectedItem.description1}}</span>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <label data-translate="772">Quantity</label>
                        </div>
                        <div class="col-xs-3">
                            <input enter-blur type="text" min="1" ng-keydown="checkKey($event)" data-currency-formatter="number" decimals="{{selectedItem.useqtydecimals}}" numberonly="" ng-disabled="(!transferSlip.isEdit)||(transferSlip.slip.status!==3)" class="form-control" ng-model="selectedItem.qty">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <label data-translate="2119">Description 2</label>
                        </div>
                        <div class="col-xs-8">
                            <span>{{selectedItem.description2}}</span>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-6">
                        <label class="col-xs-3 control-label" for="itemSerialNumber" data-translate="2122">Serial No</label>
                        <div class="form-group form-horizontal" ng-class="(selectedItem.serialtype > 0)&&(!selectedItem.serialno) ? 'has-warning' : ''">
                            <ng-form name="serNoForm">
                                <div class="col-xs-6 has-feedback">
                                    <input type="text" tabindex="6" class="form-control" id="itemSerialNumber" name="itemSerialNumber" ng-disabled="disableEdit || selectedItem.serialtype === 0" data-permission="EditFormerTransferSlip" data-apply-permission-when="[{permission:'EditFormerTransferSlip', condition:transferSlip.slip.status === 4 && transferSlip.isEdit}]" ng-model="selectedItem.serialno" ng-blur="validateSerNo(selectedItem,serNoForm)" ng-change="serNoChanged(selectedItem,serNoForm)" unique>
                                    <i ng-if="(!disableEdit) && selectedItem.serialtype !== 0" class="glyphicon glyphicon-search form-control-feedback" id="serNoLookupIcon" ng-click="serNoLookup(selectedItem,serNoForm)"></i>
                                </div>
                                <div class="col-xs-2 error" ng-show="serNoForm.itemSerialNumber.$error.unique">
                                    <span data-translate="3381">Duplicate</span>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <label data-translate="3333">Attribute</label>
                        </div>
                        <div class="col-xs-8">
                            <span>{{selectedItem.attr}}</span>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-6">
                        <label class="col-xs-3 control-label" for="itemLotNumber" data-translate="2121">Lot No</label>
                        <div class="form-group form-horizontal" ng-class="(selectedItem.lottype > 0)&&(!selectedItem.lotnumber) ? 'has-warning' : ''">
                            <ng-form name="lotNoForm">
                                <div class="col-xs-6 has-feedback">
                                    <input type="text" tabindex="11" class="form-control" id="itemLotNumber" name="itemLotNumber" ng-disabled="disableEdit || selectedItem.lottype === 0" data-permission="EditFormerTransferSlip" data-apply-permission-when="[{permission:'EditFormerTransferSlip', condition:transferSlip.slip.status === 4 && transferSlip.isEdit}]" ng-model="selectedItem.lotnumber" ng-blur="validateLotNo(selectedItem)" ng-change="lotNoChanged(selectedItem)">
                                    <i ng-if="(!disableEdit) && selectedItem.lottype !== 0" class="glyphicon glyphicon-search form-control-feedback" id="lotNoLookupIcon" ng-click="lotNoLookup(selectedItem)"></i>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <label data-translate="679">Size</label>
                        </div>
                        <div class="col-xs-8">
                            <span>{{selectedItem.size}}</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <div class="rightalign">
            <button event-name="slipItemDetailOk" type="button" tabindex="50" id="slipOkBtn" class="btn btn-lg btn-default" ng-disabled="form.needsValidating || form.saving || (serNoForm.$invalid) || (lotNoForm.$invalid)" ng-click="saveData();">
                <span data-translate="1.1">OK</span></button>
            <button event-name="slipItemDetailCancel" type="button" tabindex="52" id="slipItemDetailsCancelBtn" class="btn btn-lg btn-default" ng-click="cancel();">
                <span data-translate="1.2">Cancel</span></button>
        </div>
    </div>
</div>
