<div class="row" ng-if="noConn.sp.type==='ril'">
  <div class="col-xs-12" ng-if="!noConn.mode">
    <div class="well well-sm text-center">
      <h4>
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span data-translate="6448">No RIL Server Connection</span>
      </h4>
      <br>
      <button class="btn btn-default" ng-click="noConn.setForm(1)"><span data-translate="6762">Use Existing RIL Server</span></button>
      <button class="btn btn-default" ng-click="noConn.setForm(2)"><span data-translate="6763">Add \ Edit Local RIL Server</span></button>
    </div>
  </div>
  <div class="col-xs-12" ng-if="noConn.mode===2">
    <no-connection-new></no-connection-new>
  </div>
  <div class="col-xs-12" ng-if="noConn.mode===1">
    <no-connection-existing></no-connection-existing>
  </div>
</div>
<div class="row" ng-if="noConn.sp.type==='custom'">
  <div class="col-xs-12">
    <ng-form name="noConn.form">
      <div class="row form-group">
        <div class="col-xs-12">
          <em class="badge badge-info">
            <span data-translate="6764">Add \ Edit Custom Connection</span>
          </em>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label"><span data-translate="1113">Name</span></label>
          <input type="text" ng-required="true" ng-model="noConn.controller.controllername" class="form-control">
        </div>
        <div class="col-xs-6">
          <label class="control-label"><span data-translate="6765">RIL Server Address</span></label>
          <input type="text" ng-required="true" ng-model="noConn.controller.address" class="form-control">
        </div>
      </div>
      <div class="row panel-footer" style="position:relative;top:5px;">
        <div class="col-xs-6">
          <button type="button" class="btn btn-default" ng-disabled="noConn.conn.active.rc_sid||!noConn.conn.active.sid" ng-click="noConn.delete()"><span data-translate="544">Delete</span></button>
        </div>
        <div class="col-xs-6 text-right">
          <button type="button" class="btn btn-default" ng-disabled="!noConn.form.$valid" ng-click="noConn.saveController()"><span data-translate="547">Save</span></button>
          <button type="button" class="btn btn-default" ng-if="!noConn.noExisting" ng-click="noConn.refresh()"><span data-translate="1.2">Cancel</span></button>
        </div>
      </div>
    </ng-form>
  </div>
</div>
<div class="row" ng-if="noConn.sp.type==='prism'">
  <div class="col-xs-12">
    <div class="well well-sm text-center">
      <em>
        <span data-translate="6766">You are not part of a Prism enterprise.  You can join an enterprise in Tech Toolkit.</span>
      </em>
    </div>
  </div>
</div>
