<ng-form name="initDefaults.form">
  <div class="panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-4"><h4><span class="div-header-text" data-translate="6030">Installation Defaults:</span></h4></div>
      </div>
      <div class="row">
        <div class="col-xs-4"><select class="form-control" ng-options="controller as controller.controllername for controller in initDefaults.controllers" ng-model="initDefaults.controller">
          <option value="" style="display:none" data-translate="1358">Select...</option>
        </select></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="toppadding10px sidepadding10px">
        <div class="row form-group">
          <div class="col-xs-1">
            <label class="control-label" data-translate="">Ctrl No</label>
            <input type="number" ng-required="true" class="form-control" maxlength="6" ng-model="initDefaults.controller.controllerno">
          </div>
          <div class="col-xs-2">
            <label class="control-label" data-translate="6122">Controller Name</label>
            <input type="text" ng-required="true" class="form-control" maxlength="15" ng-model="initDefaults.controller.controllername">
          </div>
          <div class="col-xs-3">
            <label class="control-label" data-translate="6123">Default Subsidiary</label>
            <select class="form-control" ng-required="true" ng-model="initDefaults.controller.defaultsbssid" ng-change="initDefaults.getStores()" ng-options="sub.sid as sub.subsidiary_name for sub in initDefaults.subs">
              <option value="" style="display:none">
                <span data-translate="1358">Select...</span>
              </option>
            </select>
          </div>
          <div class="col-xs-3">
            <label class="control-label" data-translate="5410">Default Store</label>
            <select class="form-control" ng-required="true" ng-model="initDefaults.controller.storesid" ng-options="store.sid as store.store_name for store in initDefaults.stores">
              <option value="" style="display:none" data-translate="1358">Select...</option>
            </select>
          </div>
          <div class="col-xs-3">
            <label class="control-label" data-translate="5947">RIL Address</label>
            <input type="text" class="form-control" ng-model="initDefaults.controller.v9address">
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label" data-translate="6032">
                Physical Address
              </label>
              <input type="text" class="form-control" maxlength="40" placeholder="{{ '536' | translate }}" ng-model="initDefaults.controller.physicaladdress1">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-12">
              <input type="text" class="form-control" maxlength="40" placeholder="{{ '538' | translate }}" ng-model="initDefaults.controller.physicaladdress2">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-12">
              <input type="text" class="form-control" maxlength="40" placeholder="{{ '540' | translate }}" ng-model="initDefaults.controller.physicaladdress3">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-12">
              <input type="text" class="form-control" maxlength="40" placeholder="{{ '761' | translate }}" ng-model="initDefaults.controller.city">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="{{ '762' | translate }}" maxlength="4" ng-model="initDefaults.controller.state">
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" maxlength="10" placeholder="{{ '541' | translate }}" numberonly="" ng-model="initDefaults.controller.postalcode">
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-8">
              <label class="control-label" data-translate="7175">
                Central Address
              </label>
            </div>
            <div class="col-xs-4">
              <label class="control-label" data-translate="1221">
                Port
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <input type="text" class="form-control" maxlength="40" placeholder="{{ '1021' | translate }}" ng-model="initDefaults.controller.serveraddress">
            </div>
            <div class="col-xs-4">
              <input type="number" class="form-control" maxlength="40" placeholder="{{ '1022' | translate }}" ng-model="initDefaults.controller.serverport">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <label class="control-label" data-translate="1023">
                Timeout
              </label>
            </div>
            <div class="col-xs-3">
              <label class="control-label" data-translate="7176">
                Interval
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <input type="number" class="form-control" maxlength="40" placeholder="{{ '1023' | translate }}" ng-model="initDefaults.controller.timeout">
            </div>
            <div class="col-xs-3">
              <input type="number" class="form-control" maxlength="40" placeholder="{{ '3052' | translate }}" ng-model="initDefaults.controller.resiliencyinterval">
            </div>
          </div>
        </div>
    </div>
    <div class="panel-footer">
      <div class="row row-fluid">
        <div class="col-xs-12 text-right">
          <button type="button" ng-click="initDefaults.saveController()" ng-disabled="!initDefaults.form.$dirty||!initDefaults.form.$valid" class="btn btn-default"><span data-translate="547">Save</span></button>
        </div>
      </div>
    </div>
  </div>
</div></ng-form>
