<div class="btn-group">
    <button ng-disabled="(!transferSlip.isEdit)||transferSlip.saving||(transferSlip.slip.status!==3)" class="btn btn-default" ng-click="cancelSlip();">
        <span data-translate="1.2">Cancel</span>
    </button>
</div>