<div class="row">
  <div class="col-xs-4">
    <span class="badge badge-info">
      <span ng-if="!$ctrl.parent.active.phoneallowcontact" class="glyphicon-ban-circle glyphicon"></span>
      <span ng-if="$ctrl.parent.active.phoneallowcontact" class="glyphicon-ok glyphicon"></span>
      <span data-translate="539">Contact</span>
    </span>
  </div>
  <div class="col-xs-4 text-center">
    <span class="badge badge-info" ng-if="$ctrl.parent.active.emailtype">
      <span class="glyphicon glyphicon-user"></span> {{$ctrl.parent.active.emailtype}}
    </span>
  </div>
  <div class="col-xs-4 text-right">
    <span class="badge badge-info">
      <span ng-if="!$ctrl.parent.active.primaryflag" class="glyphicon-ban-circle glyphicon"></span>
      <span ng-if="$ctrl.parent.active.primaryflag" class="glyphicon-ok glyphicon"></span>
      <span data-translate="537">Primary</span>
    </span>

  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    {{$ctrl.parent.active.emailaddress}}
  </div>
</div>
