<div>
    <label class="control-label" ng-if="purchaseOrder.active.potype===1" data-translate="4021">Ship To Store</label>
  <label class="control-label" ng-if="purchaseOrder.active.potype!==1" data-translate="5410">Default Store</label>
    <select ng-change="saveShipToStore()" ng-disabled="!purchaseOrder.isEdit||shiptostoreno_disabled||disable" ng-model="purchaseOrder.active.shiptostoresid" class="form-control" ng-options="x.sid as x.store_code + '-' + x.store_name for x in stores">
      <option style="display:none" data-translate="1358">Select...</option>
    </select>
</div>
