<div class="row import-file-wrapper">
	<div class="col-xs-12" ng-if="showButton&&!hideButton">
		<button type="button" class="btn btn-info full" ng-click="toggleContent()">
			<span>{{buttonTitle | translate}}</span>
		</button>
	</div>
	<div class="col-xs-12 no-padding" ng-if="!showButton||hideButton">
		<div class="form-group">
			<div class="col-xs-10">
				<input type="file" class="form-control" input-file ng-model="fileEncoded.value">
			</div>
			<div class="col-xs-2">
				<button type="button" class="btn btn-info full" ng-click="submit()" ng-disabled="disableImportButton()">
					<span data-translate="3719">Import</span>
				</button>
			</div>
		</div>
	</div>
</div>