<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 text-left">
        <label>
          <strong data-translate="4509">Accounts Receivable</strong>
        </label>
      </div>
      <div class="col-xs-8">
        <select class="form-control" ng-change="field.setAR()" ng-disabled="field.ngDisabled || field.perms.checkDeny('setcustomerarflag')" ng-model="field.arFlag" ng-options="x.val as x.txt | translate for x in field.arValues">
          <option value="" data-translate="1358">Select...</option>
        </select>
      </div>
    </div>
  </div>
</div>
