<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="532">Mark 1</label>
    <input id="mark1" name="mark1" maxlength="4" type="text" class="form-control" data-permission="customerseditinfomarkfields" ng-required="field.required" ng-model="field.service.active.mark1">
  </div>
</div>
