<div>
	<div class="row form-group hidden-xs" style="margin-bottom: 0;">
		<div class="col-xs-12">
			<ul class="nav nav-tabs">
				<li ng-class="{'active':isTabActive(1)}">
					<a ng-click="selectTab(1, 'promotions.general-details')" ng-disabled="promotionService.saving" data-translate="4365">
						General Details
					</a>
				</li>
				<li ng-class="{'active':isTabActive(2)}">
					<a ng-click="selectTab(2, 'promotions.activation-details')" ng-disabled="promotionService.saving" data-translate="4366">
						Activation Details
					</a>
				</li>
				<li ng-class="{'active':isTabActive(3)}">
					<a ng-click="selectTab(3, 'promotions.validation-rules')" ng-disabled="promotionService.saving" data-translate="4367">
						Validation Rules
					</a>
				</li>
				<li ng-class="{'active':isTabActive(4)}">
					<a ng-click="selectTab(4, 'promotions.reward-rules')" ng-disabled="promotionService.saving" data-translate="4368">
						Reward Rules
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>