<div class="panel panel-default">
  <div class="panel-heading">
    <h3 data-translate="7179">New Scale</h3>
  </div>
  <div class="panel-body" style="padding: 10px 15px">
    <div class="row">
      <h4 data-translate="7180">Scale Name</h4>
    </div>
    <div class="row">
      <input type="text" class="form-control" ng-model="$ctrl.newScaleName" maxlength="12" autofocus capitalize>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-lg btn-default" type="button" data-translate="2226" ng-disabled="!$ctrl.newScaleName" ng-click="$ctrl.close($ctrl.newScaleName)">OK</button>
    <button class="btn btn-lg btn-default" type="button" data-translate="1.2" ng-click="$ctrl.dismiss()">Cancel</button>
  </div>
</div>
