<div class="row">
    <div class="col-xs-6 cm-strong" data-translate="4166">Total Transfer Quantity</div>
    <div class="col-xs-6 text-right">{{transferSlip.slip.totaltransferqty||0 | number}}</div>
</div>
