<div class="vendor-contact-information">
    <div class="col-xs-12 no-padding">
        <div class="row row-container vendor-tab-content">
            <div class="col-xs-12 padding-20">
                <div class="form-group" ng-repeat="obj in state.leadTimes">
                    <label>{{obj.title}}</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" type="text" class="form-control" id="udf_{{$index}}" ng-model="obj.model">
                </div>
            </div>
        </div>
    </div>
</div>