<div class="row form-group">
  <div class="col-xs-6 text-left">
    <div class="input-group">
      <span class="input-group-addon" ng-if="connList.sp.type!=='ril'">
        {{connList.conn.activeController.controllername}}
      </span>
      <span class="input-group-addon" ng-if="connList.sp.type==='ril'">
        {{connList.v9Address}} (RIL)
      </span>
      <input type="text" ng-keyup="connList.connectionFilter()" ng-model="connList.filterStr" class="form-control" placeholder="{{ '6350' | translate }}">
      <span class="btn input-group-addon btn-info">
        <label>
          <input type="checkbox" ng-click="connList.connectionFilter();" ng-model="connList.connectedFilter">
          <span data-translate="6806">Connected Only</span>
        </label>
      </span>
    </div>
  </div>
  <div class="col-xs-6 text-right">
    <button ng-if="connList.sp.type==='custom'" type="button" class="btn btn-default" ng-click="connList.conn.noConnection=true">
      <span ng-if="!connList.conn.active.sid" data-translate="1.8">Add</span>
      <span ng-if="connList.conn.active.sid" data-translate="774">Edit</span>
    </button>
    <button type="button" class="btn btn-default" ng-if="connList.conn.active.rc_sid&&(connList.conn.active.active&&connList.sp.type!=='prism')" ng-click="connList.toggleActive()">
      <span data-translate="2334" ng-if="connList.conn.active.sid&&!connList.conn.active.rc_active">Activate</span>
      <span data-translate="3041" ng-if="connList.conn.active.sid&&connList.conn.active.rc_active">Deactivate</span>
    </button>
    <button type="button" class="btn btn-default" ng-if="connList.conn.active.sid&&(connList.conn.active.active&&connList.sp.type!=='prism'||(connList.sp.type==='custom'&&connList.conn.active.sid))" ng-click="connList.toggleConnection()">
      <span class="glyphicon glyphicon-link" ng-if="!connList.conn.active.connected"></span>
      <span data-translate="6441" ng-if="!connList.conn.active.connected">Connect</span>
      <span class="glyphicon glyphicon-scissors" ng-if="connList.conn.active.connected"></span>
      <span data-translate="6442" ng-if="connList.conn.active.connected">Disconnect</span>
    </button>
  </div>
</div>
<div class="row form-group">
  <div class="col-xs-12">
    <div ui-grid-resize-columns="" class="rep-grid" ui-grid="connList.gridOptions" ui-grid-selection="" external-scopes="gridHandlers"></div>
  </div>
</div>

