<fieldset ng-disabled="udf.service.mode==='view'">
  <div class="col-xs-12 no-padding">
    <div class="row form-group" ng-repeat="w in udf.udfs.udfList">
      <div class="col-xs-12" ng-repeat="x in w">
        <div class="col-xs-6">
          <label class="control-label">{{x.name}}</label>
        </div>
        <div class="col-xs-6" ng-if="x.type==='string'">
          <div class="input-group">
            <input class="form-control" data-permission="customerallowmanualentryofudfvalues" ng-if="!x.isExtended" child-validator ng-model="udf.service.active[x.udf]">
            <input class="form-control" data-permission="customerallowmanualentryofudfvalues" ng-if="x.isExtended" child-validator ng-model="udf.service.active.custextend[0][x.udf]">
            <div class="input-group-btn dropdown" uib-dropdown>
              <button event-name="customerDetailUdf2" data-permission="customersselectudfvalues" type="button" class="btn btn-default dropdown-toggle" ng-click="udf.udfs.getUdfOptions(x,true)" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" style="max-height:100px;overflow:auto;">
                <div class="col-xs-12 text-center" ng-if="loadingUdfOptions"><img src="images/ajax-loader.gif"></div>
                <li ng-repeat="option in udf.udfs.udfOptions"><a href="javascript: void(0)" ng-click="udf.udfs.setUdfOption(x,option.udfoption);$event.preventDefault()" id="{{option.udfsid}}">{{option.udfoption}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-6" ng-if="x.udf==='udf1date'">
          <div class="form-group">
            <p class="input-group" ng-click="openCalendar($event, 'udf1date')">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="MMM dd, yyyy hh:mm:ss a" ng-model="udf1date.date" value="{{(udf1date.date)?(udf1date.date | date:'MMM dd, yyyy hh:mm:ss a'):(udf1date.placeholder)}}" is-open="udf1date.open" enable-time="true" datepicker-options="udf1date.datepickerOptions" timepicker-options="udf1date.timepickerOptions" when-closed="udf1date.closed()" placeholder="{{udf1date.placeholder}}">
            </p>
          </div>
        </div>
        <div class="col-xs-6" ng-if="x.udf==='udf2date'">
          <div class="form-group">
            <p class="input-group" ng-click="openCalendar($event, 'udf2date')">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="MMM dd, yyyy hh:mm:ss a" ng-model="udf2date.date" value="{{(udf2date.date)?(udf2date.date | date:'MMM dd, yyyy hh:mm:ss a'):(udf2date.placeholder)}}" is-open="udf2date.open" enable-time="true" datepicker-options="udf2date.datepickerOptions" timepicker-options="udf2date.timepickerOptions" when-closed="udf2date.closed()" placeholder="{{udf2date.placeholder}}">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
