<div>
	<div class="container-fluid">
		<div class="row padding-5">
			<div class="col-xs-12">
				<div class="row row-container mobile-screen-title">
					<div class="col-xs-2">
						<span data-translate="4257">Promotions</span>
					</div>
					<div class="col-xs-10">
						<promo-broadcast-button promotions="promotionsGrid.data"></promo-broadcast-button>
					</div>
				</div>
				<div>
					<responsive-grid grid="promotionsGrid" extra-class="full-page-grid grid-with-paging"></responsive-grid>
				</div>
			</div>
		</div>
		<div>
			<mobile-nav category-menu="promotionActionButtons"></mobile-nav>
		</div>
	</div>
	<div class="row hidden-xs">
		<action-button-bar ng-if="promotionActionButtons" action-bar="promotionActionButtons"></action-button-bar>
	</div>
</div>
