<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
    <div ng-if="button.show()" ng-repeat="button in promotionActionButtons" class="btn-group">
        <button ng-if="!button.template&&button.action&&button.show()" type="button" ng-disabled="button.disabled()" class="btn btn-default btn-lg" ng-click="button.action()">{{button.name}}</button>
        <button ng-if="!button.template&&!button.action" ng-disabled="true" type="button" class="btn btn-default btn-lg">{{button.name}}</button>
        <span ng-if="button.template" ng-include="button.template"></span>
    </div>
</div>
