﻿@using Newtonsoft.Json
@{
    ViewData["Title"] = "Home Page";
    var data = new List<dynamic>();
    if (ViewBag.data != "")
        data = JsonConvert.DeserializeObject<List<dynamic>>(ViewBag.data);

    List<string> clumn = new List<string>(){"upc","color","size","qty","storeCode","regionName"};
    var note = "";
    var cnote = "red";
    var giagiam = "";
    var store = ViewBag.stores;
    var store1 = "";
    var store2 = "";
    var store3 = "";
    if (store == "REGION")
        store2 = "checked";
    else if (store == "1")
        store3 = "checked";
    else
        store1="checked";
    /*if(data.Count() > 0)
    {  
        note = "Hàng KHÔNG tham gia CTKM";
        if(data[0].note!="0")
        {
            note = "Hàng ĐƯỢC tham gia CTKM";
            cnote = "green";
            //giagiam = " =>  Giá giảm: " + string.Format("{0:0,0}",data[0].price * 0.8);
            giagiam = "";
        }
    }*/
}
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}
function scan() {
    $.get('/api/Values/readbarcode?imgstr=' + $('#blah').attr('src'), function(data, status) {
        console.log(data);
    })
}
$(document).ready(function() {
    $("#imgInp").change(function(){
    readURL(this);
});
})

</script>
<div style="display:none">
<input type="file" accept="image/*" capture="camera" id="imgInp" >
<img id="blah" src="#" alt="your image" />
<div id="qr-reader" style="width: 600px;display:none"></div>
</div>
<style>
    .red{
        color:red
        ; font-weight:bolder
    }
    .green{
        color:forestgreen;font-weight: bolder;
    }
    .spn-tt{
            padding-right: 44px;
            font-weight:bolder
    }

    .filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

</style>

 <br /><br />

   <form method="post" style="text-align:center">
       MTK: <input type="text" name="upc" value="@ViewBag.search" />
       <input type="submit" value="search" />
       <div style="text-align: left;margin: auto;width: 200px;">
           <p><label><input type="radio" name="stores" @store1 value="STORE" /> Cửa hàng</label></p>
           <p><label><input type="radio" name="stores" @store2 value="REGION" /> Khu vực</label></p>
           <p><label><input type="radio" name="stores" @store3 value="1" /> Tất cả cửa hàng</label></p>
       </div>
   </form>
   <div style="text-align:left">
        @if (data.Count() > 0)
        {
            <table>
                <tr>
                    <td class="spn-tt">Cửa hàng:</td>
                    <td>@data[0].storeCode</td>
                </tr>
                 <tr>
                    <td class="spn-tt">Mã:</td>
                    <td>@data[0].description1</td>
                </tr>
                 <tr>
                    <td class="spn-tt">Diễn giải:</td>
                    <td>@data[0].description2</td>
                </tr>
                 <tr>
                    <td class="spn-tt">Số lượng màu:</td>
                    <td>@data[0].color_Count</td>
                </tr>
                 <tr>
                    <td class="spn-tt">Dãy size:</td>
                    <td>@data[0].sizeRange</td>
                </tr>
                 <tr>
                    <td class="spn-tt">Giá:</td>
                    <td>@string.Format("{0:0,0}",data[0].price) @giagiam</td>
                </tr>
                <!-- <tr>
                    <td class="spn-tt">Note:</td>
                    <td class="@cnote">@note</td>
                </tr>-->
            </table>
           
        }
        <br />
        <input id="myInput" type="hidden" placeholder="">
   </div>
  
   <div class="container">
    
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
            <h3 class="panel-title">Kiểm tra tồn kho</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter">Tìm kiếm</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                         @foreach (var item in clumn)
                    {
                         <th><input type="text" class="form-control" placeholder="@item" disabled></th>
                    }
                   
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in data)
                        {
                            <tr>
                                @foreach (var i in clumn)
                                {
                                    <td>@item[i]</td>
                                }
                            </tr>
                        }
                </tbody>
            </table>
        </div>
         <p>@ViewBag.nodata</p>
    </div>

       
    
<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
<script>
    function onScanSuccess(decodedText, decodedResult) {
    alert(decodedText);
    }
    var html5QrcodeScanner = new Html5QrcodeScanner(
	    "qr-reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess);
</script>
<script>
    
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
$(document).ready(function(){
    $('.filterable .btn-filter').click(function(){
        var $panel = $(this).parents('.filterable'),
        $filters = $panel.find('.filters input'),
        $tbody = $panel.find('.table tbody');
        if ($filters.prop('disabled') == true) {
            $filters.prop('disabled', false);
            $filters.first().focus();
        } else {
            $filters.val('').prop('disabled', true);
            $tbody.find('.no-result').remove();
            $tbody.find('tr').show();
        }
    });

    $('.filterable .filters input').keyup(function(e){
        /* Ignore tab key */
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this),
        inputContent = $input.val().toLowerCase(),
        $panel = $input.parents('.filterable'),
        column = $panel.find('.filters th').index($input.parents('th')),
        $table = $panel.find('.table'),
        $rows = $table.find('tbody tr');
        /* Dirtiest filter function ever ;) */
        var $filteredRows = $rows.filter(function(){
            var value = $(this).find('td').eq(column).text().toLowerCase();
            return value.indexOf(inputContent) === -1;
        });
        /* Clean previous no-result if exist */
        $table.find('tbody .no-result').remove();
        /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
        $rows.show();
        $filteredRows.hide();
        /* Prepend no-result row if all rows are filtered */
        if ($filteredRows.length === $rows.length) {
            $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
        }
    });
});
</script>