﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/css/Logincss.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <div class="login-header">
            <h1>Login</h1>
        </div>
        <div class="login-form">
            <form method="post">
                <h3>Username:</h3>
                <input type="text" placeholder="Username" name="username" value="" /><br>
                <h3>Password:</h3>
                <input type="password" placeholder="Password" name="password" value="" />
                <br>
                <input type="submit" value="Login" class="login-button btn-danger" />
                <br>
                <a class="sign-up">Sign Up!</a>
                <br>
                <h6 class="no-access">Can't access your account?</h6>
            </form>
        </div>
    </div>
    <div class="error-page">
        <div class="try-again">Error: Try again?</div>
    </div>
</body>
</html>
