<button type="button" ng-disabled="$ctrl.button.disable()" class="btn btn-warning" ng-click="$ctrl.button.action()" event-name="TransferVerificationResolvePair">
  <span data-translate="6384">Resolve Pair</span>
</button>
