<div class="modalouter">
  <div class="modal-header">
    <div class="row-fluid">
      <div class="span12">
        <h4><span data-translate="6665">Shipping Packages ASN #</span>{{$ctrl.voucher.asnno}}</h4>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <ship-pkg-add vousid="$ctrl.voucher.sid" record-count="$ctrl.count" refresh-packages="$ctrl.getPackages($ctrl.page)"></ship-pkg-add>
    <div class="row form-group">
      <div class="col-xs-12">
        <div ui-grid="$ctrl.gridOptions"></div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 text-center">
        <paging-control ng-if="$ctrl.packages.length" call-back="$ctrl.getPackages" reset-flag="$ctrl.updatePaging" results-per-page="10" total-records="$ctrl.count"></paging-control>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-right">
        <button class="btn btn-info" ng-click="$ctrl.close()">
          <span data-translate="583">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
