<div>
  <form name="inputForm">
    <select ui-grid-edit-dropdown="" ng-class="'colt' + $index" class="form-control" ng-model="MODEL_COL_FIELD" ng-options="x.sid as x.currency_name for x in currencies">
      <option value="" style="display:none" data-translate="1358">Select...</option>
    </select>
  </form>
</div>
