<div>
	<div class="container-fluid">
		<div class="row padding-5">
			<div class="col-xs-12">
        <div class="panel panel-default" style="margin: -5px 0px 0px 0px;">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-2">
                <h4 data-translate="5271">Transfer Order</h4>
                <span ng-if="state.contentReady.transferOrder&&!state.transferOrder.active&&state.transferOrder.sid">({{'2916' | translate}})</span>
              </div>

              <div class="col-xs-2">
                <top-filter-change-button asklayout="asklayout" disable="doDisableTFButton" on-close="updateTopFilter">
                </top-filter-change-button>
              </div>

              <div class="col-xs-8">
                <to-dates disable="eventHandlers.disableEdits" transfer-order="state.transferOrder"></to-dates>
              </div>
            </div>
          </div>
        </div>
				<div class="row row-container no-padding transparent" ng-if="state">
					<to-order-information on-store-change-event="eventHandlers.onStoreChange" item-management-status="eventHandlers.itemManagementInProcess" disable="eventHandlers.disableEdits" transfer-order="state.transferOrder"></to-order-information>
					<div class="col-xs-12 empty-space-5"></div>
          <to-search-bar disable="eventHandlers.disableEdits" transfer-order="state.transferOrder" transfer-order-items="state.transferOrderItems" on-item-details-closed="eventHandlers.onItemDetailsClosed" on-item-removal-event="eventHandlers.onItemRemoval" on-new-item-event="eventHandlers.onNewItem" on-row-update-event="eventHandlers.onItemUpdate"></to-search-bar>
					<div class="col-xs-12 no-padding no-margin" ng-if="state.contentReady.transferOrderItems">
						<div class="row row-container no-padding">
							<to-items-grid on-cell-edit="eventHandlers.isDocQtyTakingPlace" edit-enabled="eventHandlers.enableEditForTransferOrderItemsGrid" view-status="state.mode" on-new-item-event="eventHandlers.notifyItemGridOfNewItem" on-row-update-event="eventHandlers.onItemUpdate" on-sort-change-event="eventHandlers.onGridSortChange" transfer-order="state.transferOrder" transfer-order-items="state.transferOrderItems"></to-items-grid>
              <to-allocation-grid ng-if="state.storeList.length>0" on-cell-edit="eventHandlers.isAllocationTakingPlace" edit-enabled="eventHandlers.enableEditForAllocationGrid" view-status="state.mode" on-new-item-event="eventHandlers.notifyAllocationGridOfNewItem" on-row-update-event="eventHandlers.onChildResourceUpdate" on-page-change-handler="eventHandlers.onGridPageChange" on-store-allocation-process-event="eventHandlers.onStoreAllocationProcessEvent" refresh-grid-columns="eventHandlers.refreshAllocationGridColumns" stores="state.storeList" transfer-order="state.transferOrder" transfer-order-items="state.transferOrderItems"></to-allocation-grid>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<!--<mobile-nav category-menu=""></mobile-nav>-->
		</div>
	</div>
	<div class="row hidden-xs">
		<button-bar view-path="components/store-ops/transfer-order/transfer-order-button-bar.htm"></button-bar>
	</div>
	<prism-ajax-loader ng-if="state.prismAjaxLoader.handler" loader-title="state.prismAjaxLoader.title" loader-message="state.prismAjaxLoader.message"></prism-ajax-loader>
</div>
