<div class="btn-group btn-group-lg btn-group-justified footer-btn-group" id="rpButtons">
	<div class="btn-group" ng-if="buttonBar.mode !== 'edit' || buttonBar.doctype==='blank'">
		<button event-name="createNewTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.new.action()" ng-disabled="buttonBar.new.disable()">
			<span data-translate="581">New</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit' && buttonBar.doctype!=='blank'">
		<button event-name="cancelTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.cancel.action(state.transferOrder)" ng-disabled="buttonBar.cancel.disable(buttonBar.mode)">
			<span data-translate="1.2">Cancel</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode !== 'edit'">
		<button event-name="editSelectedTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.edit.action(state.transferOrder)" ng-disabled="buttonBar.edit.disable()||!state.transferOrder.active||(state.transferOrder.held)||state.api.isAssignLimited">
			<span data-translate="774">Edit</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit'">
		<button event-name="saveSelectedTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.save.action(state.transferOrder)" ng-disabled="buttonBar.save.disable(eventHandlers.disableSaveButton())">
			<span data-translate="547">Save</span>
		</button>
	</div>
	<div class="btn-group">
		<button event-name="copySelectedTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.copy.action(state.transferOrder)" ng-disabled="buttonBar.copy.disable()||!state.isTransferOrderSelected()||(buttonBar.mode === 'edit')||(state.transferOrder.held)||state.api.isAssignLimited">
			<span data-translate="582">Copy</span>
		</button>
	</div>
	<div class="btn-group" ng-if="!state.transferOrder||(state.transferOrder&&!state.transferOrder.held)">
		<button event-name="holdSelectedTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.hold.action(state.transferOrder,afterTransferOrderHeldStatusChanged)" ng-disabled="buttonBar.hold.disable()||!state.isTransferOrderSelected()||(buttonBar.mode === 'readonly')">
			<span data-translate="775">Hold</span>
		</button>
	</div>
	<div class="btn-group" ng-if="state.transferOrder&&state.transferOrder.held">
		<button event-name="unholdSelectedTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.unhold.action(state.transferOrder,afterTransferOrderHeldStatusChanged)" ng-disabled="buttonBar.unhold.disable()||(buttonBar.mode === 'edit')">
			<span data-translate="4028">Unhold</span>
		</button>
	</div>
	<!-- DT19310 - JS - state.transferOrder.active===1 always evaluates to false -->
	<!-- <div class="btn-group" ng-if="!state.transferOrder||(state.transferOrder&&state.transferOrder.active===1)"> -->
	<div class="btn-group" ng-if="!state.transferOrder||(state.transferOrder&&state.transferOrder.active)">
		<button event-name="deactivateSelectedTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.deactivate.action(state.transferOrder)" ng-disabled="buttonBar.deactivate.disable()||!state.isTransferOrderSelected()||(buttonBar.mode === 'edit')||(state.transferOrder.held)||state.api.isAssignLimited">
			<span data-translate="3041">Deactivate</span>
		</button>
	</div>
	<!-- DT19310 - JS - state.transferOrder.active===0 always evaluates to false -->
	<!-- <div class="btn-group" ng-if="state.transferOrder&&state.transferOrder.active===0"> -->
	<div class="btn-group" ng-if="state.transferOrder&&!state.transferOrder.active">
		<button event-name="activateSelectedTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.activate.action(state.transferOrder)" ng-disabled="buttonBar.activate.disable()||(buttonBar.mode === 'edit')">
			<span data-translate="2334">Activate</span>
		</button>
	</div>
  <div class="btn-group">
    <button event-name="printSelectedTransferOrder" type="button" class="btn btn-default" ng-click="buttonBar.print.action(state.transferOrder)" ng-disabled="!state.isTransferOrderSelected()">
      <span data-translate="522">Print</span>
    </button>
  </div>
	<!--<div class="btn-group" ng-if="buttonBar.mode !== 'edit' && buttonBar.mode !== 'readonly'">
		<button event-name="showSelectedTransferOrderDetails" type="button" class="btn btn-default" ng-click="buttonBar.selectedDetail.action(state.transferOrder)" ng-disabled="(buttonBar.selectedDetail.disable()||!state.isTransferOrderSelected())">
			<span data-translate="5248">TO Detail</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit' || buttonBar.mode === 'readonly'">
		<button event-name="showTransferOrderList" type="button" class="btn btn-default" ng-click="buttonBar.resourceList.action()" ng-disabled="buttonBar.resourceList.disable()||(buttonBar.mode === 'edit')">
			<span data-translate="5257">TO List</span>
		</button>
	</div>-->
	<div class="btn-group">
		<button event-name="optionsTransferOrderAction" type="button" class="btn btn-default" ng-click="buttonBar.options.action(state.transferOrder, state.transferOrderItems.onDocument, state.prismAjaxLoader)" ng-disabled="buttonBar.options.disable()||!state.isTransferOrderSelected()||(buttonBar.mode === 'edit')">
			<span data-translate="10">Options</span>
		</button>
	</div>
</div>
