<div class="row">
    <label class="control-label" data-translate="4125">TO #</label><br>
  <div class="col-xs-9">
    <input type="text" ng-disabled="(!transferSlip.isEdit)||(transferSlip.slip.status!==3)" ng-blur="searchTO('blur', $event)" enter-blur ng-model="transferSlip.slip.tono" ng-class="{'required':requireReferenceToTo&&!validatedReferenceToTo}" class="form-control">
  </div>
  <div class="col-xs-2">
    <slip-to-lookup-button></slip-to-lookup-button>
  </div>
</div>

