<div class="panel panel-default">
  <div class="panel-heading">
    <h4 data-translate="1756">Reasons</h4>
  </div>
  <div class="panel-body po-details-panel">
    <div class="row form-group">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-2">
            <label data-translate="1526">Reason Code</label>
          </div>
          <div class="col-xs-10">
            <select class="form-control" ng-readonly="purchaseOrder.isReadOnly" type="text" ng-disabled="!purchaseOrder.isEdit||poReasonList.length===0" ng-model="selectedReason" blur-on-change ng-blur="saveReason()" ng-options="r as r.name for r in poReasonList">
              <option value="" style="display:none" data-translate="1358">Select...</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

