<button type="button" ng-if="!button.showToggle()" ng-disabled="button.disable()" class="btn btn-warning" ng-click="button.action()" event-name="VendorInvoiceAssignVoucher">
    <span data-translate="4809">Assign</span>
</button>
<button type="button" ng-if="button.showToggle()" ng-disabled="button.disable()" class="btn btn-danger" ng-click="button.action(true)" event-name="VendorInvoiceAssignVoucher">
    <span data-translate="4814">Unassign</span>
</button>