<div class="col-xs-12">
  <div class="row">
    <div class="input-group">

    </div>
  </div>
  <div class="row menu-list" ng-if="show">
    <div class="col-xs-12">
      <ul class="menu-list">
        <li class="menu-list-item" ng-click="setSearch(x.udf_option)" ng-repeat="x in udfService.customerUdfs[searchType.toLowerCase()].options"><hr><span>{{x.udf_option}}</span></li>
      </ul>
    </div>
  </div>
</div>
