<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 text-left">
        <strong data-translate="1083">Enroll Date:</strong>
      </div>
      <div class="col-xs-8">
        <span ng-if="field.customerPayment.loyaltyFields.optin">{{ field.customerPayment.loyaltyFields.enrolldate | date:'yyyy-MM-dd' }}</span>
        <span ng-if="!field.customerPayment.loyaltyFields.optin"> --- </span>
      </div>
    </div>
  </div>
</div>
