<div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" ng-if="ready">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4">
              <h4 data-translate="4731">Batch Receiving</h4>
            </div>
            <div class="col-xs-6">
              <top-filter-change-button asklayout="asklayout" disable="doDisableTFButton" on-close="updateTopFilter">
              </top-filter-change-button>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="row" style="margin-bottom:100px;">
            <div class="col-xs-4" ng-if="br.showFilters&&!br.scanMode">
              <batch-receiving-filters toggle="br.showFilters"></batch-receiving-filters>
            </div>
            <div ng-class="{'col-xs-12':!br.showFilters&&!br.scanMode,'col-xs-8':br.showFilters&&!br.scanMode}">
              <div class="row">
                <div class="col-xs-12">
                  <batch-receiving-filter-results toggle="br.showFilters" ng-if="!br.scanMode"></batch-receiving-filter-results>
                  <scan-asn-packages ng-if="br.scanMode"></scan-asn-packages>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <batch-receiving-marked></batch-receiving-marked>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <action-button-bar ng-if="poButtons" action-bar="poButtons"></action-button-bar>
    </div>
  </div>
</div>
