<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
    <div ng-if="actionButtons.length > 0" ng-repeat="button in actionButtons" class="btn-group">
        <span ng-if="button.template" ng-include="button.template"></span>
    </div>
</div>
