<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-12">
                <h3 data-translate="4919" class="ng-scope">Loyalty Customer Enroll</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <span data-translate="4920">Would you like to enroll customer into Loyalty program?</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <button type="button" id="customerEnrollLoyaltyOkButton" event-name="customerEnrollLoyaltyOk" class="btn btn-lg btn-default" ng-click="enroll.confirm()">
                  <span data-translate="4878">Enroll</span>
                </button>
                <button type="button" id="customerEnrollLoyaltyCancelButton" event-name="customerEnrollLoyaltyCancel" name="customerEnrollLoyaltyCancelButton" class="btn btn-lg btn-default" ng-click="enroll.cancel()">
                  <span data-translate="1.2">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
