<div class="row">
  <div class="col-xs-4">
    <span class="badge badge-info" ng-if="emailList.parent.active.emailtype">
      {{emailList.parent.active.emailtype}}
    </span>
  </div>
  <div class="col-xs-4 text-right">
    <label class="badge badge-info">
      <span ng-if="!emailList.parent.active.emailallowcontact" class="glyphicon-ban-circle glyphicon"></span>
      <span ng-if="emailList.parent.active.emailallowcontact" class="glyphicon-ok glyphicon"></span>
      <span data-translate="539">Contact</span>
    </label>
  </div>
  <div class="col-xs-4 text-right">
    <span class="badge badge-info">
      <span ng-if="!emailList.parent.active.primaryflag" class="glyphicon-ban-circle glyphicon"></span>
      <span ng-if="emailList.parent.active.primaryflag" class="glyphicon-ok glyphicon"></span>
      <span data-translate="537">Primary</span>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    {{emailList.parent.active.emailaddress}}
  </div>
</div>
