<div>
  <fieldset ng-disabled="true">
    <div ng-include="'views/default/ac-permissions-partial.htm'"></div>
  </fieldset>
  <div class="panel-footer">
    <div class="row row-fluid">
      <div class="col-xs-12 text-right">
        <button type="button" ng-click="$parent.$close()" class="btn btn-default"><span data-translate="583">Close</span></button>
      </div>
    </div>
  </div>
</div>
