<div class="col-xs-12">
    <label for="slipPostDate" class="control-label" data-translate="2890">Post Date</label>
    <input type="button" id="slipPostDate" class="form-control" value="{{(transferSlip.slip.postdate)?(transferSlip.slip.postdate | date:'mediumDate'):'Never'}}">
</div>
