<ng-form name="disp_note" class="col-xs-12">
  <label class="control-label" data-translate="884">Note</label>
  <input type="text" ng-disabled="disbursements.active.finalized&&!disbursements.isEdit" ng-required="noteRequired" name="notes" ng-model="disbursements.active.notes" ng-blur="saveField();" ng-class="{ errorinput: disp_note.notes.$invalid }" class="form-control {{fieldClass}}">
</ng-form>

