<div class="modalouter">
  <div class="modal-header">
    <div class="row-fluid">
      <div class="span12">
        <h4>{{ resourceFilterSettings.title }}</h4>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <div class="row" ng-show="!editMode">
          <div class="col-xs-5">
            <select multiple="multiple" class="form-control resource-filter-list" ng-options="filter as filter.name | translate for filter in resourceFiltersAvailable" ng-model="selectedField"></select>
          </div>
          <div class="col-xs-2">
            <ul class="list-group align-vertical resource-filter-buttons">
              <li class="list-group-item">
                <button ng-disabled="disableActionButtons(0)" class="btn btn-info full-width" type="button" ng-click="enableEdit();">
                  <span data-translate="1.8">Add</span>
                </button>
              </li>
              <li class="list-group-item">
                <button ng-disabled="disableActionButtons(1)" class="btn btn-info full-width" type="button" ng-click="enableEdit(selectedFilter.filter);">
                  <span data-translate="774">Edit</span>
                </button>
              </li>
              <li class="list-group-item">
                <button ng-disabled="disableActionButtons(1)" class="btn btn-info full-width" type="button" ng-click="removeFilter(selectedFilter);">
                  <span data-translate="1523">Remove</span>
                </button>
              </li>
              <li class="list-group-item">
                <button ng-disabled="disableActionButtons(2)" class="btn btn-info full-width" type="button" ng-click="removeFilter(true);">
                  <span data-translate="4397">Remove All</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="col-xs-5">
            <ul class="list-group item-filter-list">
              <li class="list-group-item no-padding" ng-if="resourceFilterList" ng-repeat="filter in resourceFilterList" id="filter_{{ $index }}" ng-click="setFilterAsSelected($event, $index)">
                <div class="join-operator" ng-class="{'and-operator':(filter.join_operator === 0), 'or-operator':(filter.join_operator === 1)}" ng-if="[1].indexOf(filter.join_operator) !== -1&&!$first">
                  {{ getJoinOperator(filter.join_operator) | translate }}
                </div>
                <div class="filter-rule">
                  {{ filtersPrettyName[filter.field] | translate }}
                  {{ getOperator(filter.operator) | translate }}
                  {{ filter.operand }}
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" ng-show="editMode">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="row">
              <div class="col-xs-9">
                <div class="checkbox">
                  <h4>
                    {{ filtersPrettyName[editModeFilter.field] | translate }}
                  </h4>
                </div>
                <hr>
              </div>
              <div class="col-xs-3">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="editModeFilter.or">
                    <span data-translate="4380">OR</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" ng-disabled="disableOperator(2)" ng-model="editModeFilter.operator" ng-value="2">
                    <span data-translate="4398">Contains</span>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="editModeFilter.operator" ng-value="0">
                    <span data-translate="4399">Equals</span>
                  </label>
                </div>
                <!-- <div class="radio">
                    <label>
                        <input type="radio" ng-disabled="true" ng-model="editModeFilter.operator" ng-value="3">
                        <span data-translate="4400">Does not Contain</span>
                    </label>
                </div> -->
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="editModeFilter.operator" ng-value="1">
                    <span data-translate="4401">Does not Equal</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="editModeFilter.value">
                </div>
                <div class="form-group">
                  <import-file action="editModeFilter.filterImport.action" hide-button="true"></import-file>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span12 rightalign" ng-show="!editMode">
        <button class="btn btn-info" ng-disabled="editMode" type="button" ng-click="close()">
          <span data-translate="583">Close</span>
        </button>
      </div>
      <div class="span12 rightalign" ng-show="editMode">
        <button ng-disabled="editModeFilter.ready()" class="btn btn-info btn-large" type="button" ng-click="editModeFilter.save()">
          <span data-translate="547">Save</span>
        </button>
        <button class="btn btn-large" type="button" ng-click="editModeFilter.cancel()">
          <span data-translate="1.2">Cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>
