<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <label class="col-xs-4 text-left">
        <strong data-translate="714">Discount %</strong>
      </label>
      <div class="col-xs-8">
        <input id="suggested_discount_percent" ng-disabled="field.ngDisabled" name="suggested_discount_percent" class="form-control" type="text" numberonly="" min="0" max="100" ng-blur="field.validateDiscount()" ng-model="field.service.active.suggesteddiscperc">
      </div>
    </div>
  </div>
</div>
