<div class="row row-container" style="padding:0;">
  <ul style="list-style: none;padding:0;margin:0;">
    <li ng-repeat="sub in sbsStore.subs" style="padding:10px;" ng-class="{'white-bg':!($index%2)}">
      <div class="row">
        <div class="col-xs-6 text-left">
          <label class="control-label">
            <input type="checkbox" ng-checked="sbsStore.selectedSubs[sub.sid].subChecked" ng-click="sbsStore.setSub(sub.sid,$event)"> {{sub.subsidiary_name}}
          </label>
        </div>
        <div class="col-xs-6 text-right" ng-if="!sbsStore.selectedSubs[sub.sid].subChecked&&sbsStore.sp.mode!=='view'">
          <a href="javascript:void(0)" ng-click="sbsStore.setAllStoresForSub(sub.sid);">
            <span ng-if="!sbsStore.allStoresSelected(sub.sid)" data-translate="5560">All Stores</span>
            <span ng-if="sbsStore.allStoresSelected(sub.sid)" data-translate="6899">Clear Stores</span>
          </a>
        </div>
      </div>
      <ul style="list-style: none;">
        <li ng-repeat="store in sub.stores">
          <label class="control-label">
            <input ng-if="!sbsStore.selectedSubs[sub.sid].subChecked" ng-change="sbsStore.storeChange(store.subsidiary_sid)" type="checkbox" ng-model="sbsStore.selectedSubs[sub.sid]['stores'][store.sid]" ng-true-value="{sid:'{{store.sid}}',subsidiary_sid:'{{store.subsidiary_sid}}'}" ng-false-value="false">
            <input ng-if="sbsStore.selectedSubs[sub.sid].subChecked" type="checkbox" ng-disabled="true" ng-checked="true"> {{store.store_name}}
          </label>
        </li>
      </ul>
    </li>
  </ul>
</div>
