<!-- <form class="modal-default" name=""> -->
<div class="modalouter">
    <div class="modal-header">
        <span data-translate="3289">Advanced Item Lookup</span>
    </div>
    <div class="modal-body" id="adv_lookup_ctrls">
        <div class="row">
            <div class="col-xs-4">
                <search-filter params="search" ng-if="search"></search-filter>
            </div>
            <div class="col-xs-8">
                <div class="height60" ui-i18n="{{lang}}">
                    <div id="grid1" ui-grid-cellnav="undefined" ui-grid-resize-columns="undefined" auto-resize="undefined" ui-grid-edit="undefined" ui-grid-selection="undefined" ng-if="editableGrid&&gridOptions.data&&showGrid" ui-grid="gridOptions" external-scopes="gridHandlers" class="grid"></div>
                    <div id="grid1" ui-grid-resize-columns="undefined" ui-grid-selection="undefined" ng-if="!editableGrid&&gridOptions.data&&showGrid" ui-grid="gridOptions" external-scopes="gridHandlers" class="grid"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-2 text-left">
                <div ng-if="gridOptions.data"><span data-translate="2893">Total Records: </span> {{totalRecords}}</div>
                <div ng-if="gridOptions.data.length===0"><span data-translate="2894">No records found.</span></div>
                <div ng-if="itemsFromMultipleSearch.length>0"><span data-translate="3890">Total Items Selected:</span> {{itemsFromMultipleSearch.length}}</div>
            </div>
            <div class="col-xs-6 text-center">
                <paging-control ng-if="showPaging()" grid-reference="gridApi" total-records="totalRecords" results-per-page="pageSize" call-back="getData"></paging-control>
            </div>
            <div class="col-xs-4 text-right">
                <button class="btn btn-info" data-permission="viewitemdetails" permission-disabled="activeItems.length!==1" ng-click="itemDetails()">Item Details</button>
                <button event-name="posItemSelectionSelectItem" type="button" tabindex="6" id="posItemSelectionSelectItemButton" name="posItemSelectionSelectItemButton" class="btn btn-info" ng-disabled="activeItemCount===0" ng-click="addSelectItems()"><span data-translate="3923">Add Selected</span></button>
                <button class="btn btn-info" type="button" ng-click="selectItems()" data-translate="1.4">Done</button>
            </div>
        </div>
    </div>
</div>
<!-- </form> -->
