<form name="emailDialogueForm" id="emailDialogueForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="4572">Email Dialog</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div ng-if="!purchaseOrder.active" ng-class="{'row': true, 'has-success': emailDialogueForm.emailAddress.$valid && printSpec.email !== '', 'has-error': !emailDialogueForm.emailAddress.$valid}">
        <div for="emailAddress" class="col-xs-3 text-right">
          <p class="form-control-static">
            <strong data-translate="529">Email Address:</strong>
          </p>
        </div>
        <div class="col-xs-9">
          <input id="emailAddress" name="emailAddress" type="email" class="form-control" ng-model="printSpec.email">
        </div>
      </div>
      <div ng-if="purchaseOrder.active" ng-class="{'row': true,'top-margin':true, 'has-success': emailDialogueForm.vendorEmailAddress.$valid && printSpec.email !== '', 'has-error': !emailDialogueForm.vendorEmailAddress.$valid}">
        <div for="vendorEmailAddress" class="col-xs-4 text-right">
          <p class="form-control-static">
            <strong data-translate="4701">Vendor Email Addresses</strong>
          </p>
        </div>
        <div class="col-xs-8">
          <div class="input-group">
            <input type="email" class="form-control" ng-model="printSpec.email" data-permission="PoEnterFreeFormEmailAddress">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="vendorEmails.length===0">Select Email <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" ng-click="selectEmail(email.emailaddress)" ng-repeat="email in vendorEmails">{{email.emailaddress}}</a></li>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->
          <!--<select class="form-control" name="vendorEmailAddress" ng-model="printSpec.email" ng-options="x.emailaddress for x  in vendorEmails" ng-disabled="vendorEmails.length===0">-->
            <!--<option style="display:none">Select...</option>-->
          <!--</select>-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <button event-name="posEmailDialogEmail" type="button" name="emailButton" id="emailButton" class="btn btn-lg btn-default" ng-click="email()" ng-disabled="!printSpec.email || (emailDialogueForm.emailAddress&&!emailDialogueForm.emailAddress.$valid)||(emailDialogueForm.vendorEmailAddress&&!emailDialogueForm.vendorEmailAddress.$valid)"><span data-translate="2795">Send</span></button>
          <button event-name="posEmailDialogCancel" type="button" id="cancelPrintButton" class="btn btn-lg btn-default" ng-click="closeForm(false)"><span data-translate="1.2">Cancel</span></button>
        </div>
      </div>
    </div>
  </div>
</form>
