<ng-form>
  <div class="row top-margin form-group">
    <div class="col-xs-12">
      <label class="control-label">
        <input ng-model="pData.hide_default_print_designs.value" type="checkbox">
        <span data-translate="5482">Hide Default Print Designs</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" ng-if="prefSvc.selectedArea.Sid===9999999">
      <h5 data-translate="4780">Custom area print preferences must be defined for each area individually</h5>
    </div>
    <div class="col-xs-12" ng-if="prefSvc.selectedArea.Sid!==9999999">
      <label class="control-label" data-translate="1581">Default Action</label>
      <select class="form-control" ng-model="prefSvc.selectedArea.DefaultAction" ng-disabled="!prefSvc.selectedArea.areaSid || prefSvc.selectedArea.OverRidden">
        <option value="-1">Select...</option>
        <option value="0" data-translate="4448">Dialog</option>
        <option value="1" ng-if="prefSvc.selectedArea.Sid!=='10'" data-translate="522">Print</option>
        <option value="2" ng-if="prefSvc.selectedArea.Sid!=='10'&& prefSvc.selectedArea.Name !== 'Gift Receipt'" data-translate="4449">Print/Email</option>
        <option value="4" ng-if="prefSvc.selectedArea.Sid!=='10'&& prefSvc.selectedArea.Name !== 'Gift Receipt'" data-translate="524">Email</option>
      </select>
    </div>
  </div>
  <div ng-if="prefSvc.selectedArea.Sid!==9999999">

    <!-- DIALOG SETTINGS -->
    <div id="dialogAction" ng-if="prefSvc.selectedArea.DefaultAction==='0' && !prefSvc.selectedArea.OverRidden">
      <div class="row top-margin20">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <h4 class="control-label" data-translate="4407">Print Dialog Settings</h4>
            </div>
          </div>
          <div class="panel-body margbot-3p">
            <div class="row top-margin20">
              <div class="col-xs-12">
                <label class="control-label" data-translate="4416">Default Printer Type</label>
                <select ng-change="prefSvc.refreshDesigns()" class="form-control" ng-model="prefSvc.selectedArea.DefaultPrinterTypeSid">
                  <option value="">Select...</option>
                  <option ng-repeat="a in printerTypeList" value="{{a.sid}}">{{a.name}}</option>
                </select>
              </div>
            </div>
            <div class="row top-margin20">
              <div class="col-xs-9">
                <label class="control-label" data-translate="5679">Default Print Design</label>
                <select class="form-control" ng-model="prefSvc.selectedArea.DefaultPrintDesignSid">
                  <option value="" data-translate="1358">Select...</option>
                  <option ng-repeat="b in prefSvc.designList" value="{{b.sid}}">{{b.design_name}}</option>
                </select>
              </div>
              <div class="col-xs-2">
                <label class="control-label" data-translate="7115">Default Copies</label>
                <input type="text" min="1" pattern="\d*" maxlength="2" class="form-control" ng-model="prefSvc.selectedArea.DefaultCopies">
              </div>
            </div>
            <div class="row top-margin20" ng-if="prefSvc.selectedArea.Name !== 'Gift Receipt'">
              <div class="col-xs-12">
                <label class="control-label" data-translate="5680">Default Email Design</label>
                <select class="form-control" ng-model="prefSvc.selectedArea.EmailDesignSid">
                  <option value="" data-translate="1358">Select...</option>
                  <option ng-repeat="c in prefSvc.designList" value="{{c.sid}}">{{c.design_name}}</option>
                </select>
              </div>
            </div>
            <div class="row top-margin20">
              <div class="col-xs-12">
                <label class="control-label" data-translate="4408">Print Dialog Controls</label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.ShowPrintButton" ng-disabled="prefSvc.selectedArea.Sid==='10'" ng-checked="toBoolean(prefSvc.selectedArea.ShowPrintButton)||(prefSvc.selectedArea.Sid==='10')" title="{{ '4450' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="4409" title="{{ '4450' | translate }}">Print Button</span>
                </label>
              </div>
              <div class="col-xs-4" ng-if="prefSvc.selectedArea.Name !== 'Gift Receipt'">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.ShowEmailButton" ng-disabled="prefSvc.selectedArea.Sid==='10'" ng-checked="toBoolean(prefSvc.selectedArea.ShowEmailButton)&&(prefSvc.selectedArea.Sid!=='10')" title="{{ '4451' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="4410" title="{{ '4451' | translate }}">Email Button</span>
                </label>
              </div>
              <div class="col-xs-4" ng-if="prefSvc.selectedArea.Name !== 'Gift Receipt'">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.ShowPrintEmailButton" ng-disabled="prefSvc.selectedArea.Sid==='10'" ng-checked="toBoolean(prefSvc.selectedArea.ShowPrintEmailButton)&&(prefSvc.selectedArea.Sid!=='10')" title="{{ '4452' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="4411" title="{{ '4452' | translate }}">Print &amp; Email Button</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.ShowPreviewButton" ng-checked="toBoolean(prefSvc.selectedArea.ShowPreviewButton)" title="{{ '4453' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="4412" title="{{ '4453' | translate }}">Preview Button</span>
                </label>
              </div>
              <div class="col-xs-4">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.ShowPrinterSelection" ng-disabled="!prefSvc.selectedArea.ShowPrintButton && !prefSvc.selectedArea.ShowPrintEmailButton" ng-checked="toBoolean(prefSvc.selectedArea.ShowPrinterSelection)" title="{{ '4454' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="4413" title="{{ '4454' | translate }}">Printer Selection</span>
                </label>
              </div>
              <div class="col-xs-4">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.ShowNumberCopies" ng-disabled="(!prefSvc.selectedArea.ShowPrintButton && !prefSvc.selectedArea.ShowPrintEmailButton)||(prefSvc.selectedArea.Sid==='10')" ng-checked="toBoolean(prefSvc.selectedArea.ShowNumberCopies)&&(prefSvc.selectedArea.ShowPrintButton || prefSvc.selectedArea.ShowPrintEmailButton)" title="{{ '4456' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="4415" title="{{ '4456' | translate }}">Number of Copies</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.ShowDesignSelection" ng-checked="toBoolean(prefSvc.selectedArea.ShowDesignSelection)" title="{{ '4455' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="5676" title="{{ '4455' | translate }}">Print Design Selection</span>
                </label>
              </div>
              <div class="col-xs-4" ng-if="prefSvc.selectedArea.Name !== 'Gift Receipt'">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.ShowEmailDesignSelection" ng-checked="toBoolean(prefSvc.selectedArea.ShowEmailDesignSelection)" title="{{ '5678' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="5677" title="{{ '5678' | translate }}">Email Design Selection</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PRINTER SETTINGS -->
    <div id="printAction" ng-if="(prefSvc.selectedArea.DefaultAction === '1' || prefSvc.selectedArea.DefaultAction ==='2')&&!prefSvc.selectedArea.OverRidden">
      <div class="row top-margin20">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <h4 data-translate="4540">Printer Settings – Select a Printer Type to View/Edit</h4>
            </div>
          </div>
          <div class="panel-body margbot-3p">
            <div class="row top-margin20">
              <div class="col-xs-6">
                <label class="control-label" data-translate="4419">Printer Type</label>
                <select class="form-control" ng-model="prefSvc.selectedArea.TypeSettings.printertypesid" ng-change="selectPrinterType()">
                  <option value="" data-translate="1358">Select...</option>
                  <option ng-repeat="p in printerTypeList" value="{{p.sid}}">{{p.name}}</option>
                </select>
              </div>
              <form name="prefSvc.prnTypeSettingsForm1">
                <div class="col-xs-3">
                  <label class="control-label">
                    <input type="checkbox" name="activeFlag" ng-checked="toBoolean(prefSvc.selectedArea.TypeSettings.activeflag)" ng-model="prefSvc.selectedArea.TypeSettings.activeflag" ng-disabled="disablePrinterSettings" title="{{ '4457' | translate }}">
                    <span class="checkbox_label ng-scope" data-translate="586" title="{{ '4457' | translate }}">Active</span>
                  </label>
                </div>
                <div class="col-xs-3">
                  <label class="control-label">
                    <input type="checkbox" name="previewFlag" ng-checked="toBoolean(prefSvc.selectedArea.TypeSettings.previewflag)" ng-model="prefSvc.selectedArea.TypeSettings.previewflag" ng-disabled="disablePrinterSettings" title="{{ '4458' | translate }}">
                    <span class="checkbox_label ng-scope" data-translate="523" title="{{ '4458' | translate }}">Preview</span>
                  </label>
                </div>
              </form>
            </div>
            <div class="row top-margin20">
              <form name="prefSvc.prnTypeSettingsForm2">
                <div class="col-xs-6" ng-if="!toBoolean(prefSvc.selectedArea.TypeSettings.groupflag)">
                  <label class="control-label" data-translate="525">Print Design</label>
                  <select class="form-control" name="printDesignSid" ng-model="prefSvc.selectedArea.TypeSettings.printdesignsid" ng-disabled="!prefSvc.selectedArea.TypeSettings.printertypesid">
                    <option value="" data-translate="1358">Select...</option>
                    <option ng-repeat="p in prefSvc.designList" value="{{p.sid}}">{{p.design_name}}</option>
                  </select>
                </div>
                <div class="col-xs-6" ng-if="toBoolean(prefSvc.selectedArea.TypeSettings.groupflag)">
                  <label class="control-label" data-translate="6767">Report Group</label>
                  <select class="form-control" name="reportgroupSid" ng-model="prefSvc.selectedArea.TypeSettings.reportgroupsid" ng-disabled="!prefSvc.groupList || !prefSvc.selectedArea.TypeSettings.printertypesid">
                    <option value="">Select...</option>
                    <option ng-repeat="p in prefSvc.groupList" value="{{p.sid}}">{{p.name}}</option>
                  </select>
                </div>

                <div class="col-xs-3" ng-if="prefSvc.selectedArea.TypeSettings.printertypesid && prefSvc.groupList.length">
                  <input type="checkbox" name="groupFlag" ng-checked="toBoolean(prefSvc.selectedArea.TypeSettings.groupflag)" ng-model="prefSvc.selectedArea.TypeSettings.groupflag" title="Use Report Groups">
                  <span class="control-label" data-translate="6768" title="Use Report Groups">Use Groups</span>
                </div>
                <div class="col-xs-1">
                  <label class="control-label" data-translate="4254">Copies</label>
                  <input type="text" min="1" pattern="\d*" maxlength="2" name="copies" class="form-control" ng-model="prefSvc.selectedArea.TypeSettings.copies" ng-disabled="disablePrinterSettings || !(prefSvc.selectedArea.TypeSettings.printdesignsid || prefSvc.selectedArea.TypeSettings.reportgroupsid)">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- EMAIL SETTINGS -->
    <div id="emailAction" ng-if="(prefSvc.selectedArea.DefaultAction === '2' || prefSvc.selectedArea.DefaultAction === '4')&&!prefSvc.selectedArea.OverRidden">
      <div class="row top-margin20">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <h4 data-translate="1930">Email Settings</h4>
            </div>
          </div>
          <div class="panel-body margbot-3p">
            <div class="row top-margin20">
              <div class="col-xs-6">
                <label class="control-label" data-translate="1583">Email Design</label>
                <select class="form-control" ng-model="prefSvc.selectedArea.EmailDesignSid" ng-options="p.sid as p.design_name for p in prefSvc.designList">
                  <option value="" data-translate="1358">Select...</option>
                </select>
              </div>
              <div class="col-xs-3">
                <label class="control-label">
                  <input type="checkbox" ng-model="prefSvc.selectedArea.EmailPreviewFlag" ng-checked="toBoolean(prefSvc.selectedArea.EmailPreviewFlag)" title="{{ '4459' | translate }}">
                  <span class="checkbox_label ng-scope" data-translate="523" title="{{ '4459' | translate }}">Preview</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-form>
