<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Added Non-Currency Tenders
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div style="overflow-y:scroll;">
            <table class="table table-striped table-bordered text-center" style="width:100%">
              <thead>
              <tr>
                <th style="width:20%" data-translate="1440">Amt</th>
                <th ng-if="selected_tender_type_index===0" style="width:15%" data-translate="925">Card Type</th>
                <th style="width:30%" data-translate="684">Date</th>
                <th style="width:30%" data-translate="659">Notes</th>
                <th style="width:10%">#</th>
              </tr>
              </thead>
            </table>
          </div>
          <div style="height:25vh;overflow-y:scroll;">
            <table class="table table-bordered table-striped text-center" style="width:100%;">
              <tbody>
                <tr ng-repeat="tender in zout.addedTenders" ng-click="setActiveAddedTender(tender)" ng-if="tender.tender_type===selected_tender_type">
                  <td style="width:20%" ng-class="{'active-tender':(zout.activeAddedTender.sid===tender.sid)}">{{tender.amount | currency}}</td>
                  <td ng-if="selected_tender_type_index===0" style="width:15%" ng-class="{'active-tender':(zout.activeAddedTender.sid===tender.sid)}">{{tender.card_type_name}}</td>
                  <td style="width:30%" ng-class="{'active-tender':(zout.activeAddedTender.sid===tender.sid)}">{{tender.tender_date | cleanDate}}</td>
                  <td style="width:40%" ng-class="{'active-tender':(zout.activeAddedTender.sid===tender.sid)}">{{tender.notes}}</td>
                  <td style="width:10%" ng-class="{'active-tender':(zout.activeAddedTender.sid===tender.sid)}">{{tender.doc_no}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <button event-name="zOutNonCurrencyMediaCountsAddNew" class="btn btn-primary btn-lg" ng-click="addTender()" ng-disabled="isReconciled" type="button">
        <img src="/images/pos/navigate_plus.png">
        <span data-translate="970">Add New</span>
      </button>
      <button event-name="zOutNonCurrencyMediaCountsDelete" class="btn btn-primary btn-lg" ng-click="deleteTender()" ng-disabled="!zout.activeAddedTender" type="button">
        <img src="/images/pos/navigate_minus.png">
        <span data-translate="544">Delete</span>
      </button>
    </div>
  </div>
</div>

