<div>
  <div class="row">
    <div class="col-xs-12">
      <strong data-translate="675">Desc 1:</strong> {{ thisInventory.item_description1 }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <strong data-translate="676">Desc 2:</strong> {{ thisInventory.item_description2 }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <strong data-translate="677">UPC</strong> {{ thisInventory.upc|padUPC }}
    </div>
    <div class="col-xs-4">
      <strong data-translate="841">ALU</strong> {{ thisInventory.alu }}
    </div>
    <div class="col-xs-4">
      <strong data-translate="681">DCS:</strong> {{ thisInventory.dcs_code }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <strong data-translate="678">Attr:</strong> {{ thisInventory.attribute }}
    </div>
    <div class="col-xs-4">
      <strong data-translate="679">Size:</strong> {{ thisInventory.item_size }}
    </div>
    <div class="col-xs-4">
      <strong data-translate="680">VC:</strong> {{ thisInventory.vendor_code }}
    </div>
  </div>
</div>
