<div>
    <button type="button" class="btn btn-default btn-lg hidden-xs" ng-click="button.action()">
        <span data-translate="4739">Scan Packages</span>
    </button>
    <a class="hidden-sm hidden-md hidden-lg" ng-click="button.action()"><span data-translate="4739">Scan Packages</span></a>
</div>