<button type="button" ng-show="button.promotionsEnabled()" ng-disabled="button.disable()" class="btn" ng-class="{'btn-info btn-block':isLayout(1), 'btn-default btn-lg':isLayout()}" event-name="manuallyApplyPromotions" ng-click="button.action()">
	<span data-translate="4603">Apply Promotions</span>
</button>