<div class="row text-center" ng-if="($ctrl.preferences.themes_and_layouts_default_pos_layout==='pos-transaction-partial.htm')">
  <span ng-if="$ctrl.custType==='st'" data-translate="1377">Ship to Customer</span>
  <span ng-if="$ctrl.custType==='bt'" data-translate="1376">Bill to Customer</span>
</div>

<div class="row" ng-if="!$ctrl.resourceLookupService.init && $ctrl.customerRef.sid">
  <div class="col-xs-12">
    <input type="text" disabled="true" class="form-control" readonly="true" value="{{$ctrl.customerRef.fullname}}">
  </div>
</div>
<br>

<div class="row" ng-if="!$ctrl.resourceLookupService.init && !$ctrl.customerRef.sid">
  <div class="col-xs-12">
    <customer-mini-lookup-filter pos-callback="$ctrl.posCallback" pos-disabled="$ctrl.posDisabled" doc-search="$ctrl.docSearch" default-search="$ctrl.defaultSearch" is-shipping="$ctrl.isShipping" ></customer-mini-lookup-filter>
  </div>
</div>
