<button class="btn btn-lg btn-default" ng-click="cancelDisbursement();" type="button">
  <span data-translate="1.2" ng-if="!disbursements.active.finalized">Cancel</span>
  <span data-translate="583" ng-if="disbursements.active.finalized">Close</span>
</button>
