<span>
  <button ng-if="!disbursements.adding" ng-disabled="disbursements.active.finalized||disbursements.active.event_type===4" class="btn btn-info" style="margin-top:20px;" ng-click="addCurrency()" type="button">
    <span data-translate="4002">Add Tender</span>
  </button>
</span>

