<div class="voucher-details-tab-wrapper">
  	<div class="row">
	    <div class="col-xs-6">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 data-translate="3834">Payment Terms</h4>
					</div>
					<div class="panel-body">
						<div class="col-xs-12">
							<div class="row">
								<!--<po-recv-terms mode="edit" parent-sid="{{voucher.sid}}" resource="Recvterm"></po-recv-terms>-->
								<payment-terms parent="voucher.sid" disable="enableVendorFields" on-payment-term-changes="refreshVoucher" parent-name="'vousid'" resource="'Recvterm'"></payment-terms>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 data-translate="3837">Vendor Account</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-2 col-xs-offset-1">
										<label data-translate="3838">Account #</label>
									</div>
									<div class="col-xs-8">
										<input class="form-control" maxlength="200" ng-disabled="!(enableVendorFields)" type="text" enter-blur="" ng-blur="isValueDirty('voucher', $event, 'vendacctno')" ng-model="voucher.vendacctno">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-2 col-xs-offset-1">
										<label data-translate="3839">Payee Code</label>
									</div>
									<div class="col-xs-8">
										<voucher-select block-payee="blockPayee" disable="enableVendorFields" disable-event-colors="true" change="isPayeeSidDirty" field="'voucher'" options="sharedData.receiving.voucher.voucher_vendor_code_options" subject="voucher.payeesid"></voucher-select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 data-translate="3678">Vendor Invoice</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<voucher-vendor-invoice on-each-event="refreshVoucher" voucher="voucher" disable="enableVendorFields"></voucher-vendor-invoice>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
