<form action="" name="snModalMessage" id="snModalMessage">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 data-translate="{{snTitle}}">variable title</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <strong>{{snNumber}}</strong><div class="col-xs-12" data-translate="{{snMsg}}">variable message</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button id="snModalMsgLookupButton" type="button" class="btn btn-lg btn-default" ng-hide="dontEnableLookup" ng-click="$close('lookup')" data-translate="503.1">Lookup</button>
                    <button id="snModalMsgNoButton" type="button" class="btn btn-lg btn-default" ng-click="$close('no')" data-translate="1.6">No</button>
                    <button id="snModalMsgYesButton" type="button" class="btn btn-lg btn-default" ng-click="$close('yes')" data-translate="1.5">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>