<div class="btn-group col-xs-12">
  <div ng-click="rpSelect.init()" ng-if="rpSelect.popUpSelection">
    <button ng-class="{required: (rpSelect.required && (rpSelect.ngModel === null || rpSelect.ngModel === undefined))}" ng-disabled="rpSelect.isDisabled" id="split-button" style="width:100%;text-align:left;overflow:hidden;white-space: nowrap;" type="button" class="form-control">
      <span ng-if="!rpSelect.hasValue(rpSelect.ngModel,rpSelect.defaultObj[rpSelect.valueKey])" data-translate="1358">Select...</span>
      <span ng-if="rpSelect.hasValue(rpSelect.ngModel,rpSelect.defaultObj[rpSelect.valueKey])">
      <rp-select-compiler key-string="rpSelect.keyString" value-key="rpSelect.valueKey" obj-data="rpSelect.defaultObj" suppress-translate="rpSelect.suppressTranslate"></rp-select-compiler>
    </span>
    </button>
    <button ng-disabled="rpSelect.isDisabled" type="button" style="position:absolute;top:0;right:0;" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </button>
  </div>
  <div ng-if="!rpSelect.popUpSelection&&!rpSelect.isDisabled">
    <div popover-trigger="'outsideClick'" popover-append-to-body="true" popover-is-open="rpSelect.popOpen" uib-popover-template="'select-popover.html'" popover-placement="auto bottom">
      <button ng-class="{required: ( rpSelect.required && (rpSelect.ngModel === null || rpSelect.ngModel === undefined))}" ng-disabled="rpSelect.isDisabled" style="width:100%;text-align:left;overflow:hidden;white-space: nowrap;" type="button" class="form-control">
        <span ng-if="!rpSelect.hasValue(rpSelect.ngModel,rpSelect.defaultObj[rpSelect.valueKey]);" data-translate="1358">Select...</span>
        <span ng-if="rpSelect.hasValue(rpSelect.ngModel,rpSelect.defaultObj[rpSelect.valueKey])">
          <rp-select-compiler key-string="rpSelect.keyString" suppress-translate="rpSelect.suppressTranslate" value-key="rpSelect.valueKey" obj-data="rpSelect.defaultObj"></rp-select-compiler>
        </span>
      </button>
      <button ng-disabled="rpSelect.isDisabled" type="button" style="position:absolute;top:0;right:0;border-left:none;border-bottom-left-radius: 0;border-top-left-radius: 0" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
    </div>
  </div>
  <div ng-if="!rpSelect.popUpSelection&&rpSelect.isDisabled">
    <div class="input-group">
      <div ng-if="rpSelect.suppressTranslate">
        <input ng-if="rpSelect.suppressTranslate" type="text" class="form-control" ng-disabled="rpSelect.isDisabled" value="{{rpSelect.defaultObj[rpSelect.keyString]}}">
      </div>
      <div ng-if="(rpSelect.suppressTranslate===void(0)) || (!rpSelect.suppressTranslate)">
        <input type="text" class="form-control" ng-disabled="rpSelect.isDisabled" value="{{rpSelect.defaultObj[rpSelect.keyString] | translate}}">
      </div>
      <span class="input-group-addon" ng-disabled="true" style="background-color:#CCC;border:solid 1px #CCC;color:#000">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </span>
    </div>
  </div>
  <div ng-if="!rpSelect.popUpSelection">
    <script type="text/ng-template" id="select-popover.html">
      <div class="col-xs-12" ng-init="rpSelect.init();">
        <rp-select-modal
          repeater-data="rpSelect.repeaterData"
          search-Str="rpSelect.searchStr"
          close="rpSelect.closePopOver"
          suppress-translate="rpSelect.suppressTranslate"
          checking-override="rpSelect.checkingOverride"
          call-back="rpSelect.callBack()"
          is-last-page="rpSelect.isLastPage"
          key-string="rpSelect.keyString"
          value-key="rpSelect.valueKey"
          page="rpSelect.page"
          required="rpSelect.required"></rp-select-modal>
      </div>
    </script>
  </div>
</div>
