<fieldset>
<div class="col-xs-12 padding-20">
    <div class="row padding-5" ng-repeat="udf in state.udfReference" ng-if="udf.name">
        <div class="col-xs-3 no-left-padding">
            <label class="text-with-elipsis">{{udf.name}}</label>
        </div>
      <div class="col-xs-2">
        <button class="btn btn-default" ng-if="!state.udfFields[$index].isDate" ng-click="toggleTextInput($index,udf)" ng-disabled="disable">
          <span ng-if="!textInput[$index]" class="glyphicon glyphicon-pencil"></span>
          <span ng-if="textInput[$index]" class="glyphicon glyphicon-ban-circle"></span>
        </button>
      </div>
        <div class="col-xs-7">
            <input type="text" class="form-control" ng-change="onUdfOptionChange(udf.model,$index)" ng-if="textInput[$index]" ng-model="udf.model">
            <rp-select-input ng-if="udf.dropdownConfig.selectType&&!state.udfFields[$index].isDate&&!textInput[$index]" repeater-data="udf.dropdownConfig.listData" ng-model="udf.model" call-back="udf.dropdownConfig.http()" suppress-translate="udf.dropdownConfig.suppressTranslate" ng-change="onUdfOptionChange(udf.model,$index)" default-obj="udf.dropdownConfig.defaultObj" is-last-page="udf.dropdownConfig.isLastPage" key-string="udf.dropdownConfig.textKey" value-key="'udfoption'" is-disabled="disable" page="udf.dropdownConfig.page" filter-string="udf.dropdownConfig.searchString">
            </rp-select-input>
            <p class="input-group" ng-show="state.udfFields[0].isDate&&$index===0" ng-click="openCalendar($event, 'udfFieldDt1')">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="udfFieldDt1.datepickerOptions" ng-model="udfFieldDt1.date" value="{{(udfFieldDt1.date)?(udfFieldDt1.date | date:'mediumDate'):(udfFieldDt1.placeholder)}}" is-open="udfFieldDt1.open" enable-time="false" when-closed="udfFieldDt1.closed()" position-left="true" ng-disabled="disable">
            </p>
        </div>
    </div>
</div>
</fieldset>
