<div class="col-xs-12 height75 padding-20">
  <div class="row form-group">
    <div class="col-xs-3">
      <label data-translate="873">SPIF</label>
    </div>
    <div class="col-xs-5">
      <input ng-disabled="disable" type="tel" numberonly="" data-currency-formatter="currency" ng-model="item.spif" class="form-control" id="ifpc-spif">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-3">
      <label data-translate="2764">Sellable Date</label>
    </div>
    <div class="col-xs-5">
      <p class="input-group" ng-click="openCalendar($event, 'sellableDt')">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
        <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="sellableDt.datepickerOptions" ng-model="sellableDt.date" value="{{ sellableDt.date ? (sellableDt.date | date: 'mediumDate') : sellableDt.placeholder }}" is-open="sellableDt.open" enable-time="false" when-closed="sellableDt.closed()" ng-disabled="disable">
      </p>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-3">
      <label data-translate="2888">Created Date</label>
    </div>
    <div class="col-xs-5">
      <div class="well well-sm">{{ item.createddatetime | cleanDate }}</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-3">
      <label data-translate="2885">Modified Date</label>
    </div>
    <div class="col-xs-5">
      <div class="well well-sm">{{ item.modifieddatetime | cleanDate }}</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-3">
      <label data-translate="6952">Last Sold</label>
    </div>
    <div class="col-xs-5">
      <div class="well well-sm">{{ item.lastsolddate | cleanDate }}</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-3">
      <label data-translate="6953">First Received</label>
    </div>
    <div class="col-xs-5">
      <div class="well well-sm">{{ item.firstrcvddate | cleanDate }}</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-3">
      <label data-translate="6954">Last Received</label>
    </div>
    <div class="col-xs-5">
      <div class="well well-sm">{{ item.lastrcvddate | cleanDate }}</div>
    </div>
  </div>
  <div class="row top-margin">
    <div class="form-group remove-bottom-margin">
      <label for="itemSpecOrder" class="col-xs-offset-3">
        <input name="itemSpecOrder" id="itemSpecOrder" tabindex="18" type="checkbox" ng-disabled="disable||soFlagDisable()" class="checkbox-inline" ng-change="changeSpecialOrderFlag();" ng-model="item.specialorder">
        <span data-translate="894">Special Order</span>
      </label>
    </div>
  </div>

  <!-- Style: Section Start-->
  <div class="row top-margin20">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" data-translate="3198">Style</h3>
      </div>
      <div class="panel-body" style="overflow-x: auto;">
        <div class="row">
          <div class="xol-xs-12" ng-if="colHeaders.length===2">
            &nbsp;<span data-translate="5922">Styles are not applicable to this item.</span>
          </div>
          <div class="col-xs-12" ng-if="colHeaders.length>2">
            <div style="width:750px;">
              <div class="row top-margin">
                <div class="col-xs-11 col-xs-offset-1">
                  <span data-translate="679">Size</span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-1">
                  <div class="flip-text">
                    <span data-translate="3333">Attribute</span>
                  </div>
                </div>
                <div class="col-xs-11">
                  <table class="table-striped col-xs-12 table-bordered table-responsive table-centered">
                    <thead>
                      <tr>
                        <th ng-repeat="x in colHeaders track by $index">
                          {{ x }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in rows track by $index">
                        <td ng-repeat="y in x track by $index">
                          <strong class="inline-block text-right" ng-if="$index===0">{{ y }}</strong>
                          <span ng-if="$index!==0">{{ y }}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Style: Section End-->

  <!-- Packages/Kits: Section Start-->
  <div class="row top-margin20">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" data-translate="3199">Packages/Kits</h3>
      </div>
      <div class="panel-body">
        <div class="row top-margin">
          <div name="pref_form" ui-i18n="{{ lang }}">
            <div id="kitGrid" ui-grid-resize-columns="" ng-if="state.tab==='kits'&&kitGrid.data.length>0" ui-grid="kitGrid" external-scopes="gridHandlers" class="kit-grid"></div>
            &nbsp;<span ng-if="!kitGrid.data" data-translate="3186">Package and kits are not applicable to this item.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Packages/Kits: Section End-->

  <!-- Loyalty: Section Start-->
  <div class="row top-margin20">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" data-translate="4618">Loyalty</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-12">
                <label class="control-label inline-block" data-translate="5124">Price in Points</label>
                <input class="form-control" ng-model="item.ltypriceinpoints" numberonly="" readonly="readonly">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label class="control-label inline-block" data-translate="5125">Points Earned</label>
                <input class="form-control" ng-model="item.ltypointsearned" numberonly="" readonly="readonly">
              </div>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="ng-scope" data-translate="5317">Item Loyalty Info</span>
              </div>
              <div class="panel-body height30 autoOverflow">
                <div class="row">
                  <div class="col-xs-12">
                    <table class="table table-condensed table-hover col-xs-12">
                      <tr>
                        <td><b data-translate="5171">Program Name</b></td>
                        <td><b data-translate="5039">Level Name</b></td>
                        <td><b data-translate="586">Active</b></td>
                      </tr>
                      <tr class="grid_row{{ $index % 2 }}" ng-repeat="x in programList">
                        <td>{{ x.lty_pgm_name }}</td>
                        <td>{{ x.lty_lvl_name }}</td>
                        <td>
                          <input type="checkbox" ng-model="x.active" disabled="disabled" ng-checked="x.active">
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Loyalty: Section End-->
</div>
