<div class="modal-content">
	<div class="modal-header">
		<h4 data-translate="6497">Edit Coupon</h4>
	</div>
	<div class="modal-body" style="overflow: visible;">
		<ng-form name="form.coupon">
			<div class="row form-group">
				<div class="col-xs-4">
				  <label class="control-label" data-translate="2735">Code</label>
				</div>
				<div class="col-xs-8">
				  <input type="text" class="form-control" ng-model="coupon.couponcode" ng-disabled="coupons.length>1">
				</div>
			</div>
			<div class="row form-group">
        <div class="col-xs-4">
          <button ng-if="coupons.length>1" class="btn btn-primary" style="width:100%" ng-model="buttonIssued" ng-click="toggleIssued()">Issued</button>
          <label ng-if="coupons.length===1" class="text">Issued</label>
        </div>
				<div class="col-xs-8">
				  <input type="checkbox" class="" ng-if="coupons.length>1" ng-disabled="flagToggleIssued" ng-model="coupon.issuedstatus" ng-checked="coupon.issuedstatus===1" ng-true-value="1" ng-false-value="2">
          <input type="checkbox" class="" ng-if="coupons.length===1" ng-model="coupon.issuedstatus" ng-checked="coupon.issuedstatus===1" ng-true-value="1" ng-false-value="2">
				</div>
			</div>
			<div class="row form-group">
        <div class="col-xs-4">
          <button ng-if="coupons.length>1" class="btn btn-primary" style="width:100%" ng-click="toggleUsed()" data-translate="6361">Used</button>
          <label ng-if="coupons.length===1" class="text" data-translate="6361">Used</label>
        </div>
				<div class="col-xs-8">
				  <input ng-if="coupons.length>1" type="number" class="form-control" ng-disabled="flagToggleUsed" ng-model="coupon.usedqty">
          <input ng-if="coupons.length===1" type="number" class="form-control" ng-model="coupon.usedqty">
				</div>
			</div>
			<div class="row form-group">
        <div class="col-xs-4">
          <button ng-if="coupons.length>1" class="btn btn-primary" style="width:100%" ng-click="toggleStartDate()" data-translate="958">Start Date</button>
          <label ng-if="coupons.length===1" class="text" data-translate="958">Start Date</label>
        </div>
				<div class="col-xs-8">
					<p ng-if="coupons.length>1" class="input-group" ng-disabled="flagToggleStartDate" ng-click="openCalendar($event, 'startDate')">
						<span class="input-group-btn">
						  <button ng-if="coupons.length>1" type="button" class="btn btn-default" ng-disabled="flagToggleStartDate"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<input ng-if="coupons.length>1" type="button" class="form-control" datetime-picker="mediumDate" ng-disabled="flagToggleStartDate" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'mediumDate'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="false" datepicker-options="startDate.datepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
					</p>
          <p ng-if="coupons.length===1" class="input-group" ng-click="openCalendar($event, 'startDate')">
						<span class="input-group-btn">
						  <button ng-if="coupons.length===1" type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
            <input ng-if="coupons.length===1" type="button" class="form-control" datetime-picker="mediumDate" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'mediumDate'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="false" datepicker-options="startDate.datepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
          </p>
				</div>
			</div>
			<div class="row form-group">
        <div class="col-xs-4">
          <button ng-if="coupons.length>1" class="btn btn-primary" style="width:100%" ng-click="toggleEndDate()" data-translate="611">End Date</button>
          <label ng-if="coupons.length===1" class="text" data-translate="611">End Date</label>
        </div>
				<div class="col-xs-8">
					<p ng-if="coupons.length>1" class="input-group" ng-disabled="flagToggleEndDate" ng-click="openCalendar($event, 'endDate')">
						<span class="input-group-btn">
						  <button ng-if="coupons.length>1" type="button" class="btn btn-default" ng-disabled="flagToggleEndDate"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<input ng-if="coupons.length>1" type="button" class="form-control" datetime-picker="mediumDate" ng-disabled="flagToggleEndDate" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'mediumDate'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="false" datepicker-options="endDate.datepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
					</p>
          <p ng-if="coupons.length===1" class="input-group" ng-click="openCalendar($event, 'endDate')">
						<span class="input-group-btn">
						  <button ng-if="coupons.length===1" type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
            <input ng-if="coupons.length===1" type="button" class="form-control" datetime-picker="mediumDate" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'mediumDate'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="false" datepicker-options="endDate.datepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
          </p>
				</div>
			</div>
		</ng-form>
	</div>
  <div class="modal-footer">
		<button class="btn btn-default" data-translate="1.1" ng-click="saveCoupon()" ng-disabled="!form.coupon.$valid" event-name="saveSetCouponOK" id="saveSetCouponOkButton">OK</button>
		<button class="btn btn-default" data-translate="1.2" ng-click="closeModal()" event-name="saveSetCouponCancel" id="saveSetCouponCancelButton">Cancel</button>
  </div>
</div>
