<img-btn ng-if="layout === 0" event-name="newAsn" tabindex="123" translation-name="'4742'" img-src="'/images/pos/pos_new_48.png'" click-handler="button.action" disable="button.disable()" permission-name="'accessreceivingarea'" button-text="'New ASN'"></img-btn>

<button ng-if="layout === 1" class="btn btn-default" ng-click="button.action()" ng-disabled="button.disable()">
	<span data-translate="581">New</span>
</button>
