<button class="btn btn-info" ng-disabled="disbursements.selectedCurrencies.length===0" ng-click="removeCurrency()" style="margin-top:20px;" type="button">
  <span data-translate="4007">Remove Tender</span>
</button>
