
<div name="inventory-item">
    <div class="panel panel-default" ng-if="mainState.contentReady">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <h4 data-translate="2077">Inventory</h4>
          </div>
          <div class="col-xs-9">
            <inv-item-top-filters ng-if="state.contentReady.item" disable="true" item="state.item">
            </inv-item-top-filters>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <form name="invItem.form">
          <div class="row row-container no-padding transparent" ng-class="{'split-ui-overlay':(iDetailsBar)}">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 no-padding split-ui-left-container">
              <div class="row row-container no-padding split-ui-left-pane single-tab sibling-with-button-bar">
                <inventory-main-information ng-if="state.contentReady.item&&state.contentReady.qty&&state.contentReady.price" dcs="state.DCS" disable="state.disableOnReadOnlyMode()" item="state.item" invn-price="state.invnPrice" invn-qty="state.invnQty" mode="state.mode" on-new-dept-code="eventHandlers.onNewDeptCode" on-new-vend-code="eventHandlers.onNewVendCode" on-dcs-changed="eventHandlers.onDcsChanged" on-vendor-code-changed="eventHandlers.onVendorCodeChanged" on-upc-key-down="eventHandlers.onUpcKeyDown" on-upc-blur="eventHandlers.onUpcBlur" on-calc-field-blur="eventHandlers.onCalcFieldBlur" refresh-vendor-dropdown="eventHandlers.refreshVendorDropdown" style-definition-field="state.styleDefinitionField"></inventory-main-information>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 no-padding split-ui-right-container">
              <div class="row row-container no-padding split-ui-right-pane">
                <inventory-tabs-information ng-if="state.contentReady.item&&state.contentReady.qty&&state.contentReady.price" active-tab-title="activeTabTitle" active-tab="activeTab" dcs="state.DCS" disable="state.disableOnReadOnlyMode()" extended-fields="state.invnExtend" qty-fields="state.invnQty" item="state.item" on-calc-field-blur="eventHandlers.onCalcFieldBlur" on-types-blur="eventHandlers.onTypesBlur" manage-ser-nos="eventHandlers.manageSerNos" manage-lot-nos="eventHandlers.manageLotNos" mode="state.mode" tools="state.tools"></inventory-tabs-information>
              </div>
              <div class="row row-container no-padding">
                <inventory-tab-buttonbar ng-if="state.contentReady.item&&state.contentReady.qty&&state.contentReady.price"></inventory-tab-buttonbar>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row hidden-xs">
      <action-button-bar ng-if="!fromLookup" action-bar="state.buttonBar"></action-button-bar>
      <action-button-bar ng-if="iDetailsBar&&fromLookup" action-bar="iDetailsBar"></action-button-bar>
    </div>
</div>

