<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="566">Share Type</label>
    <select id="shareType" name="shareType" class="form-control" ng-model="field.service.active.sharetype" ng-disabled="field.service.active.sid" ng-options="t.value as t.name for t in field.shareTypes">
    </select>
  </div>
</div>
