<div>
  <div class="text-center col-xs-12" ng-if="!servers.sentData||servers.waiting">
    <span data-translate="6153">Gathering Initialization Data</span>
    <br>
    <img src="images/ajax-loader.gif">
    <br>
    <span data-translate="5986">Please Wait</span>
  </div>
  <div class="well well-sm" ng-if="servers.sp.type==='prism'">
    <div class="row">
      <div class="col-xs-4">
        <label class="control-label">From Server</label>
        <div class="input-group">
          <rp-select-input repeater-data="servers.initServers" default-obj="servers.defaultObj" ng-change="servers.changeServer()" ng-model="servers.replicationStatus.prismServer" key-string="'controllername'" value-key="'rc_sid'"></rp-select-input>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="servers.startInit()">
              <span class="glyphicon glyphicon-flash"></span>
              <span data-translate="1241">Start Initialization</span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="well well-sm" ng-if="servers.sp.type==='ril'">
    <div class="row">
      <div class="col-xs-6">
        <label class="control-label"><span data-translate="6818">From Server</span></label>
        <div class="input-group">
          <select ng-disabled="true" class="form-control">
            <option value="" style="display:none"><span data-translate="4484">RIL</span></option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="servers.startInit()">
              <span class="glyphicon glyphicon-flash"></span>
              <span data-translate="1241">Start Initialization</span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="well well-sm" ng-if="servers.sentData&&servers.sentData.length===0&&!servers.waiting">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span class="glyphicon glyphicon-ban-circle"> <em><span data-translate="6819">There are no initialization records</span></em></span>
      </div>
    </div>
  </div>
  <div ng-if="servers.sentData&&servers.sentData.length&&!servers.waiting">
    <div class="well well-sm" style="margin:0">
      <div class="row">
        <div class="col-xs-4">
          <strong data-translate="958">Start Date</strong>: {{servers.initData.loadstarttime | cleanDate}}
        </div>
        <div class="col-xs-4">
          <strong data-translate="6026">Profile:</strong> {{servers.initData.subscriptionname}}
        </div>
        <div class="col-xs-4">
          <strong data-translate="6027">Server Count:</strong> {{servers.initData[servers.serverCount].length}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <strong data-translate="6028">Total Messages</strong>: {{servers.initData.totalrowsexpected}}
        </div>
        <div class="col-xs-4">
          <strong data-translate="6029">Messages Sent:</strong> {{servers.initData.totalrowsprocessedsofar}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>
          <a href="javascript:void(0);" ng-click="servers.toggleSent();">
            <span class="glyphicon glyphicon-plus" ng-if="!servers.sentOn"></span>
            <span class="glyphicon glyphicon-minus" ng-if="servers.sentOn"></span>
            <span data-translate="6451">Sent Messages</span>
          </a>
        </h4>
      </div>
    </div>
    <div class="row form-group" ng-if="servers.sentOn">
      <div class="col-xs-12">
        <div ui-grid-resize-columns="" ui-grid="servers.sentDataGrid"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>
          <a href="javascript:void(0);" ng-click="servers.toggleReceive();">
            <span class="glyphicon glyphicon-plus" ng-if="!servers.receiveOn"></span>
            <span class="glyphicon glyphicon-minus" ng-if="servers.receiveOn"></span>
            <span data-translate="6452">Received Messages</span>
          </a>
        </h4>
      </div>
    </div>
    <div class="row form-group" ng-if="servers.receiveOn">
      <div class="col-xs-12">
        <div class="row form-group">
          <div class="col-xs-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{ '5976' | translate }}" ng-change="servers.setFilter()" ng-model="servers.form.filterValue">
              <span class="input-group-addon">
            <input ng-change="servers.setFilter()" type="checkbox" ng-model="servers.form.errorFilter">
            <span style="color:red" class="glyphicon glyphicon-fire"></span>
          </span>
            </div>
          </div>
        </div>
        <div class="row form-group" ng-repeat="rows in servers.list" ng-if="servers.list.length>0&&!me.loadingScreen.Enabled">
          <div class="col-xs-3" ng-repeat="server in rows">
            <init-sender-item style="cursor:pointer" ng-click="servers.setServer(server)" call-back="servers.getInitializationStatus" header-data="servers.initData" server="server"></init-sender-item>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <div class="badge badge-info" style="padding:10px;"><span data-translate="6820"># Batches</span> {{servers.totalRecords}}</div>
      </div>
      <div class="col-xs-6 text-center">
        <paging-control ng-if="servers.totalRecords>0&&!servers.deleting&&!servers.refresh" results-per-page="1" total-records="servers.totalRecords" call-back="servers.changePage"></paging-control>
      </div>
      <div class="col-xs-3 text-right">
        <button class="btn btn-default" ng-disabled="!servers.isInitializing" ng-click="servers.cancelBatch()"><span data-translate="1.2">Cancel</span></button>
        <button class="btn btn-default" ng-disabled="servers.isInitializing" ng-click="servers.deleteBatch()"><span data-translate="544">Delete</span></button>
      </div>
    </div>
  </div>
</div>
