<button type="button" ng-disabled="$ctrl.button.disable()" class="btn btn-warning" ng-click="$ctrl.button.action()" event-name="TransferVerificationUpdatePair">
  <span data-translate="6386">Update Pair</span>
</button>
