<div class="popover">
  <ul class="list-group" style="margin-bottom:0px;padding:5px;">
    <button class="btn btn-info btn-block" ng-if="docOrdertype===undefined||docOrdertype===0" ng-class="{'active-order-type':(default.order_type*1===0)}" ng-click="setGlobalItemType(3,0);closePopover();sendEvent(0)" type="button" data-translate="893">Customer Order</button>
    <button class="btn btn-info btn-block" ng-if="docOrdertype===undefined||docOrdertype===2" style="margin-bottom:0px;" ng-class="{'active-order-type':(default.order_type*1===2)}" ng-click="setGlobalItemType(3,2);closePopover();sendEvent(2)" type="button" data-translate="895">Layaway</button>
  </ul>
</div>
