<div class="modalouter">
    <div class="modal-header">
      <span data-translate="6967">Delete Markdowns</span>
    </div>
    <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <button ng-disabled="priceManager.selected == null" class="btn btn-info btn-block" event-name="PmSelectedDelete" tabindex="122" type="button" ng-click="$close('select');">
              <span data-translate="6049">Selected Markdown</span>
            </button>
          </li>
          <li class="list-group-item">
            <button class="btn btn-info btn-block" event-name="PmAllDelete" tabindex="123" type="button" ng-click="$close('all');">
              <span data-translate="6050">All Listed Markdowns</span>
            </button>
          </li>
          <li class="list-group-item">
            <button class="btn btn-info btn-block" event-name="PmCancelDelete" tabindex="124" type="button" ng-click="$close();">
              <span data-translate="1.2">Cancel</span>
            </button>
          </li>
        </ul>
    </div>
  <div class="modal-footer text-right">
  </div>
</div>

