<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="{{messageTransId}}">{{ message }}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group" ng-if="mode === 'self'">
                    <label for="current_password" data-translate="5539">Current Password</label>
                    <input type="password" required class="form-control" id="current_password" ng-model="state.password.current" maxlength="24">
                </div>
                <div class="form-group">
                    <label for="new_password" data-translate="5540">New Password</label>
                    <input type="password" required class="form-control" id="new_password" ng-model="state.password.new" ng-keyup="onKeyUp($event)" maxlength="24">
                    <span id="helpBlock" ng-if="strongPassPref" class="help-block" ng-class="{'font-error': (numericCharReq || uppercaseCharReq || charReq || specialCharReq), 'font-success': !(numericCharReq || uppercaseCharReq || charReq || specialCharReq) }" data-translate="6408">Must contain:</span>
                    <span id="helpBlock" ng-if="strongPassPref" class="help-block" ng-class="{'form-input-label-error': specialCharReq, 'form-input-label-success': !specialCharReq }" data-translate="6409">- special character</span>
                    <span id="helpBlock" ng-if="strongPassPref" class="help-block" ng-class="{'form-input-label-error': numericCharReq, 'form-input-label-success': !numericCharReq }" data-translate="6410">- numeric character</span>
                    <span id="helpBlock" ng-if="strongPassPref" class="help-block" ng-class="{'form-input-label-error': uppercaseCharReq, 'form-input-label-success': !uppercaseCharReq }" data-translate="6411">- uppercase & lowercase characters</span>
                    <span id="helpBlock" ng-if="strongPassPref" class="help-block" ng-class="{'form-input-label-error': charReq, 'form-input-label-success': !charReq }" data-translate="6412">- more than 7 characters</span>
                </div>
                <div class="form-group">
                    <label for="confirm_new_password" data-translate="5541">Confirm New Password</label>
                    <input type="password" required class="form-control" id="confirm_new_password" ng-model="state.password.confirm" maxlength="24">
                    <span id="helpBlock" class="help-block" ng-class="{'form-input-label-error': (state.password.new !== state.password.confirm), 'form-input-label-success': (state.password.new === state.password.confirm) }" data-translate="6413">- password match.</span>
                </div>
                <div class="checkbox" ng-if="mode === 'other'">
                    <label>
                        <input type="checkbox" ng-model="state.requirePasswordChange">
                        <span data-translate="5598">Require password change</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 align-right">
                <button class="btn btn-info btn-large" type="button" ng-disabled="state.disableUpdate() || (numericCharReq || uppercaseCharReq || charReq || specialCharReq)" ng-click="state.update()">
                    <span data-translate="951">Update</span>
                </button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="close(false)">
                    <span data-translate="1.2">Cancel</span>
                </button>
            </div>
        </div>
        <biometrics ng-if="isBio"></biometrics>
    </div>
</div>
