<div class="panel panel-default" style="margin:0;">
    <div class="panel-heading">
        <h4 data-translate="2920">Warning</h4>
    </div>
    <div class="panel-body" style="min-height: 80px;padding:1em;">
        <h4>
          {{message}}<br><br>
          <span data-translate="6460">Click 'Change password' to change now.</span>
        </h4>
    </div>
    <div class="panel-footer text-right">
        <div class="row">
            <div class="hidden-xs col-sm-6"></div>
            <div class="col-xs-3" ng-click="ok()">
              <reset-password-menu-button></reset-password-menu-button>
            </div>
            <div class="col-xs-3">
              <button class="btn btn-default btn-block" ng-click="cancel()" data-translate="1.2">Cancel</button>
            </div>
        </div>
    </div>
</div>
