<div id="pmDetailsForm" name="pmDetailsForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="6093">Markdown Details</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row top-margin">
            <label class="col-xs-5 text-right">
              <strong data-translate="6048" class="ng-scope">Markdown Name</strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.markdown.markdownname}}
            </div>
         </div>
          <div class="row top-margin">
            <label class="col-xs-5 text-right">
              <strong data-translate="2233" class="ng-scope">Subsidiary</strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.displaySub}}
            </div>
          </div>
          <div class="row top-margin">
            <label class="col-xs-5 text-right">
              <strong data-translate="553" class="ng-scope">Price Level</strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.displayPrcLvl}}
            </div>
          </div>
          <div class="row top-margin">
            <label class="col-xs-5 text-right">
              <strong data-translate="4866" class="ng-scope">Season</strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.displaySeason}}
            </div>
          </div>
          <div class="row top-margin">
            <label class="col-xs-5 text-right">
              <strong data-translate="7113" class="ng-scope">Price Plan Owner</strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.displayOwner}}
            </div>
          </div>
          <div class="row top-margin" ng-if="pmDetailCtrl.markdown.createddatetime != null">
            <label class="col-xs-5 text-right">
              <strong data-translate="533">Created Date </strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.markdown.createddatetime | cleanDate:locale}}
            </div>
          </div>
          <div class="row top-margin" ng-if="pmDetailCtrl.markdown.modifieddatetime != null">
            <label class="col-xs-5 text-right">
              <strong data-translate="3948">Modified Date </strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.markdown.modifieddatetime | cleanDate:locale}}
            </div>
          </div>
          <div class="row top-margin" ng-if="pmDetailCtrl.markdown.markdowndate != null && pmDetailCtrl.scheduled">
            <label class="col-xs-5 text-right">
              <strong data-translate="6051">Scheduled Update Date </strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.markdown.markdowndate | cleanDate:locale}}
            </div>
          </div>
          <div class="row top-margin" ng-if="pmDetailCtrl.markdown.markdowndate != null && !pmDetailCtrl.scheduled">
            <label class="col-xs-5 text-right">
              <strong data-translate="6052">Updated Date </strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.markdown.markdowndate | cleanDate:locale}}
            </div>
          </div>
          <div class="row top-margin" ng-if="pmDetailCtrl.markdown.inversedate != null">
            <label class="col-xs-5 text-right">
              <strong data-translate="6217">Restore Date </strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.markdown.inversedate | cleanDate:locale}}
            </div>
          </div>
          <div class="row top-margin" ng-show="pmDetailCtrl.markdown.count && pmDetailCtrl.markdown.count > 0">
            <label class="col-xs-5 control-label">
              <strong data-translate="6053" class="ng-scope">Number of Items </strong>
            </label>
            <input class="col-xs-2" ng-disabled="true" ng-readonly="true" numberonly="" min="0" max="999999" id="markdownItemCnt" ng-model="pmDetailCtrl.markdown.count" type="text">
          </div>
          <div class="row top-margin">
            <label class="col-xs-5 text-right">
              <strong data-translate="2301">Status </strong>
            </label>
            <div class="col-xs-7">
              {{pmDetailCtrl.markdown.markdowntype}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
