﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="wooCommerce._default" Async="true"  %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script>
        function promotion() {
            var au=""
            $.ajax({
            type: "POST",
            url: "/Api.aspx/promoo",
            data: "{}",
            contentType: "application/json; charset=utf-8",
                dataType: "json",
            async:false,
            success: function (msg) {
              getdata(msg.d)
            }
        });
     
        }
        function getdata(o) {
                $.ajax({

    url: "http://192.168.9.253/api/backoffice/promotionslist?cols=*&page_no=1&page_size=10",
    data: "{}",
    type: 'GET',
    crossDomain: true,
    dataType: 'jsonp',
    success: function() { alert("Success"); },
    error: function() { alert('Failed!'); },
    beforeSend: setHeader
});
                
        }
        function setHeader(xhr) {

  xhr.setRequestHeader('Authorization', "kkk");
        }
       function openPrintDialogue(){
  $('<iframe>', {
    name: 'myiframe',
    class: 'printFrame'
  })
 .appendTo('body')
  .contents().find('body')
  .append(`
    <h1>Our Amazing Offer</h1>
    <img src='coupon.png' />
  `);

  window.frames['myiframe'].focus();
  window.frames['myiframe'].print();
           $(".action-button").trigger('click');
  setTimeout(() => { $(".printFrame").remove(); }, 1000);
};
   
function ExportToExcel(mytblId){
       var htmltable= document.getElementById(mytblId);
       var html = htmltable.outerHTML;
       window.open('data:application/vnd.ms-excel,' + encodeURIComponent(html));
    }

    </script>
    <style>
     
        @media print{
            html, body{
                display:none
            }
        }
 
    </style>
</head>
<body>
    <input type="button" value="print" onclick="openPrintDialogue()" />
    <form id="form1" runat="server">
        <div>
            <input type="button" onclick="ExportToExcel('GridView1')" value="export excel" />
            <asp:Button ID="Button1" runat="server" Text="lay sp prim" OnClick="Button1_Click" />
            <asp:Button ID="Button2" runat="server" Text="GEt product woo" OnClick="Button2_Click" style="height: 26px" />
            <asp:Button ID="Button3" runat="server" OnClick="Button3_Click" Text="insert invent prim woocom" />
            <asp:Button ID="Button4" runat="server" Text="Up hinh" OnClick="Button4_Click" />
            <asp:Button ID="Button5" runat="server" OnClick="Button5_Click" Text="customer insert crm" />
             <asp:Button ID="Button6" runat="server" Text="insert catelogy woo" OnClick="Button6_Click" />
            <asp:Button ID="Button7" runat="server" OnClick="Button7_Click" Text="Import product CRM" />
            <asp:Button ID="Button9" runat="server" OnClick="Button9_Click" Text="Import Promotion CRM" />
            <asp:Button ID="Button11" runat="server" OnClick="Button11_Click" Text="Import copon CRM" />
            <asp:Button ID="Button8" runat="server" OnClick="Button8_Click" Text="Import customer woocom" />
             <asp:Button ID="Button10" runat="server" Text="Import bill CRM" OnClick="Button10_Click" />
            <asp:Button ID="Button12" runat="server" OnClick="Button12_Click" Text="up store CRM" />
                <asp:Button ID="Button13" runat="server" Text="Store excel" OnClick="Button13_Click" />
            <br />
            <br />
            <asp:GridView ID="GridView1" runat="server" Width="100%" AutoGenerateColumns="False">
                <Columns>
                    <asp:BoundField DataField="address5" HeaderText="Province" />
                    <asp:BoundField DataField="store_number" HeaderText="Store number" />
                    <asp:BoundField DataField="store_code" HeaderText="code" />
                    <asp:BoundField DataField="store_code" HeaderText="Name" />
                       <asp:BoundField DataField="address1" HeaderText="Address" />
                      <asp:BoundField DataField="phone1" HeaderText="Phone" />
                </Columns>
             
            </asp:GridView>
        </div>
    </form>
</body>
</html>
