﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="test2.aspx.cs" Inherits="wooCommerce.test2" Async="true"%>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <script src="http://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>  
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>  

    <link href="http://cdn.grapecity.com/spreadjs/hosted/css/gc.spread.sheets.excel2013white.10.1.0.css" rel="stylesheet" type="text/css" />  
    <script type="text/javascript" src="http://cdn.grapecity.com/spreadjs/hosted/scripts/gc.spread.sheets.all.10.1.0.min.js"></script>  
    <script type="text/javascript" src="http://cdn.grapecity.com/spreadjs/hosted/scripts/interop/gc.spread.excelio.10.1.0.min.js"></script>  

    <script>
        var excelUrl = "Content/Tinh_04_10_2019.xls"; 
      var ExcelToJSON = function() {

  this.parseExcel = function(file) {
    var reader = new FileReader();

    reader.onload = function(e) {
      var data = e.target.result;
      var workbook = XLSX.read(data, {
        type: 'binary'
      });

      workbook.SheetNames.forEach(function(sheetName) {
        // Here is your object
        var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
        var json_object = JSON.stringify(XL_row_object);
        console.log(json_object);

      })

    };

    reader.onerror = function(ex) {
      console.log(ex);
    };

    reader.readAsBinaryString(file);
  };
};
    </script>
</head>
<body>
   
    <form id="form1" runat="server">
        <div>
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
               <asp:Button ID="Button15" runat="server" Text="Tìm sp woo" OnClick="Button15_Click" />
            <asp:Button ID="Button3" runat="server" Text="Hóa don trung" OnClick="Button3_Click" />
            <asp:Button ID="Button1" runat="server" Text="sửa customer vao prim" OnClick="Button1_Click" />
            <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="tạo customer" />
            <asp:Button ID="Button4" runat="server" OnClick="Button4_Click" Text="ds document" />
             <asp:Button ID="Button5" runat="server" Text="tìm customer" OnClick="Button5_Click" />
            <asp:Button ID="Button6" runat="server" OnClick="Button6_Click" Text="Tìm sp prism" />
             <asp:Button ID="Button16" runat="server"  Text="Tìm sp prism upc" OnClick="Button16_Click" />
                        <asp:Button ID="Button10" runat="server" Text="Tìm store" OnClick="Button10_Click" />
            <asp:Button ID="Button7" runat="server" OnClick="Button7_Click" Text="chi tiet hoa don" />
            <asp:Button ID="Button8" runat="server" OnClick="Button8_Click" Text="Nhập hóa don CRM" />
            <asp:Button ID="Button9" runat="server" OnClick="Button9_Click" Text="trả hóa đơn" />
            <asp:Button ID="Button13" runat="server"  Text="Up date thuoc tính woo" OnClick="Button13_Click" />
            <asp:Button ID="Button11" runat="server" Text="Token CRM" OnClick="Button11_Click" style="height: 26px" />
            <asp:Button ID="Button12" runat="server" Text="Convert Excell To Json" OnClick="Button12_Click" />
            <asp:Button ID="Button14" runat="server" OnClick="Button14_Click" Text="Get product Woo" />
            <asp:Button ID="Button17" runat="server"  Text="Get coupon Prism" OnClick="Button17_Click" />
            <asp:Button ID="Button18" runat="server"  Text="Get promotion Prism" OnClick="Button18_Click" />
             <asp:Button ID="Button19" runat="server"  Text="Find coupon" OnClick="Button19_Click"  />
             <asp:Button ID="Button20" runat="server"  Text="Find pro theo id coup" OnClick="Button20_Click" />
             <asp:Button ID="Button21" runat="server"  Text="Find address" OnClick="Button21_Click" />
            <asp:Button ID="Button22" runat="server" OnClick="Button22_Click" Text="Print" />
        <asp:Button ID="Button23" runat="server"  Text="bill có coupon" OnClick="Button23_Click" />
            <asp:Button ID="Button24" runat="server" OnClick="Button24_Click" Text="Couponsetcoupon" />
            <asp:Button ID="Button25" runat="server" OnClick="Button25_Click" Text="Run Url get cop code" />
            <asp:Button ID="Button26" runat="server" OnClick="Button26_Click" Text="get value coupon" />
            <asp:Button ID="Button27" runat="server" OnClick="Button27_Click" Text="Get promotion tenant_sid" />
            <asp:Button ID="Button28" runat="server" OnClick="Button28_Click" Text="Convert datime" />
        </div>
    </form>
</body>
</html>
