<div class="col-xs-3 no-left-padding">
  <label data-translate="2755">Lot Type</label>
</div>
<div class="col-xs-4">
  <select class="form-control" ng-disabled="$ctrl.service.noPermLNType||$ctrl.service.disableOnReadOnlyMode()||$ctrl.service.item.noninventory||($ctrl.service.item.kittype > 0 && $ctrl.service.item.kittype < 3)" ng-change="$ctrl.service.onTypesBlur({fieldName:'lottype',newValue:$ctrl.service.item.lottype})" ng-model="$ctrl.service.item.lottype" ng-options="type.value as type.text for type in $ctrl.service.lotTypeList"></select>
</div>
<div class="col-xs-3">
  <button event-name="invnLnMgmt" ng-disabled="$ctrl.service.item.lottype===0" ng-click="$ctrl.service.manageLotNos($ctrl.service.item);" type="button" class="btn btn-info btn-block"><span data-translate="5760">Lot Numbers</span></button>
</div>
