<div class="row top-margin">
    <div class="col-xs-{{labelWidth}} text-left">
        <label class="control-label" data-translate="4718">Memo Status</label>
    </div>
    <div class="col-xs-{{fieldWidth}}">
        <span ng-if="adjMemo.dispStatus">{{adjMemo.dispStatus}}</span>
        <span ng-if="!adjMemo.dispStatus">{{adjMemo.memo.status | memoStatus}}</span>
    </div>
</div>