<div class="row">
	<div class="col-xs-12">
		<div class="row no-margin">
      <ul class="nav nav-tabs nav-justified">
          <li ng-class="{'active':isTabSelected('pisheet')}">
              <a ng-click="onTabSelection('pisheet')" type="button"><span data-translate="3680">PI Sheet</span></a>
          </li>
          <li ng-class="{'active':isTabSelected('scanned')}">
              <a ng-click="onTabSelection('scanned')" type="button"><span data-translate="3694">Scanned</span></a>
          </li>
          <li ng-class="{'active':isTabSelected('discrepancy')}">
              <a ng-click="onTabSelection('discrepancy')" type="button"><span data-translate="3695">Discrepancy</span></a>
          </li>
          <li ng-class="{'active':isTabSelected('add_counts')}">
              <a ng-click="onTabSelection('add_counts')" ng-disabled="permissionService.checkDeny('pimodifyquantity')" type="button"><span data-translate="3696">Add Counts</span></a>
          </li>
          <li ng-class="{'active':isTabSelected('imported')}">
              <a ng-click="onTabSelection('imported')" type="button"><span data-translate="3697">Imported</span></a>
          </li>
          <li ng-class="{'active':isTabSelected('bad_scans')}">
            <a ng-click="onTabSelection('bad_scans')" type="button"><span data-translate="3698">Bad Scans</span></a>
          </li>
        </ul>
		</div>
		<div class="row no-margin">
			<div class="pi-tab-content">
				<pi-sheet-items></pi-sheet-items>
			</div>
		</div>
	</div>
</div>
