<h1><code ng:non-bindable="">barCode</code>
<div><span class="hint">directive in module <code ng:non-bindable="">prismApp.common</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="prismapp-common-directives-page prismapp-common-directives-barcode-page"><p>This directive when implemented on form input control will enable the control<br />
to accept scanned inputs from a bar code scanner (wedge handheld scanners, and <br />
IOS and camera scanners).</p>
<h3 id="description_proper-usage-formatting">Proper Usage Formatting</h3>
<pre><code class="lang-js"> &lt;input type=&#39;text&#39; bar-code ng-focuser=&#39;focusme&#39; ng-model=&#39;modelVal&#39; ng-keydown=&#39;keydownFunction($event)&#39; /&gt;
</code></pre>
<p>The example above is broken down into several sections explained below:</p>
<ul>
    <li>input - this directive will only work on input type form controls</li>
    <li>type=&#39;text&#39; - the type of the input must be text</li>
    <li>bar-code - this is the primary activator for the directive</li>
    <li>ng-focuser=&#39;focusme&#39; - ng-focuser is used to make sure after the scan is completed<br/>
    that the focus returns to your input, the variable inside the tag must store a boolean.</li>
    <li>ng-model=&#39;modelVal&#39; - standard angular model declaration to store the value you want to use</li>
    <li>ng-keydown=&#39;keydownFunction($event)&#39; - ng-keydown is optional.  Use only when you want a function<br/>
    to run after your scan is complete.  It doesn&#39;t matter what you name your function, but the parameter<br/>
    must be a single variable called $event if you plan to use IOS devices.  Prism uses this to manually<br/>
    pass in a carriage return, so you would in your function watch for $event.which = 13;</li>
</ul></div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;input bar-code&gt;
   ...
&lt;/input&gt;</pre>
</div>
</div>
