<h1><code ng:non-bindable="">ModelService</code>
<div><span class="hint">service in module <code ng:non-bindable="">prismApp.common.services</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="prismapp-common-services-modelservice-page"><p>ModelService factory provides and interface for retriving resources from the server and creating new resources to be sent to the server.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$injector">$injector</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_create">create(modelName)</h3>
<div class="create"><div class="modelservice-create-page"><p>Creates a new instances of the provided modelName. This method should be used when creating new resources to HTTP POST to the server.</p>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modelName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="modelservice-create-page"><p>string representation of serverside resource e.g.(Customer, Subsidiary, DrawerEvent)</p>
</div></td></tr></tbody></table><h5 id="methods_create_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="modelservice-create-page"><p>object representing the requested modelName type.</p>
</div></td></tr></table><h4 id="methods_create_example">Example</h4>
<div class="example"><div class="modelservice-create-page"><h6 id="methods_create_example_source">Source</h6>
<div source-edit="ModelServiceCreateExample" source-edit-deps="angular.js dependencies.js ModelServiceCreateExample.js" source-edit-html="index.html-8" source-edit-css="" source-edit-js="dependencies.js ModelServiceCreateExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-8" ng-html-wrap-loaded="ModelServiceCreateExample angular.js dependencies.js ModelServiceCreateExample.js"></pre>
<script type="text/ng-template" id="index.html-8">
<div ng-controller="ExampleController">
<form novalidate class="simple-form">
<table>
<tr><td>Resource:</td><td><input type="text" ng-model="params.modelName"/></td></tr>
</table>

<button ng-click="createResource()">Create</button>
</form>
<pre>form = {{params | json}}</pre>
<pre>

result = {{modelInstance | json}}
</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('ModelServiceExample.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelServiceCreateExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelServiceCreateExample.js"></pre>
<script type="text/ng-template" id="ModelServiceCreateExample.js">
angular.module('ModelServiceCreateExample', ['ModelServiceExample.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
           $scope.loggedin = false;

           if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
               $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
               $scope.loggedin = true;
           }


           $scope.params = {
               modelName: 'Subsidiary'
           };

           $scope.createResource = function () {
               $scope.modelInstance = ModelService.create($scope.params.modelName);
           };

       }]);
</script>
</div>
</div><h6 id="methods_create_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelServiceCreateExample" ng-set-html="index.html-8" ng-eval-javascript="dependencies.js ModelServiceCreateExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_create">create(modelName)</h3>
<div class="create"><div class="modelservice-create-page"><p>Creates a new instances of the provided modelName. This method should be used when creating new resources to HTTP POST to the server.</p>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modelName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="modelservice-create-page"><p>string representation of serverside resource e.g.(Customer, Subsidiary, DrawerEvent)</p>
</div></td></tr></tbody></table><h5 id="methods_create_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="modelservice-create-page"><p>object representing the requested modelName type.</p>
</div></td></tr></table><h4 id="methods_create_example">Example</h4>
<div class="example"><div class="modelservice-create-page"><h6 id="methods_create_example_source">Source</h6>
<div source-edit="ModelServiceCreateExample" source-edit-deps="angular.js dependencies.js ModelServiceCreateExample.js" source-edit-html="index.html-10" source-edit-css="" source-edit-js="dependencies.js ModelServiceCreateExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-10" ng-html-wrap-loaded="ModelServiceCreateExample angular.js dependencies.js ModelServiceCreateExample.js"></pre>
<script type="text/ng-template" id="index.html-10">
<div ng-controller="ExampleController">
<form novalidate class="simple-form">
<table>
<tr><td>Resource:</td><td><input type="text" ng-model="params.modelName"/></td></tr>
</table>

<button ng-click="createResource()">Create</button>
</form>
<pre>form = {{params | json}}</pre>
<pre>

result = {{modelInstance | json}}
</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('ModelServiceExample.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelServiceCreateExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelServiceCreateExample.js"></pre>
<script type="text/ng-template" id="ModelServiceCreateExample.js">
angular.module('ModelServiceCreateExample', ['ModelServiceExample.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
                 $scope.loggedin = false;

                 if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
                     $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
                     $scope.loggedin = true;
                 }


                 $scope.params = {
                     modelName: 'Subsidiary'
                 };

                 $scope.createResource = function () {
                     $scope.modelInstance = ModelService.create($scope.params.modelName);
                 };

             }]);
</script>
</div>
</div><h6 id="methods_create_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelServiceCreateExample" ng-set-html="index.html-10" ng-eval-javascript="dependencies.js ModelServiceCreateExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_fromcache">fromCache(modelName)</h3>
<div class="fromcache"><div class="modelservice-fromcache-page"><p>Returns the cached value for the specified modelName parameter.<br /></p>
<h4 id="methods_fromcache_usage-example">Usage Example</h4>
<pre><code class="lang-js">    ModelService.fromCache(&#39;ModelName&#39;);
</code></pre>
</div><h5 id="methods_fromcache_usage-example_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modelName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="modelservice-fromcache-page"><p>string representation of serverside resource e.g.(Customer, Subsidiary, DrawerEvent)</p>
</div></td></tr></tbody></table><h5 id="methods_fromcache_usage-example_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="modelservice-fromcache-page"><p>An array of the requested Model objects or undefined if not found.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_fromcache">fromCache(modelName)</h3>
<div class="fromcache"><div class="modelservice-fromcache-page"><p>Returns the cached value for the specified modelName parameter.</p>
</div><h5 id="methods_fromcache_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modelName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="modelservice-fromcache-page"><p>string representation of serverside resource e.g.(Customer, Subsidiary, DrawerEvent)</p>
</div></td></tr></tbody></table><h5 id="methods_fromcache_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="modelservice-fromcache-page"><p>An array of the requested Model objects or undefined if not found.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_get">get(modelName, params)</h3>
<div class="get"><div class="modelservice-get-page"><p>Retrieves existing resources from the server using HTTP GET operation.</p>
</div><h5 id="methods_get_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modelName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="modelservice-get-page"><p>string representation of serverside resource e.g.(Customer, Subsidiary, DrawerEvent)</p>
</div></td></tr><tr><td>params</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="modelservice-get-page"><p>object literal of filter, cols, sort and sid parameters <code>{ filter: &#39;document_sid,eq,123&#39;, sort: &#39;amount, desc&#39; }</code></p>
</div></td></tr></tbody></table><h5 id="methods_get_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="modelservice-get-page"><p>Promise object representing the result of the HTTP operation</p>
</div></td></tr></table><h4 id="methods_get_example">Example</h4>
<div class="example"><div class="modelservice-get-page"><h6 id="methods_get_example_source">Source</h6>
<div source-edit="ModelServiceGetExample" source-edit-deps="angular.js dependencies.js ModelServiceGetExample.js" source-edit-html="index.html-7" source-edit-css="" source-edit-js="dependencies.js ModelServiceGetExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-7" ng-html-wrap-loaded="ModelServiceGetExample angular.js dependencies.js ModelServiceGetExample.js"></pre>
<script type="text/ng-template" id="index.html-7">
<div ng-controller="ExampleController">
<div class="alert alert-error" ng-hide="loggedin">
   <i class="icon-warning-sign icon-white"></i>
   You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>Resource:</td><td><input type="text" ng-model="params.modelName"/></td></tr>
<tr><td>Filter:</td><td> <input type="text" ng-model="params.filter"/></td></tr>
<tr><td>Cols:</td><td><input type="text" ng-model="params.cols"/></td></tr>
<tr><td>Sort:</td><td><input type="text" ng-model="params.sort"/></td></tr>
</table>

<button ng-click="getResource()">GET</button>
</form>
<pre>form = {{params | json}}</pre>
<pre>
result.length = {{result.length}}
result = {{result | json}}
</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
   angular.module('ModelServiceExample.dependecies', [
       'prismApp.common.services',
       'prismApp.common.models',
       'ui.bootstrap.modal',
       'ngResource',
       'Class'
   ]);
</script>
</div>
<div class="tab-pane" title="ModelServiceGetExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelServiceGetExample.js"></pre>
<script type="text/ng-template" id="ModelServiceGetExample.js">
angular.module('ModelServiceGetExample', ['ModelServiceExample.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
           $scope.loggedin = false;

           if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
               $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
               $scope.loggedin = true;
           }

           $scope.params = {
               modelName: 'Subsidiary',
               sort: 'ASC',
               cols: '*'
           };
           $scope.getResource = function () {
               var parameters = {};

               if($scope.params.filter){
                    parameters.filter = $scope.params.filter;
               }
               if($scope.params.cols){
                    parameters.cols = $scope.params.cols;
               }
               if($scope.params.sort){
                    parameters.sort = $scope.params.sort;
               }

               ModelService.get($scope.params.modelName, parameters)
                   .then(function(resource){
                       $scope.result = resource;
                       console.log($scope.result);
                   });
           };

       }]);
</script>
</div>
</div><h6 id="methods_get_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelServiceGetExample" ng-set-html="index.html-7" ng-eval-javascript="dependencies.js ModelServiceGetExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_get">get(modelName, params)</h3>
<div class="get"><div class="modelservice-get-page"><p>Retrieves existing resources from the server using HTTP GET operation.</p>
</div><h5 id="methods_get_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modelName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="modelservice-get-page"><p>string representation of serverside resource e.g.(Customer, Subsidiary, DrawerEvent)</p>
</div></td></tr><tr><td>params</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="modelservice-get-page"><p>object literal of filter, cols, sort and sid parameters <code>{ filter: &#39;document_sid,eq,123&#39;, sort: &#39;amount, desc&#39; }</code></p>
</div></td></tr></tbody></table><h5 id="methods_get_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="modelservice-get-page"><p>Promise object representing the result of the HTTP operation</p>
</div></td></tr></table><h4 id="methods_get_example">Example</h4>
<div class="example"><div class="modelservice-get-page"><h6 id="methods_get_example_source">Source</h6>
<div source-edit="ModelServiceGetExample" source-edit-deps="angular.js dependencies.js ModelServiceGetExample.js" source-edit-html="index.html-9" source-edit-css="" source-edit-js="dependencies.js ModelServiceGetExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-9" ng-html-wrap-loaded="ModelServiceGetExample angular.js dependencies.js ModelServiceGetExample.js"></pre>
<script type="text/ng-template" id="index.html-9">
<div ng-controller="ExampleController">
<div class="alert alert-error" ng-hide="loggedin">
<i class="icon-warning-sign icon-white"></i>
You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>Resource:</td><td><input type="text" ng-model="params.modelName"/></td></tr>
<tr><td>Filter:</td><td> <input type="text" ng-model="params.filter"/></td></tr>
<tr><td>Cols:</td><td><input type="text" ng-model="params.cols"/></td></tr>
<tr><td>Sort:</td><td><input type="text" ng-model="params.sort"/></td></tr>
</table>

<button ng-click="getResource()">GET</button>
</form>
<pre>form = {{params | json}}</pre>
<pre>
result.length = {{result.length}}
result = {{result | json}}
</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('ModelServiceExample.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelServiceGetExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelServiceGetExample.js"></pre>
<script type="text/ng-template" id="ModelServiceGetExample.js">
angular.module('ModelServiceGetExample', ['ModelServiceExample.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
                 $scope.loggedin = false;

                 if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
                     $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
                     $scope.loggedin = true;
                 }

                 $scope.params = {
                     modelName: 'Subsidiary',
                     sort: 'ASC',
                     cols: '*'
                 };
                 $scope.getResource = function () {
                     var parameters = {};

                     if($scope.params.filter){
                          parameters.filter = $scope.params.filter;
                     }
                     if($scope.params.cols){
                          parameters.cols = $scope.params.cols;
                     }
                     if($scope.params.sort){
                          parameters.sort = $scope.params.sort;
                     }

                     ModelService.get($scope.params.modelName, parameters)
                         .then(function(resource){
                             $scope.result = resource;
                             console.log($scope.result);
                         });
                 };

             }]);
</script>
</div>
</div><h6 id="methods_get_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelServiceGetExample" ng-set-html="index.html-9" ng-eval-javascript="dependencies.js ModelServiceGetExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_wrapresponse">wrapResponse(modelName, the)</h3>
<div class="wrapresponse"><div class="modelservice-wrapresponse-page"><p>Given a raw json from a $http post request (external to model) returns formated objects that comply with provided modelName.</p>
</div><h5 id="methods_wrapresponse_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modelName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="modelservice-wrapresponse-page"><p>string representation of serverside resource e.g.(Customer, Subsidiary, DrawerEvent)</p>
</div></td></tr><tr><td>the</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="modelservice-wrapresponse-page"><p>json response to be converted to Model objects</p>
</div></td></tr></tbody></table><h5 id="methods_wrapresponse_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="modelservice-wrapresponse-page"><p>An array of the requested Model objects or undefined if not found.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
