<h1><code ng:non-bindable="">ModelEvent</code>
<div><span class="hint">service in module <code ng:non-bindable="">prismApp.common.services</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="prismapp-common-services-modelevent-page"><p>The ModelEvent service can be used to add listeners that will execute a specific handler whenever a certain Model executes a save, insert, or delete operation.<br /></p>
<h3 id="description_proper-usage-formatting">Proper Usage Formatting</h3>
<pre><code class="lang-js"> prismApp.controller(&#39;myController&#39;, [&#39;$scope&#39;, &#39;ModelEvent&#39;,
 function($scope, ModelEvent){

}]);
</code></pre>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addlistener">addListener(model, events, handler)</h3>
<div class="addlistener"><div class="modelevent-addlistener-page"><p>Add a handler function that listens for operations on the specified object type (e.g. Customer, Document, etc) and the specified event type (e.g. onBeforeSave, onAfterSave, onBeforeInsert, onAfterInsert, onBeforeRemove, and onAfterRemove)</p>
</div><h5 id="methods_addlistener_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>model</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="modelevent-addlistener-page"><p>The desired model to listen for events (e.g. customer, document, etc)</p>
</div></td></tr><tr><td>events</td><td><a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="modelevent-addlistener-page"><p>The desired event(s) to listen for (e.g. onBeforeSave, onAfterSave, onBeforeInsert, onAfterInsert, onBeforeRemove, and onAfterRemove). This parameter can be a string or an array of multiple events.</p>
</div></td></tr><tr><td>handler</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="modelevent-addlistener-page"><p>function that will execute when the specified event fires. This handler function must return a promise to be resolved or rejected</p>
</div></td></tr></tbody></table><h5 id="methods_addlistener_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="modelevent-addlistener-page"><p>token used for removing handlers.</p>
</div></td></tr></table><h4 id="methods_addlistener_example">Example</h4>
<div class="example"><div class="modelevent-addlistener-page"><h6 id="methods_addlistener_example_source">Source</h6>
<div source-edit="ModelEventAddListenerExample" source-edit-deps="angular.js dependencies.js ModelEventAddListenerExample.js" source-edit-html="index.html-5" source-edit-css="" source-edit-js="dependencies.js ModelEventAddListenerExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-5" ng-html-wrap-loaded="ModelEventAddListenerExample angular.js dependencies.js ModelEventAddListenerExample.js"></pre>
<script type="text/ng-template" id="index.html-5">
<div ng-controller="ExampleController">
<div class="alert alert-error" ng-hide="loggedin">
   <i class="icon-warning-sign icon-white"></i>
   You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>First Name:</td><td><input type="text" ng-model="customer.first_name"/></td></tr>
<tr><td>Last Name:</td><td> <input type="text" ng-model="customer.last_name"/></td></tr>
</table>
<button ng-click="addBeforeListener()">Add Before Insert Listener</button>
<button ng-click="insertCustomer()">Insert Customer</button>
<button ng-click="reset()">Reset</button>
</form>
<pre>customer = {{customer | json}}</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('example.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelEventAddListenerExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelEventAddListenerExample.js"></pre>
<script type="text/ng-template" id="ModelEventAddListenerExample.js">
angular.module('ModelEventAddListenerExample', ['example.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', 'ModelEvent', function ($scope, $http, ModelService, ModelEvent) {
           $scope.loggedin = false;

           if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
               $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
               $scope.loggedin = true;
           }


           $scope.reset = function(){
               //create an empty customer
               $scope.customer = ModelService.create('Customer');
           }

           $scope.insertCustomer = function () {
               $scope.customer.insert()
                   .then(function(){
                       alert('Customer inserted!');
                   }, function(){
                       alert('Customer insert failed!');
                   });
           };

           $scope.addBeforeListener = function(){
               var handlerBefore = function($q, customer){
                   var d = $q.defer();
                   console.log('Customer Begin Save');

                   //change the first_name of the customer before it is saved
                   customer.first_name = 'Joe';

                   d.resolve();
                   return d.promise;
               };

               ModelEvent.addListener('customer', 'onBeforeInsert', handlerBefore);
           };

           $scope.reset();
       }]);
</script>
</div>
</div><h6 id="methods_addlistener_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelEventAddListenerExample" ng-set-html="index.html-5" ng-eval-javascript="dependencies.js ModelEventAddListenerExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_removelistener">removeListener(token)</h3>
<div class="removelistener"><div class="modelevent-removelistener-page"><p>Removes all handlers bound to the specified token. This token is returned by <code>ModelEvent.addHandler</code>.</p>
</div><h5 id="methods_removelistener_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="modelevent-removelistener-page"><p>the token to used to remove bound handlers</p>
</div></td></tr></tbody></table><h4 id="methods_removelistener_example">Example</h4>
<div class="example"><div class="modelevent-removelistener-page"><h6 id="methods_removelistener_example_source">Source</h6>
<div source-edit="ModelEventRemoveListenerExample" source-edit-deps="angular.js dependencies.js ModelEventRemoveListenerExample.js" source-edit-html="index.html-6" source-edit-css="" source-edit-js="dependencies.js ModelEventRemoveListenerExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-6" ng-html-wrap-loaded="ModelEventRemoveListenerExample angular.js dependencies.js ModelEventRemoveListenerExample.js"></pre>
<script type="text/ng-template" id="index.html-6">
<div ng-controller="ExampleController">
<div class="alert alert-error" ng-hide="loggedin">
   <i class="icon-warning-sign icon-white"></i>
   You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>First Name:</td><td><input type="text" ng-model="customer.first_name"/></td></tr>
<tr><td>Last Name:</td><td> <input type="text" ng-model="customer.last_name"/></td></tr>
</table>
<button ng-click="addBeforeListener()">Add Before Insert Listener</button>
<button ng-click="removeListeners()">Remove Listeners</button>
<button ng-click="insertCustomer()">Insert Customer</button>
<button ng-click="reset()">Reset</button>
</form>
<pre>customer = {{customer | json}}</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('example.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelEventRemoveListenerExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelEventRemoveListenerExample.js"></pre>
<script type="text/ng-template" id="ModelEventRemoveListenerExample.js">
angular.module('ModelEventRemoveListenerExample', ['example.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', 'ModelEvent', function ($scope, $http, ModelService, ModelEvent) {
           $scope.loggedin = false;

           if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
               $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
               $scope.loggedin = true;
           }


           $scope.tokens = [];
           $scope.reset = function(){
               //create an empty customer
               $scope.customer = ModelService.create('Customer');
           }

           $scope.insertCustomer = function () {
               $scope.customer.insert()
                   .then(function(){
                       alert('Customer inserted!');
                   }, function(){
                       alert('Customer insert failed!');
                   });
           };

           $scope.addBeforeListener = function(){
               var handlerBefore = function($q, customer){
                   var d = $q.defer();
                   console.log('Customer Begin Save');

                   //change the first_name of the customer before it is saved
                   customer.first_name = 'Joe';

                   d.resolve();
                   return d.promise;
               };

               $scope.tokens.push(ModelEvent.addListener('customer', 'onBeforeInsert', handlerBefore));
           };

            $scope.removeListeners = function(){
               //remove handlers for each token
               for(var i = 0, len = $scope.tokens.length; i < len; i++){
                   ModelEvent.removeListener($scope.tokens[i]);
               }

               //clear the array of tokens
               $scope.tokens.length = 0;
           };

           $scope.reset();
       }]);
</script>
</div>
</div><h6 id="methods_removelistener_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelEventRemoveListenerExample" ng-set-html="index.html-6" ng-eval-javascript="dependencies.js ModelEventRemoveListenerExample.js"></div>
</div></div>
</div>
</li>
</ul>
</div>
</div>
