<h1><code ng:non-bindable="">BaseModel</code>
<div><span class="hint">service in module <code ng:non-bindable="">prismApp.common.models</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="prismapp-common-models-basemodel-page"><p>Base Model all other models inherit from this base.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/prismApp.common.services.ModelAttributeEvent">ModelAttributeEvent</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/prismApp.common.services.ModelEvent">ModelEvent</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_insert">insert()</h3>
<div class="insert"><div class="basemodel-insert-page"><p>Inserts the current model instance on the server via an HTTP POST operation</p>
</div><h5 id="methods_insert_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="basemodel-insert-page"><p>Promise object representing the result of the HTTP operation</p>
</div></td></tr></table><h4 id="methods_insert_example">Example</h4>
<div class="example"><div class="basemodel-insert-page"><h6 id="methods_insert_example_source">Source</h6>
<div source-edit="ModelObjectInsertExample" source-edit-deps="angular.js dependencies.js ModelObjectInsertExample.js" source-edit-html="index.html-0" source-edit-css="" source-edit-js="dependencies.js ModelObjectInsertExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-0" ng-html-wrap-loaded="ModelObjectInsertExample angular.js dependencies.js ModelObjectInsertExample.js"></pre>
<script type="text/ng-template" id="index.html-0">
<div ng-controller="ExampleController">
 <div class="alert alert-error" ng-hide="loggedin">
   <i class="icon-warning-sign icon-white"></i>
   You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>First Name:</td><td><input type="text" ng-model="customer.first_name"/></td></tr>
<tr><td>Last Name:</td><td> <input type="text" ng-model="customer.last_name"/></td></tr>
</table>

<button ng-click="insertCustomer()">Insert Customer</button>
<button ng-click="reset()">Reset</button>
</form>
<pre>customer = {{customer | json}}</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('example.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelObjectInsertExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelObjectInsertExample.js"></pre>
<script type="text/ng-template" id="ModelObjectInsertExample.js">
angular.module('ModelObjectInsertExample', ['example.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
       $scope.loggedin = false;

       if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
           $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
           $scope.loggedin = true;
       }

       $scope.reset = function(){
           //create an empty customer
           $scope.customer = ModelService.create('Customer');
       }

       $scope.insertCustomer = function () {
           $scope.customer.insert()
               .then(function(){
                   alert('Customer inserted!');
               }, function(){
                   alert('Customer insert failed!');
               });
       };

       $scope.reset();
   }]);
</script>
</div>
</div><h6 id="methods_insert_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelObjectInsertExample" ng-set-html="index.html-0" ng-eval-javascript="dependencies.js ModelObjectInsertExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_insert">insert()</h3>
<div class="insert"><div class="basemodel-insert-page"><p>Inserts the current model instance on the server via an HTTP POST operation</p>
</div><h5 id="methods_insert_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="basemodel-insert-page"><p>Promise object representing the result of the HTTP operation</p>
</div></td></tr></table><h4 id="methods_insert_example">Example</h4>
<div class="example"><div class="basemodel-insert-page"><h6 id="methods_insert_example_source">Source</h6>
<div source-edit="ModelObjectInsertExample" source-edit-deps="angular.js dependencies.js ModelObjectInsertExample.js" source-edit-html="index.html-3" source-edit-css="" source-edit-js="dependencies.js ModelObjectInsertExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-3" ng-html-wrap-loaded="ModelObjectInsertExample angular.js dependencies.js ModelObjectInsertExample.js"></pre>
<script type="text/ng-template" id="index.html-3">
<div ng-controller="ExampleController">
<div class="alert alert-error" ng-hide="loggedin">
<i class="icon-warning-sign icon-white"></i>
You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>First Name:</td><td><input type="text" ng-model="customer.first_name"/></td></tr>
<tr><td>Last Name:</td><td> <input type="text" ng-model="customer.last_name"/></td></tr>
</table>

<button ng-click="insertCustomer()">Insert Customer</button>
<button ng-click="reset()">Reset</button>
</form>
<pre>customer = {{customer | json}}</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('example.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelObjectInsertExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelObjectInsertExample.js"></pre>
<script type="text/ng-template" id="ModelObjectInsertExample.js">
angular.module('ModelObjectInsertExample', ['example.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
               $scope.loggedin = false;

               if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
                   $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
                   $scope.loggedin = true;
               }

               $scope.reset = function(){
                   //create an empty customer
                   $scope.customer = ModelService.create('Customer');
               }

               $scope.insertCustomer = function () {
                   $scope.customer.insert()
                       .then(function(){
                           alert('Customer inserted!');
                       }, function(){
                           alert('Customer insert failed!');
                       });
               };

               $scope.reset();
           }]);
</script>
</div>
</div><h6 id="methods_insert_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelObjectInsertExample" ng-set-html="index.html-3" ng-eval-javascript="dependencies.js ModelObjectInsertExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_remove">remove()</h3>
<div class="remove"><div class="basemodel-remove-page"><p>Remove the current instance of the Object from the server via an HTTP DELETE operation</p>
</div><h5 id="methods_remove_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="basemodel-remove-page"><p>Promise object representing the result of the HTTP operation</p>
</div></td></tr></table><h4 id="methods_remove_example">Example</h4>
<div class="example"><div class="basemodel-remove-page"><h6 id="methods_remove_example_source">Source</h6>
<div source-edit="ModelObjectDeleteExample" source-edit-deps="angular.js dependencies.js ModelObjectDeleteExample.js" source-edit-html="index.html-1" source-edit-css="" source-edit-js="dependencies.js ModelObjectDeleteExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-1" ng-html-wrap-loaded="ModelObjectDeleteExample angular.js dependencies.js ModelObjectDeleteExample.js"></pre>
<script type="text/ng-template" id="index.html-1">
<div ng-controller="ExampleController">
 <div class="alert alert-error" ng-hide="loggedin">
   <i class="icon-warning-sign icon-white"></i>
   You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>Customer SID:</td><td><input type="text" ng-model="params.sid"/></td></tr>
<tr><td><button ng-click="getCustomer()">Get Customer</button></td> <td><button ng-click="reset()">Reset</button></td></tr>

<tr><td>First Name:</td><td> <input type="text" ng-model="customer.first_name"/></td></tr>
<tr><td>Last Name:</td><td> <input type="text" ng-model="customer.last_name"/></td></tr>
<tr><td><button ng-click="removeCustomer()" ng-disabled="!customer">Remove Customer</button></td></tr>
</table>



</form>
<pre>customer = {{customer | json}}</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('example.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelObjectDeleteExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelObjectDeleteExample.js"></pre>
<script type="text/ng-template" id="ModelObjectDeleteExample.js">
angular.module('ModelObjectDeleteExample', ['example.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
       $scope.loggedin = false;

       if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
           $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
           $scope.loggedin = true;
       }


       $scope.params = {};

       $scope.reset = function(){
           //create an empty customer
           $scope.customer = null;
           $scope.params = {};
       }

       $scope.getCustomer = function(){
           ModelService.get('Customer', { sid: $scope.params.sid })
               .then(function(response){
                   $scope.customer = response[0];
               });
        };

       $scope.removeCustomer = function(){
           $scope.customer.remove()
               .then(function(){
                   $scope.customer = null;
                   alert('Customer Removed!');
               },
               function(){
                   alert('Customer remove failed!');
               });
        };


   }]);
</script>
</div>
</div><h6 id="methods_remove_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelObjectDeleteExample" ng-set-html="index.html-1" ng-eval-javascript="dependencies.js ModelObjectDeleteExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_remove">remove()</h3>
<div class="remove"><div class="basemodel-remove-page"><p>Remove the current instance of the Object from the server via an HTTP DELETE operation</p>
</div><h5 id="methods_remove_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="basemodel-remove-page"><p>Promise object representing the result of the HTTP operation</p>
</div></td></tr></table><h4 id="methods_remove_example">Example</h4>
<div class="example"><div class="basemodel-remove-page"><h6 id="methods_remove_example_source">Source</h6>
<div source-edit="ModelObjectDeleteExample" source-edit-deps="angular.js dependencies.js ModelObjectDeleteExample.js" source-edit-html="index.html-4" source-edit-css="" source-edit-js="dependencies.js ModelObjectDeleteExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-4" ng-html-wrap-loaded="ModelObjectDeleteExample angular.js dependencies.js ModelObjectDeleteExample.js"></pre>
<script type="text/ng-template" id="index.html-4">
<div ng-controller="ExampleController">
<div class="alert alert-error" ng-hide="loggedin">
<i class="icon-warning-sign icon-white"></i>
You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>Customer SID:</td><td><input type="text" ng-model="params.sid"/></td></tr>
<tr><td><button ng-click="getCustomer()">Get Customer</button></td> <td><button ng-click="reset()">Reset</button></td></tr>

<tr><td>First Name:</td><td> <input type="text" ng-model="customer.first_name"/></td></tr>
<tr><td>Last Name:</td><td> <input type="text" ng-model="customer.last_name"/></td></tr>
<tr><td><button ng-click="removeCustomer()" ng-disabled="!customer">Remove Customer</button></td></tr>
</table>



</form>
<pre>customer = {{customer | json}}</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('example.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelObjectDeleteExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelObjectDeleteExample.js"></pre>
<script type="text/ng-template" id="ModelObjectDeleteExample.js">
angular.module('ModelObjectDeleteExample', ['example.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
               $scope.loggedin = false;

               if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
                   $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
                   $scope.loggedin = true;
               }


               $scope.params = {};

               $scope.reset = function(){
                   //create an empty customer
                   $scope.customer = null;
                   $scope.params = {};
               }

               $scope.getCustomer = function(){
                   ModelService.get('Customer', { sid: $scope.params.sid })
                       .then(function(response){
                           $scope.customer = response[0];
                       });
                };

               $scope.removeCustomer = function(){
                   $scope.customer.remove()
                       .then(function(){
                           $scope.customer = null;
                           alert('Customer Removed!');
                       },
                       function(){
                           alert('Customer remove failed!');
                       });
                };


           }]);
</script>
</div>
</div><h6 id="methods_remove_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelObjectDeleteExample" ng-set-html="index.html-4" ng-eval-javascript="dependencies.js ModelObjectDeleteExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_save">save()</h3>
<div class="save"><div class="basemodel-save-page"><p>Saves the current model instance to the server via an HTTP PUT operation</p>
</div><h5 id="methods_save_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="basemodel-save-page"><p>Promise object representing the result of the HTTP operation</p>
</div></td></tr></table><h4 id="methods_save_example">Example</h4>
<div class="example"><div class="basemodel-save-page"><h6 id="methods_save_example_source">Source</h6>
<div source-edit="ModelObjectSaveExample" source-edit-deps="angular.js dependencies.js ModelObjectSaveExample.js" source-edit-html="index.html" source-edit-css="" source-edit-js="dependencies.js ModelObjectSaveExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html" ng-html-wrap-loaded="ModelObjectSaveExample angular.js dependencies.js ModelObjectSaveExample.js"></pre>
<script type="text/ng-template" id="index.html">
<div ng-controller="ExampleController">
<div class="alert alert-error" ng-hide="loggedin">
   <i class="icon-warning-sign icon-white"></i>
   You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>Customer SID:</td><td><input type="text" ng-model="params.sid"/></td></tr>
<tr><td><button ng-click="getCustomer()">Get Customer</button></td> <td><button ng-click="reset()">Reset</button></td></tr>

<tr><td>First Name:</td><td> <input type="text" ng-model="customer.first_name"/></td></tr>
<tr><td>Last Name:</td><td> <input type="text" ng-model="customer.last_name"/></td></tr>
<tr><td><button ng-click="saveCustomer()" ng-disabled="!customer">Save Customer</button></td></tr>
</table>



</form>
<pre>customer = {{customer | json}}</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('example.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelObjectSaveExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelObjectSaveExample.js"></pre>
<script type="text/ng-template" id="ModelObjectSaveExample.js">
angular.module('ModelObjectSaveExample', ['example.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
       $scope.loggedin = false;

       if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
           $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
           $scope.loggedin = true;
       }


       $scope.params = {};

       $scope.reset = function(){
           //create an empty customer
           $scope.customer = null;
           $scope.params = {};
       }

       $scope.getCustomer = function(){
           ModelService.get('Customer', { sid: $scope.params.sid })
               .then(function(response){
                   $scope.customer = response[0];
               });
        };

       $scope.saveCustomer = function(){
           $scope.customer.save()
               .then(function(){
                   alert('Customer Saved!');
               },
               function(){
                   alert('Customer Save Failed!');
               });
        };


   }]);
</script>
</div>
</div><h6 id="methods_save_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelObjectSaveExample" ng-set-html="index.html" ng-eval-javascript="dependencies.js ModelObjectSaveExample.js"></div>
</div></div>
</div>
</li>
<li><h3 id="methods_save">save()</h3>
<div class="save"><div class="basemodel-save-page"><p>Saves the current model instance to the server via an HTTP PUT operation</p>
</div><h5 id="methods_save_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="basemodel-save-page"><p>Promise object representing the result of the HTTP operation</p>
</div></td></tr></table><h4 id="methods_save_example">Example</h4>
<div class="example"><div class="basemodel-save-page"><h6 id="methods_save_example_source">Source</h6>
<div source-edit="ModelObjectSaveExample" source-edit-deps="angular.js dependencies.js ModelObjectSaveExample.js" source-edit-html="index.html-2" source-edit-css="" source-edit-js="dependencies.js ModelObjectSaveExample.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-2" ng-html-wrap-loaded="ModelObjectSaveExample angular.js dependencies.js ModelObjectSaveExample.js"></pre>
<script type="text/ng-template" id="index.html-2">
<div ng-controller="ExampleController">
<div class="alert alert-error" ng-hide="loggedin">
<i class="icon-warning-sign icon-white"></i>
You must login to use this code example.
</div>
<form novalidate class="simple-form">
<table>
<tr><td>Customer SID:</td><td><input type="text" ng-model="params.sid"/></td></tr>
<tr><td><button ng-click="getCustomer()">Get Customer</button></td> <td><button ng-click="reset()">Reset</button></td></tr>

<tr><td>First Name:</td><td> <input type="text" ng-model="customer.first_name"/></td></tr>
<tr><td>Last Name:</td><td> <input type="text" ng-model="customer.last_name"/></td></tr>
<tr><td><button ng-click="saveCustomer()" ng-disabled="!customer">Save Customer</button></td></tr>
</table>



</form>
<pre>customer = {{customer | json}}</pre>

</div>
</script>
</div>
<div class="tab-pane" title="dependencies.js">
<pre class="prettyprint linenums" ng-set-text="dependencies.js"></pre>
<script type="text/ng-template" id="dependencies.js">
angular.module('example.dependecies', [
'prismApp.common.services',
'prismApp.common.models',
'ui.bootstrap.modal',
'ngResource',
'Class'
]);
</script>
</div>
<div class="tab-pane" title="ModelObjectSaveExample.js">
<pre class="prettyprint linenums" ng-set-text="ModelObjectSaveExample.js"></pre>
<script type="text/ng-template" id="ModelObjectSaveExample.js">
angular.module('ModelObjectSaveExample', ['example.dependecies'])
.controller('ExampleController', ['$scope', '$http', 'ModelService', function ($scope, $http, ModelService) {
               $scope.loggedin = false;

               if(!$http.defaults.headers.common['Auth-Session'] && sessionStorage.getItem('PRISMAUTH')){
                   $http.defaults.headers.common['Auth-Session']= sessionStorage.getItem('PRISMAUTH');
                   $scope.loggedin = true;
               }


               $scope.params = {};

               $scope.reset = function(){
                   //create an empty customer
                   $scope.customer = null;
                   $scope.params = {};
               }

               $scope.getCustomer = function(){
                   ModelService.get('Customer', { sid: $scope.params.sid })
                       .then(function(response){
                           $scope.customer = response[0];
                       });
                };

               $scope.saveCustomer = function(){
                   $scope.customer.save()
                       .then(function(){
                           alert('Customer Saved!');
                       },
                       function(){
                           alert('Customer Save Failed!');
                       });
                };


           }]);
</script>
</div>
</div><h6 id="methods_save_example_demo">Demo</h6>
<div class="well doc-example-live animate-container" ng-embed-app="ModelObjectSaveExample" ng-set-html="index.html-2" ng-eval-javascript="dependencies.js ModelObjectSaveExample.js"></div>
</div></div>
</div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_dirty">dirty</h3>
<div class="dirty"><div class="basemodel-dirty-page"><p>Contains an Object of key/pair values representing attributes that have been changed and the previous value of that changed attribute.</p>
</div></div>
</li>
<li><h3 id="properties_dirty">dirty</h3>
<div class="dirty"><div class="basemodel-dirty-page"><p>Contains an Object of key/pair values representing attributes that have been changed and the previous value of that changed attribute.</p>
</div></div>
</li>
</ul>
</div>
</div>
