<h1><code ng:non-bindable="">rpSelectInput</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="rpselectinput-page"><p>.<br />
View Path: components/common/rp-select-input/rp-select-input.htm<br />
Available Bindings:<br/></p>
<ul><li>repeaterData - data list<li><li>defaultObj:&#39;&lt;&#39;, //default selected value<li><li>forceReset:&#39;&lt;&#39;,//If true select will revert to unselected after selection<li><li>callBack:&#39;&amp;&#39;, //(optional) call back function for paging and filtering - if null paging controls are not displayed<li><li>page:&#39;=&#39;, //(required if callBack) Current page of repeaterData<li><li>isLastPage:&#39;&lt;&#39;, //(required if callBack) boolean tells the component there are no more pages<li><li>keyString:&#39;&lt;&#39;, //string list of fields to display from repeater data syntax: &#39;field_1 + &quot;-&quot; + field_2 + &quot; any thing &quot; + field_3&#39;<li><li>valueKey:&#39;&lt;&#39;, //(Optional) key that will be saved into ngModel from selected repeaterObj record.  If null entire object is saved to ngModel<li><li>ngModel:&#39;=&#39;,<li><li>filterString:&#39;=?&#39;, //variable bound to search filter of modal list - optional<li><li>ngChange:&#39;&amp;&#39;,<li><li>isDisabled:&#39;&lt;&#39;,<li><li>permissions:&#39;&lt;&#39;,<li><li>eventHook:&#39;&lt;&#39;, // name used to trigger model event for plugins<li><li>form:&#39;=&#39;,<li><li>suppressTranslate:&#39;&lt;&#39;,<li><li>allowNone: &#39;&lt;&#39;,<li><li>required:&#39;&lt;&#39;<li><li>required:&#39;&lt;&#39;<li></ul></div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">&lt;rp-select-input&gt;
&lt;/rp-select-input&gt;</pre>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="rpselectinput-page"><h3 id="example_proper-usage-formatting">Proper Usage Formatting</h3>
<pre><code class="lang-html">&lt;rp-select-input event-hook=&quot;posSelectTender&quot; ng-if=&quot;currencies&quot; required=&quot;true&quot; ng-model=&quot;subsidiary.basecurrencysid&quot; key-string=&quot;&#39;currencyname&#39;&quot; value-key=&quot;&#39;sid&#39;&quot; repeater-data=&quot;currencies&quot;&gt;&lt;/rp-select-input&gt;
</code></pre>
</div></div>
</div>
