<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-4">
                <h3 data-translate="5070">Loyalty item selection</h3>
            </div>
            <div class="col-xs-4 col-xs-offset-4">
                <div class="row">
                    <div class="col-xs-6">
                        <label data-translate="634">Sort By</label>
                        <select class="form-control" ng-disabled="!(searching !== true)" ng-change="sortItems()" ng-options="sort.value as sort.name |           translate for sort in sortBy" ng-model="sortItems.sortby"></select>
                    </div>
                    <div class="col-xs-6">
                        <label data-translate="908">Sort Order</label>
                        <select class="form-control" ng-disabled="!(searching !== true)" ng-change="sortItems()" ng-options="order.value as order.name |           translate for order in orderBy" ng-model="sortItems.orderby"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body redeem-item">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-12">
                    <div id="redeemItem" class="panel panel-default ModalSearchPanel autoOverflow">

                        <div ng-if="lookup.length === 0" class="alert alert-warning" role="alert">
                            <span data-translate="5374">There is no items available for redeem this time.</span>
                        </div>

                        <div class="list-group">
                            <span name="link{{$index}}" event-name="redeemItemSelectionThisItem" id="redeemLookupResult{{$index}}" index="{{$index}}" class="list-group-item" ng-class="{'loyalty-active-item':activeItem === thisInventory}" data-item-group="data-item-group" ng-repeat="thisInventory in lookup">
                                <div class="row">
                                    <div class="col-xs-7">
                                      <a ng-disabled="thisInventory.checkedForRedeem !== true && thisInventory.lty_price_in_points_ext > availPts" ng-click="toggleSelect(true, thisInventory);">
                                        <loyalty-item-select></loyalty-item-select>
                                      </a>
                                    </div>
                                    <div class="col-xs-4">
                                       <div class="row">
                                          <div class="col-xs-3">
                                            <strong data-translate="772">Quantity</strong> {{ thisInventory.quantity}}
                                          </div>

                                          <div class="col-xs-4" ng-if="thisInventory.checkedForRedeem">
                                            <div class="row">
                                              <strong class="col-xs-8" data-translate="6338">Redeem Qty</strong>
                                              <input class="col-xs-4" style="margin-top:-5px; z-index:999999" ng-disabled="disable" type="text" numberonly="" data-currency-formatter="number" ng-blur="updateRedeemQty(thisInventory);" ng-model="thisInventory.redeem_qty" id="redeemQty">
                                            </div>
                                          </div>

                                          <div ng-class="{'col-xs-9': !thisInventory.checkedForRedeem, 'col-xs-5': thisInventory.checkedForRedeem}">
                                            <div class="row">
                                              <a ng-disabled="thisInventory.checkedForRedeem !== true && thisInventory.lty_price_in_points_ext > availPts" ng-click="toggleSelect(true, thisInventory);">
                                                <div class="col-xs-5" ng-if="!thisInventory.checkedForRedeem">
                                                  <strong data-translate="6338">Redeem Qty</strong> {{ thisInventory.redeem_qty}}
                                                </div>
                                                <div ng-class="{'col-xs-7': !thisInventory.checkedForRedeem, 'col-xs-12': thisInventory.checkedForRedeem}">
                                                  <strong data-translate="5071">Points</strong> {{ thisInventory.redeem_pts|number:lty_decimals}}
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <input ng-disabled="thisInventory.checkedForRedeem !== true && thisInventory.lty_price_in_points_ext > availPts" ng-change="toggleSelect(false, thisInventory);" type="checkbox" ng-model="thisInventory.checkedForRedeem" class="form-control">
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-5 pull-right">
                    <div id="redeem-details" class="row">
                        <div class="col-xs-6">
                            <div class="input-group">
                                <div class="input-group-addon"><span data-translate="5375">Available points</span></div>
                                <input type="text" class="form-control text-center" ng-model="document.lty_balance_for_item_redeem" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <div class="input-group-addon"><span data-translate="5081">Remaining points</span></div>
                                <input type="text" class="form-control text-center" ng-model="availPts" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <button ng-if="tenderCall" type="button" id="redeemLtyItemSkipButton" event-name="redeemLtyItemSkip" class="btn btn-lg btn-default" ng-click="redeemLtyItem.close(true)">
                  <span data-translate="5082">Skip</span>
                </button>
                <button type="button" id="redeemLtyItemOkButton" event-name="redeemLtyItemUseSelection" class="btn btn-lg btn-default" ng-click="useSelection()" ng-disabled="availPts < 0 || !selectionMade">
                  <span data-translate="6339">Redeem</span>
                </button>
                <button type="button" id="redeemLtyItemCancelButton" event-name="redeemLtyItemCancel" class="btn btn-lg btn-default" ng-click="redeemLtyItem.close(false)">
                    <span data-translate="1.2">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
