<button class="btn btn-info btn-large" ng-click="deletePO()" ng-disabled="sharedData.documentLookup.selected.length===0 || sharedData.documentLookup.selected[0].sid===sp.sid" type="button">
  <span data-translate="4668">Delete Selected</span>
</button>
