<button ng-if="invoices[0].active" type="button" ng-disabled="button.disable()" class="btn btn-danger" ng-click="button.action()" event-name="VendorInvoiceDelete">
    <span data-translate="3041">Deactivate</span>
</button>
<button ng-if="!invoices[0].active" type="button" ng-disabled="button.disable()" class="btn btn-warning" ng-click="button.action()" event-name="VendorInvoiceDelete">
    <span data-translate="2334">Activate</span>
</button>
