<div>
	<div class="row row-container hidden-sm hidden-md hidden-lg">
		<div class="col-xs-12">
			<div ng-if="viewPortChange" id="mobile-responsive-grid" class="panel panel-default ModalSearchPanel autoOverflow mobile-grid-panel">
				<div class="list-group" ng-if="grid && grid.data.length > 0">
					<a name="link{{$index}}" event-name="selectItemFromMobileGrid" id="item_{{$index}}" index="{{$index}}" data-item-group="data-item-group" class="list-group-item" ng-repeat="row in grid.data" ng-click="defineSelectedRow(row)">
						<div class="row" ng-repeat="column in grid.mobileColumns">
							<div class="col-xs-4" ng-repeat="field in column">
								<strong data-translate="4581">{{ field.displayName }}</strong>: {{ row[field.name] }}
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-container hidden-xs" ui-i18n="{{lang}}">
		<div ng-class="extraClass" id="grid1" ui-grid-auto-resize ui-grid-resize-columns="" ui-grid-selection="" ui-grid-edit="" ui-grid-cellnav="" ui-grid-pinning ui-grid="grid" ng-if="viewPortChange || (grid && grid.columnDefs.length > 0)" external-scopes="externalScopes" class="grid"></div>
	</div>
	<div class="row row-container hidden-xs" ng-show="grid.enablePaging">
		<div class="col-xs-12 text-center">
			<paging-control ng-if="showPaging()" total-records="grid.totalRecords" results-per-page="grid.pageSize" call-back="grid.onPageChange"></paging-control>
			<br>
			<span data-translate="2789">Total Records</span> {{grid.totalRecords}}
		</div>
	</div>
</div>
