<div class="col-xs-4">
    <label data-translate="773.1">Price</label>
</div>
<div class="col-xs-8">
    <input ng-disabled="$ctrl.service.disableOnReadOnlyMode()||$ctrl.service.isPermissionDenied('price')||$ctrl.service.isVat||(!$ctrl.service.item.active)" type="text" ng-blur="$ctrl.service.onPriceBlur($event)" numberonly data-currency-formatter="currency" ng-model="$ctrl.service.item.actstrprice" class="form-control" id="imi-invnprice">
</div>
