<fieldset>
  <div class="row row-container panel-default">
    <div class="panel">
      <div class="panel-body">
        <div class="row top-margin">
          <div class="col-xs-12" style="padding-right: 10px;">
            <customer-store-credit></customer-store-credit>
          </div>
        </div>
        <fieldset>
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-cust-discount ng-disabled="payment.customer.mode==='view'"></customer-cust-discount>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-price-level ng-disabled="payment.customer.mode==='view'"></customer-price-level>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-tax-area-1 ng-disabled="payment.customer.mode==='view'"></customer-tax-area-1>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-tax-area-2 ng-disabled="payment.customer.mode==='view'"></customer-tax-area-2>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-charge-limit ng-disabled="payment.customer.mode==='view'"></customer-charge-limit>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-charge-balance ng-disabled="payment.customer.mode==='view'"></customer-charge-balance>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-accounts-receivable ng-disabled="payment.customer.mode==='view'"></customer-accounts-receivable>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-detax ng-disabled="payment.customer.mode==='view'"></customer-detax>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="row row-container">
    <div class="panel panel-default">
      <div class="panel-footer" style="border-top-right-radius:3px;padding:3px;border-top-left-radius:3px;margin:-1px;">
        <label class="control-label" style="margin-left:5px;" data-translate="570">Allowed Tenders</label>
      </div>
      <div class="panel-body">
        <div class="row form-group top-margin">
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="cash_tender" name="cash_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.cash" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="571">Cash</span>
            </label>
          </div>
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="check_tender" name="check_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.check" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="572">Check</span>
            </label>
          </div>

        </div>
        <div class="row form-group">
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="creditcard_tender" name="creditcard_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.creditcard" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="1088">Credit Card</span>
            </label>
          </div>
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="storecredit_tender" name="storecredit_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.storecredit" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="577">Store Credit</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="giftcertificate_tender" name="giftcertificate_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.giftcertificate" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="576">Gift Certificate</span>
            </label>
          </div>
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="giftcard_tender" name="giftcard_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.giftcard" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="575">Gift Card</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="debitcard_tender" name="debitcard_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.debitcard" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="1091">Debit Card</span>
            </label>
          </div>
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="foreigncurrency_tender" name="foreigncurrency_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.foreigncurrency" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="579">Foreign Currency</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="central_gift_card_tender" name="central_gift_card_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.centralgiftcard" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="1028">Central Gift Cards</span>
            </label>
          </div>
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="cod_tender" name="cod_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.cod" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="2245">COD</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">
            <label class="btn btn-info btn-block tenders-label" ng-disabled="payment.customer.mode==='view'">
              <input type="checkbox" class="tenders-portrait-checkbox" id="charge_tender" name="charge_tender" ng-disabled="payment.customer.mode==='view'" ng-change="payment.updateTenders()" ng-model="payment.allowedTenders.charge" ng-true-value="'T'" ng-false-value="'F'">
              <span class="tenders-portrait-checkbox-text" data-translate="1089">Charge</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-container" ng-if="payment.prefs.pos_loyalty_enabled.toLowerCase() !== 'false'">
    <div class="panel panel-default">
      <div class="panel-footer" style="border-top-right-radius:3px;padding:3px;border-top-left-radius:3px;margin:-1px;">
        <label class="control-label" style="margin-left:5px;" data-translate="1082">Customer Loyalty</label>
      </div>
      <div class="panel-body">
        <fieldset style="padding: 10px;">
          <div class="row top-margin">
            <div class="col-xs-12">
              <customer-loyalty-enroll-date ng-disabled="payment.disableLoyalty()"></customer-loyalty-enroll-date>
            </div>
          </div>
          <div class="row top-margin10">
            <div class="col-xs-12">
              <customer-loyalty-history></customer-loyalty-history>
            </div>
          </div>
          <div class="row top-margin10">
            <div class="col-xs-12">
              <customer-loyalty-avail-pts ng-disabled="payment.disableLoyalty()"></customer-loyalty-avail-pts>
            </div>
          </div>
          <div class="row top-margin10">
            <div class="col-xs-12">
              <customer-loyalty-level ng-disabled="payment.disableLoyalty()"></customer-loyalty-level>
            </div>
          </div>
          <div class="row top-margin10">
            <div class="col-xs-12">
              <customer-loyalty-lock-status ng-disabled="payment.disableLoyalty()"></customer-loyalty-lock-status>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-12">
              <div class="clearfix line"></div>
              <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                  <button type="button" ng-if="!payment.loyaltyFields.optin" ng-click="payment.enrollCustomer(1)" class="btn btn-block btn-info" ng-disabled="payment.disableLoyalty()||!payment.canEnroll" data-translate="4878">Enroll</button>
                  <button type="button" ng-if="payment.loyaltyFields.optin" ng-click="payment.enrollCustomer(0)" class="btn btn-block btn-danger" ng-disabled="payment.disableLoyalty()||!payment.canEnroll" data-translate="4879">Disenroll</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</fieldset>
