<div class="panel panel-default">
  <div class="panel-heading">
    <h4 data-translate="7165">Z-Out Audits</h4>
  </div>
  <div class="panel-body">
    <div class="row form-group">
      <div ng-if="$ctrl.audits" ui-grid-selection="" class="search-results" ui-grid="$ctrl.gridOptions"></div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-default" ng-disabled="!$ctrl.audit" ng-click="$ctrl.printAudit()" data-translate="522">Print</button>
    <button class="btn btn-default" ng-click="$ctrl.close()" data-translate="583">Close</button>
  </div>
</div>
