<label class="control-label" data-translate="661">Till</label>
<rp-select-input ng-if="till.tillList" repeater-data="till.tillList" key-string="'till_name'" default-obj="till.defaultObj" ng-change="till.ngChange()" permissions="till.permissions" value-key="'sid'" ,="" form="till.form" ng-model="till.ngModel"></rp-select-input>
