<form name="itemDetails" ng-submit="saveAdjValue();">
    <div class="row">
        <div class="col-xs-12">
            <div class="row top-margin">
                <div class="col-xs-6">

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-4 text-right valign-middle"><label data-translate="5194">Original Cost</label></div>
                        <div class="col-xs-3 valign-middle">
                            <input ng-if="adjMemo.canSeeCost" type="tel" class="form-control text-right" data-currency-formatter="" ng-disabled="true" id="itemCostOrig" ng-model="selectedItem.oldCost">
                            <input ng-if="!adjMemo.canSeeCost" class="form-control text-right" ng-disabled="true" value="********">
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-xs-4 text-right valign-middle"><label data-translate="4714">Adjusted Cost</label></div>
                        <div class="col-xs-3 valign-middle">
                            <input ng-if="adjMemo.canSeeCost" type="tel" class="form-control text-right" data-currency-formatter="price" numberonly="" ng-disabled="(adjMemo.memo.adjtype!==2)||(!adjMemo.isEdit)||(adjMemo.memo.status !== 3)||(adjMemo.memo.creatingdoctype === 9)" id="itemCostAdj" ng-blur="calcDiff();" ng-enter="calcDiff();" ng-model="selectedItem.adjCost">
                            <input ng-if="!adjMemo.canSeeCost" class="form-control text-right" ng-disabled="true" value="********">
                        </div>
                    </div>

                    <div class="row top-margin" ng-if="adjMemo.memo.adjtype===2">
                        <div class="col-xs-4 text-right valign-middle"><label data-translate="4715">Cost Difference</label></div>
                        <div class="col-xs-3 valign-middle">
                            <input ng-if="adjMemo.canSeeCost" type="tel" class="form-control text-right" data-currency-formatter="" id="itemCostDiff" ng-disabled="(!adjMemo.isEdit)||(adjMemo.memo.status !== 3)||(adjMemo.memo.creatingdoctype === 9)" ng-blur="calcAdj();" ng-enter="calcAdj();" ng-model="selectedItem.costDiff">
                            <input ng-if="!adjMemo.canSeeCost" class="form-control text-right" ng-disabled="true" value="********">
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-xs-4 text-right valign-middle"><label data-translate="5195">Original Price</label></div>
                        <div class="col-xs-3 valign-middle">
                            <input type="tel" class="form-control text-right" data-currency-formatter="" ng-disabled="true" id="itemPriceOrig" ng-model="selectedItem.oldPrice">
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-xs-4 text-right valign-middle"><label data-translate="4720">Adjusted Price</label></div>
                        <div class="col-xs-3 valign-middle">
                            <input type="tel" class="form-control text-right" data-currency-formatter="price" numberonly="" ng-disabled="(adjMemo.memo.adjtype!==1)||(!adjMemo.isEdit)||(adjMemo.memo.status !== 3)||(adjMemo.memo.creatingdoctype === 9)" id="itemPriceAdj" ng-change="calcDiff();" ng-enter="calcDiff();" ng-model="selectedItem.adjPrice">
                        </div>
                    </div>

                    <div class="row top-margin" ng-if="adjMemo.memo.adjtype===1">
                        <div class="col-xs-4 text-right valign-middle"><label data-translate="4721">Price Difference</label></div>
                        <div class="col-xs-3 valign-middle">
                            <input type="tel" class="form-control text-right" data-currency-formatter="" id="itemPriceDiff" ng-disabled="(!adjMemo.isEdit)||(adjMemo.memo.status !== 3)||(adjMemo.memo.creatingdoctype === 9)" ng-blur="calcAdj();" ng-enter="calcAdj();" ng-model="selectedItem.priceDiff">
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-xs-4 text-right valign-middle"><strong data-translate="5196">Original Quantity</strong></div>
                        <div class="col-xs-3 valign-middle">
                            <input type="tel" class="form-control text-right" ng-disabled="true" id="itemQtyOrig" ng-model="selectedItem.oldQty">
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-xs-4 text-right valign-middle"><label data-translate="4723">Adjusted Quantity</label></div>
                        <div class="col-xs-3 valign-middle">
                            <input ng-if="adjMemo.allowNegQty" use-qty-decimals decimals="{{selectedItem._useqtydecimals}}" type="tel" class="form-control text-right" numberonly="" ng-disabled="(adjMemo.memo.adjtype!==0)||(!adjMemo.isEdit)||(adjMemo.memo.status !== 3)||(adjMemo.memo.creatingdoctype === 9)" id="itemQtyAdj" ng-blur="calcDiff();" ng-enter="calcDiff();" ng-model="selectedItem.adjQty">
                            <input ng-if="!adjMemo.allowNegQty" use-qty-decimals decimals="{{selectedItem._useqtydecimals}}" type="tel" class="form-control text-right" numberonly="" ng-keydown="checkKey($event)" min="0" ng-disabled="(adjMemo.memo.adjtype!==0)||(!adjMemo.isEdit)||(adjMemo.memo.status !== 3)||(adjMemo.memo.creatingdoctype === 9)" id="itemQtyAdj" ng-blur="calcDiff();" ng-enter="calcDiff();" ng-model="selectedItem.adjQty">
                        </div>
                    </div>

                    <div class="row top-margin" ng-if="adjMemo.memo.adjtype===0">
                        <div class="col-xs-4 text-right valign-middle"><label data-translate="4724">Quantity Difference</label></div>
                        <div class="col-xs-3 valign-middle">
                            <input type="tel" use-qty-decimals decimals="{{selectedItem._useqtydecimals}}" class="form-control text-right" id="itemQtyDiff" ng-disabled="(!adjMemo.isEdit)||(adjMemo.memo.status !== 3)||(adjMemo.memo.creatingdoctype === 9)" ng-blur="calcAdj();" ng-enter="calcAdj();" ng-model="selectedItem.qtyDiff">
                        </div>
                    </div>

                </div>
                <div class="col-xs-3">
                    <item-image item="selectedItem" id="selected-item-img" class="center-block responsive"></item-image>
                </div>
            </div>
        </div>
    </div>
</form>