<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 text-left">
        <strong data-translate="4510">Charge Balance</strong>
      </div>
      <div class="col-xs-8">
        <input class="form-control" numberonly="" ng-disabled="field.ngDisabled || field.permissions.checkDeny('editcustomerchargebalance')" ng-blur="field.checkPermission();" ng-focus="field.setOldValue();" currency-formatter="currency" ng-model="field.service.active.creditused">
      </div>
    </div>
  </div>
</div>
