<ng-form name="adjmemo_form">
    <div class="row" ng-if="adjMemo.memo">
        <div class="col-xs-12">
            <am-info></am-info>
        </div>
    </div>
    <div class="row" ng-if="adjMemo.memo">
        <div class="col-xs-12">
            <am-main></am-main>
        </div>
    </div>
    <div class="row">
        <button-bar view-path="pages/store-ops/am/am-buttons.htm"></button-bar>
    </div>
    <prism-ajax-loader loader-title="loader.title" loader-message="loader.message" ng-if="loader.status"></prism-ajax-loader>
</ng-form>