<form name="orderDetailsForm" id="orderDetailsForm" class="form-horizontal">
  <div class="modal-content" ng-if="!transaction.Document.closeSODocument.sid">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="778">Order Details</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="form-group">
          <div class="col-xs-3" style="text-align: center; margin-top: 0.5em;">
            <strong data-translate="7272">Fulfillment Store</strong>
          </div>
          <div class="col-xs-7">
            <rp-select-input ng-if="fulfillmentStoresList" required="true" repeater-data="fulfillmentStoresList" key-string="'store_name'" suppress-translate="true" filter-string="searchString" default-obj="defaultfulfillmentStore" value-key="'sid'" ng-model="fulfillmentStore.sid" ng-change="handleFulfillmentStoreChange()" is-disabled="isFulfillmentStoreDisabled" permissions="['poschangeorderfulfillmentstore']">
            </rp-select-input>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only">
            <!-- DO NOT REMOVE THIS LABEL!!! -->
          </label>
          <div class="col-xs-4" ng-if="document.order_type!==6">
            <button event-name="posOrderDetailsFulfillOrder" type="button" tabindex="1" id="fulfillOrderButton" class="btn btn-info form-control" ng-disabled="disableFulfillOrder||orderDetailsButton" ng-click="fulfillOrder()">
              <span data-translate="900">Fulfill Order</span>
            </button>
          </div>
          <div class="col-xs-4" ng-if="document.order_type===6">
            <button event-name="posOrderDetailsFulfillSendSale" type="button" tabindex="1" id="fulfillSendSaleButton" class="btn btn-info form-control" ng-disabled="disableFulfillOrder||orderDetailsButton" ng-click="fulfillOrder()">
              <span data-translate="5523">Fulfill Send Sale</span>
            </button>
          </div>
          <div class="col-xs-4">
            <button event-name="posOrderDetailsOrderHistory" type="button" tabindex="2" id="orderHistoryButton" class="btn btn-info form-control" ng-disabled="true">
              <span data-translate="901">Order History</span>
            </button>
          </div>
          <div class="col-xs-4">
            <button event-name="posOrderDetailsTakeDeposit" type="button" id="takeDepositButton" class="btn btn-info form-control" ng-disabled="disableTakeDeposit||orderDetailsButton" ng-click="takeDeposit()">
              <span data-translate="902">Take Deposit</span>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only">
            <!-- DO NOT REMOVE THIS LABEL!!! -->
          </label>
          <div class="col-xs-4">
            <button event-name="posOrderDetailsOrderDates" type="button" id="orderDatesButton" tabindex="4" class="btn btn-info form-control" ng-disabled="document.order_type===6" ng-click="orderDates()">
              <span data-translate="5596">Order Dates</span>
            </button>
          </div>
          <div class="col-xs-4">
            <button event-name="posOrderDetailsDepositHistory" type="button" id="depositHistoryButton" ng-disabled="disableDepositHistory" tabindex="4" class="btn btn-info form-control" ng-click="depositHistory();">
              <span data-translate="903">Deposit History</span>
            </button>
          </div>
          <div class="col-xs-4" ng-if="document.order_type!==6">
            <button event-name="posOrderDetailsDeactivateOrder" type="button" id="deactivateOrderButton" permission="closeorder" tabindex="5" class="btn btn-info form-control" ng-disabled="disableDeactivateOrder||orderDetailsButton" ng-click="deactivateOrder()">
              <span data-translate="904">Close Order</span>
            </button>
          </div>
          <div class="col-xs-4" ng-if="document.order_type===6">
            <button event-name="posOrderDetailsCloseSendSale" type="button" id="closeSendSaleButton" tabindex="5" class="btn btn-info form-control" ng-disabled="disableDeactivateOrder||orderDetailsButton" ng-click="deactivateOrder()">
              <span data-translate="5524">Close Send Sale</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button event-name="posOrderDetailsSave" id="saveOrderProcessingButton" type="button" tabindex="6" class="btn btn-lg btn-default" ng-click="updateFulfillmentStoreForDocItems()" ng-disabled="!fulfillmentStoreValueChanged">
              <span data-translate="1.1">Ok</span>
            </button>
            <button event-name="posOrderDetailsCancel" id="cancelOrderProcessingButton" type="button" tabindex="7" class="btn btn-lg btn-default" ng-click="closeForm()">
              <span data-translate="1.2">Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
