<div class="form-group">
    <label data-translate="4225">Slip Number</label>
    <input numberonly type="text" class="form-control" ng-model="search.slipno">
</div>

<div class="form-group">
    <label data-translate="4160">From Store</label>
    <select-store store="search.outstoresid"></select-store>
</div>

<div class="form-group">
    <label data-translate="4165">To Store</label>
    <select-store store="search.instoresid"></select-store>
</div>

<div class="form-group">
    <label data-translate="699">Associate</label>
    <select-associate ng-model="search.clerksid"></select-associate>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xs-7">
      <label data-translate="5703">Package No</label>
      <input numberonly type="text" class="form-control" ng-model="search.voupkgno">
    </div>
    <div class="col-xs-5">
      <label data-translate="542">Type</label>
      <select-transfer-type ng-model="search.reversedflag"></select-transfer-type>
    </div>
  </div>
</div>


<div class="form-group" ng-if="sharedData.documentLookup.pending">
    <label>
        <input type="checkbox" name="active" value="false" ng-model="search.held">
        <span data-translate="1454">Held</span>
    </label>
</div>
