<div>
    <div class="row top-margin">
        <div class="col-xs-12">
            <button class="btn btn-info btn-block" id="transferSlipsLookup" event-name="transferSlipsLookup" tabindex="122" type="button" ng-click="externalScope.transferSlipsLookup();">
                <span data-translate="4226">Transfer Slip Lookups</span>
            </button>
        </div>
    </div>
    <div class="row top-margin">
         <div class="col-xs-12">
            <button class="btn btn-info btn-block" id="transferSlipsPending" event-name="transferSlipsPending" tabindex="123" type="button" ng-click="externalScope.transferSlipsPending();">
                <span data-translate="4227">Pending Transfer Slips</span>
            </button>
         </div>
    </div>
    <div class="row top-margin">
      <div class="col-xs-12">
        <button class="btn btn-info btn-block" id="transferSlipReverse" event-name="transferSlipReverse" ng-disabled="externalScope.transferSlip.slip.status != 4 || externalScope.transferSlip.slip.reversedflag || externalScope.permissions.checkDeny('transferslipreverseslip') || externalScope.transferSlip.isAssignLimited" tabindex="123" type="button" ng-click="externalScope.transferSlipReverse();">
          <span data-translate="6306">Reverse Transfer Slip</span>
        </button>
      </div>
    </div>
    <div class="row top-margin">
        <div class="col-xs-12">
            <button class="btn btn-info btn-block" id="printSlipTags" event-name="printSlipTags" tabindex="123" type="button" data-permission="merchandiseprinttag" data-permission-disabled="externalScope.transferSlip.Items.length < 1" ng-click="externalScope.printTags();">
                <span data-translate="4253">Print Tags</span>
            </button>
        </div>
    </div>
</div>
