<button event-name="posTransactionSale" tabindex="707" type="button" ng-disabled="restrictAddItemTypeSwitching()||saleButton" class="btn btn-info" id="saleItemTypeButton" ng-click="setGlobalItemType(1)" ng-class="{'active-item-type':(default.item_type*1===1)}">
  <span data-translate="746" class="ng-scope">Sale</span>
</button>
