<div class="row">
    <div class="col-xs-12" ng-if="custHistoryLookup.historyView">
        <resource-lookup lookup-title="custHistoryLookup.title" grid-name="'customerhistory'" end-point="'/api/backoffice/extendedcustdochistory'" sort="'doccreateddatetime,desc'" after-row-selection-changed="custHistoryLookup.afterRowSelection" append-cols="custHistoryLookup.appendCols" append-filter="custHistoryLookup.appendFilter" grid-settings="custHistoryLookup.gridOptions">
        </resource-lookup>
    </div>
    <div class="col-xs-12" ng-if="!custHistoryLookup.historyView">
      <customer-statistics></customer-statistics>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <action-button-bar action-bar="custHistoryLookup.buttonBar"></action-button-bar>
    </div>
</div>
