<div class="row">
    <div class="col-xs-12 col-sm-6 sol-md-6 col-lg-6">
        <div class="well">
            <div id="systemInfoGrid" ui-grid="systemInfoGrid" ui-grid-selection="" class="grid"></div>
        </div>
    </div>
    <div ng-hide="!fileVersionData" class="col-xs-12 col-sm-6 sol-md-6 col-lg-6">
        <h2 style="margin-left: 30px;">
            <span class="glyphicon glyphicon-file" aria-hidden="true"> </span>{{fileVersionData.name}}
        </h2>
        <br>
        <div class="row">
            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.company}" data-translate="3299">Company Name</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.company}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.description}" data-translate="5092">File Description</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.description}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.fileversion}" data-translate="5093">File Version</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.fileversion}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.internalname}" data-translate="5094">Internal Name</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.internalname}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.copyright}" data-translate="5095">Legal Copyright</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.copyright}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.trademark}" data-translate="5096">Legal Trademark</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.trademark}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.originalfilename}" data-translate="5097">Original File Name</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.originalfilename}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.product}" data-translate="5098">Product Name</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.product}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.productversion}" data-translate="5099">Product Version</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.productversion}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.comments}" data-translate="1969">Comments</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.comments}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fullSystemInfo.machinename}" data-translate="5100">Computer Name</strong>
            </div>
            <div class="col-xs-9">{{fullSystemInfo.machinename}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fullSystemInfo.os}" data-translate="5101">OS Name</strong>
            </div>
            <div class="col-xs-9">{{fullSystemInfo.os}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fullSystemInfo.ospath}" data-translate="5102">Windows Directory</strong>
            </div>
            <div class="col-xs-9">{{fullSystemInfo.ospath}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.buildinfo}" data-translate="5103">Build Info</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.buildinfo}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.builddate}" data-translate="5104">Compile Date</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.builddate}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.filename}" data-translate="5105">File Name</strong>
            </div>
            <div class="col-xs-9" style="font-stretch: condensed;">{{fileVersionData.filename}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <strong ng-class="{'text-muted': !fileVersionData.name}" data-translate="1113">Name</strong>
            </div>
            <div class="col-xs-9">{{fileVersionData.name_altered}}</div><div class="clearfix"></div>

            <div class="col-xs-3 text-right">
                <hr>
                <strong data-translate="5188">Web Client</strong>
            </div>
            <div class="col-xs-9"><hr><code>{{clientVersion}}</code></div><div class="clearfix"></div>
        </div>
    </div>
</div>