<div class="vendor-contact-information">
  <div class="row form-group">
    <div class="col-xs-6">
      <label for="vci-vendor-code" data-translate="3533">Vendor Code</label>
      <input ng-disabled="!(vendor.isNew)" name="vendor_code" required required-box="" maxlength="6" ng-model="vendor.service.active.vendcode" type="text" class="form-control uppercase" id="vci-vendor-code">
    </div>
    <div class="col-xs-6">
      <label for="vci-vendor-name" data-translate="2734">Vendor Name</label>
      <input ng-disabled="vendor.isViewOnly" name="vendor_name" ng-model="vendor.service.active.vendname" type="text" class="form-control" id="vci-vendor-name" maxlength="25">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <child-resource-form child-validator label="vendor.aLabel" disable-edit="vendor.mode==='view'" form-component="'<vendor-address-form></vendor-address-form>'" list-component="'<vendor2-addresses></vendor2-addresses>'" parent-form="vendor.service.formState" ng-model="vendor.service.active.vendoraddress">
      </child-resource-form>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <child-resource-form child-validator label="vendor.cLabel" disable-edit="vendor.mode==='view'" form-component="'<vendor-contacts-form></vendor-contacts-form>'" list-component="'<vendor2-contacts></vendor2-contacts>'" parent-form="vendor.service.formState" ng-model="vendor.service.active.vendorcontact">
      </child-resource-form>
    </div>
  </div>
</div>
