﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/logincss.css" rel="stylesheet" />
</head>
<body>
    <div class="pagewrap">
        <form class="form" id="form" method="post">
            <h3 class="form__title">Login</h3>
            <div class="container">
                <input class="container__input" type="text" id="username" name="username" value="" required>
                <label id="userLabel" for="username" class="container__label">Username</label>
            </div>
            <div class="container">
                <input class="container__input" type="password" id="pass" name="password" value="" required>
                <label id="passLabel" for="pass" class="container__label">Password</label>
            </div>
            
            <button class="form__submit" id="submit" type="submit" value="submit">Submit</button>
        </form>
    </div>
</body>
</html>
