<div class="panel" ng-if="renderMe">
  <div class="panel-heading">
    <h4 ng-if="iconNav.templateFile" data-translate="{{iconNav.headerText}}">{{iconNav.headerText}}</h4>
  </div>
  <div class="panel-body">
    <div class="col-xs-12 text-center"><span ng-if="!iconNav.templateFile" data-translate="4339">Make a selection from the options above.</span></div>
    <div ng-include="iconNav.templateFile">
  </div>
</div>
</div>
