<div >
    <button ng-if="button.showLayout(1)" event-name="newVendor" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()">
        <span data-translate="5250">Transfer Orders</span>
    </button>
    <img-btn ng-if="button.showLayout(2)" event-name="newAsn" translation-name="'5250'" img-src="'/images/pos/pos_new_48.png'" click-handler="button.action" disable="button.disable()" button-text="'Transfer Orders'"></img-btn>
</div>
