<div class="row padding-20">
  <div class="alert alert-danger" ng-if="!isSubsidiary" role="alert"><span data-translate="6203">Inventory UDF information requires your context to be set to the Subsidiary level.</span></div>
    <div class="col-xs-6" ng-if="isSubsidiary">
        <div class="row padding-5">
          <h4 class="text-center"><span data-translate="6854">UDFs Naming</span></h4>
            <hr>
        </div>
        <div class="row padding-5" ng-repeat="udf in state.udfList">
            <div class="col-xs-2 no-left-padding">
              <label><span data-translate="5232">UDF</span>{{udf.udfno}} <span data-translate="1113">Name</span></label>
            </div>
            <div class="col-xs-10 no-right-padding">
                <input type="text" class="form-control" maxlength="15" ng-disabled="!checkLevel('subsidiary')||readonly" ng-model="udf.name">
            </div>
        </div>
        <div class="row padding-5">
            <div class="col-xs-12">
              <button type="button" ng-click="onSaveUdfNamesClick(0)" ng-disabled="!checkLevel('subsidiary')||readonly" class="btn btn-info btn-block"><span data-translate="5326">Save UDFs</span></button>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-if="isSubsidiary">
        <div class="row padding-5">
          <h4 class="text-center"><span data-translate="6855">UDFs Options</span></h4>
            <hr>
        </div>
        <div class="row padding-5">
          <div class="col-xs-2 no-left-padding"><b><span data-translate="5329">Select UDF</span></b></div>
            <div class="col-xs-10 no-right-padding">
                <select class="form-control" ng-disabled="!checkLevel('subsidiary')||readonly" ng-change="onUdfSelectedChange()" ng-model="state.selectedUdf.value" ng-options="udf as udf.name for udf in state.udfList | filter:state.filterUdfOptions()">
                    <option value="?" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="row padding-5">
            <ac-udf-options udf="state.selectedUdf.value" service="service" disable="!checkLevel('subsidiary')||readonly" on-parent-change="state.selectedUdf.refreshOptions"></ac-udf-options>
        </div>
    </div>
</div>
