<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <h4 data-translate="4744">Shipping Packages</h4>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
				<div class="row packages-description">
                    <div class="col-xs-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th data-translate="5292">Package ID</th>
                                    <th data-translate="5293">Received</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="packages.length > 0" ng-repeat="package in packages" ng-click="actions.selectPackage(package)" ng-class="{'selected':actions.isPackageSelected(package.sid)}">
                                    <td>{{package.pkgno}}</td>
                                    <td><center><input type="checkbox" ng-disabled="true" ng-model="package.checked"></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
				<div class="row padding-5">
					<div class="col-xs-10">
						<input type="text" ng-model="package.id" maxlength="20" class="form-control uppercase" ng-keydown="actions.handlePackageIdKeydown($event)">
					</div>
					<div class="col-xs-2">
						<button type="button" ng-disabled="actions.disableNewButton()" class="btn btn-info full-width" ng-click="actions.newPackage()">
							<span data-translate="1.8">Add</span>
						</button>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
	            <button type="button" ng-disabled="actions.disableReceiveButton()" class="btn btn-info btn-large" ng-click="actions.receive()">
					<span data-translate="4745">Receive</span>
				</button>
                <button type="button" ng-disabled="actions.disableReturnButton()" class="btn btn-info btn-large" ng-click="actions.return()">
					<span data-translate="7232">Return</span>
				</button>
				<button type="button" ng-disabled="actions.disableRemoveButton()" class="btn btn-info btn-large" ng-click="actions.remove()">
					<span data-translate="544">Delete</span>
				</button>
				<button type="button" class="btn btn-info btn-large" ng-click="actions.close()">
					<span data-translate="583">Close</span>
				</button>
            </div>
        </div>
    </div>
</div>
