<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <h4 data-translate="5379">Transfer Order Details</h4>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row" ng-if="voucherDetails">
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 data-translate="3824">Voucher Details</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="row padding-10">
                                            <label data-translate="6041">Reference Voucher No</label>:
                                            <span>{{voucherDetails.vouno}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
					<div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 data-translate="719">Taxes</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row padding-15">
                                    <div class="form-group">
                                        <label data-translate="554">Tax Area</label>
                                        <select-taxarea disable="disable" taxarea-sid="transferOrder.taxareasid"></select-taxarea>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input ng-disabled="true" ng-model="transferOrder.usevat" type="checkbox"> <span data-translate="4865">Use VAT</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 data-translate="594">Notes</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row padding-10">
                                            <textarea ng-model="transferOrder.notes1" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-info" type="button" ng-click="beforeClose()"><span data-translate="583">Close</span></button>
            </div>
        </div>
    </div>
</div>
