<div class="modalouter">
  <div class="modal-header">
    <div class="row-fluid">
      <div class="span12">
        <h4 data-translate="5496">Inventory Item Style Change</h4>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <div class="row padding-5">
          <div>
            <br class="col-xs-12">
            <em><span data-translate="5497">This item is a member of a Style.  What would you like the change to affect?</span></em>
            <br><br>
            <label><input type="radio" ng-click="styleChange('item')" name="style_type" value="item">&nbsp;&nbsp;<span data-translate="5498">Item - Move only this item to the new style</span></label>
            <br><br>
            <label><input type="radio" ng-click="styleChange('style')" name="style_type" value="style">&nbsp;&nbsp;<span data-translate="5499">Style - Move all of the style items to the new style</span></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span12 rightalign">
        <button type="button" ng-disabled="!state.styleType" class="btn btn-info btn-large" ng-click="close({action:1,styleType:state.styleType})">
          <span data-translate="1.3">Apply</span>
        </button>
        <button type="button" class="btn btn-info btn-large" ng-click="close({action:0})">
          <span data-translate="1.2">Cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>
