<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="3682">Physical Inventory</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12" ng-if="availableStores && newPiSheet">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="1798">Store Name</label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" ng-disabled="enableStoreSelect()" ng-if="availableStores" ng-options="store.sid as store.store_name for store in availableStores" ng-model="newPiSheet.store_sid"></select>
                </div>
                <div class="col-xs-12">
                    <label class="control-label" data-translate="3821">PI Sheet Name</label>
                </div>
                <div class="col-xs-12">
                    <input type="text" class="form-control" ng-model="newPiSheet.name">
                </div>
                <div class="col-xs-12">
                    <label class="control-label" data-translate="594">Notes</label>
                </div>
                <div class="col-xs-12">
                    <textarea ng-model="newPiSheet.note" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-large btn-default" type="button" ng-if="savePiSheet" ng-click="closeModal('save')"><span ng-if="!(newPiSheet.sid)" data-translate="2904">create</span><span ng-if="newPiSheet.sid" data-translate="547">save</span></button>
                <button class="btn btn-large btn-default" type="button" ng-if="savePiSheetWithFilter" ng-click="closeModal('addfilter')"><span data-translate="3684">Create with Filters</span></button>
                <button class="btn btn-large btn-default" type="button" ng-click="closeModal(false)"><span data-translate="1.2">cancel</span></button>
            </div>
        </div>
    </div>
</div>
