<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="3404">Import file Mapping schema</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
              <h4><span data-translate="7074">Please, specify a mapping schema</span></h4>
                <div>
                    <pi-import-mapping import-schema="importSchema"></pi-import-mapping>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-info" type="button" ng-disabled="!(mapSchemaSelected())" ng-click="closeModal(importSchema)"><span data-translate="3724">Continue</span></button>
                <button class="btn btn-default" type="button" ng-click="closeModal(false)"><span data-translate="1.2">cancel</span></button>
            </div>
        </div>
    </div>
</div>
