<form name="Notifications" id="Notifications">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h3 data-translate="3887">Physical Inventory - Warning</h3>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12" data-translate="3888">More than one item found</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <button id="nifSearchModalButton" type="button" class="btn btn-lg btn-default" ng-click="closeModal();advancedItemSearchModal2();">
            {{"2790" | translate}}
          </button>
          <button id="nifCancelButton" type="button" class="btn btn-lg btn-default" ng-click="$close();focusItem();">
            {{"976" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
