<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="3685">Set PI filter for store</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <advanced-search-filter ng-if="gridSettings.columns" params="search"></advanced-search-filter>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-info" type="button" ng-click="closeModal(true)"><span data-translate="1.1">ok</span></button>
                <button class="btn btn-default" type="button" ng-click="closeModal(false)"><span data-translate="1.2">cancel</span></button>
            </div>
        </div>
    </div>
</div>
