<div class="ui-notification">
    <h3 ng-show="title" ng-bind-html="title"></h3>
    <div class="message" ng-bind-html="message"></div>
    <div class="message" ng-if="delegateRemove">
        <a class="btn btn-small close-notification" ng-click="kill(true)" data-translate="583">Close</a>
    </div>
    <div class="notification-prism-logo"><img ng-src="/images/RetailProLogo160.png" height="auto" width="25px" src="/images/RPLogoReversedTrans88x40.png"></div>
</div>