<div class="row multi-select">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-5">
        <select class="form-control" ng-if="allOptions.length>0" multiple="multiple" ng-model="form.available" ng-options="x as x.txt for x in availableOptions">
        </select>
      </div>
      <div class="col-xs-2 text-center">
        <button class="btn btn-icon btn-block" ng-disabled="ngDisabled" ng-click="toggleSelected('selected','available')"><span class="glyphicon glyphicon-forward"></span></button>
        <button class="btn btn-icon btn-block" ng-disabled="ngDisabled" ng-click="toggleSelected('available','selected')"><span class="glyphicon glyphicon-chevron-right"></span></button>
        <button class="btn btn-icon btn-block" ng-disabled="ngDisabled" ng-click="toggleSelected('selected','available')"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button class="btn btn-icon btn-block" ng-disabled="ngDisabled" ng-click="toggleSelected('selected','available')"><span class="glyphicon glyphicon-backward"></span></button>
      </div>
      <div class="col-xs-5">
        <select class="form-control" multiple="multiple" ng-required="notValid()" ng-class="{'ng-invalid ng-invalid-required':notValid()}" ng-model="form.selected" ng-options="x as x.txt for x in selectedOptions">
        </select>
      </div>
    </div>
  </div>
</div>
