<div>
  <bread-crumb-navigation></bread-crumb-navigation>
  <div ng-if="!pInitStatus.conn.active.sid">
    <div class="row">
      <div class="col-xs-12">
        <init-status-sender></init-status-sender>
      </div>
    </div>
  </div>
  <div ng-if="pInitStatus.conn.active.sid">
    <init-status-receiver></init-status-receiver>
  </div>
</div>

