<div class="responsive-container" ng-if="viewPortChange">
	<div class="row row-container full-height">
		<div class="col-xs-12 col-md-8 col-lg-8">
			<div class="row-container" ng-repeat="rule in rewardRules" ng-if="rule.show()">
				<div class="row form-group">
					<div class="col-xs-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="rule.disabled" ng-model="rule.value" ng-change="rule.blur(rule, $index)"> {{rule.name}}
							</label>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="checkbox" ng-if="rewardCouponsEnabled && rule.value && rule.transid==='4386'">
							<label>
								<input type="checkbox" ng-model="promotion.reward_coupon_type" ng-change="useSerial()"> <span data-translate="6423">Serialized</span>
							</label>
						</div>
					</div>
				</div>

				<div class="row" ng-if="rule.name==='BOGO Discount'&&rule.value">
				    <div class="col-xs-12">
						<label for="validation-sort" data-translate="908" class="ng-scope">Sort Order</label>
						<select id="validation-sort" ng-disabled="saving" ng-change="savePromotion()" convert-to-number="" ng-model="promotion.reward_sort_order" class="form-control">
							<option value="" style="display:none" data-translate="1358">Select...</option>
							<option value="0" data-translate="5825">Optimized</option>
							<option value="1" data-translate="5826">Highest</option>
							<option value="2" data-translate="5827">Lowest</option>
						</select>
				    </div>
				</div>
				<div class="row" ng-if="rule.name==='BOGO Discount'&&rule.value">
				    <div class="col-xs-12">
						<div class="checkbox">
						    <label>
							    <input type="checkbox" ng-disabled="saving" ng-checked="promotion.spreaddiscbogo" ng-model="promotion.spreaddiscbogo" ng-change="savePromotion()">
							    <span data-translate="6341">Spread discount to all BOGO items</span>
						    </label>
						</div>
				    </div>
				</div>
        <hr>
				<div class="validation-rules-template" ng-include="rule.template" ng-if="rule.value&&rule.ready"></div>
			</div>
		</div>
		<div class="col-xs-4 hidden-xs summary-details-container" match-height="">
		    <span> promotion-summary-details </span> 
			<promotion-summary-details promotion="promotion" ng-if="showForm"></promotion-summary-details>
		</div>
	</div>
</div>
