<form novalidate="" id="invnNewSnForm" name="invnNewSnForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 data-translate="5773">Enter New Serial Number</h4>
        </div>
        <div class="modal-body">
            <div id="snEntryHeaders">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col-xs-4"><h4 data-translate="5709">Serial Number</h4></div>
                    <div class="col-xs-2"><h4 data-translate="764">Qty</h4></div>
                    <div class="col-xs-6"><h4 data-translate="884">Note</h4></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="bold-hr">
                    </div>
                </div>
            </div>
            <div id="snitemlist" class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <ng-form name="serNoForm">
                            <div class="col-xs-4">
                                <input type="text" ng-disabled="snNewItem.snNewHdr.sid" ng-class="(!snNewItem.snNewHdr.serialno) ? 'has-error' : (!snNewItem.snNewHdr.serialno) ? 'has-warning' : 'has-success'" class="form-control uppercase" maxlength="50" id="snNewSerialno" name="snNewSerialno" ng-model="snNewItem.snNewHdr.serialno" ng-blur="validateSerNo()" ng-change="serNoChange()">
                            </div>
                            <div class="error" ng-if="snNewItem.snNewHdr.serialno.$error.unique">
                                <span class="text-danger" data-translate="3381">Duplicate</span>
                            </div>
                        </ng-form>
                        <div class="col-xs-2"><input type="text" class="form-control" numberonly id="snNewItemQty" name="snNewItemQty" ng-model="snNewItem.snNewQty.qty"></div>
                        <div class="col-xs-6"><input type="text" class="form-control" maxlength="255" id="snNewItemNote" name="snNewItemNote" ng-model="snNewItem.snNewHdr.serialnote"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-2">
                        <div class="row">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="snNewItem.snNewQty.received">{{'5293' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="snNewItem.snNewQty.sold">{{'5603' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="snNewItem.snNewQty.returned">{{'5172' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="snNewItem.snNewQty.soreserved">{{'5604' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="snNewItem.snNewQty.transferred">{{'5605' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="snNewItem.snNewQty.returnedtovnd">{{'5606' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="snNewItem.snNewQty.adjusted">{{'5607' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="snNewItem.snNewQty.active">{{'586' | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-margin20">
                    <div class="col-xs-2 text-right">
                        <label data-translate="1453">Status</label>
                    </div>
                    <div class="col-xs-4">
                        {{externalstatus | snExtStatus}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" id="invnNewSnCloseButton" event-name="invnNewSnClose" name="invnNewSnCloseButton" class="btn btn-lg btn-default" ng-disabled="invnNewSnForm.$invalid" ng-click="closeModal('save');" data-translate="547">Save</button>
                        <button type="submit" id="invnNewSnCancelButton" event-name="invnNewSnCancel" name="invnNewSnCancelButton" class="btn btn-lg btn-default" ng-disabled="invnNewSnForm.$invalid" ng-click="closeModal('cancel');" data-translate="1.2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
