<div class="btn-group" ng-if="((transferSlip.slip.sid)&&(transferSlip.slip.status === 3)&&(!transferSlip.slip.held)) || ((transferSlip.slip.status !== 3)||(transferSlip.slip.held))">
  <button event-name="slipPrintUpdate" ng-if="(transferSlip.slip.sid)&&(transferSlip.slip.status === 3)&&(!transferSlip.slip.held)" ng-disabled="(!transferSlip.isEdit)||(transferSlip.saving)||(transferSlip.Items.length === 0)||(requireReferenceToTo&&!validatedReferenceToTo)||(transferSlip.disableUpdate)" class="btn btn-default" ng-click="printUpdateSlip()">
    <span data-translate="952">Print Update</span>
  </button>
  <button ng-if="(transferSlip.slip.status !== 3)||(transferSlip.slip.held)" ng-disabled="(!transferSlip.slip.sid)||(transferSlip.Items.length < 1)" class="btn btn-default" ng-click="transferSlip.printSlip()">
    <span data-translate="522">Print</span>
  </button>
</div>
