<div class="modal-content">
  <div class="modal-header">
    <h4 ng-if="params.mode==='new'" data-translate="6362">Create Coupon Set</h4>
    <h4 ng-if="params.mode==='edit'" data-translate="6363">Edit Coupon Set</h4>
  </div>
  <div class="modal-body" style="overflow: visible;">
    <ng-form name="form.coupon">
      <div class="form-group">
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-4">
              <label for="setId" class="control-label" data-translate="6359">Set ID</label>
            </div>
            <div class="col-xs-8">
              <input name="setid" id="setId" type="text" numberonly min="0" class="form-control" maxlength="10" required="true" ng-model="coupon.setid" ng-blur="updateSet($event);">
            </div>
          </div>

        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4">
              <label for="codePrefix" class="control-label" data-translate="6364">Code Prefix</label>
            </div>
            <div class="col-xs-4">
              <input name="codeprefix" id="codePrefix" type="text" class="form-control" maxlength="6" ng-model="coupon.codeprefix" ng-blur="updateSet($event);">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label" data-translate="6360">Set Name</label>
            </div>
            <div class="col-xs-8">
              <input name="setname" type="text" class="form-control" required="true" maxlength="50" ng-model="coupon.setname" ng-blur="updateSet($event);">
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label" data-translate="6365">Set Start Date</label>
            </div>
            <div class="col-xs-4">
              <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'mediumDate'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="false" datepicker-options="startDate.datepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label" data-translate="6366">Allowed Use</label>
            </div>
            <div class="col-xs-8">
              <select name="applycountv" class="form-control" ng-model="applyCount.value" convert-to-number ng-change="onApplyCountChange($event)">
                <option value="1"><span data-translate="4387">Once</span></option>
                <option value="0"><span data-translate="4388">Unlimited</span></option>
                <option value="2"><span data-translate="1832">Count</span></option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label" data-translate="6367">Set End Date</label>
            </div>
            <div class="col-xs-4">
              <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'mediumDate'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="false" datepicker-options="endDate.datepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-4">
              &nbsp;
            </div>
            <div class="col-xs-8">
              <input name="validationcount" numberonly min="0" type="text" class="form-control" ng-model="coupon.validationcount" ng-if="applyCount.value===2" ng-blur="updateSet($event);">
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label" data-translate="6368">Set Start Date when Issued</label>
            </div>
            <div class="col-xs-4">
              <input name="startdatedays" type="text" class="form-control" ng-model="coupon.startdatedays" numberonly="" ng-blur="updateSet($event);">
            </div>
            <div class="col-xs-4">
              <label class="control-label" data-translate="6369">Days from issue date.</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-12">
              <label>
                <input name="autogenerate" type="checkbox" ng-model="coupon.autogenerate" ng-blur="updateSet($event);"> <span data-translate="6370">Generate codes when unavailable</span>
              </label>
            </div>

          </div>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label" data-translate="6371">Set End Date when issued</label>
            </div>
            <div class="col-xs-4">
              <input name="enddatedays" type="text" class="form-control" ng-model="coupon.enddatedays" numberonly="" ng-blur="updateSet($event);">
            </div>
            <div class="col-xs-4">
              <label class="control-label" data-translate="6369">Days from issue date.</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-if="params.mode==='edit'">
        <div class="col-xs-12">
          <responsive-grid ng-if="cpnSetGrid" grid="cpnSetGrid" extra-class="edit-coupon-grid"></responsive-grid>
        </div>
      </div>


    </ng-form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-6 text-left">
        <generate-coupons-button coupon-obj="coupon" ng-if="params.mode==='edit'"></generate-coupons-button>
        <import-coupons-button coupon-obj="coupon" ng-if="params.mode==='edit'"></import-coupons-button>
        <edit-set-coupon-button coupon-obj="getSelectedCoupon()" disable="disableEditButton()" ng-if="params.mode==='edit'"></edit-set-coupon-button>
        <new-set-coupon-button coupon-obj="coupon" ng-if="params.mode==='edit'"></new-set-coupon-button>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-default" ng-if="params.mode==='edit'" data-translate="583" ng-click="closeModal()" event-name="editCouponSetClose" id="editCouponSetCloseButton">Close</button>
        <button class="btn btn-default" ng-if="params.mode==='new'" data-translate="2904" ng-click="createSet()" event-name="editCouponSetCreate" id="editCouponSetCreateButton">Create</button>
        <button class="btn btn-default" ng-if="params.mode==='new'" data-translate="1.2" ng-click="cancelSet()" event-name="editCouponSetCancel" id="editCouponSetCancelButton">Cancel</button>
      </div>
    </div>


  </div>
</div>
