.angularTableContainer {
	width: 100%;
}

.angularTableHeaderTableContainer {
	width: 100%;
}

.angularTableTableContainer {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

.angularTableHeaderTable {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

.angularTableTable {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

.angularTableHeaderRow {

}

.angularTableRow {
	cursor: pointer;
}

.angularTableHeaderColumn {
	padding: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

.angularTableColumn {
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.angularTableDefaultSortArrowAscending {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	display: inline-block;
	vertical-align: middle;
}

.angularTableDefaultSortArrowDescending {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	display: inline-block;
	vertical-align: middle;
}



.demoTable {

	margin: 0;
	vertical-align: top;
	height: 500px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.demoDetailPane {
	float: left;
	border: 1px solid black;
	margin: 0;
	width: 20%;
	height: 70%;
	background-color: #87cefa;
	vertical-align: top;
}

.demoDetailInnerPane {
	padding: 5px;
}

.demoRow {
	font-size: 16px;
}

.demoHeaderColumn {
	background-color: #009EBF;
	border-bottom: 0;
	color:#fff;
	font-weight: 900;
	border-color: #CCCCCC;
}

.demoFarRightHeaderColumn {
	background-color: #cccccc;
	border-bottom: 0;
	border-right: 0;
}

.demoHeaderText {
	display: inline-block;
}

.demoFarRightColumn {
	border-right: 0;
}

.angularTableColumn {
	padding: 5px;
	border-bottom: 0;
}
td.checkboxCell{
	width:20px;
}