body{
    padding-top:5px;
    /*margin-bottom:70px !important;*/
    overflow-x: hidden;
}

body.nomargin-bottom{
    margin-bottom: 0px!important;
}
.search-panel .panel-heading{
  padding:0;
}
.search-filter-toggle{
  height:57px;
}
.search-filter-title-small{
  margin-left:10px;
  position:relative;
  top:10px;
}
.search-result-title-on-small{
  margin-left:10px;
  position:relative;
  top:10px;
  display:block;
}
.search-result-title-off-small{
  margin-left:10px;
  margin-top:3px;
  display:inline;
}
.search-filter-toggle-small{
  height:39px;
}
.well{
  margin-bottom:3px;
}
.search-filter-title{
  margin-left:10px;
  margin-top:20px;
}
.panel-invalid{
  border-color:red;
}
.search-result-title-on{
  margin-left:10px;
  margin-top:20px;
  margin-bottom:19px;
  display:block;
}
.search-result-title-off{
  margin-left:10px;
  margin-top:20px;
  display:inline;
}
.record-count{
  margin-right:10px;
  margin-top:20px;
}
body.portrait {
    padding: 0px !important;
    margin: 0px !important;
}
body.no-scroll{
    overflow: hidden;
}
.help{
  font-size:18px;
  color:#FFF;
}
.white-bg{
  background-color:#FFF;
}
.no-resize{
  resize: none;
}

.json-tree ul li{
  list-style:none;
}
.json-tree{
  max-height:400px;
  overflow-x:auto;
}
.btn.grid-button{
  height:26px !important;
  width:26px !important;
  padding:0 !important;
  margin-top:8px !important;
}
.btn.green-button{
  background-color:green ;
}
.rp-select-overflow{
  max-height:200px;
  overflow-x:auto;
}
/* Create the animation blocks */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.green{
  color:green;
}
.red{
  color:red;
}
/* Spinning, gradient circle; CSS only! */
.circle {
  width: 15px;
  height: 15px;
  border-radius:50%;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #95E4AF 0%, #33CC66 100%, #33CC66 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, #FFF, #33CC66);
  background-image: radial-gradient(45px 45px 45deg, circle cover, #33CC66 0%, #95E4AF 100%, #95E4AF 95%);
  margin-left:7px;
  margin-top:5px;
  animation-name: spin;
  animation-duration: 3s; /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle-green{
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #95E4AF 0%, #33CC66 100%, #33CC66 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, #FFF, #33CC66);
  background-image: radial-gradient(45px 45px 45deg, circle cover, #33CC66 0%, #95E4AF 100%, #95E4AF 95%);
}
.circle-red{
  background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, red);
}
.list-group.profiles{
  height:26vh;
  overflow-y:auto;
  border:solid 1px #CCC;
  padding:3px;
  border-radius:5px;
}
.full-loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity:.3;
  height: 100%;
  z-index: 9999;
  background: url('../images/prism-ajax-loader.svg') 50% 50% no-repeat rgb(249,249,249);
}
.panel.profile .panel-heading {
  padding-top:3px;
}
.panel.profile .panel-heading span.rlabel{
  position:relative;
  color:#FFF;
  top:10px;
  padding-bottom:10px;
}
.panel.profile .panel-body{
  padding:0;
  height:20vh;
  overflow-y:auto;
  overflow-x:hidden;
}
.panel.profile li{
  border-left:0;
  border-right:0;
}
.panel.profile li:last-child{
  border-bottom:0;
}
.panel.profile li:first-child{
  border-top:0;
}
.green-bg{
  background: greenyellow;
}

.lockScroll  {
  overflow: hidden !important;
}

.fullContent .modal-content {
  width:100%;
  height: 100%;
}

.iDarkDetails .modal-dialog  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.iDarkDetails .modal-content {
  max-height: 100%;
  border-radius: 0;
  background-color: #222222;
}

.iDetails .modal-dialog  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.block-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #222222;
}

.iDetails.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.rp-button, .rp-button:hover {
    text-align: center;
    padding: 2px 12px !important;
    margin: 0px 5px !important;
    height: 46px;
    width: 125px;
}
.glyphicon-scissors:before {
  content: "\e226";
}
.red-color{
  color:red;
}
.green-color{
  color:green;
}
.rp-button-portrait, .rp-button-portrait:hover {
    text-align: center;
    padding: 2px 12px !important;
    height: 46px;
}

.detail-float{
  position: absolute;
  /*display: block;*/
  z-index: 1;
  width: 150px;
  left: 35%;
  margin: 5px;
}

.btn.full{
    width:100%;
}

.cursor-pointer{
    cursor:pointer;
}
.table-centered td,th{
    text-align:center;
}
.capitalize{
    text-transform:capitalize;
}

li.dropdown{
    display:inline-block;
    margin-left:10px;
}
.inline-block{
    display:inline-block;
}
td.align-left{
    text-align:left;
}
.crumbs{
    padding:0px;
}
.logo-small{
    height:58px;
    position:relative;
    top:-5px;
}
.tree-menu ul{
    padding:0;
    margin:0;
    font-size:14px;
    margin-left:10px;
}

ul.tree-menu li a{
    padding:2px;
    cursor: pointer;
    display: block;
    font-size:18px;
}
ul.tree-menu li a:hover{
    padding:2px;
    cursor: pointer;
    text-decoration: none;
    background: rgba(0,0,0,.2)
}
.tree-menu i{
    color:#336699;
}
.tree-menu li ul{
    display:none;
    list-style:none;
}
.select.dropdown-menu{
    max-height:250px;
    overflow:auto;
}
ul.dropdown-menu{
    max-height:250px;
    overflow:auto;
    position:absolute!important;
    top: 30px;
}
.col-select{
    max-height:250px;
    overflow:auto;
}
.form-group .row{
    margin-bottom:3px;
}
.tab-pane.active{
    border:solid 1px #DDD;
    border-top:none;
    padding:20px;
}
.hal-buttons{
    position:relative;
    top:-7px;
}
.top-margin {margin-top:5px !important;} .top-margin20 {margin-top:20px !important;} .top-margin10 {margin-top:10px !important;}
.rpro-menu .btn{
    width:150px;
    text-align:left;
}
.full .modal-dialog{
    width:auto;
    margin-left:20px;
    margin-right:20px;
}
.list-group li li{
    list-style-type: none;
}
.float-checks{
    padding:0;
    margin:0;
}
.float-checks li{
    list-style:none;
    display:inline-block;
    width:175px;
}
.tender-rules tr td{
    width:75px;
    text-align:center;
}
.tender-rules tr td:first-child{
    width:200px;
    text-align:left;
}
#buttonArea {  height: 77vh;  overflow: auto;  }
.rp-icon-button{
    white-space: normal;
}
.modal-body.allow-overlay{
  overflow:visible;
}
.modal-body{
    overflow:auto;
}
.modal-date{
  overflow: visible !important;
  }
/*Print designer adjustments tab margin and search results overflow*/
.print-design-tabs{
    margin-top:10px;
}
.xml-search-data{
    overflow:auto;
    max-height:300px;
}
.btn-icon{
    margin:3px;
    border:outset 1px;

}
.touchposButton{
    white-space: normal;
}
/*these classes apply to the img-btn directive*/
button.img-btn{
    padding:0;
}
button.img-btn table{
    margin:0;
    padding:0;
}
button.img-btn table tbody tr td:first-child{
    padding-left:10px;
    width:1%;
}
button.img-btn table tbody tr td{
    vertical-align: middle;
    border:0;
    white-space: normal;
}
/*End*/

.rp-datepicker .dropdown{
    padding:0px;
}
/* Signature Capture Styling */
.sigWrapper { height: 250px !important; width: 380px !important; display: inline-block;}
.showSigCap { width: 400px; margin: 0 auto; }

.clear_bg{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:transparent;
    z-index:90
}
.rp-datepicker .btn-group{
    position:relative;
}
.rp-datepicker td{
    width:50px;
    height:30px;
}
.rp-datepicker select{
    padding:0;
}
.cal-btn{
    height:35px;
    width:40px;
}
.rp-datepicker li.dropdown{
    display:inline-block;
    margin-left:0px;
}
.rp-datepicker .dropdown-menu li{
    padding:7px;
    cursor:pointer;
}
.rp-datepicker .dropdown-menu{
    max-height:250px;
    overflow:auto;
}
.cal-btn-sm{
    width:30px;
    height:35px;
    padding-top:5px;
    vertical-align:middle;
}

.preference-panel{
    margin-bottom:80px;
    margin-top: 5px;
}
tr.context-rowtrue td{
    background-color:#ffff00 !important;
    cursor:pointer !important;
}
tr.context-rowfalse td{
    cursor:pointer !important;
}
/*display pointer icon on paging and accordians*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#rpButtons { margin: 0px 5px; }
.simpleTransactionForm { margin-top: -10px !important; }
.logo { width: 50px; height: 50px; margin-left: 14px; } /* size and positioning for branding logo */
img.itemImage { width: 85px;height:85px;background-color: #000;} /* size for inventory item image and place holder */

/* Hides or displays transaction buttons */
button table { background-color: transparent; }
#tenderbutton { border-top-left-radius: 0px; border-top-right-radius: 0px; height:45px;}
.documentTotal { padding-right: 5px; border-radius: 0px; font-size: 2em; width: 100%; border: 0; }
#exitPrismButton { margin-top: 5px;}

.panel-collapse .panel-heading{    padding:0;}
.panel-collapse .panel-body{    padding:0;}
.panel-collapse .panel-footer{    padding:0;}
.panel-group .panel-collapse .panel-heading{    padding:5px;}
.panel-group .panel-collapse .panel-body{    padding:5px;}
.panel-group .panel-collapse .panel-body{    padding:5px;}
form,ng-form {    -webkit-transition:all linear 0.5s;    transition:all linear 0.5s;    background: transparent;}
input.ng-invalid,textarea.ng-invalid,select.ng-invalid {
    border:solid 2px red;
}
.hal-tab-container .modal-footer{
    border:solid 0px;
}
.autoOverflow { overflow:auto!important;; overflow-x: hidden!important;; }
.autoOverflowPortrait { overflow:scroll!important; overflow-y:scroll!important; overflow-x: hidden!important; -webkit-overflow-scrolling: touch; }
.noOverflow { overflow: hidden!important; }
.inheritOverflow { overflow: inherit!important; }
.noWrap { white-space: nowrap; }
.SmallResultsPane{position:relative;}
.ReturnResultsPane { height: 205px; position: relative;}
.aside .aside-dialog .aside-body{padding:5px !important}
.height02 {height: 2vh !important;} .height05 {height: 5vh !important;} .height07 {height: 7vh !important;} .height10 {height: 10vh !important;} .height13 {height: 13vh !important;} .height15 {height: 15vh !important;} .height17 {height: 17vh !important;} .height18 {height: 18vh !important;} .height20{height: 20vh !important;} .height22 {height: 22vh !important;} .height25 {height: 25vh !important;} .height26 {height: 26vh !important;} .height30 {height: 30vh !important;} .height35 {height: 35vh !important;} .height38 {height: 38vh !important;} .height40 {height: 40vh !important;} .height44{height: 44vh !important;} .height45 {height: 45vh !important;} .height50 {height: 50vh !important;} .height55 {height: 55vh !important;} .height58 {height: 58vh !important;} .height60 {height: 60vh !important;} .height63 {height: 63vh !important;} .height64 {height: 64vh !important;} .height65 {height: 65vh !important;} .height70 {height: 70vh !important;} .height75 {height: 75vh !important;} .height80 {height: 80vh !important;} .height82 {height: 82vh !important;} .height83 {height: 83vh !important;} .height85 {height: 85vh !important;} .height90 {height: 90vh !important;} .height95 {height: 95vh !important;} .height98 {height: 98vh !important;} .height100 {height: 100vh !important;}
.form-control.multi{
    height:160px;
    width:99.9%;
}
.eft_addy_pop .btn-icon{
    position:relative;
    top:-1px;
}
#adv_lookup_ctrls input[type="radio"]{
    position:relative;
    top:-3px;
}
.pagination{
    margin:0px;
}
.pagination li a{
    font-size:24px;
}
.ui-grid-selection-row-header-buttons{
    display:block;
    height:100%;
    width:100%;
}
.ui-grid-cell-contents.ui-grid-cell-focus {
    height: 100%;
}
.ui-grid-default {
  background-color: #e3e3e3;
  border-color: #c1c1c1;
}
.csgrid.ui-grid { height: 40vh !important;}
.csgrid.ui-grid .ui-grid-pinned-container { height: 35vh !important;}

.csgridShipping.ui-grid { height: 30vh !important;}
.csgridShipping.ui-grid .ui-grid-pinned-container { height: 25vh !important;}
.grid.ui-grid { height: 60vh !important;}
.grid.ui-grid .ui-grid-pinned-container { height: 55vh !important;}
.grid-full.ui-grid { height: 80vh !important;}
.grid-full.ui-grid .ui-grid-pinned-container { height: 75vh !important;}
.kit-grid.ui-grid { height: 40vh !important;}
.portraitTotal { padding: 3px 0px !important; }
.fourcorners .btn-group .btn { border-radius: 0px !important; }
.topsquare .btn-group .btn { border-top-right-radius: 0 !important;   border-top-left-radius: 0 !important;}
.bottomsquare .btn-group .btn { border-bottom-right-radius: 0 !important;   border-bottom-left-radius: 0 !important;}
.rightsquare { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }
.leftsquare { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }
.icon-bar { display: block; width: 22px;  height: 2px;  border-radius: 1px; }
.navbar-portrait .btn { height: 50px; font-size: 16px; }
.po-item-grid.ui-grid{ height: 30vh !important;}
.po-item-grid.ui-grid .ui-grid-pinned-container { height: 29vh !important;}
ul.list-group-nopad{
    margin:0;
    padding:0;
}
.list-group-nopad li{
    padding:2px;
    font-size:90%;
}
.ui-grid-selection-row-header-buttons{
    display:block;
    height:100%;
    width:100%;
}

.ui-grid-disable-selection{
    height: 100%;
}

.ch-grid{
    width:64vw;
}
.ch-grid.ui-grid { height: 41vh !important;}
.extended-height .ch-grid.ui-grid { height: 53vh !important;}
.ch-grid.ui-grid .ui-grid-pinned-container { height: 36vh !important;}
.rp-row{
    height:50px;
}
.ui-grid-canvas{
    height: auto;
    overflow:hidden;
}
.modal.fade {
    opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.grid0{
    background-color:#E6E6E6;
    padding:5px;
    vertical-align:middle;
}
.grid1{
    padding:5px;
    vertical-align:middle;
}
.flip-text{
    transform: rotate(-90deg);
    transform-origin: right;
}

.carousel-control .icon-prev, .carousel-control .icon-next{
    background:transparent;
}

.ajax-loader{
    width: 31px;
    height: 31px;
    margin: 0 auto;
    display: block;
}

img.simple-transactions-partial{
    width:100px;
    height: auto;
}

img.item-details-image{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.rpicon-nav{
    font-size:60px;
}
img.item-details-image.loading{
    width:auto!important;
}

div#customerLookupModal{
    min-height:500px;
}

div#customerLookupModal .modal-body{
    min-height: 320px;
}

ul.dropdown-menu li a{
    cursor:pointer;
}

div#rpDropdownContainer{
    margin-top:0;
}
.no-shade.form-control{
    background-color:transparent;
}
.modal-maxHeight{
    max-height:70vh;
}

ul.lookup_by_list{
    list-style: outside none none;
    width: 100%;
    padding:0;
}
ul.lookup_by_list li {
    float: left;
    margin: 10px;
}

label.vertical-centered{
    line-height: 42px;
}

div.upload-container input[type="file"]{
    overflow: hidden;
    opacity: 0;
    display:block;
}


.default-visible-wrapper{
    width: 100%;
    height: 160px;
    overflow-y: scroll;
    border: 1px solid rgb(213, 213, 213);
    background: #fff;
}

div.row.with-bottom-space{
    margin-bottom:10px;
}

div.item_select_available_qty{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-flex-flow: row wrap;
    flex-flow:row nowrap;
    justify-content:flex-start;
}

div.item_select_available_qty.titles div{
    font-weight: bold!important;
    background-color: #d5d5d5;
}

div.item_select_available_qty div:last-child{
    border-right: none;
}

div.item_select_available_qty div{
    font-weight: normal;
    border-right: 1px solid #A2A2A2;
    flex:auto;
    padding:2px;
    width:25%;
    height: auto;
    text-align: center;
    overflow:hidden;
    word-break: break-all;
}


.default-visible-wrapper label{
    width:100%;
}

div.no-padding{
    padding:0!important;
}

div.header-view input, div.header-view select {
    height: 26px;
    font-size: 12px;
}

.row.header-view .filter-remove{
    font-size: 9px;
}

div.pi-sheet-header-container{
    height: 15.5vh;
}

.pi-sheet.panel-heading{
    padding: 1px 15px;
}

div.pi-tab-content{
    margin-top:5px;
}
.text-list{
    border-radius:5px;
    background-color:#F5F5F5;
}


div.pi-tab-content .grid.ui-grid {
    height: 48vh !important;
    overflow-y: hidden;
}

div.tab-content .tab-pane.active{
    padding:0;
}

.no-margin{
    margin:0!important;
}

.no-padding{
    padding:0!important;
}

.no-left-padding{
    padding-left:0!important;
}

.no-right-padding{
    padding-right:0!important;
}

input + .typeahead.ng-hide { display: block !important; visibility: hidden !important; overflow: hidden; }
ul.typeahead{
    overflow:auto;
    max-height:250px;
}
img.responsive {
    max-width: 100%;
    height: auto;
}

div.no-padding{
    padding:0!important;
}

div.header-view input, div.header-view select {
    height: 26px;
    font-size: 12px;
}

.row.header-view .filter-remove{
    font-size: 9px;
}

.pi-sheet.panel-heading{
    padding: 1px 15px;
}

div.pi-tab-content{
    margin-top:5px;
}

div.pi-tab-content .ui-grid-cell-contents{
    padding:5px!important;
}

.valign-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img.responsive {
    max-width: 100%;
    height: auto;
}
div.panel-body.pi-items-grid-container{
    height: 50vh !important;
}

div.row.no-margin.pi-item-lookup{
    margin-bottom:5px!important;
}

div.po-vouchers-ac{
    padding:20px;
}

.receiving-info-content{
    padding:0 20px;
}

/*.grid.voucher-items-grid{
  height:350px!important;
  margin-bottom: 25px;
}*/
.po-recv-item-container.bottom{
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    margin-top: 20px;
}

.po-recv-item-container.top, .modal-top-data{
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 10px;
}
.po-subtotal{
    font-size:125%;
    font-weight:bold;
}
.po-total{
    font-size:150%;
    font-weight:bold;
}

.voucher-details-tab-wrapper .panel .panel-body{
    min-height: 135px;
}

.voucher-details-tab-wrapper .panel .panel-heading{
    padding: 3px 10px;
}

.voucher-items-list{
    padding: 10px;
    height: 100%;
    width: 100%;
}

.grid-items-list{
    height: 100%;
    width:100%;
}

.voucher-items-wrapper{
    overflow: scroll;
    height: 46vh!important;
    width:100%;
}

/* .voucher-items-wrapper{
    height: 54vh!important;
} */

.voucher-items-wrapper .grid.ui-grid{
    height: 53vh!important;
}

.ui-grid-menu-items{
  max-height:200px;
}

/*Fix transparent menu when forcing max height above */
.ui-grid-menu .ui-grid-menu-mid {
  background: #f3f3f3;
}

.ui-grid-menu .ui-grid-menu-inner {
  background: none;
  webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
/* ************************************************ */

.grid-items-wrapper{
  overflow: hidden;
  height: 30vh!important;
  width:100%;
}

.grid-items-wrapper .ui-grid{
    height: 29vh!important;
}

.pm-main-grid-items-wrapper{
  height: 80vh!important;
}

.pm-main-grid-items-wrapper .ui-grid{
  height: 79vh!important;
}

.po-allocation-grid-items-wrapper{
  overflow: hidden;
  height: 22vh!important;
  width:100%;
}

.po-allocation-grid-items-wrapper .ui-grid{
  height: 21vh!important;
}
.voucher-comment-grid .grid.ui-grid{
    height: 38vh!important;
}

.voucher-comment-grid .grid.ui-grid .ui-grid-pinned-container { height: auto !important;}

.voucher-items-list .list-group{
    margin-bottom:10px;
}

.voucher-items-list .list-group-item{
    font-size:90%;
    padding:2px;
}

.voucher-items-list .list-group-item > .badge, .list-group-nopad .list-group-item > .badge{
    background-color: transparent;
    color: #222;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0;
}

.voucher-items-list .list-group-item.total, .list-group-nopad .list-group-item.total{
    background-color: black;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
}

.voucher-items-list .list-group-item > .badge.total, .list-group-nopad .list-group-item > .badge.total{
    color:#fff;
    font-size: 13px;
    font-weight: bold;
}

.slip-items-list{
    height: 70%;
    width:98%;
    margin-left: 1%;
    margin-right: 1%;
}
.slip-items-wrapper{
    height: 70%!important;
}
.slip-items-summary{
    width:99%;
    margin-left: 1%;
}
.bold-hr {
    margin: 10px 0px;
    border-color: #666666;
}
.padding-5{
    padding:5px;
}
.padding-10{
    padding:10px;
}
.padding-15{
    padding:15px;
}

.padding-20{
  padding:20px;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.po-details-panel{
    min-height:200px;
}

.item-thumbnail {
    text-align: center;
    vertical-align: baseline;
    padding: 5px;
}

.item-thumbnail img {
    width: 32px;
    height: auto;
    border-radius: 50%;
}

#selectItem,#selectGiftItem,#redeemItem{
  height: 60vh;
}
#redeemItem input[type='checkbox'] {
    border:none;
    box-shadow:none;
    outline: none;
}

button.voucher-new-comment{
    height:22px;
}

select.voucher-new-comment{
  height:22px;
  padding:0 12px;
  font-size: 13px;
}

#redeem-details {
    margin-top: -6px;
}

#redeem-details .form-control {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

select.form-control.ng-invalid,input.form-control.ng-invalid,
select.form-control.required,input.form-control.required{
    border:solid 2px red;
}

.green-border{
    border-color:green;
}
.panel-body.voucher{
    height:68.5vh;
}
.panel-body.po{
    height: 66vh;
}

.prism-alert-wrapper{
    position: absolute;
    bottom:50px;
    width: 100%;
    height: auto;
}

.alert.prism-alert{
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 17%;
    height: 75px;
    float: right;
}

.alert.prism-alert.text-container{
    word-wrap: break-word;
    text-align: center;
    padding:5px;
}

.alert.prism-alert.alert-warning{
    background-color: rgba(169,68,66,0.9) !important;
    border-color: #a94442 !important;
    color: #eeeeee !important;
}

.notification-prism-logo{
    position: absolute;
    left: 5px;
    top: 5px;
}

.errorinput{
    border-color:red !important;
}

a.btn.btn-small.close-notification{
    font-size:12px;
    background-color:rgba(195, 195, 195, 0.44);
    text-decoration: none;
    float: right;
    margin-bottom: 8px;
}

a.btn.btn-small.close-notification:hover{
    color:#fff;
}

.ui-notification>h3 {
    text-indent: 25px;
}

.voucher-dates-container{
    padding: 0 0 0 35px;
}

thead.left-titles th{
    text-align: left;
}

.table.add-remove-list{
    width:100%;
}

.saved-flag{
    border: 1px solid #3c763d;
}

.error-flag{
    border: 1px solid red;
}

.add-remove-list-container{
    height:40vh;
    overflow-y:scroll;
}

.ui-notification:hover {
    opacity: 1!important;
}

.modal-footer span + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.button-container{
    width: 96%;
    height: auto;
    position: fixed;
    z-index: 100;
    bottom: 2px;
}

.round-button{
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /*  background: #D2D2D2;
      border-color: #DEDEDE;*/
    margin:0 auto;
}

.round-button img{
    width: 30px;
    height: auto;
    position: absolute;
    margin: 5px;
}

.round-button i {
    font-size: 25px;
    margin-left: 9px;
    margin-top: 10px;
    color:#fff;
}

.side-nav-container{
    width: 100%;
    background: #222222;
    height: 40px;
    position: fixed;
    bottom: 0;
}

.side-nav-controls{
    display:none;
}

.side-nav-controls.active{
    display:block;
}

.side-nav-controls ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.side-nav-controls ul li{
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-weight: normal;
    cursor: pointer;
}

.side-nav-controls li a{
    color:#fff;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

.side-nav-controls ul li:hover{
    font-weight: bold;
}

.side-nav-controls {
    background: rgba(0,0,0,0.89);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10% 0;
    z-index: 99;
}

.row-container{
    width: 100%;
    margin: 0;
    padding: 5px;
    background: #e2e2e2;
}

.row-container.transparent{
  background: transparent;
}

.row-container.full-height{
    height: 100%;
}

.mobile-grid-panel{
    height: 73vh;
    overflow: scroll;
}

.mobile-screen-title, .blue-bar{
    line-height:35px;
    color:#fff;
    text-align: left;
    background-image: url("/images/svg/rpro-dark/info-btn.svg") !important;
    background: #144270;
}

.mobile-screen-title span {
    margin-left: 15px;
    font-size: 21px;
}

.mobile-screen-title.md span {
    font-size: 16px;
}

.left-buttons{
    width: 45%;
    height: auto;
    position: absolute;
    left: 0;
    z-index: 100;
}

.left-buttons img {
    width: 35px;
    height: auto;
    margin-left: 24px;
    margin-top: 6px;
    float:left;
}

.left-buttons i.fa {
    font-size: 25px;
    margin-left: 32px;
    margin-top: 11px;
    color: #fff;
    float:left;
}

.right-buttons{
    width: 45%;
    height: auto;
    position: absolute;
    right: 0;
    z-index: 100;
}

.right-buttons img {
    height: 35px;
    width: auto;
    margin-right: 24px;
    margin-top: 6px;
    float:right;
}

.right-buttons i.fa {
    font-size: 25px;
    margin-right: 32px;
    margin-top: 11px;
    color: #fff;
    float:right;
}

.footer-action-buttons-container, .promo-action-buttons-container {
    width: auto;
    position: absolute;
    right: 0;
}

.footer-action-buttons, .promo-action-buttons{
    float:left;
    margin-right:5px;
}

.footer-action-buttons:last-child, .promo-action-buttons:last-child{
    margin-right:0;
}


.grid.ui-grid.full-page-grid{
    height: 86vh !important;
}

.grid.ui-grid.full-page-grid.grid-with-paging{
    height: 81vh !important;
}
.grid-items-wrapper.grid-with-paging{
  height: 81vh !important;
}

#mobile-responsive-grid{
    height: 74vh;
    overflow-y: scroll;
}

label.ng-invalid{
    border:solid 2px red;
    border-radius:5px;
}

.popover button{
    padding: 5px !important;
}

.tree-menu-two ul{
    padding:0;
    margin:0;
    margin-left:10px;
}

ul.tree-menu-two li a{
    padding:0px;
}

.tree-menu-two i{
    color:#336699;
}

.tree-menu-two li ul{
    display:none;
    list-style:none;
}

.tree-menu-two .rpc-panel{
    height:540px;
    overflow-x:auto;
}
.tree-folder{
    margin-right:5px;
}
.tree-arrow{
    margin-left:3px;
}

.tree-menu-two .panel-body{
    padding:0;
}
.tree-menu-two .scroll{
    max-height:368px;
    overflow:auto;
}
.tree-menu-two .list-group-item{
    border-top-left-radius:0px;
    border-top-right-radius:0px
}
.tree-menu-two .list-group{
    margin-left:0px;
    border:solid 0px
}

/*.form-wrapper{
  height: 74vh;
}*/

.responsive-container{
    height: 80.50vh;
    overflow-y: scroll;
    background: #e2e2e2;
}

.responsive-container.promo-priorities{
    height: 87.5vh;
}

ul.list-parent li {
    list-style: none;
}

select.promotion-priorities-list{
    height: 76.5vh;
}

.list-group.align-vertical{
    margin-top:40%;
}

button.full-width{
    width: 100%;
}

ul.list-group.item-filter-list {
    height: 414px;
    border: 1px solid #cccccc;
    overflow-y:scroll;
}

.filter-rule {
    text-align: left;
    padding: 5px 15px;
}

.join-operator {
    text-align: center;
    font-weight: bold;
    padding: 5px 15px;
}

.join-operator.and-operator{
    background-color: #82BB95;
}
.join-operator.or-operator{
    background-color: #82ACBB;
}

.list-group-item.no-padding{
    padding:0!important;
}

.list-group-item.small{
    padding:5px 10px;
    font-size:90%;
}

.item-filter-list li:hover {
    opacity: 0.8;
    cursor:pointer;
}

.item-filter-list li.selected {
    opacity: 0.8;
    background: #222;
    color: #fff;
}

.item-filter-list li.selected .join-operator {
    background: #222;
    border-top: 1px dotted gray;
}

.item-filter-list li {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.timepicker table{
    background-color: transparent!important;
}

.timepicker-wrapper {
    height: 80px;
}

.timepicker-wrapper div {
    float: left;
    width: 35px;
    height: 45px;
}

.timepicker-wrapper div input {
    float: left;
    text-align: center;
    width: inherit;
    height: inherit;
    font-weight: bold;
    font-size: 1.5em;
    border: 1px solid #e2e2e2;
}

.timepicker-wrapper div small{
    width:100%;
    margin-top:3px;
    font-size:70%;
}

.ampm-select {
    height: 45px;
    font-size: 11px;
    margin-left: 5px;
}

.ampm-select .radio {
    height: 22.5px;
    margin-top: 0;
    margin-bottom: 0;
}

.summary-details-container{
    height: 100%;
    margin-top: -6px;
}

.summary-details {
    background-color: #f3f3f3;
    padding: 5px 5px 15px 5px;
    height: 100%;
    border: 1px solid #DCDCDC;
}

.summary-details h4 {
    text-indent: 5px;
}

.summary-details ul {
    width: 100%;
    padding: 0 0 0 25px;
    margin: 0;
}

.summary-details ul li {
    list-style: none;
    width: 100%;
}

span.summary-title {
    font-weight: bold;
    font-size: 13px;
}
span.summary-value {
    font-size: 13px;
}

.floating-container {
    position: fixed;
    width: 30%;
    height: 78%;
    overflow-y: scroll;
}

.promotion-priorities-details .floating-container{
    height: 85%;
}

.promo-form-container{
    background:#e2e2e2;
}

.discount-tier-container{
    width:100%;
    max-height:274px;
    overflow-y:scroll;
}

.discount-tier-container table{
    width:100%;
}

.discount-tier-container input[type="text"] {
    border: transparent;
    box-shadow: none;
    font-size: 15px;
    text-align: center;
}

.discount-tier-container table tbody tr td{
    text-align: center;
}

.btn.remove{
    background: transparent;
    box-shadow: none;
    border: transparent;
}

.btn.remove:focus, .btn.remove:hover {
    outline: none!important;
    color: red!important;
}

.no-padding{
    padding:0;
}

.no-margin{
    margin:0;
}

input[type=text].uppercase{
    text-transform:uppercase;
}

.required-box {
    width: 5%;
    height: 34px;
    background: transparent;
    margin-top: -34px;
    float: right;
    border-radius: 0 4px 4px 0;
    text-align: center;
    line-height: 36px;
  min-width: 30px;
}
.even-row{
    background-color:#E6E6E6;
}
.required-box.required{
    background-color: #F96161;
}

.required-box.success{
    background-color: #4F9C4F;
}

.required-box span{
    font-size: 15px;
}

.required-box.required span{
    color: #480E0E;
}

.required-box.success span{
    color: #0D540E;
}

.required-box-input{
    width: 95.5%;
    border-radius: 4px 0 0 4px;
}

.promotion-priorities-details .summary-details{
    margin-top:5px;
}

.btn.large-text{
    word-wrap: break-word;
    white-space: normal;
    height: auto!important;
}

.simple-tenders .btn {
  height:7vh !important;
  }

.simple-tenders-qt .btn {
  height: 5vh !important;
  }

.simple-tenders-qt .btn {
  height: 5vh !important;
  }

.resource-filter-list{
    height:414px!important;
}

.priorities-action-buttons li{
    border:none!important;
}

.resource-filter-buttons li{
    border:none!important;
}

.required-check-radio-box.required{
    background: rgba(249, 97, 97,0.5);
}

.required-check-radio-box.success{
    background: rgba(79,156,79,0.5);
}

.required-check-radio-box span{
    float: right;
    margin-right: 7px;
    margin-top: 2px;
    font-size: 13px;
}

.required-check-radio-box.required span{
    color: #480E0E;
}

.required-check-radio-box.success span{
    color: #0D540E;
}

.in-out-coupon-container{
    padding: 8px;
    overflow-y: scroll;
    height: 200px;
}

.in-out-coupon-title{
    text-align: center;
}

ul.in-out-coupon-list li{
    background: transparent;
    border: none;
    line-height: 1.5em;
    border-radius: 0;
    text-indent: 10px;
    border-bottom: 1px solid #A0A0A0;
}

.ad-section-title{
    font-size:16px;
    font-weight:bold;
}

.priorities-action-buttons .list-group-item{
    background-color: transparent!important;
}

.full-width-btn button{
    width:100%;
}

.ui-notification>.message{
    word-wrap: break-word;
}

.import-file-wrapper {
    margin-top: 5px;
}
.modal-header{
    margin: -1px -1px 0 -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mobile-screen-title button span {
  font-size: 14px;
    margin: auto;
}
.mobile-screen-title button {
    float: right;
    margin-left: 5px;
}

.packages-description{
    height: 300px;
    margin:5px;
    border:1px solid #ccc;
    overflow-y:auto;
}

.packages-description table{
    width:100%;
}

.packages-description table tr.selected{
    background-color: #003366;
    color:#fff;
}

.grid.ui-grid.batch-asn-list-grid{
    height: 31vh !important;
}

.grid.ui-grid.vendor-invoice-grid{
    height: 31vh !important;
}

.grid.ui-grid.vendor-invoice-grid .ui-grid-pinned-container{
    height: 31vh !important;
}
.grid.ui-grid.batch-asn-list-grid .ui-grid-pinned-container{
    height: 31vh !important;
}
.no-results-batch-rcv{
  height: 34.5vh !important;
}
.batch-filters{
  height:75.5vh !important;
  overflow:auto;
}
.mobile-margin-bottom{
    margin-bottom:40px;
}
.gray-text{
  color:#ADADAD;
}


.disable-row-child-margin > .row:first-child{
    margin-left: 0;
    margin-right: 0;
}

.block-10{
    margin-top:10px!important;
}

.batch-receiving-wrapper{
    background:#e2e2e2;
}

.batch-receiving-wrapper .mobile-margin-bottom{
    margin-right: 0!important;
    margin-left: 0!important;
}

/*This fixes the bug that anchor tags don't work with ng-disabled*/
a.disabled{
    cursor: not-allowed!important;
    color: #969696!important;
}

.align-with-button{
    margin-top:-10px;
}

/*.btn-group .btn-group:last-child .btn:first-child{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group .btn-group:first-child .btn:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group:not(:first-child):not(:last-child) .btn {
    border-radius: 0;
}*/
.btn-group .btn:first-child {
    margin-left: 0;
}

.btn-group .btn-group + .btn-group {
    margin-left:0;
}

.btn-group .btn-group .btn {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: 46px;
    font-size:15px;
}

.chip_on{
    background-color:#12416E;
}
.col-centered{
    margin: 0 auto;
}
.simple-list-selection{
    position:absolute;
    max-height:250px;
    overflow:auto;
    background-color:#FEFEFE;
    border-radius:5px;
    z-index:99999;
}
.simple-list-selection tr:hover{
    background-color:lightyellow;
}
.stripe{
    background-color:#F2F2F2;
}
.active-list-item{
    background-color:yellow;
}
.cell-disabled {
  background-color:darkgray;
}

.cashBtnSm{
    width:100%;
    margin: 0 auto;
}
.cashBtnLg{
    width:100%;
    margin: -10% auto;
}
.amBigBold {
  font-weight: 900;
  font-size: 14px;
}
.active-tender{
    background-color:lightyellow !important;
}
ul.menu-list{
    position:absolute;
    background-color:#FFF;
    z-index:999999;
    width:100%;
    margin:0;
    margin-left:-5px;
    border-radius:3px;
    border-bottom:solid 1px #CECECE;
    border-left:solid 1px #CECECE;
    border-right:solid 1px #CECECE;
    padding:0;
}
.menu-list li.menu-list-item{
    list-style:none;
    margin:0;
    padding-top:0px;
    cursor: pointer;
    padding-bottom:8px;
    margin-left: 0px;
    padding-left:0px;
    width:100%;
}
.menu-list li.menu-list-item span{
    padding-left:5px;
}
.menu-list li.menu-list-item:hover{
    background-color:#CECECE;
}
.menu-list li.menu-list-item hr{
  margin:0px;
  padding:0px;
  margin-bottom:8px;
}
.line {
    width: 80%;
    height: 1px;
    background: #fff;
    border-top: solid 1px #000;
    opacity: 0.4;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.full-width {
    width:100%;
}
.lowercase {
    text-transform: lowercase;
}
button {
    outline: none !important;
}
.no-border {
    border: none;
    box-shadow: none;
}
.position-fixed{
    position:absolute;
    left:0;
}
.browse-wrap {
    background: rgba(3, 22, 41, 0.10);
    cursor:pointer;
    overflow:hidden;
    padding:20px 60px;
    text-align:center;
    position:relative;
    background-color:#f6f7f8;
    border:solid 1px #d2d2d7;
}
.browse-wrap:hover {
    border: rgba(7, 52, 96, 0.30) 1px solid;
}
.browse-wrap .title {
    color:#3b5998;
    font-size:14px;
    font-weight:bold;
}
.browse-wrap input.upload {
    right:0;
    margin:0;
    bottom:0;
    padding:0;
    opacity:0;
    min-height:60px;
    outline:none;
    position:absolute;
    font-size:1000px !important;
}
.img_to_upload {
    margin:20px;
    display:block;
    color: #773538;
    font-weight:bold;
    position: relative;
}
.img_to_upload .del {
    position: absolute;
    right: 0;
    font-family: cursive;
    font-weight: bold;
    opacity: 0.5;
    color: #cc2929;
    cursor: pointer;
}
.img_to_upload .del:hover {
    opacity:1;
}
.m-b-5 {
    margin-bottom: 5px;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.tenders-label {
  text-align: left !important;
}

.tenders-checkbox {
  position: absolute;
  left:10%;
}

.tenders-checkbox-text {
  position: relative;
  left:18%;
}
.tenders-portrait-checkbox {
    position: absolute;
    left:8%;
}

.tenders-portrait-checkbox-text {
    position: relative;
    left:16%;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.bounceItem {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes redPulse {
  from { background-color:#d9534f; }
  50% { background-color:#a70500;-webkit-box-shadow:0 0 18px #a70500; }
  to { background-color:#d9534f; }
}

.glowing.red:not([disabled]) {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 3;
}
.webcam {
    cursor:pointer;
    min-height:360px;
}
.webcam-loader {
    position:absolute;
    top:25%;
    left:48%;
}
.take_picture {
    min-height: 160px;
}
#snapshot {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(146,136,136,0.5);
    background: url('/images/webcam/webcam-placeholder-dark.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#invnTabBar {
    position:absolute; margin-bottom:0px; bottom: 0px;
}

.no-outline:active, .no-outline:focus {
    outline:none !important;
}

#advSearchBtns {
    position:absolute;
    bottom: 2%;
    width: 95%;
}

.grid-col-center {
    text-align:center;
    position:relative;
}

.keepInside {
    overflow:hidden;
}

.invnadjitem {
    margin: 0 auto;
    width: 50%;
}

#merch-img {
    max-height: 100px;
}

.ln-edit-dialog .modal-dialog {
    width:60%;
    max-width: 60%;
    top: 20%;
    left: 1%;
}

.dlaheader {
    height: 3em;
    background-color: #DDE2EE;
    padding-top: 15px;
}
.dlaheadericon {
    height: 3em;
    padding-top: 4px;
    text-align: right;
    vertical-align: middle;
    background-color: #DDE2EE;
}
.dlarowcurr {
    height: 3.2em;
    border-bottom: 1px solid #AAAAAA;
    padding-top: 12px;
}
.dlarowamt {
    height: 3.2em;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    padding-top: 6px;
}
.dlarowstripe .row:nth-of-type(odd) div {
    background-color: #FFFFFF;
}
.dlarowstripe .row:nth-of-type(even) div {
    background-color: #EEEEEE;
}
.dlarows {
    height:200px;
    overflow-y:auto;
}
.padleft1 {
    padding-left: 1%;
}
.padright3 {
    padding-right: 3%;
}
.dlaborder {
    border: 1px solid #AAAAAA;
}
.dlamargleft {
    margin-left: .5%;
}
.drop-menu {
    padding: 5px 5px 0 5px;
}
.drop-menu:last-child {
    margin-bottom: 5px;
}
.drop-menu-sep {
    margin:  9px 5px 5px 5px;
}
.row-eq-height {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex:1 0 auto;
}
.disp-flex {
    display: flex;
}
.flex-grow1 {
    flex-grow: 1;
}
.portrait-pos-row {
    padding: 0 5px .5em 5px;
}
.portrait-pos-row-unsel {
    background-color: #ffffff;
}
.portrait-pos-row-sel {
    background-color: #e6f5ff;
}
.portrait-btn-row {
    padding: 0 5px 1px 5px;
}
.portrait-pos-btn-grp {
    padding: 0 5px 0 5px;
}
.btn-portrait-nav {
    width: 96%;
    margin: 0 2%;
}
.portrait-btn-img {
    margin-left: 2em;
}
.portrait-font-small {
    font-size: smaller;
}
.portrait-font-nav {
    font-size: 1.2em;
    line-height: 30px;
    vertical-align: middle;
}
.portrait-bkgrnd-lt-blue {
    color: #000000;
    background-color: #e6f5ff;
    padding-bottom: 1em;
}
.portrait-bkgrnd-lt-gray {
    color: #000000;
    background-color: #eeeeee;
    padding-bottom: 1em;
}
.border-red {
    border-color: #cb1403;
    border-width: 2px;
}
.margbot-3p {
    margin-bottom: 3%;
}
#discDropMenuList {
    position: absolute;
    background-color: #888888;
    width: 100%;
    min-width: 180px;
    z-index: 2000;
}
#qtyDropMenuList {
    position: absolute;
    background-color: #888888;
    width: 100%;
    min-width: 100px;
    z-index: 2020;
    text-align: right;
}
#qtyDropMenuItem {
    padding-right: .3em;
}
#itemDiscountClick, #itemQtyClick {
    height: 2.2em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.login-backdrop {
    opacity: 1 !important;
}
.state-hide {
    display: none;
}
.remove-bottom-margin {
    margin-bottom: 0px;
}
.selected {
    background-color: #0A3764;
}
.pl-5px {
    padding-left: 5px;
}
.mt-1 {
    margin-top: 1em;
}
.ml--5 {
    margin-left: -5px;
}
.mt-0 {
    margin-bottom: 0;
}
.required {
    border: 1px solid #d9534f;
}
.bdzifix {
    z-index: 10400 !important;
}
.mzifix {
    z-index: 10500 !important;
}
.visible-col-list{
  height:160px;
  overflow:auto;
  border:solid 1px #CCCCCC;
  border-radius:5px;
  background-color:#FEFEFE;
  padding:5px 10px 5px 10px;
}
tr.activeConnection td{
  background-color:yellow !important;
}
.vendor-contact-information{
  width: 100%;
  height: inherit;
}
.split-ui-right-pane, .split-ui-left-pane,
.vendor-right-pane, .vendor-left-pane{
  height: 77vh;
}
.split-ui-left-pane.single-tab,
.split-ui-right-pane.single-tab{
    height:84.5vh;
}
.split-ui-left-pane.single-tab.sibling-with-button-bar,
.split-ui-right-pane.single-tab.sibling-with-button-bar{
    height:83vh;
}
.split-ui-right-container, .split-ui-left-container,
.vendor-right-container, .vendor-left-container{
  margin-top: 10px;
  width: 49.5%;
}
.vendor-right-container,
.split-ui-right-container{
  margin-left:1%;
}
.vendor-tab-button-container,
.split-ui-tab-button-container{
  width:100%;
  bottom: 0;
}
.split-ui-tab-button,
.vendor-tab-button{
  word-wrap: break-word;
  word-break: break-word;
  line-height: 35px;
  border-radius: 0;
  margin: 0!important;
  font-size:100%;
}
.split-ui-tab-button.left,
.vendor-tab-button.left{
  width: 33.33%;
}
.split-ui-tab-button.right,
.vendor-tab-button.right{
  width: 25%;
}
.split-ui-tab-button.right.six{
    width: 16.667%;
}
.split-ui-tab-content,
.vendor-tab-content{
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.split-ui-tab-content.single-tab,
.vendor-tab-content.single-tab{
    max-height: 76vh!important;
}
.split-ui-overlay{
  width:100.1% !important;
}
.split-ui-tab-button-container > .btn.disabled, .split-ui-tab-button-container > .btn.active,
.vendor-tab-button-container > .btn.disabled, .vendor-tab-button-container > .btn.active{
  opacity: 1 !important;
  color:#FFFF00 !important;
}
.footer-btn-group .btn{
  padding: 11px 15px;
}
.grid.ui-grid.vendors-grid{
  height: 72vh !important;
}
.grid.ui-grid.department-grid{
  height: 72vh !important;
}
.grid.ui-grid.edit-coupon-grid{
  height: 30vh !important;
}

.margin-5{
  margin:5px;
}
.margin-10{
  margin:10px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-right-5{
    margin-right: 1em !important;
}
.mt-5{
    margin-top: 0.5em;
}
a.accordion-toggle {
    text-decoration: none;
    color:#fff;
}
.btn-group .btn-group:last-child .btn:first-child{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group .btn-group:first-child .btn:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group:not(:first-child):not(:last-child) .btn {
  border-radius: 0;
}
.btn-group .btn:first-child {
  margin-left: 0;
}

.btn-group .btn-group + .btn-group {
  margin-left:0;
}
.vendor-dataTypes-content-wrapper{
  height: 300px;
  overflow-y: auto;
}
.form-left-label{
  line-height: 33px;
}
.mailto{
    background-color: #eeeeee;
    font-weight: bold;
}
.btn-group-responsive{
    width:100%;
}
.btn-group-responsive.btn-50 .btn{
    width:50%;
}
.btn-group-responsive.btn-33 .btn{
    width:33.33%;
}
.psf-wrapper{
    height: 87.4vh;
    width: 350px;
    position: fixed;
    z-index: 1000;
    background: #c7c7c7;
    top: 59px;
    left: 10px;
    box-shadow: 0px -1px 5px 1px;
}

.psf-wrapper.open{
    left:10px;
    transition: all ease-in-out 5s;
}

.psf-wrapper.closed{
    left: -340px;
    box-shadow:none;
    background:transparent;
    transition: all ease-in-out 5s;
}

.psf_separator{
    height: 1px;
    margin: 20px;
    width: 20%;
    background: #888888;
}

.psf_filter_list{
    height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 280px;
}


.psf_filter_operand {
    line-height: 35px;
}

.psf_filter_operand.and {
    text-align: left;
}

.psf_filter_operand.or {
    text-align: center;
}

.psf_filter_operand.or div:first-child {
    height: 1px;
    background: #bbbbbb;
    float: left;
    width: 33.33%;
    margin-top: 15px;
}

.psf_filter_operand.or div:last-child {
    height: 1px;
    background: #bbbbbb;
    float: right;
    width: 33.33%;
    margin-top: 15px;
}

.psf_filter_operand.and div{
    height: 1px;
    background: #bbbbbb;
    float: right;
    width: 87%;
    margin-top: 15px;
}

.vertical-separator{
    width: 1px;
    height: 95%;
    background: #bbb;
    position: absolute;
    right: -5px;
    top: 0;
    margin-top: 3%;
}

.horizontal-separator{
    width: 85%;
    height: 1px;
    background: #bbb;
    margin: 25px auto;
}

.vendor-grid-column{
    height: 81.4vh;
}

.department-grid-column{
    height: 81.4vh;
}

.edit-coupon-grid-column {
  height: 31.2vh;
}

.btn-group .btn.active{
    opacity: 0.9 !important;
    color: #FFFF00 !important;
}

.prism-ajax-loader{
    position: fixed;
    top: -30px;
    background: rgba(0,0,0,0.8);
    width: 105%;
    left: -15px;
    z-index: 10000;
    right: 0;
    bottom: 0;
    height: 120vh
}
.prism-ajax-loader a{

  z-index: 100001;
  background:#FFF;
  color:#000;
}

.prism-ajax-loader .message-container{
    width: 50%;
    margin: 20% auto;
    min-height: 180px;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.prism-ajax-loader .message-container h3 {
    font-weight: bold;
}

.prism-ajax-loader .message-container img{
    margin: 25px auto;
    display: block;
}

.browse-wrap.disabled:hover {
    border: 1px solid #d2d2d2!important;
}
.rep-complete{
  background-color: lightgreen !important;
}
.browse-wrap .title.disabled {
    color: #888888!important;
}
a.selected div.panel{
  border:inset 2px green !important;
}
.multi-select select{
  height:146px;
}
.gray-bg{
  background-color:#d2d2d2;
}
.yellow-bg{
  background-color:lightyellow;
}
.rep-error{
  background-color:lightcoral !important;
}
.rep-processing{
  background-color:lightgreen !important;
}
.multi-select .btn-icon{
  margin:0px;
  margin-bottom:3px;
}
.panel.tab-panel{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0;
  border-top:0;
}
.nav-tabs.invert{
  border-bottom:none;
  margin-left:5px;
}
.nav-tabs.invert .active a{
  color:#000;
  background-image:none !important;
  background-color:#FFF;
}

.nav-tabs.invert a{
  color:#FFF;
}
.nav-tabs.invert li a:hover,.nav-tabs.invert li a:focus,.nav-tabs.invert li a:active{
  background-color:#FFF;
  background-image:none !important;
  background:#FFF;
  color:#000;
}
.link-header span{
  top:5px;
}
.header-floating-content{
    min-height: 150px;
    color: #fff;
    z-index: 1000000000000000000;
    position: absolute;
    width: 99.50%;
    left: 0.25%;
    right: 0.25%;
}

.header-floating-content.closed{
    visibility: hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s linear;
}

.header-floating-content .wrapper{
    background: rgba(34,34,34,0.98);
    width: 100%;
    margin: 0;
}

.empty-space-5{
    width:100%
}

.to-allocation-grid-column, .to-items-grid-column{
}
.grid.ui-grid.to-allocation-grid, .grid.ui-grid.to-items-grid{
    height: 29vh!important;
}

.grid.ui-grid.to-allocation-grid .ui-grid-pinned-container, .grid.ui-grid.to-items-grid .ui-grid-pinned-container{
    height: 29vh!important;
}

.transfer-order-header.list-group{
}

.mobile-screen-title button span.glyphicon{
    font-size:10px;
}
#taxAreasGrid.grid.ui-grid,#taxCodesGrid.grid.ui-grid,#taxRulesGrid.grid.ui-grid {
    height: 20vh !important;
}

.btn-group button.btn.btn-info.toggle {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px!important;
    height: auto;
}

.header-floating-content{
    min-height: 150px;
    color: #fff;
    z-index: 1000000000000000000;
    position: absolute;
    width: 99.50%;
    left: 0.25%;
    right: 0.25%;
}

.header-floating-content.open{
    visibility: visible;
    opacity: 1;
}

.header-floating-content.closed{
    visibility: hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s linear;
}

.header-floating-content .wrapper{
    background: rgba(34,34,34,0.98);
    width: 100%;
    padding: 20px;
    margin: 0;
}

.empty-space-5{
    height: 5px;
    width:100%
}

.empty-space-30{
  height: 30px;
  width:100%;
  padding: 0px;
}

.no-top-padding{
  padding-top: 0px;
}

.to-allocation-grid-column{
    height: 41.5vh;
}

.to-items-grid-column{
    height: 34vh;
}

.grid.ui-grid.to-allocation-grid{
    height: 32vh!important;
}

.grid.ui-grid.to-items-grid{
    height: 32vh!important;
}

.grid.ui-grid.to-allocation-grid .ui-grid-pinned-container{
    height: 32vh!important;
}

.grid.ui-grid.to-items-grid .ui-grid-pinned-container{
    height: 32vh!important;
}

.transfer-order-header.list-group{
    margin-top:6px;
    margin-bottom:0;
}

.mobile-screen-title button span.glyphicon{
    font-size:10px;
}

.to-import-po-item-grid-column{
    height:78vh;
}
.grid.ui-grid.to-import-po-item-grid, .grid.ui-grid.to-import-po-item-grid .ui-grid-pinned-container{
    height: 70vh!important;
}

.custom-checkbox{
    margin: -9px 0 0 -20px!important;
}

.custom-checkbox:focus{
    border: none!important;
    box-shadow: none!important;
    outline: none!important;
}

.ssp-wrapper{
    width: 100%;
    height: auto;
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sbs-container-child {
    margin-left: 3%;
}

.ssp-container-child {
    margin-left: 10%;
}

.text-with-elipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
}

.webcam {
    display: inline-block;
    position: relative;
}
.webcam:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    margin-left: 60px;
    left: 0px;
    border-left: 10px dashed #ffffff;
    border-right: 10px dashed white;
}

.grid-cell-loader-active, .loader-background{
    /*background-color: #0e3c6a;*/
    background-color: #b7b7b7;
    color:#fff;
}

.grid-cell-loader-active .loader{
    width:100%;
    height: 100%;
    background:transparent;
    text-align: center;
}

.grid-cell-loader-active img{
    margin:0 auto;
    width:15px;
    height: 15px;
}

.document-lookup-filters {
    height: 68vh;
    padding: 5px;
}
.tab-panel.conn-monitor{
  height:75vh;
}
.tab-panel.conn-monitor .resource-table{
  height:50vh;
  overflow-y:scroll;
}
.resource-table table tr:hover{
  background-color: lightyellow;
  cursor: pointer;
}
.rep-grid{
  height: 25vh!important;
}
.dash-connections{
  height: 20vh!important;
}
.connection-resources{
  height: 25vh!important;
}
.list-group.profiles{
  height:26vh;
  overflow-y:auto;
  border:solid 1px #CCC;
  padding:3px;
  border-radius:5px;
}
.profile-on{
  background-image:url("/images/svg/rpro-dark/info-btn.svg") !important;
}
.profile-label{
  position:relative;
  top:5px;
}
.profile-label span{
  color:#FFF !important;
}
ul.check-list{
  height:150px;
  overflow-y:scroll;
  border:solid 1px #CCC;
  border-radius:5px;
}
ul.check-list.ng-invalid{
  border:solid 2px red;
}
ul.check-list li:first-child{
  border:0;
  border-bottom:1px solid #cccccc;
}
ul.check-list li:last-child{
  border:0;
}
ul.check-list li label{
  padding:5px;
  height:100%;
  width:100%;
}
ul.check-list li{
  padding:0;
  border:0;
  border-bottom:solid 1px #CCC;
  margin-bottom:0;
}
.grid.ui-grid.slips-item-grid{
    height: 41.5vh !important;
}

.loyalty-active-item {
  background-color: lightyellow;
}

.content-loader-wrapper{
    height: inherit;
    display:flex;
    display:-webkit-flex;
}

.content-loader-wrapper img{
    margin:auto;
}

.required-fullcontrol {
    background-color: #f5a4a2;
    content: '!';
    text-align: right;
    border: dotted;
    border-width: thin;
}

.blurry-text {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/*Changing warning font to black text on yellow background for easier readability*/
.ui-notification.warning{color: #000 !important;}
.grid-items-wrapper .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid{
  max-height:200px;
}
.connection-profiles {
  height: 285px;
}
.local-profiles{
  height:26vh;
}
.profile-connections{
  height:26vh;
}

.progress-bar > i
{
  text-shadow: 1px 1px #000000;
  color: #fff;
  position: absolute;
  margin-left: 6px;
  width: 100%;
  text-align: left;
  min-width: 300px;
  left: 0px;
  top: 0px; /* needs adjustment as span != block element */
}
.progress {
  margin-bottom: 0px;
}
.progress-bar {
  position: relative;
}
.day-to-day-resources{
  height:20vh;
}
.day-to-day-detail{
  height:25vh;
}
.table-align {
  margin-left:-8px;
}

#touchPOSForm {
  margin-bottom: 50px;
}
.top-buffer {
  margin-top: 10px;
}

.filter-panel {
  height: 80vh!important;
}

.filter-scroll {
  height: 73vh!important;
  /* overflow-y: scroll; */
}

.filter-base {
  height: 90px;
}

[ng-drop].drag-enter{
  border-radius: 5px;
}

[ng-drop].drag-enter > button {
  opacity: 0.5;
}

.advanced-search-results{
  height:46vh;
}
.advanced-search-panel{
  height:48vh;overflow:auto;
}
.advanced-search-well{
  height:100%;
}
.center-icon{
  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
}
.no-value-number{
  opacity: 0.5;
}
.lookup-static .panel-body{
  height:65vh !important;
}
.lookup-static .panel-body .search-results{
  height:63vh !important;
}
.group-employees .list-group{
  height:79vh !important;
}
.inv-tf label{
    margin-left: 2%;
}

.edit-coupon-grid {
  height: 30vh!important;
}

ul.datetime-picker-dropdown {
  max-height: 367px;
  max-width: 394px;
  left:0px;
  color: dimgrey;
}

.datetime-picker-dropdown > li.date-picker-menu > tr,th,td {
  padding: 3px;
}

button.btn.btn-default.btn-sm {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 3px;
}

.checkbox-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 0;
    padding: 0.5em;
}
.large-input-field {
  width: 1.2em;
  height: 1.2em;
}

.active-select > div{
  border: 1px white dashed;
}
.grid-cell-modified {
  background-color: yellow !important;
 }

 .grid-column-footer-totals{
   color:white;
   background-color: #403f3e !important;
 }

 .ui-grid-row-dirty .ui-grid-cell {
  color: #555555;
}

.fixed_header{
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  max-height: 400px;
}

.fixed_header th, .fixed_header td {
  width: 250px;
}

.tender-cash-btn {
    margin-bottom: 8px;
}

/*.selBorder {
    height: 75px;
    width: 85px;
    background: linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    padding: 10px;
    animation: dash-border 2s infinite linear;
    border-radius: 4px;
}
@keyframes dash-border {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }
    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}*/


*, *::before, *::after {
    box-sizing: border-box;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
.selBorder {
    position: relative;
    z-index: 0;
    width: 85px;
    height: 75px;
    border-radius: 4px;
    overflow: hidden;
    padding: 2rem;
}
.selBorder::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#399953), to(#399953)), -webkit-gradient(linear, left top, left bottom, from(#fbb300), to(#fbb300)), -webkit-gradient(linear, left top, left bottom, from(#d53e33), to(#d53e33)), -webkit-gradient(linear, left top, left bottom, from(#377af5), to(#377af5));
    background-image: linear-gradient(#0b12d1, #ffffff), linear-gradient(#ffffff,#0b12d1), linear-gradient(#0b12d1, #ffffff), linear-gradient(#ffffff,#0b12d1);
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}
.selBorder::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: inherit;
    border-radius: 4px;
}
div.touch-btn-modal > div.modal-dialog {
    width: 80px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
}

/*Leave media queries at the bottom*/
@media (max-width:1024px) {
    .simple-tenders .btn {
        padding:0 !important;
    }
    .docButtons .btn {
        padding:11px 11px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .advanced-search-filters{
      height:35vh;
    }
    .group-employees .list-group{
      height:70vh !important;
    }
    .voucher-items-wrapper {
        height: 44vh!important;
    }
    .day-to-day-resources{
      height:20vh;
    }
    .lookup-static .panel-body{
      height:60vh !important;
    }
    .lookup-static .panel-body .search-results{
      height:58vh !important;
    }
    .day-to-day-detail{
      height:25vh;
    }
    .tab-panel.conn-monitor{
      height:70vh;
      overflow:auto;
    }
    .tab-panel.conn-monitor .resource-table{
      height:40vh;
    }
    .dash-connections{
      height: 15vh!important;
    }
    .rep-grid{
      height: 20vh!important;
    }
    .tab-panel.conn-monitor{
      height:70vh;
      overflow:auto;
    }
    .tab-panel.conn-monitor .resource-table{
      height:40vh;
    }
    .grid-items-wrapper{
        height:32vh!important;
    }
    .voucher-items-wrapper .grid.ui-grid{
        height: 42vh!important;
    }
    .panel-body.po .list-group-item{
      padding: 4px 10px !important;
    }
    .voucher-items-wrapper .grid.ui-grid{
        height: 42vh!important;
    }
    .grid-items-wrapper{
      height:24vh!important;
    }
  .grid-items-wrapper .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid{
    max-height:150px;
  }
  .grid-items-wrapper .ui-grid{
        height: 22vh!important;
    }
    .po-allocation-grid-items-wrapper{
      height:26vh!important;
    }
    .po-allocation-grid-items-wrapper .ui-grid{
      height: 24vh!important;
    }
    .panel-body.voucher {
        height: 59.5vh;
    }
    .responsive-container.promo-priorities{
        height: 85.5vh;
    }
    .responsive-container{
        height: 77.5vh;
    }
    .action-buttons ul {
        width: 70%;
    }
    .action-buttons.sm ul{
        width: 30%;
    }
    .grid.ui-grid.slips-item-grid{
        height: 15.5vh !important;
    }
    .grid.ui-grid.full-page-grid{
        height: 84vh !important;
    }
    .grid.ui-grid.full-page-grid.grid-with-paging{
        height: 75vh !important;
    }
    select.promotion-priorities-list {
        height: 73vh;
    }
    .promotion-priorities-details .floating-container{
        height: 82%;
    }
    .floating-container {
        height: 74%;
    }
    .footer-action-buttons button, .btn-lg, .btn-group-lg > .btn{
        font-size:16px!important;
    }
    #mainRProButton{
        height:43px!important;
    }
    .grid.ui-grid.batch-asn-list-grid{
        height: 25vh !important;
    }
    .grid.ui-grid.batch-asn-list-grid .ui-grid-pinned-container{
        height: 25vh !important;
    }
    .batch-filters{
      height:66.5vh !important;
      overflow:auto;
    }
    .grid.ui-grid.vendor-invoice-grid{
        height: 26vh !important;
    }
    .grid.ui-grid.vendor-invoice-grid .ui-grid-pinned-container{
        height: 26vh !important;
    }
    .split-ui-right-pane, .split-ui-left-pane{
        height: 72vh;
    }
    .vendor-right-pane, .vendor-left-pane{
        height: 72vh;
    }
    .split-ui-left-pane.single-tab,
    .split-ui-right-pane.single-tab{
        height:83.2vh!important;
    }
    .split-ui-left-pane.single-tab.sibling-with-button-bar,
    .split-ui-right-pane.single-tab.sibling-with-button-bar{
        height:77vh!important;
    }
    .split-ui-tab-content,
    .vendor-tab-content{
        height: 495px;
        max-height: 495px;
        overflow-y: auto;
    }
    .split-ui-tab-content.single-tab,
    .vendor-tab-content.single-tab{
        /*height: 545px!important;
        max-height: 545px!important;*/
        height: 75.6vh!important;
        max-height: 75.6vh!important;
    }
    .split-ui-tab-button,
    .vendor-tab-button{
        font-size:89%;
    }
    .grid.ui-grid.vendors-grid{
        height: 64.5vh !important;
    }
    .grid.ui-grid.department-grid{
        height: 64.5vh !important;
    }

  .grid.ui-grid.edit-coupon-grid {
    height: 30vh!important;
  }
    .psf_filter_list{
        height: 150px;
    }
    .psf-wrapper{
        height: 84.6vh;
    }
    .vendor-grid-column{
        height: 76.4vh;
    }
    .department-grid-column{
        height: 76.4vh;
    }
    .edit-coupon-grid-column{
      height: 28.4vh;
    }
    .to-allocation-grid-column{
        height: 39vh;
    }
    .to-items-grid-column{
        height: 28vh;
    }
    .to-allocation-grid-column, .to-items-grid-column{
        height: 34vh;
    }
    .grid.ui-grid.to-allocation-grid{
        height: 26.9vh!important;
    }
    .grid.ui-grid.to-items-grid{
        height: 27vh!important
    }
    .grid.ui-grid.to-allocation-grid .ui-grid-pinned-container{
        height: 26.9vh!important;
    }
    .grid.ui-grid.to-items-grid .ui-grid-pinned-container{
        height: 27vh!important
    }
    .to-import-po-item-grid-column{
        height:71vh;
    }
    .grid.ui-grid.to-import-po-item-grid, .grid.ui-grid.to-import-po-item-grid .ui-grid-pinned-container{
        height: 60vh!important;
    }
    .panel-body.po{
        height: 56vh;
    }
    .connection-profiles {
      height: 218px;
    }
    .local-profiles{
      height:22vh;
    }
    .profile-connections{
      height:22vh;
    }
    #discDropMenuList{
        position: absolute;
        background-color: transparent;
        border: solid;
        border-width: thick;
        border-color: #888888;
        width: 200%;
        z-index: 2000;
    }
    #qtyDropMenuList{
        position: absolute;
        background-color: #888888;
        width: 180%;
        margin-left:-80%;
        z-index: 2000;
    }
    #itemDiscountClick, #itemQtyClick {
        height: 3em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .login-backdrop {
	opacity:1!important;
    }
}

.state-hide {
  display:none;
}

.remove-bottom-margin {
  margin-bottom: 0px;
}
.selected {
  background-color: #0A3764;
}

.pl-5px{
    padding-left: 5px;
}
.mt-1{
    margin-top: 1em;
}
.ml--5{
  margin-left: -5px;
}
.mt-0{
  margin-bottom:0;
}
.required {
    border: 1px solid #d9534f;
}
.dit td{
  width: 20px !important;
}
.form-input-label-error {
  color: #d9534f;
  font-size: 0.8em;
  padding-left: 2em;
}

.form-input-label-success{
    color: #5cb85c;
    font-size: 0.8em;
    padding-left: 2em;
}
.font-error{
}
.font-success{
    color: #5cb85c !important;
}
.selected-button, .selected-button:hover, .selected-button:focus, .selected-button.active{
    background-color: #0A3764 !important;
    background-image: none !important;
}

.overridePopover {
  color: #000;
  max-width: 400px;
  border: 1px solid #000;
}

.overridePopover .popover-content ul {
  margin: 0px 5px 0px -15px;
}

.on-polling-loading-status {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: monospace;
    font-weight: bold;
    border-radius: 3px;
}

.disable-page-on-polling {
    pointer-events: none;
    opacity:0.5;
}

.loading-ellipsis {
    display: inherit;
    align-items: center;
    font-size: 20px;
}

.loading-ellipsis span {
    font-size: 8px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    background-color: dimgrey;
    color: dimgrey;
    margin: 2px;
}

.loading-ellipsis span:nth-child(2) {
    animation-delay: .2s;
}

.loading-ellipsis span:nth-child(3) {
    animation-delay: .4s;
}
  
@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}


@media only screen and (min-device-width : 320px)and (max-device-width : 667px) {
    #discDropMenuList {
    position: absolute;
    background-color: #888888;
    width: 150%;
    z-index: 2000;
    }
    #qtyDropMenuList {
        position: absolute;
        background-color: #888888;
        width: 150%;
        margin-left:-50%;
        z-index: 2000;
    }
    #itemDiscountClick, #itemQtyClick {
        height: 2.2em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

option[disabled] {
  display: none;
}

/*****************LEAVE MEDIA QUERIES AT THE BOTTOM OF THE PAGE!!! PUT YOUR CODE ABOVE ^^^^^^^ *******************/
