<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-5">
        <item-search ng-show="sharedData.receiving.voucher.workingMode"></item-search>
        <input ng-show="!sharedData.receiving.voucher.workingMode" type="text" class="form-control" disabled="disabled">
      </div>
      <div class="col-xs-7">
        <voucher-adv-item-search-button items="itemLookupResult" doc-items="sharedData.receiving.voucher.recvitem">
        </voucher-adv-item-search-button>
        <voucher-details-button></voucher-details-button>
        <voucher-remove-item-button></voucher-remove-item-button>
        <voucher-select-po-item-button request-counter="requestCounter" voucher="sharedData.receiving.voucher.info"></voucher-select-po-item-button>
        <voucher-item-details-button loader-handler="prismAjaxLoader.handler"></voucher-item-details-button>
        <voucher-show-cost-button callback="overrideSeeItemCost.action" disable="overrideSeeItemCost.disable"></voucher-show-cost-button>
      </div>
    </div>
  </div>
  <div class="panel-body voucher" style="height:100% !important">
    <div class="col-xs-12">
      <div class="voucher-items-list">
        <div class="row">
          <div ui-i18n="{{lang}}">
            <div ui-grid-resize-columns="" ng-style="{height:100% !important}" ng-if="sharedData.receiving.voucher.workingMode && voucherItemsGrid" ui-grid-cellnav auto-resize ui-grid-edit ui-grid-selection="" ui-grid="voucherItemsGrid" external-scopes="gridHandlers"></div>
            <div ui-grid-resize-columns="" ng-style="{height:100% !important}" ng-if="!sharedData.receiving.voucher.workingMode && !reloadGrid && voucherItemsGrid" auto-resize ui-grid-selection="" ui-grid="voucherItemsGrid" external-scopes="gridHandlers"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center" style="margin-top:0.5em; margin-bottom:0.5em">
            <span>{{'2789'|translate}}: </span><b>{{gridTotalRecords}}</b>
            <paging-control ng-if="gridTotalRecords>0" total-records="gridTotalRecords" results-per-page="gridSettings.results_per_page" grid-reference="gridApi" call-back="getVoucherItemsMiddle" init-page="page"></paging-control>
          </div>
        </div>
        <div class="row margbot-3p">
          <div class="col-xs-12">
            <voucher-payment-info info="sharedData.receiving.voucher.info"></voucher-payment-info>
          </div>
        </div>
        <prism-ajax-loader ng-if="prismAjaxLoader.handler" loader-title="prismAjaxLoader.title" loader-message="prismAjaxLoader.message"></prism-ajax-loader>
      </div>
    </div>
  </div>
</div>
