<div class="panel panel-default" style="margin-bottom: 0">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4 data-translate="6325">Create Currency</h4>
  </div>
  <div class="panel-body" style="padding: 1em;">
    <form name="currencycreateform">
      <div class="row form-group">
        <div class="col-xs-3">
          <label for="currency_name" data-translate="1636">Name</label>
        </div>
        <div class="col-xs-9">
          <input type="text" id="currency_name" maxlength="30" class="form-control" ng-model="currency.currencyname">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-3">
          <label for="code" data-translate="6326">Abbreviation (3 Char MAX, Required)</label>
        </div>
        <div class="col-xs-9">
          <input type="text" id="code" required maxlength="3" class="form-control" ng-model="currency.alphabeticcode" style="text-transform:uppercase">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-3">
          <label for="currency_discrepancy" data-translate="3695">Discrepancy</label>
        </div>
        <div class="col-xs-9">
          <input type="number" decimal-precision nums="12,4" mymodel="currency.discrepancy" maxlength="17" id="currency_discrepancy" class="form-control" ng-model="currency.discrepancy">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-3">
          <label for="rounding" data-translate="1685">Rounding</label>
        </div>
        <div class="col-xs-9">
          <select name="rounding" id="rounding" class="form-control" ng-model="currency.rounding" ng-options="s.value as s.name for s in roundings">
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-3">
          <label for="decimals" data-translate="6327">Decimals</label>
        </div>
        <div class="col-xs-9">
          <select name="decimals" id="decimals" class="form-control" ng-model="currency.decimals" ng-options="s.value as s.name for s in decimals">
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-3">
          <label for="currency_loyalty_rate" data-translate="6328">Loyalty Rate</label>
        </div>
        <div class="col-xs-9">
          <input type="number" decimal-precision nums="12,4" mymodel="currency.ltyrate" maxlength="17" id="currency_loyalty_rate" class="form-control" ng-model="currency.ltyrate">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-3">
          <label data-translate="586">Active</label>
        </div>
        <div class="col-xs-9">
          <input type="checkbox" class="large-input-field" checked="checked" ng-model="currency.active">
        </div>
      </div>
    </form>
  </div>

  <div class="panel-footer">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
              <button type="submit" class="btn btn-default" ng-click="save()" ng-disabled="currencycreateform.$invalid"><span data-translate="1514">Save & Exit</span></button>
              <button type="submit" class="btn btn-default" ng-click="close()"><span data-translate="0.1">Exit</span></button>
            </div>
        </div>
    </div>
  </div>
</div>
