<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-12 col-xs-4">
				<h4 data-translate="961">Currency</h4>
			</div>
			<div class="col-xs-12 col-xs-8">
				<div class="pull-right">
					<input type="text" ng-model="search" class="form-control" placeholder="{{ '6291' | translate }}">
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body" style="overflow-y: scroll; height: 30vh">
		<div style="width: 100%; height: 100%; text-align: center;" ng-if="loading">
			<div loader-css="ball-clip-rotate" style="margin-top: 10vh"></div>
		</div>
		<table class="table col-md-12 table-bordered table-reponsive table-centered">
			<thead>
      <tr>
				<th><strong data-translate="774">Edit</strong></th>
				<th><strong data-translate="961">Currency</strong></th>
				<th><strong data-translate="6329">Abbreviation</strong></th>
				<th><strong data-translate="3695">Discrepancy</strong></th>
				<th><strong data-translate="1685">Rounding</strong></th>
				<th><strong data-translate="6327">Decimals</strong></th>
				<th><strong data-translate="6328">Loyalty Rate</strong></th>
				<th><strong data-translate="586">Active</strong></th>
      </tr>
      </thead>
			<tbody>
				<tr ng-repeat="currency in currencies | filter:search" ng-click="setRow(currency)" ng-class="{ 'context-rowtrue' : currency === selected }">
					<td><button class="btn btn-default btn-icon glyphicon glyphicon-pencil" data-permission="managecurrencies" ng-click="setRow(currency);openEdit()"></button></td>
					<td>{{ currency.currencyname }}</td>
					<td>{{ currency.alphabeticcode }}</td>
					<td>{{ currency.discrepancy }}</td>
					<td>{{ currency.rounding }}</td>
					<td>{{ currency.decimals }}</td>
					<td>{{ currency.ltyrate }}</td>
					<td><input type="checkbox" ng-model="currency.active" ng-checked="currency.active" disabled="disabled"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
					<button type="submit" class="btn btn-default" ng-click="openCreate()"><span data-translate="6330">New Currency</span></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="isSelected">
	<denomination currency="selected"></denomination>
</div>




