<div>
    <label class="control-label" data-translate="5409">Bill To Store</label>
    <select ng-change="savePO()" ng-disabled="!purchaseOrder.isEdit||billtostoreno_disabled" ng-model="purchaseOrder.active.billtostoresid" class="form-control" ng-options="x.sid as x.store_code + '-' + x.store_name for x in storesBillto">
      <option style="display:none" data-translate="1358">Select...</option>
    </select>
</div>
