<div>
<rp-select-input ng-if="obj.selectType" repeater-data="obj.listData" ng-model="dcsObj.value" call-back="obj.http()" default-obj="dcsObj.value" is-last-page="obj.isLastPage" key-string="obj.textKey" required="true" is-disabled="disable" ng-change="setDCS(e)" page="obj.page" filter-string="obj.searchString">
</rp-select-input>
</div>
