<div class="col-xs-12 no-padding">
    <div class="row row-container mobile-screen-title">
        <div class="col-xs-12">
            <span>{{activeTabTitle | translate}}</span>
        </div>
    </div>
    <div class="row row-container split-ui-tab-content">
        <invn-form-general ng-if="activeTab==='general'" dcs="dcs.data" disable="disable" item="item" manage-ser-nos="manageSerNos" manage-lot-nos="manageLotNos" on-calc-field-blur="onCalcFieldBlur" on-types-blur="onTypesBlur">
        </invn-form-general>
        <invn-form-pricecost ng-if="activeTab==='pricecost'" disable="disable" item="item" mode="mode" on-calc-field-blur="onCalcFieldBlur">
        </invn-form-pricecost>
        <invn-form-qty ng-if="activeTab==='quantities'" disable="disable" item="item" mode="mode">
        </invn-form-qty>
        <invn-form-purchasing ng-if="activeTab==='purchasing'" disable="disable" qty-fields="qtyFields" item="item" mode="mode" on-calc-field-blur="onCalcFieldBlur">
        </invn-form-purchasing>
        <invn-form-udfaux ng-if="activeTab==='udfaux'" disable="disable" item="item" extended-udf="extendedFields">
        </invn-form-udfaux>
        <invn-form-misc ng-if="activeTab==='misc'" disable="disable" item="item">
        </invn-form-misc>
    </div>
</div>