<div class="row">
	<div class="form-group">
	    <input numberonly="undefined" type="text" placeholder="{{ '3940' | translate }}" class="form-control" ng-model="search.sequence_no">
	</div>
</div>
<div class="row">
	<div class="form-group col-xs-12">
		<label data-translate="622">Cashier</label>
	    <select-associate ng-model="search.cashier_sid"></select-associate>
	</div>
</div>
<div class="row">
	<div class="form-group col-xs-12">
	    <label data-translate="669">Disbursement Type</label>
	    <select-disbursement-type subject="search.event_type" disable="false"></select-disbursement-type>
	</div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <label data-translate="634">Sort By</label>
    <disbursement-sort-by subject="search.sort_by" disable="false"></disbursement-sort-by>
  </div>
  <div class="form-group col-xs-6">
    <label data-translate="908">Sort Order</label>
    <disbursement-sort-order subject="search.sort_order" disable="false"></disbursement-sort-order>
  </div>
</div>

</div>
