<div>
    <button type="button" class="btn btn-default btn-lg hidden-xs" ng-click="button.action()">
        <span data-translate="10">Options</span>
    </button>
    <a class="hidden-sm hidden-md hidden-lg"><span data-translate="10">Options</span></a>
</div>