<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="row form-group" style="padding-left: 1%;" ng-controller="systemDocumentPreferences_ctrl">
        <div class="row top-margin form-group">
            <div class="col-xs-12">
                <div class="panel panel-default" style="margin-right: 1%;">
                    <div class="panel-heading">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="3658">Availability checking</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-xs-3">
                                <label class="control-label" data-translate="746"></label>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select valid-levels="corporate,subsidiary,store" class="form-control" ng-options="option.value as option.name|translate for option in availabilityCheckingOpts" ng-model="pData.pos_options_general_availability_check_sale.value"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" data-translate="893"></label>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select valid-levels="corporate,subsidiary,store" class="form-control" ng-options="option.value as option.name|translate for option in availabilityCheckingOpts" ng-model="pData.pos_options_general_availability_check_customer_order.value"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" data-translate="3162"></label>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select valid-levels="corporate,subsidiary,store" class="form-control" ng-options="option.value as option.name|translate for option in availabilityCheckingOpts" ng-model="pData.pos_options_general_availability_check_layaway_order.value"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" data-translate="991"></label>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select valid-levels="corporate,subsidiary,store" class="form-control" ng-options="option.value as option.name|translate for option in availabilityCheckingOpts" ng-model="pData.pos_options_general_availability_check_send_sale.value"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin20 form-group">
                            <div class="col-xs-3">
                                <label class="control-label" data-translate="6280"></label>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select valid-levels="corporate,subsidiary,store" class="form-control" ng-options="option.value as option.name|translate for option in availabilityCheckingOpts" ng-model="pData.transfers_availability_check.value"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" data-translate="1176"></label>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select valid-levels="corporate,subsidiary,store" class="form-control" ng-options="option.value as option.name|translate for option in availabilityCheckingOpts" ng-model="pData.availability_check_voucher.value"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
