<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <span data-translate="6661">Received Packages</span>
        </div>
        <div class="col-xs-6 text-right">
          <div class="input-group">
            <input type="text" placeholder="{{ '4739' | translate }}" ng-model="searchStr" ng-required="true" class="form-control uppercase" ng-keypress="searchOnEnter($event)">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="search()">
                <span data-translate="630">Scan</span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div ng-if="br.scannedPackages.length" ui-grid-resize-columns="" ng-class="'batch-asn-list-grid grid'" ui-grid="grid"></div>
          <div class="well well-sm text-center no-results-batch-rcv" style="position:relative;" ng-if="!br.scannedPackages||br.scannedPackages.length===0">
            <em style="font-size:24px;" data-translate="6936">No Received Packages</em>
            <span style="font-size:75px;" class="glyphicon glyphicon-ban-circle center-icon"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <paging ng-if="br.scannedPackages.length>0" record-count="br.scannedResultCount" results-per-page="30" page="br.rcvPage" call-back="br.getReceivedPackages(pg)"></paging>
    </div>
</div>
