<div>
    <div class="row top-margin">
        <div class="col-xs-12">
            <inven-print-tags-button layout="1" close="close" items="externalScope.selectedItems" item="externalScope.inventoryItem" ng-disabled="disable"></inven-print-tags-button>
            <!--<button class="btn btn-info btn-block" ng-disabled="externalScope.disableButton" type="button" ng-click="externalScope.printTags();">
                <span data-translate="4253">Print Tags</span>
            </button>-->
        </div>
    </div>
</div>
