<div style="max-height:195px;overflow-y:auto;overflow-x:hidden">
  <div class="row">
    <div class="col-xs-6">
      <label class="badge badge-info">
        <span ng-if="!emplAdr.parent.active.addressallowcontact" class="glyphicon-ban-circle glyphicon"></span>
        <span ng-if="emplAdr.parent.active.addressallowcontact" class="glyphicon-ok glyphicon"></span>
        <span data-translate="539">Contact</span>
      </label>
      <label class="badge badge-info">
        <span ng-if="!emplAdr.parent.active.active" class="glyphicon-ban-circle glyphicon"></span>
        <span ng-if="emplAdr.parent.active.active" class="glyphicon-ok glyphicon"></span>
        <span data-translate="586">Active</span>
      </label>
      <label class="badge badge-info">
        <span class="glyphicon glyphicon-user"></span> {{emplAdr.parent.active.addresstype}}
      </label>
    </div>
    <div class="col-xs-6 text-right">
      <label class="badge badge-success">
        <span ng-if="!emplAdr.parent.active.primaryflag" class="glyphicon-ban-circle glyphicon"></span>
        <span ng-if="emplAdr.parent.active.primaryflag" class="glyphicon-ok glyphicon"></span>
        <span data-translate="537">Primary</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row" ng-repeat="x in ['1','2','3','4','5','6']">
        <div class="col-xs-12" ng-if="emplAdr.parent.active['address' + x]">
          {{emplAdr.parent.active['address' + x]}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      {{emplAdr.parent.active.postalcode}}
    </div>
  </div>
</div>
