<div class="col-xs-4">
    <label data-translate="679">Size</label>
</div>
<div class="col-xs-8">
    <input maxlength="8" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" ng-model="$ctrl.service.item.itemsize" class="form-control" id="imi-itemsize">
</div>
