<div class="btn-group" ng-if="(adjMemo.memo.sid)&&(adjMemo.memo.status === 3)">
    <button data-permission="adjmemosupdatememo" data-permission-disabled="(!adjMemo.isEdit)||(adjMemo.Items.length===0)||(adjMemo.memo.held)||!adjMemo.memo.reasonname" class="btn btn-default" ng-click="updateMemo();">
        <span data-translate="1301">Update Only</span>
    </button>
</div>
