<li class="list-group-item">
  <div class="row" style="background-color:#000;color:#FFF;">
    <div class="col-xs-6 text-left">
      <span data-translate="979">Total</span>
    </div>
    <div class="col-xs-6 text-right">
      <span>{{disbursements.active.currency_total | currency}}</span>
    </div>
  </div>
</li>
