<div class="row top-margin">
    <div class="col-xs-{{labelWidth}}">
        <label class="control-label" data-translate="533">Created Date</label>
    </div>
    <div class="col-xs-{{fieldWidth}}">
        <input type="button" id="amCreatedDate" class="form-control" value="{{(adjMemo.memo.createddatetime)?(adjMemo.memo.createddatetime | date:'mediumDate'):('6264'|translate)}}">
    </div>
</div>
