<div class="row top-margin">
    <div class="col-xs-{{labelWidth}} text-left">
        <label class="control-label" data-translate="4719">Memo Type</label>
    </div>
    <div class="col-xs-{{fieldWidth}}">
        <span>{{adjMemo.memo.adjtype|memoType}}</span>
    </div>
</div>