<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
  <div class="ac-promotions">
    <div class="row">
      <div class="col-xs-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="promotionPreferences.transactions_promos_enable" ng-change="savePromotionPreference('transactions_promos_enable')"> <span data-translate="4574">Enable Promotions</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="radio">
              <label>
                <input type="radio" ng-disabled="!promotionPreferences.transactions_promos_enable" ng-value="true" ng-model="promotionPreferences.transactions_promos_apply_automatically_or_manually" ng-change="savePromotionPreference('transactions_promos_apply_automatically_or_manually')"> <span data-translate="4576">Automatically Apply Promotions</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="radio">
              <label>
                <input type="radio" ng-disabled="!promotionPreferences.transactions_promos_enable" ng-value="false" ng-model="promotionPreferences.transactions_promos_apply_automatically_or_manually" ng-change="savePromotionPreference('transactions_promos_apply_automatically_or_manually')"> <span data-translate="4577">Manually Apply Promotions</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-2" style="padding-top:5px">
            <span data-translate="6141">Tender Action</span>
            </div>
          <div class="col-xs-7">
            <select class="form-control" ng-model="promotionPreferences.transactions_promos_apply_before_tendering" ng-change="savePromotionPreference('transactions_promos_apply_before_tendering')" ng-disabled="!promotionPreferences.transactions_promos_enable||promotionPreferences.transactions_promos_apply_automatically_or_manually">
              <option value="0"><span data-translate="1361">None</span></option>
              <option value="1"><span data-translate="1105">Prompt</span></option>
              <option value="2"><span data-translate="1.3">Apply</span></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-value="true" ng-disabled="!promotionPreferences.transactions_promos_enable" ng-model="promotionPreferences.transactions_promos_use_manually_discounted_items" ng-change="savePromotionPreference('transactions_promos_use_manually_discounted_items')"> <span data-translate="4579">Apply Promotions to Manually Discounted Items</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-value="true" ng-disabled="!promotionPreferences.transactions_promos_enable" ng-model="promotionPreferences.transactions_promos_use_predefined_discount_reasons" ng-change="savePromotionPreference('transactions_promos_use_predefined_discount_reasons')"> <span data-translate="5559">Use Predefined Discount Reasons</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1"></div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-7 form-group">
            <div class="radio" style="padding-left:20px">
              <label class="control-label"> <span data-translate="5533">Apply Promotions Based On</span></label>
            </div>
          </div>
          <div class="col-xs-5">
              <select class="form-control" ng-disabled="!promotionPreferences.transactions_promos_enable" ng-value="true" ng-model="pData.apply_promotions_based_on_original_price.value">
                <option value="0" data-translate="6351">Current Price</option>
                <option value="1" data-translate="5195">Original Price</option>
                <option value="2" data-translate="3541">Active Price</option>
              </select>
            </div>
          </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="radio" style="padding-left:20px">
              <label class="control-label"> <span data-translate="5686">Receipt Item field to use for storing manual disc.</span></label>
              <select class="form-control" ng-disabled="!promotionPreferences.transactions_promos_enable" ng-model="pData.transactions_promos_field_storing_manual_disc.value">
                <option value="" data-translate="1358">Select...</option>
                <option value="note1" data-translate="1381">Item Note 1</option>
                <option value="note2" data-translate="1382">Item Note 2</option>
                <option value="note3" data-translate="1383">Item Note 3</option>
                <option value="note4" data-translate="1384">Item Note 4</option>
                <option value="note5" data-translate="1385">Item Note 5</option>
                <option value="note6" data-translate="1386">Item Note 6</option>
                <option value="note7" data-translate="1387">Item Note 7</option>
                <option value="note8" data-translate="1388">Item Note 8</option>
                <option value="note9" data-translate="1389">Item Note 9</option>
                <option value="note10" data-translate="1390">Item Note 10</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="isCorporate || isSubsidiary">
      <div class="col-xs-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="promotionPreferences.transactions_promos_unique_names" ng-change="savePromotionPreference('transactions_promos_unique_names')"> <span data-translate="7288">Do not allow duplicate promotion names</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</ng-form>
