
<div class="modal-content">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-12">
        <h4><span data-translate="4473">Deposit History - Order #</span>{{depositHistory.order_no}}</h4>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row form-group">
        <div class="col-xs-12" ui-i18n="{{lang}}">
          <div ui-grid="gridOptions" ui-grid-selection=""></div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <span data-translate="4474">Deposit Total: </span>{{depositHistory.total | currency}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-left">
    <button class="btn btn-info" ng-disabled="!activeRecord||activeRecord&&activeRecord.sid===transaction.Document.active.sid" ng-click="goToLink()" data-translate="4475" type="button">Go To Transaction</button>
    <button class="btn btn-info" data-translate="583" ng-click="$close()" type="button">Close</button>
  </div>
</div>
