<div class="row">
    <div class="col-xs-6 amBigBold" data-translate="4715">Cost Difference</div>
    <div ng-if="adjMemo.canSeeCost" class="col-xs-6 text-right" ng-class="(adjMemo.memo.totadjextcost - adjMemo.memo.totorigextcost) > 0 ? 'text-success' : (adjMemo.memo.totadjextcost - adjMemo.memo.totorigextcost) < 0 ? 'text-danger' : ''"><strong>{{adjMemo.memo.totadjextcost - adjMemo.memo.totorigextcost | currency}}</strong></div>
    <div ng-if="!adjMemo.canSeeCost" class="col-xs-6 text-right">********</div>
</div>