<div class="panel panel-default search-panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <span data-translate="826" class="search-filter-title-small">Filters</span>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-default search-filter-toggle-small" ng-click="$ctrl.toggleFilters()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </div>
    </div>

  </div>
  <div class="panel-body batch-filters">
    <div class="row form-group">
      <div class="col-xs-6">
        <label class="control-label">
          <span data-translate="1561">Search By</span>
        </label>
        <rp-select-input repeater-data="$ctrl.availableFilters" force-reset="true" key-string="'label'" ng-model="$ctrl.filterObj" ng-change="$ctrl.addFilter()" required="true"></rp-select-input>
      </div>
    </div>
    <div class="row form-group" ng-if="!$ctrl.br.resetting" ng-repeat="filter in $ctrl.filters">
      <div class="col-xs-12">
        <div class="row form-group">
          <div class="col-xs-12">
            <button class="btn btn-default" type="button" ng-click="$ctrl.addFilter(filter)">
              <span class="glyphicon-plus glyphicon"></span>
            </button>
            <strong>{{filter.label}}</strong>
          </div>
        </div>
        <div class="row form-group" ng-repeat="param in filter.params">
          <div class="col-xs-6">
            <input type="text" class="form-control" ng-model="param.value">
          </div>
          <div class="col-xs-4">
            <rp-select-input repeater-data="$ctrl.operators" key-string="'name'" value-key="'value'" default-obj="$ctrl.opObj" ng-model="param.operator" required="true"></rp-select-input>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-default" type="button" ng-click="$ctrl.removeFilter($parent.$index,$index)">
              <span class="glyphicon-remove glyphicon"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-default" type="button" ng-click="$ctrl.br.reset()">
      <span data-translate="614">Reset</span>
    </button>
    <button class="btn btn-default" type="button" ng-disabled="$ctrl.searching" ng-click="$ctrl.doSearch(1)">
      <span data-translate="630">Search</span>
    </button>
  </div>
</div>
