<div class="col-xs-4">
    <label data-translate="3333">Attribute</label>
</div>
<div class="col-xs-8">
    <input maxlength="8" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" ng-model="$ctrl.service.item.attribute" class="form-control" id="imi-attribute">
</div>
