<ng-form name="pref_form" ng-controller="formStatEmitter">
  <div ng-controller="pmPreferences_ctrl">
    <div class="container-fluid">
      <div class="height20">
        <div class="row">
          <div class="col-xs-5">
            <div class="row padding-2">
              <label for="toDateField" data-translate="6285">Default Update Time for Planned Markdowns</label>
              <p class="col-xs-10 input-group" ng-click="openCalendar($event, 'pmSetTime')">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
                </span>
                <input type="button" id="toDateField" name="pmDefaultUpdateTime" class="form-control" datetime-picker="HH:mm" datepicker-options="pmSetTime.datepickerOptions" ng-model="pmSetTime.date" value="{{(pmSetTime.date)?(pmSetTime.date | date:'HH:mm'):(pmSetTime.placeholder)}}" ng-change="onChange()" is-open="pmSetTime.open" timepicker-options="pmSetTime.timepickerOptions" when-closed="pmSetTime.closed()" enable-date="false" placeholder="{{pmSetTime.placeholder}}" button-bar="pmSetTime.buttonBar">
              </p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="row padding-2 alert alert-danger" ng-if="!isSubsidiary&&!isCorporate" role="alert" data-translate="6346">Price Plan Authority requires your context be set to the Corporate or Subsidiary Level</div>
            <div class="row padding-2" ng-if="isSubsidiary||isCorporate">
              <label for="planAuth" data-translate="6286">Price Plan Authority</label>
              <select id="planAuth" ng-model="pData.price_plan_authority.value" class="form-control" ng-options="c.sid as c.controllername for c in conn.serverList"></select>
            </div>
           </div>
          </div>
        </div>
      </div>
  </div>
</ng-form>
