<label class="control-label">
  <span data-translate="5029">Allocation Pattern</span>
</label>
<rp-select-input ng-if="$ctrl.patterns" form="$ctrl.dcs.formState" allow-none="true" is-disabled="$ctrl.sp.mode==='view'" ng-model="$ctrl.dcs.active.patternsid" repeater-data="$ctrl.patterns" suppress-translate="true" key-string="'patternname'" value-key="'sid'" default-obj="$ctrl.defaultObj"></rp-select-input>
