<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 text-left">
        <strong data-translate="1084">Loyalty Level</strong>
      </div>
      <div class="col-xs-8">
        <div class="input-group">
          <select class="form-control" ng-model="field.customerPayment.loyaltyFields.ltylvlsid" ng-disabled="field.ngDisabled || !field.customerPayment.loyaltyFields.optin || !field.allowAdjust || field.customerPayment.loyaltyFields.ltylvllocked" ng-change="field.validate()" ng-options="x.sid as x.ltylvlname for x in field.allLtyLvls">
          </select>
        </div>
      </div>

    </div>
  </div>
</div>
