<div class="panel panel-default">
    <div class="panel-heading">
        <h4 data-translate="3229">Fee</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="row top-margin">
                    <div class="col-xs-2">
                        <label data-translate="694">Fee Type</label>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control" ng-readonly="readOnlyMode()" ng-disabled="disableFeeTypesHandlers()" ng-model="selectedFeeType" ng-change="changeFeeTypeAmount(true, false)" blur-on-change ng-blur="slowBlurForFee($event)" ng-options="fee as fee.name for fee in feetypes track by fee.purchfeetypesid">
                            <option value="" style="display:none"></option>
                        </select>
                    </div>
                </div>
                <div class="row top-margin20">
                    <div class="col-xs-2">
                        <label data-translate="693">Fee Amount</label>
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" data-currency-formatter="currency" enter-blur ng-readonly="readOnlyMode()" ng-disabled="!(enableFeeTypeAmount())||disableFeeTypesHandlers()" ng-change="changeFeeTypeAmount(false, true)" ng-blur="slowBlurForFee($event)" enter-blur ng-model="selectedFeeTypeAmount.value" type="text" numberonly placeholder="{{ '649' | translate }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>