<div class="col-xs-3 no-left-padding">
  <label data-translate="848">Inventory Type</label>
</div>
<div class="col-xs-4">
  <select class="form-control" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" ng-model="$ctrl.service.item.kittype" ng-change="$ctrl.service.onTypesBlur('kittype')" ng-options="type.value as type.text for type in $ctrl.service.inventoryTypeList"></select>
</div>
