<div>
	<div class="col-xs-2">
	    <button type="button" ng-show="!newOption" ng-disabled="inEditMode" ng-click="optionState(true)" class="btn btn-md navbar-btn btn-default"><span data-translate="581"></span></button>
	    <button type="button" ng-show="newOption" ng-disabled="inEditMode" ng-click="optionState(false)" class="btn btn-md navbar-btn btn-default"><span data-translate="1.2"></span></button>
	</div>
	<div class="col-xs-8">
	    <input type="text" ng-show="newOption" ui-keypress="{13:'addToOptionsList()'}" class="form-control" ng-model="createdOption" ng-required="true"/>
	    <select ng-show="!newOption" ng-options="obj as obj.name for obj in mapping" class="form-control" ng-model="ngModel"></select>
	</div>
	<div class="col-xs-2">
		<button type="button" ng-show="newOption" ng-disabled="!createdOption || inEditMode" ng-click="addToOptionsList()" class="btn btn-md navbar-btn btn-default"><span data-translate="3724"></span></button>
	</div>
</div>