<form class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="3900">Reference PO#</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div id="selectItem" class="panel panel-default ModalSearchPanel autoOverflow">
              <div class="list-group">
                <a name="link{{$index}}" event-name="referencePoSelection" id="po_{{$index}}" index="{{$index}}" data-item-group="data-item-group" class="list-group-item" ng-repeat="po in sharedData.receiving.voucher.referencePOResults" ng-click="selectPO($index)" ng-dblclick="returnSelectedPO($index)">
        					<div class="row">
        						<div class="col-xs-4">
        							<strong data-translate="3908">PO#</strong>: {{ po.pono }}
        						</div>
        						<div class="col-xs-4">
        							<strong data-translate="3146">Modified Dt</strong>: {{ po.modifieddatetime | cleanDate}}
        						</div>
        						<div class="col-xs-4">
        							<strong data-translate="533">Created Date</strong>: {{ po.createddatetime | cleanDate }}
        						</div>
        					</div>
                  <div class="row">
                    <div class="col-xs-4">
                      <strong data-translate="3533">Vendor Code</strong>: {{ po.vendorcode }}
                    </div>
                    <div class="col-xs-4">
                      <strong data-translate="1453">Status</strong>: {{ getPoStatus(po.active) | translate }}
                    </div>
                    <div class="col-xs-4"></div>
                  </div>
        				</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <button class="btn btn-large" type="button" ng-disabled="!(activePO !== void(0))" ng-click="returnSelectedPO()"><span data-translate="2226">Ok</span></button>
        <button class="btn btn-large" type="button" ng-click="closeModal(false)"><span data-translate="907">Cancel</span></button>
      </div>
    </div>
  </div>
</form>
