<div class="row">
  <div class="col-xs-12">
      <div class="row">
          <div class="col-xs-12">
            <receiving-info ng-if="voucherReady()"></receiving-info>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <receiving-main ng-if="voucherReady()"></receiving-main>
          </div>
        </div>
        <div class="row">
          <button-bar view-path="components/store-ops/receiving/receiving-button-bar.htm"></button-bar>
        </div>
  </div>
</div>
  

