<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
  <div class="btn-group">
    <button ng-if="!(sharedData.receiving.voucher.info.vouclass === 2)" class="btn btn-default" ng-click="newVoucher()" ng-disabled="disableVoucherNewButton()"><span data-translate="581">New</span></button>
    <button ng-if="sharedData.receiving.voucher.info.vouclass === 2" class="btn btn-default" ng-click="newVoucher()" ng-disabled="disableVoucherNewButton()"><span data-translate="581">New</span></button>
  </div>
  <div class="btn-group" ng-if="((saveOrEdit === 'view' && sharedData.receiving.voucher.info.status === 3 && !sharedData.editEnabled) || (saveOrEdit === 'view' && sharedData.receiving.voucher.disableVoucherDetails && sharedData.receiving.voucher.info.vouclass !== 2 && sharedData.receiving.voucher.info.status === 4) || (!sharedData.receiving.voucher.workingMode && sharedData.receiving.voucher.info.vouclass === 2 && !sharedData.receiving.voucher.info.held))  && !sharedData.receiving.voucher.info.isBlank">
    <button class="btn btn-default" ng-disabled="sharedData.receiving.voucher.info.held||(sharedData.receiving.voucher.info.vouclass !== 2 && permissionService.checkDeny('vouchersedit'))||(sharedData.receiving.voucher.info.vouclass === 2 && permissionService.checkDeny('asnedit'))||((sharedData.receiving.voucher.info.status !== 4 && sharedData.receiving.voucher.info.vouclass !== 2)&&(sharedData.receiving.voucher.info.status !== 3 && sharedData.editEnabled))||(sharedData.isAssignLimited)" ng-click="enableVoucherEdit()"><span data-translate="774">Edit</span></button>
  </div>
  <div class="btn-group" ng-if="(saveOrEdit === 'new' || (saveOrEdit === 'edit' && sharedData.receiving.voucher.info.status === 3 && sharedData.editEnabled) || (saveOrEdit === 'edit' && !sharedData.receiving.voucher.disableVoucherDetails && sharedData.receiving.voucher.info.vouclass !== 2 && sharedData.receiving.voucher.info.status === 4) || (sharedData.receiving.voucher.workingMode && sharedData.receiving.voucher.info.vouclass === 2 && !sharedData.receiving.voucher.info.held)) && !sharedData.receiving.voucher.info.isBlank">
    <button class="btn btn-default" ng-disabled="sharedData.receiving.voucher.info.status !== 4 && sharedData.receiving.voucher.info.vouclass !== 2" ng-click="saveCurrentVoucher()"><span data-translate="547">Save</span></button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default" ng-disabled="disableVoucherCancelButton()" ng-click="cancelCurrentVoucher()"><span data-translate="1.2">Cancel</span></button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default" ng-disabled="(sharedData.receiving.voucher.info.status !== 4 && sharedData.receiving.voucher.info.vouclass !== 2)||(sharedData.receiving.voucher.info.status === 0 && sharedData.receiving.voucher.info.vouclass === 2)||sharedData.receiving.voucher.workingMode||(permissionService.checkDeny('voucherscopy') && sharedData.receiving.voucher.info.vouclass !== 2) || (permissionService.checkDeny('asncreatecopy') && sharedData.receiving.voucher.info.vouclass === 2)||sharedData.receiving.voucher.info.isBlank||(sharedData.receiving.voucher.recvitem.length < 1)||(sharedData.isAssignLimited)" ng-click="copyCurrentVoucher()"><span data-translate="582">Copy</span></button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default" ng-if="!sharedData.receiving.voucher.info.held" ng-disabled="!(sharedData.editEnabled)||(sharedData.receiving.voucher.info.vouclass === 2 && sharedData.receiving.voucher.info.status === 3)||!(sharedData.receiving.voucher.info.status !== 4)||(!(sharedData.receiving.voucher.workingMode) && sharedData.editEnabled)||permissionService.checkDeny('vouchershold')" ng-click="changeHoldStatus(1)"><span data-translate="775">Hold</span></button>
    <button class="btn btn-default" ng-if="sharedData.receiving.voucher.info.held" ng-disabled="permissionService.checkDeny('vouchershold')" ng-click="changeHoldStatus(0)"><span data-translate="775.1">Un-Hold</span></button>
  </div>
  <div class="btn-group" ng-if="!sharedData.receiving.voucher.info.isBlank">
    <button class="btn btn-default" event-name="recvPrintUpdate" ng-if="togglePrintButton&&!(sharedData.receiving.voucher.info.vouclass === 2)" ng-disabled="!(sharedData.receiving.voucher.workingMode)||!(sharedData.editEnabled)||(sharedData.receiving.voucher.info.held)||(sharedData.receiving.voucher.recvitem.length < 1)" ng-click="updateCurrentVoucher(true)"><span data-translate="952">Print Update</span></button>
    <button class="btn btn-default" ng-if="!togglePrintButton&&!(sharedData.receiving.voucher.info.vouclass === 2)" ng-disabled="(sharedData.receiving.voucher.info.vouclass === 2)||(sharedData.receiving.voucher.recvitem.length < 1)" ng-click="printVoucher()"><span data-translate="522">Print</span></button>
    <asn-print-button ng-if="sharedData.receiving.voucher.info.vouclass === 2"></asn-print-button>
  </div>
  <div class="btn-group" ng-if="!(sharedData.receiving.voucher.info.vouclass === 2)">
    <button class="btn btn-default" event-name="recvUpdateOnly" ng-disabled="!(sharedData.receiving.voucher.workingMode)||!(sharedData.editEnabled)||(sharedData.receiving.voucher.info.held) || (!(sharedData.receiving.voucher.workingMode) && sharedData.editEnabled)||(sharedData.receiving.voucher.recvitem.length < 1)" ng-click="updateCurrentVoucher(false)"><span data-translate="1301">Update Only</span></button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default" type="button" ng-click="showVoucherOptionsButtons()"><span data-translate="10">Options</span></button>
  </div>
</div>
