<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <h4 data-translate="5251">Generate Slips Wizard</h4>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <div class="col-xs-12 padding-15">
                        <div class="table-responsive">
                            <table class="table table-hover full-width">
                                <thead>
                                    <td>
                                      <a href="javascript:void(0)" ng-click="state.slips.toggleSelectedFlagForAllSlips(false)" ng-if="state.slips.allSlips">Check None</a>
                                      <a href="javascript:void(0)" ng-click="state.slips.toggleSelectedFlagForAllSlips(true)" ng-if="!state.slips.allSlips">Check All</a>
                                    </td>
                                    <th class="text-left" ng-repeat="header in state.slips.headers track by $index">{{header | translate}}</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="slip in state.slips.list track by $index" ng-class="{'danger':state.slips.hasError(slip)}">
                                        <td><input type="checkbox" ng-model="slip.selected" ng-change="state.slips.toggleSelectedFlagForOneSlip()"></td>
                                        <td>{{slip.docinstoreno}}</td>
                                        <td>{{slip.docno}}</td>
                                        <td>{{state.slips.statusList[slip.docstatus] | translate}}</td>
                                        <td>{{state.slips.getErrorMsg(slip)}}</td>
                                        <!-- <td><button type="button" class="btn btn-info btn-sm pull-right" ng-click="state.slips.openSlip(slip)">Open</button></td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <generate-slip-print-all-button></generate-slip-print-all-button>
                <generate-slip-print-button></generate-slip-print-button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="close(false)">
                    <span data-translate="583" ng-if="state.slips.generated">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
