<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="3714">Import Scans</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
              <h4><span data-translate="6961">Please select the file to import scanned items</span></h4>
                <div>
                    <div>
                        <input type="file" class="form-control" input-file="" ng-model="fileEncoded">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-info" type="button" ng-click="processFileImport($close)"><span data-translate="3719">Import</span></button>
                <button class="btn btn-default" type="button" ng-click="$close(false)"><span data-translate="1.2">cancel</span></button>
            </div>
        </div>
    </div>
</div>
