<div class="row">
	<select class="form-control" ng-if="disbursementTypes.length > 0" ng-disable="disable" ng-model="selectedEventType.value" ng-options="event_type.value as event_type.name | translate for event_type in disbursementTypes"></select>
</div>