<form name="noteEdit" id="noteEdit">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 data-translate="4774">Edit Notes</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <textarea type="text" class="form-control" id="poItemNoteEdit" name="poItemNoteEdit" tabindex="1" ng-model="form.noteText"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button id="noteEditSaveButton" type="button" class="btn btn-lg btn-default" ng-click="$close({saveFlag: true, newText: form.noteText});">
                        <span data-translate="547">Save</span>
                    </button>
                    <button id="noteEditCancelButton" type="button" class="btn btn-lg btn-default" ng-click="$close({saveFlag: false, newText: null});">
                        <span data-translate="1.2">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
