<div class="btn-group">
    <button data-permission="adjmemosreversememo" data-permission-disabled="(adjMemo.memo.reversedflag)||(!adjMemo.memo.sid)||(adjMemo.saving)||(adjMemo.memo.status !== 4)" class="btn btn-default" ng-click="adjMemo.reverseMemo();">
        <span data-translate="4790">Reverse</span>
    </button>
</div>
