<child-resource-form child-validator ng-required="false" label="emplAdrI.label" disable-edit="emplAdrI.mode==='view'" form-component="'<employee-empladdress-form></employee-empladdress-form>'" list-component="'<employee-empladdress-view></employee-empladdress-index>'" parent-form="emplAdrI.service.formState" ng-model="emplAdrI.service.active.empladdress">
</child-resource-form>
