<ng-form name="userempform">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <span data-translate="6481">Employee Group Assignments</span> - {{groupEmployees.userGroup.active.usergroupname}}
    </h4>
  </div>
  <div class="panel-body group-employees">
    <div class="row form-group">
      <div class="col-xs-12">
        <fieldset>
          <check-list ng-if="groupEmployees.loadComplete" is-disabled="groupEmployees.mode==='view'" filter-controls="true" height="'475px'" form="userempform" is-disabled="groupEmployees.mode==='view'" model="groupEmployees.userGroup.groupEmployees" required="false" label="'Employees'" check-value="'sid'" collection="groupEmployees.userGroup.employeeList" check-txt="'fullname'"></check-list>
        </fieldset>
      </div>
    </div>
  </div>
</div>
</ng-form>
<action-button-bar action-bar="groupEmployees.userGroup.buttonBar"></action-button-bar>
