<form name="adyenDevice" id="adyenDevice" autocomplete="off" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4>Adyen</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <canvas id="signatureCanvas" height="200px" width="866px"></canvas>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <button id="approveSignatureButton" type="button" class="btn btn-lg btn-default" ng-click="approveSignature()">
            <span data-translate="6560">
              Approve
            </span>
          </button>
          <button id="rejectSignatureButton" type="button" class="btn btn-lg btn-default" ng-click="rejectSignature()">
            <span data-translate="3718">
              Reject
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
