<div class="row">
	<div class="col-xs-12">
		<!-- <input type="text" class="form-control" ng-model="newItemOnList"/> -->
		<div class="row">
			<div class="col-xs-10">
				<select ng-disabled="disableNewItemSelect" ng-options="value as value[settings.optionsName] for value in settings.defaultValues" class="form-control" ng-model="newItemOnList.value"></select>
			</div>
			<div class="col-xs-2">
				<button ng-click="addItemToList()" ng-disabled="!(newItemOnList.value !== void(0))" class="btn btn-icon" type="button">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>
		<div class="row add-remove-list-container">
			<table class="table add-remove-list">
				<thead class="left-titles">
					<th ng-repeat="title in settings.listFieldTitles" width="{{title.width}}">{{title.name}}</th>
					<th width="20%"></th>
				</thead>
				<tbody ng-if="itemsList.length > 0">
					<tr ng-repeat="item in itemsList">
						<td ng-repeat="field in settings.editFields">
							<input type="text" class="form-control" ng-model="item[field.name]" ng-if="!field.fieldType && item.editEnabled && !field.readOnly">
							<div class="checkbox" ng-if="field.fieldType === 'checkbox'">
								<label>
									<input type="checkbox" ng-disabled="!(item.editEnabled)" ng-model="item[field.name]">
								</label>
							</div>
							<select ng-disabled="!(item.editEnabled)" ng-options="value as value.[field.optionsName] for value in field.options" class="form-control" ng-model="item[field.name]" ng-if="field.fieldType === 'select'"></select>
							<span ng-if="(!item.editEnabled || field.readOnly) && !field.fieldType">{{item[field.name]}}</span>
						</td>
						<td>
							<button ng-if="!item.editEnabled" class="btn btn-icon" ng-disabled="disableNewItemSelect" ng-click="enableEditMode(item, $index);" type="button">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
	              			<button ng-if="!item.editEnabled" class="btn btn-icon" ng-disabled="disableNewItemSelect" ng-click="addToRemoveQueue(item);" type="button">
	              				<span class="glyphicon glyphicon-remove"></span>
	              			</button>
							<button ng-if="item.editEnabled" class="btn btn-icon text-right" ng-click="addToSaveQueue(item)" type="button">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button ng-if="item.editEnabled" class="btn btn-icon" ng-click="disableEditMode(item, $index)" type="button">
								<span class="glyphicon glyphicon-ban-circle"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>