<div class="simple-list-selection" id="simpleSelection">
  <table class="col-xs-12 table table-bordered">
    <tbody>
        <a href="javascript:void(0)"><tr ng-class="{stripe:($index%2),'active-list-item':($index===activeItem)}" style="height:35px;" ng-repeat="item in list" ng-click="selectItem(item)" id="customer{{$index}}">
          <td ng-repeat="column in columns" class="text-center">
            {{getDisplayValue(item,column)}}
          </td>
        </tr></a>
    </tbody>
  </table>
</div>
