<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="750">Customer ID</label>
    <input id="customer_id" name="customer_id" class="form-control" ng-blur="field.validateCustomerID()" maxlength="15" numberonly="undefined" ng-required="field.required" ng-model="field.service.active.custid">
  </div>
</div>
