<div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a ng-click="ResponseTabs.changeFormat(0)">Tree</a> | 
                <a ng-click="ResponseTabs.changeFormat(1)">Formatted</a> | 
                <a ng-click="ResponseTabs.changeFormat(2)">Raw</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div ng-show="ResponseTabs.treeOn" class="well well-sm">
            <json-formatter ng-if="ResponseTabs.response" json="ResponseTabs.response" open="1"></json-formatter>
        </div>
    </div>
    <div class="row">
        <div ng-show="ResponseTabs.formOn" class="well well-sm">
            <pre>{{ResponseTabs.formResponse}}</pre>
        </div>
    </div>
    <div class="row">
        <div ng-show="ResponseTabs.rawOn" class="well well-sm">
            {{ResponseTabs.rawResponse}}
        </div>
    </div>
</div>