﻿@model ReportNino.Models.TonUPCModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section searchfrom{
    <form method="post">
        <p>
            @Html.TextBoxFor(m => m.upc, new { name = "upc", value = "" })
            <input type="submit" value="search" />
        </p>
    </form>
}
<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline collapsed" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 982px;">
    <thead>
        <tr>

            <th>UPC</th>
            <th>SIZ</th>
            <th>OH_QTY</th>
            <th>HOLD_QTY</th>
            <th>AVAILABLE_QTY</th>
            <th>DESCRIPTION1</th>
            <th>ATTR</th>
            <th>PRICE_RETAIL</th>
            <th>DESCRIPTION2</th>
            <th>COLOR_COUNT</th>
            <th>SIZE_RANGE</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.data != null)
        {
            foreach (var i in Model.data)
            {
        <tr>

            <td>@i["UPC"]</td>
            <td>@i["SIZ"]</td>
            <td>@i["OH_QTY"]</td>
            <td>@i["HOLD_QTY"]</td>
            <td>@i["AVAILABLE_QTY"]</td>
            <td>@i["DESCRIPTION1"]</td>

            <td>@i["ATTR"]</td>
            <td>@i["PRICE_RETAIL"]</td>
            <td>@i["DESCRIPTION2"]</td>
            <td>@i["COLOR_COUNT"]</td>
            <td>@i["SIZE_RANGE"]</td>
        </tr>
            }
        }

    </tbody>
    <tfoot></tfoot>
</table>

