<div class="panel panel-default">
  <div class="panel-heading">
    <h3 data-translate="7252" ng-if="!$ctrl.regionSid">New Region</h3>
    <h3 data-translate="7253" ng-if="$ctrl.regionSid">Edit Region</h3>
  </div>
  <div class="panel-body" style="padding: 1em;">
    <div class="row col-xs-12" style="padding: 0em 1em 0em 1em; display: flex; align-items: center;">
      <div class="col-xs-3">
        <strong data-translate="7254">Region name</strong>
      </div>
      <div class="col-xs-9" style="margin: 0.8em;">
        <input type="text" class="form-control" ng-model="$ctrl.regionName" maxlength="12" autofocus required>
      </div>
    </div>
    <div class="row col-xs-12" style="padding: 0em 1em 1em 1em; display: flex; align-items: center;">
      <div class="col-xs-3">
        <strong data-translate="7255">Master Subsidiary</strong>
      </div>
      <div class="col-xs-9">
        <rp-select-input required="$ctrl.masterDefaultObj" repeater-data="$ctrl.masterSubList" key-string="'name'" suppress-translate="true" default-obj="$ctrl.masterDefaultObj" value-key="'value'" ng-model="$ctrl.selectedMasterSub" ng-change="$ctrl.OnChange()" is-disabled="$ctrl.masterSubList.length===0">
        </rp-select-input>
      </div>
    </div>
    <div class="row col-xs-12" ng-if="$ctrl.masterSubList.length===0">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span data-translate="7286">There aren't any Master Subsidiaries available</span>
      </div>
    </div>
    
    <table class="table col-xs-12 table-bordered table-reponsive table-centered" ng-if="$ctrl.memberSubList.length>0">
      <thead>
        <tr>
          <th colspan="12">
            <span style="font-weight: normal;" data-translate="7256">Select Member Subsidiaries</span>
          </th>
        </tr>
        <tr>
          <th>
            <input id="" name="" type="checkbox" class="large-input-field" ng-model="$ctrl.selectAllmembers" ng-click="$ctrl.toggelSelectAll()">
          </th>
          <th><strong data-translate="2768">Subsidiary Name</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="member in $ctrl.memberSubList">
          <td style="padding: 1em;">
            <input id="" name="" type="checkbox" class="large-input-field" ng-model="member.isMember">
          </td>
          <td style="padding: 1em;">{{member.name}}</td>
        </tr>
      </tbody>
    </table>
    <div ng-if="$ctrl.inprogress" style="text-align: center">
      <img src="/api-explorer/img/ajax-loader.gif" class="glyphicon glyphicon-refresh">
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group" style="padding-right: 0.5em;">
        <button class="btn btn-lg btn-info" style="border-radius: 0.4em;" type="button" data-translate="547" ng-disabled="!$ctrl.regionName" ng-click="$ctrl.saveRegion()">
          Save
        </button>
      </div>
      <div class="btn-group" role="group" style="padding-left: 0.5em;">
        <button class="btn btn-lg btn-default" style="border-radius: 0.4em;" type="button" data-translate="1.2" ng-click="$ctrl.dismiss()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
