<div>
    <button ng-if="button.showLayout(1)" event-name="accessEmployeeManagement" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()">
        <span data-translate="2023">Employee Management</span>
    </button>
    <img-btn ng-if="button.showLayout(2)" event-name="accessEmployeeManagement" translation-name="'2023'" img-src="'/images/customer/create_customer_48.png'" click-handler="button.action" disable="button.disable()" button-text="'2023'">
    </img-btn>
</div>
