<div class="row top-margin">
    <div class="col-xs-{{labelWidth}}">
        <label class="control-label" data-translate="534">Last Edit Date</label>
    </div>
    <div class="col-xs-{{fieldWidth}}">
        <input type="button" id="amLastEditDate" class="form-control" value="{{(adjMemo.memo.modifieddatetime)?(adjMemo.memo.modifieddatetime | date:'mediumDate'):('6264'|translate)}}">
    </div>
</div>
