<div class="col-xs-3 no-left-padding">
  <label data-translate="2765">Serial Type</label>
</div>
<div class="col-xs-4">
  <select class="form-control" ng-disabled="$ctrl.service.noPermSNType||$ctrl.service.disableOnReadOnlyMode()||$ctrl.service.item.noninventory||($ctrl.service.item.kittype > 0 && $ctrl.service.item.kittype < 3)" ng-change="$ctrl.service.onTypesBlur({fieldName:'serialtype',newValue:$ctrl.service.item.serialtype})" ng-model="$ctrl.service.item.serialtype" ng-options="type.value as type.text for type in $ctrl.service.serialTypeList"></select>
</div>
<div class="col-xs-3">
  <button event-name="invnSnMgmt" ng-disabled="$ctrl.service.item.serialtype===0" ng-click="$ctrl.service.manageSerNos($ctrl.service.item);" type="button" class="btn btn-info btn-block"><span data-translate="5771">Serial Numbers</span></button>
</div>
