<div class="btn-group">
  <button ng-if="transferSlip.isEdit" ng-disabled="!slip_form.$valid||transferSlip.saving||(transferSlip.slip.status!==4)" class="btn btn-default" ng-mousedown="saveSlip()">
      <span data-translate="547">Save</span>
  </button>
  <button ng-if="!transferSlip.isEdit" ng-disabled="checkEditButton();" class="btn btn-default" ng-click="editSlip()">
      <span data-translate="774">Edit</span>
  </button>
</div>
