<div class="modalouter">
  <div class="modal-header">
    <h4 data-translate="1004">Initialize</h4>
  </div>
  <div class="modal-body">
    <ng-form name="v9Init.conn.form" id="iForm">
      <div ng-if="!v9Init.initializing">
        <div class="well well-sm">
          <h5>
            <span ng-if="!v9Init.allData" data-translate="6225">Gathering Server Information...</span>
            <span data-translate="6226" ng-if="v9Init.allData&&!v9Init.notGood">Initialize from RIL</span>
            <span data-translate="5984" ng-if="v9Init.notGood">No Active RIL Connection</span>
          </h5>
        </div>
        <div>
          <div ng-if="v9Init.initializing">
            <div class="welll well-sm text-center">
              <em><span data-translate="5985">Starting Initialization</span>
                <br>
                <img src="images/ajax-loader.gif">
                <br>
                <span data-translate="5986">Please Wait</span></em>
            </div>
          </div>
          <div ng-if="!v9Init.initializing">
            <div class="well well-sm" ng-if="v9Init.allData&&v9Init.notGood">
              <span style="color:red;font-size:32px;" class="glyphicon glyphicon-exclamation-sign"></span>
              {{msg | translate}}
            </div>
            <div class="well well-sm text-center center" ng-if="!v9Init.allData">
              <img class="text-center" src="/images/ajax-loader.gif">
            </div>
            <div ng-if="v9Init.allData">
              <div class="row form-group">
                <div class="col-xs-6">
                  <check-list filter-controls="true" model="v9Init.form.connections" required="true" label="'Servers(s)'" check-value="'sid'" collection="v9Init.allConnections" check-txt="'connectionname'"></check-list>
                </div>
                <div class="col-xs-6">
                  <label class="control-label" data-translate="5832">
                    Profiles
                  </label>
                  <select ng-model="v9Init.form.subscription" ng-required="true" class="form-control" ng-options="x.sid as x.subscriptionname for x in v9Init.subsList">
                    <option value="" data-translate="1358">Select...</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-default" ng-click="v9Init.dismiss()">
      <span class="glyphicon glyphicon-ban-circle"></span>
      Cancel
    </button>
    <button ng-click="v9Init.initialize();" type="button" ng-disabled="!v9Init.conn.form.$valid||v9Init.form.connections.length===0||v9Init.initializing" class="btn btn-default"><span class="glyphicon glyphicon-flash"></span> <span data-translate="806">Start</span></button>
  </div>
</div>


