<div class="modalouter">
  <div class="modal-header">
    <div class="row-fluid">
      <div class="span12">
        <h4><span data-translate="6662">Duplicate Package ID Found</span></h4>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-xs-12">
        <span data-translate="6663">Please select the appropriate ASN</span>
        <hr>
        <div class="row form-group" ng-repeat="row in $ctrl.rows">
          <div class="col-xs-4" ng-repeat="asn in row">
            <button class="btn btn-default" ng-click="$ctrl.selectASN(asn.vousid)"><span data-translate="6664">ASN #</span>{{asn.asnno}} - {{asn.vendcode}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-right">
        <button class="btn btn-info" data-translate="1.2" ng-click="$ctrl.close()">Cancel</button>
      </div>
    </div>
  </div>
</div>
