<ng-form name="disbursement.form">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-6">
        <h4 ng-if="!disbursements.active.sid"><span data-translate="505">Disbursements</span></h4>
        <h4 ng-if="disbursements.active.sid"><span data-translate="3942">Disbursement</span>  #{{disbursements.active.sequence_no}} -
          <span ng-if="disbursements.active.event_type === 3" data-translate="671">Cash Drop </span>
          <span ng-if="disbursements.active.event_type === 4" data-translate="4005">Drawer Open </span>
          <span ng-if="disbursements.active.event_type === 5" data-translate="673">Paid In </span>
          <span ng-if="disbursements.active.event_type === 6" data-translate="672">Paid Out </span>
        </h4>
      </div>

      <div class="col-xs-6" ng-if="stateParams.sid">
        <top-filter-change-button asklayout="2" disable="doDisableTFButton" on-close="updateTopFilter">
        </top-filter-change-button>
      </div>

    </div>
  </div>

  <div class="modal-body">
    <div class="row" ng-if="!stateParams.sid">
      <div class="col-xs-2 col-xs-offset-2">
        <cash-drop></cash-drop>
      </div>
      <div class="col-xs-2">
        <paid-out></paid-out>
      </div>
      <div class="col-xs-2">
        <paid-in></paid-in>
      </div>
      <div class="col-xs-2">
        <drawer-open></drawer-open>
      </div>
    </div>
    <div ng-if="stateParams.sid">
      <div class="row form-group">
        <div class="col-xs-3">
          <disbursement-associate ng-if="disbursements.active.event_type"></disbursement-associate>
        </div>
        <div class="col-xs-3">
          <disbursement-reason ng-if="disbursements.active.event_type"></disbursement-reason>
        </div>
        <div class="col-xs-3">
          <disbursement-note ng-if="1===1"></disbursement-note>
        </div>
        <div class="col-xs-3" ng-if="disbursements.active.event_type!==4">
          <add-disbursement-button></add-disbursement-button>
          <remove-disbursement-button></remove-disbursement-button>
        </div>
      </div>
      <div class="row form-group" ng-if="disbursements.active.event_type!==4">
        <div class="col-xs-12" ui-i18n="{{lang}}">
          <div ui-grid-cellnav="undefined" ng-if="disbursements.active&&!disbursements.active.finalized" ui-grid-edit="undefined" ui-grid-selection="undefined" ui-grid="disbursementGridOptions" external-scopes="gridHandlers" class="undefined"></div>
          <div ng-if="disbursements.active.finalized" ui-grid="readOnlyDisbursementGridOptions" external-scopes="gridHandlers" class="undefined"></div>
        </div>
      </div>
      <div class="row" ng-if="disbursements.active.event_type!==4">
        <div class="col-xs-2 col-xs-offset-10">
          <ul class="list-group-nopad">
            <disbursement-total></disbursement-total>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right" ng-if="!stateParams.sid">
    <disbursement-close-button></disbursement-close-button>
  </div>
  <div class="modal-footer text-right" ng-if="stateParams.sid">
    <disbursement-edit ng-if="disbursements.active.finalized"></disbursement-edit>
    <disbursement-print-update-button></disbursement-print-update-button>
    <disbursement-update-button></disbursement-update-button>
    <disbursement-cancel-button></disbursement-cancel-button>
  </div>
  </ng-form>
