<div class="form-group" ng-if="!$ctrl.isPendingLookup()">
  <label data-translate="542">Type</label>
  <select-transfer-type ng-model="search.reversedflag"></select-transfer-type>
</div>

<div class="form-group" ng-if="$ctrl.isPendingLookup()">
    <label>
        <input type="checkbox" name="active" value="0" ng-model="search.held">
        <span data-translate="1454">Held</span>
    </label>
</div>
