<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-12">
                <h3 data-translate="5073" class="ng-scope">Loyalty points</h3>
            </div>
        </div>
    </div>
    <div class="modal-body form-horizontal">
        <div class="container-fluid text-center form-group">
            <span data-translate="5074">Please enter the points value to be applied to the document</span>
        </div>

        <div ng-if="document.items.length === 0" class="alert alert-danger text-center" role="alert">
          <span data-translate="5075">You cannot use loyalty points while there is no items added to the document!</span>
        </div>

        <div class="form-group">
            <label for="usePointsFieldspoints_bal" class="col-xs-5 control-label" data-translate="5076">Available to redeem</label>
            <div class="col-xs-7">
                <div class="input-group">
                    <input id="usePointsFieldspoints_bal" name="usePointsFieldspoints_bal" type="tel" ng-model="usePointsFields.points_bal" class="form-control" data-currency-formatter="number" numberonly="" ng-disabled="true">
                    <div class="input-group-addon"> <strong><span data-translate="4746">of</span> {{document.lty_balance_for_total_redeem| number}} <span data-translate="5377">total points</span></strong></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="usePointsFieldspoints_val" class="col-xs-5 control-label" data-translate="5077">Enter point value</label>
            <div class="col-xs-7">
                <div class="input-group">
                    <input id="usePointsFieldspoints_val" name="usePointsFieldspoints_val" type="text" ng-model="usePointsFields.points_val" class="form-control" autofocus ng-disabled="document.items.length === 0" ng-change="caclPoints()" max="{{usePointsFields.points_bal}}" data-format-decimal="{{lty_decimals}}" decimals="{{lty_decimals}}" data-currency-formatter="number" numberonly="">
                    <div class="input-group-btn">
                        <button ng-disabled="document.items.length === 0" type="button" ng-click="maxPts()" class="btn btn-info">
                          <span data-translate="5344">Max</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="points_multiplier" class="col-xs-5 control-label" data-translate="5078">Points multiplier</label>
            <div class="col-xs-7">
                <input id="points_multiplier" name="points_multiplier" type="tel" ng-model="usePointsFields.points_multiplier" class="form-control" data-currency-formatter="number" numberonly="" ng-disabled="true">
            </div>
        </div>

        <div class="form-group">
            <label for="usePointsFieldscurrency_rate" class="col-xs-5 control-label" data-translate="5079">Currency rate</label>
            <div class="col-xs-7">
                <input id="usePointsFieldscurrency_rate" name="usePointsFieldscurrency_rate" type="tel" ng-model="usePointsFields.currency_rate" class="form-control" data-currency-formatter="number" numberonly="" ng-disabled="true">
            </div>
        </div>

        <div class="form-group">
            <label for="usePointsFieldstotal_based_amount" class="col-xs-5 control-label" data-translate="5080">Total based amount</label>
            <div class="col-xs-7">
                <div class="input-group">
                    <input id="usePointsFieldstotal_based_amount" name="usePointsFieldstotal_based_amount" type="tel" ng-model="usePointsFields.total_based_amount" class="form-control" data-currency-formatter="number" numberonly="" ng-disabled="true">
                    <div class="input-group-addon"><strong>{{currency.alphabetic_code}}</strong></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="usePointsFieldspoints_remained" class="col-xs-5 control-label" data-translate="5081">Remained points</label>
            <div class="col-xs-7">
                <input id="usePointsFieldspoints_remained" name="usePointsFieldspoints_remained" type="tel" ng-model="usePointsFields.points_remained" class="form-control" data-currency-formatter="number" numberonly="" ng-disabled="true">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <button ng-if="tenderCall" type="button" id="useLtyPointsSkipButton" event-name="useLtyPointsSkip" class="btn btn-lg btn-default" ng-click="useLtyPoints.close(true)">
                  <span data-translate="5082">Skip</span>
                </button>
                <button type="button" id="useLtyPointsResetButton" event-name="useLtyPointsReset" class="btn btn-lg btn-default" ng-click="resetTBRPoints()">
                  <span data-translate="614">Reset</span>
                </button>
                <button type="button" id="useLtyPointsApplyButton" event-name="useLtyPointsApply" class="btn btn-lg btn-default" ng-click="applyTBRPoints()" ng-disabled="!usePointsFields.points_val || !balClear">
                  <span data-translate="1.3">Apply</span>
                </button>
                <button type="button" id="useLtyPointsCancelButton" event-name="useLtyPointsCancel" class="btn btn-lg btn-default" ng-click="useLtyPoints.close(false)">
                    <span data-translate="1.2">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
