<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h4 data-translate="7257">Corporate Regions > General</h4>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <div class="panel-heading" style="display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5em;">
          <strong data-translate="7251">Corporate Regions</strong>
          <button class="btn btn-default btn-icon glyphicon glyphicon-plus" ng-click="$ctrl.openAddOrEditRegion()"></button>
        </div>
        <table class="table col-xs-12 table-bordered table-reponsive table-centered" ng-if="$ctrl.regionList.length>0">
          <thead>
            <tr>
              <th><strong data-translate="774">Edit</strong></th>
              <th><strong data-translate="3606">Region Name</strong></th>
              <th><strong data-translate="3041">Deactivate</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="region in $ctrl.regionList" ng-class="['cursor-pointer', { 'context-rowtrue' : $ctrl.selectedRegionSid === region.sid }]" ng-click="$ctrl.onRegionSelect(region)">
              <td>
                <button class="btn btn-default btn-icon glyphicon glyphicon-pencil" ng-click="$ctrl.openAddOrEditRegion(region)"></button>
              </td>
              <td style="padding: 1em;">{{region.regionname}}</td>
              <td>
                <button class="btn btn-default btn-icon glyphicon glyphicon-remove" ng-click="$ctrl.deleteRegion(region)"></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="display: flex;
            padding: 1em;
            justify-content: center;
            font-size: large;">
          <span data-translate="7258" ng-if="$ctrl.regionList.length===0">Add regions using [+] icon</span>
        </div>
      </div>

      <div class="col-xs-6" ng-if="$ctrl.regionSubList.length>0">
        <div class="panel-heading" style="display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;">
          <strong data-translate="7259">Locations</strong>
        </div>
        <table class="table col-xs-12 table-bordered table-reponsive table-centered">
          <thead>
            <tr>
              <th><strong data-translate="2768">Subsidiary Name</strong></th>
              <th><strong data-translate="7250">Master</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="regionSub in $ctrl.regionSubList">
              <td style="padding: 1em;">{{regionSub.sbsname}}</td>
              <td style="padding: 0.8em;">
                <input id="" name="" type="checkbox" class="large-input-field" ng-model="regionSub.ismastersbs" disabled="disabled">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
