<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="6362">Create Coupon Set</h4>
  </div>
  <div class="modal-body noOverflow">
    <ng-form name="form.coupon">
      <div class="row form-group">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4">
              <label for="setId" class="control-label" data-translate="6359">Set ID</label>
            </div>
            <div class="col-xs-8">
              <input id="setId" name="setId" type="number" min="0" class="form-control" maxlength="10" required="true" ng-model="coupon.setid">
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label" data-translate="6360">Set Name</label>
            </div>
            <div class="col-xs-8">
              <input type="text" class="form-control" maxlength="50" required="required" ng-model="coupon.setname">
            </div>
          </div>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="modal-footer">
    <div class="row">

      <div class="col-xs-6 col-xs-offset-6 text-right">
        <button class="btn btn-default" data-translate="1.1" ng-click="createSet()" event-name="quickCouponSetOK" id="quickCouponSetOKButton">OK</button>
        <button class="btn btn-default" data-translate="1.2" ng-click="cancelSet()" event-name="quickCouponSetCancel" id="quickCouponSetCancelButton">Cancel</button>
      </div>
    </div>


  </div>
</div>
