<div class="panel panel-default search-panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="search-filter-title" data-translate="826">Filters</h4>
        </div>
        <div class="col-xs-6 text-right" ng-if="!searchFilters.resourceLookupService.resourceData.showOnlyFilters">
          <button class="btn btn-default search-filter-toggle" ng-click="searchFilters.toggleFilters()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body advanced-search-panel">
      <div class="row form-group" ng-if="searchFilters.staticFilterInclude">
        <div class="col-xs-12">
          <split-panel-compiler config="searchFilters.staticFilterInclude"></split-panel-compiler>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label class="control-label" data-translate="1561">Search By</label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">
          <rp-select-input repeater-data="searchFilters.filters" force-reset="true" ng-model="searchFilters.filter" default-obj="searchFilters.defaultFilter" ng-change="searchFilters.addFilter()" is-disabled="searchFilters.resourceLookupService.resourceData.disableFilters" key-string="'name'" required="true"></rp-select-input>
        </div>
        <div class="col-xs-6">
          <div class="btn-group btn-group-responsive text-right" ng-if="searchFilters.resourceLookupService.resourceData.showActive">
            <button ng-click="searchFilters.setActiveFilter(true)" ng-disabled="searchFilters.resourceLookupService.resourceData.disableFilters" class="btn" ng-class="{'btn-info':searchFilters.resourceLookupService.resourceData.activeCriteria===true,'btn-default':searchFilters.resourceLookupService.resourceData.activeCriteria!==true}"><span data-translate="586">Active</span></button>
            <button ng-click="searchFilters.setActiveFilter(false)" ng-disabled="searchFilters.resourceLookupService.resourceData.disableFilters" class="btn" ng-class="{'btn-info':searchFilters.resourceLookupService.resourceData.activeCriteria===false,'btn-default':searchFilters.resourceLookupService.resourceData.activeCriteria!==false}"><span data-translate="2916">Inactive</span></button>
            <button ng-click="searchFilters.setActiveFilter()" ng-disabled="searchFilters.resourceLookupService.resourceData.disableFilters" class="btn" ng-class="{'btn-info':searchFilters.resourceLookupService.resourceData.activeCriteria===undefined,'btn-default':searchFilters.resourceLookupService.resourceData.activeCriteria!==undefined}"><span data-translate="1143">All</span></button>
          </div>
        </div>
      </div>
      <div class="row top-margin well well-sm margin-5" ng-repeat="column in searchFilters.resourceLookupService.resourceData.filterArray">
        <div class="col-xs-12">
          <button class="btn btn-sm btn-default" style="margin-bottom:8px;" ng-click="searchFilters.addFilter(column.obj)" ng-disabled="searchFilters.resourceLookupService.resourceData.disableFilters"><span class="glyphicon glyphicon-plus"></span></button> <strong>{{column.name | translate}}</strong>
        </div>
        <!-- DT18355 - "Virtual criteria" can be added to the criteriaArray to be used in the request filter but they are not reflected in the UI -->
        <div class="row form-group" ng-repeat="criteria in column.criteriaArray | filter:{isVirtual:'!true'}">
          <resource-lookup-filter-types column="column" column-idx="$parent.$index" criteria="criteria" disable-operators="searchFilters.disableOperators" criteria-idx="$index" use-default="false" submit-enter="searchFilters.submitEnter" on-remove="searchFilters.remove"></resource-lookup-filter-types>
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-sm btn-default" ng-click="searchFilters.reset();">
        <span class="glyphicon-ban-circle glyphicon"></span>
        <span data-translate="1335">Clear</span>
      </button>
      <button class="btn btn-sm btn-default" ng-if="!searchFilters.resourceLookupService.resourceData.showOnlyFilters" ng-disabled="searchFilters.resourceLookupService.resourceData.searching||!searchFilters.isFilterWhenRequired()" ng-click="searchFilters.initSearch();">
        <span class="glyphicon-search glyphicon"></span>
        <span data-translate="630">Search</span>
      </button>
    </div>
  </div>
