<div>
  <div class="container-fluid">
    <div class="row padding-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span data-translate="6884">Test Heading</span>
              </div>
              <div class="panel-body">
                <span data-translate="6885">Test-Body</span>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-xs-12 no-padding">
                  <div class="row row-container mobile-screen-title">
                    <div class="col-xs-12">
                      <span data-translate="685">General</span>
                    </div>
                  </div>
                  <div class="row row-container split-ui-tab-content single-tab" style="height:85vh">

                  </div>
                  <div class="row">
                    <div class="btn-group btn-group-justified" style="padding-left:3px;padding-right:3px;">
                      <div class="btn-group">
                        <button type="button" class="btn" ng-class="{'btn-info':empTabs.employeeService.activeTab===0,'btn-default':empTabs.employeeService.activeTab!==0}" event-name="posOptionsButton" ng-disabled="optionsButtonDisabled" ng-click="empTabs.setTab(0)">
                          <span data-translate="685">General</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <action-button-bar action-bar="actionBar"></action-button-bar>
  </div>
</div>
