<div>
    <button ng-if="button.showLayout(1)" event-name="departmentsAccess" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()">
        <span data-translate="5035">Departments</span>
    </button>
    <img-btn ng-if="button.showLayout(2)" event-name="departmentsAccess" translation-name="'5035'" img-src="'/images/customer/create_customer_48.png'" click-handler="button.action" disable="button.disable()" button-text="'Departments'"></img-btn>
</div>