<div class="row">
    <div class="col-xs-6 amBigBold" data-translate="4724">Quantity Difference</div>
    <div class="col-xs-6 text-right" ng-class="(selectedItem.adjvalue - selectedItem.origvalue) > 0 ? 'text-success' : (selectedItem.adjvalue - selectedItem.origvalue) < 0 ? 'text-danger' : ''"><strong>{{(selectedItem.adjvalue - selectedItem.origvalue)||0 | number}}</strong></div>
</div>