<div ng-if="viewPortChange" class="side-nav-container hidden-sm hidden-md hidden-lg">
	<div class="left-buttons">
	</div>
	<div class="button-container">
		<div class="round-button" ng-click="setNav('categoryMenu')">
			<i class="fa fa-bars" ng-if="!showNavControls.value"></i>
			<i class="fa fa-times-circle-o" ng-if="showNavControls.value"></i>
		</div>
	</div>
	<div class="right-buttons">
		<img ng-click="setNav('prismMenu')" src="/images/RetailProLogo160.png" alt="{{ '1519' | translate }}" ng-if="!showNavControls.value">
	</div>
	<div class="side-nav-controls" ng-class="{'active':showNavControls.value}">
		<ul ng-if="selectedNav.value === 'prismMenu'">
			<li ng-repeat="option in prismMenu">
				{{option}}
			</li>
		</ul>
		<ul ng-if="selectedNav.value === 'categoryMenu'">
			<li ng-repeat="option in categoryMenu">
				<a ng-if="showActionButton(option)" ng-disabled="option.disabled()" ng-click="option.action()">{{option.name}}</a>
				<a ng-if="showJustName(option)" ng-disabled="true">{{option.name}}</a>
				<span ng-if="option.template" ng-include="option.template"></span>
			</li>
		</ul>
	</div>
</div>