<div>
  <div class="row form-group">
    <div class="col-xs-12">
      <label class="control-label" data-translate="1601" for="name">Subscriber Name</label>
      <input type="text" id="name" ng-required="true" ng-model="subscriber.subscriber_name" class="form-control">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-10">
      <label class="control-label" data-translate="4508" for="type">RIL Subscriber Host Name</label>
      <input type="text" id="type" ng-required="true" ng-model="address.url" class="form-control">
    </div>
    <div class="col-xs-2">
      <label class="control-label" data-translate="1221" for="port">Port</label>
      <input type="text" id="port" ng-model="address.port" class="form-control">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <label class="control-label">
        <input type="checkbox" ng-model="subscriber.usedrssysuser"> <span data-translate="6863">Use DRS_SYS User</span>
      </label>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-6">
      <label class="control-label" data-translate="1595" for="prism_username">Prism Username</label>
      <input type="text" ng-model="subscriber.user_name" id="prism_username" ng-disabled="subscriber.usedrssysuser" ng-required="!subscriber.usedrssysuser" class="form-control">
    </div>
    <div class="col-xs-6">
      <label class="control-label" data-translate="1596" for="prism_password">Prism Password</label>
      <input type="password" ng-model="subscriber.password" id="prism_password" ng-disabled="subscriber.usedrssysuser" ng-required="!subscriber.usedrssysuser" class="form-control" maxlength="24">
    </div>
  </div>
</div>
