<div class="btn-group">
    <button data-permission="adjmemosunholdmemo" class="btn btn-default" data-permission-disabled="!adjMemo.memo.sid||adjMemo.memo.status!==3||adjMemo.saving" ng-click="toggleHold()">
        <span ng-if="!adjMemo.memo.held" data-translate="775">Hold</span>
        <span ng-if="adjMemo.memo.held" data-translate="4028">Unhold</span>
    </button>
</div>
