<div>
  <div class="panel panel-default conn-monitor">
    <div class="panel-heading" style="padding-bottom:0px;">
      <ul class="nav nav-tabs invert">
        <li ng-repeat="x in dBoard.tabs" ng-if="x.ifCondition();" ng-class="{'active':(dBoard.state.current.name.indexOf(x.route)!==-1)}">
          <a href="javascript:void(0)" ng-click="dBoard.setTab($index)">
            <span class="glyphicon {{x.icon}}" ng-if="x.icon"></span> {{x.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div ui-view=""></div>
    </div>
  </div>
</div>
