<form name="customer.form" parent-validation>
  <div class="detail-float" ng-if="customer.heldTransactions && customer.sid && !customer.portrait">
    <button class="btn btn-warning btn-block bounceItem bounceInDown" ng-click="customer.service.openCustomerHeldTransactions(customer.sid);">
      <span data-translate="6200">Held Transactions</span>
    </button>
  </div>
  <split-panel-ui config="customer.config"></split-panel-ui>
</form>
