<div class="panel">
  <div class="panel-heading">
    <span data-translate="2073">Tax Codes</span>
  </div>
  <div class="panel-body">
    <div id="taxCodesGrid" ui-grid="taxCodesGrid" ui-grid-selection="" class="grid"></div>
  </div>
  <div class="panel-footer text-right">
    <button type="button" valid-levels="subsidiary" data-translate="1.8" ng-click="addCode()" class="btn btn-primary">Add</button>
    <button type="button" valid-levels="subsidiary" data-translate="774" ng-disabled="!selectedCode()" ng-click="editCode()" class="btn btn-primary">Edit</button>
    <!--<button type="button" valid-levels="subsidiary" data-translate="544" ng-disabled="!selectedCode()" ng-click="deleteCode()" class="btn btn-primary">Delete</button>-->
  </div>
</div>
