<select class="form-control" ng-disabled="drawer.drawerList.length===0" ng-model="drawer.drawerNumber" ng-options="d.drawer_number as d.till_name + ' - ' + d.drawer_number for d in drawer.drawerList">
  <option value="" style="display:none" ng-if="drawer.drawerList.length>0" data-translate="1358">Select...</option>
  <option value="" style="display:none" ng-if="drawer.drawerList.length===0" data-translate="6464">No Drawers Available</option>
</select>
