<button class="btn btn-info btn-block" disable-by-permission="merchandiseprinttag" data-permission-disabled="sharedData.receiving.voucher.recvitem.length === 0" type="button" ng-click="printASNTags()"><span data-translate="4253">Print Tags</span></button>
