<div>
    <div class="row row-container hidden-xs">
        <div class="col-xs-12" ng-class="{'position-fixed no-margin no-padding':!marked}">
            <h4 class="text-center">{{title}}</h4>
        </div>
    </div>
    <!--<asn-search-bar ng-if="!marked" on-filter-change="lookup"></asn-search-bar>-->
    <batch-receiving-filters-button ng-if="!marked&&contentReady" button-id="filterSettings.name" on-search-event="resetPreviousFilter" grid-src="gridSettings.filters"></batch-receiving-filters-button>
    <responsive-grid ng-if="contentReady" grid="asnGrid" extra-class="batch-asn-list-grid"></responsive-grid>
    <div class="row">
      <div class="col-xs-12 text-center">
        <paging-control ng-if="dataReady&&ttlRecords>0" ng-model="temp" results-per-page="rpp" grid-reference="gridApi" total-records="ttlRecords" call-back="changePage"></paging-control>
      </div>
    </div>
</div>
