<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <button ng-click="$ctrl.toggleFilters()" tabindex="1000" type="button" class="btn navbar-btn btn-default" data-container="body" event-name="toggleTVSearchFilters">
      <i class="glyphicon glyphicon-chevron-left" ng-class="{'glyphicon-chevron-left': $ctrl.filters.showFilter, 'glyphicon-chevron-right': !$ctrl.filters.showFilter}"></i>
      <span data-translate="826">Filters</span>
    </button>
  </li>
</ul>
