<button class="btn btn-info btn-block" ng-click="pop();" ng-disabled="purchaseOrder.active.status!==1||!purchaseOrder.active.active||purchaseOrder.isAssignLimited">
  <span data-translate="5378">Generate Transfer Order</span>
</button>
