<div class="panel">
  <div class="panel-heading">
    <span data-translate="6608">Add Tax Area</span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="cols-xs-12 padding-15">
        <label class="control-label ng-scope" data-translate="2830">Tax Area Name</label>
        <input type="text" class="form-control" ng-model="newArea.taxareaname" maxlength="11" ng-required="true">
      </div>
    </div>
    <div class="row">
      <div class="cols-xs-12 padding-15">
        <label class="control-label ng-scope" data-translate="5199">Taxable Ceiling</label>
        <input type="number" class="form-control" ng-model="newArea.ceilingamt">
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button type="button" data-translate="547" ng-click="addArea()" class="btn btn-primary" ng-disabled="!newArea.taxareaname">Save</button>
    <button type="button" data-translate="1.2" ng-click="cancelAdd()" class="btn btn-primary">Cancel</button>
  </div>
</div>
