<label class="control-label" data-translate="6465">Job Title</label>
<rp-select-input ng-if="job.list" repeater-data="job.list" key-string="'job_name'" default-obj="job.defaultObj" value-key="'sid'" form="job.form" ng-model="job.ngModel"></rp-select-input>
