<div>
    <label class="control-label" data-translate="4165">To Store</label><br>
    <select ng-change="transferSlip.saveToStore();" ng-disabled="!transferSlip.isEdit||transferSlip.slip.status!==3" ng-model="transferSlip.slip.instoresid" class="form-control" ng-options="(x.sid) as x.store_code + '-' + x.store_name for x in transferSlip.to_stores">
        <option style="display:none" data-translate="1358">Select...</option>
    </select>
</div>
