<div>
  <form
    name="inputForm">
    <select
      ui-grid-edit-dropdown
      ng-class="'form-control colt' + col.uid"
      ng-model="MODEL_COL_FIELD"
      ng-options="field[editDropdownIdLabel] as field[editDropdownValueLabel] CUSTOM_FILTERS for field in editDropdownOptionsArray">
    </select>
  </form>
</div>
