<ng-form roll="form" name="pref_form" ng-controller="printerTypeAssignment_ctrl" class="pref_form">
  <div class="row">
    <div class="col-xs-6">
      <label class="control-label" data-translate="526">Printer</label>
      <select id="printerOptions" class="form-control" name="printer" ng-model="selectedPrinter" ng-options="p.sid as p.printername for p in printerList" ng-change="getAssignments()" required="required"><option value="-1" style="display:none" data-translate="1358">Select...</option></select>
    </div>
    <div class="col-xs-6">
      <label class="control-label" data-translate="4421">Printer Types</label>
      <div class="row height35 autoOverflow" style="border-bottom:#ccc 1px solid !important;">
        <table class="table table-condensed table-hover col-xs-6">
          <tr ng-repeat="type in printerTypes">
            <td>{{type.name}}</td>
            <td class="">
              <input type="checkbox" ng-disabled="one2one" class="checkbox" ng-checked="type.active" ng-model="type.active" ng-change="updateAssignment($index,type)">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <modal-close-button></modal-close-button>
  </div>
</ng-form>
