<div>
  <div class="row form-group">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li class="{{(dTab2===1)?'active':''}}">
          <a ng-click="setTab(1)" data-translate="3930">
            Percent
          </a>
        </li>
        <li class="{{(dTab2===2)?'active':''}}">
          <a ng-click="setTab(2)" data-translate="982">
            Amount
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row form-group" ng-if="dTab2===2">
    <div class="col-xs-12">
      <label class="control-label" data-translate="{{fields.amt.title}}"><span data-translate="982">Amount</span></label>
      <input type="text" enter-blur="" data-currency-formatter="currency" numberonly="" max="{{max}}" ng-blur="saving($event, 1, type)" ng-readonly="readonly" ng-disabled="disable" class="form-control {{fieldClass}}" ng-model="subject[fields.amt.name]">
      <em ng-if="subject.pototal!==undefined"><span data-translate="6886">Discount amount may not exceed document total.</span></em>
    </div>
  </div>
  <div class="row" ng-if="dTab2===1">
    <div class="col-xs-12">
      <label class="control-label">{{fields.perc.title | translate}}</label>
      <input ng-blur="saving($event, 0, type)" max="100" min="0" numberonly="" enter-blur="" ng-disabled="disable" ng-readonly="readonly" type="text" class="form-control {{fieldClass}}" data-currency-formatter="number" ng-model="subject[fields.perc.name]">
    </div>
  </div>
</div>
