<div class="panel panel-default search-panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <button class="btn btn-default search-filter-toggle" ng-if="!searchResults.resourceLookupService.resourceData.filtersOn" ng-click="searchResults.toggleFilters()">
          Filter <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <h4 data-translate="6335" ng-class="{'search-result-title-on':searchResults.resourceLookupService.resourceData.filtersOn,'search-result-title-off':!searchResults.resourceLookupService.resourceData.filtersOn}">Results</h4>
      </div>
      <div class="col-xs-4 text-right" ng-if="searchResults.resourceLookupService.resourceData.results!==undefined">
        <div class="badge-info badge record-count" ng-if="searchResults.resourceLookupService.resourceData.results"><span data-translate="2789">Total Records</span> {{searchResults.resourceLookupService.resourceData.recordCount}}</div>
      </div>
    </div>
  </div>
  <div class="panel-body advanced-search-panel">
    <div ng-if="searchResults.resourceLookupService.resourceData.results.length" class="search-results" ui-grid="searchResults.gridOptions" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-cellnav="" ui-grid-edit="" ui-grid-pinning></div>
    <div class="well well-sm text-center advanced-search-well" style="position:relative;" ng-if="searchResults.resourceLookupService.resourceData.results===undefined">
      <span style="font-size:18px;" class="glyphicon glyphicon-arrow-left"></span> <em style="font-size:24px;" data-translate="6492">Choose Filters</em>
      <span style="font-size:75px;" class="glyphicon glyphicon-search center-icon"></span>
    </div>
    <div class="well well-sm text-center advanced-search-well" style="position:relative;" ng-if="searchResults.resourceLookupService.resourceData.results.length===0">
      <em style="font-size:24px;"><span data-translate="2333">No Records Found</span></em>
      <span style="font-size:75px;" class="glyphicon glyphicon-ban-circle center-icon"></span>
    </div>
  </div>
  <div class="panel-footer text-center">
    <div class="col-xs-4 text-left" style="position:absolute;bottom:25px;left:10px;" ng-if="searchResults.selectedCount>0">
      <div class="badge-info badge record-count"><span data-translate="3332">Selected</span> {{searchResults.selectedCount}}</div>
    </div>
    <paging-control ng-if="searchResults.resourceLookupService.resourceData.results.length&&!searchResults.resourceLookupService.resourceData.reload" grid-reference="searchResults.gridApi" total-records="searchResults.resourceLookupService.resourceData.recordCount" results-per-page="searchResults.resourceLookupService.resourceData.resultsPerPage" call-back="searchResults.query"></paging-control>
    <div ng-if="!searchResults.resourceLookupService.resourceData.results.length" style="height: 2.25em;"></div>
  </div>
</div>
