<div class="col-xs-12">
    <div class="row padding-20">
        <div class="col-xs-6">
          <h3 class="text-center"><span data-translate="6839">Prism Field</span></h3>
            <hr>
            <div class="row padding-5 form-left-label">
              <label for=""><span data-translate="760">Street Address</span></label>
            </div>
            <div class="row padding-5 form-left-label">
              <label for=""><span data-translate="4974">Unit/Suite</span></label>
            </div>
            <div class="row padding-5">
                <div class="radio">
                    <label>
                        <input type="radio" name="combined_city_state_province" ng-model="state.combined" value="1">
                      <span data-translate="6840">Combined RIL City & State/Province</span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="combined_city_state_province" ng-model="state.combined" value="2">
                      <span data-translate="6841">Separate RIL City & State/Province</span>
                    </label>
                </div>
            </div>
            <div class="row padding-5 form-left-label">
              <label for=""><span data-translate="761">City</span></label>
            </div>
            <div class="row padding-5 form-left-label">
              <label for=""><span data-translate="4975">State/Province</span></label>
            </div>
        </div>
        <div class="col-xs-6">
          <h3 class="text-center"><span data-translate="6842">RIL Field</span></h3>
            <hr>
            <div class="row padding-5">
                <select class="form-control" ng-options="field.value as field.name for field in state.addressFields" ng-model="state.streetAddress"></select>
            </div>
            <div class="row padding-5">
                <select class="form-control" ng-options="field.value as field.name for field in state.addressFields" ng-model="state.unitSuite"></select>
            </div>
            <div class="row padding-5" style="height:75px">
                <div class="col-xs-5 form-left-label">
                  <span data-translate="6843">Separator Character:</span>
                </div>
                <div class="col-xs-7">
                    <input type="text" class="form-control" ng-model="state.separator" ng-disabled="state.disableSearator()">
                </div>
            </div>
            <div class="row padding-5">
                <select class="form-control" ng-options="field.value as field.name for field in state.addressFields" ng-model="state.city"></select>
            </div>
            <div class="row padding-5">
                <select class="form-control" ng-options="field.value as field.name for field in state.addressFields" ng-model="state.stateProvince" ng-disabled="state.disableSearator()"></select>
            </div>
        </div>
    </div>
</div>
