select {
    background-color: var(--kt-input-solid-bg);
    border-color: var(--kt-input-solid-bg);
    color: var(--kt-input-solid-color);
    transition: color 0.2s ease;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
#body-card{
    width: 100%;overflow: auto;
}
.table-block{
    display: block;
}
#kt_menu_63de810b7e545{
    position: absolute;
    width: 100%;
    left: 0;
}
.rowdelete{
    visibility: collapse;
}
.divleft{
    width: 49%;float: left;
}
.divright{
    width: 49%;float: right;
}
.item-pay td{
    vertical-align: middle;
}
.modal-body label{
    text-transform: capitalize;
}
.listtab{
    display: none;
}
.ul-custom{
    list-style: none;
}
.colcustom-0{
    width: 80%;
}
.colcustom-1{
    width: 20%;
}
.dlnone{
    display: none;
}
.rowdelete td{
    text-decoration: line-through;
}
.ul-custom li{
    margin: 10px;
}
.ul-custom .form-check-input{
    margin-right: 10px;
}
.div-logo{
    height: 50px;border-radius:50px ;text-align: center;
}
.span-logo{
    line-height: 50px;
    font-size: 25px;
    color: blue;text-transform: uppercase;
}