<ng-form name="pEdit.sub.form">
  <div class="modalouter">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-6">
          <h3>
            <span data-translate="6012">Create Profile</span>
          </h3>
        </div>
        <div class="col-xs-6 text-right">
          <a href="javascript:void(0)" ng-if="pEdit.activeResource===undefined" ng-click="pEdit.toggleProfileHelp()"><span class="glyphicon glyphicon-info-sign help"></span></a>
        </div>
      </div>
    </div>
    <div class="modal-body" style="min-height:500px;">
      <div class="row" ng-if="pEdit.pHelp&&pEdit.activeResource===undefined">
        <div class="col-xs-12">
          <div class="well well-sm">
            <p data-translate="6013">
              A profile creates a set of resources that define the data that will be sent to a remote machine.
            </p>
            <ul>
              <li data-translate="6014">Global profiles can be created on POA servers and are sent to all machines connected to the P.O.A. server.</li>
              <li data-translate="6015">Once created, a profile does nothing until it is either linked to a connection for day to day or chosen when starting initialization.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="well well-sm center text-center" ng-if="!pEdit.resolved">
        <span data-translate="6016">Gathering</span> <img src="images/ajax-loader.gif"> <span data-translate="1975">Resources</span>
      </div>
      <div ng-if="pEdit.resolved">
        <div class="row form-group am-slide-top" ng-if="pEdit.activeResource===undefined">
          <div class="col-xs-5">
            <label class="control-label">
              <span data-translate="542">Type</span>
            </label>
            <select class="form-control" ng-disabled="pEdit.sub.active.sid||pEdit.isConnectionScreen" ng-model="pEdit.sub.active.subscriptiontype" ng-change="pEdit.setSubType()" ng-options="x.val as x.txt for x in pEdit.subtypes">
              <option value="" style="display:none" data-translate="1358">Select...</option>
            </select>
          </div>
          <div class="col-xs-7">
            <label class="control-label">
              <span data-translate="1113">Name</span>
            </label>
            <input type="text" ng-model="pEdit.sub.active.subscriptionname" ng-required="true" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6" ng-if="pEdit.sub.active.subscriptiontype===0&&pEdit.activeResource===undefined">
            <label class="control-label">
              <input type="checkbox" ng-model="pEdit.sub.active.includescoreresources" ng-disabled="pEdit.sub.active.sid&&sub.active.iscentralssubscription" ng-change="pEdit.filterResources('coreResources')"> <span data-translate="6017">Core Resources</span>
            </label>
          </div>
          <div class="col-xs-6" ng-if="pEdit.sub.active.subscriptiontype!==3&&pEdit.activeResource===undefined">
            <label class="control-label">
              <input type="checkbox" ng-model="pEdit.sub.active.iscentralssubscription" ng-disabled="pEdit.sub.active.sid" ng-change="pEdit.filterResources('centralResources')"> <span data-translate="6018">Central Resources</span>
            </label>
          </div>
        </div>
        <div class="row am-slide-top" ng-if="pEdit.activeResource===undefined">
          <div>
            <div class="row">
              <div class="col-xs-10">
                <label class="control-label">Resources</label>
              </div>
              <div class="col-xs-2 text-right">
                <a href="javascript:void(0)" ng-if="!pEdit.isSelectAll()" data-translate="1143" ng-click="pEdit.setCheckAll(false)">All</a>
                <a href="javascript:void(0)" ng-if="pEdit.isSelectAll()" data-translate="1361" ng-click="pEdit.setCheckAll(true)">None</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <ul class="list-group check-list" ng-class="{'ng-invalid':pEdit.noResources()}">

                  <li class="list-group-item" ng-repeat="x in pEdit.sub.resources">
                    <label class="control-label">
                      <input type="checkbox" ng-model="pEdit.form.resourceList[$index]" ng-true-value="'{{x[pEdit.subKey]}}'" ng-change="pEdit.setResource($index,x)"> {{x.resourcename}}
                      <br>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-12">
            <strong><span data-translate="6821">SBS Filter</span></strong>
          </div>
        </div>
        <div class="row form-group am-slide-top" ng-if="pEdit.activeResource===undefined">
          <div ng-if="pEdit.sub.active.globalfilter!==undefined&&pEdit.form.gFilter">
            <div class="col-xs-6">
              <label class="control-label">
                <input type="radio" ng-checked="pEdit.sub.active.globalFilterArray[0].indexOf('ne')!==-1" name="allsubs" ng-click="pEdit.setGfilter(true)"> <span data-translate="6822">All Subs</span>
              </label>
            </div>
            <div class="col-xs-6 text-right">
              <label class="control-label">
                <input type="radio" ng-checked="pEdit.sub.active.globalFilterArray[0].indexOf('ne')===-1" name="allsubs" ng-click="pEdit.setGfilter(false)"> <span data-translate="6823">Specific Subs</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row form-group am-slide-top" ng-if="pEdit.activeResource===undefined&&pEdit.allSubs===false">
          <div ng-if="pEdit.sub.active.globalfilter!==undefined&&pEdit.form.gFilter">
            <div class="col-xs-12">
              <check-list model="pEdit.sub.active.globalFilterArray" form="pEdit.sub.form" required="true" label="" collection="pEdit.form.gFilter" check-value="'filter'" check-txt="'sbsname'"></check-list>
            </div>
          </div>
        </div>
        <div class="row" ng-if="pEdit.activeResource===undefined">
          <div class="col-xs-6 text-left">
            <a href="javascript:void(0)" ng-click="pEdit.toggleAdv()"><span ng-if="pEdit.adv">-</span> <span ng-if="!pEdit.adv">+</span><span data-translate="6824">Advanced Filters</span></a>
          </div>
        </div>
        <div class="row form-group" ng-if="pEdit.adv">
          <div class="col-xs-12" style="max-height:300px;overflow:auto;">
            <div class="row form-group">
              <div class="col-xs-4">
                <label class="control-label" data-translate="6020">Resource Filters</label>
              </div>
              <div class="col-xs-8 text-right">
                <a href="javascript:void(0)" ng-click="pEdit.toggleHelp()"><span class="glyphicon glyphicon-info-sign"></span></a>
              </div>
            </div>
            <div class="row form-group" ng-if="pEdit.helpOn">
              <div class="col-xs-12">
                <div ng-include="'components/ac/conn-manager/dashboard/conn-manager-profile/profile-edit/filter-example.htm'"></div>
              </div>
            </div>
            <div class="well well-sm" ng-if="pEdit.sub.active[pEdit.subCollection].length===0" data-translate="1556">
              Select a Resource
            </div>
            <ul class="list-group" ng-if="pEdit.sub.active[pEdit.subCollection].length>0">
              <li class="list-group-item" ng-repeat="x in pEdit.sub.active[pEdit.subCollection] track by $index" ng-if="pEdit.activeResource===undefined||pEdit.activeResource===$index">
                <div class="row" ng-if="pEdit.activeResource===$index">
                  <div class="col-xs-3">
                    <label class="control-label"><span data-translate="6825">Date Generator</span></label>
                  </div>
                  <div class="col-xs-9">
                    <p class="input-group" ng-click="pEdit.openCalendar($event, 'dateGenerator')" ng-if="!pEdit.date.formatted">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="pEdit.datepickerOptions" ng-model="pEdit.dateGenerator.date" is-open="pEdit.dateGenerator.open" enable-time="false" when-closed="pEdit.dateGenerator.closed()">
                    </p>
                    <span ng-if="pEdit.date.formatted">{{pEdit.date.formatted}}</span>
                    <button ng-if="pEdit.date.formatted" ng-click="pEdit.date.formatted=''"><span class="glyphicon glyphicon-ban-circle"></span></button>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-3">
                    <label class="control-label">{{x[pEdit.sub.active.subscriptiontype===undefined?'prismresourcename':'resourcename']}}</label>
                  </div>
                  <div class="col-xs-9">
                    <textarea type="text" placeholder="{{ '5744' | translate }}" ng-blur="pEdit.checkAttributes($index)" ng-focus="pEdit.setActiveResource($index,x)" ng-model="pEdit.resourceFilters[$index]" class="form-control"></textarea>
                    <a ng-if="pEdit.activeResource!==undefined&&pEdit.activeResource!==''" href="javascript:void(0)" ng-click="pEdit.resetFilter()"><span data-translate="1335">Clear</span></a>
                  </div>
                </div>
                <div class="row form-group" ng-if="pEdit.activeResource===$index&&pEdit.meta">
                  <div class="col-xs-12">
                    <strong>Columns</strong>
                  </div>
                </div>
                <div class="row" ng-if="pEdit.activeResource===$index">
                  <em style="color:red;">{{pEdit.metaMsg}}</em>
                  <div class="col-xs-12" style="max-height:175px;overflow:auto;">
                    <div class="row" ng-repeat="x in pEdit.meta">
                      <div class="col-xs-4" ng-repeat="y in x">
                        {{y.attributename}}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" ng-if="pEdit.activeResource===undefined">
      <button class="btn btn-default" ng-if="pEdit.sub.active.sid" ng-disabled="pEdit.sub.active.includescoreresources===true&&pEdit.sub.active.subscriptiontype===0" ng-click="pEdit.copy()"><span data-translate="582">Copy</span></button>
      <button class="btn btn-default" ng-if="!pEdit.sub.active.sid" ng-disabled="!pEdit.isImportAvailable||(pEdit.sub.active.includescoreresources===true&&pEdit.sub.active.subscriptiontype===0)" ng-click="pEdit.import()"><span data-translate="3719">Import</span></button>
      <button ng-click="pEdit.save()" type="button" ng-disabled="pEdit.disableSave()" class="btn btn-default"><span data-translate="547">Save</span></button>
      <button ng-click="pEdit.dismiss()" type="button" class="btn btn-default"><span data-translate="1.2">Cancel</span></button>
    </div>
    <div class="modal-footer" ng-if="pEdit.activeResource!==undefined">
      <div class="row">
        <div class="col-xs-8 text-left" ng-if="!pEdit.metaMsg">
          <div><em style="color:red;">{{pEdit.parenMsg}}</em></div>
          <div><em style="color:red;">{{pEdit.colMsg}}</em></div>
        </div>
        <div class="col-xs-4">
          <button ng-click="pEdit.setActiveResource(undefined)" ng-disabled="(pEdit.parenMsg||pEdit.colMsg)&&!pEdit.metaMsg" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> <span data-translate="801">Back</span></button>
        </div>
      </div>
    </div>
  </div>
</ng-form>
