<div class="form-group">
  <div class="col-xs-12">
    <input type="checkbox" ng-click="pmInvFilterCtrl.toggleMarkdown()" ng-model="pmInvFilterCtrl.resourceLookup.resourceData.externalBindings.markdownOnly">
    <span data-translate="6288">Show Markdown Items</span>
  </div>
</div>



