<select id="sortBy" tabindex="3" class="form-control" ng-model="search.sort_by" ng-change="updateSort()">
  <option value="sequence_no" data-translate="3940">Disbursement Number</option>
  <option value="event_type" data-translate="542">Type</option>
  <option value="cashier_full_name" data-translate="622">Cashier</option>
  <option value="event_datetime" data-translate="533">Created Date</option>
</select>
