<div class="responsive-container" ng-if="viewPortChange">
	<div class="row row-container full-height">
		<div class="col-xs-12 col-md-8 col-lg-8">
			<div class="form-group">
				<label for="promo-name" data-translate="4353">Promotion Name</label>
				<input type="text" tabindex="1" class="form-control tabindex uppercase" maxlength="50" id="promo-name" required-box ng-disabled="promotionService.saving" ng-model="promotion.general_promo_name" ng-blur="promotionService.put($event)" enter-blur="undefined">
			</div>
			<div class="form-group">
				<label for="promo-description" data-translate="1279">Description</label>
				<textarea class="form-control tabindex" tabindex="2" id="promo-description" maxlength="512" ng-disabled="promotionService.saving" cols="5" rows="5" ng-model="promotion.general_description" ng-blur="promotionService.put($event)" enter-blur="undefined"></textarea>
			</div>
			<div class="form-group">
				<label for="promo-group" data-translate="4354">Promotion Group</label>
				<input type="text" tabindex="3" class="form-control tabindex uppercase" id="promo-group" ng-disabled="promotionService.saving" ng-model="promotion.general_promo_group" ng-blur="promotionService.put($event)" enter-blur="undefined">
			</div>
			<div class="form-group">
				<label for="promo-discount-reason" data-translate="716">Discount Reason</label>
				<input ng-if="!usePredefinedDiscReasons" type="text" tabindex="4" class="form-control tabindex uppercase" required-box maxlength="6" id="promo-discount-reason" ng-disabled="promotionService.saving" ng-model="promotion.general_disc_reason" ng-blur="promotionService.put($event)" enter-blur="undefined">
				<select ng-if="usePredefinedDiscReasons && predefinedDiscountReasons" tabindex="4" ng-disabled="promotionService.saving" blur-on-change ng-blur="promotionService.put($event)" required-box ng-model="promotion.general_disc_reason" class="form-control tabindex uppercase" id="promo-discount-reason-dd" ng-options="name for name in predefinedDiscountReasons">
					<option value="" style="display:none"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="promo-type" data-translate="4355">Promotion Type</label>
				<select ng-if="promotionService.promotionTypes.length > 0" tabindex="5" ng-disabled="promotionService.saving" blur-on-change ng-blur="defineTemplate($event)" required-box ng-model="promotion.general_promo_type" class="form-control tabindex" id="promo-type" ng-options="type.value as type.name for type in promotionService.promotionTypes">
					<option value="" style="display:none"></option>
				</select>
			</div>
		</div>
		<div class="col-xs-4 hidden-xs summary-details-container" match-height>
			<promotion-summary-details promotion="promotion" ng-if="reloadContent"></promotion-summary-details>
		</div>
	</div>
</div>