<div>
  <div class="row form-group">
    <div class="col-xs-12">
      <div ng-if="Msg.activeMsg.length>0" ui-grid-resize-columns="" style="height:150px;" ui-grid-save-state="" id="messageDataGrid" ui-grid="Msg.messageDataOptions" external-scopes="gridHandlers"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-right">
      <button ng-if="Msg.activeMsg" ng-disabled="msgDetail.processing||Msg.row.status==='SUCCESS'" class="btn btn-default" ng-click="Msg.reprocess()">
        <span class="glyphicon glyphicon-refresh" ng-if="!msgDetail.processing"></span>
        <img src="images/ajax-loader.gif" style="height:15px;width:15px;position:relative;top:-3px;" class="glyphicon glyphicon-refresh" ng-if="msgDetail.processing">
        <span data-translate="5968">Reprocess</span>
      </button>
    </div>
  </div>
</div>
