<div>
    <div class="container-fluid">
        <div class="row padding-5">
            <div class="col-xs-12 no-padding batch-receiving-wrapper">
                <div class="row row-container mobile-screen-title">
                    <div class="col-xs-6">
                        <h4 data-translate="4813">Vendor Invoices</h4>
                    </div>

                  <div class="col-xs-6">
                    <top-filter-change-button asklayout="asklayout" disable="doDisableTFButton" on-close="updateTopFilter">
                    </top-filter-change-button>
                  </div>

                </div>
                <div class="col-xs-4" ng-if="filters.showReceiving">
                  <vendor-invoices-filters default-filter="state.grids.invoices.defaultFilter"></vendor-invoices-filters>
                </div>
                <div class="col-xs-4" ng-if="filters.showVoucher">
                  <vendor-invoices-filters filter-type="'vouchers'" default-filter="state.grids.vouchers.defaultFilter"></vendor-invoices-filters>
                </div>
                <div ng-class="{'col-xs-8': filters.showVoucher||filters.showReceiving, 'col-xs-12': !filters.showVoucher&&!filters.showReceiving}">
                <div class="hidden-sm hidden-md hidden-lg" ng-if="isMobile">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-tabs">
                                <li class="{{(tab===1)?'active':''}}">
                                    <a ng-click="setTab(1)" data-translate="4813">
                                        Vendor Invoices
                                    </a>
                                </li>
                                <li class="{{(tab===2)?'active':''}}">
                                    <a ng-click="setTab(2)" data-translate="1176">
                                        Vouchers
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mobile-margin-bottom" ng-if="tab === 1&&state.grids.invoices.ready">
                        <vendor-invoices-grid resource="'Vendorinvoice'" grid-src="state.grids.invoices.settings" default-filter="state.grids.invoices.defaultFilter" grid-title="state.grids.invoices.title" selected="state.grids.invoices.selected" trigger-lookup="state.grids.invoices.onLookupEvent"></vendor-invoices-grid>
                    </div>
                    <div class="row mobile-margin-bottom" ng-if="tab === 2&&state.grids.vouchers.ready">
                        <vendor-invoices-grid resource="'Receiving'" grid-src="state.grids.vouchers.settings" default-filter="state.grids.vouchers.defaultFilter" grid-title="state.grids.vouchers.title" selected="state.grids.vouchers.selected" trigger-lookup="state.grids.vouchers.onLookupEvent"></vendor-invoices-grid>
                    </div>
                </div>
                <div class="row" ng-if="!isMobile&&state.grids.invoices.ready">
                    <vendor-invoices-grid resource="'Vendorinvoice'" grid-src="state.grids.invoices.settings" default-filter="state.grids.invoices.defaultFilter" grid-title="state.grids.invoices.title" selected="state.grids.invoices.selected" trigger-lookup="state.grids.invoices.onLookupEvent"></vendor-invoices-grid>
                    <div class="row">
                        <div class="btn-group pull-left" role="group">
                            <new-vendor-invoice-button on-new-modal-close="state.grids.refreshInvoices" button-text-id="'581'"></new-vendor-invoice-button>
                            <vi-edit-button invoices="state.grids.invoices.selected" on-button-click="state.grids.refreshInvoices"></vi-edit-button>
                            <vi-delete-button invoices="state.grids.invoices.selected" on-button-click="state.grids.refreshInvoices"></vi-delete-button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="!isMobile&&state.grids.vouchers.ready">
                    <vendor-invoices-grid resource="'Receiving'" grid-src="state.grids.vouchers.settings" default-filter="state.grids.vouchers.defaultFilter" grid-title="state.grids.vouchers.title" selected="state.grids.vouchers.selected" trigger-lookup="state.grids.vouchers.onLookupEvent"></vendor-invoices-grid>
                    <div class="row">
                        <div class="btn-group pull-left" role="group">
                            <vi-view-voucher-button selected="state.grids.vouchers.selected"></vi-view-voucher-button>
                            <vi-show-voucher-button selected="state.grids.invoices.selected" on-button-click="state.grids.vouchers.onLookupEvent"></vi-show-voucher-button>
                            <vi-assign-voucher-button on-button-click="state.grids.refreshAll" vouchers="state.grids.vouchers.selected" invoices="state.grids.invoices.selected"></vi-assign-voucher-button>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
        <div ng-if="isMobile">
            <mobile-nav category-menu="actionButtons" add-to-scope="state"></mobile-nav>
        </div>
    </div>
    <div class="row hidden-xs">
        <button-bar view-path="components/store-ops/asn/batch-receiving/button-bar.htm"></button-bar>
    </div>
    <prism-ajax-loader ng-if="prismAjaxLoader.handler" loader-title="prismAjaxLoader.title" loader-message="prismAjaxLoader.message"></prism-ajax-loader>

</div>
