<div class="panel panel-default">
  <div class="panel-heading">
    <span data-translate="4733">Marked ASN</span>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.bs.markedGrid.length>0" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-pinning="" ng-class="'batch-asn-list-grid grid'" ui-grid="$ctrl.gridSettings"></div>
    <div class="well well-sm text-center no-results-batch-rcv" style="position:relative;" ng-if="!$ctrl.bs.markedGrid||$ctrl.bs.markedGrid.length===0">
      <em style="font-size:24px;" data-translate="2333">No Records Found</em>
      <span style="font-size:75px;" class="glyphicon glyphicon-ban-circle center-icon"></span>
    </div>
  </div>
  <div class="panel-footer text-center">
    <paging ng-if="$ctrl.bs.markedGrid.length>0" record-count="$ctrl.bs.markedResultCount" results-per-page="30" page="$ctrl.bs.markedPage" call-back="$ctrl.changePage(pg)"></paging>
  </div>
</div>
