<div ng-if="transferSlip.slip.reversedflag && transferSlip.slip.refslipsid">
    <label class="control-label" data-translate="4161">Ref Doc Number</label><br>
    <span data-translate="3924">No.</span><span> {{transferSlip.slip.refdocno}}</span>
</div>
