<div class="panel">
  <div class="panel-heading">
    <span data-translate="6611">Edit Tax Code</span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="cols-xs-12 padding-15">
        <label class="control-label ng-scope" data-translate="6195">Tax Code Name</label>
        <input type="text" class="form-control" ng-model="selectedCode.taxname" maxlength="11" ng-required="true">
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button type="button" data-translate="547" ng-click="editCode()" class="btn btn-primary" ng-disabled="!selectedCode.taxname">Save</button>
    <button type="button" data-translate="1.2" ng-click="cancelEdit()" class="btn btn-primary">Cancel</button>
  </div>
</div>
