<ng-form name="prism_subscriber" ng-controller="subscriber_ctrl">
    <div class="modal-header">
      <span data-translate="1597">Create Subscriber</span>
    </div>
    <div class="modal-body">
      <subscriber-form></subscriber-form>
      <hr>
      <ng-form name="sub_form">
        <div class="row">
          <div class="col-xs-6">
            <h4><span data-translate="4300">Subscriptions</span></h4>
          </div>
          <div class="col-xs-6 text-right">
            <button class="btn btn-icon" ng-disabled="adding||subscriber.subscriptions.length>=2" ng-click="addSubscription()" type="button"><span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-icon" ng-disabled="adding||!activeSubscription" ng-click="editSubscription()" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-icon" ng-disabled="adding||!activeSubscription" ng-click="removeSubscription()" type="button"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
        <div ng-if="adding" class="well well-sm">
          <div class="row">
            <div class="col-xs-5">
              <label class="control-label" for="subscription_name"><span data-translate="4304">Subscription Name</span></label>
              <input type="text" ng-required="true" ng-class="{ 'ng-invalid' : nameDuplicate }" ng-change="isDuplicateName()" id="subscription_name" ng-model="activeSubscription.subscription_name" class="form-control">
            </div>
            <div class="col-xs-4">
              <label class="control-label" for="subscription_type"><span data-translate="1591">Subscription Type</span></label>
              <select ng-required="true" ng-disabled="noSwitch" id="subscription_type" convert-to-number="" ng-change="setActiveResources();toggleSelectAll(true);" ng-model="activeSubscription.server_type" class="form-control">
                <option value="" selected="selected" hidden></option>
                <option value="0" data-translate="1593" selected="selected">Prism</option>
                <option value="1" data-translate="4484">RIL</option>
              </select>
            </div>
            <div class="col-xs-3">
              <label class="control-label" style="margin-top:40px;">
                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="toBoolean(activeSubscription.active)" ng-model="activeSubscription.active"> <span data-translate="586">Active</span>
              </label>
            </div>
          </div>
          <div class="row">
            <label class="control-label" data-translate="1975">Resources</label>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label" style="padding:3px;">
                <input type="checkbox" ng-checked="activeSubscription.events.length===activeResources.length" ng-model="allchecked" ng-click="toggleSelectAll()"> <span data-translate="971">Select All</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4" ng-repeat="resource in activeResources">
              <label class="control-label" style="padding:3px;" ng-class="{ 'ng-invalid' : activeSubscription.events.length===0 }">
                <input type="checkbox" data-checklist-model="activeSubscription.events" data-checklist-value="resource"> {{resource.event_name}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <button class="btn btn-icon" ng-disabled="!sub_form.$valid||activeSubscription.events.length===0" ng-click="saveSubscription();" type="button"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-icon" ng-click="cancelAddSubscription();" type="button"><span class="glyphicon glyphicon-ban-circle"></span></button>
            </div>
          </div>
        </div>
      </ng-form>

      <div class="row" ng-if="!adding">
        <div class="col-xs-12" ng-if="subscriber.subscriptions.length===0">
          <div class="well well-sm">
            <span data-translate="6864">There are no subscriptions defined.  Press the plus sign to add a subscription.</span>
          </div>
        </div>
        <div class="col-xs-12" ng-if="subscriber.subscriptions.length>0">
          <div class="row form-group" ng-if="false">
            <div class="col-xs-12">
              <input type="text" class="form-control" placeholder="{{ '4480' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12" ui-i18n="{{lang}}">
              <div ui-grid-resize-columns="" style="height:200px;" id="subGrid" ui-grid-selection="" ui-grid="gridOptions" external-scopes="gridHandlers" class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-info" ng-disabled="!prism_subscriber.$valid||adding||subscriber.subscriptions.length===0" ng-click="saveSubscriber()" type="button"><span data-translate="1597">Create Subscriber</span></button>
      <button class="btn btn-info" ng-click="$close()" type="button"><span data-translate="583">Close</span></button>
  </div>
  </ng-form>
