<button type="button" ng-disabled="disableAllButton" class="btn btn-lg btn-default" event-name="posGiftReceiptItemsPrint1ToAll" id="posGiftReceiptItemsPrint1ToAll" ng-click="printGiftReceipt('all')" title="{{ '3649' | translate }}"><span data-translate="3343">Print 1 : All</span></button>
