<div class="panel panel-default" ng-class="{'search-panel':!$ctrl.customSearch}" ng-if="$ctrl.contentReady">
  <div class="panel-heading" ng-style="!$ctrl.customSearch && {'height':'40px'}">
    <div class="row" ng-if="!$ctrl.customSearch">
      <div class="col-xs-8">
        <button class="btn btn-default search-filter-toggle-small" ng-if="!$ctrl.transferVerification.filters.showFilter" ng-click="$ctrl.toggleFilters()">
          <span data-translate="635">Filter</span> <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <span ng-class="{'search-result-title-on-small':$ctrl.transferVerification.filters.showFilter,'search-result-title-off-small':!$ctrl.transferVerification.filters.showFilter}">{{$ctrl.title}}</span>
      </div>
      <div class="col-xs-4 text-right" ng-if="$ctrl.listed!==undefined">
        <span class="badge-info badge record-count" ng-if="$ctrl.listed.recordCount">Total Records {{$ctrl.listed.recordCount}}</span>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.customSearch">
      <span>{{$ctrl.title}}</span>
    </div>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.listed.length>0" ui-grid-selection="" ui-grid-resize-columns="" ui-grid-auto-resize="" ui-grid-pinning="" ng-class="'batch-asn-list-grid grid'" ui-grid="$ctrl.grid.state"></div>
    <div class="well well-sm text-center no-results-batch-rcv" style="position:relative;" ng-if="$ctrl.listed.length===0">
      <em style="font-size:24px;"><span data-translate="2333">No Records Found</span></em>
      <span style="font-size:75px;" class="glyphicon glyphicon-ban-circle center-icon"></span>
    </div>
  </div>
  <div class="panel-footer text-center">
    <paging ng-if="$ctrl.listed.length>0" record-count="$ctrl.resultCount" results-per-page="30" page="$ctrl.resultPage" call-back="$ctrl.changePage(pg)"></paging>
  </div>
</div>

<!--
style="height:40px;"
<div ng-if="$ctrl.contentReady">
    <div class="row row-container no-top-padding hidden-xs">
        <div class="col-xs-12 position-fixed">
            <h4 class="hidden-xs text-center">{{$ctrl.title}}</h4>
        </div>
    </div>
    <tv-filters-button ng-if="!$ctrl.customSearch" button-id="$ctrl.resource" on-search-event="$ctrl.resetPreviousFilter" grid-src="$ctrl.grid.settings.filters"></tv-filters-button>
    <div name="spacer" ng-if="$ctrl.customSearch" class="empty-space-30 nav nav-tabs"></div>
    <responsive-grid grid="$ctrl.grid.state" extra-class="vendor-invoice-grid"></responsive-grid>
</div>
-->
