<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <h4 data-translate="4465">Coupons</h4>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
					<div class="col-xs-6">
                        <div class="row in-out-coupon-title">
                            <h4 data-translate="4582">In</h4>
                        </div>
                        <div class="row row-container in-out-coupon-container">
                            <ul class="list-group in-out-coupon-list" ng-if="coupons.in.length > 0">
                                <li class="list-group-item no-padding" ng-repeat="coupon in coupons.in" id="in_coupon_{{$index}}">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                {{coupon.coupon_code}}
                                                <input type="checkbox" ng-disabled="workInProgress||disabled" ng-model="coupon.selected" ng-change="addToRemoveList(coupon)">
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row in-out-coupon-title">
                            <h4 data-translate="4583">Out</h4>
                        </div>
                        <div class="row row-container in-out-coupon-container">
                            <ul class="list-group in-out-coupon-list" ng-if="coupons.out.length > 0">
                                <li class="list-group-item no-padding" ng-repeat="coupon in coupons.out" id="in_coupon_{{$index}}">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                {{coupon.coupon_code}}
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
                <br>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <input type="text" ng-disabled="workInProgress||disabled" placeholder="{{ '4485' | translate }}" ng-model="inCouponCode" class="form-control uppercase">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger full" ng-disabled="workInProgress||coupons.remove.length===0||disabled" ng-click="removeCoupons()" type="button">
                                <span data-translate="1523">Remove</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <button class="btn btn-primary" ng-disabled="workInProgress||disabled" ng-click="addToInCouponList(inCouponCode)" type="button">
                                <span data-translate="1.8">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-info" ng-disabled="workInProgress" type="button" ng-click="$close(false)"><span data-translate="583">Close</span></button>
            </div>
        </div>
    </div>
</div>
