<div ng-show="!dirty.hideSave" class="text-right">
    <button type="button" ng-click="getPrefs(preferenceTemplate,true)" class="btn btn-lg navbar-btn btn-default"><span data-translate="614">Reset</span></button>
    <button type="button" ng-click="savePrefs()" ng-disabled="checkForm()" class="btn btn-lg navbar-btn btn-default"><span data-translate="547">Save</span></button>
</div>
