<div class="popover">
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content col-select" style="padding:5px;">
        <div ng-show="items.column.toLowerCase()!='sid'&&items.column.toLowerCase()!='resource'&&items.column.toLowerCase()!='endpoint'" ng-repeat="items in gridOptions.availableColumns">
            <label><input ng-click="setColumns(items.column)" ng-checked="isInGrid(items.column)" type="checkbox"> <span class="capitalize" data-translate="{{getColumnTranslation(items.column)}}">{{items.name}}</span></label>
        </div>
    </div>
</div>
