<div ng-controller="ac_edit_subsidiary_ctrl">
    <ng-form name="ac_edit" style="background-color:none;" id="ac_edit" novalidate="novalidate">
        <div class="modalouter">
            <div class="modal-header">
                <h3 data-translate="2463">Edit Subsidiary</h3>
            </div>
            <div class="modal-body">
                <uib-tabset>
                    <uib-tab ng-click="activeTabButton.name='General'" heading="{{'685' | translate}}">
                        <div class="row" ng-cloak="">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-translate="2464">
                                        Subsidiary Information
                                    </div>
                                    <div class="panel-body" style="padding: 1em;">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label class="control-label" data-translate="1635">Number:</label>
                                                    <input class="form-control" numberonly="numberonly" maxlength="4" required="required" disabled="disabled" name="subsidiary_number" ng-model="activeSubsidiary.sbsno" type="text">
                                                </div>
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="form-group">
                                                    <label class="control-label" data-translate="1636">Name:</label>
                                                    <input class="form-control" required maxlength="15" name="subsidiary_name" ng-model="activeSubsidiary.sbsname" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <label class="checkbox-container"><input type="checkbox" class="large-input-field margin-right-5" ng-model="activeSubsidiary.active" ng-disabled="controller.defaultsbssid===activeSubsidiary.sid"> <span data-translate="586">Active</span>
                                                </label>
                                            </div>
                                            <div class="col-xs-2">
                                                <label class="checkbox-container"><input type="checkbox" class="large-input-field margin-right-5" ng-model="activeSubsidiary.master"> <span data-translate="7250">Master</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group ml--5">
                                                    <label class="control-label pl-5px mt-1" data-translate="1645">Price Level</label>
                                                    <rp-select-input required="true" ng-if="PriceLevels" ng-model="activeSubsidiary.activepricelvlsid" default-obj="defaultPricelvl" key-string="'pricelvlname'" value-key="'sid'" repeater-data="PriceLevels"></rp-select-input>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group ml--5">
                                                    <label class="control-label pl-5px mt-1" data-translate="3563">Country</label>
                                                    <rp-select-input ng-if="countries" ng-model="activeSubsidiary.countrysid" key-string="'country_name'" default-obj="defaultCountry" value-key="'sid'" repeater-data="countries"></rp-select-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group ml--5">
                                                    <label class="control-label pl-5px mt-1" data-translate="943">Base Currency</label>
                                                    <rp-select-input required="true" ng-if="currencies" ng-model="activeSubsidiary.basecurrencysid" key-string="'currency_name'" default-obj="defaultBaseCurrency" value-key="'sid'" repeater-data="currencies"></rp-select-input>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group ml--5">
                                                    <label class="control-label pl-5px mt-1" data-translate="941">Foreign Currency</label>
                                                    <rp-select-input ng-if="currencies" ng-model="activeSubsidiary.foreigncurrencysid" key-string="'currency_name'" default-obj="defaultForeignCurrency" value-key="'sid'" repeater-data="currencies"></rp-select-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group ml--5">
                                                    <label class="control-label pl-5px mt-1" data-translate="6437">Current Season</label>
                                                    <rp-select-input ng-if="seasons" ng-model="activeSubsidiary.activeseasonsid" key-string="'season_name'" default-obj="defaultSeason" value-key="'sid'" repeater-data="seasons"></rp-select-input>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group ml--5">
                                                    <label class="control-label pl-5px mt-1" data-translate="6438">Retail Calendar</label>
                                                    <rp-select-input ng-if="calendars" allow-none="true" ng-model="activeSubsidiary.calendarsid" key-string="'calendar_name'" value-key="'sid'" default-obj="defaultCalendar" repeater-data="calendars"></rp-select-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab ng-click="activeTabButton.name='Sequencing'" heading="{{'2465' | translate}}">
                        <div ng-include="viewPath + 'ac-sequence-edit-partial.htm'"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="row">
                <div class="row-md-12"> </div>
            </div>
            <div class="modal-footer" ng-show="activeTabButton.name==='General'">
                <div class="row">
                    <div class="pull-right" ng-show="activeTabButton.name==='General'">
                        <button class="btn btn-primary" ng-click="openModeling()" data-translate="6439">Model Subsidiary</button>
                        <button type="button" class="btn btn-primary" ng-disabled="!ac_edit.$valid" ng-click="saveSubsidiary();$close();"><span data-translate="1514">Save &amp; Exit</span></button>
                        <button type="button" class="btn btn-primary" ng-click="closeOnly()"><span data-translate="0.1">Exit</span></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
</div>
