<div ng-controller="acAcess" ng-if="translationsLoaded">
<div class="panel panel-default" id="ac_nav_on" ng-if="contextState.active_sid!=''" ng-controller="acNavigationController">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <h4 data-translate="10">Options:</h4>
                </div>
                <div class="col-md-1 pull-right">
                    <div class="pull-right nav-toggle">
                        <span style="position:relative;top:2px;" class="icon-white icon-chevron-left"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="tree-menu">
              <li><a ng-click="changeState('adminconsole.installation-defaults')" data-translate="5933">Installation Defaults</a></li>
              <li>
                <a>
                  <span data-translate="6296">Global Preferences | translate</span>
                </a>
                <ul>
                  <li>
                    <a ui-sref="adminconsole.season">
                      <span data-translate="4866">Season</span>
                    </a>
                  </li>
                  <li>
                    <a ui-sref="adminconsole.dit">
                      <span data-translate="6380">Days in Transit</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span data-translate="961">Currency</span>
                    </a>
                    <ul>
                      <li>
                        <a ui-sref="adminconsole.currency.general"><span data-translate="685">General</span></a>
                      </li>
                      <li>
                        <a ui-sref="adminconsole.currency.exchangerate"><span data-translate="6320">Exchange Rate</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>
                      <span data-translate="7251">Corporate Regions</span>
                    </a>
                    <ul>
                      <li>
                        <a ui-sref="adminconsole.regions.general"><span data-translate="685">General</span></a>
                      </li>
                      <li>
                        <a ui-sref="adminconsole.regions.options"><span data-translate="10">Options</span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                  <a>
                    <span data-translate="6349">Node Preferences | translate</span></a>
                  <ul>
                      <li ng-show="x.partial!='tbd'||x.sections.length>0" ng-repeat="x in contextState.sections">
                          <a ng-click="changeState('adminconsole.context',preferenceState([-1,$index]))"><span data-translate="{{x.name}}">{{x.name}}</span></a>
                          <ul>
                              <li ng-show="y.partial!='tbd'||y.sections.length>0" ng-repeat="y in x.sections">
                                  <a ng-click="changeState('adminconsole.context',preferenceState([-1,$parent.$index,$index]))"><span data-translate="{{y.name}}">{{y.name}}</span></a>
                                  <ul>
                                      <li ng-show="z.partial!='tbd'||z.sections.length>0" ng-repeat="z in y.sections">
                                          <a ng-click="changeState('adminconsole.context',preferenceState([-1,$parent.$parent.$index,$parent.$index,$index]))"><span data-translate="{{z.name}}">{{z.name}}</span></a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li><a href="#/adminconsole/customizations" data-translate="5218">Customizations</a></li>
              <li><a ng-click="changeState('adminconsole.connection-manager.dashboard.connections',{type:'prism'})" data-translate="5369">Connection Manager</a></li>
              <!--<li><a href="javascript:void(0);" data-translate="2023">Employee Management</a></li>
              <li><a href="#/adminconsole/postouch" data-translate="2024">POS Touch</a></li>
              <li><a href="javascript:void(0);" data-translate="2025">Alerts</a></li>
              <li><a href="javascript:void(0);" data-translate="2026">Plugin Manager</a></li>-->
            </ul>
        </div>
    </div>

<!--<div class="panel panel-default min-menu" id="ac_nav_off">
    <div class="row div-header nav-toggle">
        <div class="col-md-12">
            <span class="div-header-text">
                <span style="position:relative;right:5px;" class="icon-white icon-chevron-right" />
            </span>
        </div>
    </div>
    <div class="vertical-text" data-translate="10">
        Options
    </div>
</div>-->
</div>
