<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div>
        <div class="panel panel-default top-margin10">
            <div class="panel-heading">
                <span data-translate="685">General</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="control-label">
                            <span data-translate="6179">Set due date upon update (days from update)</span>
                            <input class="form-control" ng-model="pData.order_due_days.value" numberonly="" decimals="0" min="0">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default top-margin10">
            <div class="panel-heading">
                <span data-translate="3104">Customer Orders</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label">
                            <input type="checkbox" ng-model="pData.transactions_orders_enable_customer_orders.value">
                            <span data-translate="3105">Enable Customer Orders</span>
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="3106">
                                    Initial Initial Minimum Deposit %
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <input type="text" class="form-control" numberonly="0.00" decimals="0" max="100" min="0" ng-disabled="!toBoolean(pData.transactions_orders_enable_customer_orders.value)" ng-model="pData.transactions_deposits_min_customer_order_perc.value">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label">
                            <input type="checkbox" ng-disabled="!toBoolean(pData.transactions_orders_enable_customer_orders.value)" ng-model="pData.transactions_deposits_min_customer_order_required.value">
                            <span data-translate="1128">Required</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default top-margin10">
            <div class="panel-heading">
                <span data-translate="3107">Layaway Orders</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label">
                            <input type="checkbox" ng-model="pData.transactions_orders_enable_layaway_orders.value">
                            <span data-translate="3108">Enable Layaway Orders</span>
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="3106">
                                    Initial Minimum Deposit %
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <input type="text" class="form-control" numberonly="0.00" decimals="0" max="100" min="0" ng-disabled="!toBoolean(pData.transactions_orders_enable_layaway_orders.value)" ng-model="pData.transactions_deposits_min_layaway_order_perc.value">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label">
                            <input type="checkbox" ng-disabled="!toBoolean(pData.transactions_orders_enable_layaway_orders.value)" ng-model="pData.transactions_deposits_min_layaway_order_required.value">
                            <span data-translate="1128">Required</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default top-margin10">
            <div class="panel-heading" data-translate="7157">
                Special Orders
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label">
                            <input ng-model="pData.transactions_general_enable_special_orders.value" type="checkbox">
                            <span class="checkbox_label" data-translate="7158">Enable Special Orders</span>
                        </label>
                    </div>

                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="3106">
                                    Initial Minimum Deposit %
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <input type="text" id="depPercent" class="form-control numberonly" ng-disabled="!toBoolean(pData.transactions_general_enable_special_orders.value)" ng-model="pData.transactions_deposits_min_special_order_perc.value">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label">
                            <input type="checkbox" ng-disabled="!toBoolean(pData.transactions_general_enable_special_orders.value)" ng-model="pData.transactions_deposits_min_special_order_required.value">
                            <span class="checkbox_label" data-translate="1128">Required</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
