<ng-form name="pref_form" ng-controller="formStatEmitter">
	<div name="pref_form" ng-controller="ac_purchasing_vouchers_ctrl">
		<div class="row po-vouchers-ac" ng-if="ready">
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-8">
						<label>
							<span data-translate="3781">After voucher is updated go to</span>:
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<select class="form-control" ng-options="opt.value as opt.name | translate for opt in afterVoucherIsUpdatedOptions" ng-model="pData.purchasing_after_voucher_updated_go_to.value"></select>
					</div>
				</div>
				<br>
				<div class="row">
					<label>
						<input type="checkbox" ng-model="pData.vouchers_enable_vendor_invoice.value">
						<span data-translate="4797">Enable Vendor Invoices</span>
					</label>
				</div>
				<div class="row">
					<label>
						<input type="checkbox" ng-model="pData.asn_vouchers_require_all_specified_packages_for_receiving.value">
						<span data-translate="4798">Require all specified packages for receiving</span>
					</label>
				</div>
				<div class="row">
					<label>
						<input type="checkbox" ng-model="pData.asn_vouchers_copy_received_qty_from_original_qty_on_asn.value">
						<span data-translate="4799">Copy received quantity from original quantity on ASN Voucher</span>
					</label>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row" ng-if="false">
					<label class="control-label">
						<input type="checkbox" ng-model="pData.purchasing_allow_voucher_update_inventory_prices.value">
						<span data-translate="3779">Allow Voucher to Update Inventory Prices</span>
					</label>
				</div>
				<div class="row">
					<label>
						<input type="checkbox" ng-model="pData.purchasing_allow_negative_quantities_on_vouchers.value">
						<span data-translate="3780">Allow negative quantities on vouchers</span>
					</label>
				</div>
				<div class="row">
					<label>
						<input type="checkbox" ng-model="pData.purchasing_require_receive_voucher_reference_po.value">
						<span data-translate="3782">Require receive voucher to reference a PO</span>
					</label>
				</div>
				<div class="row">
					<label>
						<input type="checkbox" ng-model="pData.purchasing_require_return_voucher_reference_po.value">
						<span data-translate="3783">Require return voucher to reference a PO</span>
					</label>
				</div>
				<div class="row">
					<label>
						<input type="checkbox" ng-model="pData.purchasing_limit_voucher_against_po_only_items_on_po.value">
						<span data-translate="3784">Limit Voucher against PO to only items on that PO</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</ng-form>
