<ng-form name="pref_form" ng-controller="formStatEmitter">
<div ng-controller="ac_purchasing_general_ctrl">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <label data-translate="4314">Cost to Use for POs and Vouchers</label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">
          <select class="form-control" ng-model="pData.purchasing_cost_to_use.value" ng-options="s.value as s.text | translate for s in costTypes">
            <option style="display:none"><span data-translate="1358">Select...</span></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label data-translate="4315">Inventory Costing Method</label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">
          <select class="form-control" ng-model="pData.purchasing_inventory_costing_method.value" ng-options="s.value as s.text | translate for s in inventoryCostingMethods">
            <option style="display:none"><span data-translate="1358">Select...</span></option>
          </select>
        </div>
      </div>

    </div>
    <div class="col-xs-6">
      <label class="control-label">
        <input type="checkbox" ng-model="pData.purchasing_restrict_one_vendor_per_po_voucher.value">
        <span data-translate="4316">Restrict to one vendor per PO/voucher</span>
      </label>
      <label class="control-label" ng-if="false">
        <input type="checkbox" ng-model="pData.purchasing_require_all_specified_packages_to_be_received.value">
        <span data-translate="4317">Require all specified packages to be received</span>
      </label>
      <label class="control-label" ng-if="false">
        <input type="checkbox" ng-model="pData.purchasing_require_number_of_packages_to_be_received.value">
        <span data-translate="4318">Require number of packages to be received</span>
      </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row form-group">
            <!--<div class="col-xs-1">
                <button type="button" ng-disabled="feeTypes.length>7||adding" ng-click="addFeeType();" style="color:#0E4575">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>-->
            <div class="col-xs-12">
              <label class="control-label" data-translate="4319">PO \ Voucher Fee Types</label>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" ng-show="!isSubsidiary" role="alert" data-translate="4747">Fee Types require your context be set to the Subsidiary Level</div>
        <div class="panel-body" ng-if="isSubsidiary">
          <div class="row form-group" ng-if="feeTypes.length>0">
            <div class="col-xs-2 col-xs-offset-1 text-center">
              <strong data-translate="694">Fee Type</strong>
            </div>
            <div class="col-xs-3 text-center">
              <strong data-translate="586">Active</strong>
            </div>
            <div class="col-xs-3">
              <strong data-translate="4065">Fee Name</strong>
            </div>
          </div>

          <div class="row form-group" ng-repeat="x in feeTypes track by $index">
            <div class="col-xs-12">
              <div class="row" ng-if="x.mode==='view'">
                <div class="col-xs-2 col-xs-offset-1 text-center">
                  <strong>{{x.feetype}}</strong>
                </div>
                <div class="col-xs-3 text-center">
                  <input ng-disabled="true" type="checkbox" ng-model="x.active">
                </div>
                <div class="col-xs-3 text-left">
                  {{x.feename}}
                </div>
                <div class="col-xs-3" ng-if="x.feetype !== 9">
                  <button type="button" ng-click="editFeeType($index);"><span class="glyphicon glyphicon-pencil"></span></button>
                  <!--<button type="button" ng-click="removeFeeType($index);"><span class="glyphicon glyphicon-remove"></span></button>-->
                </div>
              </div>
              <div class="row" ng-if="x.mode==='edit'">
                <form>
                  <div class="col-xs-2 col-xs-offset-1 text-center">
                    <strong>{{x.feetype}}</strong>
                  </div>
                  <div class="col-xs-3 text-center form-group">
                    <input type="checkbox" ng-model="x.active">
                  </div>
                  <div class="col-xs-3 form-group">
                    <input type="text" class="form-control" maxlength="6" ng-model="x.feename">
                  </div>
                  <div class="col-xs-3">
                    <button type="button" ng-click="saveFeeType($index);"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" ng-click="cancelEdit($index)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                  </div>
                </form>
              </div>
              <!--<div class="row" ng-if="x.mode==='add'">
                  <div class="col-xs-2 text-center">
                      <strong>(New)</strong>
                  </div>
                  <div class="col-xs-2 text-center">
                      <input type="checkbox" ng-model="x.active">
                  </div>
                  <div class="col-xs-5">
                      <input type="text" class="form-control" ng-model="x.feename">
                  </div>
                  <div class="col-xs-3">
                      <button type="button" ng-click="saveNewFeeType();"><span class="glyphicon glyphicon-ok"></span></button>
                      <button type="button" ng-click="cancelEdit($index);"><span class="glyphicon glyphicon-ban-circle"></span></button>
                  </div>
              </div>-->
            </div>
          </div>
          <div class="row" ng-if="feeTypes.length===0">
            <em><span data-translate="4342">There are no fee types defined.</span></em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-form>
