<div ng-controller="permissionsCtrl">
    <form name="permissions_form">
      <div class="panel">
        <div class="panel-heading">
            <h4><span class="div-header-text" data-translate="1863">Group Permissions:</span></h4>
        </div>
        <div class="panel-body">
            <div class="toppadding10px sidepadding10px">
                <div class="row" id="context_top">
                    <div class="rounded set-context col-xs-12 ac-context">
                        <div class="col-xs-12">
                            <div class="rounded-border ac-context span12">
                                <div class="row div-header">
                                    <div class="col-xs-12">

                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-6">
                                        <select ng-change="setGroup();" ng-disabled="groupSid" ng-model="activeGroup" class="form-control" ng-options="x as x.usergroupname for x in usergroups | orderBy:'usergroupname'">
                                            <option value="" data-translate="1864">Select a Group...</option>
                                        </select>
                                    </div>
                                </div>
                                <form name="permission">
                                  <div class="container-fluid height55 autoOverflow" ng-show="activeGroup!==''">
                                    <div class="col-xs-12">
                                      <table class="table table-responsive table-striped col-xs-12">
                                        <tbody>
                                        <tr class="form-group">
                                          <th class="text-left" data-translate="1866">Permission Name</th>
                                          <th><button type="button" ng-disabled="groupSid" ng-click="selectAll('ALLOW');" class="btn btn-primary"><span data-translate="4521">Allow All</span></button></th>
                                          <th><button type="button" ng-disabled="groupSid" ng-click="selectAll('OVERRIDE');" class="btn btn-primary"><span data-translate="4522">Override All</span></button></th>
                                          <th><button type="button" ng-disabled="groupSid" ng-click="selectAll('DENY');" class="btn btn-primary"><span data-translate="4523">Deny All</span></button></th>
                                          <!-- Hidden by 11134
                                          <th><button type="button" class="btn btn-primary" ng-disabled="true"><span data-translate="1870">Log Event</span></button></th>
                                          -->
                                        </tr>
                                        </tbody>
                                        <tbody>
                                              <tr ng-show="isNewSection($index,permission)" style="cursor:pointer;" ng-repeat-start="permission in group.permissions" ng-click="toggleSection(permission.translatedName)">
                                                <td style="width:500px;" class="text-left">
                                                  <h4 style="margin:0;">
                                                      <span class="glyphicon glyphicon-plus" style="font-size:16px;" ng-if="!groupOn(permission)"></span>
                                                      <span class="glyphicon glyphicon-minus" style="font-size:16px;" ng-if="groupOn(permission)"></span>
                                                      {{permission.translatedName.substring(0,permission.translatedName.indexOf('-'))}} {{(permission.translatedName.indexOf("(")>-1)?permission.translatedName.substring(permission.translatedName.indexOf("("),permission.translatedName.length):""}}
                                                  </h4>
                                                </td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr ng-repeat-end="" ng-show="permission.name.toLowerCase()!=='accessadminconsole'&&permission.name.toLowerCase()!=='copypostransactionreceipts'&&groupOn(permission)">
                                                <td class="text-left">{{permission.translationid | translate}}</td>
                                                <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='ALLOW'" ng-model="permission.level" value="ALLOW" name="{{translationsIds[permission.name] | translate}}" type="radio"></td>
                                                <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='OVERRIDE'" ng-if="canOverRide(permission)" ng-model="permission.level" value="OVERRIDE" name="{{translationsIds[permission.name] | translate}}" type="radio"></td>
                                                <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='DENY'" ng-model="permission.level" value="DENY" name="{{translationsIds[permission.name] | translate}}" type="radio"></td>
                                                <!-- Hidden by 11134
                                                <td class="text-center"><input ng-click="setDirty()"  ng-model="permission.log" ng-disabled="true" type="checkbox"></td>
                                                -->
                                              </tr>
                                          </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" ng-if="!groupSid">
            <div class="row row-fluid">
                <div class="col-xs-12 text-right">
                    <button type="button" ng-click="saveGroup()" ng-disabled="!permission.$dirty" class="btn btn-default" value="Save" ng-show="activeGroup!==''"><span data-translate="547">Save</span></button>
                </div>
            </div>
        </div>
      </div>
    </form>
</div>
