<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
  <div ng-controller="posFlagsController">
    <div class="alert alert-danger" ng-show="!isSubsidiary" role="alert" data-translate="3375">POS Flags require your context be set to the Subsidiary Level</div>
    <div class="row" ng-show="isSubsidiary">
        <div class="col-xs-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title text-center" data-translate="687">POS Flag 1</h5>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-8">
                    <label class="control-label" data-translate="1506">Menu Name</label>
                  </div>
                  <div class="col-xs-4 text-center">
                    <label class="control-label" data-translate="1128">Required</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-8">
                    <input type="text" class="form-control" valid-levels="subsidiary" maxlength="15" ng-model="posFlag1.name" ng-blur="updatePosFlag(posFlag1)">
                  </div>
                  <div class="col-xs-4 text-center">
                    <input type="checkbox" class="checkbox" valid-levels="subsidiary" style="margin: 0 auto;" ng-model="posFlag1.required" ng-change="updatePosFlag(posFlag1)">
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-8">
                    <label class="control-label" data-translate="3370">Menu Options</label>
                  </div>
                  <div class="col-xs-4 text-right">
                    <label class="control-label" data-translate="586">Active</label>
                  </div>
                </div>
                <div class="row height15 autoOverflow" style="border-bottom:#ccc 1px solid !important;">
                  <table class="table table-condensed table-hover col-xs-12">
                    <tr class="grid_row{{$index%2}} context-row{{(activeRow==option)}}" ng-click="selectOption(option);$event.stopPropagation()" ng-repeat="option in posFlag1Options.data">
                      <td>{{option.flag_option}}</td>
                      <td><input ng-change="resetDefaultOptions(1,option)" type="checkbox" valid-levels="subsidiary" ng-model="option.is_active" ng-change="resetDefaultOptions(1,option)"></td>
                    </tr>
                  </table>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-push-6 pull-right" style="padding-right: 5px;">
                    <button type="button" valid-levels="subsidiary" data-translate="1.8" ng-click="addOption(posFlag1);" class="btn btn-primary">Add</button>
                    <button type="button" valid-levels="subsidiary" data-translate="544" ng-click="deleteOption(activeRow,1);" class="btn btn-primary">Delete</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <label class="control-label" data-translate="3371">Default Option</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <select class="form-control" id="default_option1" valid-levels="subsidiary" ng-options="s.flag_id.toString() as s.flag_option for s in defaultOptions1" ng-model="pData.transactions_pos_flags_default_value_pos_flag_menu1.value">
                      <option style="display:none" value="undefined" data-translate="1358">Select...</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title text-center" data-translate="688">POS Flag 2</h5>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-8">
                  <label class="control-label" data-translate="1506">Menu Name</label>
                </div>
                <div class="col-xs-4 text-center">
                  <label class="control-label" data-translate="1128">Required</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8">
                  <input type="text" class="form-control" valid-levels="subsidiary" maxlength="15" ng-model="posFlag2.name" ng-blur="updatePosFlag(posFlag2)">
                </div>
                <div class="col-xs-4 text-center">
                  <input type="checkbox" class="checkbox" valid-levels="subsidiary" style="margin: 0 auto;" ng-model="posFlag2.required" ng-change="updatePosFlag(posFlag2)">
                </div>
              </div>
              <div class="row top-margin">
                <div class="col-xs-8">
                  <label class="control-label" data-translate="3370">Menu Options</label>
                </div>
                <div class="col-xs-4 text-right">
                  <label class="control-label" data-translate="586">Active</label>
                </div>
              </div>
              <div class="row height15 autoOverflow" style="border-bottom:#ccc 1px solid !important;">
                <table class="table table-condensed table-hover table-responsive col-xs-12">
                  <tr class="grid_row{{$index%2}} context-row{{(activeRow==option)}}" ng-click="selectOption(option);$event.stopPropagation()" ng-repeat="option in posFlag2Options.data">
                    <td>{{option.flag_option}}</td>
                    <td><input type="checkbox" valid-levels="subsidiary" ng-model="option.is_active" ng-change="resetDefaultOptions(2,option)"> </td>
                  </tr>
                </table>
              </div>
              <div class="row top-margin">
                <div class="col-xs-push-6 pull-right" style="padding-right: 5px;">
                  <button type="button" data-translate="1.8" valid-levels="subsidiary" ng-click="addOption(posFlag2);" class="btn btn-primary">Add</button>
                  <button type="button" data-translate="544" valid-levels="subsidiary" ng-click="deleteOption(activeRow,2);" class="btn btn-primary">Delete</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label" data-translate="3371">Default Option</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <select class="form-control" id="default_option2" valid-levels="subsidiary" ng-options="s.flag_id.toString() as s.flag_option for s in defaultOptions2" ng-model="pData.transactions_pos_flags_default_value_pos_flag_menu2.value">
                    <option style="display:none" value="undefined" data-translate="1358">Select...</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title text-center" data-translate="689">POS Flag 3</h5>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-8">
                  <label class="control-label" valid-levels="subsidiary" data-translate="1506">Menu Name</label>
                </div>
                <div class="col-xs-4 text-center">
                  <label class="control-label" valid-levels="subsidiary" data-translate="1128">Required</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8">
                  <input type="text" class="form-control" valid-levels="subsidiary" maxlength="15" ng-model="posFlag3.name" ng-blur="updatePosFlag(posFlag3)">
                </div>
                <div class="col-xs-4 text-center">
                  <input type="checkbox" class="checkbox" valid-levels="subsidiary" style="margin: 0 auto;" ng-model="posFlag3.required" ng-change="updatePosFlag(posFlag3)">
                </div>
              </div>
              <div class="row top-margin">
                <div class="col-xs-8">
                  <label class="control-label" data-translate="3370">Menu Options</label>
                </div>
                <div class="col-xs-4 text-right">
                  <label class="control-label" data-translate="586">Active</label>
                </div>
              </div>
              <div class="row height15 autoOverflow" style="border-bottom:#ccc 1px solid !important;">
                <table class="col-xs-12 table table-condensed table-hover table-responsive">
                  <tr class="grid_row{{$index%2}} context-row{{(activeRow==option)}}" ng-click="selectOption(option);$event.stopPropagation()" ng-repeat="option in posFlag3Options.data">
                    <td>{{option.flag_option}}</td>
                    <td><input type="checkbox" valid-levels="subsidiary" ng-model="option.is_active" ng-change="resetDefaultOptions(3,option)"></td></tr>
                </table>
              </div>
              <div class="row top-margin">
                <div class="col-xs-push-6 pull-right" style="padding-right: 5px;">
                  <button type="button" data-translate="1.8" valid-levels="subsidiary" ng-click="addOption(posFlag3);" class="btn btn-primary">Add</button>
                  <button type="button" data-translate="544" valid-levels="subsidiary" ng-click="deleteOption(activeRow,3);" class="btn btn-primary">Delete</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label" data-translate="3371">Default Option</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <select class="form-control" id="default_option3" valid-levels="subsidiary" ng-options="s.flag_id.toString() as s.flag_option for s in defaultOptions3" ng-model="pData.transactions_pos_flags_default_value_pos_flag_menu3.value">
                    <option style="display:none" value="undefined" data-translate="1358">Select...</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

        </div>
    </div>
  </div>

</ng-form>
