<ng-form novalidate="undefined" id="posFlagOptionForm" name="posFlagOptionForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="modal-title"><span data-translate="3651">Add Option to</span> {{form.posFlagName}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="form-group">
          <label class="col-xs-4 control-label" data-translate="3652">
            Flag Option
          </label>
          <div class="col-xs-8">
            <input maxlength="20" id="flag_option" name="flag_option" ng-model="form.flag_option" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" data-translate="586">Active</label>
          <div class="col-xs-8">
            <input type="checkbox" value="true" ng-model="form.is_active" id="is_active" name="is_active">
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="button" id="posFlagOptionSaveButton" event-name="posFlagOptionSave" name="posFlagOptionSaveButton" class="btn btn-lg btn-default" ng-disabled="posFlagOptionForm.$pristine || posFlagOptionForm.$invalid" ng-click="saveChanges()" data-translate="547">Save</button>
            <button type="button" id="posFlagOptionCancelButton" event-name="posFlagOptionCancel" name="posFlagOptionCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
