<form novalidate="novalidate" id="acPubSubAuth" name="acPubSubAuth" class="form-horizontal relative" ui-keypress="{13:'Login()'}">
	<div class="modalouter">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h5 data-translate="1010">Authentication</h5>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6">
					<div class="control-group">
						<label class="control-label" data-translate="1011">Username:</label>
						<div class="controls">
							<input type="text" class="form-control" ng-model="credentials.remoteUsername">
						</div>

						<label class="control-label" data-translate="1212">Password:</label>
						<div class="controls">
							<input type="password" class="form-control" ng-model="credentials.remotePassword" maxlength="24">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-4">
					<button class="btn btn-default btn-block" tabindex="15" type="button" id="okButton" ng-click="Login()"><img src="/images/pos/check.png" class="margin-right"><span data-translate="31">Login</span></button>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-default btn-block" tabindex="16" type="button" id="cancelButton" ng-click="Cancel()"><img src="/images/pos/delete.png" class="margin-right"><span data-translate="1.2">Cancel</span></button>
				</div>
			</div>
		</div>
	</div>
</form>
