<ng-form name="pref_form" ng-controller="formStatEmitter">
  <div name="pref_form" ng-controller="ac_purchasing_comments_ctrl">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row form-group">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-icon btn-default" ng-disabled="adding||poInstructions.length===5" ng-click="addPoInstruction();"><span class="glyphicon glyphicon-plus"></span></button> <label class="control-label" data-translate="4032">PO Instructions</label>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row form-group text-center" ng-if="mode==='add'||poInstructions.length>0">
                  <div class="col-xs-2">
                    <strong data-translate="586">Active</strong>
                  </div>
                  <div class="col-xs-7">
                    <strong data-translate="3802">Instructions</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <em ng-if="poInstructions.length===0&&mode!=='add'">
                      <span data-translate="7028">There are no PO Instructions defined. Click the + sign to add a PO Instruction.</span>
                    </em>
                  </div>
                </div>
                <div class="row form-group" ng-if="mode!=='add'" ng-repeat="x in poInstructions track by $index">
                  <div class="col-xs-12">
                    <div class="row" ng-if="!x.mode">
                      <div class="col-xs-2 text-center">
                        <input ng-disabled="true" type="checkbox" ng-model="x.active">
                      </div>
                      <div class="col-xs-7 text-center">
                        {{x.txt}}
                      </div>
                      <div class="col-xs-3">
                        <button type="button" ng-disabled="editing" ng-click="x.mode='edit';x.orig=x.txt;editing=true"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" ng-disabled="editing" ng-click="removePoInstruction($index);"><span class="glyphicon glyphicon-remove"></span></button>
                      </div>
                    </div>
                    <div class="row" ng-if="x.mode==='edit'">
                      <div class="col-xs-2 text-center">
                        <input type="checkbox" ng-model="x.active">
                      </div>
                      <div class="col-xs-7 text-center">
                        <input type="text" class="form-control" ng-model="x.txt">
                      </div>
                      <div class="col-xs-3">
                        <button type="button" ng-click="editing=false;savePoInstruction(x);"><span class="glyphicon glyphicon-ok"></span></button>
                        <button type="button" ng-click="editing=false;cancelEdit(x);"><span class="glyphicon glyphicon-ban-circle"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row form-group">
                  <div class="col-xs-12">
                    <button type="button" ng-show="isSubsidiary" class="btn btn-icon btn-default" ng-disabled="addingV" ng-click="addVoucherComment();">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <label class="control-label" data-translate="4313">
                      Voucher Comments
                    </label>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div ng-show="isSubsidiary">
                  <div class="row form-group text-center" ng-if="voucherMode=='add'||voucherComments.length>0">
                    <div class="col-xs-2">
                      <strong data-translate="586">Active</strong>
                    </div>
                    <div class="col-xs-2">
                      <strong data-translate="1114">Default</strong>
                    </div>
                    <div class="col-xs-5">
                      <strong data-translate="3852">Comment</strong>
                    </div>
                  </div>
                  <div class="row" ng-if="voucherComments.length===0">
                    <div class="col-xs-12">
                      <em>There are no voucher comments defined. Click the + sign to add a voucher comment instruction.</em>
                    </div>
                  </div>
                  <div class="row form-group" ng-if="!searchingVoucherComments && voucherComments.length>0" ng-repeat="x in voucherComments">
                    <div class="col-xs-12 text-center">
                      <div class="row">
                        <div class="col-xs-2 text-center">
                          <input type="checkbox" ng-disabled="!x.voucherMode" ng-true-value="1" ng-false-value="0" ng-model="x.active">
                        </div>
                        <div class="col-xs-2 text-center">
                          <input type="checkbox" ng-disabled="!x.voucherMode" ng-true-value="1" ng-false-value="0" ng-model="x.defaultvalue">
                        </div>
                        <div class="col-xs-5 text-center">
                          <input type="text" ng-disabled="!x.voucherMode" ng-required="true" class="form-control" ng-model="x.comments">
                        </div>
                        <div class="col-xs-3 text-center">
                          <button ng-if="x.voucherMode==='edit'" type="button" ng-disabled="!x.comments" ng-click="saveVoucherComment(x, $index);"><span class="glyphicon glyphicon-ok"></span></button>
                          <button ng-if="x.voucherMode==='edit'" type="button" ng-click="undoVoucherCommentChanges(x, $index);"><span class="glyphicon glyphicon-ban-circle"></span></button>

                          <button ng-if="!x.voucherMode" type="button" ng-click="enableVoucherCommentEdit(x,$index)"><span class="glyphicon glyphicon-pencil"></span></button>
                          <!--<button ng-if="!x.voucherMode" type="button" ng-click="removeVoucherComment(x, $index);"><span class="glyphicon glyphicon-remove"></span></button>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-danger" ng-show="!isSubsidiary" role="alert">
                  <span data-translate="6588">Voucher Comments require your context be set to the Subsidiary Level</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
