<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
  <div ng-controller="ac_purchase_orders_ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <label data-translate="5405">Default PO Type</label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">
          <select class="form-control" ng-model="pData.default_po_type.value">
            <option style="display:none"><span data-translate="1358">Select...</span></option>
            <option value="0"><span data-translate="3801">Drop Ship</span></option>
            <option value="1"><span data-translate="5398">Marked For</span></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="control-label">
            <input type="checkbox" ng-checked="toBoolean(pData.purchasing_allow_negative_quantities.value)" ng-model="pData.purchasing_allow_negative_quantities.value">
            <span data-translate="4309">Allow negative quantities on POs</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="control-label">
            <input type="checkbox" ng-checked="toBoolean(pData.purchasing_allow_receiving_after_cancel_date.value)" ng-model="pData.purchasing_allow_receiving_after_cancel_date.value">
            <span data-translate="4310">Allow receiving against PO after cancel date</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <label class="control-label">
            <input type="checkbox" ng-checked="toBoolean(pData.purchasing_order_by_case_only.value)" ng-model="pData.purchasing_order_by_case_only.value">
            <span data-translate="4311">Order by cases only</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label class="control-label">
            <span data-translate="4312">Case Rounding Method</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <select class="form-control" ng-model="pData.purchasing_case_rounding_method.value" ng-options="x.value as x.text | translate for x in roundingMethods"></select>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-form>
