<script type="text/ng-template" id="tree_item_renderer.html">
    <div ng-show="false">
        {{b.push(data.name)}}
        {{url='v1/rest/' + b.join('/') + '/meta/'}}
    </div>

    <a ng-init="on=false" ng-click="on=!on;getMeta(url)">{{data.name}}</a>
    <ul>
        <li ng-repeat="data in data.resources" ng-include="'tree_item_renderer.html'"></li>
    </ul>
    <div ng-if="!data.resources">
        <div ng-show="false">
            {{b.pop()}}
        </div>
    </div>
</script>
<div name="pref_form" class="tree-menu" ng-controller="ac_services_ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 data-translate="52">Services</h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="x in serviceList">
                    <a>{{x.module.name}}</a>
                    <ul>
                      <li><a><span data-translate="7029">RPC Methods</span></a>
                            <ul>
                                <li class="list-group-item" ng-repeat="y in x.module.methods">
                                    <a>{{y.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li><a data-translate="2027">REST Resources</a>
                            <ul style="max-height:450px;overflow:auto;">
                                <li ng-repeat="data in x.module.resources" ng-include="'tree_item_renderer.html'">
                                    {{b=[]}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-8">
            <div class="panel panel-default" ng-show="activeResource">
                <div class="panel-heading">
                    <h4>{{activeResource}}</h4>
                </div>
                <div class="panel-body">

                        <table style="float:left;width:200px;" class="table-responsive table table-striped table-bordered">
                            <thead>
                            <th data-translate="1113">Name</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,val) in metaData">
                                <td>{{key}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="max-width:575px;overflow-x:auto;float:left;">
                            <table class="table-responsive table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th ng-show="isActiveColumn(key,$index)" ng-repeat="(key,val) in metaData.sid">{{key}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key,val) in metaData">
                                    <td ng-show="isActiveColumn(key2)" style="white-space:nowrap;" ng-repeat="(key2,val) in metaData[key]">{{val}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
