<ng-form name="seqForm" ng-controller="ac_sequence_edit_ctrl">
    <div class="panel panel-default">
        <div class="panel-heading" data-translate="2465">
           Sequencing
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-xs-4">
                  <label class="control-label" ng-if="!consolidatedSales">
                      <span data-translate="2466">Next Sale No</span>
                  </label>
                  <label class="control-label" ng-if="consolidatedSales">
                    <span data-translate="1650">Next Transaction No</span>

                  </label>
                </div>
                <div class="col-xs-4" ng-if="!consolidatedSales">
                  <label class="control-label" data-translate="2467">
                      Next Return No
                  </label>
                </div>
                <div class="col-xs-3">
                  <label class="control-label" data-translate="1671">
                    Next Customer ID
                  </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-4">
                    <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq0.previous_value">
                </div>
                <div class="col-xs-4" ng-if="!consolidatedSales">
                    <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq4.previous_value">
                </div>
                <div class="col-xs-4">
                  <input class="form-control" maxlength="10" placeholder="{{ '4890' | translate }}" ng-disabled="(saveSubsidiary)?false:true" type="text" numberonly="" min="1" ng-model="customerSeq.value">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-4">
                  <label class="control-label" data-translate="4322">
                      Next Send Sale No
                  </label>
                </div>
                <div class="col-xs-4">
                  <label class="control-label" data-translate="4323">
                    Next EFT Invoice No
                  </label>
                </div>
                <div class="col-xs-4">
                  <label class="control-label" data-translate="4324">
                    Next Disbursement No
                  </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-4">
                    <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq12.previous_value">
                </div>
                <div class="col-xs-4">
                  <input class="form-control" maxlength="10" ng-disabled="(saveSubsidiary)?false:true" type="text" numberonly="" min="1" ng-model="seq13.previous_value">
                </div>
                <div class="col-xs-4">
                  <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq14.previous_value">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-4">
                  <label class="control-label" data-translate="4325">
                    Next Purchase Order No
                  </label>
                </div>
                <div class="col-xs-4">
                  <label class="control-label" data-translate="4326">
                    Next Voucher No
                  </label>
                </div>
                <div class="col-xs-4">
                  <label class="control-label" data-translate="4700">
                    Next ASN No
                  </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-4">
                  <input class="form-control" maxlength="20" type="text" numberonly="" min="1" ng-model="seq3.previous_value">
                </div>
                <div class="col-xs-4">
                  <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq1.previous_value">
                </div>
                <div class="col-xs-4">
                  <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq16.previous_value">
                </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-4">
                <label class="control-label" data-translate="4460">
                  Next Transfer No
                </label>
              </div>
              <div class="col-xs-4">
                <label class="control-label" data-translate="4914">
                  Next Z-Out No
                </label>
              </div>
              <div class="col-xs-4" ng-if="consolidatedOrders">
                <label class="control-label" data-translate="2468">
                  Next Order No
                </label>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-4">
                <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq15.previous_value">
              </div>
              <div class="col-xs-4">
                <input class="form-control" maxlength="19" placeholder="{{ '4890' | translate }}" type="text" numberonly="" min="1" ng-model="seq18.previous_value">
              </div>
              <div class="col-xs-4" ng-if="consolidatedOrders">
                <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq5.previous_value">
              </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-4">
                    <label class="control-label" data-translate="5021">
                        Next Adjustment Memo No
                    </label>
                </div>
                <div class="col-xs-4" ng-if="enableUpcSequence()">
                    <label class="control-label" data-translate="5228">
                        Next UPC
                    </label>
                </div>
                <div class="col-xs-4" ng-if="enableAluSequence()">
                    <label class="control-label" data-translate="5231">
                        Next ALU
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-4">
                    <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq17.previous_value">
                </div>
                <div class="col-xs-4" ng-if="enableUpcSequence()">
                    <input class="form-control" maxlength="18" type="text" numberonly="" min="1" ng-model="seq19.previous_value">
                </div>
                <div class="col-xs-4" ng-if="enableAluSequence()">
                    <input class="form-control" maxlength="20" type="text" numberonly="" min="1" ng-model="seq20.previous_value">
                </div>
            </div>
            <div class="row">
			  <div class="col-xs-4">
                    <label class="control-label" data-translate="5312">
                        Next Transfer Order No
                    </label>
              </div>
              <div class="col-xs-4" ng-if="!consolidatedOrders">
                <label class="control-label" data-translate="4320">
                  Next Customer Order No
                </label>
              </div>
              <div class="col-xs-4" ng-if="!consolidatedOrders">
                <label class="control-label" data-translate="4321">
                  Next Layaway No
                </label>
              </div>
            </div>
            <div class="row">
			  <div class="col-xs-4">
             	 <input class="form-control" maxlength="8" type="text" numberonly="" min="1" ng-model="seq2.previous_value">
              </div>
              <div class="col-xs-4" ng-if="!consolidatedOrders">
                <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq6.previous_value">
              </div>
              <div class="col-xs-4" ng-if="!consolidatedOrders">
                <input class="form-control" maxlength="10" type="text" numberonly="" min="1" ng-model="seq8.previous_value">
              </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-primary" ng-disabled="!seqForm.$dirty||saving" ng-click="saveSequences();$close()" type="button"><span data-translate="1514">Save &amp; Exit</span></button>
            <button class="btn btn-primary" ng-click="$close();" type="button"><span data-translate="0.1">Exit</span></button>
        </div>
    </div>
</ng-form>
