<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="padding20">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="3376">
                        Serial Numbers Tracking
                    </div>
                    <div class="panel-body">
                        <span data-translate="3631">Prompt for Serial Numbers for Partial Control items for:</span>

                        <div class="row top-margin20">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label class="checkbox_label">
                                    <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_ser_no_partial_control_prompt_sales.value">
                                    <span data-translate="974">Sales</span>
                                </label>
                            </div>
                        </div>

                        <div class="row top-margin">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label class="checkbox_label">
                                    <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_ser_no_partial_control_prompt_returns.value">
                                    <span data-translate="1713">Returns</span>
                                </label>
                            </div>
                        </div>

                        <div class="row top-margin">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label class="checkbox_label">
                                    <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_ser_no_partial_control_prompt_orders.value">
                                    <span data-translate="2998">Orders</span>
                                </label>
                            </div>
                        </div>

                        <div class="row top-margin">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label class="checkbox_label">
                                    <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_ser_no_partial_control_prompt_send_sale.value">
                                    <span data-translate="991">Send Sale</span>
                                </label>
                            </div>
                        </div>

                        <div class="row top-margin">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label class="checkbox_label">
                                    <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_ser_no_partial_control_prompt_vouchers.value">
                                    <span data-translate="1176">Vouchers</span>
                                </label>
                            </div>
                        </div>

                        <div class="row top-margin">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label class="checkbox_label">
                                    <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_ser_no_partial_control_prompt_transfers.value">
                                    <span data-translate="1177">Transfer Slips</span>
                                </label>
                            </div>
                        </div>

                        <div class="row top-margin">
                            <div class="col-xs-12 col-xs-offset-1">
                                <label class="checkbox_label">
                                    <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_ser_no_partial_control_prompt_memos.value">
                                    <span data-translate="1178">Adjustment Memos</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span data-translate="3377">Lot Numbers Tracking</span>
                    </div>
                    <div class="panel-body">
                        <span data-translate="3632">Select Prompt Level for Lot Numbers when adding Partial Control items for:</span>

                        <div class="row top-margin20">
                            <div class="col-xs-11 col-xs-offset-1">
                                <div class="col-xs-3">
                                    <label class="control-label" data-translate="974">Sales</label>
                                </div>
                                <div class="col-xs-8">
                                    <select class="form-control inline-block" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_lot_no_partial_control_prompt_sales.value">
                                        <option value="0" data-translate="1361">None</option>
                                        <option value="1" data-translate="1105">Prompt</option>
                                        <option value="2" data-translate="3378">Prompt and Require</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-margin20">
                            <div class="col-xs-11 col-xs-offset-1">
                                <div class="col-xs-3">
                                    <label class="control-label" data-translate="1713">Returns</label>
                                </div>
                                <div class="col-xs-8">
                                    <select class="form-control" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_lot_no_partial_control_prompt_returns.value">
                                        <option value="0" data-translate="1361">None</option>
                                        <option value="1" data-translate="1105">Prompt</option>
                                        <option value="2" data-translate="3378">Prompt and Require</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-margin20">
                            <div class="col-xs-11 col-xs-offset-1">
                                <div class="col-xs-3">
                                    <label class="control-label" data-translate="2998">Orders</label>
                                </div>
                                <div class="col-xs-8">
                                    <select class="form-control" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_lot_no_partial_control_prompt_orders.value">
                                        <option value="0" data-translate="1361">None</option>
                                        <option value="1" data-translate="1105">Prompt</option>
                                        <option value="2" data-translate="3378">Prompt and Require</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-margin20">
                            <div class="col-xs-11 col-xs-offset-1">
                                <div class="col-xs-3">
                                    <label class="control-label" data-translate="991">Send Sale</label>
                                </div>
                                <div class="col-xs-8">
                                    <select class="form-control" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_lot_no_partial_control_prompt_send_sale.value">
                                        <option value="0" data-translate="1361">None</option>
                                        <option value="1" data-translate="1105">Prompt</option>
                                        <option value="2" data-translate="3378">Prompt and Require</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-margin20">
                            <div class="col-xs-11 col-xs-offset-1">
                                <div class="col-xs-3">
                                    <label class="control-label" data-translate="1176">Vouchers</label>
                                </div>
                                <div class="col-xs-8">
                                    <select class="form-control" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_lot_no_partial_control_prompt_vouchers.value">
                                        <option value="0" data-translate="1361">None</option>
                                        <option value="1" data-translate="1105">Prompt</option>
                                        <option value="2" data-translate="3378">Prompt and Require</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-margin20">
                            <div class="col-xs-11 col-xs-offset-1">
                                <div class="col-xs-3">
                                    <label class="control-label" data-translate="1177">Transfer Slips</label>
                                </div>
                                <div class="col-xs-8">
                                    <select class="form-control" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_lot_no_partial_control_prompt_transfers.value">
                                        <option value="0" data-translate="1361">None</option>
                                        <option value="1" data-translate="1105">Prompt</option>
                                        <option value="2" data-translate="3378">Prompt and Require</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                       <div class="row top-margin20">
                            <div class="col-xs-11 col-xs-offset-1">
                                <div class="col-xs-3">
                                    <label class="control-label" data-translate="1178">Adjustment Memos</label>
                                </div>
                                <div class="col-xs-8">
                                    <select class="form-control" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_lot_no_partial_control_prompt_memos.value">
                                        <option value="0" data-translate="1361">None</option>
                                        <option value="1" data-translate="1105">Prompt</option>
                                        <option value="2" data-translate="3378">Prompt and Require</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <hr class="">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-1">
                            <label class="checkbox_label">
                                <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.snln_options_lot_no_expiration_alert.value">
                                <span data-translate="5893">Display alert when item's lot number expiration date has passed</span>
                            </label>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="col-xs-12 col-xs-offset-1">
                            <label class="checkbox_label">
                                <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.snln_options_prevent_item_sale_with_expired_lot_no.value">
                                <span data-translate="5894">Prevent sale of items with expired lot number</span>
                            </label>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="col-xs-12 col-xs-offset-1">
                            <label class="checkbox_label">
                                <input type="checkbox" valid-levels="corporate,subsidiary" ng-model="pData.pos_options_lot_no_deactivate_when_item_depleted.value">
                                <span data-translate="5895">Deactivate Lot Number item when quantity reaches zero</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
