<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div ng-controller="ac_sequencing_ctrl">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label">
                    <input type="checkbox" ng-model="pData.use_single_sequence_for_all_order_types.value">
                    <span data-translate="4605">Use Single Sequence for All Orders</span>
                </label>
            </div>
            <div class="col-xs-6">
              <label class="control-label">
                <input type="checkbox" ng-model="pData.use_single_sequence_for_return_and_sales.value">
                <span data-translate="5517">Use Single Sequence for Returns and Sales</span>
              </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="control-label">
                  <span ng-if="!toBoolean(pData.use_single_sequence_for_return_and_sales.value)" data-translate="4606">Sale Sequencing Level</span>
                  <span ng-if="toBoolean(pData.use_single_sequence_for_return_and_sales.value)" data-translate="5518">Transaction Sequencing Level</span>
                </label>
            </div>
            <div class="col-xs-4" ng-if="!toBoolean(pData.use_single_sequence_for_return_and_sales.value)">
                <label class="control-label">
                    <span data-translate="4607">Return Sequencing Level</span>
                </label>
            </div>
            <div class="col-xs-4" ng-if="toBoolean(pData.use_single_sequence_for_all_order_types.value)">
                <label class="control-label">
                    <span data-translate="4608">Order Sequencing Level</span>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                <select ng-model="pData.documents_general_seq_level_sale.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                  <option value="2" data-translate="809">Workstation</option>
                  <option value="1" data-translate="683">Store</option>
                  <option value="0" data-translate="2233">Subsidiary</option>
                </select>
            </div>
            <div class="col-xs-4" ng-if="!toBoolean(pData.use_single_sequence_for_return_and_sales.value)">
                <select ng-model="pData.documents_general_seq_level_return.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                  <option value="2" data-translate="809">Workstation</option>
                  <option value="1" data-translate="683">Store</option>
                  <option value="0" data-translate="2233">Subsidiary</option>
                </select>
            </div>
            <div class="col-xs-4" ng-if="toBoolean(pData.use_single_sequence_for_all_order_types.value)">
                <select ng-model="pData.documents_general_seq_level_order.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                  <option value="2" data-translate="809">Workstation</option>
                  <option value="1" data-translate="683">Store</option>
                  <option value="0" data-translate="2233">Subsidiary</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" ng-if="!toBoolean(pData.use_single_sequence_for_all_order_types.value)">
                <label class="control-label">
                    <span data-translate="3107">Layaway Orders</span>
                </label>
            </div>
            <div class="col-xs-4" ng-if="!toBoolean(pData.use_single_sequence_for_all_order_types.value)">
                <label class="control-label">
                    <span data-translate="3104">Customer Orders</span>
                </label>
            </div>
            <div class="col-xs-4">
                <label class="control-label">
                    <span data-translate="991">Send Sale</span>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4" ng-if="!toBoolean(pData.use_single_sequence_for_all_order_types.value)">
                <select ng-model="pData.documents_general_seq_level_layaway.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                  <option value="2" data-translate="809">Workstation</option>
                  <option value="1" data-translate="683">Store</option>
                  <option value="0" data-translate="2233">Subsidiary</option>
                </select>
            </div>
            <div class="col-xs-4" ng-if="!toBoolean(pData.use_single_sequence_for_all_order_types.value)">
                <select ng-model="pData.documents_general_seq_level_customer_orders.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                  <option value="2" data-translate="809">Workstation</option>
                  <option value="1" data-translate="683">Store</option>
                  <option value="0" data-translate="2233">Subsidiary</option>
                </select>
            </div>
            <div class="col-xs-4">
                <select ng-model="pData.documents_general_seq_level_send_sale.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                  <option value="2" data-translate="809">Workstation</option>
                  <option value="1" data-translate="683">Store</option>
                  <option value="0" data-translate="2233">Subsidiary</option>n>
                </select>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label class="control-label">
                <span data-translate="505">Disbursements</span>
            </label>
          </div>
          <div class="col-xs-4">
            <label class="control-label">
                <span data-translate="1672">Purchase Orders</span>
            </label>
          </div>
          <div class="col-xs-4">
            <label class="control-label">
                <span data-translate="1176">Vouchers</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4">
            <select ng-model="pData.documents_general_seq_level_disbursement.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
              <option value="2" data-translate="809">Workstation</option>
              <option value="1" data-translate="683">Store</option>
              <option value="0" data-translate="2233">Subsidiary</option>
            </select>
          </div>
          <div class="col-xs-4">
            <select ng-model="pData.documents_general_seq_level_po.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
              <option value="2" data-translate="809">Workstation</option>
              <option value="1" data-translate="683">Store</option>
              <option value="0" data-translate="2233">Subsidiary</option>
            </select>
          </div>
          <div class="col-xs-4">
            <select ng-model="pData.documents_general_seq_level_voucher.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
              <option value="2" data-translate="809">Workstation</option>
              <option value="1" data-translate="683">Store</option>
              <option value="0" data-translate="2233">Subsidiary</option>
            </select>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="control-label">
                    <span data-translate="1667">ASNs</span>
                </label>
            </div>
            <div class="col-xs-4">
                <label class="control-label">
                    <span data-translate="1177">Transfer Slips</span>
                </label>
            </div>
            <div class="col-xs-4">
              <label class="control-label">
                <span data-translate="1178">Adjustment Memos</span>
              </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                <select ng-model="pData.documents_general_seq_level_asn.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                    <option value="2"><span data-translate="809">Workstation</span></option>
                  <option value="1"><span data-translate="683">Store</span></option>
                  <option value="0"><span data-translate="562">Subsidiary</span></option>
                </select>
            </div>
            <div class="col-xs-4">
                <select ng-model="pData.documents_general_seq_level_transferslip.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                    <option value="2" data-translate="809">Workstation</option>
                    <option value="1" data-translate="683">Store</option>
                    <option value="0" data-translate="2233">Subsidiary</option>
                </select>
            </div>
            <div class="col-xs-4">
              <select ng-model="pData.documents_general_seq_level_adjustment.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                <option value="2" data-translate="809">Workstation</option>
                <option value="1" data-translate="683">Store</option>
                <option value="0" data-translate="2233">Subsidiary</option>
              </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="control-label">
                    <span data-translate="5250">Transfer Orders</span>
                </label>
            </div>
            <div class="col-xs-4">
                <label class="control-label">
                    <span data-translate="507">Z-Out</span>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
              <select ng-model="pData.documents_general_seq_level_to.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                <option value="2" data-translate="809">Workstation</option>
                <option value="1" data-translate="683">Store</option>
                <option value="0" data-translate="2233">Subsidiary</option>
              </select>
            </div>
            <div class="col-xs-4">
                <select ng-model="pData.documents_general_seq_level_zout.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                    <option value="2" data-translate="809">Workstation</option>
                    <option value="1" data-translate="683">Store</option>
                    <option value="0" data-translate="2233">Subsidiary</option>
                </select>
            </div>
        </div>
      <div class="row">
        <div class="col-xs-4">
          <label class="control-label">
            <span data-translate="841">ALU</span>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">
            <span data-translate="677">UPC</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          <select ng-model="pData.inventory_general_seq_level_alu.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
            <option value="2" data-translate="809">Workstation</option>
            <option value="1" data-translate="683">Store</option>
            <option value="0" data-translate="2233">Subsidiary</option>
          </select>
        </div>
        <div class="col-xs-4">
          <select ng-model="pData.inventory_general_seq_level_upc.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
            <option value="2" data-translate="809">Workstation</option>
            <option value="1" data-translate="683">Store</option>
            <option value="0" data-translate="2233">Subsidiary</option>
          </select>
        </div>
      </div>

    <br>
    <br>
    </div>
</ng-form>
