<ng-form name="pref_form" ng-controller="formStatEmitter">
    <div ng-controller="ac_transfers_general_ctrl">
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-2">
                        <label>
                            <span data-translate="4062">After Transfer Slip is updated go to</span>:
                        </label>
                    </div>
                </div>
                <div class="row with-bottom-space">
                    <div class="col-xs-8 col-xs-offset-2">
                        <select class="form-control" ng-options="opt.value as opt.text | translate for opt in afterSlipIsUpdatedOptions" ng-model="pData.transfers_after_slip_updated_go_to.value"></select>
                    </div>
                </div>

              <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                  <label>
                    <span data-translate="6378">Upon Transfer Slip update generate</span>:
                  </label>
                </div>
              </div>
              <div class="row with-bottom-space">
                <div class="col-xs-8 col-xs-offset-2">
                  <select class="form-control" ng-options="opt.value as opt.text | translate for opt in afterSlipGenerateOptions" ng-model="pData.ts_generate_doc_upon_update.value"></select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                  <label>
                    <span data-translate="6379">Default Resolution Method</span>:
                  </label>
                </div>
              </div>
              <div class="row with-bottom-space">
                <div class="col-xs-8 col-xs-offset-2">
                  <select class="form-control" ng-options="opt.value as opt.text | translate for opt in defaultResolutionOptions" ng-model="pData.ts_default_resolution_method.value"></select>
                </div>
              </div>

              <div class="row top-margin">
                <div class="col-xs-10 col-xs-offset-2">
                  <label class="control-label">
                    <input type="checkbox" ng-model="pData.ts_verify_transfers_upon_voucher_update.value">
                    <span data-translate="6546">Verify Transfers Upon Voucher Update</span>
                  </label>
                </div>
              </div>
              <div class="row top-margin">
                  <div class="col-xs-10 col-xs-offset-2">
                      <label class="control-label">
                          <input type="checkbox" ng-model="pData.transfers_require_comment_on_slip.value">
                          <span data-translate="4063">Require Comment on Transfer Slips</span>
                      </label>
                  </div>
              </div>
              <div class="row top-margin">
                <div class="col-xs-10 col-xs-offset-2">
                  <label class="control-label">
                    <input type="checkbox" ng-model="pData.transfers_general_require_slips_reference_to.value">
                    <span data-translate="6243">Require Transfer Slips reference Transfer Order</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row form-group">
                            <!--<div class="col-xs-1">
                                <button type="button" ng-disabled="feeTypes.length>7||adding" ng-click="addFeeType();" style="color:#0E4575">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>-->
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="4064">Transfer Slip Fee Types</label>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="!isSubsidiary" role="alert" data-translate="4747">Fee Types require your context be set to the Subsidiary Level</div>
                    <div class="panel-body" ng-if="isSubsidiary">
                        <div class="row form-group" ng-if="feeTypes.length>0">
                            <div class="col-xs-2 col-xs-offset-1 text-center">
                                <strong data-translate="694">Fee Type</strong>
                            </div>
                            <div class="col-xs-3 text-center">
                                <strong data-translate="586">Active</strong>
                            </div>
                            <div class="col-xs-3">
                                <strong data-translate="4065">Fee Name</strong>
                            </div>
                        </div>

                        <div class="row form-group" ng-repeat="x in feeTypes track by $index">
                            <div class="col-xs-12">
                                <div class="row" ng-if="x.mode==='view'">
                                    <div class="col-xs-2 col-xs-offset-1 text-center">
                                        <strong>{{x.feetype}}</strong>
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <input ng-disabled="true" type="checkbox" ng-model="x.active">
                                    </div>
                                    <div class="col-xs-3 text-left">
                                        {{x.feename}}
                                    </div>
                                    <div class="col-xs-3" ng-if="x.feetype !== 9">
                                        <button type="button" ng-click="editFeeType($index);"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <!--<button type="button" ng-click="removeFeeType($index);"><span class="glyphicon glyphicon-remove"></span></button>-->
                                    </div>
                                </div>
                                <div class="row" ng-if="x.mode==='edit'">
                                    <form>
                                        <div class="col-xs-2 col-xs-offset-1 text-center">
                                            <strong>{{x.feetype}}</strong>
                                        </div>
                                        <div class="col-xs-3 text-center form-group">
                                            <input type="checkbox" ng-model="x.active">
                                        </div>
                                        <div class="col-xs-3 form-group">
                                            <input type="text" class="form-control" maxlength="6" ng-model="x.feename">
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" ng-click="saveFeeType($index);"><span class="glyphicon glyphicon-ok"></span></button>
                                            <button type="button" ng-click="cancelEdit($index)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                        </div>
                                    </form>
                                </div>
                                <!--<div class="row" ng-if="x.mode==='add'">
                                    <div class="col-xs-2 text-center">
                                        <strong>(New)</strong>
                                    </div>
                                    <div class="col-xs-2 text-center">
                                        <input type="checkbox" ng-model="x.active">
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" ng-model="x.feename">
                                    </div>
                                    <div class="col-xs-3">
                                        <button type="button" ng-click="saveNewFeeType();"><span class="glyphicon glyphicon-ok"></span></button>
                                        <button type="button" ng-click="cancelEdit($index);"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="row" ng-if="feeTypes.length===0">
                            <em><span data-translate="4342">There are no fee types defined.</span></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
