<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
  <div ng-controller="themeController">
    <div class="row">
            <div class="col-xs-6">
                <label class="control-label" for="theme_list" data-translate="1871">Default Theme</label>
                <select class="form-control" id="theme_list" ng-options="s as s.css for s in themes" ng-change="setTheme()" ng-model="stheme">
                </select>
            </div>
            <div class="col-xs-6" ng-if="pData.image_save_directory">
                <label class="control-label" for="theme_list" data-translate="5934">Image Server</label>
                <select class="form-control" ng-model="pData.image_server.value" ng-options="x.sid as x.controllername for x in conList">
                  <option value="" style="display:none">Select...</option>
                </select>
            </div>
    </div>
    <div class="row top-margin form-group">
        <div class="col-xs-6">
            <label class="control-label" data-translate="3292">View Path</label>
            <select class="form-control" valid-levels="workstation" ng-change="setView()" ng-model="pData.themes_and_layouts_view_path.value">
                <option value="/views/default/" data-translate="1114">Default</option>
                <option value="/views/portrait/" data-translate="3290">Portrait</option>
            </select>
        </div>
        <div class="col-xs-6" ng-hide="pData.themes_and_layouts_view_path.value === '/views/portrait/'">
            <label class="control-label" for="theme_list" data-translate="2019">Transaction Screen Layout</label>
            <select class="form-control" ng-model="pData.themes_and_layouts_default_pos_layout.value">
                <option value="pos-transaction-partial.htm" data-translate="2430">Standard Shipping</option>
                <option value="pos-transaction-partial-simple-customer.htm" data-translate="2028">Simple Customer</option>
                <option value="pos-transaction-partial-simple-customer-quicktender.htm" data-translate="2029">Simple Customer &amp; Quick Tender</option>
                <option value="pos-transaction-partial-simple-quicktender.htm" data-translate="2030">Quick Tender</option>
            </select>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-xs-6">
          <label class="control-label">
            <input type="checkbox" ng-model="pData.enable_touch_screen_select_inputs.value">
            <span data-translate="6297">Enable Touch Screen Select Inputs</span>

          </label>
        </div>
        <div class="col-xs-6">
            <label class="control-label" data-translate="4559">Display Merchandise Images</label>
            <select class="form-control" ng-model="pData.image_display_type.value">
                <option value="0" data-translate="3925">Item</option>
                <option value="1" data-translate="3198">Style</option>
                <option value="3" data-translate="4560">Dynamic</option>
                <option value="2" data-translate="1361">None</option>
            </select>
        </div>
    </div>

    <div class="row top-margin">
        <div class="col-xs-12">
            <h3 data-translate="2020">Theme Examples</h3>
            <div class="panel panel-default">
                <div class="panel-heading" data-translate="1872">
                    Sample Panel
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-xs-3">
                            <button class="btn btn-primary btn-block" type="button"><span data-translate="1873">Button Primary</span></button>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-info btn-block" type="button"><span data-translate="1874">Button Info</span></button>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-warning btn-block" type="button"><span data-translate="1875">Button Warning</span></button>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-success btn-block" type="button"><span data-translate="1876">Button Success</span></button>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4">
                            <input class="form-control" placeholder="{{ '1877' | translate }} ">
                        </div>
                        <div class="col-xs-4">
                            <select class="form-control"><option data-translate="1878">Sample Select</option></select>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-icon btn-default" type="button"><span class="glyphicon glyphicon-fire"></span></button><span data-translate="1879">Glyphicon</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <input type="checkbox"><label class="control-label" data-translate="1889">Sample Checkbox</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="radio"><label class="control-label" data-translate="1890">Sample Radio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table-bordered table-responsive table-striped col-xs-12">
                                <thead>
                                    <tr>
                                        <th colspan="4" data-translate="1880">
                                            Sample Table
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-translate="1881">Cell 1</td>
                                        <td data-translate="1882">Cell 2</td>
                                        <td data-translate="1883">Cell 3</td>
                                        <td data-translate="1884">Cell 4</td>
                                    </tr>
                                    <tr>
                                        <td data-translate="1881">Cell 1</td>
                                        <td data-translate="1882">Cell 2</td>
                                        <td data-translate="1883">Cell 3</td>
                                        <td data-translate="1884">Cell 4</td>
                                    </tr>
                                    <tr>
                                        <td data-translate="1881">Cell 1</td>
                                        <td data-translate="1882">Cell 2</td>
                                        <td data-translate="1883">Cell 3</td>
                                        <td data-translate="1884">Cell 4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-6">
                            <div class="list-group">
                                <div class="list-group-item" data-translate="1885">List Group 1</div>
                                <div class="list-group-item" data-translate="1886">List Group 2</div>
                                <div class="list-group-item" data-translate="1887">List Group 3</div>
                                <div class="list-group-item" data-translate="1888">List Group 4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
  </div>
</ng-form>
