<ng-form name="pref_form" ng-controller="formStatEmitter">
  <div class="alert alert-danger" ng-show="!isSubsidiary" role="alert" data-translate="6773">Transfer Slip Comments require your context be set to the Subsidiary Level</div>

  <div name="pref_form" ng-controller="ac_transfers_comments_ctrl" ng-show="isSubsidiary">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row form-group">
                                    <div class="col-xs-1">
                                        <button type="button" ng-click="addTransferSlipComment();" style="color:#0E4575;"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                    <div class="col-xs-11">
                                        <label class="control-label" data-translate="4542">Transfer Slip Comments</label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row form-group" ng-if="TransferSlipComments.length>0 || TransferSlipCommentMode==='add'">
                                    <div class="col-xs-1 text-center">
                                        <strong data-translate="586">Active</strong>
                                    </div>
                                    <div class="col-xs-1 text-center">
                                        <strong data-translate="1114">Default</strong>
                                    </div>
                                    <div class="col-xs-5">
                                        <strong data-translate="3852">Comment</strong>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="TransferSlipComments.length>0" ng-repeat="x in TransferSlipComments">
                                    <div class="col-xs-12">
                                        <div class="row" ng-if="x.TransferSlipCommentMode==='view'">
                                            <div class="col-xs-1 text-center">
                                                <input type="checkbox" ng-disabled="true" ng-model="x.active">
                                            </div>
                                            <div class="col-xs-1 text-center">
                                                <input type="checkbox" ng-disabled="true" ng-model="x.defaultvalue">
                                            </div>
                                            <div class="col-xs-5">
                                                <p>{{x.comments}}</p>
                                            </div>
                                            <div class="col-xs-3">
                                                <button type="button" ng-click="editTransferSlipComment(x,$index)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                <!--<button type="button" ng-click="removeTransferSlipComment(x, $index);"><span class="glyphicon glyphicon-remove"></span></button>-->
                                            </div>
                                        </div>
                                        <div class="row" ng-if="x.TransferSlipCommentMode==='edit'">
                                            <div class="col-xs-1 text-center">
                                                <input type="checkbox" ng-model="x.active">
                                            </div>
                                            <div class="col-xs-1 text-center">
                                                <input type="checkbox" ng-model="x.defaultvalue">
                                            </div>
                                            <div class="col-xs-5">
                                                <input type="text" ng-required="true" class="form-control" ng-model="x.comments">
                                            </div>
                                            <div class="col-xs-3">
                                                <button type="button" ng-disabled="!x.comments" ng-click="saveTransferSlipComment(x);"><span class="glyphicon glyphicon-ok"></span></button>
                                                <button type="button" ng-click="cancelTransferSlipCommentEdit(x, $index)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row" ng-if="TransferSlipCommentMode==='add'">
                                            <div class="col-xs-1 text-center">
                                                <input type="checkbox" ng-model="newTransferSlipComment.active">
                                            </div>
                                            <div class="col-xs-1 text-center">
                                                <input type="checkbox" ng-model="newTransferSlipComment.defaultvalue">
                                            </div>
                                            <div class="col-xs-5">
                                                <input type="text" ng-required="true" class="form-control" ng-model="newTransferSlipComment.comments">
                                            </div>
                                            <div class="col-xs-3">
                                                <button type="button" ng-disabled="!newTransferSlipComment.comments" ng-click="saveNewTransferSlipComment();"><span class="glyphicon glyphicon-ok"></span></button>
                                                <button type="button" ng-click="cancelTransferSlipCommentAdd();"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                            </div>
                                        </div>
                                        <em ng-if="TransferSlipComments.length===0 && TransferSlipCommentMode!=='add'" data-translate="6775">There are no Transfer Slip comments defined.  Click the + sign to add a Transfer Slip comment definition.</em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
