<ng-form name="pref_form" ng-controller="formStatEmitter">
    <div ng-controller="ac_transfers_transrule_ctrl">
      <div class="panel panel-default">
        <div class="alert alert-danger" ng-show="!isSubsidiary" role="alert">
          <span data-translate="7030">Transfer Resolution Rules require your context be set to the Subsidiary Level</span>
        </div>
        <div class="panel-body" ng-if="isSubsidiary">
          <div style="width: 100%; height: 100%; text-align: center;" ng-if="loading">
            <div loader-css="ball-clip-rotate" style="margin-top: 10vh"></div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12">
                <label>
                  <span data-translate="6530">Transfer Resolution Rules</span>:
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <select class="form-control" ng-change="changeMode()" ng-model="pData.ts_resolution_rules.value" ng-options="+(s.value) as s.text | translate for s in modes"></select>
              </div>
            </div>
          </div>

          <!--           Global Mode             -->
          <div class="form-group" ng-if="pData.ts_resolution_rules.value === 1">
            <div class="row">
              <div class="col-xs-12">
                <label class="control-label" data-translate="6382">From Subsidiary:</label>
              </div>
            </div>
            <div class="row m-b-5">
              <div class="col-xs-6">
                <select class="form-control" ng-change="changeSubsidiary()" ng-model="service.fromSbsSid" ng-options="s.sid as s.subsidiary_name for s in service.subsidiaries"></select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label class="control-label" data-translate="6381">To Subsidiary:</label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <select class="form-control" ng-change="changeSubsidiary()" disabled="disabled" ng-model="service.toSbsSid" ng-options="s.sid as s.subsidiary_name for s in service.subsidiaries"></select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label>
                  <span data-translate="6531">Resolution Method</span>:
                </label>
              </div>
            </div>
            <div class="row m-b-5">
              <div class="col-xs-6">
                <select class="form-control" ng-model="service.active.action" ng-disabled="true" ng-options="+(s.value) as s.text | translate for s in service.actions"></select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label>
                  <span data-translate="6532">Cost Threshold</span>:
                </label>
              </div>
              <div class="col-xs-4">
                <label>
                  <span data-translate="6533">Quantity Threshold</span>:
                </label>
              </div>
              <div class="col-xs-4">
                <label>
                  <span data-translate="6534">Item Count Threshold</span>:
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <input type="text" class="form-control" data-currency-formatter="" numberonly="" min="0" disabled="disabled" ng-model="service.active.cost">
              </div>
              <div class="col-xs-4">
                <input type="text" class="form-control" numberonly="" min="0" disabled="disabled" ng-model="service.active.qty">
              </div>
              <div class="col-xs-4">
                <input type="text" class="form-control" numberonly="" decimals="0" min="0" disabled="disabled" ng-model="service.active.itemcnt">
              </div>
            </div>
          </div>

          <!--           Store Mode             -->
          <div class="form-group" ng-if="pData.ts_resolution_rules.value === 2">
            <div class="row">
              <div class="col-xs-12">
                <label class="control-label" data-translate="6382">From Subsidiary:</label>
              </div>
            </div>
            <div class="row m-b-5">
              <div class="col-xs-6">
                <select class="form-control" ng-change="changeSubsidiary()" ng-model="service.fromSbsSid" ng-options="s.sid as s.subsidiary_name for s in service.subsidiaries"></select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label class="control-label" data-translate="6381">To Subsidiary:</label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <select class="form-control" ng-change="changeSubsidiary()" disabled="disabled" ng-model="service.toSbsSid" ng-options="s.sid as s.subsidiary_name for s in service.subsidiaries"></select>
              </div>
            </div>
            <div class="form-group top-margin20" ng-if="service.gridList.length === 0">
              <div class="alert alert-danger" role="alert" data-translate="6535">No data found for transfer rules.</div>
            </div>
            <div class="form-group top-margin20" ng-if="service.gridList.length > 0">
              <div class="grid-items-list">
                <div class="row">
                  <div ui-i18n="{{lang}}">
                    <div ui-grid="gridOptions" class="" ui-grid-resize-columns="" ui-grid-selection="" external-scopes="gridHandlers"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <button type="button" class="btn btn-default" ng-disabled="pData.ts_resolution_rules.value === 0 || (pData.ts_resolution_rules.value === 1 && service.active)" ng-click="edit('Add')">
                <span data-translate="1.8">Add</span>
              </button>
              <button type="button" class="btn btn-default" ng-disabled="pData.ts_resolution_rules.value === 0 || !service.active" ng-click="edit('Update')">
                <span data-translate="774">Edit</span>
              </button>
              <button type="button" class="btn btn-default" ng-disabled="pData.ts_resolution_rules.value === 0 || !service.active" ng-click="delete()">
                <span data-translate="544">Delete</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-form>

