<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form" xmlns="http://www.w3.org/1999/html">
    <div class="padding20">
        <div class="row top-margin">
            <div class="col-xs-12" ng-controller="ACXZController">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1891">
                        Open/Close Settings
                    </div>
                    <div class="panel-body">
                        <div class="row top-margin20">
                            <div class="col-xs-6 padleft1">
                                <input type="checkbox" valid-levels="corporate,subsidiary,store" ng-change="checkRegisters()" ng-model="pData.struct_zout_mode.value">
                                <span data-translate="1892">Use structured Z-Outs</span>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="col-xs-6 padleft1">
                                <input valid-levels="corporate,subsidiary,store" ng-model="pData.struct_zout_open_close_counts_required.value" type="checkbox">
                                <span data-translate="1893">Require entry of open and close amounts</span>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="col-xs-6 padleft1">
                                <input ng-disabled="(!(toBoolean(pData.struct_zout_mode.value)==true&&toBoolean(pData.struct_zout_open_close_counts_required.value)))" ng-model="pData.struct_zout_open_denomination_counts_required.value" type="checkbox">
                                <span data-translate="2324">Count Denominations</span>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="col-xs-6 padleft1">
                                <input ng-disabled="(!(toBoolean(pData.struct_zout_mode.value)==true))" ng-model="pData.open_drawer_after_close.value" type="checkbox">
                                <span data-translate="6087">Open Drawer after Close</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-margin20">
            <div class="col-xs-12" ng-controller="selectMultipleCheckboxGrid">
                <div class="panel panel-default">
                    <div class="panel-heading"><span data-translate="1897">Register Definitions</span></div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive table-striped" style="margin-left: .5%;" valid-levels="corporate,subsidiary,store">
                            <thead class="ac_table">
                            <tr>
                                <th class="col-xs-4" data-translate="1125">Select</th>
                                <th class="col-xs-8" data-translate="1898">Definition</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="grid_row{{$index%2}}" ng-repeat="item in registerDefinitions">
                                    <td class="col-xs-4" align="center">
                                        <input valid-levels="corporate,subsidiary,store" ng-checked="pData.struct_zout_register_definition.value.indexOf(item.val)>-1" type="checkbox" ng-disabled="!toBoolean(pData.struct_zout_mode.value)||!levelValid" ng-click="toggleSelectMultipleCheckbox($event,item.val,reg_defs, pData.struct_zout_register_definition)">
                                    </td>
                                    <td class="col-xs-8" data-translate="{{item.txt}}">{{item.txt}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-margin20" ng-controller="ACXZReconciliationController">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading" data-translate="1901">Reconciliation Settings</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <label class="checkbox_label">
                            <input type="checkbox" valid-levels="corporate,subsidiary,store" title="{{levelValid}}" ng-disabled="!toBoolean(pData.struct_zout_mode.value)||!levelValid" ng-model="pData.struct_zout_blind_close.value">
                            <span data-translate="1903">Require Blind Close</span>
                          </label>
                        </li>
                        <li class="list-group-item">
                          <label class="checkbox_label">
                            <input type="checkbox" valid-levels="corporate,subsidiary,store" title="{{levelValid}}" ng-disabled="!toBoolean(pData.struct_zout_mode.value)||!levelValid" ng-model="pData.zout_maximum_balance_enabled.value" ng-change="resetMaxBalance()">
                            <span data-translate="6240">Enable Maximum Drawer Balance</span>
                          </label>
                          <div class="form-group">
                              <input class="form-control" numberonly="" data-format-decimal="2" required convert-to-number="" ng-disabled="!(toBoolean(pData.struct_zout_mode.value)==true)||!(toBoolean(pData.zout_maximum_balance_enabled.value)==true)" ng-model="pData.zout_maximum_balance.value" ng-change="isBalanceValid()">
                              <div class="alert alert-danger" role="alert" ng-if="!validBalance&&pData.zout_maximum_balance_enabled.value===true">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                <span data-translate="6241">Maximum drawer balance must be greater than zero when enabled.</span>
                              </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <label valid-levels="corporate,subsidiary,store" class="control-label" data-translate="2321">Allowable Reconcile Variance Amt</label>
                          <input type="text" numberonly="0.00" valid-levels="corporate,subsidiary,store" ng-disabled="!toBoolean(pData.struct_zout_blind_close.value||!levelValid)" ng-model="pData.struct_zout_blind_close_variance.value" class="form-control">
                        </li>
                        <li class="list-group-item">
                          <label class="control-label wip" data-translate="1905">Allowable Number of Attempts</label>
                          <input type="text" ng-model="pData.struct_zout_blind_close_attempts.value" class="form-control">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" ng-if="false">
                <div class="panel panel-default wip">
                    <div class="panel-heading" data-translate="1902">
                        Z-Out Sequencing
                    </div>
                    <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label class="checkbox_label">
                                        <input type="checkbox">
                                        <span data-translate="1907">Use Z-Out Sequencing</span>
                                    </label>
                                </li>
                            </ul>
                            <label class="control-label" data-translate="1908">Next Z-Out Sequence Order</label>
                            <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-margin20">
            <div class="col-xs-12" ng-controller="ACXZController">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1906">Default Leave Amounts</div>
                    <div class="panel-body height30 autoOverflow">
                        <div class="row top-margin20 dlamargleft">
                            <div class="col-xs-5">
                                <div class="container-fluid dlaborder">
                                    <div class="row">
                                        <div class="col-xs-8 dlaheader"><strong data-translate="961">Currency</strong></div>
                                        <div class="col-xs-4 dlaheader"><strong data-translate="2251">Leave Amt</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid dlarows dlarowstripe dlaborder">
                                    <div>
                                        <div class="row" ng-repeat="item in currencies">
                                            <div class="col-xs-8 dlarowcurr">{{item.currency_name | translate}}</div>
                                            <div class="col-xs-4 dlarowamt"><input numberonly="0.00" valid-levels="corporate,subsidiary,store" ng-model="leaveAmounts[item.numeric_code]" class="form-control" ng-blur="resolveLeaveAmounts()" type="text"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-margin20">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1909">Report Settings</div>
                    <div class="panel-body">
                        <div class="row top-margin20">
                          <div class="col-xs-12">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <label class="checkbox_label">
                                  <input type="checkbox" ng-model="pData.struct_zout_print_all_denominations.value">
                                  <span data-translate="6261">Print All Denominations on Z-Out</span>
                                </label>
                              </li>
                              <li class="list-group-item">
                                <label class="checkbox_label">
                                  <input type="checkbox" ng-model="pData.struct_zout_combine_sales_tax_for_vat.value">
                                  <span data-translate="1923">Combine sales &amp; tax for VAT</span>
                                </label>
                              </li>
                          </ul></div>
                        </div>
                        <div class="row">
                          <div class="col-xs-5 padleft1">
                            <label data-translate="2322">Sort Transactions By:</label>
                              <div class="row top-margin padleft1">
                                <ul class="list-group list-inline">
                                  <li class="padright3"><input ng-model="pData.struct_zout_default_sort_by.value" type="radio" value="date_time" name="sort_by"> <span data-translate="836.1">Date/Time</span></li>
                                  <li class="padright3"><input ng-model="pData.struct_zout_default_sort_by.value" type="radio" value="amount" name="sort_by"> <span data-translate="982">Amount</span></li>
                                  <li class="padright3"><input ng-model="pData.struct_zout_default_sort_by.value" type="radio" value="receipt_no" name="sort_by"> <span data-translate="1921">Receipt Number</span></li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-margin20">
            <div class="col-xs-12">
                <div class="panel panel-default">
                <div class="panel-heading" data-translate="5780">Print Non-currency Tenders</div>
                    <div class="panel-body">
                        <div class="row top-margin20 padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_check_tenders.value">
                                <span data-translate="572">Check</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_credit_card_tenders.value">
                                <span data-translate="1088">Credit Card</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_cod_tenders.value">
                                <span data-translate="2245">COD</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_charge_tenders.value">
                                <span data-translate="1089">Charge</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_store_credit_tenders.value">
                                <span data-translate="577">Store Credit</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_deposit_tenders.value">
                                <span data-translate="578">Deposit</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_payments_tenders.value">
                                <span data-translate="1090">Payments</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_gift_certificate_tenders.value">
                                <span data-translate="576">Gift Certificate</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_gift_card_tenders.value">
                                <span data-translate="575">Gift Card</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_debit_card_tenders.value">
                                <span data-translate="1091">Debit Card</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_traveler_check_tenders.value">
                                <span data-translate="2247">Traveler Check</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_foreign_currency_check_tenders.value">
                                <span data-translate="2248">Foreign Currency Check</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_central_gift_card_tenders.value">
                                <span data-translate="1028">Central Gift Card</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_central_gift_certificate_tenders.value">
                                <span data-translate="2098">Central Gift Certificate</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_central_credit_tenders.value">
                                <span data-translate="2249">Central Credit</span>
                            </div>
                        </div>
                        <div class="row padleft1">
                            <div class="col-xs-4">
                                <input type="checkbox" ng-model="pData.xzout_print_itemized_customer_loyalty_tenders.value">
                                <span data-translate="2250">Central Loyalty</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-margin20" ng-controller="ACXZController">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span data-translate="2867">Tills</span>&nbsp;&nbsp;

                    </div>
                    <div class="panel-body height30 autoOverflow" valid-levels="store">
                        <div class="row top-margin20 dlamargleft">
                            <div class="col-xs-12" ng-if="!isStore">
                              <div class="alert alert-danger" role="alert" data-translate="2330">This preference can only be set at the store level or lower.</div>
                            </div>
                            <div class="col-xs-4" ng-if="isStore">
                                <div class="container-fluid dlaborder">
                                    <div class="row">
                                        <div class="col-xs-5 dlaheader"><strong data-translate="4052">Till Name</strong></div>
                                        <div class="col-xs-5 dlaheader" style="text-align: center"><strong data-translate="586">Active</strong></div>
                                        <div class="col-xs-2 dlaheadericon"><button type="button" class="btn btn-sm btn-icon btn-default" ng-click="newTill()"><span class="glyphicon glyphicon-plus"></span></button></div>
                                    </div>
                                </div>
                                <div class="container-fluid dlarows dlarowstripe dlaborder">

                                        <div class="row" ng-repeat="till in tills">
                                            <div class="col-xs-7 dlarowcurr">{{till.till_name | translate}}</div>
                                            <div class="col-xs-3 dlarowcurr" style="text-align: center"><input ng-checked="till.active" type="checkbox" ng-model="till.active" disabled="disabled" ng-click="toggleTillActive($event, till)"></div>
                                            <div class="col-xs-1 dlarowcurr">&nbsp;</div>
                                            <div class="col-xs-1 dlarowcurr"><i class="glyphicon glyphicon-pencil" id="tillEditIcon" ng-click="editTill(till)"></i></div>
                                            <!--<div class="col-xs-1 dlarowcurr"><i class="glyphicon glyphicon-trash" id="tillRemoveIcon" ng-click="removeTill(till)"></i></div>-->
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
