<div name="image_form">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="4327">Upload Image</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="browse-wrap col-xs-12">
                        <div class="title"><span data-translate="5009">Choose file to upload</span> <span class="glyphicon glyphicon-upload" aria-hidden="true"></span></div>
                        <input type="file" accept=".png,.bmp,.jpg" class="form-control upload" input-file="" ng-model="image.data" base-sixty-four-input="undefined">
                    </div>
                </div>
                <div ng-if="image.data" class="col-xs-12">
                    <div class="img_to_upload">
                        <!-- <span ng-if="!image.data.snap" class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <span ng-if="image.data.snap" class="glyphicon glyphicon-picture" aria-hidden="true"></span> -->
                        {{image.data.filename}} ({{image.data.filesize/1024 | number}}kb)
                        <!-- <span ng-show="false" ng-click="deleteTempFile()" class="del">X</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button ng-if="!ios&&!ie" class="btn btn-primary pull-left" ng-click="picDialog()" type="button">
                <span style="margin-right: 5px" class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                <span data-translate="5010">Take Picture</span></button>
            <button ng-disabled="!image.data" class="btn btn-info" ng-click="sendImage()" data-translate="4328" type="button">Upload</button>
            <button ng-disabled="!imageDeleteAction" class="btn btn-danger" ng-click="deleteImage()" data-translate="4329" type="button">Delete Image</button>
            <button class="btn btn-info" ng-click="$dismiss()" data-translate="1.2" type="button">Cancel</button>
        </div>
    </div>
</div>
