<div ng-controller="adminConsoleController" id="ac_form">
  <component-example></component-example>
    <div class="well well-sm">
            <img src="/images/RetailProLogo160.png" class="logo-small" alt="{{ '2335' | translate }}">
            <h1 class="inline-block" data-translate="1015">Admin Console</h1>
    </div>
    <div class="container-fluid">
        <div class="row height80 autoOverflow">
            <div class="col-sm-3" ng-include="" src="nav"></div>
            <div class="col-sm-9" ui-view="">
                <div class="panel panel-body">
                    <h4 data-translate="1016"> Please select an option from the left navigation menu</h4>
                    ←
                </div>
            </div>
        </div>
        <button-bar ng-if="!isPrefs.stat" button-view="blank-doc.htm"></button-bar>
    </div>
</div>
