<div ng-if="contentReady">
    <div class="row form-group">
        <div class="col-xs-3">
            <slip-button-create layout="2"></slip-button-create>
        </div>
        <div class="col-xs-3">
            <slip-button-lookup layout="2"></slip-button-lookup>
        </div>
        <div class="col-xs-3">
            <slip-button-lookup layout="2" lookup-type="'pending'"></slip-button-lookup>
        </div>
        <div class="col-xs-3">
            <tv-access-button layout="2"></tv-access-button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3">
            <to-create-button layout="2"></to-create-button>
        </div>
        <div class="col-xs-3">
            <to-lookup-button layout="2"></to-lookup-button>
        </div>
    </div>
</div>
