<div ng-if="contentReady">
    <div class="row form-group">
        <div class="col-xs-3">
            <po-button-create></po-button-create>
        </div>
        <div class="col-xs-3">
            <po-button-lookup lookup-type="'completed'"></po-button-lookup>
        </div>
        <div class="col-xs-3">
            <po-button-lookup lookup-type="'pending'"></po-button-lookup>
        </div>
    </div>
</div>
