<div ng-if="contentReady">
    <div class="row form-group">
      <div class="col-xs-3">
        <img-btn event-name="employeeLookup" translation-name="emplTitle" img-src="'/images/customer/customer_find_48.png'" click-handler="goToEmployeeSearch" disable="denyEmployee" button-text="emplTitle">
        </img-btn>
      </div>
      <div class="col-xs-3">
        <img-btn event-name="employeeGroups" translation-name="groupTitle" img-src="'/images/customer/customer_find_48.png'" click-handler="goToEmployeeGroups" disable="denyEmployee" button-text="groupTitle">
        </img-btn>
      </div>
    </div>
</div>
