<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
<div id="centrals" class="padding20" ng-init="refreshResiliency()">
<div class="panel panel-default">
    <div class="panel-heading" data-translate="1020">
        Central Server Settings
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-xs-12">
                <button class="btn btn-default" ng-click="resiliencyRunNow()">
                  <span data-translate="4783" type="button">Run Resiliency</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <strong data-translate="4330">Service State:</strong>
            </div>
            <div class="col-xs-3">
                <strong data-translate="4331">Last Cycle:</strong>
            </div>
            <div class="col-xs-3">
                <strong data-translate="4332">Status of Last Cycle:</strong>
            </div>
            <div class="col-xs-3">
                <strong data-translate="4333">Next Cycle:</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                {{serviceState}}
            </div>
            <div class="col-xs-3">
                {{lastCycle | cleanDate}}
            </div>
            <div class="col-xs-3">
                {{cycleStatus}}
            </div>
            <div class="col-xs-3">
                {{nextCycle | cleanDate}}
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" data-translate="1024">
        Central Customers
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <label class="control-label">
                    <input ng-disabled="checkCentralServer();" ng-model="pData.centrals_customer_enabled.value" type="checkbox">
                    <span data-translate="1.9">Enabled</span>
                </label>
            </div>
            <div class="col-xs-3">
                <label class="control-label" data-translate="1025">Max Results (1-500): </label>
                <input ng-disabled="!toBoolean(pData.centrals_customer_enabled.value)" ng-model="pData.centrals_customer_max_result_set.value" numberonly="numberonly" max="500" min="1" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" data-translate="1027">
        Central Return
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <label>
                    <input ng-disabled="checkCentralServer()" ng-model="pData.centrals_returns_enabled.value" type="checkbox">
                    <span data-translate="1.9">Enabled</span>
                </label>
            </div>
            <div class="col-xs-3">
                <label class="control-label" data-translate="1025">Max Results (1-500): </label>
                <input class="form-control" numberonly="numberonly" max="500" min="1" ng-disabled="!toBoolean(pData.centrals_returns_enabled.value)" ng-model="pData.centrals_returns_max_result_set.value">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="true">
    <div class="panel-heading" data-translate="1028">
        Central Gift Card
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <label class="control-label">
                    <input ng-disabled="checkCentralServer()" ng-model="pData.centrals_gift_cards_enabled.value" type="checkbox">
                    <span class="checkbox_label" data-translate="1.9">Enabled</span>
                </label>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_promt_for_cash.value" type="checkbox">
                        <span data-translate="1029">Prompt for cash if balance is less than</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="1030">Total negative balance permitted</label>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)||!toBoolean(pData.centrals_gift_cards_promt_for_cash.value)" data-currency-formatter="" ng-model="pData.centrals_gift_cards_promt_for_cash_less_then.value" type="text" class="form-control numberonly">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input type="text" ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_negative_bal_permitted.value" data-currency-formatter="" type="text" class="form-control numberonly" ng-keydown="preventNegative()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <span data-translate="2999">When tendering by Central Gift Card restrict change from being</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <label class="control-label" data-translate="3000">
                    Offline Limit
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <select ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" class="form-control" ng-model="pData.centrals_gift_cards_restrict_change_to.value">
                        <option value="99" data-translate="3001">No Restriction</option>
                        <option value="0" data-translate="571">Cash</option>
                        <option value="5" data-translate="3002">Central / Store Credit</option>
                        <option value="10" data-translate="575">Gift Card</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_offline_limit.value" display-positive="display-positive" data-currency-formatter="" type="text" class="form-control numberonly">
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
              <div class="col-xs-12">
                <label class="control-label">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_card_mask_card_number.value" type="checkbox">
                    <span data-translate="3003">Mask card number in dialogues</span>
                </label>
                <label class="control-label">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_generate_central_id.value" type="checkbox">
                    <span data-translate="3004">Generate central ID</span>
                </label>
                <br>
              </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <label class="control-label" data-translate="3269">Purchase Limit</label>
                    <input class="form-control numberonly" data-currency-formatter="" ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_purchase_limit.value">
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-5">
          <div class="col-xs-12">
            <label class="control-label">
              <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_allow_manual_entry.value" type="checkbox">
              <span data-translate="3268">Allow Manual Entry</span>
            </label>
            <br>
          </div>
        </div>

        <div class="col-xs-5">
          <div class="col-xs-12">
            <label class="control-label ng-scope" data-translate="5741">Manage ID's By</label>
            <select ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" class="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-model="pData.centrals_gift_card_manage_ids_by.value">
              <option value="0" data-translate="1143" class="ng-scope">All</option>
              <!--<option value="1" data-translate="5742" class="ng-scope">Corporate</option>-->
              <option value="3" data-translate="562" class="ng-scope">Subsidiary</option>
              <option value="4" data-translate="683" class="ng-scope">Store</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-5">
          <div class="col-xs-12">
            <label class="control-label">
              <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.set_expiration_date_upon_activation.value" type="checkbox">
              <span data-translate="5935">Set expiration date upon activation (days from activation)</span>
              <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value) || !toBoolean(pData.set_expiration_date_upon_activation.value)" ng-model="pData.activation_expiration_date_in_days.value" type="text" numberonly="numberonly" max="100000" min="1" class="form-control">
            </label>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="col-xs-12">
            <label class="control-label">
              <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.set_maximum_value_upon_activation.value" type="checkbox">
              <span data-translate="5936">Set maximum value upon activation</span>
            </label>
           </div>
        </div>
      </div>
    </div>
</div>
<div class="panel panel-default" ng-show="true">
    <div class="panel-heading" data-translate="1039">
        Central Credit
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <label class="control-label">
                    <input ng-disabled="checkCentralServer()" ng-model="pData.centrals_credit_enabled.value" type="checkbox">
                    <span class="checkbox_label" data-translate="1.9">Enabled</span>
                </label>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <input ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_promt_for_cash.value" type="checkbox">
                        <span data-translate="1029">Prompt for cash if balance is less than</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="1030">Total negative balance permitted</label>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)||!toBoolean(pData.centrals_credit_promt_for_cash.value)" ng-model="pData.centrals_credit_promt_for_cash_less_then.value" type="text" class="form-control numberonly">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input type="text" ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" data-currency-formatter="" ng-model="pData.centrals_credit_negative_bal_permitted.value" class="form-control numberonly" ng-keydown="preventNegative()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <span data-translate="3005">When tendering by Central Credit restrict change from being</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="3000">
                        Offline Limit
                    </label>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <select ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_restrict_change_to.value" class="form-control">
                        <option value="99" data-translate="3001">No Restriction</option>
                        <option value="0" data-translate="571">Cash</option>
                        <option value="10" data-translate="575">Gift Card</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input class="form-control numberonly" data-currency-formatter="" ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_offline_limit.value" display-positive="display-positive" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <input ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_suggest_as_tender.value" type="checkbox">
                        <span data-translate="1040">Suggest Central Credit as a tender when available</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <label class="control-label" data-translate="3269">Purchase Limit</label>
                    <input class="form-control numberonly" data-currency-formatter="" ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_purchase_limit.value">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
            </div>
            <div class="col-xs-5">

            </div>
        </div>
    </div>
</div>
</div>
</ng-form>
