<ng-form name="frm">
    <div class="modal-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="modal-title"><span data-translate="3213">Time Clock</span> - <span ng-if="mode==='in'" data-translate="511">Check In</span><span ng-if="mode==='out'" data-translate="512">Check Out</span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body" ng-class="{'height20':(page==='login'&&!form.bioLoginRunning),'height30':(page==='login'&&form.bioLoginRunning),'height50':(page==='timeclock')};" style="overflow: visible;">
        <div ng-show="page==='done'">
            <h1>
                {{timeclock.employee_full_name}}
                <br>
                <span ng-if="mode==='in'" data-translate="511">Check In</span>
                <span ng-if="mode==='out'" data-translate="512">Check Out</span>
                <br>
                {{clockTime | cleanDate}}
            </h1>
        </div>
        <div ng-show="page==='login'">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="878">Employee</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <input id="tcUserName" type="text" ng-model="user.name" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="1212">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input name="tcUserPassword" type="password" ng-model="user.password" class="form-control" maxlength="24">
                </div>
            </div>
            <div class="row top-margin" ng-show="form.bioLoginRunning">
              <div class="col-xs-12">
                <div class="alert alert-info" role="alert"><span data-translate="5880">Please place your finger on the scanner.</span></div>
              </div>
            </div>
        </div>

        <div ng-show="page==='timeclock'">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label"><span data-translate="2899">{{modeTxt}}</span> <span data-translate="2900">For</span></label>
                </div>
            </div>
            <div class="row" ng-if="!noPerms">
                <div class="col-xs-10 form-group">
                    <select-associate class="form-control" ng-model="form.employee" disable="canChange" ng-required="true">
                        <option value="" style="display:none" data-translate="1358">Select...</option>
                    </select-associate>
                </div>
                <div class="col-xs-2 form-group">
                    <button ng-if="page==='timeclock'" permission="changecheckinoutemployee" ng-click="allowChangeEmployee()" permission-disabled="canChangeEmp" class="btn btn-primary btn-block" type="button"><span data-translate="1485">Change</span></button>
                </div>
            </div>
            <div class="row" ng-if="noPerms">
                <div class="col-xs-12 form-group">
                    <select class="form-control" ng-model="form.employee" ng-disabled="isEdit" ng-required="true" ng-options="x.sid as x.fullname for x in employees">
                        <option value="" style="display:none" data-translate="1358">Select...</option>
                    </select>
                </div>
            </div>
            <div class="row form-group" ng-show="!customDate&&!noPerms">
                <div class="col-xs-12" ng-if="page==='timeclock'">
                    <button ng-if="!customDate" permission="changecheckinoutdatetime" permission-disabled="canChangeDate" ng-click="customDateToggle()" class="btn btn-primary btn-block" type="button">
                        <span data-translate="2901">Edit Check</span> {{modeTxt}} <span data-translate="2902">Date / Time</span>
                    </button>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-11" ng-show="(customDate&&!noPerms) || noPerms">
                    <p class="input-group" ng-click="openCalendar($event, 'checkInDate')">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <input type="button" class="form-control" datetime-picker="medium" datepicker-options="checkInDate.datepickerOptions" ng-model="checkInDate.date" value="{{(checkInDate.date)?(checkInDate.date | date:'medium'):(checkInDate.placeholder)}}" is-open="checkInDate.open" enable-time="true" timepicker-options="checkInDate.timepickerOptions" when-closed="checkInDate.closed()" placeholder="{{checkInDate.placeholder}}">
                    </p>
                </div>
                <div class="col-xs-1" ng-show="customDate&&!noPerms">
                    <button ng-click="customDateToggle()" class="btn btn-primary btn-block" type="button">X</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label"><span data-translate="884">Note</span></label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea ng-model="form.notes" class="form-control" cols="55" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="page==='login'" class="modal-footer text-right">
        <div class="row top-margin20">
            <div class="col-xs-12">
              <button class="btn btn-default btn-lg" ng-if="isBio" event-name="biometricLogin" type="button" id="biometricLoginButton" name="biometricLoginButton" ng-click="processClockEvent(true)"><span data-translate="5937">Biometric Login</span></button>
              <button class="btn btn-primary btn-lg" ng-click="processClockEvent(false)" ng-disabled="!user.name || !user.password" type="button"><span data-translate="800">Next</span></button>
              <button class="btn btn-primary btn-lg" ng-click="$close()" type="button"><span data-translate="1.2">Cancel</span></button>
            </div>
        </div>
    </div>
    <div ng-if="page==='timeclock'" class="modal-footer text-right">
        <div class="row top-margin20">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-lrg" ng-disabled="!frm.$valid||disableCheckInOut" ng-click="clockIt()" type="button"><span data-translate="572">Check </span> {{modeTxt}}</button>
                <button class="btn btn-primary btn-lrg" ng-click="closeAndReset()" type="button"><span data-translate="1.2">Cancel</span></button>
            </div>
        </div>
    </div>
</ng-form>
