<div>
    <div class="modal-default">
        <div class="modal-header" data-translate="2897">
            Time Clock Entry
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <button class="btn btn-default btn-block" ng-click="checkInOut('in')" data-translate="511" type="button">Check In</button>
                </div>
                <div class="col-xs-6 text-center">
                    <button class="btn btn-default btn-block" ng-click="checkInOut('out')" data-translate="512" type="button">Check Out</button>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-default" ng-click="$close()" data-translate="1.2" type="button">Cancel</button>
        </div>
    </div>
</div>