<div>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" data-translate="2953">Close Order?</h4>
    </div>
    <div class="modal-body">
      <span data-translate="2952"></span>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-info" ng-click="close({print:true})" data-translate="4334" type="button">Confirm & Print</button>
      <button class="btn btn-info" ng-click="close({print:false})" data-translate="1.1" type="button">OK</button>
      <button class="btn btn-info" ng-click="close()" data-translate="1.2" type="button">Cancel</button>
    </div>
  </div>
</div>
