<div class="popover">
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content col-select" style="width:220px;">
        <ul class="list-group pop-list">
            <li class="list-group-item" ng-repeat="x in customerLookUpColumns2"><a style="cursor:pointer;display:block;width:100%;" ng-click="setSearchType(x.click);close.status=true">{{x.text}}</a></li>
        </ul>
    </div>
</div>
