<form novalidate="" id="customerInformationForm" name="form.customerInformationForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="modal-title" data-translate="585">Customer Information</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group">
                  <label class="col-xs-4 control-label" data-translate="1095">Customer Image</label>
                  <div class="col-xs-8">
                    <div class="input-group">
                        <span class="input-group-btn">
                          <button type="button" ng-click="editCustomerImage()" class="btn btn-info">
                              <span class="glyphicon glyphicon-user" style="padding-right:5px;"></span>
                              <span data-translate="6298">Edit Image</span>
                          </button>
                        </span>
                        <input type="text" class="form-control" placeholder="{{(imageRequired)?'Image Required':'Image Optional'}}" readonly="readonly">
                        <!-- <span class="input-group-addon glyphicon glyphicon-exclamation-sign" ng-if="!form.image.customer" style="color:red;position: initial;" ></span>
                        <span class="input-group-addon glyphicon glyphicon-ok" ng-if="form.image.customer" style="color:green;position: initial;"></span> -->
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label" data-translate="750">Customer ID</label>
                <div class="col-xs-8">
                  <input id="customer_id" name="customer_id" type="text" class="form-control" maxlength="10" ng-model="form.customer.customer_id">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label" data-translate="588">Title</label>
                <div class="col-xs-8">
                  <select id="title_sid" name="title_sid" title="{{ '2004' | translate }} " class="form-control" ng-model="form.customer.title_sid" ng-options="thisTitle.sid as thisTitle.title for thisTitle in titleList">
                    <option value="" selected="selected">&nbsp;</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label" data-translate="1135">Company</label>
                <div class="col-xs-8">
                    <input id="company" name="company" type="text" class="form-control" ng-focus="form.processingCompany=true" ng-blur="checkCompany()" ng-model="form.customer.company">
                  <!-- Code for dropdown linked to company input DT#8823
                  <div class="input-group">
                    <input id="company" name="company" class="form-control" ng-model="form.customer.company" />
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-translate="805">Select</span> <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="company in companyList"><a href="javascript: void(0)" ng-click="setCompany(company);$event.preventDefault()" id="{{company.sid}}">{{company.company_name}}</a></li>
                      </ul>
                    </div>
                  </div>
                  -->
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label" data-translate="637">First Name:</label>
                <div class="col-xs-8">
                  <input id="first_name" name="first_name" type="text" class="form-control" maxlength="30" ng-model="form.customer.first_name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4 text-right">
                  <p class="form-control-static">
                    <strong data-translate="636">Last Name:</strong>
                  </p>
                </div>
                <div class="col-xs-8">
                  <input id="last_name" name="last_name" type="text" class="form-control" maxlength="30" ng-model="form.customer.last_name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label" data-translate="2457">Primary Associate:</label>
                <div class="col-xs-8">
                  <select id="primary_associate" name="primary_associate" class="form-control" ng-model="form.customer.primary_clerk_sid" ng-options="e.sid as e.full_name for e in employeeList">
                    <option value="" selected="selected">&nbsp;</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" id="customerInformationSaveButton" event-name="customerEditInformationSave" name="customerInformationSaveButton" class="btn btn-lg btn-default" ng-show="!form.deleteMode" ng-disabled="customerInformationForm.$pristine || customerInformationForm.$invalid || form.processingCompany" ng-click="saveChanges()" data-translate="547">Save</button>
                        <button type="button" id="customerInformationDeleteButton" event-name="customerEditInformationDelete" name="customerInformationDeleteButton" class="btn btn-lg btn-danger" ng-show="form.deleteMode" ng-click="saveChanges()" data-translate="544">Delete</button>
                        <button type="button" id="customerInformationCancelButton" event-name="customerEditInformationCancel" name="customerInformationCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
