<form novalidate="" id="customerAddressForm" name="customerAddressForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                      <h4 class="modal-title">{{form.addressAction}} <span data-translate="1392">Address</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="536">
                        Address 1:
                    </label>
                    <div class="col-xs-8">
                        <input maxlength="40" id="address_line_1" name="address_line_1" class="form-control" type="text" required ng-readonly="form.deleteMode" ng-model="address.address_line_1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="538">
                        Address 2:
                    </label>
                    <div class="col-xs-8">
                        <input maxlength="40" id="address_line_2" name="address_line_2" class="form-control" type="text" ng-readonly="form.deleteMode" ng-model="address.address_line_2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="540">
                        Address 3:
                    </label>
                    <div class="col-xs-8">
                        <input maxlength="40" id="address_line_3" name="address_line_3" class="form-control" type="text" ng-readonly="form.deleteMode" ng-model="address.address_line_3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="541">
                        Postal Code:
                    </label>
                    <div class="col-xs-8">
                        <input maxlength="10" id="postal_code" name="postal_code" class="form-control" type="text" ng-readonly="form.deleteMode" ng-model="address.postal_code">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="591">
                        Address Type:
                    </label>
                    <div class="col-xs-8">
                        <select id="address_type_sid" name="address_type_sid" title="{{ '591' | translate }}" class="form-control" ng-disabled="form.deleteMode" ng-model="address.address_type_sid" ng-options="thisAddressType.sid as thisAddressType.type_name for thisAddressType in addressTypesList"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-4">
                      <label>
                        <input type="checkbox" id="primary_flag" name="primary_flag" ng-disabled="form.deleteMode" ng-model="address.primary_flag">
                        <span data-translate="537">Primary</span>
                    </label>
                </div>
                    <div class="col-xs-4">
                      <label>
                        <input type="checkbox" id="address_allow_contact" name="address_allow_contact" ng-disabled="form.deleteMode" ng-model="address.address_allow_contact">
                        <span data-translate="1055">Allow Contact</span>
                    </label>
                </div>
                    <div class="col-xs-4">
                      <label>
                        <input type="checkbox" id="active" name="address_active" ng-disabled="form.deleteMode" ng-model="address.active">
                        <span data-translate="586">Active</span>
                      </label>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" id="customerAddressSaveButton" event-name="customerEditAddressSave" name="customerAddressSaveButton" class="btn btn-lg btn-default" ng-show="!form.deleteMode" ng-disabled="customerAddressForm.$pristine || customerAddressForm.$invalid" ng-click="saveChanges()" data-translate="547">Save</button>
                        <button type="button" id="customerAddressDeleteButton" event-name="customerEditAddressDelete" name="customerAddressDeleteButton" class="btn btn-lg btn-danger" ng-show="form.deleteMode" ng-click="saveChanges()" data-translate="544">Delete</button>
                        <button type="button" id="contactCancelButton" event-name="customerEditAddressCancel" name="contactCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
