<form novalidate="" id="customerForm" name="customerForm" class="form-horizontal">
  <div class="container-fluid">
    <div id="customerHeader">
      <div class="col-xs-12" id="customerInfo1">
        <div class="row">
          <div class="panel panel-default form-group">
            <div class="panel-heading" style="padding:5px 5px 2px 5px">
              <div class="row">
                <div class="col-md-2">
                  <div style="max-height:100px;max-width:100px;overflow:hidden;">
                    <img ng-src="{{image.customer}}" err-src="images/nocustimage256.png" style="vertical-align:top;margin-left:-14px">
                  </div>
                </div>
                <div class="col-md-8">
                  <div style="position:relative;left:15px;" class="inline-block">
                    <h3>
                      {{customer.firstname + ' ' + customer.lastname}}
                    </h3>
                   <!--
                    <div>{{customer.primary_phone_no}}</div>
                    <div>{{customer.primary_address_line_1}}</div>
                    <div>{{customer.primary_address_line_2}}</div>
                    <div>{{customer.primary_address_line_3}} {{customer.postal_code}}</div>
                    -->
                  </div>
                </div>
                <div class="col-md-2 text-right">
                  <img-btn event-name="customerDetailActiveNotActive" permission-name="'custactivatedeactivate'" ng-show="customer.active" tabindex="123" translation-name="'586'" img-src="'/images/customer/customer_active_64x32.png'" click-handler="toggleCustomerActive" button-text="'Active'"></img-btn>
                  <img-btn event-name="navLandingDisbursementLookup" ng-show="!customer.active" permission-name="'custactivatedeactivate'" tabindex="123" translation-name="'586'" img-src="'/images/customer/customer_inactive_64x32.png'" click-handler="toggleCustomerActive" button-text="'Active'"></img-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 autoOverflow height75">
        <div class="h1">
          <div class="col-xs-12 help-block">
            <button type="button" class="btn btn-info" ng-disabled="tabs.contact" ng-click="changeTemplate('contact')"><span data-translate="4598">Contact Information</span></button>
            <button type="button" class="btn btn-info" ng-disabled="tabs.profile" ng-click="changeTemplate('profile')"><span data-translate="593">Customer Profile</span></button>
            <button type="button" class="btn btn-info" ng-disabled="tabs.history" ng-click="changeTemplate('history')"><span data-translate="1081">Customer History</span></button>
            <button type="button" class="btn btn-info" ng-disabled="tabs.held" ng-click="changeTemplate('held')"><span data-translate="6200">Held Transactions</span></button>
            <button type="button" class="btn btn-info" ng-disabled="tabs.credit" ng-click="changeTemplate('credit')"><span data-translate="4600">Credit Details</span></button>
            <button type="button" class="btn btn-info" ng-disabled="tabs.loyalty" ng-click="changeTemplate('loyalty')" ng-if="sessionInfo.preferences.pos_loyalty_enabled.toLowerCase() !== 'false'"><span data-translate="1082">Customer Loyalty</span></button>
            <button type="button" class="btn btn-info" ng-disabled="tabs.misc" ng-click="changeTemplate('misc')"><span data-translate="1928">Miscellaneous</span></button>
          </div>
        </div>
        <div ng-show="tabs.contact">
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="585">Customer Information:</span>
                </div>
                <div class="panel-body height20">
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="750">Customer ID:</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.custid}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="588">Title:</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.title}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="1135">Company</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.company}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="637">First Name:</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.firstname}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="636">Last Name:</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.lastname}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="2457">Primary Associate:</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.primaryclerk}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="533">Created Date:</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.createddatetime | cleanDate:locale}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="534">Last Edit Date:</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.modifieddatetime | cleanDate:locale}}
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button type="button" class="btn btn-info" data-permission-disabled="editCustomerInfoDisabled" data-permission="CustomersEditCustomer" ng-click="editCustomerInfo()"><span data-translate="4599">Edit Customer Information</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="1069">Phone List:</span>
                </div>
                <div id="customerInformationPhones" class="panel-body height20 autoOverflow">
                  <div class="list-group">
                    <a name="phonelink{{$index}}" id="searchPhoneResult{{$index}}" class="list-group-item" tabindex="12{{$index}}" index="{{$index}}" data-item-group="undefined" ng-repeat="thisPhone in customer.phones" ng-click="selectPhone($index)">
                      <div class="row">
                        <div class="col-xs-6">
                          <strong data-translate="1070">Phone Number:</strong> {{ thisPhone.phone_no }}<span ng-show="thisPhone.extension">.{{thisPhone.extension}}</span>
                          <input type="hidden" name="phoneSid" maxlength="30" id="searchPhoneResultSid{{$index}}" value="{{thisPhone.sid}}">
                        </div>
                        <div class="col-xs-6">
                          <input disabled="disabled" type="checkbox" ng-model="thisPhone.primary_flag">
                          <strong data-translate="537">Primary</strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <strong data-translate="542">Type:</strong> {{ thisPhone.phone_type }}
                        </div>
                         <div class="col-xs-6">
                          <input disabled="disabled" type="checkbox" ng-model="thisPhone.phone_allow_contact">
                          <strong data-translate="539">Contact</strong>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button type="button" class="btn btn-info" ng-disabled="addPhoneDisabled" ng-click="phoneAction('New')"><span data-translate="1071">Add Phone</span></button>
                      <button type="button" class="btn btn-info" ng-disabled="editPhoneDisabled" ng-click="phoneAction('Edit')"><span data-translate="1072">Edit Phone</span></button>
                      <button type="button" class="btn btn-info" ng-disabled="deletePhoneDisabled" ng-click="phoneAction('Delete')"><span data-translate="1073">Delete Phone</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="1065">Address List:</span>
                </div>
                <div id="customerInformationAddresses" class="panel-body height20 autoOverflow">
                  <div class="list-group">
                    <a name="addresslink{{$index}}" id="searchAddressResult{{$index}}" class="list-group-item" tabindex="11{{$index}}" index="{{$index}}" data-item-group="undefined" ng-repeat="thisAddress in customer.addresses" ng-click="selectAddress($index)">
                      <div class="row">
                        <div class="col-xs-12">
                          <strong data-translate="536">Address 1:</strong> {{thisAddress.address_line_1}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <strong data-translate="538">Address 2:</strong> {{thisAddress.address_line_2}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <strong data-translate="540">Address 3:</strong> {{thisAddress.address_line_3}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <strong data-translate="541">Postal Code:</strong> {{thisAddress.postal_code}}
                        </div>
                        <div class="col-xs-6">
                          <strong data-translate="542">Type:</strong> {{thisAddress.type_name}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-4">
                          <input disabled="disabled" type="checkbox" ng-model="thisAddress.primary_flag">
                          <strong class="checkbox_label" data-translate="537">Primary</strong>
                        </div>
                        <div class="col-xs-4">
                          <input disabled="disabled" type="checkbox" ng-model="thisAddress.address_allow_contact">
                          <strong class="checkbox_label" data-translate="539">Contact</strong>
                        </div>
                        <div class="col-xs-4">
                          <input disabled="disabled" type="checkbox" ng-model="thisAddress.active">
                          <strong class="checkbox_label" data-translate="586">Active</strong>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button type="button" class="btn btn-info" ng-disabled="addAddressDisabled" ng-click="addressAction('New')"><span data-translate="1066">Add Address</span></button>
                      <button type="button" class="btn btn-info" data-permission-disabled="editAddressDisabled" ng-click="addressAction('Edit')" data-permission="CustomersEditAddresses"><span data-translate="1067">Edit Address</span></button>
                      <button type="button" class="btn btn-info" ng-disabled="deleteAddressDisabled" ng-click="addressAction('Delete')"><span data-translate="1068">Delete Address</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="1074">Email List:</span>
                </div>
                <div id="customerInformationEmail" class="panel-body height20 autoOverflow">
                  <div class="list-group">
                    <a name="emaillink{{$index}}" id="searchEmailResult{{$index}}" class="list-group-item" tabindex="13{{$index}}" index="{{$index}}" data-item-group="undefined" ng-repeat="thisEmail in customer.emails" ng-click="selectEmail($index)">
                      <div class="row">
                        <div class="col-xs-6">
                          <strong data-translate="546">Email:</strong> {{ thisEmail.email_address }}
                          <input type="hidden" name="emailSid" id="searchEmailResultSid{{$index}}" value="{{thisEmail.sid}}">
                        </div>
                        <div class="col-xs-6">
                          <input disabled="disabled" type="checkbox" ng-model="thisEmail.primary_flag">
                          <strong data-translate="537">Primary</strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <strong data-translate="542">Type:</strong> {{ thisEmail.email_type }}
                        </div>
                        <div class="col-xs-6">
                          <input disabled="disabled" type="checkbox" ng-model="thisEmail.email_allow_contact">
                          <strong data-translate="539">Contact</strong>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button type="button" class="btn btn-info" ng-disabled="addEmailDisabled" ng-click="emailAction('New')"><span data-translate="1075">Add Email</span></button>
                      <button type="button" class="btn btn-info" ng-disabled="editEmailDisabled" ng-click="emailAction('Edit')"><span data-translate="1076">Edit Email</span></button>
                      <button type="button" class="btn btn-info" ng-disabled="deleteEmailDisabled" ng-click="emailAction('Delete')"><span data-translate="1077">Delete Email</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="tabs.profile">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="6595">Customer Statistics</span>
                </div>
                <div class="panel-body">
                  <div class="row form-group">
                    <div class="col-xs-12">
                      <div class="row">
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="595">Customer Since</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3079">First Sale</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3080">Last Sale</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3081">Last Return</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3082">Last Order</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="617">Total Transactions</label>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-xs-2">
                          <span>{{customerStats.createddate | cleanDate}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.firstsaledate | cleanDate}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.lastsaledate | cleanDate}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.lastreturndate | cleanDate}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.lastorderdate | cleanDate}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.totaltransactions | number}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3083">Avg. Discount Amount</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3084">Total Discounts</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3085">Sold Qty.</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3086">Return Qty.</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3087">MTD Sales</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="3088">YTD Sales</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-2">
                          <span>{{customerStats.averagediscamount | currency}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.totaldiscamount | currency}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.soldqty | number}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.returnqty | number}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.mtdsaleamt | currency}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.ytdsaleamt | currency}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="5204">MTD Returns</label>
                        </div>
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="5205">YTD Returns</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-2">
                          <span>{{customerStats.mtdreturnamt | currency}}</span>
                        </div>
                        <div class="col-xs-2">
                          <span>{{customerStats.ytdreturnamt | currency}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="tabs.history || tabs.held">
          <div ng-include="viewPath + 'customer-history-partial.htm'"></div>
        </div>
        <div ng-show="tabs.credit">
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="549">Customer Credit Profile</span>
                </div>
                <div class="panel-body height20 autoOverflow">
                  <div class="row">
                    <label class="col-xs-4 text-right">
                      <strong data-translate="550">Avail Store Credit:</strong>
                    </label>
                    <div class="col-xs-4" ng-if="isCentralCredit">
                      {{customer.centralcredit|currency}}
                    </div>
                    <div class="col-xs-4" ng-if="!isCentralCredit">
                      {{customer.storecredit|currency}}
                    </div>
                    <div class="col-xs-4">
                      <button id="getStoreCreditBalanceButton" name="getStoreCreditBalanceButton" type="button" class="btn btn-info form-control" data-permission="checkcentralcreditbal" data-permission-disabled="creditForm.$dirty" ng-click="checkCentralCreditBalance()"><span data-translate="3817">Get Balance</span></button>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-4 text-right">
                      <strong data-translate="551">Cust Discount %:</strong>
                    </label>
                    <div class="col-xs-4">
                      {{customer.suggesteddiscperc|number}}
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-4 text-right">
                      <strong data-translate="553">Price Level:</strong>
                    </label>
                    <div class="col-xs-4">
                      {{customer.pricelvlname}}
                    </div>
                    <div class="col-xs-4">
                      <button id="purchaseStoreCreditButton" name="purchaseStoreCreditButton" type="button" class="btn btn-info form-control" data-permission="createpostransaction,tendersgivestorecredit" data-permission-disabled="creditForm.$dirty" ng-click="purchaseStoreCredit()"><span data-translate="548">Purchase Store Credit</span></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="1642">Tax Area 1</strong>
                    </div>
                    <div class="col-xs-4">
                      {{customer.taxarea}}
                    </div>
                    <div class="col-xs-4 text-left">
                      <strong data-translate="722">Tax Area 2</strong>
                      {{customer.taxarea2}}
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="4511">Charge Limit</strong>
                    </div>
                    <div class="col-xs-4">
                      {{customer.creditlimit | currency}}
                    </div>
                    <div class="col-xs-4">
                      <strong data-translate="4510">Charge Balance</strong> {{customer.creditused | currency}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <label>
                        <strong data-translate="4509">Accounts Receivable</strong>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      {{customer.arflag | arFilter | translate}}
                    </div>
                    <div class="col-xs-4">
                      <div class="checkbox">
                        <label for="detax_flag">
                          <input id="detax_flag" name="detax_flag" tabindex="56" type="checkbox" disabled="disabled" ng-model="customer.detax">
                          <strong data-translate="738">Detax</strong>
                        </label>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button type="button" class="btn btn-info" ng-disabled="editCreditProfileDisabled" ng-click="editCreditProfile()"><span data-translate="4771">Edit Credit Profile</span></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="561">Store Information</span>
                </div>
                <div class="panel-body height20">
                  <div class="row">
                    <label class="col-xs-4 text-right">
                      <strong data-translate="562">Subsidiary:</strong>
                    </label>
                    <div class="col-xs-8">
                      {{customer.subsidiary_name}}
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-4 text-right">
                      <strong data-translate="683">Store:</strong>
                    </label>
                    <div class="col-xs-8">
                      {{customer.store_name}} - {{customer.store_code}}
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-4 text-right">
                      <strong data-translate="564">District:</strong>
                    </label>
                    <div class="col-xs-8">
                      {{customer.district_name}}
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-4 text-right">
                      <strong data-translate="565">Region:</strong>
                    </label>
                    <div class="col-xs-8">
                      {{customer.region_name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="566">Share Type:</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.share_type|share_type_names}}
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button type="button" class="btn btn-info" ng-disabled="editStoreInfoDisabled" ng-click="editStoreInfo()"><span data-translate="4772">Edit Store Information</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="570">Allowed Tenders</span>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="cash_tender" name="cash_tender" ng-disabled="!editMode" ng-model="allowedTenders.cash" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="571">Cash</span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="check_tender" name="check_tender" ng-disabled="!editMode" ng-model="allowedTenders.check" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="572">Check</span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="creditcard_tender" name="creditcard_tender" ng-disabled="!editMode" ng-model="allowedTenders.creditcard" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="1088">Credit Card</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="storecredit_tender" name="storecredit_tender" ng-disabled="!editMode" ng-model="allowedTenders.storecredit" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="577">Store Credit</span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="giftcertificate_tender" name="giftcertificate_tender" ng-disabled="!editMode" ng-model="allowedTenders.giftcertificate" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="576">Gift Certificate</span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="giftcard_tender" name="giftcard_tender" ng-disabled="!editMode" ng-model="allowedTenders.giftcard" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="575">Gift Card</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="debitcard_tender" name="debitcard_tender" ng-disabled="!editMode" ng-model="allowedTenders.debitcard" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="1091">Debit Card</span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="foreigncurrency_tender" name="foreigncurrency_tender" ng-disabled="!editMode" ng-model="allowedTenders.foreigncurrency" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="579">Foreign Currency</span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="central_gift_card_tender" name="central_gift_card_tender" ng-disabled="!editMode" ng-model="allowedTenders.centralgiftcard" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="1028">Central Gift Cards</span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="cod_tender" name="cod_tender" ng-disabled="!editMode" ng-model="allowedTenders.cod" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="2245">COD</span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label class="btn btn-info btn-block" ng-disabled="!editMode">
                        <input type="checkbox" id="charge_tender" name="charge_tender" ng-disabled="!editMode" ng-model="allowedTenders.charge" ng-true-value="'T'" ng-false-value="'F'">
                        <span data-translate="1089">Charge</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="tabs.loyalty">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1082">Customer Loyalty</span>
                        </div>
                        <div class="panel-body height20">
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1083">Enroll Date:</strong>
                                </div>
                                <div class="col-xs-8">
                                    <span ng-if="customerService.loyalty.active.optin">{{ customerService.loyalty.active.enrolldate | date:'yyyy-MM-dd' }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="556">Avail Loyalty Pts:</strong>
                                </div>
                                <div class="col-xs-8">
                                    <span ng-if="customerService.loyalty.active.balance === '' && !seePtsOverride">***</span>
                                    <button type="button" ng-if="customerService.loyalty.active.balance === '' && seePtsOverride" class="btn btn-xs btn-primary" data-translate="4875" ng-click="seePoints()">See points</button>
                                    <span ng-if="customerService.loyalty.active.balance !== ''">{{ customerService.loyalty.active.balance | number:lty_decimals}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1084">Loyalty Level</strong>
                                </div>
                                <div class="col-xs-8">
                                    <span ng-if="!customerService.loyalty.active.ltylvlname && customerService.loyalty.active.optin" class="lowercase" data-translate="1361">none</span>
                                    <span ng-if="customerService.loyalty.active.ltylvlname && customerService.loyalty.active.optin">{{ customerService.loyalty.active.ltylvlname}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1086">Lock Status</strong>
                                </div>
                                <div class="col-xs-8">
                                    <span ng-if="!customerService.loyalty.active.ltylvllocked && customerService.loyalty.active.optin" class="lowercase" data-translate="4876">Unlocked</span>
                                    <span ng-if="customerService.loyalty.active.ltylvllocked && customerService.loyalty.active.optin" class="lowercase" data-translate="4877">Locked</span>
                                </div>
                            </div>
                            <div class="clearfix line"></div>
                            <div class="row">
                                <div class="col-xs-4 control-label text-right">
                                    <strong data-translate="1085">Loyalty Opt</strong>
                                </div>
                                <div class="col-xs-8 text-left">
                                    <button type="button" ng-if="!customerService.loyalty.active.optin" ng-click="enrollCustomer(true,'refresh')" class="btn btn-info" ng-disabled="!canEnroll" data-translate="4878">Enroll</button>
                                    <button type="button" ng-if="customerService.loyalty.active.optin" ng-click="enrollCustomer(false,'refresh')" class="btn btn-danger" ng-disabled="!canEnroll" data-translate="4879">Disenroll</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-click="viewCustomerLoyaltyHistory()">
                                        <span data-translate="4631">Loyalty History</span></button>
                                    <button type="button" class="btn btn-info" ng-disabled="editCustomerLoyaltyDisabled" ng-click="editCustomerLoyalty()">
                                        <span data-translate="4601">Edit Customer Loyalty</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="4632">Customer's Loyalty Programs</span>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-xs-offset-4 col-xs-8 text-left">
                                    <h4 class="uppercase"><span data-translate="4880">Item-based</span>:</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.itembasedredeempgmsid}">
                                    <strong data-translate="4633">Earn Program Name</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.itembasedearnpgmname">
                                        {{ customerService.loyalty.active.itembasedearnpgmname}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.itembasedredeempgmsid}">
                                    <strong data-translate="4635">Earn Multiplier</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.itembasedearnmultiplier">
                                        {{ customerService.loyalty.active.itembasedearnmultiplier}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.itembasedredeempgmsid}">
                                    <strong data-translate="4636">Redeem Program Name</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.itembasedredeempgmname">
                                        {{ customerService.loyalty.active.itembasedredeempgmname}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.itembasedredeempgmsid}">
                                    <strong data-translate="4638">Redeem Multiplier</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.itembasedredeemmultiplier">
                                        {{ customerService.loyalty.active.itembasedredeemmultiplier}}</span>
                                </div>
                            </div>

                            <div class="clearfix line"></div>

                            <div class="row">
                                <div class="col-xs-offset-4 col-xs-8 text-left">
                                    <h4 class="uppercase"><span data-translate="4881">Total-based</span>:</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.totalbasedredeempgmsid}">
                                    <strong data-translate="4633">Earn Program Name</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.totalbasedearnpgmname">
                                        {{ customerService.loyalty.active.totalbasedearnpgmname}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.totalbasedredeempgmsid}">
                                    <strong data-translate="4635">Earn Multiplier</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.totalbasedearnmultiplier">
                                        {{ customerService.loyalty.active.totalbasedearnmultiplier}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.totalbasedredeempgmsid}">
                                    <strong data-translate="4636">Redeem Program Name</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.totalbasedredeempgmname">
                                        {{ customerService.loyalty.active.totalbasedredeempgmname}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.totalbasedredeempgmsid}">
                                    <strong data-translate="4638">Redeem Multiplier</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.totalbasedredeemmultiplier">
                                        {{ customerService.loyalty.active.totalbasedredeemmultiplier}}</span>
                                </div>
                            </div>

                            <div class="clearfix line"></div>

                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.percrewardpgmsid}">
                                    <strong data-translate="4639">Percent Reward Program Name</strong>
                                </div>
                                <div class="col-xs-7">
                                    {{ customerService.loyalty.active.percrewardpgmname}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 text-right" ng-class="{'text-muted': !customerService.loyalty.active.percrewardpgmsid}">
                                    <strong data-translate="4640">Percent Reward</strong>
                                </div>
                                <div class="col-xs-7">
                                    {{ customerService.loyalty.active.percrewarddiscountperc}}
                                </div>
                            </div>

                            <div class="clearfix line"></div>

                            <div class="row">
                                <div class="col-xs-5 text-right">
                                    <strong data-translate="4671">Item Given</strong>
                                </div>
                                <div class="col-xs-7">
                                    <span ng-if="customerService.loyalty.active.givengiftcount > 0">
                                        <span class="lowercase" data-translate="1.5">yes</span>
                                        <span class="badge">{{customerService.loyalty.active.givengiftcount}}</span>
                                    </span>
                                    <span data-translate="1.6" class="lowercase" ng-if="customerService.loyalty.active.givengiftcount === 0">no</span>
                                </div>
                            </div>

                            <div class="clearfix"><br></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="tabs.misc">
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="1093">Info and Mark Fields</span>
                </div>
                <div class="panel-body height20">
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="530">Info 1</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.info1}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="531">Info 2</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.info2}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="532">Mark 1</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.mark1}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 text-right">
                      <strong data-translate="1094">Mark 2</strong>
                    </div>
                    <div class="col-xs-8">
                      {{customer.mark2}}
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button type="button" class="btn btn-info" data-permission-disabled="editInfoMarkDisabled" data-permission="CustomersEditInfoMarkFields" ng-click="editInfoMark()"><span data-translate="4773">Edit Info and Mark Fields</span></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span data-translate="659">Notes:</span>
                </div>
                <div class="panel-body height20">
                  <textarea class="form-control" cols="50" rows="6" ng-disabled="editNotesLocked" ng-model="customer.notes" id="notes" name="notes"></textarea>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button type="button" class="btn btn-info" ng-disabled="editNotesDisabled" ng-click="editNotes()"><span data-translate="4774">Edit Notes</span></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-xs-6">
              <customer-udf></customer-udf>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button-bar button-view="nav-customer-informationbuttons-partial.htm"></button-bar>
  </div>
</form>
