<form novalidate="" id="customerInfoMarkForm" name="customerInfoMarkForm" class="form-horizontal">
<!--form novalidate="" id="customerCreditProfileForm" name="customerCreditProfileForm" class="form-horizontal"-->
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="modal-title" data-translate="1093">Info and Mark Fields</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group">
                  <label class="col-xs-4 control-label">
                      <strong data-translate="530">Info 1</strong>
                  </label>
                  <div class="col-xs-4">
                      <input maxlength="20" id="info1" name="info1" type="text" class="form-control" ng-model="customerInfo.info1" data-permission="CustomersEditInfoMarkFields">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-xs-4 control-label">
                      <strong data-translate="531">Info 2</strong>
                  </label>
                  <div class="col-xs-4">
                      <input maxlength="20" id="info2" name="info2" type="text" class="form-control" ng-model="customerInfo.info2" data-permission="CustomersEditInfoMarkFields">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-4 control-label">
                      <strong data-translate="532">Mark 1</strong>
                  </label>
                  <div class="col-xs-4">
                      <input maxlength="4" id="mark1" name="mark1" type="text" class="form-control" ng-model="customerInfo.mark1" data-permission="CustomersEditInfoMarkFields">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-4 text-right">
                      <p class="form-control-static">
                          <strong data-translate="1094">Mark 2</strong>
                      </p>
                  </div>
                  <div class="col-xs-4">
                      <input maxlength="4" id="mark2" name="mark2" type="text" class="form-control" ng-model="customerInfo.mark2" data-permission="CustomersEditInfoMarkFields">
                  </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" id="customerInfoMarkSaveButton" event-name="customerInfoMarkSave" name="customerInfoMarkSaveButton" class="btn btn-lg btn-default" ng-disabled="customerInfoMarkForm.$pristine || customerInfoMarkForm.$invalid" ng-click="saveCustomerInfo();$close()" data-translate="547">Save</button>
                        <button type="button" id="customerInfoMarkCancelButton" event-name="customerInfoMarkCancel" name="customerInfoMarkCancelButton" class="btn btn-lg btn-default" ng-click="$close()()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
