<form novalidate="" name="centralCreditForm" id="centralCreditForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 data-translate="642">Purchase Customer Store Credit</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <div class="col-xs-12" data-translate="1145">
                        Enter the amount of store credit to be purchased for this customer.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-5">
                        <label class="control-label" data-translate="644">Amount To Purchase:</label>
                        <div ng-if="(purchaseLimit*1)!==0">
                            (<em data-translate="3270">max.</em> {{purchaseLimit | currency}})
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <input type="tel" ng-if="(purchaseLimit*1)!==0" class="form-control" id="creditToAdd1" name="creditToAdd" placeholder="{{ '2048' | translate }} " data-currency-formatter="price" numberonly max="{{purchaseLimit}}" min="0" ng-keydown="checkKey($event)" ng-model="credit.creditToAdd" ng-focuser="creditToAddFocus" ng-change="calculateNewCreditBalance()">
                        <input type="tel" ng-if="(purchaseLimit*1)===0||purchaseLimit===undefined" class="form-control" id="creditToAdd2" name="creditToAdd" placeholder="{{ '2048' | translate }} " data-currency-formatter="price" numberonly min="0" ng-keydown="checkKey($event)" ng-model="credit.creditToAdd" ng-focuser="creditToAddFocus" ng-change="calculateNewCreditBalance()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-5 control-label" data-translate="645">Current Balance:</label>
                    <div class="col-xs-7">
                        <input type="text" ng-readonly="true" data-currency-formatter ng-model="customer.central_credit" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">
                        <p class="form-control-static">
                            <strong data-translate="646">New Balance:</strong>
                        </p>
                    </div>
                    <div class="col-xs-7">
                        <input type="text" ng-readonly="true" class="form-control" data-currency-formatter ng-model="credit.newCreditBalance">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button type="submit" ng-disabled="overLimit||(credit.creditToAdd === 0)" event-name="centralCentralCreditPurchaseTender" id="doCentralCreditTransaction" name="doCentralCreditTransaction" class="btn btn-lg btn-default" ng-click="doTransaction()"><span data-translate="643">Tender Transaction</span></button>
                    <button type="button" event-name="customerCentralCreditPurchaseCancel" id="cancelPurchaseCentralCredit" name="cancelPurchaseCentralCredit" class="btn btn-lg btn-default" ng-click="$close()"><span data-translate="1.2">Cancel</span></button>
                </div>
            </div>
        </div>
    </div>
</form>
