<form novalidate="" name="customerStoreCreditForm" id="customerStoreCreditForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 data-translate="642">Purchase Customer Store Credit</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <div class="col-xs-12" data-translate="1145">
                        Enter the amount of store credit to be purchased for this customer.
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-5 control-label">
                        <span data-translate="644">Amount To Purchase:</span>
                    </label>
                    <div class="col-xs-7">
                        <input type="tel" class="form-control" id="creditToAdd" name="creditToAdd" placeholder="{{ '2048' | translate }} " min="0" ng-keydown="checkKey($event)" data-currency-formatter="currency" numberonly ng-model="credit.creditToAdd" ng-focuser="creditToAddFocus" ng-change="calculateNewCreditBalance()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-5 control-label" data-translate="645">Current Balance:</label>
                    <div class="col-xs-7">
                        <input type="text" ng-readonly="true" data-currency-formatter="" numberonly="" ng-model="customer.storecredit" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right">
                        <p class="form-control-static">
                            <strong data-translate="646">New Balance:</strong>
                        </p>
                    </div>
                    <div class="col-xs-7">
                        <input type="text" ng-readonly="true" class="form-control" data-currency-formatter="" numberonly="" ng-model="credit.newCreditBalance">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button type="submit" ng-disabled="overLimit||(credit.creditToAdd === 0)" event-name="customerCreditPurchaseTender" id="doTransaction" name="doTransaction" class="btn btn-lg btn-default" ng-click="doTransaction()"><span data-translate="643">Tender Transaction</span></button>
                    <button type="button" event-name="customerCreditPurchaseCancel" id="cancelPurchaseStoreCredit" name="cancelPurchaseStoreCredit" class="btn btn-lg btn-default" ng-click="cancelPurchaseStoreCredit()"><span data-translate="1.2">Cancel</span></button>
                </div>
            </div>
        </div>
    </div>
</form>
