<ng-form name="avl_form" ng-controller="customer_history_ctrl">
        <div class="row" ng-if="tabs.history">
            <div ng-if="showHistorySearch" class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span data-translate="826" class="ng-scope">Filters</span>
                    </div>
                    <div class="panel-body height55">
                        <div class="container-fluid">
                            <div class="alert alert-danger" role="alert" ng-if="before>today">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              <span data-translate="5088">The From date cannot be greater than the To date.</span>
                            </div>
                            <!-- Need remove this div - dateinput directive have some side effect when changing date value -->
                            <div ng-if="today>before">
                                <span>{{dateChange(before,today)}}</span>
                            </div>
                            <div class="row form-group">
                                <label data-translate="1451">From Date:</label>
                                <dateinput ng-model="before"></dateinput>
                            </div>
                            <div class="row form-group">
                                <label data-translate="1452">To Date:</label>
                                <dateinput ng-model="today"></dateinput>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <label class="control-label" data-translate="610">Transaction Type:</label>
                                    <select id="itemType" tabindex="3" class="form-control" ng-model="fields.transaction_type">
                                        <option value="all" data-translate="1143">All</option>
                                        <option value="1" data-translate="974">Sales</option>
                                        <option value="3" data-translate="2998">Orders</option>
                                        <option value="2" data-translate="1713">Returns</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <label class="control-label" data-translate="2726">Search By:</label>
                                    <select class="form-control" ng-model="selected.activeField" ng-change="addSearchField(s)" ng-options="s as s.name | translate for s in searchColumns">
                                        <option value="" style="display:none" data-translate="1358">Select...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="autoOverflow height20">
                                <div class="row form-group" ng-repeat="field in searchFields track by $index">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button class="btn btn-default" ng-click="addSearchField(field)" type="button"><span class="glyphicon glyphicon-plus"></span></button> <label class="control-label">{{field.name | translate}}</label>
                                            </div>
                                        </div>
                                        <div class="row" ng-repeat="sValue in field.searchValues track by $index">
                                            <div class="col-xs-10" ng-if="field.name !== '768'">
                                                <input class="form-control" type="{{field.datatype.toLowerCase() === 'string'?'text':'number'}}" ng-blur="checkIt(field)" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" ng-keypress="submitEnter($event,field,$index)" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">
                                            </div>
                                            <div class="col-xs-10" ng-if="field.name === '768'">
                                                <select class="form-control" ng-model="field.searchValues[$index]">
                                                    <option value="" data-translate="1358">Select...</option>
                                                    <option value="1" data-translate="746">Sale</option>
                                                    <option value="2" data-translate="747">Return</option>
                                                    <option value="3" data-translate="749">Order</option>
                                                    <option value="4" data-translate="748">Exchange</option>
                                                    <option value="5" data-translate="1486">Void</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-2 text-right">
                                                <button class="btn btn-default" ng-click="removeSearchField(field,$index,$parent.$index)" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-info" ng-click="clearCH();" data-translate="1335" type="button">Clear</button>
                        <button class="btn btn-info" ng-click="historySearch()" ng-disabled="before>today" data-translate="630" type="button">Search</button>
                    </div>
                </div>
            </div>
            <div ng-class="{'col-xs-9': showHistorySearch, 'col-xs-12': !showHistorySearch}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <!-- <div class="col-xs-2"> -->
                                <button class="btn btn-default" ng-click="toggleFilters();">
                                    <i class="glyphicon" ng-class="{'glyphicon-chevron-left': showHistorySearch, 'glyphicon-chevron-right': !showHistorySearch}"></i>
                                    <span data-translate="826">Filters</span>
                                </button>&nbsp;
                            <!-- </div>
                            <div class="col-xs-10"> -->
                                <span data-translate="1081" style="vertical-align:-webkit-baseline-middle;">Customer History</span>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="panel-body height55">
                         <div class="row extended-height" ui-i18n="{{lang}}">
                             <div id="grid1" ui-grid-resize-columns="" ui-grid-selection="" ui-grid="itemGridOptions" external-scopes="gridHandlers" class="ch-grid" style="width:100%"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                         <div class="row">
                            <div class="col-xs-3">
                              <span translate="1461">Found</span> {{totalItemRecords}} <span translate="1403">Transaction Items</span>
                            </div>
                            <div class="col-xs-6 text-center">
                                <paging-control ng-if="itemGridOptions.data.length>0&&totalItemRecords" total-records="totalItemRecords" grid-reference="gridApi" results-per-page="pageSize" call-back="getData"></paging-control>
                            </div>
                            <div class="col-xs-3 text-right">
                                <button class="btn btn-info" ng-disabled="!activeItem" ng-click="selectTransaction()" data-translate="606" type="button">Go to Transaction</button>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="tabs.held">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="6200">
                        Held Transactions
                    </div>
                    <div class="panel-body height55">
                        <div class="row extended-height" ui-i18n="{{lang}}">
                            <div id="heldgrid1" ui-grid-resize-columns="" ui-grid-selection="" ui-grid="heldDocumentGridOptions" class="ch-grid" style="width:100%"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-2">
                                <span translate="1461">Found</span> {{totalHeldDocRecords}} <span translate="1396">Transactions</span>
                            </div>
                            <div class="col-xs-6 text-center">
                                <paging-control ng-if="heldDocumentGridOptions.data.length>0&&totalHeldDocRecords" total-records="totalHeldDocRecords" results-per-page="pageSize" call-back="getHeldDocData"></paging-control>
                            </div>
                            <div class="col-xs-4 text-right">
                                <button class="btn btn-info" ng-disabled="!activeItem" ng-click="selectTransaction()" data-translate="606" type="button">Go to Transaction</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</ng-form>
