<form novalidate="" id="customerCreditProfileForm" name="form.customerCreditProfileForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="modal-title" data-translate="549">Customer Credit Profile</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group">
                  <label class="col-xs-4 control-label">
                      <strong data-translate="551" class="ng-scope">Cust Discount %</strong>
                  </label>
                  <div class="col-xs-4">
                      <input autoselect="true" type="tel" id="suggested_discount_percent" name="suggested_discount_percent" class="form-control ng-scope ng-pristine ng-valid" numberonly ng-model="form.customer.suggesteddiscperc">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-xs-4 control-label">
                      <strong data-translate="553" class="ng-scope">Price Level</strong>
                  </label>
                  <div class="col-xs-4">
                      <select id="price_level_sid" name="price_level_sid" class="form-control ng-pristine ng-valid" ng-model="form.customer.pricelvlsid" ng-options="p.sid as p.pricelvlname for p in pricelevelList"><option value="?" selected="selected"></option></select>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-4 text-right">
                      <p class="form-control-static">
                          <strong data-translate="554" class="ng-scope">Tax Area</strong>
                      </p>
                  </div>
                  <div class="col-xs-4">
                      <select id="tax_area_sid" name="tax_area_sid" class="form-control ng-pristine ng-valid" ng-model="form.customer.taxareasid" ng-options="thisTaxArea.sid as thisTaxArea.tax_area_name for thisTaxArea in taxAreasList"><option value="?" selected="selected"></option></select>
                  </div>
                  <div class="col-xs-4">
                      <div class="checkbox">
                          <label for="detax_flag">
                              <input id="detax_flag" name="detax_flag" tabindex="56" type="checkbox" value="true" ng-model="form.customer.detax">
                              <strong data-translate="738">Detax</strong>
                          </label>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" id="customerCreditProfileSaveButton" event-name="customerEditCreditProfileSave" name="customerCreditProfileSaveButton" class="btn btn-lg btn-default" ng-show="!form.deleteMode" ng-disabled="customerCreditProfileForm.$pristine || customerCreditProfileForm.$invalid" ng-click="saveChanges()" data-translate="547">Save</button>
                        <button type="button" id="customerCreditProfileDeleteButton" event-name="customerEditInformationDelete" name="customerCreditProfileDeleteButton" class="btn btn-lg btn-danger" ng-show="form.deleteMode" ng-click="saveChanges()" data-translate="544">Delete</button>
                        <button type="button" id="customerCreditProfileCancelButton" event-name="customerEditInformationCancel" name="customerCreditProfileCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
