<ng-form name="pref_form" ng-controller="formStatEmitter" ng-if="pData" class="pref_form">
    <div class="padding20" ng-controller="acEFTController">
      <div class="row">
        <div class="col-xs-6">
          <label data-translate="6618">Select EFT Provider:</label>
          <select id="selectedProvider" ng-model="pData.eft_provider.value" class="form-control" ng-change="updateProvider()">
            <option value="0" data-translate="1361">None</option>
            <option value="1" data-translate="5278">Cayan/Genius</option>
            <option value="2" data-translate="5302">B+S Card Service</option>
            <option value="3" data-translate="6619">Adyen</option>
            <option value="4" data-translate="3291">Custom</option>
          </select>
        </div>
      </div>
      <div class="row" ng-if="pData.eft_provider.value==='1'">
        <div class="col-xs-12">
          <div class="row form-group">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">
                    <label class="checkbox_label">
                        <input type="checkbox" ng-model="pData.eft_mw_use_genius_device.value">
                        <span data-translate="1155">Use Genius Device</span>
                      </label>
                </div>
              </div>              
            </div>
            <div class="col-xs-6 text-right" ng-controller="eftConfigController">
              <div class="eft_addy_pop inline-block fade-in" ng-show="dOn">
                <button ng-click="dOn=!dOn" class="btn btn-default btn-icon glyphicon glyphicon-chevron-right" type="button"></button>
                <button ng-click="setDefaults()" class="btn btn-primary" type="button"><span data-translate="2923">Standard Defaults</span></button>
                <button ng-click="setDefaults(true)" class="btn btn-primary" type="button"><span data-translate="2924">SNF Defaults</span></button>
              </div>
              <button ng-click="dOn=!dOn" ng-show="!dOn" class="btn btn-default btn-inline" type="button"><span data-translate="2925">Load Default Addresses</span></button>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <label class="control-label" data-translate="1156">Logo Location</label>
              <input placeholder="{{ '2049' | translate }} " ng-model="pData.eft_mw_logo_location.value" type="text" class="form-control">
            </div>
            <div class="col-xs-6">
              <label class="control-label" data-translate="1157">Redirect Location</label>
              <input placeholder="{{ '2050' | translate }} " ng-model="pData.eft_mw_redirect_location.value" type="text" class="form-control">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <label class="control-label" data-translate="1158">Credit Schema</label>
              <input placeholder="{{ '2051' | translate }} " ng-model="pData.eft_mw_credit_schema.value" type="text" class="form-control">
            </div>
            <div class="col-xs-6">
              <label class="control-label" data-translate="1159">Gift Schema</label>
              <input placeholder="{{ '2052' | translate }} " ng-model="pData.eft_mw_gift_schema.value" type="text" class="form-control">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <label class="control-label" data-translate="1160">Credit Endpoint</label>
              <input placeholder="{{ '2053' | translate }} " ng-model="pData.eft_mw_credit_endpoint.value" type="text" class="form-control">
            </div>
            <div class="col-xs-6">
              <label class="control-label" data-translate="1161">Gift Endpoint</label>
              <input placeholder="{{ '2054' | translate }} " ng-model="pData.eft_mw_gift_endpoint.value" type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <label class="control-label">
                <span data-translate="1162">Merchant Name</span>
                <em ng-show="isAdmin">
                  <a ng-click="setTestData()" data-translate="1168">
                    Use Test Data
                  </a>
                </em>
              </label>
            </div>
            <div class="col-xs-3">
              <label class="control-label" data-translate="1163">Merchant Site ID</label>
            </div>
            <div class="col-xs-6">
              <label class="control-label" data-translate="1164">Merchant Key</label>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-3">
              <input ng-model="pData.eft_mw_merchant_name.value" type="text" class="form-control">
            </div>
            <div class="col-xs-3">
              <input ng-model="pData.eft_mw_merchant_site_id.value" type="text" class="form-control">
            </div>
            <div class="col-xs-6">
              <input ng-model="pData.eft_mw_merchant_key.value" type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <label class="control-label" data-translate="1165">Software Name</label>
              <input ng-model="pData.eft_mw_software_name.value" type="text" class="form-control">
            </div>
            <div class="col-xs-3">
              <label class="control-label" data-translate="1166">Software Version</label>
              <input ng-model="pData.eft_mw_software_version.value" type="text" class="form-control">
            </div>
            <div class="col-xs-6">
              <label class="control-label" data-translate="1167">Web Transaction Server</label>
              <input placeholder="{{ '2055' | translate }} " class="form-control" ng-model="pData.eft_mw_web_transaction_server.value" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <label class="control-label" data-translate="5027">Terminal ID</label>
              <input ng-model="pData.eft_mw_terminal_id.value" numberonly="" type="text" class="form-control" maxlength="16" min="0" max="9999999999999999">
            </div>
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
            </div>
        </div>
      </div>
      </div>

    </div>
</ng-form>

