<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="col-xs-12" ng-controller="ACEmployee">
      <div class="row">
        <div class="col-xs-6">
          <div class="row form-group">
            <div class="col-xs-12">
              <label for="req_user" class="checkbox_label">
                <input id="req_user" ng-model="pData.employee_general_require_user_to_select_associate_on_new_transactions.value" type="checkbox">
                <span data-translate="1171">Require user to select an associate on new transactions</span>
              </label>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-12">
              <input type="checkbox" id="use_simple_timeclock" ng-model="pData.simple_timeclock.value"> <label class="control-label" data-translate="2926">Use simple time clock</label>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-4">
              <label class="control-label" data-translate="4907">Display Associate As</label>
              <select class="form-control" ng-disable="isEmployeeConfigurable" ng-model="pData.employee_general_show_associate_as.value">
                <option ng-value="" style="display:none" data-translate="1358">Select...</option>
                <option value="first_name,last_name" data-translate="4896">First Name, Last Name</option>
                <option value="last_name,first_name" data-translate="4897">Last Name, First Name</option>
                <option value="username" data-translate="1211">User Name</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row form-group">
            <div class="col-xs-12">
              <label for="enable_lock" class="checkbox_label">
                <input id="enable_lock" ng-model="pData.auto_lock_workstation_timer_enabled.value" type="checkbox">
                <span data-translate="5489">Automatically Lock Workstation</span>
              </label>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <label class="control-label">
                <span data-translate="5490">Minutes of Inactivity before Lock</span>
              </label>
            </div>
            <div class="col-xs-6">
              <input class="form-control" id="lock_timer" ng-model="pData.auto_lock_workstation_timer.value" type="text" numberonly="" decimals="0">
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-danger" ng-if="!isStore" role="alert" data-translate="4895">Additional employee settings require your context be set to the Store Level</div>
      <div class="row" ng-if="isStore">
        <div ng-if="false" class="col-xs-6">
                <div class="row" ng-controller="selectMultipleCheckboxGrid">
                    <div class="col-xs-12">
                        <label class="control-label" data-translate="1181">New Employee Required Fields</label>
                        <table class="table table-responsive table-bordered table-striped table-centered">
                            <thead class="ac_table">
                            <tr>
                                <th data-translate="1127">Customer Field</th>
                                <th data-translate="1128">Required</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="grid_row{{$index%2}}" ng-repeat="item in employeeRequiredFields">
                                <td class="align-left">{{item.txt | translate}}</td>
                                <td><input type="checkbox" ng-model="nothing" ng-click="toggleSelectMultipleCheckbox($event,item.val,employee_required_fields,pData.employee_general_new_emp_required_fields);" ng-checked="isCheckBoxSelected(item.val,employee_required_fields)"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <div class="col-xs-6">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <label class="control-label" for="def_assc" data-translate="1170">Default associate to use for new transactions</label>
                        <select-associate id="def_assc" ng-model="pData.employee_general_default_associate_for_new_transactions.value">
                    </select-associate></div>
                  </div>

                <div ng-show="false" class="row">
                    <div class="col-xs-12">
                        <label for="emp_cust" class="checkbox_label">
                            <input id="emp_cust" ng-model="pData.employee_general_enable_new_employee_as_cust.value" type="checkbox">
                            <span data-translate="1173">Enable new employees as customer</span>
                        </label>
                    </div>
                </div>
                <div ng-show="false" class="row">
                    <div class="col-xs-12">
                        <label data-translate="1174">Require Employee Login</label>
                        <ul class="list-group">
                            <li class="list-group-item"><input id="rec_pos" ng-model="pData.employee_general_generate_high_security_receipts_for_pos.value" type="checkbox"> <label for="rec_pos" class="checkbox_label" data-translate="1175"> Point of Sale Transaction</label></li>
                            <li class="list-group-item"><input id="rec_vouch" ng-model="pData.employee_general_generate_high_security_receipts_for_vouchers.value" type="checkbox"> <label for="rec_vouch" class="checkbox_label" data-translate="1176"> Vouchers</label></li>
                            <li class="list-group-item"><input id="rec_ts" ng-model="pData.employee_general_generate_high_security_receipts_for_transferslips.value" type="checkbox"> <label for="rec_ts" class="checkbox_label" data-translate="1177"> Transfer Slips</label></li>
                            <li class="list-group-item"><input id="rec_am" ng-model="pData.employee_general_generate_high_security_receipts_for_adjustments.value" type="checkbox"> <label for="rec_am" class="checkbox_label" data-translate="1178"> Adjustment Memos</label></li>
                        </ul>
                    </div>
                </div>
                <div ng-show="false" class="row">
                    <div class="col-xs-12">
                        <label for="req_comm_lock" class="control-label">
                        <input id="req_comm_lock" ng-model="pData.employee_general_require_comment.value" type="checkbox">
                            <span data-translate="1180">Require comment when manually locking or unlocking an employee</span>
                        </label>
                    </div>
                </div>
            </div>
      </div>
    </div>

</ng-form>
