<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
  <div class="row" ng-controller="ACEmployee">
    <div class="col-xs-12">
      <div class="alert alert-danger" data-translate="6397" ng-if="!(contextState.level === 'corporate' || contextState.level === 'subsidiary')">
        Require context be set to Corporation or Subsidiary level.
      </div>
    </div>
    <div class="col-xs-12" ng-show="(contextState.level === 'corporate' || contextState.level === 'subsidiary')">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 data-translate="6398">Employee Password Policy</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-1">
                  <input type="checkbox" ng-model="pData.enforce_strong_password.value">
                </div>
                <div class="col-xs-11">
                  <span data-translate="5685">Enforce strong passwords</span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-1">
                  <input type="checkbox" ng-model="pass_history" ng-change="initValue('enforce_password_history', 'pass_history', '1', '0')">
                </div>
                <div class="col-xs-5">
                  <span data-translate="6399">Enforce password history for</span>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" ng-disabled="!pass_history" required ng-model="pData.enforce_password_history.value" change-input="" limit="9999">
                </div>
                <div class="col-xs-2">
                  <span data-translate="6402">day(s)</span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-1">
                  <input type="checkbox" ng-model="pass_expiry" ng-change="initValue('password_expires_after', 'pass_expiry', '1', '0');initValue('prompt_before_expiration', 'pass_expiry', '1', '0')">
                </div>
                <div class="col-xs-5">
                  <span data-translate="6401">Password expires after</span>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" ng-disabled="!pass_expiry" required ng-model="pData.password_expires_after.value" change-input="" limit="9999">
                </div>
                <div class="col-xs-2">
                  <span data-translate="6402">day(s)</span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-1">
                  <!-- <input type="checkbox" ng-model="pass_expiry_prompt" ng-change="initValue('prompt_before_expiration', 'pass_expiry_prompt', '1', '0')"> -->
                </div>
                <div class="col-xs-5">
                  <span data-translate="6403">Prompt changing password before expiration</span>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" ng-disabled="!pass_expiry" required ng-model="pData.prompt_before_expiration.value" change-input="" limit="9999">
                </div>
                <div class="col-xs-2">
                  <span data-translate="6402">day(s)</span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-1">
                  <input type="checkbox" ng-model="lock_attempts" ng-change="initValue('lock_after_failed_logon_attempts', 'lock_attempts', '1', '0');initValue('lockout_duration', 'lock_attempts', '1', '0')" change-input="" limit="9999">
                </div>
                <div class="col-xs-5">
                  <span data-translate="6404">Lock user account after</span>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" ng-disabled="!lock_attempts" required ng-model="pData.lock_after_failed_logon_attempts.value" change-input="" limit="9999">
                </div>
                <div class="col-xs-2">
                  <span data-translate="6405">failed login attempts</span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-1">
                  <!-- <input type="checkbox" ng-model="lock_duration" ng-change="initValue('lockout_duration', 'lock_duration', '1', '0')"> -->
                </div>
                <div class="col-xs-5">
                  <span data-translate="6406">User account lockout duration</span>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" ng-disabled="!lock_attempts" required ng-model="pData.lockout_duration.value" change-input="" limit="9999">
                </div>
                <div class="col-xs-2">
                  <span data-translate="6407">minute(s)</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-form>