<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="3294">Inactive Store</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12" data-translate="3336">
                This workstation is assigned to an inactive store.  Contact your system administrator for more information.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <div class="col-xs-6" ng-controller="acAcess">
                    <button event-name="mainAdminConsole" data-permission="accessadminconsole" class="btn btn-default btn-lg btn-block" ng-click="closeModal(); goToAdminConsole();" type="button"><span data-translate="1264">Admin Console</span></button>
                </div>
                <div class="col-xs-2 pull-right">
                    <button event-name="mainExit" id="exitPrismButton" name="exitPrismButton" class="btn btn-default btn-lg btn-block" ng-click="releaseSeat()" type="button"><span data-translate="0.1">Exit</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
