<div class="hal-tab-container" ng-controller="HALSettings">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-3">
                    <select ng-change="getProxy()" ng-model="activeProxy" ng-options="s.sid as s.workstation_name for s in proxies" class="form-control hal_select">
                        <option style="display:none" value="" data-translate="2215">Select HAL...</option>
                    </select>
                </div>
                <ul ng-show="activeProxy!='0'" class="nav nav-tabs col-xs-9 hal-buttons">
                    <li ng-class="hal_settings_t"><a href="javascript:void(0);" ng-click="setHALTab('hal_settings_t','updateProxy')" data-translate="1200">HAL Settings</a></li>
                    <li ng-class="line_display_t"><a href="javascript:void(0);" ng-click="setHALTab('line_display_t','saveLineDisplay')" data-translate="3305">Shopper Display</a></li>
                    <li ng-class="cashdrawers_t"><a href="javascript:void(0);" ng-click="setHALTab('cashdrawers_t','saveCashDrawers')" data-translate="1202">Cash Drawers</a></li>
                    <li ng-class="opos_printers_t"><a href="javascript:void(0);" ng-click="setHALTab('opos_printers_t','saveOPOSPrinters')" data-translate="5502">OPOS Printers</a></li>
                    <li ng-class="genius_t"><a href="javascript:void(0);" ng-click="setHALTab('genius_t','saveCEDs')" data-translate="1203">Genius Device</a></li>
                    <li ng-class="cust_t"><a href="javascript:void(0);" ng-click="setHALTab('cust_t')">Customizations {{cust_t}}</a></li>
                </ul>
            </div>
            <div class="row">
              <ng-form name="halsettings" ng-show="activeProxy!='0'">
                <div class="hal-tab col-xs-12" ng-show="HALTab=='hal_settings_t'">
                  <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1929">
                      General Settings
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-2">
                          <label class="control-label" data-translate="50.3">
                            Port:
                          </label>
                        </div>
                        <div class="col-xs-3">
                          <label class="control-label" data-translate="1205">
                            Log Level:
                          </label>
                        </div>
                        <div class="col-xs-7"> </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-2">
                          <input type="text" class="form-control" ng-model="proxy.local_port" ng-disabled="activeProxy=='0'">
                        </div>
                        <div class="col-xs-3">
                          <select class="form-control" ng-disabled="activeProxy=='0'" ng-model="proxy.config.proxylog.loglevel" ng-options="s.val as s.text | translate for s in loglevels">
                          </select>
                        </div>
                        <div class="col-xs-7">
                          <input type="checkbox" ng-disabled="activeProxy=='0'" ng-model="proxy.config.proxylog.livelogging">
                          <label class="control-label" data-translate="1206">Live Logging</label>
                          <input style="margin-left:10px;" type="checkbox" ng-disabled="activeProxy=='0'" ng-model="proxy.config.proxylog.codesiteactive">
                          <label class="control-label" data-translate="1207">CodeSite</label>
                          <input style="margin-left:10px;" type="checkbox" ng-disabled="activeProxy=='0'" ng-model="proxy.config.proxylog.debugstacktraceactive">
                          <label class="control-label" data-translate="1208">Stack Trace</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 pull-right margintop modal-footer">
                    <button class="btn btn-default" value="Save" ng-disabled="!halsettings.$dirty" ng-click="updateProxy()" type="button"><span data-translate="547">Save</span></button>
                    <button class="btn btn-default" ng-click="$close()" type="button"><span data-translate="0.1">Exit</span></button>
                  </div>
                </div>
                <div class="hal-tab col-xs-12" ng-show="lineDisplays.length==undefined&&HALTab=='line_display_t'">
                  <div class="row">
                    <div class="col-xs-12 pull-right modal-footer">
                      <button type="button" class="btn btn-default" ng-click="$close()"><span data-translate="0.1">Exit</span></button>
                    </div>
                  </div>
                </div>
                <div class="hal-tab col-xs-12" ng-show="lineDisplays.length>0&&HALTab=='line_display_t'">
                  <div class="row">
                    <div class="col-xs-12">
                      <table class="table table-responsive table-bordered table-striped col-xs-12">
                        <thead>
                        <tr>
                          <th data-translate="544">Delete</th>
                          <th data-translate="1215">LDN:</th>
                          <th data-translate="1216">Claim Time Out</th>
                          <th data-translate="1217">CharSet</th>
                          <th data-translate="586">Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in lineDisplays">
                          <td class="center">
                            <button ng-show="$index!=0" class="btn btn-default btn-icon" ng-click="deleteHardware(s);lineDisplays.splice($index,1);" title="{{ '1227' | translate }} " type="button">
                              <span class="glyphicon glyphicon-remove"></span>
                            </button>
                          </td>
                          <td>{{s.config.opos.ldn}}</td>
                          <td class="center"><input ng-show="$index!=0" class="form-control" ng-disabled="activeLineDisplay.ld1!=s.sid" type="number" ng-model="s.config.opos.claimtimeout"></td>
                          <td class="center"><input ng-show="$index!=0" class="form-control" ng-disabled="activeLineDisplay.ld1!=s.sid" type="number" ng-model="s.config.opos.charset"></td>
                          <td class="center"><input type="radio" ng-model="activeLineDisplay.ld1" ng-value="s.sid" name="ld1"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-xs-12 pull-right modal-footer">
                      <span ng-show="lineDisplayValid()" class="red" data-translate="1218">The line display is disabled for this workstation.</span>
                      <button class="btn btn-default" ng-disabled="!halsettings.$dirty" ng-click="saveLineDisplay()" type="button"><span data-translate="547">Save</span></button>
                      <button class="btn btn-default" ng-click="$close()" type="button"><span data-translate="1.2">Exit</span></button>
                    </div>
                  </div>
                </div>
                <div class="hal-tab col-xs-12" ng-show="HALTab=='genius_t'">
                  <div class="row">
                    <div class="col-xs-12">
                      <label for="mini">Use Genius Mini</label>
                      <input type="checkbox" ng-disabled="CEDs.length>0" ng-model="geniusMini" ng-change="geniusMiniPrefChange()">
                    </div>
                    <div class="col-xs-12">
                      <button ng-click="addCED()" class="btn btn-default" ng-disabled="geniusMini || CEDs.length > 0"><span data-translate="1219">+ Add Genius Device</span></button>
                      <table class="table table-responsive table-bordered table-striped col-xs-12" ng-show="CEDs.length>0||mode==='add'">
                        <thead>
                        <tr>
                          <th data-translate="544" style="width:50px;">Delete</th>
                          <th data-translate="1215">LDN</th>
                          <th data-translate="1220">IP Address</th>
                          <th data-translate="1221">Port</th>
                          <th style="width:110px;"></th>
                        </tr>
                        </thead>
                        <tbody ng-show="mode==='add'">
                        <tr>
                          <td class="center">
                          </td>
                          <td class="center">
                            <input class="form-control" type="text" ng-model="blankCED.hardware_id">
                          </td>
                          <td class="center">
                            <input class="form-control" type="text" ng-model="blankCED.config.ip.ipaddr">
                          </td>
                          <td class="center">
                            <input class="form-control" type="number" ng-model="blankCED.config.ip.port">
                          </td>
                          <td class="text-right">
                            <button class="btn btn-default btn-icon" ng-click="insertCED()" type="button">
                              <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button class="btn btn-default btn-icon" ng-click="cancelCED()" title="{{ '1.2' | translate }} " type="button">
                              <span class="glyphicon glyphicon-ban-circle"></span>
                            </button>
                          </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr ng-repeat="s in CEDs">
                          <td class="center">
                            <button class="btn btn-default btn-icon" ng-click="removeCED(s,$index)" title="{{ '1225' | translate }} " type="button">
                              <span class="glyphicon glyphicon-remove"></span>
                            </button>
                          </td>
                          <td class="center">
                            <input ng-show="activeCED==s" class="form-control" type="text" ng-model="s.hardware_id">
                            <span ng-show="(activeCED!=s||activeCED=='')&&s.sid!=undefined">{{s.hardware_id}}</span>
                          </td>
                          <td class="center">
                            <input ng-show="activeCED==s" class="form-control" type="text" ng-model="s.config.ip.ipaddr">
                            <span ng-show="(activeCED!=s)">{{s.config.ip.ipaddr}}</span>
                          </td>
                          <td class="center">
                            <input ng-show="activeCED==s" class="form-control" type="number" ng-model="s.config.ip.port">
                            <span ng-show="(activeCED!=s)">{{s.config.ip.port}}</span>
                          </td>
                          <td>
                            <button ng-show="activeCED!=''" class="btn btn-default btn-icon" ng-click="saveCEDs(s)" type="button">
                              <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button ng-show="activeCED==''" class="btn btn-default btn-icon" ng-click="editCED(s)" type="button">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button ng-show="activeCED!=''" class="btn btn-default btn-icon" ng-click="cancelCEDEdit()" title="{{ '1.2' | translate }} " type="button">
                              <span class="glyphicon glyphicon-ban-circle"></span>
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-xs-12 pull-right margintop modal-footer">
                      <button type="button" class="btn btn-default" ng-click="$close()"><span data-translate="0.1">Exit</span></button>
                    </div>
                  </div>
                </div>
                <!--<div class="hal-tab col-xs-12" ng-show="cashDrawers.length==undefined&&HALTab=='cashdrawers_t'">-->
                  <!--<div class="row">-->
                    <!--<div class="col-xs-12 pull-right margintop modal-footer">-->
                      <!--<button type="button" class="btn btn-default" ng-click="$close()"><span data-translate="0.1">Exit</span></button>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <div class="hal-tab col-xs-12" ng-show="HALTab=='cashdrawers_t'">
                  <div class="row">
                    <div class="col-xs-4">
                      <button class="btn btn-default" ng-click="addDirectDrawer()"><span data-translate="6700">Add Direct Cash Drawer</span></button>
                    </div>
                  </div>
                  <div ng-show="addingDirect">
                    <div class="row">
                      <div for="hardwareid" class="col-xs-4 text-right">
                        <p class="form-control-static">
                          <strong data-translate="6701">Hardware ID</strong>
                        </p>
                      </div>
                      <div class="col-xs-8">
                        <input id="hardwareid" name="hardwareid" type="text" class="form-control" ng-model="newDrawer.hardware_id">
                      </div>
                    </div>
<!--
                  <div class="row">
                      <div for="drawernumber" class="col-xs-4 text-right">
                        <p class="form-control-static">
                          <strong data-translate="needsID">Drawer Number</strong>
                        </p>
                      </div>
                      <div class="col-xs-8">
                          <input type="text" class="form-control" convert-to-number ng-model="newDrawer.config.direct.drawernumber" data-permission="PoEnterFreeFormEmailAddress">
                      </div>
                    </div>
                    -->
                    <div class="row">
                      <div for="kickcode" class="col-xs-4 text-right">
                        <p class="form-control-static">
                          <strong data-translate="6500">Kick Code</strong>
                        </p>
                      </div>
                      <div class="col-xs-8">
                        <input type="input" class="form-control" ng-model="newDrawer.config.direct.kickcode">
                      </div>
                    </div>
                    <div class="row">
                      <div for="printer" class="col-xs-4 text-right">
                        <p class="form-control-static">
                          <strong data-translate="526">Printer</strong>
                        </p>
                      </div>
                      <div class="col-xs-8">
                        <select class="form-control" name="printer" ng-model="newDrawer.config.direct.printer" ng-disabled="printerList.length===0">
                          <option style="display:none">Select...</option>
                          <option ng-repeat="p in printerList track by $index" value="{{p.printername}}">{{p.printername}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-offset-8 col-xs-4 text-right">
                        <button class="btn btn-default" ng-click="saveDrawer()"><span data-translate="1.8">Add</span></button>
                        <button class="btn btn-default" ng-click="cancelDirect()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                  </div>
                </div>



                  <div class="row" ng-show="!addingDirect">
                    <div class="col-xs-12 table-responsive">
                      <table class="table table-responsive table-bordered table-striped col-xs-12">
                        <thead>
                        <tr>
                          <th data-translate="544">Delete</th>
                          <th data-translate="1215">LDN:</th>
                          <th data-translate="1216">Claim Time Out</th>
                          <th data-translate="1222">Drawer 1</th>
                          <th data-translate="1223">Drawer 2</th>
                          <th data-translate="6500">Kick Code</th>
                          <th data-translate="526">Printer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in cashDrawers">
                          <td class="center">
                            <button class="btn btn-default btn-icon" ng-click="deleteHardware(s);cashDrawers.splice($index,1);" title="{{ '1226' | translate }} " type="button">
                              <span class="glyphicon glyphicon-remove"></span>
                            </button>
                          </td>
                          <td ng-if="s.hardware_type!==7">{{s.config.opos.ldn}}</td>
                          <td ng-if="s.hardware_type===7">{{s.hardware_id}}</td>
                          <td class="center"><input ng-if="s.hardware_type&&s.hardware_type!==7" class="form-control" ng-disabled="activeDrawers.drawer1!=s.sid&&activeDrawers.drawer2!=s.sid" type="number" ng-model="s.config.opos.claimtimeout"></td>
                          <td class="center"><input type="radio" ng-model="activeDrawers.drawer1" ng-value="s.sid" name="cd1"></td>
                          <td class="center"><input type="radio" ng-model="activeDrawers.drawer2" ng-value="s.sid" name="cd2"></td>
                          <td class="center"><input ng-if="s.hardware_type===7" class="form-control" ng-model="s.config.direct.kickcode" ng-value="s.config.direct.kickcode" name="kickcode"></td>
                          <td class="center">
                            <select ng-if="s.hardware_type===7" class="form-control" name="printer" ng-model="s.config.direct.printer" ng-disabled="printerList.length===0">
                              <option style="display:none"><span data-translate="1358">Select...</span></option>
                              <option ng-repeat="p in printerList track by $index" value="{{p.printername}}">{{p.printername}}</option>
                            </select>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="col-xs-12 pull-right margintop modal-footer">
                      <span ng-show="!drawersValid()||drawer_flg===1" class="red" data-translate="{{drawer_msg}}">{{drawer_msg}}</span>
                      <button class="btn btn-default" value="Save" ng-disabled="!halsettings.$dirty||!drawersValid()" ng-click="saveCashDrawers()" type="button"><span data-translate="547">Save</span></button>
                      <button class="btn btn-default closeModal" ng-click="$close()" type="button"><span data-translate="0.1">Exit</span></button>
                    </div>
                  </div>
                </div>
                <div class="hal-tab col-xs-12" ng-if="HALTab=='cust_t'">
                  <div ng-include="" src="viewPath + 'hal-customizations-partial.htm'"></div>
                </div>

                <div class="hal-tab col-xs-12" ng-show="oposPrinters.length==undefined&&HALTab=='opos_printers_t'">
                  <div class="row">
                    <div class="col-xs-12 pull-right modal-footer">
                      <button type="button" class="btn btn-default" ng-click="$close()"><span data-translate="0.1">Exit</span></button>
                    </div>
                  </div>
                </div>
                <div class="hal-tab col-xs-12" ng-show="oposPrinters.length>0&&HALTab=='opos_printers_t'">
                  <div class="row">
                    <div class="col-xs-12">
                      <table class="table table-responsive table-bordered table-striped">
                        <thead>
                        <tr>
                          <th data-translate="544">Delete</th>
                          <th data-translate="1215">LDN:</th>
                          <th data-translate="1216">Claim Time Out</th>
                          <th data-translate="586">Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in oposPrinters">
                          <td class="center">
                            <button ng-show="$index!=0" class="btn btn-default btn-icon" ng-click="deleteHardware(s);oposPrinters.splice($index,1);" title="{{ '1227' | translate }} " type="button">
                              <span class="glyphicon glyphicon-remove"></span>
                            </button>
                          </td>
                          <td>{{s.config.opos.ldn}}</td>
                          <td class="center"><input ng-show="$index!=0" class="form-control" ng-disabled="activeOposPrinter.ld1!=s.sid" type="number" ng-model="s.config.opos.claimtimeout"></td>
                          <td class="center"><input type="radio" ng-model="activeOposPrinter.op1" ng-value="s.sid" name="op1"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 pull-right modal-footer">
                      <span ng-show="oposPrintersValid()" class="red" data-translate="5504">There are no OPOS Printers for this workstation.</span>
                      <button class="btn btn-default" ng-disabled="!halsettings.$dirty" ng-click="saveOposPrinters()" type="button"><span data-translate="547">Save</span></button>
                      <button class="btn btn-default" ng-click="$close()" type="button"><span data-translate="1.2">Exit</span></button>
                    </div>
                  </div>
                </div>
              </ng-form>
            </div>

        </div>
        <div class="text-right modal-footer" ng-show="activeProxy=='0'||HALTab=='cust_t'">
            <button type="button" class="btn btn-default closeModal" ng-click="$close()"><span data-translate="0.1">Exit</span></button>
        </div>
    </div>
</div>
