<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="4666">Merchandise Images</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">

        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button event-name="closeItemCarousel" class="btn btn-large" type="button" id="closeCarousel" ng-click="closeModal(false)"><span data-translate="1.1">close</span></button>
            </div>
        </div>
    </div>
</div>
