<div class="modalouter">
  <div class="modal-header">
    <div class="row-fluid">
      <div class="span12">
        <h4 data-translate="1195">Login Error</h4>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12" data-translate="5519">
        Unable to claim seat.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span12 rightalign">
        <button event-name="loginErrorOk" class="btn btn-large" type="button" id="errorDialogOKButton" ng-click="closeForm()"><span data-translate="1.1">OK</span></button>
      </div>
    </div>
  </div>
</div>
