<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <h1 class="panel-title col-md-12">Retail Pro Prism</h1>
        </div>
    </div>
    <div class="modal-body">
        <div class="col-md-5 hidden-sm hidden-xs">
            <img src="/images/RetailProLogo160.png" alt="{{ '2335' | translate }}">
        </div>
        <div class="col-md-7 col-xs-12">
            <form id="loginForm" class="form-horizontal nobottommargin">
                <div class="control-group">
                  <label class="control-label bold" data-translate="70.2">User:</label>
                  <div class="controls">
                      <input class="form-control" delay-translate="1011" placeholder="{{ '1011' | translate }}" id="username" name="username" type="text" autocapitalize="off" autocorrect="off" ng-required="true" ng-model="credentials.username" ng-focuser="usernameFocus">
                  </div>
                  <label class="control-label bold smallmargintop" data-translate="70.3">Password:</label>
                  <div class="controls smallmargintop">
                      <input class="form-control" delay-translate="70.3" placeholder="{{ '1212' | translate }}" id="password" name="password" type="password" autocapitalize="off" autocorrect="off" ng-required="true" ng-model="credentials.password" maxlength="24">
                  </div>
                  <label class="control-label"></label>
                  <!-- Added duplicte login button so that button will have rounded corners when biometrics is not enabled -->
                  <div class="controls smallmargintop" ng-if="!isBio">
                    <button event-name="loginSubmit" type="submit" id="loginButton" name="loginButton" class="btn btn-default btn-lg btn-block" ng-disabled="disableLogin || !credentials.username || !credentials.password" ng-click="doLogin()"><span data-translate="31">Login</span></button>
                  </div>
                  <div class="controls smallmargintop btn-group btn-group-justified" id="loginBtnGroup" ng-if="isBio">
                    <div class="btn-group" role="group">
                      <button event-name="loginSubmit" type="submit" id="loginButton" name="loginButton" class="btn btn-default btn-lg btn-block" ng-disabled="disableLogin || !credentials.username || !credentials.password" ng-click="doLogin()"><span data-translate="31">Login</span></button>
                    </div>
                    <div class="btn-group" role="group">
                      <button event-name="biometricLogin" type="button" id="biometricLoginButton" name="biometricLoginButton" class="btn btn-default btn-lg btn-block" ng-click="doBioLogin()"><span data-translate="5937">Biometric Login</span></button>
                    </div>
                  </div>
                  <label class="control-label"></label>
                  <div class="controls smallmargintop" ng-show="bioLoginRunning">
                    <div class="alert alert-info" role="alert"><span data-translate="5880">Please place your finger on the scanner.</span></div>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="background-color: #b3b3b3; text-align: left;">
      <p ng-if="!remoteServer"><b data-translate="70.4">Server</b> {{serverName}}</p>
      <div ng-if="remoteServer">
        <p><b data-translate="4728">Proxy</b> {{serverName}}</p>
        <p><b data-translate="70.4">Server</b> {{remoteServer}}</p>
      </div>
        <p>© {{versionInfo.VerCopyright}}</p>
    </div>
</div>

