<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Retail Pro Prism <span data-translate="70.4">Server</span></h3>
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-xs-2">
					<img src="/images/RetailProLogo160.png" alt="{{ '2335' | translate }}">
                </div>
				<div class="col-xs-10">
                    <div class="row">
                        <h4><span data-translate="1260">Welcome to your </span> Retail Pro Prism <span data-translate="1261">Server.
						This page is your gateway to the services that can be accessed via a browser.</span>
                        </h4>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <div class="col-xs-4" ng-controller="acAcess">
                                <button event-name="mainAdminConsole" ng-disabled="!user.isAdmin" class="btn btn-default btn-lg btn-block" ng-click="goToAdminConsole()" type="button"><span data-translate="1264">Admin Console</span></button>
                            </div>
                            <div class="col-xs-4">
                                <a class="btn btn-default btn-lg btn-block" href="/help/ipad/Welcome.htm" target="_blank"><span data-translate="40">Help</span></a>
                            </div>
                            <div class="col-xs-4">
                                <button event-name="mainPointOfSale" class="btn btn-default btn-lg btn-block" ng-click="goToRegister()" type="button"><span data-translate="500">Point of Sale</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">

                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-default btn-lg btn-block" ng-click="goToStoreOps()" type="button"><span data-translate="3161">Store Operations</span></button>
                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-2 pull-right">
					<button event-name="mainExit" id="exitPrismButton" name="exitPrismButton" class="btn btn-default btn-lg btn-block" ng-click="releaseSeat()" type="button"><span data-translate="0.1">Exit</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
