<div class="modal-content">
    <div class="modal-header">
        <h4 ng-if="headerText">{{headerText}}</h4>
        <div ng-if="headerTemplate" ng-include="headerTemplate"></div>
    </div>
    <div class="modal-body">
        <div ng-include="bodyTemplate"></div>
    </div>
    <div class="modal-footer text-right">
        <div ng-include="footerTemplate"></div>
    </div>
</div>