<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="716">Discount Reason</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12" ng-if="reasonList">
                <div class="row top-margin" ng-repeat="reason in reasonList">
                    <div>
                        <button type="button" class="btn btn-primary btn-block" ng-class="{'selected-button': reason.default}" ng-click="$close(reason.name)">{{reason.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button event-name="cancelModal" class="btn btn-large" type="button" ng-disabled="reasonIsRequired" ng-click="$close(null)"><span data-translate="1.2">cancel</span></button>
            </div>
        </div>
    </div>
</div>
