<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="3659">Select Item Quantity</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12" ng-if="itemInformation">
                <p data-translate="3660">Select Item quantity for the item or cancel changes</p>
                <div class="item_select_available_qty titles">
                    <div data-translate="2118">Description 1</div>
                    <div data-translate="677">UPC</div>
                    <div data-translate="679">Size</div>
                    <div data-translate="3333">Attribute</div>
                </div>
                <div class="item_select_available_qty">
                    <div>{{itemInformation.description1}}</div>
                    <div>{{itemInformation.upc|padUPC}}</div>
                    <div>{{itemInformation.item_size}}</div>
                    <div>{{itemInformation.attribute}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button event-name="useQtySpecified" data-permission="commonskipavailabileqtycheck" class="btn btn-large" type="button" ng-click="closeModal('req_qty')"><span>{{'3661'|translate}} {{ paramsQty.actualqty }}</span></button>
                <button ng-if="paramsQty.useButton === 'oh'" event-name="useQtyOh" ng-disabled="paramsQty.ohqty <= 0" class="btn btn-large" type="button" ng-click="closeModal('qty_oh')"><span>{{'3662'|translate}} {{ paramsQty.ohqty }}</span></button>
                <button ng-if="paramsQty.useButton === 'avail'" event-name="useQtyAvail" ng-disabled="paramsQty.availableqty <= 0" class="btn btn-large" type="button" ng-click="closeModal('qty_avail')"><span>{{'6043'|translate}} {{ paramsQty.availableqty }}</span></button>
                <button ng-if="!paramsQty.useRemove" event-name="closeModal" class="btn btn-large" type="button" ng-click="closeModal(false)"><span data-translate="1.2">cancel</span></button>
                <button ng-if="paramsQty.useRemove" event-name="closeModal" class="btn btn-large" type="button" ng-click="closeModal('remove')"><span data-translate="1523">Remove</span></button>
            </div>
        </div>
    </div>
</div>
