
	<div class="col-sm-2">
		<button event-name="navZOutBack" type="button" class="btn btn-default btn-lg navbar-btn btn-block" ng-click="previousStep()" ng-disabled="backButtonDisabled"><img src="/images/pos/arrow_left_green.png"><span data-translate="801">Back</span></button>
	</div>
	<div class="col-sm-2">
		<button event-name="navZOutNext" type="button" class="btn btn-default btn-lg navbar-btn btn-block" ng-click="nextStep()" ng-disabled="nextButtonDisabled || !zOutOpenForm.$valid"><img src="/images/pos/arrow_right_blue.png"><span data-translate="800">Next</span></button>
	</div>

	<div class="col-sm-2">
		<button event-name="navZOutFinish" type="button" class="btn btn-default btn-lg navbar-btn btn-block" ng-click="finish()" ng-disabled="finishButtonDisabled || !zOutOpenForm.$valid"><img src="/images/pos/flag_checkered.png"><span data-translate="802">Finish</span></button>
	</div>





