<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
	<div class="btn-group">
		<button event-name="navCustomerInformationNew" type="button" tabindex="900" class="btn btn-default" id="newCustomerButton" name="newCustomerButton" data-permission="CustomersCreateCustomer" data-permission-disabled="!cancelCustomerChangesButtonDisabled" ng-click="newCustomer()"><span data-translate="581">New</span></button>
	</div>
	<div class="btn-group">
		<button event-name="navCustomerInformationEdit" type="button" tabindex="901" class="btn btn-default" id="editCustomerButton" name="editCustomerButton" ng-click="changeMode();" ng-if="!editMode"><span data-translate="774">Edit</span></button>
		<button event-name="navCustomerInformationSave" type="button" tabindex="901" class="btn btn-default" id="SaveCustomerButton" name="SaveCustomerButton" ng-click="changeMode();" ng-if="editMode"><span data-translate="547">Save</span></button>
	</div>
	<div class="btn-group">
		<button event-name="navCustomerInformationCopy" type="button" tabindex="902" ng-disabled="editMode" class="btn btn-default" id="copyCustomerButton" name="copyCustomerButton" ng-click="copyCustomer()"><span data-translate="582">Copy</span></button>
	</div>
	<div class="btn-group">
		<button event-name="navCustomerInformationCancel" type="button" tabindex="903" class="btn btn-default" id="cancelCustomerChanges" name="cancelCustomerChanges" ng-disabled="cancelCustomerChangesButtonDisabled" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
	</div>
	<div class="btn-group">
		<!--<button event-name="navCustomerInformationActivate" type="button" tabindex="904" class="btn btn-default" id="activateCustomerButton" name="activateCustomerButton" ng-disabled="!cancelCustomerChangesButtonDisabled||customer.customer_active" ng-click="toggleCustomerActive()"><span data-translate="2334">Activate</span></button>-->
		<button event-name="navCustomerInformationActivate" type="button" tabindex="904" class="btn btn-default" id="activateCustomerButton" name="activateCustomerButton" ng-disabled="!cancelCustomerChangesButtonDisabled" ng-click="toggleCustomerActive()" ng-if="!customer.customer_active"><span data-translate="2334">Activate</span></button>
		<button event-name="navCustomerInformationDeactivate" type="button" tabindex="904" class="btn btn-default" id="DeactivateCustomerButton" name="DeactivateCustomerButton" ng-disabled="!cancelCustomerChangesButtonDisabled" ng-click="toggleCustomerActive()" ng-if="customer.customer_active"><span data-translate="3041">Deactivate</span></button>
	</div>
	<div class="btn-group">
		<button event-name="navCustomerInformationNewTransaction" type="button" tabindex="905" class="btn btn-default" id="beginPosTransactionButton" name="beginPosTransactionButton" data-permission-disabled="newTransactionButtonDisabled" ng-click="newCustomerTransaction()" data-permission="CreatePOSTransaction"><span data-translate="502">New Transaction</span></button>
	</div>
	<div class="btn-group">
		<button event-name="navCustomerInformationCustomerLookup" type="button" tabindex="906" class="btn btn-default" id="customerLookupButton" name="customerLookupButton" ng-disabled="!cancelCustomerChangesButtonDisabled" ng-click="customerLookup()"><span data-translate="503.1">Lookup</span></button>
	</div>
</div>
