<div class="btn-group btn-group-lg btn-group-justified">
	<div class="btn-group" ng-show="!isReconciled">
		<button event-name="navZOutBack" type="button" class="btn btn-default" ng-click="previousStep()" ng-disabled="backButtonDisabled"><img src="/images/pos/arrow_left_green.png"><span data-translate="801">Back</span></button>
	</div>
	<div class="btn-group" ng-show="!blindClose && isReconciled">
		<button event-name="navZOutBack" type="button" class="btn btn-default" ng-click="previousStep()" ng-disabled="backButtonDisabled"><img src="/images/pos/arrow_left_green.png"><span data-translate="801">Back</span></button>
	</div>
	<div class="btn-group" ng-show="!isReconciled">
		<button event-name="navZOutNext" type="button" class="btn btn-default" ng-click="nextStep()" ng-disabled="nextButtonDisabled"><img src="/images/pos/arrow_right_blue.png"><span data-translate="800">Next</span></button>
	</div>
	<div class="btn-group" ng-show="state.isReviewing">
		<button event-name="navZOutOk" type="button" class="btn btn-default" ng-click="closeReview()"><img src="/images/ok_32.png"><span data-translate="1.1">OK</span></button>
	</div>
	<div class="btn-group">
		<button event-name="navZOutPrint" type="button" class="btn btn-default" ng-click="printReport()" ng-disabled="printButtonDisabled"><img src="/images/pos/print_32.png"><span data-translate="522">Print</span></button>
	</div>
    <div class="btn-group">
        <button event-name="navZOutFinish" type="button" class="btn btn-default" ng-click="finish()" ng-disabled="finishButtonDisabled"><img src="/images/pos/flag_checkered.png"><span data-translate="802">Finish</span></button>
    </div>
</div>




