<div class="navbar navbar-fixed-bottom navbar-default">
    <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-justified" id="rpButtons">
            <div class="btn-group">
              <button event-name="navPosTenderReturnTo" type="button" tabindex="20" id="returnToDocumentButton" class="btn btn-default" ng-click="closeTender()">
                <span class="glyphicon glyphicon-arrow-left"></span> <span data-translate="801">Back</span>
              </button>
            </div>
            <div class="btn-group">
              <button event-name="navPosTendeGiftReceipts" type="button" tabindex="22" id="giftReceiptButton" ng-disabled="document.sold_qty===0||!document.sold_qty" class="btn btn-default" ng-click="giftReceipt()">
                <span data-translate="3339">Gift Receipt</span>
              </button>
            </div>
            <div class="btn-group">
              <!-- DT19468 - Checking posprintupdated permission -->
              <button event-name="navPosTenderPrintUpdate" type="button" tabindex="23" id="printButton" class="btn btn-default" data-permission="createpostransaction,posprintupdated" permission-disabled="printButtonDisabled" ng-click="updateDocument(true)">
                <span data-translate="952">Print Update</span>
              </button>
            </div>
            <div class="btn-group">
              <button event-name="navPosTenderUpdateOnly" type="button" tabindex="24" id="updateButton" class="btn btn-default" data-permission="createpostransaction,allowupdateonlyatpos" permission-disabled="updateButtonDisabled" ng-click="updateDocument(false)">
                <span data-translate="1301">Update Only</span>
              </button>
            </div>
          </div>
        </div>
    </div>
</div>
