<div id="mainMenu" class="popover rpro-menu am-flip-x" ng-controller="rpmenuController">
    <div class="arrow"></div>
    <h3 class="popover-title">Retail Pro</h3>
    <div class="popover-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row top-margin">
                        <div class="col-xs-12">
                            <button event-name="mainMenuLanguage" id="LanguageButton" type="button" class="btn btn-default RPOptionButton leftalign" ng-click="showLanguages();">
                                <img src="/images/OPTTHEME.png">
                                <span data-translate="14">Language</span>
                            </button>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="col-xs-12">
                            <button event-name="mainMenuHelp" id="HelpButton" type="button" class="btn btn-default RPOptionButton leftalign" ng-click="showHelp();positionPopover()">
                                <img src="/images/HELP.png">
                                <span data-translate="40">Help</span>
                            </button>
                        </div>
                    </div>
                    <div class="row top-margin" ng-show="false">
                        <div class="col-xs-12">
                            <button event-name="mainMenuThemes" id="ThemesButton" type="button" class="btn btn-default RPOptionButton leftalign" ng-hide="true" ng-click="showThemes()">
                                <img src="/images/OPTTHEME.png">
                                <span data-translate="13">Themes</span>
                            </button>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="col-xs-12">
                            <button event-name="mainMenuExit" id="exitButton" type="button" class="btn btn-default RPOptionButton leftalign" ng-click="releaseSeat()">
                                <img src="/images/USERLOGOUT.png">
                                <span data-translate="32">Exit</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="HelpButtons" ng-hide="hideHelp">
                        <div class="row top-margin">
                            <div class="col-xs-12">
                                <button event-name="mainMenuAbout" id="helpAboutButton" type="button" class="btn btn-default RPOptionButton leftalign" ng-click="helpAbout()">
                                    <span data-translate="43">About</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="LanguageButtons" ng-hide="hideLanguages">
                        <div class="row top-margin" ng-repeat="language in installedLanguages">
                            <div class="col-xs-12">
                                <button id="language{{language.value}}" type="button" class="btn btn-default RPOptionButton leftalign" ng-click="changeLanguage(language.value)">
                                    <table border="0" cellpadding="2" cellspacing="0"><tr><td><img src="/images/OPTTHEME.png"></td><td style="padding-left: 5px"><span ng-bind-html="language.utrn | translate"></span></td></tr></table>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="row top-margin">
                        <div class="col-xs-6">
                            <button event-name="mainMenuHome" type="button" id="homeButton" class="btn btn-default RPOptionButton leftalign" ng-click="posHome()">
                                <img src="/images/Home.png">
                                <span data-translate="1764">POS</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row top-margin">
                        <div class="col-xs-6">
                            <button event-name="mainMenuHome" type="button" id="homeButton" class="btn btn-default RPOptionButton leftalign" ng-click="posHome()">
                                <img src="/images/Home.png">
                                <span data-translate="3161">Store Operations</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row top-margin">
                        <div class="col-xs-6">
                            <button event-name="mainMenuHome" type="button" id="homeButton" class="btn btn-default RPOptionButton leftalign" ng-click="posHome()">
                                <img src="/images/Home.png">
                                <span data-translate="1015">Admin Console</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row top-margin">
                        <div class="col-xs-6">
                            <button event-name="mainMenuLanding" type="button" id="exitPOSButton" class="btn btn-default RPOptionButton" ng-click="goToLanding()">
                                <img src="/images/USERLOGOUT.png">
                                <span data-translate="0.4">Landing</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
