<form id="about" name="about" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="modal-title"><span data-translate="43">About</span> Retail Pro Prism</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">

                <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                    <li ng-class="{ active: isSet('general') }">
                        <a href="" ng-click="setTab('general')" data-translate="685">General</a>
                    </li>
                    <li ng-class="{ active: isSet('systeminfo') }">
                        <a href="" ng-click="setTab('systeminfo')" data-translate="5091">System Info</a>
                    </li>
                </ul>

                <div ng-if="isSet('general')">
                    <div ng-show="showAbout">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="/images/RetailProLogo160.png" ng-click="egg();">
                            </div>
                            <div class="col-xs-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Retail Pro Prism
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span data-translate="1275">Version:</span>
                                            </div>
                                            <div class="col-xs-8">
                                                {{versionInfo.VerMajor}}.{{versionInfo.VerMinor}}.{{versionInfo.VerRelease}}.{{versionInfo.BuildNo}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span data-translate="1275">Build:</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <span data-translate="1276"> Build:</span> {{versionInfo.BuildNo}},
                                                <span data-translate="1277"> Branch:</span> {{versionInfo.BuildBranch}},
                                                <span data-translate="1278"> Changeset:</span> {{versionInfo.BuildChangeset}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span data-translate="1279">Description:</span>
                                            </div>
                                            <div class="col-xs-8">
                                                Retail Pro Prism
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span data-translate="1280">Built With</span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a href="http://angularjs.org/" target="_blank">
                                                <img src="/images/AngularJS-small.png">
                                            </a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="http://getbootstrap.com/" target="_blank">
                                                <img src="/images/bootstrap.png">ootstrap
                                            </a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="http://jquery.com/" target="_blank">
                                                <img src="/images/JQuery_logo_color_onwhite-300x74.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span>Retail Pro</span> Legal
                                </div>
                                <div class="panel-body">
                                    &copy; {{versionInfo.VerCopyright}}<br>
                                    &reg; {{versionInfo.VerTrademark}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="egg" ng-show="showEgg">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="/images/RetailProLogo160.png">
                            </div>
                            <div class="col-xs-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Retail Pro Prism
                                    </div>
                                    <div class="panel-body">
                                        <p>The Retail Pro Prism development team would like to acknowledge the following people and groups for
                                            contributions above and beyond.</p>
                                        <span class="pull-left" ng-repeat="staffMember in staff">
                                            {{staffMember}}<span ng-show="!$last">, </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span>Special Thanks To...</span>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        <span>Our partners and customers</span><br>
                                        <span>All of Retail Pro, past and present</span>
                                    </p>
                                    <p>
                                        <span>Our families and friends for putting up with the long days, late nights, and working weekends.</span>
                                    </p>
                                    <p>Thank you all!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="isSet('systeminfo')">
                    <system-info></system-info>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="navAboutClose" type="submit" class="btn btn-lg btn-default" ng-click="close();"><span data-translate="1.1">OK</span></button>
                </div>
            </div>
        </div>
    </div>
</form>
