<form name="Notifications" id="Notifications">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h3 data-translate="2365">No Item Found</h3>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12" data-translate="2365">No Item Found</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <button id="nifSearchModalButton" type="button" class="btn btn-lg btn-default" ng-click="advancedItemSearchModal2()">
            {{"2790" | translate}}
          </button>
          <button id="nifCancelButton" type="button" class="btn btn-lg btn-default" ng-enter="$close();" ng-click="$close();focusItem();">
            {{"1.1" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
