<div class="container-fluid" ng-controller="plugin_documentation_ctrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3><span data-translate="7038">Client side API &amp; Plug-in Documentation</span></h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="x in pluginData" class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a ng-click="toggleInfo($index,x)">{{x.name}}<span class="small"> - {{x.description}}</span></a>
                        </h4>
                    </div>
                    <div class="panel-body am-fade" ng-include="x.helpPartial" ng-show="helpBlocks[$index].status">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
