<link href="/styles/external/simple-layouts-inc.css" rel="stylesheet" type="text/css">
<form novalidate="" id="transactionForm" name="transactionForm" class="form-horizontal simpleTransactionForm">

    <div id="navbar-prism" class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle btn-info collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar icon-iphone"></span>
            <span class="icon-bar icon-iphone"></span>
            <span class="icon-bar icon-iphone"></span>
          </button>
          <a class="navbar-brand navbar-iphone" href="#"><div class="logo"><img class="logo" ng-src="/images/{{defaultTheme.logo}}"></div></a>
        </div>
        <!--/.navbar-collapse -->
        <div class="navbar-collapse collapse no-transition" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#"><span data-translate="517">Customer Lookup</span></a>
            </li>
            <li>
              <a href="#"><span data-translate="7039">Customer Details</span></a>
            </li>
            <li>
              <a href="#"><span data-translate="779">Transaction Details</span></a>
            </li>
            <li>
              <a href="#"><span data-translate="778">Order Details</span></a>
            </li>
            <li>
              <div class="btn-group btn-group-justified">
                <a class="btn btn-info" href="#"><span data-translate="581">New</span></a>
                <a class="btn btn-info" href="#"><span data-translate="774">Edit</span></a>
                <a class="btn btn-info" href="#"><span data-translate="547">Save</span></a>
              </div>
              <div class="btn-group btn-group-justified">
                <a class="btn btn-info" href="#"><span data-translate="1.2">Cancel</span></a>
                <a class="btn btn-info" href="#"><span data-translate="582">Copy</span></a>
                <a class="btn btn-info" href="#"><span data-translate="775">Hold</span></a>
              </div>
            </li>
          </ul>
          <button class="rp-button form-control" type="button">
            &nbsp;
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-7">
                <div class="panel panel-primary panel-collapse height80">
                    <div class="panel-heading no-pad">
                        <div class="row">
                            <div class="col-xs-10">
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <label class="sr-only">
                                            <!-- DO NOT REMOVE THIS LABEL!!! -->
                                        </label>
                                        <input tabindex="106" type="text" id="itemLookup" name="itemLookup" placeholder="{{ '1415' | translate }} " class="form-control" ng-model="searchFields.item_lookup" ng-disabled="itemLookup" ng-focuser="itemLookupFocus" ng-blur="addItem()" ng-keydown="readItemSearchInput($event)">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-group-justified">
                                            <div class="btn-group"><button event-name="posTransactionSale" tabindex="707" type="button" class="btn btn-info" id="saleItemTypeButton" ng-click="setItemType(1)" ng-disabled="saleItemTypeButton"><span data-translate="746">Sale</span></button></div>
                                            <div class="btn-group"><button event-name="posTransactionOrder" tabindex="708" type="button" class="btn btn-info" id="orderItemTypeButton" data-permission="OrderItem" ng-click="setItemType(3)" data-permission-disabled="orderItemTypeButton"><span data-translate="749">Order</span></button></div>
                                            <div class="btn-group"><button event-name="posTransactionReturn" tabindex="709" type="button" class="btn btn-info" id="returnItemTypeButton" data-permission="ReturnItem" ng-click="lookupReturnDocument()" data-permission-disabled="returnButton"><span data-translate="747">Return</span></button></div>
                                            <div class="btn-group"><button tabindex="710" type="button" class="btn btn-info" id="advancedLookup" data-permission="posadvanceditemlookup" data-permission-disabled="(document.status !== 0)&&(document.status !== 3)" ng-click="advancedItemSearchModal();"><span data-translate="2790">Adv. Lookup</span></button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 text-right">
                                <img src="/images/bag-image.png" alt="{{ '2006' | translate }}" class="itemImage">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div id="transactionItems" class="PortraitResultsPane autoOverflow height80">
                                <div class="list-group col-xs-12">
                                    <documentitem template="portrait-layouts-template.htm"></documentitem>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" id="documentTotal" class="text-right bg-info documentTotal text-primary" value="{{document.due_amt |currency}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button event-name="posTransactionTenderTransaction" tabindex="799" type="button" id="tenderbutton" class="btn btn-success btn-block btn-large" ng-click="tenderTransaction()" ng-disabled="tenderbutton">
                                    <span data-translate="643" ng-if="!tenderbutton||itemsToProcess.length===0">Tender Transaction</span>
                                    <span ng-if="tenderbutton&&itemsToProcess.length>0">{{'3733'|translate}}...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
