<ng-form name="SerialNumbersForm" id="SerialNumbersForm" class="form-horizontal" novalidate="novalidate">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="3380">Serial Number Required</h4>
    </div>
    <div class="modal-body">
      <div id="snitemlist" class="container-fluid modal-maxHeight autoOverflow">
        <div class="row" ng-repeat="thisItem in promptSerItems track by $index">
          <div class="form-group has-feedback list-group-item" ng-class="((thisItem.serial_type === 2)&&(!thisItem.serial_number)) ? 'has-error' : (!thisItem.serial_number) ? 'has-warning' : 'has-success'">
            <ng-form name="serNoForm">
              <div class="col-xs-4" ng-class="{ 'has-error' : serNoForm.itemSerialNumber.$invalid }">
                <input type="text" tabindex="{{1000 + $index}}" maxlength="50" id="itemSerialNumber{{$index}}" name="itemSerialNumber" class="form-control uppercase" ng-model="thisItem.serial_number" enter-blur ng-blur="validateSerNo(thisItem,serNoForm)" ng-change="serNoChange(thisItem,serNoForm)" unique>
                <i class="glyphicon glyphicon-search form-control-feedback" id="serNoLookupIcon" ng-click="serNoLookup(thisItem)"></i>
              </div>
              <div class="error" ng-if="serNoForm.itemSerialNumber.$error.unique">
                <span class="text-danger" data-translate="3381">Duplicate</span>
              </div>
            </ng-form>
            <div class="col-xs-8">
              <div class="row">
                <div class="col-xs-6">
                  <strong data-translate="677">UPC</strong> {{ thisItem.scan_upc|padUPC }}
                  <!--<input type="hidden" id="upc[$index]" ng-model="thisItem.scan_upc">-->
                </div>
                <div class="col-xs-6" ng-if="thisItem.item_type">
                  <strong data-translate="542">Type:</strong> {{ thisItem.item_type|itemTypeName : thisItem.order_type | translate }}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  {{thisItem.item_description1}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button ng-if="showCancel" type="button" event-name="enterSerNoCancel" id="enterSerNoCancelButton" class="btn btn-info btn-default" ng-click="cancelEntry();$close();"><span data-translate="1.2">Cancel</span></button>
        <button type="button" event-name="submitSerNoForm" id="submitButton" class="btn btn-info btn-default" ng-click="serNoClose($event)" ng-disabled="(!okToClose) || SerialNumbersForm.$dirty && SerialNumbersForm.$invalid"><span data-translate="2226">Ok</span></button>
      </div>
    </div>
  </div>
</ng-form>

