<form name="zeroPriceAlert" id="zeroPriceAlert" class="form-horizontal">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div ng-if="form.item.kit_type!=7" class="col-xs-12">
					<h4 data-translate="1550">Item Price Required</h4>
				</div>
        <div ng-if="form.item.kit_type==7" class="col-xs-12">
          <h4 data-translate="6127">Gift Card Amount</h4>
        </div>
			</div>
		</div>
    <div class="modal-body">
			<div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <p>
                <span data-translate="1552">Please enter a price for this item:</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <input type="tel" class="form-control" min="0" max="{{form.purchaseLimit}}" ng-keydown="checkKey($event)" numberonly="" data-currency-formatter="price" decimals="{{decimals}}" focus-me="setFocus" ng-model="form.newPrice"> <!--ng-focuser="setFocus"-->
          </div>
          <div class="col-xs-10">
            <p class="form-control-static"><span data-translate="677">UPC</span>: {{form.item.scan_upc|padUPC}}</p>
          </div>
				</div>
        <div class="row" ng-if="form.item.item_description1">
          <div class="col-xs-10 col-xs-offset-2">
            <p class="form-control-static"><span data-translate="675">Desc 1</span>: {{form.item.item_description1}}</p>
          </div>
        </div>
        <div class="row" ng-if="form.item.dcs_code">
          <div class="col-xs-10 col-xs-offset-2">
            <p class="form-control-static"><span data-translate="4375">DCS Code</span>: {{form.item.dcs_code}}</p>
          </div>
        </div>
        <div class="row" ng-if="form.item.vendor_code">
          <div class="col-xs-10 col-xs-offset-2">
            <p class="form-control-static"><span data-translate="3533">Vendor Code</span>: {{form.item.vendor_code}}</p>
          </div>
        </div>
        <div class="row" ng-if="form.item.attribute">
          <div class="col-xs-10 col-xs-offset-2">
            <p class="form-control-static"><span data-translate="3333">Attribute</span>: {{form.item.attribute}}</p>
          </div>
        </div>
        <div class="row" ng-if="form.item.item_size">
          <div class="col-xs-10 col-xs-offset-2">
            <p class="form-control-static"><span data-translate="679">Size</span>: {{form.item.item_size}}</p>
          </div>
        </div>
			</div>
		</div>
		<div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posZeroPriceOk" id="cancelTransactionOptionButton" type="submit" class="btn btn-lg btn-default" ng-click="closeForm(form.newPrice)" ng-enter="closeForm(form.newPrice)">
                        <span data-translate="1.1">OK</span>
                    </button>
                </div>
            </div>
		</div>
	</div>
</form>
