<link href="/styles/external/simple-layouts-inc.css" rel="stylesheet" type="text/css">
<form novalidate id="transactionForm" name="transactionForm" class="form-horizontal simpleTransactionForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <img class="logo" ng-src="/images/{{defaultTheme.logo}}">
            </div>
            <div class="col-xs-6 text-right text-primary date-span" ng-show="document.invoice_posted_date">
                <span data-translate="684">Date</span>: <span>{{document.invoice_posted_date|cleanDate:'locale':true}}&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div ng-include="vwPath + 'simple-transactions-partial.htm'"></div>
            </div>
            <div class="col-xs-4 col-xs-offset-1">
                <div class="panel panel-primary panel-collapse autoOverflow height80">
                    <div class="panel-body bg-primary">
                      <div class="simple-QTenders noOverflow">
                        <div class="row" ng-repeat="qTender in qTenders" ng-if="$index % 2 == 0">
                          <div class="col-xs-6" ng-if="qTenders[$index].translate!==2245">
                            <button event-name="posTransaction{{qTenders[$index].name}}" tabindex="{{$index+750}}" type="button" class="btn btn-info btn-block" id="{{qTenders[$index].name}}Button" ng-click="tenderTransaction(qTenders[$index].name)" ng-disabled="tenderbutton||document.so_cancel_flag || searching || itemsToProcess.length>0 || sharedData.searching">
                              <span data-translate="{{qTenders[$index].translate}}">{{qTenders[$index].name}}</span>
                            </button>
                          </div>
                          <div class="col-xs-6" ng-if="qTenders[$index].translate===2245">
                            <button event-name="posTransactionCOD" tabindex="{{$index+750}}" type="button" class="btn btn-info btn-block" id="CODButton" ng-click="tenderTransaction('COD')" ng-disabled="tenderbutton||document.so_cancel_flag || searching || itemsToProcess.length>0 || sharedData.searching">
                              <span>{{qTenders[$index].name}}</span>
                            </button>
                          </div>
                          <div class="col-xs-6" ng-if="qTenders[$index+1].translate!==2245 && qTenders[$index+1]">
                            <button event-name="posTransaction{{qTenders[$index+1].name}}" tabindex="{{$index+1+750}}" type="button" class="btn btn-info btn-block" id="{{qTenders[$index+1].name}}Button" ng-click="tenderTransaction(qTenders[$index+1].name)" ng-disabled="tenderbutton||document.so_cancel_flag || searching || itemsToProcess.length>0 || sharedData.searching">
                              <span data-translate="{{qTenders[$index+1].translate}}">{{qTenders[$index+1].name}}</span>
                            </button>
                          </div>
                          <div class="col-xs-6" ng-if="qTenders[$index+1].translate===2245 && qTenders[$index+1]">
                            <button event-name="posTransactionCOD" tabindex="{{$index+751}}" type="button" class="btn btn-info btn-block" id="CODButton" ng-click="tenderTransaction('COD')" ng-disabled="tenderbutton||document.so_cancel_flag || searching || itemsToProcess.length>0 || sharedData.searching">
                              <span>{{qTenders[$index+1].name}}</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="row docButtons">
                        <div class="col-xs-4">
                          <button event-name="posTransactionTransactionDetails" tabindex="719" type="button" class="btn large-text btn-info btn-block" id="TransactionDetailsButton" ng-disabled="transactionDetailsButton" ng-click="transactionDetails()">
                            <span data-translate="779">Transaction Details</span>
                          </button>
                        </div>
                        <div class="col-xs-4">
                          <order-details-button></order-details-button>
                        </div>
                        <div class="col-xs-4">
                          <transaction-coupon-button></transaction-coupon-button>
                        </div>
                      </div>
                      <div class="row qtDocInfo">
                        <div class="col-xs-12 autoOverflow height38">
                          <div ng-include="vwPath + 'simple-transactions-detailblock-partial.htm'"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <input type="text" id="documentTotal" class="text-right bg-info documentTotal text-primary" value="{{document.due_amt |currency}}" ng-disabled="true"></div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <button event-name="posTransactionTenderTransaction" tabindex="799" type="button" id="tenderbutton" class="btn btn-success btn-block btn-large" ng-click="tenderTransaction()" ng-disabled="tenderbutton||document.so_cancel_flag || searching">
                            <span data-translate="643" ng-if="!tenderbutton||itemsToProcess.length===0">Tender Transaction</span>
                            <span ng-if="tenderbutton&&itemsToProcess.length>0">{{'3733'|translate}}...</span>
                          </button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      <action-button-bar ng-if="posButtons" action-bar="posButtons"></action-button-bar>
</div></form>
