<form id="touchMenuCreate" name="touchMenuCreate">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-translate="1516">Create New Menu</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" ng-class="{'has-error': !isUniqueName}">
						<label class="control-label" for="menuName" data-translate="1960">Enter a name for the new menu</label>
						<input type="text" class="form-control" id="menuName" name="menuName" ng-model="menu.menuName" ng-change="checkUniqueName()" ng-required="true" maxlength="30">
						<span ng-hide="isUniqueName" class="help-block" data-translate="1961">Menu with that name already exists. Please enter a new menu name.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-6">
					<button class="btn btn-default btn-block" tabindex="15" type="button" id="okButton" ng-disabled="!touchMenuCreate.$valid || !isUniqueName" ng-click="saveMenu()" disabled="disabled"><span data-translate="2226">Ok</span></button>
				</div>

				<div class="col-xs-6">
					<button class="btn btn-default btn-block" tabindex="16" type="button" id="cancelButton" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
				</div>
			</div>
		</div>

</form>