<form name="createTouchButton" id="createTouchButton" ng-init="Initialize()">
<div class="modal-body">
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading" data-translate="542">Type</div>
				<div class="panel-body">

					<div class="col-xs-12">
						<div class="control-group">
							<label class="control-label" for="buttonType" data-translate="1496">Button Type:</label>
							<select class="form-control" id="buttonType" ng-model="formData.buttonType" ng-options="field for field in buttonTypes"><option value="" style="display:none" data-translate="1358">Select...</option>
							</select>
						</div>
						<div class="control-group" ng-show="formData.buttonType === 'ITEM'">
							<label class="control-label" for="searchField" data-translate="1497">Lookup Type:</label>
							<select class="form-control" id="searchField" ng-model="formData.searchField" ng-options="field for field in searchFields"><option value="" style="display:none" data-translate="1358">Select...</option>
							</select>

							<label class="control-label" for="inventoryItem" data-translate="1415">Item Lookup:</label>
							<input type="text" class="form-control" id="inventoryItem" ng-model="formData.inventoryItem" placeholder="{{ '1998' | translate }} " uib-typeahead="item as item.label for item in getInventoryItem($viewValue)">
							<br>
							<table class="table table-striped table-bordered table-condensed">
								<tbody>
								<tr>
									<td class="col-xs-3" data-translate="681">DCS:</td>
									<td class="col-xs-9" ng-bind="selectedInventoryItem.dcscode"></td>
								</tr>
								<tr>
									<td class="col-xs-3" data-translate="3533">Vendor Code:</td>
									<td class="col-xs-9" ng-bind="selectedInventoryItem.vendorcode"></td>
								</tr>
								<tr>
									<td class="col-xs-3" data-translate="675">Desc 1:</td>
									<td class="col-xs-9" ng-bind="selectedInventoryItem.description1"></td>
								</tr>
								<tr>
									<td class="col-xs-3" data-translate="676">Desc 2:</td>
									<td class="col-xs-9" ng-bind="selectedInventoryItem.description2"></td>
								</tr>
								<tr>
									<td class="col-xs-3" data-translate="1501">Desc 3:</td>
									<td class="col-xs-9" ng-bind="selectedInventoryItem.description3"></td>
								</tr>
								<tr>
									<td class="col-xs-3" data-translate="679">Size:</td>
									<td class="col-xs-9" ng-bind="selectedInventoryItem.itemsize"></td>
								</tr>
								<tr>
									<td class="col-xs-3" data-translate="678">Attr:</td>
									<td class="col-xs-9" ng-bind="selectedInventoryItem.attribute"></td>
								</tr>
								<tr>
									<td class="col-xs-3" data-translate="841">ALU:</td>
									<td class="col-xs-9" ng-bind="selectedInventoryItem.alu"></td>
								</tr>
								<tr>
									<td class="col-xs-3" data-translate="677">UPC:</td>
									<td class="col-xs-9">{{selectedInventoryItem.upc|padUPC}}</td>
								</tr>
								</tbody>
							</table>

							<label class="control-label" for="buttonLabel" data-translate="1502">Button Label:</label>
							<input type="text" class="form-control" id="buttonLabel" ng-model="formData.buttonLabel" ng-required="formData.buttonType === 'ITEM'" maxlength="50">


						</div>
						<div class="control-group" ng-show="formData.buttonType === 'NAVIGATION'">
							<div class="radio">
								<label for="radioBtnEdit">
									<input ng-model="formData.menuAction" value="0" type="radio" name="menu-action" id="radioBtnEdit">
									<span data-translate="1503">Navigate to Existing Menu</span>
								</label>
							</div>
							<select class="form-control" ng-model="formData.existingMenu" ng-options="menu.sid as menu.label for menu in filterCurrentMenu()" ng-change="menuChange()" ng-disabled="formData.menuAction !== '0'" ng-required="formData.buttonType === 'NAVIGATION' && formData.menuAction === '0'">
								<option value="" data-translate="1504">Choose a Menu...</option>
							</select>
							<div class="radio">
								<label for="radioBtnNew">
									<input ng-model="formData.menuAction" value="1" type="radio" name="menu-action" id="radioBtnNew">
									<span data-translate="1505">Navigate to New Menu</span>
								</label>
							</div>
							<input type="text" class="form-control" placeholder="{{ '1506' | translate }} " ng-model="formData.menuName" ng-required="formData.buttonType === 'NAVIGATION' && formData.menuAction === '1'" ng-disabled="formData.menuAction !== '1'" maxlength="50">
              <div class="row top-margin">
                <div class="col-xs-12">
                  <label class="control-label" for="buttonLabel" data-translate="1502">Button Label:</label>
                  <input type="text" class="form-control" id="navButtonLabel" ng-model="formData.buttonLabel" maxlength="50">
                </div>
              </div>
            </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading" data-translate="1507">Appearance</div>
				<div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="control-group">
                <label class="control-label" for="buttonBackgroundColor" data-translate="1508">Background Color:</label>
                <select id="buttonBackgroundColor" class="form-control" ng-model="formData.buttonBackgroundColor" ng-options="color for color in predefinedColors">
                </select>
              </div>

              <div class="control-group">
                <label class="control-label" for="buttonFontColor" data-translate="1509">Font Color:</label>
                <select id="buttonFontColor" class="form-control" ng-model="formData.buttonFontColor" ng-options="color for color in predefinedColors">
                </select>
              </div>

            </div>
          </div>
					<div class="row">
            <div class="col-xs-3">
              <div class="control-group">
                <label class="control-label" for="buttonHeight" data-translate="1510">Height:</label>
                <input class="form-control" type="number" id="buttonHeight" ng-model="formData.buttonHeight" min="50" max="250" required="required" ng-change="updateButton()">
              </div>
            </div>

            <div class="col-xs-3">
              <div class="control-group">
                <label class="control-label" for="buttonWidth" data-translate="1511">Width:</label>
                <input class="form-control" type="number" id="buttonWidth" ng-model="formData.buttonWidth" min="50" max="250" required="required" ng-change="updateButton()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label data-translate="1513">Button Preview:</label>
              <br>
              <button ng-if="!formData.buttonimageenabled" type="button" class="btn btn-large touchposButton" style="background:{{formData.buttonBackgroundColor}};color:{{formData.buttonFontColor}};height:{{formData.buttonHeight}}px;width:{{formData.buttonWidth}}px;">
                {{formData.buttonLabel}}
              </button>
              <button ng-if="formData.buttonimageenabled" type="button" class="btn btn-large touchposButton" style="background-color:{{formData.buttonBackgroundColor}};background-image: {{formData.buttonImage}};background-size: {{formData.buttonImageWidth}}px {{formData.buttonImageHeight}}px;background-position:center;background-repeat: no-repeat;color:{{formData.buttonFontColor}};height:{{formData.buttonHeight}}px;width:{{formData.buttonWidth}}px;">
                &nbsp;
              </button>
            </div>
            <div class="col-xs-6" ng-if="formData.buttonType === 'ITEM'">
              <div class="row">
                <div class="col-xs-12">
                  <label for="enableButtonImage">
                  <input type="checkbox" id="enableButtonImage" ng-model="formData.buttonimageenabled" ng-checked="formData.buttonimageenabled" ng-click="initImage()">
                    <span data-translate="6300">Use Button Image</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button type="button" ng-disabled="!formData.buttonimageenabled" class="btn btn-large btn-info" ng-click="openImageCarousel()"><span data-translate="6301">Select Image</span></button>
                </div>
              </div>

            </div>
          </div>



				</div>
			</div>
		</div>
	</div>



	<!--<div class="row-fluid">

			<span data-translate="1495"> Type</span>

			<div class="row-fluid">
		<span class="span4 smallmargintop">
			<label for="buttonType" data-translate="1496">Button Type:</label>
		</span>
				<select class="span8" id="buttonType" ng-model="formData.buttonType"
						ng-options="field for field in buttonTypes">
				</select>

			</div>


			<div ng-show="formData.buttonType === 'ITEM'">
				<div class="row-fluid">
			<span class="span4 smallmargintop">
				<label for="searchField" data-translate="1497">Lookup Type:</label>
			</span>
					<select class="span8" id="searchField" ng-model="searchField"
							ng-options="field for field in searchFields">
					</select>

				</div>
				<div class="row-fluid">
			<span class="span4 smallmargintop">
				<label for="inventoryItem" data-translate="1498">Item Lookup:</label>
			</span>

					<input type="text" class="span8" id="inventoryItem" ng-model="formData.inventoryItem"
						   placeholder="Enter {{ searchField }}"
						   uib-typeahead="item as item.label for item in getInventoryItem($viewValue) | filter:$viewValue">

				</div>
				<div class="row-fluid">
			<span class="span4 smallmargintop">
				<label data-translate="1499">Item Details:</label>
			</span>
					<table class="width100percent smallmargintop gray1pxsolid">
						<tbody>
						<tr>
							<td class="width40percent rightalign light-back" data-translate="681">DCS:</td>
							<td class="whiteback" ng-bind="selectedInventoryItem.dcs_code"></td>
						</tr>
						<tr>
							<td class="width40percent rightalign light-back" data-translate="3533">Vendor Code:</td>
							<td class="whiteback" ng-bind="selectedInventoryItem.vendor_code"></td>
						</tr>
						<tr>
							<td class="width40percent rightalign light-back padding2px" data-translate="675">Desc 1:</td>
							<td class="whiteback padding2px"
								ng-bind="selectedInventoryItem.description1"></td>
						</tr>
						<tr>
							<td class="width40percent rightalign light-back padding2px" data-translate="676">Desc 2:</td>
							<td class="whiteback padding2px"
								ng-bind="selectedInventoryItem.description2"></td>
						</tr>
						<tr>
							<td class="width40percent rightalign light-back padding2px" data-translate="1501">Desc 3:</td>
							<td class="whiteback padding2px"
								ng-bind="selectedInventoryItem.description3"></td>
						</tr>
						<tr>
							<td class="width40percent rightalign light-back padding2px" data-translate="679">Size:</td>
							<td class="whiteback padding2px" ng-bind="selectedInventoryItem.item_size"></td>
						</tr>
						<tr>
							<td class="width40percent rightalign light-back" data-translate="678">Attr:</td>
							<td class="whiteback ng-binding" ng-bind="selectedInventoryItem.attribute"></td>
						</tr>
						<tr>
							<td class="width40percent rightalign light-back" data-translate="841">ALU:</td>
							<td class="whiteback ng-binding" ng-bind="selectedInventoryItem.alu"></td>
						</tr>
						<tr>
							<td class="width40percent rightalign light-back" data-translate="677">UPC:</td>
							<td class="whiteback ng-binding" ng-bind="selectedInventoryItem.upc"></td>
						</tr>
						</tbody>
					</table>
					<br/>
				</div>

				<div class="row-fluid">
			<span class="span4 smallmargintop">
				<label for="buttonLabel" data-translate="1502">Button Label:</label>
			</span>

					<input type="text" class="span8" id="buttonLabel" ng-model="formData.buttonLabel"
						   ng-required="formData.buttonType === 'ITEM'" maxlength="50"/>

				</div>

			</div>

			<div ng-show="formData.buttonType === 'NAVIGATION'">
				<div class="row-fluid marginbottom20px">
			  <span class="span12">
				<span class="span1">
					<input ng-model="menuAction" value="0" type="radio" name="menu-action"
						   id="radioBtnEdit"/>
				</span>
				<span class="span11 smallmargintop">
					<label for="radioBtnEdit" data-translate="1503">Navigate to Existing Menu</label>
				</span>
			</span>

					<select class="span12" ng-model="formData.existingMenu"
							ng-options="menu.sid as menu.label for menu in filterCurrentMenu()"
							ng-change="menuChange()" ng-disabled="menuAction !== '0'"
							ng-required="formData.buttonType === 'NAVIGATION' && menuAction === '0'">
						<option value="" data-translate="1504">Choose a Menu...</option>
					</select>

				</div>

				<div class="row-fluid">
			<span class="span12">
				<span class="span1">
					<input ng-model="menuAction" value="1" type="radio" name="menu-action"
						   id="radioBtnNew"/>
				</span>
				<span class="span11 smallmargintop">
					<label for="radioBtnNew" data-translate="1505">Navigate to New Menu</label>
				</span>
			</span>
					<input type="text" class="span12" placeholder="~~Menu Name~~" ng-model="menuName"
						   ng-required="formData.buttonType === 'NAVIGATION' && menuAction === '1'" ng-disabled="menuAction !== '1'" maxlength="50"/>


				</div>


			</div>



		<fieldset class="span6 container-fluid">
			<legend data-translate="1507"> Appearance</legend>

			<div class="row-fluid">
				<label class="span4 smallmargintop" for="buttonBackgroundColor" data-translate="1508">Background Color:</label>
				<select id="buttonBackgroundColor" class="span8" ng-model="buttonBackgroundColor"
					ng-options="color for color in predefinedColors">
				</select>
			</div>

			<div class="row-fluid">
					<label class="span4 smallmargintop" for="buttonFontColor" data-translate="1509">Font Color:</label>
					<select id="buttonFontColor" class="span8" ng-model="buttonFontColor"
								ng-options="color for color in predefinedColors">
					</select>
			</div>

			<div class="row-fluid">
				<label class="span4 smallmargintop" for="buttonHeight" data-translate="1510">Height:</label>
				<input class="span5" type="number" id="buttonHeight" ng-model="buttonHeight" min="50"
								   max="250" required/>
			</div>


			<div class="row-fluid">
				<label class="span4 smallmargintop" for="buttonWidth" data-translate="1511">Width:</label>
				<input class="span5" type="number" id="buttonWidth" ng-model="buttonWidth" min="50"
				   max="250" required/>
			</div>

			<div class="row-fluid">
			        <span class="span4">
						<button class="wip" type="button" ng-model="buttonLabel"><span data-translate="1512">Assign Image</span></button>
					</span>
			</div>

			<div class="row-fluid">
					<span class="span4 smallmargintop">
						<label for="buttonFontColor" data-translate="1513">Button Preview:</label>
					</span>
			</div>

			<div class="row-fluid">
				<button class="btn btn-large touchposButton"
						style="background:{{buttonBackgroundColor}};color:{{buttonFontColor}};height:{{buttonHeight}}px;width:{{buttonWidth}}px;">
					{{formData.buttonLabel}}
				</button>
			</div>
		</fieldset>
	</div>-->
</div>
<div class="modal-footer">
	<button class="btn btn-large btn-default" type="button" tabindex="15" ng-click="saveButton()" ng-disabled="!createTouchButton.$valid" disabled="disabled"><span data-translate="1514">Save &amp; Exit</span></button>
	<button type="button" class="btn btn-large btn-default closeModal" ng-show="button" ng-click="deleteButton()"><span data-translate="544">Delete</span></button>
	<button type="button" class="btn btn-large btn-default closeModal" ng-click="closeModal()"><span data-translate="0.1">Exit</span></button>
</div>
</form>
