<form class="form-horizontal" name="DiscountDetailsForm" id="DiscountDetailsForm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="modal-title">{{detailType}} <span data-translate="3917">Discount Details</span></h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row height50 autoOverflow" style="border-bottom:#ccc 1px solid !important;">
          <table class="table table-condensed table-hover col-xs-12" ng-if="itemSid">
            <tr>
              <td data-translate="3924">No.</td>
              <td data-translate="5026">Orig Price</td>
              <td data-translate="3243">Disc Amt</td>
              <td ng-if="detax_flag" data-translate="7279">Detaxed Disc Amt</td>
              <td data-translate="6495">Ext Amt</td>
              <td data-translate="3933">Doc Price</td>

              <td data-translate="686">Reason</td>
              <td data-translate="3919">Source</td>
            </tr>
            <tr class="grid_row{{$index%2}} context-row{{(activeRow==discount)}}" ng-click="selectDiscount(discount);$event.stopPropagation()" ng-repeat="discount in discounts">
              <td>{{$index+1}}</td>
              <td>{{discount.prev_price | currency}}</td>
              <td>{{discount.new_disc_amt | currency}}</td>
              <td ng-if="detax_flag">{{discount.new_disc_amt_detaxed | currency}}</td>
              <td>{{discount.new_disc_ext_amt | currency}}</td>
              <td>{{discount.new_price | currency}}</td>
              <td>{{discount.disc_reason}}</td>
              <td>{{discount.disc_source}}</td>
            </tr>
          </table>
          <table class="table table-condensed table-hover col-xs-12" ng-if="!itemSid">
            <tr>
              <td data-translate="3924">No.</td>
              <td>
                <span data-translate="1524">Subtotal</span>
              </td>
              <td data-translate="542">Type</td>
              <td data-translate="3918">Value</td>
              <td data-translate="686">Reason</td>
              <td data-translate="3919">Source</td>
            </tr>
            <tr class="grid_row{{$index%2}} context-row{{(activeRow==discount)}}" ng-click="selectDiscount(discount);$event.stopPropagation()" ng-repeat="discount in discounts">
              <td>{{$index+1}}</td>
              <td>
                <span ng-if="!itemSid">{{discount.new_subtotal_w_disc | currency}}</span>
              </td>
              <td>{{discount.disc_type}}</td>
              <td><span ng-if="discount.disc_type === 'Percent'">{{discount.disc_value}}%</span><span ng-if="discount.disc_type !=='Percent'">{{discount.disc_value | currency}}</span></td>
              <td>{{discount.disc_reason}}</td>
              <td>{{discount.disc_source}}</td>
            </tr>
          </table>
        </div>
        <div class="row top-margin">
          <div class="col-xs-4 col-xs-offset-8">
            <button class="btn btn-info btn-block" data-permission="removediscounts" data-permission-disabled="disableDiscount" ng-click="removeDiscount()" event-name="posShowDiscountRemove" type="button">{{'3920'|translate}}</button>
          </div>
        </div>

        <div class="row col-xs-12 text-left" ng-if="detax_flag">
          <br>
          <label class="col-xs-2" data-translate="738" style="text-transform:uppercase">Detax</label>
          <div class="col-xs-4">
            <label style="font-weight: normal" data-translate="7276">Tax Removed</label>
            <span>:</span>
            <strong> {{tax_removed|currency }}</strong>
          </div>
          <div class="col-xs-4">
            <label style="font-weight: normal" data-translate="3933">Doc price</label>
            <span>:</span>
            <strong> {{doc_price|currency }}</strong>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button event-name="posShowDiscountCancel" id="showDiscountCancelButton" type="button" class="btn btn-lg btn-default btn-block" ng-click="abortChoice()"><span data-translate="1.2">Cancel</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
