<form name="orderFulfillmentForm" id="orderFulfillmentForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1445">Order Fulfillment</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <p ng-show="items.length === 0" class="col-xs-12 text-center">No items found that can be fullfilled.</p>
                    <div id="orderItems" class="ModalSearchPanel autoOverflow">
                        <div class="list-group">
                          <a name="link{{$index}}" event-name="posOrderFullfillmentThisOrderItem" id="searchOrderItemsResult{{$index}}" index="{{$index}}" data-item-group="data-item-group" class="list-group-item ng-class:{'header':thisOrderItem.kit_flag == 3, 'component':thisOrderItem.kit_flag == 5}" ng-repeat="thisOrderItem in items" ng-click="selectOrderItem($index)">
                              <div class="row">
                                    <div class="col-xs-5">
                                        <strong data-translate="675">Desc 1:</strong>
                                        {{ thisOrderItem.item_description1 }}
                                    </div>
                                    <div class="col-xs-5">
                                        <strong data-translate="677">UPC:</strong>
                                        {{ thisOrderItem.scan_upc|padUPC }}
                                    </div>
                                    <div class="col-xs-2">
                                        <strong data-translate="721">Tax Amount:</strong>
                                        {{ thisOrderItem.tax_amount|tax }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <strong data-translate="764">Qty:</strong>
                                        {{ thisOrderItem.quantity| number  }}
                                    </div>
                                    <div class="col-xs-2">
                                        <strong data-translate="773">Price:</strong>
                                        {{ thisOrderItem.price|currency}}
                                    </div>
                                    <div class="col-xs-2">
                                        <strong data-translate="888">Qty Sent:</strong>
                                        {{ thisOrderItem.order_quantity_filled| number  }}
                                    </div>
                                    <div class="col-xs-2">
                                        <strong data-translate="889">Qty Due:</strong>
                                        {{ (thisOrderItem.quantity - thisOrderItem.order_quantity_filled)| number }}
                                    </div>
                                    <div class="col-xs-2">
                                        <strong data-translate="890">Qty Fill:</strong>
                                        {{ thisOrderItem.fill_qty| number  }}
                                    </div>
                                </div>
                                <div class="row" ng-show="thisOrderItem.kit_flag == 3 || thisOrderItem.kit_flag == 5">
                                    <div class="col-xs-12">
                                      <strong class="text-success" ng-show="thisOrderItem.kit_flag == 3"><span data-translate="1945">This Item Is A Package</span></strong>
                                      <strong class="text-warning" ng-show="thisOrderItem.kit_flag == 5"><span data-translate="1946">This Item Is A Package Component</span></strong>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="pastDue">
                  <div class="col-xs-12">
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                      <span class="sr-only" data-translate="6253">Warning:</span>
                      <span data-translate="6254">The due date for this order has passed.</span>
                    </div>
                  </div>
                </div>

                <div class="row" ng-show="document.order_shipping_amt_manual - document.order_shipping_amt_manual_used > 0 || document.order_fee_amt1 - document.used_fee_amt1 >= 0">
                    <div class="col-xs-4" ng-show="document.order_shipping_amt_manual - document.order_shipping_amt_manual_used  > 0">
                        <label class="row control-label col-xs-offset-2" data-translate="2992">Shipping amount to apply to receipt</label>
                        <div class="row">
                            <div class="col-xs-offset-2 radio">
                                <input type="radio" id="shippingAmountProportional" name="shippingAmount" ng-disabled="lockShipping" ng-model="form.shippingmode" value="1">
                                <label class="control-label" data-translate="2993">Proportional</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-2 radio">
                                <input type="radio" id="shippingAmountRemaining" name="shippingAmount" ng-disabled="lockShipping" ng-model="form.shippingmode" value="2">
                                <label class="control-label" data-translate="2994">Remaining</label><label class="control-label">: {{document.order_shipping_amt_manual - document.order_shipping_amt_manual_used | currency}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-2 radio">
                                <input type="radio" id="shippingAmountNone" name="shippingAmount" ng-disabled="lockShipping" ng-model="form.shippingmode" value="0">
                                <label class="control-label" data-translate="1361">None</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4" ng-show="document.order_fee_amt1 - document.used_fee_amt1 > 0">
                        <label class="row control-label col-xs-offset-2" data-translate="2995">Fee amount to apply to receipt</label>
                        <div class="row">
                            <div class="col-xs-offset-2 radio">
                                <input type="radio" id="feeAmountProportional" name="feeAmount" ng-model="form.feemode" value="1">
                                <label class="control-label" data-translate="2993">Proportional</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-2 radio">
                                <input type="radio" id="feeAmountRemaining" name="feeAmount" ng-model="form.feemode" value="2">
                                <label class="control-label" data-translate="2994">Remaining</label><label class="control-label">: {{document.order_fee_amt1 - document.used_fee_amt1 | currency}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-2 radio">
                                <input type="radio" id="feeAmountNone" name="feeAmount" ng-model="form.feemode" value="0">
                                <label class="control-label" data-translate="1361">None</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posOrderFulfillmentFillItemQty" id="FillItemQuantityButton" type="button" tabindex="5" class="btn btn-lg btn-default" ng-disabled="itemQtyButtonDisabled()" ng-click="fillItemQuantity()"><span data-translate="887">Fill Item Qty</span></button>
                        <button event-name="posOrderFulfillmentFillItemDue" id="FillItemDueButton" type="button" tabindex="3" class="btn btn-lg btn-default" ng-disabled="itemDueButtonDisabled()" ng-click="fillItemDue()"><span data-translate="886">Fill Item Due</span></button>
                        <button event-name="posOrderFulfillmentFillAllDue" id="FillAllDueButton" type="button" tabindex="4" class="btn btn-lg btn-default" ng-disabled="fillAllDueDisabled" ng-click="fillAllDue()"><span data-translate="885">Fill All Due</span></button>
                        <button event-name="posOrderFulfillmentOk" id="OrderProcessingOKButton" type="submit" tabindex="5" class="btn btn-lg btn-default" ng-disabled="OKButtonDisabled" ng-click="processFulfillments()"><span data-translate="1.1">OK</span></button>
                        <button event-name="posOrderFulfillmentCancel" id="cancelOrderProcessingButton" type="button" tabindex="6" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <prism-ajax-loader ng-if="prismAjaxLoader.handler" loader-title="prismAjaxLoader.title" loader-message="prismAjaxLoader.message"></prism-ajax-loader>
</form>
