<form name="form.mwGiftCards" id="mwGiftCards" autocomplete="off" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1340">MerchantWare</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div ng-if="showScanMode">
                    <h4 ng-hide="balanceMode">
                        <span data-translate="1425">Sale Amount:</span> {{saleAmount|currency}}
                    </h4>
                    <div class="form-group">
                        <div class="col-xs-4 text-right">
                            <p class="form-control-static">
                                {{cardMessage}}
                            </p>
                        </div>
                        <div style="width:0;overflow:auto;">
                            <input id="txtCardNumber" type="password" maxlength="600" name="txtCardNumber" bar-code ng-focuser="focusSwipe" ng-blur="doFocus();" ng-model="form.cardData">
                        </div>
                    </div>
                </div>
                <div ng-show="showKeyedMode">
                    <h4 ng-hide="balanceMode"><span data-translate="1425">Sale Amount:</span> {{saleAmount|currency}}</h4>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" for="txtKeyedCardNumber" data-translate="1426">
                            Card Number
                        </label>
                        <div class="col-xs-6">
                            <input id="txtKeyedCardNumber" class="form-control" type="password" placeholder="{{ '1857' | translate }} " tabindex="2" maxlength="19" autocomplete="off" name="txtKeyedCardNumber" ng-model="form.keyedCardData">
                        </div>
                    </div>
                    <p>{{cardMessage}}</p>
                    <p class="text-right">
                        <button event-name="posMWGiftCardProcess" type="button" id="keyedActionButton" class="btn btn-lg btn-info" ng-click="keyedEntry()"><span data-translate="1427">Process</span></button>
                    </p>
                </div>
                <div class="row" ng-show="showBalance">
                    <p><span class="bold" data-translate="1428">Card Balance:</span> {{cardBalance|currency}}</p>
                    <p class="rightalign">
                        <button event-name="posMWGiftCardDone" type="button" id="doneWithBalanceButton" class="btn btn-lg btn-info" ng-click="closeForm()"><span data-translate="1.4">Done</span></button>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posMWGiftCardEntryMethod" id="mwChangeEntryMethodButton" class="btn btn-lg pull-left btn-default" type="button" ng-click="changeEntryMethod()" ng-disabled="processingHappening">
                        {{entryMethod}}
                    </button>
                    <button event-name="posMWGiftCardCancel" id="mwAddCancelButton" type="button" class="btn btn-lg btn-default" ng-click="closeForm()">
                        <span data-translate="1.2">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
