<form name="useDepositForm" id="useDepositForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1545">Deposit Available</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <div class="col-xs-12">
                        <p data-translate="1546">Order Deposit available.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <span data-translate="1547">The customer has a</span>
                        <strong>{{depositAvailable|currency}}</strong>
                        <span data-translate="1548">deposit available.</span><br>
                        <span data-translate="1478">Do they want to use it now?</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posUsedDepositYes" type="submit" tabindex="50" id="useDepositYesButton" class="btn btn-lg btn-default" ng-click="closeForm(true)"><span data-translate="1.5">Yes</span></button>
                    <button event-name="posUsedDepositNo" type="button" tabindex="51" id="useDepositNoButton" class="btn btn-lg btn-default" ng-click="closeForm(false)"><span data-translate="1.6">No</span></button>
                </div>
            </div>
        </div>
    </div>
</form>