<form novalidate="" id="giftCardDetailForm" name="giftCardDetailForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="modal-title">{{form.gcAction}} <span data-translate="3281">Gift Card Balance</span></h4>
                </div>
            </div>
        </div>
        <div class="modal-body allow-overlay">
            <div class="container-fluid">
                <div class="form-group">
                  <label class="col-xs-3 control-label" data-translate="2095">Card No</label>
                  <div class="col-xs-9">
                      <input maxlength="100" id="gift_card_number" name="gift_card_number" class="form-control text-right" type="text" disabled="disabled" ng-model="form.card_number">
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label" data-translate="932">Balance</label>
                    <div class="col-xs-9">
                        <input maxlength="100" id="gift_card_balance" name="gift_card_balance" class="form-control text-right" data-currency-formatter="" numberonly="" type="text" disabled="disabled" ng-model="form.balance">
                    </div>
                </div>
                <div ng-if="form.card_max != ''" class="form-group">
                    <label class="col-xs-4 control-label" data-translate="5940">Maximum Balance</label>
                    <div class="col-xs-8">
                        <input maxlength="100" id="gift_card_max" name="gift_card_max" class="form-control text-right" data-currency-formatter="" numberonly="" type="text" disabled="disabled" ng-model="form.card_max">
                    </div>
                </div>
                <div ng-if="form.card_expire != null" class="form-group">
                 <label class="col-xs-4 control-label" data-translate="2094">Expiration Date</label>
                  <div class="col-xs-8">
                     <date-input id="centralGiftCardExpire" disabled-when="editExpire" empty-message="973" allow-null="true" ng-model="form.card_expire"></date-input> <!--date-format="force_date_only" -->
                  </div>
                  <div class="col-xs-offset-4 col-xs-8 alert alert-danger" role="alert" ng-if="expired">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span data-translate="6299">Invalid expiration date.</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" id="giftCardButtonPrintButton" event-name="giftCardBalancePrint" name="giftCardButtonPrintButton" class="btn btn-lg btn-default" ng-click="printBalance()"><span data-translate="522">Print</span></button>
                        <button type="button" id="giftCardBalanceOkButton" event-name="giftCardBalanceOk" name="giftCardBalanceOkButton" class="btn btn-lg btn-default" ng-click="save()"><span data-translate="1.1">OK</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
