<form novalidate="novalidate" name="mwAddTender" id="mwAddTender" class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h4 data-translate="1340">MerchantWare</h4>
            </div>
        </div>
        <div ng-show="showSigCap" class="showSigCap">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4 data-translate="1341">Signature required</h4>
                    </div>
                    <div class="panel-body">
                        <sigpad ng-model="user.signature" clearbtn="#clearSignature" name="signature"></sigpad>
                    </div>
                    <div class="panel-footer">
                        <button event-name="posEFTMWClear" type="button" id="clearSignature" class="btn btn-lg btn-primary"><span data-translate="1335">Clear</span></button>
                        <button event-name="posEFTMWAccept" type="button" id="acceptSignature" class="btn btn-lg btn-success pull-right" ng-disabled="!user.signature" ng-click="acceptSignature()"><span data-translate="1342">Accept</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <button event-name="posEFTMWCancel" id="mwAddCancelTransactionButton" type="button" class="btn btn-lg btn-default" ng-show="showSigCap" ng-click="cancelTransactionFromSignature()">
                    <span data-translate="1343">Cancel Transaction</span>
                </button>
            </div>
        </div>
    </div>
</form>
