<form name="packageItemResolutionForm" id="packageItemResolutionForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1950">Select Package Components</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                      <p><span data-translate="805">Select</span> "{{displayItems[0].kitcmpntname}}" <span data-translate="7044">item for package</span> "{{packageHeader.item_description1}}":</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                      <span data-translate="7045">Look up item:</span>
                    </label>
                    <div class="col-xs-6">
                        <input type="text" id="packageItemLookup" name="packageItemLookup" class="form-control" ng-change="searchComponents()" ng-model="form.searchData">
                    </div>
                    <div class="col-xs-2">
                        <button event-name="posResolvePackageItemsClear" type="button" id="clearPackageLookupButton" name="clearPackageLookupButton" class="btn btn-info form-control" ng-click="clearSearch()"><span data-translate="1335">Clear</span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <span data-translate="7046">Select from item choices:</span>
                            </div>
                            <div id="conflictedItemsList" class="panel-body SmallResultsPane">
                                <div class="list-group">
                                    <a name="link{{$index}}" event-name="posResolvePackageItemsThisConflictedItem" id="conflictedItem{{$index}}" index="{{$index}}" class="list-group-item" data-item-group="data-item-group" ng-repeat="thisConflictedItem in displayArray" ng-click="selectConflictedItem($index)" ng-dblclick="useConflictedItem($index)">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <strong data-translate="675">Desc 1:</strong> {{ thisConflictedItem.description1 }}
                                            </div>
                                            <div class="col-xs-6">
                                                <strong data-translate="678">Attr:</strong> {{ thisConflictedItem.attribute }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <strong data-translate="676">Desc 2:</strong> {{ thisConflictedItem.description2 }}
                                            </div>
                                            <div class="col-xs-6">
                                                <strong data-translate="679">Size:</strong> {{ thisConflictedItem.item_size }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <strong data-translate="773">Price:</strong> {{ thisConflictedItem.price|currency }}
                                            </div>
                                            <div class="col-xs-6">
                                                <strong data-translate="2224">Store OH Qty:</strong> {{ thisConflictedItem.quantity| number }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posResolvePackageItemsSelect" id="selectPackageItemButton" name="selectPackageItemButton" type="submit" class="btn btn-lg btn-default" ng-disabled="noItemSelected" ng-click="useConflictedItem()"><span data-translate="1416">Select Item</span></button> 
                        <button event-name="posResolvePackageItemsCancel" id="cancel" type="button" tabindex="6" class="btn btn-lg btn-default" ng-click="closeForm(true)"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
