<form name="mwAddTender" id="mwAddTender" class="form-horizontal">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-translate="1340">MerchantWare</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
            <div class="container-fluid">
                <!-- No idea why this is here. Nothing calls it. Leaving it in just in case.
                <div ng-show="showIFrame">
                    <input type="hidden" id="transportURL" name="transportURL" value="{{mwData}}" />
                    <iframe id="mwAdd" name="mwAdd" height="100%" width="100%" class="noborders" ng-src="https://{{ iframeSource }}">
                    </iframe>
                </div>
                <div ng-show="showExternal" data-translate="1420">
                    Calling external swipe application and waiting for results...
                </div> -->
                <div ng-show="showSigCap">
                    <p class="text-center" data-translate="1341">Signature Required</p>
                    <sigpad ng-model="user.signature" clearbtn="#clearSignature" name="signature" required="required"></sigpad>
                    <button event-name="posMWAddTenderClear" type="button" id="clearSignature" class="btn btn-lg btn-default"><span data-translate="1335">Clear</span></button>
                    <button event-name="posMWAddTenderAccept" type="button" id="acceptSignature" class="btn btn-lg btn-success" ng-click="acceptSignature()"><span data-translate="1342">Accept</span></button>
                </div>
            </div>
		</div>
		<div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posMWAddTenderCancelAdd" id="mwAddCancelButton" type="button" class="btn btn-lg btn-default" ng-hide="showSigCap" ng-click="closeForm()">
                        <span data-translate="1.2">Cancel</span>
                    </button>
                    <button event-name="posMWAddTenderCancelTransaction" id="mwAddCancelTransactionButton" type="button" class="btn btn-lg btn-default" ng-show="showSigCap" ng-click="cancelTransactionFromSignature()">
                        <span data-translate="1343">Cancel Transaction</span>
                    </button>
                </div>
            </div>
		</div>
	</div>
</form>
