<!-- THIS HTML FILE HAS BEEN DEPRECATED AND IS NO LONGER USED, INSTEAD USE /components/pos/transactions/common/order-details
<form  name="orderDetailsForm" id="orderDetailsForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="778">Order Details</h4>
                </div>
            </div>
        </div>
        <div class="modal-body" ng-if="document.order_type">
            <div class="container-fluid">
                <div class="form-group">
                    <div class="col-xs-4" ng-if="document.order_type!==6">

                        <button event-name="posOrderDetailsFulfillOrder" type="button" tabindex="1" id="fulfillOrderButton" class="btn btn-info form-control" ng-disabled="disableFulfillOrder" ng-click="fulfillOrder()">
                            <span data-translate="900">Fulfill Order</span>
                        </button>
                    </div>
                  <div class="col-xs-4" ng-if="document.order_type===6">
                    <button event-name="posOrderDetailsFulfillOrder" type="button" data-permission="fulfillsendsale" tabindex="1" id="fulfillOrderButton" class="btn btn-info form-control" ng-disabled="disableFulfillOrder" ng-click="fulfillOrder()">
                      <span data-translate="900">Fulfill Send Sale</span>
                    </button>
                  </div>
                    <div class="col-xs-4">
                        <button event-name="posOrderDetailsOrderHistory" type="button" tabindex="2" id="orderHistoryButton" class="btn btn-info form-control" ng-disabled="true">
                            <span data-translate="901">Order History</span>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button event-name="posOrderDetailsTakeDeposit" type="button" id="takeDepositButton" class="btn btn-info form-control" ng-disabled="disableTakeDeposit" ng-click="takeDeposit()">
                            <span data-translate="902">Take Deposit</span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 col-xs-offset-2">
                        <button event-name="posOrderDetailsDepositHistory" type="button" id="depositHistoryButton" tabindex="4" class="btn btn-info form-control" ng-disabled="true">
                            <span data-translate="903">Deposit History</span>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button event-name="posOrderDetailsDeactivateOrder" type="button" id="deactivateOrderButton" permission="closeorder" tabindex="5" class="btn btn-info form-control" permission-disabled="disableDeactivateOrder" ng-click="deactivateOrder()">
                            <span data-translate="904">Deactivate Order</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posOrderDetailsCancel" id="cancelOrderProcessingButton" type="button" tabindex="6" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
-->
