<form name="pendingDocumentForm" id="pendingDocumentForm">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="modal-title" data-translate="504">Pending Transactions</h3>
                </div>

              <div class="col-xs-6">
                <top-filter-change-button asklayout="2" disable="doDisableTFButton" on-close="updateTopFilter">
                </top-filter-change-button>
              </div>

            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label" for="start-date" data-translate="1451">From Date:</label>
                                <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="end-date" data-translate="1452">To Date:</label>
                                <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
                                </p>
                            </div>
                            <div class="form-group" id="workstationDiv">
                                <label for="workstation" data-translate="809">Workstation:</label>
                                <select id="workstation" tabindex="4" ng-model="tlist.workstation" class="form-control" ng-options="w.sid as w.workstation_name for w in workstationList" ng-change="searchTransactions()">
                                    <option value="" data-translate="1143">All</option>
                                </select>
                            </div>
                            <div class="form-group" id="transStateDiv">
                                <label for="transState" data-translate="1453">Status:</label>
                                <select id="transState" tabindex="3" class="form-control" ng-model="tlist.trans_state" ng-change="searchTransactions()">
                                    <option value="0" data-translate="1143">All</option>
                                    <option value="1" data-translate="1454">Held</option>
                                    <option value="2" data-translate="3012">Pending</option>
                                    <option value="3" data-translate="3215">Discard</option>
                                </select>
                            </div>
                            <div class="form-group" id="sortByDiv">
                                <label for="sortBy" data-translate="634">Sort By:</label>
                                <select id="sortBy" tabindex="1" class="form-control" ng-model="tlist.sort_by" ng-change="searchTransactions()">
                                    <option value="bt_last_name" data-translate="1456">Customer Name</option>
                                    <option value="created_datetime" data-translate="1457">Created Date</option>
                                    <option value="transaction_total_amt" data-translate="1458">Document Total</option>
                                    <option ng-if="tlist.trans_state === '3'" value="reason_code" data-translate="4808">Discard Reason</option>
                                </select>
                            </div>
                            <div class="form-group" id="sortOrderDiv">
                                <label for="sortOrder" data-translate="908">Sort Order:</label>
                                <select id="sortOrder" tabindex="2" class="form-control" ng-model="tlist.sort_order" ng-change="searchTransactions()">
                                    <option value="asc" data-translate="1459">Ascending</option>
                                    <option value="desc" data-translate="1460">Descending</option>
                                </select>
                            </div>
                            <div class="row text-right">
                                <button ng-disabled="disablePosPendingLookup" event-name="posPendingTransactionsSearch" type="submit" tabindex="4" ng-click="searchTransactions()" class="btn btn-lg btn-default"><span data-translate="630">Search</span></button>
                                <button event-name="posPendingTransactionsReset" id="resetSearchButton" type="button" tabindex="5" class="btn btn-lg btn-default" ng-click="resetSearchFields()"><span data-translate="614">Reset</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div id="pendingTransactionSearchResults" class="height60 autoOverflow">
                            <div class="list-group">
                                <a name="link{{$index}}" event-name="posPendingTransactionsThisTransaction" class="list-group-item" id="searchTransactionsResult{{$index}}" tabindex="10{{$index}}" index="{{$index}}" data-item-group="data-item-group" ng-repeat="thisTransaction in pendingTransactions" ng-click="selectTransaction($index)" ng-dblclick="editSelectedTransaction($index)">
                                    <div class="row">
                                        <div class="col-xs-3" ng-if="thisTransaction.eft_invoice_number!==''">
                                          <strong data-translate="4061">EFT Invoice Number</strong> {{ thisTransaction.eft_invoice_number }}
                                        </div>
                                        <div class="col-xs-4">
                                            <strong data-translate="790">Customer:</strong> {{thisTransaction.bt_first_name}} {{thisTransaction.bt_last_name}}
                                        </div>
                                        <div class="col-xs-5">
                                          <strong data-translate="533">Created Date:</strong> {{ thisTransaction.created_datetime|cleanDate:'locale' }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <strong data-translate="623">Sold Qty:</strong> {{ thisTransaction.sold_qty| number }}
                                        </div>
                                        <div class="col-xs-4">
                                            <strong data-translate="625">Return Qty:</strong> {{ thisTransaction.return_qty| number }}
                                        </div>
                                        <div class="col-xs-5">
                                            <strong data-translate="624">Order Qty:</strong> {{ thisTransaction.order_qty| number }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <strong data-translate="622">Cashier:</strong> {{ thisTransaction.cashier_login_name }}
                                        </div>
                                        <div class="col-xs-4">
                                            <strong data-translate="795">Document Total:</strong> {{ thisTransaction.transaction_total_amt|currency }}
                                        </div>
                                        <div class="col-xs-5">
                                            <strong data-translate="627">Tender Type:</strong> {{ thisTransaction.tender_name }}
                                        </div>
                                    </div>
                                    <div ng-if="thisTransaction.status === 2" class="row">
                                        <div class="col-xs-12">
                                            <strong data-translate="4808">Discard Reason</strong> {{ thisTransaction.reason_code }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <span class="pull-left"><span data-translate="1461">Found</span> {{pendingDocs}} Document{{pendingDocsPlural}}.</span>
                    <button event-name="posPendingTransactionsEdit" type="button" tabindex="5" id="gotoTransactionButton" class="btn btn-lg btn-default" ng-disabled="gotoTransactionButton" ng-click="editSelectedTransaction()"><span data-translate="1474">Edit Transaction</span></button>
                    <button event-name="posPendingTransactionsEdit" type="button" tabindex="6" id="goToTransactionInTouchPosButton" class="btn btn-lg btn-default" ng-click="editSelectedTransaction(true)" ng-disabled="gotoTransactionButton" ng-show="disableTouchPOS()"><span data-translate="3293">View Transaction in Touch POS</span></button>
                    <button event-name="posPendingTransactionsDiscard" type="button" tabindex="7" id="discardTransactionButton" class="btn btn-lg btn-danger" data-permission="posdiscardpendingheldtransactions" data-permission-disabled="discardTransactionButton" ng-click="discardTransaction()"><span data-translate="906">Discard Transaction</span></button>
                    <button event-name="posPendingTransactionsClose" type="button" tabindex="8" id="closePendingTransactionsButton" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="907">Close</span></button>
                </div>
            </div>
        </div>
    </div>
</form>
