<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="padding20" ng-controller="posGeneral">
        <div id="ac_modal"></div>
        <div ng-show="contextState.level=='businessunit'">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span12">
                            <h6 data-translate="1370">Discounting</h6>
                            <editgrid ng-if="discountReasons" displaycolumns="Active,Discount Type Name,Req. Customer" datacolumns="active,name,cust_required" partial="/views/edit-discount-reasons.partial.htm" tableclass="ac_grid" modalclass="discount-modal"></editgrid>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>