<form novalidate="" id="transactionForm" name="transactionForm" class="form-horizontal">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 text-center">
            <div class="form-group">
                <div><img class="logo" ng-src="/images/{{defaultTheme.logo}}"></div>
                <div><button event-name="posTransactionGoToCustomer" type="button" class="btn btn-info" id="customerGoToButton" ng-click="gotoCustomer()" ng-disabled="disableCustomerGoToButton"><span data-translate="6303">Go To Customer</span></button></div>
            </div>
        </div>
        <div class="col-xs-4"> <!--id="bt_customer"-->
            <div class="panel panel-default" id="docSearchWrapper">
                <div class="panel-heading" ng-if="runIt && defaultSearchType !== false">
                  <customer-mini-lookup id="bt_customer" doc-search="true" pos-document="document" pos-callback="processCustomerSearch" pos-disabled="disableCustomerForm()" default-search="defaultSearchType"></customer-mini-lookup>
                  <!--<document-customer doc-search="true"></document-customer> -->
                </div>
                <simple-list-selection offset-x="10" offset-y="-10" list="customerGridOptions.data" select="addCustomerToDocument" ng-if="customerGridOptions.data.length>1" element-id="'docSearchWrapper'" columns="displayColumns" flow="'right'" width="600"></simple-list-selection>

                <div id="isDocSearch" class="panel-body" ng-show="document.bt_first_name || document.bt_last_name || document.bt_primary_phone_no || document.bt_email || customer.storecredit || customer.loyalty || customer.lastsaledate">
                    <div class="row" ng-show="document.bt_first_name || document.bt_last_name">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="751">Customer Name</strong>
                        </div>
                        <div class="col-xs-7 dsw-result">
                            {{document.bt_first_name}} {{document.bt_last_name}}
                        </div>
                    </div>
                    <div class="row" ng-show="document.bt_primary_phone_no">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="752">Primary Phone</strong>
                        </div>
                        <div class="col-xs-7 dsw-result">
                            {{document.bt_primary_phone_no}}
                        </div>
                    </div>
                    <div class="row" ng-show="document.bt_email">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="2796">Primary Email</strong>
                        </div>
                        <div class="col-xs-7 dsw-result">
                            {{document.bt_email}}
                        </div>
                    </div>
                    <div class="row" ng-show="(prefs.centrals_credit_enabled.toLowerCase() == 'false') &&customer.storecredit && (document.status == 3)">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="753">Store Credit</strong>
                        </div>
                        <div class="col-xs-7 dsw-result">
                            {{customer.storecredit|currency}}
                        </div>
                    </div>
                    <div class="row" ng-show="(prefs.centrals_credit_enabled.toLowerCase() == 'true') && customer.centralcredit && (document.status == 3)">
                      <div class="col-xs-5 text-right">
                        <strong data-translate="753">Store Credit</strong>
                      </div>
                      <div class="col-xs-7 dsw-result">
                        {{customer.centralcredit|currency}}
                      </div>
                    </div>
                    <div class="row" ng-show="prefs.pos_loyalty_enabled">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="754">Avail Lty Points</strong>
                        </div>
                        <div ng-class="{'text-danger':!document.lty_lvl_sid}" class="col-xs-7 dsw-result">
                            {{document.lty_balance_for_item_redeem|number:lty_decimals}}
                        </div>
                    </div>
                    <div class="row" ng-show="customer.lastsaledate">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="755">Last Purchase</strong>
                        </div>
                        <div class="col-xs-7 dsw-result">
                            {{customer.lastsaledate|cleanDate:'locale':true}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <button event-name="posTransactionQuickCustomer" tabindex="103" type="button" id="quickCustomerButton" class="btn btn-info form-control" ng-click="quickCustomer()" data-permission="CustomersCreateCustomer" data-permission-disabled="quickCustomerButton||document.ref_order_sid.length>0||(document.order_type!==null&&document.status===4)">
                    <span data-translate="758">Quick Customer</span>
                </button>
            </div>
            <div class="form-group">
                <button event-name="posTransactionRemoveCustome" tabindex="104" type="button" id="removeCustomerButton" class="btn btn-info form-control" ng-click="removeCustomer()" ng-disabled="removeCustomerButton||document.ref_order_sid.length>0||(document.order_type!==null&&document.status===4)">
                    <span data-translate="759">Remove Customer</span>
                </button>
            </div>
        </div>
        <div class="col-xs-4"> <!-- st_customer -->
            <div class="panel panel-default" id="shippingSearchWrapper">
                <div class="panel-heading" ng-if="runIt && defaultSearchType !== false">
                  <customer-mini-lookup id="st_customer" is-shipping="true" doc-search="true" pos-document="document" pos-callback="processCustomerSearch" pos-disabled="(stateParams.mode !== 'edit' && stateParams.mode !== 'new')||(document.status === 1)||(document.status === 2)||(document.status === 4 && !finalizedOrder)" default-search="defaultSearchType"></customer-mini-lookup>
                  <!-- <document-customer is-shipping="true" doc-search="true"></document-customer> -->
                </div>
                <simple-list-selection offset-x="10" offset-y="-10" list="shippingCustomerGridOptions.data" select="addCustomerToDocument" ng-if="shippingCustomerGridOptions.data.length>1" element-id="'shippingSearchWrapper'" columns="displayColumns" flow="'left'" width="600"></simple-list-selection>

                <div class="panel-body" id="isShipping" ng-show="document.st_first_name || document.st_last_name || document.st_primary_phone_number || document.st_address_line1 || document.st_address_line2 || document.st_address_line3 || document.st_postal_code">
                  <div class="row" ng-show="document.st_first_name || document.st_last_name">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="751">Customer Name</strong>
                        </div>
                        <div class="col-xs-7 ssw-result">
                            {{document.st_first_name}} {{document.st_last_name}}
                        </div>
                    </div>
                    <div class="row" ng-show="document.st_primary_phone_number">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="752">Primary Phone</strong>
                        </div>
                        <div class="col-xs-7 ssw-result">
                            {{document.st_primary_phone_number}}
                        </div>
                    </div>
                    <div class="row" ng-show="document.st_address_line1">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="536">Address 1</strong>
                        </div>
                        <div class="col-xs-7 ssw-result">
                            {{document.st_address_line1}}
                        </div>
                    </div>
                    <div class="row" ng-show="document.st_address_line2">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="538">Address 2</strong>
                        </div>
                        <div class="col-xs-7 ssw-result">
                            {{document.st_address_line2}}
                        </div>
                    </div>
                    <div class="row" ng-show="document.st_address_line3">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="540">Address 3</strong>
                        </div>
                        <div class="col-xs-7 ssw-result">
                            {{document.st_address_line3}}
                        </div>
                    </div>
                    <div class="row" ng-show="document.st_postal_code">
                        <div class="col-xs-5 text-right">
                            <strong data-translate="541">Postal Code</strong>
                        </div>
                        <div class="col-xs-7 ssw-result">
                            {{document.st_postal_code}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row form-group">
                        <div class="col-xs-5">
                          <item-search disable="{{(stateParams.mode !== 'edit' && stateParams.mode !== 'new')||(!document.sid)||(document.is_held)||(document.status === 1)||(document.status === 2)||(document.status === 4 && !finalizedOrder)}}" ng-if="!itemLookup"></item-search>
                          <input type="text" class="form-control" ng-disabled="true" ng-if="itemLookup" placeholder="{{ '1415' | translate }}">
                        </div>
                        <div class="col-xs-2">
                          <pos-advanced-item-search-button default-item-type="default.item_type" item-process-list="itemsToProcess" doc-selected-item="selectedItem" doc-items="document.items" adjust-qty="adjustQuantity" process-batch-items="processBatchItems()" btn-permission-disabled="(document.status === 1)||(document.status === 2)||(document.status === 4 && !finalizedOrder)">
                          </pos-advanced-item-search-button>
                        </div>
                    </div>
                    <div class="row">
                      <item-type-buttons single-buttons="true"></item-type-buttons>
                    </div>
                </div>
                <div class="panel-body height55">
                    <div class="row">
                        <div class="col-xs-2 text-center">
                            <div class="form-group">
                                <item-image item="document.items[selectedItem]" max-height="100" max-width="100" id="selected-item-img" class="center-block responsive"></item-image>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">
                                    <!-- DO NOT REMOVE THIS LABEL!!! -->
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">
                                    <!-- DO NOT REMOVE THIS LABEL!!! -->
                                </label>
                                <div class="col-xs-12">
                                    <order-details-button></order-details-button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">
                                    <!-- DO NOT REMOVE THIS LABEL!!! -->
                                </label>
                                <div class="col-xs-12">
                                    <button event-name="posTransactionTransactionDetails" tabindex="717" type="button" class="btn btn-info btn-block large-text" id="transactionDetailsButton" ng-disabled="transactionDetailsButton" ng-click="transactionDetails()">
                                      <span data-translate="779">Transaction Details</span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">
                                    <!-- DO NOT REMOVE THIS LABEL!!! -->
                                </label>
                                <div class="col-xs-12">
                                    <transaction-coupon-button></transaction-coupon-button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div class="panel panel-default">
                                <div id="transactionItems" class="panel-body SmallResultsPane height30 autoOverflow">
                                    <div class="list-group">
                                        <documentitem template="standard-shipping-template.htm"></documentitem>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="well well-sm clearfix">
                                    <div class="col-xs-4">
                                        <div class="row">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="622">Cashier</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.cashier_login_name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="699">Associate</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.employee1_login_name}}
                                            </div>
                                        </div>

                                        <div class="row" ng-show="document.document_number">
                                            <div class="col-xs-7 text-right">
                                                <strong>{{document.receipt_type|receipt_type_names}} <span data-translate="2337">Receipt No</span></strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.document_number}}
                                            </div>
                                        </div>
                                        <div class="row" ng-show="document.order_document_number">
                                            <div class="col-xs-7 text-right">
                                                <strong>{{document.order_type|order_type_names}} <span data-translate="2338">Order No</span></strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.order_document_number}}
                                            </div>
                                        </div>

                                        <div class="row" ng-show="document.sold_qty">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="623">Sold Qty</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.sold_qty| number}}
                                            </div>
                                        </div>
                                        <div class="row" ng-show="document.order_qty">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="624">Order Qty</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.order_qty| number}}
                                            </div>
                                        </div>
                                        <div class="row" ng-show="document.return_qty">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="625">Return Qty</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.return_qty| number}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="row" ng-show="document.order_subtotal">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="780">Orders Sub Total</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.order_subtotal|currency}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="781">Sub Total</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.transaction_subtotal|currency}}
                                            </div>
                                        </div>
                                        <div class="row" ng-show="document.total_discount_amt">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="715">Discount Amount</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.total_discount_amt|currency}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="782">Total Tax</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.transaction_total_tax_amt|tax}}
                                            </div>
                                        </div>
                                        <div class="row" ng-show="document.total_fee_amt">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="2110">Fees</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.total_fee_amt|currency}}
                                            </div>
                                        </div>
                                        <div class="row" ng-show="document.shipping_amt">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="784">Shipping</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.shipping_amt|currency}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7 text-right">
                                                <strong data-translate="2109">Transaction Total</strong>
                                            </div>
                                            <div class="col-xs-5">
                                                {{document.transaction_total_amt |currency}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="bg-info">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" id="documentTotal" class="text-right bg-info documentTotal text-primary" value="{{document.due_amt | currency}}" ng-disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button event-name="posTransactionTenderTransaction" tabindex="799" type="button" id="tenderbutton" class="btn btn-lg btn-success btn-block" ng-click="tenderTransaction()" ng-disabled="tenderbutton|| document.so_cancel_flag || searching">
                                                    <span data-translate="643" ng-if="!tenderbutton||itemsToProcess.length===0">Tender Transaction</span>
                                                    <span ng-if="tenderbutton&&itemsToProcess.length>0">{{'3733'|translate}}...</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <action-button-bar ng-if="posButtons" action-bar="posButtons"></action-button-bar>
</form>
