<form name="customerDetails" id="customerDetails">
    <div class="modalouter">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 data-translate="592">Customer Detail</h3>
                </div>
            </div>
        </div>
        <div class="modal-body ModalSearchPanel">
            <div class="container-fluid">
                <div class="row">
                    <h4 class="col-xs-12">{{customer.fullName}}</h4>
                </div>
                <div class="form-group">
                    <label data-translate="750">Customer ID:</label>
                    <input id="customerid" name="customerid" ng-readonly="true" type="text" class="form-control" ng-model="customer.id">
                </div>
                <div class="form-group">
                    <label data-translate="546">Email:</label>
                    <input id="email" name="email" ng-readonly="true" type="text" class="form-control" ng-model="customer.email">
                </div>
                <div class="form-group">
                    <label data-translate="536">Address 1:</label>
                    <input id="address1" name="address1" ng-readonly="true" type="text" class="form-control" ng-model="customer.address1">
                </div>
                <div class="form-group">
                    <label data-translate="538">Address 2:</label>
                    <input id="address2" name="address2" ng-readonly="true" type="text" class="form-control" ng-model="customer.address2">
                </div>
                <div class="form-group">
                    <label data-translate="540">Address 3:</label>
                    <input id="address3" name="address3" ng-readonly="true" type="text" class="form-control" ng-model="customer.address3">
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label data-translate="541">Postal Code:</label>
                            <input id="postal" name="postal" ng-readonly="true" type="text" class="form-control" ng-model="customer.postal">
                        </div>
                        <div class="form-group">
                            <label data-translate="550">Avail Store Credit:</label>
                            <input id="storecredit" name="storecredit" ng-readonly="true" type="text" class="form-control" data-currency-formatter numberonly ng-model="customer.storecredit">
                        </div>
                        <div class="form-group">
                            <label data-translate="1326">Last Purchase Date:</label>
                            <input id="lastpurchase" name="lastpurchase" ng-readonly="true" type="text" class="form-control" ng-model="customer.lastpurchase">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label data-translate="545">Phone:</label>
                            <input id="phone" name="phone" ng-readonly="true" type="text" class="form-control" ng-model="customer.phone">
                        </div>
                        <div class="form-group">
                            <label ng-class="{'text-muted':!customer.loyalty}" data-translate="1325">Avail Loyalty Points:</label>
                            <input id="loyalty" name="loyalty" ng-readonly="true" type="text" class="form-control" data-format-decimal="0" ng-model="customer.loyalty">
                        </div>
                        <div class="form-group">
                            <label ng-class="{'text-muted':!customer.loyalty}" data-translate="557">Loyalty Level:</label>
                            <input id="loyaltyLevel" name="loyaltyLevel" ng-readonly="true" type="text" class="form-control" ng-model="customer.loyaltylvl">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12">
                    <button event-name="posCustomerDetailsOk" id="closeCutomerDetailsButton" type="submit" class="btn btn-lg btn-default btn-block" ng-click="closeForm()">
                        <span data-translate="1.1">OK</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
