<form novalidate="novalidate" id="touchMenuDelete" name="touchMenuDelete" class="form-horizontal relative">
	<div class="modalouter">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-translate="1962">Delete Menu</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">

			<div class="row">
				<p class="col-xs-12" data-translate="2227">Deletion of this menu will remove all buttons associated wtih this menu. Select <strong>Ok</strong> to confirm deletion. Select <strong>Cancel</strong> to return the the previous screen.</p>
			</div>

			<div class="row" ng-show="isDefaultMenu">
			  	<p class="col-xs-12" data-translate="1964">Menu is currently defined as the default menu. Select a new default menu to continue.</p>
			</div>
			<div class="row" ng-show="isDefaultMenu">
				<div class="col-xs-12">
					<select class="form-control" ng-model="formData.existingMenu" ng-options="menu.sid as menu.label for menu in existingMenus" ng-required="isDefaultMenu">
						<option value="" data-translate="1504">Choose a Menu...</option>
					</select>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<div class="row">

				<div class="col-xs-6">
					<button class="btn btn-default btn-block" tabindex="15" type="button" id="okButton" ng-click="deleteMenu()" ng-disabled="!touchMenuDelete.$valid"><span data-translate="2226">Ok</span></button>
				</div>

				<div class="col-xs-6">
					<button class="btn btn-default btn-block" tabindex="16" type="button" id="cancelButton" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
				</div>
			</div>
		</div>
	</div>
</form>