<form name="form.returnReasonRequiredForm" id="returnReasonRequiredForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4><img src="/images/pos/item_type_48.png"> <span data-translate="2884">Return Reason Required</span></h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <p data-translate="2907">You must supply a return reason.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">
                        <strong data-translate="1412">Return Reason:</strong>
                    </label>
                    <div class="col-xs-9">
                        <select id="returnReason" name="returnReason" class="form-control" tabindex="10" ng-model="form.returnReason" ng-options="r.name as r.name for r in returnReasonsList"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posReturnReasonRequiredOk" id="returnReasonRequiredOkButton" name="returnReasonRequiredOkButton" tabindex="3" type="submit" class="btn btn-lg btn-default" ng-click="setReturnReason()" ng-disabled="form.returnReason === ''"><span data-translate="1.1">OK</span></button>
                        <button event-name="posReturnReasonRequiredCancel" id="returnReturnReasonRequiredCancelButton" name="returnReturnReasonRequiredCancelButton" tabindex="4" type="button" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
