<form class="modal-default" name="avl_form">
    <div class="modal-content">
        <div class="modal-header">
            <span data-translate="3289">Advanced Item Lookup</span>
        </div>
        <div class="modal-body" id="adv_lookup_ctrls">
            <div class="row">
                <div class="col-xs-4">
                    <search-filter params="search" searching="searching" ng-if="search"></search-filter>
                </div>
                <div class="col-xs-8">
                    <div class="height60" ui-i18n="{{lang}}">
                        <div id="grid1" ui-grid-resize-columns="" ui-grid-selection="" ng-if="gridOptions.data&&showGrid" ui-grid="gridOptions" external-scopes="gridHandlers" class="grid"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-2 text-left">
                    <div ng-if="gridOptions.data && totalRecords>0&&!searching"><span data-translate="2893">Total Records:</span>&nbsp;{{totalRecords}}</div>
                    <div ng-if="totalRecords===0&&!searching"><span data-translate="2894">No records found.</span></div>
                </div>
                <div class="col-xs-7 text-center">
                    <paging-control ng-if="gridOptions.data.length>0" total-records="totalRecords" grid-reference="gridApi" results-per-page="pageSize" call-back="getData"></paging-control>
                </div>
                <div class="col-xs-3 text-right">
                  <button class="btn btn-info" data-permission="viewitemdetails" permission-disabled="activeItems.length!==1" ng-click="itemDetails()"><span data-translate="765">Item Details</span></button>
                    <button class="btn btn-info" event-name="posItemSelectionSelectItem" type="button" tabindex="6" id="posItemSelectionSelectItemButton" name="posItemSelectionSelectItemButton" ng-disabled="activeItems.length===0" ng-click="selectItems()"><span data-translate="1416">Select Item</span></button>
                    <button class="btn btn-info" type="button" ng-click="$close()" data-translate="1.2">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
