<ng-form name="LotNumbersForm" id="LotNumbersForm" class="form-horizontal" novalidate="undefined" ui-keypress="{13:'submitForm(LotNumbersForm)'}">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="3379">Lot Number Required</h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid modal-maxHeight autoOverflow">
        <div ng-repeat="thisItem in promptLotItems track by $index">
          <div class="row top-margin20">
            <span ng-hide="true">{{thisItem.item_type}}</span>
            <div class="control-group has-feedback" ng-class="((!thisItem.lot_number) && lotNoIsRequired(thisItem)) ? 'has-error' : (!thisItem.lot_number) ? 'has-warning' : 'has-success' ">
              <div class="col-xs-3 valign-middle">
                <input type="text" tabindex="{{1000 + $index * 2}}" maxlength="25" id="itemLotNumber{{$index}}" name="itemLotNumber" class="form-control uppercase" ng-model="thisItem.lot_number" enter-blur ng-blur="validateLotNo(thisItem)" ng-require="lotNoIsRequired(thisItem)" ng-change="lotNoChange(thisItem)">
                <i class="glyphicon glyphicon-search form-control-feedback" id="lotNoLookupIcon" ng-click="lotNoLookup(thisItem,$index)"></i>
              </div>
            </div>
            <div class="control-group" ng-if="getQty">
              <label class="col-xs-1 valign-middle" style="text-align:right;" for="quantity" data-translate="764">Qty</label>
              <div class="col-xs-2 valign-middle">
                <input tabindex="{{1000 + ($index * 2) + 1}}" type="text" class="form-control" id="quantity" min="0" name="quantity" decimals="{{item.inventory_use_quantity_decimals}}" numberonly="undefined" ng-change="changeQty()" data-currency-formatter="number" ng-model="thisItem.quantity">
              </div>
            </div>
            <div class="control-group" ng-if="!getQty">
              <div class="col-xs-2 valign-middle">
                <strong data-translate="764">Qty</strong> {{thisItem.quantity}}
              </div>
            </div>
            <div class="control-group">
              <div class="col-xs-3 valign-middle">
                <strong data-translate="677">UPC</strong> {{ thisItem.scan_upc|padUPC }}
              </div>
            </div>
            <div class="control-group">
              <div class="col-xs-3 valign-middle">
                {{ thisItem.item_description1 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="pull-right">
          <button ng-if="showCancel" type="button" event-name="enterLotNoCancel" id="enterLotNoCancelButton" class="btn btn-info btn-default" ng-click="cancelEntry();$close();"><span data-translate="1.2">Cancel</span></button>
          <button type="button" event-name="submitLotNoForm" id="submitButton" ng-click="lotNoClose($event)" class="btn btn-info btn-default" ng-disabled="(!okToClose) || LotNumbersForm.$dirty && LotNumbersForm.$invalid" data-translate="2226">Ok</button>
        </div>
      </div>
    </div>
  </div>
</ng-form>

