<form name="$parent.orderDepositForm" id="orderDepositForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1430">Deposit Amount</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 data-translate="663">SO Deposit</h4>
                        <p data-translate="1435">Please select the deposit amount to be taken with this transaction.</p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="664">Orders Total Due:</label>
                    <div class="col-xs-8">
                        <input type="text" id="ordersTotalDue" name="orderBalanceDue" class="form-control" data-currency-formatter="" numberonly="" ng-readonly="true" ng-model="form.orderBalanceDue">
                    </div>
                </div>
                <div class="form-group" ng-if="form.deposit_amt_required>0">
                  <label class="col-xs-4 control-label"><span>{{form.minDepositPercent}}</span><span ng-if="form.minDepositPercent">%</span> <span data-translate="665">Minimum Deposit</span></label>
                    <div class="col-xs-8">
                        <input type="text" id="minimumDeposit" name="minimumDeposit" class="form-control" data-currency-formatter="" numberonly="" ng-readonly="true" ng-model="form.deposit_amt_required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" ng-if="form.calcType === 'Amt'" data-translate="666">Deposit Amount</label>
                    <label class="col-xs-4 control-label" ng-if="form.calcType === 'Perc'" data-translate="6108">Deposit Percent</label>
                    <div class="col-xs-8">
                      <div class="input-group">
                        <input type="tel" id="depositAmount" name="depositAmount" class="form-control" ng-focuser="form.depositFocus" data-currency-formatter="{{form.calcType === 'Amt'?'currency':'number'}}" numberonly="" ng-model="form.depositAmount" ng-change="calculateDeposit()">
                        <div class="input-group-btn">
                          <button event-name="posOrderDepositAmount" type="button" class="btn btn-info" ng-model="form.calcType" ng-disabled="form.calcType==='Amt'" uib-btn-radio="'Amt'" ng-click="calculateDeposit()"><span data-translate="1440">Amt</span></button>
                          <button event-name="posOrderDepositPercent" type="button" class="btn btn-info" ng-model="form.calcType" uib-btn-radio="'Perc'" ng-disabled="form.calcType==='Perc'" ng-click="calculateDeposit()"> % </button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" ng-if="form.calcType === 'Perc'">
                    <label class="col-xs-4 control-label" data-translate="666">Deposit Amount</label>
                    <div class="col-xs-8">
                      <input type="tel" id="calcDepositAmount" name="calcDepositAmount" class="form-control" data-currency-formatter="" numberonly="" ng-model="depositWhole" readonly="readonly">
                    </div>
                </div>
                <div class="form-group" ng-if="over||under||unbalanced">
                  <div class="col-xs-8 col-xs-offset-4">
                    <p class="text-danger" ng-show="under" data-translate="6124">Deposit cannot be less than the Minimum Deposit.</p>
                    <p class="text-danger" ng-show="unbalanced" data-translate="6126">Deposit cannot take Total Deposit Taken below zero.</p>
                    <p class="text-danger" ng-show="over" data-translate="6125">Deposit cannot be greater than the Order Total Due.</p>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label"></label>
                    <div class="col-xs-4">
                        <button event-name="posOrderDepositMinimumDeposit" class="btn btn-info form-control" type="button" ng-click="form.calcType='Amt';payMinimumDue()"><span data-translate="667">Minimum Deposit</span></button>
                    </div>
                    <div class="col-xs-4">
                        <button event-name="posOrderDepositBalance" class="btn btn-info form-control" type="button" ng-click="payBalanceDue()"><span data-translate="932">Balance</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posOrderDepositOk" class="btn btn-lg btn-default" type="submit" ng-click="processDeposit()" ng-disabled="disableOkButton()"><span data-translate="1.1">OK</span></button>
                        <button event-name="posOrderDepositCancel" class="btn btn-lg btn-default" type="button" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

