<form name="customerStoreCreditAvailableForm" id="customerStoreCreditAvailableForm" class="form-horizontal">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-translate="577">Store Credit</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<p data-translate="1475">
						Customer store credit available.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<span data-translate="1476">The customer has</span>
						<strong>{{storeCredit|currency}}</strong>
						<span data-translate="1477">available.</span><br>
						<span data-translate="1478">Do they want to use it now?</span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="container-fluid">
				<div class="row">
					<button event-name="posStoreCreditYes" type="submit" tabindex="50" id="storeCreditYesButton" class="btn btn-lg btn-default" ng-click="closeForm(true)"><span data-translate="1.5">Yes</span></button>
					<button event-name="posStoreCreditNo" type="button" tabindex="51" id="storeCreditNoButton" class="btn btn-lg btn-default" ng-click="closeForm(false)"><span data-translate="1.6">No</span></button>
				</div>
			</div>
		</div>
	</div>
</form>