<form autocomplete="off" name="purchaseCentralGiftCard" id="purchaseCentralGiftCard">
    <div class="modalouter">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 data-translate="3016">Purchase Central Gift Card</h3>
                </div>
            </div>
        </div>
        <div class="modal-body ModalSearchPanel">
            <div class="container-fluid">
                <div class="row">
                    <p data-translate="3017">Please enter a Gift Card Amount</p>
                </div>
                <div class="form-group">
                    <label data-translate="982">Amount</label> (<em ng-if="(purchaseLimit*1)!==0" data-translate="3270">max.</em> {{purchaseLimit | currency}})
                    <input id="giftCardAmount1" data-currency-formatter="" numberonly max="{{purchaseLimit}}" ng-if="(purchaseLimit*1)!==0" name="giftCardAmount" type="text" class="form-control" ng-required="!centralGiftCardGenerateCentralID" ng-model="card.amount">
                    <input id="giftCardAmount2" data-currency-formatter="" numberonly ng-if="(purchaseLimit*1)===0" name="giftCardAmount" type="text" class="form-control" ng-required="!centralGiftCardGenerateCentralID" ng-model="card.amount">
                </div>
                <div class="form-group">
                    <label data-translate="1426">Card Number</label>
                    <div class="row form-group">
                        <div class="col-xs-10">
                            <input tabindex="3" ng-disabled="!allowGCKey" type="{{centralGiftCardElementType}}" id="giftCardNumber" name="giftCardNumber" class="form-control text-right" ng-model="card.cardNumber" required swipe-tracker>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-info btn-block" ng-click="swipeCard('',true)"><span class="glyphicon glyphicon-credit-card"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 text-center">
                        <button event-name="posCentralGiftCardFiveDollar" ng-disabled="(purchaseLimit*1)!==0 && ((((card.amount*1)+5)>purchaseLimit) || (purchaseLimit<5))" id="posCentralGiftCardfiveDollarButton" tabindex="3" type="button" class="btn btn-lg btn-info" ng-click="addToAmount(5)"><span data-translate="918">$5</span></button> 
                        <button event-name="posCentralGiftCardTenDollar" ng-disabled="(purchaseLimit*1)!==0 && ((((card.amount*1)+10)>purchaseLimit) || (purchaseLimit<10))" id="posCentralGiftCardtenDollarButton" tabindex="4" type="button" class="btn btn-lg btn-info" ng-click="addToAmount(10)"><span data-translate="919">$10</span></button>
                        <button event-name="posCentralGiftCardTwentyDollar" ng-disabled="(purchaseLimit*1)!==0 && ((((card.amount*1)+20)>purchaseLimit) || (purchaseLimit<20))" id="posCentralGiftCardtwentyDollarButton" tabindex="5" type="button" class="btn btn-lg btn-info" ng-click="addToAmount(20)"><span data-translate="920">$20</span></button> 
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12 text-center">
                        <button event-name="posCentralGiftCardFiftyDollar" ng-disabled="(purchaseLimit*1)!==0 && ((((card.amount*1)+50)>purchaseLimit) || (purchaseLimit<50))" id="posCentralGiftCardfiftyDollarButton" tabindex="6" type="button" class="btn btn-lg btn-info" ng-click="addToAmount(50)"><span data-translate="921">$50</span></button>
                        <button event-name="posCentralGiftCardOneHundredDollar" ng-disabled="(purchaseLimit*1)!==0 && ((((card.amount*1)+100)>purchaseLimit) || (purchaseLimit<100))" id="posCentralGiftCardOneHundredDollarButton" tabindex="2" type="button" class="btn btn-lg btn-info" ng-click="addToAmount(100)"><span data-translate="3018">$100</span></button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button event-name="posCentralGiftCardPurchaseCancel" id="posCentralGiftCardPurchaseCancel" type="button" class="btn btn-lg btn-default" ng-click="closeForm()">
                        <span data-translate="1.2">Cancel</span>
                    </button>
                    <button event-name="posCentralGiftCardPurchase" id="posCentralGiftCardPurchase" type="button" class="btn btn-lg btn-default" ng-disabled="(!purchaseCentralGiftCard.$valid)||(!card.cardNumber)||(!card.amount)" ng-click="closeForm(true)">
                        <span data-translate="930">Purchase</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
