<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-xs-12">
					<div class="row" ng-show="displayError">
						<div class="col-xs-12">
							<p ng-if="displayError">{{error}}</p>
						</div>
					</div>
					<div class="row" ng-show="!displayError">
						<div class="col-xs-12">
							<p ng-show="columnList.left.length === 0">Working...</p>
							<div class="row">
								<div class="col-xs-5">
									<div class="btn-group" role="group" aria-label="...">
										<button ng-show="columnList.left.length > 0 && !generated && !generatedXml" type="button" class="btn btn-info" ng-click="changeColumnState(true)">
                      <span data-translate="7050">Include All</span>
                    </button>
										<button ng-show="columnList.left.length > 0 && !generated && !generatedXml" type="button" class="btn btn-warning" ng-click="changeColumnState(false)">
                      <span data-translate="7051">Exclude All</span>
                    </button>
										<button ng-show="columnList.left.length > 0 && !generated && !generatedXml" type="button" class="btn btn-default" ng-click="generatePreference()">
                      <span data-translate="5255">Generate</span>
                    </button>
										<button ng-show="generated || generatedXml" type="button" class="btn btn-default" ng-click="goBack()">
                      <span data-translate="801">Back</span>
                    </button>
										<button ng-show="generated || generatedXml || splitContent" type="button" class="btn btn-default" ng-click="splitContent = true;">
                      <span data-translate="2246">Split</span>
                    </button>
									</div>
								</div>
								<div class="col-xs-7" ng-show="columnList.left.length > 0 && !generatedXml">
									<div class="row" style="background-color: #dddddd;">
										<div class="form-group">
                      <div class="col-xs-2 text-right"><label class="control-label" style="font-size: smaller"><span data-translate="7052">Grid ID #</span></label></div>
											<div class="col-xs-2"><input class="form-control" type="text" ng-model="xmlObj.gridId"></div>
											<div class="col-xs-3 text-right"><label class="control-label" style="font-size: smaller">&nbsp;&nbsp;<span data-translate="7053">Order Index Start</span> #</label></div>
											<div class="col-xs-2"><input class="form-control" type="text" ng-model="xmlObj.orderIndex"></div>
										</div>
										<div class="col-xs-3"><button type="button" class="btn btn-default" ng-click="generateXmlCols()">
                      <span data-translate="7054">Generate XML Cols</span>
                    </button></div>
									</div>
								</div>
							</div>
							<br>
							<div class="row" ng-if="generatedXml">
								<div class="col-xs-8 col-xs-offset-2">
									<textarea rows="30" cols="100" ng-model="xmlObj.value"></textarea>
								</div>
								<br>
							</div>
							<div class="row" ng-if="generated">
								<div ng-if="!splitContent">
									<div class="col-xs-8 col-xs-offset-2">
                    <p><span data-translate="7055">Instructions: Copy this String into a .js file inside the app/scripts/ folder, replace the string '##' for '~~' (some text editors will take long, you can replace from <a href="http://www.unit-conversion.info/texttools/replace-text/">here</a>) and run the grunt translate task in order to generate the colum translations.</span></p>
									</div>
									<div class="col-xs-6 col-xs-offset-3">
                    <h5><span data-translate="6692">Preference</span> {{preferenceObj.name}}</h5>
										<pre>{{preferenceObj.value}}</pre>
                    <h5><span data-translate="7056">Translation Mapping</span></h5>
										<pre>{{translationMapping}}</pre>
									</div>
								</div>
								<div ng-if="splitContent">
									<div class="col-xs-8 col-xs-offset-2">
										<textarea ng-model="contentToSplit.value"></textarea>
									</div>
									<div class="col-xs-8 col-xs-offset-2">
                    <button type="button" class="btn btn-default" ng-click="prepareForPreference()"><span data-translate="7057">Prepare preference</span></button>
									</div>
									<div class="col-xs-8 col-xs-offset-2">
									<textarea ng-model="contentPrepared.value"></textarea>
									</div>
								</div>
							</div>
							<div class="row" ng-if="!generated && !generatedXml">
								<div class="col-xs-6">
									<ul ng-if="columnList.left.length > 0" class="list-group">
										<li class="list-group-item" ng-repeat="(key, column) in columnList.left">
											<h4>{{column.name}}</h4>
											<label><input type="checkbox" class="include_column" ng-model="column.state" data-index="{{key}}" data-side="left"> include&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label><input type="checkbox" ng-model="column.visible" data-index="{{key}}" data-side="left"> available&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label><input type="checkbox" ng-model="column.selected" data-index="{{key}}" data-side="left"> selected&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label><input type="checkbox" ng-model="column.sortable" data-index="{{key}}" data-side="left"> sortable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label><input type="checkbox" ng-model="column.enableCellEdit" data-index="{{key}}" data-side="left"> editable</label>
										</li>
									</ul>
								</div>
								<div class="col-xs-6">
									<ul ng-if="columnList.right.length > 0" class="list-group">
										<li class="list-group-item" ng-repeat="(key, column) in columnList.right">
											<h4>{{column.name}}</h4>
											<label><input type="checkbox" class="include_column" ng-model="column.state" data-index="{{key}}" data-side="right"> include&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label><input type="checkbox" ng-model="column.visible" data-index="{{key}}" data-side="left"> available&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label><input type="checkbox" ng-model="column.selected" data-index="{{key}}" data-side="left"> selected&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label><input type="checkbox" ng-model="column.sortable" data-index="{{key}}" data-side="left"> sortable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label><input type="checkbox" ng-model="column.enableCellEdit" data-index="{{key}}" data-side="left"> editable</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
