<form name="printDialogueForm" id="printDialogueForm" class="form-horizontal">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-translate="1586">Print Preview</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="height70">
        <iframe id="print_preview_frame" class="col-md-12 height70 autoOverflowPortrait" ng-src="{{templates.pos.register.xout_preview()}}" style="border: none; width:100%;"></iframe>
      </div>
    </div>
    <div class="modal-footer">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group" ng-if="showPrintButton">
        <button type="button" class="btn btn-default btn-lg" event-name="printPreviewPrint" ng-disabled="disablePrint" type="submit" id="printButton" ng-click="print()"><span data-translate="522">Print</span></button>
      </div>
      <div class="btn-group" role="group" ng-if="!printTags && showEmailButton">
        <button type="button" class="btn btn-default btn-lg" event-name="printPreviewEmail" ng-disabled="disableEmail" id="emailButton" ng-click="email()"><span data-translate="524">Email</span></button>
      </div>
      <div class="btn-group" role="group" ng-if="!printTags && showPrintEmailButton">
        <button type="button" class="btn btn-default btn-lg" event-name="printPreviewPrintEmail" id="printemailButton" ng-click="printemail()" ng-disabled="disablePrint||disableEmail"><span data-translate="4449">Print/Email</span></button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-lg" event-name="printPreviewCancel" id="cancelPrintButton" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button>
      </div>
    </div>
	</div>
    </div>
</form>
