<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="padding20" ng-controller="printPreferences">
        <div ng-repeat="x in printAreas">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{x.name}}
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-xs-3">
                            <label class="control-label" data-translate="1581">Default Action</label>
                            <select class="form-control" ng-required="true" ng-model="pData['peripherals_output_'+ x.value +'_action'].value" ng-options="s.val as s.txt | translate for s in printActions">
                                <option value="" data-translate="1358">Select...</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label" data-translate="1582">Print Design</label>
                            <select ng-disabled="useHWS" class="form-control" ng-required="!useHWS" ng-model="pData['peripherals_output_'+ x.value +'_print_design'].value" ng-options="s.sid as s.design_name for s in dz[x.value].print">
                                <option value="" data-translate="1358">Select...</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label" data-translate="1583">Email Design</label>
                            <select ng-disabled="useHWS" class="form-control" ng-required="!useHWS" ng-model="pData['peripherals_output_'+ x.value +'_email_design'].value" ng-options="s.sid as s.design_name for s in dz[x.value].email">
                                <option value="" data-translate="1358">Select...</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label" data-translate="1584">Preview Design</label>
                            <select ng-disabled="useHWS" class="form-control" ng-required="!useHWS" ng-model="pData['peripherals_output_'+ x.value +'_preview_design'].value" ng-options="s.sid as s.design_name for s in dz[x.value].preview">
                                <option value="" data-translate="1358">Select...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" ng-show="false">
                        <div class="col-xs-6">
                            <label class="control-label" data-translate="1585">Default Email Subject</label>
                            <input type="text" class="form-control" ng-model="pData['peripherals_output_'+ x.value +'_email_subject'].value">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
