<form name="form.createPrismSubscriberForm" id="form.createPrismSubscriberForm">
<div class="modal-header">
	<div class="row">
		<div class="col-xs-12">
			<h4 ng-hide="isEdit" data-translate="1972">Create New {{subscriptionTypes[subscriber.subscriptionType]}} Subscriber</h4>
			<h4 ng-show="isEdit" data-translate="1973"></h4>
		</div>
	</div>
</div>
<div class="modal-body">

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group" ng-class="{'has-error': form.createPrismSubscriberForm.name.$invalid, 'has-success':!form.createPrismSubscriberForm.name.$invalid }">
				<label for="name" class="control-label" data-translate="1601">Subscriber Name</label>
				<input required="required" class="form-control" id="name" name="name" ng-model="subscriber.name" type="text">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10">
			<div class="form-group" ng-class="{'has-error': form.createPrismSubscriberForm.targetAddress.$invalid, 'has-success':!form.createPrismSubscriberForm.targetAddress.$invalid }">
				<label for="targetAddress" class="control-label">{{subscriptionTypes[subscriber.subscriptionType]}} <span data-translate="1594">Subscriber's Host</span></label>
				<input required="required" class="form-control" id="targetAddress" name="targetAddress" ng-model="subscriber.targetAddress" type="text" ng-blur="isExistingSubscriber()">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group" ng-class="{'has-error': form.createPrismSubscriberForm.targetPort.$invalid, 'has-success':!form.createPrismSubscriberForm.targetPort.$invalid }">
				<label for="targetPort" class="control-label" data-translate="1221">Port</label>
				<input required="required" id="targetPort" name="targetPort" ng-model="subscriber.targetPort" type="text" class="form-control" maxlength="5">
			</div>
		</div>
		<div class="col-xs-12" ng-show="form.createPrismSubscriberForm.targetAddress.$invalid && subscriber.targetAddress !== undefined ">
			<div class="form-group has-error">
				<p class="help-block">There is already a subscriber with that hostname.</p>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="checkbox">
				<label for="Active" class="control-label">
					<input id="SysUser" name="SysUser" ng-model="subscriber.isSysUser" type="checkbox" ng-change="sysUserChange()">
					<span>Use DRS_SYS user</span>
				</label>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="form-group" ng-class="{'has-error': form.createPrismSubscriberForm.targetUsername.$invalid, 'has-success':!form.createPrismSubscriberForm.targetUsername.$invalid }">
				<label for="targetUsername" class="control-label" data-translate="1595">{{subscriptionTypes[subscriber.subscriptionType]}} Username</label>
				<input ng-required="!subscriber.isSysUser" class="form-control" id="targetUsername" name="targetUsername" ng-model="subscriber.targetUsername" type="text" ng-disabled="subscriber.isSysUser">
			</div>

		</div>
		<div class="col-xs-6">
			<div class="form-group" ng-class="{'has-error': form.createPrismSubscriberForm.targetPassword.$invalid, 'has-success':!form.createPrismSubscriberForm.targetPassword.$invalid }">
				<label for="targetPassword" class="control-label" data-translate="1596">{{subscriptionTypes[subscriber.subscriptionType]}} Password</label>
				<input ng-required="!subscriber.isSysUser" class="form-control" id="targetPassword" name="targetPassword" ng-model="subscriber.targetPassword" type="password" ng-disabled="subscriber.isSysUser" maxlength="24">
			</div>
		</div>

	</div>
	<input type="hidden" name="dirtyResource" ng-model="dirtyResource">

	<!--<div class="row">
		<div class="col-xs-12">
			<p>** Hostname must be provided as a fully qualified domain name(FQDN) e.g.(host.example.com)</p>
		</div>
	</div>-->
	<hr>
	<div ng-if="isEdit">
		<div class="row">
			<div class="col-xs-8">
				<label for="subscriptions-list" data-translate="4300">Subscriptions</label>
				<select class="form-control" ng-model="selectedSubscription.value" ng-change="initializeResources(selectedSubscription.value)" ng-options="subscription as subscription.subscription_name for subscription in subscriberInformation.subscriptions track by subscription.sid">
					<option value="">{{'4301'|translate}}</option>
				</select>
			</div>
			<div class="col-xs-2">
				<br>
				<button class="btn btn-primary" type="button" ng-click="openAddSubscriberModal()"><span class="glyphicon glyphicon-plus"></span></button>
				<button class="btn btn-danger" type="button" ng-click="removeSubscription(selectedSubscription.value)" ng-if="selectedSubscription.value !== null"><span class="glyphicon glyphicon-remove-circle"></span></button>
			</div>
		</div>
		<br>
		<div class="row" ng-if="selectedSubscription.value !== null&&subscriptionEventReady">
			<div class="col-xs-5">
				<div class="form-group">
					<label for="subscriptionType" data-translate="1591">Subscription Type</label>
					<select class="form-control" id="subscriptionType" name="subscriptionType" ng-change="refreshSubscriptionEvents();form.createPrismSubscriberForm.dirtyResource.$setViewValue('dirty');" ng-model="selectedSubscription.value.server_type">
						<option value="1" data-translate="1592">Version 9</option>
						<option value="0" data-translate="1593">Prism</option>
					</select>
				</div>
			</div>
			<div class="col-xs-2">
				<br>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="active" ng-model="selectedSubscription.value.active" ng-click="form.createPrismSubscriberForm.dirtyResource.$setViewValue('dirty')"> <span data-translate="586">Active</span>
					</label>
				</div>
			</div>
		</div>
		<div class="row" ng-if="reloadSubscriptionEventsContent()">
			<div class="col-xs-12">
				<label data-translate="4302">Subscription Events</label>
				<div class="col-xs-12">
					<div class="checkbox">
						<label for="selectAllResources">
							<input type="checkbox" id="selectAllResources" ng-model="subscriberInformation.allSelected" ng-click="toggleAll()" ng-disabled="true">
							<span data-translate="1606">All Resources</span>
						</label>
					</div>
				</div>
				<div ng-if="refreshEvents" ng-repeat="resource in resources" class="col-xs-3">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-disabled="!(resource.name.toLowerCase() !== 'pisheettov9')" ng-checked="resource.checked" name="{{resource.name}}" ng-click="toggleResource($index);">
							{{prettyPrintResource(resource.name)}}
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row" ng-if="!isEdit">
		<div class="col-xs-12">
			<label data-translate="needsID">Subscription Events</label>
			<div class="col-xs-12">
				<div class="checkbox">
					<label for="selectAllResources">
						<input type="checkbox" id="selectAllResources" ng-model="subscriber.allSelected" ng-click="toggleAll()" ng-disabled="true" />
						<span data-translate="1606">All Resources</span>
					</label>
				</div>
			</div>
			<div ng-repeat="resource in resources" class="col-xs-3">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-disabled="!(resource.name.toLowerCase() !== 'pisheettov9')"  name="{{resource.name}}" ng-click="toggleResource($index);" />
						{{prettyPrintResource(resource.name)}}
					</label>
				</div>
			</div>
		</div>
	</div> -->
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-xs-6" ng-hide="isEdit">
			<button type="button" class="btn btn-default btn-block" ng-click="saveSubscriber()" ng-disabled="form.createPrismSubscriberForm.$invalid || !form.createPrismSubscriberForm.$dirty" disabled="disabled"><span data-translate="547">Save</span></button>
		</div>
		<div class="col-xs-6" ng-show="isEdit">
			<button type="button" class="btn btn-default btn-block" ng-click="updateSubscriber()" ng-disabled="form.createPrismSubscriberForm.$invalid || !form.createPrismSubscriberForm.$dirty" disabled="disabled"><span data-translate="547">Update</span></button>
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-default btn-block" ng-click="close()"><span data-translate="907">Close</span></button>
		</div>
	</div>
</div>
</form>
