<form name="editVersion9SubscriberForm" id="editVersion9SubscriberForm">
<div class="modal-header">
	<div class="row">
		<div class="col-xs-12">
			<h4 data-translate="1605">Resource Subscriptions</h4>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="row ModalSearchPanel autoOverflow">
		<div class="col-xs-12">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
		<div class="col-xs-12">
			<loading-indicator is-loading="isLoading" ng-text="loadingMsg"></loading-indicator>

			<div ng-show="!isLoading" class="checklist">
			<ul>
				<li>
					<div style="height:450px;overflow:auto;">
						<input type="checkbox" id="selectAllResources" ng-checked="allChecked" ng-click="toggleAllResources()">
						<label for="selectAllResources"><strong data-translate="1606">All Resources</strong></label>
					</div>
					<ul>
						<li ng-repeat="resource in resources">
							<div>
								<input type="checkbox" id="{{'reource_' + resource.pubsubresource.pub_resource_seq}}" ng-checked="checkedResources.indexOf(resource.pubsubresource.pub_resource_seq) !== -1" ng-click="toggleSelectedResource(resource.pubsubresource.pub_resource_seq);toggleCheckedIndex($index);">
								<label for="{{'reource_' + resource.pubsubresource.pub_resource_seq}}"> {{resource.pubsubresource.resource_name}}</label>
							</div>
						</li>
					</ul>
				</li>
			</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-default btn-block" type="button" tabindex="15" ng-click="saveSubscribers()" ng-disabled="buttonsEnabled"><span data-translate="1.3">Apply</span></button>
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-default btn-block" ng-disabled="buttonsEnabled" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
		</div>
	</div>
</div>
</form>
