<div ng-controller="version9PublisherController" ng-init="init()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 data-translate="1002">RIL Publisher</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="Version9Host" data-translate="1611">Publisher Hostname**</label>
                        <input required="required" class="form-control" id="Version9Host" name="Version9Host" ng-model="Version9Host" type="text">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="Version9Port" data-translate="1221">Port</label>
                        <input required="required" class="form-control" id="Version9Port" name="Version9Port" ng-model="Version9Port" type="text" maxlength="5">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary" ng-click="getSubscribers()"><span data-translate="1612">Load Subscribers</span></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p data-translate="2032">** Hostname must be provided as a fully qualified domain name(FQDN) e.g.(host.example.com)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <div ng-if="!initializing">
                            <table class="table table-bordered table-striped table-responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th data-translate="586">Active</th>
                                        <th data-translate="1601">Subscriber Name</th>
                                        <th data-translate="1977">Source Address</th>
                                        <th data-translate="1978">Target Address</th>
                                        <th data-translate="1613">Actions</th>
                                        <th data-translate="805">Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="entity in subscribers" ng-if="(active.globalfilter === '' || entity.subscriber.initglobalfilter === active.globalfilter)">
                                        <td style="vertical-align:middle">
                                            <div>
                                                <span ng-if="entity.subscriber.active" class="glyphicon glyphicon-ok" style="display:block;text-align:center;color:green;"></span>
                                                <span ng-if="!entity.subscriber.active" class="glyphicon glyphicon-remove" style="display:block;text-align:center;color:red;"></span>
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            {{entity.subscriber.subscriber_name}}
                                        </td>
                                        <td style="vertical-align:middle">
                                            {{entity.subscriber.source_address}}
                                        </td>
                                        <td style="vertical-align:middle">
                                            {{entity.subscriber.address}}
                                        </td>
                                        <td class="text-center" width="150px">
                                            <button type="button" class="btn btn-primary" ng-click="editSubscriber(entity.subscriber)" title="{{ '1615' | translate }} ">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button type="button" class="btn btn-primary" ng-disabled="entity.subscriber.checkingStatus" ng-click="getStatus(entity.subscriber, true)" title="{{ '1616' | translate }} ">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>



                                            <!--<button type="button" class="btn btn-danger" ng-disabled="enableInitialization(entity.subscriber.address, $element)" ng-click="stopInitialization(entity.subscriber.address, entity.subscriber.source_address)" title="{{ '1242' | translate }} ">
                                                    <span class="glyphicon glyphicon-stop"></span>
                                            </button>-->


                                            <button type="button" class="btn btn-danger" ng-disabled="entity.subscriber.running" ng-click="deleteSubscriber(entity.subscriber.subscriber_id, $index)" title="{{ '1598' | translate }} ">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </button>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="subCheck" ng-disabled="entity.subscriber.running || entity.subscriber.checkingStatus" ng-model="something" ng-change="toggleSelectedSubscriber($index)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>





                        </div>
                        <div ng-if="false">
                            <div class="col-xs-12 alert alert-info" data-translate="1626">
                                There are currently no subscribers defined for Version 9. Click the Create Subscriber button to begin.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary" ng-click="createSubscriber()"><span data-translate="1597">Create Subscriber</span></button>
                    <button type="button" class="btn btn-primary" ng-disabled="selectedSubscribers.length === 0" ng-click="startBatchInitialization()" title="{{ '1241' | translate }} ">
                        <span data-translate="1241">Start Initialization</span>
                    </button>
                    <button type="button" class="btn btn-primary pull-right" ng-disabled="selectedSubscribers.length === 0" ng-click="startBatchInitialization('loyalty')" title="{{ '5121' | translate }} ">
                        <span data-translate="5121">Initialize Loyalty Centrals</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-show="statusData !== undefined">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <h4><span data-translate="1453">Status</span>: {{selectedSubscriber.address}} </h4>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-block" ng-click="getStatus(selectedSubscriber, true)"><span data-translate="1620">Refresh</span></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-block" ng-click="reprocessSelected()"><span data-translate="2200">Reprocess Selected</span></button>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <accordion close-others="false">
                <accordion-group is-open="accordionGroups.dayToDay.open">
                    <accordion-heading>
                        <h4 class="panel-title" ng-click="accordionGroups.dayToDay.toggleOpen()" data-translate="1979.1">
                            Day to Day
                        </h4>
                    </accordion-heading>

                    <h4 data-translate="1331">
                        Summary
                    </h4>

                    <table class="table table-bordered col-xs-12">
                        <tbody>
                            <tr ng-repeat="(key, val) in statusData.daytodaystatus.sub_link_queue_summary" ng-if="key !== 'complete' && key !== 'running'" ng-class="{'alert alert-success': key === 'success', 'alert alert-info': key === 'pending', 'alert alert-danger': key === 'failed' }">
                                <td>
                                    <strong>{{key}}</strong>
                                </td>
                                <td>
                                    {{val}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 data-translate="1522">
                        Details
                    </h4>

                    <div class="row">
                        <div class="col-xs-3 col-md-offset-1" data-translate="1190">
                            Resource
                        </div>
                        <div class="col-xs-2" data-translate="1832">
                            Count
                        </div>
                        <div class="col-xs-6" data-translate="1453">
                            Status
                        </div>
                    </div>
                    <accordion close-others="false">
                        <accordion-group ng-repeat="resource in statusData.daytodaystatus.sub_link_queue_details.resources" ng-class="{'panel-success': resource.status === 'SUCCESS', 'panel-info': resource.status === 'PENDING', 'panel-danger': resource.status !== 'SUCCESS' && resource.status !== 'PENDING' }" is-open="resource.isOpen" ng-init="key = selectedSubscriber.source_address + '_' + resource.status + '_' + resource.resource_name">
                            <accordion-heading>
                                <div class="row" ng-click="getLinks(resource, 'event_type,gt,0')">
                                    <div class="col-xs-1">
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': resource.isOpen, 'glyphicon-chevron-right': !resource.isOpen}"></i>
                                    </div>
                                    <div class="col-xs-3">
                                        <strong>{{resource.resource_name}}</strong>
                                    </div>
                                    <div class="col-xs-2">
                                        {{resource.count}}
                                    </div>
                                    <div class="col-xs-6">
                                        <span>
                                            <span class="glyphicon glyphicon-ok-sign success" ng-if="resource.status === 'SUCCESS'">
                                            </span>
                                            <span class="glyphicon glyphicon-info-sign warn" ng-if="resource.status === 'PENDING'">
                                            </span>
                                            <span class="glyphicon glyphicon-exclamation-sign danger" ng-if="resource.status !== 'SUCCESS' && resource.status !== 'PENDING'">
                                            </span>
                                        </span>
                                        {{resource.status}}
                                    </div>
                                </div>
                            </accordion-heading>
                            <loading-indicator is-loading="!statusMap[key].length">
                            </loading-indicator>
                            <table class="table table-bordered col-xs-12" ng-show="statusMap[key].length > 0">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" ng-model="statusMap[key].allChecked" ng-click="toggleAllLinks(key)"></th>
                                        <th data-translate="1622">Link</th>
                                        <th data-translate="1453">Status</th>
                                        <th data-translate="1623">Processed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="link in statusMap[key]" ng-class="{'alert alert-success': resource.status === 'SUCCESS', 'alert alert-info': resource.status === 'PENDING', 'alert alert-danger': resource.status !== 'SUCCESS' && resource.status !== 'PENDING' }">
                                        <td><input type="checkbox" ng-click="toggleLink(key, link.linkqueue.sid._value_)" ng-checked="statusMap[key].selectedLinks.indexOf(link.linkqueue.sid._value_) !== -1"></td>
                                        <td style="word-wrap:break-word; word-break: break-all;">{{link.linq}}</td>
                                        <td>{{link.last_failed_attempt_reason}}</td>
                                        <td>{{link.last_failed_attempt_datetime| cleanDate:locale}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </accordion-group>
                    </accordion>
                </accordion-group>

                <accordion-group is-open="accordionGroups.initialization.open">
                    <accordion-heading>
                        <h4 class="panel-title" ng-click="accordionGroups.initialization.toggleOpen()" ng-if="statusData.initializationstatus.sub_link_queue_summary.pending === 0 && statusData.initializationstatus.sub_link_queue_summary.failed === 0 && statusData.initializationstatus.sub_link_queue_summary.success === 0">
                            <span data-translate="1981">Initialization</span>
                        </h4>
                        <h4 class="panel-title" ng-click="accordionGroups.initialization.toggleOpen()" ng-if="statusData.initializationstatus.sub_link_queue_summary.pending !== 0 || statusData.initializationstatus.sub_link_queue_summary.complete === false">
                            <span class="glyphicon glyphicon-info-sign info">
                            </span>
                            <span data-translate="2201">Initialization (Processing)</span>
                        </h4>
                        <h4 class="panel-title" ng-click="accordionGroups.initialization.toggleOpen()" ng-if="statusData.initializationstatus.sub_link_queue_summary.complete === true && statusData.initializationstatus.sub_link_queue_summary.pending === 0">
                            <span class="glyphicon glyphicon-ok-sign success">
                            </span>
                            <span data-translate="2202">Initialization (Complete)</span>
                        </h4>
                    </accordion-heading>

                    <accordion>
                        <accordion-group is-open="accordionGroups.initialization.linksSent.open">
                            <accordion-heading>
                                <h4 class="panel-title" ng-click="accordionGroups.initialization.linksSent.toggleOpen()" data-translate="1239">Links Sent</h4>
                            </accordion-heading>
                            <h4 data-translate="1331">
                                Summary
                            </h4>

                            <table class="table table-bordered table-striped table-condenced">
                                <tr>
                                    <th data-translate="1239">Links Sent</th>
                                    <th data-translate="1983">Complete</th>
                                    <th data-translate="1984">Started</th>
                                    <th data-translate="1240">Last Updated</th>
                                </tr>
                                <tr>
                                    <td>{{statusData.initializationstatus.v9linkstatus.links_sent}}</td>
                                    <td>{{statusData.initializationstatus.sub_link_queue_summary.complete}}</td>
                                    <td>{{statusData.initializationstatus.v9linkstatus.start_datetime| cleanDate:locale}}</td>
                                    <td>{{statusData.initializationstatus.v9linkstatus.last_update_datetime| cleanDate:locale}}</td>
                                </tr>
                            </table>

                            <h4 data-translate="1522">
                                Details
                            </h4>

                            <table class="table table-bordered table-striped table-condenced">
                                <tr>
                                    <th data-translate="1190">Resource</th>
                                    <th data-translate="1985">Sent</th>
                                    <th data-translate="1240">Last Updated</th>
                                </tr>
                                <tr ng-repeat="resource in statusData.initializationstatus.v9linkstatus.resources">
                                    <td>{{resource.resource_name}}</td>
                                    <td>{{resource.count}}</td>
                                    <td>{{resource.last_update_datetime| cleanDate:locale}}</td>
                                </tr>
                            </table>

                        </accordion-group>
                        <accordion-group is-open="accordionGroups.initialization.linksProcessed.open">
                            <accordion-heading>
                                <h4 class="panel-title" ng-click="accordionGroups.initialization.linksProcessed.toggleOpen()" data-translate="1986">Links Processed</h4>
                            </accordion-heading>
                            <h4 data-translate="1331">
                                Summary
                            </h4>

                            <table class="table table-bordered col-xs-12">
                                <tbody>
                                    <tr ng-repeat="(key, val) in statusData.initializationstatus.sub_link_queue_summary" ng-if="key !== 'complete' && key !== 'running'" ng-class="{'alert alert-success': key === 'success', 'alert alert-info': key === 'pending', 'alert alert-danger': key === 'failed' }">
                                        <td>
                                            <strong>{{key}}</strong>
                                        </td>
                                        <td>
                                            {{val}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>
                                Details
                            </h4>

                            <div class="row">
                                <div class="col-xs-3 col-md-offset-1" data-translate="1190">
                                    Resource
                                </div>
                                <div class="col-xs-2" data-translate="1832">
                                    Count
                                </div>
                                <div class="col-xs-6" data-translate="1453">
                                    Status
                                </div>
                            </div>
                            <accordion close-others="false">
                                <accordion-group ng-repeat="resource in statusData.initializationstatus.sub_link_queue_details.resources" ng-class="{'panel-success': resource.status === 'SUCCESS', 'panel-info': resource.status === 'PENDING', 'panel-danger': resource.status !== 'SUCCESS' && resource.status !== 'PENDING' }" is-open="resource.isOpen" ng-init="key = selectedSubscriber.source_address + '_' + resource.status + '_' + resource.resource_name">
                                    <accordion-heading>
                                        <div class="row" ng-click="getLinks(resource, 'event_type,eq,0')">
                                            <div class="col-xs-1">
                                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': resource.isOpen, 'glyphicon-chevron-right': !resource.isOpen}"></i>
                                            </div>
                                            <div class="col-xs-3">
                                                <strong>{{resource.resource_name}}</strong>
                                            </div>
                                            <div class="col-xs-2">
                                                {{resource.count}}
                                            </div>
                                            <div class="col-xs-6">
                                                <span>
                                                    <span class="glyphicon glyphicon-ok-sign success" ng-if="resource.status === 'SUCCESS'">
                                                    </span>
                                                    <span class="glyphicon glyphicon-info-sign warn" ng-if="resource.status === 'PENDING'">
                                                    </span>
                                                    <span class="glyphicon glyphicon-exclamation-sign danger" ng-if="resource.status !== 'SUCCESS' && resource.status !== 'PENDING'">
                                                    </span>
                                                </span>
                                                {{resource.status}}
                                            </div>
                                        </div>
                                    </accordion-heading>
                                    <loading-indicator is-loading="!statusMap[key].length">
                                    </loading-indicator>
                                    <table class="table table-bordered col-xs-12" ng-show="statusMap[key].length > 0">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" ng-model="statusMap[key].allChecked" ng-click="toggleAllLinks(key)"></th>
                                                <th data-translate="1622">Link</th>
                                                <th data-translate="1453">Status</th>
                                                <th data-translate="1623">Processed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="link in statusMap[key]" ng-class="{'alert alert-success': resource.status === 'SUCCESS', 'alert alert-info': resource.status === 'PENDING', 'alert alert-danger': resource.status !== 'SUCCESS' && resource.status !== 'PENDING' }">
                                                <td><input type="checkbox" ng-click="toggleLink(key, link.sid, link.row_version)" ng-checked="statusMap[key].selectedLinks.get(link.sid) !== undefined"> </td>
                                                <td style="word-wrap:break-word; word-break: break-all;">{{link.linq}}</td>
                                                <td>{{link.last_failed_attempt_reason}}</td>
                                                <td>{{link.last_failed_attempt_datetime| cleanDate:locale}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </accordion-group>
                            </accordion>
                        </accordion-group>
                    </accordion>



                </accordion-group>
            </accordion>

        </div>
    </div>
    <!--<div class="panel panel-default" ng-show="viewingStatus">
    <div class="panel-heading"><span data-translate="1617">Version 9 Event Viewer</span> - {{linkqueuelist[0].linkqueue.address._value_}}</div>
    <div class="panel-body">
            <loading-indicator is-loading="isStatusLoading" ng-text="loadingStatusMsg"></loading-indicator>
            <div class="row">
                    <div class="col-xs-3">
                            <input type="text" class="form-control" ng-model="searchQuery" placeholder="{{ '1618' | translate }}" />
                    </div>
                    <div class="col-xs-3">
                            <div class="checkbox">
                                    <label for="errorsOnly">
                                            <input type="checkbox" id="errorsOnly" ng-click="showErrorsOnly(destination_server, linkqueuelist[0].linkqueue.address._value_)" />
                                            <span data-translate="1619">Display Errors Only</span>
                                    </label>
                            </div>
                    </div>
                    <div class="col-xs-6">
                            <div class="col-xs-6">
                                    <button type="button" class="btn btn-block" ng-click="getStatus(linkqueuelist[0].linkqueue.address._value_, showErrors)"><span data-translate="1620">Refresh</span></button>
                            </div>
                            <div class="col-xs-6">
                                    <button type="button" class="btn btn-block" ng-click="reprocessSelected(destination_server)"><span data-translate="1621">Reproccess Selected</span></button>
                            </div>
                    </div>
            </div>


            <table class="table table-bordered table-striped table-condensed"  ng-show="!isStatusLoading">
                    <thead>
                    <tr>
                            <th><input type="checkbox" ng-click="toggleAllEvents(searchQuery)" ng-checked="isAllChecked(searchQuery)" style="margin-bottom:5px;"/></th>
                            <th data-translate="1622">Link</th>
                            <th data-translate="1453">Status</th>
                            <th data-translate="1623">Processed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="link in linkqueuelist | filter:searchQuery" ng-class="{'link-error': link.linkqueue.last_failed_attempt_reason._value_ !== 'SUCCESS', 'link-success': link.linkqueue.last_failed_attempt_reason._value_ === 'SUCCESS' }">
                            <td>
                                    <input type="checkbox" ng-click="toggleSelectedEvent(link.linkqueue.sid._value_, link.linkqueue.row_version._value_)" ng-checked="isLinkSelected(link.linkqueue.sid._value_)" />
                            </td>
                            <td style="text-align: left; word-wrap:break-word; word-break: break-all;">
                                    {{link.linkqueue.linq._value_}}
                            </td>
                            <td class="word-break" style="text-align: left; min-width:100px; ">
                                    {{link.linkqueue.last_failed_attempt_reason._value_}}
                                    <!&ndash;<input type="checkbox" ng-model="subscriber.subscriber.active" ng-checked="{{subscriber.subscriber.active}}" />&ndash;>
                            </td>
                            <td style="text-align: left;">
                                    {{link.linkqueue.last_failed_attempt_datetime._value_ |
                                    cleanDate:locale}}
                            </td>

                    </tr>
                    </tbody>
            </table>


    </div>
</div>-->
</div>
