<div class="row form-group">
  <div class="col-xs-6">
    <label class="control-label" data-translate="2726">Search By:</label>
    <select class="form-control" ng-model="activeField" ng-change="addSearchField(s)" ng-options="s as s.name | translate for s in searchColumns">
      <option value="" style="display:none" data-translate="1358">Select...</option>
    </select>
  </div>
</div>
<div class="row" ng-show="searchFields.length>0&&!(params.view==='header')">
  <div class="col-xs-12">
    <label class="control-label" data-translate="2728">Parameters</label>
  </div>
</div>
<div class="autoOverflow form-group row" ng-class="{'height40': isHeaderView(''), 'height5': isHeaderView('header')}">
  <div ng-if="!processing" ng-repeat="field in searchFields track by $index">
    <div class="row form-group">
      <div class="col-xs-12">
        <div class="row" ng-if="performSearch">
          <div class="col-xs-12">
            <button ng-disabled="searching" class="btn btn-default" ng-if="!(params.view==='header')" ng-click="addSearchField(field, $event)" type="button"><span class="glyphicon glyphicon-plus"></span></button> <label ng-if="!(params.view==='header')" class="control-label">{{field.name | translate}}</label>
          </div>
        </div>
        <div class="row" ng-repeat="sValue in field.searchValues track by $index">
          <div class="col-xs-10">
            <input type="text" bar-code="" class="form-control" ng-if="numberDataTypes.indexOf(field.datatype.toLowerCase())===-1" ng-keypress="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">

            <input type="text" class="form-control" ng-if="field.datatype.toLowerCase()==='currency'" numberonly="" data-currency-formatter="cost" ng-keypress="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">

            <select class="form-control" ng-if="['boolean', 'active'].indexOf(field.datatype.toLowerCase()) !== -1" ng-keypress="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" ng-options="x.value as x.name | translate for x in [{name:'No', value:false},{name:'Yes', value:true}]">
              <option value="" style="display:none" data-translate="1358">Select...</option>
            </select>

            <input type="text" class="form-control" ng-if="numberDataTypes.indexOf(field.datatype.toLowerCase())!==-1&&['boolean', 'currency', 'active'].indexOf(field.datatype.toLowerCase()) === -1" numberonly="" data-currency-formatter="number" ng-keypress="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">
          </div>
          <div class="col-xs-2 text-right">
            <button class="btn btn-default" ng-click="removeSearchField(field,$index,$parent.$index)" type="button"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="col-xs-12 text-right" ng-if="!(params.view==='header')">
    <button ng-click="clear();" class="btn btn-default" data-translate="1335" type="button">Clear</button>
    <button ng-click="searchAction();" ng-disabled="searching" ng-if="performSearch" class="btn btn-default" data-translate="630" type="button">Search</button>
  </div>
</footer>
