<div>
  <div class="aside-header">
    <h4 class="aside-title">Prism Menu</h4>
  </div>
  <div class="aside-body" ng-controller="sideButtonsCtrl">
    <div ng-if="storeActive">
      <div ng-repeat="button in sideButtons" class="row top-margin">
        <div class="col-xs-12">
          <button event-name="sideButtonsCSBO" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-click="executeHandler(button.handler)">
            {{button.label | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="row top-margin" ng-show="displayHomeButton" ng-if="storeActive">
      <div class="col-xs-12">
        <button event-name="sideButtonHome" type="button" id="homeButton" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-click="posHome()">
          <span data-translate="500">Point of Sale</span>
        </button>
      </div>
    </div>
    <div class="row top-margin" ng-show="displayOpsButton" ng-if="storeActive">
      <div class="col-xs-12">
        <button id="storeOperationButton" event-name="storeOperationButton" ng-disabled="storeOpsPermission" class="btn btn-default RPOptionButton leftalign btn-block" ng-click="goToStoreOps()" type="button">
          <span data-translate="3161">Store Operations</span>
        </button>
      </div>
    </div>
    <div class="row top-margin" ng-show="displayACButton">
      <div class="col-xs-12">
        <button event-name="mainAdminConsole" id="mainAdminConsoleButton" ng-disabled="acPermission" class="btn btn-default RPOptionButton leftalign btn-block" ng-click="goToAdminConsole()" type="button">
          <span data-translate="1264">Admin Console</span>
        </button>
      </div>
    </div>
    <div class="row top-margin" ng-show="displayLangugeButton">
      <div class="col-xs-12">
        <button event-name="sideButtonsLanguage" id="LanguageButton" type="button" ng-disabled="disableLanguageButton" ng-class="hideLanguages ? 'btn btn-default RPOptionButton leftalign col-xs-12' : 'btn btn-success RPOptionButton leftalign col-xs-12'" ng-click="showLanguages();">
          <span data-translate="14">Language</span>
        </button>
      </div>
    </div>
    <div class="row top-margin" ng-show="displayHelpButton">
      <div class="col-xs-12">
        <button event-name="sideButtonHelp" id="HelpButton" type="button" ng-class="hideHelp ? 'btn btn-default RPOptionButton leftalign col-xs-12' : 'btn btn-success RPOptionButton leftalign col-xs-12'" ng-click="showHelp();positionPopover()">
          <span data-translate="40">Help</span>
        </button>
      </div>
    </div>
    <div class="row top-margin">
      <div class="col-xs-12">
        <reset-password-menu-button logout="releaseSeat" close="$hide"></reset-password-menu-button>
      </div>
    </div>
    <div class="row top-margin" ng-show="displayLogoutButton">
      <div class="col-xs-12">
        <button event-name="sideButtonExit" id="exitButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-click="releaseSeat()">
          <span data-translate="32">Logout</span>
        </button>
      </div>
    </div>
    <div id="HelpButtons" ng-hide="hideHelp">
      <div class="row top-margin">
        <div class="col-xs-12">
          <a id="helpIndexButton" target="new_win" href="https://my.retailpro.com/documentation" target="_blank" class="btn btn-default RPOptionButton leftalign col-xs-12">
            <span data-translate="42">Index</span>
          </a>
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-xs-12">
          <button event-name="sideButtonAbout" id="helpAboutButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-click="helpAbout()">
            <span data-translate="43">About</span>
          </button>
        </div>
      </div>
    </div>
    <div id="LanguageButtons" class="row top-margin" ng-hide="hideLanguages">

      <div class="col-xs-12">
        <div class="height50 noOverflow" touch-scroll="" touch-scroll-show="true">

          <div class="row top-margin" ng-repeat="language in installedLanguages">
            <div class="col-xs-12">
              <button event-name="sideButtonInstalledLanguage" id="language{{language.value}}" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-click="changeLanguage(language.value)">
                <span ng-bind-html="language.utrn | translate"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aside-footer"></div>
</div>

