<div class="panel panel-primary panel-collapse height80">
  <div class="no-pad">
    <div class="row">
      <div class="col-xs-10">
        <div class="row form-group">
          <div class="col-xs-9">
            <item-search ng-if="!itemLookup" disable="{{(stateParams.mode !== 'edit' && stateParams.mode !== 'new')||(!document.sid)||(document.is_held)||(document.status === 1)||(document.status === 2)||(document.status === 4 && !finalizedOrder)||(noSearch)}}"></item-search>
            <input type="text" class="form-control" ng-disabled="true" ng-if="itemLookup" placeholder="{{ '1415' | translate }}">
          </div>
          <div class="col-xs-3">
            <pos-advanced-item-search-button default-item-type="default.item_type" item-process-list="itemsToProcess" doc-selected-item="selectedItem" doc-items="document.items" adjust-qty="adjustQuantity" process-batch-items="processBatchItems()" btn-permission-disabled="(stateParams.mode !== 'edit' && stateParams.mode !== 'new')||(document.status === 1)||(document.status === 2)||(document.status === 4 && !finalizedOrder)||(noSearch)">
            </pos-advanced-item-search-button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <item-type-buttons></item-type-buttons>
          </div>
        </div>
      </div>
      <div class="col-xs-2 text-right">
        <item-image item="document.items[selectedItem]" id="selected-item-img" max-width="100" max-height="100" class="simple-transactions-partial responsive"></item-image>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="transactionItems" class="panel-body SmallResultsPane height63 autoOverflow">
      <div class="list-group">
        <documentitem template="simple-layouts-template.htm"></documentitem>
      </div>
    </div>
  </div>
</div>
