
<table class="table table-condensed table-responsive col-xs-12 table-striped">
  <tbody>
 
  <tr>
    <td>
	
      <strong><span>Cua hàng</span></strong>
    </td>
    <td class="text-right" old="storeName">
      {{document.store_code}}
    </td>
  </tr>
  
  <tr ng-show="document.document_number">
    <td>
      <strong>{{document.receipt_type|receipt_type_names}} <span data-translate="2337">Receipt No</span></strong>
    </td>
    <td class="text-right">
      {{document.document_number}}
    </td>
  </tr>
  <tr ng-show="document.order_document_number" style="display:none">
    <td>
      <strong>{{document.order_type|order_type_names}} <span data-translate="2338" ng-show="!hasSendSaleItems">Order No</span> <span data-translate="6232" ng-show="hasSendSaleItems">Send Sale No</span></strong>
    </td>
    <td class="text-right">
      {{document.order_document_number}}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Thu ngân</strong>
    </td>
    <td class="text-right">
      {{document.cashier_login_name}}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Nhân viên bán hàng</strong>
    </td>
    <td class="text-right">
      {{document.employee1_login_name}}
    </td>
  </tr>
   <tr>
    <td>
      <strong>Số lượng bán</strong>
    </td>
    <td class="text-right">{{document.sold_qty|number}}
    </td>
  </tr>

  <tr>
    <td>
      <strong>Tổng cộng</strong>
    </td>
    <td class="text-right" id="totalbill">
    </td>
  </tr>
<tr>
    <td>
      <strong>Thành tiền</strong>
    </td>
    <td class="text-right" id="thanhtien">
    </td>
  </tr>
  <tr>
    <td>
      <strong>% giảm giá</strong>
    </td>
    <td class="text-right" id="percetdiscount">
    </td>
  </tr>
  
   <tr class="returnclass">
    <td>
      <strong>Số lượng hàng đổi</strong>
    </td>
    <td class="text-right" id="numreturn">
	0
    </td>
  </tr>
  <tr class="returnclass">
    <td>
      <strong>Giá trị hoàn trả</strong>
    </td>
    <td class="text-right" id="pricereturn">
	0
    </td>
  </tr>
  <tr>
    <td>
      <strong>Tổng tiền được giảm</strong>
    </td>
    <td class="text-right" id="totaldiscount">
    </td>
  </tr>
  
  <tr>
    <td>
      <strong>Tổng tiền thanh toán</strong>
    </td>
    <td class="text-right tongthanhtoan">{{document.transaction_total_amt}}
    </td>
  </tr>
  </tbody>
</table>

