<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default btn-lg" data-permission="CreatePOSTransaction" ng-click="startTransaction()" type="button"><span data-translate="502">New Transaction</span></button>
            <button class="btn btn-default btn-lg" ng-click="changeRoute();" data-permission="viewitemdetails" data-permission-disabled="activeItems.length!==1" type="button"><span data-translate="765">Item Details</span></button>
            <button class="btn btn-default btn-lg" ng-click="printInvnTags();" data-permission="merchandiseprinttag" data-permission-disabled="gridApi.grid.rows.length===0" type="button"><span data-translate="4253">Print Tags</span></button>
        </div>
    </div>
</div>
