<div class="row">
    <div class="col-xs-2 col-xs-offset-2">
        <div event-name="navStoreOpsMerch" class="panel panel-default cursor-pointer" ng-init="tab=merch" ng-click="tab='merch'">
            <div class="panel-body">
                <img src="/images/pos/pos_64.png" class="center-block" alt="{{ '1290' | translate }}">
            </div>
            <div class="panel-footer center-block">
                <h1 class="panel-title" data-translate="3164">Merchandise</h1>
            </div>
        </div>
        <img alt="{{ '3693' | translate }}" class="center-block" id="posOn" src="/images/bullet_up.png" ng-show="showPOSArea">
    </div>
    <div ng-show="false" class="col-xs-2 col-xs-offset-1">
    </div>
    <div ng-show="false" class="col-xs-2 col-xs-offset-1">
    </div>
</div>
<div ng-show="showPOSArea" class="am-fade">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title" data-translate="3164">Merchandise</h1>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <a class="col-xs-3" event-name="navStoreOpsInventory" href="#store-ops/inventory">
                    <button tabindex="120" type="button" id="navStoreOpsInventory" data-translater="2077" img-btn="/images/pos/pos_new_48.png">
                        Inventory
                    </button>
                </a>
                <a class="col-xs-3" event-name="navStoreOpsInventory" href="#store-ops/pi">
                    <button tabindex="120" type="button" id="navStoreOpsPiInventory" data-translate="3686" img-btn="/images/pos/pos_new_48.png">
                        PI Inventory
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<button-bar button-view="blank-doc.htm"></button-bar>
