<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-6">
                <h4 data-translate="765">Item Details</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <!--<div class="well well-sm">
            <div class="row">
                <div class="col-xs-3">
                    <label><strong data-translate="675">Desc 1</strong></label>
                    {{item.description1}}
                </div>
                <div class="col-xs-3">
                    <label><strong data-translate="2739">DCS Code</strong></label>
                    {{item.dcs_code}}
                </div>
                <div class="col-xs-3">
                    <label><strong data-translate="2729">Attribute</strong></label>
                    {{item.attribute}}
                </div>
                <div class="col-xs-3">
                    <input type="checkbox" disabled="true" ng-checked="item.active">
                    <label><strong data-translate="586">Active</strong></label>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label><strong data-translate="676">Desc 2</strong></label>
                    {{item.description2}}
                </div>
                <div class="col-xs-3">
                    <label><strong data-translate="3533">Vendor Code</strong></label>
                    {{item.vendor_code}}
                </div>
                <div class="col-xs-3">
                    <label><strong data-translate="679">Size</strong></label>
                    {{item.item_size}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="773">Price</label>
                    {{item.active_price| price}}
                </div>
            </div>
            <div class="row">

                <div class="col-xs-3">
                    <label><strong data-translate="677">UPC</strong></label>
                    {{item.upc}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="848">Inventory Type</label>
                    {{item.kit_type| kitType | translate}}
                </div>
                <div class="col-xs-3">
                    <label><strong data-translate="845">Store OH Qty</strong></label>
                    {{itemQty.quantity|formatNumber:item.use_quantity_decimals:false}}
                </div>
            </div>
        </div>-->
        <ul class="nav nav-tabs">
            <li role="presentation" class="{{tab.class}}" ng-repeat="tab in tabs">
                <a ng-click="setTab($index)" ng-if="tab.permission !== ''" data-permission="{{tab.permission}}" data-permission-disabled="tab.id==='kits'&&kitGrid.data">
                    <span>{{tab.text| translate}}</span>
                </a>
                <a ng-click="setTab($index)" ng-if="tab.permission === ''">
                    <span>{{tab.text| translate}}</span>
                </a>
            </li>
        </ul>
        <div class="well">
            <!--<div ng-show="state.tab === 'details'">
                <div ng-include="viewPath + 'so-item-details-tab-details-partial.htm'"></div>
            </div>-->
            <div ng-show="state.tab === 'style'">
                <div ng-include="'views/default/so-item-details-tab-style-partial.htm'"></div>
            </div>
            <div ng-show="state.tab === 'kits'">
                <div ng-include="'views/default/so-item-details-tab-kits-partial.htm'"></div>
            </div>
           <!-- <div ng-show="state.tab === 'price'">
                <div ng-include="viewPath + 'so-item-details-tab-price-partial.htm'"></div>
            </div>-->
            <div ng-show="state.tab === 'purchasing'">
                <div ng-include="'views/default/so-item-details-tab-purchasing-partial.htm'"></div>
            </div>
            <div ng-show="state.tab === 'loyalty'">
              <div ng-include="'views/default/so-item-details-tab-loyalty-partial.htm'"></div>
            </div>
            <!--<div ng-show="false">
                Statistics
            </div>-->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-default" ng-click="$close();" data-translate="583" type="button">Close</button>
    </div>
</div>
