<div name="pref_form" ng-controller="so_item_details_tab_style_ctrl">
    <div class="row">
        <div class="col-xs-12">
        </div>
        <div class="xol-xs-12" ng-if="colHeaders.length===2">
          <span data-translate="5922">Styles are not applicable to this item.</span>
        </div>

        <div class="col-xs-12" ng-if="colHeaders.length>2">
            <div style="float:left;width:35px;text-align:right;position:relative;left:-10px;top:35px;">
                <div class="flip-text text-right" data-translate="3333">Attribute</div>
            </div>
            <div style="float:left;width:750px;overflow-x:auto;">
                <div data-translate="679">
                    Size
                </div>
                <table class="table-striped col-xs-12 table-bordered table-responsive table-centered">
                    <thead>
                    <tr>
                        <th ng-repeat="x in colHeaders track by $index">{{x}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in rows track by $index">
                        <td ng-repeat="y in x track by $index">
                            <strong class="inline-block text-right" ng-if="$index===0">{{y}}</strong>
                            <span ng-if="$index!==0">{{y}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
