<div name="pref_form" ng-controller="so_item_details_tab_purchasing_ctrl">
    <div class="row">
        <div class="col-xs-8">
            <div class="row" ng-if="showOverrideButton('seeitemcost')&&vendorGrid.data.length>0">
                <div class="col-xs-2 col-xs-offset-10">
                    <button class="btn btn-sm btn-default ng-scope" ng-click="checkVendorCostPermission()" data-translate="3750" type="button">Show Order Cost</button><br>
                </div>
            </div>
            <div class="row" ui-i18n="{{lang}}">
                <div id="vendorGrid" ui-grid-resize-columns="undefined" ng-if="state.tab==='purchasing'&&vendorGrid.data.length>0" ui-grid="vendorGrid" external-scopes="gridHandlers" class="kit-grid"></div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-12">
                  <input id="item_orderable" ng-model="item.orderable" ng-disabled="true" ng-checked="toBoolean(item.orderable)" type="checkbox">
                  <label for="item_orderable" class="control-label" data-translate="3194">Orderable</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="3297">Orderable Date</label>
                </div>
                <div class="col-xs-6">
                    {{item.orderable_date| dateOnly}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="3302">Discontinued Date</label>
                </div>
                <div class="col-xs-6">
                    {{item.discontinued_date| dateOnly}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="3195">Units Per Case</label>
                </div>
                <div class="col-xs-6">
                    {{item.quantity_per_case| number}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="845">Store OH Qty</label>
                </div>
                <div class="col-xs-6">
                    {{itemQty.qty|formatNumber:item.use_quantity_decimals:false}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="3196">Store Min Qty</label>
                </div>
                <div class="col-xs-6">
                    {{itemQty.minqty | number}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="3303">Store Max Qty</label>
                </div>
                <div class="col-xs-6">
                    {{itemQty.maxqty | number}}
                </div>
            </div>

        </div>
    </div>
</div>
