<div name="pref_form" ui-i18n="{{lang}}">
    <div id="kitGrid" ui-grid-resize-columns="" ng-if="state.tab==='kits'&&kitGrid.data.length>0" ui-grid="kitGrid" external-scopes="gridHandlers" class="kit-grid"></div>
    <span ng-if="kitGrid.data===undefined" data-translate="3186">Package and kits are not applicable to this item.</span>
</div>
