<div name="pref_form" ng-controller="so_item_details_tab_price_ctrl">
    <div class="row">
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="773">Price</label>
            <span>{{itemPrice.price | price}}</span>
        </div>
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="3187">Ext. Price</label>
            <span>{{(itemPrice.price * item.store_qty)| price}}</span>
        </div>
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="2494">Cost</label>
            <span ng-if="showTabPriceContent">{{item.cost | cost}}</span>
        </div>
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="3188">Ext. Cost</label>
            <span ng-if="showTabPriceContent">{{(item.cost * item.store_qty) | cost}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="552">Max Discount %</label>
            <span>{{item.max_discount_percent | number}}</span>
        </div>
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="3189">Max Accumulative Discount %</label>
            <span>{{item.max_accum_discount_percent| number}}</span>
        </div>
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="3190">Margin Amount</label>
            <span ng-if="showTabPriceContent">{{itemPrice.margin_amt | currency}}</span>
        </div>
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="3191">Margin %</label>
            <span ng-if="showTabPriceContent">{{itemPrice.margin_percent | number}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="3192">Mark Up %</label>
            <span ng-if="showTabPriceContent">{{itemPrice.markup_percent | number}}</span>
        </div>
        <div class="col-xs-3">
            <label class="control-label inline-block" data-translate="3193">Coefficient</label>
            <span ng-if="showTabPriceContent">{{itemPrice.coefficient | number}}</span>
        </div>
    </div>
</div>
