<div ng-show="showInvnSearch" class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12" data-translate="3165">
                        Inventory Filters
                    </div>
                </div>
            </div>
            <div class="aside-body">
                <div class="container-fluid">
                    <search-filter params="search" ng-if="runInit"></search-filter>
                </div>
            </div>
        </div>
    </div>
</div>