<div name="pref_form" ng-controller="so_item_details_tab_loyalty_ctrl">
  <div class="row">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <label class="control-label inline-block" data-translate="5124">Price in Points</label>
          <input class="form-control" ng-model="item.lty_price_in_points" numberonly readonly="readonly">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="control-label inline-block" data-translate="5125">Points Earned</label>
          <input class="form-control" ng-model="item.lty_points_earned" numberonly readonly="readonly">
        </div>
      </div>
    </div>
    <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="ng-scope" data-translate="5317">Item Loyalty Info</span>
      </div>
      <div class="panel-body height30 autoOverflow">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-condensed table-hover col-xs-12">
              <tr>
                <td><b data-translate="5171">Program Name</b></td>
                <td><b data-translate="5039">Level Name</b></td>
                <td><b data-translate="586">Active</b></td>
              </tr>
              <tr class="grid_row{{$index%2}}" ng-repeat="x in programList">
                <td>{{x.lty_pgm_name}}</td>
                <td>{{x.lty_lvl_name}}</td>
                <td><input type="checkbox" ng-model="x.active" disabled="disabled" ng-checked="x.active"></td>
              </tr>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>
