<div ng-controller="so_item_details_tab_details_ctrl">
    <div class="row">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="2772">Tax Code</label>
                    {{item.tax_name}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="677">UPC</label>
                    {{item.upc|padUPC}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf5_string.name}}</label>
                    {{item.udf5_string}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf11_string.name}}</label>
                    {{itemExtended.udf11_string}}
                </div>

            </div>
            <div class="row">

                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="3171">Lot Number Type</label>
                    {{item.lot_type| lotType | translate}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="841">ALU</label>
                    {{item.alu}}
                </div>

                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf6_string.name}}</label>
                    {{item.udf6_string}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf12_string.name}}</label>
                    {{itemExtended.udf12_string}}
                </div>




            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="848">Inventory Type</label>
                    {{item.kit_type| kitType | translate}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf1_string.name}}</label>
                    {{item.udf1_string}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf7_string.name}}</label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf13_string.name}}</label>
                    {{itemExtended.udf13_string}}
                </div>


            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="checkbox" readonly="true" disabled="true" ng-checked="toBoolean(item.regional)">
                    <label class="control-label inline-block" data-translate="3176">Regional Inventory</label>

                </div>

                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf2_string.name}}</label>
                    {{item.udf2_string}}
                </div>
                <div class="col-xs-3" ng-if="false">
                    <label class="control-label inline-block">{{udfLabels.udf8_string.name}}</label>
                    {{itemExtended.udf8_string}}
                </div>
                <div class="col-xs-3" ng-if="false">
                    <label class="control-label inline-block">{{udfLabels.udf8_string.name}}</label>
                    {{itemExtended.udf14_string}}
                </div>

            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block" data-translate="2765">Serial Type</label>
                    {{item.serial_type| serialType | translate}}
                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf3_string.name}}</label>
                    {{item.udf3_string}}
                </div>
                <div class="col-xs-3" ng-if="false">
                    <label class="control-label inline-block">{{udfLabels.udf9_string.name}}</label>
                    {{itemExtended.udf9_string}}
                </div>

            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label class="control-label inline-block">
                        <input type="checkbox" ng-model="item.non_inventory">
                        <span data-translate="3174">Non Inventory</span>
                    </label>

                </div>
                <div class="col-xs-3">
                    <label class="control-label inline-block">{{udfLabels.udf4_string.name}}</label>
                    {{item.udf4_string}}
                </div>
                <div class="col-xs-3" ng-if="false">
                    <label class="control-label inline-block">{{udfLabels.udf10_string.name}}</label>
                    {{itemExtended.udf10_string}}
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <item-image item="item" id="selected-item-img" class="center-block responsive"></item-image>
        </div>
    </div>
</div>