<div ng-controller="ACStoreController">
    <ng-form name="ac_edit" style="background-color:none;" id="ac_edit" novalidate="novalidate">
    <div class="modalouter">
        <div class="modal-header">
            <h3>Edit Store</h3>
        </div>
        <div class="modal-body form-group">
            <uib-tabset>
                <uib-tab ng-click="activeTabButton.name='General'" heading="{{'685' | translate}}">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-translate="561">
                                    Store Information
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label for="storeNumber" class="control-label" data-translate="1635">Number:</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <label for="storeName" class="control-label" data-translate="1636">Name:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <input class="form-control" readonly="readonly" numberonly="numberonly" maxlength="3" required="required" id="storeNumber" ng-model="activeStore.store_number" type="text">
                                        </div>
                                        <div class="col-xs-10">
                                            <input class="form-control" maxlength="40" id="storename" ng-model="activeStore.store_name" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="storeCode" class="control-label" data-translate="563">Store Code:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input id="storeCode" maxlength="3" class="form-control" required="required" ng-model="activeStore.store_code" type="text">
                                        </div>
                                        <div class="col-xs-6">
                                            <input name="active" type="checkbox" ng-model="activeStore.active"> <label class="control-label" data-translate="586">Active</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="address1" class="control-label" data-translate="536">Address 1:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="col-xs-12 form-control" maxlength="40" type="text" ng-model="activeStore.address1" id="address1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="address2" class="control-label" data-translate="538">Address 2:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="col-xs-12 form-control" maxlength="40" type="text" ng-model="activeStore.address2" id="address2">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="address3" class="control-label" data-translate="540">Address 3:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="form-control" type="text" maxlength="40" ng-model="activeStore.address3" id="address3">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="postalCode" class="control-label" data-translate="541">Postal Code:</label>
                                            <input type="text" class="form-control" maxlength="10" ng-model="activeStore.zip" id="postalCode">
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="phone1" class="control-label" data-translate="1640">Phone 1:</label>
                                            <input class="form-control" maxlength="15" type="text" ng-model="activeStore.phone1" id="phone1">
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="phone2" class="control-label" data-translate="1641">Phone 2</label>
                                            <input class="form-control" maxlength="15" type="text" ng-model="activeStore.phone2" id="phone2">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <label for="serverAddress" class="control-label" data-translate="1021">Server Address</label>:
                                            <input type="text" class="form-control" ng-model="activeStore.server_address" id="serverAddress">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-translate="1646">
                                    Override Global Settings
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="subsidiary" class="control-label" data-translate="562">Subsidiary:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select class="form-control" required="required" ng-change="changeSubsidiary();" disabled="disabled" ng-model="activeStore.subsidiary_sid" ng-options="s.sid as s.subsidiary_name for s in subsidiaries">
                                                <!--option value=""></option-->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="tax_area_1" class="control-label" data-translate="1642">Tax Area 1</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select ng-model="activeStore.tax_area_sid" ng-options="s.sid as s.tax_area_name for s in TaxAreas" class="form-control">
                                                <option style="display:none" value="" data-translate="1643">Select a Tax Area...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="tax_area_2" class="control-label" data-translate="1644">Tax Area 2</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select class="form-control" ng-model="activeStore.tax_area2_sid" ng-options="s.sid as s.tax_area_name for s in TaxAreas">
                                                <option style="display:none" value="" data-translate="1643">Select a Tax Area...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="price_level" class="control-label" data-translate="1645">Price Level</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select ng-model="activeStore.active_price_level_sid" ng-options="s.sid as s.pricelvlname for s in PriceLevels" class="form-control">
                                                <option style="display:none" value="" data-translate="1643">Select a Price Level...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab ng-click="activeTabButton.name='Sequencing'" heading="{{'2465' | translate}}">
                    <div ng-include="viewPath + 'ac-sequence-edit-partial.htm'"></div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="row">
            <div class="row-md-12"> </div>
        </div>
        <div ng-show="activeTabButton.name==='General'" class="modal-footer">
            <div class="row">
                <div class="col-xs-8">
                     
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-default" ng-disabled="!ac_edit.$valid" ng-click="saveStore();$close();"><span data-translate="1514">Save &amp; Exit</span></button>
                    <button type="button" class="btn btn-default" ng-click="closeOnly();"><span data-translate="0.1">Exit</span></button>
                </div>
            </div>
        </div>
    </div>
</ng-form>
</div>
