<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="container-fluid" ng-controller="tenderRequirements">
      <div class="row" ng-if="!form.roundingApplied">
        <div class="col-xs-12 text-right">
          <label>
            <input type="checkbox" ng-model="form.roundingApplied"> <span data-translate="7063">Enable Tender Rounding</span>
          </label>
        </div>
      </div>
      <div class="row" ng-if="form.roundingApplied">
        <div class="col-xs-2 col-xs-offset-8">
          <label class="control-label">
            <span data-translate="1353">Rounding Method</span>
          </label>
          <select class="form-control" ng-change="setRoundingMethod();" ng-required="true" ng-model="form.roundingMethod" ng-options="y.val as y.name for y in rMethods">
            <option value="" hidden selected="selected">Choose</option>
          </select>
          <div class="col-xs-12 text-right">
            <a href="javascript:void(0);" ng-if="form.roundingMethod===''" ng-click="form.roundingApplied=false;"><span data-translate="1.2">Cancel</span></a>
          </div>

        </div>
        <div class="col-xs-2">
          <label class="control-label">
            <span data-translate="1352">Rounding Multiple</span>
          </label>
          <select class="form-control" ng-required="true" ng-change="setRoundingMethod()" ng-model="form.roundingMultiple" ng-options="y as y | currency for y in roundingValues">
            <option value="" style="display:none">Select...</option>
          </select>
        </div>
      </div>
      <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-2">
                        <strong data-translate="627">Tender Type</strong>
                    </div>
                    <div class="col-xs-1">
                        <strong data-translate="1481">Take</strong>
                    </div>
                    <div class="col-xs-1">
                        <strong data-translate="1482">Give</strong>
                    </div>
                    <div class="col-xs-1">
                      <strong data-translate="747">Return</strong>
                    </div>
                    <div class="col-xs-1">
                      <strong data-translate="5730">Deposit Refund</strong>
                    </div>
                    <div class="col-xs-1">
                        <strong data-translate="3261">Change Window</strong>
                    </div>
                    <div class="col-xs-1">
                        <strong data-translate="3262">Open Drawer</strong>
                    </div>
                    <div class="col-xs-1">
                        <strong data-translate="3263">Default Take</strong>
                    </div>
                    <div class="col-xs-1">
                        <strong data-translate="3264">Default Give</strong>
                    </div>
                    <div class="col-xs-1" ng-if="form.roundingMethod!==''">
                        <strong data-translate="3265">Max Over Tender</strong>
                    </div>
                  <div class="col-xs-2" ng-if="form.roundingMethod===''">
                    <strong data-translate="3265">Max Over Tender</strong>
                  </div>
                    <div class="col-xs-1" ng-if="form.roundingMethod!==undefined&&form.roundingMethod!==''">
                      <strong data-translate="5942">Apply Rounding</strong>
                    </div>
                </div>
                <div class="row grid{{$index%2}}" ng-repeat="x in tenderReqs">
                    <div class="row">
                        <div class="col-xs-1 text-left">
                            <button type="button" ng-if="x.req_fields" ng-click="x.reqOn=!x.reqOn" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" ng-if="!x.reqOn"></span>
                                <span class="glyphicon glyphicon-minus" ng-if="x.reqOn"></span>
                            </button>
                        </div>
                        <div class="col-xs-1">
                          <span ng-if="x.id!=='3'">{{x.name | translate}}</span>
                          <input ng-if="x.id==='3'" type="text" ng-model="pData.transactions_general_name_of_cod_field.value" class="form-control col-xs-4">
                        </div>
                        <div class="col-xs-1 text-center">
                            <input type="checkbox" ng-change="setPreference(x)" ng-disabled="defaultTakeSelected(x.id)" ng-model="x.values[0]">
                        </div>
                        <div class="col-xs-1 text-center">
                            <input type="checkbox" ng-change="setReturn(x);setPreference(x)" ng-disabled="defaultGiveSelected(x.id)" ng-model="x.values[1]">
                        </div>
                        <div class="col-xs-1 text-center">
                          <input type="checkbox" ng-change="setPreference(x)" ng-disabled="returnDisabled(x)" ng-model="x.values[2]">
                        </div>
                        <div class="col-xs-1 text-center">
                          <input type="checkbox" ng-disabled="allowDepositRefund(x)" ng-change="setPreference(x)" ng-model="x.values[8]">
                        </div>
                        <div class="col-xs-1 text-center">
                            <input type="checkbox" ng-disabled="!pData['transactions_general_change_window_' + x.preference]" ng-change="setPreference(x)" ng-checked="toBoolean(pData['transactions_general_change_window_' + x.preference].value)" ng-model="pData['transactions_general_change_window_' + x.preference].value">
                        </div>
                        <div class="col-xs-1 text-center">
                            <input type="checkbox" ng-change="setPreference(x)" ng-model="x.values[4]">
                        </div>
                        <div class="col-xs-1 text-center">
                            <input name="dTake" value="{{x.id}}" ng-disabled="!x.values[0]||x.id==='12'" ng-model="pData.pos_tenders_default_take_tender.value" type="radio">
                        </div>
                        <div class="col-xs-1 text-center">
                            <input name="dGive" value="{{x.id}}" ng-disabled="!x.values[1]||x.id==='12'" ng-model="pData.pos_tenders_default_give_tender.value" type="radio">
                        </div>
                        <div class="col-xs-1 text-center" ng-if="form.roundingMethod!==undefined&&form.roundingMethod!==''">
                            <input type="text" ng-blur="setPreference(x);" ng-model="x.values[5]" numberonly="" max="9007199254740990" data-currency-formatter="currency" class="form-control">
                        </div>
                      <div class="col-xs-2 text-center" ng-if="form.roundingMethod===undefined||form.roundingMethod===''">
                        <input type="text" ng-blur="setPreference(x);" ng-model="x.values[5]" numberonly="" max="9007199254740990" data-currency-formatter="currency" class="form-control">
                      </div>
                        <div class="col-xs-1 text-center" ng-if="form.roundingMethod!==undefined&&form.roundingMethod!==''">
                          <input ng-if="x.rounding" type="checkbox" ng-disabled="form.roundingMultiple===''" ng-change="setRounding(x)" ng-model="x.isRounded" ng-checked="x.values[7]===form.roundingMethod">
                          <span ng-if="!x.rounding">- -</span>
                        </div>
                    </div>
                    <div class="well well-sm" ng-if="x.reqOn">

                        <div class="row">
                          <div class="col-xs-6">
                            <strong data-translate="1712">Required Fields</strong>
                          </div>
                          <div class="col-xs-6" ng-if="x.id==='4'">
                            <label>
                              <input type="checkbox" ng-model="pData.transactions_tenders_check_available_charge_balance.value">
                              <span data-translate="4545">Check Available Charge Limit</span>
                            </label>
                          </div>
                        </div>

                        <div class="row" ng-class="{'even-row':$index%2}" ng-repeat="y in x.req_fields">
                            <div class="col-xs-2 text-left">
                                {{y.name | translate}}
                            </div>
                            <div class="col-xs-1 text-center">
                                <input type="checkbox" ng-change="setPreference(x)" ng-model="y.take_stat">
                            </div>
                            <div class="col-xs-1 text-center">
                                <input type="checkbox" ng-change="setPreference(x)" ng-model="y.give_stat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
