<form name="TillEditForm" id="TillEditForm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="modal-title"><span data-translate="{{tillEditTypeTransId}}"></span> <span data-translate="661">Till</span></h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <label class="control-label" data-translate="4052">Till Name</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <input class="col-xs-12" type="text" maxlength="40" ng-model="till.till_name">
          </div>
        </div>
        <div class="row top-margin20">
          <div class="col-xs-12">
            <label class="control-label">
              <input type="checkbox" id="till_active" name="till_active" ng-checked="till.active" ng-model="till.active">
              <span data-translate="586">Active</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
            <button type="button" class="btn btn-default" ng-click="$close('save')"><span data-translate="547">Save</span></button>
            <button type="button" class="btn btn-default" ng-click="$close('cancel')"><span data-translate="1.2">Cancel</span></button>
        </div>
      </div>
    </div>
  </div>
</form>
