<ng-form name="tclk_form">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <h4 data-translate="2903">Time Clock Manager</h4>
                </div>

                <div class="col-xs-6">
                  <top-filter-change-button asklayout="2" disable="doDisableTFButton" on-close="updateTopFilter">
                  </top-filter-change-button>
                </div>

              </div>
            </div>


            <div class="panel-body auto-height-panel" id="adv_lookup_ctrls" ng-if="runIt">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="control-group">
                            <div class="controls form-group">
                                <label class="control-label" for="start-date" data-translate="958">Start Date</label>
                                <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
                                </p>
                            </div>
                            <div class="controls form-group">
                                <label class="control-label" for="end-date" data-translate="611">End Date</label>
                                <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
                                </p>
                            </div>

                            <div class="controls form-group">
                                <label class="control-label" for="employee" data-translate="878">Employee</label>:
                                <select id="employee" ng-model="form.employee.sid" class="form-control" ng-options="x.sid as x.fullname for x in employees"><option value="" style="display:none" data-translate="1358">Select...</option>
                                </select>
                            </div>
                            <div class="controls form-group">
                                <label class="control-label" for="type" data-translate="542">Type</label>:
                                <select id="type" ng-required="true" ng-model="form.event_type" class="form-control">
                                    <option value="" style="display:none" data-translate="1358">Select...</option>
                                    <option value="((event_type,eq,0) OR (event_type,eq,1))" data-translate="1143">All</option>
                                    <option value="(event_type,eq,0)" data-translate="511">Check In</option>
                                    <option value="(event_type,eq,1)" data-translate="512">Check Out</option>
                                </select>
                            </div>
                            <div class="controls form-group text-right">
                                <button class="btn btn-primary btn-lg" ng-click="tcReload()" data-translate="1335" type="button">Clear</button>
                                <button class="btn btn-primary btn-lg" ng-disabled="disableTimeManagerSearch" ng-click="prepareQuery()" data-translate="630" type="button">Search</button>
                            </div>
                        <span ng-if="gridOptions.data||isNaN(totalRecords)">
                            <span data-translate="2789">Total Records</span>:{{totalRecords}}
                        </span>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="row row-container">
                            <div id="grid1" ui-grid-resize-columns="" ui-grid-selection="" ng-if="gridOptions.data" ui-grid="gridOptions" class="grid-full"></div>
                        </div>
                        <div class="row row-container">
                            <paging-control ng-if="gridOptions.data.length>0 && !searching" grid-reference="gridApi" total-records="totalRecords" results-per-page="pageSize" call-back="getData"></paging-control>
                        </div>
                    </div>
                </div>
            </div>
            <button-bar button-view="timeclock-buttons.htm"></button-bar>
        </div>
    </div>
</ng-form>
