<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
  <div class="row top-margin10 form-group padding-10">
      <div class="col-xs-6">
          <div class="row top-margin form-group">
            <div class="col-xs-6">
              <label class="control-label" data-translate="4546">Default Item Type for New Transactions</label>
              <div class="row">
                <div class="col-xs-10">
                  <select class="form-control" ng-change="setOrderType()" ng-model="pData.transactions_general_default_item_type.value">
                    <option value="1" data-translate="746">Sale</option>
                    <option value="3" ng-if="!noOrders" data-translate="749">Order</option>
                    <option value="2" data-translate="747">Return</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <label class="control-label" data-translate="1363">Bring Original Price from Price Level</label>
              <div class="row">
                <div class="col-xs-10">
                  <select class="form-control" valid-levels="subsidiary,store,workstation" ng-options="pl.pricelvl.toString() as pl.pricelvlname for pl in PriceLevels" ng-model="pData.pos_options_general_bring_orig_price_from_price_lvl.value">
                    <option value="" style="display:none"><span data-translate="1358">Select...</span></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-6" ng-show="pData.transactions_general_default_item_type.value==='3'">
              <label class="control-label" data-translate="4547">Default Order Type for New Transactions</label>
              <div class="row">
                <div class="col-xs-10">
                  <select class="form-control" ng-change="setStorage()" ng-model="pData.transactions_general_default_order_type.value">
                    <option value="2" data-translate="895">Layaway</option>
                    <option value="0" data-translate="790">Customer</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <label class="control-label" data-translate="6702">Default Status Filter for Pending Transactions</label>
              <div class="row">
                <div class="col-xs-10">
                  <select class="form-control" ng-change="setPendingType()" ng-model="pData.documents_general_pending_transaction_lookup_default_filter.value">
                    <option value="0" data-translate="1143">All</option>
                    <option value="1" data-translate="1454">Held</option>
                    <option value="2" data-translate="3012">Pending</option>
                    <option value="3" data-translate="3215">Discard</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
        <div class="row top-margin20 form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.transactions_general_force_logout_after_transaction.value" type="checkbox">
              <span data-translate="3407">Force Logout After Completing Transaction</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.transactions_general_require_customer_returns.value" type="checkbox">
              <span data-translate="5215">Require Customer for Returns</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.transactions_general_require_customer_sales.value" type="checkbox">
              <span data-translate="5216">Require Customer for Sales</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.transactions_general_require_customer_for_manual_discount.value" type="checkbox">
              <span data-translate="5520">Require Customer for Manual Discount</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.documents_general_consolidate_items_on_docs.value" type="checkbox">
              <span data-translate="2216">Consolidate like items on documents</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.documents_general_allow_only_one_item_type_per_document.value" type="checkbox">
              <span data-translate="4548">Restrict transactions to a single item type.</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.pos_options_general_apply_orig_gd_to_return_items.value" type="checkbox">
              <span data-translate="4751">Apply original transaction discount to return items</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.promotions_activate_gift_cards_for_original_amount.value" type="checkbox">
              <span data-translate="6304">Activate Gift Cards for Original Amount</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-11">
            <label class="control-label">
              <input ng-model="pData.pos_tenders_open_as_modal.value" type="checkbox">
              <span data-translate="7277">Open Tender screen in a pop-up window</span>
            </label>
          </div>
        </div>
      </div>
    <div class="col-xs-6" ng-controller="selectMultipleCheckboxGrid">
      <div class="row top-margin10 form-group">
        <div class="col-xs-11 panel panel-default">
          <div class="panel-heading">
            <div class="row form-group">
              <div class="col-xs-11">
                <label class="control-label" data-translate="3398">Lookup Item by</label>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row form-group">
              <div class="col-xs-12">
                <multi-select sortable="false" first-label="Available" second-label="Selected" text-key="txt" value-key="val" in-obj="itemLookUpColumns" ng-model="pData.documents_general_item_lookup_by.value"></multi-select>
              </div>
            </div>
            <div class="row form-group" ng-if="pData.documents_general_item_lookup_by.value.indexOf('ALU')!==-1||pData.documents_general_item_lookup_by.value.indexOf('UPC')!==-1">
              <div class="col-xs-11" style="padding-left: 3%; margin-top: 1em;">
                <label class="control-label"><input type="checkbox" ng-click="setAltVendor()" ng-model="altVendor" ng-checked="pData.documents_general_item_lookup_by.value.indexOf('ALT') !== -1 ">
                <span data-translate="5372">Search Alternate Vendor UPC \ ALU</span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row form-group">
        <div class="col-xs-11">
          <hr>
        </div>
      </div>-->

      <div class="row form-group">
        <div class="col-xs-11">
          <label class="control-label">
            <input ng-model="pData.pos_general_prompt_for_decimal_qty_items.value" type="checkbox">
            <span data-translate="5943">Prompt for decimal qty items</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-11">
          <label class="control-label">
            <input ng-model="pData.automatically_print_update_balanced_document.value" type="checkbox">
            <span data-translate="4927">Automatically Print/Update balanced document.</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-11">
          <label class="control-label">
            <input ng-checked="toBoolean(pData.open_cash_drawer_prevents_new_receipt.value)" ng-true-value="true" ng-false-value="false" ng-model="pData.open_cash_drawer_prevents_new_receipt.value" type="checkbox">
            <span data-translate="5055">Open cash drawer prevents new receipt</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-11">
          <label class="control-label">
            <input ng-model="pData.pos_options_packages_kits_count_package_as_single_item.value" type="checkbox">
            <span data-translate="5217">Count Package as a single-sale item</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-11">
          <label class="control-label">
            <input ng-model="pData.document_print_package_items.value" type="checkbox">
            <span data-translate="4619">Print Package Items</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-11 col-xs-offset-1">
          <label class="control-label">
            <input ng-disabled="!toBoolean(pData.document_print_package_items.value)" ng-model="pData.pos_options_packages_kits_print_package_item_price_on_transactions.value" type="checkbox">
            <span data-translate="4776">Print Package Item Prices</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-11">
          <label class="control-label">
            <input ng-model="pData.pos_options_packages_kits_print_kit_item_on_transactions.value" type="checkbox">
            <span data-translate="4777">Print Kit Items</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-11 col-xs-offset-1">
          <label class="control-label">
            <input ng-disabled="!toBoolean(pData.pos_options_packages_kits_print_kit_item_on_transactions.value)" ng-model="pData.pos_options_packages_kits_print_kit_item_price_on_transactions.value" type="checkbox">
            <span data-translate="4778">Print Kit Item Prices</span>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-11">
          <label class="control-label">
            <input ng-model="pData.documents_general_print_zero_quantity_items.value" type="checkbox">
            <span data-translate="6672">Print Zero Quantity Items</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</ng-form>
