<ng-form name="pref_form" ng-controller="formStatEmitter" ng-if="pData" class="pref_form">
    <div class="container-fluid" ng-controller="ACReasons">
        <div ng-show="contextState.level=='corporate'" data-translate="{{ msg }}">
            {{ msg | translate}}
          </div>
        <div class="row" ng-show="contextState.level!=='corporate'">
            <div class="col-xs-6">
                <div class="row">
                    <label class="control-label" data-translate="542">Type</label>
                    <select class="form-control" ng-change="setReasonsGrid()" ng-model="selectedModel" ng-options="s as s.txt | translate for s in modelVals">
                      <option style="display:none" data-translate="1358">Select...</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">
                             
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="req_sc" ng-if="['5'].indexOf(selectedModel.type_id) < 0" class="control-label margin-10">
                                <input type="checkbox" ng-model="pData['documents_reason_comments_doc_reason_required_' + selectedModel.val].value" id="req_sc">
                                <span data-translate="1755">Reason Required</span>
                            </label>
                            <label for="req_nc" ng-if="['1','5','8','9','10'].indexOf(selectedModel.type_id) < 0" class="control-label margin-10">
                              <input type="checkbox" ng-model="pData['disbursement_req_' + selectedModel.val].value" id="req_nc">
                              <span data-translate="4337">Note Required</span>
                            </label>
                            <label for="req_nc" ng-if="selectedModel.type_id === '5'" class="control-label margin-10">
                                <input type="checkbox" ng-model="pData.merchandise_adjustments_require_comment_on_memos.value" id="req_nc">
                                <span data-translate="4755">Require Comments on Memos</span>
                            </label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row top-margin">
            <div>                
                <div ng-show="contextState.level!=='corporate'" class="panel panel-default">
                    <div class="panel-heading">
                        <span data-translate="1756">Reasons</span> - <span data-translate="{{selectedModel.txt}}">{{selectedModel.val}}</span>
                    </div>
                    <div class="panel-body">
                        <!--HTML specific to Adjustment Memos-->
                        <div ng-if="selectedModel.type_id === '5'" class="row top-margin">
                            <div class="col-xs-4">
                                <div class="well padding-10 margin-10">
                                    <div class="row padding-5">
                                        <label class="control-label">
                                            <input type="checkbox" id="cbxReqCostReason" ng-disabled="!isSubsidiary" ng-checked="toBoolean(pData.merchandise_adjustments_require_cost_adj_reason.value)" ng-model="pData.merchandise_adjustments_require_cost_adj_reason.value">
                                            <span data-translate="4760">Require Cost Adjustment Reason</span>
                                        </label>
                                    </div>
                                    <div class="row padding-5">
                                        <label for="ddDefaultCostReason" data-translate="4761">Default Cost Reason</label>
                                        <select ng-disabled="!isSubsidiary" class="form-control" id="ddDefaultCostReason" ng-model="pData.merchandise_adjustments_default_cost_adj_reason.value" ng-options="reason.name as reason.name for reason in activeReasons">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="well padding-10 margin-10">
                                    <div class="row padding-5">
                                        <label class="control-label">
                                            <input type="checkbox" id="cbxReqPriceReason" ng-disabled="!isSubsidiary" ng-checked="toBoolean(pData.merchandise_adjustments_require_price_adj_reason.value)" ng-model="pData.merchandise_adjustments_require_price_adj_reason.value">
                                            <span data-translate="4762">Require Price Adjustment Reason</span>
                                        </label>
                                    </div>
                                    <div class="row padding-5">
                                        <label for="ddDefaultPriceReason" data-translate="4763">Default Price Reason</label>
                                        <select ng-disabled="!isSubsidiary" class="form-control" id="ddDefaultPriceReason" ng-model="pData.merchandise_adjustments_default_price_adj_reason.value" ng-options="reason.name as reason.name for reason in activeReasons">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="well padding-10 margin-10">
                                    <div class="row padding-5">
                                        <label class="control-label">
                                            <input type="checkbox" id="cbxReqQtyReason" ng-disabled="!isSubsidiary" ng-checked="toBoolean(pData.merchandise_adjustments_require_qty_adj_reason.value)" ng-model="pData.merchandise_adjustments_require_qty_adj_reason.value">
                                            <span data-translate="4764">Require Quantity Adjustment Reason</span>
                                        </label>
                                    </div>
                                    <div class="row padding-5">
                                        <label for="ddDefaultQtyReason" data-translate="4765">Default Quantity Reason</label>
                                        <select ng-disabled="!isSubsidiary" class="form-control" id="ddDefaultQtyReason" ng-model="pData.merchandise_adjustments_default_qty_adj_reason.value" ng-options="reason.name as reason.name for reason in activeReasons">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row top-margin20">
                                <div class="col-xs-12">
                                    <label class="margin-left-5 top-margin20" data-translate="4759">Adjustment Reasons</label>
                                </div>
                            </div>
                        </div>
                        <!--End of HTML specific to Adjustment Memos-->

                        <!-- broken
                        <editgrid gridid="reason_grid" ng-if="reasonsList" displaycolumns="Active,Name,Shrinkable,Default" datacolumns="active,name,shrink_flag,default" partial="/views/default/edit-discount-reasons.partial.htm" tableclass="table-responsive table-bordered col-xs-12 table-centered table-striped" modalclass="discount-modal"></editgrid>
                        -->
                      <table ng-if="reasonsList.length>0" class="table col-md-12 table-striped table-bordered table-reponsive table-centered">
                        <thead>
                          </thead><td><strong data-translate="774">Edit</strong></td>
                          <td><strong data-translate="544">Delete</strong></td>
                          <td><strong data-translate="586">Active</strong></td>
                          <td><strong data-translate="1113">Name</strong></td>
                          <td><strong data-translate="1279">Description</strong></td>
                          <td><strong data-translate="2718">Shrinkable</strong></td>
                          <td ng-if="selectedModel.type_id!=='5'"><strong data-translate="1114">Default</strong></td>
                          <td ng-if="selectedModel.type_id==='10'"><strong data-translate="3928">Manual</strong></td>

                        <tbody>
                          <tr ng-repeat="reason in reasonsList" ng-click="setRow(reason)" ng-class="{'context-rowtrue' : reason === selectedReason}">
                            <td>
                              <button class="btn btn-default btn-icon glyphicon glyphicon-pencil" ng-click="setRow(reason);openEdit()"></button>
                            </td>
                            <td>
                              <button class="btn btn-default btn-icon glyphicon glyphicon-remove" ng-click="setRow(reason);openDelete()">
                              </button>
                            </td>
                            <td><input type="checkbox" ng-checked="reason.active" disabled="disabled"></td>
                            <td>{{reason.name}}</td>
                            <td>{{reason.description}}</td>
                            <td><input type="checkbox" ng-checked="reason.shrink_flag" disabled="disabled"></td>
                            <td ng-if="selectedModel.type_id!=='5'"><input type="checkbox" ng-checked="reason.default" disabled="disabled"></td>
                            <td ng-if="selectedModel.type_id==='10'">
                              <input type="checkbox" ng-checked="reason.manual" ng-model="reason.manual" ng-change="updateReason(reason)">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div ng-show="reasonsList.length===0" data-translate="{{ msg }}">
                        {{ msg | translate}}
                      </div>
                    </div>
                    <div class="panel-footer">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="pull-right">
                            <button type="submit" class="btn btn-default" ng-click="openCreate()"><span data-translate="6305">New Reason</span></button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
