<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="padding20">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1745">
                        Packages &amp; Kits
                    </div>
                    <div class="panel-body">
                        <label class="control-label" data-translate="1746">When Calculating Tax on Transactions</label>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input type="radio" value="0" ng-model="pData.pos_options_packages_kits_when_calculating_tax_on_transactions.value">
                                    <span data-translate="1747">Use Component Specific Tax Codes</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input type="radio" value="1" ng-model="pData.pos_options_packages_kits_when_calculating_tax_on_transactions.value">
                                    <span data-translate="1748">Use Package Item Tax Codes</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                <div class="panel-heading" data-translate="1749">Packages &amp; Kit Item Printing</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.pos_options_packages_kits_print_package_item_on_transactions.value">
                                    <span data-translate="1750">Print package item on transactions</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.pos_options_packages_kits_print_package_item_price_on_transactions.value">

                                    <span data-translate="1751">Print package item price on transactions</span>
                                </label>
                            </li>

                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.pos_options_packages_kits_print_kit_item_on_transactions.value">
                                <span data-translate="1752">Print kit item on transactions</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.pos_options_packages_kits_print_kit_item_price_on_transactions.value">
                                    <span data-translate="1753">Print kit item price on transactions</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
