<ng-form novalidate="novalidate" id="xOutDesignSelection" name="xOutDesignSelection" class="form-horizontal relative">
	<div class="modalouter">
		<div class="modal-header">
			<div class="row-fluid">
				<h4 data-translate="1805">Choose a Design</h4>
			</div>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="designList" class="col-sm-3 control-label" data-translate="1806">Preview Design:</label>
				<div class="col-sm-9">
					<select id="designList" name="designList" ng-model="design.value" class="form-control" ng-options="d.sid as d.design_name for d in designs | orderBy:'design_name'" ng-required="true" ng-chamge="changeDesign()">
						<option value="" data-translate="1805">Choose a Design</option>
					</select>
				</div>
			</div>


		</div>
		<div class="modal-footer">
			<div class="row-fluid">
				<div class="col-sm-6">
					<button event-name="xOutDesignSelectOk" class="btn btn-default btn-lg col-sm-12" tabindex="15" type="button" id="okButton" ng-click="Continue()" ng-disabled="!xOutDesignSelection.designList.$valid"><img src="/images/ok_32.png" class="margin-right"><span data-translate="1.1">OK</span></button>
				</div>
				<div class="col-sm-6">
					<button event-name="xOutDesignSelectCancel" class="btn btn-lg col-sm-12" tabindex="16" type="button" id="cancelButton" ng-click="Cancel()"><img src="/images/cancel_32.png" class="margin-right"><span data-translate="1.2">Cancel</span></button>
				</div>
			</div>
		</div>
	</div>
</ng-form>
