<form novalidate="" id="zOutAddTender" name="zOutAddTender" class="form-horizontal relative">


	<div class="modalouter">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-translate="1815">Add Non Currency</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
				<div class="row">
					<div class="col-xs-6">
					<div class="control-group">
						<label class="control-label" for="tenderType" data-translate="981">Non-Currency Type:</label>
						<div class="controls">
							<select id="tenderType" class="form-control" name="tenderType" tabindex="1" title="{{ '981' | translate }} " ng-model="zout.activeAddedTender.tender_type" ng-options="tenderTypesService.getTenderPosition(tender) as tenderTypesService.getDisplayName(tender) for tender in tenderTypes"><option value="" style="display:none" data-translate="1358">Select...</option> </select>
						</div>
						<label class="control-label" for="docNumber" data-translate="835">Document Number:</label>
						<div class="controls">
							<input type="text" class="form-control" id="docNumber" name="docNumber" tabindex="1" title="{{ '835' | translate }} " ng-model="zout.activeAddedTender.doc_no" ng-pattern="regExDigits" ng-required="true">
							<span class="text-danger" ng-show="zOutAddTender.docNumber.$error.pattern" data-translate="1816">Please enter only numerical values.</span>
						</div>
						<label class="control-label" for="amount" data-translate="982">Amount:</label>
						<div class="controls">
							<input type="text" class="form-control" id="amount" name="amount" tabindex="1" title="{{ '982' | translate }} " ng-model="zout.activeAddedTender.amount" ng-pattern="regExDigitsDecimal" ng-required="true">
							<span class="text-danger" ng-show="zOutAddTender.amount.$error.pattern" data-translate="1817">Please enter a valid currency amount.</span>
						</div>
					</div>
				</div>
					<div class="col-xs-6">
					<div class="control-group">
						<label class="control-label" data-translate="684">Date:</label>
						<div class="controls">
              <date-input id="addDate" allow-null="true" ng-model="zout.activeAddedTender.tender_date" ng-required="true"></date-input>
            </div>

						<label class="control-label" for="customerName" data-translate="751">Customer Name:</label>
						<div class="controls">
							<input type="text" class="form-control" id="customerName" name="customerName" tabindex="1" title="{{ '751' | translate }} " ng-model="zout.activeAddedTender.customer_name">
						</div>

						<label class="control-label" for="cashier" data-translate="622">Cashier:</label>
						<div class="controls">
							<input type="text" class="form-control" id="cashier" name="cashier" tabindex="1" title="{{ '622' | translate }} " ng-model="zout.activeAddedTender.cashier_full_name">
						</div>
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="control-group">
							<label class="control-label" for="addNotes" data-translate="659">Notes:</label>
							<div class="controls">
								<textarea type="text" class="form-control" id="addNotes" name="addNotes" tabindex="1" title="{{ '594' | translate }} " ng-model="zout.activeAddedTender.notes">
							</textarea></div>
						</div>
					</div>
				</div>

		</div>
		<div class="modal-footer">
			<div class="row">

				<div class="col-xs-6">
					<button event-name="zOutAddTenderOk" class="btn btn-default btn-lg btn-block" tabindex="15" type="button" id="okButton" ng-disabled="!zOutAddTender.$valid" ng-click="saveTender()" disabled="disabled" data-translate="547">Save</button>
				</div>
				<div class="col-xs-6">
					<button event-name="zOutAddTenderCancel" class="btn btn-lg btn-default btn-block" tabindex="16" type="button" id="cancelButton" ng-click="closeModal()" data-translate="1.2">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</form>
