<div ng-controller="zOutCloseSummaryController" ng-init="init()">
	<div class="col-xs-12">
		<div class="panel panel-default" ng-show="!isReconciled">
			<div class="panel-heading">
        <span data-translate="1861">Reconcile Progress</span>
			</div>

			<div class="panel-body">
				<h5>{{ statusMessage }}</h5>
				<progressbar value="percentCompleted" animate="false">{{percentCompleted}}%</progressbar>

				<h5>{{ stepStatusMessage }}</h5>
				<progressbar value="stepPercentCompleted" animate="false">{{stepPercentCompleted}}%</progressbar>

			</div>
		</div>
		<div class="panel panel-default" ng-show="isReconciled">
			<div class="panel-heading" data-translate="1821">
				Reconciliation Counts
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-condensed table-striped" ng-if="!blindClose">
					<thead>
					<tr>
						<th class="span2"></th>
						<th class="span2" data-translate="973">Open</th>
						<th class="span2" data-translate="974">Sales</th>
            <th class="span2" data-translate="4051">Paid In/Out</th>
						<th class="span2" data-translate="975">Drop</th>
						<th class="span2" data-translate="976">Close</th>
						<th class="span2" data-translate="977">Over/Short</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td><button event-name="zOutCloseSummaryCurrency" class="btn btn-large btn-block" ng-click="showCurrencies()" data-translate="961" type="button">Currency</button></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.open" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.sales" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.paidinout" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.drop" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.close" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.over_short" foreign-currency-formatter="base_currency"></td>
					</tr>
					<tr>
						<td><button event-name="zOutCloseSummaryNonCurrency" class="btn btn-large btn-block" ng-click="showNonCurrencies()" data-translate="978" type="button">Non-Currency</button></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.open" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.sales" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.paidinout" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.drop" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.close" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.over_short" foreign-currency-formatter="base_currency"></td>
					</tr>
					<tr>
						<td data-translate="979">Total:</td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.open" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.sales" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.paidinout" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.drop" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.close" foreign-currency-formatter="base_currency"></td>
						<td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.over_short" foreign-currency-formatter="base_currency"></td>
					</tr>
					</tbody>
				</table>
        <table class="table table-bordered table-condensed table-striped" ng-if="blindClose">
          <thead>
          <tr>
            <th class="span2"></th>
            <th class="span2" data-translate="973">Open</th>
            <th class="span2" data-translate="974">Sales</th>
            <th class="span2" data-translate="4051">Paid In/Out</th>
            <th class="span2" data-translate="975">Drop</th>
            <th class="span2" data-translate="976">Close</th>
            <th class="span2" data-translate="977">Over/Short</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><button event-name="zOutCloseSummaryCurrency" class="btn btn-large btn-block" ng-click="showCurrencies()" data-translate="961" type="button">Currency</button></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.open" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.sales"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.paidinout"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.drop"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.close" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.currency.over_short"></td>
          </tr>
          <tr>
            <td><button event-name="zOutCloseSummaryNonCurrency" class="btn btn-large btn-block" ng-click="showNonCurrencies()" data-translate="978" type="button">Non-Currency</button></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.open" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.sales"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.paidinout"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.drop"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.close" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.non_currency.over_short"></td>
          </tr>
          <tr>
            <td data-translate="979">Total:</td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.open" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.sales"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.paidinout"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.drop"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.close" foreign-currency-formatter="base_currency"></td>
            <td><input class="form-control" type="text" ng-readonly="true" ng-model="summaryTotals.total.over_short"></td>
          </tr>
          </tbody>
        </table>
			</div>
		</div>

		<div class="panel panel-default" ng-show="isReconciled">
			<div class="panel-heading" data-translate="1822">
				Missing/Added: Non-Currency
			</div>
			<div class="panel-body">
				<table class="form-group table table-bordered table-condensed table-striped col-xs-12" ng-show="missingNonCurrency.tenders.length">
					<thead>
					<tr>
						<th class="span2" data-translate="1823">Non-Currency Type</th>
						<th class="span2" data-translate="1824">Amount</th>
						<th class="span2" data-translate="1825">Added/Missing</th>
						<th class="span2" data-translate="594">Notes</th>

					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="tender in missingNonCurrency.tenders track by $index">
						<td ng-if="tender.tender_type*1!==3">{{ tenderTypesService.getDisplayName(tenderTypesService.getTenderName(tender.tender_type) ) }}</td>
            <td ng-if="tender.tender_type*1===3">{{codName}}</td>
						<td>{{ tender.amount | currency }}</td>
						<td>{{ formatMissingOrAddedLabel(tender) }}</td>
						<td>{{ tender.notes }}</td>

					</tr>
					</tbody>
				</table>
				<label data-translate="980">Missing Non-Currency Total:</label>
				<input type="text" class="form-control" ng-model="missingNonCurrency.total_string" ng-readonly="true">
			</div>
		</div>
	</div>
</div>
