<div ng-controller="zOutCurrencyMediaCountController">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title"> <span data-translate="962">Currency:</span> {{ mediaCountsShare.selected_currency.currency_name }}</h1>
					</div>
					<div class="panel-body">
						<div class="col-sm-12" style="height:600px;overflow:hidden;" touch-scroll="" touch-scroll-show="true">
							<ul class="nav nav-pills nav-stacked">
								<li event-name="zOutCurrencyMediaCountsThisCurrency" ng-class="{'active': mediaCountsShare.selected_currency.sid ===  currency.sid, '': mediaCountsShare.selected_currency.sid !==  currency.sid}" ng-repeat="currency in currencies" ng-click="changeCurrency(currency);">
									<a>
										{{currency.alphabetic_code }} : {{ currency.currency_name }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title" data-translate="4443">Currency Media Counts</h1>
					</div>
					<div class="panel-body">
						<div class="col-sm-8">
							<table class="table table-striped table-bordered table-condensed">
								<thead>
								<tr>
									<th class="col-sm-4" data-translate="1831">
										Denomination
									</th>
									<th class="col-sm-1" data-translate="1832">
										Count
									</th>
									<th class="col-sm-4" data-translate="1833">
										Total
									</th>
								</tr>
								</thead>
								<tr ng-repeat="denomination in mediaCountsShare.selected_currency.denominations">
									<td class="col-sm-4">
										{{ denomination.denomination_name }}
									</td>
									<td class="col-sm-1">
										<input type="text" class="form-control" ng-blur="updateDenomination(denomination, mediaCountsShare.selected_currency);" enter-blur numberonly ng-click="leadZeroRemove(denomination);" ng-keydown="onKeyDown($event);" maxlength="10" min="0" ng-model="denomination.count" ng-disabled="isReconciled" ng-readonly="!mediaCountsShare.isEnterCount">
									</td>
									<td class="col-sm-4">
										{{ denomination.total | foreign_currency : mediaCountsShare.selected_currency }}
									</td>
								</tr>
							</table>
							<input type="text" ng-model="mediaCountsShare.selected_currency.override_amount" placeholder="{{ '1859' | translate }} " ng-change="overrideTotal()" ng-show="false">
						</div>
						<div class="col-sm-4">
							<div class="control-group">

								<label class="control-label" for="open_amount" data-translate="964" ng-show="displayOpenAmount">Open Amount:</label>
								<div class="controls" ng-show="displayOpenAmount">
									<input id="open_amount" class="form-control" type="text" ng-model="mediaCountsShare.selected_currency.open_amount" foreign-currency-formatter="mediaCountsShare.selected_currency" ng-readonly="isReconciled || disableOpenAmount">
								</div>

								<label class="control-label" for="leave_amount" data-translate="965" ng-show="displayLeaveAmount">Leave Amount:</label>
								<div class="controls" ng-show="displayLeaveAmount">
									<input id="leave_amount" class="form-control" type="text" ng-model="mediaCountsShare.selected_currency.leave_amount" foreign-currency-formatter="mediaCountsShare.selected_currency" ng-readonly="isReconciled">
								</div>

								<label class="control-label" for="total_currency"><span data-translate="1833">Total</span> {{ mediaCountsShare.selected_currency.currency_name }}:</label>
								<div class="controls">
									<input id="total_currency" class="form-control" type="text" foreign-currency-formatter="mediaCountsShare.selected_currency" ng-blur="updateCurrencyValue();" ng-model="mediaCountsShare.selected_currency.total_currency" ng-readonly="mediaCountsShare.isEnterCount" ng-required="requireDenominationCounts">
								</div>

								<label class="control-label" for="grand_total" data-translate="967">Grand Total:</label>
								<div class="controls">
									<input id="grand_total" class="form-control" type="text" ng-model="mediaCountsShare.grand_total_currency" foreign-currency-formatter="base_currency" ng-readonly="true">
								</div>
								<br>
                <div class="controls">
                  <button type="button" class="btn btn-lg col-sm-12" ng-click="toggleEntry()">
                    <span ng-if="mediaCountsShare.isEnterCount" data-translate="5918">Enter Total</span>
                    <span ng-if="!mediaCountsShare.isEnterCount" data-translate="2324">Count Denominations</span>
                  </button>
                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
