<form novalidate="novalidate" id="zOutAddTender" name="zOutAddTender" class="form-horizontal relative">
  <div class="modalouter">
    <div class="modal-header">
      <div class="row">
        <div class="col-sm-12">
          <h4 data-translate="1851">Confirm Drawer Reconcile</h4>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div ng-class="{'col-sm-6':!isStructured, 'col-sm-4':isStructured}">
          <button event-name="zOutOverlapConfirmationOk" class="btn btn-default btn-large btn-block" tabindex="15" data-permission="xzoutcloseregister" type="button" id="okButton" ng-click="Continue()"><span data-translate="583">Close</span></button>
        </div>
        <div class="col-sm-4" ng-if="isStructured">
          <button event-name="zOutOverlapConfirmationAudit" class="btn btn-default btn-large btn-block" data-permission="xzoutauditregister" tabindex="15" type="button" id="auditButton" ng-click="Audit()"><span data-translate="4940">Audit</span></button>
        </div>
        <div ng-class="{'col-sm-6':!isStructured, 'col-sm-4':isStructured}">
          <button event-name="zOutOverlapConfirmationCancel" class="btn btn-large bnt-default btn-block" tabindex="16" type="button" id="cancelButton" ng-click="Cancel()"><span data-translate="801">Back</span></button>
        </div>
      </div>
    </div>
  </div>
</form>
