<div class="container-fluid">
	<form novalidate="" id="zOutOpenForm" name="zOutOpenForm" class="form-horizontal relative" ng-init="initialize()" ng-if="ok">
	  <div class="col-xs-12">
		<div ng-switch="" on="state.step">
		  <div ng-switch-when="0">
			<div class="panel panel-default">
			  <div class="panel-heading">
				<div class="row">
				  <div class="col-xs-6">
					<h4 class="panel-title" data-translate="2243">Open Register</h4>
				  </div>
  
				  <div class="col-xs-6">
					<top-filter-change-button asklayout="2" disable="doDisableTFButton" on-close="updateTopFilter">
					</top-filter-change-button>
				  </div>
  
				</div>
			  </div>
			  <div class="panel-body">
				<div class="row">
				  <div class="col-xs-12">
					<p class="text-center" data-translate="2264">
					  Select the location of the register you would like to open.
					  Click Next to continue.
					</p>
				  </div>
				</div>
				<div class="row">
				  <div class="col-xs-6">
					<div class="panel panel-default">
					  <div class="panel-heading">
						<h3 class="panel-title" data-translate="2265">
						  Register Criteria
						</h3>
					  </div>
					  <div class="panel-body">
						<div class="col-xs-12">
						  <div class="form-group">
							<label class="control-label" for="startdate" data-translate="2232">Start Date:</label>
							<input type="text" id="startdate" name="startdate" ng-model="startDateDisplay" class="form-control" ng-readonly="true">
						  </div>
  
						  <div class="form-group">
							<label class="control-label" for="subsidiary" data-translate="2233">Subsidiary:</label>
							<input type="text" name="subsidiary" id="subsidiary" ng-model="state.subsidiaryName" class="form-control" ng-readonly="true">
						  </div>
  
						  <div class="form-group">
							<label class="control-label" for="store" data-translate="2234">Store:</label>
							<input type="text" name="store" id="store" ng-model="state.storeName" class="form-control" ng-readonly="true">
						  </div>
  
						  <div class="form-group" ng-class="{'has-error': !zOutOpenForm.workstation.$valid }">
							<label class="control-label" for="workstation" data-translate="2235">Workstation:</label>
							<select id="workstation" name="workstation" ng-model="filter.workstation" ng-change="changeWorkstation(filter.workstation,'{{filter.workstation}}')" class="form-control" ng-options="w.sid as w.workstation_number + ' :' + w.workstation_name for w in workstations" ng-disabled="state.workstationDisabled" ng-required="!state.workstationDisabled">
							  <option value="" selected="selected" hidden>
							</select>
						  </div>
  
						  <div class="form-group" ng-class="{'has-error': !zOutOpenForm.drawer.$valid }">
							<label class="control-label" for="drawer" data-translate="2236">Drawer:</label>
							<select id="drawer" name="drawer" ng-model="filter.drawer" ng-change="changeFilter()" class="form-control" ng-disabled="state.drawerDisabled" ng-required="!state.drawerDisabled">
							  <option value="" selected="selected" hidden>
							  <option value="1">1</option>
							  <option value="2">2</option>
							</select>
						  </div>
  
						  <div class="form-group" ng-class="{'has-error': !zOutOpenForm.till.$valid }">
							<label class="control-label" for="till" data-translate="2237">Till:</label>
							<select id="till" name="till" ng-model="filter.till" ng-change="changeFilter()" class="form-control" ng-options="t.sid as t.till_name for t in tills" ng-disabled="state.tillDisabled" ng-required="!state.tillDisabled">
							  <option value="" selected="selected" hidden>
							</select>
						  </div>
  
						  <div class="form-group" ng-class="{'has-error': !zOutOpenForm.cashier.$valid }">
							<label class="control-label" for="cashier" data-translate="622">Cashier:</label>
							<select id="cashier" name="cashier" ng-model="filter.cashier" ng-change="changeFilter()" class="form-control" ng-options="e.value as e.name for e in employees" ng-disabled="state.cashierDisabled" ng-required="!state.cashierDisabled">
							  <option value="" selected="selected" hidden>
							</select>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="col-xs-6" ng-hide="requireDenominationCounts">
					<table class="table table-bordered table-striped col-xs-12">
					  <thead>
						<tr>
						  <th data-translate="961">
							Currency
						  </th>
						  <th data-translate="964">
							Open Amount
						  </th>
						</tr>
					  </thead>
					  <tbody>
						<tr ng-repeat="currency in currencies" ng-init="openAmounts[currency.sid] = { amount:0 }">
						  <td>
							{{currency.alphabetic_code }} : {{
							currency.currency_name }}
						  </td>
						  <td>
							<input type="text" class="form-control" ng-model="openAmounts[currency.sid].amount" ng-blur="updateOpenTotal()" foreign-currency-formatter="currency">
						  </td>
						</tr>
					  </tbody>
					</table>
					<div class="col-xs-12">
					  <div class="form-group" ng-class="{'has-error': !zOutOpenForm.totalOpenAmount.$valid && requireOpenCounts }">
						<label class="control-label"><span data-translate="2239">Total Open Amount -</span>
						  {{base_currency.name}}:</label>
						<input type="text" class="form-control" ng-model="totalOpenAmount" name="totalOpenAmount" ng-disabled="true" foreign-currency-formatter="base_currency" ng-required="{{requireOpenCounts}}">
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div ng-switch-when="1">
			<div ng-include="templates.pos.register.zout_currency_media_counts()"></div>
		  </div>
		  <div ng-switch-when="2">
			<div ng-include="templates.pos.register.zout_non_currency_media_counts()"></div>
		  </div>
		  <div ng-switch-when="3">
			<div ng-include="templates.pos.register.zout_close_summary_partial()"></div>
		  </div>
		</div>
	  </div>
	  <button-bar button-view="nav-z-out-open-buttons-partial.htm"></button-bar>
	</form>
  </div>
  