<form novalidate="novalidate" id="zOutOverlapConfirmation" name="zOutOverlapConfirmation" class="form-horizontal relative">
	<div class="modalouter">
		<div class="modal-header">
			<div class="row">
				<div class="col-sm-12">
					<h4 data-translate="1845">Confirmation</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-1">
					<img src="/images/pos/question_32.png" class="margintop">
				</div>
				<div class="col-sm-11">
					<h4 data-translate="1846">Overlapping ZOut(s) Detected</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
				</div>
				<div class="col-sm-11">
					<p data-translate="1847">ZOut(s) exist that capture part of the date/time you are attemping to use.</p>
					<p data-translate="1848">Select <strong>Recount</strong> if you wish to continue and create a replacement record.</p>
					<p data-translate="1849">Select <strong>Cancel</strong> to exit this operation.</p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-sm-6">
					<button event-name="zOutOverlapConfirmationOk" class="btn btn-default btn-lg btn-block" tabindex="15" type="button" id="okButton" ng-click="Continue()"><img src="/images/pos/check.png" class="margin-right"><span data-translate="1850">Recount</span></button>
				</div>
				<div class="col-sm-6">
					<button event-name="zOutOverlapConfirmationCancel" class="btn btn-lg btn-default btn-block" tabindex="16" type="button" id="cancelButton" ng-click="Cancel()"><img src="/images/pos/delete.png" class="margin-right"><span data-translate="1.2">Cancel</span></button>
				</div>
			</div>
		</div>
	</div>
</form>
