<div ng-controller="zOutNonCurrencyMediaCountController">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-sm-3">
				<div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><span data-translate="962">Currency:</span> {{ TenderTypesService.getDisplayName(zouttenders[selected_tender_type_index][0]) }}</h1>
          </div>
					<div class="panel-body">
						<div class="col-sm-12">
							<ul class="nav nav-pills nav-stacked">
								<li event-name="zOutNonCurrencyMediaCountsThisTender" ng-class="{'active': selected_tender_type_index === $index , '': selected_tender_type_index !== $index }" ng-repeat="tender in zouttenders">
									<a ng-click="changeTender($index,tender)">
                    <span ng-if="tender[0]!=='COD'">
                      {{TenderTypesService.getDisplayName(tender[0])}}
                    </span>
                    <span ng-if="tender[0]==='COD'">
                      {{codName}}
                    </span>
                    <span class="badge pull-right">{{ tender[1].length }}</span>
                  </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <strong><span data-translate="7065">Currency Total</span></strong>
              </div>
              <div class="col-xs-6 text-right" style="color:#FFF;background-color:#000">
                {{currencyTotal | currency}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <strong><span data-translate="967">Grand Total</span></strong>
              </div>
              <div class="col-xs-6 text-right" style="color:#FFF;background-color:#000">
                {{non_currency_grand_total | currency}}
              </div>
            </div>
          </div>
        </div>
			</div>
			<div class="col-sm-9">
        <div class="row">
          <div class="col-xs-12">
            <taken-non-currency-list></taken-non-currency-list>
          </div>
        </div>
				<div class="row">
          <div class="col-xs-12">
            <added-non-currency-list></added-non-currency-list>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
