<div class="container-fluid">
<form novalidate="novalidate" id="zOutForm" name="zOutForm" class="form-horizontal relative" ng-init="initialize()">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="panel-title" data-translate="2244">Close Register</h4>
        </div>

        <div class="col-xs-6">
          <top-filter-change-button asklayout="2" disable="doDisableTFButton" on-close="updateTopFilter">
          </top-filter-change-button>
        </div>

      </div>
    </div>
    <div class="panel-body">
      <div class="row">

        <div ng-switch="" on="state.step" class="slide-frame" ng-show="!DisplayReport">
          <div ng-switch-when="0">
            <div ng-include="templates.pos.register.zout_filters()">
            </div>
          </div>
          <div ng-switch-when="1">
            <div ng-include="templates.pos.register.zout_currency_media_counts()">
            </div>
          </div>
          <div ng-switch-when="2">
            <div ng-include="templates.pos.register.zout_non_currency_media_counts()">
            </div>
          </div>
          <div ng-switch-when="3">
            <div ng-include="templates.pos.register.zout_close_summary_partial()">
            </div>
          </div>
        </div>

        <div class="col-xs-12" ng-show="DisplayReport" id="xOutReport">
          <div class="panel panel-default">
            <div class="panel-heading"><span data-translate="1862">Preview Z-Out</span></div>
            <div class="panel-body">
              <iframe id="preview_frame" class="col-xs-12" ng-src="{{templates.pos.register.xout_preview()}}" style="height:700px; border: none;">
              </iframe>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</form>
  <button-bar button-view="nav-z-out-buttons-partial.htm"></button-bar>
</div>
