<form name="formData.zoutForeCloseForm" id="formData.zoutForeCloseForm" ng-init="init()">
	<div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="modal-title" data-translate="2311">Force Close Drawer</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
					<div class="col-xs-12">
						<table class="table table-striped">
							<tr>
								<td>
									<strong data-translate="2236">Drawer:</strong>
								</td>
								<td>
									{{controlRecord.drawer_number}}
								</td>
								<td>
									<strong data-translate="622">Cashier:</strong>
								</td>
								<td>
									{{controlRecord.cashier_name}}
								</td>
							</tr>
							<tr>
								<td>
									<strong data-translate="2237">Till:</strong>
								</td>
								<td>
									{{controlRecord.till_name}}
								</td>
								<td>
									<strong data-translate="2297">Sub:</strong>
								</td>
								<td>
									{{controlRecord.subsidiary_name}}
								</td>
							</tr>
							<tr>
								<td>
									<strong data-translate="2296">Open Date:</strong>
								</td>
								<td>
									{{controlRecord.period_begin | date : 'short'}}
								</td>
								<td>
									<strong data-translate="2234">Store:</strong>
								</td>
								<td>
									{{controlRecord.store_name}}
								</td>
							</tr>
							<tr>
								<td>
									<strong data-translate="2298">Open Amount:</strong>
								</td>
								<td>
									{{controlRecord.register_open_amount | currency : ''}}
								</td>
								<td>
									<strong data-translate="2235">Workstation:</strong>
								</td>
								<td>
									{{controlRecord.workstation_name}}
								</td>
							</tr>
						</table>

						<h5 data-translate="2315">Close Information</h5>
						<hr>

						<div class="form-group">
							<label class="control-label" data-translate="2299">Close Date:</label>
							<input class="form-control" type="text" value="{{formData.closeDate | date : 'short'}}" ng-disabled="true">

						</div>

						<div class="form-group">
							<label class="control-label" data-translate="2312">Closing Amount:</label>
							<input class="form-control" type="text" ng-model="formData.closingAmount" numberonly="">
						</div>

						<div class="form-group">
							<label class="control-label" data-translate="2313">Leave Amount:</label>
							<input class="form-control" type="text" ng-model="formData.leaveAmount" numberonly="">
						</div>

						<div class="form-group">
							<label class="control-label" data-translate="2314">Notes:</label>
							<textarea class="form-control" type="text" ng-model="formData.notes" rows="5">
							</textarea>
						</div>

					</div>
				</div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
			        		<div class="pull-right col-xs-8">
	    				    	<button event-name="zOutForceCloseForceClose" type="button" tabindex="8" id="forceCloseSearchButton" name="forceCloseSearchButton" ng-disabled="!formData.zoutForeCloseForm.$valid" ng-click="forceClose()" class="btn btn-lg btn-default" data-translate="2310">Force Close</button>
                    <button event-name="zOutForceCloseCancel" type="button" tabindex="8" id="closeSearchButton" name="closeSearchButton" class="btn btn-lg btn-default" ng-click="cancel()" data-translate="1.2">Cancel</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</form>
