<div class="outer">
  <div class="col-xs-6 padding-5">
    <div class="form-group">
      <label data-translate="4816">Invoice Number</label>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" ng-disabled="true" ng-model="invoice.vendinvcno">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label data-translate="4817">Invoice Amount</label>
      <div class="row">
        <div class="col-xs-12">
          <input data-currency-formatter="currency" type="text" numberonly="" class="form-control" ng-disabled="true" ng-model="invoice.vendinvcamt">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label data-translate="3880">PO Number</label>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" ng-disabled="true" ng-model="invoice.pono">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label data-translate="4818">Payee</label>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" ng-disabled="true" ng-model="invoice.vendcode">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label data-translate="878">Employee</label>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" ng-disabled="true" ng-model="invoice.emplname">
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 padding-5">
    <div class="form-group">
      <label data-translate="3878">Voucher Total</label>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" ng-disabled="true" data-currency-formatter ng-model="invoice.vouchertotal">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label data-translate="594">Notes</label>
      <div class="row">
        <div class="col-xs-12">
          <textarea class="form-control" ng-disabled="true" ng-model="invoice.notes"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label data-translate="4815">Invoice Date</label>
      <div class="row">
        <div class="col-xs-12">
          {{invoice.vendinvcdate | cleanDate}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label data-translate="534">Last Edit Date</label>
      <div class="row">
        <div class="col-xs-12">
          {{invoice.modifieddatetime | cleanDate}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <div class="row padding-5">
        <new-vendor-invoice-button disable="disableNewVendorInvoiceButton()" on-new-modal-close="assignInvoice" return-on-close-data="true" button-text-id="'1.8'"></new-vendor-invoice-button>
        <voucher-vi-edit-button on-resolve="refreshInvoiceInformation;assignInvoice" disable="disableButton()" invoice="invoice"></voucher-vi-edit-button>
        <voucher-vi-unassign-button on-resolve="refreshInvoiceInformation" disable="disableButton()" voucher="voucher"></voucher-vi-unassign-button>
        <voucher-vi-delete-button on-resolve="refreshInvoiceInformation" disable="disableButton()" voucher="voucher" invoice="invoice"></voucher-vi-delete-button>
      </div>
    </div>
  </div>
</div>

