<ng-form name="frm">
  <div class="modal-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="modal-title" data-translate="6342">Employee Login</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-xs-12">
          <label class="control-label" data-translate="878">Employee</label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <input type="text" ng-model="overrideLogin.user.name" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="control-label" data-translate="1212">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input type="password" ng-model="overrideLogin.user.password" class="form-control" maxlength="24">
        </div>
      </div>
      <div class="row top-margin" ng-show="overrideLogin.form.bioLoginRunning">
        <div class="col-xs-12">
          <div class="alert alert-info" role="alert"><span data-translate="5880">Please place your finger on the scanner.</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-default btn-lg" ng-if="overrideLogin.isBio" event-name="biometricLogin" type="button" id="biometricLoginButton" name="biometricLoginButton" ng-click="overrideLogin.processLogin(true)"><span data-translate="5937">Biometric Login</span></button>
    <button class="btn btn-primary btn-lg" ng-click="overrideLogin.processLogin(false)" type="button"><span data-translate="31">Login</span></button>
    <button class="btn btn-primary btn-lg" ng-click="overrideLogin.dismiss()" type="button"><span data-translate="1.2">Cancel</span></button>
  </div>
 </ng-form>
