<child-resource-form child-validator ng-required="false" label="$ctrl.label" disable-edit="$ctrl.mode==='view'" form-component="'<employee-emplemail-form></employee-emplemail-form>'" list-component="'<employee-emplemail-view></employee-emplemail-view>'" parent-form="$ctrl.service.formState" ng-model="$ctrl.service.active.emplemail">
</child-resource-form>
