<div class="panel panel-default" style="margin-bottom: 0">
  <!-- Default panel contents -->
  <div class="panel-heading"><span data-translate="6871">Create Reason</span></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

        <div class="form-group">
          <label for="name" data-translate="1636">Name</label>
          <input type="text" id="name" maxlength="30" class="form-control" ng-model="reason.name">
        </div>
        <div class="form-group">
          <label for="description" data-translate="1279">Description</label>
          <input type="text" id="description" maxlength="30" class="form-control" ng-model="reason.description">
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>
                <input type="checkbox" checked="checked" ng-model="reason.shrink_flag"><span data-translate="2718"> Shrinkable</span>
              </label>
            </div>
          </div>
          <div class="col-xs-6" ng-show="reason.reason_type!=='5'">
            <div class="form-group">
              <label>
                <input type="checkbox" checked="checked" ng-model="reason.default"><span data-translate="1114"> Default</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" ng-if="type_id == 10">
          <label>
            <input type="checkbox" checked="checked" ng-model="reason.manual"><span data-translate="3928"> Manual</span>
          </label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" checked="checked" ng-model="reason.active"><span data-translate="586"> Active</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <button type="submit" class="btn btn-default" ng-click="save()" ng-disabled="reason.name === ''"><span data-translate="1514">Save & Exit</span></button>
          <button type="submit" class="btn btn-default" ng-click="close()"><span data-translate="0.1">Exit</span></button>
          <div>
          </div>
        </div>
      </div>
    </div>
</div></div>