<div class="row">
    <select class="form-control" data-permissioner="permissionAttr" ng-model="clerksid" ng-options="a.value as a.name for a in assocList">
        <option value=""></option>
    </select>
</div>