<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-3">
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">{{info.lineitems}}</span>
						<span data-translate="4018">Line Items</span>
					</li>
                    <li class="list-group-item">
						<span class="badge">{{info.totalqty}}</span>
						<span data-translate="4902">Item Count</span>
					</li>
                    <li class="list-group-item">
						<span class="badge">{{info.discperc.toFixed(2)}}</span>
						<span data-translate="714">Discount %</span>
					</li>
					<li class="list-group-item">
						<span class="badge">{{info.discamt | currency:prefCurrency}}</span>
						<span data-translate="3891">Discount $</span>
					</li>
				</ul>
			</div>
			<div class="col-xs-3">
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">{{info.taxpercexcl.toFixed(2)}}</span>
						<span data-translate="3830">Excluded Tax %</span>
					</li>
					<li class="list-group-item">
						<span class="badge">{{info.taxamtexcl | currency:prefCurrency}}</span>
						<span data-translate="3892">Excluded Tax $</span>
					</li>
                    <li class="list-group-item">
						<span class="badge">{{info.taxpercincl.toFixed(2)}}</span>
						<span data-translate="3832">Included Tax %</span>
					</li>
					<li class="list-group-item">
						<span class="badge">{{info.taxamtincl | currency:prefCurrency}}</span>
						<span data-translate="3894">Included Tax $</span>
					</li>
				</ul>
			</div>
			<div class="col-xs-3">
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">{{ voucherFeeType }}</span>
						<span data-translate="694">Fee Type</span>
					</li>
                    <li class="list-group-item">
						<span class="badge">{{ voucherFeeAmt | currency:prefCurrency}}</span>
						<span data-translate="3893">Fee Amt</span>
					</li>
                    <li class="list-group-item">
						<span class="badge">{{freightValue | currency:prefCurrency}}</span>
						<span data-translate="3828">Freight</span>
					</li>
                    <li class="list-group-item">
						<span class="badge">{{getPaymentTermInfo(info) | translate}}</span>
						<span data-translate="3834">Payment Terms</span>
					</li>
				</ul>
			</div>
			<div class="col-xs-3">
				<ul class="list-group">
					<li class="list-group-item total">
						<span class="badge total">{{info.vousubtotal | currency:prefCurrency}}</span>
						<span data-translate="1524">Subtotal</span>
					</li>
					<li class="list-group-item total">
						<span class="badge total">{{info.voutotal | currency:prefCurrency}}</span>
						<span data-translate="3895">TOTAL</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
