<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="5373">Enter Doc Qty</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <div class="form-group">
                          <input ng-if="!decimals" type="text" number="" focus-me="state.focuseMe" ng-keydown="state.closeOnEnterKey($event)" class="form-control" ng-class="{'ng-invalid':state.itemQty<=0}" ng-model="state.itemQty">
                          <input ng-if="decimals" type="text" number="" focus-me="state.focuseMe" ng-keydown="state.closeOnEnterKey($event)" class="form-control" ng-class="{'ng-invalid':state.itemQty<=0}" ng-model="state.itemQty" data-currency-formatter="number" decimals="{{decimals}}">
                        </div>
                        <span style="display: none; height: 0px; width:0px">
                          <button class="btn btn-default" event-name="requireItemSubmitButton" id="requireItemSubmitButton" ng-click="state.processClose()" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                          </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-lg btn-default" ng-disabled="state.itemQty<=0" type="button" ng-click="close(state.itemQty)"><span data-translate="3724">Continue</span></button>
            </div>
        </div>
    </div>
</div>
