<div class="row">
	<div class="col-xs-12">
		<select ng-disabled="!(disable)" ng-options="opt as opt.name for opt in options" class="form-control">
			<option value=""><input type="text" class="form-control" ng-model="selectSearch"></option>
		</select>
	</div>
</div>