<div class="popover">
  <ul class="list-group" style="margin-bottom:0px;padding:5px;">
    <button class="btn btn-info btn-block" type="button" id="returnbtn001" ng-click="closePopover();setGlobalItemType(2);"><span data-translate="4835">Set Item Type</span></button>
    <button ng-disabled="returnButton" type="button" ng-click="closePopover();lookupReturnDocumentSecured('returnitem');" class="btn btn-info btn-block"><span data-translate="4836">Search For Receipt</span></button>
  </ul>
</div>
