<form>
  <fieldset ng-disabled="main.customer.mode==='view'" style="padding: 10px;">
    <div class="row form-group">
      <div class="col-xs-7 text-left">
        <customer-title ng-if="!main.customer.processing"></customer-title>
        <customer-first-name></customer-first-name>
        <customer-last-name></customer-last-name>
      </div>
      <div class="col-xs-3 text-right">
        <customer-image></customer-image>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 text-left">
        <div class="row form-group">
          <div class="col-xs-6">
            <customer-customer-id></customer-customer-id>
          </div>
          <div class="col-xs-6">
            <customer-company></customer-company>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">
            <customer-share-type></customer-share-type>
          </div>
          <div class="col-xs-6">
            <customer-primary-associate></customer-primary-associate>
          </div>
        </div>
        <customer-notes></customer-notes>
        <div class="row top-margin form-group">
          <div class="col-xs-4">
            <customer-subsidiary></customer-subsidiary>
          </div>
          <div class="col-xs-4">
            <customer-region></customer-region>
          </div>
          <div class="col-xs-4">
            <customer-store></customer-store>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">
            <customer-info1></customer-info1>
          </div>
          <div class="col-xs-6">
            <customer-info2></customer-info2>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">
            <customer-mark1></customer-mark1>
          </div>
          <div class="col-xs-6">
            <customer-mark2></customer-mark2>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
