<div>
    <label class="control-label" data-translate="683">Store</label><br>
    <select ng-if="adjMemo.memo.adjtype === 0&&stateParams.sid" ng-change="saveStore();" ng-disabled="true" ng-model="adjMemo.memo.storesid" class="form-control" ng-options="x.sid as x.store_code + '-' + x.store_name for x in memoTools.storeList">
        <option style="display:none" data-translate="1358">Select...</option>
    </select>
    <input ng-if="(adjMemo.memo.adjtype > 0)" type="text" ng-disabled="true" value="Company" class="form-control">
    <input ng-if="(adjMemo.memo.adjtype === 0)&&((!stateParams.sid)||(adjMemo.memo.adjtype === undefined)||(adjMemo.memo.adjtype === null))" type="text" ng-disabled="true" value="" class="form-control">
</div>
