<form novalidate="" id="invnNewLnForm" name="invnNewLnForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 ng-if="mode==='new'" data-translate="5772">Enter New Lot Number</h4>
            <h4 ng-if="mode==='edit'" data-translate="6772">Edit Lot Number</h4>
        </div>
        <div class="modal-body" style="overflow: visible;">
          <div class="row">
            <div class="col-xs-3">
              <label data-translate="3959">Lot Number</label>
            </div>
            <div class="col-xs-9">
              <ng-form name="serNoForm">
                <input type="text" ng-disabled="lnNewItem.lnNewHdr.sid" ng-class="(!lnNewItem.lnNewHdr.lotnumber) ? 'has-error' : (!lnNewItem.lnNewHdr.lotnumber) ? 'has-warning' : 'has-success'" class="form-control uppercase" maxlength="50" id="lnNewLotNumber" name="lnNewLotNumber" ng-model="lnNewItem.lnNewHdr.lotnumber" ng-blur="validateLotNumber()" ng-change="lotNumberChange()">
                <div class="error" ng-if="lnNewItem.lnNewHdr.lotnumber.$error.unique">
                    <span class="text-danger" data-translate="3381">Duplicate</span>
                </div>
              </ng-form>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-3">
              <label data-translate="764">Qty</label>
            </div>
            <div class="col-xs-9">
              <input type="text" class="form-control" id="lnNewItemQty" name="lnNewItemQty" ng-model="lnNewItem.lnNewQty.qty">
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-3">
              <label data-translate="5602">Expiry Date</label>
            </div>
            <div class="col-xs-9">
              <p class="input-group" ng-click="openCalendar($event, 'lnExpiryDate')">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  <input type="button" class="form-control" datetime-picker="medium" ng-model="lnExpiryDate.date" value="{{(lnExpiryDate.date)?(lnExpiryDate.date | date:'medium'):(lnExpiryDate.placeholder)}}" is-open="lnExpiryDate.open" enable-time="true" datepicker-options="lnExpiryDate.datepickerOptions" timepicker-options="lnExpiryDate.timepickerOptions" when-closed="lnExpiryDate.closed()" placeholder="{{lnExpiryDate.placeholder}}">
              </p>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-3">
              <label data-translate="586">Active</label>
            </div>
            <div class="col-xs-9">
              <input type="checkbox" class="large-input-field" ng-model="lnNewItem.lnNewHdr.active">
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-3">
              <label data-translate="884">Note</label>
            </div>
            <div class="col-xs-9">
              <input type="text" class="form-control" maxlength="255" id="lnNewItemNote" name="lnNewItemNote" ng-model="lnNewItem.lnNewHdr.lotnote">
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" id="invnNewLnCloseButton" event-name="invnNewLnClose" name="invnNewLnCloseButton" class="btn btn-lg btn-default" ng-disabled="invnNewLnForm.$invalid" ng-click="closeModal('save');" data-translate="547">Save</button>
                        <button type="submit" id="invnNewLnCancelButton" event-name="invnNewLnCancel" name="invnNewLnCancelButton" class="btn btn-lg btn-default" ng-click="closeModal('cancel');" data-translate="1.2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
