<img-btn ng-if="layout === 0" event-name="batchReceivingButton" tabindex="123" translation-name="'4731'" img-src="'/images/pos/trans_lookup_48.png'" click-handler="button.action" disable="button.disable()" button-text="'Batch Receiving'"></img-btn>

<button ng-if="layout === 1" event-name="batchReceivingButton" class="btn btn-info btn-block" ng-disabled="button.disable()" disable-by-permission="accessreceivingarea" data-translater="4731" ng-click="button.action()" type="button">
  <span data-translate="4731">Batch Receiving</span>
</button>
