<div class="modalouter">
    <div class="modal-body no-padding">
        <div class="span12">
            <department-main-information mode="'edit'" department="state.department"></department-main-information>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="state.create()"><span data-translate="2904">Create</span></button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="close(false)"><span data-translate="1.2">Cancel</span></button>
            </div>
        </div>
    </div>
</div>
