<ng-form role="form" class="pref_form" name="pref_form" ng-controller="formStatEmitter">
  <div class="row form-group">
    <div class="col-xs-6">
      <div class="row top-margin20">
        <div class="col-xs-11 panel panel-default margin-10">
          <div class="panel-heading">
            <span data-translate="685">General</span>
          </div>
          <div class="panel-body">
            <div class="row top-margin20 form-group">
              <div class="col-xs-11">
                <label class="control-label" data-translate="5123">Discount Rounding Method</label>
                <div class="row top-margin">
                  <div class="col-xs-10">
                    <select valid-levels="corporate,subsidiary,store" class="form-control" ng-options="option.value as option.name|translate for option in discountRoundingMethods" ng-model="pData.pos_options_general_discount_rounding_method.value"></select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row top-margin20">
              <div class="col-xs-11">
                <label class="control-label">
                  <input ng-model="pData.pos_options_general_accumulate_manual_discounts.value" type="checkbox">
                  <span class="checkbox_label" data-translate="3937">Accumulate Manual Discounts</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11">
                <label class="control-label">
                  <input ng-model="pData.pos_options_general_accumulate_spread_discounts.value" type="checkbox">
                  <span class="checkbox_label" data-translate="3938">Accumulate Spread Discounts</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11">
                <label class="control-label">
                  <input ng-model="pData.pos_options_general_auto_spread_global_disc_on_receipts.value" type="checkbox">
                  <span data-translate="4589">Automatically spread sale discounts</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11">
                <label class="control-label">
                  <input ng-model="pData.pos_options_general_auto_spread_global_disc_on_orders.value" type="checkbox">
                  <span data-translate="4590">Automatically spread order discounts</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11">
                <label class="control-label">
                  <input ng-model="pData.pos_options_general_empl_max_discount_override.value" type="checkbox">
                  <span data-translate="6334">Enable Employee Maximum Discount Override</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row top-margin20">
        <div class="col-xs-11 panel panel-default margin-10">
          <div class="panel-heading">
            <span data-translate="6228">Item Discount Settings</span>
          </div>
          <div class="panel-body">
            <div class="row top-margin20 form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label class="control-label">
                    <span class="checkbox_label" data-translate="6230">Default Single Item Discount Type</span>
                  </label>
                  <select valid-levels="corporate,subsidiary,store" class="form-control" ng-model="pData.pos_options_general_single_item_discount_type.value">
                    <option value="0" data-translate="773.1">Price</option>
                    <option value="1" data-translate="3930">Percent</option>
                    <option value="2" data-translate="982">Amount</option>
                  </select>
                </div>
              </div>
              <div class="row top-margin20">
              <div class="col-xs-11">
                <label class="control-label">
                  <input type="checkbox" ng-model="pData.pos_options_general_show_one_item_discount_option.value" ng-change="setSingleDiscountOption(pData.pos_options_general_show_one_item_discount_option.value)">
                  <span class="checkbox_label" data-translate="6229">Show One Item Discount Option</span>
                </label>
              </div>
              </div>
              <div class="row">
              <div class="col-xs-11">
                <label class="control-label">
                  <input ng-model="pData.pos_options_general_show_discount_reasons_prompt.value" type="checkbox">
                  <span class="checkbox_label" data-translate="6231">Show Discount Reasons Prompt</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</ng-form>
