<ng-form name="$ctrl.form" class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 data-translate="6380">Days in Transit</h4>
    </div>
    <div class="panel-body" style="overflow-y: scroll; max-height: 50vh;">
      <div style="width: 100%; height: 100%; text-align: center;" ng-if="loading">
        <div loader-css="ball-clip-rotate" style="margin-top: 10vh"></div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <label class="control-label" data-translate="6382">From Subsidiary:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <select class="form-control" ng-change="$ctrl.changeSubsidiary()" ng-model="$ctrl.service.fromSbsSid" ng-options="s.sid as s.subsidiary_name for s in $ctrl.service.subsidiaries"></select>
          </div>
        </div>
        <div class="row">
         <div class="col-xs-12">
           <label class="control-label" data-translate="6381">To Subsidiary:</label>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-6">
           <select class="form-control" ng-change="$ctrl.changeSubsidiary()" disabled="disabled" ng-model="$ctrl.service.toSbsSid" ng-options="s.sid as s.subsidiary_name for s in $ctrl.service.subsidiaries"></select>
         </div>
       </div>
      </div>
      <div class="form-group" ng-if="$ctrl.service.gridList.length === 0">
        <div class="alert alert-danger" role="alert" data-translate="6535">No data found for transfer rules.</div>
      </div>
      <div class="form-group" ng-if="$ctrl.service.gridList.length > 0">
        <table class="table col-md-12 table-bordered table-reponsive table-centered dit">
          <thead>
          <tr>
          </tr><tr class="capitalize">
            <td class="cell-disabled"><strong>To/From</strong></td>
            <td class="stripe" ng-repeat="toStore in $ctrl.service.gridList"><strong>{{toStore.tostorecode}}</strong></td>
          </tr>
          </thead>
          <tbody>
          <tr></tr>
          <tr ng-repeat="toStore in $ctrl.service.gridList">
            <td class="capitalize stripe"><strong>{{ toStore.fromStores[$index].tostorecode }}</strong></td>
            <td ng-repeat="fromStore in toStore.fromStores" style="vertical-align: middle;" ng-class="{'cell-disabled':toStore.tostoresid === fromStore.fromstoresid}">
              <span ng-if="toStore.tostoresid === fromStore.fromstoresid"><strong>&otimes;</strong></span>
              <input ng-if="toStore.tostoresid !== fromStore.fromstoresid" type="text" style="border: none;" class="text-center col-xs-12" maxlength="3" numberonly="" ng-change="$ctrl.service.updateCell(fromStore)" ng-model="fromStore.daysintrans">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <button type="button" class="btn btn-default" ng-disabled="$ctrl.ditMatrixForm.$pristine || $ctrl.service.saveList.length === 0" ng-click="$ctrl.save()"><span data-translate="547">Save</span></button>
        </div>
      </div>
    </div>
  </div>
</ng-form>

