<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <div class="row">
		            <div class="col-xs-2">
		                <h4 data-translate="765">Item Details</h4>
		            </div>
		            <div class="col-xs-2 col-xs-offset-8">
		            	<div class="row">
		            		<button class="btn btn-default btn-large" type="button" ng-disabled="!(enablePrevAndNext())||disableInputsAndButtons" ng-click="previousItem()"><span data-translate="3167">Previous</span></button>
		            		<button class="btn btn-default btn-large" type="button" ng-disabled="!(enablePrevAndNext())||disableInputsAndButtons" ng-click="nextItem()"><span data-translate="800">Next</span></button>
		            	</div>
		            </div>
		        </div>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="po-recv-item-container top">
								<div class="col-xs-6">
									<div class="row">
										<label data-translate="677">UPC</label>: <span>{{selectedItemMetaData.upc|padUPC}}</span>
									</div>
									<div class="row">
										<label data-translate="3796">Department Code</label>: <span>{{selectedItemMetaData.department_name}}</span>
									</div>
									<div class="row">
										<label data-translate="3533">Vendor Code</label>: <span>{{selectedItemMetaData.vendor_code}}</span>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="row">
										<label data-translate="2118">Description 1</label>: <span>{{selectedItemMetaData.description1}}</span>
									</div>
									<div class="row">
										<label data-translate="2119">Description 2</label>: <span>{{selectedItemMetaData.description2}}</span>
									</div>
									<div class="row">
										<label data-translate="3333">Attribute</label>: <span>{{selectedItemMetaData.attribute}}</span>
									</div>
									<div class="row">
										<label data-translate="679">Size</label>: <span>{{selectedItemMetaData.item_size}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12" ng-if="showItemDetailsTemplate">
								<div class="po-recv-item-container bottom">
									<div ng-include="itemDetailsTemplate"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <!-- <button class="btn btn-large" ng-if="!readOnly" type="button" ng-click="saveItemChanges($close)"><span data-translate="2226">Ok</span></button> -->
                <button class="btn btn-info" ng-if="!readOnly" ng-disabled="{{disable}}" type="button" ng-click="saveItemChanges()"><span data-translate="1.3">Apply</span></button>
                <button class="btn btn-info" type="button" ng-disabled="disableInputsAndButtons||disableCancelButton" ng-click="$close(currentItem)"><span data-translate="907">Cancel</span></button>
            </div>
        </div>
    </div>
</div>
