<form name="soCreateItemForm" id="soCreateItemForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <span data-translate="7147">Create Special Order Item</span>
        </div>
        <div class="modal-body">
            <div class="row top-margin20" style="padding: 0 10px;">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="4375">DCS Code</label>
                            </div>
                            <div class="col-xs-8">
                                <invn-select-dcscode dcs="$ctrl.item.dcssid" on-dcs-change="onDcsChanged" list="[]"></invn-select-dcscode>
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="3997">Vendor Code</label>
                            </div>
                            <div class="col-xs-8">
                                <select-vendor vendor="$ctrl.item.vendsid" refresh-list="refreshVendorDropdown" on-change="onVendorCodeChanged" sbs="sbsSid"></select-vendor>
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="2118">Description 1</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" maxlength="30" required-box="" required-status="{{$ctrl.isFieldRequired('desc1')}}" ng-model="$ctrl.item.description1" class="form-control" id="imi-description1">
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="2119">Description 2</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" maxlength="30" required-box="" required-status="{{$ctrl.isFieldRequired('desc2')}}" ng-model="$ctrl.item.description2" class="form-control" id="imi-description2">
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="3333">Attribute</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" maxlength="8" ng-model="$ctrl.item.attribute" class="form-control" id="imi-attribute">
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="679">Size</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" maxlength="8" ng-model="$ctrl.item.itemsize" class="form-control" id="imi-itemsize">
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="3202">Order Cost</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" numberonly="" data-currency-formatter="currency" ng-model="$ctrl.item.lastrcvdcost" class="form-control" id="imi-lastrcvdcost">
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="773.1">Price</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" numberonly="" data-currency-formatter="currency" ng-model="$ctrl.invnPrice.price" class="form-control" id="imi-invnprice">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" id="soCreateItemSaveButton" event-name="soCreateItemSave" name="soCreateItemSaveButton" class="btn btn-md btn-default" ng-disabled="soCreateItemForm.$invalid || $ctrl.reqFieldsMissing()" ng-click="$ctrl.dismiss();$ctrl.saveItem();" data-translate="547">Save</button>
                        <button type="button" id="soCreateItemCancelButton" event-name="soCreateItemCancel" name="soCreateItemCancelButton" class="btn btn-md btn-default" ng-click="$ctrl.dismiss();" data-translate="1.2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
