<div>
    <label class="control-label">
      <button type="button" class="btn btn-info {{fieldClass}}" ng-disabled="button.disable()" ng-click="button.action()">
        <img ng-if="!voucher.active" src="../../../../../images/unchecked_32.png" width="20">
        <img ng-if="voucher.active" src="../../../../../images/checked_32.png" width="20">
        <span data-translate="586">Active</span>
      </button>
    </label>
</div>