<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="6033">Inventory Images</h4>
  </div>
  <div class="modal-body" style="max-height:500px;overflow:auto;">
    <div class="row" ng-if="done">
      <div class="col-xs-12 text-center" ng-repeat="x in imageArray">
        <div class="well well-sm">
          <h5><span data-translate="6034">Image #</span>{{$index +1}}</h5>
          <img style="max-width:350px;" ng-src="{{x}}" err-src="images/no_item_image_190.png" ng-click="close($index)">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$parent.$close(false)">Close</button>
  </div>
</div>
