<div class="col-xs-12 no-padding">
  <table class="table table-responsive table-striped col-xs-12">
    <tbody>
    <tr class="form-group">
      <th class="text-left" data-translate="1866">Permission Name</th>
      <th class="text-center" data-translate="1867">Allow</th>
      <th class="text-center" data-translate="1868">Override</th>
      <th class="text-center" data-translate="1869">Deny</th>
    </tr>
    </tbody>
    <tbody>
    <tr ng-show="empPerms.isNewSection($index,permission)" style="cursor:pointer;" ng-repeat-start="permission in empPerms.permissions" ng-click="empPerms.toggleSection(permission.translatedName)">
      <td style="width:500px;" class="text-left">
        <h4 style="margin:0;">
          <span class="glyphicon glyphicon-plus" style="font-size:16px;" ng-if="!empPerms.groupOn(permission)"></span>
          <span class="glyphicon glyphicon-minus" style="font-size:16px;" ng-if="empPerms.groupOn(permission)"></span>
          {{permission.translatedName.substring(0,permission.translatedName.indexOf('-'))}} {{(permission.translatedName.indexOf("(")>-1)?permission.translatedName.substring(permission.translatedName.indexOf("("),permission.translatedName.length):""}}
        </h4>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr ng-repeat-end="" ng-show="permission.name.toLowerCase()!=='accessadminconsole'&&permission.name.toLowerCase()!=='copypostransactionreceipts'&&empPerms.groupOn(permission)">
      <td class="text-left">{{permission.translationid | translate}}</td>
      <td class="text-center"><input ng-click="setDirty()" ng-disabled="true" ng-checked="permission.level=='ALLOW'" ng-model="permission.level" value="ALLOW" name="{{permission.translationid | translate}}" type="radio"></td>
      <td class="text-center"><input ng-click="setDirty()" ng-disabled="true" ng-checked="permission.level=='OVERRIDE'" ng-if="empPerms.canOverRide(permission)" ng-model="permission.level" value="OVERRIDE" name="{{permission.translationid | translate}}" type="radio"></td>
      <td class="text-center"><input ng-click="setDirty()" ng-disabled="true" ng-checked="permission.level=='DENY'" ng-model="permission.level" value="DENY" name="{{permission.translationid | translate}}" type="radio"></td>
      <!-- Hidden by 11134
      <td class="text-center"><input ng-click="setDirty()"  ng-model="permission.log" ng-disabled="true" type="checkbox"></td>
      -->
    </tr>
    </tbody>
  </table>
</div>
