<div>
  <div class="row navbar-form navbar-right" style="margin-right:10px;">
    <span class="input-group">
      <span class="input-group-addon input-group-addon-default" data-translate="562">Subsidiary</span>
      <select-subsidiary subsidiary="quickSearch.sbs"></select-subsidiary>
    </span>
    <span class="input-group">
      <span class="input-group-addon input-group-addon-default" data-translate="683">Store</span>
      <select-store-sbs store-model="quickSearch.store" subsidiary-sid="quickSearch.sbs"></select-store-sbs>
    </span>
    <span class="input-group">
      <input type="text" placeholder="{{ '5622' | translate }}" id="empQuickSearch" ng-keyup="quickSearch.doSearch()" ng-model="quickSearch.searchStr" class="form-control">
      <span class="input-group-addon input-group-addon-default" ng-click="quickSearch.clear();"><span class="glyphicon glyphicon-ban-circle"></span></span>
    </span>
  </div>
  <simple-list-selection list="quickSearch.employeeList" select="selectEmployee" offset-x="0" offset-y="0" ng-if="quickSearch.employeeList.length>1" element-id="'empQuickSearch'" columns="quickSearch.displayColumns" flow="'left'" width="600"></simple-list-selection>
</div>
