<form name="orderDetailsForm" id="orderDatesForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="5596">Order Dates</h4>
        </div>
      </div>
    </div>
    <div class="modal-body modal-date" ng-if="document.order_type!==6">
      <div class="container-fluid">
        <div class="row form-group">
          <div class="col-xs-4">
            <label data-translate="5597">Ordered Date</label>
          </div>
          <div class="col-xs-8">
            <p class="input-group" ng-click="openCalendar($event, 'docOrderedDate')">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="docOrderedDate.datepickerOptions" ng-model="docOrderedDate.date" value="{{(docOrderedDate.date)?(docOrderedDate.date | date:'mediumDate'):(docOrderedDate.placeholder)}}" is-open="docOrderedDate.open" enable-time="false" when-closed="docOrderedDate.closed()">
            </p>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4">
            <label data-translate="4020">Ship Date</label>
          </div>
          <div class="col-xs-8">
            <p class="input-group" ng-click="openCalendar($event, 'docShipDate')">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="docShipDate.datepickerOptions" ng-model="docShipDate.date" value="{{(docShipDate.date)?(docShipDate.date | date:'mediumDate'):(docShipDate.placeholder)}}" is-open="docShipDate.open" enable-time="false" when-closed="docShipDate.closed()">
            </p>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4">
            <label data-translate="6184">Due Date</label>
          </div>
          <div class="col-xs-8">
            <p class="input-group" ng-click="openCalendar($event, 'docDueDate')">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="docDueDate.datepickerOptions" ng-model="docDueDate.date" value="{{(docDueDate.date)?(docDueDate.date | date:'mediumDate'):(docDueDate.placeholder)}}" is-open="docDueDate.open" enable-time="false" when-closed="docDueDate.closed()">
            </p>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4">
            <label data-translate="4012">Cancel Date</label>
          </div>
          <div class="col-xs-8">
            <p class="input-group" ng-click="openCalendar($event, 'docCancelDate')">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="docCancelDate.datepickerOptions" ng-model="docCancelDate.date" value="{{(docCancelDate.date)?(docCancelDate.date | date:'mediumDate'):(docCancelDate.placeholder)}}" is-open="docCancelDate.open" enable-time="false" when-closed="docCancelDate.closed()">
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button event-name="posOrderDatesSave" id="saveOrderDatesButton" type="button" tabindex="5" class="btn btn-lg btn-default" ng-click="saveDates()"><span data-translate="1.1">Ok</span></button>
            <button event-name="posOrderDatesCancel" id="cancelOrderDatesButton" type="button" tabindex="6" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
