<fieldset ng-disabled="main.stateParams.mode==='view'">
  <div class="row form-group">
    <div class="col-xs-12">
      <label class="control-label">
        <span data-translate="6480">Group Name</span>
      </label>
      <input type="text" ng-disabled="main.userGroup.active.sid" ng-blur="upperCase()" ng-maxlength="30" maxlength="30" class="form-control" ng-model="main.userGroup.active.usergroupname">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <label class="control-label">
        <span data-translate="1279">Description</span>
      </label>
      <textarea class="form-control" ng-maxlength="200" maxlength="200" ng-model="main.userGroup.active.description"></textarea>
    </div>
  </div>
</fieldset>
