<div class="row" style="padding:3px;">
  <button class="text-center btn btn-info" style="border-radius:0;height:25px;" ng-disabled="(cpToggle.subscription.subscriptionname==='CoreResources')||cpToggle.saving||cpToggle.subscription.subscriptionname==='ControllerOnly'" ng-click="cpToggle.toggleLink()">
    <span class="glyphicon glyphicon-check" style="position:relative;top:-3px;" ng-if="cpToggle.isConnected()"></span>
    <span class="glyphicon glyphicon-unchecked" ng-if="!cpToggle.isConnected()" style="position:relative;top:-3px;"></span>
  </button>
</div>
