<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <h4>{{rLookup.lookupTitle}}</h4>
        </div>
        <div class="col-xs-9 text-right">
          <!--{{rLookup.topIncludeConfig || "null"}}-->
          <split-panel-compiler ng-if="rLookup.topInclude" config="rLookup.topIncludeConfig"></split-panel-compiler>
        </div>
      </div>
    </div>
    <div class="panel-body" id="search-container" ng-class="{'look-up-modal':rLookup.resourceLookup.resourceData.modal,'lookup-static':!rLookup.resourceLookup.resourceData.modal}">
      <div class="row row-container" ng-if="rLookup.ready">
        <div ng-class="{'col-xs-5':!rLookup.resourceLookup.resourceData.showOnlyFilters,'col-xs-12':rLookup.resourceLookup.resourceData.showOnlyFilters}" ng-show="rLookup.resourceLookup.resourceData.filtersOn">
          <resource-lookup-filters resource-name="rLookup.resourceName" disable-operators="rLookup.disableOperators" static-filter-include="rLookup.staticFilterIncludeConfig" after-search="rLookup.afterSearch"></resource-lookup-filters>
        </div>
        <div ng-class="{'col-xs-7':rLookup.resourceLookup.resourceData.filtersOn,'col-xs-12':!rLookup.resourceLookup.resourceData.filtersOn}" ng-if="!rLookup.resourceLookup.resourceData.showOnlyFilters">
          <resource-lookup-results ng-if="!rLookup.gridRefresh" resource-name="rLookup.resourceName" grid-settings="rLookup.gridSettings" after-cell-edit="rLookup.afterCellEdit" after-row-selection-changed="rLookup.afterRowSelectionChanged" close="rLookup.close" dismiss="rLookup.dismiss()"></resource-lookup-results>
        </div>
      </div>
    </div>
    <div class="panel-footer" ng-if="rLookup.resourceLookup.resourceData.modal">
      <div class="row">
        <div class="col-xs-6">
          <split-panel-compiler ng-if="rLookup.bottomInclude" config="rLookup.bottomIncludeConfig"></split-panel-compiler>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-info" ng-if="rLookup.showOkBtn" ng-disabled="!rLookup.resourceLookup.resourceData.selectedItems.length" ng-click="rLookup.finish()">
            <span class="glyphicon glyphicon-ok"></span>
            <span data-translate="2226">Ok</span>
          </button>
          <button class="btn btn-default" ng-click="rLookup.doDismiss()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span data-translate="583">Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
