<button style="font-size: xx-small;" type="button" class="btn btn-info {{fieldClass}}" ng-disabled="adjMemo.memo.status!==3||adjMemo.memo.held||(!adjMemo.memo.sid)" ng-click="togglePopupFlag()">
    <span data-translate="4791">popup</span>
    <img ng-if="!adjMemo.popupFlag" src="../../../../../images/unchecked_32.png">
    <img ng-if="adjMemo.popupFlag" src="../../../../../images/checked_32.png">
    <span data-translate="4792">entry</span>
</button>

