<div class="panel panel-default">
  <div class="panel-body">
    <div class="row form-group">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="{{ '4480' | translate }}" ng-model="profiles.form.subFilter" ng-keyup="profiles.filterSubList()">
      </div>
      <div class="col-xs-6">
        <button class="btn btn-default" ng-click="profiles.subscriptionForm(true)">
          <span class="glyphicon glyphicon-plus"></span>
          <span data-translate="1.8">Add</span>
        </button>
        <button class="btn btn-default" ng-disabled="!profiles.sub.active.sid||profiles.sub.active.internalflag" ng-click="profiles.subscriptionForm()">
          <span class="glyphicon glyphicon-pencil"></span>
          <span data-translate="774">Edit</span>
        </button>
        <button class="btn btn-default" ng-disabled="!profiles.sub.active.sid||profiles.sub.active.internalflag" ng-click="profiles.removeProfile()">
          <span class="glyphicon glyphicon-ban-circle"></span>
          <span data-translate="544">Delete</span>
        </button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">
        <div ui-grid="profiles.gridOptions" class="local-profiles" ui-grid-resize-columns="" ui-grid-cellnav="" ui-grid-selection=""></div>
      </div>
      <div class="col-xs-6">
        <div class="well well-sm" ng-if="!profiles.sub.active.sid"><span class="glyphicon glyphicon-arrow-left"></span> <span data-translate="5989">Select a profile to view resources and connections.</span></div>
        <div ui-grid="profiles.resourceOptions" class="local-profiles" ui-grid-resize-columns="" ng-if="profiles.sub.active.sid"></div>
      </div>
    </div>
  </div>
  <div class="panel-heading" ng-if="profiles.sub.active.sid">
    <div class="row">
      <div class="col-xs-6">
        <h4 data-translate="5831">Connections</h4>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-if="profiles.sub.active.sid">
    <div ui-grid="profiles.connOptions" class="profile-connections" ui-grid-resize-columns=""></div>
  </div>
</div>
