<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="683">Store</label>
    <rp-select-input ng-required="true" repeater-data="field.storesList" key-string="'store_code'" default-obj="field.defaultObj" value-key="'sid'" ng-model="field.service.active.storesid" ng-disabled="!field.service.active.sbssid">
    </rp-select-input>
  </div>
</div>
