<form class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="1415">Item Lookup</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div id="selectItem" class="panel panel-default ModalSearchPanel autoOverflow">
              <div class="list-group">
                <a name="link{{$index}}" event-name="poItemSelectionThisItem" id="itemLookupResult{{$index}}" index="{{$index}}" class="list-group-item" data-item-group="data-item-group" ng-repeat="thisInventory in sharedData.inventory" ng-click="selectItem($index)" ng-dblclick="addMe($index)">
                  <common-item-select></common-item-select>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <span class="pull-left">{{statusMessage}}</span>
        <button event-name="posItemSelectionSelectItem" type="submit" tabindex="6" id="posItemSelectionSelectItemButton" name="posItemSelectionSelectItemButton" class="btn btn-lg btn-default" ng-disabled="selectDisabled" ng-click="addItem()"><span data-translate="1416">Select Item</span></button>
        <button event-name="posItemSelectionClose" type="button" tabindex="8" id="closeSearchButton" name="closeSearchButton" class="btn btn-lg btn-default" ng-click="sharedData.inventory=[];$close()"><span data-translate="907">Close</span></button> 
      </div>
    </div>
  </div>
</form>
