<div class="btn-group">
    <button class="btn btn-default" data-permission="transferscreateslip" ng-disabled="transferSlip.isEdit||transferSlip.saving" ng-click="newSlip();">
        <span data-translate="581">New</span>
    </button>
</div>