<label for="itemNonInventory" class="checkbox-container">
  <input name="itemNonInventory" id="itemNonInventory" tabindex="19" type="checkbox" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" ng-true-value="true" ng-false-value="false" class="large-input-field margin-right-5" ng-model="$ctrl.service.item.noninventory">
  <span data-translate="3174">Non-Inventory</span>
</label>
