<div class="btn-group">
      <button class="btn btn-default" data-permission="transfersallowhold" data-permission-disabled="!transferSlip.slip.sid||transferSlip.slip.status!==3||transferSlip.saving" ng-click="toggleHold()">
        <span ng-if="!transferSlip.slip.held" data-translate="775">Hold</span>
        <span ng-if="transferSlip.slip.held" data-translate="4028">Unhold</span>
    </button>
</div>
