<fieldset ng-disabled="selectModal.checkingOverride">
  <div class="modalouter">
    <div class="modal-header" ng-if="selectModal.popUpSelection">
      <h4 data-translate="805">Select</h4>
    </div>
    <div class="modal-body">
      <div class="row form-group">
        <div class="col-xs-12">
          <input type="text" focus-me="selectModal.focusMe" ng-blur="selectModal.refocus($event)" ng-keyup="selectModal.searchFilter($event)" ng-keydown="selectModal.navigate($event)" ng-model="selectModal.searchStr" class="form-control">
        </div>
      </div>
      <div class="row" style="overflow:auto;max-height:500px;" id="selectScrollDiv" ng-if="selectModal.repeaterData&&selectModal.repeaterData.length">
        <div class="col-xs-12" ng-class="{'rp-select-overflow':(selectModal.popUpSelection!==true)}">
          <div class="row" ng-repeat="x in selectModal.repeaterData">
            <button class="btn col-xs-12 btn-default" style="margin-top:3px;height:40px;" event-name="{{x.eventName}}" ng-class="{'active-select':(selectModal.activeIndex===$index)}" ng-click="selectModal.select(x)" ng-disabled="x.disabled">
              <rp-select-compiler ng-if="selectModal.repeaterData" suppress-translate="selectModal.suppressTranslate" key-string="selectModal.keyString" obj-data="x"></rp-select-compiler>
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!selectModal.repeaterData&&!selectModal.repeaterData.length===undefined">
        <div class="col-xs-12 text-center">
          <span data-translate="3768">Loading</span>
          <img src="images/ajax-loader.gif">
        </div>
      </div>
      <div class="row" ng-if="selectModal.repeaterData&&selectModal.repeaterData.length===0">
        <div class="col-xs-12 text-center">
          <div class="well well sm"><em><span data-translate="6898">No matching records</span>/</em></div>
        </div>
      </div>
    </div>
    <div class="modal-footer" ng-if="selectModal.page||selectModal.popUpSelection">
      <div ng-hide="(selectModal.isLastPage&&selectModal.page===1)">
        <div class="row" ng-if="selectModal.page || !selectModal.required">
          <div ng-class="(selectModal.required)?'col-xs-12 text-center':'col-xs-8 text-left'">
            <div ng-if="selectModal.page">
              <button class="btn btn-default" ng-disabled="selectModal.page===1" ng-click="selectModal.getData(selectModal.page-1)">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </button>
              <button class="btn btn-default" ng-disabled="true">
                {{ selectModal.page }}
              </button>
              <button class="btn btn-default" ng-disabled="selectModal.isLastPage||selectModal.repeaterData.length===0" ng-click="selectModal.getData(selectModal.page+1)">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div>
          </div>
          <div class="col-xs-4 text-right" ng-if="!selectModal.required">
            <button class="btn btn-block btn-default" ng-click="selectModal.setNone()">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </button>
          </div>
        </div>
        <div class="row" ng-if="selectModal.popUpSelection">
          <div class="col-xs-12 text-right" style="padding-top: 10px">
            <button class="btn btn-default" ng-click="selectModal.cancel()">
              <span data-translate="1.2">Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" ng-if="(!selectModal.page&&!selectModal.popUpSelection&&!selectModal.required)">
      <div class="col-xs-offset-8">
        <button class="btn btn-block btn-default" ng-click="selectModal.setNone()">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </button>
      </div>
    </div>
  </div>
</fieldset>
