<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <h4 data-translate="3881">Spread Cost</h4>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row padding-5">
					<p data-translate="3882">Selected values will be spread to individual item cost values.</p>
				</div>
				<div class="row padding-5">
					<div class="col-xs-12" ng-if="showSpreadCostOptions">
						<div class="checkbox">
							<label><input type="checkbox" ng-model="spread.spreadfreight">
							{{'3828' | translate}}</label>
						</div>
						<div class="checkbox">
							<label><input type="checkbox" ng-model="spread.spreaddiscount">
							{{'713' | translate}}</label>
						</div>
						<div class="checkbox">
							<label><input type="checkbox" ng-model="spread.spreadtaxincluded">
							{{'3883' | translate}}</label>
						</div>
						<div class="checkbox">
							<label><input type="checkbox" ng-model="spread.spreadtaxexcluded">
							{{'3884' | translate}}</label>
						</div>
						<div class="checkbox">
							<label><input type="checkbox" ng-model="spread.spreadfee">
							{{'783' | translate}}</label>
						</div>
					</div>
					<div class="col-xs-12" ng-if="!showSpreadCostOptions">
						<h4>Loading...</h4>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button ng-disabled="!(spreadCostWorking !== true)" class="btn btn-large" type="button" ng-click="spreadCost(true)"><span data-translate="2226">Ok</span></button>
                <button ng-disabled="!(spreadCostWorking !== true)" class="btn btn-large" type="button" ng-click="closeModal(false)"><span data-translate="907">Cancel</span></button>
            </div>
        </div>
    </div>
</div>