<div>
  <label class="control-label">
    <span data-translate="4016">Instruction 4</span>
  </label>
  <input type="text" ng-readonly="purchaseOrder.saving" maxlength="60" ng-blur="saveInstruction()" class="form-control {{fieldClass}}" ng-disabled="!purchaseOrder.isEdit" ng-model="purchaseOrder.active.instruction4">
</div>
