<div class="col-xs-3">
    <label data-translate="2118">Description 1</label>
</div>
<div class="col-xs-9">
    <input maxlength="30" required-box="" required-status="{{$ctrl.service.isFieldRequired('desc1')&&!$ctrl.service.disableOnReadOnlyMode()}}" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" ng-model="$ctrl.service.item.description1" class="form-control" id="imi-description1">
</div>
