<ng-form name="pwreset">
  <div class="panel panel-default" style="margin-bottom:0;">
    <div class="panel-heading">
      <h4 data-translate="5542">Reset Password</h4>
    </div>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-xs-12" style="padding:1em;">
          <div class="form-group">
            <label class="control-label bold smallmargintop" data-translate="5540">New Password:</label>
            <input class="form-control" id="password" name="password" type="password" autocapitalize="off" autocorrect="off" delay-translate="70.3" placeholder="{{ '1212' | translate }}" ng-keyup="pwResetOther.onKeyUp($event)" ng-required="true" ng-model="pwResetOther.password" maxlength="24">
            <span id="helpBlock" ng-if="pwResetOther.showHint" class="help-block" ng-class="{'font-error': (pwResetOther.numericCharReq || pwResetOther.uppercaseCharReq || pwResetOther.charReq || pwResetOther.specialCharReq), 'font-success': !(pwResetOther.numericCharReq || pwResetOther.uppercaseCharReq || pwResetOther.charReq || pwResetOther.specialCharReq) }" data-translate="6408">Must contain:</span>
            <span id="helpBlock" ng-if="pwResetOther.showHint" class="help-block" ng-class="{'form-input-label-error': pwResetOther.specialCharReq, 'form-input-label-success': !pwResetOther.specialCharReq }" data-translate="6409">- special character</span>
            <span id="helpBlock" ng-if="pwResetOther.showHint" class="help-block" ng-class="{'form-input-label-error': pwResetOther.numericCharReq, 'form-input-label-success': !pwResetOther.numericCharReq }" data-translate="6410">- numeric character</span>
            <span id="helpBlock" ng-if="pwResetOther.showHint" class="help-block" ng-class="{'form-input-label-error': pwResetOther.uppercaseCharReq, 'form-input-label-success': !pwResetOther.uppercaseCharReq }" data-translate="6411">- uppercase & lowercase characters</span>
            <span id="helpBlock" ng-if="pwResetOther.showHint" class="help-block" ng-class="{'form-input-label-error': pwResetOther.charReq, 'form-input-label-success': !pwResetOther.charReq }" data-translate="6412">- more than 7 characters</span>
          </div>
          <div class="form-group">
            <label class="control-label bold smallmargintop" data-translate="6415">Re-Type Password:</label>
            <input class="form-control" id="password2" ng-keypress="pwResetOther.checkConfirmPass()" name="password2" type="password" autocapitalize="off" autocorrect="off" delay-translate="70.3" placeholder="{{ '1212' | translate }}" ng-keydown="onEnterKeyPressed($event)" ng-required="true" ng-model="pwResetOther.password2" maxlength="24">
            <span id="helpBlock" class="help-block" ng-class="{'form-input-label-error': (pwResetOther.password !== pwResetOther.password2), 'form-input-label-success': (pwResetOther.password === pwResetOther.password2) }" data-translate="6413">- password match.</span>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" ng-model="pwResetOther.forcereset" data-translate="6416"> Force Password Change on Next Login
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12 text-right" style="padding-top:0.5em;padding-bottom:0.5em;">
          <biometrics-clear ng-if="isBio"></biometrics-clear>
          <button class="btn btn-default" ng-click="pwResetOther.dismiss();" data-translate="1.2">Cancel</button>
          <button class="btn btn-default" ng-disabled="!pwreset.$valid || (pwResetOther.password !== pwResetOther.password2) || (pwResetOther.numericCharReq || pwResetOther.uppercaseCharReq || pwResetOther.charReq || pwResetOther.specialCharReq)" ng-click="pwResetOther.changePassword();" data-translate="6417">Set Password</button>
          <br>
        </div>
      </div>
    </div>
  </div>
</ng-form>
