<div class="btn-group">
  <button ng-if="!altSwitch" type="button" class="btn btn-default btn{{transid}}" ng-disabled="disabled()||deny" event-name="{{event}}" ng-click="click()">
    {{transid | translate}}
  </button>
</div>
