<div>
  <div class="row form-group text-right">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li ng-class="{'active':d2d.tab==='complete'}"><a href="javascript:void(0);" ng-click="d2d.setTab('complete');"><span data-translate="6813">Completed></span></a></li>
        <li ng-class="{'active':d2d.tab==='pending'}"><a href="javascript:void(0);" ng-click="d2d.setTab('pending');"><span data-translate="3012">Pending</span></a></li>
      </ul>
    </div>
  </div>
  <div ng-if="d2d.tab==='complete'">
    <bread-crumb-navigation></bread-crumb-navigation>
    <div class="row form-group" ng-if="!d2d.conn.active.sid">
      <div class="col-xs-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{ '5976' | translate }}" ng-change="d2d.setFilter()" ng-model="d2d.form.filterValue">
          <span class="input-group-addon">
          <input ng-change="d2d.setFilter()" type="checkbox" ng-model="d2d.form.errorFilter">
          <span style="color:red" class="glyphicon glyphicon-fire">
        </span>
      </span></div>
      </div>
    </div>
    <div class="row" ng-repeat="rows in d2d.servers" ng-if="!d2d.conn.active.sid">
      <div class="col-xs-3" ng-repeat="server in rows">
        <d2d-item restart-polling="d2d.getDayToDay" server="server"></d2d-item>
      </div>
    </div>
    <div class="row" ng-if="d2d.conn.active.sid">
      <d2d-item restart-polling="d2d.getDayToDay" server="d2d.conn.active"></d2d-item>
    </div>
  </div>
  <div ng-if="d2d.tab==='pending'">
    <d2d-pending></d2d-pending>
  </div>
</div>
