<div class="modalouter">
  <div class="modal-header" data-translate="5412">
    Generate ASN Voucher(s)
  </div>
  <div class="modal-body">
    <div class="container-fluid">
    <div class="row" ng-if="!generating && !complete && !storeSelection">
      <div class="col-xs-6 col-xs-offset-3">
        <button class="btn btn-info" ng-click="generateASN()" style="height:100%;width:100%;text-align:center;">
          <span class="glyphicon glyphicon-check" style="font-size:24px;"></span>
          <span style="position:relative;top:-3px;" data-translate="5413">Generate ASN(s)</span>
        </button>
      </div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row" ng-if="storeSelection">
      <div class="col-xs-12">
          <h5 data-translate="6770">Select which stores to generate ASNs for:</h5>
          <div class="row" ui-i18n="{{lang}}">
              <div id="grid1" ui-grid-resize-columns="" ui-grid-selection="" ng-if="storeGridOptions.data.length>0" ui-grid="storeGridOptions"></div>
          </div>            
      </div>
    </div>
    <div class="row" ng-if="generating && !complete && !storeSelection">
      <div class="col-xs-12 text-center">
        <img src="images/ajax-loader.gif">
        <br>
        <span>{{msg}}</span>
      </div>
    </div>
    <div class="row" ng-if="complete">
      <div class="col-xs-12 text-center">
        <h4>{{generatedASNs.length}} <span data-translate="5414">ASN(s) Generated</span></h4>
      </div>
    </div>
    <div class="row" ng-if="abort">
      <div class="col-xs-12 text-center">
        <h4><span data-translate="5415">Process Aborted</span></h4>
      </div>
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row" ng-if="storeSelection">
      <div class="col-xs-6 text-left">
        <button class="btn btn-default" ng-click="checkAll()" ng-show="selectedStoreList.length !== storeGridOptions.data.length" data-translate="971">Select All</button>
        <button class="btn btn-default" ng-click="uncheckAll()" ng-show="selectedStoreList.length > 0" data-translate="6771">Unselect All</button>
      </div>
      <div class="col-xs-2 col-xs-offset-2">
        <button class="btn btn-block btn-default" ng-click="generateASNPost()" data-translate="2226" ng-disabled="selectedStoreList.length<1">Ok</button>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-block btn-default" ng-click="$close()" data-translate="1.2">Cancel</button>
      </div>
    </div>
    <div class="row" ng-if="!storeSelection && !generating && !complete">
      <div class="col-xs-2 pull-right">
        <button class="btn btn-block btn-default" ng-click="$close()" data-translate="1.2">Cancel</button>
      </div>
    </div>
    <div class="row" ng-if="!storeSelection && (complete || abort)">
      <div class="col-xs-2 pull-right">
        <button class="btn btn-block btn-default" ng-click="$close()" data-translate="1.1">OK</button>
      </div>
    </div>
  </div>
</div>

