<div class="panel panel-default" style="margin-bottom: 0">
  <!-- Default panel contents -->
  <div class="panel-heading"><span data-translate="6310">Create Denomination</span></div>
  <div class="panel-body">
    <form name="denomform">
      <div class="form-group">
        <label for="bill" data-translate="1831">Denomination</label>
        <input type="text" id="bill" required maxlength="15" class="form-control" ng-model="denomination.denominationname">
      </div>
      <div class="form-group">
        <label for="multiplier" data-translate="6311">Multiplier</label>
        <input type="number" limit-number="16" mymodel="denomination.multiplier" required id="multiplier" class="form-control" ng-model="denomination.multiplier">
      </div>
      <div class="form-group">
        <label for="denomid" data-translate="1473.1">Currency Order</label>
        <input type="number" required id="denomid" limit-number="5" mymodel="denomination.denomid" class="form-control" ng-model="denomination.denomid">
      </div>
    </form>
  </div>

  <div class="panel-footer">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
              <button type="button" class="btn btn-default" ng-disabled="denomform.$invalid" ng-click="save()"><span data-translate="1514">Save & Exit</span></button>
              <button type="button" class="btn btn-default" ng-click="close()"><span data-translate="0.1">Exit</span></button>
            <div>
        </div>
    </div>
  </div>
</div>
</div></div>