<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h4 data-translate="1831">Denomination</h4>
			</div>
			<div class="col-xs-12 col-sm-6">
        <h4 class="pull-right"><span data-translate="6846">Currency name:</span> {{ currency.currencyname }}</h4>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<table class="table col-md-12 table-bordered table-reponsive table-centered">
			<thead>
				</thead><td><strong data-translate="774">Edit</strong></td>
				<td><strong data-translate="544">Delete</strong></td>
				<td><strong data-translate="1831">Denomination</strong></td>
				<!-- DT19441 - Changing translation from 981 ('Non-Currency Type') to 3918 ('Value') -->
				<td><strong data-translate="3918">Value</strong></td>
				<td><strong data-translate="1473.1">Order Number</strong></td>
			

			<tbody>
				<tr ng-repeat="denomination in denominations" ng-click="setRow(denomination)" ng-class="{ 'context-rowtrue' : denomination === selectedRow }">
					<td>
						<button class="btn btn-default btn-icon glyphicon glyphicon-pencil" data-permission="managecurrencies" ng-click="setRow(denomination);openEdit(denomination)">
						</button>
					</td>
					<td>
						<button class="btn btn-default btn-icon glyphicon glyphicon-remove" ng-click="setRow(denomination);openDelete()">
						</button>
					</td>
					<td>{{ denomination.denominationname }}</td>
					<td>{{ denomination.multiplier }}</td>
					<td>{{ denomination.denomid }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
          <button type="submit" class="btn btn-default" data-permission="managecurrencies" ng-click="openCreate()"><span data-translate="6847">New Denomination</span></button>
				</div>
			</div>
		</div>
	</div>
</div>





