<div>
	<div class="container-fluid">
		<div class="row padding-5">
			<div class="col-xs-12">
				<div class="row row-container mobile-screen-title">
					<div class="col-xs-12">
						<span data-translate="5250">Transfer Orders</span>
					</div>
				</div>
				<div class="row row-container" ng-if="state.grid.ready">
					<!--<floating-search-filters-button use-default-filters="true" button-id="filterSettings.title" on-search-event="filterSettings.onSearchEvent" grid-src="filterSettings.list"></floating-search-filters-button>-->
					<div class="col-xs-4">
						<div class="padding-15">
                            <document-lookup-filter update="" sortby="" disablelookup="sharedData.disableLookupSearch" sortorder="" search="" template=""></document-lookup-filter>
                        </div>
					</div>
					<div class="col-xs-8 padding-10 department-grid-column">
						<responsive-grid grid="state.grid.settings" extra-class="department-grid"></responsive-grid>
					</div>
				</div>
			</div>
		</div>
		<div>
			<!--<mobile-nav category-menu="promotionActionButtons"></mobile-nav>-->
		</div>
	</div>
	<div class="row hidden-xs">
		<button-bar view-path="components/store-ops/transfer-order/transfer-order-button-bar.htm"></button-bar>
	</div>
</div>
