<div class="panel">
  <div class="panel-heading">
    <span data-translate="1971">Tax Areas</span>
  </div>
  <div class="panel-body">
    <div id="taxAreasGrid" ui-grid="taxAreasGrid" ui-grid-resize-columns="" ui-grid-selection="" class="grid"></div>
  </div>
  <div class="panel-footer text-right">
    <button type="button" valid-levels="subsidiary" data-translate="1.8" ng-click="addArea();" class="btn btn-primary">Add</button>
    <button type="button" valid-levels="subsidiary" data-translate="774" ng-disabled="!selectedArea()" ng-click="editArea();" class="btn btn-primary">Edit</button>
    <button type="button" ng-if="!taxService.ShowInactiveAreas" valid-levels="subsidiary" data-translate="4462" ng-click="toggleInactive();" class="btn btn-primary">Show Inactive</button>
    <button type="button" ng-if="taxService.ShowInactiveAreas" valid-levels="subsidiary" data-translate="4463" ng-click="toggleInactive();" class="btn btn-primary">Hide Inactive</button>
    <!--<button type="button" valid-levels="subsidiary" data-translate="544" ng-disabled="!selectedArea()" ng-click="deleteArea();" class="btn btn-primary">Delete</button>-->
  </div>
</div>
