<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="2457">Primary Associate</label>
    <select-associate id="primary_associate" name="primary_associate" storesid="field.storesid" ng-model="field.service.active.primaryclerksid"></select-associate>
  </div>
</div>
