<ng-form action="noAction" name="LotNumbersForm" id="LotNumbersForm" class="form-horizontal" novalidate="undefined" ui-keypress="{13:'submitForm(LotNumbersForm)'}">
    <div class="modal-content">
        <div class="modal-header">
            <h4 data-translate="3379">Lot Number Required</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid modal-maxHeight autoOverflow">
                <div ng-repeat="thisItem in promptItems track by $index">
                    <div class="row" style="margin-top: 20px;">
                        <div class="control-group has-feedback" ng-class="((!thisItem.lotnumber) && lotNoIsRequired(thisItem)) ? 'has-error' : (!thisItem.lotnumber) ? 'has-warning' : 'has-success' ">
                            <div class="col-xs-3 valign-middle">
                                <input type="text" tabindex="{{$index * 2}}" maxlength="25" id="itemLotNumber{{$index}}" name="itemLotNumber" class="form-control uppercase" ng-model="thisItem.lotnumber" ng-blur="validateLotNo(thisItem,LotNumbersForm)" ng-require="lotNoIsRequired(thisItem)" ng-change="lotNoChange(thisItem,LotNumbersForm)" autofocus>
                                <i class="glyphicon glyphicon-search form-control-feedback" id="lotNoLookupIcon" ng-click="lotNoLookup(thisItem)"></i>
                            </div>
                        </div>
                        <div class="control-group" ng-if="showQty">
                            <label class="col-xs-1 valign-middle" style="text-align:right;" for="quantity{{$index}}" data-translate="764">Qty</label>
                            <div class="col-xs-2 valign-middle">
                                <input tabindex="{{($index * 2) + 1}}" type="text" class="form-control" id="quantity{{$index}}" min="0" name="quantity{{$index}}" decimals="{{item.inventory_use_quantity_decimals}}" numberonly="undefined" ng-change="changeQty()" data-currency-formatter="number" ng-model="thisItem.qty">
                            </div>
                        </div>
                        <div class="control-group" ng-if="!showQty">
                            <div class="col-xs-2 valign-middle">
                                <strong data-translate="764">Qty</strong> {{thisItem.qty}}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="col-xs-3 valign-middle">
                                <strong data-translate="677">UPC</strong> {{ thisItem.upc|padUPC }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="col-xs-3 valign-middle">
                                {{ thisItem.description1 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-8 text-right">
                    <button type="button" event-name="submitLotNoForm" id="submitButton" ng-click="lotNoClose($event)" remove-modal class="btn btn-info btn-default" ng-disabled="((!okToClose)||(LotNumbersForm.$dirty && LotNumbersForm.$invalid)) || (enforceRequire && LotNumbersForm.itemLotNumber.$invalid)" data-translate="2226">Ok</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>

