<div class="row top-margin">
    <div class="col-xs-{{labelWidth}} text-left">
        <label class="control-label" data-translate="554">Tax Area</label>
    </div>
    <div class="col-xs-{{fieldWidth}}">
        <span>{{adjMemo.memo.taxarea}}</span>
    </div>
</div>