<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="758">Quick Customer</h4>
  </div>
  <div class="modal-body" style="max-height:675px;overflow:auto;">
    <ng-form name="form.customer">
      <div ng-repeat="field in form">
        <div>
          <div class="row form-group" ng-if="hideSaveAndEditBtn&&field.input==='image'&&!field.optional">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" event-name="customerAddImage" ng-click="editCustomerImage()" class="btn btn-info">
                          <span class="glyphicon glyphicon-user" style="padding-right:5px;"></span>
                          <span data-translate="6340">Add Image</span>
                        </button>
                    </span>
                    <input type="text" class="form-control" ng-if="!form[0].required" placeholder="{{ '6804' | translate }}" readonly="readonly">
                    <input type="text" class="form-control" ng-if="form[0].required" placeholder="{{ '6805' | translate }}" readonly="readonly">
                    <span class="input-group-addon glyphicon glyphicon-exclamation-sign" ng-if="!customerImageData && form[0].required" style="color:red;position: initial;"></span>
                    <span class="input-group-addon glyphicon glyphicon-ok" ng-if="customerImageData" style="color:green;position: initial;"></span>
                </div>
            </div>
          </div>
          <div class="row form-group" ng-if="field.input==='text'&&!field.optional">
            <div class="col-xs-12">
              <input ng-required="field.required" id="{{field.model}}" ng-if="field.model.indexOf('.')===-1" ng-model="customerService.active[field.model]" type="text" class="form-control {{field.class_}}" placeholder="{{field.text}}">
              <input ng-required="field.required" id="{{field.model}}" ng-if="field.model.indexOf('.')!==-1" ng-model="customerService.active[field.model.split('.')[0]][field.model.split('.')[1]]" class="form-control {{field.class_}}" placeholder="{{field.text}}" type="text">
            </div>
          </div>
          <div class="row form-group" ng-if="field.input==='select'&&field.options.length>0&&!field.optional">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon" data-translate="{{field.transid}}">{{field.text}}</span>
                <select ng-required="field.required" id="{{field.model}}" class="form-control {{field.class_}}" ng-if="field.model.indexOf('.')!==-1" ng-model="customerService.active[field.model.split('.')[0]][field.model.split('.')[1]]" ng-options="x.val as x.txt for x in field.options">
                  <option value="" selected="selected">Select...</option>
                </select>
                <select ng-required="field.required" id="{{field.model}}" class="form-control {{field.class_}}" ng-if="field.model.indexOf('.')===-1" ng-model="customerService.active[field.model]" ng-options="x.val as x.txt for x in field.options">
                  <option value="" selected="selected">Select...</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row form-group" ng-if="field.input==='selectEnum'&&field.options.length>0&&!field.optional">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon" data-translate="{{field.transid}}">{{field.text}}</span>
                <select ng-required="field.required" id="{{field.model}}" class="form-control" ng-if="field.model.indexOf('.')!==-1" ng-model="customerService.active[field.model.split('.')[0]][field.model.split('.')[1]]" ng-options="x.value as x.name for x in field.options"></select>
                <select ng-required="field.required" id="{{field.model}}" class="form-control" ng-if="field.model.indexOf('.')===-1" ng-model="customerService.active[field.model]" ng-options="x.value as x.name for x in field.options"></select>
              </div>
            </div>
          </div>
          <div class="row form-group" ng-if="field.input==='textarea'&&!field.optional">
            <div class="col-xs-12">
              <textarea class="form-control" id="{{field.model}}" ng-required="field.required" placeholder="{{field.transid | translate}}" ng-if="field.model.indexOf('.')!==-1" ng-model="customerService.active[field.model.split('.')[0]][field.model.split('.')[1]]">
              </textarea>
              <textarea class="form-control" id="{{field.model}}" ng-required="field.required" placeholder="{{field.transid | translate}}" ng-if="field.model.indexOf('.')===-1" ng-model="customerService.active[field.model]">
              </textarea>
            </div>
          </div>
          
        </div>
      </div>
	  
	   <div class="row form-group">
            <div class="col-xs-12">
              <span>Ngày sinh:</span> <input type="date" class="form-control" id="birthday" name="birthday">
            </div>
       </div>
    </ng-form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-disabled="!form.customer.$valid || imageRequired" data-translate="547" ng-click="save()" event-name="customerNewSave" id="okButton">Save</button>
    <button class="btn btn-default" data-translate="1.2" ng-click="$close()" event-name="customerNewCancel" id="cancelButton">Cancel</button>
  </div>
</div>
