<div class="panel panel-default">
  <div class="panel-heading" data-translate="6440">New Subsidiary</div>
  <div class="panel-body" style="padding: 1em;">
    <form name="sbsForm" invalidate="">
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="sbsnumber" data-translate="1635">Number</label>
            <input type="number" required class="form-control" ng-model="subsidiary.sbsno" id="sbsnumber">
          </div>
        </div>
        <div class="col-xs-8">
          <div class="form-group">
            <label for="sbsname" data-translate="1636">Name</label>
            <input type="text" maxlength="15" required class="form-control" ng-model="subsidiary.sbsname" id="sbsname">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="checkbox">
            <label class="checkbox-container">
              <input type="checkbox" class="large-input-field margin-right-5" ng-model="subsidiary.active"> <span data-translate="586">Active</span>
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <label class="checkbox-container">
              <input type="checkbox" class="large-input-field margin-right-5" ng-model="subsidiary.master"> <span data-translate="7250">Master</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-6">
              <div class="form-group ml--5">
                <label for="sbs_bcs" class="pl-5px mt-1" data-translate="943">Base Currency</label>
                <rp-select-input id="sbs_bcs" ng-if="currencies" required="true" ng-model="subsidiary.basecurrencysid" key-string="'currencyname'" value-key="'sid'" repeater-data="currencies"></rp-select-input>
              </div>
            </div>

        <div class="col-xs-6">
          <div class="form-group ml--5">
            <label for="sbs_country" class="pl-5px mt-1" data-translate="3563">Country</label>
            <rp-select-input ng-if="countries" required="true" ng-model="subsidiary.countrysid" key-string="'country_name'" value-key="'sid'" repeater-data="countries"></rp-select-input>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-6">
              <div class="form-group ml--5">
                <label for="sbs_season" class="pl-5px mt-1" data-translate="4866">Current Season</label>
                <rp-select-input ng-if="seasons" repeater-data="seasons" key-string="'seasonname'" value-key="'sid'" ng-model="subsidiary.activeseasonsid"></rp-select-input>
              </div>
            </div>
        <div class="col-xs-6">
          <div class="form-group ml--5">
            <label for="sbs_calendar" class="pl-5px mt-1" data-translate="6438">Retail Calendar</label>
            <rp-select-input ng-if="calendars" allow-none="true" ng-model="subsidiary.calendarsid" key-string="'calname'" value-key="'sid'" repeater-data="calendars"></rp-select-input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group ml--5">
            <label for="sbs_fcs" class="pl-5px mt-1" data-translate="941">Foreign Currency</label>
            <rp-select-input id="sbs_fcs" ng-if="currencies" ng-model="subsidiary.foreigncurrencysid" key-string="'currencyname'" value-key="'sid'" repeater-data="currencies"></rp-select-input>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel-footer">
  <div class="row">
    <div col-xs-12="">
      <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-disabled="sbsForm.$invalid" ng-click="activationPrompt()"><span data-translate="547">Save</span></button>
        <button type="button" class="btn btn-primary" ng-click="exit()"><span data-translate="0.1">Exit</span></button>
      </div>
    </div>
  </div>
</div>
