<div class="panel panel-default mt-0">
    <div class="panel-heading" data-translate="6453">
      Subsidiary Modeling
    </div>
    <div class="panel-body" style="padding: 1em;">
    <form name="modelForm">
       <div class="form-group">
       	<label for="target" data-translate="6454">Target Subsidiary</label>
       	<input type="text" id="target" class="form-control" disabled="disabled" value="{{activesbs.sbsname}}">
       </div>

       <div class="form-group row ml--5">
       	<label class="pl-5px mt-1" for="model" data-translate="6455">Source Subsidiary</label>
        <rp-select-input ng-if="subsidiaries" id="mode" required="true" ng-model="activeObj.sourceSbs" key-string="'sbsname'" repeater-data="subsidiaries"></rp-select-input>
       </div>


       <div class="checkbox form-group">
       	<label>
       		<input type="checkbox" ng-model="activeObj.inventory" ng-change="inventoryCheck()"> <span data-translate="2077">Inventory</span>
       	</label>
       </div>

       <div class="checkbox">
       	<label>
       		<input type="checkbox" ng-model="activeObj.departments" ng-disabled="activeObj.inventory"> <span data-translate="2732">Department</span>
       	</label>
       </div>

       <div class="checkbox">
       	<label>
       		<input type="checkbox" ng-model="activeObj.vendors" ng-disabled="activeObj.inventory"> <span data-translate="1500">Vendor</span>
       	</label>
       </div>

       <div class="checkbox">
       	<label>
       		<input type="checkbox" ng-model="activeObj.prefs"> <span data-translate="6456">Preferences All</span>
       	</label>
       </div>
    </form>
   	</div>
    <div class="panel-footer">
    	<div class="row">
    		<div class="pull-right">
    			<button type="button" class="btn btn-primary" ng-disabled="!modelForm.$valid" data-translate="1.3" ng-click="save()">Apply</button>
    			<button type="button" class="btn btn-primary" data-translate="1.2" ng-click="dismiss()">Cancel</button>
    		</div>
    	</div>
    </div>
</div>
