<div class="panel panel-default">
    <div class="panel-heading">
      <h4><span data-translate="6868">Model subsidiary</span></h4>
    </div>
    <div class="panel-body" style="padding: 1em;">
      <span data-translate="6869">New subsidiary was successfully created.</span>
			<br>
      <span data-translate="6870">Do you want to model this subsidiary?</span>
    </div>
    <div class="panel-footer">
		<div class="row">
		    <div col-xs-12="">
		      <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="yes()"><span data-translate="1.5">Yes</span></button>
            <button type="button" class="btn btn-primary" ng-click="no()"><span data-translate="1.6">No</span></button>
		      </div>
		    </div>
		</div>
    </div>
</div>
