<div class="modalouter">
    <div class="modal-header">
      <span data-translate="6970">PO Options</span>
    </div>
    <div class="modal-body">
      <div ng-controller="storeOps_ctrl">
        <ul class="list-group">
          <li class="list-group-item">
            <button event-name="purchaseOrderLookup" class="btn btn-info btn-block" tabindex="122" type="button" ng-disabled="extPoOptions.po.isEdit && extPoOptions.po.items" ng-click="extPoOptions.purchaseOrderLookup();">
              <span data-translate="4538">Purchase Order Lookup</span>
            </button>
          </li>
          <li class="list-group-item">
            <button data-permission="pocreatecopy" class="btn btn-info btn-block" event-name="PendingPurchaseOrders" tabindex="123" type="button" ng-disabled="extPoOptions.po.isEdit && extPoOptions.po.items" ng-click="extPoOptions.pendingPurchaseOrders();">
              <span data-translate="4539">Pending Purchase Orders</span>
            </button>
          </li>
          <li class="list-group-item">
            <generate-asn-vouchers external-options="extPoOptions"></generate-asn-vouchers>
          </li>
          <li class="list-group-item" ng-if="extPoOptions.po.active.potype===1">
            <generate-transfer-order></generate-transfer-order>
          </li>
          <li class="list-group-item">
            <button data-permission="merchandiseprinttag" data-permission-disabled="purchaseOrder.Items.length===0" class="btn btn-info btn-block" ng-click="extPoOptions.printTags()">
              <span data-translate="4253">Print Tags</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  <div class="modal-footer text-right">
    <button class="btn btn-default" ng-click="$close()">
      <span data-translate="583">Close</span>
    </button>
  </div>
</div>

