<form name="contactForm.form" class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <label class="control-label margin-left-5">
        <input type="checkbox" id="contactPrimary" name="contactPrimary" ng-model="contactForm.dataObj.primaryflag" ng-change="contactForm.checkPrimary()">
        <span data-translate="537">Primary</span>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <label class="margin-left-5" data-translate="4982">Contact Type</label>

        <rp-select-input class="custom-form-control" repeater-data="contactForm.contactTypeObj.listData" default-obj="contactForm.defaultContactType" ng-model="contactForm.tempObj" call-back="contactForm.contactTypeObj.http()" is-last-page="contactForm.contactTypeObj.isLastPage" key-string="contactForm.contactTypeObj.textKey" page="contactForm.contactTypeObj.page" filter-string="contactForm.contactTypeObj.searchString" ng-change="contactForm.updateType('contactypesid','contacttype','contacttype')"></rp-select-input>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xs-4">
      <div class="form-group">
        <label class="margin-left-5" data-translate="588">Title</label>
        <rp-select-input class="custom-form-control" repeater-data="contactForm.titleTypeObj.listData" default-obj="contactForm.defaultTitleType" ng-model="contactForm.tempObj" call-back="contactForm.titleTypeObj.http()" is-last-page="contactForm.titleTypeObj.isLastPage" key-string="contactForm.titleTypeObj.textKey" page="contactForm.titleTypeObj.page" filter-string="contactForm.titleTypeObj.searchString" ng-change="contactForm.updateType('titlesid','title','title')"></rp-select-input>
      </div>
    </div>
    <div class="col-xs-7 col-xs-offset-1">
      <div class="form-group">
        <label data-translate="637">First Name</label>
        <input type="text" name="firstname" class="form-control" maxlength="30" ng-model="contactForm.dataObj.firstname">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xs-7 col-xs-offset-5">
      <div class="form-group">
        <label data-translate="636">Last Name</label>
        <input type="text" class="form-control" name="lastname" maxlength="30" ng-model="contactForm.dataObj.lastname">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xs-4">
      <div class="form-group">
        <label class="margin-left-5" data-translate="5007">Phone 1 Type</label>
        <rp-select-input class="custom-form-control" repeater-data="contactForm.phoneTypeObj.listData" default-obj="contactForm.defaultPhone1Type" ng-model="contactForm.tempObj" call-back="contactForm.phoneTypeObj.http()" is-last-page="contactForm.phoneTypeObj.isLastPage" key-string="contactForm.phoneTypeObj.textKey" page="contactForm.phoneTypeObj.page" filter-string="contactForm.phoneTypeObj.searchString" ng-change="contactForm.updateType('phone1typesid','phonetype1','phonetype')"></rp-select-input>
      </div>
    </div>
    <div class="col-xs-7 col-xs-offset-1">
      <div class="form-group">
        <label data-translate="1640">Phone 1</label>
        <input type="text" name="phone1" phone-number maxlength="30" class="form-control" ng-model="contactForm.dataObj.phone1no">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xs-4">
      <div class="form-group">
        <label class="margin-left-5" data-translate="5008">Phone 2 Type</label>
        <rp-select-input class="custom-form-control" repeater-data="contactForm.phoneTypeObj.listData" default-obj="contactForm.defaultPhone2Type" ng-model="contactForm.tempObj" call-back="contactForm.phoneTypeObj.http()" is-last-page="contactForm.phoneTypeObj.isLastPage" key-string="contactForm.phoneTypeObj.textKey" page="contactForm.phoneTypeObj.page" filter-string="contactForm.phoneTypeObj.searchString" ng-change="contactForm.updateType('phone2typesid','phonetype2','phonetype')"></rp-select-input>
      </div>
    </div>
    <div class="col-xs-7 col-xs-offset-1">
      <div class="form-group">
        <label data-translate="1641">Phone 2</label>
        <input type="text" phone-number maxlength="30" name="phone2" class="form-control" ng-model="contactForm.dataObj.phone2no">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xs-4">
      <div class="form-group">
        <label class="margin-left-5" data-translate="590">Email Type</label>
        <rp-select-input class="custom-form-control" repeater-data="contactForm.emailTypeObj.listData" default-obj="contactForm.defaultEmailType" ng-model="contactForm.tempObj" call-back="contactForm.emailTypeObj.http()" is-last-page="contactForm.emailTypeObj.isLastPage" key-string="contactForm.emailTypeObj.textKey" page="contactForm.emailTypeObj.page" filter-string="contactForm.emailTypeObj.searchString" ng-change="contactForm.updateType('emailtypesid','emailtype','emailtype')"></rp-select-input>
      </div>
    </div>
    <div class="col-xs-7 col-xs-offset-1">
      <div class="form-group">
        <label data-translate="524">Email</label>
        <input type="email" name="email" class="form-control" maxlength="100" ng-model="contactForm.dataObj.emailaddress">
      </div>
    </div>
  </div>
</form>