<div class="panel panel-default">
  <ng-form name="freight_form">
  <div class="panel-heading">
    <h4 data-translate="3828">Freight</h4>
  </div>
  <div class="panel-body po-details-panel">
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label" data-translate="3829">Freight Amount</label>
        <input ng-readonly="purchaseOrder.isReadOnly" enter-blur="undefined" type="text" numberonly="undefined" ng-disabled="!purchaseOrder.isEdit" ng-blur="saveFreight();" data-currency-formatter="currency" class="form-control {{fieldClass}}" ng-model="purchaseOrder.freight.amt">
      </div>
    </div>
  </div>
  </ng-form>
</div>
