<div class="row" ng-repeat="item in biometrics">
  <div class="col-xs-3">
    {{item.biotype|biometric_type_names}}
  </div>
  <div class="col-xs-6">
    {{item.description}}
  </div>
  <div class="col-xs-3 text-right">
    <button type="button" class="btn btn-icon btn-default" ng-click="removeRecord(item);" title="{{ '5860' | translate }}"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>
