<div class="modalouter">
  <div class="modal-header">
    <h4 data-translate="6343">Discount Override</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="row top-margin">
          <p class="text-center"><span data-translate="4910">Discount cannot exceed employees Maximum Discount Percent of </span>{{discOverride.maxPercentage}}%</p>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <button class="btn btn-info btn-block" event-name="discApplyMax" tabindex="122" type="button" ng-click="discOverride.close(1);">
          <span data-translate="6344">Apply Maximum</span>
        </button>
      </li>
      <li class="list-group-item">
        <button class="btn btn-info btn-block" event-name="discOverrideItem" tabindex="123" type="button" ng-click="discOverride.close(2);">
          <span data-translate="6345">Override Discount</span>
        </button>
      </li>
      <!-- *** Removed for 1.12 CCU
      <li class="list-group-item">
        <button class="btn btn-info btn-block" event-name="discOverrideTrans" tabindex="124" type="button" ng-click="discOverride.close(3);">
          <span data-translate="needsID">Override Transaction</span>
        </button>
      </li>
          *** Removed for 1.12 CCU -->
    </ul>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-info btn-block" event-name="discCancel" tabindex="124" type="button" ng-click="discOverride.close(0);">
      <span data-translate="1.2">Cancel</span>
    </button>
  </div>
</div>
