<div class="col-xs-12 no-padding">
    <div class="row row-container">
        <div class="col-xs-2">
            <div class="row padding-5">
                <label data-translate="5243">TO Number</label>
                <input ng-disabled="state.disable()" type="text" ng-model="transferOrder.tono" class="form-control">
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row padding-5">
                <label data-translate="699">Associate</label>
                <select-associate disable="state.disable()" ng-model="transferOrder.clerksid"></select-associate>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row padding-5">
                <label data-translate="4160">From Store</label>:
                <select-store disable="true" store="transferOrder.storesid" on-change="onStoreChangeEvent"></select-store>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row padding-5">
                <label data-translate="5244" style="width: 100%;padding-left: 5px;">PO#</label>
                <div class="col-xs-9">
                    <input type="text" ng-disabled="true" ng-blur="state.searchPO('blur', $event)" enter-blur="" ng-model="transferOrder.pono" class="form-control">
                </div>
                <div class="col-xs-2">
                    <reference-po-button source="'TransferOrder'" disable="state.disable()" on-resolve="state.handleOnPoLookupComplete"></reference-po-button>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="list-group transfer-order-header">
                                <li class="list-group-item small">
                                    <span class="badge" ng-if="!state.displayLoader()">{{transferOrder.totalassignqty}}</span>
                                    <span class="badge loader-background" ng-if="state.displayLoader()"><img src="images/three-dots-loader.svg" width="10" alt="{{ '5028' | translate }}"></span>
                                    <span data-translate="5245">Total Assigned</span>
                                </li>
                                <li class="list-group-item small">
                                    <span class="badge" ng-if="!state.displayLoader()">{{transferOrder.totalsentqty}}</span>
                                    <span class="badge loader-background" ng-if="state.displayLoader()"><img src="images/three-dots-loader.svg" width="10" alt="{{ '5028' | translate }}"></span>
                                    <span data-translate="5246">Quantity Sent</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-group transfer-order-header">
                                <li class="list-group-item small">
                                    <span class="badge" ng-if="!state.displayLoader()">{{transferOrder.totalassignqty - transferOrder.totalsentqty}}</span>
                                    <span class="badge loader-background" ng-if="state.displayLoader()"><img src="images/three-dots-loader.svg" width="10" alt="{{ '5028' | translate }}"></span>
                                    <span data-translate="5247">Total Due</span>
                                </li>
                                <li class="list-group-item small">
                                    <span class="badge" ng-if="!state.displayLoader()">{{transferOrder.unfilledpctg}}</span>
                                    <span class="badge loader-background" ng-if="state.displayLoader()"><img src="images/three-dots-loader.svg" width="10" alt="{{ '5028' | translate }}"></span>
                                    <span data-translate="4022">Unfilled %</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
