<div class="modalouter">
  <div class="modal-header">
    <h4><span data-translate="6704">Initialize from </span> {{pInit.fromServer.controllername}}</h4>
  </div>
  <div class="modal-body">
    <ng-form name="pInit.form" id="iForm">

      <div class="row form-group">
        <div class="col-xs-6">
          <label class="control-label" ng-if="pInit.connectionList.length>0">
            Profile
          </label>
          <select ng-required="true" ng-if="pInit.connectionList.length>0" class="form-control" ng-model="pInit.profile" ng-options="s.sid as s.subscriptionname for s in pInit.profileList">
            <option style="display:none" data-translate="1358">Select...</option>
          </select>
        </div>
      </div>
      <div class="row form-group">

        <div class="col-xs-12" ng-if="pInit.connectionList.length>0">
          <check-list filter-controls="true" model="pInit.toServers" required="true" label="'Initialize To'" check-value="'sid'" collection="pInit.connectionList" check-txt="'remotecontrollername'"></check-list>
        </div>
        <div class="col-xs-12" ng-if="pInit.connectionList&&pInit.fromServer&&pInit.connectionList.length===0">
          <div class="well well-sm" style="margin-top:20px;">
            <em data-translate="6150">No valid connections for the selected server.</em>
          </div>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-default" ng-click="pInit.dismiss()">
      <span class="glyphicon glyphicon-ban-circle"></span>
      Cancel
    </button>
    <button ng-click="pInit.initialize();" type="button" ng-disabled="!pInit.form.$valid||pInit.form.connections.length===0||pInit.initializing" class="btn btn-default"><span class="glyphicon glyphicon-flash"></span> <span data-translate="806">Start</span></button>
  </div>
</div>




