<fieldset>
  <div ng-if="general.service.active.originapplication">
    <div class="row form-group">
      <div class="col-xs-12 text-left">
        <employee-empladdress></employee-empladdress>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 text-left">
        <employee-emplphone></employee-emplphone>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 text-left">
        <employee-emplemail></employee-emplemail>
      </div>
    </div>
  </div>
</fieldset>

