<div class="panel">
  <div class="panel-heading">
    <span data-translate="5187">Tax Rules</span>
  </div>
  <div class="panel-body">
    <div class="row form-group">
      <div class="col-xs-6">
          <label class="control-label ng-scope" data-translate="3272">Tax Area</label>
          <!--<select valid-levels="subsidiary" class="form-control" ng-options="area.sid as area.taxareaname for area in rulesAreaList" >-->
          <!--</select>-->
        <rp-select-input ng-if="taxService.Areas" required="true" ng-model="form.ruleAreaSid" key-string="'taxareaname'" value-key="'sid'" repeater-data="taxService.Areas" ng-change="getRulesData(form.ruleAreaSid)" suppress-translate="true">
        </rp-select-input>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" ui-i18n="en">
        <div id="taxRulesGrid" ui-grid="taxRulesGrid" class="grid" ui-i18n="en" ui-grid-resize-columns="" ui-grid-selection="" ui-grid-edit="" ui-grid-cellnav="" ui-grid-pinning=""></div>
      </div>
    </div>

  </div>
  <div class="panel-footer text-right">
    <button type="button" data-translate="1.8" ng-disabled="!form.ruleAreaSid" ng-click="addRule()" class="btn btn-primary">Add</button>
    <button type="button" data-translate="774" ng-disabled="!selectedRule()" ng-click="editRule()" class="btn btn-primary">Edit</button>
    <button type="button" data-translate="544" ng-disabled="!selectedRule()" ng-click="deleteRule()" class="btn btn-primary">Delete</button>
  </div>
</div>
