<button type="button" ng-disabled="(!transferSlip.isEdit)||(transferSlip.activeItems.length===0)||(transferSlip.slip.status===4)" class="btn btn-info" ng-click="removeSlipItem();">
    <span data-translate="767">Remove Item</span>
</button>