<ng-form name="activateForm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="6037">Gift Card Maximum Amount</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <strong data-translate="1426">Card Number</strong> {{values.card_number}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <strong data-translate="645">Current Balance</strong> {{values.card_balance |currency}}
        </div>
        <div class="col-xs-6">
          <strong data-translate="5940">Maximum Balance</strong> {{values.card_max |currency}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <strong data-translate="6038">Requested Amount</strong> {{values.card_request |currency}}
        </div>
        <div class="col-xs-6">
          <strong data-translate="6039">Maximum Amount</strong>  {{values.card_available |currency}}
        </div>
      </div>
      <br>
      <div class="row">
        <span data-translate="6040">The requested amount exceeds the allowed maximum.  Would you like to add the maximum value to this Central Gift Card?</span>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-default" type="button" ng-click="save()"><span data-translate="1.5">Yes</span></button>
      <button class="btn btn-default" type="button" ng-click="cancel()"><span data-translate="1.6">No</span></button>
    </div>
  </div>
</ng-form>

