<div class="form-group">
  <div class="col-xs-12">
    <input type="checkbox" ng-click="toggleMarkdown()" ng-model="params.mardownOnly">
    <span data-translate="6288">Show Markdown Items</span>
  </div>
</div>
<div class="btn-group btn-group-responsive btn-33" ng-class="{'top-margin20':params.hideSubsidiarySelection}" role="group" ng-if="params.useDefaultFilters">
  <button type="button" class="btn btn-info" ng-class="{'active':(defaultFiltersSettings.resultState === 1)}" ng-click="defaultFiltersSettings.setResultState(1)" ng-disabled="params.mardownOnly || defaultFiltersSettings.resultState === 1">
    <span data-translate="586">Active</span>
  </button>
  <button type="button" class="btn btn-info" ng-class="{'active':(defaultFiltersSettings.resultState === 0)}" ng-click="defaultFiltersSettings.setResultState(0)" ng-disabled="params.mardownOnly || defaultFiltersSettings.resultState === 0">
    <span data-translate="2916">Inactive</span>
  </button>
  <button type="button" class="btn btn-info" ng-class="{'active':(defaultFiltersSettings.resultState === 2)}" ng-click="defaultFiltersSettings.setResultState(2)" ng-disabled="params.mardownOnly || defaultFiltersSettings.resultState === 2">
    <span data-translate="1143">All</span>
  </button>
</div>
<hr>
<div class="row form-group">
  <div class="col-xs-6" ng-class="{'header-view': isHeaderView('header')}">
    <label class="control-label" data-translate="2726">Search By:</label>
    <select class="form-control" ng-disabled="params.mardownOnly" ng-model="activeField" ng-change="addSearchField(s)" ng-options="s as s.name | translate for s in searchColumns">
      <option value="undefined" style="display:none" data-translate="1358">Select...</option>
    </select>
  </div>
  <div class="col-xs-6 text-right" ng-if="showSpecificSearchCheckbox">
    <div class="specific-search-checkbox">
      <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-disabled="params.mardownOnly" ng-click="toggleSpecificSearch();" ng-model="params.specificSearch">
      <span data-translate="3776">Specific Search</span>
    </div>
  </div>
</div>
<div class="row" ng-show="searchFields.length>0&&!(params.view==='header')">
  <div class="col-xs-12">
    <label class="control-label" data-translate="2728">Parameters</label>
  </div>
</div>
<div class="autoOverflow form-group row" ng-class="{'height40': isHeaderView(''), 'height5 no-margin': isHeaderView('header')}">
  <div ng-if="!processing" ng-repeat="field in searchFields track by $index">
    <div class="row form-group">
      <div class="col-xs-12">
        <div class="row" ng-if="!(params.view==='header')">
          <div class="col-xs-12">
            <button ng-if="!(params.view==='header')" ng-disabled="params.mardownOnly" class="btn btn-default" ng-click="addSearchField(field, $event)" type="button"><span class="glyphicon glyphicon-plus"></span></button> <label ng-if="!(params.view==='header')" class="control-label">{{field.name | translate}}</label>
          </div>
        </div>
        <div class="row" ng-class="{'header-view': isHeaderView('header')}" ng-repeat="sValue in field.searchValues track by $index">
          <div class="col-xs-10">
            <select-subsidiary ng-if="['sbssid'].indexOf(field.field.toLowerCase()) !== -1" on-blur="buildQuery" ng-required="false" subsidiary="field.searchValues[$index]" title="{{field.name | translate}}"></select-subsidiary>

            <input type="text" class="form-control" ng-if="field.datatype && numberDataTypes.indexOf(field.datatype.toLowerCase())===-1" ng-disabled="params.mardownOnly" ng-keydown="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">

            <input type="text" class="form-control" ng-if="field.datatype && field.datatype.toLowerCase()==='currency'" ng-disabled="params.mardownOnly" numberonly="undefined" data-currency-formatter="cost" ng-keydown="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">

            <select class="form-control" ng-if="field.datatype && ['boolean', 'active'].indexOf(field.datatype.toLowerCase()) !== -1" ng-disabled="params.mardownOnly" ng-keydown="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" ng-options="x.value as x.name | translate for x in [{name:'No', value:false},{name:'Yes', value:true}]">
              <option value="undefined" style="display:none" data-translate="1358">Select...</option>
            </select>

            <input type="tel" class="form-control" ng-if="(numberDataTypes.indexOf(field.datatype.toLowerCase()) > -1) && (['boolean', 'currency', 'active'].indexOf(field.datatype.toLowerCase()) === -1)" ng-disabled="params.mardownOnly" numberonly="" ng-keydown="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">

          </div>
          <div class="col-xs-2 text-right">
            <button class="btn btn-default filter-remove" ng-click="removeSearchField(field,$index,$parent.$index)" ng-disabled="params.mardownOnly" type="button"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="advSearchBtns">
  <div class="col-xs-12 text-right" ng-if="!(params.view==='header')">
    <button ng-click="clear();" class="btn btn-default" data-translate="1335" type="button">Clear</button>
    <button ng-click="searchAction();" ng-if="performSearch" ng-disabled="searching||(params.disableSearchButton && params.disableSearchButton())" class="btn btn-default" data-translate="630" type="button">Search</button>
  </div>
</div>
