<div>
  <div ng-if="mode==='edit'&&display==='block'">
    <label class="control-label" data-translate="3826">PO No</label>
    <input type="text" ng-readonly="purchaseOrder.saving" ng-blur="saveField()" maxlength="20" ng-pattern="pattern" enter-blur="undefined" ng-required="purchaseOrder.active.status===1" ng-disabled="!purchaseOrder.isEdit||pono_disabled" ng-model="purchaseOrder.active.pono" class="form-control {{fieldClass}}">
  </div>
  <div ng-if="mode==='edit'&&display==='inline'">
    <div class="row">
      <div class="col-xs-6">
        <label class="control-label" data-translate="3880">PO Number</label>
      </div>
      <div class="col-xs-6">
        <input type="text" ng-required="true" enter-blur="undefined" maxlength="20" ng-readonly="purchaseOrder.saving" ng-disabled="!purchaseOrder.isEdit||pono_disabled" ng-model="purchaseOrder.active.pono" class="form-control">
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='block'">
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label" data-translate="3880">PO Number</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{purchaseOrder.active.pono}}
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='inline'">
    <label class="control-label" data-translate="3880">PO Number</label>
    <span>{{purchaseOrder.active.pono}}</span>
  </div>
</div>
