<div>
  <div class="row form-group">
    <div class="col-xs-6">
      <label class="control-label">{{label}}</label>

    </div>
    <div class="col-xs-6 text-right" ng-if="!isDisabled">
      <a href="javascript:void(0)" ng-if="collection.length!==model.length" data-translate="6457" ng-click="setCheckAll()">Check All</a>
      <a href="javascript:void(0)" ng-if="collection.length===model.length" data-translate="6458" ng-click="setCheckAll(true)">Check None</a>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-4" ng-if="filterControls">
      <input type="text" ng-keyup="applyFilter()" ng-model="txtFilter.value" placeholder="{{ '635' | translate }}" class="form-control">
    </div>
    <div class="col-xs-8">
      <button type="button" class="btn btn-default" ng-click="applyCheckedFilter()">Checked</button>
      <button type="button" class="btn btn-default" ng-click="applyUncheckedFilter()">Unchecked</button>
      <button type="button" class="btn btn-default" ng-click="clearFilter();">All</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group check-list" ng-class="{'ng-invalid':notValid}" style="height:{{height}}">
        <li class="list-group-item" ng-repeat="x in collection" ng-show="!isFiltered(x)" ng-class="{'gray-bg':($index%2)}">
          <label class="control-label">
            <input type="checkbox" ng-disabled="x.disabled||isDisabled" checklist-model="model" checklist-value="x[checkValue]">
            <span>{{x[checkTxt]}}</span>
            <span ng-if="x.disabled&&timer" style="color:orange" class="glyphicon glyphicon-flash"></span>
            <span ng-if="x.disabled&&!timer" class="glyphicon glyphicon-flash"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>

