<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title" data-translate="7248">Change Location</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row col-xs-9">
        <label data-translate="562">Subsidiary</label>
        <select-subsidiary2 subsidiary="currentSubsidiary" perm2subsidiary="perm2List.perm2subsidiary" perm2store="perm2List.perm2store" asklayout="resourcesFilterCtrl.asklayout" disable="meSelectSubsidiaryDisabled">
        </select-subsidiary2>
      </div>
      <div class="row col-xs-9">
        <div>
          <div ng-if="(resourcesFilterCtrl.asklayout!==1) && (resourcesFilterCtrl.asklayout!==3)">
            <label data-translate="683">Store</label>
          </div>
          <select-store2 subsidiary="currentSubsidiary" store="currentStore" perm2subsidiary="perm2List.perm2subsidiary" perm2store="perm2List.perm2store" asklayout="resourcesFilterCtrl.asklayout" auto-select-store="true" disable="meSelectStoreDisabled">
          </select-store2>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info pull-left" ng-disabled="" ng-click="onHome()">
      <span class="glyphicon glyphicon-home"></span>
    </button>
    <button class="btn btn-info" type="button" ng-click="onOk()" data-translate="1.1">Ok</button>
    <button class="btn btn-info" type="button" ng-click="onCancel()" data-translate="1.2">Cancel</button>
  </div>
</div>
