<div class="panel-heading">
  <div class="row">
    <div class="col-xs-6">
      <button type="button" class="btn btn-default btn-block" ng-disabled="!$ctrl.service.disableOnReadOnlyMode()" ng-click="$ctrl.flipGrid()">
        <strong data-translate="7138">Pivot</strong>
      </button>
    </div>
    <div class="col-xs-6">
      <rp-select-input repeater-data="$ctrl.invnStyleService.gridValType.listData" ng-model="$ctrl.invnStyleService.gridValObj" default-obj="$ctrl.invnStyleService.gridValObj" key-string="$ctrl.invnStyleService.gridValType.textKey" is-disabled="$ctrl.disable" ng-change="$ctrl.changeGridValType()" filter-string="$ctrl.invnStyleService.gridValType.searchString" required="true">
      </rp-select-input>
    </div>
  </div>
</div>
<div class="panel-body">
  <div ng-if="$ctrl.gridOptions.data.length>0">
    <div class="row">
      <div class="col-xs-11 col-xs-offset-1">
        <h3>{{$ctrl.invnStyleService.colHeaderName}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1" style="width: 2%">
        <div class="flip-text" style="margin-top: 95px;margin-right: 5px;">
          <h3>{{$ctrl.invnStyleService.rowHeaderName}}</h3>
        </div>
      </div>
      <div class="col-xs-11" style="width: 98%">
        <div ui-grid="$ctrl.gridOptions" ui-grid-cellnav="" ui-grid-edit="" ui-grid-row-edit=""></div>
      </div>
    </div>
    <div class="row" ng-if="!$ctrl.invnStyleService.gridValObj.editable">
      <div class="col-xs-12">
        <div class="panel-footer" style="font-weight: bold;">
          {{$ctrl.invnStyleService.gridValObj.name}} <span data-translate="7178"> is read only</span>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!$ctrl.gridOptions.data" style="text-align: center">
    <img src="/api-explorer/img/ajax-loader.gif" style="height:50px;width:50px;position:relative;top:200px;" class="glyphicon glyphicon-refresh">
  </div>
</div>
