<div class="col-xs-3 no-left-padding">
  <label data-translate="2732">Department</label>
</div>
<div class="col-xs-4">
  <input ng-disabled="true" type="text" ng-model="$ctrl.service.dcs.data.dname" class="form-control" id="imi-dept">
</div>
