<button type="button" id="slipAdvItemLookup" name="slipAdvItemLookup" class="btn btn-info" ng-click="searchBtn.open()" ng-disabled="(searchBtn.transferSlip.slip.status!==3)||(!searchBtn.transferSlip.isEdit)||(searchBtn.transferSlip.saving)">
  <span class="glyphicon glyphicon-search"></span>
</button>
