<div>
  <label class="control-label" data-translate="541">Postal Code</label>
  <input type="text" class="form-control" maxlength="10" ng-required="pCode.ngRequired" ng-model="pCode.ngModel" ng-disabled="pCode.ngDisabled" ng-keypress="lookupPostalCode($event)">
</div>
