<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label">
                  <input type="checkbox" ng-model="pData.pos_hardware_cash_drawer_status_enabled.value">
                  <span data-translate="5294">Cash Drawer Status Enabled</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label">
                <input type="checkbox" ng-model="pData.pos_hardware_use_wedge_barcode_scanner.value">
                <span data-translate="5874">Use Wedge Barcode Scanner</span>
              </label>
            </div>
          </div>
        </div>
    </div>
</ng-form>
