<div class="modal-content">
    <div class="modal-header">
        <h4 data-translate="4770">Adjustment Memo Details</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <!-- <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <am-memono label-width="5" field-width="7"></am-memono>
                            </div>
                            <div class="row">
                                <am-memosource label-width="5" field-width="7"></am-memosource>
                            </div>
                            <div class="row">
                                <am-memotype label-width="5" field-width="7"></am-memotype>
                            </div>
                            <div class="row">
                                <am-sourcedocno label-width="5" field-width="7"></am-sourcedocno>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <am-createddatetime label-width="5" field-width="7"></am-createddatetime>
                            </div>
                            <div class="row">
                                <am-modifieddatetime label-width="5" field-width="7"></am-modifieddatetime>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <am-memostatus label-width="5" field-width="7"></am-memostatus>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                &nbsp;
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="{{(x.active)?'active':''}}" ng-repeat="x in tabs">
                            <a ng-click="setTab(x)">
                                {{x.txt | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row" ng-if="selectedTab==='general'">
                <div class="col-xs-12">
                    <am-details-general></am-details-general>
                </div>
            </div> -->
            <div class="row" ng-if="selectedTab==='comments'">
                <div class="col-xs-12">
                    <am-details-comments></am-details-comments>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
        <modal-close-button></modal-close-button>
    </div>
</div>
