<div class="modal-content">
    <div class="modal-header">
        <h4 data-translate="5600">Lot Number Lookup</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-xs-4">
                <advanced-search-filter params="filterSettings"></advanced-search-filter>
            </div>
            <div class="col-xs-8" ui-i18n="{{lang}}">
                <div id="grid1" class="grid" ui-grid="lnGridOptions" ui-grid-resize-columns ui-grid-cellnav ui-grid-edit ui-grid-selection>
                    <prism-ajax-loader ng-if="state.gridLoadMsg.showLoader" loader-title="state.gridLoadMsg.title" loader-message="state.gridLoadMsg.message"></prism-ajax-loader>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left">
                <div class="col-xs-4" ng-if="lnGridOptions.data"><span data-translate="2893">Total Records: </span> {{totalRecords}}</div>
                <div class="col-xs-3" ng-if="lnGridOptions.data"><span data-translate="3332">Selected: </span> {{gridApi.selection.getSelectedRows().length}}</div>
                <div ng-if="lnGridOptions.data.length===0"><span data-translate="2894">No records found.</span></div>
            </div>
            <div class="col-xs-8 text-center">
                <paging-control ng-if="showPaging()" grid-reference="gridApi" total-records="totalRecords" results-per-page="pageSize" call-back="getData"></paging-control>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
        <button event-name="invnLnNewSerNo" type="button" id="invnLnNewSerNo" name="invnLnNewSerNo" class="btn btn-info" data-permission="inventoryitemalloweditserialandlotnumber" data-permission-disabled="!allowEdit" ng-click="newLotNo()">
                <span data-translate="581">New</span>
        </button>
        <button event-name="invnLnEditSerNo" type="button" id="invnLnEditSerNo" name="invnLnEditSerNo" class="btn btn-info" data-permission="inventoryitemalloweditserialandlotnumber" data-permission-disabled="!allowEdit||gridApi.selection.getSelectedRows().length===0" ng-click="editLotNo()">
                <span data-translate="774">Edit</span>
        </button>
       <!-- <button event-name="lnLookupSelectItem"
                type="button"
                id="lnLookupSelectItem"
                name="lnLookupSelectItem"
                class="btn btn-info"
                ng-disabled="allowEdit||gridApi.selection.getSelectedRows().length===0"
                ng-click="selectLnItem()">
                <span data-translate="1416">Select Item</span>
        </button>-->
        <button class="btn btn-info" type="button" id="invnLnCloseBtn" ng-click="closeLnLookup()">
                <span data-translate="583">Close</span>
        </button>
    </div>
</div>
