<a name="link{{$index}}" id="searchTransactionItemsResult{{$index}}" ng-repeat="thisTransactionItem in docInfo.Items" data-item-group="" bind-buttons="" index="{{$index}}" ng-class="{'list-group-item':true, 'header':thisTransactionItem.kit_flag == 3, 'component':thisTransactionItem.kit_flag == 5}" ng-click="selectTransactionItem($index)" ng-dblclick="viewTransactionItem($index)">
  <div class="row">
    <div class="col-xs-4">
      {{ thisTransactionItem.item_description1 }}
    </div>
    <div class="col-xs-4">
      <strong data-translate="677">UPC:</strong> {{ thisTransactionItem.scan_upc|padUPC }}
    </div>
    <div class="col-xs-3">
      <strong data-translate="542">Type:</strong> {{ thisTransactionItem.item_type|itemTypeName : thisTransactionItem.order_type | translate }}
    </div>
    <div class="col-xs-1 text-danger text-center" ng-if="(thisTransactionItem.item_type !== 3 && ((thisTransactionItem.serial_type===2 && !thisTransactionItem.serial_number) || (thisTransactionItem.lot_type === 8 && !thisTransactionItem.lot_number))) || ((thisTransactionItem.lot_type === 4) && (!thisTransactionItem.lot_number) && (lotNoIsRequired(thisTransactionItem)))">
      <img src="images/pos/incomplete.png" height="22" width="22">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <strong data-translate="772">Quantity:</strong> {{thisTransactionItem.quantity|number:thisTransactionItem.inventory_use_quantity_decimals}}
    </div>
    <div class="col-xs-4">
      <strong data-translate="773">Price:</strong> {{ thisTransactionItem.price|currency }}
    </div>
    <div class="col-xs-4">
      <strong data-translate="771">Disc %:</strong> {{ thisTransactionItem.discount_perc|number:2 }}
      <!--  changed due to #14954
      <span ng-if="thisTransactionItem.discount_perc<customer.suggested_discount_percent&&thisTransactionItem.discount_perc!=0&&thisTransactionItem.kit_flag===0"><em style="color:red">Max</em></span> -->
      <span ng-if="(thisTransactionItem.maxaccumdiscpercent !== 0 && thisTransactionItem.discount_perc >= thisTransactionItem.maxaccumdiscpercent) || (thisTransactionItem.maxaccumdiscpercent === 0 && thisTransactionItem.discount_perc >= thisTransactionItem.maxdiscpercent)"><em style="color:red">Max</em></span>
    </div>
  </div>
  <kitflags template="kit-flags-template.htm"></kitflags>
</a>
