
<ng-form name="po_form">
  <div class="row" ng-if="purchaseOrder.active">
    <div class="col-xs-12">
      <po-info></po-info>
    </div>
  </div>
  <div class="row" ng-if="purchaseOrder.active">
    <div class="col-xs-12">
      <po-main></po-main>
    </div>
  </div>
  <div class="row">
    <action-button-bar ng-if="poButtons" action-bar="poButtons"></action-button-bar>
  </div>
</ng-form>
