<div>
  <div ng-if="mode==='edit'&&display==='block'">
    <label class="control-label" data-translate="4024">Terms</label>
    <select ng-disabled="!purchaseOrder.active.vendorsid||!purchaseOrder.isEdit||vendorterms_disabled" type="text" class="form-control" ng-model="purchaseOrder.active.clerksid" ng-options="x.term_number as x for x in purchaseOrder.terms">
      <option value="undefined" style="display:none;"><span data-translate="1358">Select...</span></option>
      </select>
  </div>
  <div ng-if="mode==='edit'&&display==='inline'">
    <div class="row">
      <div class="col-xs-6">
        <label class="control-label" data-translate="4024">Terms</label>
      </div>
      <div class="col-xs-6">
        <select ng-disabled="!purchaseOrder.active.vendorsid||!purchaseOrder.isEdit||vendorterms_disabled" type="text" class="form-control" ng-model="purchaseOrder.active.clerksid" ng-options="x.term_number as x for x in purchaseOrder.terms">
          <option value="undefined" style="display:none;"><span data-translate="1358">Select...</span></option>
        </select>
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='block'">
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label" data-translate="4024">Terms</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='inline'">
    <label class="control-label" data-translate="4024">Terms</label>
    <span>{{purchaseOrder.active.vendorsid}}</span>
  </div>
</div>
