<div class="row form-group">
  <div class="col-xs-12">
    <img ng-src="{{field.image}}" ng-disabled="field.stateParams.mode==='view'" ng-click="field.editCustomerImage()" event-name="customerAddImage" style="vertical-align:top;height:125px;" class="panel panel-default" ng-class="{'panel-invalid':!field.service.imageValid, 'cursor-pointer':field.stateParams.mode!=='view'}" err-src="images/nocustimage256.png">
  </div>
</div>
