<label for="itemNonCommitted" class="checkbox-container">
  <input name="itemNonCommitted" id="itemNonCommitted" tabindex="21" type="checkbox" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" ng-true-value="true" ng-false-value="false" class="large-input-field margin-right-5" ng-model="$ctrl.service.item.noncommitted">
  <span data-translate="5896">Skip Committed</span>
</label>
