<div>
  <init-start-prism close="init.close" dismiss="init.dismiss" ng-if="init.sp.type==='prism'"></init-start-prism>
  <init-start-v9 close="init.close" dismiss="init.dismiss" ng-if="init.sp.type==='ril'"></init-start-v9>
</div>
