<ng-form name="exConn.form">
<div class="row form-group">
  <div class="col-xs-4">
    <label class="control-label">
      <span data-translate="6812">Select Server</span>
    </label>
    <select ng-model="exConn.v9Controller" ng-required="true" class="form-control" ng-options="x as x.v9address for x in exConn.v9Servers"></select>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-right">
    <button class="btn btn-default" ng-click="exConn.cancel()"><span data-translate="1.2">Cancel</span></button>
    <button class="btn btn-default" ng-disabled="!exConn.form.$valid" ng-click="exConn.connect()"><span data-translate="6441">Connect</span></button>
  </div>
</div>
</ng-form>
