<fieldset> <!-- ng-disabled="contact.mode==='view'" -->
  <div ng-if="contact.customer.active.originapplication">
    <div class="row form-group">
      <div class="col-xs-12 text-left">
        <child-resource-form child-validator ng-required="contact.adrRequired" label="'Addresses'" disable-edit="contact.customer.mode==='view'" permission-edit="'customerseditaddresses'" form-component="'<customer-address-form></customer-address-form>'" list-component="'<customer-addresses></customer-addresses>'" parent-form="contact.customer.formState" ng-model="contact.customer.active.custaddress">
        </child-resource-form>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 text-left">
        <child-resource-form child-validator ng-required="contact.phnRequired" label="'Phones'" disable-edit="contact.customer.mode==='view'" permission-edit="'customerseditaddresses'" form-component="'<customer-phones-form></customer-phones-form>'" list-component="'<customer-phones></customer-phones>'" parent-form="contact.customer.formState" ng-model="contact.customer.active.custphone">
        </child-resource-form>
      </div>
      <div class="col-xs-12 text-left">
        <child-resource-form child-validator ng-required="contact.emlRequired" label="'Emails'" disable-edit="contact.customer.mode==='view'" permission-edit="'customerseditaddresses'" form-component="'<customer-emails-form></customer-emails-form>'" list-component="'<customer-emails></customer-emails>'" parent-form="contact.customer.formState" ng-model="contact.customer.active.custemail">
        </child-resource-form>
      </div>
    </div>
  </div>
</fieldset>
