<div>
    <label class="control-label">
      <button type="button" data-permission="poinactivatedelete" class="btn btn-info {{fieldClass}}" permission-disabled="purchaseOrder.active.status===0" ng-click="setActive()">
        <img ng-if="!purchaseOrder.active.active" src="../../../../../images/unchecked_32.png">
        <img ng-if="purchaseOrder.active.active" src="../../../../../images/checked_32.png">
        <span data-translate="586">Active</span>
      </button>
    </label>
</div>
