<div class="panel panel-default" style="margin-bottom: 0">
    <div class="panel-heading">
        <h3 data-translate="{{$ctrl.resolve.title}}"></h3>
    </div>
    <div class="panel-body" style="padding:1em">
        <span data-translate="{{$ctrl.resolve.body}}"></span>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                  <button class="btn btn-default" ng-click="$ctrl.close()"><span data-translate="1.5">Yes</span></button>
                  <button class="btn btn-default" ng-click="$ctrl.dismiss()"><span data-translate="6960">No</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
