<select id="sortOrder" tabindex="3" class="form-control" ng-model="search.sort_order" ng-change="updateSort()">
  <option value="asc" data-translate="1459">Ascending</option>
  <option value="desc" data-translate="1460">Descending</option>
</select>
