<fieldset ng-disabled="groups.viewOnly">
<div class="row form-group" ng-if="groups.service.active.usergroupuser">
  <div class="col-xs-12">
    <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-disabled="!groups.activegroup" ng-click="groups.permissionModal(groups.activegroup)"><span class="glyphicon glyphicon-info-sign"></span></button>
          </span>
      <select class="form-control" ng-model="groups.activegroup" ng-options="s as s.usergroupname for s in groups.availableGroups">
        <option value="" style="display:none" data-translate="1358">Select...</option>
      </select>
      <span class="input-group-btn">
            <button class="btn btn-success" ng-disabled="!groups.activegroup" ng-click="groups.addGroup(groups.activegroup);">
              <span class="glyphicon glyphicon-check"></span>
              <span data-translate="6477">Assign Group</span>
            </button>
          </span>
    </div>
  </div>
  <div class="col-xs-4">

  </div>
</div>
<div class="row form-group">
  <div class="col-xs-12">
    <h4 style="margin-bottom:0px;padding:0px;">Groups</h4>
    <hr style="margin:2px;padding:0">
    <div class="well well-sm" ng-if="groups.service.active.usergroupuser.length===0">
      <em data-translate="6478">This user is not assigned to any groups.</em>
    </div>
    <div class="well well-sm" ng-repeat="s in groups.usergroupuser" ng-if="groups.usergroupuser.length>0">
      <div class="row">
        <div class="col-xs-6">
          <strong>{{s.usergroupname}}</strong> - {{s.description}}
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-default" ng-click="groups.permissionModal(s)">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span data-translate="2018">Permissions</span>
          </button>
          <button class="btn btn-default" ng-click="groups.removeGroup($index)">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span data-translate="1523">Remove</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

</fieldset>
