<div class="panel panel-default">
  <div class="panel-heading">New Store</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading" data-translate="685">
            Store Information
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="storeNumber" data-translate="1635">Number</label>
                  <input type="number" disabled="disabled" class="form-control" id="storeNumber">
                </div>
              </div>
              <div class="col-xs-8">
                <div class="form-group">
                  <label for="storeName" data-translate="1636">Name</label>
                  <input type="text" maxlength="40" required class="form-control" ng-model="store.storename" id="storeName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="storeCode" data-translate="563">Store Code</label>
                  <input type="text" maxlength="3" required class="form-control" ng-model="store.storecode" id="storeCode">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="store.active"> <span data-translate="586">Active</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="address1" data-translate="536">Address 1</label>
              <input type="text" maxlength="40" class="form-control" ng-model="store.address1" id="address1">
            </div>
            <div class="form-group">
              <label for="address2" data-translate="538">Address 2</label>
              <input type="text" maxlength="40" class="form-control" ng-model="store.address2" id="address2">
            </div>
            <div class="form-group">
              <label for="address3" data-translate="540">Address 3</label>
              <input type="text" maxlength="40" class="form-control" ng-model="store.address3" id="address3">
            </div>

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="postalCode" data-translate="541">Postal Code</label>
                  <input type="text" maxlength="10" class="form-control" ng-model="store.zip" id="postalCode">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="phone1" data-translate="1640">Phone 1</label>
                  <input type="text" maxlength="15" class="form-control" ng-model="store.phone1" id="phone1">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="phone2" data-translate="1641">Phone 2</label>
                  <input type="text" maxlength="15" class="form-control" ng-model="store.phone2" id="phone2">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="serverAddress" data-translate="1021">Server Address</label>
              <input type="text" class="form-control" ng-model="store.serveraddress" id="serverAddress">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading" data-translate="1646">
            Override Global Settings
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="subsidiary" data-translate="562">Subsidiary</label>
              <input type="text" id="subsidiary" class="form-control" disabled="disabled" ng-model="subsidiary.name">
            </div>
            <div class="form-group">
              <label for="tax_area_1" data-translate="1642">Tax Area 1</label>
              <select class="form-control" id="tax_area_1" ng-options="s.sid as s.tax_area_name for s in taxareas" ng-model="store.taxareasid">
                <option style="display:none" value="" data-translate="1643">None</option>
              </select>
            </div>
            <div class="form-group">
              <label for="tax_area_2" data-translate="1644">Tax Area 2</label>
              <select class="form-control" id="tax_area_2" ng-options="s.sid as s.tax_area_name for s in taxareas" ng-model="store.taxarea2sid">
                <option style="display:none" value="" data-translate="1643">None</option>
              </select>
            </div>
            <div class="form-group">
              <label for="price_level" data-translate="1645">Price Level</label>
              <select ng-model="store.activepricelvlsid" id="price_level" ng-options="s.sid as s.pricelvlname for s in pricelevels" class="form-control">
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div col-xs-12>
        <div class="pull-right">
          <button type="button" class="btn btn-primary" ng-disabled="(store.storename == null || store.storecode == null)" ng-click="save()"><span data-translate="1514">Save &amp; Exit</span></button>
          <button type="button" class="btn btn-primary" ng-click="exit()"><span data-translate="0.1">Exit</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
