<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <item-search ng-show="(transferSlip.slip.status===3&&transferSlip.isEdit)"></item-search>
                <input ng-show="transferSlip.slip.status!==3||!transferSlip.isEdit" type="text" class="form-control" disabled="disabled">
            </div>
            <div class="col-xs-7">
                <slip-document-item-selection-button memo-sid="stateParams.sid" parent-grid-options="gridOptions">
                </slip-document-item-selection-button>
                <slip-details-button></slip-details-button>
                <slip-remove-item-button></slip-remove-item-button>
                <slip-item-details-button></slip-item-details-button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div class="padding-10">
                    <div class="row" ui-i18n="{{lang}}">
                        <div ui-grid-resize-columns="" ng-if="transferSlip.isEdit&&gridOptions&&transferSlip.slip.status===3" ui-grid-cellnav ui-grid-edit ui-grid-selection="" ui-grid="gridOptions" external-scopes="gridHandlers" class="grid slips-item-grid"></div>
                        <div ui-grid-resize-columns="" ng-if="(!transferSlip.isEdit||transferSlip.slip.status!==3)&&gridOptions" ui-grid-selection="" ui-grid="gridOptions" external-scopes="gridHandlers" class="grid slips-item-grid"></div>
                    </div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-12 text-center">
                    <paging-control ng-if="transferSlip.totalItems > 20" results-per-page="20" grid-reference="gridApi" call-back="getPage" total-records="transferSlip.totalItems"></paging-control>
                  </div>
                </div>
                <div class="row margbot-3p" style="width:99.8%;">
                    <slip-summary></slip-summary>
                </div>
            </div>
        </div>
    </div>
    <prism-ajax-loader ng-if="prismAjaxLoader.handler" loader-title="prismAjaxLoader.title" loader-message="prismAjaxLoader.message"></prism-ajax-loader>
</div>
