<div class="col-xs-12 no-padding"> <!-- *** Main Inventory Item Details *** -->
    <div class="row row-container mobile-screen-title">
        <div class="col-xs-12">
            <span data-translate="765">Item Details</span>
        </div>
    </div>
    <div class="row row-container split-ui-tab-content single-tab">
        <div class="row top-margin20" style="padding: 0 10px;">
            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label data-translate="4375">DCS Code</label>
                        </div>
                        <div class="col-xs-6">
                            <invn-select-dcscode dcs="item.dcssid" on-dcs-change="onDcsChanged" disable="disable" list="[]"></invn-select-dcscode>
                        </div>
                        <div class="col-xs-3">
                            <create-department-button on-department-created-event="onNewDeptCode" disable="disable" sbs="sbsSid"></create-department-button>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label data-translate="3997">Vendor Code</label>
                        </div>
                        <div class="col-xs-6">
                            <select-vendor vendor="item.vendsid" refresh-list="refreshVendorDropdown" on-change="onVendorCodeChanged" disable="disable" sbs="sbsSid"></select-vendor>
                        </div>
                        <div class="col-xs-3">
                            <create-vendor-button on-vendor-created-event="onNewVendCode" disable="disable" sbs="sbsSid"></create-vendor-button>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label data-translate="2118">Description 1</label>
                        </div>
                        <div class="col-xs-9">
                            <input maxlength="30" required-box="" required-status="{{state.isFieldRequired('desc1')&&!disable}}" ng-disabled="disable" type="text" ng-model="item.description1" class="form-control" id="imi-description1">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label data-translate="2119">Description 2</label>
                        </div>
                        <div class="col-xs-9">
                            <input maxlength="30" required-box="" required-status="{{state.isFieldRequired('desc2')&&!disable}}" ng-disabled="disable" type="text" ng-model="item.description2" class="form-control" id="imi-description2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-margin" style="padding: 0 10px;">
            <div class="col-xs-8">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="3333">Attribute</label>
                        </div>
                        <div class="col-xs-7" style="margin-left: 1.8em;">
                            <input maxlength="8" ng-disabled="disable" type="text" ng-model="item.attribute" class="form-control" id="imi-attribute">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="679">Size</label>
                        </div>
                        <div class="col-xs-7" style="margin-left: 1.8em;">
                            <input maxlength="8" ng-disabled="disable" type="text" ng-model="item.itemsize" class="form-control" id="imi-itemsize">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="845">Store OH Qty</label>
                        </div>
                        <div class="col-xs-7" style="margin-left: 1.8em;">
                            <input ng-disabled="disable||state.isPermissionDenied('ohqty')||(!item.active)||(item.kittype > 0 && item.kittype < 3)||item.noninventory" enter-blur ng-blur="state.onQtyBlur($event)" type="tel" numberonly ng-model="item.actstrohqty" data-format-decimal="{{item.useqtydecimals||0}}" decimals="{{item.useqtydecimals||0}}" keep-neg-sign="true" class="form-control" id="imi-ohqty">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="2494">Cost</label>
                        </div>
                        <div class="col-xs-7" style="margin-left: 1.8em;">
                            <input ng-if="!state.isPermissionDenied('seecost')" ng-disabled="disable||state.isPermissionDenied('cost')||(!item.active)" type="text" ng-blur="state.onCostBlur($event)" numberonly data-currency-formatter="currency" ng-model="item.cost" class="form-control" id="imi-cost">
                            <input ng-if="state.isPermissionDenied('seecost')" ng-disabled="true" type="text" class="form-control" id="imi-cost">
                        </div>
                    </div>
                </div>
                <div class="row top-margin"> <!-- // Non-VAT -->
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="773.1">Price</label>
                        </div>
                        <div class="col-xs-7" style="margin-left: 1.8em;">
                            <input ng-disabled="disable||state.isPermissionDenied('price')||state.isVat||(!item.active)" type="text" ng-blur="state.onPriceBlur($event)" numberonly data-currency-formatter="currency" ng-model="item.actstrprice" class="form-control" id="imi-invnprice">
                        </div>
                    </div>
                </div>
                <div class="row top-margin"> <!-- // VAT -->
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="2788">Price with Tax</label>
                        </div>
                        <div class="col-xs-7" style="margin-left: 1.8em;">
                            <input ng-disabled="disable||state.isPermissionDenied('price')||!state.isVat||(!item.active)" type="text" ng-blur="state.onPriceBlur($event)" numberonly data-currency-formatter="currency" ng-model="item.actstrpricewt" class="form-control" id="imi-invnpricewt">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="677">UPC</label>
                        </div>
                        <div class="col-xs-7" style="margin-left: 1.8em;">
                            <input ng-disabled="disable" pattern="[0-9]*" maxlength="18" type="text" ng-blur="state.onUpcBlur($event)" ng-model="item.upc" class="form-control" id="imi-upc" format-upc>
                        </div>
                        <!--<div class="col-xs-4" ng-if="state.showUpcStatus()">
                            <div class="alert no-margin padding-5 text-center" ng-class="{'alert-danger':!state.upcStatus, 'alert-success':state.upcStatus}" role="alert">
                                <p ng-if="!state.upcStatus">UPC is invalid</p>
                                <p ng-if="state.upcStatus">UPC is valid</p>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="841">ALU</label>
                        </div>
                        <div class="col-xs-7" style="margin-left: 1.8em;">
                            <input maxlength="20" ng-disabled="disable" type="text" ng-model="item.alu" class="form-control" id="imi-alu">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="margin-top: .4em;">
                <!-- Images: Section Start-->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-translate="4666">Merchandise Images</h3>
                    </div>
                    <div class="panel-body height30" style="max-height:260px;">
                        <div class="row top-margin20">
                            <div class="col-xs-12">
                                <item-image item="item" id="selected-item-img" class="center-block responsive"></item-image>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
