<div>
    <label class="control-label" data-translate="4157">Carrier</label><br>
    <input type="text" maxlength="50" ng-disabled="!transferSlip.isEdit" ng-model="transferSlip.slip.carriername" ng-blur="saveCarrier()" class="form-control">
</div>
