<div>
  <div class="well well-sm" ng-if="msgDetail.totalRecords===0&&msgDetail.loaded">
    <em data-translate="5971">There are no messages for this resource</em>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <label class="control-label">
        <input type="checkbox" ng-click="msgDetail.filterMessages()" ng-model="msgDetail.showSuccess"> <span data-translate="6307">Show Successful Messages</span>
      </label>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <div ng-if="!msgDetail.activeMsg&&msgDetail.totalRecords!==0" ui-grid-resize-columns="" ui-grid-save-state="" ui-grid-selection="" id="messageGrid" ui-grid="msgDetail.messageGridOptions" external-scopes="gridHandlers"></div>
      <div ng-if="msgDetail.activeMsg" class="json-tree well well-sm">
        <json-tree json="msgDetail.activeMsg" collapsed-level="2"></json-tree>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-3 text-left">
      <button ng-if="!msgDetail.activeMsg&&!msgDetail.replicationStatus.getRemoteFlg()" ng-disabled="msgDetail.processing||msgDetail.selectedRows.length===0||!msgDetail.selectedRows" class="btn btn-default" ng-click="msgDetail.reprocessBatch()">
        <span class="glyphicon glyphicon-refresh" ng-if="!msgDetail.processing"></span>
        <img src="images/ajax-loader.gif" style="height:15px;width:15px;position:relative;top:-3px;" class="glyphicon glyphicon-refresh" ng-if="msgDetail.processing">
        <span data-translate="2200">Reprocess Selected</span>
      </button>
    </div>
    <div class="col-xs-6">
      <paging-control ng-if="msgDetail.messages.length>0&&!msgDetail.activeMsg&&!msgDetail.filtering" results-per-page="30" total-records="msgDetail.totalRecords" call-back="msgDetail.getMessages"></paging-control>
    </div>
  </div>
</div>
