<div class="row top-margin">
  <div class="col-xs-{{labelWidth}} text-left">
    <label class="control-label" data-translate="722">Tax Area 2</label>
  </div>
  <div class="col-xs-{{fieldWidth}}">
    <span>{{adjMemo.memo.taxarea2}}</span>
  </div>
</div>
