<div class="row">
    <div class="col-xs-6 cm-strong" data-translate="4716">Old Cost</div>
    <div ng-if="adjMemo.canSeeCost" class="col-xs-6 text-right">{{adjMemo.memo.totorigextcost||0 | currency}}</div>
    <div ng-if="!adjMemo.canSeeCost" class="col-xs-6 text-right">********</div>
</div>