<div class="modal-content">
    <div class="modal-header">
        <h4 data-translate="4169">Transfer Slip Details</h4>
    </div>
    <div class="modal-body" style="min-height:550px;">
        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="{{(x.active)?'active':''}}" ng-repeat="x in tabs">
                        <a ng-click="setTab(x)">
                            {{x.txt | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <slip-details-general ng-show="activeTab==='general'"></slip-details-general>
                <slip-details-comments ng-show="activeTab==='comments'" slipsid="transferSlip.slip.sid"></slip-details-comments>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
      <button type="button" class="btn btn-info" ng-click="closeDetails();">
        <span data-translate="583">Close</span>
      </button>
    </div>
</div>
