<div id="{{cId}}_bg" class="clear_bg" ng-show="calendar_on.stat"></div>
<div class="rp-datepicker">
    <div class="row">
        <div class="btn-group col-xs-12" ng-if="original==''">
            <button type="button" id="t{{cId}}" ng-click="calToggle($event);" class="btn btn-primary col-xs-10">{{displayDate}}</button>
            <button type="button" ng-click="reset();" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span></button>
        </div>
        <div class="btn-group col-xs-12" id="t{{cId}}" ng-if="original!=''">
            <button type="button" ng-click="calToggle($event);" class="btn btn-primary col-xs-12">{{displayDate}}</button>
        </div>
    </div>
    <div class="row panel panel-default" id="{{cId}}" ng-show="calendar_on.stat"
         style="position:absolute;z-index:9999999;margin:0 0 0 -5px;padding:0;">
        <div class="panel-body">
            <table class="table table-responsive table-condensed" style="margin:0 auto;">
                <thead>
                    <tr>
                        <td colspan="7">
                            <div class="form-inline text-center">
                                <li class="dropdown">
                                    <button class="dropdown-toggle btn btn-primary">
                                        <span data-translate="{{dInfo.months[dInfo.month].month}}">{{dInfo.months[dInfo.month].month}}</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="x in dInfo.months">
                                            <a class="month_opt" ng-click="setMonth(x.index)"><span data-translate="{{x.month}}">{{x.month}}</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <button class="dropdown-toggle btn btn-primary">
                                        {{dInfo.year}}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="x in dInfo.years">
                                            <a class="year_opt" ng-click="setYears(x)">{{x}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" ng-show="isTime">
                                    <button class="dropdown-toggle btn btn-primary">
                                        {{dInfo.hour}}
                                    </button> :
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="x in dInfo.hours">
                                            <a class="hour_opt" ng-click="setHours(x)">{{x.txt}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" ng-show="isTime">
                                    <button class="dropdown-toggle btn btn-primary">
                                        {{dInfo.minute}}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="x in dInfo.minutes">
                                            <a class="min_opt" ng-click="setMinutes(x)">{{x}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" ng-if="timePref==0" ng-show="isTime">
                                    <button ng-click="setAmPm()" class=" btn btn-primary ampm_opt">
                                        {{dInfo.ampm}}
                                    </button>
                                </li>
                                <li class="dropdown" ng-if="timePref==0" ng-show="isTime">
                                    <button ng-click="clear()" class=" btn btn-primary">
                                        X
                                    </button>
                                </li>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in days track by $index">
                        <td ng-repeat="y in x">
                            <button ng-click="selectDate(y.date_obj)" class="btn btn-block {{btnClass}} btn-primary {{y.active}}">{{y.date_str}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>