<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="588">Title</label>
    <select id="titleType" name="titleType" class="form-control" ng-model="field.service.active.titlesid" ng-options="t.value as t.name for t in field.titleTypes">
    </select>
  </div>
</div>
