<div>
    <div class="row" ng-show="item.ordqtystatus">
        <div class="col-xs-12">
            <div class="alert alert-warning" role="alert"><strong data-translate="5438">Current document quantity is greater than the source store on hand quantity!</strong></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-4">
                    <label data-translate="5241">TO Doc Qty</label>
                </div>
                <div class="col-xs-8">
                    <input type="text" use-qty-decimals numberonly decimals="{{item._useqtydecimals}}" ng-blur="onElementBlur($event)" enter-blur="" ng-disabled="readOnly" ng-focus="onElementFocus()" ng-model="item.ordqty" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-4">
                    <label data-translate="5242">From Store OH Qty</label>
                </div>
                <div class="col-xs-8">
                    <input type="text" ng-blur="onElementBlur($event)" enter-blur="" ng-disabled="readOnly" ng-focus="onElementFocus()" ng-model="item.sourcestoreohqty" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <to-item-allocation ng-if="state.stores.length > 0" item="item" refresh-content="state.refreshAllocationGrid" stores="state.stores"></to-item-allocation>
        </div>
    </div>
</div>
