<div class="row row-container">
  <div class="panel panel-default" ng-class="{'panel-invalid':!children.ngModel.length&&children.ngRequired}">
    <div class="panel-footer" style="border-top-right-radius:3px;padding:3px;border-top-left-radius:3px;margin:-1px;">
      <div class="row">
          <div class="col-xs-4 text-left">
            <button class="btn btn-default" ng-disabled="children.activeIndex===0||!children.ngModel.length" ng-click="children.previous()">
              <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button class="btn btn-default" ng-disabled="children.activeIndex===children.ngModel.length-1||children.ngModel.length<=1" ng-click="children.next()">
              <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
          </div>

          <div class="col-xs-4 text-center">
            <label class="control-label">{{children.label | translate}}</label>
            <div class="badge-info badge" style="margin-top:5px; margin-left:5px;" ng-if="children.ngModel.length">{{children.ngModel.length}}</div>
          </div>

          <div class="col-xs-4 text-right">
            <div class="btn-group" ng-if="children.permissionEdit">
              <button class="btn btn-default" data-permission="{{children.permissionEdit}}" ng-disabled="children.disableEdit" ng-click="children.editChild(true)"><span class="glyphicon-plus glyphicon"></span></button>
              <button class="btn btn-default" data-permission="{{children.permissionEdit}}" ng-disabled="!children.ngModel.length>0 || children.disableEdit" ng-click="children.removeChild()"><span class="glyphicon-minus glyphicon"></span></button>
              <button class="btn btn-default" data-permission="{{children.permissionEdit}}" ng-disabled="!children.ngModel.length || children.disableEdit" ng-click="children.editChild(false)"><span class="glyphicon-pencil glyphicon"></span></button>
            </div>
            <div class="btn-group" ng-if="!children.permissionEdit">
              <button class="btn btn-default" ng-disabled="children.disableEdit" ng-click="children.editChild(true)"><span class="glyphicon-plus glyphicon"></span></button>
              <button class="btn btn-default" ng-disabled="!children.ngModel.length>0 || children.disableEdit" ng-click="children.removeChild()"><span class="glyphicon-minus glyphicon"></span></button>
              <button class="btn btn-default" ng-disabled="!children.ngModel.length || children.disableEdit" ng-click="children.editChild(false)"><span class="glyphicon-pencil glyphicon"></span></button>
            </div>
          </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <component-compiler component="children.listComponent" ng-if="children.ngModel.length>0"></component-compiler>
          <div class="text-center" ng-if="!children.ngModel.length">
            <span class="glyphicon-ban-circle glyphicon"></span> <em data-translate="2333">No Records Found</em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
