<div class="row">
    <div class="col-xs-12">
        <label class="control-label" data-translate="4549">AR Customer</label>
        <select ng-if="noAR" class="form-control" ng-class="{'ng-invalid':_arFlag.status===0}" ng-change="setAR()" ng-disabled="perms.checkDeny('setcustomerarflag')" ng-model="_arFlag.status" ng-options="x.val as x.txt for x in arFlags">
            <option value="?" data-translate="1358">Select...</option>
        </select>
    </div>
</div>
