<div class="col-xs-4">
    <label data-translate="841">ALU</label>
</div>
<div class="col-xs-8">
    <input maxlength="20" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" ng-model="$ctrl.service.item.alu" class="form-control" id="imi-alu">
</div>
