<div>
  <div ng-if="mode==='edit'">
    <ng-form name="term_form">
      <div class="row form-group">
        <div class="col-xs-10">
          <label class="control-label" data-translate="3835">Payment Term Type</label>
          <select class="form-control" ng-disabled="disablePaymentTermTypes.disabled||disablePaymentTermTypes.readonly" ng-change="changeTermType();" ng-model="active.termType" ng-options="x.val as x.txt for x in termTypes">
            <option value="undefined" style="display:none" data-translate="1358">Select...</option>
          </select>
        </div>
        <div class="col-xs-2 txt-right">
          <button ng-click="addTerm();" ng-if="active.termType===0||active.termType===7||active.termType===6" ng-disabled="active.termType===''||(disablePaymentTermTypes.disabled||disablePaymentTermTypes.readonly)" class="btn btn-icon" style="margin-top:25px;" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          <button ng-click="insertTerm();" ng-if="active.termType===1||active.termType===2||active.termType===3" ng-disabled="active.termType===oTermType||(disablePaymentTermTypes.disabled||disablePaymentTermTypes.readonly)" class="btn btn-icon" style="margin-top:25px;" type="button"><span class="glyphicon glyphicon-ok"></span></button>
        </div>
      </div>
      <div class="row" ng-if="terms.length>0&&!editing&&(active.termType===0||active.termType===7||active.termType===6)">

        <table class="table table-striped col-xs-12">
          <tbody>
            <tr ng-repeat="x in terms" ng-if="terms">
              <td ng-if="x.discperc && x.discperc!==0">{{x.discperc}}%</td>
              <td ng-if="x.discperc===0"><span data-translate="4008">NET</span></td>
              <td ng-if="x.discpmtperc && x.discpmtperc!==0">{{x.discpmtperc}}%</td>
              <td ng-if="x.discpmtperc===0"><span data-translate="4008">NET</span></td>
              <td>{{x.days}} <span data-translate="4009" ng-if="x.days!==''&&x.days">days</span><span data-translate="4009" ng-if="x.days==''||!x.days">EOM</span></td>
              <td style="width:40px"><button class="btn btn-icon" ng-disabled="(disablePaymentTermTypes.disabled||disablePaymentTermTypes.readonly)" ng-click="updateTerm(x);" type="button"><span class="glyphicon glyphicon-pencil"></span></button></td>
              <td style="width:40px"><button class="btn btn-icon" ng-disabled="(disablePaymentTermTypes.disabled||disablePaymentTermTypes.readonly)" ng-click="removeTerm(x);" type="button"><span class="glyphicon glyphicon-remove"></span></button></td>
              {{x.discperc}}
            </tr>
          </tbody>
        </table>

      </div>
      <div class="row" ng-if="terms.length>0&&!editing&&(active.termType===4||active.termType===5)">
        <table class="table table-striped col-xs-12">
          <tbody>
          <tr ng-repeat="x in terms">
            <td>{{x.termdate | cleanDate:date_only}}</td>
            <td style="width:40px"><button class="btn btn-icon" ng-click="updateTerm(x);" type="button"><span class="glyphicon glyphicon-pencil"></span></button></td>
            <td style="width:40px"><button class="btn btn-icon" ng-click="removeTerm(x);" type="button"><span class="glyphicon glyphicon-remove"></span></button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" ng-if="editing===true&&(active.termType===4||active.termType===5)">
        <div class="col-xs-8">
          <dateinput ng-model="activeTerm.termdate">
        </dateinput></div>
        <div class="col-xs-4">
          <button class="btn btn-icon" ng-click="insertTerm();" type="button"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="btn btn-icon" ng-click="cancelAdd();" type="button"><span class="glyphicon glyphicon-ban-circle"></span></button>
        </div>
      </div>
      <div class="row" ng-if="editing===true&&(active.termType===0||active.termType===7||active.termType===6)">
        <ng-form name="days_form">
          <div class="col-xs-4">
            <label class="control-label" data-translate="3930">
              Percent
            </label>{{activeTerm.discperc}}
            <input numberonly="undefined" ng-if="activeTerm.discperc!==0" ng-required="active.termType!==7" ng-model="activeTerm.discperc" type="text" class="form-control">
            <input ng-if="activeTerm.discperc===0" ng-required="active.termType!==7" ng-readonly="true" onfocus="activeTerm.discperc=''" ng-value="NET" ng-model="term_form.discperc" type="text" class="form-control">
          </div>
          <div class="col-xs-4">
            <label class="control-label" data-translate="3836">
              Days
            </label>
            <input numberonly="undefined" ng-required="active.termType!==7" ng-model="activeTerm.days" type="text" class="form-control">
          </div>
          <div class="col-xs-4">
            <button class="btn btn-icon text-right" ng-disabled="!days_form.$valid" ng-click="insertTerm();" style="margin-top:25px;" type="button"><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-icon" ng-click="cancelAdd()" style="margin-top:25px;" type="button"><span class="glyphicon glyphicon-ban-circle"></span></button>
          </div>
        </ng-form>
      </div>
    </ng-form>
  </div>
</div>
