<div class="row">
  <div class="col-xs-10" style="float:right;">
    <button id="getLoyaltyHistoryButton" name="getLoyaltyHistoryButton" type="button" class="btn btn-info btn-block" ng-click="field.viewCustomerLoyaltyHistory()">
      <span class="glyphicon glyphicon-book"></span>
      <span data-translate="4631">Loyalty History</span>
    </button>
  </div>
</div>
