<form
  name="adyenConfig"
  id="adyenConfig"
  autocomplete="off"
  class="form-horizontal"
>
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4>Adyen Config</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <span data-translate="6620">PED Settings</span>
              </div>
              <div class="panel-body">
                <div class="row top-margin">
                  <div class="col-xs-4">
                    <span class="control-label" data-translate="1220"
                      >IP Address</span
                    >
                  </div>
                  <div class="col-xs-8">
                    <input
                      type="text"
                      id="deviceip"
                      ng-model="form.deviceip"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-4">
                    <span class="control-label" data-translate="5709"
                      >Serial Number</span
                    >
                  </div>
                  <div class="col-xs-8">
                    <input
                      type="text"
                      id="serialnumber"
                      ng-model="form.serialnumber"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-4">
                    <span class="control-label" data-translate="1778"
                      >Timeout</span
                    >
                  </div>
                  <div class="col-xs-8">
                    <input
                      type="number"
                      id="timeout"
                      min="0"
                      max="{{form.maxTimeout}}"
                      step="1000"
                      maxlength="5"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      placeholder="0 - {{(form.maxTimeout).toString()}}"
                      ng-model="form.timeout"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-6">
                    <span class="control-label" data-translate="7126"
                      >Randomize SaleID</span
                    >
                  </div>
                  <div class="col-xs-6">
                    <input
                      type="checkbox"
                      id="randomizesaleid"
                      ng-model="form.randomizesaleid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <span data-translate="6623">Encryption</span>
              </div>
              <div class="panel-body">
                <div class="row top-margin">
                  <div class="col-xs-4">
                    <span class="control-label" data-translate="6624"
                      >Pass Phrase</span
                    >
                  </div>
                  <div class="col-xs-8">
                    <input
                      type="text"
                      id="passphrase"
                      ng-model="form.passphrase"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-4">
                    <span class="control-label" data-translate="6625"
                      >Key Identifier</span
                    >
                  </div>
                  <div class="col-xs-8">
                    <input
                      type="text"
                      id="keyidentifier"
                      ng-model="form.keyidentifier"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <span data-translate="53">Logging</span>
              </div>
              <div class="panel-body">
                <div class="row top-margin">
                  <div class="col-xs-4">
                    <span class="control-label" data-translate="1205"
                      >Log Level</span
                    >
                  </div>
                  <div class="col-xs-8">
                    <select class="form-control" ng-model="form.loglevel">
                      <option value="-1" data-translate="805">Select</option>
                      <option value="0" data-translate="1361">None</option>
                      <option value="1" data-translate="2219">Minimal</option>
                      <option value="2" data-translate="2154">Normal</option>
                      <option value="3" data-translate="2220">Verbose</option>
                    </select>
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-4">
                    <span class="control-label" data-translate="6626"
                      >Retain # Logs</span
                    >
                  </div>
                  <div class="col-xs-8">
                    <input
                      type="text"
                      id="retainxlogs"
                      ng-true-value="'true'"
                      ng-false-value="'false'"
                      ng-model="form.retainxlogs"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-8">
                    <span class="control-label" data-translate="1206"
                      >Live Logging</span
                    >
                  </div>
                  <div class="col-xs-4">
                    <input
                      type="checkbox"
                      id="livelogging"
                      ng-true-value="'true'"
                      ng-false-value="'false'"
                      ng-model="form.livelogging"
                      class="checkbox"
                    />
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-8">
                    <span class="control-label" data-translate="6627"
                      >Code Site Active</span
                    >
                  </div>
                  <div class="col-xs-4">
                    <input
                      type="checkbox"
                      id="codesiteactive"
                      ng-true-value="'true'"
                      ng-false-value="'false'"
                      ng-model="form.codesiteactive"
                      class="checkbox"
                    />
                  </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-8">
                    <span class="control-label" data-translate="6628"
                      >Debug Stack Trace Active</span
                    >
                  </div>
                  <div class="col-xs-4">
                    <input
                      type="checkbox"
                      id="debugstacktraceactive"
                      ng-true-value="'true'"
                      ng-false-value="'false'"
                      ng-model="form.debugstacktraceactive"
                      class="checkbox"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <button
          id="okButton"
          type="button"
          class="btn btn-lg btn-default"
          data-translate="547"
          ng-click="saveConfig()"
        >
          Save
        </button>
        <button
          id="cancelButton"
          type="button"
          class="btn btn-lg btn-default"
          data-translate="1.2"
          ng-click="abortConfig()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
