<div>
    <div class="container-fluid">
		<div class="row padding-5">
			<div class="col-xs-12">
				<div class="row row-container mobile-screen-title">
					<div class="col-xs-10">
						<span data-translate="6705">Serial Coupon Management</span>
					</div>
					<div class="col-xs-2">
						<!--<promo-broadcast-button promotions="couponsGrid.data"></promo-broadcast-button>-->
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<responsive-grid grid="couponsGrid" extra-class="full-page-grid grid-with-paging"></responsive-grid>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		    <mobile-nav category-menu="couponActionButtons"></mobile-nav>
		</div>
	</div>
	<div class="row hidden-xs">
		<action-button-bar ng-if="couponActionButtons" action-bar="couponActionButtons"></action-button-bar>
	</div>
</div>
