<label for="itemForceTax" class="checkbox-container">
  <input name="itemForceTax" id="itemForceTax" tabindex="20" type="checkbox" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" ng-true-value="true" ng-false-value="false" class="large-input-field margin-right-5" ng-model="$ctrl.service.item.forceorigtax">
  <span data-translate="2566">Enforce Original Price Tax</span>
</label>
