<div name="department-lookup">
	<div class="container-fluid" ng-if="mainState.contentReady">
		<div class="row padding-5">
			<div class="col-xs-12">
				<div class="row row-container mobile-screen-title">
					<div class="col-xs-3">
						<span data-translate="5035">Departments</span>
					</div>
					<div class="col-xs-6 col-xs-offset-3">
						<div class="row">
							<div class="col-xs-8 text-right">
								<label data-translate="562" style="font-size: small;">Subsidiary</label>
				</div>
							<div class="col-xs-4">
								<select-subsidiary subsidiary="state.subsidiary" disable="false" on-change="eventHandlers.onSbsChange"></select-subsidiary>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-container">
					<div class="row top-margin">
						<div ng-if="showDepartmentSearch" class="col-xs-4">
							<div class="panel height80" tabindex="-1" role="dialog">
								<div class="panel-heading">
									<span data-translate="826">Filters</span>
									<button class="btn btn-info" style="visibility: hidden"><span>&nbsp;</span></button>
								</div>
								<div class="panel-body">
									<div class="container-fluid">
										<advanced-search-filter params="filterSettings"></advanced-search-filter>
									</div>
								</div>
							</div>
						</div>
						<div ng-class="{'col-xs-8': showDepartmentSearch, 'col-xs-12': !showDepartmentSearch}">
							<div class="row">
								<div class="col-xs-12 padding-10">
									<div class="row">
										<div class="col-xs-2">
											<button class="btn btn-default" ng-click="toggleFilters();">
												<i class="glyphicon" ng-class="{'glyphicon-chevron-left': showDepartmentSearch, 'glyphicon-chevron-right': !showDepartmentSearch}"></i>
												<span data-translate="826">Filters</span>
											</button>&nbsp;
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<!--<div id="grid1" ui-grid-resize-columns="" ui-grid-selection="" ng-if="gridOptions.data.length>0" ui-grid="gridOptions" external-scopes="gridHandlers" class="grid"></div>-->
								<div class="col-xs-12 padding-5 vendor-grid-column">
						<responsive-grid grid="state.grid.settings" extra-class="department-grid"></responsive-grid>
					</div>
				</div>
			</div>
		</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hidden-xs">
		<button-bar view-path="components/store-ops/department/department-button-bar.htm"></button-bar>
	</div>
	<prism-ajax-loader ng-if="state.prismAjaxLoader.handler" loader-title="state.prismAjaxLoader.title" loader-message="state.prismAjaxLoader.message"></prism-ajax-loader>
</div>
