<div class="col-xs-3 no-left-padding">
  <label data-translate="5132">Quantity Decimals</label>
</div>
<div class="col-xs-2">
  <select class="form-control" type="tel" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" ng-model="$ctrl.service.item.useqtydecimals" ng-options="opt as opt for opt in $ctrl.service.qtyDecimalsList" ng-change="$ctrl.service.onCalcFieldBlur('useqtydecimals')"></select>
</div>
