<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="4169">Transfer Slip Details</h4>
  </div>
  <div class="modal-body" style="min-height:250px;">
    <div class="row">
      <div class="col-xs-12">
        <div class="voucher-details-tab-wrapper">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-1">
                    <h4 data-translate="3852">Comment</h4>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="col-xs-12 voucher-comments-container" ui-i18n="{{lang}}">
                  <textarea id="comment" class="form-control" style="min-height:150px;" ng-model="reverseComment.comment"> </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button type="button" id="slipReverseOkBtn" event-name="slipReverseOkBtn" name="slipReverseOkBtn" class="btn btn-lg btn-default" ng-disabled="slipReverseCommentForm.$invalid" ng-click="save()"><span data-translate="1.1">OK</span></button>
  </div>
</div>

