<div class="col-xs-12">
    <div class="row">
        <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group" ng-repeat="tab in state.tabs">
                <button type="button" ng-click="state.setTabAsActive(tab.name)" class="btn btn-default">{{tab.title}}</button>
            </div>
        </div>
        <div ng-if="state.isTabActive('vendor')" class="row row-container">
            <ac-vendor-address-mapping></ac-vendor-address-mapping>
        </div>
    </div>
</div>