<button type="button" class="btn btn-lg btn-default" ng-disabled="disableOneButton" event-name="posGiftReceiptItemsPrint1To1" id="posGiftReceiptItemsPrint1To1" ng-click="printGiftReceipt('1to1')" title="{{ '3648' | translate }}"><span data-translate="3342">Print 1 : 1</span></button>
