<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="7186">Duplicates Found</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-xs-4">
        <label class="control-label" data-translate="6709">Please select action to perform</label>
      </div>
      <br>
    </div>
    <hr>
    <div class="row form-group">
      <div class="col-xs-8">
        <label class="control-label">
          <input type="radio" id="id3" ng-checked="true" ng-model="option" value="1" name="options"> <span>{{labelReplaceText}}</span>
        </label>
      </div>
      <br>
      <div class="col-xs-8">
        <label class="control-label">
          <input type="radio" id="id4" ng-checked="false" ng-model="option" value="2" name="options"> <span>{{labelSkipText}}</span>
        </label>
      </div>
      <br>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-default" type="button" ng-click="Ok()"><span data-translate="1.1">Ok</span></button>
    <button class="btn btn-default" type="button" ng-click="Cancel()"><span data-translate="1.2">Cancel</span></button>
  </div>
</div>
