html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.red {
    color: red;
    font-weight: bolder
}

.green {
    color: forestgreen;
    font-weight: bolder;
}

.spn-tt {
    padding-right: 44px;
    font-weight: bolder
}

.filterable {
    margin-top: 15px;
}