<div class="row row-container">
    <div class="center-block">
        <a ng-if="isMobile && controls.handlers.filterHandler.status" ng-click="controls.handlers.filterHandler.close()">
          <span data-translate="6934">Close Filters</span>
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </a>
        <a ng-if="isMobile && !controls.handlers.filterHandler.status" ng-click="controls.handlers.filterHandler.open()">
          <span data-translate="6935">Open Filters</span>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
    </div>
    <div ng-if="controls.handlers.showFilters()" ng-class="{'col-xs-10 no-padding':!isMobile, 'no-padding':isMobile}">
        <div class="row no-margin padding-5 no-left-padding" ng-repeat="list in controls.filters">
            <div ng-repeat="filter in list" ng-class="filter.containerClass">
                <dateinput ng-if="filter.type === 'date'" name="asnFromDate" ng-model="filter.model"></dateinput>
                <input ng-if="filter.type === 'text'" type="text" placeholder="{{filter.placeholder}}" class="form-control" ng-model="filter.model">
                <select-associate ng-if="filter.type === 'associate'" associate="filter.model" disable="true"></select-associate>
                <select-vendor ng-if="filter.type === 'vendor'" vendor="filter.model" disable="false"></select-vendor>
            </div>
        </div>
    </div>
    <div ng-if="controls.handlers.showFilters()" ng-class="{'col-xs-2 padding-5':!isMobile, 'padding-5':isMobile}">
        <button type="button" class="btn btn-info btn-block" ng-click="controls.handlers.onSearchClick()">
          <span data-translate="630">Search</span>
        </button>
        <button type="button" class="btn btn-primary btn-block block-10" ng-click="controls.handlers.onResetClick()">
          <span data-translate="614">Reset</span>
        </button>
    </div>
</div>
