<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-icon btn-default" ng-disabled="addingV" ng-click="state.createEmpty();"><span class="glyphicon glyphicon-plus"></span></button>
                <label class="panel-title">{{state.title | translate}}</label>
            </div>
        </div>
    </div>
    <div class="panel-body vendor-dataTypes-content-wrapper">
      <em ng-if="state.data.length === 0"><span data-translate="6862">There are no types defined. Click the + sign to add a new type.</span></em>
        <div class="row form-group text-center" ng-if="state.data.length > 0">
            <div class="col-xs-2" ng-if="state.showActiveFlag()">
                <strong data-translate="586">Active</strong>
            </div>
            <!--<div class="col-xs-2">
                <strong data-translate="1114">Default</strong>
            </div>-->
            <div class="col-xs-7">
                <strong data-translate="542">Type</strong>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="row form-group text-center" ng-repeat="type in state.data">

            <div class="col-xs-2" ng-if="state.showActiveFlag()">
                <input type="checkbox" ng-disabled="!type.editable" ng-model="type.active" class="ng-pristine ng-untouched ng-valid ng-not-empty">
            </div>
            <!--<div class="col-xs-2">
                <input type="checkbox" ng-disabled="!type.editable" ng-model="type.default_value" class="ng-pristine ng-valid ng-empty ng-touched">
            </div>-->
            <div class="col-xs-7">
                <input type="text" ng-disabled="!type.editable" maxlength="{{mLength}}" ng-required="true" class="form-control" ng-model="type[typeField]" required="required">
            </div>
            <div class="col-xs-3" ng-if="type.editable">
                <button type="button" ng-disabled="!type[typeField]" ng-click="state.saveType(type, $index);">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" ng-click="state.revertChanges($index);">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </div>
            <div class="col-xs-3" ng-if="!type.editable">
                <button type="button" ng-click="state.enableEditMode($index)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" ng-click="state.removeType($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
</div>
