<div>
  <div ng-if="!rcvStat.activeResource&&!rcvStat.deleting">
    <div class="row" ng-if="rcvStat.initializations.length===0">
      <div class="col-xs-12">
        <div class="well well-sm text-center">
          <em data-translate="6449">There are no initialization records for this server.  If you just started an initialization it may take a moment for data to appear.</em>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="rcvStat.initializations.length>0">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <strong data-translate="6148">Initialization Started on</strong> <strong>{{rcvStat.initializations[rcvStat.initPage].createddatetime | cleanDate}}</strong>
        </div>
        <div class="col-xs-6 text-right" style="padding-right:10px;">
          <local-progress-bar initializations="rcvStat.initializations"></local-progress-bar>
        </div>
      </div>
    </div>
    <div class="row" ng-if="rcvStat.initializations.length>0">
      <div class="col-xs-12">
        <div class="row form-group">
          <div class="col-xs-12">
            <div ui-grid-resize-columns="" ng-if="!rcvStat.deleting" class="connection-resources" ui-grid="rcvStat.resourceGridOptions" ui-grid-selection="" external-scopes="gridHandlers"></div>
            <div class="connection-resources text-center" ng-if="deleting">
              <img src="images/ajax-loader.gif">
            </div>
          </div>
        </div>
        <div class="row" style="overflow:hidden">
          <div class="col-xs-3 col-xs-offset-3 text-center am-slide-bottom" ng-if="!rcvStat.processingTransition">
            <button type="button" ng-disabled="rcvStat.initPage===0" ng-click="rcvStat.setInitializationPage(-1)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
            <button type="button" ng-disabled="rcvStat.initPage===rcvStat.initializations.length-1" ng-click="rcvStat.setInitializationPage(1)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
          <div class="col-xs-6 text-right">
            <button class="btn btn-default" type="button" ng-if="rcvStat.initializations[rcvStat.initPage].state!==2&&rcvStat.initializations[rcvStat.initPage].state!==0" ng-disabled="rcvStat.pausing" ng-click="rcvStat.pauseInit(rcvStat.initializations[rcvStat.initPage].state)">
              <span data-translate="6308" ng-if="rcvStat.initializations[rcvStat.initPage].state===1">Pause</span>
              <span data-translate="6309" ng-if="rcvStat.initializations[rcvStat.initPage].state===4">Resume</span>
            </button>
            <button class="btn btn-default" type="button" ng-disabled="rcvStat.deleting||(rcvStat.initializations[rcvStat.initPage].state!==0&&rcvStat.initializations[rcvStat.initPage].state!==2)" ng-click="rcvStat.delInit()" data-translate="544">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="rcvStat.activeResource">
    <init-message-detail server-address="rcvStat.initializations[rcvStat.initPage].remoteconnectionsid" resource="rcvStat.activeResource"></init-message-detail>
  </div>
</div>
