<div class="form-group">
  <input type="text" placeholder="{{ '4868' | translate }}" numberonly="" class="form-control" ng-model="search.asnno">
</div>
<div class="form-group">
  <input type="text" placeholder="{{ '3941' | translate }}" class="form-control" ng-model="search.pono">
</div>
<div class="form-group">
  <input type="text" placeholder="{{ '862' | translate }}" class="form-control" ng-model="search.trackingno">
</div>
<div class="form-group">
  <input type="text" placeholder="{{ '5703' | translate }}" class="form-control" ng-model="search.pkgno">
</div>
<div class="form-group">
  <input type="text" placeholder="{{ '6528' | translate }}" class="form-control" ng-model="search.shippingid">
</div>

<div class="form-group">
    <label data-translate="1500">Vendor</label>
    <select-vendor vendor="search.vendsid" disable="false"></select-vendor>
</div>
<div class="form-group">
    <label data-translate="699">Associate</label>
    <select-associate ng-model="search.clerksid"></select-associate>
</div>
<div class="form-group">
    <label>
        <input type="radio" ng-init="search.active=1" name="active" value="1" ng-checked="true" ng-model="search.active">
        <span data-translate="586">Active</span>
    </label>
    <label>
        <input type="radio" onclick="this.checked=false;" ng-checked="search.active === 0" ng-click="search.active=0" name="active" value="0" ng-model="search.active">
        <span data-translate="2916">Inactive</span>
    </label>
</div>
