<div class="form-group">
    <input type="text" placeholder="{{ '3941' | translate }}" class="form-control" ng-model="search.pono">
</div>
<div class="form-group">
    <label data-translate="1500">Vendor</label>
    <select-vendor vendor="search.vendsid" disable="false"></select-vendor>
</div>
<div class="form-group">
    <label data-translate="699">Associate</label>
    <select-associate ng-model="search.clerksid"></select-associate>
</div>
<div class="form-group">
    <label>
        <input type="checkbox" name="active" value="false" ng-model="search.held">
        <span data-translate="1454">Held</span>
    </label>
</div>
