<div ng-controller="storeOps_ctrl">
    <div ng-if="contentReady">
        <div class="row top-margin">
            <div class="col-xs-12">
                <button class="btn btn-info btn-block" ng-disabled="disableReceivingOptionsButton()" event-name="voucherLookup" disable-by-permission="vouchersaccess"  ng-click="receivingVoucherLookup();" type="button">
                    {{'3641.1'|translate}}
                </button>
            </div>
        </div>
        <div class="row top-margin">
            <div class="col-xs-12">
                <button class="btn btn-info btn-block" ng-disabled="disableReceivingOptionsButton()" disable-by-permission="vouchersaccess" event-name="pendingVouchers" ng-click="receivingPendingVouchersLookup();" type="button">
                    {{'3939'|translate}}
                </button>
            </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <button class="btn btn-info btn-block" ng-disabled="disableReceivingOptionsButton()" event-name="asnLookup" disable-by-permission="accessreceivingarea"  ng-click="receivingASNLookup();" type="button">
              {{'4732'|translate}}
            </button>
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <shipping-packages-button layout="1" close="close"></shipping-packages-button>
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <button class="btn btn-info btn-block" ng-disabled="sharedData.receiving.voucher.recvitem.length === 0" type="button" ng-click="printTags('REC')"><span>Print Tags</span></button>
          </div>
        </div>
        <div class="row top-margin">
            <div class="col-xs-12">
                <voucher-to-tord-button voucher="sharedData.receiving.voucher.info" disable="sharedData.isAssignLimited" close="close"></voucher-to-tord-button>
            </div>
        </div>
    </div>
</div>
