<div class="form-group">
  <input type="text" placeholder="{{ '3877' | translate }}" numberonly="" class="form-control" ng-model="search.vouno">
</div>
<div class="form-group">
  <input type="text" placeholder="{{ '3941' | translate }}" class="form-control" ng-model="search.pono">
</div>
<div class="form-group">
  <input type="text" placeholder="{{ '862' | translate }}" class="form-control" ng-model="search.trackingno">
</div>
<div class="form-group">
  <input type="text" placeholder="{{ '5703' | translate }}" class="form-control" ng-model="search.pkgno">
</div>
<div class="form-group">
  <input type="text" placeholder="{{ '6528' | translate }}" class="form-control" ng-model="search.shippingid">
</div>

<div class="form-group">
    <label data-translate="1500">Vendor</label>
    <select-vendor vendor="search.vendsid" disable="false"></select-vendor>
</div>
<div class="form-group">
    <label data-translate="699">Associate</label>
    <select-associate ng-model="search.clerksid"></select-associate>
</div>
