<form>
<div class="row">
    <div class="col-xs-12">
        <voucher-show-cost-button ng-if="costFields.showOverrideButton()" callback="costFields.doOverride"></voucher-show-cost-button>
    </div>
</div>
<br/>
<div class="row">
	<div class="col-xs-4">
		<div class="row">
			<div class="col-xs-9 form-inline">
				<div class="col-xs-5 text-right">
					<label for="itemQtyReceived" data-translate="3797" ng-if="!sharedData.itemDetails.showOrigQty">Qty Received</label>
					<label for="itemQtyReceived" data-translate="4673" ng-if="sharedData.itemDetails.showOrigQty">Original Qty</label>
				</div>
				<div class="col-xs-4">
					<input type="text" id="itemQtyReceived" ng-if="!sharedData.itemDetails.showOrigQty" ng-blur="autoSave($event, 'qty')" numberonly use-qty-decimals decimals="{{currentItem.useqtydecimals}}"  enter-blur ng-disabled="disableInputsAndButtons||!sharedData.receiving.voucher.workingMode||permissionService.checkDeny('transferseditreceiveditems')" ng-focus="blockCancelButton()" ng-model="currentItem.qty" class="form-control">
					<input type="text" id="itemQtyReceived" ng-if="sharedData.itemDetails.showOrigQty" ng-blur="autoSave($event, 'origqty')" numberonly use-qty-decimals decimals="{{currentItem.useqtydecimals}}"  enter-blur ng-disabled="disableInputsAndButtons||!sharedData.receiving.voucher.workingMode" ng-focus="blockCancelButton()" ng-model="currentItem.origqty" class="form-control">
				</div>
			</div>
		</div>
		<div class="row top-margin20">
			<div class="col-xs-9 form-inline">
				<div class="col-xs-5 text-right">
					<label for="itemVoucherCost" data-translate="3798">Voucher Cost</label>
				</div>
				<div class="col-xs-4">
					<input type="text" id="itemVoucherCost" data-currency-formatter="currency" ng-blur="autoSave($event)" enter-blur ng-disabled="disableInputsAndButtons||!sharedData.receiving.voucher.workingMode||costFields.disable()" ng-focus="blockCancelButton()" ng-model="currentItem.cost" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="row">
			<div class="col-xs-8 form-inline">
				<div class="col-xs-7 text-right">
					<label for="itemVoucherPrice" data-translate="3799">Voucher Price</label>
				</div>
				<div class="col-xs-4">
					<input type="text"  id="itemVoucherPrice" data-currency-formatter="currency" ng-blur="autoSave($event)" enter-blur ng-disabled="disableInputsAndButtons||!sharedData.receiving.voucher.workingMode" ng-focus="blockCancelButton()" ng-model="currentItem.price" class="form-control">
				</div>
			</div>
		</div>
		<div class="row top-margin20">
			<div class="col-xs-8 form-inline">
				<div class="col-xs-7 text-right">
					<label for="itemForeignOrderCost" data-translate="3800">Foreign Order Cost</label>
				</div>
				<div class="col-xs-4">
					<input type="text" id="itemForeignOrderCost" data-currency-formatter="currency" ng-blur="autoSave($event)" enter-blur ng-disabled="disableInputsAndButtons||!sharedData.receiving.voucher.workingMode||costFields.disable()" ng-focus="blockCancelButton()" ng-model="currentItem.fccost" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
        <div class="row">
                <div class="col-xs-6 form-inline" ng-class="(currentItem.serialtype > 0)&&(!currentItem.serialno) ? 'has-warning' : ''">
					<div class="col-xs-5 text-right">
                    	<label for="itemSerialNumber" data-translate="2122">Serial No</label>
					</div>
					<div class="col-xs-3">
						<div class="form-group has-feedback">
							<input type="text" tabindex="6" class="form-control" style="width: 300px;" enter-blur id="itemSerialNumber" name="itemSerialNumber" ng-disabled="disableInputsAndButtons||!sharedData.receiving.voucher.workingMode||currentItem.serialtype === 0" ng-model="currentItem.serialno" ng-blur="validateSerNo(currentItem,lookupParams)" ng-change="serNoChanged(currentItem)" unique="">
							<span ng-if="!disableInputsAndButtons && (currentItem.serialtype !== 0)" class="form-control-feedback glyphicon glyphicon-search" ng-click="serNoLookup(currentItem,lookupParams);"></span>
						</div>
					</div>
                </div>
                <div class="col-xs-3 error" ng-show="serNoForm.itemSerialNumber.$error.unique">
                    <span data-translate="3381">Duplicate</span>
                </div>
        </div>
        <div class="row top-margin20">
            <div class="col-xs-6 form-inline" ng-class="(currentItem.lottype > 0)&&(!currentItem.lotnumber) ? 'has-warning' : ''">
				<div class="col-xs-5 text-right">
                	<label for="itemLotNumber" data-translate="2121">Lot No</label>
				</div>
                <div class="col-xs-3">
                  <div class="form-group has-feedback">
                    <input class="form-control" style="width: 300px;" enter-blur type="text" tabindex="11" id="itemLotNumber" name="itemLotNumber" ng-disabled="disableInputsAndButtons||currentItem.lottype === 0||!sharedData.receiving.voucher.workingMode" ng-model="currentItem.lotnumber" ng-blur="validateLotNo(currentItem,lookupParams)" ng-change="lotNoChanged(currentItem)">
                    <span ng-if="(!disableInputsAndButtons && (currentItem.lottype !== 0))&&(sharedData.receiving.voucher.workingMode)" class="form-control-feedback glyphicon glyphicon-search" ng-click="lotNoLookup(currentItem,lookupParams);"></span>
                  </div>
                </div>
            </div>
        </div>
	</div>
</div>
</form>