<div class="panel panel-default" style="margin-bottom: 0">
  <!-- Default panel contents -->
  <div class="panel-heading"><span data-translate="6313">Create Exchange Rate</span></div>
   <form name="ex_rate_form" ng-submit="save(ex_rate_form.$valid)" novalidate="">
    <div class="panel-body">
        <div class="form-group">
          <label for="exrate-date" data-translate="6314">Exchange Rate Date</label>
          <p class="input-group" ng-click="openCalendar($event, 'exrateEffDate')">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="exrateEffDate.datepickerOptions" ng-model="exrateEffDate.date" value="{{(exrateEffDate.date)?(exrateEffDate.date | date:'mediumDate'):(exrateEffDate.placeholder)}}" is-open="exrateEffDate.open" enable-time="false" when-closed="exrateEffDate.closed()">
          </p>
        </div>
        <div class="form-group">
          <label for="take_rate" data-translate="944">Take Rate</label>
          <input id="take_rate" type="number" decimal-precision nums="12,8" mymodel="ex_rate.takerate" maxlength="21" class="form-control" ng-model="ex_rate.takerate" required>
        </div>
        <div class="form-group">
          <label for="give_rate" data-translate="6315">Give Rate</label>
          <input id="give_rate" type="number" decimal-precision nums="12,8" mymodel="ex_rate.giverate" maxlength="21" class="form-control" ng-model="ex_rate.giverate" required>
        </div>
        <div class="form-group">
          <label for="cost_rate" data-translate="6316">Cost Rate</label>
          <input id="cost_rate" type="number" decimal-precision nums="12,8" mymodel="ex_rate.costrate" maxlength="21" class="form-control" ng-model="ex_rate.costrate">
        </div>
        <div class="form-group">
          <label for="take_foreign" data-translate="6317">Take (Foreign)</label>
          <input id="take_foreign" type="number" class="form-control" ng-model="ex_rate.takeforeignrate" disabled="disabled">
        </div>
        <div class="form-group">
          <label for="give_foreign" data-translate="6318">Give (Foreign)</label>
          <input id="give_foreign" type="number" class="form-control" ng-model="ex_rate.giveforeignrate" disabled="disabled">
        </div>
        <div class="form-group">
          <label for="cost_foreign" data-translate="6319">Cost (Foreign)</label>
          <input id="cost_foreign" type="number" class="form-control" ng-model="ex_rate.costforeignrate" disabled="disabled">
        </div>
    </div>

    <div class="panel-footer">
      <div class="row">
          <div class="col-xs-12">
              <div class="pull-right">
                <button type="submit" class="btn btn-default" ng-disabled="!ex_rate_form.$valid"><span data-translate="1514">Save & Exit</span></button>
                <button type="button" class="btn btn-default" ng-click="close()"><span data-translate="0.1">Exit</span></button>
              </div>
          </div>
      </div>
    </div>
  </form>
</div>
