<div class="panel panel-default">
	<div class="panel-heading">
    <span data-translate="6848">Delete Exchange Rate</span>
	</div>
	<div class="panel-body">
    <span data-translate="6849">Are you sure ?</span>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
					<button class="btn btn-default" ng-click="delete()"><span data-translate="1.1">Ok</span></button>
					<button class="btn btn-default" ng-click="dismiss()"><span data-translate="1.2">Cancel</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
