<div class="panel panel-default">
	<div class="panel-heading">
		<h4 data-translate="6320">Exchange Rate</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="base_currency" data-translate="943">Base Currency</label>
					<select id="base_currency" name="base_currency" class="form-control" ng-model="base_currency" ng-change="currencyChanged()">
						<option ng-repeat="currency in currencies" value="{{ currency.sid }}">{{ currency.currencyname }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="foreign_currency" data-translate="941">Foreign Currency</label>
					<select id="foreign_currency" name="foreign_currency" class="form-control" ng-model="foreign_currency" ng-change="currencyChanged()">
						<option ng-repeat="currency in currencies" value="{{ currency.sid }}">{{ currency.currencyname }}</option>
					</select>
				</div>
			</div>
		</div>

		<div style="height: 300px;">
			<div style="width: 100%; height: 100%; text-align: center;" ng-if="loading">
				<div loader-css="ball-clip-rotate" style="margin-top: 10vh"></div>
			</div>
			<table class="table col-md-12 table-bordered table-reponsive table-centered" ng-if="!loading">
				<thead>
					</thead><td><strong data-translate="774">Edit</strong></td>
					<td><strong data-translate="544">Delete</strong></td>
					<td><strong data-translate="6321">Effective Rate</strong></td>
					<td><strong data-translate="1481">Take</strong></td>
					<td><strong data-translate="1482">Give</strong></td>
					<td><strong data-translate="2494">Cost</strong></td>
					<td><strong data-translate="6322">Take (foreign)</strong></td>
					<td><strong data-translate="6323">Give (foreign)</strong></td>
					<td><strong data-translate="6324">Cost (foreign)</strong></td>


				<tbody>
					<tr ng-repeat="ex_rate in ex_rates" ng-click="setRow(ex_rate)" ng-class="{ 'context-rowtrue' : ex_rate === selectedRow }">
						<td><button class="btn btn-default btn-icon glyphicon glyphicon-pencil" data-permission="manageexchangerates" ng-click="setRow(ex_rate);openEditModal()"></button></td>
						<td><button class="btn btn-default btn-icon glyphicon glyphicon-remove" data-permission="manageexchangerates" ng-click="setRow(ex_rate);openDeleteModal()"></button></td>
						<td>{{ ex_rate.effectivedate | date }}</td>
						<td>{{ ex_rate.takerate }}</td>
						<td>{{ ex_rate.giverate }}</td>
						<td>{{ ex_rate.costrate }}</td>
						<td>{{ ex_rate.takeforeignrate }}</td>
						<td>{{ ex_rate.giveforeignrate }}</td>
						<td>{{ ex_rate.costforeignrate }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
          <button type="submit" class="btn btn-default" ng-click="openCreateModal()" data-permission="manageexchangerates" permission-disabled="foreign_currency === '' || base_currency === ''"><span data-translate="6850">New Exchange Rate</span></button>
				</div>
			</div>
		</div>
	</div>
</div>





