<form name="phnForm.form" class="container-fluid">
  <div class="row form-group">
    <div class="col-xs-10">
      <label class="control-label" data-translate="589">Phone Type:</label>
      <rp-select-input repeater-data="phnForm.typeObj.listData" default-obj="phnForm.defaultType" ng-model="phnForm.typeObj.selectValue" call-back="phnForm.typeObj.http()" is-last-page="phnForm.typeObj.isLastPage" key-string="phnForm.typeObj.textKey" page="phnForm.typeObj.page" filter-string="phnForm.typeObj.searchString" ng-change="phnForm.updateType()"></rp-select-input>
    </div>
    <div class="col-xs-10">
      <div class="row" style="margin: 5px;">
        <div class="col-xs-4">
          <label class="control-label">
            <input type="checkbox" id="adrContact" name="adrContact" ng-model="phnForm.dataObj.phoneallowcontact">
            <span data-translate="1055">Allow Contact</span>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">
            <input type="checkbox" id="adrPrimary" name="adrPrimary" ng-model="phnForm.dataObj.primaryflag" ng-change="phnForm.checkPrimary()">
            <span data-translate="537">Primary</span>
          </label>
        </div>
        <!--  Currently no active flag in db
        <div class="col-xs-4" >
          <label class="control-label">
            <input type="checkbox" id="adrActive" name="adrActive" ng-model="phnForm.dataObj.active">
            <span data-translate="586">Active</span>
          </label>
        </div>
        -->
      </div>
    </div>
    <div class="col-xs-10">
      <label class="control-label" data-translate="1070">Phone Number:</label>
      <input type="tel" phone-number maxlength="30" class="form-control" ng-required="phnForm.reqFields['custphone.phoneno']" ng-model="phnForm.dataObj.phoneno">
    </div>

  </div>
</form>
