<div class="row top-margin">
    <div class="col-xs-{{labelWidth}} text-left">
        <label class="control-label" data-translate="4862">Memo No</label>
    </div>
    <div class="col-xs-{{fieldWidth}}">
        <span>{{adjMemo.memo.adjno}}</span>
    </div>
</div>