<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="4033">Select Items</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-xs-12 text-right">
        <po-avl-item-cost-override></po-avl-item-cost-override>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4">
        <advanced-search-filter params="search" ng-if="search"></advanced-search-filter>
      </div>
      <div class="col-xs-8" ui-i18n="{{lang}}">
        <div id="grid1" ui-grid-resize-columns="undefined" ui-grid-cellnav="undefined" ui-grid-edit="undefined" ui-grid-selection="undefined" ng-if="invGridOptions.data.length>0" ui-grid="invGridOptions" external-scopes="gridHandlers" class="grid"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-2 text-left">
        <div ng-if="showGrid && invGridOptions.data.length>0"><span data-translate="2893">Total Records: </span> {{totalRecords}}</div>
        <div ng-if="showGrid && invGridOptions.data.length===0"><span data-translate="2894">No records found.</span></div>
     </div>
      <div class="col-xs-6 text-center">
        <paging-control ng-if="invGridOptions.data.length>0&&!searching" grid-reference="invGridApi" total-records="totalRecords" results-per-page="pageSize" call-back="doSearch"></paging-control>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-info" data-permission="viewitemdetails" permission-disabled="activeItems.length!==1" ng-click="itemDetails()">
          <span data-translate="765">Item Details</span>
        </button>
        <po-select-item-button></po-select-item-button>
        <po-select-item-close-button></po-select-item-close-button>
      </div>
    </div>
  </div>
</div>
