<form name="adyenDevice" id="adyenDevice" autocomplete="off" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4>Adyen</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row" ng-show="!chooseRFR&&!retrievingTenders">
          <h4 data-translate="6750">Return amount to original Credit Card?</h4>
        </div>
        <div class="row" ng-show="chooseRFR&&retrievingTenders">
          <h4 data-translate="6752">Retrieving Credit Card Tenders from Prism.</h4>
        </div>
        <div class="row" ng-show="chooseRFR&&!retrievingTenders&&!processingRefund">
          <div class="col-xs-12">
            <h4 data-translate="6753">Please select original Credit Card to return against</h4>
          </div>
          <div class="col-xs-3" ng-repeat="tender in ccTenders">
            <button class="btn btn-lg btn-block btn-info" ng-disabled="processingRefund" ng-click="refundTender(tender)">
              {{tender.card_type_name}}({{tender.amount | foreign_currency:tender.alphabetic_code}})<br>{{tender.card_number}}
            </button>
          </div>
        </div>
        <div class="row" ng-show="chooseRFR&&!retrievingTenders&&processingRefund">
          <div class="col-xs-12">
            <h4 data-translate="6787">Waiting on response from EFT provider.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">

          <button id="referencedRefundButton" type="button" class="btn btn-lg btn-default" ng-if="!chooseRFR" ng-click="referenceRefund()">
            <span data-translate="1.5">Yes</span>
          </button>
          <button id="regularRefundButton" type="button" class="btn btn-lg btn-default" ng-if="!chooseRFR" ng-click="regularRefund()">
            <span data-translate="1.6">No</span>
          </button>
          <button id="cancelButton" type="button" class="btn btn-lg btn-default" ng-if="chooseRFR&&!processingRefund" ng-click="abortCED()">
            <span data-translate="1.2">Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
