<%
converToString = function(nStr) {

    try {
        var t = nStr.toString();
        var e = "";
        var s = "";
        var j = 0;

        for (var i = t.length - 1; i >= 0; i--) {
            if (j == 3) {
                e += ",";
                j = 0;
            }
            j++;
            e += t.charAt(i);

        }
        for (var i = e.length - 1; i >= 0; i--) {

            s += e.charAt(i);

        }
        return s;
    }
    catch (err) {
        return "";
    }
},
sumobjectJson=function(objs,column){
    if(objs.length>0){
        return objs.map(bill => bill[column]).reduce((acc, amount) => acc + amount);
    }
    else{
        return 0;
    }
},
uuidv4=function() {
    var d = new Date().getTime();//Timestamp
    var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now()*1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16;//random number between 0 and 16
        if(d > 0){//Use timestamp until depleted
            r = (d + r)%16 | 0;
            d = Math.floor(d/16);
        } else {//Use microseconds since page-load if supported
            r = (d2 + r)%16 | 0;
            d2 = Math.floor(d2/16);
        }
        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16).replaceAll("-","");
    });
  }
  
%>
