<%
    var edit=false;
    var addjob=false;
    var addjobpaid=false;
    var addjobfee=false;
    if(resultdt.isLeader==true)
        edit=true;
    if(resultdt.isLeader==true || resultdt.isEmployee==true){
         addjob=true;
         addjobpaid=true;
         addjobfee=true;
    }
  
%>
<!--begin::Navbar-->
<input type="hidden" id="rootsid" value="<%-resultdt.sid%>" />

<div class="card mb-6 mb-xl-9">
    <div class="card-body pt-9 pb-0">
        <!--begin::Details-->
        <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
            <!--begin::Image-->
            <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                <%if(resultdt.imageData!=""){%>
                    <img src="<%-resultdt.imageData%>" style="max-width: 100%;" />
                <%}
                else{%>
                    <span><%-resultdt.name[0]%></span>
               <%}%>
                
              

            </div>
            <!--end::Image-->
            <!--begin::Wrapper-->
            <div class="flex-grow-1">
                <!--begin::Head-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <!--begin::Details-->
                    <div class="d-flex flex-column">
                        <!--begin::Status-->
                        <div class="d-flex align-items-center mb-1">
                            <a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-3"><%-resultdt.name%></a>
                            <span class="badge badge-light-success me-auto"><%-resultdt.jobStatus.description%></span>
                        </div>
                        <!--end::Status-->
                        <!--begin::Description-->
                        <div class="d-flex flex-wrap fw-semibold mb-4 fs-5 text-gray-400"><%-resultdt.description%></div>
                        <!--end::Description-->
                    </div>
                    <!--end::Details-->
                    <!--begin::Actions-->
                    <div class="d-flex mb-4">
                        <a href="/apiadmin/exportexcel/300230412154049403320"  class="btn btn-sm btn-primary me-3">Export excel</a>

                        <%if(edit){%>
                        <a href="#" class="btn btn-sm btn-bg-light btn-active-color-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_creat_job" dataedit='<%-JSON.stringify(resultdt)%>' onclick="editdata($(this),'kt_modal_creat_job')">Edit Job</a>
                       <%}%>
                       <%if(addjob){%>
                        <a href="#" class="btn btn-sm btn-bg-light btn-active-color-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_job_detail" onclick="$('#btn-createnew').attr('sid','')">Add Job Detail</a>
                        <%}%>
                        <%if(addjobpaid){%>
                        <a href="#" class="btn btn-sm btn-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_job_paid" onclick="$('#btn-paid').attr('sid','')">Add Job Paid</a>
                        <%}%>
                        <%if(addjobfee){%>
                        <a href="#" class="btn btn-sm btn-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_job_fee" onclick="$('#btn-fee').attr('sid','')">Job Addition Fee</a>
                        <%}%>
                        <!--begin::Menu-->
                        <div class="me-0">
                            <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                <i class="bi bi-three-dots fs-3"></i>
                            </button>
                            <!--begin::Menu 3-->
                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true">
                                <!--begin::Heading-->
                                <div class="menu-item px-3">
                                    <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">Create Invoice</a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link flex-stack px-3">Create Payment
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference"></i></a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">Generate Bill</a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-end">
                                    <a href="#" class="menu-link px-3">
                                        <span class="menu-title">Subscription</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <!--begin::Menu sub-->
                                    <div class="menu-sub menu-sub-dropdown w-175px py-4">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="#" class="menu-link px-3">Plans</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="#" class="menu-link px-3">Billing</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="#" class="menu-link px-3">Statements</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu separator-->
                                        <div class="separator my-2"></div>
                                        <!--end::Menu separator-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <div class="menu-content px-3">
                                                <!--begin::Switch-->
                                                <label class="form-check form-switch form-check-custom form-check-solid">
                                                    <!--begin::Input-->
                                                    <input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />
                                                    <!--end::Input-->
                                                    <!--end::Label-->
                                                    <span class="form-check-label text-muted fs-6">Recuring</span>
                                                    <!--end::Label-->
                                                </label>
                                                <!--end::Switch-->
                                            </div>
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::Menu sub-->
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3 my-1">
                                    <a href="#" class="menu-link px-3">Settings</a>
                                </div>
                                <!--end::Menu item-->
                            </div>
                            <!--end::Menu 3-->
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Head-->
                <!--begin::Info-->
                <div class="d-flex flex-wrap justify-content-start">
                    <!--begin::Stats-->
                    <div class="d-flex flex-wrap">
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <div class="fs-4 fw-bold"> <%- new Date(resultdt.toDate).toLocaleDateString("en-GB")%></div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-400">Due Date</div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr065.svg-->
                                <span class="svg-icon svg-icon-3 svg-icon-danger me-2">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="11" y="18" width="13" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor" />
                                        <path d="M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <div class="fs-4 fw-bold" data-kt-countup="true" data-kt-countup-value="<%-detail.length%>">0</div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-400">Job Details</div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
                                <span class="svg-icon svg-icon-3 svg-icon-success me-2">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
                                        <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <div class="fs-4 fw-bold" data-kt-countup="true" data-kt-countup-value="<%-sumobjectJson(detail.filter((a)=>{if(a["isDeleted"].toString()!="true"){return a}}),'totalCost')%>" data-kt-countup-prefix="$">0</div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-400">Total Cost</div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                    </div>
                    <!--end::Stats-->
                    <!--begin::Users-->
                   
                    <!--end::Users-->
                </div>
                <!--end::Info-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Details-->
        <div class="separator"></div>
        <!--begin::Nav-->
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
            <!--begin::Nav item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6 active" href="javascript:void(0)" onclick="openlisttab(this)" obj="listjdetail">Job Detail</a>
            </li>
            <!--end::Nav item-->
            <!--begin::Nav item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6" href="javascript:void(0)" onclick="openlisttab(this)" obj="listjpaid">Job Paid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6" href="javascript:void(0)" onclick="openlisttab(this)" obj="listjfee">Job Fee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6" href="javascript:void(0)" onclick="openlisttab(this)" obj="history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6" href="javascript:void(0)" onclick="openlisttab(this)" obj="payment">Payment</a>
            </li>
        </ul>
        <!--end::Nav-->
    </div>
</div>
<!--end::Navbar-->

<!--begin::Table-->
<div class="card card-flush mt-6 mt-xl-9 listtab" id="listjdetail" style="display: block;">
    <!--begin::Card header-->
    <div class="card-header mt-5">
        <!--begin::Card title-->
        <div class="card-title flex-column">
            <h3 class="fw-bold mb-1">Job detail</h3>
            <div class="fs-6 text-gray-400">Total: <%-converToString(sumobjectJson(detail.filter((a)=>{if(a["isDeleted"].toString()!="true"){return a}}),'totalCost'))%></div>
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar my-1">
            <!--begin::Select-->
           
            <!--end::Select-->
            <!--begin::Select-->
            <div class="me-4 my-1">
                <select id="kt_filter_orders" name="orders" data-control="select2" data-hide-search="true" class="w-125px form-select form-select-solid form-select-sm">
                    <option value="active" selected="selected">Active</option>
                    <option value="allitem">All job</option>
                   
                </select>
            </div>
            <!--end::Select-->
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-3 position-absolute ms-3">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" id="kt_filter_search" class="form-control form-control-solid form-select-sm w-150px ps-9" placeholder="Search Order" />
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table id="kt_profile_overview_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold table-block">
                <!--begin::Head-->
                <thead class="fs-7 text-gray-400 text-uppercase">
                    <tr>
                        <%for(var i=0;i<mapdetail.title.length;i++){%>
                            <th><%-mapdetail.title[i]%></th>
                        <%}%>
                       
                    </tr>
                </thead>
                <!--end::Head-->
                <!--begin::Body-->
                <tbody class="fs-6">
                    <%for(var i=0;i<detail.length;i++){%>
                    <tr class="<%-(detail[i].isDeleted.toString()=='true')?"rowdelete":""%>" >
                        <%for(var j=0;j<mapdetail.map.length;j++){%>
                            <td>
                                <%-include('partial/itemtd',{maptype:mapdetail.maptype[j],value:detail[i][mapdetail.map[j]],resultdt:detail,sid:detail[i].sid}) %>

                            </td>
                        <%}%>
                        <td class="text-end">
                            <%if(detail[i].isDeleted.toString()!="true" && mapdetail.groupbtn.indexOf("edit")>-1 && detail[i].isInspected.toString()!="true"){%>
                            <a href="#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                            <span class="svg-icon svg-icon-5 m-0">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon--></a>
                            <!--begin::Menu-->
                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                <!--begin::Menu item-->
                                <%if(detail[i].isDeleted.toString()!="true" && mapdetail.groupbtn.indexOf("edit")>-1 ){%>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" onclick="editdata($(this),'kt_modal_job_detail')" dataedit='<%-JSON.stringify(detail[i])%>' data-bs-toggle="modal" data-bs-target="#kt_modal_job_detail">Edit</a>
                                </div>
                                <%}%>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <%if(mapdetail.groupbtn.indexOf("delete")>-1){%>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" data-kt-customer-table-filter="delete_row" obj="<%=detail[i].sid%>" onclick="deletedata($(this))">Delete</a>
                                </div>
                                <%}%>
                                <%if(detail[i].isInspected.toString()!="true"){%>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_nghiem_thu" data-kt-customer-table-filter="delete_row" obj="<%=detail[i].sid%>" onclick="$('#btn-nghiemthu').attr('sid','<%=detail[i].sid%>')">Nghiệm thu</a>
                                </div>
                                <%}%>
                                <!--end::Menu item-->
                            </div>
                            <%}%>
                            <!--end::Menu-->
                        </td>
                    </tr>
                    <%}%>
                </tbody>
                <!--end::Body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--end::Card body-->
</div>
<div class="card card-flush mt-6 mt-xl-9 listtab" id="listjpaid">
    <!--begin::Card header-->
    <div class="card-header mt-5">
        <!--begin::Card title-->
        <div class="card-title flex-column">
            <h3 class="fw-bold mb-1">Job Paid</h3>
            <div class="fs-6 text-gray-400">Total <%-converToString(sumobjectJson(rspaid.filter((a)=>{if(a["isDeleted"].toString()!="true"){return a}}),'totalCost'))%></div>
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar my-1">
            <!--begin::Select-->
           
            <!--end::Select-->
            <!--begin::Select-->
            <div class="me-4 my-1">
                <select id="kt_filter_orders" name="orders" data-control="select2" data-hide-search="true" class="w-125px form-select form-select-solid form-select-sm">
                    <option value="active" selected="selected">Active</option>
                    <option value="allitem">All job</option>
                   
                </select>
            </div>
            <!--end::Select-->
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-3 position-absolute ms-3">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" id="kt_filter_search" class="form-control form-control-solid form-select-sm w-150px ps-9" placeholder="Search Order" />
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table id="kt_profile_overview_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold">
                <!--begin::Head-->
                <thead class="fs-7 text-gray-400 text-uppercase">
                    <tr>
                        <%for(var i=0;i<mappaid.title.length;i++){%>
                            <th><%-mappaid.title[i]%></th>
                        <%}%>
                            <th></th>
                    </tr>
                </thead>
                <!--end::Head-->
                <!--begin::Body-->
                <tbody class="fs-6">
                    <%for(var i=0;i<rspaid.length;i++){%>
                    <tr class="<%-(rspaid[i].isDeleted.toString()=='true')?"rowdelete":""%>" >
                        <%for(var j=0;j<mappaid.map.length;j++){%>
                            <td>
                                <%-include('partial/itemtd',{maptype:mappaid.maptype[j],value:rspaid[i][mappaid.map[j]],resultdt:rspaid}) %>

                            </td>
                        <%}%>
                        <td class="text-end">
                            <%if(rspaid[i].isDeleted.toString()!="true" && mappaid.groupbtn.indexOf("edit")>-1 && rspaid[i].isInspected.toString()!="true"){%>
                            <a href="#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                            <span class="svg-icon svg-icon-5 m-0">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon--></a>
                            <!--begin::Menu-->
                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                <!--begin::Menu item-->
                                <%if(rspaid[i].isDeleted.toString()!="true" && mappaid.groupbtn.indexOf("edit")>-1 ){%>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" onclick="editdata($(this),'kt_modal_job_paid')" dataedit='<%-JSON.stringify(rspaid[i])%>' data-bs-toggle="modal" data-bs-target="#kt_modal_job_paid">Edit</a>
                                </div>
                                <%}%>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <%if(mappaid.groupbtn.indexOf("delete")>-1){%>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" data-kt-customer-table-filter="delete_row" obj="<%=rspaid[i].sid%>" onclick="deletedata($(this))">Delete</a>
                                </div>
                                <%}%>
                               
                                <!--end::Menu item-->
                            </div>
                            <%}%>
                            <!--end::Menu-->
                        </td>
                    </tr>
                    <%}%>
                </tbody>
                <!--end::Body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--end::Card body-->
</div>
<div class="card card-flush mt-6 mt-xl-9 listtab" id="listjfee">
    <!--begin::Card header-->
    <div class="card-header mt-5">
        <!--begin::Card title-->
        <div class="card-title flex-column">
            <h3 class="fw-bold mb-1">Project Spendings</h3>
            <div class="fs-6 text-gray-400">Total $260,300 sepnt so far</div>
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar my-1">
            <!--begin::Select-->
           
            <!--end::Select-->
            <!--begin::Select-->
            <div class="me-4 my-1">
                <select id="kt_filter_orders" name="orders" data-control="select2" data-hide-search="true" class="w-125px form-select form-select-solid form-select-sm">
                    <option value="active" selected="selected">Active</option>
                    <option value="allitem">All job</option>
                   
                </select>
            </div>
            <!--end::Select-->
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-3 position-absolute ms-3">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" id="kt_filter_search" class="form-control form-control-solid form-select-sm w-150px ps-9" placeholder="Search Order" />
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
          
            <table id="kt_profile_overview_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold">
                <!--begin::Head-->
                <thead class="fs-7 text-gray-400 text-uppercase">
                    <tr>
                        <%for(var i=0;i<mapadditionfee.title.length;i++){%>
                            <th><%-mapadditionfee.title[i]%></th>
                        <%}%>
                            <th></th>
                    </tr>
                </thead>
                <!--end::Head-->
                <!--begin::Body-->
                <tbody class="fs-6 rrr">
                    <%for(var i=0;i<rsfee.length;i++){%>
                    <tr>
                        <%for(var j=0;j<mapadditionfee.map.length;j++){%>
                            <td>
                                <%-include('partial/itemtd',{maptype:mapadditionfee.maptype[j],value:rsfee[i][mapadditionfee.map[j]],resultdt:rsfee}) %>

                            </td>
                        <%}%>
                        <td class="text-end">
                            <%if(mapadditionfee.groupbtn.indexOf("edit")>-1 ){%>
                            <a href="#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                            <span class="svg-icon svg-icon-5 m-0">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon--></a>
                            <!--begin::Menu-->
                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                <!--begin::Menu item-->
                                <%if(mapadditionfee.groupbtn.indexOf("edit")>-1 ){%>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" onclick="editdata($(this),'kt_modal_job_fee')" dataedit='<%-JSON.stringify(rsfee[i])%>' data-bs-toggle="modal" data-bs-target="#kt_modal_job_fee">Edit</a>
                                </div>
                                <%}%>
                                <!--end::Menu item-->
                               
                                <!--end::Menu item-->
                            </div>
                            <%}%>
                            <!--end::Menu-->
                        </td>
                    </tr>
                    <%}%>
                </tbody>
                <!--end::Body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--end::Card body-->
</div>
<div class="card card-flush mt-6 mt-xl-9 listtab" id="history">
    <!--begin::Card header-->
    <div class="card-header mt-5">
        <!--begin::Card title-->
        <div class="card-title flex-column">
            <h3 class="fw-bold mb-1">Project Spendings</h3>
            <div class="fs-6 text-gray-400">Total $260,300 sepnt so far</div>
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar my-1">
            <!--begin::Select-->
           
            <!--end::Select-->
            <!--begin::Select-->
            <div class="me-4 my-1">
                <select id="kt_filter_orders" name="orders" data-control="select2" data-hide-search="true" class="w-125px form-select form-select-solid form-select-sm">
                    <option value="active" selected="selected">Active</option>
                    <option value="allitem">All job</option>
                   
                </select>
            </div>
            <!--end::Select-->
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-3 position-absolute ms-3">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" id="kt_filter_search" class="form-control form-control-solid form-select-sm w-150px ps-9" placeholder="Search Order" />
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
          
            <table id="kt_profile_overview_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold">
                <!--begin::Head-->
                <thead class="fs-7 text-gray-400 text-uppercase">
                    <tr>
                        <%for(var i=0;i<history.title.length;i++){%>
                            <th class="colcustom-<%-i%>"><%-history.title[i]%></th>
                        <%}%>
                          
                    </tr>
                </thead>
                <!--end::Head-->
                <!--begin::Body-->
                <tbody class="fs-6 rrr">
                    <%for(var i=0;i<rshistory.length;i++){%>
                    <tr>
                        <%for(var j=0;j<history.map.length;j++){%>
                            <td class="colcustom-<%-j%>">
                                <%-include('partial/itemtd',{maptype:history.maptype[j],value:rshistory[i][history.map[j]],resultdt:rshistory}) %>

                            </td>
                        <%}%>
                        
                    </tr>
                    <%}%>
                </tbody>
                <!--end::Body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--end::Card body-->
</div>
<div class="card card-flush mt-6 mt-xl-9 listtab" id="payment">
    <!--begin::Card header-->
    <div class="card-header mt-5">
        <!--begin::Card title-->
        <div class="card-title flex-column">
            <h3 class="fw-bold mb-1">Project Spendings</h3>
            <div class="fs-6 text-gray-400">Total $260,300 sepnt so far</div>
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar my-1">
            <!--begin::Select-->
           
            <!--end::Select-->
            <!--begin::Select-->
            <div class="me-4 my-1">
                <select id="kt_filter_orders" name="orders" data-control="select2" data-hide-search="true" class="w-125px form-select form-select-solid form-select-sm">
                    <option value="active" selected="selected">Active</option>
                    <option value="allitem">All job</option>
                   
                </select>
            </div>
            <!--end::Select-->
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-3 position-absolute ms-3">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" id="kt_filter_search" class="form-control form-control-solid form-select-sm w-150px ps-9" placeholder="Search Order" />
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
       
            <table id="kt_profile_overview_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold">
                <!--begin::Head-->
                <thead class="fs-7 text-gray-400 text-uppercase">
                    <tr>
                        <%for(var i=0;i<paymentobj.title.length;i++){%>
                            <th class="colcustom-<%-i%>"><%-paymentobj.title[i]%></th>
                        <%}%>
                          
                    </tr>
                </thead>
                <!--end::Head-->
                <!--begin::Body-->
                <tbody class="fs-6 rrr">
                    <%for(var i=0;i<rspayment.length;i++){%>
                    <tr>
                        <%for(var j=0;j<paymentobj.map.length;j++){%>
                            <td class="colcustom-<%-j%>">
                           
                                <%-include('partial/itemtd',{maptype:paymentobj.maptype[j],value:rspayment[i][paymentobj.map[j]],resultdt:rspayment}) %>

                            </td>
                        <%}%>
                        
                    </tr>
                    <%}%>
                </tbody>
                <!--end::Body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->
<div class="modal fade" id="kt_modal_job_paid" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                <!--begin::Content-->
                <div class="text-center mb-13">
                    <h1 class="mb-3">Add Job Paid</h1>
                </div>
                <!--end::Content-->
                <!--begin::Search-->
                <%-include('partial/createfrom',{input:mappaid.input,obj:"add_job-paid"}) %>
          
                <!--end::Search-->
            </div>
            <!--end::Modal body-->
            <div class="modal-footer flex-center">
                <!--begin::Button-->
                <button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Discard</button>
                <!--end::Button-->
                <!--begin::Button-->
                <button class="btn btn-primary btnsubmit" id="btn-paid" onclick="createdata($(this),'kt_modal_add_job-paid')" obj="jobpaidview" >
                    <span class="indicator-label">Submit</span>
                    <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
                <!--end::Button-->
            </div>
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<div class="modal fade" id="kt_modal_job_fee" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                <!--begin::Content-->
                <div class="text-center mb-13">
                    <h1 class="mb-3">Add Job Fee</h1>
                </div>
                <!--end::Content-->
      
                <%-include('partial/createfrom',{input:mapadditionfee.input,obj:"add_job-fee"}) %>
          
                <!--end::Search-->
            </div>
            <!--end::Modal body-->
            <div class="modal-footer flex-center">
                <!--begin::Button-->
                <button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Discard</button>
                <!--end::Button-->
                <!--begin::Button-->
                <button class="btn btn-primary btnsubmit" id="btn-fee" onclick="createdata($(this),'kt_modal_add_job-fee')" obj="jobadditionfee" >
                    <span class="indicator-label">Submit</span>
                    <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
                <!--end::Button-->
            </div>
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<div class="modal fade" id="kt_modal_job_detail" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
           
            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                <!--begin::Content-->
                <div class="text-center mb-13">
                    <h1 class="mb-3">Add Job Detail</h1>
                </div>
                <!--end::Content-->
                <!--begin::Search-->
                <%-include('partial/createfrom',{input:mapdetail.input,obj:"add_job-detail"}) %>
          
                <!--end::Search-->
            </div>
            <!--end::Modal body-->
            <div class="modal-footer flex-center">
                <!--begin::Button-->
                <button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Discard</button>
                <!--end::Button-->
                <!--begin::Button-->
                <button class="btn btn-primary btnsubmit" id="btn-createnew" onclick="createdata($(this),'kt_modal_job_detail')" obj="job detail management" >
                    <span class="indicator-label">Submit</span>
                    <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
                <!--end::Button-->
            </div>
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>

<div class="modal fade" id="kt_modal_nghiem_thu" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                <!--begin::Content-->
                <div class="text-center mb-13">
                    <h1 class="mb-3">Nghiệm thu</h1>
                </div>
                <!--end::Content-->
                <!--begin::Search-->
                <%
                    var mapnt=mapdetail.input.mapnghiemthu;
                   
                    var tngiemthu=[];
                    var tngiemthutype=[];
                    var tisnull=[];
                    for(var i=0;i<mapnt.length;i++){
                        var idex=mapdetail.input.map.indexOf(mapnt[i]);
                        tngiemthu.push(mapdetail.input.title[idex]);
                        tngiemthutype.push(mapdetail.input.types[idex]);
                        tisnull.push(mapdetail.input.isnull[idex]);
                    }
                    var objngt={
                        title:tngiemthu,
                        isnull:tisnull,
                        map:mapnt,
                        types:tngiemthutype
                    }
                %>
                <%-include('partial/createfrom',{input:objngt,obj:"add_job-nghiemthu"}) %>
          
                <!--end::Search-->
            </div>
            <!--end::Modal body-->
            <div class="modal-footer flex-center"> 
                <!--begin::Button-->
                <button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Discard</button>
                <!--end::Button-->
                <!--begin::Button-->
                <button class="btn btn-primary btnsubmit" id="btn-nghiemthu" onclick="createdata($(this),'kt_modal_add_job-nghiemthu')" obj="job nghiem thu" >
                    <span class="indicator-label">Submit</span>
                    <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
                <!--end::Button-->
            </div>
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<div class="modal fade" id="modal_nghiem_thu_paid" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                <!--begin::Content-->
                <div class="text-center mb-13">
                    <h1 class="mb-3">Nghiệm thu</h1>
                </div>
                <!--end::Content-->
                <!--begin::Search-->
                <%
                    var mapnt=mapdetail.input.mapnghiemthu;
                   
                    var tngiemthu=[];
                    var tngiemthutype=[];
                    var tisnull=[];
                    for(var i=0;i<mapnt.length;i++){
                        var idex=mapdetail.input.map.indexOf(mapnt[i]);
                        tngiemthu.push(mapdetail.input.title[idex]);
                        tngiemthutype.push(mapdetail.input.types[idex]);
                        tisnull.push(mapdetail.input.isnull[idex]);
                    }
                    var objngt={
                        title:tngiemthu,
                        isnull:tisnull,
                        map:mapnt,
                        types:tngiemthutype
                    }
                %>
                <%-include('partial/createfrom',{input:objngt,obj:"add_job-nghiemthu"}) %>
          
                <!--end::Search-->
            </div>
            <!--end::Modal body-->
            <div class="modal-footer flex-center">
                <!--begin::Button-->
                <button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Discard</button>
                <!--end::Button-->
                <!--begin::Button-->
                <button class="btn btn-primary btnsubmit" id="btn-nghiemthu" onclick="createdata($(this),'kt_modal_add_job-nghiemthu')" obj="job nghiem thu" >
                    <span class="indicator-label">Submit</span>
                    <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
                <!--end::Button-->
            </div>
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<script>
    function openlisttab(o){
        $('.listtab').hide();
        $('a.active').removeClass('active');
        $(o).addClass('active');
        $('#'+$(o).attr('obj')).show();
    }
    $(document).ready(function(){
        binddatadropdown();
        $("#kt_filter_orders").on('change', function() {
                if(this.value=="active")
                    $(".rowdelete").css("visibility","collapse")
                else
                $(".rowdelete").css("visibility","unset")
        });
    })
</script>