
 
                    <!--begin::Card-->
                    <div class="card">
                        <!--begin::Card header-->
                        <div class="card-header border-0 pt-6">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Customers" />
                                </div>
                                <!--end::Search-->
                            </div>
                            <!--begin::Card title-->
                            <!--begin::Card toolbar-->
                            <div class="card-toolbar">
                                <!--begin::Toolbar-->
                                <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                                    <!--begin::Filter-->
                                    <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                                    <span class="svg-icon svg-icon-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->Filter</button>
                                    <!--begin::Menu 1-->
                                    <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true" id="kt-toolbar-filter">
                                        <!--begin::Header-->
                                        <div class="px-7 py-5">
                                            <div class="fs-4 text-dark fw-bold">Filter Options</div>
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Separator-->
                                        <div class="separator border-gray-200"></div>
                                        <!--end::Separator-->
                                        <!--begin::Content-->
                                        <div class="px-7 py-5">
                                            <!--begin::Input group-->
                                            <div class="mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label fs-5 fw-semibold mb-3">Month:</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-customer-table-filter="month" data-dropdown-parent="#kt-toolbar-filter">
                                                    <option></option>
                                                    <option value="aug">August</option>
                                                    <option value="sep">September</option>
                                                    <option value="oct">October</option>
                                                    <option value="nov">November</option>
                                                    <option value="dec">December</option>
                                                </select>
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label fs-5 fw-semibold mb-3">Payment Type:</label>
                                                <!--end::Label-->
                                                <!--begin::Options-->
                                                <div class="d-flex flex-column flex-wrap fw-semibold" data-kt-customer-table-filter="payment_type">
                                                    <!--begin::Option-->
                                                    <label class="form-check form-check-sm form-check-custom form-check-solid mb-3 me-5">
                                                        <input class="form-check-input" type="radio" name="payment_type" value="all" checked="checked" />
                                                        <span class="form-check-label text-gray-600">All</span>
                                                    </label>
                                                    <!--end::Option-->
                                                    <!--begin::Option-->
                                                    <label class="form-check form-check-sm form-check-custom form-check-solid mb-3 me-5">
                                                        <input class="form-check-input" type="radio" name="payment_type" value="visa" />
                                                        <span class="form-check-label text-gray-600">Visa</span>
                                                    </label>
                                                    <!--end::Option-->
                                                    <!--begin::Option-->
                                                    <label class="form-check form-check-sm form-check-custom form-check-solid mb-3">
                                                        <input class="form-check-input" type="radio" name="payment_type" value="mastercard" />
                                                        <span class="form-check-label text-gray-600">Mastercard</span>
                                                    </label>
                                                    <!--end::Option-->
                                                    <!--begin::Option-->
                                                    <label class="form-check form-check-sm form-check-custom form-check-solid">
                                                        <input class="form-check-input" type="radio" name="payment_type" value="american_express" />
                                                        <span class="form-check-label text-gray-600">American Express</span>
                                                    </label>
                                                    <!--end::Option-->
                                                </div>
                                                <!--end::Options-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Actions-->
                                            <div class="d-flex justify-content-end">
                                                <button type="reset" class="btn btn-light btn-active-light-primary me-2" data-kt-menu-dismiss="true" data-kt-customer-table-filter="reset">Reset</button>
                                                <button type="submit" class="btn btn-primary" data-kt-menu-dismiss="true" data-kt-customer-table-filter="filter">Apply</button>
                                            </div>
                                            <!--end::Actions-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Menu 1-->
                                    <!--end::Filter-->
                                    <!--begin::Export-->
                                    <button type="button" class="btn btn-light-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_customers_export_modal">
                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
                                    <span class="svg-icon svg-icon-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect opacity="0.3" x="12.75" y="4.25" width="12" height="2" rx="1" transform="rotate(90 12.75 4.25)" fill="currentColor" />
                                            <path d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z" fill="currentColor" />
                                            <path opacity="0.3" d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->Export</button>
                                    <!--end::Export-->
                                    <!--begin::Add customer-->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer" onclick="modecreatenew();">Add <%= title%></button>
                                    <!--end::Add customer-->
                                </div>
                                <!--end::Toolbar-->
                                <!--begin::Group actions-->
                                <div class="d-flex justify-content-end align-items-center d-none" data-kt-customer-table-toolbar="selected">
                                    <div class="fw-bold me-5">
                                    <span class="me-2" data-kt-customer-table-select="selected_count"></span>Selected</div>
                                    <button type="button" class="btn btn-danger" data-kt-customer-table-select="delete_selected">Delete Selected</button>
                                </div>
                                <!--end::Group actions-->
                            </div>
                            <!--end::Card toolbar-->
                        </div>
                   
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0" id="body-card">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                        <th class="w-10px pe-2">
                                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                                <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_customers_table .form-check-input" value="1" />
                                            </div>
                                        </th>
                                        <% for(var i=0;i<titles.length;i++){ %> 
                                            <th class="min-w-125px"><%=titles[i]%></th>
                                        <%} %>
                                     
                                        <th class="text-end min-w-70px">Actions</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody class="fw-semibold text-gray-600">
                                    <% resultdt.forEach(element => {%>
                                        <tr class="trdata" parent="<%-(typeof element.parentSid != "undefined")?element.parentSid:'' %>" sid="<%-(typeof element.sid != "undefined")?element.sid:'' %>">

                                            <!--begin::Checkbox-->
                                            <td>
                                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                    <input class="form-check-input" type="checkbox" value="1" />
                                                </div>
                                            </td>
                                            <!--end::Checkbox-->
                                            <!--begin::Name=-->
                                            <% for(var i=0;i<maps.length;i++){ %> 
                                                <td class="<%-(maptype[i]=='avatarpr')?'d-flex align-items-center':''%>">
                                                    <!--<a href="../../demo7/dist/apps/customers/view.html" class="text-gray-800 text-hover-primary mb-1">Emma Smith</a>-->
                                                    <%if(maptype[i]=="checkbox"){ 
                                                            var mess="Đang hoặt động";
                                                            var oclass="badge-light-primary";
                                                            if(element[maps[i]].toString()=="false"){
                                                                mess="Vô hiệu hóa";
                                                                oclass="badge-light-danger";
                                                            }
                                                        %>
                                                        <span class="badge py-3 px-4 fs-7 <%=oclass%>"><%=mess%></span>
                                                    <% }else if(maptype[i].search("map")>-1){
                                                        var js=JSON.parse(maptype[i]);
                                                        var txt=element[maps[i]];
                                                        if(element[maps[i]]!=null){
                                                            var x = resultdt.filter((a)=>{if(a["sid"]==element[maps[i]]){return a}});
                                                            txt  = x[0][js.clname];  
                                                        }
                                                        %>
                                                        <p><%-txt%></p>
                                                    <%
                                                    }else if(maptype[i].search("fromjson")>-1){
                                                            var json=JSON.parse(maptype[i]);
                                                        %>
                                                        <%=element[json["fromjson"]].name%>
                                                    <%}
                                                    else if(maptype[i].search("createdrop")>-1){
                                                        var json=JSON.parse(maptype[i]);
                                                    %>
                                                       <span id="map<%=element[maps[i]]%>" class="<%=json.createdrop %>"></span>
                                                    <%}
                                                    else if(maptype[i]=="avatarpr"){%>
                                                        <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                                            <a href="#">
                                                                <div class="symbol-label">
                                                                    <img src="<%=element[maps[i]]%>" alt="" class="w-100" />
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!--end::Avatar-->
                                                        <!--begin::User details-->
                                                        <div class="d-flex flex-column">
                                                            <a href="#" class="text-gray-800 text-hover-primary mb-1"><%=element["firstName"]%> <%=element["lastName"]%></a>
                                                            <span><%=element["email"]%></span>
                                                        </div>
                                                  
                                                    <%}
                                                    else{%>
                                                        <%=element[maps[i]]%>
                                                    <%}%>
                                                </td>
                                            <%} %>
                                           
                                            <!--end::Date=-->
                                            <!--begin::Action=-->
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                <span class="svg-icon svg-icon-5 m-0">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon--></a>
                                                <!--begin::Menu-->
                                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                                    <!--begin::Menu item-->
                                                    <%if(groupbtn.indexOf("edit")>-1){%>
                                                    <div class="menu-item px-3">
                                                        <a href="#" class="menu-link px-3" onclick="editdata($(this),'from-create-new')" dataedit='<%- JSON.stringify(element)%>' data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Edit</a>
                                                    </div>
                                                    <%}%>
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    <%if(groupbtn.indexOf("delete")>-1){%>
                                                    <div class="menu-item px-3">
                                                        <a href="#" class="menu-link px-3" data-kt-customer-table-filter="delete_row" obj="<%=element.sid%>" onclick="deletedata($(this))">Delete</a>
                                                    </div>
                                                    <%}%>
                                                    <%if(groupbtn.indexOf("adduser")>-1){%>
                                                        <div class="menu-item px-3">
                                                            <a href="#" class="menu-link px-3"  obj="<%=element.sid%>" onclick="addusergroup('<%=element.sid%>');" data-bs-toggle="modal" data-bs-target="#kt_modal_user">Add user</a>
                                                        </div>
                                                    <%}%>
                                                    <%if(groupbtn.indexOf("addrole")>-1){%>
                                                        <div class="menu-item px-3">
                                                            <a href="#" class="menu-link px-3"  obj="<%=element.sid%>" onclick="addrolegroup('<%=element.sid%>')" data-bs-toggle="modal" data-bs-target="#kt_modal_role">Add role</a>
                                                        </div>
                                                    <%}%>
                                                    
                                                    <!--end::Menu item-->
                                                </div>
                                                <!--end::Menu-->
                                            </td>
                                            <!--end::Action=-->
                                        </tr>

                                        <% })
                                    %>
                                   
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                    <!--begin::Modals-->
                    <!--begin::Modal - Customers - Add-->
                    <div class="modal fade" id="kt_modal_add_customer" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Form-->
                                <div class="form" id="from-create-new">
                                    <!--begin::Modal header-->
                                    <div class="modal-header" id="kt_modal_add_customer_header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold"><span id="actiontt"></span> add <%=title%></h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div id="kt_modal_add_customer_close" class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                            <span class="svg-icon svg-icon-1">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body py-10 px-lg-17">
                                        <!--begin::Scroll-->
                                        <%-include('partial/createfrom',{input:input,obj:"add_customer_scroll"}) %>
                                      
                                        <!--end::Scroll-->
                                    </div>
                                    <!--end::Modal body-->
                                    <!--begin::Modal footer-->
                                    <div class="modal-footer flex-center">
                                        <!--begin::Button-->
                                        <button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Discard</button>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button class="btn btn-primary btnsubmit" onclick="createdata($(this),'from-create-new')" obj="<%=title%>" id="btn-createnew">
                                            <span class="indicator-label">Submit</span>
                                            <span class="indicator-progress">Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                    <!--end::Modal footer-->
                                </div>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>
                   
                    <!--end::Modal - Customers - Add-->
                    <!--begin::Modal - Adjust Balance-->
                    <div class="modal fade" id="kt_customers_export_modal" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Modal header-->
                                <div class="modal-header">
                                    <!--begin::Modal title-->
                                    <h2 class="fw-bold">Export Customers</h2>
                                    <!--end::Modal title-->
                                    <!--begin::Close-->
                                    <div id="kt_customers_export_close" class="btn btn-icon btn-sm btn-active-icon-primary">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                        <span class="svg-icon svg-icon-1">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <!--end::Modal header-->
                                <!--begin::Modal body-->
                                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                    <!--begin::Form-->
                                    <form id="kt_customers_export_form" class="form" action="#">
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-10">
                                            <!--begin::Label-->
                                            <label class="fs-5 fw-semibold form-label mb-5">Select Export Format:</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <select data-control="select2" data-placeholder="Select a format" data-hide-search="true" name="format" class="form-select form-select-solid">
                                                <option value="excell">Excel</option>
                                                <option value="pdf">PDF</option>
                                                <option value="cvs">CVS</option>
                                                <option value="zip">ZIP</option>
                                            </select>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-10">
                                            <!--begin::Label-->
                                            <label class="fs-5 fw-semibold form-label mb-5">Select Date Range:</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input class="form-control form-control-solid" placeholder="Pick a date" name="date" />
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Row-->
                                        <div class="row fv-row mb-15">
                                            <!--begin::Label-->
                                            <label class="fs-5 fw-semibold form-label mb-5">Payment Type:</label>
                                            <!--end::Label-->
                                            <!--begin::Radio group-->
                                            <div class="d-flex flex-column">
                                                <!--begin::Radio button-->
                                                <label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
                                                    <input class="form-check-input" type="checkbox" value="1" checked="checked" name="payment_type" />
                                                    <span class="form-check-label text-gray-600 fw-semibold">All</span>
                                                </label>
                                                <!--end::Radio button-->
                                                <!--begin::Radio button-->
                                                <label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
                                                    <input class="form-check-input" type="checkbox" value="2" checked="checked" name="payment_type" />
                                                    <span class="form-check-label text-gray-600 fw-semibold">Visa</span>
                                                </label>
                                                <!--end::Radio button-->
                                                <!--begin::Radio button-->
                                                <label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
                                                    <input class="form-check-input" type="checkbox" value="3" name="payment_type" />
                                                    <span class="form-check-label text-gray-600 fw-semibold">Mastercard</span>
                                                </label>
                                                <!--end::Radio button-->
                                                <!--begin::Radio button-->
                                                <label class="form-check form-check-custom form-check-sm form-check-solid">
                                                    <input class="form-check-input" type="checkbox" value="4" name="payment_type" />
                                                    <span class="form-check-label text-gray-600 fw-semibold">American Express</span>
                                                </label>
                                                <!--end::Radio button-->
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <!--end::Row-->
                                        <!--begin::Actions-->
                                        <div class="text-center">
                                            <button type="reset" id="kt_customers_export_cancel" class="btn btn-light me-3">Discard</button>
                                            <button type="submit" id="kt_customers_export_submit" class="btn btn-primary">
                                                <span class="indicator-label">Submit</span>
                                                <span class="indicator-progress">Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                            </button>
                                        </div>
                                        <!--end::Actions-->
                                    </form>
                                    <!--end::Form-->
                                </div>
                                <!--end::Modal body-->
                            </div>
                            <!--end::Modal content-->
                        </div>
                        <!--end::Modal dialog-->
                    </div>
                    <!--end::Modal - New Card-->
                    <!--end::Modals-->
            
                <script>
               function change_image(input) {
                if (input.files && input.files[0]) {
                        for (var i = 0; i < input.files.length; i++) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('#'+$(input).attr('obj')).attr("src",e.target.result);
                            };

                            reader.readAsDataURL(input.files[i]);
                        }
                    }
                }
                 $(document).ready(function(){
                    if('<%-groupbtn.indexOf("addrole")>-1%>'){
                        $.get("/apiadmin/getdata/IMRole", function(data, status){
                         
                            var root=data.mess.filter((a)=>{if(a["parentSid"]==null && a["active"]==true){return a}});
                            root.forEach(element => {
                                var lv1=data.mess.filter((a)=>{if(a["parentSid"]==element["sid"] && a["active"]==true){return a}});
                                var d='<div>'+ element.description;
                                d+='<ul class="ul-custom">';
                                    lv1.forEach(element => {
                                        var lv2=data.mess.filter((a)=>{if(a["parentSid"]==element["sid"] && a["active"]==true){return a}});
                                        if(lv2.length<=0){
                                            d+='<li><label class="form-check form-check-custom form-check-solid"><input class="form-check-input form-check-rool-group ck-role-'+element.sid+'" type="checkbox" value='+element.sid+'>'+element.name+ '</label></li>';
                                        }
                                        else{
                                            d+="<p>"+element.description+"</p>"
                                            d+='<ul class="ul-custom">';
                                                lv2.forEach(element => {
                                                 
                                                        d+='<li><label class="form-check form-check-custom form-check-solid"><input class="form-check-input form-check-rool-group ck-role-'+element.sid+'" type="checkbox" value='+element.sid+'>'+element.description+ '</label></li>';
                                                      
                                                })
                                            d+='</ul>';
                                        }
                                })
                                d+='</ul></div>';
                                $(d).appendTo($("#list-role-add-group"));
                            })
                        })
                    }
                    if('<%-groupbtn.indexOf("adduser")>-1%>'){
                        var dparment=[];
                        var user=[];
                       
                        $.get("/apiadmin/getdata/IMDepartment", function(data, status){
                           dparment=data.mess.filter((a)=>{if(a["active"]==true){return a}});
                       
                           $.get("/apiadmin/getdata/User", function(data, status){
                                user=data.mess;
                                console.log(data)
                            dparment.forEach(element => {
                                    var p='<p>'+element.name+'</p>';
                                    var us=user.filter((a)=>{if(a["departmentSid"]==element.sid){return a}});
                                    p+='<ul class="ul-custom">';
                                    us.forEach(element => {
                                        p+='<li><label class="form-check form-check-custom form-check-solid"><input class="form-check-input form-check-user-group ck-user-'+element.sid+'" type="checkbox" value='+element.sid+'>'+element.firstName+' '+element.lastName+ '</label></li>';
                                
                                    })
                                    p+='</ul>';
                                    $(p).appendTo($("#list-user-add-group"));
                            })
                           })
                      
                        })
                    }
                    $(".select-mapdata").each(function(){
                        var sl=$(this);
                        $.get("/apiadmin/getdata/"+$(this).attr("table"), function(data, status){
                         
						 let root = data.mess.filter((a)=>{if(a["parentSid"]==null || a["parentSid"]==""){return a}});
                            var clname=$(sl).attr("clname");
                            root.forEach(element => {
                               if(typeof element["active"]=="undefined" || element["active"].toString()!="false"){
                                var op="<option value="+element.sid+">"+element[clname]+"</option>";
                              
                                $("."+$(sl).attr("obj")+"#map"+element.sid).html(element[clname])
								var rootLvl1 = data.mess.filter((a)=>{if(a["parentSid"]==element.sid){return a}});
								rootLvl1.forEach(element1 => {
									 var rootLvl2 = data.mess.filter((a)=>{if(a["parentSid"]==element1.sid){return a}});
									 op+="<option value="+element1.sid+">--"+element1[clname]+"</option>";
										 rootLvl2.forEach(element2 => {
											op+="<option value="+element2.sid+">----"+element2[clname]+"</option>";
										})
								})
                                $(op).appendTo($(sl));
                                }
                            });
                        });
                    })
                        
                })
               
                function modecreatenew(){
                    $("#actiontt").html("Add");
                    $("#from-create-new .input-data-ctm").each(function(){
                        $(this).val("")
                    })
                    $("#from-create-new .check-ctm").each(function(){
                          $(this).prop('checked',false);
                    })
                    $("#from-create-new .select-mapdata").each(function(){
                         $(this).find('option:eq(0)').attr('selected','selected');
                    })
                    $("#from-create-new .avatar").each(function(){
                        $(this).attr("src","#");
                      
                    })
                    $("#btn-createnew").attr("sid","");
                    $(".passwordhidden").parent().show();
                }
               
                    function addusergroup(sid){
                        $('#addusergroup').attr('sid',sid);$('.form-check-user-group').prop('checked',false);
                        $.get("/apiadmin/getdatasid/IMGroupUser/GetGroupUsers/"+sid, function(data, status){
                            data.mess.forEach(element => {
                                   $('.ck-user-'+element.userSid).prop("checked",true);
                            })
                        })
                    }
                    function addrolegroup(sid){
                        $('#addrolegroup').attr('sid',sid);$('.form-check-rool-group').prop('checked',false);
                        $.get("/apiadmin/getdatasid/IMGroupRole/GetIMGroupRoles/"+sid, function(data, status){
                           console.log(data)
                            data.mess.forEach(element => {
                                   $('.ck-role-'+element.roleSid).prop("checked",true);
                            })
                        })
                    }
                    function posttogroup(o){
                        var us=[];var data=[]
                        var clname="form-check-user-group";
                        var sidobj="userSids";
                        var groupSid=$("#addusergroup").attr("sid");
                      
                        if(o=="AddGroupRoles")
                        {
                             clname="form-check-rool-group";
                             sidobj="roleSids";
                             groupSid=$("#addrolegroup").attr("sid");
                        }
                        
                        $("."+clname).each(function(){
                            if($(this).is(":checked"))
                                us.push(""+$(this).attr("value").toString()+"")
                        })
                        data.push({
                                obj:"groupSid",
                                val: groupSid
                            })
                            data.push({
                                obj:sidobj,
                                val:us
                            })
                        var datapush={
                            obj:o,
                            data:JSON.stringify(data),
                            sid:"",
                        };
                        var datadelete={
                            obj:o,
                            data:groupSid
                        };
                      console.log(datadelete)
                      console.log(datapush)
                        $.post("/apiadmin/delete", {data: JSON.stringify(datadelete)}, function(result){
                            if(result.code==200)
                          {                   
                                if(us.length>0){    
                                $.post("/apiadmin/postdata", {data: JSON.stringify(datapush)}, function(result){
                                    if(result.code==200){
                                        Swal.fire({
                                            title: 'Đã thêm thành công',
                                            confirmButtonText: 'Ok,got it!',
                                        
                                        }).then((result) => {
                                        /* Read more about isConfirmed, isDenied below */
                                        if (result.isConfirmed) {
                                        
                                        } else if (result.isDenied) {
                                            
                                        }
                                        })
                                    }
                                });
                            }
                            else{
                                Swal.fire({
                                            title: 'Đã xóa thành công',
                                            confirmButtonText: 'Ok,got it!',
                                        
                                        })
                            }
                        }
                        });
                    }
                    function deletedata(o){
                        let text = "Xóa data này?";
                        
                        if (confirm(text) == true) {
                            var datapush={
                            obj:$("#btn-createnew").attr("obj"),
                            data:$(o).attr("obj")
                        };
                    
                        $.post("/apiadmin/delete", {data: JSON.stringify(datapush)}, function(result){
                            if(result.code==200)
                            location.reload();
                        });
                        } else {
                           
                        }
                       
                    }
                   
            </script>