<fieldset ng-disabled="main.stateParams.mode==='view'">
  <form class="row form-group">
    <div class="col-xs-4">
      <employee-username></employee-username>
    </div>
    <div class="col-xs-4">
      <employee-password ng-if="main.stateParams.mode==='new'"></employee-password>
    </div>
    <div class="col-xs-4">
      <employee-password2 ng-if="main.stateParams.mode==='new'"></employee-password2>
    </div>
  </form>
  <div class="row form-group">
    <div class="col-xs-4">
      <employee-firstname></employee-firstname>
    </div>
    <div class="col-xs-4">
      <employee-lastname></employee-lastname>
    </div>
    <div class="col-xs-4">
      <employee-hiredate></employee-hiredate>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-4">
      <employee-origsbssid disabled="true"></employee-origsbssid>
    </div>
    <div class="col-xs-4">
      <employee-basestoresid assigned="true"></employee-basestoresid>
    </div>
    <div class="col-xs-4">
      <employee-jobsid></employee-jobsid>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-4">
      <employee-tillsid></employee-tillsid>
    </div>
    <div class="col-xs-4">
      <employee-drawer></employee-drawer>
    </div>
    <div class="col-xs-4">
      <employee-maxdiscperc></employee-maxdiscperc>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-4">
      <ul class="list-group">
        <li class="list-group-item"><employee-active></employee-active></li>
        <li class="list-group-item"><employee-requiredpassword></employee-requiredpassword></li>
      </ul>
    </div>
    <div class="col-xs-4">
      <ul class="list-group">
        <li class="list-group-item"><employee-admin></employee-admin></li>
        <li class="list-group-item"><employee-overrideprofile></employee-overrideprofile></li>
      </ul>
    </div>
  </div>
</fieldset>
