<div class="row">
    <p class="col-xs-10 input-group" ng-click="openCalendar($event, 'dateTermSetTime')" ng-if="!dtDisable()">
      <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="dateTermSetTime.datepickerOptions" ng-model="dateTermSetTime.date" value="{{(dateTermSetTime.date)?(dateTermSetTime.date | date:'mediumDate'):(dateTermSetTime.placeholder)}}" ng-change="onDateChange()" is-open="dateTermSetTime.open" enable-time="false" placeholder="{{dateTermSetTime.placeholder}}" button-bar="dateTermSetTime.buttonBar">
    </p>
    <span class="padding-5" ng-if="dtDisable()">{{dateTermSetTime.date | cleanDate}}</span>
</div>
