<div>
    <a style="color:#336699 !important;cursor:pointer;display:block;height:100%;width:100%" ng-click="button.action()">
      <span style="margin-top:5px;display:block;">{{vouchers[0].totalpackages}} <span class="glyphicon glyphicon-play"></span></span>

    </a>
</div>
