<form name="adyenDevice" id="adyenDevice" autocomplete="off" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4>Adyen</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row" ng-show="deviceInitialized&&!deviceValidating&&!manualEntry"> <!-- Show DIV if deviceInitialized is true -->
          <h4 data-translate="1940">Waiting On Customer</h4>
          <p data-translate="1941">Please wait for the customer to complete the transaction using the card reader/pinpad.</p>
        </div>
        <div class="row" ng-show="!deviceInitialized&&!deviceValidating"> <!-- Show DIV if deviceInitialized is not true -->
          <h4 data-translate="3353">Waiting On Device</h4>
          <p data-translate="3354">Please wait for the Customer Engagement Device to complete initialization.</p>
        </div>
        <div class="row" ng-show="deviceValidating"> <!-- Show DIV if deviceInitialized is not true -->
          <h4 data-translate="3353">Waiting On Device</h4>
          <p data-translate="6353">The device is taking longer than expected to respond, please continue to wait.</p>
        </div>
        <div class="row" ng-show="manualEntry"> <!-- Show DIV if deviceInitialized is not true -->
          <h4 data-translate="4937">Manual Entry</h4>
          <p data-translate="7170">Is the Customer present?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">

          <button id="keyedEntryButton" type="button" class="btn btn-lg btn-default" ng-if="!manualEntry&&tenderData.mode.toLowerCase()!=='give'" ng-click="setManualEntry()">
            <span data-translate="3643">Keyed Entry</span>
          </button>
          <button id="MKEButton" type="button" class="btn btn-lg btn-default" ng-if="manualEntry" ng-disabled="manualEntryProcessing" ng-click="keyedEntry('mke')">
            <span data-translate="1.5">Yes</span>
          </button>
          <button id="MOTOButton" type="button" class="btn btn-lg btn-default" ng-if="manualEntry" ng-disabled="manualEntryProcessing" ng-click="keyedEntry('moto')">
            <span data-translate="1.6">No</span>
          </button>
          <!--<button id="bypassButton" type="button" class="btn btn-lg btn-default" ng-disabled="!deviceInitialized" ng-hide="bypassDeviceDisabled" ng-click="abortCED(true)" data-translate="1942">-->
            <!--Bypass Device-->
          <!--</button>-->
          <button id="cancelButton" type="button" class="btn btn-lg btn-default" ng-disabled="!deviceInitialized" ng-click="abortCED()" data-translate="1.2">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
