<div class="timepicker-wrapper">
	<div class="hours">
		<center><a class="uptime-arrow" ng-click="changeHours(1)"><i class="glyphicon glyphicon-chevron-up"></i></a></center>
		<input type="text" maxlength="2" ng-click="moveCursor($event.currentTarget)" ng-disabled="disable" ng-read-only="true" ng-keypress="analizeTimeData($event, 'hour')" ng-model="timepicker.hours" ng-blur="formatTime($event)" enter-blur="">
		<center><a class="downtime-arrow" ng-click="changeHours(0)"><i class="glyphicon glyphicon-chevron-down"></i></a></center>
    <center><small><span data-translate="6900">Hrs</span></small></center>
	</div>
	<div class="minutes">
		<center><a class="uptime-arrow" ng-click="changeMinutes(1)"><i class="glyphicon glyphicon-chevron-up"></i></a></center>
		<input type="text" maxlength="2" ng-click="moveCursor($event.currentTarget)" ng-disabled="disable" ng-read-only="true" ng-keypress="analizeTimeData($event, 'minute')" ng-model="timepicker.minutes" ng-blur="formatTime($event)" enter-blur="">
		<center><a class="downtime-arrow" ng-click="changeMinutes(0)"><i class="glyphicon glyphicon-chevron-down"></i></a></center>
    <center><small><span data-translate="5367">Min</span>/small></small></center>
	</div>
	<div class="ampm-select" ng-if="showAmPm()">
		<div class="radio">
			<label>
				<input type="radio" ng-model="ampm" value="am">
        <span data-translate="60.2">AM</span>
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" ng-model="ampm" value="pm">
        <span data-translate="60.3">PM</span>
			</label>
		</div>
	</div>
</div>
