<div class="well well-sm" style="padding:0px;margin:0;margin-bottom:5px;">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb" style="margin:0">
        <li ng-repeat="crumb in crumbs.service.list()" style="margin-bottom:5px;">
          <button class="btn btn-info" ng-if="!$last" ng-click="crumbs.service.navigate($index)" style="text-transform: capitalize">{{crumb.name}}</button>
          <div class="btn-group" ng-if="$last">
            <button class="btn btn-info" disabled="true" style="text-transform: capitalize">{{crumb.name}}</button>
            <button ng-if="crumb.refresh" class="btn btn-info" ng-click="crumb.refresh()" style="text-transform: capitalize"><span class="glyphicon glyphicon-refresh"></span></button>
          </div>
        </li>
      </ol>
    </div>

  </div>

</div>

