<ng-form roll="form" name="pref_form" ng-controller="printerTypePreferences_ctrl" class="pref_form">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <add-type-button></add-type-button>
          <label class="control-label" data-translate="4421">Printer Types</label>
        </div>
        <div class="alert alert-danger" ng-show="!isStore" role="alert" data-translate="4532">Printer Types require your context be set to the Store Level</div>
        <div class="panel-body" ng-show="isStore">
          <div class="row form-group text-center" ng-if="mode==='add'||sharedData.printerTypes.length>0">
            <div class="col-xs-9">
              <strong data-translate="4533">Type Name</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="row" ng-if="sharedData.adding">
                <div class="col-xs-9 text-center">
                  <input type="text" class="form-control" ng-model="sharedData.typename">
                </div>
                <div class="col-xs-3">
                  <save-new-type-button></save-new-type-button>
                  <cancel-new-type-button></cancel-new-type-button>
                </div>
              </div>
              <em ng-if="sharedData.printerTypes.length===0&&!sharedData.adding" data-translate="4534">There are no printer types defined.  Click the + sign to add a fee type.</em>
            </div>
          </div>
          <div class="row form-group" ng-if="mode!=='add'" ng-repeat="x in sharedData.printerTypes track by $index">
            <div class="col-xs-12">
              <div class="row" ng-if="!x.mode">
                <div class="col-xs-9 text-center">
                  {{x.name}}
                </div>
                <div class="col-xs-3">
                  <edit-type-button data="x" index="$index"></edit-type-button>
                  <delete-type-button data="x" index="$index"></delete-type-button>
                </div>
              </div>
              <div class="row" ng-if="x.mode==='edit'&&!sharedData.adding">
                <div class="col-xs-9 text-center">
                  <input type="text" class="form-control" ng-model="x.name">
                </div>
                <div class="col-xs-3">
                  <save-type-button data="x" index="$index"></save-type-button>
                  <cancel-type-button data="x" index="$index"></cancel-type-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
