<div>
    <label class="control-label" data-translate="699">Associate</label><br>
    <select ng-change="saveAssoc();" ng-disabled="!adjMemo.isEdit||adjMemo.saving" ng-model="adjMemo.memo.clerksid" class="form-control" ng-options="x.value as x.name for x in memoTools.associateList">
        <option style="display:none" data-translate="1358">Select...</option>
    </select>
</div>
