<!-- <div ng-controller="storeOps_ctrl">
    <div ng-if="contentReady">
        <div class="row top-margin">
            <div class="col-xs-12">
                <asn-lookup-button request-access="false" layout="1" close="close"></asn-lookup-button>
            </div>
        </div>
        <div class="row top-margin">
            <div class="col-xs-12">
                <pending-asn-lookup-button request-access="false" layout="1" close="close"></pending-asn-lookup-button>
            </div>
        </div>
        <div class="row top-margin">
            <div class="col-xs-12">
                <shipping-packages-button layout="1" close="close"></shipping-packages-button>
            </div>
        </div>
        <div class="row top-margin">
            <div class="col-xs-12">
                <asn-to-voucher-button layout="1" close="close"></asn-to-voucher-button>
            </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <asn-print-tags-button layout="1" close="close"></asn-print-tags-button>
          </div>
        </div>
    </div>
</div> -->

<div ng-controller="storeOps_ctrl">
    <div ng-if="contentReady">
        <div class="row top-margin">
          <div class="col-xs-12">
            <button class="btn btn-info btn-block" ng-disabled="disableReceivingOptionsButton()" event-name="asnLookup" disable-by-permission="accessreceivingarea"  ng-click="receivingASNLookup();" type="button">
              {{'4732'|translate}}
            </button>
          </div>
        </div>
        <div class="row top-margin">
            <div class="col-xs-12">
                <button class="btn btn-info btn-block" ng-disabled="disableReceivingOptionsButton()" disable-by-permission="accessreceivingarea" event-name="pendingASNs" ng-click="receivingPendingASNLookup();" type="button">
                    {{'4743'|translate}}
                </button>
            </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <shipping-packages-button layout="1" close="close"></shipping-packages-button>
          </div>
        </div>
        <div class="row top-margin">
            <div class="col-xs-12">
                <asn-to-voucher-button disable="sharedData.isAssignLimited" layout="1" close="close"></asn-to-voucher-button>
            </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12">
            <button class="btn btn-info btn-block" ng-disabled="sharedData.receiving.voucher.recvitem.length === 0" type="button" ng-click="printTags('ASN')"><span>Print Tags</span></button>
          </div>
        </div>
    </div>
</div>
