<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <h4 data-translate="3638">PO Items</h4>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <div class="col-xs-12 no-padding to-import-po-item-grid-column">
                        <div class="padding-10">
                            <responsive-grid grid="state.grid.settings" extra-class="to-import-po-item-grid"></responsive-grid>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="state.poQty()">
                    <span data-translate="5380">PO Qty</span>
                </button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="state.itemDue()">
                    <span data-translate="3872">Item Due</span>
                </button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="state.allDue()">
                    <span data-translate="3873">All Due</span>
                </button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="state.clearAll()">
                    <span data-translate="1407">Clear All</span>
                </button>
                <button class="btn btn-info btn-large" type="button" ng-disabled="false" ng-click="close(false)"><span data-translate="1.2">Cancel</span></button>
            </div>
        </div>
    </div>
</div>
