<button class="btn btn-info btn-large" ng-click="deletePendingSlips()" ng-disabled="sharedData.documentLookup.selected.length===0" type="button">
    <span data-translate="4668">Delete Selected</span>
</button>