<ng-form novalidate="" id="customerUDFForm" name="form.customerUDFForm" class="form-horizontal">
<div class="modal-content">
  <div class="modal-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="modal-title" data-translate="1096">User Defined Fields</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body" style="padding-bottom:100px;">
    <div class="row form-group" ng-repeat="row in fieldNames">
      <div class="col-xs-4" ng-repeat="x in row">
        <div class="col-xs-3 no-left-padding">
          <label class="control-label">{{x.name}}</label>
        </div>
        <div class="col-xs-9">
          <div class="btn-group col-xs-10">
            <div class="" style="width:100%;text-align:left;overflow:hidden;white-space: nowrap;">
              <input class="form-control" ng-if="x.fieldvalue.resource==='customer'" data-permission="customerallowmanualentryofudfvalues" ng-model="udfForm.Customer.active[x.fieldvalue.key]">
              <input class="form-control" ng-if="x.fieldvalue.resource==='extended'" data-permission="customerallowmanualentryofudfvalues" ng-model="udfForm.Customer.extended.active[x.fieldvalue.key]">
            </div>
            <div class="" uib-dropdown="" style="position:absolute;top:0;right:0;">
              <button event-name="customerDetailUdf2" type="button" data-permission="CustomersSelectUDFValues" style="position:absolute;top:0;right:0;" class="btn btn-default" uib-dropdown-toggle="" ng-click="getUdfOptions(x)">
                <span class="caret"></span>
                <span class="sr-only" data-translate="6909">Split button!</span>
              </button>
              <ul class="dropdown-menu col-xs-12" uib-dropdown-menu="" style="max-height:100px; overflow:auto; width:200px; right:0;" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <div class="col-xs-12 text-center" ng-if="loadingUdfOptions"><img src="images/ajax-loader.gif"></div>
                <li ng-repeat="udf in udfOptions"><a href="javascript: void(0)" ng-click="setUDFOption(x.fieldvalue.resource,x.fieldvalue.key,udf.udf_option);form.customerUDFForm.$setDirty()" id="{{udf.udf_sid}}">{{udf.udf_option}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" ng-disabled="form.customerUDFForm.$pristine || form.customerUDFForm.$invalid" ng-click="save();" type="button">
      <span data-translate="547">Save</span>
    </button>
    <button class="btn btn-info" ng-click="cancel();" type="button">
      <span data-translate="1.2">Cancel</span>
    </button>
  </div>
</div>
</ng-form>
<!--
    <br/>
    <div class="btn-group col-xs-6" uib-dropdown auto-close="always" on-toggle="getUdfOptions(x)">
      <button id="split-button" style="width:100%;text-align:left;overflow:hidden;white-space: nowrap;" type="button" class="form-control" >
        <span ng-if="x.fieldvalue.resource==='customer'">{{udfForm.Customer.active[x.fieldvalue.key]}}</span>
        <span ng-if="x.fieldvalue.resource==='extended'">{{udfForm.Customer.extended.active[x.fieldvalue.key]}}</span>
        <span ng-if="!udfForm.Customer.active[x.fieldvalue.key]&&!udfForm.Customer.extended.active[x.fieldvalue.key]" data-translate="needsID">Select...</span>
      </button>
      <button type="button" style="position:absolute;top:0;right:0;" class="btn btn-default" uib-dropdown-toggle ng-click="getUdfOptions(x)">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu col-xs-12" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">

  -->
