<button type="button" ng-disabled="(!adjMemo.isEdit)||(gridApi.selection.getSelectedRows().length !== 1)||(adjMemo.memo.status===4)||(adjMemo.memo.creatingdoctype === 9)" class="btn btn-info" ng-click="removeMemoItem();">
    <span data-translate="767">Remove Item</span>
</button>