<form novalidate="" id="pmAdjustForm" name="pmAdjustForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="6060">Adjust Prices</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-5">
          <div class="row top-margin">
            <div class="form-group">
              <div class="col-xs-12"><strong data-translate="6089">Adjust Price From:</strong></div>
              <div class="col-xs-11 col-xs-offset-1"><input type="radio" ng-change="resetLists();" ng-model="adjustment.adjustFrom" name="adjPrcFrom" value="0"> <span data-translate="773">Price</span></div>
              <div class="col-xs-11 col-xs-offset-1"><input type="radio" ng-change="resetLists();" ng-model="adjustment.adjustFrom" name="adjPrcFrom" value="1"> <span data-translate="2494">Cost</span></div>
            </div>
          </div>
        </div>
        <div class="col-xs-7" ng-if="adjustment.adjustFrom == 0">
          <div class="row top-margin">
            <label class="col-xs-5 control-label">
              <strong data-translate="1645" class="ng-scope">Price Level</strong>
            </label>
            <div class="col-xs-7">
              <select id="priceLevel" name="priceLevel" class="form-control ng-pristine ng-valid" ng-model="adjustment.pricelvlsid" ng-options="priceLvl.sid as priceLvl.pricelvlname for priceLvl in priceLevelList"></select>
            </div>
          </div>
          <div class="row top-margin"> <!--Hiding Season until 1.13 implementation  -->
            <label class="col-xs-5 control-label">
              <strong data-translate="4866" class="ng-scope">Season</strong>
            </label>
            <div class="col-xs-7">
              <select id="seasons" name="seasons" class="form-control ng-pristine ng-valid" ng-model="adjustment.seasonsid" ng-options="season.sid as season.seasonname for season in seasonList"></select>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <label class="col-xs-6 control-label">
          <strong data-translate="6064" class="ng-scope">Adjust Price By</strong>
        </label>
        <div class="col-xs-6">
          <select ng-if="adjustment.adjustFrom == 0" id="adjustBy" name="adjustBy" class="form-control ng-pristine ng-valid" ng-model="adjustment.adjustBy" ng-change="resetFields();" ng-options="adjPrice as adjPrice.name for adjPrice in AdjustPriceByList track by adjPrice.name"></select>
          <select ng-if="adjustment.adjustFrom != 0" id="adjustBy" name="adjustBy" class="form-control ng-pristine ng-valid" ng-model="adjustment.adjustBy" ng-change="resetFields();" ng-options="adjPrice as adjPrice.name for adjPrice in AdjustCostByList track by adjPrice.name"></select>
        </div>
        <hr>
      </div>
      <div class="row" ng-if="adjustment.adjustBy.methodLabel != null">
        <label class="col-xs-6 control-label">
          <strong class="ng-scope">{{adjustment.adjustBy.methodLabel}}</strong>
        </label>
        <div class="col-xs-6">
          <select id="adjustMethod" name="adjustMethod" class="form-control ng-pristine ng-valid" ng-model="adjustment.adjustMethod" ng-options="adjMethod as adjMethod.name for adjMethod in AdjustMethodList"></select>
        </div>
        <hr>
      </div>
      <div class="row" ng-if="adjustment.adjustBy.value != 1">
        <label class="col-xs-6 control-label">
          <strong class="ng-scope">{{adjustment.adjustBy.amountLabels[adjustment.adjustMethod.value].name}}</strong>
        </label>
        <div class="col-xs-6" ng-if="adjustment.adjustMethod.value === 0 && adjustment.adjustBy.value < 5">
          <input class="form-control" numberonly="" min="0" max="9007199254740990" data-currency-formatter="currency" id="adjustAmount" ng-model="adjustment.adjustAmount" type="text">
        </div>
        <div class="col-xs-6" ng-if="adjustment.adjustMethod.value === 1 || adjustment.adjustBy.value >= 5">
          <input numberonly="" class="form-control" min="{{minVal}}" max="100" id="adjustPercent" ng-model="adjustment.adjustAmount" type="text">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" id="pmAdjustCancelBtn" event-name="pmAdjustCancel" name="pmAdjustCancelBtn" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
            <button type="button" id="pmAdjustOkBtn" event-name="pmAdjustOk" name="pmAdjustOkBtn" class="btn btn-lg btn-default" ng-disabled="pmAdjustForm.$invalid" ng-click="save()"><span data-translate="6090">Adjust</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
