<div class="modal-content">
    <div class="modal-header">
        <h4 data-translate="5601">Serial Number Lookup</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-xs-4">
                <advanced-search-filter params="filterSettings"></advanced-search-filter>
            </div>
            <div class="col-xs-8" ui-i18n="{{lang}}">
                <div id="grid1" class="grid" ui-grid="snGridOptions" ui-grid-resize-columns="" ui-grid-edit="" ui-grid-selection="">
                    <prism-ajax-loader ng-if="state.gridLoadMsg.showLoader" loader-title="state.gridLoadMsg.title" loader-message="state.gridLoadMsg.message"></prism-ajax-loader>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left">
                <div ng-if="snGridOptions.data"><span data-translate="2893">Total Records: </span> {{totalRecords}}</div>
                <div ng-if="snGridOptions.data.length===0"><span data-translate="2894">No records found.</span></div>
            </div>
            <div class="col-xs-8 text-center">
                <paging-control ng-if="showPaging()" grid-reference="gridApi" total-records="totalRecords" results-per-page="pageSize" call-back="getData"></paging-control>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
        <button event-name="invnSnNewSerNo" type="button" id="invnSnNewSerNo" name="invnSnNewSerNo" class="btn btn-info" data-permission="inventoryitemalloweditserialandlotnumber" data-permission-disabled="!allowEdit" ng-click="newSerNo()">
                <span data-translate="581">New</span>
        </button>
        <button event-name="invnSnEditSerNo" type="button" id="invnSnEditSerNo" name="invnSnEditSerNo" class="btn btn-info" data-permission="inventoryitemalloweditserialandlotnumber" data-permission-disabled="!allowEdit||gridApi.selection.getSelectedRows().length===0" ng-click="editSerNo()">
                <span data-translate="774">Edit</span>
        </button>
        <button event-name="snLookupSelectItem" type="button" id="snLookupSelectItem" name="snLookupSelectItem" class="btn btn-info" ng-disabled="allowEdit||gridApi.selection.getSelectedRows().length===0" ng-click="selectSnItem()">
                <span data-translate="5759">Select Serial</span>
        </button>
        <button class="btn btn-info" type="button" ng-click="$close('NoAction')">
                <span data-translate="583">Close</span>
        </button>
    </div>
</div>
