<span>
<button class="btn btn-lg btn-default" ng-if="!disbursements.isEdit" data-permission="editformerdisbursement" ng-click="toggleEdit()" type="button">
  <span data-translate="774">Edit</span>
</button>
<button ng-if="disbursements.isEdit" class="btn btn-lg btn-default" ng-click="toggleEdit()" type="button">
  <span data-translate="1.4">Done</span>
</button>
</span>
