<button type="button" ng-disabled="$ctrl.button.disable()" class="btn btn-warning" ng-click="$ctrl.button.action()" event-name="TransferVerificationResolveAll">
  <span data-translate="6383">Resolve All</span>
</button>
