<div class="col-xs-3">
    <label data-translate="2119">Description 2</label>
</div>
<div class="col-xs-9">
    <input maxlength="30" required-box="" required-status="{{$ctrl.service.isFieldRequired('desc2')&&!$ctrl.service.disableOnReadOnlyMode()}}" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" ng-model="$ctrl.service.item.description2" class="form-control" id="imi-description2">
</div>
