<div class="btn-group split-ui-tab-button-container">
    <button event-name="invnEditGeneralTab" ng-click="setActiveTab('general')" id="invnEditGeneralTab" name="invnEditGeneralTab" type="button" class="btn split-ui-tab-button right six" ng-class="{'btn-info':(activeTab==='general'), 'btn-default':(activeTab!=='general')}" ng-disabled="(activeTab==='general')">
        <span data-translate="685">General</span>
    </button>
    <button event-name="invnEditPriceTab" ng-click="setActiveTab('pricecost')" id="invnEditPriceTab" name="invnEditPriceTab" type="button" class="btn split-ui-tab-button right six" ng-class="{'btn-info':(activeTab==='pricecost'), 'btn-default':(activeTab!=='pricecost')}" ng-disabled="(activeTab==='pricecost')">
        <span data-translate="3304">Price/Cost</span>
    </button>
    <button event-name="invnEditPurchasingTab" ng-click="setActiveTab('quantities')" id="invnEditQtyTab" name="invnEditQtyTab" type="button" class="btn split-ui-tab-button right six" ng-class="{'btn-info':(activeTab==='quantities'), 'btn-default':(activeTab!=='quantities')}" ng-disabled="(activeTab==='quantities')">
        <span data-translate="764">Qty</span>
    </button>
    <button event-name="invnEditPurchasingTab" ng-click="setActiveTab('purchasing')" id="invnEditPurchasingTab" name="invnEditPurchasingTab" type="button" class="btn split-ui-tab-button right six" ng-class="{'btn-info':(activeTab==='purchasing'), 'btn-default':(activeTab!=='purchasing')}" ng-disabled="(activeTab==='purchasing')">
        <span data-translate="2078">Purchasing</span>
    </button>
    <button event-name="invnEditUdfTab" ng-click="setActiveTab('udfaux')" id="invnEditUdfTab" name="invnEditUdfTab" type="button" class="btn split-ui-tab-button right six" ng-class="{'btn-info':(activeTab==='udfaux'), 'btn-default':(activeTab!=='udfaux')}" ng-disabled="(activeTab==='udfaux')">
        <span data-translate="5232">UDF</span>
    </button>
    <button event-name="invnEditMiscTab" ng-click="setActiveTab('misc')" id="invnEditMiscTab" name="invnEditUdfTab" type="button" class="btn split-ui-tab-button right six" ng-class="{'btn-info':(activeTab==='misc'), 'btn-default':(activeTab!=='misc')}" ng-disabled="(activeTab==='misc')">
        <span data-translate="5131">Misc</span>
    </button>
</div>