<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
    <div class="btn-group">
        <button class="btn btn-default btn-lg" ng-disabled="!(enableActionButtons('new')) || activePendingPiSheetPosition>-1" ng-click="new()"><span data-translate="581">New</span></button>
    </div>
    <div class="btn-group" ng-if="selectedSheets.length === 1">
        <button class="btn btn-default btn-lg" ng-if="activateOrDeactivate(true)" data-permission="PIActivateSheet" data-permission-disabled="!(selectedSheets.length === 1) || !(enableActionButtons('deactivate')) || (selectedPiSheet.exported===true)" ng-click="deactivate(false)"><span data-translate="3041">Deactivate</span></button>
        <button class="btn btn-default btn-lg" data-permission="piactivatesheet" ng-if="activateOrDeactivate(false)" data-permission-disabled="!(selectedSheets.length === 1) || !(enableActionButtons('activate')) || (selectedPiSheet.exported===true) ||selectedPiSheet.in_progress === 2" ng-click="activate(true)"><span data-translate="2334">Activate</span></button>
    </div>
    <div class="btn-group" ng-if="selectedSheets.length === 1 && selectedPiSheet.active">
        <button class="btn btn-default btn-lg" data-permission="PIEditSheet" data-permission-disabled="!(selectedSheets.length === 1) || !(enableActionButtons('edit')) || selectedPiSheet.in_progress === 2" ng-click="edit()"><span data-translate="774">Edit</span></button>
    </div>
    <div class="btn-group" ng-if="selectedSheets.length === 1 && !selectedPiSheet.active">
        <button class="btn btn-default btn-lg" data-permission="PIEditSheet" data-permission-disabled="!(selectedSheets.length === 1) || !(enableActionButtons('delete'))" ng-click="delete()"><span data-translate="544">Delete</span></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-lg" data-permission="PIUpdateStartQuantity" data-permission-disabled="!(selectedSheets.length === 1) || !(enableActionButtons('update_start_qty')) || selectedPiSheet.in_progress === 2" ng-click="updateStartQty()"><span data-translate="3679">Update Start Qty</span></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-lg" ng-disabled="!(selectedSheets.length === 1) || !(enableActionButtons('pisheet')) || selectedPiSheet.in_progress === 2" ng-click="openSheet()"><span data-translate="3680">PI sheet</span></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-lg" data-permission="PIExportSheet" data-permission-disabled="!(selectedSheets.length === 1) || !(selectedPiSheet.active) || !(enableActionButtons('send_v9')) || !canExportToV9 || selectedPiSheet.in_progress === 2" ng-click="sendToV9()"><span data-translate="3681">Send to RIL</span></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-lg" data-permission="PIPrintSheet" data-permission-disabled="!(selectedSheets.length === 1) || selectedPiSheet.in_progress === 2" ng-click="printPI()"><span data-translate="522">Print</span></button>
    </div>
</div>
