<div name="pi">
	<div class="panel panel-default">
        <div class="panel-heading">
            <h4 data-translate="6564">Physical Inventory (Stores)</h4>
        </div>
        <div class="panel-body height">
            <div class="panel panel-default" ng-if="runIt">
                <div class="pi-sheet panel-heading">
                    <h4 data-translate="3708">PI Sheets</h4>
                </div>
                <div class="panel-body" ui-i18n="{{lang}}">
                    <div id="grid1" ui-grid-resize-columns="undefined" ui-grid-selection="undefined" ng-if="piGrid.data.length>0" ui-grid="piGrid" external-scopes="gridHandlers" class="grid"></div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <paging-control ng-if="piGrid.data.length>0&&!searching" grid-reference="gridApi" total-records="piGridTotalRecords" results-per-page="piGridPageSize" call-back="searchPiSheets"></paging-control>
                            <br>
                            <span data-translate="2789">Total Records</span> {{piGridTotalRecords}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button-bar view-path="components/store-ops/pi/pi-button-bar.htm"></button-bar>
</div>
