<form novalidate="" id="pmNewForm" name="pmNewForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="6055">New Markdown</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label class="control-label">
              <strong data-translate="6048" class="ng-scope">Markdown Name</strong>
            </label>
            <input class="form-control" ng-required="true" id="markdownName" maxlength="30" ng-model="markdownName" type="text">
          </div>
          <div class="form-group">
            <label class="control-label">
              <strong data-translate="2233" class="ng-scope">Subsidiary: </strong>
            </label>
            <span>{{activeSubName}}</span>
           </div>
         </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" id="pmNewCancelBtn" event-name="pmNewCancel" name="pmNewCancelBtn" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
            <button type="button" id="pmNewOkBtn" event-name="pmNewOk" name="pmNewOkBtn" class="btn btn-lg btn-default" ng-disabled="pmNewForm.$invalid" ng-click="save()"><span data-translate="1.1">OK</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
