<div>
    <label class="control-label" data-translate="2721">Price Level</label>
    <select ng-disabled="(adjMemo.memo.adjtype !== 1)||(adjMemo.memo.status !== 3)||(!adjMemo.isEdit)||(adjMemo.memo.creatingdoctype === 9)" class="form-control {{fieldClass}}" name="pricelevel_sid" ng-class="{ errorinput: adjMemo.memo.pricelvlsid.$invalid }" ng-change="savePriceLevel();" ng-model="adjMemo.memo.pricelvlsid" ng-if="adjMemo.PriceLevels.length > 0" ng-options="x.sid as x.price_level_name for x in adjMemo.PriceLevels">
        <option value="" style="display:none" data-translate="1358">Select...</option>
    </select>
</div>
