<!-- <form class="modal-default" name=""> -->
<div class="modalouter">
  <div class="modal-header">
    <span data-translate="6793">Postal Code Matches</span>
  </div>
  <div class="modal-body" id="multi_match_ctrls">
    <div class="row">
      <div class="col-xs-12" ui-i18n="en">
        <div id="multiMatchGrid" ui-grid="multiMatchGrid" class="grid" ui-i18n="en" ui-grid-resize-columns="" ui-grid-selection="" ui-grid-edit="" ui-grid-cellnav="" ui-grid-pinning=""></div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-6 text-center">
        <paging-control ng-if="showPaging()" total-records="totalMatches" results-per-page="pageSize" call-back="getData"></paging-control>
      </div>
      <div class="col-xs-6 text-right">
        <button event-name="postalCodeSelectionSelectItem" type="button" tabindex="6" id="posItemSelectionSelectItemButton" name="posItemSelectionSelectItemButton" class="btn btn-info" ng-disabled="!selectedAddress" ng-click="selectAddress()"><span data-translate="3923">Add Selected</span></button>
        <button class="btn btn-info" event-name="postalCodeSelectionCancel" type="button" ng-click="cancel()" data-translate="1.2">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- </form> -->




