<div>
  <div class="panel-heading">
      <div class="row">
          <div class="col-xs-12">
              {{aside.title}}
          </div>
      </div>
  </div>
  <div class="aside-body">
      <div class="container-fluid">
          <advanced-search-filter ng-if="aside" params="aside.search"></advanced-search-filter>
          <span ng-if="!aside" data-translate="6883">Missing aside configurations</span>
      </div>
  </div>
</div>
