<div class="modalouter">
  <div class="modal-header">
    <h4 data-translate="3659">Select Item Quantity</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <p data-translate="6347">Insufficient quantities to generate slips. Please select the method for slips generating: </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span12 rightalign">
        <button event-name="useQtySpecified" data-permission="commonskipavailabileqtycheck" class="btn btn-large" type="button" ng-click="closeModal('req_qty')"><span>{{'3661'|translate}}</span></button>
        <button ng-if="paramsQty.useButton === 'oh'" event-name="useQtyOh" ng-disabled="paramsQty.ohqty === 0" class="btn btn-large" type="button" ng-click="closeModal('qty_oh')"><span>{{'3662'|translate}}</span></button>
        <button ng-if="paramsQty.useButton === 'avail'" event-name="useQtyAvail" ng-disabled="paramsQty.availableqty === 0" class="btn btn-large" type="button" ng-click="closeModal('qty_avail')"><span>{{'6043'|translate}}</span></button>
        <button event-name="closeModal" class="btn btn-large" type="button" ng-click="closeModal(false)"><span data-translate="1.2">cancel</span></button>
      </div>
    </div>
  </div>
</div>

