<div>
    <!--<button ng-if="button.getLayout() === 0" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()" event-name="createTransferSlipFromInventory">
        <span data-translate="4729">New Transfer Slip</span>
    </button>
    <button ng-if="button.getLayout() === 1" type="button" ng-disabled="button.disable()" class="btn btn-info btn-block" ng-click="button.action()" event-name="createTransferSlipFromInventory">
        <span data-translate="4729">New Transfer Slip</span>
    </button>-->

    <button type="button" class="btn btn-info btn-block" data-permission="merchandiseprinttag" data-permission-disabled="button.disable()" ng-click="button.action()" event-name="printTagsFromInventory">
        <span data-translate="4253">Print Tags</span>
    </button>
</div>
