<div class="rootElement">
    <div class="row" ng-if="!isSubsidiary">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert" data-translate="5316">Data Types require your context be set to the Subsidiary Level</div>
        </div>
    </div>
    <div class="row row-container" ng-if="isSubsidiary">
        <div class="col-xs-6">
            <div class="row">
                <ac-data-types header-title="'5234'" type-field="'typename'" use-active-flag="true" resource="'AddressTypeBackoffice'" use-subsidiary-filter="true" model="2"></ac-data-types>
            </div>
            <div class="row">
                <ac-data-types header-title="'5235'" type-field="'contacttype'" use-active-flag="true" resource="'Contacttype'" model="2" use-subsidiary-filter="true"></ac-data-types>
            </div>
            <div class="row">
                <ac-data-types header-title="'5315'" type-field="'title'" use-active-flag="true" resource="'TitleTypeBackoffice'" use-subsidiary-filter="true" model="2"></ac-data-types>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <ac-data-types header-title="'5236'" type-field="'emailtype'" use-active-flag="true" resource="'EmailTypeBackoffice'" model="2" use-subsidiary-filter="true"></ac-data-types>
            </div>
            <div class="row">
                <ac-data-types header-title="'5237'" type-field="'phonetype'" use-active-flag="true" resource="'PhoneTypeBackoffice'" model="2" use-subsidiary-filter="true"></ac-data-types>
            </div>
        </div>
    </div>
</div>
