<div class="col-xs-12 padding-20">
    <!-- Ordering: Section Start-->
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="5365">Ordering</h3>
            </div>
            <div class="panel-body">
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="3202">Order Cost</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-disabled="disable||state.isPermissionDenied('ordercost')" type="text" numberonly="" data-currency-formatter="currency" ng-model="item.lastrcvdcost" class="form-control" id="imi-lastrcvdcost">
                        </div>
                    </div>
                </div>
                <!--  Following fields do not have a binding or are not ready to be used-->
                <!--<div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="5146">List Cost</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-disabled="true" type="text" ng-model="item.vendorName" class="form-control" id="imi-vendorName">
                        </div>
                    </div>
                </div>-->
                <!--<div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="4971">Trade Discount %</label>
                        </div>
                        <div class="col-xs-2">
                            <input ng-disabled="disable" type="text" ng-model="item.maxdiscperc1" class="form-control" id="ifpc-OHQty">
                        </div>
                    </div>
                </div>-->
                <!--<div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="5147">FC Order Cost</label>
                        </div>
                        <div class="col-xs-8">
                            <input ng-disabled="true" type="text" ng-model="item.vendorName" class="form-control" id="imi-vendorName">
                        </div>
                    </div>
                </div>-->

                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="3297">Orderable Date</label>
                        </div>
                        <div class="col-xs-8">
                          <p class="input-group" ng-click="openCalendar($event, 'oderableDt')">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="oderableDt.datepickerOptions" ng-model="oderableDt.date" value="{{(oderableDt.date)?(oderableDt.date | date:'mediumDate'):(oderableDt.placeholder)}}" is-open="oderableDt.open" enable-time="false" when-closed="oderableDt.closed()" ng-disabled="disable" position-left="true">
                          </p>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="3302">Discontinued Date</label>
                        </div>
                        <div class="col-xs-8">
                          <p class="input-group" ng-click="openCalendar($event, 'discontinuedDt')">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="discontinuedDt.datepickerOptions" ng-model="discontinuedDt.date" value="{{(discontinuedDt.date)?(discontinuedDt.date | date:'mediumDate'):(discontinuedDt.placeholder)}}" is-open="discontinuedDt.open" enable-time="false" when-closed="discontinuedDt.closed()" ng-disabled="disable" position-left="true">
                          </p>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group remove-bottom-margin">
                        <label for="itemUnorderable" class="col-xs-offset-4">
                            <input name="itemUnorderable" id="itemUnorderable" tabindex="18" type="checkbox" ng-disabled="disable" ng-init="orderableChecked = !item.orderable" ng-model="orderableChecked" ng-change="item.orderable = !orderableChecked" class="checkbox-inline">
                            <span data-translate="5148">Unorderable</span>
                        </label>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="5163">Minimum Order Qty</label>
                        </div>
                        <div class="col-xs-2">
                            <input ng-disabled="disable||(item.kittype > 0 && item.kittype < 3)" type="text" ng-model="item.minordqty" min="0" numberonly="" convert-to-number="" data-format-decimal="{{item.useqtydecimals}}" decimals="{{item.useqtydecimals}}" class="form-control" id="ifpc-minorderQty">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="5164">Case Quantity</label>
                        </div>
                        <div class="col-xs-2">
                            <input ng-disabled="true" type="text" ng-model="item.actstrcaseqty" class="form-control" id="imi-actstrcaseqty">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label data-translate="847">Units/Case</label>
                        </div>
                        <div class="col-xs-2">
                            <input ng-disabled="disable||(item.kittype > 0 && item.kittype < 3)" numberonly="" ng-blur="state.onCalcfieldBlur('qtypercase')" type="text" ng-model="item.qtypercase" class="form-control" id="imi-description3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Store Min/Max: Section Start-->
    <div class="row top-margin20">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="5366">Store Min/Max</h3>
            </div>
            <div class="panel-body">
                <div class="row top-margin">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 text-center">
                                <h4 class="bg-info" data-translate="5367">Min</h4>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="764">Qty</label>
                                </div>
                                <div class="col-xs-4">
                                    <input ng-disabled="disable||state.isPermissionDenied('minmax')||(item.kittype > 0 && item.kittype < 3)" type="text" ng-blur="state.onCalcfieldBlur('minqty')" min="0" numberonly ng-model="qtyFields.minqty" class="form-control" id="ifpc-strminQty" data-format-decimal="{{item.useqtydecimals}}" decimals="{{item.useqtydecimals}}">
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="4173">Ext Cost</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.actstrminextcost | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="4174">Ext Price</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.actstrminextprice | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="5343">Ext Price WT</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.actstrminextpricewt | currency}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 text-center">
                                <h4 class="bg-info" data-translate="5344">Max</h4>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="764">Qty</label>
                                </div>
                                <div class="col-xs-4">
                                    <input ng-disabled="disable||state.isPermissionDenied('minmax')||(item.kittype > 0 && item.kittype < 3)" type="text" ng-blur="state.onCalcfieldBlur('maxqty')" min="0" numberonly ng-model="qtyFields.maxqty" class="form-control" id="ifpc-strmaxQty" data-format-decimal="{{item.useqtydecimals}}" decimals="{{item.useqtydecimals}}">
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="4173">Ext Cost</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.actstrmaxextcost | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="4174">Ext Price</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.actstrmaxextprice | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="5343">Ext Price WT</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.actstrmaxextpricewt | currency}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Min/Max: Section Start-->
    <!-- It was asked by Thanom on 12/20/2016, that this section be hidden until Prism can handle Company values properly -->
    <!--
    <div class="row top-margin20">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="5345">Company Min/Max</h3>
            </div>
            <div class="panel-body">
                <div class="row top-margin">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 text-center">
                                <h4 class="bg-info" data-translate="5367">Min</h4>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="764">Qty</label>
                                </div>
                                <div class="col-xs-4">
                                    {{item.cmpstrminqty|number:item.useqtydecimals}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="4173">Ext Cost</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.cmpstrminextcost | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="4174">Ext Price</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.cmpstrminextprice | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="5343">Ext Price WT</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.cmpstrminextpricewt | currency}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 text-center">
                                <h4 class="bg-info" data-translate="5344">Max</h4>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="764">Qty</label>
                                </div>
                                <div class="col-xs-4">
                                    {{item.cmpstrmaxqty|number:item.useqtydecimals}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="4173">Ext Cost</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.cmpstrmaxextcost | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="4174">Ext Price</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.cmpstrmaxextprice | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <label data-translate="5343">Ext Price WT</label>
                                </div>
                                <div class="col-xs-5">
                                    {{item.cmpstrmaxextpricewt | currency}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
