<div>
  <button ng-if="$ctrl.isPendingLookup()" class="btn btn-default" ng-click="$ctrl.deletePendingVouchers()" ng-disabled="$ctrl.rls.resourceData.selectedItems.length!==1">
    <span data-translate="4668">Delete Selected</span>
  </button>
</div>
