<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h4 data-translate="7260">Corporate Regions > Options</h4>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <form novalidate="" name="$ctrl.rmPrefsForm">
      <div class="row" style="margin-bottom: 0.5em;">
        <div class="col-xs-1" style="margin: 0.5em;">
          <label data-translate="562">Subsidiary</label>
        </div>
        <div class="col-xs-4" ng-if="$ctrl.defaultObj">
          <rp-select-input required="$ctrl.defaultObj" repeater-data="$ctrl.sbsList" key-string="'name'" suppress-translate="true" filter-string="$ctrl.searchString" default-obj="$ctrl.defaultObj" value-key="'value'" ng-model="$ctrl.subsidiary" ng-change="$ctrl.OnChange()">
          </rp-select-input>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <span data-translate="7261">Merchandise Options</span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="checkbox-container">
            <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_create_items_as_regional.value">
            <span data-translate="7262"> Default new items as regional </span>
          </div>

          <div class="checkbox-container">
            <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_create_departments_as_regional.value">
            <span data-translate="7263"> Default new departments as regional </span>
          </div>
          <div class="checkbox-container">
            <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_create_vendors_as_regional.value">
            <span data-translate="7264"> Default new vendors as regional </span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <span data-translate="7265">Regional Inventory Options</span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="checkbox-container">
            <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.selectAllPrefs" ng-click="$ctrl.toggelSelectAll()">
            <span data-translate="1143"> All </span>
          </div>
          <hr>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_prices.value">
                <span data-translate="773"> Price </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_udfs.value">
                <span data-translate="7266"> Inventory UDF </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_costs.value">
                <span data-translate="2494"> Cost </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_vendor_udfs.value">
                <span data-translate="7267"> Vendor UDF </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_alu.value">
                <span data-translate="841"> ALU </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_taxes.value">
                <span data-translate="2772"> Tax Code </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_upc.value">
                <span data-translate="677"> UPC </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_unorderable.value">
                <span data-translate="5148"> Unorderable </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_desc3.value">
                <span data-translate="2147"> Description 3 </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_scale.value">
                <span data-translate="7142"> Scales </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_desc4.value">
                <span data-translate="2148"> Description 4 </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_use_exchangerate_for_cost.value">
                <span data-translate="7268"> Use Exchange Rate for Costs </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.roundCostFlag" ng-disabled="!$ctrl.rmPrefs.regional_inventory_propagate_item_use_exchangerate_for_cost.value">
                <span data-translate="7269"> Round Cost Conversion </span>
              </div>
            </div>
            <div class="col-xs-1">
              <input id="" type="number" step="1" min="0" max="10" class="form-control" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_use_exchangerate_for_cost_rounddecimal.value" ng-disabled="!$ctrl.roundCostFlag">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_use_exchangerate_for_price.value">
                <span data-translate="7270"> Use Exchange Rate for Prices </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
              <div class="checkbox-container">
                <input id="" type="checkbox" class="large-input-field margin-right-5" ng-model="$ctrl.roundPriceFlag" ng-disabled="!$ctrl.rmPrefs.regional_inventory_propagate_item_use_exchangerate_for_price.value">
                <span data-translate="7271"> Round Price Conversion </span>
              </div>
            </div>
            <div class="col-xs-1">
              <input id="" type="number" step="1" min="0" max="10" class="form-control" ng-model="$ctrl.rmPrefs.regional_inventory_propagate_item_use_exchangerate_for_price_rounddecimal.value" ng-disabled="!$ctrl.roundPriceFlag">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <button type="submit" class="btn btn-lg btn-info" ng-disabled="!$ctrl.rmPrefsForm.$dirty" ng-click="$ctrl.updateRegionalMechandisePrefs()">
            <span data-translate="547">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
