<div class="col-xs-12 no-padding to-allocation-grid-column">
    <div class="padding-10">
        <responsive-grid ng-if="state.grid.settings.ready" grid="state.grid.settings" external-scopes="state.grid.externalScopes" extra-class="to-allocation-grid"></responsive-grid>
    </div>
</div>