<div class="col-xs-12">
    <label class="control-label">{{transferSlip.etaLabelText}}</label>
    <input type="button" id="slipEtaDate" class="form-control" value="{{(transferSlip.slip.etadate)?(transferSlip.slip.etadate | date:'mediumDate'):'Never'}}">
</div>
