<ul class="list-group">
  <li class="list-group-item" ng-repeat="x in items">
    <div class="row">
      <div class="col-xs-6">
        {{x.transId | translate}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
        {{x.value}}
      </div>
    </div>
  </li>
</ul>
