<div class="modalouter">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-10">
        <h4 class="inline-block">
          <span ng-if="mode==='add'" data-translate="5867">Add Record</span>
          <span ng-if="mode==='delete'" data-translate="5904">Delete Record</span>
        </h4>
      </div>
    </div>
  </div>
  <div class="modal-body" ng-class="{'height10':biometric.message === null,'height20':biometric.message !== null,'height30':index===3}">
    <!-- Enable when there are more than one biometric types to choose from
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline">
          <div class="form-group">
            <label for="biometricType">Type</label>
            <select class="form-control" ng-model="biometric.type" id="biometricType">
              <option value="0"><span data-translate="5861">Fingerprint</span></option>
              <option value="1"><span data-translate="5862">Face</span></option>
              <option value="2"><span data-translate="5683">Voice</span></option>
              <option value="3"><span data-translate="5864">Retina</span></option>
              <option value="4"><span data-translate="5865">Iris</span></option>
              <option value="5"><span data-translate="5866">Hand</span></option>
            </select>
          </div>
        </form>
      </div>
    </div>
    -->
    <div class="row" ng-if="biometric.type===0">
      <form class="form-horizontal" ng-if="mode==='add'">
        <div class="form-group">
          <label for="fingerprintDescription" class="col-xs-2 control-label"><span data-translate="1279">Description</span></label>
          <div class="col-xs-8">
            <input class="form-control" id="fingerprintDescription" type="text" ng-model="biometric.description">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-info" ng-click="addRecord()" ng-disabled="(index===3&&!biometric.password)"><span data-translate="5881">Scan</span></button>
          </div>
        </div>
        <div class="form-group" ng-if="index===3">
          <label for="fingerprintAuthPassword" class="col-xs-2 control-label"><span data-translate="70.3">Password</span></label>
          <div class="col-xs-8">
            <input class="form-control" id="fingerprintAuthPassword" type="password" ng-model="biometric.password" maxlength="24">
          </div>

        </div>
      </form>
      <form class="form-horizontal" ng-if="mode==='delete'">
        <div class="form-group">
          <label for="fingerprintDeletePassword" class="col-xs-2 control-label"><span data-translate="70.3">Password</span></label>
          <div class="col-xs-8">
            <input class="form-control" id="fingerprintDeletePassword" type="password" ng-model="biometric.password" maxlength="24">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-info" ng-click="deleteRecord()" ng-enter="true" ng-disabled="!biometric.password"><span data-translate="1851">Confirm</span></button>
          </div>
        </div>
      </form>
    </div>
    <div class="row" ng-show="biometric.message !== null">
      <div class="alert" ng-class="{'alert-success':statusType===1,'alert-danger':statusType===2,'alert-info':statusType===0}" role="alert">{{biometric.message}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-right">
        <button class="btn btn-info" type="button" ng-click="$close()"><span data-translate="1.2">Cancel</span></button>
      </div>
    </div>
  </div>
</div>

