<ul class="pagination-sm pagination">
  <li>
    <button class="btn btn-default" ng-disabled="$ctrl.page==1||$ctrl.changing||$ctrl.disabled" ng-click="$ctrl.changePage(1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-fast-backward"></span></button>
  </li>
  <li>
    <button class="btn btn-default" ng-disabled="$ctrl.page==1||$ctrl.changing||$ctrl.disabled" ng-click="$ctrl.changePage($ctrl.page-1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-backward"></span></button>
  </li>
  <li ng-repeat="x in $ctrl.pageList()">
    <button class="btn btn-default" ng-disabled="$ctrl.page*1==x*1||$ctrl.changing||$ctrl.disabled" ng-click="$ctrl.changePage(x)" href="javascript:void(0);" type="button">{{x}}</button>
  </li>
  <li>
    <button class="btn btn-default" ng-disabled="$ctrl.page*1==$ctrl.pageCount()||$ctrl.changing||$ctrl.disabled" ng-click="$ctrl.changePage($ctrl.page + 1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-forward"></span></button>
  </li>
  <li>
    <button class="btn btn-default" ng-disabled="$ctrl.page*1==$ctrl.pageCount()||$ctrl.changing||$ctrl.disabled" ng-click="$ctrl.changePage($ctrl.pageCount())" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-fast-forward"></span></button>
  </li>
</ul>
