<div class="panel panel-default" ng-click="serverItem.serverDetail(serverItem.server)">
  <div class="well well-sm" style="margin-bottom:0px;padding:2px;">
    <div class="row">
      <div class="col-xs-8 text-left">
        <button ng-if="serverItem.server.status!==0&&serverItem.server.status!==2" class="btn btn-danger" ng-click="serverItem.cancelInitialization(serverItem.server.remoteconnectionsid);$event.stopPropagation();" type="button">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </button>
        <span style="padding:5px;">{{serverItem.server.name}}</span>
        <span ng-if="serverItem.server.status===0" style="color:red">
          <strong data-translate="6152">Canceled</strong>
        </span>
      </div>
      <div class="col-xs-4 text-right">
        <span class="glyphicon glyphicon-fire" style="font-size:24px;" ng-class="{'red':serverItem.server.totalfailed>0}"></span> {{serverItem.server.totalfailed}}
      </div>
    </div>
  </div>
  <div class="panel-body text-center" ng-if="serverItem.server.status!==0">
    <div class="row">
      <div class="col-xs-12">
        <replication-progress-bar last-updated="serverItem.headerData.lastupdatedatetime" expected="serverItem.headerData.totalrowsexpected" last-resource="serverItem.headerData.currentresourcewip" received="serverItem.server.totalprocessed"></replication-progress-bar>
      </div>
    </div>
  </div>
  <div class="panel-footer" ng-if="conn.active.sid">
    <div class="row">
      <div class="col-xs-2">
        <button class="btn btn-default" ng-click="reset()">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span data-translate="801">Back</span>
        </button>
      </div>
      <div class="col-xs-8 text-center">

      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</div>
