<ng-form name="allocationPattern">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="5406">Add \ Edit Allocation Patterns</h4>
    </div>
    <div class="modal-body">
      <div class="row form-goup">
        <div class="col-xs-12">
          <label class="control-label">
            <span data-translate="5407">
              Pattern Name
            </span>
            <input type="text" class="form-control" ng-blur="savePattern();" ng-required="true" ng-model="ap.pattern.patternname">
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <div ui-grid-resize-columns="" id="apGrid" ng-if="ap.storeQty.length>0" ui-grid-cellnav="" ui-grid-edit="" ui-grid-selection="" ui-grid="gridOptions" external-scopes="gridHandlers" class=""></div>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button ng-click="delete()" class="btn btn-default" type="button">
        <span data-translate="544">Delete</span>
      </button>
      <button ng-click="close()" class="btn btn-default" ng-disabled="!allocationPattern.$valid" type="button">
        <span data-translate="1.4">Done</span>
      </button>
    </div>
  </div>
</ng-form>
