<div class="col-xs-12 no-padding">
    <div class="row row-container blue-bar padding-5">
        <div class="col-xs-6">
            <item-search disable="{{disable()}}" require-item-qty="true"></item-search>
        </div>
        <div class="col-xs-6">
            <!-- <advanced-item-lookup-button disable="!disable()" document-items="transferOrderItems.onDocument" editable-cells="true" items="state.advancedItemLookup.items" multiple-search="false" ></advanced-item-lookup-button> -->
            <to-adv-item-search-button items="state.advancedItemLookup.items" transfer-order="transferOrder" doc-items="transferOrderItems.onDocument" on-new-item-event="onNewItemEvent" disable="disable()" on-row-update-event="onRowUpdateEvent">
            </to-adv-item-search-button>
            <to-detail-button disable="disable()" transfer-order="transferOrder" on-close-event="onDetailsClosed"></to-detail-button>
            <to-remove-item-button disable="disable()" selected="transferOrderItems.selected" remove-event-handler="onItemRemovalEvent"></to-remove-item-button>
            <to-item-detail-button disable="disable()" selected="transferOrderItems.selected" item-list="transferOrderItems.onDocument" on-close-event="onItemDetailsClosed"></to-item-detail-button>
            <!--<to-po-items-button disable="disable" transfer-order="transferOrder" on-close-event=""></to-po-items-button>-->
        </div>
    </div>
</div>
