<div class="btn-group" ng-if="(transferSlip.slip.sid)&&(transferSlip.slip.status === 3)&&(!transferSlip.slip.held)">
    <button event-name="slipUpdateOnly" ng-disabled="(!transferSlip.isEdit)||(transferSlip.Items.length===0)||(requireReferenceToTo&&!validatedReferenceToTo)||(transferSlip.disableUpdate)" class="btn btn-default" ng-click="updateSlip();">
        <span data-translate="1301">Update Only</span>
    </button>
</div>
