<div class="panel">
  <div class="panel-heading">
    <span data-translate="6614">Edit Tax Rule</span>
  </div>
  <div class="panel-body padding-15">
    <div class="row top-margin">
      <div class="col-xs-12">
        <label class="control-label" data-translate="554">Tax Area </label>: {{selectedRule.taxareaname}}
      </div>
    </div>
    <div class="row top-margin">
      <div class="col-xs-12">
        <label class="control-label" data-translate="1113">Name</label>
        <input type="text" class="form-control" ng-model="selectedRule.alttaxname" maxlength="11" ng-required="true">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label" data-translate="6613">Tax Rule Code</label>
        <select class="form-control" ng-model="selectedRule.tax[0].taxcodesid" ng-change="showStuff($event)" ng-required="true">
          <option ng-repeat="code in taxCodes" ng-value="code.sid">{{code.taxname}}</option>
        </select>
      </div>
    </div>
    <div class="form-group padding-5">
      <div class="col-xs-12">
        <label>
          <input type="checkbox" ng-model="selectedRule.luxury"> <span data-translate="6188">Luxury</span>
        </label>
      </div>
    </div>
    <div class="form-group padding-5">
      <div class="col-xs-12">
        <label>
          <input type="checkbox" ng-model="selectedRule.rebate"> <span data-translate="3036">Rebate</span>
        </label>
      </div>
    </div>
    <div class="form-group padding-5">
      <div class="col-xs-12">
        <label>
          <input type="checkbox" ng-model="selectedRule.vatmargin"> <span data-translate="5201">VAT Margin</span>
        </label>
      </div>
    </div>

    <div class="row top-margin">
      <div class="col-xs-6">
        <label class="control-label" data-translate="6189">Threshold 1</label>
        <input type="text" class="form-control" ng-model="selectedRule.level1">
      </div>
      <div class="col-xs-6">
        <label class="control-label" data-translate="6190">Rate 1</label>
        <input type="text" class="form-control" ng-model="selectedRule.taxperc1">
      </div>
    </div>
    <div class="row top-margin">
      <div class="col-xs-6">
        <label class="control-label" data-translate="6191">Threshold 2</label>
        <input type="text" class="form-control" ng-model="selectedRule.level2">
      </div>
      <div class="col-xs-6">
        <label class="control-label" data-translate="6192">Rate 2</label>
        <input type="text" class="form-control" ng-model="selectedRule.taxperc2">
      </div>
    </div>
    <div class="row top-margin">
      <div class="col-xs-6">
        <label class="control-label" data-translate="6193">Threshold 3</label>
        <input type="text" class="form-control" ng-model="selectedRule.level3">
      </div>
      <div class="col-xs-6">
        <label class="control-label" data-translate="6194">Rate 3</label>
        <input type="text" class="form-control" ng-model="selectedRule.taxperc3">
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button type="button" data-translate="547" ng-click="editRule();" class="btn btn-primary" ng-disabled="!selectedRule.alttaxname || !selectedRule.tax[0].taxcodesid">Save</button>
    <button type="button" data-translate="1.2" ng-click="$close()" class="btn btn-primary">Cancel</button>
  </div>
</div>
e
