<div name="pisheet">
	<div class="panel panel-default">
        <div class="panel-heading">
            <h4><span data-translate="6565"></span> - {{storeName}}</h4>
        </div>
        <div class="panel-body height85" ng-if="piSheetReady">
            <pi-sheet-header></pi-sheet-header>
            <pi-sheet-body></pi-sheet-body>
            <pi-sheet-footer></pi-sheet-footer>
        </div>
    </div>
</div>
