<div>
    <div class="row top-margin20">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 2%;">
                    <h5 class="inline-block" data-translate="5760">Lot Numbers</h5>
                    <button type="button" ng-disabled="adjMemo.memo.creatingdoctype === 9" class="btn btn-icon btn-default inline-block pull-right" ng-click="newAdjLotQtyRow()"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div id="snEntryHeaders">
                    <div class="row top-margin20" style="margin-bottom: 0; padding-bottom: 0;">
                        <div class="col-xs-5" style="padding-left: 2%;"><strong><span data-translate="3959">Lot Number</span></strong></div>
                        <div class="col-xs-2"><strong><span data-translate="3950">Orig Qty</span></strong></div>
                        <div class="col-xs-2"><strong><span data-translate="5764">Adj Qty</span></strong></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="bold-hr" style="margin-top: 0; padding-top: 0; margin: 0 1%;">
                        </div>
                    </div>
                </div>
                <div class="panel-body height30 autoOverflow">
                    <form class="form-inline" role="form" name="lotNoForm">
                        <div class="row top-margin" ng-repeat="thisItem in adjLnItems track by $index">
                            <div class="col-xs-5">
                                <div class="form-group has-feedback" style="width: 90%;">
                                    <input type="text" style="width: 100%;" placeholder="{{ '3959' | translate }}" tabindex="{{1000 + $index}}" maxlength="50" id="itemLn{{$index}}" name="itemLotNumber" class="form-control uppercase" ng-disabled="adjMemo.memo.creatingdoctype === 9" ng-model="thisItem.lotnumber" ng-blur="lnProcess(thisItem);">
                                    <span class="glyphicon glyphicon-search form-control-feedback" id="lotNoLookupIcon" ng-click="lotNoLookup(thisItem,lotNoForm)"></span>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <input style="width: 90%;" type="text" class="form-control" ng-model="thisItem.origqty" ng-disabled="true" ng-blur="saveLnAdjRow(thisItem);">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <input style="width: 90%;" type="text" class="form-control" ng-disabled="adjMemo.memo.creatingdoctype === 9" ng-model="thisItem.adjqty" ng-blur="saveLnAdjRow(thisItem);">
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="form-group">
                                    <button event-name="delLnMemo" ng-disabled="adjMemo.memo.creatingdoctype === 9" ng-click="removeLnRow($event,thisItem)" type="button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row" style="background-color: #dee2ed">
                <div class="col-xs-6 col-xs-offset-3">
                    <h5 style="color: #fff; background-color: #103F6B; padding: 5px;" data-translate="5761"><strong>Item Quantities</strong></h5>
                    <div class="well well-sm slip-items-summary">
                        <ul class="list-group-nopad">
                            <li class="list-group-item">
                                <am-qty-item-old></am-qty-item-old>
                            </li>
                            <li class="list-group-item">
                                <am-qty-item-adj></am-qty-item-adj>
                            </li>
                            <li class="list-group-item">
                                <am-qty-item-diff></am-qty-item-diff>
                            </li>
                            <li class="list-group-item">
                                <am-qty-ln-diff></am-qty-ln-diff>
                            </li>
                            <li class="list-group-item">
                                <am-qty-ln-missed></am-qty-ln-missed>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>