<div class="row form-group">
  <div class="col-xs-12 text-center">
    <img src="images/no_item_image_190.png">
  </div>
</div>
<div class="row form-group">
  <div class="col-xs-12">
    <hr>
  </div>
</div>
<div class="row form-group">
  <div class="col-xs-12">
    <dcs-patternsid></dcs-patternsid>
  </div>
</div>
<div class="row form-group">
  <div class="col-xs-12">
    <dcs-useqtydecimals></dcs-useqtydecimals>
  </div>
</div>
<div class="row form-group">
  <div class="col-xs-12">
    <dcs-taxcode></dcs-taxcode>
  </div>
</div>
<div class="row form-group">
  <div class="col-xs-12">
    <dcs-mmc></dcs-mmc>
  </div>
</div>
<div class="row form-group">
  <div class="col-xs-12">
    <label class="checkbox-container">
      <input type="checkbox" class="large-input-field margin-right-5" ng-disabled="$ctrl.sp.mode==='view'" ng-model="$ctrl.dcs.active.regional" data-permission="regionalinventoryeditdcsregionalflag">
      <span data-translate="7275">Regional Department</span>
    </label>
  </div>
</div>
