<ng-form name="activateForm">
  <div class="modal-content">
    <div class="modal-header">
      <h4><span>{{$ctrl.method}} </span><span data-translate="6536">Transaction Rule</span></h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label>
              <span data-translate="6531">Resolution Method</span>:
            </label>
          </div>
          <div class="col-xs-3">
            <label>
              <span data-translate="4160">From Store</span>:
            </label>
          </div>
          <div class="col-xs-3">
            <label>
              <span data-translate="4165">To Store</span>:
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <select name="actionSelect" class="form-control" ng-model="$ctrl.rule.action" ng-invalid="$ctrl.rule.action === 0" required ng-options="+(s.value) as s.text | translate for s in $ctrl.service.actions">
              <option value="" data-translate="1358">Select</option>
            </select>
          </div>
          <div ng-if="$ctrl.rule.fromstoresid === '0'" class="col-xs-3">
            <span class="padding-10" data-translate="6537">Any</span>
          </div>
          <div ng-if="$ctrl.rule.fromstoresid !== '0'" class="col-xs-3">
            <select name="fromStoreSelect" class="form-control" ng-model="$ctrl.rule.fromstoresid" ng-change="$ctrl.validate()" required ng-options="s.sid as s.store_code for s in $ctrl.service.storeList">
              <option value="" data-translate="1358">Select</option>
            </select>
          </div>
          <div ng-if="$ctrl.rule.tostoresid === '0'" class="col-xs-3">
            <span class="padding-10" data-translate="6537">Any</span>
          </div>
          <div ng-if="$ctrl.rule.tostoresid !== '0'" class="col-xs-3">
            <select name="toStoreSelect" class="form-control" ng-model="$ctrl.rule.tostoresid" ng-change="$ctrl.validate()" required ng-options="s.sid as s.store_code for s in $ctrl.service.storeList">
              <option value="" data-translate="1358">Select</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-4">
            <label>
              <span data-translate="6532">Cost Threshold</span>:
            </label>
          </div>
          <div class="col-xs-4">
            <label>
              <span data-translate="6533">Quantity Threshold</span>:
            </label>
          </div>
          <div class="col-xs-4">
            <label>
              <span data-translate="6534">Item Count Threshold</span>:
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" class="form-control" data-currency-formatter="" numberonly="" min="0" ng-model="$ctrl.rule.cost">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" numberonly="" min="0" ng-model="$ctrl.rule.qty">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" numberonly="" decimals="0" min="0" ng-model="$ctrl.rule.itemcnt">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row" ng-if="$ctrl.storeFlag">
          <div class="col-xs-12 alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"><span data-translate="6874">Error:</span></span>
            <span data-translate="4446">From Store and To Store cannot be the same.</span>
          </div>
        </div>
        <div class="row" ng-if="$ctrl.uniqueFlag">
          <div class="col-xs-12 alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only" data-translate="6874">Error:</span>
            <span data-translate="6538">A rule already exists for these stores.  Edit the existing rule or select a unique combination.</span>
          </div>
        </div>
        <div class="row" ng-if="activateForm.actionSelect.$dirty && activateForm.actionSelect.$invalid">
          <div class="col-xs-12 alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only" data-translate="6874">Error:</span>
            <span data-translate="6539">Select a valid resolution action.</span>
          </div>
        </div>
        <div class="row" ng-if="activateForm.fromStoreSelect.$dirty && activateForm.fromStoreSelect.$invalid">
          <div class="col-xs-12 alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only" data-translate="6874">Error:</span>
            <span data-translate="6540">Select a valid 'From Store'.</span>
          </div>
        </div>
        <div class="row" ng-if="activateForm.toStoreSelect.$dirty && activateForm.toStoreSelect.$invalid">
          <div class="col-xs-12 alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only" data-translate="6874">Error:</span>
            <span data-translate="6541">Select a valid 'To Store'.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-default" type="button" ng-disabled="activateForm.$invalid || $ctrl.rule.action === 0 || $ctrl.storeFlag || $ctrl.uniqueFlag" ng-click="$ctrl.save()"><span>{{$ctrl.method}}</span></button>
      <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()"><span data-translate="1.2">Cancel</span></button>
    </div>
  </div>
</ng-form>
