<div class="hidden">
    <button ng-if="button.showLayout(1)" event-name="verifyTranfer" type="button" data-permission-disabled="button.disable()" class="btn btn-info" ng-click="button.action()">
        <span data-translate="5250">Transfer Orders</span>
    </button>
    <img-btn ng-if="button.showLayout(2)" event-name="verifyTranfer" translation-name="'6387'" img-src="'/images/pos/pos_new_48.png'" click-handler="button.action" disable="button.disable()" button-text="'Transfer Verification'">
    </img-btn>
</div>
