<ng-form name="vend_form">
  <div ng-if="mode==='edit'&&display==='block'">
    <label class="control-label" data-translate="3533">Vendor Code</label>
    <select ng-readonly="purchaseOrder.saving" ng-disabled="!purchaseOrder.isEdit||vendorsid_disabled()" ng-if="purchaseOrder.active" ng-init="getVendors()" ng-required="true" name="vend_sid" class="form-control {{fieldClass}}" ng-class="{ errorinput: vend_form.vend_sid.$invalid }" ng-model="purchaseOrder.vendor" ng-change="saveVendorSid()" ng-options="x as x.vendor_code  + ' - ' + x.vendor_name for x in vendors">
      <option value="" data-translate="1358">Select...</option>
    </select>
    <select ng-readonly="purchaseOrder.saving" class="form-control" ng-if="!purchaseOrder.active">
      <option value="" style="display:none" data-translate="1358">Select...</option>
    </select>

  </div>
  <div ng-if="mode==='edit'&&display==='inline'">
    <div class="row">
      <div class="col-xs-6">
        <label class="control-label" data-translate="3533">Vendor Code</label>
      </div>
      <div class="col-xs-6">
        <select ng-disabled="!purchaseOrder.isEdit||vendorsid_disabled||purchaseOrder.active.status===1" class="form-control {{fieldClass}}" ng-model="purchaseOrder.vendor" ng-readonly="purchaseOrder.isReadOnly" ng-required="true" ng-change="saveVendorSid()" ng-options="x as x.vendor_code + ' - ' + x.vendor_name for x in vendors">
          <option value="undefined" style="display:none" data-translate="1358">Select...</option>
        </select>
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='block'">
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label" data-translate="3533">Vendor Code</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{purchaseOrder.active.vendorsid}}
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='inline'">
    <label class="control-label" data-translate="3533">Vendor Code</label>
    <span>{{purchaseOrder.active.vendorsid}}</span>
  </div>
</ng-form>
