<div class="row col-xs-12">
  <div class="col-xs-3">
    <div class="row form-group">
      <label>{{ "1113" | translate }}</label><span>: {{ piSheet.name }}</span>
    </div>
    <div class="row form-group">
      <label>{{ "683" | translate }}</label><span>: {{ storeName }}</span>
    </div>
    <div class="row form-group">
      <label>{{ "2458" | translate }}</label><span>: {{ piSheet.created_by }}</span>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="row form-group">
      <label>{{ "3124" | translate }}</label><span>: {{ piSheet.created_datetime | date: "MM/dd/yyyy h:mma" }}</span>
    </div>
    <div class="row form-group">
      <label>{{ "3146" | translate }}</label><span>: {{ piSheet.modified_datetime | date: "MM/dd/yyyy h:mma" }}</span>
    </div>
    <div class="row form-group">
      <label>{{ "3794" | translate }}</label><span>: {{ piSheet.exported_datetime | date: "MM/dd/yyyy h:mma" }}</span>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="row form-group">
      <label data-translate="3759" ng-if="!importedIsActive">Qty Total</label><span ng-if="!importedIsActive">: {{ piSheet.start_qty }}</span>
      <label ng-if="importedIsActive" data-translate="3760">Imported total</label><span ng-if="importedIsActive">: {{ piSheet.imported_qty + piSheet.scan_qty_bad }}</span>
      <!-- <span ng-if="!importedIsActive">{{'3703'|translate}}</span> -->
    </div>
    <div class="row form-group">
      <label ng-if="!switchThirdColumnData" data-translate="3706">Total Counts</label><span ng-if="!switchThirdColumnData">: {{ piSheet.scan_qty_good + piSheet.scan_qty_bad }}</span>
      <label ng-if="switchThirdColumnData && importedIsActive" data-translate="3704">Good Scans</label><span ng-if="switchThirdColumnData && importedIsActive">: {{ piSheet.imported_qty }}</span>
      <label ng-if="switchThirdColumnData && addCountsIsActive" data-translate="3696">Add Counts</label><span ng-if="switchThirdColumnData && addCountsIsActive">: {{ piSheet.manual_qty }}</span>
    </div>
    <div class="row form-group">
      <label ng-if="!switchThirdColumnData" data-translate="3707">Total Diff</label><span ng-if="!switchThirdColumnData">:
        {{
          piSheet.start_qty -
            (piSheet.scan_qty_good + piSheet.scan_qty_bad) -
            piSheet.manual_qty
        }}</span>
      <label ng-if="switchThirdColumnData && importedIsActive" data-translate="3698">Bad Scans</label><span ng-if="switchThirdColumnData && importedIsActive">: {{ piSheet.scan_qty_bad }}</span>
      <label ng-if="switchThirdColumnData && addCountsIsActive" data-translate="3761">Disc Qty</label><span ng-if="switchThirdColumnData && !importedIsActive">:
        {{
          piSheet.start_qty -
            (piSheet.scan_qty_good + piSheet.scan_qty_bad) -
            piSheet.manual_qty
        }}</span>
    </div>
  </div>
  <div class="col-xs-4" ng-if="!isBadScansTab()">
    <div class="row form-group">
      <div ng-show="runIt&&showFilter('default')">
        <advanced-search-filter params="search" allow-udf="true"></advanced-search-filter>
      </div>
      <div ng-show="runIt&&showFilter('add_counts')">
        <label>{{ "1415" | translate }}</label>
        <input type="text" id="focusPiItemLookup" bar-code="" ng-disabled="!(piSheet.active)" class="form-control" ng-model="piAddCountItemLookup.value" ng-keydown="addCountsByPosLookup($event)" title="{{ '1415' | translate }}" placeholder="{{ '1415' | translate }}">
      </div>
    </div>
    <div class="row form-group" ng-show="runIt&&showFilter('add_counts')">
      <div class="col-xs-6">
        <input type="number" min="0" ng-disabled="!enableAddCount || !(piSheet.active) || zonePref" ng-click="addCountsTriggeredByUserClick = true" ng-keydown="addCountsByPosLookup($event)" class="form-control" ng-model="addCount.value" title="{{ 'Add count' | translate }}" placeholder="{{ '772' | translate }}">
      </div>
      <div class="col-xs-6">
        <button ng-disabled="!enableAddCount || !(piSheet.active) || zonePref" class="btn btn-default filter-remove" ng-click="addCountToItem()" type="button">
          <span data-translate="3762">Add count</span>
        </button>
      </div>
    </div>
  </div>
</div>
