<form novalidate="" id="invnSnForm" name="invnSnForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="5775">Enter Serial Numbers</h4>
    </div>
    <div class="modal-body">
      <div id="snEntryHeaders">
        <div class="row" style="margin-bottom: 0;">
          <div class="col-xs-4">
            <h4 data-translate="5709">Serial Number</h4>
          </div>
          <div class="col-xs-2"><h4 data-translate="5764">Adj Qty</h4></div>
          <div class="col-xs-6"><h4 data-translate="884">Note</h4></div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr class="bold-hr">
          </div>
        </div>
      </div>
      <div id="snitemlist" class="container-fluid height50 autoOverflow">
        <div class="row" ng-repeat="snItem in modalSnAdjItems track by $index">
          <div class="row">
            <div class="form-group has-feedback list-group-item no-border">
              <div class="col-xs-4">
                <ng-form name="serNoForm">
                  <div>
                    <input type="text" ng-class="((snItem.serialtype === 2)&&(!snItem.serialno)) ? 'has-error' : (!snItem.serialno) ? 'has-warning' : 'has-success'" class="form-control uppercase" ng-keydown="tabToNext($event,snItem,serNoForm)" tabindex="{{ 1000 + $index }}" maxlength="50" id="itemSerialNumber{{ $index }}" name="itemSerialNumber" ng-model="snItem.serialno" ng-blur="validateSerNo(snItem,serNoForm)" ng-change="serNoChange(snItem,serNoForm)">
                    <i class="glyphicon glyphicon-search form-control-feedback" id="serNoLookupIcon" ng-click="serNoLookup(snItem,serNoForm,store)"></i>
                  </div>
                  <div class="error" ng-if="serNoForm.itemSerialNumber.$error.unique">
                    <span class="text-danger" data-translate="3381">Duplicate</span>
                  </div>
                </ng-form>
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" disabled="disabled" id="invnSnQty" name="invnSnQty" ng-model="snItem.snqty">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" ng-disabled="disable" id="invnSnNote" name="invnSnNote" ng-model="invnSN.note">
              </div>
            </div>
          </div>
          <div class="row" ng-if="showFlags">
            <hr class="horizontal-separator">
            <div class="checkbox">
              <label><input type="checkbox" ng-model="spread.spreadfreight">
                {{ '3828' | translate }}</label>
            </div>

            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="snItem.received">{{ '5293' | translate }}</label>
              </div>
            </div>
            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="snItem.sold">{{ '5603' | translate }}</label>
              </div>
            </div>
            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="snItem.returned">{{ '5172' | translate }}</label>
              </div>
            </div>
            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="snItem.soreserved">{{ '5604' | translate }}</label>
              </div>
            </div>
            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="snItem.transferred">{{ '5605' | translate }}</label>
              </div>
            </div>
            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="snItem.returnedtovnd">{{ '5606' | translate }}</label>
              </div>
            </div>
            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="snItem.adjusted">{{ '5607' | translate }}</label>
              </div>
            </div>
            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="snItem.active">{{ '586' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 pull-right">
            <button type="submit" id="invnSnSaveButton" event-name="invnSnSave" name="invnSnSaveButton" class="btn btn-lg btn-default" ng-disabled="invnSnForm.$invalid||disableSaveButton" ng-click="saveChanges();" data-translate="547">
              Save
            </button>
            <button id="invnSnCancelButton" event-name="invnSnCancel" name="invnSnCancelButton" class="btn btn-lg btn-default" ng-disabled="invnSnForm.$invalid" ng-click="cancelEntry();" data-translate="1.2">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
