<div>
    <div class="row" style="background-color: #dee2ed">
        <div class="col-xs-5 col-xs-offset-1">
            <h5 style="color: #fff; background-color: #103F6B; padding: 5px;" data-translate="5761"><strong>Item Quantities</strong></h5>
            <div class="well well-sm slip-items-summary">
                <ul class="list-group-nopad">
                    <li class="list-group-item">
                        <am-qty-item-old></am-qty-item-old>
                    </li>
                    <li class="list-group-item">
                        <am-qty-item-adj></am-qty-item-adj>
                    </li>
                    <li class="list-group-item">
                        <am-qty-item-diff></am-qty-item-diff>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-5">
            <h5 style="color: #fff; background-color: #103F6B; padding: 5px;" data-translate="5762"><strong>Serial Quantities</strong>
            </h5>
            <div class="well well-sm slip-items-summary">
                <ul class="list-group-nopad">
                    <li class="list-group-item">
                        <am-qty-sn-ins></am-qty-sn-ins>
                    </li>
                    <li class="list-group-item">
                        <am-qty-sn-del></am-qty-sn-del>
                    </li>
                    <li class="list-group-item">
                        <am-qty-sn-diff></am-qty-sn-diff>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row top-margin20">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 2%;">
                    <h5 class="inline-block" data-translate="5763">Insert Serial Numbers</h5>
                    <button type="button" ng-disabled="(!serNoFormIsValid)||(adjMemo.memo.creatingdoctype===9)" class="btn btn-icon btn-default inline-block pull-right" ng-click="newAdjSerialRow(1)"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div id="snEntryHeaders">
                    <div class="row top-margin20" style="margin-bottom: 0; padding-bottom: 0;">
                        <div class="col-xs-5" style="padding-left: 2%;"><strong><span data-translate="5709">Serial Number</span></strong></div>
                        <div class="col-xs-1"><strong><span data-translate="3950">Orig Qty</span></strong></div>
                        <div class="col-xs-1"><strong><span data-translate="5764">Adj Qty</span></strong></div>
                        <div class="col-xs-4"><strong><span data-translate="884">Note</span></strong></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="bold-hr" style="margin-top: 0; padding-top: 0; margin: 0 1%;">
                        </div>
                    </div>
                </div>
                <div class="panel-body height30 autoOverflow">
                    <form class="form-inline" role="form" name="serNoForm">
                        <div class="row top-margin" ng-repeat="thisItem in adjInsSnItems track by $index">
                            <div class="col-xs-5">
                                <div class="form-group has-feedback" style="width:100%;">
                                    <input type="text" style="width:100%;" placeholder="{{ '5709' | translate }}" tabindex="{{1000 + $index}}" maxlength="50" id="itemSnIns{{$index}}" name="itemSerialNumber" class="form-control uppercase" ng-required="true" ng-model="thisItem.serialno" enter-blur ng-blur="serNoChange(thisItem,'insert');">
                                    <span class="glyphicon glyphicon-search form-control-feedback" id="serNoInsLookupIcon" ng-click="serNoLookup(thisItem,serNoForm,'insert')"></span>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <input style="width:90%;" disabled="disabled" type="text" class="form-control" ng-model="thisItem.origqty">
                            </div>
                            <div class="col-xs-1">
                                <input style="width:90%;" disabled="disabled" type="text" class="form-control" ng-model="thisItem.adjqty">
                            </div>
                            <div class="col-xs-4">
                                <input style="width:100%;" type="text" placeholder="{{ '884' | translate }}" class="form-control" ng-model="thisItem.notes" ng-blur="saveSnAdjRow(thisItem);">
                            </div>
                            <div class="col-xs-1">
                                <button event-name="delSnInsRowAdjMemo" ng-click="removeSnInsRow($event,thisItem)" ng-disabled="adjMemo.memo.creatingdoctype === 9" type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 2%;">
                    <h5 class="inline-block" data-translate="5765">Deactivate Serial Numbers</h5>
                    <button type="button" ng-disabled="(!serNoFormIsValid)||(adjMemo.memo.creatingdoctype===9)" class="btn btn-icon btn-default inline-block pull-right" ng-click="newAdjSerialRow(2)"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div id="snEntryHeaders">
                    <div class="row top-margin20" style="margin-bottom: 0; padding-bottom: 0;">
                        <div class="col-xs-5" style="padding-left: 2%;"><strong><span data-translate="5709">Serial Number</span></strong></div>
                        <div class="col-xs-1"><strong><span data-translate="3950">Orig Qty</span></strong></div>
                        <div class="col-xs-1"><strong><span data-translate="5764">Adj Qty</span></strong></div>
                        <div class="col-xs-4"><strong><span data-translate="884">Note</span></strong></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="bold-hr" style="margin-top: 0; padding-top: 0; margin: 0 1%;">
                        </div>
                    </div>
                </div>
                <div class="panel-body height30 autoOverflow">
                    <form class="form-inline" role="form" name="serNoForm">
                        <div class="row top-margin" ng-repeat="thisItem in adjDelSnItems track by $index">
                            <div class="col-xs-5">
                                <div class="form-group has-feedback" style="width:100%;">
                                    <input type="text" style="width:100%;" placeholder="{{ '5709' | translate }}" tabindex="{{1000 + $index}}" maxlength="50" id="itemSnDel{{$index}}" name="itemSerialNumber" class="form-control uppercase" ng-required="true" ng-disabled="adjMemo.memo.creatingdoctype === 9" ng-model="thisItem.serialno" enter-blur ng-blur="saveSnAdjRow(thisItem);">
                                    <span class="glyphicon glyphicon-search form-control-feedback" id="serNoDelLookupIcon" ng-click="serNoLookup(thisItem,serNoForm,'deactivate')"></span>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <input style="width:90%;" disabled="disabled" type="text" class="form-control" ng-model="thisItem.origqty">
                            </div>
                            <div class="col-xs-1">
                                <input style="width:90%;" disabled="disabled" type="text" class="form-control" ng-model="thisItem.adjqty">
                            </div>
                            <div class="col-xs-4">
                                <input style="width:100%;" type="text" placeholder="{{ '884' | translate }}" class="form-control" ng-disabled="adjMemo.memo.creatingdoctype === 9" ng-model="thisItem.notes" ng-blur="saveTheRow(thisItem);">
                            </div>
                            <div class="col-xs-1">
                                <button event-name="delSnDelRowAdjMemo" ng-click="removeSnDelRow($event,thisItem)" ng-disabled="adjMemo.memo.creatingdoctype === 9" type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>