<div ng-if="asklayout===0">
  <button type="button" class="btn btn-info col-xs-12"  ng-disabled2="tfButtonDisable()" ng-click="tfButtonClick()" disabled>
    <span>{{tfButtonText}}  </span>
    <span class="glyphicon glyphicon-edit"></span>
  </button>
</div>

<div ng-if="(asklayout===1) || (asklayout===2)">
  <div class="row">
    <div ng-if="asklayout===1" class="col-xs-6">
      <label data-translate="562">Subsidiary</label>
    </div>
    <div ng-if="asklayout===2" class="col-xs-10">
      <label><span data-translate="562">Subsidiary</span> / <span data-translate="683">Store</span></label>
    </div>
  </div>
  <div class="row btn582">
    <div class="col-xs-10 text-left">
      <button type="button" class="btn btn-info" style="width:100%" ng-disabled="tfButtonDisable()" ng-click="tfButtonClick()">
        <span>{{tfButtonText}}  </span>
        <span class="glyphicon glyphicon-edit"></span>
      </button>
    </div>
  </div>
</div>

<div ng-if="(asklayout===3)">
  <div class="row text-left">
    <div class="col-xs-6 col-xs-offset-5">
      <label data-translate="562">Subsidiary</label>
      <select-subsidiary2 subsidiary="currentSubsidiary" on-change="onSubsidiaryChange()" perm2subsidiary="perm2List.perm2subsidiary" perm2store="perm2List.perm2store" asklayout="asklayout" disable="meSelectSubsidiaryDisabled">
      </select-subsidiary2>
    </div>
  </div>
  <div class="row col-xs-9">
    <div>
      <label ng-if="(asklayout!==3)" data-translate="683">Store</label>
      <select-store2 subsidiary="currentSubsidiary" store="currentStore" auto-select-store="true" on-change="onStoreChange()" perm2subsidiary="perm2List.perm2subsidiary" perm2store="perm2List.perm2store" asklayout="asklayout" disable="meSelectStoreDisabled">
      </select-store2>
    </div>
  </div>
</div>

<div ng-if="(asklayout===4)">
  <div class="row col-xs-6">
    <label data-translate="562">Subsidiary</label>
    <select-subsidiary2 subsidiary="currentSubsidiary" on-change="onSubsidiaryChange()" perm2subsidiary="perm2List.perm2subsidiary" perm2store="perm2List.perm2store" asklayout="asklayout" disable="meSelectSubsidiaryDisabled">
    </select-subsidiary2>
  </div>
  <div class="row col-xs-9">
    <div ng-if="(!perm2List.nostore)">
      <label data-translate="683">Store</label>
      <select-store2 subsidiary="currentSubsidiary" store="currentStore" auto-select-store="true" on-change="onStoreChange()" perm2subsidiary="perm2List.perm2subsidiary" perm2store="perm2List.perm2store" asklayout="asklayout" disable="meSelectStoreDisabled">
      </select-store2>
    </div>
  </div>
</div>
