<label class="control-label">
  <span data-translate="2784">Use Qty Decimals</span>
</label>
<rp-select-input repeater-data="[{val:0},{val:1},{val:2},{val:3}]" form="$ctrl.dcs.formState" value-key="'val'" is-disabled="$ctrl.sp.mode==='view'" default-obj="$ctrl.defaultObj" suppress-translate="true" ng-model="$ctrl.dcs.active.useqtydecimals" key-string="'val'"></rp-select-input>
