<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="4031">Purchase Order Details</h4>
  </div>
  <div class="modal-body" style="min-height:550px;">
    <div class="row form-group">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li class="{{(x.active)?'active':''}}" ng-repeat="x in tabs">
            <a ng-click="setTab(x)" ng-if="x.permission" data-permission="x.permission">
              {{x.txt | translate}}
            </a>
            <a ng-click="setTab(x)" ng-if="!x.permission">
              {{x.txt | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <po-details-general ng-if="activeTab==='general'"></po-details-general>
        <po-details-vendor ng-if="activeTab==='vendor'"></po-details-vendor>
        <po-details-instructions ng-if="activeTab==='instructions'"></po-details-instructions>
        <po-details-notes ng-if="activeTab==='notes'"></po-details-notes>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <modal-close-button></modal-close-button>
  </div>
</div>
