<div class="vendor-account-terms">
    <div class="col-xs-12 no-padding">
        <div class="row row-container vendor-tab-content">
            <div class="col-xs-12 padding-20">
                <div class="form-group">
                    <label for="vat-account" data-translate="4969">Account #</label>
                    <input ng-disabled="vendor.isViewOnly" maxlength="200" type="text" ng-model="vendor.service.active.accountno" class="form-control" id="vat-account" ng-change="vendor.makeFormDirty()">
                </div>
                <div class="form-group">
                    <label data-translate="4970">Accounts Payable</label>
                    <select ng-disabled="vendor.isViewOnly" class="form-control" ng-model="vendor.service.active.apflag" ng-options="opt.value as opt.name for opt in vendor.accountsPaybleOptions" ng-change="vendor.makeFormDirty()">
                        <option value="?"></option>
                    </select>
                </div>
                <div class="form-group">
                    <vendor-payment-terms terms="vendor.service.active.vendorterm" on-payment-terms-change="vendor.updateVendorTerms" manual-save-mode="true" vendor="vendor.service.active" disable="vendor.isViewOnly"></vendor-payment-terms>
                </div>
                <div class="form-group">
                    <label for="vat-trade-discount" data-translate="4971">Trade Discount %</label>
                    <input ng-disabled="vendor.isViewOnly" type="number" ng-model="vendor.service.active.tradediscperc" min="0" max="100" class="form-control" id="vat-trade-discount" ng-change="vendor.makeFormDirty()">
                </div>
                <div class="form-group">
                    <label data-translate="961">Currency</label>
                    <select-currency ng-model="vendor.service.active.currencysid" disable="vendor.isViewOnly" ng-change="vendor.makeFormDirty()"></select-currency>
                </div>
                <div class="form-group">
                    <label class="checkbox-container">
                        <input type="checkbox" class="large-input-field margin-right-5" ng-disabled="vendor.isViewOnly" ng-model="vendor.service.active.regional" data-permission="regionalinventoryeditvendorregionalflag">
                        <span data-translate="4972">Regional Vendor</span>
                    </label>
                </div>
                <div class="form-group">
                    <label data-translate="594">Notes</label>
                    <textarea ng-disabled="vendor.isViewOnly" class="form-control" rows="6" ng-model="vendor.service.active.notes" ng-change="vendor.makeFormDirty()"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>