<div class="row">
  <div class="col-xs-12">
    <div class="po-allocation-grid-items-wrapper" ui-i18n="{{lang}}">
      <div ui-grid-resize-columns="" id="grid2" ng-if="(purchaseOrder.isEdit&&gridOptionsQty)" ui-grid-cellnav ui-grid-edit ui-grid="gridOptionsQty" external-scopes="gridHandlers" class=""></div>
      <div ui-grid-resize-columns="" ng-if="!purchaseOrder.isEdit&&gridOptionsQty" ui-grid="gridOptionsQty" external-scopes="gridHandlers" class=""></div>
    </div>
  </div>
</div>
