<div>
  <div class="row form-group" ng-if="inputType==='text'&&!isHidden">
    <div class="col-xs-12">
      <input ng-required="isRequired" class="form-control" ng-class="" placeholder="{{text | translate}}" type="text" ng-model="ngModel">
    </div>
  </div>
  <div class="row form-group" ng-if="inputType==='select'&&selectOptions.length>0&&!isHidden">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">{{text}}</span><select ng-required="isRequired" class="form-control" ng-model="ngModel" ng-options="x.val as x.txt for x in selectOptions">
          <option value="">Select...</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row form-group" ng-if="inputType==='textarea'&&!isHidden">
    <div class="col-xs-12">
      <textarea class="form-control" ng-required="isRequired" placeholder="{{text | translate}}" ng-model="ngModel">
      </textarea>
    </div>
  </div>
</div>
