<div class="voucher-details-tab-wrapper">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1">
                        <h4 data-translate="2314">Notes</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12" ui-i18n="{{lang}}">
                    <!-- DT19423 - JS - Disabling notes textarea when Voucher is held (checking workingMode property instead of status) -->
                    <!-- <textarea ng-disabled="sharedData.receiving.voucher.info.status !== 3&&sharedData.receiving.voucher.info.status !== 4" class="form-control" rows="6" maxlength="255" ng-model="voucher.note" ng-blur="sharedData.receiving.voucher.tools.updateField('voucher', $event)"></textarea> -->
                    <textarea ng-disabled="!sharedData.receiving.voucher.workingMode" class="form-control" rows="6" maxlength="255" ng-model="voucher.note" ng-blur="sharedData.receiving.voucher.tools.updateField('voucher', $event)"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>