<div class="voucher-details-tab-wrapper">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-1">
            <h4 data-translate="1969">Comments</h4>
          </div>
          <div class="col-xs-6 col-xs-offset-5">

          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 voucher-comments-container" ui-i18n="{{lang}}">
          <add-remove-list ng-if="renderContent" settings="commentListSettings"></add-remove-list>
        </div>
      </div>
    </div>
  </div>
</div>

