<div class="btn-group">
  <button ng-if="adjMemo.isEdit" ng-disabled="adjMemo.memo.status!==4||adjMemo.saving" class="btn btn-default" ng-click="saveMemo()">
      <span data-translate="547">Save</span>
  </button>
  <button ng-if="!adjMemo.isEdit" data-permission="adjmemoseditformermemo" data-permission-disabled="(!parmsid)||(!adjMemo.memo.sid)||(adjMemo.memo.held)||(adjMemo.isAssignLimited)" class="btn btn-default" ng-click="editMemo()">
      <span data-translate="774">Edit</span>
  </button>
</div>
