<div>
    <label class="control-label" data-translate="699">Associate</label><br>
    <select ng-change="saveAssoc();" ng-disabled="!transferSlip.isEdit||transferSlip.saving||denied" ng-model="transferSlip.slip.clerksid" class="form-control" ng-options="x.value as x.name for x in transferSlip.associateList">
        <option style="display:none" value="" data-translate="1358">Select...</option>
    </select>
</div>
