<div class="modal-content">
    <div class="take_picture modal-body text-center">

        <div ng-show="webcamError" class="alert_wrapper">
            <div class="alert alert-danger" role="alert">
                <span data-translate="5000">Webcam could not be started. Did you give access to it?</span>
            </div>

            <button ng-click="refreshWebcam()" type="button" class="btn btn-danger">
                <span data-translate="2707">Retry</span>
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </button>
        </div>

        <div ng-show="!webcamError" class="camera-wrapper">
            <webcam channel="channel" ng-click="makeSnapshot()" holder="'/images/ajax-loader.gif'" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)"></webcam>
            <canvas ng-show="!webcamError" class="text-center" id="snapshot" width="480" height="360"></canvas>
        </div>

    </div>
    <div class="modal-footer">
        <div class="col-xs-12 text-right">
            <button type="button" ng-disabled="webcamError" class="btn btn-default pull-left" ng-click="makeSnapshot()">
                <span data-translate="5001">Capture</span>
            </button>
            <button type="button" ng-disabled="!snapshotData" id="customerPictureSubmitButton" name="customerPictureSubmitButton" class="btn btn-info" ng-click="picDialogModal.close(true)">
                <span data-translate="1342">Accept</span>
            </button>
            <button type="button" id="customerPictureCancelButton" event-name="customerPictureCancel" name="customerPictureCancelButton" class="btn btn-info" ng-click="picDialogModal.close(false)">
                <span data-translate="1.2">Cancel</span>
            </button>
        </div>
    </div>
</div>
