<div>
  <div class="row">
    <div class="col-xs-6">
      <div class="row" style="padding: 2px;">
        <div class="col-xs-3">
          <label class="control-label" data-translate="533">Created Date</label>
        </div>
        <div class="col-xs-7">
          <input type="button" id="recvCreatedDate" class="form-control" value="{{(sharedData.receiving.voucher.info.createddatetime)?(sharedData.receiving.voucher.info.createddatetime | date:'mediumDate'):'Never'}}">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <label class="control-label" data-translate="534">Last Edit Date</label>
        </div>
        <div class="col-xs-7">
          <input type="button" id="recvLastEditDate" class="form-control" value="{{(sharedData.receiving.voucher.info.modifieddatetime)?(sharedData.receiving.voucher.info.modifieddatetime | date:'mediumDate'):'Never'}}">
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="row" style="padding: 2px;">
        <div class="col-xs-3">
          <label class="control-label" data-translate="2890">Post Date</label>
        </div>
        <div class="col-xs-7">
          <input type="button" id="recvPostDate" class="form-control" value="{{(sharedData.receiving.voucher.info.postdate)?(sharedData.receiving.voucher.info.postdate | date:'mediumDate'):'Never'}}">
        </div>
      </div>
      <voucher-arrival-date voucher="sharedData.receiving.voucher.info"></voucher-arrival-date>
    </div>
  </div>
</div>
