<div class="btn-group">
    <button ng-if="(!adjMemo.isEdit||(!adjMemo.memo.sid))&&currentType===2" data-permission="adjmemoscreatecostmemo,seeitemcost" data-permission-disabled="adjMemo.saving" class="btn btn-default" ng-click="newMemo(2);">
      <span data-translate="581">New</span>
    </button>
    <button ng-if="(!adjMemo.isEdit||(!adjMemo.memo.sid))&&currentType===1" data-permission="adjmemoscreatepricememo" data-permission-disabled="adjMemo.saving" class="btn btn-default" ng-click="newMemo(1);">
      <span data-translate="581">New</span>
    </button>
    <button ng-if="(!adjMemo.isEdit||(!adjMemo.memo.sid))&&currentType===0" data-permission="adjmemoscreateqtymemo" data-permission-disabled="adjMemo.saving" class="btn btn-default" ng-click="newMemo(0);">
        <span data-translate="581">New</span>
    </button>
    <button ng-if="adjMemo.isEdit" ng-disabled="adjMemo.saving" class="btn btn-default" ng-click="cancelMemo();">
        <span data-translate="1.2">Cancel</span>
    </button>
</div>
