<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-12">
                <h3 data-translate="5083" class="ng-scope">Loyalty Programs</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div id="lty-programs-filter" class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" data-translate="1451">From Date:</label>
                        <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="1452">To Date:</label>
                        <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
                        </p>
                    </div>
                    <div class="form-group">
                        <label><span data-translate="5189">Loyalty Level Name</span></label>
                        <select class="form-control" ng-disabled="false" ng-model="fLtyLevel" ng-options="x.sid as x.ltylvlname for x in lty_level_names">
                            <option value="" data-translate="1143">All</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label><span data-translate="5190">Loyalty Program Name</span></label>
                        <select class="form-control" ng-disabled="false" ng-model="fLtyProgram" ng-options="x.sid as x.ltypgmname for x in lty_program_names">
                            <option value="" data-translate="1143">All</option>
                        </select>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <label><span data-translate="5191">Earn Type</span></label>
                            <select class="form-control" ng-disabled="false" ng-model="fEarnType" ng-options="x.value as x.name for x in earnTypes">
                                <option value="" data-translate="1143">All</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label><span data-translate="5192">Redeem Type</span></label>
                            <select class="form-control" ng-disabled="false" ng-model="fRedeemType" ng-options="x.value as x.name for x in redeemTypes">
                                <option value="" data-translate="1143">All</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <label><span data-translate="634">Sort By</span></label>
                            <select class="form-control" ng-disabled="false" ng-model="fSortBy" ng-options="x.field as x.name for x in loyaltyLevelProgramGrid.columnDefs"></select>
                        </div>
                        <div class="col-xs-6">
                            <label data-translate="908">Sort Order:</label>
                            <select id="ltyProgramsSortOrder" class="form-control" ng-model="fSortOrder">
                                <option value="asc" data-translate="1459">Ascending</option>
                                <option value="desc" data-translate="1460">Descending</option>
                            </select>

                        </div>
                    </div>
                    <br>
                    <div class="form-group pull-right">
                        <button type="button" event-name="ltyProgramsResetFilter" class="btn btn-lg btn-default" ng-click="initFilters()">
                            <span data-translate="1335">Clear</span></button>
                        <button type="button" event-name="getLtyProgramsSearch" class="btn btn-lg btn-default" ng-disabled="fFromDate > fToDate || !fFromDate || !fToDate" ng-click="getLtyPrograms()">
                            <span data-translate="630">Search</span></button>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div id="loyaltyLevelProgramGrid" ui-grid="loyaltyLevelProgramGrid" ui-grid-selection="" class="grid"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <span class="col-sm-4 col-xs-12 text-left">
                    <span data-translate="5193">Records Found</span>: {{loyaltyLevelProgramGrid.data.length}}
                </span>
                <div class="col-sm-8 col-xs-12 text-right">
                    <paging-control class="pull-left" ng-if="loyaltyLevelProgramGrid.data.length > 0" total-records="totalRecords" grid-reference="loyaltyLevelProgramGridApi" results-per-page="pageSize" call-back="getLtyPrograms"></paging-control>
                    <button type="button" id="ltyProgramLookupClose" event-name="ltyProgramLookupClose" class="btn btn-lg btn-default" ng-click="$close(false)">
                    <span data-translate="583">Close</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
