<div class="panel" style="margin-bottom:0">
  <div class="panel-heading">
    <h4 data-translate="6459">Add\Edit</h4>
  </div>
  <div class="panel-body">
    <component-compiler component="rModal.component"></component-compiler>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-default" ng-disabled="!rModal.service.formState.$valid" ng-click="rModal.close(true);"><span data-translate="1.1">OK</span></button>
    <button class="btn btn-default" ng-click="rModal.close();"><span data-translate="1.2">Cancel</span></button>
  </div>
</div>
