<ng-form name="am_reason">
    <label class="control-label" data-translate="686">Reason</label>
    <select ng-disabled="!adjMemo.isEdit||adjMemo.saving" ng-required="adjMemo.isEdit" class="form-control {{fieldClass}}" name="amReasonSid" ng-class="{ errorinput: adjMemo.memo.adjreasonsid.$invalid }" ng-change="saveReason();" ng-model="adjMemo.memo.reasonname" ng-options="x.name as x.name for x in memoTools.Reasons">
            <option value="" data-translate="1358">Select...</option>
    </select>
</ng-form>