<div class="col-xs-3 no-left-padding">
  <label data-translate="2147">Description 3</label>
</div>
<div class="col-xs-9">
  <input maxlength="30" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" ng-model="$ctrl.service.item.description3" class="form-control" id="imi-description3">
</div>
