<div>
     <div class="row form-group" ng-if="couponView===4">
       <div class="col-xs-12">
         <div class="form-group">
           <div class="row">
             <div class="col-xs-12">
               <label for="couponSet" data-translate="6424">
                 Coupon Set
               </label>
             </div>
           </div>
           <div class="row">
             <div class="col-xs-12">
               <div class="input-group">
                 <select id="couponSet" name="couponSet" class="form-control" ng-options="c.setid as c.setname for c in couponSetList" ng-model="promotion.validation_coupon_setid" ng-change="updateCoupon()">
                   <option value="-1" data-translate="3655">None</option>
                 </select>
                 <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="createCoupon()">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </span>
               </div><!-- /input-group -->
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="row form-group" ng-if="couponView===3">
        <div class="col-xs-10">
            <div class="row">
                <import-file action="import.action" hide-button="true"></import-file>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row import-file-wrapper">
                <div class="col-xs-12">
                    <button class="btn btn-primary full" ng-click="clearNewCoupon()" type="button">
                        <span data-translate="1.2">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-if="couponView===2">
        <div class="col-xs-12">
            <div class="row">
                <div class="form-group">
                    <label for="coupon_code" data-translate="4362">Coupon Code</label>
                    <input type="text" id="coupon_code" class="form-control uppercase" ng-model="newCoupon.coupon_code">
                </div>
            </div>
            <div class="form-group">
                <label for="coupon_code" data-translate="2094">Expiration Date</label>
                <p class="input-group" ng-click="openCalendar($event, 'couponExpiryDate')">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="couponExpiryDate.date" value="{{(couponExpiryDate.date)?(couponExpiryDate.date | date:'mediumDate'):(couponExpiryDate.placeholder)}}" is-open="couponExpiryDate.open" enable-time="false" datepicker-options="couponExpiryDate.datepickerOptions" when-closed="couponExpiryDate.closed()" placeholder="{{couponExpiryDate.placeholder}}">
                </p>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <button class="btn btn-primary full" ng-disabled="disableNewCouponButtons(1)" ng-click="newCoupon.save()" type="button">
                            <span data-translate="547">Save</span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <button class="btn btn-primary full" ng-disabled="disableNewCouponButtons(0)" ng-click="clearNewCoupon()" type="button">
                            <span data-translate="1.2">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="couponView===1">
            <div class="row">
              <table class="table col-xs-12 table-bordered table-reponsive table-centered" ng-if="couponsReady" style="margin: 0.4em;">
                <thead>
                  <tr>
                    <th><input type="checkbox" id="selectAllCouponCodes" class="large-input-field" ng-model="couponCodeSelectedAll" ng-click="handleCouponCodeSelectAll()"></th>
                    <th><label data-translate="4362">Coupon Code</label></th>
                    <th><label data-translate="5602">Expiry Date</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in validation_coupons">
                    <td>
                      <input type="checkbox" class="large-input-field" ng-model="x.selected" ng-change="addToSelectedCoupons($index)">
                    </td>
                    <td>
                      <span>{{x.coupon_code}}</span>
                    </td>
                    <td>
                      <span ng-if="x.exp_date !== null && x.exp_date !== ''">{{x.exp_date}}</span>
                      <span ng-if="x.exp_date === null || x.exp_date === ''" data-translate="973">Open</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <button class="btn btn-primary full" ng-click="toggleNewCoupon()" type="button">
                            <span data-translate="1.8">Add</span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <button class="btn btn-primary full" ng-click="import.enable()" type="button">
                            <span data-translate="3719">Import</span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <button class="btn btn-primary full" ng-disabled="(selecteCoupons.length === 0)" ng-click="removeSelectedCoupons()" type="button">
                            <span data-translate="1523">Remove</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row row-container">
              <div class="form-group col-xs-6">
                <div class="row">
                  <div class="col-xs-4">
                    <label class="control-label" data-translate="6366">Allowed Use</label>
                  </div>
                  <div class="col-xs-8">
                    <select class="form-control" ng-model="applyCount.value" ng-disabled="promotion.general_promo_type == '3' && applyCount.value != '1'" convert-to-number ng-change="onApplyCountChange()">
                      <option value="1"><span data-translate="4387">Once</span></option>
                      <option value="0"><span data-translate="4388">Unlimited</span></option>
                      <option value="2"><span data-translate="1832">Count</span></option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <input type="text" ng-disabled="promotionService.saving" numberonly="" data-currency-formatter="number" class="form-control" ng-if="applyCount.value === 2" ng-model="applyCount.count" ng-blur="onApplyCountChange($event)" enter-blur="undefined">
                </div>
              </div>
            </div>
        
    </div>

</div>
