<ng-form name="newConn.form">
<div class="row form-group">
  <div class="col-xs-8">
    <label class="control-label">
      <span data-translate="1021">Server Address</span>
    </label>
    <input type="text" class="form-control" ng-required="true" ng-model="newConn.controller.v9address">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-right">
    <button class="btn btn-default" ng-click="newConn.cancel()"><span data-translate="1.2">Cancel</span></button>
    <button class="btn btn-default" ng-disabled="!newConn.form.$valid" ng-click="newConn.create()"><span data-translate="547">Save</span></button>
  </div>
</div>
</ng-form>
