<div class="row">
    <div class="col-xs-6 amBigBold" data-translate="4724">Quantity Difference</div>
    <div class="col-xs-6 text-right" ng-class="(adjMemo.memo.totadjqty - adjMemo.memo.totorigqty) > 0 ? 'text-success' : (adjMemo.memo.totadjqty - adjMemo.memo.totorigqty) < 0 ? 'text-danger' : ''"><strong>{{adjMemo.memo.totadjqty - adjMemo.memo.totorigqty | number}}</strong></div>
</div>