<fieldset>
  <div class="col-xs-12 padding-20">
    <div class="row padding-5" ng-repeat="udf in empudf.udfData" ng-if="udf.name">
      <div class="col-xs-3 no-left-padding">
        <label class="text-with-elipsis">{{udf.name}}</label>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-default" ng-disabled="empudf.mode!=='edit'&&empudf.mode!=='new'" ng-if="!empudf.udfFields[$index].isDate" ng-click="empudf.toggleTextInput($index,udf)">
          <span ng-if="!empudf.textInput[$index]" class="glyphicon glyphicon-pencil"></span>
          <span ng-if="empudf.textInput[$index]" class="glyphicon glyphicon-ban-circle"></span>
        </button>
      </div>
      <div class="col-xs-7">
        <input type="text" class="form-control" ng-change="empudf.setUdf(udf,$index)" ng-if="empudf.textInput[$index]" ng-model="udf.model">
        <rp-select-input ng-if="udf.dropdownConfig.selectType&&!empudf.udfFields[$index].isDate&&!empudf.textInput[$index]" repeater-data="udf.dropdownConfig.listData" ng-model="udf.model" call-back="udf.dropdownConfig.http(udf)" suppress-translate="udf.dropdownConfig.suppressTranslate" default-obj="udf.dropdownConfig.defaultObj" is-last-page="udf.dropdownConfig.isLastPage" ng-change="empudf.setUdf(udf,$index)" key-string="udf.dropdownConfig.textKey" form="empudf.service.formState" value-key="'udfoption'" is-disabled="empudf.mode!=='edit'&&empudf.mode!=='new'" page="udf.dropdownConfig.page" filter-string="udf.dropdownConfig.searchString">
        </rp-select-input>
        <date-input ng-if="empudf.udfFields[$index].isDate" ng-model="item.udf1date" disabled-when="!disable" empty-message="973" allow-null="true"></date-input>
      </div>
    </div>
  </div>
</fieldset>
