<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-12">
                <h3 data-translate="4884" class="ng-scope">View Loyalty History</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">

            <ul class="nav nav-tabs">
                <li ng-class="{ active: isSet('level') }">
                    <a href="" ng-click="setTab('level',showLtyLevelHistory)" data-translate="1112">Level</a>
                </li>
                <li ng-class="{ active: isSet('rewards') }">
                    <a href="" ng-click="setTab('rewards',showLtyRewardsHistory)" data-translate="5170">Rewards</a>
                </li>
                <li ng-class="{ active: isSet('balance'), disabled: !seeloyaltypoints }">
                    <a href="" ng-click="setTabProtected('balance', 'seeloyaltypoints')" data-translate="932">Balance</a>
                </li>
            </ul>

            <div class="well">
                <div ng-if="isSet('level')">
                    <div id="loyaltyHistoryLevelGrid" ui-grid="loyaltyHistoryLevelGrid" class="grid"></div>
                </div>
                <div ng-if="isSet('rewards')">
                    <div id="loyaltyHistoryRewardsGrid" ui-grid="loyaltyHistoryRewardsGrid" class="grid"></div>
                </div>
                <div ng-if="isSet('balance')">
                    <div id="loyaltyHistoryBalanceGrid" ui-grid="loyaltyHistoryBalanceGrid" class="grid"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <button type="button" id="customerLoyaltyHistoryExitButton" event-name="customerLoyaltyHistoryExit" name="customerLoyaltyHistoryExitButton" class="btn btn-lg btn-default" ng-click="exitLoyaltyHistory()">
                    <span data-translate="0.1">Exit</span>
                </button>
            </div>
        </div>
    </div>
</div>
