<ng-form name="disp_reason" class="col-xs-12">
  <label class="control-label" data-translate="4004">Disbursement Reason</label>
  <select ng-disabled="disbursements.active.finalized&&!disbursements.isEdit" ng-required="reasonRequired" class="form-control {{fieldClass}}" name="reason_sid" ng-class="{ errorinput: disp_reason.reason_sid.$invalid }" ng-blur="saveField();" ng-model="disbursements.active.reason_sid" ng-options="x.sid as x.name for x in reasons">
    <option value="undefined" style="display:none" data-translate="1358">Select...</option>
  </select>
</ng-form>

