<div class="col-xs-4">
    <label data-translate="677">UPC</label>
</div>
<div class="col-xs-8">
  <input ng-disabled="$ctrl.service.disableOnReadOnlyMode()" pattern="[0-9]*" maxlength="18" type="text" ng-blur="$ctrl.service.onUpcBlur($event)" ng-model="$ctrl.service.item.upc" class="form-control" id="imi-upc" format-upc>
</div>

