<button event-name="openCreateDepartmentTool" type="button" ng-disabled="button.disable()" class="btn btn-info btn-block" ng-click="button.action()">
    <span data-translate="5525">Create DCS</span>
</button>
