<ng-form name="qtyForm">
<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="5687">Enter Quantity</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-6">
        <strong data-translate="2118">Description 1</strong> {{item.description1}}
      </div>
      <div class="col-xs-6">
        <strong data-translate="677">UPC</strong> {{item.upc|padUPC}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label">
          <span data-translate="772">Quantity</span>
        </label>
        <input id="quantity" type="text" ng-required="true" focus-me="setFocus" ng-keydown="enter($event)" class="form-control" ng-model="form.qty" numberonly min="0" decimals="{{item.use_quantity_decimals}}">
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-default" type="button" ng-disabled="form.qty<=0" ng-click="save()"><span data-translate="5688">Add Item</span></button>
    <button class="btn btn-default" type="button" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
  </div>
</div>
</ng-form>
