<div class="modalouter">
    <div class="modal-header">
      Customer Options
    </div>
    <div class="modal-body">
      <div>
       <ul class="list-group">
          <li class="list-group-item">
            <button event-name="customerHistory" ng-disabled="newMode" class="btn btn-info btn-block" tabindex="122" type="button" ng-click="$close();onCustomerHistory();">
              <span data-translate="1081">Customer History</span>
            </button>
          </li>
          <li class="list-group-item">
            <button event-name="purchaseCredit" ng-disabled="newMode" class="btn btn-info btn-block" tabindex="124" type="button" ng-click="$close();onPurchaseCredit();">
              <span data-translate="548">Purchase Credit</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  <div class="modal-footer text-right">
    <button class="btn btn-default" ng-click="$close()">
      <span data-translate="583">Close</span>
    </button>
  </div>
</div>

