<style>
.form-input-label-error{
    color: #d9534f;
    font-size: 0.8em;
    padding-left: 2em;
}
.form-input-label-success{
    color: #5cb85c;
    font-size: 0.8em;
    padding-left: 2em;
}
.font-error{
    color: #d9534f !important;
}
.font-success{
    color: #5cb85c !important;
}
</style>
<div class="well well-sm" style="margin-bottom:0">
  <em style="color:red" data-translate="6461" ng-if="!pwChange.msg">
    You password has expired and needs to be changed.
  </em>
  <em style="color:red" ng-if="pwChange.msg">{{pwChange.msg | translate}}</em>
</div>
<form name="form">

<div class="form-group">
  <label class="control-label bold smallmargintop" data-translate="6462">Old Password:</label>
  <div class="controls smallmargintop">
    <input class="form-control" id="opassword" name="opassword" type="password" autocapitalize="off" autocorrect="off" delay-translate="70.3" placeholder="{{ '1212' | translate }}" ng-keydown="onEnterKeyPressed($event)" ng-required="true" ng-model="pwChange.opassword" maxlength="24">
  </div>
</div>
<div class="form-group">
  <label for="password" data-translate="6463">New Password</label>
  <input required class="form-control" id="password" name="password" type="password" autocapitalize="off" autocorrect="off" delay-translate="70.3" placeholder="{{ '1212' | translate }}" ng-model="pwChange.password" ng-keyup="pwChange.onKeyUp($event)" maxlength="24">

  <span id="helpBlock" ng-if="pwChange.strongPassPref" class="help-block" ng-class="{'font-error': (pwChange.numericCharReq || pwChange.uppercaseCharReq || pwChange.charReq || pwChange.specialCharReq), 'font-success': !(pwChange.numericCharReq || pwChange.uppercaseCharReq || pwChange.charReq || pwChange.specialCharReq) }" data-translate="6408">Must contain:</span>
  <span id="helpBlock" ng-if="pwChange.strongPassPref" class="help-block" ng-class="{'form-input-label-error': pwChange.specialCharReq, 'form-input-label-success': !pwChange.specialCharReq }" data-translate="6409">- special character</span>
  <span id="helpBlock" ng-if="pwChange.strongPassPref" class="help-block" ng-class="{'form-input-label-error': pwChange.numericCharReq, 'form-input-label-success': !pwChange.numericCharReq }" data-translate="6410">- numeric character</span>
  <span id="helpBlock" ng-if="pwChange.strongPassPref" class="help-block" ng-class="{'form-input-label-error': pwChange.uppercaseCharReq, 'form-input-label-success': !pwChange.uppercaseCharReq }" data-translate="6411">- uppercase & lowercase characters</span>
  <span id="helpBlock" ng-if="pwChange.strongPassPref" class="help-block" ng-class="{'form-input-label-error': pwChange.charReq, 'form-input-label-success': !pwChange.charReq }" data-translate="6412">- more than 7 characters</span>
</div>
<div class="form-group">
  <label for="password2" data-translate="5541">Confirm New Password</label>
  <input class="form-control" id="password2" name="password2" type="password" autocapitalize="off" autocorrect="off" delay-translate="70.3" placeholder="{{ '1212' | translate }}" required ng-model="pwChange.password2" maxlength="24">
  <span id="helpBlock" class="help-block" ng-class="{'form-input-label-error': (pwChange.password !== pwChange.password2 || pwChange.password2 === ''), 'form-input-label-success': (pwChange.password === pwChange.password2) }" data-translate="6413">- password match.</span>
</div>
</form>
<div class="row">
  <div class="col-xs-6">

  </div>
  <div class="col-xs-12 text-right">
    <button class="btn btn-default" ng-click="pwChange.releaseSeat()">
      <span data-translate="1.2">Cancel</span>
    </button>
    <button class="btn btn-default" ng-disabled="form.$invalid ||(pwChange.password !== pwChange.password2 || pwChange.specialCharReq || pwChange.numericCharReq || pwChange.uppercaseCharReq || pwChange.charReq) " ng-click="pwChange.resetPassword();">
      <span data-translate="6417">Set Password</span>
    </button>
    <br>
  </div>
</div>
