<button class="btn btn-default btn-lg" ng-disabled="!adjMemo.isEdit||adjMemo.saving||(selectedComment < 0)||isEditComment||isAddComment" ng-click="removeComment();">
    <span data-translate="544">Delete</span>
</button>