<div>
  <div ng-if="mode==='edit'&&display==='block'">
    <label class="control-label" data-translate="699">Associate</label>
    <select ng-disabled="!purchaseOrder.isEdit||clerksid_disabled" type="text" class="form-control {{fieldClass}}" ng-change="saveField()" ng-required="true" ng-readonly="purchaseOrder.saving" ng-model="purchaseOrder.active.clerksid" ng-options="associate.value as associate.name for associate in associateList"></select>
  </div>
  <div ng-if="mode==='edit'&&display==='inline'">
    <div class="row">
      <div class="col-xs-6">
        <label class="control-label" data-translate="699">Associate</label>
      </div>
      <div class="col-xs-6">
        <select ng-readonly="purchaseOrder.saving" ng-disabled="!purchaseOrder.isEdit||clerksid_disabled" ng-readonly="purchaseOrder.isReadOnly" type="text" ng-required="true" class="form-control {{fieldClass}}" ng-change="saveField()" ng-model="purchaseOrder.active.clerksid" ng-options="associate.value as associate.name for associate in associateList"></select>
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='block'">
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label" data-translate="699">Associate</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{po.active.clerksid}}
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='inline'">
    <label class="control-label" data-translate="699">Associate</label>
    <span>{{po.active.clerksid}}</span>
  </div>
</div>
