﻿@model List<string>
@{
    ViewData["Title"] = "Home Page";
    List<string> kv = new List<string>();
    List<string> ch = new List<string>();
    foreach (var item in Model)
    {
        string[] i = item.Split(" ");
        kv.Add(i[2]); ch.Add(i[1]);
    }
}

 <link rel="stylesheet" href="/css/spin.css" asp-append-version="true" />
<div class="row mg-0">
    <div class="col-md-12">
        <div class="header_">
            <h2 class="title__content">VÒNG QUAY MAY MẮN</h2>
           
        </div>
    </div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital@0;1&display=swap" rel="stylesheet">

<style type="text/css">

.sub_title_modal{
        color: #fff;
    font-size: 15px;
    margin: 5px 0;
    font-family: "Inter",sans-serif;
      font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#ffaa00, #f7f298);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button:not(:hover):not(:active):not(.has-background) {
    color: #fff;
}
.btn:active:focus, .btn:focus{
    outline: none;
    color: #ebebeb;
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: none!important;
}
.modal-header {
    border-bottom: none!important;
    padding: 0 15px;
}
.modal-body input {
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    color: #000;
    font-family: "Inter",sans-serif;
}
.modal_title h4 {
    font-size: 32px!imortant;
    color: #fff!important;
    text-align: center;
}

h2.modal_title:after {
       content: '';
    display: block;
    width: 100%;
    left: auto;
    height: 2px;
    border-color: #00a8a8;
    transform-origin: center;
    background: #00a8a8;
    right: auto;
    width: 65%;
    margin: 7px auto;
}
h2.title__content:after{
      content: '';
    display: block;
    width: 100%;
    left: auto;
    height: 2px;
    border-color: #fec400;
    transform-origin: center;
    background: #fec400;
    right: auto;
    width: 65%;
    margin: 7px auto;
}

.btn_dangnhap {
        text-transform: uppercase;
    background-color: #ed6755!important;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px #ed6755;
}
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: auto!important;
    margin: auto;
    text-align: center;
    z-index: 12;
    border-radius: 8px!important;
    padding: 15px 30px!important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(34,36,51, 0.50);
}
    .mg-0{
        margin: 0!important;
    }
    .header_{
        margin-bottom: -30px!important;
    }
    .header_ p {
            color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    font-family: "Inter",sans-serif;
    }
    .header_ h2, .detail_program h2 {
          color: #fec400;
    font-weight: bold;
    display: block;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
/*    border-bottom: 2px solid #fec400;
*/    font-family: 'Inter', sans-serif;
}


/*.check-list {
  margin: 0;
  padding-left: 1.2rem;
}
*/
.check-list {
    background: rgb(114 0 0);
    padding: 15px 30px!important;
    box-shadow: rgb(112 1 1 / 40%) 0px 30px 90px;
    border-radius: 8px;
    text-align: left;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(245, 237, 141, 1);
}

.check-list li {
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
    font-family: "Inter",sans-serif;
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    list-style: none;
}
.section-detail {
    margin-top: 40px!important;
}


</style>
    <ul>
       <li>
           <p>Khu vực</p>
           <select>
               @foreach (var item in kv.GroupBy(s=>s).ToList().Select(g => new { Symbol = g.Key}))
               {
                   <option>
                       @item.Symbol.ToString()
                   </option>
               }
           </select>
       </li> 
       <li>
           <p>Cửa hàng</p>
           <select>
            @for(var i=0;i<ch.Count;i++)
            {
                   <option kv="@kv[i]">
                       @ch[i]
                   </option>
            }
           </select>
       </li> 
    </ul>
       <div class="mainbox" id="mainbox">
    <div class="box" id="box">
              <div class="box1">
                    <span class="font span-select1"><img src="/images/ic_ipad.png" class="spin-img" /><b>Ipad Air</b></span>
                  <span class="font span-select2"><img src="/images/money_bag.png" class="spin-img" /><b>10K</b></span>
                   <span class="font span-select3"><img src="/images/applewathch_ic.png" class="spin-img" /><b>Apple Watch 7</b></span>
                   <span class="font span-select4"><img src="/images/ic_4.png" class="spin-img" /><b>Iphone 14 <br/> Pro Max</b></span>
                  <span class="font span-select5"><img src="/images/money_bag.png" class="spin-img" /><b>20K</b></span>
                   <span class="font span-select6"><img src="/images/money_bag.png" class="spin-img" /><b>5 Triệu</b></span>
                  <span class="font span-select7"><img src="/images/money_bag.png" class="spin-img" /><b>500K</b></span>
                  <span class="font span-select8"><img src="/images/money_bag.png" class="spin-img" /><b>100K</b></span>
             
                   </div>
                  
          </div>
                    <div class="spin" onclick="spin()">
                     
                      <div class="spin-btn">0</div>
                    </div>
      </div>

        <div class="modal-dialog" style="max-width: 70%;">

   
  </div>
