<div class="row">
  <div class="col-xs-4">
    <label class="control-label" data-translate="5240">Active Date</label>
    <!-- <date-input need to fix display></date-input> -->
    <p class="input-group" ng-click="openCalendar($event, 'toActivateDate')">
      <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="toActivateDate.datepickerOptions" ng-model="toActivateDate.date" value="{{(transferOrder.activatedate)?(transferOrder.activatedate | date:'mediumDate'):(toActivateDate.placeholder)}}" is-open="toActivateDate.open" enable-time="false" when-closed="toActivateDate.closed()" ng-disabled="state.disable()">
    </p>
  </div>
  <div class="col-xs-4">
    <label class="control-label" data-translate="533">Created Date</label>
    <input type="button" id="toCreatedDate" class="form-control" value="{{(transferOrder.createddatetime)?(transferOrder.createddatetime | date:'mediumDate'):'Never'}}">
  </div>
  <div class="col-xs-4">
    <label class="control-label" data-translate="534">Last Edit Date</label>
    <input type="button" id="toLastEditDate" class="form-control" value="{{(transferOrder.modifieddatetime)?(transferOrder.modifieddatetime | date:'mediumDate'):'Never'}}">
  </div>
</div>
