
<div class="modal-outer">
  <div class="modal-header">
    Confirm Customer - {{$ctrl.customer.firstname}} {{$ctrl.customer.lastname}}
  </div>
  <div class="modal-body text-center">
    <strong class="red" data-translate="6907">This is a finalized document!  Once this customer is added it cannot be removed.</strong>
    <br>
    <div class="well well-sm">
      {{$ctrl.customer.firstname}} {{$ctrl.customer.lastname}}
      <br ng-if="$ctrl.customer.address1">
      {{$ctrl.customer.address1}}
      <br ng-if="$ctrl.customer.address2">
      {{$ctrl.customer.address2}}
      <br ng-if="$ctrl.customer.address3">
      {{$ctrl.customer.address3}}
      <br ng-if="$ctrl.customer.address4">
      {{$ctrl.customer.address4}}
      <br ng-if="$ctrl.customer.address5">
      {{$ctrl.customer.address5}}
      <br ng-if="$ctrl.customer.address6">
      {{$ctrl.customer.address6}}
      <br ng-if="$ctrl.customer.postalcode">
      {{$ctrl.customer.postalcode}}
      <br ng-if="$ctrl.customer.phoneno">
      {{$ctrl.customer.phoneno}}
      <br ng-if="$ctrl.customer.emailaddress">
      {{$ctrl.customer.emailaddress}}
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-info" ng-click="$ctrl.close(true)">
      <span data-translate="1851">Confirm</span>
    </button>
    <button class="btn btn-default" ng-click="$ctrl.dismiss()">
      <span data-translate="1.2">Cancel</span>
    </button>
  </div>
</div>
