<ng-form name="customer.form" ng-if="flgShowForm">
    <div class="modal-header">
        <h4><span data-translate="4556" ng-if="flgShowForm">Customer Required Fields</span></h4>
    </div>
    <div class="modal-body" ng-if="!flgShowForm">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img src="images/ajax-loader.gif"> <em data-translate="4557">Validating Customer</em>
        </div>
      </div>
    </div>
    <div class="modal-body" ng-if="flgShowForm">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div ng-if="fName" class="col-xs-6">
                        <customer-first-name></customer-first-name>
                    </div>
                    <div ng-if="lName" class="col-xs-6">
                        <customer-last-name></customer-last-name>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <customer-company ng-if="company"></customer-company>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <customer-ar-flag ng-if="arFlag"></customer-ar-flag>
            </div>
        </div>

        <div class="row" ng-if="postAddress||postPhone||postEmail">
            <div class="col-xs-12">
              <div class="row form-group" ng-if="postAddress">
                <div class="col-xs-12 text-left">
                  <child-resource-form child-validator ng-required="contact.adrRequired" label="'Addresses'" disable-edit="false" permission-edit="'customerseditaddresses'" form-component="'<customer-address-form></customer-address-form>'" list-component="'<customer-addresses></customer-addresses>'" parent-form="contact.formState" ng-model="contact.active.custaddress">
                  </child-resource-form>
                </div>
              </div>
              <div class="row form-group" ng-if="postPhone||postEmail">
                <div class="col-xs-12 text-left" ng-if="postPhone">
                  <child-resource-form child-validator ng-required="contact.phnRequired" label="'Phones'" disable-edit="false" permission-edit="'customerseditaddresses'" form-component="'<customer-phones-form></customer-phones-form>'" list-component="'<customer-phones></customer-phones>'" parent-form="contact.formState" ng-model="contact.active.custphone">
                  </child-resource-form>
                </div>
                <div class="col-xs-12 text-left" ng-if="postEmail">
                  <child-resource-form child-validator ng-required="contact.emlRequired" label="'Emails'" disable-edit="false" permission-edit="'customerseditaddresses'" form-component="'<customer-emails-form></customer-emails-form>'" list-component="'<customer-emails></customer-emails>'" parent-form="contact.formState" ng-model="contact.active.custemail">
                  </child-resource-form>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-info" ng-disabled="!customer.form.$valid||((customerService.active.ar_flag===0)&&arFlag)" ng-click="save()" type="button"><span data-translate="547">Save</span></button>
      <button class="btn btn-info" ng-click="cancel()" type="button"><span data-translate="1.2">Cancel</span></button>
    </div>
</ng-form>
