<div class="row">
  <div class="col-xs-4">
    <label class="control-label">
      <span data-translate="3191">Margin %</span>
    </label>
    <input type="text" numberonly="" ng-disabled="$ctrl.sp.mode==='view'" class="form-control" ng-blur="$ctrl.calcMargin(0,$ctrl.dcs.active.marginpctg)" ng-model="$ctrl.dcs.active.marginpctg" ng-focus="$ctrl.oldVals[0]=$ctrl.dcs.active.marginpctg">
  </div>
  <div class="col-xs-4">
    <label class="control-label">
      <span data-translate="5031">Markup %</span>
    </label>
    <input type="text" numberonly="" ng-disabled="$ctrl.sp.mode==='view'" class="form-control" ng-blur="$ctrl.calcMargin(1,$ctrl.dcs.active.markuppctg)" ng-model="$ctrl.dcs.active.markuppctg" ng-focus="$ctrl.oldVals[1]=$ctrl.dcs.active.markuppctg">
  </div>
  <div class="col-xs-4">
    <label class="control-label">
      <span data-translate="3193">Coefficient</span>
    </label>
    <input type="text" numberonly="" ng-disabled="$ctrl.sp.mode==='view'" class="form-control" ng-blur="$ctrl.calcMargin(2,$ctrl.dcs.active.coefficient)" ng-model="$ctrl.dcs.active.coefficient" ng-focus="$ctrl.oldVals[2]=$ctrl.dcs.active.coefficient">
  </div>
</div>
