<form novalidate="" id="customerAddressForm" name="customerAddressForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="modal-title" data-translate="6906">Customer Address</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row form-group">
          <div class="col-xs-12 text-left">
            <child-resource-form form-component="'<customer-address-form></customer-address-form>'" label="'Addresses'" list-component="'<customer-addresses></customer-addresses>'" index-tracker="contact.selectIdx" ng-model="contact.customer.active.custaddress">
            </child-resource-form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="button" id="addressOkButton" event-name="customerEditAddressCancel" name="contactCancelButton" class="btn btn-lg btn-default" ng-click="contact.confirm()"><span data-translate="1.1">Ok</span></button>
            <button type="button" id="addressCancelButton" event-name="customerEditAddressCancel" name="contactCancelButton" class="btn btn-lg btn-default" ng-click="contact.cancel()"><span data-translate="1.2">Cancel</span></button>
          </div>
        </div>
      </div>
    </div>
</div>
</form>