<div class="modal-content">
    <div class="modal-header">
        <h4 data-translate="4033">Select Items</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-xs-4">
                <advanced-search-filter params="search" ng-if="search.cols.length>0"></advanced-search-filter>
            </div>
            <div class="col-xs-8">
                <div id="grid1" ui-grid-resize-columns="undefined" ui-grid-cellnav="undefined" ui-grid-edit="undefined" ui-grid-selection="undefined" ng-if="invGridOptions.data.length>0" ui-grid="invGridOptions" external-scopes="gridHandlers" class="grid"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8 text-center">
                <paging-control ng-if="invGridOptions.data.length>0&&!searching" grid-reference="invGridApi" total-records="totalRecords" results-per-page="pageSize" call-back="doSearch"></paging-control>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-info" data-permission="viewitemdetails" permission-disabled="activeItems.length!==1" ng-click="itemDetails()">Item Details</button>
        <am-select-item-button></am-select-item-button>
        <am-select-item-close-button></am-select-item-close-button>
    </div>
</div>
