<div class="department-main-information">
    <div class="col-xs-12 no-padding">
        <div class="row row-container mobile-screen-title md">
            <div class="col-xs-12">
                <span data-translate="5197">Additional Information</span>
            </div>
        </div>
        <div class="row row-container split-ui-tab-content single-tab">
            <div class="col-xs-12 padding-20">
                <div class="row padding-5">
                    <div class="col-xs-12 no-padding">
                        <div class="center-block">
                            <img ng-show="!state.showEmptyImageMessage()" ng-src="{{departmentImage}}" alt="{{ '658' | translate }}" class="img-rounded">
                            <em ng-show="state.showEmptyImageMessage()" data-translate="5045">No image defined...</em>
                        </div>
                    </div>
                    <!--<div class="col-sm-4 no-left-padding">
                        <div class="center-block">
                            <img ng-show="!state.showEmptyImageMessage()" ng-src="{{departmentImage}}" alt="{{ '658' | translate }}" class="img-rounded">
                            <em ng-show="state.showEmptyImageMessage()" data-translate="5045">No image defined...</em>
                        </div>
                    </div>
                    <div class="col-sm-8 no-right-padding">
                        <label data-translate="5046">Change Image</label>
                        <prism-image-upload disable="state.disableOnReadOnlyMode" image-handler="department.image"></prism-image-upload>
                    </div>-->
                </div>
                <hr>
                <div class="form-group">
                    <label data-translate="5029">Allocation Pattern</label>
                    <select-allocation-pattern pattern-sid="department.patternsid" disable="state.disableOnReadOnlyMode"></select-allocation-pattern>
                </div>
                <div class="form-group">
                    <label data-translate="5030">Use Decimal Qty</label>
                    <select ng-disabled="state.disableOnReadOnlyMode()" ng-model="department.useqtydecimals" class="form-control" ng-options="opt.value as opt.name for opt in state.decimalQtyOptions">
                        <option value="?"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label data-translate="2772">Tax Code</label>
                    <select-taxcode disable="state.disableOnReadOnlyMode" required-box="" taxcode-sid="department.taxcodesid"></select-taxcode>
                </div>
                <div class="form-group">
                    <label for="dai-marginvalue" data-translate="3191">Margin %</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" number="" type="text" ng-keydown="state.onMarginValueKeydown($event)" ng-blur="state.toggleMarginTypeAndValue(0)" ng-model="department.marginpctg" class="form-control" id="dai-marginvalue">
                </div>
                <div class="form-group">
                    <label for="dai-markupvalue" data-translate="5031">Markup %</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" number="" type="text" ng-keydown="state.onMarginValueKeydown($event)" ng-blur="state.toggleMarginTypeAndValue(1)" ng-model="department.markuppctg" class="form-control" id="dai-markupvalue">
                </div>
                <div class="form-group">
                    <label for="dai-coefficient" data-translate="3193">Coefficient</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" number="" type="text" ng-keydown="state.onMarginValueKeydown($event)" ng-blur="state.toggleMarginTypeAndValue(2)" ng-model="department.coefficient" class="form-control" id="dai-coefficient">
                </div>
                <!--This was commented until tag design is implemented in Prism-->
                <!--<div class="form-group">
                    <label data-translate="5032">Tag Design</label>
                    <select-tagcode tagcode-sid="department.tagcodesid" disable="state.disableOnReadOnlyMode"></select-tagcode>
                </div>-->
            </div>
        </div>
    </div>
    <prism-ajax-loader ng-if="state.prismAjaxLoader.handler" loader-title="state.prismAjaxLoader.title" loader-message="state.prismAjaxLoader.message"></prism-ajax-loader>
</div>