<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="{{title | translate}}">Options Menu</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <mark-asn-button layout="1" mark-all="true" on-asn-marked="closeAndRefresh" voucher="unmarked.list" disable="unmarked.disable('mark-all-asn')"></mark-asn-button>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <unmark-asn-button layout="1" unmark-all="true" on-asn-unmarked="closeAndRefresh" voucher="marked.list" disable="marked.disable('unmark-all-asn')"></unmark-asn-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-lg btn-default" type="button" ng-click="$close(false)"><span data-translate="583">close</span></button>
            </div>
        </div>
    </div>
</div>