<div class="row form-group" ng-if="connProfiles.conn.active.rc_sid">
  <div ng-class="{'col-xs-3':d2d.sp.type!=='custom','col-xs-9':d2d.sp.type==='custom'}">
    <span class="badge badge-info">
      <span data-translate="6444">From</span>
      <span ng-if="connProfiles.sp.type==='ril'">
        {{connProfiles.conn.activeController.v9address}} (RIL)
        <span data-translate="6445">To</span>
        {{connProfiles.conn.active.controllername}} (Prism)
      </span>
      <span ng-if="connProfiles.sp.type!=='ril'">
        {{connProfiles.conn.active.rc_localcontrollername}}
        <span data-translate="6445">To</span>
        {{connProfiles.conn.active.controllername}}
      </span>
    </span>
  </div>
  <div class="col-xs-3 text-right">
    <button class="btn btn-info" ng-if="connProfiles.sp.type!=='custom'" ng-click="connProfiles.subscriptionForm()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="col-xs-3">
    <span class="badge badge-info" ng-if="connProfiles.sp.type!=='custom'">
      <span data-translate="6444">From</span>
      <span ng-if="connProfiles.sp.type==='ril'">
        {{connProfiles.conn.active.controllername}} (Prism)
        <span data-translate="6445">To</span>
        {{connProfiles.conn.activeController.v9address}} (RIL)
      </span>
      <span ng-if="connProfiles.sp.type!=='ril'">
        {{connProfiles.conn.active.controllername}}
        <span data-translate="6445">To</span>
        {{connProfiles.conn.active.rc_localcontrollername}}
      </span>
    </span>

  </div>
  <div class="col-xs-3 text-right">
    <button class="btn btn-info" ng-if="connProfiles.sp.type!=='custom'" ng-click="connProfiles.subscriptionForm('receive')">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>
<div class="row">
  <div ng-class="{'col-xs-6':connProfiles.sp.type!=='custom','col-xs-12':connProfiles.sp.type==='custom'}">
    <connection-profile-list link-filter="connProfiles.unLinked" direction="'send'"></connection-profile-list>
  </div>
  <div class="col-xs-6" ng-if="connProfiles.sp.type!=='custom'">
    <connection-profile-list link-filter="connProfiles.unLinked" direction="'receive'"></connection-profile-list>
  </div>
</div>
