<div>
    <div class="col-xs-2">
        <button event-name="amItemDetailNote1" id="note1Button" tabindex="5" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote1, 1)"><span data-translate="1381">Item Note 1</span> {{hasNote1}}</button>
        <button event-name="amItemDetailNote2" id="note2Button" tabindex="6" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote2, 2)"><span data-translate="1382">Item Note 2</span> {{hasNote2}}</button>
        <button event-name="amItemDetailNote3" id="note3Button" tabindex="7" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote3, 3)"><span data-translate="1383">Item Note 3</span> {{hasNote3}}</button>
        <button event-name="amItemDetailNote4" id="note4Button" tabindex="8" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote4, 4)"><span data-translate="1384">Item Note 4</span> {{hasNote4}}</button>
        <button event-name="amItemDetailNote5" id="note5Button" tabindex="9" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote5, 5)"><span data-translate="1385">Item Note 5</span> {{hasNote5}}</button>
        <button event-name="amItemDetailNote6" id="note6Button" tabindex="10" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote6, 6)"><span data-translate="1386">Item Note 6</span> {{hasNote6}}</button>
        <button event-name="amItemDetailNote7" id="note7Button" tabindex="11" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote7, 7)"><span data-translate="1387">Item Note 7</span> {{hasNote7}}</button>
        <button event-name="amItemDetailNote8" id="note8Button" tabindex="12" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote8, 8)"><span data-translate="1388">Item Note 8</span> {{hasNote8}}</button>
        <button event-name="amItemDetailNote9" id="note9Button" tabindex="13" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote9, 9)"><span data-translate="1389">Item Note 9</span> {{hasNote9}}</button>
        <button event-name="amItemDetailNote10" id="note10Button" tabindex="14" class="btn btn-info btn-block" type="button" data-permission="adjmemoseditformermemo" data-apply-permission-when="[{permission:'adjmemoseditformermemo', condition:adjMemo.memo.status === 4}]" ng-click="editThisNote(selectedItem.itemnote10, 10)"><span data-translate="1390">Item Note 10</span> {{hasNote10}}</button>
    </div>
    <div class="col-xs-10">
        <textarea tabindex="15" id="itemNoteEditor" name="itemNoteEditor" rows="18" class="form-control" ui-event="{ blur : 'saveThisNote();'}" ng-disabled="noteEditorDisabled" ng-model="form.notedetails"></textarea>
    </div>
</div>