<div class="row">
	<div class="col-xs-5">
		<button class="btn btn-info" ng-disabled="!sharedData.itemSelected || disaleAgainst" ng-click="sharedData.incrementItemQty()" type="button">
		  <span data-translate="769">Qty +1</span>
		</button>
	</div>
	<div class="col-xs-5 col-xs-offset-2">
		<button class="btn btn-info" ng-disabled="!sharedData.itemSelected || disaleAgainst" ng-click="sharedData.reduceItemQty()" type="button">
		  <span data-translate="770">Qty -1</span>
		</button>
	</div>
</div>
