<fieldset>
    <div class="col-xs-12 padding-20">
        <div class="row padding-5" ng-repeat="udf in state.udfReference" ng-if="udf.name">
            <div class="col-xs-3 no-left-padding">
                <label class="text-with-elipsis">{{udf.name}}</label>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-default" permission="vendorallowmanualentryofudfvalues" ng-disabled="vendor.isReadOnly" ng-if="!state.udfFields[$index].isDate" ng-click="toggleTextInput($index,udf)">
                    <span ng-if="!textInput[$index]" class="glyphicon glyphicon-pencil"></span>
                    <span ng-if="textInput[$index]" class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </div>
            <div class="col-xs-7">
                <input type="text" class="form-control" ng-change="onUdfOptionChange()" ng-if="textInput[$index]" ng-model="vendor.service.active[vendor.udfRelationship[udf.no]]">
                <rp-select-input ng-if="!state.udfFields[$index].isDate&&!textInput[$index]" repeater-data="udf.dropdownConfig.listData" ng-model="vendor.service.active[vendor.udfRelationship[udf.no]]" call-back="udf.dropdownConfig.http()" ng-change="onUdfOptionChange()" default-obj="udf.dropdownConfig.defaultObj" is-last-page="udf.dropdownConfig.isLastPage" key-string="udf.dropdownConfig.textKey" value-key="'udfoption'" is-disabled="vendor.isReadOnly" page="udf.dropdownConfig.page" filter-string="udf.dropdownConfig.searchString">
                </rp-select-input>
                <p class="input-group" ng-show="state.udfFields[0].isDate&&$index===0" ng-click="openCalendar($event, 'udfFieldDt1')">
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="udfFieldDt1.datepickerOptions" ng-model="udfFieldDt1.date" value="{{(udfFieldDt1.date)?(udfFieldDt1.date | date:'mediumDate'):(udfFieldDt1.placeholder)}}" is-open="udfFieldDt1.open" enable-time="false" when-closed="udfFieldDt1.closed()" position-left="true" ng-disabled="vendor.isReadOnly">
                </p>
                <p class="input-group" ng-show="state.udfFields[1].isDate&&$index===1" ng-click="openCalendar($event, 'udfFieldDt2')">
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="udfFieldDt2.datepickerOptions" ng-model="udfFieldDt2.date" value="{{(udfFieldDt2.date)?(udfFieldDt2.date | date:'mediumDate'):(udfFieldDt2.placeholder)}}" is-open="udfFieldDt2.open" enable-time="false" when-closed="udfFieldDt2.closed()" position-left="true" ng-disabled="vendor.isReadOnly">
                </p>
            </div>
        </div>
        <div class="row padding-5" ng-repeat="info in state.infoFields">
            <div class="col-xs-3 no-left-padding">
                <label class="text-with-elipsis">{{ info.name }}</label>
            </div>
            <div class="col-xs-7 col-xs-offset-2" style="padding-left:10px;padding-right:5px;">
                <input type="text" maxlength="20" class="form-control" ng-disabled="vendor.isReadOnly" ng-model="vendor.service.active[info.index]">
            </div>
        </div>
    </div>
</fieldset>
