<ng-form name="form.comments">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 data-translate="1969">Comments</h4>
        </div>
        <div class="panel-body">
            <div ng-if="adjMemo.Comments.length<1&&!isAddComment">
              <h5><span data-translate="6933">This memo has no comments.</span></h5>
            </div>
            <div class="list-group">
                <div ng-repeat="amComment in adjMemo.Comments track by $index">
                    <div class="row col-xs-12">
                        <div class="col-xs-10">
                            <a ng-if="adjMemo.isEdit&&!isEditComment&&!isAddComment" name="link{{$index}}" event-name="amCommentSelected{{$index}}" class="list-group-item keepInside" id="amComment{{$index}}" tabindex="10{{$index}}" index="{{$index}}" data-item-group="data-item-group" ng-click="amSelectComment($index)">
                                {{amComment.comments}}
                            </a>
                            <!--<input ng-if="adjMemo.isEdit&&!isEditComment&&!isAddComment" disabled name="link{{$index}}" event-name="amCommentSelected{{$index}}" class="form-control" id="amComment{{$index}}" tabindex="10{{$index}}" index="{{$index}}" ng-model="adjMemo.Comments[$index].comments" ng-click="amSelectComment($index)"></input>-->
                            <input ng-if="!adjMemo.isEdit" disabled="disabled" name="link{{$index}}" ng-model="adjMemo.Comments[$index].comments" event-name="amDisplayComment{{$index}}" class="form-control" id="amDisplayComment{{$index}}" tabindex="10{{$index}}" index="{{$index}}">
                            <input ng-if="isEditComment&&$index===selEditComment" ng-model="adjMemo.Comments[$index].comments" class="form-control" maxlength="60">
                            <input ng-if="(isEditComment&&$index!==selEditComment)||isAddComment" ng-model="adjMemo.Comments[$index].comments" class="form-control" ng-disabled="true">
                        </div>
                        <div class="col-xs-2" ng-if="(!isAddComment)&&(adjMemo.isEdit)">
                            <button type="button" id="editAmCommentButton" ng-show="(!isEditComment)" ng-click="amEditComment($index)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" id="editAmCommentSaveButton" ng-show="isEditComment&&$index===selEditComment" ng-click="amSaveComment($index);"><span class="glyphicon glyphicon-ok"></span></button>
                            <button type="button" id="editAmCommentCancelButton" ng-show="isEditComment&&$index===selEditComment" ng-click="amCancelEditComment($index);"><span class="glyphicon glyphicon-ban-circle"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="isAddComment">
                <div class="row">&nbsp;</div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-11 col-xs-offset-1 control-label" data-translate="4307">New Comment</label>
                        <div class="row">
                            <div class="col-xs-9 col-xs-offset-1">
                                <input type="text" id="amComment" name="amComment" class="form-control" tabindex="13" ng-model="form.amComment" maxlength="60">
                            </div>
                            <div class="col-xs-2">
                                <button type="button" id="addAmCommentSaveButton" ng-click="amSaveNewComment($index);"><span class="glyphicon glyphicon-ok"></span></button>
                                <button type="button" id="addAmCommentCancelButton" ng-click="amCancelNewComment($index);"><span class="glyphicon glyphicon-ban-circle"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <am-add-comment-button></am-add-comment-button>
            <am-delete-comment-button></am-delete-comment-button>
        </div>
    </div>
</ng-form>
