<button type="button" id="amAdvItemLookup" name="amAdvItemLookup" class="btn btn-info" ng-click="searchBtn.open()" ng-disabled="(searchBtn.adjMemo.memo.status!==3)||(!searchBtn.adjMemo.isEdit)||(searchBtn.adjMemo.saving)||(searchBtn.adjMemo.memo.creatingdoctype === 9)">
  <span class="glyphicon glyphicon-search"></span>
</button>

