<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="565">Region</label>
    <select id="region_sid" class="form-control ng-pristine ng-valid" name="region_sid" ng-model="field.service.active.regionsid" ng-disabled="field.regionList.length <= 0" ng-options="thisRegion.sid  as thisRegion.region_name for thisRegion in field.regionList">
      <option value="" selected="selected">&nbsp;</option>
    </select>
  </div>
</div>
