<div class="responsive-container" ng-if="viewPortChange">
	<div class="row row-container full-height">
		<div class="col-xs-12 col-md-8 col-lg-8">
			<div class="row row-container">
				<div class="col-xs-6">
					<div class="form-group">
						<label data-translate="958">Start Date</label>
						<p class="col-xs-8 input-group" ng-click="openCalendar($event, 'startDate')">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
							<input type="button" class="form-control" datetime-picker="mediumDate" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'mediumDate'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="false" datepicker-options="startDate.datepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
						</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label data-translate="611">End Date</label>
						<p class="col-xs-8 input-group" ng-click="openCalendar($event, 'endDate')">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
							<input type="button" class="form-control" datetime-picker="mediumDate" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'mediumDate'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="false" datepicker-options="endDate.datepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
						</p>
					</div>
				</div>
			</div>
			<hr>
			<!-- <div class="row row-container">
		<span class="ad-section-title" data-translate="4486">Daily Hours</span>
	</div> -->
			<div class="row row-container">
				<div class="col-xs-6">
					<div class="form-group timepicker">
						<label data-translate="4356">Start Time</label>
						<p class="col-xs-8 input-group" ng-click="openCalendar($event, 'startTime')">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
							</span>
							<input type="button" class="form-control" datetime-picker="hh:mm a" ng-model="startTime.date" value="{{(startTime.date)?(startTime.date | date:'hh:mm a'):(startTime.placeholder)}}" is-open="startTime.open" timepicker-options="startTime.timepickerOptions" enable-date="false" when-closed="startTime.closed()" placeholder="{{startTime.placeholder}}" button-bar="startTime.buttonBar">
						</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group timepicker">
						<label data-translate="4357">End Time</label>
						<p class="col-xs-8 input-group" ng-click="openCalendar($event, 'endTime')">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
							</span>
							<input type="button" class="form-control" datetime-picker="hh:mm a" ng-model="endTime.date" value="{{(endTime.date)?(endTime.date | date:'hh:mm a'):(endTime.placeholder)}}" is-open="endTime.open" timepicker-options="endTime.timepickerOptions" enable-date="false" when-closed="endTime.closed()" placeholder="{{endTime.placeholder}}" button-bar="endTime.buttonBar">
						</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row row-container">
				<div class="form-group">
					<label for="promo-subsidiary" data-translate="562">Subsidiary</label>
						<select ng-if="subsidiaryList.length > 0" blur-on-change="" class="form-control" ng-disabled="promotionService.saving" id="promo-subsidiary" ng-model="promotion.activation_sbs_sid" ng-blur="refreshActivationDetailsOnSbsChange($event)" ng-options="sbs.value as sbs.name for sbs in subsidiaryList">
							<option value="" style="display:none"></option>
						</select>
				</div>
			</div>
			<div class="row row-container">
				<div class="col-xs-12 no-padding">
					<div class="row" ng-repeat="obj in multiselect">
						<div class="col-xs-12 no-padding">
							<div class="row no-margin">
								<div class="multi-select">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-6">
												<div class="checkbox">
													<label>
														<input type="checkbox" ng-model="obj.active" ng-disabled="obj.disabled||promotionService.saving" ng-change="obj.blur(obj)"> {{obj.name}}
													</label>
												</div>
											</div>
											<div class="col-xs-6" ng-if="obj.type === 'combinedGroups' && obj.active">
												<div class="checkbox">
													<label>
														<input type="checkbox" ng-model="obj.child" ng-disabled="!obj.active || promotionService.saving" ng-change="obj.blur(obj)"> Promo Groups
													</label>
												</div>
											</div>
										</div>
										<div class="row" ng-if="obj.active">
											<div class="col-xs-12 default-visible-wrapper" ng-if="obj.multi.length > 0 && obj.type !== 'combinedGroups'">
												<label ng-repeat="x in obj.multi track by $index">
													<input type="checkbox" ng-disabled="promotionService.saving" ng-model="x.visible" ng-change="saveMultiSelectBox(obj, x)"> {{x.name | translate}}
												</label>
											</div>
											<div class="col-xs-12 default-visible-wrapper" ng-if="obj.multi.length > 0 && obj.type === 'combinedGroups' && obj.child && promotion.activation_can_be_combined && promotion.activation_combined_groups">
												<label ng-repeat="x in obj.multi track by $index">
													<input type="checkbox" ng-disabled="promotionService.saving" ng-model="x.visible" ng-change="saveMultiSelectBox(obj, x)"> {{x.name | translate}}
												</label>
											</div>
											<div class="col-xs-12 default-visible-wrapper" ng-if="obj.multi.length === 0 && promotion.activation_can_be_combined && promotion.activation_combined_groups">
												<span data-translate="4360">No records found</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div ng-if="obj.type === 'store' && obj.active">
								<import-file action="obj.import.action" button-title="obj.import.title" hide-button="true"></import-file>
							</div>
							<div class="row no-margin" ng-if="obj.type === 'district'">
								<div class="multi-select">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12">
												<div class="checkbox">
													<label>
														<input type="checkbox" ng-model="storeFilterActive" ng-change="clearStoreFilter(storeFilterActive)" ng-disabled="promotionService.saving"> {{'4358'|translate}}
													</label>
												</div>
											</div>
										</div>
										<div class="row" ng-if="storeFilterActive">
											<resource-filter-button disable="promotionService.saving" fields="storeResource.fields" save="promotionService.saveFilter" target="{structure:'store_filter_ui', string:'activation_store_filter'}" filters="promotion.store_filter_ui" button-title="storeResource.title"></resource-filter-button>
										</div>
									</div>
								</div>
							</div>
							<div class="row row-container" ng-if="obj.type === 'district' || obj.type === 'priceLevel'">
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<!-- <div class="row row-container">
				<div class="form-group">
					<div class="checkbox">
							<label>
									<input type="checkbox" ng-model="promotion.activation_can_be_combined" ng-disabled="promotionService.saving" ng-change="promotionService.put($event)"> <span data-translate="4359">Can be combined with other promotions</span>
							</label>
					</div>
					<div class="row" ng-if="promotion.activation_can_be_combined">
						<div class="col-xs-12 default-visible-wrapper" ng-if="promotion.groups.length > 0">
								<label ng-repeat="x in promotion.groups track by $index">
										<input type="checkbox" ng-disabled="promotionService.saving" ng-model="x.group_name" ng-change="saveCombineGroupMultiSelect(x.group_name)"> {{x.group_name}}
								</label>
						</div>
						<div class="col-xs-12 default-visible-wrapper" ng-if="promotion.groups.length === 0">
	<span data-translate="4360">No records found</span>
						</div>
				</div>
				</div>
			</div> -->
			<div class="row row-container">
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="promotion.apply_manual_discounted_items" ng-disabled="promotionService.saving" ng-change="promotionService.put($event)"> <span data-translate="6268">Apply to Manually Discounted Items</span>
						</label>
					</div>
				</div>
			</div>
			<hr>
			<div class="row row-container">
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="promotion.override_customer_price_level" ng-disabled="promotionService.saving" ng-change="promotionService.put($event)"> <span data-translate="6658">Override Customer Price Level</span>
						</label>
					</div>
				</div>
			</div>
			<hr>
			<div class="row row-container">
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="promotion.allow_price_increase" ng-disabled="promotionService.saving" ng-change="promotionService.put($event)"> <span data-translate="7174">Allow Price Increases</span>
						</label>
					</div>
				</div>
			</div>
			<hr>
			<div class="row row-container" ng-show="showApplyOption">
				<div class="form-group">
					<label>{{'1.3'|translate}}:</label>
					<div class="radio" ng-repeat="opt in applyOptions">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios{{$index}}" ng-change="onApplyCountChange()" ng-value="opt.value" ng-model="applyCount.value" ng-disabled="promotion.general_promo_type == '3' && opt.value != '1'">
							{{opt.txt}}
						</label>
					</div>
					<input type="text" ng-disabled="promotionService.saving" numberonly="" data-currency-formatter="number" class="form-control" ng-if="applyCount.value === 2" ng-model="applyCount.count" ng-blur="onApplyCountChange($event)" enter-blur="undefined">
				</div>
			</div>
			<br>
		</div>
		<div class="col-xs-4 hidden-xs summary-details-container" match-height="">
			<promotion-summary-details promotion="promotion" ng-if="showForm"></promotion-summary-details>
		</div>
	</div>
</div>
