<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-table-class>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/{{navigation[0].name}}">Prism API Documentaion <strong class="text-danger">BETA</strong></a>
    </div>
    <!-- <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div> -->
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div id="navbar" class="col-sm-4 col-md-3 sidebar">
      <h4>API</h4>
      <ul class="nav nav-sidebar">
        <li ng-show="nav.active" ng-repeat="nav in navigation" ng-class="{ active: nav.name === activeNavigation.name }">
          <a ng-href="#/{{nav.name}}">{{nav.name}} <span ng-show="nav.children" ng-class="{'glyphicon': true, 'glyphicon-chevron-left': nav.isCollapsed, 'glyphicon-chevron-down': !nav.isCollapsed, 'pull-right': true}"  ng-click="nav.isCollapsed = !nav.isCollapsed"></span></a>
          <ul ng-if="nav.children" class="well nav nav-sidebar"  collapse="nav.isCollapsed">
            <li ng-repeat="child in nav.children"  ng-class="{ active: child.name === activeNavigation.name }">
              <a ng-if="!child.external" ng-href="#/{{nav.name}}/{{child.name}}">{{child.name}}</a>
              <a ng-if="child.external" ng-href="{{child.href}}" target="_blank">{{child.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <h4>Tools</h4>
      <ul class="nav nav-sidebar">
        <li>
          <a href="../api-explorer" target="_blank">REST API Explorer</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
      <div class="row">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li ng-repeat="crumb in breadcrumb" ng-class="{ active: $last }">
              <a ng-href="#/{{crumb}}" ng-if="!$last">{{crumb}}</a>
              <span ng-if="$last">{{crumb}}</span>
            </li>
          </ol>
        </div>
      </div>
      <div class="row" ng-show="activeNavigation.links.length">
        <div class="col-sm-12">
          <div class="btn-group" uib-dropdown is-open="jumpto.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
            Jump to Section <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li ng-repeat="link in activeNavigation.links"><a ng-click="jumpTo(link.href)">{{link.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" ng-bind-html="content">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
