<div class="department-main-information">
    <div class="col-xs-12 no-padding">
        <div class="row row-container mobile-screen-title md">
            <div class="col-xs-12">
                <span data-translate="5198">Department, Class & Subclass</span>
            </div>
        </div>
        <div class="row row-container split-ui-tab-content single-tab">
            <div class="col-xs-12 padding-20">
                <div class="form-group">
                    <label for="dmi-department" data-translate="2732">Department</label>
                    <input ng-disabled="state.enableOnlyOnNew('d')" maxlength="3" type="text" ng-model="department.d" class="form-control uppercase" id="dmi-department">
                </div>
                <div class="form-group">
                    <label for="dmi-department-name" data-translate="2806">Department Name</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" type="text" ng-model="department.dname" class="form-control" id="dmi-department-name">
                </div>
                <div class="form-group">
                    <label for="dmi-department-long-name" data-translate="5048">Department Long Name</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" type="text" ng-model="department.dlongname" class="form-control" id="dmi-department-long-name">
                </div>
                <div class="form-group">
                    <label for="dmi-class" data-translate="2731">Class</label>
                    <input ng-disabled="state.enableOnlyOnNew('c')" maxlength="3" type="text" ng-model="department.c" class="form-control uppercase" id="dmi-class">
                </div>
                <div class="form-group">
                    <label for="dmi-class-name" data-translate="2905">Class Name</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" type="text" ng-model="department.cname" class="form-control" id="dmi-class-name">
                </div>
                <div class="form-group">
                    <label for="dmi-class-long-name" data-translate="5049">Class Long Name</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" type="text" ng-model="department.clongname" class="form-control" id="dmi-class-long-name">
                </div>
                <div class="form-group">
                    <label for="dmi-subclass" data-translate="2733">Subclass</label>
                    <input ng-disabled="state.enableOnlyOnNew('s')" maxlength="3" type="text" ng-model="department.s" class="form-control uppercase" id="dmi-subclass">
                </div>
                <div class="form-group">
                    <label for="dmi-subclass-name" data-translate="2906">Subclass Name</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" type="text" ng-model="department.sname" class="form-control" id="dmi-subclass-name">
                </div>
                <div class="form-group">
                    <label for="dmi-subclass-long-name" data-translate="5050">Subclass Long Name</label>
                    <input ng-disabled="state.disableOnReadOnlyMode()" type="text" ng-model="department.slongname" class="form-control" id="dmi-subclass-long-name">
                </div>
                <div class="form-group">
                    <label for="dmi-dcs" data-translate="5033">Full DCS Code</label>
                    <input ng-disabled="true" type="text" value="{{state.getFullDcsCode(department)}}" class="form-control" id="dmi-dcs">
                </div>
                <div class="form-group">
                    <label for="dmi-dcs-name" data-translate="5034">Full DCS Name</label>
                    <input ng-disabled="true" type="text" value="{{state.getFullDcsName(department)}}" class="form-control" id="dmi-dcs-name">
                </div>
            </div>
        </div>
    </div>
</div>
