<div class="btn-group">
  <button ng-if="(adjMemo.memo.sid)&&(adjMemo.memo.status === 3)&&(!adjMemo.memo.held)" data-permission="adjmemosprintmemo,adjmemosupdatememo" data-permission-disabled="(!adjMemo.isEdit)||(adjMemo.saving)||(adjMemo.Items.length === 0)||!adjMemo.memo.reasonname" class="btn btn-default" ng-click="printUpdateMemo()">
    <span data-translate="952">Print Update</span>
  </button>
  <button ng-if="(adjMemo.memo.status !== 3)||(adjMemo.memo.held)" data-permission="adjmemosprintmemo" data-permission-disabled="(!adjMemo.memo.sid)||(adjMemo.Items.length < 1)||!adjMemo.memo.reasonname" class="btn btn-default" ng-click="adjMemo.printMemo(adjMemo.memo)">
    <span data-translate="522">Print</span>
  </button>
</div>
