<div class="modal-content" id="amve">
    <div class="modal-header">
        <h4 ng-if="adjMemo.memo.adjtype===0" data-translate="4723">Adjusted Quantity</h4>
        <h4 ng-if="adjMemo.memo.adjtype===1" data-translate="4720">Adjusted Price</h4>
        <h4 ng-if="adjMemo.memo.adjtype===2" data-translate="4714">Adjusted Cost</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form>
                <div class="row ng-form">
                <div class="col-xs-3 col-xs-offset-1 text-right">
                    <label ng-if="adjMemo.memo.adjtype===0" class="control-label" data-translate="4846">New Quantity</label>
                    <label ng-if="adjMemo.memo.adjtype===1" class="control-label" data-translate="4847">New Price</label>
                    <label ng-if="adjMemo.memo.adjtype===2" class="control-label" data-translate="4848">New Cost</label>
                </div>
                <div class="col-xs-3">
                    <input ng-if="adjMemo.memo.adjtype===0" tabindex="0" id="adjValue" type="tel" numberonly ng-model="form.adj_value">
                    <input ng-if="adjMemo.memo.adjtype===1" tabindex="0" id="adjValue" type="tel" data-currency-formatter="price" numberonly ng-model="form.adj_value">
                    <input ng-if="adjMemo.memo.adjtype===2" tabindex="0" id="adjValue" type="tel" data-currency-formatter="price" numberonly ng-model="form.adj_value">
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-1">
                        &nbsp;
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer text-right">
            <button type="button" ng-enter="$close(form);" class="btn btn-info" ng-click="$close(form);">
                <span data-translate="2226">Ok</span>
            </button>
        </div>
    </div>
</div>