<div>
  <button class="btn btn-default" data-permission="viewitemdetails" permission-disabled="buttons.resourceLookupService.resourceData.selectedItems.length!==1" ng-click="buttons.itemDetails()">
    <span data-translate="765">Item Details</span>
  </button>
</div>
