<div style="position:absolute;top:50%;left:40%;">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-5">
      <div class="modal-backdrop fade in" style="z-index: 10040;" ng-if="processing"></div>
      <div tabindex="-1" style="z-index: 10050;position:absolute;" ng-if="processing">
        <div style="z-index: 10050;" class="modal-dialog modal-sm">
          <div class="modal-content">
            <modal-body>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h5>{{queueArray.length}} <span data-translate="6893">remaining.</span></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12" id="progress_bar">
                  <div style="padding:10px;background-color:#CCCCCC;">
                    <div style="width:{{chipWidth}}%" class="chip_on">&nbsp;</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <span data-translate="6894">Estimated Time Remaining</span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-center">
                  {{timeRemaining}} <span data-translate="6895">seconds</span>
                </div>
              </div>
            </modal-body>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
