<div class="scroll-y me-n7 pe-7" id="kt_modal_<%-obj%>" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_customer_header" data-kt-scroll-wrappers="#kt_modal_add_customer_scroll" data-kt-scroll-offset="300px">
    <% 	for(var i=0;i<input.isnull.length;i++){
        var rqm="";
        if(input.isnull[i]=="*")
            rqm="required";
        %> 
    <!--begin::Input group-->
    <div class="fv-row mb-7 dl<%-input.isnull[i]%> <%-(typeof input.css!="undefined")?input.css[i]:"" %>">
        <!--begin::Label-->
        <label class="<%=rqm%> fs-6 fw-semibold mb-2"><%=input.title[i]%> <%if(input.types[i]=="image"){ var gui=uuidv4()%> <i onclick="$('#myfile').trigger('click');$('#myfile').attr('obj','<%-gui%>')" class="bi bi-pencil-fill fs-7"></i><%}%></label>
        <!--end::Label-->
        <p></p>
        <% if(input.types[i]=="input" || input.types[i]=="passwordhidden" || input.types[i]=="ipdisble"){var dsb="";if(input.types[i]=="ipdisble")dsb="disabled"%>
        <!--begin::Input-->
        <input type="text" class="<%-input.types[i]%> input-data-ctm form-control form-control-solid intput-<%=rqm%>" <%-dsb%> placeholder="" obj="<%=input.map[i]%>" value="" />
        <!--end::Input-->
        <% }else if(input.types[i]=="texarea"){%>
            <textarea name="w3review" rows="4" cols="0" obj="<%=input.map[i]%>" class="<%-input.types[i]%> input-data-ctm form-control form-control-solid intput-<%=rqm%>"></textarea>

      
        <%}
        else if(input.types[i]=="image"){%>
            <img src="" obj="<%=input.map[i]%>" style="max-width: 100px;object-fit: cover;min-width: 100px;min-height: 100px;" id="<%-gui%>" class="imgobj"  />
        <%}else if(input.types[i]=="rootsid"){%>
            <span class="<%-input.types[i]%> rootsid" obj="<%=input.map[i]%>"></p>
        <%}else if(input.types[i]=="number"){%>
            <input type="number" class="<%-input.types[i]%> input-data-ctm form-control form-control-solid intput-<%=rqm%>" placeholder="" obj="<%=input.map[i]%>" value="0" />
         <%}
            else if(input.types[i]=="checkbox"){%>
                <label class="form-check form-switch form-check-custom form-check-solid">
                    <!--begin::Input-->
                    <input class="check-ctm form-check-input" name="billing" type="checkbox" value="1" obj="<%=input.map[i]%>" >
                    <!--end::Input-->
                    <!--begin::Label-->
              
                    <!--end::Label-->
                </label>
        <%}else if(input.types[i].search("dropdown")!=-1){
            var drop=JSON.parse(input.types[i])
                                                      %>
            <select class="select-mapdata intput-<%=rqm%>" clname="<%=drop.clname%>" obj="<%=input.map[i]%>" table="<%=drop.dropdown%>">
                <%if(drop.root!="false"){%>
                <option value="">Root</option>
                <%}%>
            </select>
        <%}
        else if(input.types[i].search("#")!=-1){%>
            <span class="getid" obj="<%=input.map[i]%>" data="<%=input.types[i].split('/')[0]%>"></span>

        <%}
        else if(input.types[i]=="date"){%>
          <input class="form-control form-control-solid flatpickr-input datepicker active" obj="<%=input.map[i]%>" name="calendar_event_start_date" placeholder="Pick a start date" type="text" readonly="readonly">
        <% }
        else if(input.types[i]=="userlog"){%>
            <span class="userlog" obj="<%=input.map[i]%>" data="<%-menu.user.sid%>"></span>
        <% } %>
    </div>
    <% }%>
</div>
