<%if(maptype=="checkbox"){ 
    var mess="Đang hoặt động";
    var oclass="badge-light-primary";
    if(value=="false"){
        mess="Vô hiệu hóa";
        oclass="badge-light-danger";
    }
%>
<span class="badge py-3 px-4 fs-7 <%=oclass%>"><%=mess%></span>
<% }else if(maptype.search("map")>-1){
var js=JSON.parse(maptype);
var txt=value;
if(value!=null){
    var x = resultdt.filter((a)=>{if(a["sid"]==value){return a}});
    txt  = x[0][js.clname];  
}
%>
<p><%-txt%></p>
<%
}else if(maptype.search("fromjson")>-1){
    var json=JSON.parse(maptype);
%>
<%=value[json["fromjson"]].name%>
<%}
else if(maptype=="link"){%>
    <a href="<%-value%>">link</a>
<%}
else if(maptype.search("switch")>-1){
        var sw=maptype.split(':');
        var true_false=sw[1].split('/');
        var mess=true_false[0];
        var oclass="badge-light-danger";
        if(mess=="đã nghiệm thu")
            oclass="badge-light-primary"
        if(value.toString()=="false"){
            mess=true_false[1];
            oclass="badge-light-primary";
            if(mess=="chưa nghiệm thu")
                oclass="badge badge-light-warning fs-8 fw-bold"
        }
    %>
    <span class="badge py-3 px-4 fs-7 <%=oclass%>"><%=mess%></span>

 <%}
else if(maptype=="date"){%>
   <%- new Date(value).toLocaleDateString("en-GB")%>
<%}
else if(maptype=="numberstr"){%>
    <%- converToString(value)%>
 <%}
 else if(maptype=="popupline"){%>
   <p data="<%-sid%>"><%-value%></p>
 <%}
else if(maptype=="datetime"){
        var d=new Date(value);
    %>
    <%- new Date(value).toLocaleDateString("en-GB")+" "+ d.getHours().toString()+":"+ d.getMinutes().toString()%>
 <%}
else if(maptype.search("createdrop")>-1){
var json=JSON.parse(maptype);
%>
<span id="map<%=value%>" class="<%=json.createdrop %>"></span>
<%}
else if(maptype=="avatarpr"){%>
<div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
    <a href="#">
        <div class="symbol-label">
            <img src="<%=value%>" alt="" class="w-100" />
        </div>
    </a>
</div>
<!--end::Avatar-->
<!--begin::User details-->
<div class="d-flex flex-column">
    <a href="#" class="text-gray-800 text-hover-primary mb-1"><%=value["firstName"]%> <%=value["lastName"]%></a>
    <span><%=value["email"]%></span>
</div>

<%}
else{%>
   <%=value%>
<%}%>