        <!--begin:Menu item-->
        <%if(submenu2.length>0){%>
          
                <!--begin:Menu sub-->
                <div class="menu-sub menu-sub-accordion menu-active-bg">
                    <!--begin:Menu item-->
                    <%
                        submenu2.forEach(elements =>{ %>
                            <div class="menu-item">
                                <!--begin:Menu link-->
                                <a class="menu-link" href="/list/<%- elements.name %>">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title"><%- elements.description%></span>
                                </a>
                                <!--end:Menu link-->
                            </div>
                       <% })
                    %>
                  
                </div>
                <!--end:Menu sub-->
      
        <% }%>
       
        <!--end:Menu item-->
        <!--begin:Menu item-->
       
      