<button class="btn btn-info btn-block" ng-disabled="purchaseOrder.active.status!==1||!purchaseOrder.active.active||purchaseOrder.isAssignLimited" ng-click="openASN()">
  <span data-translate="5416">Generate ASN Voucher</span>
</button>
