<form name="zOutRequiredNotes" id="zOutRequiredNotes" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 data-translate="5778">Notes Required</h3>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <label class="col-xs-4 control-label" data-translate="594">Notes</label>
          <div class="col-xs-8">
            <input id="disbursementNotes" ng-model="notes" type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <button event-name="zoutDrawerRequiredNotesOkButton" id="zoutDrawerRequiredNotesOkButton" tabindex="7" type="submit" class="btn btn-lg btn-default" ng-click="saveChanges()"><span data-translate="1.1">OK</span></button>
         

        <button event-name="zoutDrawerRequiredNotesCancelButton" id="zoutDrawerRequiredNotesCancelButton" tabindex="8" type="button" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span>
        </button>
         
      </div>
    </div>
  </div>
</form>
