<form name="form.addSlipComment" id="addCommentForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 data-translate="4295">Add Slip Comment</h4>
        </div>
        <div class="modal-body" style="min-height:550px;">
            <div class="row form-group">
                <label class="col-xs-4 control-label" data-translate="3852">Comment</label>
                <div class="col-xs-4">
                    <input type="text" id="slipComment" name="slipComment" class="form-control" tabindex="13" ng-model="form.slipComment" ng-change="resetCommentDropdown()">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-xs-4 control-label">&nbsp;</label>
                <div class="col-xs-4">
                    <select id="slipCommentSuggestion" name="slipCommentSuggestion" class="form-control" tabindex="12" ng-model="form.slipCommentSuggestion" ng-change="setSlipComment()" ng-options="c.comments as c.comments for c in definedCommentsList">
                    </select>
                </div>
            </div>
         </div>
    </div>




    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <button event-name="slipSaveComment" type="button" id="slipSaveCommentButton" ng-disabled="!form.addSlipComment.$valid||transferSlip.saving" class="btn btn-default btn-lg" ng-click="saveComment()"><span data-translate="547">Save</span></button>
                <button event-name="slipCancelComment" type="button" id="slipCancelCommentButton" class="btn btn-lg btn-default" ng-click="$close();"><span data-translate="1.2">Cancel</span></button>
            </div>
        </div>
    </div>
</form>
