<div class="prism-ajax-loader">
    <div class="message-container">
        <h3>{{ loaderTitle | translate }}</h3>
        <small><em>{{ loaderMessage | translate }}</em></small>
        <img src="images/prism-ajax-loader.svg" alt="{{ '5028' | translate }}">
    </div>
</div>