<form name="$ctrl.invnListAttrSizeForm" id="invnListAttrSizeForm" class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 data-translate="7177">Edit Attr/Size</h3>
      </div>
      <div class="panel-body" style="padding: 10px;">
        <div class="row row-container">
          <div class="col-xs-6">
            <table class="table col-md-12 table-bordered table-reponsive table-centered fixed_header">
              <thead>
                <tr>
                  <th>
                    <div class="col-xs-6">
                      <h3 data-translate="3333">Attribute</h3>
                    </div>
                    <div class="col-xs-6 text-left">
                      <span class="btn btn-default glyphicon glyphicon-plus" id="addAttr" ng-click="$ctrl.addNewAttr()" ng-disabled=""></span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="attr in $ctrl.attrList track by $index">
                  <td>
                    <input id="attrList{{$index}}" name="{{attr.value}}" type="text" maxlength="8" class="form-control" ng-required="true" ng-model="attr.value">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-6">
            <table class="table col-md-12 table-bordered table-reponsive table-centered fixed_header">
              <thead>
                <tr>
                  <th>
                    <div class="col-xs-6">
                      <h3 data-translate="679">Size</h3>
                    </div>
                    <div class="col-xs-6 text-left">
                      <span class="btn btn-default glyphicon glyphicon-plus" id="addSize" ng-click="$ctrl.addNewSize()" ng-disabled=""></span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="size in $ctrl.sizeList track by $index">
                  <td>
                    <input id="sizeList{{$index}}" name="{{size.value}}" type="text" maxlength="8" class="form-control" ng-required="true" ng-model="size.value">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-lg btn-default" type="button" data-translate="2226" ng-disabled="!$ctrl.invnListAttrSizeForm.$dirty||!$ctrl.invnListAttrSizeForm.$valid" ng-click="$ctrl.confirmChanges()">Ok</button>
        <button class="btn btn-lg btn-default" type="button" data-translate="1.2" ng-click="$ctrl.dismiss({$value: 'cancel'});">Cancel</button>
      </div>
    </div>
  </form>
