<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 text-left">
        <strong data-translate="1086">Lock Status</strong>
      </div>
      <div class="col-xs-8">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-danger full-width" type="button" ng-disabled="field.ngDisabled || !field.customerPayment.loyaltyFields.optin || !field.allowAdjust" ng-click="field.update(true)" ng-if="!field.customerPayment.loyaltyFields.ltylvllocked">
              <span data-translate="4905">Lock</span>
              <span><i class="fa fa-lock m-l-5" aria-hidden="true"></i></span>
            </button>
            <button class="btn btn-info full-width" type="button" ng-disabled="field.ngDisabled || !field.customerPayment.loyaltyFields.optin || !field.allowAdjust" ng-click="field.update(false)" ng-if="field.customerPayment.loyaltyFields.ltylvllocked">
              <span data-translate="4906">Unlock</span>
              <span><i class="fa fa-unlock m-l-5" aria-hidden="true"></i></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
