* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
    font-family: Open Sans;
    display: flex;
    justify-content: center;
    align-items: center;
/*    height: 100vh;
*/    background-color: aliceblue;
    background-size: 100%;
    background: url('stage2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.mainbox {
    position: relative;
    width: 800px;
    height: 800px;
    background: url('/images/asset_3_nopoint.png');
    background-position: center;
    background-size: cover;
}

.mainbox:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;

  background-size: 5%;
  left: 5%;
  top: 48%;
  transform: rotate(90deg);
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #949090;
    overflow: hidden;
    transition: all ease-out 10s;
    transform: scale(0.6) rotate(202deg);
    z-index: -1;
    position: absolute;
    top: -94px;
}

span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}
.spin-img {
    width: 86px;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 15%;
    transform: rotate(275deg);
}
.span-select1 .spin-img {
    top: 0;
}
.span-select3 .spin-img {
    top: -29%;
    transform: rotate(300deg);
}
.span-select4 .spin-img {
    top: -185px;
    transform: rotate(290deg);
}
.span-select5 .spin-img {
    top: -23%;
    transform: rotate(286deg);
}
.span-select6 b{
    top: 42%;
    right: 64%;
}
.span-select6 .spin-img {
    top: -25%;
    transform: rotate(290deg);
}
.span-select7 .spin-img {
    top: -24%;
    transform: rotate(290deg);
}
.span-select8 .spin-img {
    top: -25%;
    transform: rotate(290deg);
}
.span-select2 .spin-img {
    top: -10%;
}
.span-select1 {
    clip-path: polygon(0 29%, 0 71%, 50% 50%);
    background-color: green;
}
    .span-select1 b {
        position: absolute;
        top: 48%;
        right: 64%;
        text-align: center;
        transform: rotate(275deg);
    }
#mainbox, #masthead {
    margin: 0 !important;padding:0!important
}

.span-select2 {
    clip-path: polygon(0 17%, 0 61%, 50% 50%);
    background-color: #7c3434;
    transform: rotate(-685deg);
}
    .span-select2 b {
        position: absolute;
        top: 45%;
        right: 63%;
        text-align: center;
        transform: rotate(278deg);
    }
.span-select3 {
    clip-path: polygon(0 1%, 0 50%, 50% 50%);
    
    transform: rotate(-652deg);
}
    .span-select3 b {
        position: absolute;
        top: 40%;
        right: 61%;
        text-align: center;
        transform: rotate(302deg);
        width: 70px;
    }

.span-select4 {
    clip-path: polygon(0 -1%, 0 50%, 50% 50%);
    background-color: goldenrod;
    transform: rotate(-608deg);
}
    .span-select4 b {
        position: absolute;
        top: 40%;
        right: 60%;
        text-align: center;
        transform: rotate(285deg);
    }
.span-select5 {
    clip-path: polygon(0 0%, 0 50%, 50% 50%);
    background-color: purple;
    transform: rotate(-562deg);
}
    .span-select5 b {
        position: absolute;
        top: 42%;
        right: 64%;
        text-align: center;
        transform: rotate(280deg);
    }
.span-select6 {
    clip-path: polygon(0 -1%, 0 50%, 50% 50%);
    background-color: palevioletred;
    transform: rotate(-517deg);
}
    .span-select6 b {
        position: absolute;
        top: 41%;
        right: 63%;
        text-align: center;
        transform: rotate(286deg);
    }
.span-select7 {
    clip-path: polygon(0 0%, 0 50%, 50% 50%);
    background-color: rosybrown;
    transform: rotate(-472deg);
}
    .span-select7 b {
        position: absolute;
        top: 41%;
        right: 64%;
        text-align: center;
        transform: rotate(297deg);
    }
.span-select8 {
    clip-path: polygon(0 0%, 0 50%, 50% 50%);
    background-color: #7bbf3d;
    transform: rotate(-428deg);
}

    .span-select8 b {
        position: absolute;
        top: 41%;
        right: 64%;
        text-align: center;
        transform: rotate(299deg);
    }
.span1 {
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  background-color: green;
}

.span2 {
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
  background-color: red;
}

.span3 {
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
  background-color: blue;
}

.span4 {
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
  background-color: salmon;
}

.span5 {
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  background: #ff8300;
}

.box2 .span3 {
  background-color: #00ff04;
}

.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.font {
  color: white;
  font-size: 20px;
}
.box1{
    font-size:12px
}
.box1 .span1 b {
    position: absolute;
    top: 39%;
    right: 60%;
    transform: rotate(200deg);
    text-align: center;
}

.box1 .span2 b {
  position: absolute;
  top: 25%;
  right: 57%;
  transform: rotate(-130deg);
}

.box1 .span3 b {
  position: absolute;
  top: 20%;
  right: 36%;
  transform: rotate(-90deg);
}

.box1 .span4 b {
  position: absolute;
  top: 25%;
  right: 15%;
  transform: rotate(-45deg);
}

.box1 .span5 b {
  position: absolute;
  top: 38%;
  right: 10%;
  transform: rotate(-15deg);
  text-align: center;
}

.box2 .span1 b {
  position: absolute;
  top: 34%;
  right: 70%;
  transform: rotate(200deg);
}

.box2 .span2 b {
  position: absolute;
  top: 20%;
  right: 60%;
  transform: rotate(-130deg);
  text-align: center;
}

.box2 .span3 b {
  position: absolute;
  top: 15%;
  right: 40%;
  transform: rotate(270deg);
}
.btn-login {
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
}
.box2 .span4 b {
  position: absolute;
  top: 27%;
  right: 20%;
  transform: rotate(310deg);
}

.box2 .span5 b {
  position: absolute;
  top: 35%;
  right: 10%;
  transform: rotate(-20deg);
  text-align: center;
}
.sub_title_modal {
    background: -webkit-linear-gradient(#1d1401, #ffaa00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat !important;
    transition: .8s !important;
    font-size: 36px;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 2px 2px #ffaa00 !important;
    font-weight: 800 !important;
    letter-spacing: .02em;
    paint-order: markers;
    text-align: left;
    text-decoration: none;
}
.arrow {
    background-image: url(ping-triangle.png);
    background-size: 25px 80px;
    background-repeat: no-repeat;
    width: 25px;
    height: 80px;
    transform: rotate(180deg);
    position: absolute;
    bottom: 70px;
    margin: auto;
    padding: initial;
    left: -12px;
}

.spin-btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #ff5722;
    color: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    line-height: 3;
}

.spin {
    position: absolute;
    top: 38%;
    left: 49.8%;
    z-index: 1000;

}

.spin-btn:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.mainbox.animate:after {
  animation: animateArrow 0.7s ease infinite;
}

audio {
  display: none;
}

@keyframes animateArrow {
  50% {
    right: -50px;
  }
}
.modal-dialog {
    width: 700px;
    margin: auto;
    margin-top: -240px !important;
}
@media (max-width: 576px) {
    .span-select4 b {
        top:38%
    }
        .check-list {
        background: rgb(114 0 0);
        padding: 15px 30px !important;
        box-shadow: rgb(112 1 1 / 40%) 0px 30px 90px;
        border-radius: 8px;
        text-align: left;
        width: 70%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(245, 237, 141, 1);
        margin: auto;
    }
    .modal-dialog {
        position: relative;
        width: 100%;
        margin: auto;
        max-width: 100%;
        margin-top: -150px !important;
    }
    .span-select4 .spin-img {
        top: -125px;
    }
    .font b {
        font-size: 16px
    }
    .span-select3 b {
        top: 39%;
        right: 59%;
       
    }
    .spin-img {
        left: 10%;
    }
    .mainbox {
        position: relative;
        width: 500px;
        height:500px;
    }
    .box{
        top:-58px
    }
    .spin {
        top: 34%;
        left: 46.4%;
        transform: scale(0.5);
    }
}

#box {
 
    background: linear-gradient( 22.5deg, transparent calc(50% - 1px), #fff 50%, transparent calc(50% + 1px) ), linear-gradient( -22.5deg, transparent calc(50% - 1px), #fff 50%, transparent calc(50% + 1px) ), linear-gradient( 112.5deg, transparent calc(50% - 1px), #fff 50%, transparent calc(50% + 1px) ), linear-gradient( 68.5deg, transparent calc(50% - 1px), #fff 50%, transparent calc(50% + 1px) );
    background-color: gray;
    border-radius: 50%;
}