<div class="col-xs-12 padding-20">

    <!-- Store/Co: Section Start-->
    <div class="row">
        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" data-translate="1391">Store</h3>
                </div>
                <div class="panel-body height18">
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label data-translate="875">OH Qty</label>
                            </div>
                            <div class="col-xs-4">
                                {{item.actstrohqty|number:item.useqtydecimals}}
                                <!--<input ng-disabled="disable" type="text" ng-model="item.actstrohqty" class="form-control" id="ifpc-OHQty">-->
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label data-translate="3188">Ext. Cost</label>
                            </div>
                            <div class="col-xs-7">
                                {{item.actstrextcost | currency}}
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label data-translate="3187">Ext. Price</label>
                            </div>
                            <div class="col-xs-7">
                                {{item.actstrextprice | currency}}
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label data-translate="5335">Ext. Price WT</label>
                            </div>
                            <div class="col-xs-7">
                                {{item.actstrextpricewt | currency}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" data-translate="1135">Company</h3>
                </div>
                <div class="panel-body height18">
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label data-translate="875">OH Qty</label>
                            </div>
                            <div class="col-xs-4">
                                {{item.cmpstrohqty|number:item.useqtydecimals}}
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label data-translate="3188">Ext. Cost</label>
                            </div>
                            <div class="col-xs-7">
                                {{item.cmpstrextcost | currency}}
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label data-translate="3187"> Ext. Price</label>
                            </div>
                            <div class="col-xs-7">
                                {{item.cmpstrextprice | currency}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Store/Co: Section End-->

    <!-- Margin: Section Start-->
    <div class="row top-margin20">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="5336">Margin</h3>
            </div>
            <div class="panel-body">
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-2 inline">
                            <label data-translate="3930">Percent</label>
                        </div>
                        <div class="col-xs-2 inline">
                            <input ng-disabled="disable||state.costEditNotAllowed||state.priceEditNotAllowed||(!item.active)" type="text" ng-blur="state.onCalcfieldBlur('actstrmarginpctg')" numberonly data-format-decimal="2" decimals="2" ng-model="item.actstrmarginpctg" class="form-control" id="imi-actstrmarginpctg">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-2 inline">
                            <label data-translate="982">Amount</label>
                        </div>
                        <div class="col-xs-3 inline">
                            <input ng-disabled="disable||state.isVat||state.costEditNotAllowed||state.priceEditNotAllowed||(!item.active)" type="text" ng-blur="state.onCalcfieldBlur('actstrmarginamt')" numberonly data-currency-formatter="currency" ng-model="item.actstrmarginamt" class="form-control" id="imi-actstrmarginamt">
                        </div>
                        <div class="col-xs-3 col-xs-offset-1 inline">
                            <label data-translate="5337">Ext. Amount</label>
                        </div>
                        <div class="col-xs-3 inline">
                            {{item.actstrextmarginamt | currency}}
                        </div>
                    </div>
                </div>

                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-2 inline">
                            <label data-translate="5338">Amount WT</label>
                        </div>
                        <div class="col-xs-3 inline">
                            <input ng-disabled="disable||!state.isVat||state.costEditNotAllowed||state.priceEditNotAllowed||(!item.active)" type="text" ng-blur="state.onCalcfieldBlur('actstrmarginamtwt')" numberonly data-currency-formatter="currency" ng-model="item.actstrmarginamtwt" class="form-control" id="imi-actstrmarginamtwt">
                        </div>
                        <div class="col-xs-3 col-xs-offset-1 inline">
                            <label data-translate="5339">Ext. Amount WT</label>
                        </div>
                        <div class="col-xs-3 inline">
                            {{item.actstrextmarginamtwt | currency}}
                        </div>
                    </div>
                </div>

                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-2">
                            <label data-translate="5031">Markup %</label>
                        </div>
                        <div class="col-xs-2">
                            <input ng-disabled="disable||state.costEditNotAllowed||state.priceEditNotAllowed||(!item.active)" type="text" ng-blur="state.onCalcfieldBlur('actstrmarkuppctg')" numberonly data-format-decimal="2" decimals="2" ng-model="item.actstrmarkuppctg" class="form-control" id="imi-actstrmarkuppctg">
                        </div>
                    </div>
                </div>

                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-2">
                            <label data-translate="3193">Coefficient</label>
                        </div>
                        <div class="col-xs-2">
                            <input ng-disabled="disable||state.costEditNotAllowed||state.priceEditNotAllowed||(!item.active)" type="text" ng-blur="state.onCalcfieldBlur('actstrcoefficient')" numberonly data-format-decimal="4" decimals="4" ng-model="item.actstrcoefficient" class="form-control" id="imi-description4">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Margin: Section End-->

    <!-- Tax: Section Start-->
    <div class="row top-margin20">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="1525">Tax</h3>
            </div>
            <div class="panel-body">
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-2">
                            <label data-translate="5340">Tax 1</label>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-5 inline text-right">
                                    <label data-translate="3930">Percent</label>
                                </div>
                                <div class="col-xs-6 inline">
                                    {{item.actstrtaxpctg | formatNumber:2:false}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-5 inline">
                                    <label data-translate="1824">Amount</label>
                                </div>
                                <div class="col-xs-6 inline">
                                    {{item.actstrtaxamt | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                              <div class="col-xs-5 inline">
                                <label data-translate="6495">Ext Amt</label>
                              </div>
                              <div class="col-xs-6 inline">
                                {{item.actstrexttaxamt1 | currency}}
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-2">
                            <label data-translate="5341">Tax 2</label>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-5 inline text-right">
                                    <label data-translate="3930">Percent</label>
                                </div>
                                <div class="col-xs-6 inline">
                                    {{item.actstrtaxpctg2 | formatNumber:2:false}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-5 inline">
                                    <label data-translate="1824">Amount</label>
                                </div>
                                <div class="col-xs-6 inline">
                                    {{item.actstrtaxamt2 | currency}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-5 inline">
                                  <label data-translate="6495">Ext Amt</label>
                                </div>
                                <div class="col-xs-6 inline">
                                  {{item.actstrexttaxamt2 | currency}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label data-translate="1833">Totals</label>
                        </div>
                        <div class="col-xs-3">
                          <div class="row">
                            <div class="col-xs-5 inline">
                              <label data-translate="1824">Amount</label>
                            </div>
                            <div class="col-xs-6 inline">
                              {{(item.actstrtaxamt + item.actstrtaxamt2) | currency}}
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-3">
                          <div class="row">
                            <div class="col-xs-5 inline">
                              <label data-translate="6495">Ext Amt</label>
                            </div>
                            <div class="col-xs-6 inline">
                              {{(item.actstrexttaxamt1 + item.actstrexttaxamt2) | currency}}
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tax: Section End-->

    <!-- Price Levels: Section Start-->
    <div class="row top-margin20">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="710">Price Levels</h3>
            </div>
            <div class="panel-body">
                <div class="row top-margin">
                    <div class="col-xs-12 padding-20">
                        <div ng-if="mode === 'new'">
                            <div class="alert alert-danger" role="alert">
                                <span data-translate="5342">Price Level information is available for existing items only.</span>
                            </div>
                        </div>
                        <div ng-if="mode !== 'new'">
                            <div id="itemPLGrid" ui-grid="state.itemPLGrid" class="height30 autoOverflow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Price Levels: Section End-->

    <!-- Foreign Currency - (FC): Section Start-->
    <!--<div class="row top-margin20">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="579">Foreign Currency</h3>
            </div>
            <div class="panel-body">
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4 ">
                            <label data-translate="2494">Cost</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-disabled="disable" type="text" ng-model="item.description4" class="form-control" id="imi-description4">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4 ">
                            <label data-translate="773.1">Price</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-disabled="disable" type="text" ng-model="item.quantity" class="form-control" id="ifpc-OHQty">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4 ">

                            <label data-translate="needsID">Price WT</label>
                        </div>
                        <div class="col-xs-3">

                            <input ng-disabled="disable" type="text" ng-model="item.vendorName" class="form-control" id="imi-vendorName">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="form-group">
                        <div class="col-xs-4 ">
                            <label data-translate="721">Tax Amount</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-disabled="disable" type="text" ng-model="item.description3" class="form-control" id="imi-description3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Foreign Currency - (FC): Section End-->
</div>
