<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 text-left">
        <strong data-translate="1642">Tax Area 1</strong>
      </div>
      <div class="col-xs-8">
        <select id="tax_area_sid" name="tax_area_sid" ng-disabled="field.ngDisabled" class="form-control ng-pristine ng-valid" ng-model="field.service.active.taxareasid" ng-options="thisTaxArea.sid as thisTaxArea.tax_area_name for thisTaxArea in field.taxAreasList">
          <option value="" data-translate="1358">Select...</option>
        </select>
      </div>
    </div>
  </div>
</div>
