<div>
    <button ng-if="button.getLayout() === 0" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()" event-name="createPOSTransactionFromInventory">
        <span data-translate="4900">New POS Transaction</span>
    </button>
    <button ng-if="button.getLayout() === 1" class="btn btn-info btn-block" ng-disabled="button.disable()" ng-click="button.action()" type="button" event-name="createPOSTransactionFromInventory">
        <span data-translate="4900">New POS Transaction</span>
    </button>
</div>