<div>
  <div class="col-xs-10">
    <h4 class="inline-block">
      <span data-translate="5857">Biometrics</span>
    </h4>
  </div>

  <div class="col-xs-2">
    <div class="pull-right">
      <button class="btn btn-default btn-icon" ng-click="addRecord();" title="{{ '5858' | translate }}" type="button"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
  </div>
</div>
