<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span data-translate="6200">Held Transactions</span>
      </div>
      <div class="panel-body height55">
        <div class="row extended-height" ui-i18n="{{lang}}">
          <div id="heldgrid1" ui-grid-resize-columns="" ui-grid-selection="" ui-grid="custHeldTrans.heldDocumentGridOptions" class="ch-grid" style="width:100%"></div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
            <paging-control ng-if="custHeldTrans.heldDocumentGridOptions.data.length>0 && custHeldTrans.totalHeldDocRecords" grid-reference="custHeldTrans.gridApi" total-records="custHeldTrans.totalHeldDocRecords" results-per-page="custHeldTrans.pageSize" call-back="custHeldTrans.getHeldDocData"></paging-control>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <action-button-bar action-bar="custHeldTrans.buttonBar"></action-button-bar>
  </div>
</div>
