<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span data-translate="6932">Taken Non-Currency Tenders</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div style="overflow-y:scroll;">
            <table class="table table-striped table-bordered text-center" style="width:100%">
              <thead>
                <tr>
                  <th style="width:10%" data-translate="1840">Matched</th>
                  <th style="width:20%" data-translate="1440">Amt</th>
                  <th ng-if="selected_tender_type_index===0" style="width:15%" data-translate="925">Card Type</th>
                  <th style="width:30%" data-translate="684">Date</th>
                  <th style="width:30%" data-translate="659">Notes</th>
                  <th style="width:10%">#</th>
                </tr>
              </thead>
            </table>
          </div>
          <div style="height:25vh;overflow-y:scroll;">
            <table class="table table-striped table-bordered text-center" style="width:100%;">
              <tbody>
                <tr ng-repeat="tender in zouttenders[selected_tender_type_index][1]" ng-if="tender.tender_type===selected_tender_type&&tender.resource==='zouttender'">
                  <td style="width:10%"><input type="checkbox" ng-model="tender.matched" ng-change="saveTenderMatch(tender);"></td>
                  <td style="width:20%">{{tender.amount | currency}}</td>
                  <td ng-if="selected_tender_type_index===0" style="width:15%">{{tender.card_type_name}}</td>
                  <td style="width:30%">{{tender.created_datetime | cleanDate}}</td>
                  <td style="width:30%">{{tender.notes}}</td>
                  <td style="width:10%">{{tender.document_number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <button event-name="zOutNonCurrencyMediaCountsSelectAll" class="btn btn-primary btn-lg" ng-click="selectAll()" ng-disabled="isReconciled" type="button">
        <img src="/images/pos/select_all_32.png">
        <span data-translate="971">Select All</span>
      </button>
    </div>
  </div>
</div>

