<div class="container-fluid">
  <div class="row padding-5">
    <div class="col-xs-12">
      <div class="row row-container mobile-screen-title">
        <div class="col-xs-6">
          <span data-translate="6042">Price Manager</span>
        </div>

        <div class="col-xs-6">
          <top-filter-change-button asklayout="asklayout" disable="doDisableTFButton" on-close="updateTopFilter">
          </top-filter-change-button>
        </div>

      </div>
      <pm-main-list ng-if="pmMainCtrl.list"></pm-main-list>
      <pm-main-detail ng-if="!pmMainCtrl.list"></pm-main-detail>
    </div>
  </div>
</div>
