<button type="button" class="btn btn-info" ng-click="searchBtn.open()" data-permission="posadvanceditemlookup" data-permission-disabled="searchBtn.btnPermissionDisabled">
  <span class="glyphicon glyphicon-search"></span>
</button>
