<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="row form-group" style="padding-left: 1%;" ng-controller="postalCodePreferences_ctrl">
        <div class="row top-margin form-group">
            <div class="col-xs-12">
                <div class="panel panel-default" style="margin-right: 1%;">
                    <div class="panel-heading">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="6789">Postal Code Preferences</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row form-group">
                          <div class="col-xs-11">
                            <label class="control-label">
                              <input ng-model="pData.postal_code_enable.value" type="checkbox">
                              <span data-translate="6790">Enable Postal Code Lookup</span>
                            </label>
                          </div>
                        </div>
                        <div class="row top-margin20 form-group">
                          <div class="col-xs-12">
                            <label class="control-label" data-translate="761">City</label>
                            <div class="row">
                              <div class="col-xs-10">
                                <select class="form-control" ng-disabled="!toBoolean(pData.postal_code_enable.value)" ng-model="pData.postal_code_city.value">
                                  <option value=""><span data-translate="1358">Select...</span></option>
                                  <option value="1"><span data-translate="536">Address 1</span></option>
                                  <option value="2"><span data-translate="538">Address 2</span></option>
                                  <option value="3"><span data-translate="540">Address 3</span></option>
                                  <option value="4"><span data-translate="1637">Address 4</span></option>
                                  <option value="5"><span data-translate="1638">Address 5</span></option>
                                  <option value="6"><span data-translate="2082">Address 6</span></option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="row top-margin20 form-group">
                          <div class="col-xs-12">
                            <label class="control-label" data-translate="762">State</label>
                            <div class="row">
                              <div class="col-xs-10">
                                <select class="form-control" ng-disabled="!toBoolean(pData.postal_code_enable.value)" ng-model="pData.postal_code_state.value">
                                  <option value=""><span data-translate="1358">Select...</span></option>
                                  <option value="1"><span data-translate="536">Address 1</span></option>
                                  <option value="2"><span data-translate="538">Address 2</span></option>
                                  <option value="3"><span data-translate="540">Address 3</span></option>
                                  <option value="4"><span data-translate="1637">Address 4</span></option>
                                  <option value="5"><span data-translate="1638">Address 5</span></option>
                                  <option value="6"><span data-translate="2082">Address 6</span></option>
                                </select>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="row top-margin20 form-group">
                          <div class="col-xs-12">
                            <label class="control-label" data-translate="6791">State Format</label>
                            <div class="row">
                              <div class="col-xs-10">
                                <select class="form-control" ng-disabled="!toBoolean(pData.postal_code_enable.value)" ng-model="pData.postal_code_state_format.value">
                                  <option value=""><span data-translate="1358">Select...</span></option>
                                  <option value="1"><span data-translate="3223">Full</span></option>
                                  <option value="0"><span data-translate="6792">Abbreviated</span></option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
