<div>
  <div class="col-xs-5 text-right">
    <p class="form-control-static">
      <strong data-translate="4552">Discount Days:</strong>
    </p>
  </div>
  <div class="col-xs-7">
    <input tabindex="3" ng-required="isFieldRequired('charge_discount_days','charge')" type="text" id="chargetermdiscdays" numberonly="" class="form-control text-right" ng-model="tender.charge_discount_days">
  </div>
</div>
