<div>
<select ng-change="setResourceValue()" ng-model="testS.resourceLookup.externalBindings.testValue">
  <option ng-value="1">1</option>
</select>
  {{testS.resourceLookup.externalBindings.testValue}}
</div>
