<div>
  <div ng-if="mode==='edit'&&display==='block'">
    <label class="control-label" data-translate="5411">Acct No</label>
    <input type="text" enter-blur="undefined" ng-readonly="purchaseOrder.saving" ng-blur="saveField()" ng-disabled="!purchaseOrder.isEdit||vendoracctno_disabled" class="form-control {{fieldClass}}" ng-model="purchaseOrder.active.vendacctno">
  </div>
  <div ng-if="mode==='edit'&&display==='inline'">
    <div class="row">
      <div class="col-xs-6">
        <label class="control-label" data-translate="4023">Acct No</label>
      </div>
      <div class="col-xs-6">
        <input enter-blur="undefined" ng-readonly="purchaseOrder.saving" ng-blur="saveField()" type="text" ng-disabled="!purchaseOrder.isEdit||vendoracctno_disabled" class="form-control {{fieldClass}}" ng-model="purchaseOrder.active.vendacctno">
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='block'">
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label" data-translate="4023">Account No</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{purchaseOrder.active.vendacctno}}
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='inline'">
    <label class="control-label" data-translate="4023">Account No</label>
    {{purchaseOrder.active.vendacctno}}
  </div>
</div>
