<div class="hidden">
    <button ng-if="button.showLayout(1)" event-name="newTransferOrder" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()">
        <span data-translate="5381">New Transfer Order</span>
    </button>
    <img-btn ng-if="button.showLayout(2)" event-name="newTransferOrder" translation-name="'5381'" img-src="'/images/pos/pos_new_48.png'" click-handler="button.action" disable="button.disable()" button-text="5381"></img-btn>
</div>
