<button type="button" ng-disabled="!purchaseOrder.isEdit||((!purchaseOrder.vendor)&&restrictVend)" class="btn {{class}}" ng-click="itemSelection();">
  <span data-translate="2790">Adv. Lookup</span>
</button>
