<label class="control-label" data-translate="6470">Hire Date</label>
<p class="input-group" ng-click="$ctrl.openCalendar($event, 'empHireDate')">
  <span class="input-group-btn">
      <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
  <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="$ctrl.empHireDate.datepickerOptions" ng-model="$ctrl.empHireDate.date" value="{{($ctrl.empHireDate.date)?($ctrl.empHireDate.date | date:'mediumDate'):($ctrl.empHireDate.placeholder)}}" is-open="$ctrl.empHireDate.open" enable-time="false" when-closed="$ctrl.empHireDate.closed()" position-left="true">
</p>
