<div class="panel panel-default">
    <ng-form name="form.fees">
        <div class="panel-heading">
            <h4 data-translate="3229">Fee</h4>
        </div>
        <div class="panel-body po-details-panel">
            <div class="row form-group">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="694">Fee Type</label>
                    <select ng-if="transferSlip.FeeTypes.length>0" ng-model="transferSlip.fee.tranfeetypesid" ng-disabled="!transferSlip.isEdit||transferSlip.slip.status!==3" ng-change="feeTypeChange();" class="form-control {{fieldClass}}" ng-options="x.sid as x.feename for x in transferSlip.FeeTypes">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="row" ng-if="transferSlip.FeeTypes.length===0">
                <div class="col-xs-12">
                    <em><span data-translate="4342">There are no Fee Types defined.<br><br></span></em>
                </div>
            </div>
            <div class="row top-margin">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="693">Fee Amount</label>
                    <input enter-blur type="text" ng-disabled="!transferSlip.isEdit||transferSlip.slip.status!==3||!isTransferTypeDefined()" class="form-control {{fieldClass}}" ng-blur="saveFee();" ng-required="isTransferTypeDefined()" ng-model="transferSlip.fee.amt" numberonly="undefined" data-currency-formatter="currency">
                </div>
            </div>
        </div>
    </ng-form>
</div>