<div>
  <div class="panel panel-default" ng-click="dItem.serverDetail(server)" ng-if="!dItem.conn.active.sid" style="cursor:pointer">
    <div class="well well-sm" style="margin-bottom:0px;padding:2px;">
      <div class="row">
        <div class="col-xs-12 text-left">
          <span class="badge badge-info">{{dItem.server.controllername}}</span>
        </div>
      </div>
    </div>
    <div class="panel-body text-center">
      <div class="row">
        <div class="col-xs-4">
          <span class="glyphicon glyphicon-import" style="font-size:24px;"></span> {{dItem.server.rcvd}}
        </div>
        <div class="col-xs-4">
          <span class="glyphicon glyphicon-export" style="font-size:24px;"></span> {{dItem.server.sent}}
        </div>
        <div class="col-xs-4">
          <span class="glyphicon glyphicon-fire" style="font-size:24px;" ng-class="{'red':dItem.server.failed}"></span> {{dItem.server.failed}}
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="dItem.conn.active.sid">
    <div class="col-xs-12" style="padding:10px;">
      <d2d-item-detail server="dItem.server" resource-count="dItem.resourceCount"></d2d-item-detail>
    </div>
  </div>
</div>
