<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="594">Notes</label>
    <textarea id="info" name="info" class="form-control no-resize" ng-required="field.required" ng-model="field.service.active.notes"></textarea>
  </div>
</div>
