<div>
  <div>
    <replication-progress-bar ng-if="!pBar.completeFlg" start-time="pBar.iRecord.startTime" expected="pBar.iRecord.totalRecords" last-updated="pBar.iRecord.lastUpdate" received="pBar.iRecord.processed"></replication-progress-bar>
  </div>
  <strong ng-if="pBar.completeFlg">{{pBar.iRecord.failures}} <span style="color:red" class="glyphicon glyphicon-fire"></span> {{pBar.iRecord.processed}} <span style="color:green" class="glyphicon glyphicon-ok"></span> <span data-translate="4746">of</span> {{pBar.iRecord.totalRecords}}</strong>
</div>
