<div name="pm-inv-list">
  <div class="container-fluid" ng-if="pmInvListCtrl.contentReady">
    <div class="row padding-5">
      <div class="col-xs-12">
        <div class="row row-container mobile-screen-title">
          <div class="col-xs-5">
            <span data-translate="6054">Markdown Inventory</span><span> | &nbsp; {{pmInvListCtrl.markdownName}} </span>
          </div>
          <div class="col-xs-7">
            <div class="row">
              <div class="col-xs-2 text-right">
                <label data-translate="683" style="font-size: small;">Store</label>
              </div>
              <div class="col-xs-5">
                <select-store subsid="pmInvListCtrl.sbssid" store="pmInvListCtrl.state.store" default-store="pmInvListCtrl.priceManager.currentStoreSid" disable="!pmInvListCtrl.allowSubs" on-change="pmInvListCtrl.eventHandlers.onStoreOrPriceLevelChange"></select-store>
              </div>
              <div class="col-xs-2 text-right">
                <label data-translate="1645" style="font-size: small;">Price Level</label>
              </div>
              <div class="col-xs-3">
                <select-price-level sbs-sid="pmInvListCtrl.sbssid" level-sid="pmInvListCtrl.state.priceLevel" disable="true" on-change="pmInvListCtrl.eventHandlers.onStoreOrPriceLevelChange"></select-price-level>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-container">
          <div class="row top-margin">
            <div ng-if="pmInvListCtrl.showInvnSearch" class="col-xs-4">
              <div class="panel height80" tabindex="-1" role="dialog">
                <div class="panel-heading">
                  <span data-translate="826">Filters</span>
                  <button class="btn btn-info" style="visibility: hidden"><span>&nbsp;</span></button>
                </div>
                <div class="panel-body">
                  <div class="container-fluid">
                    <pm-inv-search-filter params="pmInvListCtrl.filterSettings"></pm-inv-search-filter>
                  </div>
                </div>
              </div>
            </div>
            <div ng-class="{'col-xs-8': pmInvListCtrl.showInvnSearch, 'col-xs-12': !pmInvListCtrl.showInvnSearch}">
              <div class="row">
                <div class="col-xs-12 padding-10">
                  <div class="row">
                    <div class="col-xs-2">
                      <button class="btn btn-default" ng-click="pmInvListCtrl.toggleFilters();">
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-left': pmInvListCtrl.showInvnSearch, 'glyphicon-chevron-right': !pmInvListCtrl.showInvnSearch}"></i>
                        <span data-translate="826">Filters</span>
                      </button>&nbsp;
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!--<div id="grid1" ui-grid-resize-columns="" ui-grid-selection="" ng-if="gridOptions.data.length>0" ui-grid="gridOptions" external-scopes="gridHandlers" class="grid"></div>-->
                <div class="col-xs-12 padding-5 inventory-grid-column">
                  <responsive-grid ng-if="!pmInvListCtrl.refresh" grid="pmInvListCtrl.state.grid.settings" extra-class=""></responsive-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-xs">
    <button-bar view-path="components/store-ops/inventory/inventory-button-bar.htm"></button-bar>
  </div>
  <pm-action-status ng-if="pmInvListCtrl.state.pmActionStatus.handler" loader-title="pmInvListCtrl.state.pmActionStatus.title" total="pmInvListCtrl.priceManager.tracker.total" processed="pmInvListCtrl.priceManager.tracker.progress"></pm-action-status>
  <prism-ajax-loader ng-if="pmInvListCtrl.state.prismAjaxLoader.handler" loader-title="pmInvListCtrl.state.prismAjaxLoader.title" loader-message="pmInvListCtrl.state.prismAjaxLoader.message"></prism-ajax-loader>
</div>

