<ng-form name="grid-form">
  <request-counter ng-if="!gridData.refresh" queue-array="gridData.queueTracker" threshold="5"></request-counter>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-xs-4">
          <label for="grid" class="control-label"><span data-translate="6853">Select a grid to configure</span></label>
          <select class="form-control" ng-change="setGrid()" ng-model="gridData.active" id="grid" ng-options="x as x.translatedName for x in resources"><!-- EXCLUDE for r8 grids -->
            <option value="" style="display:none" data-translate="1358">Select...</option>
          </select>
        </div>
        <div class="col-xs-4">
          <label ng-if="gridData.active!==''" for="grid" class="control-label" data-translate="2727">Results Per Page</label>
          <select ng-if="gridData.active!==''" class="form-control" ng-change="setDirty();" ng-model="gridData.grid.resultsperpage" ng-options="x for x in pp">
            <option value="" style="display:none" data-translate="1358">Select...</option>
          </select>
        </div>
        <div class="col-xs-4 text-right" ng-if="level===gridData.inheritedSettingsLevel&&gridData.inheritedSettingsLevel!=''">
          <button class="btn btn-default" type="button" ng-click="clearNode()" ng-disabled="level==='corporate'" ng-if="gridData.active.sid"><span data-translate="5521">Clear Node Settings</span></button>
        </div>
        <div class="col-xs-4 text-center" ng-if="level!==gridData.inheritedSettingsLevel&&gridData.inheritedSettingsLevel!==''">
            <span class="label label-default" style="padding:10px;font-size: small">
              <strong>
                  {{'6204'|translate}} {{gridData.inheritedSettingsLevel.toUpperCase()}}
              </strong>
            </span>
        </div>
      </div>

      <div class="row form-group" ng-if="((gridData.searchBy.length>0 || gridData.searchByMeta.length>0)&&gridData.active.sid)">
        <div class="col-xs-12">
          <div class="row form-group">
            <div class="col-xs-12">
              <label class="control-label"><span data-translate="3330">Allow Search By</span></label>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-4">
              <label class="control-label"><span data-translate="3667">Available</span></label>
            </div>
            <div class="col-xs-4">
              <label class="control-label"><span data-translate="3332">Selected</span></label>
            </div>
            <div class="col-xs-4" ng-if="gridData.active.transid==='756'">
              <label class="control-label"><span data-translate="5522">Default Search By</span></label>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-3">
              <select ng-options="y as y.transid | translate for y in gridData.searchByMeta" ng-dblclick="addSearchBy()" multiple="multiple" class="form-control multi" ng-model="form.availableSearchBy">
              </select>
            </div>
            <div class="col-xs-1 text-center">
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn btn-icon" ng-disabled="gridData.adding||form.availableSearchBy.length===0" ng-click="addSearchBy()" type="button">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button ng-disabled="gridData.searchBy.length<2||form.selectedSearchBy.length===0" class="btn btn-icon" ng-click="removeSearchBy()" type="button">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <select ng-options="y as y.transid | translate for y in gridData.searchBy" ng-dblclick="removeSearchBy()" multiple="multiple" class="form-control multi" ng-model="form.selectedSearchBy">
              </select>

            </div>
            <div class="col-xs-1">
              <div class="row">
                <div class="col-xs-12">
                  <button ng-disabled="form.selectedSearchBy.length!==1" class="btn btn-icon" ng-click="setDirty();sort(form.selectedSearchBy,gridData.searchBy,0)" type="button">
                    <span class="glyphicon glyphicon glyphicon-open"></span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button ng-disabled="form.selectedSearchBy.length!==1" class="btn btn-icon" ng-click="setDirty();sort(form.selectedSearchBy,gridData.searchBy,-1)" type="button">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button ng-disabled="form.selectedSearchBy.length!==1" class="btn btn-icon" ng-click="setDirty();sort(form.selectedSearchBy,gridData.searchBy,1)" type="button">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button ng-disabled="form.selectedSearchBy.length!==1" class="btn btn-icon" ng-click="setDirty();sort(form.selectedSearchBy,gridData.searchBy,gridData.columns.length)" type="button">
                    <span class="glyphicon glyphicon glyphicon-save"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-3" ng-if="gridData.active.transid==='756'">
              <ul class="list-group visible-col-list" ng-class="{'errorinput':noDefault}">
                <li ng-repeat="y in gridData.searchBy">
                  <label class="inline-block" style="width:100%;height:100%;">
                    <input type="radio" name="radio" ng-required="true" ng-value="true" ng-change="setFalse(y);defaultCheck()" ng-click="setDirty()" ng-model="y.defaultsearchby"> {{y.transid | translate}}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="row form-group" ng-if="gridData.columns.length>0">
        <div class="row form-group">
          <div class="col-xs-12">
            <label class="control-label"><span data-translate="3668">Show Columns</span></label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4">
            <label class="control-label"><span data-translate="3667">Available</span></label>
          </div>
          <div class="col-xs-4">
            <label class="control-label"><span data-translate="3332">Selected</span></label>
          </div>
          <div class="col-xs-4">
            <label class="control-label"><span data-translate="3636">Default Visible</span></label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-3">
            <select ng-options="y as y.transid | translate for y in gridData.columnMeta" ng-dblclick="addColumn()" multiple="multiple" class="form-control multi" ng-model="form.availableColumns">
            </select>
          </div>
          <div class="col-xs-1 text-center">
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-icon" ng-disabled="gridData.adding||form.availableColumns.length===0" ng-click="addColumn()" type="button">
                  <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button ng-disabled="gridData.columns.length<2||form.selectedColumns.length===0" class="btn btn-icon" ng-click="removeColumn()" type="button">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <select ng-options="y as y.transid | translate for y in gridData.columns" ng-dblclick="removeColumn()" multiple="multiple" class="form-control multi" ng-model="form.selectedColumns">
            </select>
          </div>
          <div class="col-xs-1">
            <div class="row">
              <div class="col-xs-12">
                <button ng-disabled="form.selectedColumns.length!==1" class="btn btn-icon" ng-click="setDirty();sort(form.selectedColumns,gridData.columns,0)" type="button">
                  <span class="glyphicon glyphicon glyphicon-open"></span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button ng-disabled="form.selectedColumns.length!==1" class="btn btn-icon" ng-click="setDirty();sort(form.selectedColumns,gridData.columns,-1)" type="button">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button ng-disabled="form.selectedColumns.length!==1" class="btn btn-icon" ng-click="setDirty();sort(form.selectedColumns,gridData.columns,1)" type="button">
                  <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button ng-disabled="form.selectedColumns.length!==1" class="btn btn-icon" ng-click="setDirty();sort(form.selectedColumns,gridData.columns,gridData.columns.length)" type="button">
                  <span class="glyphicon glyphicon glyphicon-save"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <ul class="list-group visible-col-list">
              <li ng-repeat=" y in gridData.columns">
                <label class="inline-block" style="width:100%;height:100%;">
                  <input type="checkbox" ng-click="setDirty();" ng-model="y.visible"> {{y.transid | translate}}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default" ng-disabled="!isDirty" ng-click="setGrid()"><span data-translate="614">Reset</span></button>
      <button class="btn btn-default" ng-disabled="!isDirty||noDefault" ng-click="saveGrid()"><span data-translate="547">Save</span></button>
    </div>
</ng-form>
