<form name="adyenDevice" id="adyenDevice" autocomplete="off" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4>Adyen</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div ng-show="showKeyedMode&&!showBalance"> <!-- Show DIV if the showScanMode variable is true -->
            <div class="row">
              <div class="col-xs-3">
                <label class="control-label" data-translate="925">Card Type</label>
              </div>
              <div class="col-xs-9">
                <select
                  id="card_type"
                  name="card_type"
                  ng-model="form.card_type"
                  class="form-control text-right"
                  required="required"
                >
                  <option value="svs">Stored Value Solutions</option>
                  <option value="givex">Givex</option>
                </select>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-xs-3">
                <label class="control-label" data-translate="2095">Card No</label>
              </div>
              <div class="col-xs-9">
                <input id="card_number" name="card_number" class="form-control text-right" type="text" focus-me="focusSwipe" required="required" ng-model="form.card_number">
              </div>
            </div>
            <div class="row top-margin" ng-if="useSVS">
              <div class="col-xs-3">
                <label class="control-label" data-translate="6739">PIN</label>
              </div>
              <div class="col-xs-3">
                <input id="card_pin" name="card_pin" class="form-control text-right" type="text" required="required" ng-model="form.card_pin">
              </div>
            </div>
        </div>

        <div class="row" ng-show="!showKeyedMode&&!showBalance">
          <h4 data-translate="1940">Waiting On Customer</h4>
          <p data-translate="1941">Please wait for the customer to complete the transaction using the card reader/pinpad.</p>
        </div>

        <div class="row" ng-show="showBalance"> <!-- Show DIV if deviceInitialized is true -->
          <h4 data-translate="3281">Gift Card Balance</h4>
          <p><span data-translate="6646">Remaining Balance</span> {{remainingBalance}}</p>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <button id="keyedButton" type="button" ng-show="!showKeyedMode&&!showBalance" class="btn btn-lg btn-default" ng-click="keyedEntry()">
            <span data-translate="6642">Keyed Entry</span>
          </button>
          <button id="keyedPEDButton" type="button" ng-show="showKeyedMode" class="btn btn-lg btn-default" ng-click="pedKeyedEntry()">
            <span data-translate="6643">PED Keyed Entry</span>
          </button>
          <!--<button id="bypassButton" type="button" class="btn btn-lg btn-default" ng-disabled="!deviceInitialized" ng-hide="bypassDeviceDisabled" ng-click="abortCED(true)" data-translate="1942">-->
            <!--Bypass Device-->
          <!--</button>-->
          <button id="submitManualEntryButton" ng-show="showKeyedMode" ng-disabled="disableSubmit()" class="btn btn-lg btn-default" ng-click="pedKeyedEntry()" type="button">
            <span data-translate="6640">Submit</span>
          </button>

          <button id="submitPrintButton" ng-show="showBalance" class="btn btn-lg btn-default" ng-click="printBalance()" type="button">
            <span data-translate="522">Print</span>
          </button>

          <button id="cancelButton" type="button" class="btn btn-lg btn-default" ng-click="abortCED()">
            <span data-translate="1.2">Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
