<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="{{title | translate}}">Options Menu</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div ng-include="template"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button class="btn btn-lg btn-default" type="button" ng-click="close(false)"><span data-translate="1.2">cancel</span></button>
            </div>
        </div>
    </div>
</div>