<div class="panel" ng-controller="ac_customizations_ctrl">

        <div class="panel-heading">
            <h4><span class="div-header-text" data-translate="2371">Customization Configuration:</span></h4>
        </div>
        <div class="panel-body">
            <div class="well well-small">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="text" ng-model="filter_name" class="form-control" placeholder="{{ '2372' | translate }}" title="{{ '2372' | translate }}">
                    </div>
                    <div class="col-xs-4 text-right">
                        <button ng-click="addNew()" ng-disabled="pageData.mode=='edit'" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span> Add New Customization</button>
                    </div>
                </div>
            </div>
            <div class="well well-small" ng-show="pageData.mode=='add' || pageData.mode=='edit'">
                <form name="ac_customzations_form">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="row form-group">
                                <div class="col-xs-3">
                                    <label data-translate="1113">Name</label>
                                    <input class="form-control" ng-model="customization.name" placeholder="{{ '1113' | translate }}" title="{{ '1113' | translate }}" ng-required="true">
                                </div>
                                <div class="col-xs-3">
                                    <label data-translate="1275">Version</label>
                                    <input class="form-control" ng-model="customization.version" placeholder="{{ '1275' | translate }}" title="{{ '1275' | translate }}" ng-required="true">
                                </div>
                                <div class="col-xs-3">
                                    <label data-translate="2373">Developer ID</label>
                                    <input class="form-control" ng-model="customization.developer_id" name="developer_id" ng-blur="checkExisting(0)" placeholder="{{ '2373' | translate }}" title="{{ '2373' | translate }}" ng-required="true">
                                </div>
                                <div class="col-xs-3">
                                    <label data-translate="2374">Customization ID</label>
                                    <input class="form-control" ng-model="customization.customization_id" name="customization_id" ng-blur="checkExisting(1)" placeholder="{{ '2374' | translate }}" title="{{ '2374' | translate }}" ng-required="true">
                                </div>
                                <div class="col-xs-12" ng-show="ac_customzations_form.developer_id.$error.duplicate || ac_customzations_form.customization_id.$error.duplicate">
                                    <br>
                                    <ul>
                                        <li class="text-danger" ng-show="ac_customzations_form.developer_id.$error.duplicate" data-translate="3098">The Developer ID you have entered already exists.</li>
                                        <li class="text-danger" ng-show="ac_customzations_form.customization_id.$error.duplicate" data-translate="3099">The Customization ID you have entered already exists.</li>
                                    </ul>

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-8">
                                    <label data-translate="2375">Control Address</label>
                                    <input class="form-control" ng-model="customization.control_address" placeholder="{{ '2375' | translate }}" title="{{ '2375' | translate }}" ng-required="true">
                                </div>
                                <div class="col-xs-4">
                                    <label data-translate="2376">Control Port</label>
                                    <input class="form-control" ng-model="customization.control_port" placeholder="{{ '2376' | translate }}" title="{{ '2376' | translate }}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-8">
                                    <label data-translate="2377">Manifest File Location</label>
                                    <input class="form-control" ng-model="customization.manifest_location" placeholder="{{ '2377' | translate }}" title="{{ '2377' | translate }}">
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" ng-model="customization.location">
                                        <option style="display:none;" value="">Select Location...</option>
                                        <option value="0">Undefined</option>
                                        <option value="1">Remote</option>
                                        <option value="2">Local</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="5" style="position:relative;z-index:100;" ng-model="customization.configuration" placeholder="{{ '2378' | translate }}" title="{{ '2378' | translate }}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="control-label">
                                                <input type="checkbox" ng-checked="toBoolean(customization.startup_flag)" ng-model="customization.startup_flag">
                                                Auto Start
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="control-label">
                                                <input type="checkbox" ng-checked="toBoolean(customization.auto_update_flag)" ng-model="customization.auto_update_flag">
                                                Auto Deploy / Update
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="control-label">
                                                <input type="checkbox" ng-checked="toBoolean(customization.shutdown_flag_.value_)" ng-model="customization.shutdown_flag">
                                                Auto Stop
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="control-label">
                                                <input type="checkbox" ng-checked="toBoolean(customization.required_flag_.value_)" ng-model="customization.required_flag">
                                                Required
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right" style="margin-top:15px;">
                                    <button class="btn btn-default" ng-click="add()" ng-disabled="!ac_customzations_form.$valid" type="button"><span class="glyphicon glyphicon-ok"></span> Save</button>
                                    <button class="btn btn-default" ng-click="pageData.mode=''" type="button"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
                                </div>
                            </div>
                        </div>
                </div></form>
                </div>
            </div>
            <div ng-repeat="x in customizations">
                <div class="well well-small" ng-show="pageData.mode==''&&(filter_name==''||x.name.toLowerCase().indexOf(filter_name.toLowerCase())!=-1)">
                    <div class="row form-group">
                        <div class="col-xs-3">
                            <span>Name:</span> {{x.name}}
                        </div>
                        <div class="col-xs-3">
                            <span>Version:</span> {{x.version}}
                        </div>
                        <div class="col-xs-3">
                            <span>Developer ID:</span> {{x.developer_id}}
                        </div>
                        <div class="col-xs-3">
                            <span>Customization ID:</span> {{x.customization_id}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Control Address: {{x.control_address}}:{{x.control_port}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button ng-click="edit(x)" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button ng-click="remove(x);" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
<!--                 <div class="well well-small" ng-show="pageData.mode=='edit'  + $index">
    <form  name="ac_customzations_edit_form">
        <div class="row">
            <div class="col-xs-8">
                <div class="row form-group">
                    <div class="col-xs-3">
                        <input class="form-control" ng-model="x.name" placeholder="{{ '1113' | translate }}" title="{{ '1113' | translate }}" ng-required="true" />
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" ng-model="x.version" placeholder="{{ '1275' | translate }}" title="{{ '1275' | translate }}" ng-required="true"  />
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" ng-model="x.developer_id" name="developer_id" ng-blur="checkExisting(0)" placeholder="{{ '2373' | translate }}" title="{{ '2373' | translate }}" ng-required="true"  />
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" ng-model="x.customization_id" name="customization_id" ng-blur="checkExisting(0)" placeholder="{{ '2374' | translate }}" title="{{ '2374' | translate }}" ng-required="true"  />
                    </div>
                    <div class="col-xs-12" ng-show="ac_customzations_edit_form.developer_id.$error.duplicate || ac_customzations_edit_form.customization_id.$error.duplicate">
                        <br/>
                        <ul>
                            <li class="text-danger" ng-show="ac_customzations_edit_form.developer_id.$error.duplicate">The Developer ID you have entered already exists.</li>
                            <li class="text-danger" ng-show="ac_customzations_edit_form.customization_id.$error.duplicate">The Customization ID you have entered already exists.</li>
                        </ul>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-8">
                        <input class="form-control" ng-model="x.control_address" placeholder="{{ '2375' | translate }}" title="{{ '2375' | translate }}" ng-required="true"  />
                    </div>
                    <div class="col-xs-4">
                        <input class="form-control" ng-model="x.control_port" placeholder="{{ '2376' | translate }}" title="{{ '2376' | translate }}" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-8">
                        <input class="form-control" ng-model="x.manifest_location" placeholder="{{ '2377' | translate }}" title="{{ '2377' | translate }}" />
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" ng-model="x.location">
                            <option style="display:none;" value="">Select Location...</option>
                            <option value="0">Undefined</option>
                            <option value="1">Remote</option>
                            <option value="2">Local</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        <textarea class="form-control" rows="5" style="position:relative;z-index:100;" ng-model="x.configuration" placeholder="{{ '2378' | translate }}" title="{{ '2378' | translate }}"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input type="checkbox" ng-checked="toBoolean(x.startup_flag)" ng-model="x.startup_flag" />
                                    Auto Start
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input type="checkbox" ng-checked="toBoolean(x.auto_update_flag)" ng-model="x.auto_update_flag" />
                                    Auto Deploy / Update
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input type="checkbox" ng-checked="toBoolean(x.shutdown_flag)" ng-model="x.shutdown_flag" />
                                    Auto Stop
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input type="checkbox" ng-checked="toBoolean(x.required_flag)" ng-model="x.required_flag" />
                                    Required
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right" style="margin-top:15px;">
                        <button class="btn btn-default" ng-click="x.save();" ng-disabled="!ac_customzations_edit_form.$valid"><span class="glyphicon glyphicon-ok"></span> Save</button>
                        <button class="btn btn-default" ng-click="pageData.mode=''"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> -->
            </div>
        </div>
