<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">

    <div class="row">
        <div class="col-xs-4">
            <label class="control-label"><input type="checkbox" ng-checked="toBoolean(pData.transactions_deposits_min_customer_order_required.value)" ng-model="pData.transactions_deposits_min_customer_order_required.value">
                <span data-translate="2022">Minimum Customer Order Required</span></label>
        </div>
        <div class="col-xs-4">
            <label class="control-label" data-translate="2021">Minimum Customer Order Percentage</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <input type="text" numberonly="numberonly" class="form-control" ng-disabled="!toBoolean(pData.transactions_deposits_min_customer_order_required.value)" ng-model="pData.transactions_deposits_min_customer_order_perc.value">
        </div>
    </div>
</ng-form>