<div ng-controller="ac_edit_subsidiary_ctrl">
    <ng-form name="ac_edit" style="background-color:none;" id="ac_edit" novalidate="novalidate">
        <div class="modalouter">
            <div class="modal-header">
                <h3 data-translate="2463">Edit Subsidiary</h3>
            </div>
            <div class="modal-body form-group">
                <tabset>
                    <tab ng-click="activeTabButton.name='General'" heading="{{'685' | translate}}">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-translate="2464">
                                        Subsidiary Information
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="control-label" data-translate="1635">Number:</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <label class="control-label" data-translate="1636">Name:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <input class="form-control" numberonly="numberonly" maxlength="5" required="required" name="subsidiary_number" ng-model="activeSubsidiary.subsidiary_number" type="text">
                                            </div>
                                            <div class="col-xs-10">
                                                <input class="form-control" name="subsidiary_name" ng-model="activeSubsidiary.subsidiary_name" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-translate="1646">
                                        Override Global Settings
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label class="control-label" data-translate="1645">Price Level</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <select ng-model="activeSubsidiary.active_price_level_sid" ng-options="s.sid as s.pricelvlname for s in PriceLevels" class="form-control">
                                                    <option style="display:none" value="" data-translate="1766">Select a Price Level...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab ng-click="activeTabButton.name='Sequencing'" heading="{{'2465' | translate}}">
                        <div ng-include="'/views/ac-sequence-edit-partial.htm'"></div>
                    </tab>
                </tabset>
            </div>
            <div class="row">
                <div class="row-md-12"> </div>
            </div>
            <div class="modal-footer" ng-show="activeTabButton.name==='General'">
                <div class="row">
                    <div class="col-xs-8">
                         
                    </div>
                    <div class="col-xs-4" ng-show="activeTabButton.name==='General'">
                        <button type="button" class="btn btn-primary" ng-disabled="!ac_edit.$valid" ng-click="saveSubsidiary();$close();"><span data-translate="1514">Save &amp; Exit</span></button>
                        <button type="button" class="btn btn-primary" ng-click="clearSid();$close();"><span data-translate="0.1">Exit</span></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
</div>
