<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div ng-controller="ac_grid_formats_ctrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span data-translate="3642">Grid Formats</span>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-xs-2">
                        <label class="control-label" data-translate="3663">Data Grid</label>
                        <select nf-if="selectedView.length > 0 && gridSettings.length > 0" ng-options="grid as grid.name|translate for grid in getViews()" ng-change="
                        getViewMetaData();showResultsPerPage(true);" ng-model="selectedView"></select>
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label" ng-if="displayResultsPerPage" data-translate="2727">Results Per Page</label>
                        <select ng-options="r.value as r.name for r in resultsPerPage" ng-if="displayResultsPerPage" ng-model="selectedView.results_per_page"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label normal" ng-if="columnsLoaded && selectedView.value !== 4">{{'3330'|translate}}:</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-8">
                        <multi-select sortable="true" ng-if="columnsLoaded && selectedView.value !== 4" array="true" first-label="{{searchByLabel}}" in-obj="searchBy" second-label="{{selectedLabel}}" text-key="name" value-key="value" ng-model="selectedView.filters.value"></multi-select>
                    </div>
                    <div class="col-xs-4" ng-if="selectedView.value === 3">
                        <div class="multi-select">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <label ng-if="columnsLoaded" class="control-label" data-translate="3669">Default Lookup</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8 default-visible-wrapper" ng-if="columnsLoaded">
                                        <label ng-if="selectedView.filters.value.length > 0" ng-repeat="x in selectedView.filters.value track by $index">
                                            <input type="radio" ng-value="x.field" ng-model="selectedView.filters.default_filter"> {{x.name | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label normal" ng-if="columnsLoaded">{{'3668'|translate}}:</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-8">
                        <multi-select sortable="true" ng-if="columnsLoaded" data-position-class="avail-columns" array="true" first-label="{{availableColsLabel}}" second-label="{{selectedLabel}}" in-obj="workingColumns" text-key="name" value-key="value" ng-model="selectedView.columns.value"></multi-select>
                    </div>
                    <div class="col-xs-4">
                        <div class="multi-select">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <label ng-if="columnsLoaded" class="control-label" data-translate="3636">Default Visible</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8 default-visible-wrapper" ng-if="columnsLoaded">
                                        <label ng-if="selectedView.columns.value.length > 0" ng-repeat="x in selectedView.columns.value track by $index">
                                            <input type="checkbox" ng-model="x.visible"> {{x.name | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>