<div ng-controller="acAcess"></div>
<div class="panel panel-default" id="ac_nav_on" ng-if="contextState.active_sid!=''" ng-controller="acNavigationController">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <h4 data-translate="10">Options:</h4>
                </div>
                <div class="col-md-1 pull-right">
                    <div class="pull-right nav-toggle">
                        <span style="position:relative;top:2px;" class="icon-white icon-chevron-left"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="tree-menu">
                <li>
                    <a data-translate="6349">Node Preferences</a>
                    <ul>
                        <li ng-show="x.partial!='tbd'||x.sections.length>0" ng-repeat="x in contextState.sections">
                            <a ng-click="changeState('adminconsole.context',preferenceState([-1,$index]))"><span data-translate="{{x.name}}">{{x.name | translate}}</span></a>
                            <ul>
                                <li ng-show="y.partial!='tbd'||y.sections.length>0" ng-repeat="y in x.sections">
                                    <a ng-click="changeState('adminconsole.context',preferenceState([-1,$parent.$index,$index]))"><span data-translate="{{y.name | translate}}">{{y.name | translate}}</span></a>
                                    <ul>
                                        <li ng-show="z.partial!='tbd'||z.sections.length>0" ng-repeat="z in y.sections">
                                            <a ng-click="changeState('adminconsole.context',preferenceState([-1,$parent.$parent.$index,$parent.$index,$index]))"><span data-translate="{{z.name | translate}}">{{z.name | translate}}</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li ng-show="!isApple"><a href="#/adminconsole/printdesigner" data-translate="1555.1">Print Designer</a></li>
                <li><a href="#/adminconsole/customizations" data-translate="5218">Customizations</a></li>
                <li><a href="#/adminconsole/permissions" data-translate="2018">Permissions</a></li>
                <li><a data-translate="1001">Data Replication</a>
                    <ul>
                        <li><a ng-click="changeState('adminconsole.v9pub')" data-translate="1002">RIL Publisher</a></li>
                        <li><a ng-click="changeState('adminconsole.prismpub')" data-translate="1003">Prism Publisher</a></li>
                    </ul>
                </li>
                <!--<li><a href="javascript:void(0);" data-translate="2023">Employee Management</a></li>
                <li><a href="#/adminconsole/postouch" data-translate="2024">POS Touch</a></li>
                <li><a href="javascript:void(0);" data-translate="2025">Alerts</a></li>
                <li><a href="javascript:void(0);" data-translate="2026">Plugin Manager</a></li>-->
                <li><a href="#/landing" ng-click="clearCSS()" data-translate="0.1">Exit</a></li>
            </ul>
        </div>
    </div>

<!--<div class="panel panel-default min-menu" id="ac_nav_off">
    <div class="row div-header nav-toggle">
        <div class="col-md-12">
            <span class="div-header-text">
                <span style="position:relative;right:5px;" class="icon-white icon-chevron-right" />
            </span>
        </div>
    </div>
    <div class="vertical-text" data-translate="10">
        Options
    </div>
</div>-->
