<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span data-translate="3104">Customer Orders</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <label class="control-label">
                        <input type="checkbox" ng-checked="toBoolean(pData.transactions_orders_enable_customer_orders.value)" ng-model="pData.transactions_orders_enable_customer_orders.value">
                        <span data-translate="3105">Enable Customer Orders</span>
                    </label>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label" data-translate="3106">
                                Initial Initial Minimum Deposit %
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" numberonly="0.00" decimals="0" max="100" min="0" ng-disabled="!toBoolean(pData.transactions_orders_enable_customer_orders.value)" ng-model="pData.transactions_deposits_min_customer_order_perc.value">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="control-label">
                        <input type="checkbox" ng-disabled="!toBoolean(pData.transactions_orders_enable_customer_orders.value)" ng-checked="toBoolean(pData.transactions_deposits_min_customer_order_required.value)" ng-model="pData.transactions_deposits_min_customer_order_required.value">
                        <span data-translate="1128">Required</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span data-translate="3107">Layaway Orders</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <label class="control-label">
                        <input type="checkbox" ng-checked="toBoolean(pData.transactions_orders_enable_layaway_orders.value)" ng-model="pData.transactions_orders_enable_layaway_orders.value">
                        <span data-translate="3108">Enable Layaway Orders</span>
                    </label>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label" data-translate="3106">
                                Initial Initial Minimum Deposit %
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" numberonly="0.00" decimals="0" max="100" min="0" ng-disabled="!toBoolean(pData.transactions_orders_enable_layaway_orders.value)" ng-model="pData.transactions_deposits_min_layaway_order_perc.value">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="control-label">
                        <input type="checkbox" ng-disabled="!toBoolean(pData.transactions_orders_enable_layaway_orders.value)" ng-checked="toBoolean(pData.transactions_deposits_min_layaway_order_required.value)" ng-model="pData.transactions_deposits_min_layaway_order_required.value">
                        <span data-translate="1128">Required</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-form>