<div ng-controller="permissionsCtrl">
    <form class="panel" name="permissions_form">
        <div class="panel-heading">
            <h4><span class="div-header-text" data-translate="1863">Group Permissions:</span></h4>
        </div>
        <div class="panel-body">
            <div class="toppadding10px sidepadding10px">
                <div class="row" id="context_top">
                    <div class="rounded set-context col-xs-12 ac-context">
                        <div class="col-xs-12">
                            <div class="rounded-border ac-context span12">
                                <div class="row div-header">
                                    <div class="col-xs-12">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <select ng-change="setGroup();" ng-model="activeGroup" class="form-control" ng-options="x as x.user_group_name for x in usergroups">
                                            <option value="" data-translate="1864">Select a Group...</option>
                                        </select>
                                    </div>
                                </div>
                                <form name="permission">
                                    <div class="row" ng-show="activeGroup!==''">
                                        <div class="col-xs-12">
                                            <table class="table table-responsive table-striped">
                                                <tbody>
                                                <tr class="form-group">
                                                    <th class="text-left" data-translate="1866">Permission Name</th>
                                                    <th><button type="button" ng-click="selectAll('ALLOW');" class="btn btn-primary"><span data-translate="1867">Allow</span></button></th>
                                                    <th><button type="button" ng-click="selectAll('OVERRIDE');" class="btn btn-primary"><span data-translate="1868">Override</span></button></th>
                                                    <th><button type="button" ng-click="selectAll('DENY');" class="btn btn-primary"><span data-translate="1869">Deny</span></button></th>
                                                    <!-- Hidden by 11134
                                                    <th><button type="button" class="btn btn-primary" ng-disabled="true"><span data-translate="1870">Log Event</span></button></th>
                                                    -->
                                                </tr>
                                                </tbody>
                                                <tbody>
                                                    <tr ng-show="permission.name.toLowerCase()!=='accessadminconsole'&&permission.name.toLowerCase()!=='copypostransactionreceipts'" ng-repeat="permission in group.permissions">
                                                        <td class="text-left">{{permission.translationid | translate}}</td>
                                                        <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='ALLOW'" ng-model="permission.level" value="ALLOW" name="{{translationsIds[permission.name] | translate}}" type="radio"></td>
                                                        <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='OVERRIDE'" ng-model="permission.level" value="OVERRIDE" name="{{translationsIds[permission.name] | translate}}" type="radio"></td>
                                                        <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='DENY'" ng-model="permission.level" value="DENY" name="{{translationsIds[permission.name] | translate}}" type="radio"></td>
                                                        <!-- Hidden by 11134
                                                        <td class="text-center"><input ng-click="setDirty()" ng-checked="toBoolean(permission.log)" ng-model="permission.log" ng-disabled="true" type="checkbox"/></td>
                                                        -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-fixed-bottom navbar-default panel-footer text-right" ng-show="activeGroup!==''">
        <button type="button" ng-click="saveGroup()" ng-disabled="!permission.$dirty" class="btn btn-default" value="Save" ng-show="activeGroup!==''"><span data-translate="547">Save</span></button>
      </div>
    </form>
</div>
