<ng-form name="seqForm" ng-controller="ac_sequence_edit_ctrl">
    <div class="panel panel-default">
        <div class="panel-heading" data-translate="2465">
           Sequencing
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-xs-4">
                    <label class="control-label" data-translate="2466">
                        Next Sale #
                    </label>
                </div>
                <div class="col-xs-4">
                    <label class="control-label" data-translate="2467">
                        Next Return #
                    </label>
                </div>
                <div class="col-xs-4">
                    <label class="control-label" data-translate="2468">
                        Next Order #
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-4">
                    <input class="form-control" type="text" numberonly="" min="1" ng-model="seq0.previous_value">
                </div>
                <div class="col-xs-4">
                    <input class="form-control" type="text" numberonly="" min="1" ng-model="seq4.previous_value">
                </div>
                <div class="col-xs-4">
                    <input class="form-control" type="text" numberonly="" min="1" ng-model="seq5.previous_value">
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-primary" ng-disabled="!seqForm.$dirty" ng-click="saveSequences();$close()" type="button"><span data-translate="1514">Save &amp; Exit</span></button>
            <button class="btn btn-primary" ng-click="$close();" type="button"><span data-translate="0.1">Exit</span></button>
        </div>
    </div>
</ng-form>