<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div ng-controller="ac_sequencing_ctrl">
    <div class="row">
        <div class="col-xs-4">
            <label class="control-label">
              <span data-translate="4606">Sale Sequencing Level</span>
            </label>
        </div>
        <div class="col-xs-4">
            <label class="control-label">
              <span data-translate="4607">Return Sequencing Level</span>
            </label>
        </div>
        <div class="col-xs-4">
            <label class="control-label">
              <span data-translate="4608">Order Sequencing Level</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <select ng-model="pData.documents_general_seq_level_sale.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                <option value="2"><span data-translate="809">Workstation</span></option>
              <option value="1"><span data-translate="683">Store</span></option>
              <option value="0"><span data-translate="562">Subsidiary</span></option>
            </select>
        </div>
        <div class="col-xs-4">
            <select ng-model="pData.documents_general_seq_level_return.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                <option value="2"><span data-translate="809">Workstation</span></option>
              <option value="1"><span data-translate="683">Store</span></option>
              <option value="0"><span data-translate="562">Subsidiary</span></option>
            </select>
        </div>
        <div class="col-xs-4">
            <select ng-model="pData.documents_general_seq_level_order.value" ng-options="x.value as x.txt | translate for x in levels" class="form-control">
                <option value="2"><span data-translate="809">Workstation</span></option>
              <option value="1"><span data-translate="683">Store</span></option>
              <option value="0"><span data-translate="562">Subsidiary</span></option>
            </select>
        </div>
    </div>
    <br>
    <br>
    </div>
</ng-form>
