<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="padding20">

        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1891">
                        Open/Close Settings
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="checkbox_label">
                                <input type="checkbox" valid-levels="corporate,subsidiary,store" ng-model="pData.struct_zout_mode.value" ng-checked="toBoolean(pData.struct_zout_mode.value)">
                                <span data-translate="1892">Use structured Z-Outs</span>
                                </label>
                            </li>
                            <!--<li class="list-group-item">
                                <label valid-levels="businessunit" class="checkbox_label">

                                    <input valid-levels="businessunit" type="checkbox"
                                           ng-disabled="!toBoolean(pData.struct_zout_mode.value)"
                                           ng-checked="toBoolean(pData.struct_zout_auto_open.value)" ng-model="pData.struct_zout_auto_open.value" />
                                    Automatically create next open
                                </label>
                            </li>-->
                            <li class="list-group-item">
                                <label valid-levels="corporate,subsidiary,store" class="checkbox_label">
                                <input valid-levels="corporate,subsidiary,store" ng-model="pData.struct_zout_open_close_counts_required.value" ng-checked="toBoolean(pData.struct_zout_open_close_counts_required.value)" type="checkbox">
                                <span data-translate="1893">Require entry of open and close amounts</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="checkbox_label">
                                <input ng-disabled="(!(toBoolean(pData.struct_zout_mode.value)==true&&toBoolean(pData.struct_zout_open_close_counts_required.value)))" ng-model="pData.struct_zout_open_denomination_counts_required.value" ng-checked="toBoolean(pData.struct_zout_open_denomination_counts_required.value)" type="checkbox">
                                <span data-translate="2324">Count Denominations</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-6" ng-controller="selectMultipleCheckboxGrid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span data-translate="1897">Register Definitions</span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive" valid-levels="corporate,subsidiary,store">
                            <thead class="ac_table">
                            <tr>
                                <th class="col-xs-12" data-translate="1898">Definition</th>
                                <th class="col-xs-12" data-translate="1125">Select</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="grid_row{{$index%2}}" ng-repeat="item in registerDefinitions">
                                    <td class="col-xs-12" data-translate="{{item.txt}}">{{item.txt}}</td>
                                    <td class="col-xs-12 center">
                                        <input valid-levels="corporate,subsidiary,store" type="checkbox" ng-model="nothing" ng-disabled="!toBoolean(pData.struct_zout_mode.value)||!levelValid" ng-click="toggleSelectMultipleCheckbox($event,item.val,reg_defs, pData.struct_zout_register_definition)" ng-checked="isCheckBoxSelected(item.val,reg_defs)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-4">
                <div class="row">
                    <label class="col-xs-12 row-label" data-translate="needsID">Maximum Cash</label>
                    <input type="text" class="col-xs-12" />
                </div>
                <div class="row">
                    <label class="col-xs-12 row-label" data-translate="needsID">Minimum Cash</label>
                    <input type="text" class="col-xs-12" />
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1901">
                        Reconciliation Settings
                    </div>
                    <div class="panel-body">

                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="checkbox_label">
                                <input type="checkbox" valid-levels="corporate,subsidiary,store" title="{{levelValid}}" ng-disabled="!toBoolean(pData.struct_zout_mode.value)||!levelValid" ng-model="pData.struct_zout_blind_close.value" ng-checked="toBoolean(pData.struct_zout_blind_close.value)">
                                <span data-translate="1903">Require Blind Close</span>
                                </label>
                            </li>
                        </ul>
                        <label valid-levels="corporate,subsidiary,store" class="control-label" data-translate="2321">Allowable Reconcile Variance Amt</label>
                        <input type="text" numberonly="0.00" valid-levels="corporate,subsidiary,store" ng-disabled="!toBoolean(pData.struct_zout_blind_close.value||!levelValid)" ng-model="pData.struct_zout_blind_close_variance.value" class="form-control">

                        <label class="control-label wip" data-translate="1905">Allowable Number of Attempts</label>
                        <input type="text" ng-model="pData.struct_zout_blind_close_attempts.value" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-xs-4" ng-if="false">
                <div class="panel panel-default wip">
                    <div class="panel-heading" data-translate="1902">
                        Z-Out Sequencing
                    </div>
                    <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label class="checkbox_label">
                                        <input type="checkbox">
                                        <span data-translate="1907">Use Z-Out Sequencing</span>
                                    </label>
                                </li>
                            </ul>
                            <label class="control-label" data-translate="1908">Next Z-Out Sequence Order</label>
                            <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-xs-8" ng-controller="ACXZController">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1906">
                        Default Leave Amounts
                    </div>
                    <div class="panel-body" style="max-height:350px;overflow:auto;">
                        <table class="table table-bordered table-responsive table-striped" valid-levels="corporate,subsidiary,store">
                            <thead class="ac_table">
                            <tr>
                                <th class="col-xs-8" data-translate="961">Currency</th>
                                <th class="col-xs-4" data-translate="2251">Leave Amt</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="grid_row{{$index%2}}" ng-repeat="item in currencies">
                                <td class="col-xs-8">{{item.currency_name | translate}}</td>
                                <td class="col-xs-4 center">
                                    <input numberonly="0.00" valid-levels="corporate,subsidiary,store" ng-model="leaveAmounts[$index].leave_amount" class="form-control" ng-blur="resolveLeaveAmounts()" type="text">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
        <div ng-show="true" class="panel panel-default">
            <div class="panel-heading" data-translate="1909">
                Report Settings
            </div>
            <div class="panel-body">
                <div class="col-xs-4">
                    <label data-translate="2322">Sort Transactions By:</label>
                    <ul class="list-group">
                        <li class="list-group-item"><input ng-model="pData.struct_zout_default_sort_by.value" type="radio" value="date" name="sort_by"> <label class="checkbox_label" data-translate="836.1">Date/Time</label></li>
                        <li class="list-group-item"><input ng-model="pData.struct_zout_default_sort_by.value" type="radio" value="amount" name="sort_by"> <label class="checkbox_label" data-translate="982">Amount</label></li>
                        <li class="list-group-item"><input ng-model="pData.struct_zout_default_sort_by.value" type="radio" value="receipt_no" name="sort_by"> <label class="checkbox_label" data-translate="1921">Receipt Number</label></li>
                    </ul>
                </div>
                <div ng-show="false" class="col-xs-4">
                    <label data-translate="2323">VAT Options:</label>
                    <ul class="list-group">
                        <li class="list-group-item"><input type="checkbox" ng-checked="toBoolean(pData.struct_zout_combine_sales_tax_for_vat.value)" ng-model="pData.struct_zout_combine_sales_tax_for_vat.value"> <label class="checkbox_label" data-translate="1923">Combine sales &amp; tax for VAT</label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-form>