<div name="image_form">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="4327">Upload Image</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div>
                    <div>
                        <input type="file" class="form-control" ng-model="image.data" base-sixty-four-input="">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-info" ng-click="sendImage()" data-translate="4328" type="button">Upload</button>
            <button class="btn btn-info" ng-click="deleteImage()" ng-disabled="!imageDeleteAction" data-translate="4329" type="button">Delete Image</button>
            <button class="btn btn-info" ng-click="$close()" data-translate="1.2" type="button">Cancel</button>
        </div>
    </div>
</div>
