<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
<div id="centrals" class="padding20">
<div class="panel panel-default">
    <div class="panel-heading" data-translate="1020">
        Central Server Settings
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <label class="control-label col-xs-12"><span style="color:{{testColor}}" class="glyphicon glyphicon-{{serverStat}}-circle"></span> <span data-translate="1021">Server Address</span></label>
                <input ng-blur="pingCentralServer()" ng-required="toBoolean(pData.centrals_customer_enabled.value)||toBoolean(pData.centrals_returns_enabled.value)" ng-model="pData.centrals_server_address.value" type="text" class="form-control">
            </div>
            <div class="col-xs-2">
                <label class="control-label col-xs-12" data-translate="1022">Server Port</label>
                <input ng-blur="pingCentralServer()" ng-required="toBoolean(pData.centrals_customer_enabled.value)||toBoolean(pData.centrals_returns_enabled.value)" ng-model="pData.centrals_server_port.value" class="form-control numberonly" type="text">
            </div>
            <div class="col-xs-2">
                <label class="control-label col-xs-12" data-translate="1023">Timeout</label>
                <input ng-blur="pingCentralServer()" ng-required="toBoolean(pData.centrals_customer_enabled.value)||toBoolean(pData.centrals_returns_enabled.value)" ng-model="pData.centrals_server_timeout.value" class="form-control numberonly" type="text">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" data-translate="1024">
        Central Customers
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <label class="control-label">
                    <input ng-disabled="checkCentralServer();" ng-checked="toBoolean(pData.centrals_customer_enabled.value)" ng-model="pData.centrals_customer_enabled.value" type="checkbox">
                    <span data-translate="1.9">Enabled</span>
                </label>
            </div>
            <div class="col-xs-3">
                <label class="control-label" data-translate="1025">Max Results (1-500): </label>
                <input ng-disabled="!toBoolean(pData.centrals_customer_enabled.value)" ng-model="pData.centrals_customer_max_result_set.value" numberonly="numberonly" max="500" min="1" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" data-translate="1027">
        Central Return
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <label>
                    <input ng-disabled="checkCentralServer()" ng-checked="toBoolean(pData.centrals_returns_enabled.value)" ng-model="pData.centrals_returns_enabled.value" type="checkbox">
                    <span data-translate="1.9">Enabled</span>
                </label>
            </div>
            <div class="col-xs-3">
                <label class="control-label" data-translate="1025">Max Results (1-500): </label>
                <input class="form-control" numberonly="numberonly" max="500" min="1" ng-disabled="!toBoolean(pData.centrals_returns_enabled.value)" ng-model="pData.centrals_returns_max_result_set.value">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="true">
    <div class="panel-heading" data-translate="1028">
        Central Gift Card
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <label class="control-label">
                    <input ng-disabled="checkCentralServer()" ng-checked="toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_enabled.value" type="checkbox">
                    <span class="checkbox_label" data-translate="1.9">Enabled</span>
                </label>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-checked="toBoolean(pData.centrals_gift_cards_promt_for_cash.value)" ng-model="pData.centrals_gift_cards_promt_for_cash.value" type="checkbox">
                        <span data-translate="1029">Prompt for cash if balance is less than</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="1030">Total negative balance permitted</label>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)||!toBoolean(pData.centrals_gift_cards_promt_for_cash.value)" ng-model="pData.centrals_gift_cards_promt_for_cash_less_then.value" type="text" class="form-control numberonly">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_negative_bal_permitted.value" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <span data-translate="2999">When tendering by Central Gift Card restrict change from being</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <label class="control-label" data-translate="3000">
                    Offline Limit
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <select ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" class="form-control" ng-model="pData.centrals_gift_cards_restrict_change_to.value">
                        <option value="99" data-translate="3001">No Restriction</option>
                        <option value="0" data-translate="571">Cash</option>
                        <option value="5" data-translate="3002">Central / Store Credit</option>
                        <option value="10" data-translate="575">Gift Card</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-model="pData.centrals_gift_cards_offline_limit.value" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <label class="control-label">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-checked="toBoolean(pData.centrals_gift_card_mask_card_number.value)" ng-model="pData.centrals_gift_card_mask_card_number.value" type="checkbox">
                    <span data-translate="3003">Mask card number in dialogues</span>
                </label>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <label class="control-label">
                    <input ng-disabled="!toBoolean(pData.centrals_gift_cards_enabled.value)" ng-checked="toBoolean(pData.centrals_gift_cards_generate_central_id.value)" ng-model="pData.centrals_gift_cards_generate_central_id.value" type="checkbox">
                    <span data-translate="3004">Generate central ID</span>
                </label>
            </div>
            <div class="col-xs-5">

            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="true">
    <div class="panel-heading" data-translate="1039">
        Central Credit
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <label class="control-label">
                    <input ng-disabled="checkCentralServer()" ng-checked="toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_enabled.value" type="checkbox">
                    <span class="checkbox_label" data-translate="1.9">Enabled</span>
                </label>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <input ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-checked="toBoolean(pData.centrals_credit_promt_for_cash.value)" ng-model="pData.centrals_credit_promt_for_cash.value" type="checkbox">
                        <span data-translate="1029">Prompt for cash if balance is less than</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="1030">Total negative balance permitted</label>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)||!toBoolean(pData.centrals_credit_promt_for_cash.value)" ng-model="pData.centrals_credit_promt_for_cash_less_then.value" type="text" class="form-control numberonly">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_negative_bal_permitted.value" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <span data-translate="3005">When tendering by Central Credit restrict change from being</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="3000">
                        Offline Limit
                    </label>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <select ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_restrict_change_to.value" class="form-control">
                        <option value="99" data-translate="3001">No Restriction</option>
                        <option value="0" data-translate="571">Cash</option>
                        <option value="10" data-translate="575">Gift Card</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6">
                    <input ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-model="pData.centrals_credit_offline_limit.value" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <label class="control-label">
                        <input ng-disabled="!toBoolean(pData.centrals_credit_enabled.value)" ng-checked="toBoolean(pData.centrals_credit_suggest_as_tender.value)" ng-model="pData.centrals_credit_suggest_as_tender.value" type="checkbox">
                        <span data-translate="1040">Suggest Central Credit as a tender when available</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-5">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
            </div>
            <div class="col-xs-5">

            </div>
        </div>
    </div>
</div>
</div>
</ng-form>