<ng-form name="frm">
  <div class="container-fluid">
    <div class="modal-container height70">
      <nav class="navbar navbar-fixed-bottom">
          <div class="navbar-header navbar-portrait">
            <div ng-if="page==='login'" class="col-xs-12 btn-group btn-group-justified">
              <div class="btn-group" ng-if="isBio"><button type="button" class="btn btn-sm btn-default" event-name="biometricLogin" id="biometricLoginButton" name="biometricLoginButton" ng-click="processClockEvent(true)"><span data-translate="5937">Biometric Login</span></button></div>
              <div class="btn-group"><button type="submit" class="btn btn-sm btn-default" ng-disabled="!user.name || !user.password" ng-click="processClockEvent(false)"><span data-translate="800">Next</span></button></div>
              <div class="btn-group"><button type="button" class="btn btn-sm btn-default" ng-click="$close()"><span data-translate="1.2">Cancel</span></button></div>
            </div>
            <div ng-if="page==='timeclock'" class="col-xs-12 btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default" ng-disabled="!frm.$valid||disableCheckInOut" ng-click="clockIt()">
                  <span ng-if="mode==='in'" data-translate="511">Check In</span>
                  <span ng-if="mode==='out'" data-translate="512">Check Out</span>
                </button>
              </div>
              <div class="btn-group"><button type="button" class="btn btn-sm btn-default" ng-click="closeAndReset()"><span data-translate="1.2">Cancel</span></button></div>
            </div>
          </div>
      </nav>

      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="modal-title"><span data-translate="3213">Time Clock</span> - <span ng-if="mode==='in'" data-translate="511">Check In</span><span ng-if="mode==='out'" data-translate="512">Check Out</span></h4>
          </div>
          <div class="panel-body auto-height-panel height80" style="overflow: auto;">
            <div ng-if="page==='done'">
              <h1>
                {{timeclock.employee_full_name}}
                <br>
                <span ng-if="mode==='in'" data-translate="511">Check In</span>
                <span ng-if="mode==='out'" data-translate="512">Check Out</span>
                <br>
                {{clockTime | cleanDate}}
              </h1>
            </div>
            <div ng-show="page==='login'">
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label" data-translate="878">Employee</label>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-xs-12">
                  <input id="tcUserName" type="text" ng-model="user.name" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label" data-translate="1212">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input name="tcUserPassword" type="password" ng-model="user.password" class="form-control" maxlength="24">
                </div>
              </div>
              <div class="row top-margin" ng-show="form.bioLoginRunning">
                <div class="col-xs-12">
                  <div class="alert alert-info" role="alert"><span data-translate="5880">Please place your finger on the scanner.</span></div>
                </div>
              </div>
            </div>

            <div ng-if="page==='timeclock'">
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label">
                    <span data-translate="2899">{{modeTxt}}</span> <span data-translate="2900">For</span>
                  </label>
                </div>
              </div>
              <div class="row" ng-if="!noPerms">
                <div class="col-xs-9 form-group">
                  <select-associate class="form-control" ng-model="form.employee" ng-disabled="canChange" ng-required="true">
                    <option value="" style="display:none" data-translate="1358">Select...</option>
                  </select-associate>
                </div>
                <div class="col-xs-3 form-group">
                  <button permission="changecheckinoutemployee" ng-click="allowChangeEmployee()" permission-disabled="canChangeEmp" class="btn btn-primary btn-sm" type="button"><span data-translate="1485">Change</span></button>

                </div>
              </div>
              <div class="row" ng-if="noPerms">
                <div class="col-xs-12 form-group">
                  <select class="form-control" ng-model="form.employee" ng-disabled="isEdit" ng-required="true" ng-options="x.sid as x.fullname + ' : ' + x.username for x in employees">
                    <option value="" style="display:none" data-translate="1358">Select...</option>
                  </select>
                </div>
              </div>
              <div class="row form-group" ng-show="!customDate&&!noPerms">
                <div class="col-xs-12">
                  <button ng-show="!customDate" permission="changecheckinoutdatetime" permission-disabled="canChangeDate" ng-click="customDateToggle()" class="btn btn-primary btn-block" type="button"><span data-translate="2901">Edit Check</span> {{modeTxt}} <span data-translate="2902">Date / Time</span></button>
                </div>
              </div>
              <div ng-show="customDate&&!noPerms" class="row form-group">
                <div class="col-xs-11">
                  <p class="input-group" ng-click="openCalendar($event, 'checkInDate')">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      <input type="button" class="form-control" datetime-picker="medium" datepicker-options="checkInDate.datepickerOptions" ng-model="checkInDate.date" value="{{(checkInDate.date)?(checkInDate.date | date:'medium'):(checkInDate.placeholder)}}" is-open="checkInDate.open" enable-time="true" timepicker-options="checkInDate.timepickerOptions" when-closed="checkInDate.closed()" placeholder="{{checkInDate.placeholder}}">
                  </p>
                </div>
                <div class="col-xs-1">
                  <button ng-click="customDateToggle()" class="btn btn-primary btn-block" type="button">X</button>
                </div>
              </div>
              <div ng-if="noPerms" class="row form-group">
                <div class="col-xs-12">
                  <p class="input-group" ng-click="openCalendar($event, 'checkInDate')">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      <input type="button" class="form-control" datetime-picker="medium" ng-model="checkInDate.date" value="{{(checkInDate.date)?(checkInDate.date | date:'medium'):(checkInDate.placeholder)}}" is-open="checkInDate.open" enable-time="true" timepicker-options="checkInDate.timepickerOptions" when-closed="checkInDate.closed()" placeholder="{{checkInDate.placeholder}}">
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label"><span data-translate="884">Note</span></label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <textarea ng-model="form.notes" class="form-control" cols="55" rows="10"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
