<div ng-if="contextService.subsidiaries" class="prefs {{ menuState.stat }}" ng-controller="ACContext" ng-click="activeRow=undefined;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <h4 class="inline-block" data-translate="1045">
                        Current Context:
                    </h4>
                    <ul class="inline-block crumbs" ng-show="!searchOn" style="z-index:99999999">
                        <li ng-repeat="crumb in ContextCrumbs.trail" class="dropdown">
                            <button ng-disabled="contextState.level==='corporate'" class="btn btn-icon" id="crumb_down{{ $index }}" href="javascript:void(0);" ng-click="setLocation(crumb.crumbPointer);" data-translate="{{ crumb.crumbText }}" type="button">{{ crumb.crumbText }}</button>
                            <button class="dropdown-toggle btn btn-icon" ng-show="crumb.crumbList.length>0||!$first" ng-click="crumb.listStatus=!crumb.listStatus" type="button"> <span ng-show="!crumb.listStatus" class="glyphicon glyphicon-chevron-down"></span><span class="glyphicon glyphicon-chevron-up" ng-show="crumb.listStatus"></span> </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="item in crumb.crumbList"><a href="javascript:void(0);" ng-click="setLocation(item);">{{ item.name }}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div ng-show="searchOn" class="inline-block">
                        <input class="form-control" style="margin-left:5px;width:350px;" placeholder="{{ '1855' | translate }} " title="{{ '1990' | translate }} " ng-model="selected_context" uib-typeahead="s as s.name for s in resources | filter:$viewValue" type="text">
                    </div>
                    <button title="{{ '1999' | translate }} " ng-click="searchOn=!searchOn" class="btn btn-icon crumb-search{{firstCrumb}}" type="button">
                        <span class="glyphicon glyphicon-search" ng-show="!searchOn"></span>
                        <span class="glyphicon glyphicon glyphicon-remove" ng-show="searchOn"></span>
                    </button>
                </div>
                <div class="col-md-1">
                    <div togglesection="0" ng-click="stateTracker.stat=!stateTracker.stat" class="pull-right">
                        <button class="btn btn-icon" ng-show="stateTracker.stat==true" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                        <button class="btn btn-icon" ng-show="stateTracker.stat==false" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="stateTracker.stat">
            <div class="row">
                <table class="table-striped col-md-12 table-bordered table-responsive table-centered" ng-show="gridOptions.data.length!=0">
                    <thead>
                    <tr class="capitalize">
                        <th class="fixedwidth center">
                            <button class="btn btn-icon" ng-click="" align="right" rp-popover="views/ac-col-tpl.htm" title="{{ '2047' | translate }} " type="button"><span class="glyphicon glyphicon-list"></span></button>
                        </th>
                        <th data-translate="1049">Included</th>
                        <th ng-show="column.fieldname.toLowerCase()!='sid'&&column.fieldname.toLowerCase()!='endpoint'" ng-repeat="column in gridOptions.columnDefs" data-translate="{{getColumnTranslation(column.field)}}">{{column.fieldname}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="grid_row{{$index%2}} context-row{{(activeRow==item)}}" ng-click="setSelectButton(item);$event.stopPropagation()" ng-dblclick="setLocation(item)" ng-repeat="item in gridOptions.data">
                            <td><button ng-click="setActiveRecord(item);openModal();$event.stopPropagation();" title="{{ '2001' | translate }} " class="btn btn-icon" type="button"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            <td class="fixedwidth">
                                <button class="btn btn-icon" ng-show="!isExcluded(item)" ng-click="addExclusion(item);$event.stopPropagation()" title="{{ '1924' | translate }}" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-icon" ng-show="isExcluded(item)" ng-click="removeExclusion(item);$event.stopPropagation()" title="{{ '1925' | translate }} " type="button"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                            <td ng-show="column.fieldname.toLowerCase()!='sid'&&column.fieldname.toLowerCase()!='endpoint'" ng-repeat="column in gridOptions.columnDefs"><input type="checkbox" disabled="disabled" checked="checked" ng-if="column.field === 'active'" ng-checked="item[column.field] === 'true'"><span ng-if="column.field !== 'active'">{{item[column.field]}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer text-right" ng-show="stateTracker.stat">
            <div>
                <!--<button type="button" ng-show="contextState.level=='businessunit'"  partial="activePart" modalclass="admin-modal" parent="ac_modal" class="btn btn-large modalClick"><span data-translate="2031">New Store</span></button>-->
                <button type="button" ng-disabled="activeRow==undefined||activeRow==''" alt="{{ '1926' | translate }} " ng-click="selectButtonClick()" class="btn btn-primary"><span data-translate="1926">Set Context</span></button>
                <button type="button" ng-click="stateTracker.stat=!stateTracker.stat" togglesection="0" class="btn btn-primary" value="Minimize"><span data-translate="1927">Minimize</span></button>
            </div>
        </div>
    </div>
    <div class="preference-panel" ng-show="preferenceTemplate!=''">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span data-translate="6349">Node Preferences: </span> > <span>{{ prefTitle | translate}}</span></h4>
            </div>
            <div class="panel-body">
                <div id="pref_template" class="pref-template" ng-include="preferenceTemplate"></div>
            </div>
            <div ng-show="!dirty.hideSave" class="navbar navbar-fixed-bottom navbar-default panel-footer text-right">
                <button type="button" ng-click="getPrefs(preferenceTemplate,true)" class="btn btn-default"><span data-translate="614">Reset</span></button>
                <button type="button" ng-click="savePrefs()" ng-disabled="checkForm()" class="btn btn-default"><span data-translate="547">Save</span></button>
            </div>
        </div>
    </div>
</div>
