<form novalidate="" id="customerCreditProfileForm" name="customerCreditProfileForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="modal-title" data-translate="1096">User Defined Fields</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group">
                <label class="col-xs-4 control-label">{{customer.udfname1}}</label>
                <div class="col-xs-8">
                  <div class="input-group">
                    <input id="udffield_1_view" name="udffield_1_view" class="form-control" ng-model="customer.udffield01">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-translate="805">Select</span> <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="udf in udf1List"><a href="javascript: void(0)" ng-click="setUDF1(udf);$event.preventDefault()" id="{{udf.udf_sid}}">{{udf.udf_option}}</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </div><!-- /input-group -->
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">{{customer.udfname2}}</label>
                <div class="col-xs-8">
                  <div class="input-group">
                    <input id="udffield_2_view" name="udffield_2_view" class="form-control" ng-model="customer.udffield02">
                    <div class="input-group-btn">
                      <button event-name="customerDetailUdf2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-translate="805">Select</span> <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="udf in udf2List"><a href="javascript: void(0)" ng-click="setUDF2(udf);$event.preventDefault()" id="{{udf.udf_sid}}">{{udf.udf_option}}</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </div><!-- /input-group -->
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">{{customer.udfname3}}</label>
                <div class="col-xs-8">
                  <div class="input-group">
                    <input id="udffield_3_view" name="udffield_3_view" class="form-control" ng-model="customer.udffield03">
                    <div class="input-group-btn">
                      <button event-name="customerDetailUdf3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-translate="805">Select</span> <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="udf in udf3List"><a href="javascript: void(0)" ng-click="setUDF3(udf);$event.preventDefault()" id="{{udf.udf_sid}}">{{udf.udf_option}}</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </div><!-- /input-group -->
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">{{customer.udfname4}}</label>
                <div class="col-xs-8">
                  <div class="input-group">
                    <input id="udffield_4_view" name="udffield_4_view" class="form-control" ng-model="customer.udffield04">
                    <div class="input-group-btn">
                      <button event-name="customerDetailUdf4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-translate="805">Select</span> <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="udf in udf4List"><a href="javascript: void(0)" ng-click="setUDF4(udf);$event.preventDefault()" id="{{udf.udf_sid}}">{{udf.udf_option}}</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </div><!-- /input-group -->
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="submit" id="customerInfoMarkSaveButton" event-name="customerInfoMarkSave" name="customerInfoMarkSaveButton" class="btn btn-lg btn-default" ng-click="saveChanges()" data-translate="547">Save</button>
                        <button type="button" id="customerInfoMarkCancelButton" event-name="customerInfoMarkCancel" name="customerInfoMarkCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
