<form novalidate="" id="customerForm" name="customerForm" class="form-horizontal">
    <div class="container-fluid">
        <div id="customerHeader" class="well well-sm clearfix">
            <div class="col-xs-10" id="customerInfo1">
                <div class="row">
                    <div class="col-xs-12">(BLUE)
                        <h4>{{customer.first_name + ' ' + customer.last_name}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="row text-right">
                    <span class="btn btn-primary" ng-click="toggleCustomerActive()">
                        <img alt="" ng-src="/images/customer/{{activeStatusImage}}">
                        <span data-translate="586" ng-show="customer.customer_active">Active</span>
                        <span data-translate="2336" ng-show="!customer.customer_active">Not Active</span>
                    </span> 
                </div>
            </div>
        </div>
        <div class="h1">
            <div class="col-xs-12 help-block">
                <button type="button" class="btn btn-info" ng-disabled="tabs.contact" ng-click="changeTemplate('contact')"><span data-translate="4598">Contact Information</span></button>
                <button type="button" class="btn btn-info" ng-disabled="tabs.profile" ng-click="changeTemplate('profile')"><span data-translate="593">Customer Profile</span></button>
                <button type="button" class="btn btn-info" ng-disabled="tabs.history" ng-click="changeTemplate('history')"><span data-translate="1081">Customer History</span></button>
                <button type="button" class="btn btn-info" ng-disabled="tabs.credit" ng-click="changeTemplate('credit')"><span data-translate="4600">Credit Details</span></button>
                <button type="button" class="btn btn-info" ng-disabled="tabs.loyalty" ng-click="changeTemplate('loyalty')"><span data-translate="1082">Customer Loyalty</span></button>
                <button type="button" class="btn btn-info" ng-disabled="tabs.misc" ng-click="changeTemplate('misc')"><span data-translate="1928">Miscellaneous</span></button>
            </div>
        </div>
        <div ng-show="tabs.contact">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="585">Customer Information:</span>
                        </div>
                        <div class="panel-body height20">
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="750">Customer ID:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.customer_id}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="588">Title:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.title}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="637">First Name:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.first_name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="636">Last Name:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.last_name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="2457">Primary Associate:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.primary_clerk_first_name}} {{customer.primary_clerk_last_name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="533">Created Date:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.created_datetime | cleanDate:locale}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="534">Last Edit Date:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.modified_datetime | cleanDate:locale}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="editCustomerInfoDisabled" ng-click="editCustomerInfo()"><span>Edit Customer Information</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1069">Phone List:</span>
                        </div>
                        <div id="customerInformationPhones" class="panel-body height20 autoOverflow">
                            <div class="list-group">
                                <a name="phonelink{{$index}}" id="searchPhoneResult{{$index}}" class="list-group-item" tabindex="12{{$index}}" index="{{$index}}" data-item-group="" ng-repeat="thisPhone in customer.phones" ng-click="selectPhone($index)">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong data-translate="1070">Phone No</strong> {{ thisPhone.phone_no }}
                                            <input type="hidden" name="phoneSid" maxlength="30" id="searchPhoneResultSid{{$index}}" value="{{thisPhone.sid}}">
                                        </div>
                                        <div class="col-xs-6">
                                          <span ng-show="thisPhone.extension">
                                              <strong data-translate="1130">Extension</strong> {{thisPhone.extension}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <strong data-translate="542">Type:</strong> {{ thisPhone.phone_type }}
                                        </div>
                                        <div class="col-xs-4">
                                            <input disabled="disabled" type="checkbox" ng-model="thisPhone.primary_flag">
                                            <strong data-translate="537">Primary</strong>
                                        </div>
                                        <div class="col-xs-4">
                                            <input disabled="disabled" type="checkbox" maxlength="20" ng-model="thisPhone.phone_allow_contact">
                                            <strong data-translate="539">Contact</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="addPhoneDisabled" ng-click="phoneAction('New')"><span data-translate="1071">Add Phone</span></button>
                                    <button type="button" class="btn btn-info" ng-disabled="editPhoneDisabled" ng-click="phoneAction('Edit')"><span data-translate="1072">Edit Phone</span></button>
                                    <button type="button" class="btn btn-info" ng-disabled="deletePhoneDisabled" ng-click="phoneAction('Delete')"><span data-translate="1073">Delete Phone</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1065">Address List:</span>
                        </div>
                        <div id="customerInformationAddresses" class="panel-body height20 autoOverflow">
                            <div class="list-group">
                                <a name="addresslink{{$index}}" id="searchAddressResult{{$index}}" class="list-group-item" tabindex="11{{$index}}" index="{{$index}}" data-item-group="" ng-repeat="thisAddress in customer.addresses" ng-click="selectAddress($index)">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong data-translate="536">Address 1:</strong> {{thisAddress.address_line_1}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong data-translate="538">Address 2:</strong> {{thisAddress.address_line_2}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong data-translate="540">Address 3:</strong> {{thisAddress.address_line_3}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong data-translate="541">Postal Code:</strong> {{thisAddress.postal_code}}
                                        </div>
                                        <div class="col-xs-6">
                                            <strong data-translate="542">Type:</strong> {{thisAddress.type_name}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input disabled="disabled" type="checkbox" ng-model="thisAddress.primary_flag">
                                            <strong class="checkbox_label" data-translate="537">Primary</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            <input disabled="disabled" type="checkbox" ng-model="thisAddress.address_allow_contact">
                                            <strong class="checkbox_label" data-translate="539">Contact</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="addAddressDisabled" ng-click="addressAction('New')"><span data-translate="1066">Add Address</span></button>
                                    <button type="button" class="btn btn-info" ng-disabled="editAddressDisabled" ng-click="addressAction('Edit')"><span data-translate="1067">Edit Address</span></button>
                                    <button type="button" class="btn btn-info" ng-disabled="deleteAddressDisabled" ng-click="addressAction('Delete')"><span data-translate="1068">Delete Address</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1074">Email List:</span>
                        </div>
                        <div id="customerInformationEmail" class="panel-body height20 autoOverflow">
                            <div class="list-group">
                                <a name="emaillink{{$index}}" id="searchEmailResult{{$index}}" class="list-group-item" tabindex="13{{$index}}" index="{{$index}}" data-item-group="" ng-repeat="thisEmail in customer.emails" ng-click="selectEmail($index)">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong data-translate="546">Email:</strong> {{ thisEmail.email_address }}
                                            <input type="hidden" name="emailSid" id="searchEmailResultSid{{$index}}" value="{{thisEmail.sid}}">
                                        </div>
                                        <div class="col-xs-6">
                                            <input disabled="disabled" type="checkbox" ng-model="thisEmail.primary_flag">
                                            <strong data-translate="537">Primary</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong data-translate="542">Type:</strong> {{ thisEmail.email_type }}
                                        </div>
                                        <div class="col-xs-6">
                                            <input disabled="disabled" type="checkbox" ng-model="thisEmail.email_allow_contact">
                                            <strong data-translate="539">Contact</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="addEmailDisabled" ng-click="emailAction('New')"><span data-translate="1075">Add Email</span></button>
                                    <button type="button" class="btn btn-info" ng-disabled="editEmailDisabled" ng-click="emailAction('Edit')"><span data-translate="1076">Edit Email</span></button>
                                    <button type="button" class="btn btn-info" ng-disabled="deleteEmailDisabled" ng-click="emailAction('Delete')"><span data-translate="1077">Delete Email</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="tabs.profile">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="593">Customer Profile</span>
                        </div>
                        <div class="panel-body height20 autoOverflow">
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="2458">Created By</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.createdby}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="2460">Created Date</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.createddatetime|cleanDate:'locale':true}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="2461">Last Edit By</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.createdby}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="2462">Last Edit Date</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.modifieddatetime|cleanDate:'locale':true}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="596">First Sale Date:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.firstsaledate|cleanDate:'locale':true}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="597">Last Sale Date:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.lastsaledate|cleanDate:'locale':true}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="598">Last Return Date:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.lastreturndate|cleanDate:'locale':true}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="599">Last Order Date:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.lastorderdate|cleanDate:'locale':true}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="600">Avg Disc. Amount:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.suggesteddiscperc|formatNumber:2:false}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="601">Total Disc. Amount:</strong>
                                </div>
                                <div class="col-xs-8">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="615">Sold Item Qty:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.saleitemcount}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="616">Return Item Qty:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.returnitemcount}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="618">MTD Sales Amnt:</strong>
                                </div>
                                <div class="col-xs-8">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="602">YTD Sales Amnt:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.ytdsale|currency}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="617">Total Transactions:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.total_transactions}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right height05">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1095">Customer Image</span>
                        </div>
                        <div class="panel-body height20 autoOverflow">

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right height05">
                                    <button type="button" class="btn btn-info" ng-disabled="editCustomerImageDisabled" ng-click="cInfoAction('Edit')"><span data-translate="7066">Edit Customer Image</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-show="tabs.history">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="608">Transaction Filter</span>
                        </div>
                        <div class="panel-body height55">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" data-translate="1078">From Date:</label>
                                <div class="col-xs-9">
                                    <dateinput is-time="true" id="fromDateField" ng-model="before" name="fromDateField">
                                    </dateinput></div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" data-translate="1079">To Date:</label>
                                <div class="col-xs-9">
                                    <dateinput is-time="true" id="toDateField" ng-model="today" name="toDateField">
                                    </dateinput></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <button id="itemTypeButton" name="itemTypeButton" type="button" tabindex="3" disabled="disabled" class="btn btn-info form-control"><span data-translate="768">Item Type</span></button>
                                </div>
                                <div class="col-xs-9">
                                    <input id="itemTypeField" name="itemTypeField" type="text" tabindex="4" disabled="disabled" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <button id="lookupByButton" name="lookupByButton" type="button" tabindex="5" disabled="disabled" class="btn btn-info form-control"><span data-translate="609">Lookup By</span></button>
                                </div>
                                <div class="col-xs-9">
                                    <input id="lookupByField" name="lookupByField" type="text" tabindex="6" disabled="disabled" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button id="findTransactionsButton" name="findTransactionsButton" tabindex="7" type="button" class="btn btn-info" ng-click="searchTransactions()"><span data-translate="613">Find</span></button>
                                    <button id="resetTransactionSearchButton" name="resetTransactionSearchButton" tabindex="8" type="button" class="btn btn-info" ng-click="resetTransactionDateFilter()"><span data-translate="614">Reset</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1081">Customer History</span>
                        </div>
                        <div id="customerTransactionList" class="panel-body height55 autoOverflow">
                            <div class="list-group">
                                <a id="searchTransactionsResult{{$index}}" class="list-group-item" tabindex="10{{$index}}" index="{{$index}}" data-item-group="" ng-repeat="thisTransaction in masterTransactionList" ng-click="selectTransaction($index)">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <strong data-translate="619">Transaction No:</strong> {{ thisTransaction.document_number }}
                                        </div>
                                        <div class="col-xs-9">
                                            <strong data-translate="533">Created Date:</strong> {{ thisTransaction.created_datetime|cleanDate:'locale' }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <strong data-translate="622">Cashier:</strong> {{ thisTransaction.cashier_login_name }}
                                        </div>
                                        <div class="col-xs-3">
                                            <strong data-translate="623">Sold Qty:</strong> {{ thisTransaction.sold_qty|formatNumber:0:false }}
                                        </div>
                                        <div class="col-xs-3">
                                            <strong data-translate="625">Return Qty:</strong> {{ thisTransaction.return_qty|formatNumber:0:false }}
                                        </div>
                                        <div class="col-xs-3">
                                            <strong data-translate="624">Order Qty:</strong> {{ thisTransaction.order_qty|formatNumber:0:false }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <strong data-translate="626">Total:</strong> {{ thisTransaction.transaction_total_amt|currency }}
                                        </div>
                                        <div class="col-xs-4">
                                            <strong data-translate="627">Tender Type:</strong> {{ thisTransaction.tender_name }}
                                        </div>
                                        <div class="col-xs-4">
                                            <strong data-translate="621">Store No:</strong> {{ thisTransaction.store_number }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="transactionLinkDisabled" ng-click="goToTransaction()"><span data-translate="606">Go To Transaction</span></button>
                                    <button type="button" class="btn btn-info" data-permission="posprintupdated" data-permission-disabled="true"><span data-translate="607">Print Transaction</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="tabs.credit">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="549">Customer Credit Profile</span>
                        </div>
                        <div class="panel-body height20">
                            <div class="row">
                                <label class="col-xs-4 text-right">
                                    <strong data-translate="550">Avail Store Credit:</strong>
                                </label>
                                <div class="col-xs-4">
                                    {{customer.storecredit|currency}}
                                </div>
                                <div class="col-xs-4">
                                    <button id="purchaseStoreCreditButton" name="purchaseStoreCreditButton" type="button" class="btn btn-info form-control" ng-disabled="creditForm.$dirty" ng-click="purchaseStoreCredit()"><span data-translate="548">Purchase Store Credit</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xs-4 text-right">
                                    <strong data-translate="551">Cust Discount %:</strong>
                                </label>
                                <div class="col-xs-4">
                                    {{customer.suggesteddiscperc|number}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xs-4 text-right">
                                    <strong data-translate="553">Price Level:</strong>
                                </label>
                                <div class="col-xs-4">
                                    {{customer.pricelvlname}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="554">Tax Area 1</strong>
                                </div>
                                <div class="col-xs-4">
                                    {{customer.taxarea}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="editCreditProfileDisabled" ng-click="editCreditProfile()"><span data-translate="4771">Edit Credit Profile</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="561">Store Information</span>
                        </div>
                        <div class="panel-body height20">
                            <div class="row">
                                <label class="col-xs-4 text-right">
                                    <strong data-translate="562">Subsidiary:</strong>
                                </label>
                                <div class="col-xs-8">
                                    {{customer.sbsname}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xs-4 text-right">
                                    <strong data-translate="683">Store:</strong>
                                </label>
                                <div class="col-xs-8">
                                    {{customer.storename}} - {{customer.storecode}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xs-4 text-right">
                                    <strong data-translate="565">Region:</strong>
                                </label>
                                <div class="col-xs-8">
                                    {{customer.region}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="566">Share Type:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.sharetype}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="editStoreInfoDisabled" ng-click="editStoreInfo()"><span data-translate="4772">Edit Store Information</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="570">Allowed Tenders</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="cash_tender" name="cash_tender" ng-disabled="!editMode" ng-model="allowedTenders.cash" ng-false-value="'T'">
                                        <span data-translate="571">Cash</span>
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="check_tender" name="check_tender" ng-disabled="!editMode" ng-model="allowedTenders.check" ng-false-value="'T'">
                                        <span data-translate="572">Check</span>
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="creditcard_tender" name="creditcard_tender" ng-disabled="!editMode" ng-model="allowedTenders.creditcard" ng-false-value="'T'">
                                        <span data-translate="1088">Credit Card</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="charge_tender" name="charge_tender" ng-disabled="!editMode" ng-model="allowedTenders.charge" ng-false-value="'T'">
                                        <span data-translate="1089">Charge</span>
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="storecredit_tender" name="storecredit_tender" ng-disabled="!editMode" ng-model="allowedTenders.storecredit" ng-false-value="'T'">
                                        <span data-translate="577">Store Credit</span>
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="payments_tender" name="payments_tender" ng-disabled="!editMode" ng-model="allowedTenders.payments" ng-false-value="'T'">
                                        <span data-translate="1090">Payments</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="giftcertificate_tender" name="giftcertificate_tender" ng-disabled="!editMode" ng-model="allowedTenders.giftcertificate" ng-false-value="'T'">
                                        <span data-translate="576">Gift Certificate</span>
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="giftcard_tender" name="giftcard_tender" ng-disabled="!editMode" ng-model="allowedTenders.giftcard" ng-false-value="'T'">
                                        <span data-translate="575">Gift Card</span>
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="debitcard_tender" name="debitcard_tender" ng-disabled="!editMode" ng-model="allowedTenders.debitcard" ng-false-value="'T'">
                                        <span data-translate="1091">Debit Card</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="foreigncurrency_tender" name="foreigncurrency_tender" ng-disabled="!editMode" ng-model="allowedTenders.foreigncurrency" ng-false-value="'T'">
                                        <span data-translate="579">Foreign Currency</span>
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="btn btn-info btn-block" ng-disabled="!editMode">
                                        <input type="checkbox" id="travelerscheck_tender" name="travelerscheck_tender" ng-disabled="!editMode" ng-model="allowedTenders.travelerscheck" ng-false-value="'T'">
                                        <span data-translate="1092">Travelers Check</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="tabs.loyalty">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1082">Customer Loyalty</span>
                        </div>
                        <div class="panel-body height20">
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1083">Enroll Date:</strong>
                                </div>
                                <div class="col-xs-8">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="556">Avail Loyalty Pts:</strong>
                                </div>
                                <div class="col-xs-8">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1084">Loyalty Level</strong>
                                </div>
                                <div class="col-xs-8">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1085">Loyalty Opt</strong>
                                </div>
                                <div class="col-xs-8">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1086">Lock Status</strong>
                                </div>
                                <div class="col-xs-8">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1087">Manual Opt</strong>
                                </div>
                                <div class="col-xs-8">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="editCustomerLoyaltyDisabled" ng-click="editCustomerLoyalty()"><span data-translate="4601">Edit Customer Loyalty</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                </div>
            </div>
        </div>
        <div ng-show="tabs.misc">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1093">Info and Mark Fields</span>
                        </div>
                        <div class="panel-body height20">
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="530">Info 1</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.info1}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="531">Info 2</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{form.customer.info2}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="532">Mark 1</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{form.customer.mark1}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1094">Mark 2</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{form.customer.mark2}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="editInfoMarkDisabled" ng-click="editInfoMark()"><span data-translate="4773">Edit Info and Mark Fields</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="659">Notes:</span>
                        </div>
                        <div class="panel-body height20">
                            <textarea class="form-control" cols="50" rows="6" ng-disabled="editNotesLocked" ng-model="customer.notes" id="notes" name="notes"></textarea>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="editNotesDisabled" ng-click="editNotes()"><span data-translate="4774">Edit Notes</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span data-translate="1096">User Defined Fields</span>
                        </div>
                        <div class="panel-body height20">
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="567">UDF 1</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.udffield01}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="568">UDF 2</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.udffield02}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="569">UDF 3</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.udffield03}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <strong data-translate="1097">UDF 4</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{customer.udffield04}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-info" ng-disabled="editUDFDisabled" ng-click="editUDF()"><span data-translate="6908">Edit User Defined Fields</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <button-bar button-view="nav-customer-informationbuttons-partial.htm"></button-bar>
    </div>
</form>
