<form novalidate="" id="customerPhoneForm" name="customerPhoneForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="modal-title">{{form.phoneAction}} <span data-translate="545">Phone</span></h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="1070">Phone Number:</label>
                    <div class="col-xs-8">
                        <input maxlength="30" id="phone_no" name="phone_no" class="form-control" type="tel" phone-number required ng-readonly="form.deleteMode" ng-model="phone.phone_no">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="1130">Extension:</label>
                    <div class="col-xs-8">
                        <input maxlength="10" id="extension" name="extension" class="form-control" type="text" ng-readonly="form.deleteMode" ng-model="phone.extension">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="589">Phone Type:</label>
                    <div class="col-xs-8">
                        <select id="phone_type_sid" name="phone_type_sid" title="{{ '589' | translate }} " class="form-control" ng-readonly="phone.deleteMode" ng-model="phone.phone_type_sid" ng-options="thisPhoneType.sid as thisPhoneType.phone_type for thisPhoneType in phoneTypesList">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-8 col-xs-offset-4">
                        <input type="checkbox" id="primary_flag" name="primary_flag" ng-disabled="form.deleteMode" ng-model="phone.primary_flag">
                        <span data-translate="537">Primary</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-xs-8 col-xs-offset-4">
                        <input type="checkbox" id="phone_allow_contact" name="phone_allow_contact" ng-disabled="form.deleteMode" ng-model="phone.phone_allow_contact">
                        <span data-translate="1055"> Allow Contact</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" event-name="customerEditPhoneSave" id="customerPhoneSaveButton" name="customerPhoneSaveButton" class="btn btn-lg btn-default" ng-show="!form.deleteMode" ng-disabled="customerPhoneForm.$pristine || customerPhoneForm.$invalid" ng-click="saveChanges()" data-translate="547">Save</button>
                        <button type="button" event-name="customerEditPhoneDelete" id="customerPhoneDeleteButton" name="customerPhoneDeleteButton" class="btn btn-lg btn-danger" ng-show="form.deleteMode" ng-click="saveChanges()" data-translate="544">Delete</button>
                        <button type="button" event-name="customerEditPhoneCancel" id="contactPhoneCancelButton" name="contactPhoneCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
