<form novalidate="" name="form.customerStoreInformationForm" id="customerStoreInformationForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 data-translate="561" class="ng-scope">Store Information</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                        <strong data-translate="562" class="ng-scope">Subsidiary</strong>
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control ng-pristine ng-valid" ng-model="form.customer.subsidiary_name" ng-readonly="true" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                        <strong data-translate="683" class="ng-scope">Store</strong>
                    </label>
                    <div class="col-xs-8">
                        <select id="store_sid" name="store_sid" class="form-control ng-pristine ng-valid" ng-model="form.customer.store_sid" ng-options="thisStore.sid as thisStore.store_code for thisStore in storesList"><option value="?" selected="selected"></option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                        <strong data-translate="564" class="ng-scope">District</strong>
                    </label>
                    <div class="col-xs-8">
                        <select id="district_sid" name="district_sid" class="form-control ng-pristine ng-valid" ng-model="form.customer.district_sid" ng-options="thisDistrict.sid as thisDistrict.district_name for thisDistrict in districtList" disabled="disabled">
                          <option value="" selected="selected">&nbsp;</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                        <strong data-translate="565" class="ng-scope">Region</strong>
                    </label>
                    <div class="col-xs-8">
                        <select id="region_sid" class="form-control ng-pristine ng-valid" name="region_sid" ng-model="form.customer.region_sid" ng-options="thisRegion.sid  as thisRegion.region_name for thisRegion in regionList">
                          <option value="" selected="selected">&nbsp;</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <p class="form-control-static">
                            <strong data-translate="566" class="ng-scope">Share Type</strong>
                        </p>
                    </div>
                    <div class="col-xs-8">
                        <select id="share_type" name="share_type" class="form-control ng-pristine ng-valid ng-valid-required" required="" ng-model="form.customer.share_type" ng-options="shareType.sid as shareType.name for shareType in shareTypesList" ng-change=""><option value="" class="">Select</option><option value="0" selected="selected">Local</option><option value="1">Global</option><option value="2">Non-shared</option></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button type="submit" id="customerStoreInformationSaveButton" event-name="customerEditStoreInformationSave" name="customerStoreInformationSaveButton" class="btn btn-lg btn-default" ng-show="!form.deleteMode" ng-disabled="customerStoreInformationForm.$pristine || customerStoreInformationForm.$invalid" ng-click="saveChanges()" data-translate="547">Save</button>
                    <button type="button" id="customerStoreInformationDeleteButton" event-name="customerEditStoreInformationDelete" name="customerStoreInformationDeleteButton" class="btn btn-lg btn-danger" ng-show="form.deleteMode" ng-click="saveChanges()" data-translate="544">Delete</button>
                    <button type="button" id="customerStoreInformationCancelButton" event-name="customerEditStoreInformationCancel" name="customerStoreInformationCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>

                </div>
            </div>
        </div>
    </div>
</form>
