<form novalidate="" name="customerLoyaltyForm" id="customerLoyaltyForm" class="form-horizontal">
<!--form novalidate="" name="customerStoreInformationForm" id="customerStoreInformationForm" class="form-horizontal"-->
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 data-translate="1082" class="ng-scope">Customer Loyalty</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                        <strong data-translate="1083" class="ng-scope">Enroll Date</strong>
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                        <strong data-translate="556" class="ng-scope">Avail Loyalty Pts</strong>
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                        <button type="button" class="btn btn-info form-control" id="loyalty_level_button" name="loyalty_level_button" ng-disabled="true" disabled="disabled"><span data-translate="1084" class="ng-scope">Loyalty Level</span></button>
                    </label>
                    <div class="col-xs-8">
                        <input id="loyalty_level_field" name="loyalty_level_field" type="text" class="form-control" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">
                        <button type="button" class="btn btn-info form-control" id="loyalty_opt_button" name="loyalty_opt_button" onclick="togglePopover(this)" ng-disabled="true" disabled="disabled"><span data-translate="1085" class="ng-scope">Loyalty Opt</span></button>
                    </label>
                    <div class="col-xs-8">
                        <input id="loyalty_opt_field" name="loyalty_opt_field" type="text" class="form-control" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 text-right">
                        <button type="button" class="btn btn-info form-control" id="lock_status_button" name="lock_status_button" onclick="togglePopover(this)" ng-disabled="true" disabled="disabled"><span data-translate="1086" class="ng-scope">Lock Status</span></button>
                    </div>
                    <div class="col-xs-8">
                        <input id="loyalty_lock_status_field" name="loyalty_lock_status_field" type="text" class="form-control" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 text-right">
                        <button type="button" class="btn btn-info form-control" id="manual_opt_button" name="manual_opt_button" onclick="togglePopover(this)" ng-disabled="true" disabled="disabled"><span data-translate="1087" class="ng-scope">Manual Opt</span></button>
                    </div>
                    <div class="col-xs-8">
                        <input id="manual_opt_field" name="manual_opt_field" type="text" class="form-control" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button type="submit" id="customerLoyaltySaveButton" event-name="customerLoyaltySave" name="customerLoyaltySaveButton" class="btn btn-lg btn-default" ng-click="saveChanges()" data-translate="547">Save</button>
                    <button type="button" id="customerStoreInformationCancelButton" event-name="customerEditStoreInformationCancel" name="customerStoreInformationCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>

                </div>
            </div>
        </div>
    </div>
</form>
