<ng-form name="avl_form" ng-controller="pos_advanced_item_lookup_ctrl">
    <div ng-controller="customer_history_ctrl">
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="608">Transaction Filter</span>
                    </div>
                    <div class="panel-body height45 autoOverflow">
                        <div class="container-fluid">
                          <div class="alert alert-danger" role="alert" ng-if="before>today">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            <span data-translate="5088">The From date cannot be greater than the To date.</span>
                          </div>
                            <div class="row form-group">
                                <label data-translate="1451">From Date:</label>
                                <dateinput name="transactionSearchStartDate" ng-model="before"></dateinput>
                            </div>
                            <div class="row form-group">
                                <label data-translate="1452">To Date:</label>
                                <dateinput id="transactionSearchEndDate" name="transactionSearchEndDate" ng-model="today"></dateinput>
                            </div>

                            <div class="row form-group">
                                <div class="col-xs-6">
                                    <label class="control-label" data-translate="2726">Search By:</label>
                                    <select class="form-control" ng-model="selected.activeField" ng-change="addSearchField(s)" ng-options="s as s.name | translate for s in searchColumns">
                                        <option value="" style="display:none" data-translate="1358">Select...</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <label class="control-label" data-translate="610">Transaction Type:</label>
                                    <select id="itemType" tabindex="3" class="form-control" ng-model="fields.transaction_type">
                                        <option value="all" data-translate="1143">All</option>
                                        <option value="1" data-translate="974">Sales</option>
                                        <option value="3" data-translate="2998">Orders</option>
                                        <option value="2" data-translate="1713">Returns</option>
                                    </select>
                                </div>
                            </div>
                            <div class="autoOverflow height20">
                                <div class="row form-group" ng-repeat="field in searchFields track by $index">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button class="btn btn-default" ng-click="addSearchField(field)" type="button"><span class="glyphicon glyphicon-plus"></span></button> <label class="control-label">{{field.name | translate}}</label>
                                            </div>
                                        </div>
                                        <div class="row" ng-repeat="sValue in field.searchValues track by $index">
                                            <div class="col-xs-10">
                                                <input class="form-control" ng-blur="checkIt(field)" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" ng-keypress="submitEnter($event,field,$index)" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">
                                            </div>
                                            <div class="col-xs-2 text-right">
                                                <button class="btn btn-default" ng-click="removeSearchField(field,$index,$parent.$index)" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-info" ng-click="clearCH();" data-translate="1335" type="button">Clear</button>
                        <button class="btn btn-info" ng-disabled="before>today" ng-click="historySearch()" data-translate="630" type="button">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1081">
                        Customer History
                    </div>
                    <div class="panel-body height45">
                        <div class="row" ui-i18n="{{lang}}">
                            <div id="grid1" ui-grid-resize-columns="" ui-grid-selection="" ng-if="itemGridOptions.data&&gridMode.status==='items'" ui-grid="itemGridOptions" class="ch-grid"></div>
                            <div id="grid2" ui-grid-resize-columns="" ui-grid-selection="" ng-if="documentGridOptions.data&&gridMode.status==='docs'" ui-grid="documentGridOptions" class="ch-grid"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-2">
                                <button class="btn btn-info" ng-click="toggleGridMode()" ng-if="gridMode.status==='items'" data-translate="3091" type="button">Transaction View</button>
                                <button class="btn btn-info" ng-click="toggleGridMode()" ng-if="gridMode.status==='docs'" data-translate="3092" type="button">Item View</button>
                            </div>
                            <div class="col-xs-6 text-center">
                                <paging-control ng-if="itemGridOptions.data.length>0&&gridMode.status==='items'&&totalItemRecords" total-records="totalItemRecords" results-per-page="pageSize" call-back="getData"></paging-control>
                                <paging-control ng-if="documentGridOptions.data.length>0&&gridMode.status==='docs'&&totalDocRecords" total-records="totalDocRecords" results-per-page="pageSize" call-back="getData"></paging-control>
                            </div>
                            <div class="col-xs-4 text-right">
                                <button class="btn btn-info" ng-disabled="!activeItem" ng-click="selectTransaction()" data-translate="606" type="button">Go to Transaction</button>
                                <button class="btn btn-info" data-permission="posprintupdated" ng-show="false" ng-click="printTransaction()" data-translate="522" type="button">Print</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
