<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="col-xs-12" ng-controller="selectMultipleCheckboxGrid">
        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label>
                                    <input type="checkbox" ng-checked="toBoolean(pData.customer_general_allow_duplicate_cust_ids.value)" ng-model="pData.customer_general_allow_duplicate_cust_ids.value">
                                    <span data-translate="1100">Allows duplicate customer IDS</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label>
                                <input type="checkbox" ng-checked="toBoolean(pData.customer_general_allow_duplicate_cust_names.value)" ng-model="pData.customer_general_allow_duplicate_cust_names.value">
                                <span data-translate="1101">Allow duplicate customer names</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label>
                                <input type="checkbox" ng-checked="toBoolean(pData.customer_general_zeroout_taxperc_for_expcust.value)" ng-model="pData.customer_general_zeroout_taxperc_for_expcust.value">
                                <span data-translate="1102">Zero out tax % for export customers</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label>
                                    <input type="checkbox" ng-checked="toBoolean(pData.taxes_general_apply_detax_to_tax_perc.value)" ng-model="pData.taxes_general_apply_detax_to_tax_perc.value">
                                    <span data-translate="2918">Apply Detax to Tax%</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-xs-4">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <label class="control-label" data-translate="1103">Default Check Limit</label>
                        <input type="text" class="numberonly form-control" length="4" ng-model="pData.customer_security_check_limit.value">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        <label class="control-label" data-translate="1104">Default Customer Share Type</label>
                        <select class="form-control form-group" ng-model="pData.customer_general_customer_share_type.value">
                            <option value="-1" data-translate="1105">Prompt</option>
                            <option value="0" data-translate="1106">Local</option>
                            <option value="1" data-translate="1107">Global</option>
                            <option value="2" ng-show="false" data-translate="1108">Regional</option>
                            <option value="3" data-translate="1109">Not Shared</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">

            </div>
<!--             <div class="col-xs-4">
    <label class="control-label">
        <input type="checkbox" ng-checked="toBoolean(pData.prompt_for_customer_share_type.value)" ng-model="pData.prompt_for_customer_share_type.value" /> <span data-translate="2434">Prompt for customer share type</span>
    </label>
</div> -->

            <div class="col-xs-4">
                <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="609">Lookup By</h4>
                        <table class="table table-responsive table-bordered table-striped table-centered">
                            <thead class="ac_table">
                            <tr>
                                <th data-translate="1124">Item Field</th>
                                <th data-translate="805">Select</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="grid_row{{$index%2}}" ng-repeat="item in customerLookUpColumns">
                                <td class="align-left">{{item.txt| translate}}</td>
                                <td><input type="checkbox" ng-model="nothing" ng-click="toggleSelectMultipleCheckbox($event,item.val,customer_lookup_by,pData.customer_general_cust_lookup_by);" ng-checked="isCheckBoxSelected(item.val,customer_lookup_by)"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" ng-show="false">
                <h4 data-translate="1126">New Customer Required Fields</h4>
                <table class="table table-responsive table-bordered table-striped table-centered">
                    <thead class="ac_table">
                    <tr>
                        <th data-translate="1127">Customer Field</th>
                        <th data-translate="1128">Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="grid_row{{$index%2}}" ng-repeat="item in customerRequiredFields">
                        <td class="align-left">{{item.txt| translate}}</td>
                        <td><input type="checkbox" ng-model="nothing" ng-click="toggleSelectMultipleCheckbox($event,item.val,customer_required_fields,pData.customer_general_new_cust_required_fields);" ng-checked="isCheckBoxSelected(item.val,customer_required_fields)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-form>
