<form novalidate="" id="customerEmailForm" name="customerEmailForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="modal-title">{{form..emailAction}} <span data-translate="524">Email</span></h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="529">Email Address:</label>
                    <div class="col-xs-8">
                        <input maxlength="100" id="email_address" name="email_address" class="form-control" type="text" required="required" ng-readonly="form.deleteMode" ng-model="email.email_address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="590">Email Type:</label>
                    <div class="col-xs-8">
                        <select id="email_type_sid" name="email_type_sid" title="{{ '590' | translate }} " class="form-control" ng-disabled="form.deleteMode" ng-model="email.email_type_sid" ng-options="thisEmailType.sid as thisEmailType.email_type for thisEmailType in emailTypesList"><option value="" style="display:none" data-translate="425">Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-8 col-xs-offset-4">
                        <input type="checkbox" id="primary_flag" name="primary_flag" ng-disabled="form.deleteMode" ng-model="email.primary_flag">
                        <span data-translate="537">Primary</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-xs-8 col-xs-offset-4">
                        <input type="checkbox" id="email_allow_contact" name="email_allow_contact" ng-disabled="form.deleteMode" ng-model="email.email_allow_contact">
                        <span data-translate="1055">Allow Contact</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" id="customerEmailSaveButton" event-name="customerEditEmailSave" name="customerEmailSaveButton" class="btn btn-lg btn-default" ng-show="!form.deleteMode" ng-disabled="customerEmailForm.$pristine || customerEmailForm.$invalid" ng-click="saveChanges()"><span data-translate="547">Save</span></button>
                        <button type="button" id="customerEmailDeleteButton" event-name="customerEditEmailDelete" name="customerEmailDeleteButton" class="btn btn-lg btn-danger" ng-show="form.deleteMode" ng-click="saveChanges()"><span data-translate="544">Delete</span></button>
                        <button type="button" id="contactEmailCancelButton" event-name="customerEditEmailCancel" name="contactEmailCancelButton" class="btn btn-lg btn-default" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
