<div ng-controller="EditDiscountReasons" class="padding20">
    <div class="row-fluid">
        <h6>{{mode()}} <span data-translate="1150">Discount Type</span> </h6>
        <div class="span12">
            <label for="discount_type_name" data-translate="1151">Discount Type Name:</label>
            <input type="text" id="discount_type_name" ng-model="reasons.reasons[0].reason.name._value_">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <input id="req_cust" ng-model="reasons.reasons[0].reason.cust_required._value_" ng-checked="toBoolean(reasons.reasons[0].reason.cust_required._value_)" type="checkbox"><label class="checkbox_label" for="req_cust" data-translate="1152">Require Customer</label>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <input ng-model="reasons.reasons[0].reason.active._value_" ng-checked="toBoolean(reasons.reasons[0].reason.active._value_)" id="disc_active" type="checkbox"><label class="checkbox_label" for="disc_active" data-translate="586">Active</label>
        </div>
    </div>
    <div class="row-fluid">
        <div class="modal-footer pull-right span12">
            <button event-name="editDiscountReasonSave" type="button" ng-click="saveReason()" class="btn btn-large btn-default"><span data-translate="0.4">Save</span></button>
            <button event-name="editDiscountReasonCancel" type="button" class="btn btn-large btn-default closeModal"><span data-translate="1.2">Cancel</span></button>
        </div>
    </div>
</div>
