<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="col-xs-12">
        <div class="row">
            <div ng-if="false" class="col-xs-5">
                <div class="row" ng-controller="selectMultipleCheckboxGrid">
                    <div class="col-xs-12">
                        <label class="control-label" data-translate="1181">New Employee Required Fields</label>
                        <table class="table table-responsive table-bordered table-striped table-centered">
                            <thead class="ac_table">
                            <tr>
                                <th data-translate="1127">Customer Field</th>
                                <th data-translate="1128">Required</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="grid_row{{$index%2}}" ng-repeat="item in employeeRequiredFields">
                                <td class="align-left">{{item.txt | translate}}</td>
                                <td><input type="checkbox" ng-model="nothing" ng-click="toggleSelectMultipleCheckbox($event,item.val,employee_required_fields,pData.employee_general_new_emp_required_fields);" ng-checked="isCheckBoxSelected(item.val,employee_required_fields)"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="row form-group" ng-controller="ACEmployee">
                    <div class="col-xs-12">
                        <label class="control-label" for="def_assc" data-translate="1170">Default associate to use for new transactions</label>
                        <select class="form-control" ng-disable="isEmployeeConfigurable" ng-model="pData.employee_general_default_associate_for_new_transactions.value" id="def_assc" ng-options="s.sid as s.full_name | translate for s in employees">
                            <option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="req_user" class="checkbox_label">
                            <input id="req_user" ng-model="pData.employee_general_require_user_to_select_associate_on_new_transactions.value" ng-checked="toBoolean(pData.employee_general_require_user_to_select_associate_on_new_transactions.value)" type="checkbox">
                            <span data-translate="1171">Require user to select an associate on new transactions</span>
                        </label>
                    </div>
                </div>
                <div ng-show="false" class="row">
                    <div class="col-xs-12">
                        <label for="emp_cust" class="checkbox_label">
                            <input id="emp_cust" ng-model="pData.employee_general_enable_new_employee_as_cust.value" ng-checked="toBoolean(pData.employee_general_enable_new_employee_as_cust.value)" type="checkbox">
                            <span data-translate="1173">Enable new employees as customer</span>
                        </label>
                    </div>
                </div>
                <div ng-show="false" class="row">
                    <div class="col-xs-12">
                        <label data-translate="1174">Require Employee Login</label>
                        <ul class="list-group">
                            <li class="list-group-item"><input id="rec_pos" ng-model="pData.employee_general_generate_high_security_receipts_for_pos.value" ng-checked="toBoolean(pData.employee_general_generate_high_security_receipts_for_pos.value)" type="checkbox"> <label for="rec_pos" class="checkbox_label" data-translate="1175"> Point of Sale Transaction</label></li>
                            <li class="list-group-item"><input id="rec_vouch" ng-model="pData.employee_general_generate_high_security_receipts_for_vouchers.value" ng-checked="toBoolean(pData.employee_general_generate_high_security_receipts_for_vouchers.value)" type="checkbox"> <label for="rec_vouch" class="checkbox_label" data-translate="1176"> Vouchers</label></li>
                            <li class="list-group-item"><input id="rec_ts" ng-model="pData.employee_general_generate_high_security_receipts_for_transferslips.value" ng-checked="toBoolean(pData.employee_general_generate_high_security_receipts_for_transferslips.value)" type="checkbox"> <label for="rec_ts" class="checkbox_label" data-translate="1177"> Transfer Slips</label></li>
                            <li class="list-group-item"><input id="rec_am" ng-model="pData.employee_general_generate_high_security_receipts_for_adjustments.value" ng-checked="toBoolean(pData.employee_general_generate_high_security_receipts_for_adjustments.value)" type="checkbox"> <label for="rec_am" class="checkbox_label" data-translate="1178"> Adjustment Memos</label></li>
                        </ul>
                    </div>
                </div>
                <div ng-show="false" class="row">
                    <div class="col-xs-12">
                        <label for="req_comm_lock" class="control-label">
                        <input id="req_comm_lock" ng-model="pData.employee_general_require_comment.value" ng-checked="toBoolean(pData.employee_general_require_comment.value)" type="checkbox">
                            <span data-translate="1180">Require comment when manually locking or unlocking an employee</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <input type="checkbox" id="use_simple_timeclock" ng-checked="toBoolean(pData.simple_timeclock.value)" ng-model="pData.simple_timeclock.value"> <label class="control-label" data-translate="2926">Use simple time clock</label>
            </div>
        </div>

    </div>
</ng-form>