<form name="form.giftReceiptForm" id="giftReceiptForm" class="form-horizontal">
  <div class="modal-container">

    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="3340">Gift Receipt Items</h4>
        </div>
      </div>
    </div>

    <div class="modal-body height82">
        <div class="row top-margin">
          <div class="col-xs-12">
            <span data-translate="3341">Select one or more items for a gift receipt.</span>
          </div>
        </div>
        <!-- The following HTML was commented for now, on 4/2/2018.  Per Thanom, the lookup feature is more complex than what this is set up for, and requires much more coding.
        <!-- <div class="row top-margin">
          <div class="col-xs-12">
            <input type="text" bar-code type="text" id="giftItemLookup" name="giftItemLookup" class="form-control" placeholder="{{ '1415' | translate }}" ng-blur="findItem()" ui-keypress="{13:'findItem();'}" ng-model="form.item_lookup">
          </div>
        </div>-->
        <div class="row top-margin10">
          <div class="col-xs-12">
            <div class="panel panel-body autoOverflow height75" style="min-height: 75vh;">
              <div id="transactionItems" class="MediumResultsPane">
                <div class="list-group">
                  <documentitem template="gift-receipt-portrait-template.htm"></documentitem>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal-footer">
      <nav class="navbar navbar-fixed-bottom">
        <div class="container">
          <div class="navbar-header navbar-portrait">
            <div class="row">
              <div class="col-xs-12">
                <div class="btn-group btn-group-sm btn-group-justified">
                  <div class="btn-group"><button type="button" class="btn btn-sm btn-default portrait-font-small" ng-disabled="disableOneButton" event-name="posGiftReceiptItemsPrint1To1" id="posGiftReceiptItemsPrint1To1" ng-click="printGiftReceipt('1to1')" title="{{ '3648' | translate }}"><span data-translate="3342">Print 1 : 1</span></button></div>
                  <div class="btn-group"><button type="button" ng-disabled="disableAllButton" class="btn btn-sm btn-default portrait-font-small" event-name="posGiftReceiptItemsPrint1ToAll" id="posGiftReceiptItemsPrint1ToAll" ng-click="printGiftReceipt('all')" title="{{ '3649' | translate }}"><span data-translate="3343">Print 1 : All</span></button></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="btn-group btn-group-sm btn-group-justified">
                  <div class="btn-group"><button type="button" ng-disabled="disableSelectButton" class="btn btn-sm btn-default portrait-font-small" event-name="posGiftReceiptItemsPrintSelection" id="posGiftReceiptItemsPrintSelection" ng-click="printGiftReceipt('selected')" title="{{ '3650' | translate }}"><span data-translate="3344">Print Selection</span></button></div>
                  <div class="btn-group"><button type="button" class="btn btn-sm btn-default portrait-font-small" event-name="posGiftReceiptItemsCancel" id="posGiftReceiptItemsCancel" ng-click="$close()"><span data-translate="1.2">Cancel</span></button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
        <!--<div class="row">
          <gift-receipt1to1-button></gift-receipt1to1-button>
          <gift-receipt-all-button></gift-receipt-all-button>
          <gift-receipt-selected-button></gift-receipt-selected-button>
          <gift-receipt-cancel-button></gift-receipt-cancel-button>
        </div>-->
    </div>

  </div>
  <script>iosModalFix();</script>
</form>
