<div ng-controller="ac_customizations_ctrl">
    <div ng-controller="hal_customizations_ctrl">
        <div class="panel">
            <div class="panel-heading">
                <h4><span class="div-header-text" data-translate="7033">HAL Customization Configuration:</span></h4>
            </div>
            <div class="panel-body">
                <div class="well well-small">
                    <div class="row">
                        <div class="col-xs-8">
                            <input type="text" ng-model="filter_name" ng-show="hal_customizations.length>0" class="form-control" placeholder="{{ '2379' | translate }}" title="{{ '2379' | translate }}">
                            <span ng-show="hal_customizations.length==0">There are no customizations configured for use on this HAL.</span>
                        </div>
                        <div class="col-xs-4 text-right">
                            <button ng-click="pageData.mode='add'" class="btn btn-default" type="button"><span class="glyphicon glyphicon-link"></span> Add Customization</button>
                        </div>
                    </div>
                </div>
                <div class="well well-small" ng-show="pageData.mode=='add'">
                    <form name="addForm" class="row">
                        <div class="col-xs-12">
                            <div class="row form-group">
                                <div class="col-xs-8">
                                    <select required="required" class="form-control" ng-model="newLink.customization_sid" ng-options="x.sid as '#' + x.developer_id + ' ' + x.name + ' - ' + x.control_address + ':' + x.control_port for x in customizations">
                                      <option value="" style="display:none"><span data-translate="7036">Select a Customization...</span></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-8">
                                    <input class="form-control" ng-model="newLink.local_path" placeholder="{{ '2380' | translate }}" title="{{ '2380' | translate }}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-8">
                                    <input class="form-control" ng-model="newLink.disabled_reason" placeholder="{{ '2381' | translate }}" title="{{ '2376' | translate }}">
                                </div>
                                <div class="col-xs-2 text-right">
                                    <label class="control-label">
                                        <input type="checkbox" ng-model="newLink.disabled_flag" ng-checked="toBoolean(newLink.disabled_flag)">
                                      <span data-translate="1.10">Disabled</span>
                                    </label>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <label class="control-label">
                                        <input type="checkbox" ng-model="newLink.required_flag" ng-checked="toBoolean(newLink.required_flag)">
                                      <span data-translate="1128">Required</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="5" style="position:relative;z-index:100;" ng-model="newLink.configuration" placeholder="{{ '2378' | translate }}" title="{{ '2378' | translate }}"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right" style="margin-top:15px;">
                                  <button class="btn btn-default" ng-click="addHalLink()" ng-disabled="!addForm.$valid" type="button"><span class="glyphicon glyphicon-ok"></span> <span data-translate="547">Save</span></button>
                                  <button class="btn btn-default" ng-click="pageData.mode=''" type="button"><span class="glyphicon glyphicon-remove-circle"></span> <span data-translate="1.2">Cancel</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-repeat="x in hal_customizations">
                    <div class="well well-small" ng-show="pageData.mode==''&&(filter_name==''||x.name.toLowerCase().indexOf(filter_name.toLowerCase())!=-1)">
                        <div class="row form-group">
                            <div class="col-xs-10">
                            {{'#' + x.developer_id + ' ' + x.name + ' - ' + x.control_address + ':' + x.control_port}}
                            </div>
                            <div class="col-xs-2 text-right">
                                <button ng-click="pageData.mode='edit' + $index" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button ng-click="removeHalLink(x)" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                Local Path: {{x.local_path}}
                            </div>
                            <div class="col-xs-6" ng-show="toBoolean(x.disabled_flag)">
                              <em><span data-translate="7067">DISABLED</span></em>: {{x.disabled_reason}}
                            </div>
                        </div>
                    </div>
                    <div class="well well-small" ng-show="pageData.mode=='edit'  + $index">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row form-group">
                                    <div class="col-xs-10">
                                        {{'#' + x.developer_id + ' ' + x.name + ' - ' + x.control_address + ':' + x.control_port}}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-10">
                                        <input class="form-control" ng-model="x.local_path" placeholder="{{ '2380' | translate }}" title="{{ '2380' | translate }}">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-8">
                                        <input class="form-control" ng-model="x.disabled_reason" placeholder="{{ '2381' | translate }}" title="{{ '2376' | translate }}">
                                    </div>
                                    <div class="col-xs-2 text-right">
                                        <label class="control-label">
                                            <input type="checkbox" ng-model="x.disabled_flag" ng-checked="toBoolean(x.disabled_flag)">
                                          <span data-translate="1.10">Disabled</span>
                                        </label>
                                    </div>
                                    <div class="col-xs-2 text-right">
                                        <label class="control-label">
                                            <input type="checkbox" ng-model="x.required_flag" ng-checked="toBoolean(x.required_flag)">
                                          <span data-translate="1128">Required</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <textarea class="form-control" rows="5" style="position:relative;z-index:100;" ng-model="x.configuration" placeholder="{{ '2378' | translate }}" title="{{ '2378' | translate }}"></textarea>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right" style="margin-top:15px;">
                                  <button class="btn btn-default" ng-click="updateHalLink(x)" type="button"><span class="glyphicon glyphicon-ok"></span> <span data-translate="547">Save</span></button>
                                  <button class="btn btn-default" ng-click="pageData.mode=''" type="button"><span class="glyphicon glyphicon-remove-circle"></span> <span data-translate="1.2">Cancel</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
