<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="3334">Item: Style Description</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <image-carousel data-sid="{{ currentItem }}" ng-if="showCarousel()"></image-carousel>
                <h4 ng-if="showNoImageListMessage()" data-translate="3335">There are no images for the selected item</h4>
                <img src="/images/ajax-loader.gif" ng-if="showCarousel(1) && showNoImageListMessage(1)" class="ajax-loader">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button event-name="closeItemCarousel" class="btn btn-large" type="button" id="closeCarousel" ng-click="closeModal(false)"><span data-translate="1.1">close</span></button>
            </div>
        </div>
    </div>
</div>
