<div ng-form="ng-form" name="InitializeForm" ng-controller="initializationController">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Initialize</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label for="Version9Host" data-translate="7068">RIL Source Host/IP</label>
						<input class="form-control" id="Version9Host" name="Version9Host" ng-model="Version9Host" type="text">
					</div>
					<div class="form-group">
						<label for="PrismHost" data-translate="1231">Prism Target Host/IP</label>
						<input class="form-control" id="PrismHost" name="PrismHost" ng-model="PrismHost" type="text">
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<label for="Version9Port" data-translate="1221">Port</label>
						<input id="Version9Port" name="Version9Port" ng-model="Version9Port" type="text" class="form-control" maxlength="5">
					</div>
					<div class="form-group">
						<label for="PrismPort" data-translate="1221">Port</label>
						<input required="required" id="PrismPort" name="PrismPort" ng-model="PrismPort" type="text" class="form-control" maxlength="5">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p data-translate="2032">** Hostname must be provided as a fully qualified domain name(FQDN) e.g.(host.example.com)</p>
				</div>
			</div>
			<div class="row" ng-show="showStatus">
				<div class="col-xs-12">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
						<tr>
							<th colspan="4" data-translate="1232">Initialization Details</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="bold" data-translate="1233">
								Subscriber ID:
							</td>
							<td>
								{{statusDetail.subscriber_id}}
							</td>
							<td class="bold" data-translate="1234">
								Current resource:
							</td>
							<td>
								{{statusDetail.current_resource_wip}}
							</td>
						</tr>
						<tr>
							<td class="bold" data-translate="1235">
								Load started:
							</td>
							<td>
								{{statusDetail.load_starttime | cleanDate:'locale':false}}
							</td>
							<td class="bold" data-translate="1236">
								Last updated:
							</td>
							<td>
								{{statusDetail.last_update_datetime | cleanDate:'locale':false}}
							</td>
						</tr>
						<tr>
							<td class="bold" data-translate="1237">
								Total links sent
							</td>
							<td>
								{{statusDetail.total_rows_processed_sofar}}
							</td>
							<td>

							</td>
							<td>

							</td>
						</tr>
						</tbody>
					</table>
					<table class="table table-bordered table-striped table-condensed">
						<thead>
						<tr>
							<th data-translate="1238">Resource Name</th>
							<th data-translate="1239">Links Sent</th>
							<th data-translate="1240">Last Updated</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="detail in statusDetail.initstatusdetails">
							<td>
								{{detail.initstatusdetail.resource_name}}
							</td>
							<td>
								{{detail.initstatusdetail.resource_rows_processed_sofar}}
							</td>
							<td>
								{{detail.initstatusdetail.last_update_datetime | cleanDate:'locale':false}}
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-12">
				<button type="button" class="btn btn-default" ng-click="startInitialization()" ng-disabled="!InitializeForm.$valid" disabled="disabled"><span data-translate="1241">Start Initialization</span></button>
				<button type="button" class="btn btn-default" ng-click="stopInitialization()" ng-disabled="!InitializeForm.$valid" disabled="disabled"><span data-translate="1242">Stop Initialization</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
