<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div name="pref_form" ng-controller="language_locale_ctrl">

            <div class="row form-group">
                <div class="col-xs-4">
                    <label class="control-label" data-translate="1989">Default Language</label>
                    <select ng-model="pData.default_language.value" ng-options="s.value as s.name | translate for s in installedLanguages" ng-change="setLanguage()" class="form-control">
                    </select>
                </div>
                <div class="col-xs-3">
                    <label class="control-label" data-translate="2498">Preset Regional Settings </label>
                    <select ng-model="pData.regional_settings_region.value" ng-disabled="!locales_loaded" ng-change="setRegion();" ng-options="x.region as x.translation | translate for x in regions" class="form-control">
                    </select>
                </div>
                <div class="col-xs-2">
                    <label class="control-label"><input type="checkbox" ng-checked="toBoolean(pData.regional_settings_custom_settings_flag.value)" ng-model="pData.regional_settings_custom_settings_flag.value"> <span data-translate="2477">Use Custom</span></label>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Date &amp; Time Settings</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-xs-3">
                                <label class="control-label" data-translate="2479">Date Formats</label>
                                <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" ng-model="date_format" ng-change="setDateFormat()" class="form-control">
                                    <option value="MM/dd/yyyy">mm/dd/yyyy</option>
                                    <option value="MM/dd/yy">mm/dd/yy</option>
                                    <option value="MM,dd,yyyy">mm,dd,yyyy</option>
                                    <option value="MM/dd/yy">mm,dd,yy</option>
                                    <option value="MM-dd-yyyy">mm-dd-yyyy</option>
                                    <option value="MM-dd-yy">mm-dd-yy</option>
                                    <option value="MM.dd.yyyy">mm.dd.yyyy</option>
                                    <option value="MM.dd.yy">mm.dd.yy</option>

                                    <option value="dd/MM/yyyy">dd/mm/yyyy</option>
                                    <option value="dd/MM/yy">dd/mm/yy</option>
                                    <option value="dd,MM,yyyy">dd,mm,yyyy</option>
                                    <option value="dd,MM,yy">dd,mm,yy</option>
                                    <option value="dd-MM-yyyy">dd-mm-yyyy</option>
                                    <option value="dd-MM-yy">dd-mm-yy</option>
                                    <option value="dd.MM.yyyy">dd.mm.yyyy</option>
                                    <option value="dd.MM.yy">dd.mm.yy</option>

                                    <option value="yy/MM/dd">yy/mm/dd</option>
                                    <option value="yyyy/MM/dd">yyyy/mm/dd</option>
                                    <option value="yy,MM,dd">yy,mm,dd</option>
                                    <option value="yyyy,MM,dd">yyyy,mm,dd</option>
                                    <option value="yy-MM-dd">yy-mm-dd</option>
                                    <option value="yyyy-MM-dd">yyyy-mm-dd</option>
                                    <option value="yy.MM.dd">yy.mm.dd</option>
                                    <option value="yyyy.MM.dd">yyyy.mm.dd</option>
                                    <option value="yyyyMMdd">yyyymmdd</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label" data-translate="2480">Time Formats</label>
                                <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" ng-change="setDateFormat()" ng-model="time_format" class="form-control">
                                    <option value="h:mm:ss a"><span data-translate="2927">Medium Time</span></option>
                                    <option value="h:mm a"><span data-translate="2928">Short Time</span></option>
                                    <option value="HH:mm"><span data-translate="2929">24 hour</span></option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <div class="col-xs-6">
                                    <label class="control-label" data-translate="60.2">AM</label>
                                </div>
                                <div class="col-xs-6">
                                    <label class="control-label" data-translate="60.3">PM</label>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input ng-disabled="time_format==='HH:mm'||!toBoolean(pData.regional_settings_custom_settings_flag.value)" ng-model="pData.regional_settings_am.value" class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <input ng-disabled="time_format==='HH:mm'||!toBoolean(pData.regional_settings_custom_settings_flag.value)" ng-model="pData.regional_settings_pm.value" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="row">
                                    <div class="col-xs-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="control-label">
                                            <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" type="checkbox" ng-change="setDateFormat()" ng-checked="toBoolean(pData.regional_settings_show_offset.value)" ng-model="pData.regional_settings_show_offset.value"> <span data-translate="2481">Show Offset</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-4">
                                <label class="control-label" data-translate="2482">
                                    Date Format
                                </label>
                                <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" class="form-control" ng-blur="setDateFormat(true)" ng-model="pData.regional_settings_date_format.value">
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label" data-translate="2483">
                                    Time Format
                                </label>
                                <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" class="form-control" ng-blur="setDateFormat(true)" ng-model="pData.regional_settings_time_format.value">
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label" data-translate="2484">
                                    Date / Time Format
                                </label>
                                <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" class="form-control" ng-model="pData.regional_settings_date_time_format.value">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div>
                                    <label class="control-label">
                                        <span>{{dateStr | date : pData.regional_settings_date_format.value}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div>
                                    <label class="control-label">
                                        <span>{{dateStr | date : pData.regional_settings_time_format.value}}</span> <span ng-if="toBoolean(pData.regional_settings_show_offset.value)">{{utils.getTimezoneOffset(true)}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div>
                                    <label class="control-label">
                                        <span>{{dateStr | date : pData.regional_settings_date_time_format.value}}</span> <span ng-if="toBoolean(pData.regional_settings_show_offset.value)">{{utils.getTimezoneOffset(true)}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 data-translate="2930">Numbers &amp; Currency</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="row form-group">
                                    <div class="col-xs-6">
                                        <label class="control-label" data-translate="2485">Decimal Character</label>
                                        <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" ng-model="pData.regional_settings_decimal_character.value" class="form-control">
                                            <option value="" data-translate="1358">Select...</option>
                                            <option value="." data-translate="2931">Point (.)</option>
                                            <option value="," data-translate="2932">Comma (,)</option>
                                            <option value="{{uniCode.arabic}}" data-translate="2933">Arabic Decimal  (&#1643;)</option>eal
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="control-label" data-translate="2486">Group Separator</label>
                                        <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" ng-model="pData.regional_settings_group_separator.value" class="form-control">
                                            <option value="" data-translate="1358">Select...</option>
                                            <option value="." data-translate="2931">Point (.)</option>
                                            <option value="," data-translate="2932">Comma (,)</option>
                                            <option value="{{uniCode.space}}" data-translate="2934">Space ( )</option>
                                            <option value="'" data-translate="2935">Apostrophe (')</option>
                                            <option value="{{uniCode.right_quote}}" data-translate="2936">Right Single Quote (&#8217;)</option>
                                            <option value="{{uniCode.interpunct}}" data-translate="2937">Interpunct  (&#183;)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-6">
                                        <label class="control-label" data-translate="2487">Currency Grouping</label>
                                        <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" class="form-control" ng-show="!checkChars()" ng-change="setNumberFormat(1)" ng-model="currency_grouping">
                                            <option value="" data-translate="2488">&uarr; Select Decimal and Separator</option>
                                        </select>
                                        <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" class="form-control" ng-show="checkChars()" ng-change="setNumberFormat(1)" ng-model="currency_grouping">
                                            <option value="" data-translate="2489">Select Grouping...</option>
                                            <option value="3,3">1{{pData.regional_settings_group_separator.value}}234{{pData.regional_settings_group_separator.value}}567{{pData.regional_settings_decimal_character.value}}89</option>
                                            <option value="2,3">12{{pData.regional_settings_group_separator.value}}34{{pData.regional_settings_group_separator.value}}567{{pData.regional_settings_decimal_character.value}}89</option>
                                            <option value="3,4">123{{pData.regional_settings_group_separator.value}}4567{{pData.regional_settings_decimal_character.value}}89</option>
                                            <option value="0,0">1234567{{pData.regional_settings_decimal_character.value}}89</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="control-label" data-translate="2490">Number Grouping</label>
                                        <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" class="form-control" ng-show="!checkChars()" ng-change="setNumberFormat(0)" ng-model="number_grouping">
                                            <option value="" data-translate="2488">&uarr; Select Decimal and Separator</option>
                                        </select>
                                        <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" class="form-control" ng-show="checkChars()" ng-change="setNumberFormat(0)" ng-model="number_grouping">
                                            <option value="" data-translate="2489">Select Grouping...</option>
                                            <option value="3,3">1{{pData.regional_settings_group_separator.value}}234{{pData.regional_settings_group_separator.value}}567{{pData.regional_settings_decimal_character.value}}89</option>
                                            <option value="2,3">12{{pData.regional_settings_group_separator.value}}34{{pData.regional_settings_group_separator.value}}567{{pData.regional_settings_decimal_character.value}}89</option>
                                            <option value="3,4">123{{pData.regional_settings_group_separator.value}}4567{{pData.regional_settings_decimal_character.value}}89</option>
                                            <option value="0,0">1234567{{pData.regional_settings_decimal_character.value}}89</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="control-label"><input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" type="checkbox" ng-checked="toBoolean(pData.regional_settings_show_currency_symbol.value)" ng-model="pData.regional_settings_show_currency_symbol.value"> <span data-translate="2491">Show Currency Symbol</span></label>
                                        <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" type="text" ng-model="pData.regional_settings_currency_symbol.value" class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="control-label" data-translate="2492">Symbol Position</label>
                                        <select ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" class="form-control" ng-model="pData.regional_settings_currency_symbol_position.value">
                                            <option value="0" data-translate="2143">Left</option>
                                            <option value="2" data-translate="2938">Left w/ Space</option>
                                            <option value="1" data-translate="2144">Right</option>
                                            <option value="3" data-translate="2939">Right w/ Space</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="control-label"><span data-translate="2493"># of Decimals</span>:</label>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-6">
                                            <span data-translate="1525">Tax</span>:
                                        </div>
                                        <div class="col-xs-6">
                                            <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" type="text" ng-model="pData.regional_settings_decimal_spaces_tax.value" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-6">
                                            <span data-translate="773">Price</span>:
                                        </div>
                                        <div class="col-xs-6">
                                            <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" type="text" ng-model="pData.regional_settings_decimal_spaces_price.value" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-6">
                                            <span data-translate="2494">Cost</span>:
                                        </div>
                                        <div class="col-xs-6">
                                            <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" type="text" ng-model="pData.regional_settings_decimal_spaces_cost.value" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-6">
                                            <span data-translate="1635">Number</span>:
                                        </div>
                                        <div class="col-xs-6">
                                            <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" type="text" ng-model="pData.regional_settings_decimal_spaces_number.value" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-6">
                                            <span data-translate="961">Currency</span>:
                                        </div>
                                        <div class="col-xs-6">
                                            <input ng-disabled="!toBoolean(pData.regional_settings_custom_settings_flag.value)" type="text" ng-model="pData.regional_settings_decimal_spaces_currency.value" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>