<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="padding20" ng-controller="LineDisplay">
        <div class="panel panel-default">
            <div class="panel-heading" data-translate="1245">
                Default Message
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1246">Line 1</label>
                        <input class="form-control" ng-model="pData.pos_hardware_line_display_startup_line1_text.value" type="text">
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1247">Line 1 Alignment</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_startup_line1_alignment.value" ng-options="s.val as s.txt | translate for s in alignment"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1248">Line 2</label>
                        <input class="form-control" ng-model="pData.pos_hardware_line_display_startup_line2_text.value" type="text">
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1249">Line 2 Alignment</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_startup_line2_alignment.value" ng-options="s.val as s.txt | translate for s in alignment"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-translate="1250">
                POS Item Display
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1246">Line 1</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_new_item_line1_text.value" ng-options="s.val as s.txt | translate for s in posItems"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1247">Line 1 Alignment</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_new_item_line1_alignment.value" ng-options="s.val as s.txt | translate for s in alignment"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1248">Line 2</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_new_item_line2_text.value" ng-options="s.val as s.txt | translate for s in posItems"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1249">Line 2 Alignment</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_new_item_line2_alignment.value" ng-options="s.val as s.txt | translate for s in alignment"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-translate="1251">
                Total Display
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1246">Line 1</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_total_line1_text.value" ng-options="s.val as s.txt | translate for s in totalItems"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1247">Line 1 Alignment</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_total_line1_alignment.value" ng-options="s.val as s.txt | translate for s in alignment"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1248">Line 2</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_total_line2_text.value" ng-options="s.val as s.txt | translate for s in totalItems"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" data-translate="1249">Line 2 Alignment</label>
                        <select class="form-control" ng-model="pData.pos_hardware_line_display_total_line2_alignment.value" ng-options="s.val as s.txt | translate for s in alignment"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>