<div class="btn-group btn-group-lg btn-group-justified">
	<div class="btn-group">
		<button event-name="navXOutPreview" type="button" class="btn btn-default" ng-disabled="disableXoutPrint" ng-click="previewXOut()"><img src="/images/pos/Document_Preview_32.png"><span data-translate="523">Preview</span></button>
	</div>

	<div class="btn-group">
		<button event-name="navXOutPrint" type="button" class="btn btn-default" ng-disabled="disableXoutPrint" ng-click="printDialog()" ng-disabled="!ReportPreview"><img src="/images/pos/print_32.png"><span data-translate="522">Print</span></button>
	</div>

	<div class="btn-group">
		<button event-name="navXOutSave" type="button" class="btn btn-default" ng-click="saveDefaults()"><img src="/images/pos/save_32.png"><span data-translate="953">Save Defaults</span></button>
	</div>

	<div class="btn-group">
		<button event-name="navXOutRevert" type="button" class="btn btn-default" ng-click="revertDefaults()"><img src="/images/pos/reset_32.png"><span data-translate="954">Revert Defaults</span></button>
	</div>
</div>
