<div class="navbar navbar-fixed-bottom navbar-default">
    <div class="row">
        <div class="col-xs-8">
             <button event-name="navPosTenderReturnTo" type="button" tabindex="20" id="returnToDocumentButton" class="btn btn-lg navbar-btn btn-default" ng-click="closeSearch()"><span data-translate="1300">Return To</span> {{tender.source}}</button>
            <button event-name="navPosTenderType" type="button" tabindex="21" id="tendertype-tab" class="btn btn-lg navbar-btn btn-default" ng-disabled="tenderTypeDisabled" ng-click="setTenderType()"><span data-translate="948">Tender Type</span></button>
        </div>
        <div class="col-xs-4 text-right">
            <button event-name="navPosTenderPrintUpdate" type="button" tabindex="23" id="printButton" class="btn btn-lg navbar-btn btn-default" ng-disabled="printButtonDisabled" ng-click="updateDocument(true)"><span data-translate="952">Print Update</span></button>
            <button event-name="navPosTenderUpdateOnly" type="button" tabindex="24" id="updateButton" class="btn btn-lg navbar-btn btn-default" ng-disabled="updateButtonDisabled" ng-click="updateDocument(false)"><span data-translate="1301">Update Only</span></button> 
        </div>
    </div>
</div>
