<div id="customerInformationButtons" class="text-center col-xs-12">
	<button event-name="navCustomerInformationNew" type="button" tabindex="900" class="btn btn-lg navbar-btn btn-default" id="newCustomerButton" name="newCustomerButton" data-permission="CustomersCreateCustomer" data-permission-disabled="!cancelCustomerChangesButtonDisabled" ng-click="newCustomer()"><span data-translate="581">New</span></button>
	<button event-name="navCustomerInformationEdit" type="button" tabindex="901" class="btn btn-lg navbar-btn btn-default" id="editCustomerButton" name="editCustomerButton" data-permission="CustomersEditCustomer" ng-click="changeMode();" ng-show="!editMode"><span data-translate="774">Edit</span></button>
	<button event-name="navCustomerInformationSave" type="button" tabindex="901" class="btn btn-lg navbar-btn btn-default" id="SaveCustomerButton" name="SaveCustomerButton" data-permission="CustomersEditCustomer" ng-click="changeMode();" ng-show="editMode"><span data-translate="547">Save</span></button>
	<button event-name="navCustomerInformationCopy" type="button" tabindex="902" class="btn btn-lg navbar-btn btn-default" id="copyCustomerButton" name="copyCustomerButton" ng-disabled="true"><span data-translate="582">Copy</span></button>
	<button event-name="navCustomerInformationCancel" type="button" tabindex="903" class="btn btn-lg navbar-btn btn-default" id="cancelCustomerChanges" name="cancelCustomerChanges" ng-disabled="cancelCustomerChangesButtonDisabled" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button>
	<button event-name="navCustomerInformationActivate" type="button" tabindex="904" class="btn btn-lg navbar-btn btn-default" id="activateCustomerButton" name="activateCustomerButton" ng-disabled="!cancelCustomerChangesButtonDisabled" ng-click="toggleCustomerActive()" ng-show="!customer.customer_active"><span data-translate="2334">Activate</span></button>
	<button event-name="navCustomerInformationDeactivate" type="button" tabindex="904" class="btn btn-lg navbar-btn btn-default" id="DeactivateCustomerButton" name="DeactivateCustomerButton" ng-disabled="!cancelCustomerChangesButtonDisabled" ng-click="toggleCustomerActive()" ng-show="customer.customer_active"><span data-translate="3041">Deactivate</span></button>
	<button event-name="navCustomerInformationNewTransaction" type="button" tabindex="905" class="btn btn-lg navbar-btn btn-default" id="beginPosTransactionButton" name="beginPosTransactionButton" data-permission-disabled="newTransactionButtonDisabled" ng-click="newCustomerTransaction()" data-permission="CreatePOSTransaction"><span data-translate="502">New Transaction</span></button>
	<button event-name="navCustomerInformationCustomerLookup" type="button" tabindex="906" class="btn btn-lg navbar-btn btn-default" id="customerLookupButton" name="customerLookupButton" ng-disabled="!cancelCustomerChangesButtonDisabled" ng-click="customerLookup()"><span data-translate="517">Customer Lookup</span></button>
</div>
