<div class="text-center container-fluid">
    <div class="row">
        <button event-name="navPosTransactionNew" type="button" tabindex="900" class="btn btn-lg navbar-btn btn-default" id="newTransactionButton" ng-click="newTransaction()" data-permission="CreatePOSTransaction" data-permission-disabled="newTransactionButton"><span data-translate="581">New</span></button>
        <button event-name="navPosTransactionEdit" type="button" tabindex="901" class="btn btn-lg navbar-btn btn-default" id="editTransactionButton" ng-click="editTransaction()" data-permission="EditFormerPOSTransaction" data-permission-disabled="editTransactionButtonDisabled" data-apply-permission-when="[{permission:'EditFormerPOSTransaction', condition:document.status === 4}]" ng-show="showEditButton"><span data-translate="774">Edit</span></button>
        <button event-name="navPosTransactionSave" type="button" tabindex="902" class="btn btn-lg navbar-btn btn-default" id="saveTransactionButton" ng-click="saveTransaction()" ng-disabled="saveTransactionButtonDisabled" ng-show="showSaveButton"><span data-translate="547">Save</span></button>
        <button event-name="navPosTransactionCancel" type="button" tabindex="903" class="btn btn-lg navbar-btn btn-default" id="cancelTransactionButton" ng-click="cancelTransaction()" ng-disabled="cancelTransactionButton"><span data-translate="1.2">Cancel</span></button>
        <button event-name="navPosTransactionCopy" type="button" tabindex="904" class="btn btn-lg navbar-btn btn-default" id="copyTransactionButton" ng-click="copyTransaction()" ng-disabled="copyTransactionButton"><span data-translate="582">Copy</span></button>
        <button event-name="navPosTransactionHold" type="button" tabindex="905" class="btn btn-lg navbar-btn btn-default" id="holdTransactionButton" ng-click="holdTransaction()" ng-show="!document.is_held" data-permission="PosHoldUnHoldTransaction" data-permission-disabled="!holdTransactionButton"><span data-translate="775">Hold</span></button>
        <button event-name="navPosTransactionUnHold" type="button" tabindex="905" class="btn btn-lg navbar-btn btn-default" id="unholdTransactionButton" ng-click="holdTransaction(true)" ng-show="document.is_held" data-permission="PosHoldUnHoldTransaction" data-permission-disabled="!unholdTransactionButton"><span data-translate="775.1">Un-Hold</span></button>
        <button event-name="navPosTransactionPrint" type="button" tabindex="906" class="btn btn-lg navbar-btn btn-default" id="transactionPrintButton" data-permission="posprintupdated" data-permission-disabled="blockPrinting" ng-click="printTransaction()"><span data-translate="607">Print</span></button>
        <button event-name="navPosTransactionLookup" type="button" tabindex="907" class="btn btn-lg navbar-btn btn-default" id="transactionLookupButton" ng-disabled="transactionLookupButton" ng-click="transactionLookup()"><span data-translate="503">Lookup</span></button>
    </div>
</div>
