<nav class="navbar navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-header navbar-portrait">
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-group btn-group-sm btn-group-justified">
						<div class="btn-group" ng-show="state.step === 0"><button event-name="navZOutCancel" type="button" class="btn btn-primary" ng-click="zOutCancel()"><span data-translate="1.2">Cancel</span></button></div>
						<div class="btn-group" ng-hide="backButtonDisabled"><button event-name="navZOutBack" type="button" class="btn btn-primary" ng-click="previousStep()"><span data-translate="801">Back</span></button></div>
						<div class="btn-group" ng-hide="nextButtonDisabled || !zOutOpenForm.$valid"><button event-name="navZOutNext" type="button" class="btn btn-primary" ng-click="nextStep()"><span data-translate="800">Next</span></button></div>
						<div class="btn-group" ng-hide="finishButtonDisabled || !zOutOpenForm.$valid"><button event-name="navZOutFinish" type="button" class="btn btn-primary" ng-click="finish()"><span data-translate="802">Finish</span></button></div>
						<div class="btn-group">
							<button type="button" class="btn btn-primary" event-name="showPrismMenu" id="prismMenuButton" ng-click="prismMenuModal()">
								<img src="/images/PrismAppIconTrans_Set_PrismAppIconReverse40.png" style="height: 40px; margin-top: -3px; padding-left: 10px;">
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar-header pull-right"></div>
	</div>
</nav>