<form name="mwGeniusDevice" id="mwGeniusDevice" autocomplete="off" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4>MerchantWare</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row" ng-show="deviceInitialized">
                    <h4>Waiting On Customer</h4>
                    <p>Please wait for the customer to complete the transaction using the card reader/pinpad.</p>
                </div>
                <div class="row" ng-show="!deviceInitialized">
                    <h4>Waiting On Device</h4>
                    <p>Please wait for the Customer Engagement Device to complete initialization.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posMWGeniusDeviceBypass" id="mwBypassButton" type="button" class="btn btn-lg btn-default" ng-disabled="!deviceInitialized" ng-hide="bypassDeviceDisabled" ng-click="abortCED(true)">
                        <span data-translate="1942">Bypass Device</span>
                    </button>
                    <button event-name="posMWGeniusDeviceCancel" id="mwAddCancelButton" type="button" class="btn btn-lg btn-default" ng-disabled="!deviceInitialized" ng-click="abortCED()">
                        <span data-translate="1.2">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
