<form name="priceLevelChangeForm" id="priceLevelChangeForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="2719">Customer Price Level</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <div class="col-xs-12">
                        <p data-translate="2720">Use customers price level for this transaction?</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <p><span data-translate="2721">Price Level:</span> {{priceLevelToChangeTo}}</p>
                    </div>
                </div>
                <div class="form-group" ng-show="itemsPresent">
                    <div class="col-xs-2">
                        <input type="checkbox" ng-model="form.changeItemPriceLevels">
                    </div>
                    <div class="col-xs-10" data-translate="2722">Change price level for existing items.</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posChangePriceLevelYes" type="submit" tabindex="50" id="changePriceLevelsYesButton" class="btn btn-lg btn-default" ng-click="closeForm(true)"><span data-translate="1.5">Yes</span></button>
                    <button event-name="posChangePriceLevelNo" type="button" tabindex="51" id="changePriceLevelsNoButton" class="btn btn-lg btn-default" ng-click="closeForm(false)"><span data-translate="1.6">No</span></button>
                    <button event-name="posChangePriceLevelCancel" type="button" tabindex="51" id="changePriceLevelsCancelButton" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
                </div>
            </div>
        </div>
    </div>
</form>