<form name="form.orderFufillQuantityForm" id="orderFufillQuantityForm" class="form-horizontal">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-translate="1445">Order Fulfillment</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<h4 data-translate="798">Fulfill Qty:</h4>
				</div>
				<div class="row">
					<p data-translate="1446">Enter the quantity of this item you will fulfill.</p>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" data-translate="799">Due Quantity:</label>
					<div class="col-xs-8">
						<input type="text" id="ordersTotalDue" name="orderQuantityDue" class="form-control" ng-readonly="true" ng-model="form.dueQuantity">
					</div>
				</div>
				<div class="row">
					<label class="col-xs-4 control-label" data-translate="772">Quantity:</label>
					<div class="col-xs-8">
						<input type="text" id="depositAmount" name="fulfillQuantity" class="form-control" ng-model="form.fulfillQuantity" ng-change="validateQuantity()" numberonly="numberonly">
            <p ng-show="form.orderFufillQuantityForm.fulfillQuantity.$error.quantity" class="text-danger"><span data-translate="7040">Quantity can not be greater than due quantity.</span></p>

					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posOrderFulfillQtyOk" id="orderFulfillQuantityOKButton" class="btn btn-lg btn-default" type="submit" ng-click="setFulfillQuantity()" ng-disabled="!form.orderFufillQuantityForm.$valid"><span data-translate="1.1">OK</span></button>
                        <button event-name="posOrderFulfillQtyCancel" id="orderFulfillQuantityCancelButton" class="btn btn-lg btn-default" type="button" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
		</div>
	</div>
</form>
