<form name="form.transactionDetailsForm" id="transactionDetailsForm" class="form-horizontal">
  <div class="container-fluid"></div>
    <div class="panel height95" style="min-height: 95vh;">
      <div class="panel-heading">
        <div class="row">
          <div ng-show="tabs.options">
            <div class="col-xs-7">
              <span data-translate="3248">Transaction Details Options</span>
            </div>
            <div class="col-xs-5">
              <button event-name="posTransactionDetailsPrev" type="button" class="btn btn-default pull-right" tabindex="10" id="Cancel-Tab" ng-click="changeTemplate(prevTab)"><span data-translate="801">Back</span></button>
            </div>
          </div>
          <div class="col-xs-6" ng-show="tabs.main">
            <span data-translate="779">Transaction Details</span>
          </div>
          <div class="col-xs-8" ng-show="tabs.general">
            <span data-translate="1527">POS Flags and Comments</span>
          </div>
          <div class="col-xs-6" ng-show="tabs.fees">
            <span data-translate="783">Fees</span>
          </div>
          <div class="col-xs-6" ng-show="tabs.shipping">
            <span data-translate="784">Shipping</span>
          </div>
          <div class="col-xs-6" ng-show="tabs.associate">
            <span data-translate="2842">Associates</span>
          </div>
          <div class="col-xs-6" ng-show="tabs.pricelevels">
            <span data-translate="710">Price Levels</span>
          </div>
          <div class="col-xs-6" ng-show="tabs.discounts">
            <span data-translate="713">Discounts</span>
          </div>
          <div class="col-xs-6" ng-show="tabs.taxes">
            <span data-translate="719">Taxes</span>
          </div>
          <div class="col-xs-6" ng-show="tabs.notes">
            <span data-translate="594">Notes</span>
          </div>
        </div>
      </div>

      <div class="panel-body autoOverflow height80" style="min-height: 80vh;">
            <div class="row">
              <div class="col-xs-12" ng-show="tabs.options">
                  <div class="row top-margin">
                    <button event-name="posTransactionDetailsMain" type="button" class="btn btn-default btn-block" tabindex="1" id="Main-Tab" ng-click="changeTemplate('main')"><span data-translate="779">Transaction Details</span></button>
                  </div>
                  <div class="row top-margin">
                    <button event-name="posTransactionDetailsGeneral" type="button" class="btn btn-default btn-block" tabindex="2" id="General-Tab" ng-click="changeTemplate('general')"><span data-translate="1527">POS Flags and Comments</span></button>
                  </div>
                  <div class="row top-margin">
                      <button event-name="posTransactionDetailsFees" type="button" class="btn btn-default btn-block" tabindex="3" id="Fees-Tab" ng-click="changeTemplate('fees')"><span data-translate="783">Fees</span></button>
                  </div>
                  <div class="row top-margin">
                      <button event-name="posTransactionDetailsShipping" type="button" class="btn btn-default btn-block" tabindex="4" id="Shipping-Tab" ng-click="changeTemplate('shipping')"><span data-translate="784">Shipping</span></button>
                  </div>
                  <div class="row top-margin">
                      <button event-name="posTransactionDetailsAssociate" type="button" class="btn btn-default btn-block" tabindex="5" id="Associate-Tab" ng-click="changeTemplate('associate')"><span data-translate="699">Associate</span></button>
                  </div>
                  <div class="row top-margin">
                      <button event-name="posTransactionDetailsPriceLevels" type="button" class="btn btn-default btn-block" tabindex="6" id="PriceLevels-Tab" ng-click="changeTemplate('pricelevels')"><span data-translate="710">Price Levels</span></button>
                  </div>
                  <div class="row top-margin">
                      <button event-name="posTransactionDetailsDiscounts" type="button" class="btn btn-default btn-block" tabindex="7" id="Discounts-Tab" ng-click="changeTemplate('discounts')"><span data-translate="713">Discounts</span></button>
                  </div>
                  <div class="row top-margin">
                      <button event-name="posTransactionDetailsTaxes" type="button" class="btn btn-default btn-block" tabindex="8" id="Taxes-Tab" ng-click="changeTemplate('taxes')"><span data-translate="719">Taxes</span></button>
                  </div>
                  <div class="row top-margin">
                      <button event-name="posTransactionDetailsNotes" type="button" class="btn btn-default btn-block" tabindex="9" id="Notes-Tab" ng-click="changeTemplate('notes')"><span data-translate="594">Notes</span></button>
                  </div>
              </div>

              <div class="col-xs-12" ng-show="tabs.main">
                <div class="panel-body" style="padding-bottom: 55px;">
                  <div class="panel panel-default">
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="622">Cashier</strong></div>
                  <div class="col-xs-8">{{form.document.cashier_login_name}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="684">Date</strong></div>
                  <div class="col-xs-8">{{form.document.created_datetime|cleanDate:'locale'}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="562">Subsidiary</strong></div>
                  <div class="col-xs-8">{{form.document.subsidiary_number}} : {{form.document.subsidiary_name}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="683">Store</strong></div>
                  <div class="col-xs-8">{{form.document.store_number}} : {{form.document.store_name}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="553">Price Level</strong></div>
                  <div class="col-xs-8">{{form.document.price_lvl_name}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="554">Tax Area</strong></div>
                  <div class="col-xs-8">{{form.document.tax_area_name}}</div>
                </div>
                <div class="row" ng-show="form.document.tax_area2_name">
                  <div class="col-xs-4"><strong data-translate="554">Tax Area 2</strong></div>
                  <div class="col-xs-8">{{form.document.tax_area2_name}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="790">Customer</strong></div>
                  <div class="col-xs-8">{{form.document.bt_first_name}} {{form.document.bt_last_name}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="781">Sub Total</strong></div>
                  <div class="col-xs-8">{{form.document.amount}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="782">Total Tax</strong></div>
                  <div class="col-xs-8">{{form.document.tax_amount}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="979">Total</strong></div>
                  <div class="col-xs-8">{{form.document.total}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="3249">S Disc Amt</strong></div>
                  <div class="col-xs-8">{{form.document.discount_amount}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="3250">O Disc Amt</strong></div>
                  <div class="col-xs-8">{{form.document.order_discount_amount}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="3251">Total Fee</strong></div>
                  <div class="col-xs-8">{{form.document.feeAmount}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="3252">Shipping Amt</strong></div>
                  <div class="col-xs-8">{{form.document.shipping_amt}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="3245">Assoc 1</strong></div>
                  <div class="col-xs-8">{{form.document.associate}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="3246">Assoc 1 %</strong></div>
                  <div class="col-xs-8">{{form.document.activity_percent}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="3253">General Note</strong></div>
                  <div class="col-xs-8">{{form.document.notes_general}}</div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><strong data-translate="3254">Sale Note</strong></div>
                  <div class="col-xs-8">{{form.document.notes_sale}}</div>
                </div>
              </div>
                </div>
              </div>

              <div class="col-xs-12" ng-show="tabs.general">
                <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="1968">POS Flags</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <label class="col-xs-12 control-label">{{form.posFlag1}}</label>
                      </div>
                      <div class="row top-margin">
                        <div class="form-group ng-class:{'has-error':posFlag1Required && !form.document.pos_flag1}">
                          <div class="col-xs-12">
                            <input id="pos_flag1_view" name="pos_flag1_view" class="form-control" type="text" tabindex="11" ng-hide="form.editMode" ng-disabled="true" ng-model="form.document.pos_flag1">
                            <select id="pos_flag1" name="pos_flag1" class="form-control" tabindex="11" data-permission="EditFormerPOSDetails" data-collect-permission="" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" ng-show="form.editMode" ng-model="optionValue1" ng-options="s.flag_id.toString() as s.flag_option disable when !s.is_active for s in posFlag1List" ng-change="selectedOption(1,optionValue1)">
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-12 control-label">{{form.posFlag2}}</label>
                      </div>
                      <div class="row top-margin">
                        <div class="form-group ng-class:{'has-error':posFlag2Required && !form.document.pos_flag2}">
                          <div class="col-xs-12">
                            <input id="pos_flag2_view" name="pos_flag2_view" class="form-control" type="text" tabindex="13" ng-hide="form.editMode" ng-disabled="true" ng-model="form.document.pos_flag2">
                            <select id="pos_flag2" name="pos_flag2" class="form-control" tabindex="13" data-permission="EditFormerPOSDetails" data-collect-permission="" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" ng-show="form.editMode" ng-model="optionValue2" ng-options="s.flag_id.toString() as s.flag_option disable when !s.is_active for s in posFlag2List" ng-change="selectedOption(2,optionValue2)">
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-12 control-label">{{form.posFlag3}}</label>
                      </div>
                      <div class="row top-margin">
                        <div class="form-group ng-class:{'has-error':posFlag3Required && !form.document.pos_flag3}">
                          <div class="col-xs-12">
                            <input id="pos_flag3_view" name="pos_flag3_view" class="form-control" type="text" tabindex="15" ng-hide="form.editMode" ng-disabled="true" ng-model="form.document.pos_flag3">
                            <select id="pos_flag3" name="pos_flag3" class="form-control" tabindex="15" data-permission="EditFormerPOSDetails" data-collect-permission="" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" ng-show="form.editMode" ng-model="optionValue3" ng-options="s.flag_id.toString() as s.flag_option disable when !s.is_active for s in posFlag3List" ng-change="selectedOption(3,optionValue3)">
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="1969">Comments</span>
                    </div>
                    <div class="panel-body" style="padding-bottom: .5em;">

                      <div style="background-color: #dddddd;padding: 0 .5em 1em .5em;">
                        <div class="row top-margin10">
                          <label class="col-xs-12 control-label" data-translate="690">Comment 1</label>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <input type="text" id="comment1" name="comment1" class="form-control" tabindex="13" ng-model="form.document.comment1" data-permission="EditFormerPOSDetails" data-permission-disabled="!form.editMode" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" data-collect-permission="" ng-change="resetCommentDropdown(1)">
                          </div>
                        </div>
                        <div class="row top-margin10">
                          <!--<label class="col-xs-12 control-label">&nbsp;</label>-->
                          <div class="col-xs-12">
                            <select id="comment1Suggestion" name="comment1Suggestion" class="form-control" tabindex="12" ng-model="form.comment1Suggestion" ng-change="setComment(1)" data-permission="EditFormerPOSDetails" data-permission-disabled="!form.editMode" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" data-collect-permission="" ng-options="c.comments as c.comments for c in commentsInThisSubsidiaryList"></select>
                          </div>
                        </div>
                      </div>

                      <div style="background-color: #dddddd;padding: 0 .5em 1em .5em;">
                        <div class="row top-margin20">
                        <label class="col-xs-12 control-label" data-translate="691">Comment 2</label>
                      </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <input type="text" id="comment2" name="comment2" class="form-control" tabindex="13" ng-model="form.document.comment2" data-permission="EditFormerPOSDetails" data-permission-disabled="!form.editMode" data-collect-permission="" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" ng-change="resetCommentDropdown(2)">
                          </div>
                        </div>
                        <div class="row top-margin10">
                          <!--<div class="col-xs-12 text-right">
                            <p class="form-control-static">&nbsp;</p>
                          </div>-->
                          <div class="col-xs-12">
                            <select id="comment2Suggestion" name="comment2Suggestion" class="form-control" tabindex="14" ng-model="form.comment2Suggestion" ng-change="setComment(2)" data-permission="EditFormerPOSDetails" data-permission-disabled="!form.editMode" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" data-collect-permission="" ng-options="c.comments as c.comments for c in commentsInThisSubsidiaryList"></select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12" ng-show="tabs.fees">
                <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="692">Sales Fee</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="693">Fee Amt</label>
                        <div class="col-xs-6">
                          <input id="sales_fee_amt1" name="sales_fee_amt1" type="text" tabindex="16" autoselect="true" class="form-control" data-currency-formatter="" numberonly="" ng-model="form.document.fee_amt1" ng-disabled="form.document.status === 4">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="694">Fee Type</label>
                        <div class="col-xs-6">
                          <select id="sales_fee_name1" name="sales_fee_name1" class="form-control" tabindex="17" ng-model="form.document.fee_type1_sid" ng-disabled="form.document.status === 4" ng-options="s.sid as s.fee_name for s in saleFeeTypesInThisSubsidiaryList">
                            <option value="" style="display:none" data-translate="1358">Select...</option>
                          </select>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label for="includeSalesTax" class="col-xs-6 col-xs-offset-6 form-control-static">
                          <input name="includeSalesTax" id="includeSalesTax" tabindex="18" type="checkbox" ng-disabled="true" ng-model="form.document.fee_tax_included1">
                          <span data-translate="1529">Include Tax</span>
                        </label>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="697">Fee Tax Amt</label>
                        <div class="col-xs-6">
                          <input id="sale_fee_tax_amt1" name="sale_fee_tax_amt1" tabindex="19" type="text" autoselect="true" class="form-control" data-currency-formatter="tax" ng-disabled="true" ng-model="form.document.fee_tax_amt1">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="698">Fee Tax %</label>
                        <div class="col-xs-6">
                          <input id="sale_fee_tax_perc1" name="sale_fee_tax_perc1" tabindex="20" type="text" autoselect="true" class="form-control" data-currency-formatter="number" ng-disabled="true" ng-model="form.document.fee_tax_perc1">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="692.1">Order Fee</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="693">Fee Amt</label>
                        <div class="col-xs-6">
                          <input id="order_fee_amt1" name="order_fee_amt1" type="text" tabindex="16" autoselect="true" class="form-control" data-currency-formatter="data-currency-formatter" ng-model="form.document.order_fee_amt1" ng-disabled="disableOrderFees">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="694">Fee Type</label>
                        <div class="col-xs-6">
                          <select id="order_fee_name1" name="order_fee_name1" class="form-control" tabindex="17" ng-model="form.document.order_fee_type1_sid" ng-disabled="disableOrderFees" ng-options="o.sid as o.fee_name for o in orderFeeTypesInThisSubsidiaryList">
                            <option value="" style="display:none" data-translate="1358">Select...</option>
                          </select>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label for="includeOrdersTax" class="col-xs-6 col-xs-offset-6 form-control-static">
                          <input name="includeOrdersTax" id="includeOrdersTax" tabindex="18" type="checkbox" ng-disabled="true" ng-model="form.document.order_fee_tax_included1">
                          <span data-translate="1529">Include Tax</span>
                        </label>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="697">Fee Tax Amt</label>
                        <div class="col-xs-6">
                          <input id="order_fee_tax_amt1" name="order_fee_tax_amt1" tabindex="19" type="text" autoselect="true" class="form-control" data-currency-formatter="tax" ng-disabled="true" ng-model="form.document.order_fee_tax_amt1">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="698">Fee Tax %</label>
                        <div class="col-xs-6">
                          <input id="order_fee_tax_perc1" name="order_fee_tax_perc1" tabindex="20" type="text" autoselect="true" class="form-control" data-currency-formatter="number" ng-disabled="true" ng-model="form.document.order_fee_tax_perc1">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" data-translate="2102">Fee Totals</div>
                    <div class="panel-body" style="padding-bottom: 55px;">
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="2103">Total Fee W/O Tax</label>
                        <div class="col-xs-6">
                          <input id="totalFeeWithoutTax" name="totalFeeWithoutTax" tabindex="21" type="text" class="form-control" data-currency-formatter="data-currency-formatter" ng-disabled="true" ng-model="form.document.total_fee_amt_no_tax">
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="2146">Total Fee With Tax</label>
                        <div class="col-xs-6">
                          <input id="totalFeeWithTax" name="totalFeeWithTax" tabindex="21" type="text" class="form-control" data-currency-formatter="data-currency-formatter" ng-disabled="true" ng-model="form.document.total_fee_amt">
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="2104">Total Fee Tax</label>
                        <div class="col-xs-6">
                          <input id="totalFeeTax" name="totalFeeTax" tabindex="21" type="text" class="form-control" data-currency-formatter="data-currency-formatter" ng-disabled="true" ng-model="form.document.total_fee_tax_amt">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12" ng-show="tabs.shipping">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span data-translate="974">Sales</span>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-xs-7 control-label" data-translate="863">Shipping Amount</label>
                        <div class="col-xs-5">
                          <input type="text" id="shippingAmount" name="" class="form-control" data-currency-formatter="" numberonly="" ng-disabled="form.document.status === 4" ng-model="form.document.shipping_amt_manual">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-5 col-xs-offset-7">
                          <input name="includeShippingTax" id="includeShippingTax" tabindex="18" type="checkbox" ng-disabled="true" ng-model="form.document.shipping_tax_included">
                          <label class="control-label" for="includeShippingTax" data-translate="1529">Include Tax</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-7 control-label" data-translate="861">Shipping Method</label>
                      <div class="col-xs-5">
                        <select tabindex="12" class="form-control" id="shippingMethod" name="shippingMethod" ng-disabled="form.document.status === 4 && !form.editMode" ng-model="form.document.ship_method_sid" ng-options="sm.sid as sm.method for sm in shipMethods">
                          <option value="" style="display:none;" data-translate="1358">Select...</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-7 control-label" data-translate="2963">Shipping Tax Amount</label>
                      <div class="col-xs-5">
                        <input type="text" id="shippingTaxAmount" name="shippingTaxAmount" class="form-control" data-currency-formatter="" numberonly="" ng-disabled="true" ng-model="form.document.shipping_tax_amt">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-7 control-label" data-translate="2964">Shipping Tax %</label>
                      <div class="col-xs-5">
                        <input type="text" id="shipingTaxPercent" name="shipingTaxPercent" class="form-control" ng-disabled="true" ng-model="form.document.shipping_tax_percentage">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-xs-7 control-label" data-translate="2965">Tracking Number</label>
                      <div class="col-xs-5">
                        <input type="text" id="shippingTrackingNumber" name="shippingTrackingNumber" class="form-control" ng-disabled="form.document.status === 4 && !form.editMode" ng-model="form.document.tracking_number">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span data-translate="749">Order</span>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-xs-7 control-label" data-translate="863">Shipping Amount</label>
                        <div class="col-xs-5">
                          <input type="text" id="orderShippingAmount" name="orderShippingAmount" class="form-control" data-currency-formatter="" numberonly="" ng-disabled="form.document.status === 4 && !form.editMode" ng-model="form.document.order_shipping_amt_manual">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-5 col-xs-offset-7">
                          <input name="includeOrderTax" id="includeOrderTax" tabindex="18" type="checkbox" ng-disabled="true" ng-model="form.document.order_shipping_tax_included">
                          <label class="control-label" for="includeOrderTax" data-translate="1529">Include Tax</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-7 control-label" data-translate="861">Shipping Method</label>
                      <div class="col-xs-5">
                        <select tabindex="12" class="form-control" id="orderShippingMethod" name="orderShippingMethod" ng-disabled="form.document.status === 4 && !form.editMode" ng-model="form.document.order_ship_method_sid" ng-options="sm.sid as sm.method for sm in shipMethods">
                          <option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-7 control-label" data-translate="2963">Shipping Tax Amount</label>
                      <div class="col-xs-5">
                        <input type="text" id="orderShippingTaxAmount" name="orderShippingTaxAmount" class="form-control" data-currency-formatter="" numberonly="" ng-disabled="true" ng-model="form.document.order_shipping_tax_amt">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-7 control-label" data-translate="2964">Shipping Tax %</label>
                      <div class="col-xs-5">
                        <input type="text" id="orderShippingTaxPercent" name="orderShippingTaxPercent" class="form-control" ng-disabled="true" ng-model="form.document.order_shipping_tax_perc">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-xs-7 control-label" data-translate="2965">Tracking Number</label>
                      <div class="col-xs-5">
                        <input type="text" id="orderShippingTrackingNumber" name="orderShippingTrackingNumber" class="form-control" ng-disabled="form.document.status === 4 && !form.editMode" ng-model="form.document.order_tracking_number">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default height40">
                  <div class="panel-heading">
                    <span data-translate="2966">Shipping Totals</span>
                  </div>
                  <div class="panel-body autoOverflow">
                    <div class="row">
                        <label class="control-label col-xs-8" data-translate="2970">Total Shipping Tax</label>
                        <div class="col-xs-4">
                          <input type="text" id="documentShippingTax" name="documentShippingTax" class="form-control" data-currency-formatter="" numberonly="" ng-disabled="true" ng-model="form.document.transaction_total_shipping_tax">
                        </div>
                    </div>
                    <div class="row top-margin">
                        <label class="control-label col-xs-8" data-translate="2969">Total Shipping W/O Tax</label>
                        <div class="col-xs-4">
                          <input type="text" id="documentShippingTotalWithoutTax" name="documentShippingTotalWithoutTax" class="form-control" data-currency-formatter="" numberonly="" ng-disabled="true" ng-model="form.document.transaction_total_shipping_amt_no_tax">
                        </div>
                    </div>
                    <div class="row top-margin">
                        <label class="control-label col-xs-8" data-translate="2971">Total Shipping With Tax</label>
                        <div class="col-xs-4">
                          <input type="text" id="documentShippingTotalWithTax" name="documentShippingTotalWithTax" class="form-control" data-currency-formatter="" numberonly="" ng-disabled="true" ng-model="form.document.transaction_total_shipping_amt_with_tax">
                        </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-xs-12" ng-show="tabs.associate">
                <div class="panel-body">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="622">Cashier</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <label class="col-xs-4" data-translate="622">Cashier</label>
                        <div class="col-xs-8">
                          <div class="input-group">
                            <select ng-show="!lookupCashier" id="cashier_login_name" name="cashier_login_name" data-permission="PosChangeCashier" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'PosChangeCashier', condition:form.document.status !== 4}]" class="form-control" tabindex="21" ng-options="associate.value as associate.name for associate in associateList" ng-model="form.document.cashier_sid"></select>
                            <input ng-show="lookupCashier" ng-model="form.cashier_name" type="text" id="cashier_login_name_lookup" name="cashier_login_name_lookup" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'PosChangeCashier', condition:form.document.status !== 4}]" class="form-control" tabindex="21" uib-typeahead="associate.value as associate.name for associate in associateList | filter:$viewValue | limitTo:8" uib-typeahead-on-select="employeeSelect(0,$item, $model, $label)">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" ng-disabled="form.document.status === 4||disableEdit" aria-expanded="false" ng-click="lookupCashier=true"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="699">Associate</span>
                    </div>
                    <div class="panel-body" style="margin-bottom:40px;">
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="700">Associate 1</label>
                        <div class="col-xs-6">
                          <div class="input-group">
                            <select ng-show="!lookupEmployee1" id="employee1_login_name" name="employee1_login_name" tabindex="22" class="form-control" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" ng-change="detectDuplicateAssociates(form.document.employee1_sid, 0)" ng-model="form.document.employee1_sid" ng-options="associate.value as associate.name for associate in associateList"><option value="" style="display:none" data-translate="1358">Select...</option>
                            </select>

                            <input ng-show="lookupEmployee1" ng-model="form.associate1" type="text" id="employee1_login_name_lookup" name="employee1_login_name_lookup" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" class="form-control" tabindex="21" uib-typeahead="associate.value as associate.name for associate in associateList | filter:$viewValue | limitTo:8" uib-typeahead-on-select="employeeSelect(1,$item, $model, $label)">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" aria-expanded="false" ng-click="lookupEmployee1=true"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-8 control-label" data-translate="701">Associate 1 Act %</label>
                        <div class="col-xs-4">
                          <input id="activity_percent" name="activity_percent" tabindex="24" type="text" autoselect="true" class="form-control" data-currency-formatter="number" ng-disabled="form.document.employee1_sid === ''" ng-model="form.document.activity_percent">
                        </div>
                      </div>
                      <hr class="hrMargin5">
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="702">Associate 2</label>
                        <div class="col-xs-6">
                          <div class="input-group">
                            <select ng-show="!lookupEmployee2" id="employee2_login_name" name="employee2_login_name" tabindex="26" class="form-control" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" ng-change="detectDuplicateAssociates(form.document.employee2_sid, 1)" ng-model="form.document.employee2_sid" ng-options="associate.value as associate.name for associate in associateList"><option value="" style="display:none" data-translate="1358">Select...</option>
                            </select>

                            <input ng-show="lookupEmployee2" ng-model="form.associate2" type="text" id="employee2_login_name_lookup" name="employee2_login_name_lookup" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" class="form-control" tabindex="21" uib-typeahead="associate.value as associate.name for associate in associateList | filter:$viewValue | limitTo:8" uib-typeahead-on-select="employeeSelect(2,$item, $model, $label)">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" aria-expanded="false" ng-click="lookupEmployee2=true"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-8 control-label" data-translate="703">Associate 2 Act %</label>
                        <div class="col-xs-4">
                          <input id="activity2_percent" name="activity2_percent" tabindex="28" type="text" autoselect="true" class="form-control" data-currency-formatter="number" ng-disabled="form.document.employee2_sid === ''" ng-model="form.document.activity2_percent">
                        </div>
                      </div>
                      <hr class="hrMargin5">
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="704">Associate 3</label>
                        <div class="col-xs-6">
                          <div class="input-group">
                            <select ng-show="!lookupEmployee3" id="employee3_login_name" name="employee3_login_name" tabindex="30" class="form-control" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" ng-change="detectDuplicateAssociates(form.document.employee3_sid, 2)" ng-model="form.document.employee3_sid" ng-options="associate.value as associate.name for associate in associateList"><option value="" style="display:none" data-translate="1358">Select...</option>
                            </select>

                            <input ng-show="lookupEmployee3" ng-model="form.associate3" type="text" id="employee3_login_name_lookup" name="employee3_login_name_lookup" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" class="form-control" tabindex="21" uib-typeahead="associate.value as associate.name for associate in associateList | filter:$viewValue | limitTo:8" uib-typeahead-on-select="employeeSelect(3,$item, $model, $label)">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" aria-expanded="false" ng-click="lookupEmployee3=true"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-8 control-label" data-translate="705">Associate 3 Act %</label>
                        <div class="col-xs-4">
                          <input id="activity3_percent" name="activity3_percent" tabindex="31" type="text" autoselect="true" class="form-control" data-currency-formatter="number" ng-disabled="form.document.employee3_sid === ''" ng-model="form.document.activity3_percent">
                        </div>
                      </div>
                      <hr class="hrMargin5">
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="706">Associate 4</label>
                        <div class="col-xs-6">
                          <div class="input-group">
                            <select ng-show="!lookupEmployee4" id="employee4_login_name" name="employee4_login_name" tabindex="23" class="form-control" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" ng-change="detectDuplicateAssociates(form.document.employee4_sid, 3)" ng-model="form.document.employee4_sid" ng-options="associate.value as associate.name for associate in associateList"><option value="" style="display:none" data-translate="1358">Select...</option>
                            </select>

                            <input ng-show="lookupEmployee4" ng-model="form.associate4" type="text" id="employee4_login_name_lookup" name="employee4_login_name_lookup" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" class="form-control" tabindex="21" uib-typeahead="associate.value as associate.name for associate in associateList | filter:$viewValue | limitTo:8" uib-typeahead-on-select="employeeSelect(4,$item, $model, $label)">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" aria-expanded="false" ng-click="lookupEmployee4=true"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-8 control-label" data-translate="707">Associate 4 Act %</label>
                        <div class="col-xs-4">
                          <input id="activity4_percent" name="activity4_percent" tabindex="25" type="text" autoselect="true" class="form-control" data-currency-formatter="number" ng-disabled="form.document.employee4_sid === ''" ng-model="form.document.activity4_percent">
                        </div>
                      </div>
                      <hr class="hrMargin5">
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="708">Associate 5</label>
                        <div class="col-xs-6">
                          <div class="input-group">
                            <select ng-show="!lookupEmployee5" id="employee5_login_name" name="employee5_login_name" tabindex="27" class="form-control" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" ng-change="detectDuplicateAssociates(form.document.employee5_sid, 4)" ng-model="form.document.employee5_sid" ng-options="associate.value as associate.name for associate in associateList"><option value="" style="display:none" data-translate="1358">Select...</option>
                            </select>
                            <input ng-show="lookupEmployee5" ng-model="form.associate5" type="text" id="employee5_login_name_lookup" name="employee5_login_name_lookup" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" class="form-control" tabindex="21" uib-typeahead="associate.value as associate.name for associate in associateList | filter:$viewValue | limitTo:8" uib-typeahead-on-select="employeeSelect(5,$item, $model, $label)">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" data-permission="EditFormerPOSAssociate,PosChangeAssociate" data-permission-disabled="!form.editMode||(form.document.status === 4)" data-apply-permission-when="[{permission:'EditFormerPOSAssociate', condition:form.document.status === 4},{permission:'PosChangeAssociate', condition:form.document.status !== 4}]" aria-expanded="false" ng-click="lookupEmployee5=true"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div><!-- /btn-group -->
                          </div><!-- /input-group -->
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-8 control-label" data-translate="709">Associate 5 Act %</label>
                        <div class="col-xs-4">
                          <input id="activity5_percent" name="activity5_percent" tabindex="29" type="text" autoselect="true" class="form-control" data-currency-formatter="number" ng-disabled="form.document.employee5_sid === ''" ng-model="form.document.activity5_percent">
                        </div>
                      </div>
                    </div>
                    <!--<div class="row top-margin">
                      <br/>
                    </div>-->
                  </div>
                </div>
              </div>

              <div class="col-xs-12" ng-show="tabs.pricelevels">
                <div class="panel-body">
                  <div class="panel-body">
                    <p data-translate="1531">From the drop-down menu, choose the Price Level you want to apply to the transaction</p>
                    <div class="form-group">
                      <label class="col-xs-6 control-label" data-translate="553">Price Level:</label>
                      <div class="col-xs-6">
                        <select id="price_lvl" name="price_lvl" tabindex="32" class="form-control" ng-disabled="form.document.status === 4" ng-model="form.document.price_lvl" ng-options="p.price_level as p.price_level_name for p in pricelevelList">
                          <option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <div class="checkbox">
                          <label for="applyToNew">
                            <input name="applyToNew" id="applyToNew" tabindex="33" type="checkbox" ng-model="form.priceLevelChangeExisting">
                            <strong data-translate="1532">Apply to Existing Items</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <p>
                          <span data-translate="1534">Making changes will override the current transaction price level.</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12" ng-show="tabs.discounts">
                <div class="panel-body">
                  <div class="row">
                    <div class="panel panel-default">
                      <div class="panel-heading" data-translate="2895">Sale Discount</div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-xs-12 btn-group btn-group-justified">
                            <div class="btn-group">
                              <button event-name="posTransactionDetailsDiscountAmount" onclick="setTimeout(function(){document.getElementById('discountInput1').focus();document.getElementById('discountInput1').select()},100)" ng-click="changeSaleDiscType('amt')" id="discount_amount_button" name="discount_amount_button" type="button" class="btn btn-info" btn-radio="'amt'" data-permission-disabled="(!hasItems && form.document.discount_amount === 0 && form.document.discount_perc === 0) || form.document.status === 4 || (form.discountType === 'amt')" data-collect-permission="" ng-model="form.discountType" ng-disabled="form.discountType === 'amt' || giveDocDiscPermission">
                                <span data-translate="715">Discount Amount</span>
                              </button>
                            </div>
                            <div class="btn-group">
                              <button event-name="posTransactionDetailsDiscountPercent" onclick="setTimeout(function(){document.getElementById('discountInput2').focus();document.getElementById('discountInput2').select()},100)" ng-click="changeSaleDiscType('pct')" id="discount_percent_button" name="discount_percent_button" type="button" class="btn btn-info" btn-radio="'pct'" data-permission-disabled="(!hasItems && form.document.discount_amount === 0 && form.document.discount_perc === 0) || form.document.status === 4 || (form.discountType !== 'amt')" data-collect-permission="" ng-model="form.discountType" ng-disabled="form.discountType !== 'amt' || giveDocDiscPermission">
                                <span data-translate="714">Discount %</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-12 control-label" data-translate="2106">Specify the Amt of discount to apply to the transaction.</label>
                        </div>
                        <div class="row">
                          <div class="col-xs-6" ng-show="saleDiscInput">
                            <input type="text" autofocus ng-disabled="saleDiscountInputDisable()||disableDiscounts()||disableEdit" tabindex="708" name="discountInput" id="discountInput1" class="form-control" data-currency-formatter="" numberonly="" ng-model="form.discountInput" ng-blur="setFirstSaleReason()" min="0">
                          </div>
                          <div class="col-xs-6" ng-show="!saleDiscInput">
                            <input type="text" autofocus ng-disabled="saleDiscountInputDisable()||disableDiscounts()||disableEdit" tabindex="708" name="discountInput" id="discountInput2" class="form-control" percent-field="" placeholder="{{ '5395' | translate }}" ng-model="form.discountInput" ng-blur="setFirstSaleReason()" min="0">
                          </div>
                        </div>
                        <div class="row top-margin">
                          <label class="col-xs-7 control-label" data-translate="716">Discount Reason</label>
                          <div class="col-xs-5">
                            <select id="discount_reason_name" name="discount_reason_name" tabindex="36" class="form-control" ng-disabled="!hasItems || !form.editMode || form.onlyOrderItems" ng-model="form.document.manual_disc_reason" ng-init="form.document.manual_disc_reason = null" ng-options="r.name as r.name for r in discountReasonList">
                              <option value="" style="display:none" data-translate="1358">Select...</option>
                            </select>
                          </div>
                        </div>
                        <div class="row top-margin">
                          <div class="col-xs-6" data-translate="715">Discount Amt</div>
                          <div class="col-xs-6">{{form.document.discount_amount|currency}}</div>
                        </div>
                        <div class="row top-margin">
                          <div class="col-xs-6" data-translate="714">Discount %</div>
                          <div class="col-xs-6">{{form.document.discount_perc|number:numFormat}}</div>
                        </div>
                        <div class="row top-margin">
                          <div class="col-xs-6" data-translate="979">Total:</div>
                          <div class="col-xs-6">{{form.document.total_discount_amt|currency}}</div>
                        </div>
                        <div class="row top-margin">
                          <div class="col-xs-12 btn-group btn-group-justified">
                            <div class="btn-group">
                              <button id="saleSpreadButton" name="saleSpreadButton" type="button" class="btn btn-info" data-permission-disabled="!hasItems || !form.editMode || form.document.discount_Amt === 0" data-collect-permission="" data-permission="GiveDocDiscount" ng-click="spreadDiscount(false, 0)"><span data-translate="3217">Spread</span></button>
                            </div>
                            <div class="btn-group">
                              <button id="saleUnSpreadButton" name="saleUnSpreadButton" type="button" class="btn btn-info" data-permission-disabled="disableUnspread" data-collect-permission="" data-permission="GiveDocDiscount" ng-click="spreadDiscount(true, 0)"><span data-translate="3218">Unspread</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row top-margin10">
                    <div class="panel panel-default">
                      <div class="panel-heading" data-translate="2896">Order Discount</div>
                      <div class="panel-body" style="padding-bottom: 55px;">
                        <div class="col-xs-12 btn-group btn-group-justified">
                          <div class="btn-group">
                            <button id="order_discount_amount_button" onclick="setTimeout(function(){document.getElementById('order_discountInput1').focus();document.getElementById('order_discountInput1').select()},100)" ng-click="changeOrderDiscType('amt')" name="order_discount_amount_button" type="button" class="btn btn-info" btn-radio="'amt'" data-collect-permission="" data-permission-disabled="form.document.status === 4 || disableOrders || (form.discountOrderType === 'amt')" ng-model="form.discountOrderType" ng-disabled="form.discountOrderType === 'amt' || giveDocDiscPermission">
                              <span data-translate="715">Discount Amount</span>
                            </button>
                          </div>
                          <div class="btn-group">
                            <button id="order_discount_percent_button" onclick="setTimeout(function(){document.getElementById('order_discountInput2').focus();document.getElementById('order_discountInput2').select()},100)" ng-click="changeOrderDiscType('pct')" name="order_discount_percent_button" type="button" class="btn btn-info" btn-radio="'pct'" data-collect-permission="" data-permission-disabled="form.document.status === 4 || disableOrders || (form.discountOrderType !== 'amt')" ng-model="form.discountOrderType" ng-disabled="form.discountOrderType !== 'amt' || giveDocDiscPermission">
                              <span data-translate="714">Discount %</span>
                            </button>
                          </div>
                        </div>
                        <div class="row top-margin">
                          <label class="col-xs-12 control-label" data-translate="2106">Specify the Amt of discount to apply to the transaction.</label>
                        </div>
                        <div class="row">
                          <div class="col-xs-6" ng-show="orderDiscInput">
                            <input type="text" ng-blur="setFirstOrderReason()" name="order_discountInput" id="order_discountInput1" class="form-control" data-currency-formatter="" numberonly="" ng-disabled="orderDiscountInputDisable()||disableDiscounts()||disableEdit" ng-model="form.discountInputOrder" min="0">
                          </div>
                          <div class="col-xs-6" ng-show="!orderDiscInput">
                            <input type="text" ng-blur="setFirstOrderReason()" name="order_discountInput" id="order_discountInput2" class="form-control" data-currency-formatter="number" numberonly="" ng-disabled="orderDiscountInputDisable()||disableDiscounts()||disableEdit" ng-model="form.discountInputOrder" min="0">
                          </div>
                        </div>
                        <div class="row top-margin">
                          <label class="col-xs-7 control-label" data-translate="716">Discount Reason</label>
                          <div class="col-xs-5">
                            <select id="order_discount_reason_name" name="order_discount_reason_name" tabindex="36" class="form-control" ng-disabled="!form.orderItems" ng-model="form.document.manual_order_disc_reason" ng-init="form.document.manual_order_disc_reason = null" ng-options="r.name as r.name for r in discountReasonList">
                              <option value="" style="display:none" data-translate="1358">Select...</option>
                            </select>
                          </div>
                        </div>
                        <div class="row top-margin">
                          <div class="col-xs-6" data-translate="715">Discount Amt</div>
                          <div class="col-xs-6">{{form.document.order_discount_amount|currency}}</div>
                        </div>
                        <div class="row top-margin">
                          <div class="col-xs-6" data-translate="714">Discount %</div>
                          <div class="col-xs-6">{{form.document.order_discount_perc|number:numFormat}}</div>
                        </div>
                        <div class="row top-margin">
                          <div class="col-xs-6" data-translate="979">Total</div>
                          <div class="col-xs-6">{{form.document.total_discount_amt|currency}}</div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 btn-group btn-group-justified">
                            <div class="btn-group">
                              <button id="order_SpreadButton" name="order_SpreadButton" type="button" class="btn btn-info" data-permission-disabled="!hasItems || !form.editMode || form.document.order_discount_Amt === 0" data-collect-permission="" data-permission="GiveDocDiscount" ng-click="spreadDiscount(false, 1)"><span data-translate="3217">Spread</span></button>
                            </div>
                            <div class="btn-group">
                              <button id="order_UnSpreadButton" name="order_UnSpreadButton" type="button" class="btn btn-info" data-permission-disabled="disableOrderUnspread" data-collect-permission="" data-permission="GiveDocDiscount" ng-click="spreadDiscount(true, 1)"><span data-translate="3218">Unspread</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12" ng-show="tabs.taxes">
                <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-heading" data-translate="2108">Tax Areas</div>
                    <div class="panel-body">
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="554">Tax Area</label>
                        <div class="col-xs-6">
                          <select id="tax_area_name" name="tax_area_name" tabindex="39" class="form-control" ng-disabled="form.document.status === 4" ng-model="form.document.tax_area_name" ng-options="t.tax_area_name as t.tax_area_name for t in taxareaList">
                            <option value="" style="display:none" data-translate="1358">Select...</option>
                          </select>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="722">Tax Area 2</label>
                        <div class="col-xs-6">
                          <select id="tax_area2_name" name="tax_area2_name" tabindex="40" class="form-control" ng-disabled="form.document.status === 4 || form.document.tax_area2_name.length === 0" ng-model="form.document.tax_area2_name" ng-options="t.tax_area_name as t.tax_area_name for t in taxareaList">
                            <option value="" style="display:none" data-translate="1358">Select...</option>
                          </select>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="720">Tax %</label>
                        <div class="col-xs-6">
                          <input id="tax_area_percent" name="tax_area_percent" tabindex="41" type="text" class="form-control" data-currency-formatter="number" ng-readonly="true" ng-disabled="true" ng-model="form.document.tax_area_percent">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="723">Tax 2%</label>
                        <div class="col-xs-6">
                          <input id="tax_area2_percent" name="tax_area2_percent" tabindex="42" type="text" class="form-control" data-currency-formatter="number" ng-disabled="true" ng-readonly="true" ng-model="form.document.tax_area2_percent">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="721">Tax Amt</label>
                        <div class="col-xs-6">
                          <input id="tax_area_amt" name="tax_area_amt" tabindex="43" type="text" class="form-control" data-currency-formatter="" ng-readonly="true" ng-model="form.document.transaction_tax1_amt">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="724">Tax 2 Amt</label>
                        <div class="col-xs-6">
                          <input id="tax_area2_amt" name="tax_area2_amt" tabindex="44" type="text" class="form-control" data-currency-formatter="" ng-readonly="true" ng-model="form.document.transaction_tax2_amt">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="" data-translate="1536">Tax Breakout</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <label class="col-xs-8 control-label" data-translate="725">Sales Tax Amt</label>
                        <div class="col-xs-4">
                          <input id="sale_tax1_amt" name="sale_tax1_amt" tabindex="45" type="text" class="form-control" data-currency-formatter="data-currency-formatter" ng-readonly="true" ng-model="form.document.sale_tax1_amt">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-8 control-label" data-translate="727">Sales Tax 2 Amt</label>
                        <div class="col-xs-4">
                          <input id="sale_tax2_amt" name="sale_tax2_amt" tabindex="46" type="text" class="form-control" data-currency-formatter="data-currency-formatter" ng-readonly="true" ng-model="form.document.sale_tax2_amt">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-8 control-label" data-translate="726">Order Tax Amt</label>
                        <div class="col-xs-4">
                          <input name="" tabindex="47" type="text" class="form-control" data-currency-formatter="data-currency-formatter" ng-disabled="true" ng-model="form.document.order_tax1_amt">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-8 control-label" data-translate="728">Order Tax 2 Amt</label>
                        <div class="col-xs-4">
                          <input name="" tabindex="48" type="text" class="form-control" data-currency-formatter="data-currency-formatter" ng-disabled="true" ng-model="form.document.order_tax2_amt">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="1537">Tax Rebates</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="1538">Avail Rebate Amt</label>
                        <div class="col-xs-6">
                          <input name="" tabindex="49" type="text" class="form-control" ng-disabled="true">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <div class="col-xs-12">
                          <div class="checkbox">
                            <label for="noTaxRebate">
                              <input name="noTaxRebate" id="noTaxRebate" tabindex="50" type="checkbox" ng-disabled="true">
                              <strong data-translate="733">No Tax Rebate</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="730">Minimum Tax Amt</label>
                        <div class="col-xs-6">
                          <input name="minimumTaxAmt" id="minimumTaxAmt" type="text" tabindex="51" class="form-control" ng-disabled="true">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="731">Tax Rebate %</label>
                        <div class="col-xs-6">
                          <input id="tax_rebate_percent" name="tax_rebate_percent" type="text" tabindex="52" class="form-control" data-currency-formatter="number" ng-disabled="true" ng-model="form.document.tax_rebate_percent">
                        </div>
                      </div>
                      <div class="row top-margin">
                        <div class="col-xs-12">
                          <div class="checkbox">
                            <label for="taxNotPersisted" class="tax_check">
                              <input name="taxNotPersisted" id="taxNotPersisted" tabindex="53" type="checkbox" ng-disabled="true">
                              <strong data-translate="735">Not Persisted</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <label class="col-xs-6 control-label" data-translate="732">Tax Rebate Amt</label>
                        <div class="col-xs-6">
                          <input id="tax_rebate_amt" name="tax_rebate_amt" type="text" tabindex="54" class="form-control" data-currency-formatter="" ng-disabled="true" ng-model="form.document.tax_rebate_Amt">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span data-translate="1539">Detax Transaction</span>
                    </div>
                    <div class="panel-body height30">
                      <div class="row">
                        <label class="col-xs-6 control-label" data-translate="737">Detax Amt</label>
                        <div class="col-xs-6">
                          <input name="" type="text" tabindex="55" autoselect="true" class="form-control" ng-disabled="true" data-currency-formatter="" ng-model="form.document.detax_Amt">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-xs-offset-6">
                          <div class="checkbox">
                            <label for="detax_flag">
                              <input id="detax_flag" name="detax_flag" tabindex="56" type="checkbox" ng-model="form.document.detax_flag" ng-disabled="true">
                              <strong data-translate="738">Detax</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row top-margin">
                        <div class="col-xs-12">
                          <button type="button" name="detaxButton" id="detaxButton" class="btn btn-info btn-block" data-permission="AllowManualDetax" data-permission-disabled="form.document.status === 4 || form.document.detax_flag || form.preferences.taxes_general_tax_method === '0' || form.preferences.taxes_general_tax_method === '3'" ng-click="detaxTransaction()">
                            <span data-translate="738">Detax</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12" ng-show="tabs.notes">
                <div class="panel-body height90">
                  <div class="row">
                    <div class="col-xs-12">
                      <button event-name="posTransactionDetailsGeneralNotes" id="generalNotes" tabindex="57" class="btn btn-info btn-block" type="button" data-permission="EditFormerPOSDetails" data-collect-permission="" data-permission-disabled="form.editNoteDisabled == 1" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" ng-click="editThisNote(form.document.notes_general, 1)">
                        <span data-translate="1540">General Notes</span>
                      </button>
                    </div>
                  </div>
                  <div class="row top-margin">
                    <div class="col-xs-12">
                      <button event-name="posTransactionDetailsSaleNotes" id="saleNotes" tabindex="58" class="btn btn-info btn-block" type="button" data-permission="EditFormerPOSDetails" data-collect-permission="" data-permission-disabled="form.editNoteDisabled == 2" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" ng-click="editThisNote(form.document.notes_sale, 2)">
                        <span data-translate="1541">Sale Notes</span>
                      </button>
                    </div>
                  </div>
                  <div class="row top-margin">
                    <div class="col-xs-12">
                      <button event-name="posTransactionDetailsOrderNotes" id="orderNotes" tabindex="59" class="btn btn-info btn-block" type="button" data-permission="EditFormerPOSDetails" data-collect-permission="" data-permission-disabled="form.editNoteDisabled == 3" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" ng-show="form.orderItems" ng-click="editThisNote(form.document.notes_order, 3)">
                        <span data-translate="1542">Order Notes</span>
                      </button>
                    </div>
                  </div>
                  <div class="row top-margin">
                    <div class="col-xs-12">
                      <button event-name="posTransactionDetailsReturnNotes" id="returnNotes" tabindex="60" class="btn btn-info btn-block" type="button" data-permission="EditFormerPOSDetails" data-collect-permission="" data-permission-disabled="form.editNoteDisabled == 4" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:form.document.status === 4}]" ng-show="form.returnItems" ng-click="editThisNote(form.document.notes_return, 4)">
                        <span data-translate="1543">Return Notes</span>
                      </button>
                    </div>
                  </div>
                  <div class="row top-margin">
                    <div class="col-xs-12">
                      <textarea tabindex="61" id="transNoteEditor" name="transNoteEditor" rows="16" cols="" class="form-control" ui-event="{ blur : 'saveTransNote();'}" ng-disabled="form.noteEditorDisabled && !form.editMode" ng-model="form.notedetails"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <nav class="navbar navbar-fixed-bottom" ng-hide="tabs.options">
          <div class="container-fluid">
            <div class="navbar-header navbar-portrait">
              <div class="row">
                <div class="col-xs-12">
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group"><button event-name="" type="button" id="okButton" class="btn btn-primary" ng-click="saveDetails(true)"><span data-translate="1.1" class="ng-scope">Ok</span></button></div>
                    <!--<div class="btn-group" ng-hide="tabs.main"><button event-name="" type="button" id="applyButton" class="btn btn-primary" ng-click="saveDetails(false)"><span data-translate="1.3" class="ng-scope">Apply</span></button></div>-->
                    <div class="btn-group" ng-hide="tabs.main"><button event-name="" type="button" id="cancelButton" class="btn btn-primary" ng-click="closeForm()"><span data-translate="1.2" class="ng-scope">Cancel</span></button></div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-target="#bs-example-navbar-collapse-1" ng-click="changeTemplate('options')">
                        <img src="/images/PrismAppIconTrans_Set_PrismAppIconReverse40.png" style="height: 40px; margin-top: -3px;padding-left: 10px;">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    
  
</form>
<script type="text-javascript">iosModalFix();</script>
