<form name="printDialogueForm" id="printDialogueForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{printDialogTitle}}</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-if="printInfo.area.aValues.showdesignselection" ng-class="{'form-group': true, 'has-success': printDialogueForm.design.$valid, 'has-error': !printSpec.design}">
                <label for="designSelection" class="col-xs-3 control-label" data-translate="525">Print Design:</label>
                <div class="col-xs-9">
                    <select id="designSelection" class="form-control" name="design" ng-model="printSpec.design" ng-options="d.sid as d.design_name for d in printTemplates">
                        <option value="" style="display:none" data-translate="1358">Select...</option>
                    </select>
                </div>
            </div>
            <div ng-if="printInfo.area.aValues.showprinterselection" ng-class="{'form-group': true, 'has-success': printDialogueForm.printer.$valid, 'has-error': !printDialogueForm.printer.$valid || printSpec.printer ==='DEFAULT'}">
                <label for="printerOptions" class="col-xs-3 control-label" data-translate="526">Printer:</label>
                <div class="col-xs-9">
                    <select ng-change="refreshDesigns()" id="printerOptions" class="form-control" name="printer" ng-model="printSpec.printer" ng-options="p.sid as p.displayname for p in printerList | orderBy:'typename':true" required="required">
                        <option value="" style="display:none" data-translate="1358">Select...</option>
                    </select>
                </div>
            </div>
            <!--
            <div ng-if="printTags && (docType ==='invnTags')" class="form-group">
              <div class="col-xs-12"><b>Source</b></div>
              <div class="col-xs-4 col-xs-offset-2"><input type="radio" ng-model='sourceType' value="selected" /> Selected Items</div>
              <div class="col-xs-4 col-xs-offset-2"><input type="radio" ng-model='sourceType' value="all"/> All Listed Items</div>
            </div>
            -->
            <div ng-if="printTags && printInfo.area.aValues.shownumbercopies" class="form-group">
                <div class="col-xs-12"><b>Quantity</b></div>
                <div class="col-xs-10 col-xs-offset-2">
                  <input type="radio" ng-model="printSpec.type" name="tagCopyType" value="2"> <span data-translate="7041">On Hand Quantity</span>
                </div>
                <div class="col-xs-10 col-xs-offset-2" ng-hide="hideDocQty">
                  <input type="radio" ng-model="printSpec.type" name="tagCopyType" value="1"> <span data-translate="7042">Document Quantity</span>
                </div>
                <div class="col-xs-10 col-xs-offset-2">
                  <input type="radio" ng-model="printSpec.type" name="tagCopyType" value="0"> <span data-translate="4254">Copies</span>
                </div>
            </div>

            <div class="form-group" ng-if="printInfo.area.aValues.shownumbercopies">
                <label ng-if="!printTags" for="printQuantity" class="col-xs-5 control-label" data-translate="4254">Copies</label>
                <label ng-if="printTags && (printSpec.type === 0)" for="printQuantity" class="col-xs-5 control-label" data-translate="4254">Copies</label>
                <label ng-if="printTags && (printSpec.type !== 0)" for="printQuantity" class="col-xs-5 control-label" data-translate="4255">Qty Multiplier</label>
                <div class="col-xs-7">
                    <div class="col-xs-3">
                        <button event-name="posPrintDialogueDecrement" id="decrementPrintQuantityButton" class="btn btn-info form-control" type="button" ng-click="decrementPrintQuantity()">-</button>
                    </div>
                    <div class="col-xs-6">
                        <input id="printQuantity" type="text" class="form-control text-center" min="1" pattern="\d*" maxlength="2" ng-blur="checkForBlankPrintQuantity()" ng-model="printSpec.quantity">
                    </div>
                    <div class="col-xs-3">
                        <button event-name="posPrintDialogueIncrement" id="incrementPrintQuantityButton" class="btn btn-info form-control" type="button" ng-click="incrementPrintQuantity()">+</button>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="!printTags && printInfo.area.aValues.showemaildesignselection" ng-class="{'form-group': true, 'has-success': printDialogueForm.emailDesign.$valid, 'has-error': !printSpec.emailDesign}">
                <label for="emailDesignSelection" class="col-xs-3 control-label" data-translate="1583">Email Design:</label>
                <div class="col-xs-9">
                    <select id="emailDesignSelection" class="form-control" name="design" ng-model="printSpec.emailDesign" ng-options="d.sid as d.design_name for d in emailTemplates">
                        <option value="" style="display:none" data-translate="1358">Select...</option>
                    </select>
                </div>
            </div>
            <div ng-if="!printTags && (printInfo.area.aValues.showemailbutton || printInfo.area.aValues.showprintemailbutton)">
                <div for="emailAddress" class="col-xs-3 text-right">
                    <p class="form-control-static">
                        <strong data-translate="529">Email Address:</strong>
                    </p>
                </div>
                <div class="col-xs-9" ng-if="!purchaseOrder.active">
                    <input id="emailAddress" name="emailAddress" type="email" class="form-control" ng-model="printSpec.email">
                </div>
                <div class="col-xs-9" ng-if="purchaseOrder.active">
                    <div class="input-group">
                        <input type="email" class="form-control" ng-model="printSpec.email" data-permission="PoEnterFreeFormEmailAddress">
                        <div class="input-group-btn dropdown" dropdown="">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="vendorEmails.length===0"><span data-translate="7043">Select Email</span>
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#" ng-click="selectEmail(email.emailaddress)" ng-repeat="email in vendorEmails">{{email.emailaddress}}</a>
                                </li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group" ng-if="printInfo.area.aValues.showprintbutton">
                    <button type="button" class="btn btn-lg btn-default" event-name="posPrintDialoguePrint" id="printButton" ng-click="print()" ng-disabled="!printSpec.design||!printSpec.printer||disablePrintButton">
                        <span data-translate="522">Print</span>
                    </button>
                </div>
                <div class="btn-group" role="group" ng-if="printInfo.area.aValues.showpreviewbutton">
                    <button type="button" class="btn btn-lg btn-default" event-name="posPrintDialoguePreview" id="previewButton" ng-click="preview()" ng-disabled="!printSpec.design||disablePreviewButton">
                        <span data-translate="523">Preview</span>
                    </button>
                </div>
                <div class="btn-group" role="group" ng-if="!printTags && printInfo.area.aValues.showemailbutton">
                    <button type="button" class="btn btn-lg btn-default" event-name="posPrintDialogueEmail" name="emailButton" id="emailButton" ng-click="email()" ng-disabled="disableEmailButton||!printSpec.emailDesign || !printSpec.email || (printDialogueForm.emailAddress&&!printDialogueForm.emailAddress.$valid)||(printDialogueForm.vendorEmailAddress&&!printDialogueForm.vendorEmailAddress.$valid)">
                        <span data-translate="524">Email</span>
                    </button>
                </div>
            </div>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group" ng-if="!printTags && printInfo.area.aValues.showprintemailbutton">
                    <button type="button" class="btn btn-lg btn-default" event-name="posPrintDialoguePrintEmail" name="printEmailButton" id="printEmailButton" ng-click="printemail()" ng-disabled="disablePrintEmailButton||!printSpec.email|| !printSpec.emailDesign || !printSpec.design || !printSpec.printer || (printDialogueForm.emailAddress&&!printDialogueForm.emailAddress.$valid)||(printDialogueForm.vendorEmailAddress&&!printDialogueForm.vendorEmailAddress.$valid)">
                        <span data-translate="4449">Print/Email</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-lg btn-default" event-name="posPrintDialogueCancel" id="cancelPrintButton" ng-click="closeForm()">
                        <span data-translate="1.2">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </form>