<form name="form.itemReturnDetailForm" id="itemReturnDetailForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1410">Item Return Quantity</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <p data-translate="1411">This item has more than quantity 1 available for returns. Please select the correct quantity to be returned.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">
                        <strong data-translate="1399">Available Qty:</strong>
                    </label>
                    <div class="col-xs-9">
                        <input class="form-control" id="returnItemDetailAvailableQuantity" name="returnItemDetailAvailableQuantity" type="text" ng-readonly="true" numberonly decimals="{{returnItemDetails.inventory_use_quantity_decimals}}" ng-model="returnItemDetails.availableQuantity">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">
                        <strong data-translate="913">Quantity to Return:</strong>
                    </label>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" id="quantityToReturn" name="quantityToReturn" decimals="{{returnItemDetails.inventory_use_quantity_decimals}}" numberonly ng-required="true" ng-model="returnItemDetails.returningThisMany">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">
                        <strong data-translate="1412">Return Reason:</strong>
                    </label>
                    <div class="col-xs-9">
                        <select id="returnReason" name="returnReason" class="form-control" tabindex="10" ng-model="form.reason_code" ng-options="r.name as r.name for r in returnReasonsList"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posItemReturnDetailOk" id="returnItemDetailOkButton" name="returnItemDetailOkButton" tabindex="3" type="submit" class="btn btn-lg btn-default" ng-click="okButton()" ng-disabled="form.itemReturnDetailForm.$invalid"><span data-translate="1.1">OK</span></button>
                        <button event-name="posItemReturnDetailCancel" id="returnItemDetailCancelButton" name="returnItemDetailCancelButton" tabindex="4" type="button" class="btn btn-lg btn-default" ng-click="cancelButton()"><span data-translate="1.2">Cancel</span></button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
