<form name="chooseAssociateForm" id="chooseAssociateForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="modal-title" data-translate="1320">Select Associate</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <p data-translate="1321">Please select an associate for this transaction:</p>
                    <div class="row">
                        <div class="col-xs-4 text-right">
                            <p class="form-control-static">
                                <strong data-translate="699">Associate:</strong>
                            </p>
                        </div>
                        <div class="col-xs-8">
                          <select-associate id="associate" name="associate" ng-model="associate.sid" ng-change="chooseAssociate()"></select-associate>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posChooseAssociateCancel" id="chooseAssociateCancelButton" type="button" class="btn btn-lg btn-default" ng-click="abortChoice()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
