<form novalidate="" id="giftCardBalanceForm" name="giftCardBalanceForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="modal-title">{{form.gcAction}} <span data-translate="5939">Gift Card Details</span></h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-translate="2095">Card No</label>
                    <div class="col-xs-8">
                        <input maxlength="20" id="card_number" name="card_number" class="form-control text-right" type="text" required="required" ng-model="form.card_number">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" id="giftCardBalanceBalanceButton" event-name="giftCardBalanceBalance" name="giftCardBalanceBalanceButton" class="btn btn-lg btn-default" ng-click="getBalance()"><span data-translate="1.1">Ok</span></button>
                        <button type="button" id="giftCardBalanceCancelButton" event-name="giftCardBalanceCancel" name="giftCardBalanceCancelButton" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
