<form name="orderDetailsForm" id="orderDetailsForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="778">Order Details</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 data-translate="663">SO Deposit</h4>
                <p data-translate="1435">Please select the deposit amount to be taken with this transaction.</p>

              </div>
            </div>
            <div class="row top-margin">
              <label class="col-xs-6" data-translate="664">Orders Total Due</label>
              <div class="col-xs-6">
                <input type="text" id="ordersTotalDue" name="orderBalanceDue" class="form-control ng-pristine ng-valid" data-currency-formatter="data-currency-formatter" ng-readonly="true" ng-model="form.orderBalanceDue" readonly="readonly">
              </div>
            </div>
            <div class="row top-margin">
              <label class="col-xs-6 control-label ng-scope" data-translate="665">Minimum Deposit</label>
              <div class="col-xs-6">
                <input type="text" id="minimumDeposit" name="minimumDeposit" class="form-control ng-pristine ng-valid" data-currency-formatter="data-currency-formatter" ng-readonly="true" ng-model="form.deposit_amt_required" readonly="readonly">
              </div>
            </div>
            <div class="row top-margin">
              <label class="col-xs-6 control-label ng-scope" data-translate="666">Deposit Amount</label>
              <div class="col-xs-6">
                <input type="text" id="depositAmount" name="depositAmount" class="form-control ng-pristine ng-valid" ng-focuser="form.depositFocus" ng-model="form.depositAmount" numberonly="numberonly" ng-change="calculateDeposit()">
              </div>
            </div>
            <div class="row top-margin">
              <div class="col-xs-12 btn-group btn-group-justified">
                <div class="btn-group"><button event-name="posOrderDepositAmount" type="button" class="btn btn-info ng-pristine ng-valid active" ng-model="form.calcType" btn-radio="'Amt'" ng-click="calculateDeposit()"><span data-translate="1440">Amt</span></button></div>
                <div class="btn-group"><button event-name="posOrderDepositPercent" type="button" class="btn btn-info ng-pristine ng-valid" ng-model="form.calcType" btn-radio="'Perc'" ng-click="calculateDeposit()">&nbsp;%&nbsp;</button></div>
              </div>
            </div>
            <div class="row top-margin">
              <label class="col-xs-6 control-label ng-scope" data-translate="1441">Deposit %</label>
              <div class="col-xs-6">
                <p class="form-control-static ng-binding">0</p>
              </div>
            </div>
            <div class="row top-margin">
              <label class="col-xs-6 control-label ng-scope" data-translate="666">Deposit Amount</label>
              <div class="col-xs-6">
                <p class="form-control-static ng-binding">$0.00</p>
              </div>
            </div>
            <div class="row top-margin">
              <div class="col-xs-12 btn-group btn-group-justified">
                <div class="btn-group">
                  <button event-name="posOrderDepositMinimumDeposit" class="btn btn-info form-control" type="button" ng-click="payMinimumDue()"><span data-translate="667">Minimum Deposit</span></button>
                </div>
                <div class="btn-group">
                  <button event-name="posOrderDepositBalance" class="btn btn-info form-control" type="button" ng-click="payBalanceDue()"><span data-translate="932">Balance</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        <div class="row">
          <div class="col-xs-12 btn-group btn-group-justified">
            <div class="btn-group"><button event-name="posOrderDepositOk" class="btn btn-lg btn-default" type="submit" ng- data-dismiss="modal" ng-disabled="!orderDepositForm.depositAmount.$valid"><span data-translate="1.1">OK</span></button></div>
            <div class="btn-group"><button event-name="posOrderDepositCancel" class="btn btn-lg btn-default" type="button" data-dismiss="modal"><span data-translate="1.2">Cancel</span></button></div>
          </div>
        </div>
      </div>
    </div>
</form>
