<form name="tenderTypesDialog" id="tenderTypesDialog" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1490">Change Tender Type</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row" ng-if="tenderInformationReady">
                            <button event-name="posTenderTypesCash" type="button" id="CashButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('Cash')" ng-if="!AvailableTenders.cashButtonDisabled"><span data-translate="571">Cash</span></button>
                            <button event-name="posTenderTypesCheck" type="button" id="CentralGiftCardButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('Central Gift Card')" ng-if="!AvailableTenders.centralGiftCardDisabled"><span data-translate="1028">Central Gift Card</span></button>
                            <button event-name="posTenderTypesCheck" type="button" id="CheckButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('Check')" ng-if="!AvailableTenders.checkButtonDisabled"><span data-translate="572">Check</span></button>
                            <button event-name="posTenderTypesCredit" type="button" id="CreditButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('CreditCard')" ng-if="!AvailableTenders.creditButtonDisabled"><span data-translate="573">Credit</span></button>
                            <button event-name="posTenderTypesDebit" type="button" id="DebitCardButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('Debit Card')" ng-if="!AvailableTenders.debitButtonDisabled"><span data-translate="574">Debit</span></button>
                            <button event-name="posTenderTypesCOD" type="button" id="CodButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('COD')" ng-if="!AvailableTenders.codButtonDisabled"><span>{{codName}}</span></button>
                            <button event-name="posTenderTypesCharge" type="button" id="ChargeButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('Charge')" ng-if="!AvailableTenders.chargeButtonDisabled"><span data-translate="1089">Charge</span></button>
                            <button event-name="posTenderTypesDeposit" type="button" id="DepositButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('Deposit')" ng-if="!AvailableTenders.depositButtonDisabled&&!noDeposit"><span data-translate="578">Deposit</span></button>
                            <button event-name="posTenderTypesForeignCurrency" type="button" id="ForeignCurrencyButton" class="btn btn-lg btn-info btn-block minusPadding" ng-click="setTender('Foreign Currency')" ng-if="!AvailableTenders.foreignCurrencyButtonDisabled"><span data-translate="579">Foreign Currency</span></button>
                            <button event-name="posTenderTypesGiftCard" type="button" id="GiftCardButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('Gift Card')" ng-if="!AvailableTenders.giftCardButtonDisabled"><span data-translate="575">Gift Card</span></button>
                            <button event-name="posTenderTypesGiftCert" type="button" id="GiftCertButton" class="btn btn-lg btn-info btn-block" ng-click="setTender('Gift Certificate')" ng-if="!AvailableTenders.giftCertButtonDisabled"><span data-translate="576">Gift Certificate</span></button>
                            <button event-name="posTenderTypesStoreCredit" ng-disabled="checkCreditBalance()" type="button" id="StoreCreditButton" class="btn btn-lg btn-info btn-block minusPadding" ng-click="setTender('Store Credit')" ng-if="(!centralCreditEnabled) && (!AvailableTenders.storeCreditButtonDisabled)"><span data-translate="577">Store Credit</span></button>
                            <button event-name="posTenderTypesCentralCredit" ng-disabled="checkCreditBalance()" type="button" id="CentralCreditButton" class="btn btn-lg btn-info btn-block minusPadding" ng-click="setTender('Central Credit')" ng-if="centralCreditEnabled && (!AvailableTenders.storeCreditButtonDisabled)"><span data-translate="577">Store Credit</span></button>
                        </div>
                        <div class="row" ng-if="!tenderInformationReady">
                            <span data-translate="3748">loading tender types</span>...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posTenderTypesCancel" id="cancelTenderChangeButton" type="button" class="btn btn-default btn-group-justified" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
