<form name="form.discardReasonRequiredForm" id="discardReasonRequiredForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4><img src="/images/pos/item_type_48.png"> <span data-translate="4806">Discard Reason Required</span></h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <p data-translate="4807">You must supply a discard reason.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">
                        <strong data-translate="4808">Discard Reason:</strong>
                    </label>
                    <div class="col-xs-9">
                        <select id="discardReason" name="discardReason" class="form-control" tabindex="10" ng-model="form.discardReason" ng-options="r.name as r.name for r in discardReasonsList"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posDiscardReasonRequiredOk" id="discardReasonRequiredOkButton" name="discardReasonRequiredOkButton" tabindex="3" type="submit" class="btn btn-lg btn-default" ng-click="setDiscardReason()" ng-disabled="form.discardReason === ''"><span data-translate="1.1">OK</span></button>
                        <button event-name="posDiscardReasonRequiredCancel" id="discardReasonRequiredCancelButton" name="discardReasonRequiredCancelButton" tabindex="4" type="button" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
