<form name="orderFulfillmentForm" id="orderFulfillmentForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1445">Order Fulfillment</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <button event-name="posOrderFulfillmentUp" type="button" class="btn btn-info" ng-disabled="selectPreviousItemButton" ng-click="changeSelectedOrderItem(true)"><span data-translate="3.2">Up</span></button>
                <button event-name="posOrderFulfillmentDown" type="button" class="btn btn-info" ng-disabled="selectNextItemButton" ng-click="changeSelectedOrderItem(false)"><span data-translate="3.3">Down</span></button>
              </div>
            </div>
            <div class="row top-margin">
              <p ng-show="items.length === 0" class="col-xs-12 text-center"><span data-translate="7070">No items found that can be fullfilled.</span></p>
              <div class="col-xs-12">
                <div id="orderItems" class="ModalSearchPanel autoOverflow">
                  <div class="list-group">
                    <a name="link{{$index}}" event-name="posOrderFullfillmentThisOrderItem" id="searchOrderItemsResult{{$index}}" index="{{$index}}" data-item-group="data-item-group" class="list-group-item ng-class:{'header':thisOrderItem.kit_flag == 3, 'component':thisOrderItem.kit_flag == 5}" ng-repeat="thisOrderItem in items" ng-click="selectOrderItem($index)">
                    <div class="row">
                      <div class="col-xs-6 ng-binding">
                        <strong data-translate="675">Desc 1:</strong>
                        {{ thisOrderItem.item_description1 }}
                      </div>
                      <div class="col-xs-6 ng-binding text-right">
                        <strong data-translate="773">Price:</strong>
                        {{ thisOrderItem.price|currency}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 ng-binding">
                        <strong data-translate="677">UPC:</strong>
                        {{ thisOrderItem.scan_upc|padUPC }}
                      </div>
                      <div class="col-xs-6 ng-binding text-right">
                        <strong data-translate="721">Tax Amount:</strong>
                        {{ thisOrderItem.tax_amount|tax }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-3 ng-binding">
                        <strong data-translate="764">Qty:</strong>
                        {{ thisOrderItem.quantity| number  }}
                      </div>
                      <div class="col-xs-3 ng-binding">
                        <strong data-translate="888">Sent:</strong>
                        {{ thisOrderItem.order_quantity_filled| number  }}
                      </div>
                      <div class="col-xs-3 ng-binding">
                        <strong data-translate="889">Due:</strong>
                        {{ (thisOrderItem.quantity - thisOrderItem.order_quantity_filled)| number }}
                      </div>
                      <div class="col-xs-3 ng-binding">
                        <strong data-translate="890">Fill:</strong>
                        {{ thisOrderItem.fill_qty| number  }}
                      </div>
                    </div>
                    <div class="row" ng-show="thisOrderItem.kit_flag == 3 || thisOrderItem.kit_flag == 5">
                        <div class="col-xs-12">
                          <strong class="text-success" ng-show="thisOrderItem.kit_flag == 3"><span data-translate="1945">This Item Is A Package</span></strong>
                          <strong class="text-warning" ng-show="thisOrderItem.kit_flag == 5"><span data-translate="1946">This Item Is A Package Component</span></strong>
                      </div>
                    </div>
                  </a><!-- end ngRepeat: thisOrderItem in items -->
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                        <span class="sr-only" data-translate="6253">Warning:</span>
                        <span data-translate="6254">The due date for this order has passed.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 btn-group btn-group-justified bottomsquare">
                  <div class="btn-group">
                    <button event-name="posOrderFulfillmentFillItemQty" id="FillItemQuantityButton" type="button" tabindex="5" class="btn btn-lg btn-default" ng-disabled="fillItemQtyDisabled" ng-click="fillItemQuantity()"><span data-translate="887">Item Qty</span></button>
                  </div>
                  <div class="btn-group">
                    <button event-name="posOrderFulfillmentFillItemDue" id="FillItemDueButton" type="button" tabindex="3" class="btn btn-lg btn-default" ng-disabled="fillItemDueDisabled" ng-click="fillItemDue()"><span data-translate="886">Item Due</span></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 btn-group btn-group-justified topsquare bottomsquare">
                  <div class="btn-group">
                    <button event-name="posOrderFulfillmentFillAllDue" id="FillAllDueButton" type="button" tabindex="4" class="btn btn-lg btn-default" ng-disabled="fillAllDueDisabled" ng-click="fillAllDue()"><span data-translate="885">All Due</span></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 btn-group btn-group-justified topsquare">
                  <div class="btn-group">
                    <button event-name="posOrderFulfillmentOk" id="OrderProcessingOKButton" type="submit" tabindex="5" class="btn btn-lg btn-default" ng-disabled="OKButtonDisabled" ng-click="processFulfillments()" disabled="disabled"><span data-translate="1.1">OK</span></button>
                  </div>
                  <div class="btn-group">
                    <button event-name="posOrderFulfillmentCancel" id="cancelOrderProcessingButton" type="button" tabindex="6" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>
