<ng-form class="modal-default" name="pendingDocumentForm" id="pendingDocumentForm">
    <div class="container-fluid">
        <div class="modal-header">
          <h4 data-translate="504">Pending Transactions</h4>
        </div>
        <div class="modal-body height85 autoOverflow">
            <div class="row">
                <div class="col-xs-12" id="pendingTransactionLookup" ng-if="pendingTransactions.length === undefined">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label" for="start-date" data-translate="1451">From Date:</label>
                            <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="end-date" data-translate="1452">To Date:</label>
                            <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
                            </p>
                        </div>

                        <div class="form-group" id="workstationDiv">
                            <label for="workstation" data-translate="809">Workstation</label>
                            <select id="workstation" tabindex="4" ng-model="tlist.workstation" class="form-control" ng-options="w.sid as w.workstation_name for w in workstationList" ng-change="searchTransactions()">
                                <option value="undefined" data-translate="1143">All</option>
                            </select>
                        </div>
                        <div class="form-group" id="transStateDiv">
                            <label for="transState" data-translate="1453">Status</label>
                            <select id="transState" tabindex="3" class="form-control" ng-model="tlist.trans_state" ng-change="searchTransactions()">
                              <option value="all" data-translate="1143">All</option>
                              <option value="held" data-translate="1454">Held</option>
                              <option value="pending" data-translate="3012">Pending</option>
                              <option value="discard" data-translate="3215">Discard</option>
                            </select>
                        </div>
                        <div class="form-group" id="sortByDiv">
                            <label for="sortBy" data-translate="634">Sort By</label>
                            <select id="sortBy" tabindex="1" class="form-control" ng-model="tlist.sort_by" ng-change="searchTransactions()">
                                <option value="bt_last_name" data-translate="1456">Customer Name</option>
                                <option value="created_date" data-translate="1457">Created Date</option>
                                <option value="transaction_total_amt" data-translate="1458">Document Total</option>
                            </select>
                        </div>
                        <div class="form-group" id="sortOrderDiv">
                            <label for="sortOrder" data-translate="908">Sort Order:</label>
                            <select id="sortOrder" tabindex="2" class="form-control" ng-model="tlist.sort_order" ng-change="searchTransactions()">
                                <option value="asc" data-translate="1459">Ascending</option>
                                <option value="desc" data-translate="1460">Descending</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" id="noTransactionResults" ng-if="pendingTransactions.length < 1">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <br><br>
                            <strong data-translate="2333">No Records Found.</strong>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" id="pendingTransactionResults" ng-if="pendingTransactions.length > 0">
                    <div id="pendingTransactionSearchResults" class="height70 autoOverflow">
                        <div class="list-group">
                            <a name="link{{$index}}" event-name="posPendingTransactionsThisTransaction" class="list-group-item" id="searchTransactionsResult{{$index}}" tabindex="10{{$index}}" index="{{$index}}" data-item-group="data-item-group" ng-repeat="thisTransaction in pendingTransactions" ng-click="selectTransaction($index)">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <strong data-translate="3936">Created</strong> {{ thisTransaction.created_datetime|cleanDate:'locale' }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <strong data-translate="790">Customer</strong> {{thisTransaction.bt_first_name}} {{thisTransaction.bt_last_name}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong data-translate="623">Sold Qty</strong> {{ thisTransaction.sold_qty| number }}
                                    </div>
                                    <div class="col-xs-4">
                                        <strong data-translate="625">Return Qty</strong> {{ thisTransaction.return_qty| number }}
                                    </div>
                                    <div class="col-xs-4">
                                        <strong data-translate="624">Order Qty</strong> {{ thisTransaction.order_qty| number }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong data-translate="622">Cashier</strong> {{ thisTransaction.cashier_login_name }}
                                    </div>
                                    <div class="col-xs-4">
                                        <strong data-translate="795">Document Total</strong> {{ thisTransaction.transaction_total_amt|currency }}
                                    </div>
                                    <div class="col-xs-4">
                                        <strong data-translate="627">Tender Type</strong> {{ thisTransaction.tender_name }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header navbar-portrait">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-sm btn-group-justified" ng-if="pendingTransactions.length === undefined">
                                <div class="btn-group"><button class="btn btn-sm btn-default" ng-disabled="disablePosPendingLookup" id="search" event-name="posSearchTransactionsSearch" tabindex="4" ng-click="searchTransactions()"><span data-translate="630">Search</span></button></div>
                                <div class="btn-group"><button class="btn btn-sm btn-default" type="button" id="resetSearchButton" event-name="posSearchTransactionsReset" tabindex="5" ng-click="resetSearchFields()"><span data-translate="614">Reset</span></button></div>
                                <div class="btn-group"><button class="btn btn-sm btn-default closeTransaction" type="button" id="closeSearchButton" event-name="posSearchTransactionsClose" tabindex="6" ng-click="closeForm()"><span data-translate="583">Close</span></button></div>
                            </div>
                            <div class="btn-group btn-group-sm btn-group-justified" ng-if="pendingTransactions.length !== undefined">
                                <div class="btn-group"><button class="btn btn-sm btn-default" type="button" id="back" event-name="posSearchTransactionsBack" tabindex="4" ng-click="backToSearch()"><span data-translate="801">Back</span></button></div>
                                <div class="btn-group"><button class="btn btn-sm btn-default" type="button" id="view" event-name="posSearchTransactionsView" tabindex="5" ng-click="editSelectedTransaction(false)" ng-disabled="gotoTransactionButton"><span data-translate="3214">View</span></button></div>
                                <div class="btn-group"><button class="btn btn-sm btn-danger" type="button" id="delete" event-name="posSearchTransactionsDiscard" tabindex="6" ng-click="discardTransaction()" ng-disabled="discardTransactionButton"><span data-translate="3215">Discard</span></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-header pull-right"></div>
            </div>
        </nav>
    </div>
</ng-form>
