<form name="transactionSearchForm" id="transactionSearchForm">
    <div class="container-fluid">
        <div class="panel height98">
            <!--<div class="modal-content">-->
            <div ng-if="pendingTransactions === null">
                <div class="panel-heading">
                  <h4 class="modal-title" data-translate="503">Transaction Lookup</h4>
                </div>
                <div class="panel-body height85 autoOverflow">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-danger" role="alert" ng-if="before>today">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                <span data-translate="5088">The From date cannot be greater than the To date.</span>
                            </div>
                            <div class="form-group">
                                <label data-translate="1451">From Date:</label>
                                <dateinput name="transactionSearchStartDate" ng-model="before" is-time="true"></dateinput>
                            </div>
                            <div class="form-group">
                                <label data-translate="1452">To Date:</label>
                                <dateinput id="transactionSearchEndDate" name="transactionSearchEndDate" ng-model="today" is-time="true"></dateinput>
                            </div>
                            <div class="form-group">
                                <input id="documentNumber" numberonly="" type="text" tabindex="2" placeholder="{{ '1473' | translate }}" class="form-control" ng-model="fields.document_number">
                            </div>
                            <div class="form-group">
                                <input type="text" id="bt_last_name" placeholder="{{ '636' | translate }}" tabindex="1" class="form-control" ng-model="fields.bt_last_name">
                            </div>
                            <div class="form-group">
                                <input type="text" id="barcode" bar-code="" placeholder="{{ '1471' | translate }}" tabindex="3" class="form-control" ng-model="fields.barcode" ng-change="searchTransactions()">
                            </div>
                            <div class="form-group">
                                <label data-translate="610">Transaction Type:</label>
                                <select id="itemType" tabindex="3" class="form-control height05" ng-model="fields.transaction_type">
                                    <option value="all" data-translate="1143">All</option>
                                    <option value="document_number" data-translate="746">Sale</option>
                                    <option value="order_document_number" data-translate="3163">All Orders</option>
                                    <option value="0" data-translate="893">Customer Order</option>
                                    <option value="1" data-translate="894">Special Order</option>
                                    <option value="2" data-translate="895">Layaway</option>
                                    <option value="6" data-translate="991">Send Sale</option>
                                </select>
                            </div>
                            <div class="form-group" ng-show="fields.transaction_type!=='document_number'">
                                <label data-translate="3011">Order Status:</label>
                                <select id="orderStatus" tabindex="3" class="form-control height05" ng-model="fields.order_status">
                                    <option value="" data-translate="1143">All</option>
                                    <option value="0" data-translate="3012">Pending</option>
                                    <option value="1" data-translate="3013">Partial</option>
                                    <option value="2" data-translate="1983">Complete</option>
                                    <option value="X" data-translate="2302">Closed</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label data-translate="634">Sort By:</label>
                                    <select id="sortBy" tabindex="3" class="form-control" ng-model="fields.sort_by" ng-change="searchTransactions()">
                                        <option value="document_number" data-translate="1921">Receipt Number</option>
                                        <option value="order_document_number" data-translate="1473.1">Order Number</option>
                                        <option value="bt_last_name" data-translate="1456">Customer Name</option>
                                        <option value="created_datetime" data-translate="1457">Created Date</option>
                                        <option value="transaction_total_amt" data-translate="1472">Transaction Total</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <label data-translate="908">Sort Order:</label>
                                    <select id="sortOrder" tabindex="3" class="form-control" ng-model="fields.sort_order" ng-change="searchTransactions()">
                                        <option value="asc" data-translate="1459">Ascending</option>
                                        <option value="desc" data-translate="1460">Descending</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="pendingTransactions !== null">
                <div class="panel-heading">
                    <span data-translate="3247">Transaction Lookup Results</span>
                </div>
                <div class="panel-body height85 autoOverflow">
                    <div ng-if="pendingTransactions.length < 1">
                        <div class="row top-margin20">
                            <div class="col-xs-12 text-center">
                                <strong data-translate="2333">No Records Found</strong>
                            </div>
                        </div>
                    </div>
                    <div ng-if="pendingTransactions.length > 0" class="list-group">
                        <a name="link{{$index}}" event-name="posSearchTransactionsThisTransaction" class="list-group-item" id="searchTransactionResult{{$index}}" tabindex="10{{$index}}" index="{{$index}}" data-item-group="data-item-group" ng-repeat="thisTransaction in pendingTransactions" ng-click="selectTransaction($index)" ng-dblclick="viewTransaction($index)">
                            <div class="row">
                                <div class="col-xs-12" ng-show="thisTransaction.document_number">
                                    <span><strong>{{thisTransaction.receipt_type|receipt_type_names}}</strong> <strong data-translate="1635">number</strong> {{ thisTransaction.document_number }}</span>
                                </div>
                                <div class="col-xs-12" ng-show="thisTransaction.order_document_number">
                                    <span><strong>{{thisTransaction.order_type|order_type_names}}</strong> <strong data-translate="1635">Number</strong> {{ thisTransaction.order_document_number }}</span>
                                </div>
                            </div>
                            <div class="row" ng-show="thisTransaction.bt_first_name || thisTransaction.bt_last_name">
                                <div class="col-xs-4">
                                    <strong data-translate="790">Customer:</strong>
                                </div>
                                <div class="col-xs-8">
                                    {{thisTransaction.bt_first_name || thisTransaction.bt_last_name}}
                                </div>
                            </div>
                            <div class="row" ng-show="thisTransaction.bt_first_name && thisTransaction.bt_last_name">
                                <div class="col-xs-8 col-xs-offset-4">
                                    {{thisTransaction.bt_last_name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <strong data-translate="3267">Transaction Date:</strong> {{ thisTransaction.invoice_posted_date|cleanDate:'locale' }}
                                </div>
                                <div class="col-xs-4">
                                    <strong data-translate="979">Total:</strong> {{ thisTransaction.transaction_total_amt|currency }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <div class="navbar-header navbar-portrait">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-if="pendingTransactions === null">
                                    <div class="btn-group btn-group-sm btn-group-justified">
                                        <div class="btn-group">
                                            <button event-name="posSearchTransactionsSearch" type="submit" tabindex="4" ng-disable="before>today" ng-click="searchTransactions()" id="search" class="btn btn-sm btn-primary">
                                                <span data-translate="630" class="ng-scope">Search</span></button>
                                        </div>
                                        <div class="btn-group">
                                            <button event-name="posSearchTransactionsReset" id="resetSearchButton" type="button" tabindex="5" class="btn btn-sm btn-primary" ng-click="resetSearchFields()">
                                                <span data-translate="614" class="ng-scope">Reset</span></button>
                                        </div>
                                        <div class="btn-group">
                                            <button event-name="posSearchTransactionsClose" type="button" class="btn btn-sm btn-primary closeTransaction" ng-click="closeForm()">
                                                <span data-translate="907" class="ng-scope">Close</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="pendingTransactions !== null">
                                    <div class="btn-group btn-group-sm btn-group-justified">
                                        <div class="btn-group">
                                            <button event-name="posSearchTransactionsSearch" tabindex="4" ng-click="clearResultsOnly()" id="back" class="btn btn-primary" type="button">
                                                <span data-translate="801" class="ng-scope">Back</span></button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" tabindex="5" class="btn btn-primary" id="view" ng-click="viewTransaction()" ng-disabled="display.viewTransactionButton">
                                                <span data-translate="805" class="ng-scope">Select</span></button>
                                        </div>
                                        <div class="btn-group">
                                            <button event-name="posSearchTransactionsClose" type="button" class="btn btn-primary closeTransaction" ng-click="closeForm()">
                                                <span data-translate="907" class="ng-scope">Close</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</form>
