<form class="form">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="modal-title">{{detailType}} <span data-translate="3917">Discount Details</span></h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row height50 autoOverflow">
          <table class="table table-condensed table-hover col-xs-12">
            <thead style="font-weight: bold;">
              <td data-translate="3924">No.</td>
              <td data-translate="982">Amount</td>
              <td ng-if="detax_flag" data-translate="7279">Detaxed Disc Amt</td>
              <td data-translate="542">Type</td>
              <td data-translate="3918">Value</td>
              <td data-translate="686">Reason</td>
              <td data-translate="3919">Source</td>
            </thead>
            <tr class="grid_row{{$index%2}} context-row{{(activeRow==discount)}}" ng-click="selectDiscount(discount);$event.stopPropagation()" ng-repeat="discount in discounts">
              <td>{{$index+1}}</td>
              <td>{{discount.new_disc_amt | currency}}</td>
              <td ng-if="detax_flag">{{discount.new_disc_amt_detaxed | currency}}</td>
              <td>{{discount.disc_type}}</td>
              <td>{{discount.disc_value | currency}}</td>
              <td>{{discount.disc_reason}}</td>
              <td>{{discount.disc_source}}</td>
            </tr>
          </table>
        </div>

        <div class="row col-xs-12 text-left" ng-if="detax_flag">
          <br>
          <label class="col-xs-2" data-translate="738" style="text-transform:uppercase">Detax</label>
          <div class="col-xs-4">
            <label style="font-weight: normal" data-translate="7276">Tax Removed</label>
            <span>:</span>
            <strong> {{tax_removed|currency }}</strong>
          </div>
          <div class="col-xs-4">
            <label style="font-weight: normal" data-translate="3933">Doc price</label>
            <span>:</span>
            <strong> {{doc_price|currency }}</strong>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default btn-secondary" event-name="posRemoveDiscountCancel" id="removeDiscountButton" ng-click="removeDiscount()" data-translate="3920">Remove Discount</button>
        </div>
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-default btn-secondary" event-name="posShowDiscountCancel" id="showDiscountCancelButton" ng-click="abortChoice()" data-translate="1.2">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
