<form name="TaxAreaChangeForm" id="TaxAreaChangeForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="3208">Customer Tax Area</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-group">
                    <div class="col-xs-12">
                        <p data-translate="3271">Use customers tax area for this transaction?</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <p><span data-translate="3272">Tax Area:</span> {{actualCustomers[0].taxarea}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posChangeTaxAreaYes" type="submit" tabindex="50" id="changeTaxAreaYesButton" class="btn btn-lg btn-default" ng-click="$close(true)"><span data-translate="1.5">Yes</span></button>
                    <button event-name="posChangeTaxAreaNo" type="button" tabindex="51" id="changeTaxAreaNoButton" class="btn btn-lg btn-default" ng-click="$close(false)"><span data-translate="1.6">No</span></button>
                </div>
            </div>
        </div>
    </div>
</form>
