<form name="customerSearchForm" id="customerSearchForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1415">Item Lookup</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="selectItem" class="panel panel-default ModalSearchPanel autoOverflow">
                            <div class="list-group">
                                <a name="link{{$index}}" event-name="posItemSelectionThisItem" id="itemLookupResult{{$index}}" index="{{$index}}" class="list-group-item" data-item-group="data-item-group" ng-repeat="thisInventory in lookup" ng-click="selectItem($index)" ng-dblclick="addMe($index)">
                                  <div class="row">
                                    <div class="col-xs-6">
                                      <strong data-translate="675">Desc 1</strong> {{ thisInventory.description1}}
                                    </div>

                                    <div class="col-xs-3">
                                      <strong data-translate="680">VC</strong> {{ thisInventory.vendor_code}}
                                    </div>
                                    <div class="col-xs-3">
                                      <strong data-translate="677">UPC</strong> {{ thisInventory.upc|padUPC}}
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-6">
                                      <strong data-translate="676">Desc 2</strong> {{ thisInventory.description2}}
                                    </div>

                                    <div class="col-xs-3">
                                      <strong data-translate="681">DCS</strong> {{ thisInventory.dcs_code}}
                                    </div>
                                    <div class="col-xs-3">
                                      <strong data-translate="841">ALU</strong> {{ thisInventory.alu}}
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-6">
                                      <strong data-translate="773">Price</strong> {{ thisInventory.active_price|currency}}
                                    </div>
                                    <div class="col-xs-3">
                                      <strong data-translate="678">Attr</strong> {{ thisInventory.attribute}}
                                    </div>
                                    <div class="col-xs-3">
                                      <strong data-translate="679">Size</strong> {{ thisInventory.item_size}}
                                    </div>
                                  </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <span class="pull-left">{{statusMessage}}</span>
                <button event-name="advLookupButton" type="submit" tabindex="6" id="advLookupButton" name="advLookupButton" class="btn btn-lg btn-default" data-permission="posadvanceditemlookup" data-permission-disabled="(document.status !== 0)&&(document.status !== 3)" ng-click="$close();advancedItemSearchModal()"><span data-translate="2790">Adv. lookup</span></button>
                <button event-name="posItemSelectionSelectItem" type="submit" tabindex="6" id="editCustomerButton" name="editCustomerButton" class="btn btn-lg btn-default" ng-disabled="selectDisabled" ng-click="selectTransactionItem()"><span data-translate="1416">Select Item</span></button>
                <button event-name="posItemSelectionClose" type="button" tabindex="8" id="closeSearchButton" name="closeSearchButton" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="907">Close</span></button> 
            </div>
        </div>
    </div>
</form>
