<form name="cancelDocument" id="cancelDocument" class="form-horizontal">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4>{{ headerMessage }}</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						{{ mainMessage }}
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posCancelDocHold" id="holdTransactionOptionButton" type="button" class="btn btn-lg pull-left btn-default" ng-show="showHold" ng-click="closeForm('hold')">
                        <span data-translate="775">Hold</span>
                    </button>
                    <button event-name="posCancelDocReturn" id="returnToTransactionOptionButton" type="button" class="btn btn-lg btn-default" ng-click="closeForm('revert')">
                        {{ returnMessage }}
                    </button>
                    <button event-name="posCancelDocCancel" id="cancelTransactionOptionButton" type="submit" class="btn btn-lg btn-default" ng-click="closeForm('cancel')">
                        {{ cancelMessage }}
                    </button>
                </div>
            </div>
		</div>
	</div>
</form>
