<form ng-controller="disbursementsController" name="disbursementsForm" id="disbursementsForm" class="form-horizontal nobottommargin">
    <div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid nobottommargin">
            <div class="span12">
                <h3>{{modalTitle}}</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div ng-show="showButtons">
                <div class="row-fluid">
                    <div class="span1 center">
                        <img src="/images/pos/Disbursement_Type_32.png">
                    </div>
                    <div class="span11">
                        <h4 data-translate="669">Disbursement Type</h4>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <p data-translate="670">Please select the type of disbursement this is.</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 center">
                        <button event-name="posDisbursementsCashDrop" id="cashDropDisbursementButton" type="button" class="btn btn-large span12 nowrap" ng-click="showCashDropForm('Cash Drop');">
                            <img src="/images/pos/cash_drop_32.png">
                            <span data-translate="671"> Cash Drop</span>
                        </button>
                    </div>
                    <div class="span4 center">
                        <button event-name="posDisbursementsPaidOut" id="paidOutDisbursementButton" type="button" class="btn btn-large span12 nowrap" ng-click="showCashDropForm('Paid Out');">
                            <img src="/images/pos/Disbursements_Paid_Out_32.png">
                            <span data-translate="672"> Paid Out</span>
                        </button>
                    </div>
                    <div class="span4 center">
                        <button event-name="posDisbursementsPaidIn" id="paidInDisbursementButton" type="button" class="btn btn-large span12 nowrap" ng-click="showCashDropForm('Paid In');">
                            <img src="/images/pos/Disbursements_Paid_In_32.png">
                            <span data-translate="673"> Paid In</span>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-hide="showButtons">
                <div class="row-fluid negativetopmargin1px">
                    <div class="span6">
                        <span data-translate="1327"> Register total ():</span><br>
                        {{0.00}}
                    </div>
                    <div class="span6">
                        {{modalTitle}} <span data-translate="1328"> Amount ():</span><br>
                        {{0.00}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span3 rightalign">
                                <span data-translate="654">Tender:</span>
                            </div>
                            <div class="span9">
                                <span data-translate="1329">tendername</span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 rightalign">
                                <span data-translate="655">Drop Amount:</span>
                            </div>
                            <div class="span4">
                                <input id="dropAmount" type="text" class="span12" data-currency-formatter numberonly>
                            </div>
                            <div class="span5">
                                <button event-name="posDisbursementsDropAmountApply" id="dropAmountApplyButton" type="button" class="btn btn-large panelbuttons"><span data-translate="1.3">Apply</span></button>
                                <button event-name="posDisbursementsDropAmountCancel" id="dropAmountCancelButton" type="button" class="btn btn-large panelbuttons pull-right"><span data-translate="1.2">Cancel</span></button>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 rightalign" data-translate="656">
                                Base Currency Value:
                            </div>
                            <div class="span9" data-translate="1330">
                                basecurrencyvalue
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <span class="bold">{{modalTitle}}</span> <span data-translate="1331">Summary</span>
                                <hr class="sectionseparator">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <table class="width100percent">
                                <tr>
                                    <th class="leftalign leftgray1pxsolid topgray1pxsolid rightgray1pxsolid width33percent paddingleft5px" data-translate="961">Currency</th>
                                    <th class="leftalign topgray1pxsolid rightgray1pxsolid width33percent paddingleft5px" data-translate="1332">Drop Amount</th>
                                    <th class="leftalign topgray1pxsolid rightgray1pxsolid width34percent paddingleft5px" data-translate="656">Base Currency Value</th>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="muchsmallerlookuppane negativeleftmargin2px negativetopmargin1px">

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row-fluid margintop">
                            <div class="span12 rightalign">
                                <button event-name="posDisbursementsPageUp" id="disbursementsPageUpButton" type="button" class="btn btn-large panelbuttons"><span data-translate="3.1">Page Up</span></button>
                                <button event-name="posDisbursementsUp" id="disbursementsPreviousButton" type="button" class="btn btn-large panelbuttons"><span data-translate="3.2">Up</span></button>
                                <button event-name="posDisbursementsDown" id="disbursementsNextButton" type="button" class="btn btn-large panelbuttons"><span data-translate="3.3">Down</span></button>
                                <button event-name="posDisbursementsPageDown" id="disbursementsPageDownButton" type="button" class="btn btn-large panelbuttons"><span data-translate="3.4">Page Down</span></button>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <span class="bold" data-translate="1333">Reasons and Notes</span>
                                <hr class="sectionseparator">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 rightalign">
                                {{modalTitle}} <span data-translate="686">Reason:</span>
                            </div>
                            <div class="span8">
                                <select id="disbursementReason" class="span12"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                            </div>
                            <div class="span1">
                                <button event-name="posDisbursementsReason" id="disbursementReasonButton" type="button" class="btn btn-large">...</button>
                            </div>
                        </div>
                        <div class="row-fluid smallmargintop">
                            <div class="span3 rightalign">
                                Notes:
                            </div>
                            <div class="span8">
                                <input id="disbursementNotes" type="text" class="span12">
                            </div>
                            <div class="span1"></div>
                        </div>
                    </div>
                    <div class="span3 disbursementsTenKey">
                        <div id="tenKeyBody">
                            <table class="tenkey-tablet shift-right">
                                <tr>
                                    <td><button event-name="posDisbursementsTenKey7" id="sevenButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(7)">7</button></td>
                                    <td><button event-name="posDisbursementsTenKey8" id="eightButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(8)">8</button></td>
                                    <td><button event-name="posDisbursementsTenKey9" id="nineButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(9)">9</button></td>
                                </tr>
                                <tr>
                                    <td><button event-name="posDisbursementsTenKey4" id="fourButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(4)">4</button></td>
                                    <td><button event-name="posDisbursementsTenKey5" id="fiveButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(5)">5</button></td>
                                    <td><button event-name="posDisbursementsTenKey6" id="sixButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(6)">6</button></td>
                                </tr>
                                <tr>
                                    <td><button event-name="posDisbursementsTenKey1" id="oneButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(1)">1</button></td>
                                    <td><button event-name="posDisbursementsTenKey2" id="twoButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(2)">2</button></td>
                                    <td><button event-name="posDisbursementsTenKey3" id="threeButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(3)">3</button></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><button event-name="posDisbursementsTenKey0" id="zeroButton" type="button" class="btn btn-large double-narrow" ng-click="tenKeyClick(0)">0</button></td>
                                    <td><button event-name="posDisbursementsTenKey." id="decimalButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick('.')">.</button></td>
                                </tr>
                                <tr>
                                    <td><button event-name="posDisbursementsTenKeyBack" id="backspaceButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick(-1)"><span data-translate="1334">Bk Spc</span></button></td>
                                    <td><button event-name="posDisbursementsTenKeyClear" id="clearButton" type="button" class="btn btn-large narrow" ng-click="tenKeyClick('clear')"><span data-translate="1335">Clear</span></button></td>
                                    <td><button event-name="posDisbursementsTenKeyTab" id="tabButton" type="button" class="btn btn-large narrow" ng-click="tabAdvance(true)"><span data-translate="1336">Tab</span></button></td>
                                </tr>
                            </table>
                        </div>
                        <button event-name="posDisbursementsPrintUpdate" id="disbursementsPrintUpdateButton" class="btn btn-large span12 disbursementButtons super-size twotallbuttonheight" type="button"><span data-translate="653">Print\Update</span></button>
                        <button event-name="posDisbursementsCancelDisbursement" id="disbursementsCancelButton" class="btn btn-large span12 disbursementButtons tall-size onetallbuttonheight" type="button" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span> {{modalTitle}}</button>
                        <button event-name="posDisbursementsMoreCurrencies" id="disbursementsMoreCurrenciesButton" class="btn btn-large span12 disbursementButtons tall-size" type="button"><span data-translate="651">More Currencies</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <button event-name="posDisbursementsCancel" id="cancelDisbursementsButton" tabindex="7" type="button" class="btn btn-large" ng-show="showButtons" ng-click="cancelChanges()"><span data-translate="1.2">Cancel</span></button> 
        </div>
    </div>
    </div>
</form>
