<form novalidate="" id="transactionForm" name="transactionForm" class="form-horizontal simpleTransactionForm">
  <div class="container">
    <nav class="navbar navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header navbar-portrait">
          <action-button-bar ng-if="iosButtons" action-bar="iosButtons"></action-button-bar>
        </div>
        <div class="navbar-header pull-right"></div>
      </div>
    </nav>

    <div class="row top-margin10">
      <div class="col-xs-12">
        <div class="input-group">
          <item-search ng-if="!itemLookup" disable="{{(stateParams.mode !== 'edit' && stateParams.mode !== 'new')||(!document.sid)||(document.is_held)||(document.status === 1)||(document.status === 2)||(document.status === 4 && !finalizedOrder)}}"></item-search>
          <input type="text" id="itemLookup" class="form-control" ng-disabled="true" ng-if="itemLookup" placeholder="{{ '1415' | translate }}">
          <span class="input-group-btn">
            <pos-advanced-item-search-button default-item-type="default.item_type" item-process-list="itemsToProcess" doc-selected-item="selectedItem" doc-items="document.items" adjust-qty="adjustQuantity" process-batch-items="processBatchItems()" btn-permission-disabled="(stateParams.mode !== 'edit' && stateParams.mode !== 'new')||(!document.sid)||(document.status === 1)||(document.status === 2)||(document.status === 4 && !finalizedOrder)"></pos-advanced-item-search-button>
          </span>
        </div>
      </div>
    </div>

    <div class="row top-margin">
      <div class="col-xs-12">
        <div ng-include="'/views/portrait/simple-transactions-partial.htm'"></div>
      </div>
    </div>

    <div class="row top-margin">
      <div class="col-xs-12">
        <div class="input-group">
          <div style="height: 8vh;" class="panel panel-body rightsquare" ng-class="{'border-red': hasOrderItems && (!document.bt_first_name && !document.bt_last_name)}">
            <div class="row">
              <div class="col-xs-3"><strong data-translate="7120">Bill To</strong></div>
              <div class="col-xs-9 noOverflow noWrap" ng-show="document.bt_first_name || document.bt_last_name">{{document.bt_first_name}} {{document.bt_last_name}}</div>
            </div>
            <div class="row top-margin">
              <div class="col-xs-3"><strong data-translate="7121">Ship To</strong></div>
              <div class="col-xs-9 noOverflow noWrap" ng-show="document.st_first_name || document.st_last_name">{{document.st_first_name}} {{document.st_last_name}}</div>
            </div>
          </div>
          <span class="input-group-btn" style="margin-top: -3px;">
            <!--<button ng-if="document.bt_first_name || document.bt_last_name" type="button"  style="height: 6vh;" class="btn btn-info leftsquare" id="custRemoveIcon" ng-click="removeCustomer()"><span class="glyphicon glyphicon-remove"></span></button>-->
            <button type="button" style="height: 8vh; margin-top: -3px; padding-top: 0;" class="btn btn-info leftsquare" id="custLookupIcon" ng-disabled="portraitcustbutton" ng-click="portraitCustMenu()"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
          </span>
        </div>
      </div>

      <div class="row top-margin">
        <div class="col-xs-12">
          <div class="input-group" style="padding: 8px 5px;">
            <div class="panel panel-body height13 rightsquare">
                <div class="row top-margin">
                  <div class="col-xs-4">
                    <strong data-translate="764">Qty</strong>
                  </div>
                  <div class="col-xs-8 text-right noOverflow noWrap">{{document.sold_qty| number}}</div>
                </div>

                <div class="row top-margin">
                  <div class="col-xs-4">
                    <strong data-translate="1833">Total</strong>
                  </div>
                  <div class="col-xs-8 text-right noOverflow noWrap" id="documentTotal">{{document.transaction_subtotal|currency}}</div>
                </div>

                <div class="row top-margin">
                  <div class="col-xs-4">
                    <strong data-translate="1479">Due</strong>
                  </div>
                  <div class="col-xs-8 text-right noOverflow noWrap" id="amtDue"><strong>{{document.transaction_total_amt |currency}}</strong></div>
                </div>
            </div>
            <span class="input-group-btn">
              <button ng-disabled="tenderbutton" ng-click="tenderTransaction()" style="height: 13vh; padding: 0 10px 0 10px; margin-top: -4px;" class="btn btn-success leftsquare text-center" id="tenderButtonPortrait" type="button" tabindex="799" event-name="posTransactionTenderTransaction">
                  <span data-translate="654">Tender</span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
