<form name="form.itemTypeForm" id="itemTypeForm" class="form-horizontal">
    <div class="modal-content">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
                <h4><img src="/images/pos/item_type_48.png" height="32" width="32"> <span data-translate="805">Select</span> <span data-translate="768">Item Type</span></h4>
            </div>
          </div>
        </div>
        <div class="modal-body" ng-show="orderOptions">
            <div class="container-fluid">
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <button ng-disabled="customer" event-name="posOrderTypeCustomer" id="posOrderTypeCustomer" type="button" class="btn btn-block btn-primary" ng-click="setOrderType(0, false)">
                          <img class="pull-left" style="margin-left: 2em;" src="images/pos/item_type_sale_32.png">
                          <strong class="text-left" data-translate="893">Customer Order</strong>
                        </button>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <button ng-disabled="layaway" event-name="posOrderTypeLayaway" id="posOrderTypeLayaway" type="button" class="btn btn-block btn-primary" ng-click="setOrderType(2, false)">
                          <img class="pull-left" style="margin-left: 2em;" src="images/pos/item_type_sale_32.png">
                          <span class="text-left" data-translate="3162">Layaway Order</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body" ng-hide="orderOptions">
            <div class="row form-group">
                <div class="col-xs-12">
                    <label class="control-label">
                      <span ng-if="!restrictItems">
                          <input type="checkbox" ng-model="document.items[selectedItem].apply_type_to_all_items"> <span data-translate="4544">Apply to all items</span>
                      </span>
                      <span ng-if="restrictItems">
                        <input type="checkbox" ng-checked="true" ng-disabled="true"> <span data-translate="4544">Apply to all items</span>
                      </span>
                    </label>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row top-margin">
                    <div class="col-xs-12">
                      <button event-name="posItemTypeSale" id="itemTypeSaleButton" type="button" class="btn btn-lg btn-block btn-primary btn-icon" ng-click="initItemType(1, false)">
                        <div class="container-fluid">
                          <img src="images/pos/item_type_sale_32.png">
                          <span data-translate="746">Sale</span>
                        </div>
                        </button>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                      <button ng-disabled="document.items[selectedItem].kit_flag === 2" event-name="posItemTypeReturn" id="itemTypeReturnButton" type="button" class="btn btn-lg btn-block btn-primary btn-icon" data-permission-disabled="checkReturnAllowed()" data-permission="ReturnItem" ng-click="initItemType(2, false)">
                        <div class="container-fluid">
                          <img src="images/pos/item_type_return_32.png">
                          <span data-translate="747">Return</span>
                        </div>
                        </button>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                      <button ng-disabled="document.items[selectedItem].kit_type===7 || form.disableOrderButton" event-name="posItemTypeOrder" id="itemTypeOrderButton" type="button" class="btn btn-lg btn-block btn-primary btn-icon" data-permission="OrderItem" data-permission-disabled="form.disableOrderButton" ng-click="initItemType(3, false)">
                        <div class="container-fluid">
                          <img src="images/pos/item_type_order_32.png">
                          <span data-translate="749">Order</span>
                        </div>
                        </button>
                    </div>
                </div>
                <div class="row top-margin">
                  <div class="col-xs-12">
                    <button event-name="posItemTypeSendSale" id="itemTypeSendSaleButton" type="button" data-permission-disabled="checkSendSaleAllowed()" class="btn btn-lg btn-block btn-primary btn-icon" ng-click="initItemType(3, true)" data-permission="SendSaleAddItem">  <!--permission-disabled="sendSale"-->
                      <div class="container-fluid">
                        <img src="images/pos/send_sale_32x32.png">
                        <span data-translate="991">Send Sale</span>
                      </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row top-margin" style="margin-top: 2em;">
                    <div class="col-xs-12">
                        <button event-name="posItemTypeCancel" id="itemTypeCancelButton" type="button" class="btn btn-default" ng-click="closeForm(selectedItem)"><span data-translate="1.2">Cancel</span></button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
