<ng-form class="modal-default" name="avl_form" ng-controller="pos_advanced_item_lookup_ctrl">
    <nav class="navbar navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-portrait">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-sm btn-group-justified">
                            <div class="btn-group"><button event-name="posAdvItemLookupBack" type="submit" tabindex="6" id="selectItemBackButton" name="selectItemBackButton" class="btn btn-lg btn-default" ng-click="backToSearch()"><span data-translate="801">Back</span></button></div>
                            <div class="btn-group"><button event-name="posItemSelectionSelectItem" type="submit" tabindex="6" id="selectItemButton" name="selectItemButton" class="btn btn-lg btn-default" ng-disabled="!activeItems" ng-click="selectItemsPortrait()"><span data-translate="805">Select</span></button></div>
                            <div class="btn-group"><button class="btn btn-lg btn-default" ng-click="closeLookup()" data-translate="1.2" type="button">Cancel</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-header pull-right"></div>
        </div>
    </nav>
    <div class="" ng-show="!(gridOptions.data)||(!showGrid)">
        <div class="modal-header">
        <span data-translate="3289">Advanced Item Lookup</span>
        </div>
        <div class="modal-body height80 autoOverflow" id="adv_lookup_ctrls">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <search-filter params="search" ng-if="search"></search-filter>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="gridOptions.data&&showGrid">
        <div class="modal-header">
            <span data-translate="3289">Advanced Item Lookup</span> <span data-translate="1563">Search Results</span>
        </div>
        <div class="modal-body height80 autoOverflow">
            <div class="container-fluid">
                <div class="row top-margin" id="results">
                    <div class="col-xs-12">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row height55 autoOverflow">
                                    <div class="list-group">
                                        <a name="link0" event-name="advItemSearchThisItem" class="list-group-item ng-scope" id="itemLookupResult0" tabindex="100" index="0" data-item-group="" ng-repeat="thisItem in gridOptions.data" ng-click="setItemPortrait(thisItem)">
                                            <div class="row">
                                                <div class="col-xs-12 ng-binding">
                                                    <span ng-hide="true">{{thisItem.sid}}</span>
                                                    <strong data-translate="677" class="ng-scope">UPC</strong> {{thisItem.upc|padUPC}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 ng-binding">
                                                    <strong data-translate="3111" class="ng-scope">Desc 1</strong> {{thisItem.description1}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 ng-binding">
                                                    <strong data-translate="841" class="ng-scope">ALU</strong> {{thisItem.alu}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 ng-binding">
                                                    <strong data-translate="678" class="ng-scope">Attr</strong> {{thisItem.attribute}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 ng-binding">
                                                    <strong data-translate="679" class="ng-scope">Size</strong> {{thisItem.item_size}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 ng-binding">
                                                    <strong data-translate="3533" class="ng-scope">Vendor Code</strong> {{thisItem.vendor_code}}
                                                </div>
                                            </div>
                                        </a><!-- end ngRepeat: thisItem in gridOptions.data -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
