<form name="form.customerActionForm" id="customerActionForm" class="form-horizontal">
    <div class="modal-content">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
                <h4><span data-translate="805">Select</span> <span data-translate="7163">Customer Action</span></h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row top-margin10">
                    <div class="col-xs-12">
                        <button event-name="posAddBillToCustomer" id="posAddBillToCustomer" type="button" class="btn btn-block btn-primary" ng-disabled="document.bt_first_name || document.bt_last_name" ng-click="$close(1)">
                          <span class="text-left" data-translate="7116">Add Bill To Customer</span>
                        </button>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <button event-name="posRemoveBillToCustomer" id="posRemoveBillToCustomer" type="button" class="btn btn-block btn-primary" ng-disabled="!document.bt_first_name && !document.bt_last_name" ng-click="$close(3)">
                            <span class="text-left" data-translate="7117">Remove Bill To Customer</span>
                        </button>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <button event-name="posShowCustomerDetail" id="posShowCustomerDetail" type="button" class="btn btn-block btn-primary" ng-disabled="!document.bt_first_name && !document.bt_last_name" ng-click="$close(5)">
                            <span class="text-left" data-translate="592">Customer Detail</span>
                        </button>
                    </div>
                </div>
                <div class="row top-margin10">
                    <div class="col-xs-12">
                        <div class="line">
                        </div>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <button event-name="posAddShipToCustomer" id="posAddShipToCustomer" type="button" class="btn btn-block btn-primary" ng-disabled="document.st_first_name || document.st_last_name || (!document.bt_first_name && !document.bt_last_name)" ng-click="$close(2)">
                          <span class="text-left" data-translate="7118">Add Ship To Customer</span>
                        </button>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <button event-name="posRemoveShipToCustomer" id="posRemoveShipToCustomer" type="button" class="btn btn-block btn-primary" ng-disabled="!document.st_first_name && !document.st_last_name" ng-click="$close(4)">
                            <span class="text-left" data-translate="7119">Remove Ship To Customer</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row top-margin" style="margin-top: 2em;">
                    <div class="col-xs-12">
                        <button event-name="posCustActionCancel" id="posCustActionCancel" type="button" class="btn btn-default" ng-click="$close(0)"><span data-translate="1.2">Cancel</span></button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
