<form novalidate="" id="touchPOSForm" name="touchPOSForm" class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-7">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button event-name="posTouchMainMenu" type="button" class="btn btn-default btn-block" ng-disabled="!(menuLevels.length > 1)" ng-click="navigateToMainMenu()">
                            {{ prefs.touch_menu_default_main_menu_button_label }}
                        </button>
                    </div>
                    <div class="btn-group">
                        <button event-name="posTouchPreviousMenu" type="button" class="btn btn-default btn-block" ng-disabled="!(menuLevels.length > 1)" ng-click="navigateToParentMenu()">
                            {{ prefs.touch_menu_default_previous_menu_button_label }}
                        </button>
                    </div>
                    <div class="btn-group" ng-show="numberOfPages > 0">
                        <button event-name="posTouchPreviousPage" type="button" class="btn btn-default btn-block" ng-disabled="currentPage === 1" ng-click="currentPage = currentPage - 1">
                            {{previousLabel}}
                        </button>
                    </div>
                    <div class="btn-group" ng-show="numberOfPages > 0">
                        <button event-name="posTouchNextPage" type="button" class="btn lg btn-default btn-block" ng-disabled="currentPage >= numberOfPages" ng-click="currentPage = currentPage + 1">
                            {{nextLabel}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="breadcrumb">
                            <li ng-repeat="menu in menuLevels">
                                <a event-name="posTouchPosThisMenu" ng-show="menuLevels.length !== ($index + 1)" ng-click="navigateToMenuIndex($index)">{{ menu.menutext }} </a>
                                <span ng-show="menuLevels.length === ($index + 1)">{{ menu.menutext }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="buttonArea" touch-menu="" menu-model="viewData" item-button-class="btn btn-large touchposButton" navigation-button-class="btn btn-large touchposButton touchPOSNavButton" item-event-handler="processTouchItem" navigation-event-handler="onNavigationClick" disable-buttons="menuButtons" class="paddingleft5px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="sr-only" data-translate="517">Customer Lookup</label>
                                <input id="customerLookup" type="text" class="form-control" ng-model="searchFields.billTo" placeholder="{{ '517' | translate }} " ng-disabled="customerLookup" ng-focuser="billToFocus" ui-event="{ blur : 'searchWithPermission(false, false);'}" ui-keypress="{13:'searchWithPermission(false, false);'}">
                            </div>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button event-name="posTouchRemoveCustomer" type="button" class="btn btn-primary btn-block" ng-disabled="removeCustomerButton" ng-click="removeCustomer()" style="white-space:normal;"><span data-translate="759">Remove Customer</span></button>
                            </div>
                            <div class="btn-group">
                                <button event-name="posTouchCustomerDetail" type="button" class="btn btn-primary btn-block" ng-disabled="disableCustomerDetailsButton" ng-click="customerDetails()" style="white-space:normal;"><span data-translate="592">Customer Detail</span></button>
                            </div>
                            <div class="btn-group">
                                <button event-name="posTouchQuickCustomer" type="button" class="btn btn-primary btn-block" ng-click="quickCustomer()" data-permission="CustomersCreateCustomer" data-permission-disabled="quickCustomerButton" style="white-space:normal;"><span data-translate="758">Quick Customer</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-hide="removeCustomerButton">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-condensed table-bordered table-striped">
                                    <tr>
                                        <td><strong data-translate="1113">Name</strong></td>
                                        <td>{{document.bt_first_name}} {{document.bt_last_name}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong data-translate="545">Phone</strong></td>
                                        <td>{{document.bt_primary_phone_no}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong data-translate="546">Email</strong></td>
                                        <td>{{document.bt_email}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong data-translate="1392">Address</strong></td>
                                        <td>{{document.bt_.address_line1}} {{document.bt_address_line2}} {{document.bt_address_line3}} {{document.bt_postal_code}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="sr-only" data-translate="1415">Item Lookup</label>
                                <input type="text" class="form-control" placeholder="{{ '1415' | translate }} " ng-model="searchFields.item_lookup" ng-disabled="itemLookup" ng-focuser="itemLookupFocus" ng-blur="addItem()" ng-keydown="readItemSearchInput($event)">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body height70">
                      <div id="touchItems" class="autoOverflow height50">
                        <div class="list-group">
                            <documentitem template="touch-template.htm"></documentitem>
                        </div>
                    </div>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button event-name="posTouchOrderDetails" type="button" class="btn btn-primary btn-block" ng-click="orderDetails()" ng-disabled="orderDetailsButton"><span data-translate="778">Order Details</span></button>
                            </div>
                            <div class="btn-group">
                                <button event-name="posTouchTransactionDetails" type="button" class="btn btn-primary btn-block" ng-disabled="transactionDetailsButton" ng-click="transactionDetails()"><span data-translate="779">Transaction Details</span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 text-right">
                                <p class="form-control-static">
                                    <strong data-translate="1524">Subtotal:</strong>
                                </p>
                            </div>
                            <div class="col-xs-3">
                                <p class="form-control-static">
                                    {{document.transaction_subtotal|currency}}
                                </p>
                            </div>
                            <div class="col-xs-3 text-right">
                                <p class="form-control-static">
                                    <strong data-translate="1525">Tax:</strong>
                                </p>
                            </div>
                            <div class="col-xs-3">
                                <p class="form-control-static">
                                    {{document.transaction_total_tax_amt|tax}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                          <input type="text" id="documentTotal" class="text-right bg-info documentTotal text-primary" value="{{document.due_amt |currency}}">                            </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <button event-name="posTouchTenderTransaction" tabindex="799" type="button" id="tenderbutton" class="btn btn-success btn-block btn-large" ng-click="tenderTransaction()" ng-disabled="tenderbutton">
                            <span data-translate="643" ng-if="!tenderbutton||itemsToProcess.length===0">Tender Transaction</span>
                            <span ng-if="tenderbutton&&itemsToProcess.length>0">{{'3733'|translate}}...</span>
                          </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button-bar button-view="nav-pos-transactionbuttons-partial.htm"></button-bar>
</form>
