<form novalidate="" id="changeTillDrawer" name="changeTillDrawer" class="form-horizontal relative">


	<div class="modalouter">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-12">
					<h4 data-translate="1315">Change Drawer / Till</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="control-group">
						<label class="control-label" for="tenderType" data-translate="660">Employee Name:</label>
						<div class="controls">
							<input type="test" class="form-control" ng-model="session.employeename" readonly="true">
						</div>

						<label class="control-label" for="tenderType" data-translate="662">Drawer:</label>
						<div class="controls">
							<select id="selectedDrawer" name="selectedDrawer" tabindex="1" title="{{ '662' | translate }} " class="form-control" ng-model="employee.drawer" ng-options="d as d for d in drawers" required="true">
								<option value="" style="display:none" data-translate="1358">Select...</option>
							</select>
						</div>

						<label class="control-label" for="tenderType" data-translate="661">Till:</label>
						<div class="controls">
							<select id="selectedTill" name="selectedTill" tabindex="1" title="{{ '661' | translate }} " class="form-control" ng-model="employee.till_sid" ng-options="t.sid as t.till_name for t in tills" required="true">
								<option value="" style="display:none" data-translate="1358">Select...</option>
							</select>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-6">
					<button event-name="posChangeTillSave" class="btn btn-default btn-block" tabindex="15" type="button" id="okButton" ng-disabled="!changeTillDrawer.$valid" ng-click="save()" disabled="disabled"><img src="/images/pos/save_32.png" class="margin-right"><span data-translate="547">Save</span></button>
				</div>
				<div class="col-xs-6">
					<button event-name="posChangeTillCancel" class="btn btn-default btn-block" tabindex="16" type="button" id="cancelButton" ng-click="cancel()"><img src="/images/pos/delete.png" class="margin-right"><span data-translate="1.2">Cancel</span></button>
				</div>
			</div>
		</div>
	</div>
</form>
