<div ng-controller="acPosTouchController">
		<div ng-show="contextState.subsidiary_sid ===''">
			<h3 data-translate="1515">Please choose your subsidiary from the menu above.</h3>
		</div>
		<div ng-show="contextState.subsidiary_sid !==''">
			<div class="row">
				<span class="col-xs-12">
					<span class="col-xs-6">
						<select class="form-control" ng-model="existingMenu" ng-options="menu.sid as menu.label for menu in existingMenus" ng-change="menuChange()">
							<option value="" data-translate="1504">Choose a Menu...</option>
						</select>
					</span>
					<span class="col-xs-6">
						<div class="col-xs-6">
							<button type="button" class="btn btn-block" ng-click="createMenu()" data-translate="1518">Create Menu</button>
						</div>
						<div class="col-xs-6">
							<button type="button" class="btn btn-block" ng-click="deleteMenu()" ng-disabled="menuSelected()" data-translate="1962">Delete Menu</button>
						</div>
					</span>
				</span>
			</div>
			<div ng-show="displayGrid">
				 <br>
				<div class="row">
					<div class="col-xs-12">
						<button type="button" class="btn" ng-click="openButtonModal()" data-translate="1967">Create Button</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
					<ol class="breadcrumb">
						<li ng-repeat="menu in menuLevels" ng-class="{active: menuLevels.length === ($index + 1)}">
							<a ng-show="menuLevels.length !== ($index + 1)" ng-click="navigateToMenuIndex($index)">{{ menu.menutext }}</a>
							<span ng-show="menuLevels.length === ($index + 1)">{{ menu.menutext }}</span>
						</li>
					</ol>
					</div>
				</div>
				<div class="row">
						<div class="col-xs-3">
							<button type="button" class="btn btn-block" ng-disabled="!(menuLevels.length > 1)" ng-click="navigateToMainMenu()">
								{{ pData.touch_menu_default_main_menu_button_label.value }}
							</button>
						</div>
						<div class="col-xs-3">
							<button type="button" class="btn btn-block" ng-disabled="!(menuLevels.length > 1)" ng-click="navigateToParentMenu()">
								{{ pData.touch_menu_default_previous_menu_button_label.value }}
							</button>
						</div>
						<div class="col-xs-3">
							<button type="button" class="btn btn-block" ng-disabled="currentPage === 1" ng-click="currentPage = currentPage - 1">{{previousLabel}}</button>
						</div>
						<div class="col-xs-3">
							<button type="button" class="btn btn-block" ng-disabled="currentPage >= numberOfPages" ng-click="currentPage = currentPage + 1">{{nextLabel}}</button>
						</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div id="buttonArea" touch-menu="touch-menu" menu-model="viewData" item-button-class="btn btn-large touchposButton" navigation-button-class="btn btn-large touchposButton touchPOSNavButton" item-event-handler="onItemClick" navigation-event-handler="onNavigationClick">
						</div>
					</div>
				</div>
			</div>
		</div>
</div>