<form name="changeWindow" id="changeWindow" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1310">Tender Reminder</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <p data-translate="1311">The following tenders were used on this transaction:</p>
                </div>
                <hr>
                <div class="row" ng-show="taken.length > 0">
                    <div class="col-xs-12">
                        <h4 data-translate="1312">Taken Tenders</h4>
                        <div class="row" ng-repeat="thisTender in taken">
                            <div class="col-xs-6">
                                <span ng-hide="thisTender.tender_type === 12">{{getTenderName(thisTender.tender_type)}}</span>
                                <span ng-show="thisTender.tender_type === 12">{{thisTender.foreign_currency_name}}:
                                   {{thisTender.base_taken}}</span>
                            </div>
                            <div class="col-xs-6 text-right">{{thisTender.taken|currency}}</div>
                        </div>
                    </div>
                </div>
                <div ng-show="given.length > 0">
                    <h4 data-translate="1313">Given Tenders</h4>
                    <div class="row" ng-repeat="thisTender in given">
                        <div class="col-xs-6">
                            <span ng-hide="thisTender.tender_type === 12">{{getTenderName(thisTender.tender_type)}}</span>
                            <span ng-show="thisTender.tender_type === 12">{{thisTender.foreign_currency_name}}:
                               {{thisTender.base_given}}</span>
                        </div>
                        <div class="col-xs-6 text-right">{{thisTender.given|currency}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posChangeOk" type="submit" class="btn btn-lg btn-default" ng-click="closeModal();"><span data-translate="1.1">OK</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>