<ng-form name="pref_form" ng-controller="formStatEmitter" ng-if="pData" class="pref_form row-labels">
    <div class="container-fluid" ng-controller="posGeneral">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1345">
                        Zero Quantity and Zero Priced Items
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input ng-checked="toBoolean(pData.pos_options_general_print_zero_qty_items_on_transactions.value)" ng-model="pData.pos_options_general_print_zero_qty_items_on_transactions.value" type="checkbox">
                                    <span data-translate="1346">
                                        Print zero qty. items when printing a transaction
                                    </span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input ng-model="pData.pos_options_general_prompt_for_price_on_zero_price_items.value" type="checkbox">
                                    <span data-translate="1347">
                                        Prompt for price on zero price items
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1348">
                        Create a Security Receipt When
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input ng-checked="toBoolean(pData.pos_options_general_security_receipts_when_receipt_progress_exited.value)" ng-model="pData.pos_options_general_security_receipts_when_receipt_progress_exited.value" type="checkbox">
                                    <span data-translate="1349">Transaction in progress is exited</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input ng-checked="toBoolean(pData.pos_options_general_security_receipts_when_drawer_opened_manually.value)" ng-model="pData.pos_options_general_security_receipts_when_drawer_opened_manually.value" type="checkbox">
                                    <span data-translate="1350">Drawer is opened manually</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1359">
                        Spreadable Discount Options
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="1360">Transaction Discount Spread Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <select class="form-control" ng-checked="toBoolean(pData.pos_options_general_transaction_discount_spread_type.value)" ng-model="pData.pos_options_general_transaction_discount_spread_type.value">
                                    <option value="0" data-translate="1361">None</option>
                                    <option value="1" data-translate="1362">Automatic</option>
                                    <option value="2" data-translate="1105">Prompt</option>
                                </select>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="1363">Bring Original Price from Price Level</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <select class="form-control" ng-options="pl.pricelevel.sid as pl.price_level_name for pl in thePriceLevels" ng-model="pData.pos_options_general_bring_orig_price_from_price_lvl">
                                </select>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="col-xs-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <label class="control-label">
                                            <input type="checkbox" ng-model="pData.pos_options_general_use_cust_defined_price_lvl.value" ng-checked="toBoolean(pData.pos_options_general_use_cust_defined_price_lvl.value)">
                                            <span data-translate="1364">Use customer defined price levels</span>
                                        </label>
                                    </li>
                                    <li class="list-group-item">
                                        <input type="checkbox" ng-checked="toBoolean(pData.pos_options_general_use_qty_pricing.value)" ng-model="pData.pos_options_general_use_qty_pricing.value">  <label class="control-label" data-translate="1365">Use quantity pricing</label>
                                        <ul>
                                            <li>
                                                <label class="control-label">
                                                <input ng-model="pData.pos_options_general_use_forward_based_qty_pricing.value" ng-checked="toBoolean(pData.pos_options_general_use_forward_based_qty_pricing.value)" type="checkbox">

                                                <span data-translate="1366">Use forward based quantity pricing</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <label class="control-label">
                                        <input type="checkbox" ng-checked="toBoolean(pData.pos_options_general_use_accumulated_discounting.value)" ng-model="pData.pos_options_general_use_accumulated_discounting.value">

                                            <span data-translate="1367">Use accumulated discounting</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1351">
                        Tender Rounding
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label" data-translate="1352">Rounding Multiple</label>
                                <input numberonly="numberonly" max="1000.00" ng-model="pData.pos_options_general_rounding_multiplier.value" type="text" class="form-control">
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label" data-translate="1353">Rounding Method</label>
                                <select class="form-control" ng-model="pData.pos_options_general_rounding_method.value" ng-options="s.val as s.txt for s in roundMethods">
                                </select>
                            </div>
                        </div>
                        <div class="row top-margin">
                            <div class="col-xs-12">
                                <label class="control-label" data-translate="1354">Affected Tenders:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3" ng-show="$index!=6&&$index!=13&&$index!=14" ng-repeat="s in roundedTenders">
                                        <input ng-model="blank" ng-checked="isRoundedTender($index)" ng-click="updateTenderRound($index)" type="checkbox">
                                        <label class="control-label">{{s}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>