<form name="selectStoreFullfillment" id="selectStoreFullfillment" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                  <h4><span data-translate="7047">Send Sale - Store Selection</span></h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered col-xs-12">
                            <thead>
                                <tr>
                                  <th><span data-translate="3613">Store Number</span></th>
                                  <th><span data-translate="1798">Store Name</span></th>
                                  <th><span data-translate="772">Quantity</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="store in fullfillmentData" ng-click="selectRow($index)" ng-class="{ 'success': selectedIndex === $index}">
                                    <td>{{store.store_number}}</td>
                                    <td>{{store.store_name}}</td>
                                    <td>{{store.quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button event-name="posItemTypeOK" id="itemTypeOKButton" type="button" class="btn btn-lg btn-default" ng-click="selectStore()" ng-disabled="selectedIndex === -1"><span data-translate="1.1">Ok</span></button> 
                        <button event-name="posItemTypeCancel" id="itemTypeCancelButton" type="button" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
