<div class="row">
    <div class="col-xs-2 text-right">
        <p class="form-control-static">
            <strong data-translate="737">Detax Amount</strong>
        </p>
    </div>
    <div class="col-xs-4">
        <input name="" type="text" tabindex="55" autoselect="true" class="form-control" ng-disabled="true" data-currency-formatter numberonly ng-model="form.document.detax_amount">
    </div>
    <div class="col-xs-4">
        <div class="checkbox">
            <label for="detax_flag">
                <input id="detax_flag" name="detax_flag" tabindex="56" type="checkbox" ng-model="form.document.detax_flag" ng-disabled="true">
                <strong data-translate="738">Detax</strong>
            </label>
        </div>
    </div>
    <div class="col-xs-2 text-right">
        <button type="button" name="detaxButton" id="detaxButton" class="btn btn-info" data-permission="AllowManualDetax" data-permission-disabled="form.document.status === 4 || form.preferences.taxes_general_tax_method === '0' || form.preferences.taxes_general_tax_method === '3'" ng-click="detaxTransaction()">
          <span>{{detaxButtonText}}</span>
        </button>
    </div>
</div>
