<form novalidate="novalidate" id="posTouchNavigateAction" name="posTouchNavigateAction" class="form-horizontal relative">
	<div class="modalouter">
		<div class="modal-header">
			<div class="row">
				<div class="col-sm-12">
					<h4 data-translate="1965">Confirm Desired Action</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-12">
					<p data-translate="1966">How would you like to proceed?</p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-sm-6">
					<button class="btn btn-default btn-large btn-block" tabindex="15" type="button" id="okButton" ng-click="EditButton()"><span data-translate="2228">Edit Button</span></button>
				</div>
				<div class="col-sm-6">
					<button class="btn btn-default btn-large btn-block" tabindex="16" type="button" id="cancelButton" ng-click="Navigate()"><span data-translate="2229">Navigate to Menu</span></button>
				</div>
			</div>
		</div>
	</div>
</form>