<form name="zeroPriceAlert" id="zeroPriceAlert" class="form-horizontal">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div ng-if="form.item.kit_type!=7" class="col-xs-12">
					<h4 data-translate="1550">Item Price Required</h4>
				</div>
                <div ng-if="form.item.kit_type==7" class="col-xs-12">
                  <h4 data-translate="6127">Gift Card Amount</h4>
                </div>
			</div>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
                <div class="row top-margin20">
                    <div class="col-xs-12">
                        <p>
                            <span data-translate="1552">Please enter a price for this item:</span>
                        </p>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="form-control-static">{{form.item.item_description1}}</p>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="col-xs-6">
                            <input type="text" class="form-control text-right" numberonly="" data-currency-formatter="price" focus-me="setFocus" ng-model="form.newPrice">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <button event-name="posZeroPriceOk" id="cancelTransactionOptionButton" type="submit" class="btn btn-lg btn-default" ng-click="closeForm(form.newPrice)" ng-enter="closeForm(form.newPrice)">
                        <span data-translate="1.1">OK</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
