<form name="itemReturnForm" id="itemReturnForm" class="form-horizontal">
    <div class="modal-content">
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="navbar-header navbar-portrait">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-sm btn-group-justified" ng-if="documentListCount < 1">
                                <div class="btn-group">
                                  <button ng-disabled="retForm.before>retForm.today||retSearchDisabled||totalReturnQuantity > 0||!retForm.before||!retForm.today" event-name="posItemReturnFind" id="returnItemFindTransactionButton" name="returnItemFindTransactionButton" type="button" class="btn btn-default" ng-click="runSearch()"><span data-translate="630">Search</span></button></div>
                                <div class="btn-group"><button event-name="posItemReturnReset" id="returnItemResetSearchButton" name="returnItemResetSearchButton" type="button" class="btn btn-default" ng-click="resetFields()"><span data-translate="614">Reset</span></button></div>
                                <div class="btn-group"><button event-name="posItemReturnReturnToDocument" id="returnItemReturnToDocumentButton" name="returnItemReturnToDocumentButton" type="button" class="btn btn-default" ng-click="returnToDocument()"><span data-translate="747">Return</span></button></div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" data-target="#bs-example-navbar-collapse-1" ng-click="changeTemplate('options')">
                                        <img src="/images/PrismAppIconTrans_Set_PrismAppIconReverse40.png" style="height: 40px; margin-top: -3px;padding-left: 10px;">
                                    </button>
                                </div>
                            </div>
                            <div ng-if="documentListCount > 0">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-group-sm btn-group-justified">
                                            <div class="btn-group"><button event-name="posItemReturnReturnItem" id="returnItemReturnItemButton" name="returnItemReturnItemButton" type="button" class="btn btn-default" ng-disabled="returnItemButtonDisabled" ng-click="returnItem()"><span data-translate="793">POS - Return Item</span></button></div>
                                            <div class="btn-group"><button event-name="posItemReturnClearItem" id="returnItemClearItemButton" name="returnItemClearItemButton" type="button" class="btn btn-default" ng-disabled="returnItemClearButtonDisabled" ng-click="clearItem()"><span data-translate="1406">Clear Item</span></button></div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary" data-target="#bs-example-navbar-collapse-1" ng-click="changeTemplate('options')">
                                                    <img src="/images/PrismAppIconTrans_Set_PrismAppIconReverse40.png" style="height: 40px; margin-top: -3px;padding-left: 10px;">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-group-sm btn-group-justified">
                                            <div class="btn-group"><button type="button" class="btn btn-lg btn-default" event-name="posItemReturnReturnToDocument" id="returnItemReturnToDocumentButton" name="returnItemReturnToDocumentButton" ng-click="returnToDocument()" ng-disabled="totalReturnQuantity < 1 && itemReturnForm.$invalid"><span data-translate="792">Return to Document</span></button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div ng-if="documentListCount < 1">
                <div class="panel-heading">
                    <h4 data-translate="503">Transaction Lookup</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-xs-5 control-label" for="start-date" data-translate="1451">From Date:</label>
                                    <div class="col-xs-7">
                                      <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                          <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
                                      </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-5 control-label" for="end-date" data-translate="1452">To Date:</label>
                                    <div class="col-xs-7">
                                        <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                            <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
                                        </p>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <input id="searchDocumentNumber" numberonly bar-code name="searchDocumentNumber" class="form-control" type="text" placeholder="{{ '1473' | translate }}" ng-model="filters.searchDocumentNumber">
                                </div>
                                <div class="form-group">
                                    <input id="searchName" name="searchName" class="form-control" type="text" placeholder="{{ '636' | translate }}" ng-model="filters.searchName" ng-readonly="lockSearchName">
                                </div>

                                <!--<div class="form-group">
                                    <input id="documentNumber" numberonly="undefined" type="text" tabindex="2" placeholder="{{ '1473' | translate }}" class="form-control" ng-model="fields.document_number">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="bt_last_name" placeholder="{{ '636' | translate }}" tabindex="1" class="form-control" ng-model="fields.bt_last_name">
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-if="documentListCount > 0">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 data-translate="1396">Transactions</h4>
                        </div>
                        <div class="col-xs-2 col-xs-offset-4">
                            <button event-name="posItemReturnBackToSearch" id="returnItemBackToSearch" name="returnItemBackToSearch" type="button" class="btn btn-default pull-right" ng-disabled="returnItemBackToSearchDisabled" ng-click="portraitBackToSearch()"><span data-translate="801">Back</span></button>
                        </div>
                    </div>
                </div>
                <div id="returnDocumentList" class="panel-body">
                    <div class="list-group height30 autoOverflow">
                        <a id="searchTransactionsResult{{$index}}" event-name="posItemReturnThisTransaction" class="list-group-item" tabindex="10{{$index}}" index="{{$index}}" data-item-group="undefined" ng-repeat="thisTransaction in documentList track by $index" ng-click="selectDocument($index)">
                            <div class="row">
                                <div class="col-xs-4">
                                    <span data-translate="619">Transaction No</span> {{ thisTransaction.document_number }}
                                </div>
                                <div class="col-xs-8">
                                    <span data-translate="790">Customer</span> {{ thisTransaction.bt_first_name }} {{ thisTransaction.bt_last_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span data-translate="979">Total</span> {{ thisTransaction.transaction_total_amt|currency}}
                                </div>
                                <div class="col-xs-8">
                                    <span data-translate="533">Created Date</span> {{ thisTransaction.invoice_posted_date|cleanDate:'locale' }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="documentListCount > 0">
                <div class="panel-heading">
                    <h4 data-translate="4033">Select Items</h4>
                </div>
                <div id="returnItemsList" class="panel-body">
                    <div class="list-group height30 autoOverflow">
                        <a id="searchTransactionItemsResult{{$index}}" tabindex="10{{$index}}" index="{{$index}}" data-item-group="data-item-group" ng-class="{'list-group-item':true, 'header':thisTransactionItem.kit_flag == 3, 'component':thisTransactionItem.kit_flag == 5}" ng-repeat="thisTransactionItem in itemList track by $index" ng-click="selectItem($index)">
                            <div class="row">
                                <div class="col-xs-5">
                                    <span data-translate="675">Desc 1</span> {{ thisTransactionItem.item_description1 }}
                                </div>
                                <div class="col-xs-3">
                                    <span data-translate="764">Qty</span> {{ thisTransactionItem.quantity |number:thisTransactionItem.inventory_use_quantity_decimals}}
                                </div>
                                <div class="col-xs-3">
                                    <span data-translate="773">Price</span> {{ thisTransactionItem.price|currency}}
                                </div>
                                <div class="col-xs-1 text-right">
                                    <img ng-src="/images/{{imagePath(thisTransactionItem.returningThisMany, thisTransactionItem.canReturn)}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <span data-translate="677">UPC</span> {{ thisTransactionItem.scan_upc }}
                                </div>
                                <div class="col-xs-2">
                                    <span data-translate="678">Attr</span> {{ thisTransactionItem.attribute }}
                                </div>
                                <div class="col-xs-3">
                                    <span data-translate="679">Size</span> {{ thisTransactionItem.item_size }}
                                </div>
                                <div class="col-xs-4">
                                    <span data-translate="1405">Return Value</span> {{ thisTransactionItem.returned_item_qty * thisTransactionItem.price |price}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <span data-translate="768">Item Type</span> {{ thisTransactionItem.item_type | itemTypeName | translate}}
                                </div>
                                <div class="col-xs-5">
                                    <span data-translate="1404">Avail Return Qty</span> {{ thisTransactionItem.availableQuantity |number:thisTransactionItem.inventory_use_quantity_decimals}}
                                </div>
                                <div class="col-xs-4">
                                    <span data-translate="625">Return Qty</span> {{thisTransactionItem.returningThisMany|number:thisTransactionItem.inventory_use_quantity_decimals}}
                                </div>
                            </div>
                            <div class="row" ng-if="thisTransactionItem.serial_number || thisTransactionItem.lot_number">
                                <div class="col-xs-6">
                                    <span data-translate="2122">Serial No</span> {{thisTransactionItem.serial_number}}
                                </div>
                                <div class="col-xs-6">
                                    <span data-translate="2121">Lot No</span> {{thisTransactionItem.lot_number}}
                                </div>
                            </div>
                            <div ng-if="thisTransactionItem.shipping_amt !== 0" class="row">
                                <div class="col-xs-4">
                                    <strong><span data-translate="861">Shipping Method</span></strong>
                                </div>
                                <div class="col-xs-8">{{thisTransactionItem.ship_method}}</div>
                            </div>
                            <div ng-if="thisTransactionItem.shipping_amt !== 0" class="row">
                                <div class="col-xs-4">
                                    <strong><span data-translate="863">Shipping Amount</span></strong>
                                </div>
                                <div class="col-xs-8">{{thisTransactionItem.shipping_amt|currency}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-if="documentListCount > 0">
                <div class="panel-heading">
                    <h4 data-translate="1397">Return Details</h4>
                </div>
                <div class="panel-body height40 autoOverflow">

                    <div class="row top-margin">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    <strong data-translate="1398">Transaction Qty</strong>
                                </label>
                                <div class="col-xs-2">
                                    <p class="form-control-static"> {{itemResultCount | number}}</p>
                                </div>
                                <label class="col-xs-4 control-label">
                                    <strong data-translate="1399">Available Qty</strong>
                                </label>
                                <div class="col-xs-2">
                                    <p class="form-control-static"> {{availableQty | number}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    <strong data-translate="1400">Total Return Qty</strong>
                                </label>
                                <div class="col-xs-2">
                                    <p class="form-control-static"> {{totalReturnQuantity | number}}</p>
                                </div>
                                <label class="col-xs-4 control-label">
                                    <strong data-translate="1401">Total Return Amt</strong>
                                </label>
                                <div class="col-xs-2">
                                    <p class="form-control-static"> {{totalReturnAmount | currency}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">
                                <strong data-translate="1412">Return Reason</strong>
                            </label>
                            <div class="col-xs-8">
                                <select id="return_reason" name="return_reason" class="form-control" tabindex="10" ng-model="retForm.return_reason" ng-required="reasonIsRequired" ng-options="r.name as r.name for r in returnReasonsList">
                                    <option value="" style="display:none" data-translate="1358">Select...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    <strong data-translate="5206">Available Fee Amt</strong>
                                </label>
                                <div class="col-xs-2">
                                    <p class="form-control-static"> {{availRetFeeAmt | currency}}</p>
                                </div>
                                <label class="col-xs-4 control-label" data-translate="5207">
                                    Return Fee Amt
                                </label>
                                <div class="col-xs-2" ng-class="{'has-error': retForm.returnFeeAmt > availRetFeeAmt}">
                                    <input id="returnfeeamt" name="returnfeeamt" type="tel" tabindex="16" autoselect="true" class="form-control" data-currency-formatter numberonly ng-model="retForm.returnFeeAmt" ng-disabled="disableAmts || availRetFeeAmt===0" ng-blur="checkRetFeeAmt()">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    <strong data-translate="5208">Available Shipping Amt</strong>
                                </label>
                                <div class="col-xs-2">
                                    <p class="form-control-static"> {{availRetShipAmt | currency}}</p>
                                </div>
                                <label class="col-xs-4 control-label" data-translate="5209">
                                    Return Shipping Amt
                                </label>
                                <div class="col-xs-2" ng-class="{'has-error': retForm.returnShipAmt > availRetShipAmt}">
                                    <input id="returnshipamt" name="returnshipamt" type="tel" tabindex="16" autoselect="true" class="form-control" data-currency-formatter numberonly ng-model="retForm.returnShipAmt" ng-disabled="disableAmts || availRetShipAmt===0" ng-blur="checkRetShipAmt()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-margin">&nbsp;</div>
                </div>
                <div class="panel-footer" style="margin-bottom: 0;">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button class="btn btn-info" style="visibility: hidden"><span>&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--
    <button event-name="posItemReturnReturnItem" id="returnItemReturnItemButton" name="returnItemReturnItemButton" type="button" class="btn btn-info" ng-disabled="returnItemButtonDisabled" ng-click="returnItem()"><span data-translate="793">Return Item</span></button>
    <button event-name="posItemReturnClearItem" id="returnItemClearItemButton" name="returnItemClearItemButton" type="button" class="btn btn-info" ng-disabled="returnItemClearButtonDisabled" ng-click="clearItem()"><span data-translate="1406">Clear Item</span></button>
    <button event-name="posItemReturnSelectAll" id="returnItemSelectAllButton" name="returnItemSelectAllButton" type="button" class="btn btn-info" ng-disabled="availableQty === 0" ng-click="selectAll()"><span data-translate="971">Select All</span></button>
    <button event-name="posItemReturnClearAll" id="returnItemClearAllButton" name="returnItemClearAllButton" type="button" class="btn btn-info" ng-disabled="totalReturnQuantity === 0" ng-click="clearAll()"><span data-translate="1407">Clear All</span></button>
-->
