<link href="/styles/external/simple-layouts-inc.css" rel="stylesheet" type="text/css">
<form novalidate="" id="transactionForm" name="transactionForm" class="form-horizontal simpleTransactionForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <img class="logo" ng-src="/images/{{defaultTheme.logo}}">
            </div>
            <div class="col-xs-6 text-right text-primary date-span">
                <span data-translate="684">Date</span>: <span>{{document.created_datetime|cleanDate:'locale':true}}&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div ng-include="viewPath + 'simple-transactions-partial.htm'"></div>
            </div>
            <div class="col-xs-4 col-xs-offset-1">
                <div class="panel panel-primary panel-collapse btn-block height80">
                    <div class="panel-body bg-primary height75">
                        <div class="simple-QTenders">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button event-name="posTransactionCash" tabindex="715" type="button" class="btn btn-info form-control" id="CashButton" ng-click="tenderTransaction('Cash')" ng-disabled="AvailableTenders.cashButtonDisabled"><span data-translate="571">Cash</span></button>
                                </div>
                                <div class="col-xs-6">
                                    <button event-name="posTransactionDebit" tabindex="718" type="button" class="btn btn-info form-control" id="DebitCardButton" ng-click="tenderTransaction('Debit Card')" ng-disabled="AvailableTenders.debitButtonDisabled"><span data-translate="1091">Debit Card</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button event-name="posTransactionCredit" tabindex="717" type="button" class="btn btn-info form-control" id="CreditCardButton" ng-click="tenderTransaction('Credit Card')" ng-disabled="AvailableTenders.creditButtonDisabled"><span data-translate="1088">Credit Card</span></button>
                                </div>
                                <div class="col-xs-6">
                                    <button event-name="posTransactionGiftCard" tabindex="716" type="button" class="btn btn-info form-control" id="GiftCardButton" ng-click="tenderTransaction('Gift Card')" ng-disabled="AvailableTenders.giftCardButtonDisabled"><span data-translate="575">Gift Card</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button event-name="posTransactionTransactionDetails" tabindex="719" type="button" class="btn large-text btn-info form-control" id="TransactionDetailsButton" ng-disabled="transactionDetailsButton" ng-click="transactionDetails()">
                                      <span data-translate="779">Transaction Details</span>
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button event-name="posTransactionOrderDetails" tabindex="720" type="button" class="btn btn-info form-control" id="OrderDetailsButton" ng-click="orderDetails()" ng-disabled="orderDetailsButton"><span data-translate="778">Order Details</span></button>
                                </div>
                                <div class="col-xs-4">
                                    <transaction-coupon-button></transaction-coupon-button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-condensed table-responsive col-xs-12 table-striped">
                                    <tbody>
                                    <tr ng-show="document.document_number">
                                        <td>
                                            <strong>{{document.receipt_type|receipt_type_names}} <span data-translate="2337">Receipt No</span></strong>
                                        </td>
                                        <td class="text-right">
                                            {{document.document_number}}
                                        </td>
                                    </tr>
                                    <tr ng-show="document.order_document_number">
                                        <td>
                                            <strong>{{document.order_type|order_type_names}} <span data-translate="2338">Order No</span></strong>
                                        </td>
                                        <td class="text-right">
                                            {{document.order_document_number}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-translate="622">Cashier</strong>
                                        </td>
                                        <td class="text-right">
                                            {{document.cashier_login_name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-translate="781">Sub Total</strong>
                                        </td>
                                        <td class="text-right">{{document.transaction_subtotal|currency}}
                                        </td>
                                    </tr>
                                    <tr ng-show="document.total_discount_amt">
                                        <td>
                                            <strong data-translate="715">Discount Amount</strong>
                                        </td>
                                        <td class="text-right">{{document.total_discount_amt|currency}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong data-translate="782">Total Tax</strong>
                                        </td>
                                        <td class="text-right">{{document.transaction_total_tax_amt|tax}}
                                        </td>
                                    </tr>
                                    <tr ng-show="document.total_fee_amt">
                                        <td>
                                            <strong data-translate="783">Fees</strong>
                                        </td>
                                        <td class="text-right">{{document.total_fee_amt|currency}}
                                        </td>
                                    </tr>
                                    <tr ng-show="document.shipping_amt">
                                      <td>
                                        <strong data-translate="784">Shipping:</strong>
                                      </td>
                                      <td class="text-right">{{document.shipping_amt|currency}}
                                      </td>
                                    </tr>
                                    <tr ng-show="document.transaction_total_amt">
                                      <td>
                                        <strong data-translate="2109">Transaction Total</strong>
                                      </td>
                                      <td class="text-right">{{document.transaction_total_amt |currency}}
                                      </td>
                                    </tr>
                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                              <input type="text" id="documentTotal" class="text-right bg-info documentTotal text-primary" value="{{document.due_amt |currency}}">                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button event-name="posTransactionTenderTransaction" tabindex="799" type="button" id="tenderbutton" class="btn btn-success btn-block btn-large" ng-click="tenderTransaction()" ng-disabled="tenderbutton||document.so_cancel_flag">
                                    <span data-translate="643" ng-if="!tenderbutton||itemsToProcess.length===0">Tender Transaction</span>
                                    <span ng-if="tenderbutton&&itemsToProcess.length>0">{{'3733'|translate}}...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<button-bar button-view="nav-pos-transactionbuttons-partial-simple.htm"></button-bar>
</form>
