<form name="printDialogueForm" id="printDialogueForm" class="form-horizontal height70">
    <div class="modal-content height95">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 data-translate="1586">Print Preview</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="height65">
                <iframe id="print_preview_frame" class="col-md-12 autoOverflowPortrait" ng-src="{{templates.pos.register.xout_preview()}}" style="border: none; width:100%;"></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group" ng-if="showPrintButton">
                    <button event-name="printPreviewPrint" type="button" id="printButton" class="btn btn-lg btn-default" ng-click="print()" ng-disabled="disablePrint">
                        <span data-translate="522">Print</span>
                    </button>
                </div>
                <div class="btn-group" role="group" ng-if="!printTags && showEmailButton">
                    <button event-name="printPreviewEmail" type="button" id="emailButton" class="btn btn-lg btn-default" ng-click="email()" ng-disabled="disableEmail">
                        <span data-translate="524">Email</span>
                    </button>
                </div>
                <div class="btn-group" role="group" ng-if="!printTags && showPrintEmailButton">
                    <button event-name="printPreviewPrintEmail" type="button" id="printemailButton" class="btn btn-lg btn-default" ng-click="printemail()" ng-disabled="disablePrint||disableEmail">
                        <span data-translate="4449">Print/Email</span>
                    </button>
                </div>
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button event-name="printPreviewCancel" type="button" id="cancelPrintButton" class="btn btn-lg btn-default" ng-click="closeForm()">
                        <span data-translate="1.2">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</form>
