<div ng-controller="printDesignController" class="padded">
    <div class="panel">
        <div class="panel-heading">
            <h4><span data-translate="1555">Print Designer</span></h4>
        </div>
        <div class="panel-body">
            <div class="xml-editor-content">
                <div class="row" ng-show="step=='resource'">
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <label data-translate="1556">Select a Resource</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <select ng-change="selectResource()" class="form-control" ng-model="pageData.selectedResource">
                                    <option data-translate="1557">Select a Resource...</option>
                                    <option>document</option>
                                    <option>zoutcontrol</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-12">
                                <label data-translate="1558">
                                    Would you like to use sample data when previewing the print design?
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="radio" ng-model="useSampleData" value="1"> <label class="checkbox_label" data-translate="1.5"> Yes</label>
                                <input type="radio" ng-model="useSampleData" value="0"> <label class="checkbox_label" data-translate="1.6"> No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="step=='resource'&&useSampleData&&selectedResource!=''">
                    <h6 data-translate="1559">Sample Data Selection</h6>
                    <p data-translate="1560">
                        Please search for an applicable record to be
                        used as sample data for your design's content.
                    </p>
                    <div class="row">
                        <div class="col-xs-3">
                            <label class="control-label" data-translate="1561">Search By:</label>
                            <select class="form-control" ng-model="searchBy" ng-options="s for s in selected_columns"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label" data-translate="1562">Search Parameters:</label>
                            <input class="form-control" type="text" ng-model="search_str">
                        </div>
                        <div class="col-xs-3 pull-left">
                            <label class="control-label input-block-level"> </label>
                            <button type="button" class="btn btn-default" ng-disabled="false" ng-click="getSampleRecords()"><span data-translate="630">Search</span></button>
                        </div>
                    </div>
                    <div class="row" ng-show="norecords">
                        <h6 data-translate="1563">Search Results</h6>
                        <em data-translate="1564">Sorry no records found.</em>
                    </div>
                    <div class="row" ng-show="searchResults.length>0&&!norecords">
                        <h6 data-translate="1563">Search Results</h6>
                        <div class="xml-search-data">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="items in searchResults">
                                    <input type="radio" name="rec_radios" ng-model="$parent.selectedRecord" ng-value="items.sid">
                                    <label class="checkbox_label">
                                        {{ items.txt }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="step=='templates'">
                    <div class="col-xs-2">
                        <label data-translate="1566">Custom Designs:</label>
                    </div>
                    <div class="col-xs-2" ng-show="selectedDesign=='new'">
                        <label data-translate="1568">Select a Template:</label>
                    </div>
                    <div class="col-xs-2" ng-show="selectedDesign!='new'&&selectedDesign!=''&&selectedDesign!=undefined||(selectedDesign=='new'&&pageData.selectedTemplate!=''&&pageData.selectedTemplate!=undefined)">
                        <label data-translate="1570">Namespace</label>
                    </div>
                    <div class="col-xs-2" ng-show="selectedDesign!='new'&&selectedDesign!=''&&selectedDesign!=undefined||(selectedDesign=='new'&&pageData.selectedTemplate!=''&&pageData.selectedTemplate!=undefined)">
                        <label data-translate="1571">Design Name</label>
                    </div>
                    <div class="col-xs-4" ng-show="selectedDesign!='new'&&selectedDesign!=''&&selectedDesign!=undefined||(selectedDesign=='new'&&pageData.selectedTemplate!=''&&pageData.selectedTemplate!=undefined)">
                        <label data-translate="1572" class="control-label">Use for:</label>
                    </div>
                </div>
                <div class="row" ng-show="step=='templates'">
                    <div class="col-xs-2">
                        <select class="form-control" ng-model="selectedDesign" ng-required="true" ng-change="getDesigns($index)" ng-options="s.sid as s.design_name | translate for s in customDesigns">
                            <option value="" data-translate="1567">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-2" ng-show="selectedDesign=='new'">
                        <select class="form-control" ng-model="pageData.selectedTemplate" ng-required="true" ng-change="getCode();loadCode=!loadCode" ng-options="s.sid as s.design_name for s in templates">
                            <option value="" data-translate="1569">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-2" ng-show="selectedDesign!='new'&&selectedDesign!=''&&selectedDesign!=undefined||(selectedDesign=='new'&&pageData.selectedTemplate!=''&&pageData.selectedTemplate!=undefined)">
                        <input type="text" class="form-control" ng-required="true" ng-model="designObject.namespace">
                    </div>
                    <div class="col-xs-2" ng-show="selectedDesign!='new'&&selectedDesign!=''&&selectedDesign!=undefined||(selectedDesign=='new'&&pageData.selectedTemplate!=''&&pageData.selectedTemplate!=undefined)">
                        <input class="form-control" type="text" ng-required="true" ng-model="designObject.design_name">
                    </div>
                    <div class="col-xs-4" ng-show="selectedDesign!='new'&&selectedDesign!=''&&selectedDesign!=undefined||(selectedDesign=='new'&&pageData.selectedTemplate!=''&&pageData.selectedTemplate!=undefined)">
                        <label class="checkbox_label">
                            <input type="checkbox" ng-checked="toBoolean(designObject.email_fl)" ng-model="designObject.email_fl">
                            <span data-translate="524">
                                Email
                            </span>
                        </label>
                        <label class="checkbox_label">
                            <input ng-checked="toBoolean(designObject.print_fl)" type="checkbox" ng-model="designObject.print_fl">
                            <span data-translate="522">
                                Print
                            </span>
                        </label>
                        <label class="checkbox_label">
                            <input ng-checked="toBoolean(designObject.preview_fl)" type="checkbox" ng-model="designObject.preview_fl">
                            <span data-translate="523">
                                Preview
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="print-design-tabs" ng-show="pageData.designXSLT!=''&&step=='templates'">
                <ul class="nav nav-tabs">
                    <li ng-class="(a_tab==1)?'active':''"><a ng-click="a_tab=1">XSLT</a></li>
                    <li ng-class="(a_tab==2)?'active':''" ng-show="xml!=undefined"><a ng-click="a_tab=2;loadCode=!loadCode">XML</a></li>
                    <li><a ng-click="previewWindow()">Preview</a></li>
                </ul>
                <div ng-show="a_tab==1&&pageData.designXSLT!=''">
                    <div sticky-div="sticky-div" ui-codemirror="{ onLoad : codemirrorLoaded }" ng-change="$parent.transform()" ui-refresh="loadCode" ng-model="pageData.designXSLT"></div>
                </div>
                <div ng-show="a_tab==2">
                    <div sticky-div="sticky-div" ui-codemirror="{ readOnly : 'true' }" ui-refresh="loadCode" ng-model="xml"></div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row bigtopmargin">
                <div class="col-xs-12 text-right" ng-show="step=='resource'">
                    <button type="button" ng-show="step!='resource'" class="btn btn-large btn-default" ng-click="setStep('down')"><span data-translate="801">Back</span></button>
                    <button type="button" class="btn btn-large btn-default" ng-disabled="validateResource()" ng-click="setStep('up')"><span data-translate="800">Next</span></button>
                </div>
                <div class="col-xs-12 text-right" ng-show="step=='templates'">
                    <button type="button" ng-show="step!='resource'" class="btn btn-large btn-default" ng-click="setStep('down')"><span data-translate="801">Back</span></button>
                    <button ng-show="false" type="button" class="btn btn-large btn-default" ng-click="deleteDesign()"><span data-translate="547">Save</span></button>
                    <button type="button" class="btn btn-large btn-default" ng-disabled="saveValid();" ng-click="saveDesign()"><span data-translate="547">Save</span></button>
                </div>
            </div>
        </div>
    </div>
</div>