<div ng-form="" name="prismPublisherForm" ng-controller="prismPublisherController" ng-init="init()">

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 data-translate="1003">Prism Publisher</h4>
	</div>
	<div class="panel-body">
		<div ng-switch="" on="subscribers.length > 0">
			<div ng-switch-when="false">
				<div class="col-xs-12 alert alert-info">
          <span data-translate="1976">There are currently no subscribers defined. Click the Create Subscriber button to begin.</span>
				</div>
			</div>
			<div ng-switch-when="true">
				<table class="table table-bordered table-striped table-condensed">
					<thead>
					<tr>
						<th data-translate="586">Active</th>
						<th data-translate="1601">Subscriber Name</th>
						<th data-translate="1977">Source Address</th>
						<th data-translate="1978">Target Address</th>
						<th data-translate="1613">Actions</th>

					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="subscriber in subscribers">
						<td style="vertical-align:middle">
							<div ng-switch="" on="checkForSubscriberStatus(subscriber.subscriptions)">
								<span ng-switch-when="2" class="glyphicon glyphicon-ok" style="display:block;text-align:center;color:grey;"></span>
								<span ng-switch-when="1" class="glyphicon glyphicon-ok" style="display:block;text-align:center;color:green;"></span>
								<span ng-switch-when="0" class="glyphicon glyphicon-remove" style="display:block;text-align:center;color:red;"></span>
							</div>
						</td>
						<td style="vertical-align:middle">
							{{subscriber.subscriber_name}}
						</td>
						<td style="vertical-align:middle">
							{{subscriber.source_address}}
						</td>
						<td style="vertical-align:middle">
							{{subscriber.address}}
						</td>
						<td class="col-xs-2">
							<button type="button" class="btn btn-primary" ng-click="editSubscriber(subscriber)" title="{{ '1615' | translate }}">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button type="button" class="btn btn-primary" ng-click="viewStatus(subscriber)" title="{{ '1616' | translate }}">
								<span class="glyphicon glyphicon-refresh"></span>
							</button>
							<button type="button" class="btn btn-danger" ng-click="deleteSubscriber(subscriber.sid, $index)" title="{{ '1598' | translate }}">
								<span class="glyphicon glyphicon-remove-circle"></span>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary" ng-click="createSubscriber()"><span data-translate="1597">Create Subscriber</span></button>
			</div>
		</div>
	</div>
</div>
	<div class="panel panel-default" ng-show="statusData !== undefined">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">
					<h4>Day to Day Status: {{selectedSubscriber.address}} </h4>
				</div>
				<div class="col-xs-3">
					<button type="button" class="btn btn-primary btn-block" ng-click="viewStatus(selectedSubscriber)"><span data-translate="1620">Refresh</span></button>
				</div>
				<div class="col-xs-3">
					<button type="button" class="btn btn-primary btn-block" ng-click="reprocessSelected()"><span data-translate="2200">Reprocess Selected</span></button>
			    </div>
			</div>

		</div>
		<div class="panel-body">
			<h4>
				Summary
			</h4>

			<table class="table table-bordered col-xs-12">
				<tbody>
					<tr ng-repeat="(key, val) in statusData.sub_link_queue_summary" ng-if="key !== 'complete'" ng-class="{'alert alert-success': key === 'success', 'alert alert-info': key === 'pending', 'alert alert-danger': key === 'failed' }">
						<td>
							<strong>{{key}}</strong>
						</td>
						<td>
							{{val}}
						</td>
					</tr>
				</tbody>
			</table>
			<h4>
				Details
			</h4>

			<div class="row">
				<div class="col-xs-3 col-md-offset-1">
					Resource
				</div>
				<div class="col-xs-2">
					Count
				</div>
				<div class="col-xs-6">
					Status
				</div>
			</div>
			<accordion close-others="false">
				<accordion-group ng-repeat="resource in statusData.sub_link_queue_details.resources" ng-class="{'panel-success': resource.status==='SUCCESS', 'panel-info': resource.status === 'PENDING', 'panel-danger': resource.status !== 'SUCCESS' && resource.status !== 'PENDING' }" is-open="resource.isOpen" ng-init="key=selectedSubscriber.source_address  + '_' + resource.status + '_' + resource.resource_name">
					<accordion-heading>
						<div class="row" ng-click="getLinks(resource)">
							<div class="col-xs-1">
								<i class="glyphicon" ng-class="{'glyphicon-chevron-down': resource.isOpen, 'glyphicon-chevron-right': !resource.isOpen}"></i>
							</div>
							<div class="col-xs-3">
								<strong>{{resource.resource_name}}</strong>
							</div>
							<div class="col-xs-2">
								{{resource.count}}
							</div>
							<div class="col-xs-6">
								<span ng-switch="" on="resource.status">
									<span class="glyphicon glyphicon-ok-sign success" ng-switch-when="SUCCESS">
									</span>
									<span class="glyphicon glyphicon-info-sign warn" ng-switch-when="PENDING">
									</span>
									<span class="glyphicon glyphicon-exclamation-sign danger" ng-switch-default="">
									</span>
								</span>
								{{resource.status}}
							</div>
						</div>
					</accordion-heading>
					<loading-indicator is-loading="statusMap[key].isLoading">
					</loading-indicator>

					<table class="table table-bordered col-xs-12" ng-show="statusMap[key].links.length > 0">
						<thead>
							<tr>
								<th><input type="checkbox" ng-model="statusMap[key].allChecked" ng-click="toggleAllLinks(key)"></th>
								<th>Link</th>
								<th>Status</th>
								<!--<th>Processed</th>-->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="link in statusMap[key].links" ng-class="{'alert alert-success': resource.status==='SUCCESS', 'alert alert-info': resource.status === 'PENDING', 'alert alert-danger': resource.status !== 'SUCCESS' && resource.status !== 'PENDING' }">
								<td><input type="checkbox" ng-click="toggleLink(key, link.sub_link_queue.sid)" ng-checked="statusMap[key].selectedLinks.indexOf(link.sub_link_queue.sid) !== -1"></td>
								<td style="word-wrap:break-word; word-break: break-all;">{{link.sub_link_queue.prismlink}}</td>
								<td>
									<span class="animate-switch-container" ng-switch="" on="link.sub_link_queue.status">
										<span ng-switch-when="3" data-translate="7058">success</span>
										<span ng-switch-when="4" data-translate="7059">failed</span>
										<span ng-switch-default="" data-translate="7060">pending</span>
									</span>
								</td>
								<!--<td>{{link.sub_link_queue.last_failed_attempt_datetime | cleanDate:locale}}</td>-->
							</tr>
						</tbody>
					</table>
					<p ng-hide="statusMap[key].links.length > 0">
            <span data-translate="7061">Record(s) not found.</span>
					</p>
				</accordion-group>
			</accordion>
		</div>
	</div>
</div>
