<div class="panel panel-default search-panel height75">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <button class="btn btn-default search-filter-toggle" ng-if="!searchResults.resourceLookupService.filtersOn" ng-click="searchResults.toggleFilters()">
          <span data-translate="635">Filter</span> <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <h4 data-translate="6335" ng-class="{'search-result-title-on':searchResults.resourceLookupService.filtersOn,'search-result-title-off':!searchResults.resourceLookupService.filtersOn}"><span data-translate="6335">Results</span></h4>
      </div>
      <div class="col-xs-4 text-right" ng-if="searchResults.resourceLookupService.results!==undefined">
        <div class="badge-info badge record-count" ng-if="searchResults.resourceLookupService.results"><span data-translate="1461"></span> {{searchResults.resourceLookupService.recordCount}}</div>
      </div>
    </div>
  </div>
  <div class="panel-body advanced-search-panel height55">
    <div ng-if="searchResults.resourceLookupService.results.length" class="search-results" ui-grid="searchResults.gridOptions" ui-grid-selection="" ui-grid-resize="" ui-grid-cellnav="" ui-grid-edit=""></div>
    <div class="well well-sm text-center advanced-search-well" style="position:relative;" ng-if="searchResults.resourceLookupService.results===undefined">
      <span style="font-size:18px;" class="glyphicon glyphicon-arrow-left"></span> <em style="font-size:24px;"><span data-translate="6492">Choose Filters</span></em>
      <span style="font-size:75px;" class="glyphicon glyphicon-search center-icon"></span>
    </div>
    <div class="well well-sm text-center advanced-search-well" style="position:relative; height: 50vh; min-height: 50vh;" ng-if="searchResults.resourceLookupService.results.length===0">
      <em style="font-size:24px;"><span data-translate="2333">No Records Found</span></em>
      <span style="font-size:75px;" class="glyphicon glyphicon-ban-circle center-icon"></span>
    </div>
  </div>
  <div class="panel-footer text-center" style="padding:10px 5px;">
    <paging-control ng-if="searchResults.resourceLookupService.results.length&&!searchResults.resourceLookupService.reload" portrait-mode="true" total-records="searchResults.resourceLookupService.recordCount" results-per-page="searchResults.resourceLookupService.resultsPerPage" call-back="searchResults.resourceLookupService.query"></paging-control>
  </div>
</div>
