<div class="container-fluid">
<div class="panel panel-default search-panel height75">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h4 class="search-filter-title" data-translate="826">Filters</h4>
      </div>
    </div>
  </div>
  <div class="panel-body advanced-search-panel height55">
    <!--<div class="row form-group" ng-if="searchFilters.staticFilterInclude">
      <div class="col-xs-12">
        <split-panel-compiler config="searchFilters.staticFilterInclude"></split-panel-compiler>
      </div>
    </div>-->
    <div class="row form-group">
      <div class="col-xs-4 text-right">
        <label class="control-label" style="margin-top:6px;" data-translate="1561">Search By</label>
      </div>
      <div class="col-xs-7">
        <rp-select-input repeater-data="searchFilters.filters" force-reset="true" ng-model="searchFilters.filter" default-obj="searchFilters.defaultFilter" ng-change="searchFilters.addFilter()" is-disabled="searchFilters.resourceLookupService.disableFilters" key-string="'name'" required="true"></rp-select-input>
      </div>
      <!--<div class="col-xs-6">
        <div class="btn-group btn-group-responsive text-right" ng-if="searchFilters.resourceLookupService.showActive">
          <button ng-click="searchFilters.setActiveFilter(true)" ng-disabled="searchFilters.resourceLookupService.disableFilters" class="btn" ng-class="{'btn-info':searchFilters.activeCriteria===true,'btn-default':searchFilters.activeCriteria!==true}">Active</button>
          <button ng-click="searchFilters.setActiveFilter(false)" ng-disabled="searchFilters.resourceLookupService.disableFilters" class="btn" ng-class="{'btn-info':searchFilters.activeCriteria===false,'btn-default':searchFilters.activeCriteria!==false}">Inactive</button>
          <button ng-click="searchFilters.setActiveFilter()" ng-disabled="searchFilters.resourceLookupService.disableFilters" class="btn" ng-class="{'btn-info':searchFilters.activeCriteria===undefined,'btn-default':searchFilters.activeCriteria!==undefined}">All</button>
        </div>
      </div>-->
    </div>
    <div class="row" ng-repeat="column in searchFilters.resourceLookupService.filterArray">
      <div class="col-xs-12">
        <button class="btn btn-default" style="margin:3px;" ng-click="searchFilters.addFilter(column.obj)" ng-disabled="searchFilters.resourceLookupService.disableFilters"><span class="glyphicon glyphicon-plus"></span></button> <strong>{{column.name | translate}}</strong>
      </div>
      <div class="row form-group" ng-repeat="criteria in column.criteriaArray">
        <resource-lookup-filter-types column="column" column-idx="$parent.$index" criteria="criteria" criteria-idx="$index" submit-enter="searchFilters.submitEnter" on-remove="searchFilters.remove"></resource-lookup-filter-types>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center">
    <div class="row">
      <div class="col-xs-5">
        <button class="btn btn-block btn-default" ng-click="searchFilters.reset();">
          <span class="glyphicon-ban-circle glyphicon"></span>
          <span data-translate="1335">Clear</span>
        </button>
      </div>
      <div class="col-xs-5 col-xs-offset-2">
        <button class="btn btn-block btn-default" ng-disabled="searchFilters.resourceLookupService.searching" ng-click="searchFilters.initSearch();">
          <span class="glyphicon-search glyphicon"></span>
          <span data-translate="630">Search</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
