<div class="container-fluid" style="padding: 0;">
    <div class="panel height95" style="min-height: 95vh;">
        <div class="panel-heading">
            <h4>{{rLookup.title}}</h4>
        </div>
        <div class="panel-body" id="search-container">
            <div class="row" ng-if="rLookup.ready">
                <div class="col-xs-12" ng-if="!rLookup.resourceLookup.queryCompleted">
                    <resource-lookup-filters static-filter-include="rLookup.staticFilterIncludeConfig" after-search="rLookup.afterSearch"></resource-lookup-filters>
                </div>
                <div class="col-xs-12" ng-if="rLookup.resourceLookup.queryCompleted">
                    <resource-lookup-results ng-if="!rLookup.gridRefresh" grid-settings="rLookup.gridSettings" after-cell-edit="rLookup.afterCellEdit" after-row-selection-changed="rLookup.afterRowSelectionChanged"></resource-lookup-results>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="background-color:#ffffff; border-top:none;">
            <nav class="navbar navbar-fixed-bottom">
                <div class="navbar-header navbar-portrait">
                    <div class="btn-group btn-group-sm btn-group-justified">
                        <div class="btn-group"><button class="btn btn-primary" ng-click="rLookup.doDismiss()"><span data-translate="801">Back</span></button></div>
                        <div ng-if="rLookup.resourceLookup.queryCompleted" class="btn-group"><button class="btn btn-primary" ng-click="rLookup.finish()"><span data-translate="805">Select</span></button></div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
