<form name="form.newVersion9SubscriberForm" id="form.newVersion9SubscriberForm" ng-init="init()">
<div class="modal-header">
	<div class="row">
		<div class="col-xs-12">
			<h4><span data-translate="7071">Create New RIL Subscriber</span>: {{publisherHostname}}</h4>
		</div>
	</div>
</div>
<div class="modal-body">

	<!--<div class="row">
		<div class="col-xs-12">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>-->

	<div class="row">
		<div class="col-xs-8">
			<div class="col-xs-9">
				<div class="form-group" ng-class="{'has-success': form.newVersion9SubscriberForm.SubcriberName.$valid, 'has-error':form.newVersion9SubscriberForm.SubcriberName.$invalid}">
					<label class="control-label" for="SubcriberName" data-translate="1601">Subcriber Name</label>
					<input type="text" class="form-control" required="required" id="SubcriberName" name="SubcriberName" ng-model="subscriber.SubcriberName">

				</div>
			</div>
			<div class="col-xs-3">
				<br>
				<div class="checkbox">
					<label for="Active" class="control-label">
						<input id="Active" name="Active" ng-model="subscriber.Active" type="checkbox">
						<span data-translate="586">Active</span>
					</label>
				</div>
			</div>
			<div class="col-xs-9">
				<div class="form-group" ng-class="{'has-success': form.newVersion9SubscriberForm.PrismHost.$valid, 'has-error':form.newVersion9SubscriberForm.PrismHost.$invalid}">
					<label class="control-label" for="PrismHost" data-translate="1602">Prism Subscriber's Host/IP</label>
					<input type="text" class="form-control" required="required" id="PrismHost" name="PrismHost" ng-model="subscriber.PrismHost" ng-blur="isExistingSubscriber()">

				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group" ng-class="{'has-success': form.newVersion9SubscriberForm.PrismPort.$valid, 'has-error':form.newVersion9SubscriberForm.PrismPort.$invalid}">
					<label class="control-label" for="PrismPort" data-translate="1221">Port</label>
					<input type="text" class="form-control" required="required" id="PrismPort" name="PrismPort" ng-model="subscriber.PrismPort" maxlength="5">

				</div>
			</div>
			<div class="col-xs-12" ng-show="form.newVersion9SubscriberForm.PrismHost.$invalid && subscriber.PrismHost !== undefined ">
				<div class="form-group has-error">
          <p class="help-block"><span data-translate="1974">There is already a subscriber with that hostname.</span></p>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="checkbox">
					<label for="Active" class="control-label">
						<input id="SysUser" name="SysUser" ng-model="subscriber.isSysUser" type="checkbox" ng-change="sysUserChange()">
						<span>Use DRS_SYS user</span>
					</label>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group" ng-class="{'has-success': form.newVersion9SubscriberForm.PrismUsername.$valid, 'has-error':form.newVersion9SubscriberForm.PrismUsername.$invalid}">
					<label class="control-label" for="PrismUsername" data-translate="1011">Username</label>
					<input type="text" class="form-control" ng-required="!subscriber.isSysUser" id="PrismUsername" name="PrismUsername" ng-model="subscriber.PrismUsername" ng-disabled="subscriber.isSysUser">
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group" ng-class="{'has-success': form.newVersion9SubscriberForm.PrismPassword.$valid, 'has-error':form.newVersion9SubscriberForm.PrismPassword.$invalid}">
					<label class="control-label" for="PrismPassword" data-translate="70.3">Password</label>
					<input class="form-control" ng-required="!subscriber.isSysUser" id="PrismPassword" name="PrismPassword" ng-model="subscriber.PrismPassword" type="password" ng-disabled="subscriber.isSysUser" maxlength="24">
				</div>
			</div>

		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<label class="control-label">Subsidiaries</label>
				<!--<select size="6" class="form-control" multiple ng-multiple="true" ng-model="subscriber.selectedSubsidiaries" ng-options="s.subsidiary.subsidiary_number as s.subsidiary.subsidiary_name for s in subsidiaries">
				</select>-->
				<div style="height:250px;overflow:auto;">
					<div class="checkbox">
						<label class="control-label">
							<input type="checkbox" ng-checked="subscriber.selectedSubsidiaries.length == subsidiaries.length" ng-click="toggleAllSubsidiaries()" ng-model="dirtySubsidiary">
							<span>All</span>
						</label>
					</div>
					<div class="checkbox" ng-repeat="s in subsidiaries">
						<label class="control-label">
							<input type="checkbox" ng-checked="subscriber.selectedSubsidiaries.indexOf(s.subsidiary.subsidiary_number) !== -1" ng-click="toggleSubsidiary(s.subsidiary.subsidiary_number)" ng-model="dirtySubsidiary">
							<span>{{s.subsidiary.subsidiary_name}}</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12">
        <p><span data-translate="2032">** Hostname must be provided as a fully qualified domain name(FQDN) e.g.(host.example.com)</span></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12">
				<div class="checkbox">
					<label class="control-label">
						<input type="checkbox" ng-model="subscriber.allChecked" ng-click="toggleAll()">
            <span data-translate="1606">All Resources</span>
					</label>
				</div>
			</div>
			<div ng-repeat="resource in resources" class="col-xs-6" ng-init="seq_id = resource.pubsubresource.pub_resource_seq">
				<div class="checkbox">
					<label class="control-label">
						<input type="checkbox" ng-checked="subscriber.selectedResources.indexOf(seq_id) !== -1" ng-click="toggleResource(seq_id)" ng-model="dirtyResource">
						<span>{{resource.pubsubresource.resource_name}}</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="dirtySubsidiary" ng-model="dirtySubsidiary">
	<input type="hidden" name="dirtyResource" ng-model="dirtyResource">
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-xs-6" ng-show="isEdit">
			<button type="button" class="btn btn-default btn-block" ng-click="updateSubscriber()" ng-disabled="form.newVersion9SubscriberForm.$invalid || !form.newVersion9SubscriberForm.$dirty" disabled="disabled"><span data-translate="547">Update</span></button>
		</div>
		<div class="col-xs-6" ng-hide="isEdit">
			<button type="button" class="btn btn-default btn-block" ng-click="saveSubscriber()" ng-disabled="form.newVersion9SubscriberForm.$invalid || !form.newVersion9SubscriberForm.$dirty" disabled="disabled"><span data-translate="547">Save</span></button>
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-default btn-block" ng-click="close()"><span data-translate="907">Close</span></button>
		</div>
	</div>
</div>
</form>
