<form ng-controller="newVersion9SubscriberController" name="newVersion9SubscriberForm" id="newVersion9SubscriberForm">
<div class="modal-header">
	<h4 data-translate="7071">Create New RIL Subscriber</h4>
</div>
<div class="modal-body">
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>


		<div class="row-fluid">
			<span class="span4 rightalign smallmargintop">
				<label for="SubcriberName" data-translate="1601">Subcriber Name</label>
			</span>
			<span class="span4">
				<input required="required" id="SubcriberName" name="SubcriberName" ng-model="SubcriberName" type="text">
			</span>
		</div>

		<div class="row-fluid">
				<span class="span4 rightalign smallmargintop">
					<label for="PrismHost" data-translate="1602">Prism Subscriber's Host/IP</label>
				</span>
				<span class="span4">
					<input required="required" id="PrismHost" name="PrismHost" ng-model="PrismHost" type="text">
				</span>
				<span class="span1 rightalign smallmargintop">
					<label for="PrismPort" data-translate="1221">Port</label>
				</span>
				<span class="span1">
					<input required="required" id="PrismPort" name="PrismPort" ng-model="PrismPort" type="text" class="span12" maxlength="5">
				</span>
		</div>
		<div class="row-fluid">
			<span class="span4 rightalign smallmargintop">
				<label for="Active" data-translate="586">Active</label>
			</span>
			<span class="span4">
				<input id="Active" name="Active" ng-model="Active" type="checkbox" ng-init="Active=false">
			</span>
		</div>
		<hr>
		<div class="row-fluid">
			<span class="span4 rightalign smallmargintop">
				<label for="PrismUsername" data-translate="1011">Username</label>
			</span>
			<span class="span4">
				<input required="required" id="PrismUsername" name="PrismUsername" ng-model="PrismUsername" type="text">
			</span>
		</div>
		<div class="row-fluid">
			<span class="span4 rightalign smallmargintop">
				<label for="PrismPassword" data-translate="70.3">Password</label>
			</span>
			<span class="span4">
				<input required="required" id="PrismPassword" name="PrismPassword" ng-model="PrismPassword" type="password" maxlength="24">
			</span>
		</div>

</div>
<div class="modal-footer">
	<button class="btn btn-large btn-default" type="button" tabindex="15" ng-click="" ng-disabled="!newVersion9SubscriberForm.$valid" disabled="disabled"><span data-translate="547">Save</span></button>
	<button class="btn btn-large btn-default closeModal" type="button"><span data-translate="907">Close</span></button>
</div>
</form>
