<div class="row form-group">
    <div class="col-xs-6">
        <label class="control-label" data-translate="2726">Search By:</label>
        <select class="form-control" ng-model="activeField" ng-change="addSearchField(s)" ng-options="s as s.name | translate for s in searchColumns">
            <option value="" style="display:none" data-translate="1358">Select...</option>
        </select>
    </div>
</div>
<div class="row" ng-show="searchFields.length>0">
    <div class="col-xs-12">
        <label class="control-label" data-translate="2728">Parameters</label>
    </div>
</div>
<div class="height40 autoOverflow form-group row">
    <div ng-if="!processing" ng-repeat="field in searchFields track by $index">
        <div class="row form-group">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-default" ng-click="addSearchField(field, $event)" type="button"><span class="glyphicon glyphicon-plus"></span></button> <label class="control-label">{{field.name | translate}}</label>
                    </div>
                </div>
                <div class="row" ng-repeat="sValue in field.searchValues track by $index">
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-if="numberDataTypes.indexOf(field.datatype)===-1" ng-keypress="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">
                        
                        <input type="text" class="form-control" ng-if="field.datatype==='currency'" numberonly="" data-currency-formatter="cost" ng-keypress="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">

                        <select class="form-control" ng-if="field.datatype==='boolean'" ng-keypress="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" ng-options="x.value as x.name | translate for x in [{name:'No', value:false},{name:'Yes', value:true}]">
                            <option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                        
                        <input type="text" class="form-control" ng-if="numberDataTypes.indexOf(field.datatype)!==-1&&field.datatype!=='currency'&&field.datatype!=='boolean'" numberonly="" data-currency-formatter="number" ng-keypress="submitEnter($event)" ng-blur="buildQuery()" ng-required="false" onfocus="this.select();" ng-model="field.searchValues[$index]" title="{{field.name | translate}}" placeholder="{{field.name | translate}}">
                    </div>
                    <div class="col-xs-2 text-right">
                        <button class="btn btn-default" ng-click="removeSearchField(field,$index,$parent.$index)" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-fixed-bottom" ng-if="!(gridOptions.data)||(!showGrid)">
    <div class="container-fluid">
        <div class="navbar-header navbar-portrait">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-xs btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-primary" ng-click="clear()" data-translate="1335" type="button">Clear</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-xs btn-primary" ng-click="searchAction();" data-translate="630" type="button">Search</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-xs btn-default" ng-click="closeSearch()" data-translate="1.2" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

