<div class="container-fluid" tabindex="-1" role="dialog">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <span class="col-xs-8" data-translate="3282">Transaction Options</span>
          <button event-name="backButton" id="backButton" type="button" class="btn btn-default col-xs-4" ng-click="$close();">Back</button>
        </div>
      </div>
        <div class="panel-body height70 autoOverflow">
          <div class="row form-group">

            <div class="row top-margin">
              <div class="col-xs-12">
                <button event-name="pmAddCustomer" id="AddCustomerButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-disabled="document.bt_first_name || document.bt_last_name" ng-click="$close(); custLookup();">
                  <img class="pull-left" src="/images/customer/customer_find_48.png" height="24" width="24">
                  <span class="text-left" data-translate="517">Customer Lookup</span>
                </button>
              </div>
            </div>

            <div class="row top-margin" ng-show="displayAddCustomerButton">
              <div class="col-xs-12">
                <button event-name="pmAddCustomer" id="quickCustomerButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-disabled="quickCustomerButton || document.bt_first_name || document.bt_last_name" ng-click="$close(); quickCustomerAdd();">
                  <img class="pull-left" src="/images/customer/create_customer_48.png" height="24" width="24">
                  <span data-translate="516">New Customer</span>
                </button>
              </div>
            </div>

            <div class="row top-margin">
              <div class="col-xs-12">
                <button event-name="pmCustomerDet" id="CustomerDetailButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-disabled="disableCustomerDetailsButton" ng-click="$close(); customerDetails();">
                  <img class="pull-left" src="/images/customer/customer_detail.png" height="24" width="24">
                  <span data-translate="592">Customer Detail</span>
                </button>
              </div>
            </div>

            <div class="row top-margin">
              <div class="col-xs-12">
                <button event-name="pmCustomerDet" id="itemDetailButton" type="button" class="btn btn-default RPOptionButton leftalign btn-small col-xs-12" ng-disabled="itemDetailButton" ng-click="$close(); itemDetail();">
                  <img class="pull-left" src="/images/pos/item_details.png" height="24" width="24">
                  <span data-translate="1499">Item Details</span>
                </button>
              </div>
            </div>

            <div class="row top-margin">
              <div class="col-xs-12">
                <button event-name="pmCustomerDet" id="transactionDetailButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-disabled="transactionDetailsButton" ng-click="$close(); transactionDetail();">
                  <img class="pull-left" src="/images/pos/transaction_details.png" height="24" width="24">
                  <span data-translate="779">Transaction Details</span>
                </button>
              </div>
            </div>

            <div class="row top-margin">
              <div class="col-xs-12">
                <button event-name="pmCustomerDet" id="orderDetailButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-disabled="orderDetailsButton" ng-click="$close(); orderDetail();">
                  <img class="pull-left" src="/images/customer/customer48.png" height="24" width="24">
                  <span data-translate="778">Order Details</span>
                </button>
              </div>
            </div>

            <div class="row top-margin">
              <div class="col-xs-12">
                <button event-name="pmCustomerDet" id="transactionLookupButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-disabled="transactionLookupButton" ng-click="$close(); transactionLookup();">
                  <img class="pull-left" src="/images/pos/trans_lookup_48.png" height="24" width="24">
                  <span data-translate="503">Transaction Lookup</span>
                </button>
              </div>
            </div>

            <div class="row top-margin">
              <div class="col-xs-12">
                <button event-name="pmPrint" id="printButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" data-permission="posprintupdated" data-permission-disabled="blockPrinting" ng-click="$close(); print();">
                  <img class="pull-left" src="/images/pos/print_32.png" height="24" width="24">
                  <span data-translate="607">Print</span>
                </button>
              </div>
            </div>

            <div class="row top-margin" ng-show="displayHomeButton">
              <div class="col-xs-12">
                <button event-name="sideButtonHome" type="button" id="homeButton" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-click="$close(); goToLanding();">
                  <img class="pull-left" src="/images/Home.png" height="24" width="24">
                  <span data-translate="0.3">Home</span>
                </button>
              </div>
            </div>

            <div class="row top-margin" ng-show="displayLogoutButton">
              <div class="col-xs-12">
                <button event-name="sideButtonExit" id="exitButton" type="button" class="btn btn-default RPOptionButton leftalign col-xs-12" ng-click="$close(); releaseSeat();">
                  <img class="pull-left" src="/images/USERLOGOUT.png" height="24" width="24">
                  <span data-translate="32">Exit</span>
                </button>
              </div>
            </div>

            <!--order-details-button component is added to this layout inorder to make the 'orderDetails' event available and ng-show is set to false -->
            <div class="row top-margin" ng-show="false">
              <div class="col-xs-4">
                  <order-details-button></order-details-button>
              </div>
            </div>

            <!--<div class="row top-margin" ng-show="displayExitButton">
              <div class="col-xs-12">
                <button event-name="sideButtonLanding" type="button" id="exitPOSButton" class="btn btn-default RPOptionButton col-xs-12" ng-click="$close(); goToLanding();">
                  <img class="pull-left" src="/images/USERLOGOUT.png" height="24" width="24" />
                  <span data-translate="0.4">Landing</span>
                </button>
              </div>
            </div>

            <div class="row top-margin" ng-show="cancelButton">
              <div class="col-xs-12">
                <button event-name="cancelMenu" type="button" id="cancelMenuButton" class="btn btn-default RPOptionButton col-xs-12" ng-click="$close();">
                  <span data-translate="1.2">Cancel</span>
                </button>
              </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


