<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" data-translate="685">
                General
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 bottompadding5px">
                        <label data-translate="1680">Tax Method</label>
                        <select ng-model="pData.taxes_general_tax_method.value" class="form-control" ng-options="s.val as s.txt | translate for s in taxMethods"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-8">
                        <ul class="list-group">

                            <li class="list-group-item" ng-show="false">
                                <label>
                                <input ng-disabled="pData.taxes_general_tax_method.value!='1'&&pData.taxes_general_tax_method.value!='2'" ng-model="pData.taxes_general_tax_code_subtotal_calc.value" ng-checked="toBoolean(pData.taxes_general_tax_code_subtotal_calc.value)" type="checkbox">
                                <span data-translate="1681">Tax Code Subtotal Calculation</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label>
                                <input ng-disabled="pData.taxes_general_tax_method.value!='3'" ng-model="pData.taxes_general_tax_use_first_to_calc_second_tax.value" ng-checked="toBoolean(pData.taxes_general_tax_use_first_to_calc_second_tax.value)" type="checkbox">
                                <span data-translate="1682">Include 1st tax when calculating 2nd tax on price</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label>
                                <input ng-disabled="( ['4'].indexOf(pData.taxes_general_tax_method.value) == -1 )" ng-model="pData.taxes_general_calc_tax2_from_tax1.value" ng-checked="toBoolean(pData.taxes_general_calc_tax2_from_tax1.value)" type="checkbox">
                                <span data-translate="1684">Calculate Tax 2 from Tax 1</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-translate="1685">
                Rounding
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="control-label">
                        <input ng-disabled="pData.taxes_general_tax_method.value!=0" ng-model="pData.taxes_general_round_tax_amt.value" ng-checked="toBoolean(pData.taxes_general_round_tax_amt.value)" type="checkbox">
                        <span data-translate="1686">Round Tax Amount</span>
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label" data-translate="1353">Rounding Method</label>
                        <select class="form-control" ng-disabled="!toBoolean(pData.taxes_general_round_tax_amt.value)" ng-model="pData.taxes_general_round_tax_method.value" ng-options="s.val as s.txt | translate for s in roundMethods"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="col-xs-8">
                        <ul class="list-group" ng-show="false">
                            <li class="list-group-item">
                                <label class="control-label">
                                    <input ng-disabled="pData.taxes_general_tax_method.value!=1&&pData.taxes_general_tax_method.value!=2" ng-model="pData.taxes_general_round_ext_tax_amt_up.value" ng-checked="toBoolean(pData.taxes_general_round_ext_tax_amt_up.value)" type="checkbox">
                                    <span data-translate="1687">Round Ext Tax Amount Up</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="false">
            <div class="panel-heading" data-translate="1688">
                Document Total Taxable Threshold
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="control-label" data-translate="1689">1st Tax Area Threshold Amount</label>
                        <input max="1000000000.00" placeholder="{{ '2058' | translate }} " ng-disabled="pData.taxes_general_tax_method.value!='0'&&pData.taxes_general_tax_method.value!='3'" class="numberonly form-control" ng-model="pData.taxes_general_1st_tax_area_threshold.value" type="text">
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label" data-translate="1690">2nd Tax Area Threshold Amount</label>
                        <input max="1000000000.00" placeholder="{{ '2058' | translate }} " class="numberonly form-control" ng-disabled="pData.taxes_general_tax_method.value!='3'" ng-model="pData.taxes_general_2nd_tax_area_threshold.value" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="true">
            <div class="panel-heading" data-translate="734">
                Tax Rebate
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="control-label">
                            <input ng-model="pData.taxes_general_allow_tax_rebates.value" ng-checked="toBoolean(pData.taxes_general_allow_tax_rebates.value)" type="checkbox">
                            <span data-translate="1691">Allow Tax Rebate</span>
                        </label>
                    </div>
                    <div class="col-xs-4 wip">
                        <label class="control-label" data-translate="1692">Default Tax Rebate Percentage</label>
                        <input class="numberonly form-control" placeholder="{{ '2059' | translate }} " max="100.00" ng-model="tbd" ng-disabled="!toBoolean(pData.taxes_general_allow_tax_rebates.value)" type="text">
                    </div>
                    <div class="col-xs-4 wip">
                        <label class="control-label" data-translate="1693">Tax Rebate Threshold Amount</label>
                        <input placeholder="{{ '2060' | translate }} " class="numberonly form-control" ng-model="tbd" max="999999999.99" ng-disabled="!toBoolean(pData.taxes_general_allow_tax_rebates.value)" type="text">
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-form>