<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="container-fluid" ng-controller="tenderRequirements">
        <div class="row">
            <div class="col-xs-6">
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label class="control-label" data-translate="1705">Default Take Tender: </label>
                        <select class="form-control" ng-model="pData.pos_tenders_default_take_tender.value" ng-options="x.value.toString() as x.name | translate for x in takeTenders"><option></option></select>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label" data-translate="1706">Default Give Tender:</label>
                        <select class="form-control" ng-model="pData.pos_tenders_default_give_tender.value" ng-options="x.value.toString() as x.name | translate for x in giveTenders"><option data-translate="571">Cash</option></select>
                    </div>
                </div>
                <div class="row top-margin">
                    <div class="col-xs-12">
                        <label class="control-label" data-translate="1709">Display change window when tendering by:</label>
                        <ul class="float-checks">
                            <li>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="pData.transactions_general_change_window_cash.value" ng-checked="toBoolean(pData.transactions_general_change_window_cash.value)">
                                    <span data-translate="571">Cash</span>
                                </label>
                            </li>
                            <li>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="pData.transactions_general_change_window_debit.value" ng-checked="toBoolean(pData.transactions_general_change_window_debit.value)">
                                    <span data-translate="1091">Debit Card</span>
                                </label>
                            </li>

                            <li>
                                <label class="control-label">
                                    <input type="checkbox" ng-model="pData.transactions_general_change_window_credit.value" ng-checked="toBoolean(pData.transactions_general_change_window_credit.value)">
                                    <span data-translate="1088">Credit Card</span>
                                </label>
                            </li>

                           <!-- <li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_charge.value" ng-checked="toBoolean(pData.transactions_general_change_window_charge.value)"/>
                                    <span data-translate="1089">Charge</span>
                                </label>
                            </li>
                            <li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_central_gift_card.value" ng-checked="toBoolean(pData.transactions_general_change_window_central_gift_card.value)"/>
                                    <span data-translate="1028">Central Gift Card</span>
                                </label>
                            </li>-->
                            <li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_check.value" ng-checked="toBoolean(pData.transactions_general_change_window_check.value)">
                                    <span data-translate="572">Check</span>
                                </label>
                            </li>
                            <li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_store_credit.value" ng-checked="toBoolean(pData.transactions_general_change_window_store_credit.value)">
                                    <span data-translate="577">Store Credit</span>
                                </label>
                            </li>
                            <!--<li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_central_gift_cert.value" ng-checked="toBoolean(pData.transactions_general_change_window_central_gift_cert.value)"/>
                                    <span data-translate="1710">Central Gift Cert.</span>
                                </label>
                            </li>
                            <li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_payment.value" ng-checked="toBoolean(pData.transactions_general_change_window_payment.value)"/>
                                    <span data-translate="580">Payment</span>
                                </label>
                            </li>
                            <li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_central_credit.value" ng-checked="toBoolean(pData.transactions_general_change_window_central_credit.value)"/>
                                    <span data-translate="1039">Central Credit</span>
                                </label>
                            </li>-->
                            <li>
                                <label class="control-label">
                                    <input type="checkbox">
                                    <span data-translate="575">Gift Card</span>
                                </label>
                            </li>
                            <li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_gift_cert.value" ng-checked="toBoolean(pData.transactions_general_change_window_gift_cert.value)">
                                    <span data-translate="576">Gift Certificate</span>
                                </label>
                            </li>
                            <li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_foreign_currency.value" ng-checked="toBoolean(pData.transactions_general_change_window_foreign_currency.value)">
                                    <span data-translate="579">Foreign Currency</span>
                                </label>
                            </li>
                            <!--<li>
                                <label class="control-label">
                                <input type="checkbox" ng-model="pData.transactions_general_change_window_central_loyalty.value" ng-checked="toBoolean(pData.transactions_general_change_window_central_loyalty.value)"/>
                                    <span data-translate="1082">Customer Loyalty</span>
                                </label>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 margin-left" ng-show="true">
                <label data-translate="1711">Tender Rules</label>
                    <table ng-repeat="row in tenderRules.rows" class="table-responsive table-striped col-xs-12 tender-rules">
                        <thead ng-show="$index==0">
                        <tr>
                            <th class="width200px" data-translate="948">Tender Type</th>
                            <th class="width75px" data-translate="1481">Take</th>
                            <th class="width75px" data-translate="1482">Give</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="grid{{$index%2}}">
                            <td class="width200px leftalign">
                                <a title="{{ '1714' | translate }}">
                                    <a href="javascript:void(0);" ng-show="!row.showFields&&(row.txt==='1088'||row.txt==='1091')" ng-click="toggleFieldEdit(row);" class="glyphicon glyphicon-plus"></a>
                                    <a href="javascript:void(0);" ng-show="row.showFields&&(row.txt==='1088'||row.txt==='1091')" ng-click="toggleFieldEdit(row);" class="glyphicon glyphicon-minus"></a>
                                    <span data-translate="{{row.txt}}"></span>
                                </a>
                            </td>
                            <td class="center width75px">
                                <input ng-click="updateRule(row,0,'take')" ng-checked="isTenderRule(row,0,'take')" type="checkbox">
                            </td>
                            <td class="center width75px">
                                <input ng-click="updateRule(row,1,'give')" ng-checked="isTenderRule(row,1,'give')" type="checkbox">
                            </td>
                        </tr>
                        </tbody>
                        <tbody ng-show="row.showFields" class="req_fields">
                        <tr>
                            <td ng-show="row.showFields" colspan="4">
                                <strong data-translate="1712">Required Fields</strong> ({{row.txt | translate}}):
                            </td>
                        </tr>
                        <!--<tr ng-show="row.showFields" ng-repeat="fields in tenderRules.global_req_fields">

                            <td class="width200px rightalign" data-translate="{{fields.txt}}">{{fields.txt}}</td>
                            <td class="center">
                                <input ng-click="updateFields(fields,row,'pref_fields_taken')" ng-checked="isFieldRequired(fields,row,'pref_fields_taken')" type="checkbox"/>
                            </td>
                            <td class="center width75px">
                                <input ng-click="updateFields(fields,row,'pref_fields_given')" ng-checked="isFieldRequired(fields,row,'pref_fields_given')" type="checkbox"/>
                            </td>
                            <td class="center width75px">
                                <input ng-click="updateFields(fields,row,'pref_fields_return')" ng-checked="isFieldRequired(fields,row,'pref_fields_return')" type="checkbox"/>
                            </td>
                        </tr>-->
                        <tr ng-show="row.showFields" ng-repeat="fields in row.add_req_fields">
                            <td class="width200px rightalign" data-translate="{{fields.txt}}">{{fields.txt}}</td>
                            <td class="center width75px">
                                <input ng-click="updateFields(fields,row,'pref_fields_taken')" ng-checked="isFieldRequired(fields,row,'pref_fields_taken')" type="checkbox">
                            </td>
                            <td class="center width75px">
                                <input ng-click="updateFields(fields,row,'pref_fields_given')" ng-checked="isFieldRequired(fields,row,'pref_fields_given')" type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#CCC;text-align:left;padding:3px;" ng-show="row.showFields" colspan="4">
                                 
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</ng-form>