<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div class="padding20">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1696">Accepted Cards</div>
                    <div class="panel-body">
                        <div class="container col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row form-group">
                                        <div ng-repeat="x in card_types_all">
                                            <div class="col-xs-4">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <label class="control-label">{{x.val | translate}}</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-2">
                                                            <input ng-checked="isCardEnabled(x.val)" ng-click="updateAcceptedCards(x.val,$index)" title="{{ '2005' | translate }} " type="checkbox">
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <input ng-disabled="!isCardEnabled(x.val)" ng-required="isCardEnabled(x.val)" class="form-control" ng-change="updateCardDisplay(x.val,$index)" ng-model="cc[$index]" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading" data-translate="1697">
                    EFT Options
                </div>
                <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <fieldset class="fieldset">
                            <legend data-translate="1698">Checks</legend>
                            <div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="print_ck" class="checkbox_label">
                                        <input ng-model="pData.pos_tenders_checks_allow_eft_receipts_to_print_when_not_in_use.value" ng-checked="toBoolean(pData.pos_tenders_checks_allow_eft_receipts_to_print_when_not_in_use.value)" type="checkbox" id="print_ck">
                                            <span data-translate="1699">Allow EFT receipt to print when EFT is not being used</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-6">
                        <fieldset class="fieldset">
                            <legend data-translate="1700">Credit / Debit</legend>
                            <div class="padding20">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="print_db" class="checkbox_label">
                                        <input ng-model="pData.pos_tenders_credit_debit_card_allow_eft_receipts_to_print_when_not_in_use.value" ng-checked="toBoolean(pData.pos_tenders_credit_debit_card_allow_eft_receipts_to_print_when_not_in_use.value)" type="checkbox" id="print_db">
                                            <span data-translate="1699">Allow EFT receipt to print when EFT is not being used</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="sig_cap" class="checkbox_label">
                                        <input ng-model="pData.eft_mw_requires_sig_cap.value" ng-checked="toBoolean(pData.eft_mw_requires_sig_cap.value)" type="checkbox" id="sig_cap">
                                            <span data-translate="2149">EFT Requires Signature Capture</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="control-label" for="limit" data-translate="2158">Signature Capture Floor Limit</label>
                                        <input class="form-control" numberonly="" decimals="0" min="0" ng-disabled="!toBoolean(pData.eft_mw_requires_sig_cap.value)" ng-model="pData.eft_mw_sig_cap_floor_limit.value" type="text" id="limit">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-translate="1703">
                Cash Back
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <fieldset class="fieldset">
                            <legend data-translate="1698">Checks</legend>
                            <div class="padding20">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="cash_ck" class="checkbox_label">
                                        <input ng-model="pData.pos_tenders_checks_allow_cashback.value" ng-checked="toBoolean(pData.pos_tenders_checks_allow_cashback.value)" type="checkbox" id="cash_ck">
                                        <span data-translate="1701">Allow Cash Back</span>
                                        </label>
                                        <label class="control-label" data-translate="1702">Max Cash Back Amount</label>
                                        <input class="form-control" ng-disabled="!toBoolean(pData.pos_tenders_checks_allow_cashback.value)" numberonly="" ng-model="pData.pos_tenders_checks_max_cashback_amt.value" type="text">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-4">
                        <fieldset class="fieldset">
                            <legend data-translate="573">Credit</legend>
                            <div class="padding20">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="cash_cr" class="checkbox_label">
                                        <input ng-model="pData.pos_tenders_credit_debit_card_allow_cacshback_on_credit_cards.value" ng-checked="toBoolean(pData.pos_tenders_credit_debit_card_allow_cacshback_on_credit_cards.value)" type="checkbox" id="cash_cr">
                                        <span data-translate="1701">Allow Cash Back</span>
                                        </label>
                                        <label class="control-label" data-translate="1702">Max Cash Back Amount</label>
                                        <input class="form-control" numberonly="" ng-disabled="!toBoolean(pData.pos_tenders_credit_debit_card_allow_cacshback_on_credit_cards.value)" ng-model="pData.pos_tenders_credit_debit_card_max_cacshback_amt_on_credit_cards.value" type="text">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-4">
                        <fieldset class="fieldset">
                            <legend data-translate="574">Debit</legend>
                            <div class="padding20">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="cash_db" class="checkbox_label">
                                        <input ng-model="pData.pos_tenders_credit_debit_card_allow_cacshback_on_debit_cards.value" ng-checked="toBoolean(pData.pos_tenders_credit_debit_card_allow_cacshback_on_debit_cards.value)" type="checkbox" id="cash_db">

                                            <span data-translate="1701">Allow Cash Back</span>
                                        </label>
                                        <label class="control-label" data-translate="1702">Max Cash Back Amount</label>
                                        <input class="form-control" numberonly="" ng-disabled="!toBoolean(pData.pos_tenders_credit_debit_card_allow_cacshback_on_debit_cards.value)" ng-model="pData.pos_tenders_credit_debit_card_max_cacshback_amt_on_debit_cards.value" type="text">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-form>
