<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
    <div class="btn-group">
        <button class="btn btn-default" permission="editemployeecheckinout" ng-click="checkType('create')"><span data-translate="2904">Create</span></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" permission="editemployeecheckinout" permission-disabled="!activeItem" ng-click="checkInOut()"><span data-translate="774">Edit</span></button>
    </div>
</div>