<ng-form name="tclk_form">
  <div class="container-fluid">
    <div class="modal-container height70">
      <nav class="navbar navbar-fixed-bottom">
        <div class="container-fluid">
          <div class="navbar-header navbar-portrait">
            <div class="col-xs-12 btn-group btn-group-justified" ng-hide="gridOptions.data.length > 0">
              <div class="btn-group"><button type="submit" ng-disabled="disableTimeManagerSearch" id="tcmSearch" class="btn btn-sm btn-primary ng-scope" ng-click="prepareQuery()" data-translate="630">Search</button></div>
              <div class="btn-group"><button type="button" class="btn btn-sm btn-primary ng-scope" onclick="window.location.reload()" data-translate="614" data-dismiss="modal">Reset</button></div>
              <div class="btn-group"><button type="button" event-name="posTimeClockClose" id="closeTimeClockButton" class="btn btn-sm btn-default" onclick="window.history.back()"><span data-translate="1.2" class="ng-scope">Cancel</span></button></div>
            </div>
            <div class="col-xs-12 btn-group btn-group-justified" ng-show="gridOptions.data.length > 0">
              <div class="btn-group"><button type="button" event-name="tcmLookupBack" id="BackCustomerButton" name="BackCustomerButton" class="btn btn-sm btn-default" ng-click="clearTcmResultsOnly()"><span data-translate="801" class="ng-scope">Back</span></button></div>
              <div class="btn-group"><button type="button" event-name="tcmLookupCreate" id="createButton" name="createButton" class="btn btn-sm btn-default" ng-click="checkType('create')"><span data-translate="2904">Create</span></button></div>
              <div class="btn-group"><button type="button" event-name="tcmLookupSelect" id="editButton" name="editButton" class="btn btn-sm btn-default" permission="editemployeecheckinout" permission-disabled="!activeItem" ng-click="checkInOut()" ng-disabled="!activeItem"><span data-translate="774" class="ng-scope">Edit</span></button></div>
              <div class="btn-group"><button type="button" event-name="tcmLookupCancel" id="cancelButton" name="cancelButton" class="btn btn-sm btn-default" onclick="window.history.back()"><span data-translate="1.2">Cancel</span></button></div>
            </div>
          </div>
        </div>
      </nav>

      <div class="col-xs-12" id="tcmSearchOptions" ng-hide="gridOptions.data.length > 0">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <h4 data-translate="2903">Time Clock Manager</h4>
              </div>
            </div>
          </div>
          <div class="panel-body auto-height-panel" id="adv_lookup_ctrls">
            <div class="col-xs-12">
                <div class="control-group">
                    <div class="controls form-group">
                        <label class="control-label" for="start-date" data-translate="958">Start Date</label>
                        <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
                        </p>
                    </div>
                    <div class="controls form-group">
                        <label class="control-label" for="end-date" data-translate="611">End Date</label>
                        <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
                        </p>
                    </div>

                    <div class="controls form-group">
                        <label class="control-label" for="employee" data-translate="878">Employee</label>:
                        <select id="employee" ng-model="employee" class="form-control" ng-options="x.sid as x.fullname + ' : ' + x.username for x in employees"><option value="" style="display:none" data-translate="1358">Select...</option>
                        </select>
                    </div>
                    <div class="controls form-group">
                        <label class="control-label" for="type" data-translate="542">Type</label>:
                        <select id="type" ng-required="true" ng-model="event_type" class="form-control">
                            <option value="" style="display:none" data-translate="1358">Select...</option>
                            <option value="((event_type,eq,0) OR (event_type,eq,1))" data-translate="1143">All</option>
                            <option value="(event_type,eq,0)" data-translate="511">Check In</option>
                            <option value="(event_type,eq,1)" data-translate="512">Check Out</option>
                        </select>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12" id="tcmResultsDiv" ng-show="gridOptions.data.length > 0">
        <div class="panel panel-default">
          <div class="panel-heading">Time Clock Manager Results</div>
          <div class="panel-body">
            <div class="row height70 autoOverflow">
              <div class="list-group">
                <a name="link0" event-name="tcmListItem" class="list-group-item ng-scope" id="tcmEmpItem" tabindex="100" index="0" data-item-group="" ng-repeat="employee in gridOptions.data" ng-click="setEmployeeItem(employee.sid)" ng-dblclick="editMe($index)">
                  <div class="row">
                    <div class="col-xs-12 ng-binding">
                      <span ng-hide="true">{{employee.sid}}</span>
                      <strong data-translate="878" class="ng-scope">Employee</strong> {{employee.employee_full_name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 ng-binding">
                      <strong data-translate="542" class="ng-scope">Type</strong> {{employee.event_type}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 ng-binding">
                      <strong data-translate="684" class="ng-scope">Date</strong> {{employee.event_datetime}}
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
