<ng-form name="pref_form" ng-controller="formStatEmitter" ng-if="pData" class="pref_form">
    <div class="col-xs-12" ng-controller="AcTouchMenuPreferences">
        <div class="row">
			<div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1720">
                        Menu Settings
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label" for="labelField" data-translate="1721">Default Touch Menu:</label>
                            </div>
                            <div class="col-xs-6">
                                <label for="pageSize" class="control-label" data-translate="1722">Buttons Per Page:</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                <select class="form-control" ng-model="pData.touch_menu_default_menu_sid.value" ng-options="menu.sid as menu.label for menu in existingMenus" ng-change="menuChange()">
                                    <option value="" data-translate="1504">Choose a Menu...</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" id="pageSize" ng-model="pData.touch_menu_page_size.value">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="labelField" class="control-label" data-translate="1723">Button Label Field:</label>
                            </div>
                            <div class="col-xs-6">
                                <label for="mainMenuText" class="control-label" data-translate="1723">Main Menu Button Label:</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                <select class="form-control" id="labelField" ng-model="pData.touch_menu_label_field.value" ng-options="field.value as field.label | translate for field in labelFields">
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" id="mainMenuText" ng-model="pData.touch_menu_default_main_menu_button_label.value">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="previousButtonText" data-translate="1724">Previous Menu Label:</label>
                            </div>
                            <div class="col-xs-6">
                                <label for="nextPageButtonText" data-translate="1725">Next Page Label:</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                <input class="form-control" type="text" id="previousButtonText" ng-model="pData.touch_menu_default_previous_menu_button_label.value">
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" id="nextPageButtonText" ng-model="pData.touch_menu_default_next_page_button_label.value">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="previousPageButtonText" data-translate="1726">Previous Page Button Label:</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                <input class="form-control" type="text" id="previousPageButtonText" ng-model="pData.touch_menu_default_previous_page_button_label.value">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1728">
                        Default Item Button Appearance
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-5">
                                <label for="itemButtonBackgroundColor" data-translate="1729">Background:</label>
                            </div>
                            <div class="col-xs-5">
                                <label for="itemButtonFontColor" data-translate="1509">Font Color:</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-5">
                                <select class="form-control" id="itemButtonBackgroundColor" ng-model="itemButtonBackgroundColor" ng-options="color for color in predefinedColors">
                                    <option value="" data-translate="1730">Choose a color...</option>
                                </select>
                            </div>
                            <div class="col-xs-5">
                                <select class="form-control" id="itemButtonFontColor" ng-model="itemButtonFontColor" ng-options="color for color in predefinedColors">
                                    <option value="" data-translate="1730">Choose a color...</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <div style="color:{{ itemButtonFontColor }};background:{{ itemButtonBackgroundColor }};text-align:center">
                                    Txt
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="control-label" for="itemButtonHeight" data-translate="1510">Height:</label>
                            </div>
                            <div class="col-xs-5">
                                <label class="control-label" for="itemButtonWidth" data-translate="1511">Width:</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-5">
                                <input class="form-control" type="number" id="itemButtonHeight" ng-model="itemButtonHeight" min="48" max="250">
                            </div>
                            <div class="col-xs-5">
                                <input class="form-control" type="number" id="itemButtonWidth" ng-model="itemButtonWidth" min="48" max="250">
                            </div>
                        </div>
                            <input type="hidden" ng-model="pData.touch_menu_default_item_button_appearance.value">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="1731">
                        Default Navigation Button Appearance
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-5">
                                <label for="navigationButtonBackgroundColor" data-translate="1729">Background:</label>
                            </div>
                            <div class="col-xs-5">
                                <label for="navigationButtonFontColor" data-translate="1509">Font Color:</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-5">
                                <select class="form-control" id="navigationButtonBackgroundColor" ng-model="navigationButtonBackgroundColor" ng-options="color for color in predefinedColors">
                                    <option value="" data-translate="1730">Choose a color...</option>
                                </select>
                            </div>
                            <div class="col-xs-5">
                                <select class="form-control" id="navigationButtonFontColor" ng-model="navigationButtonFontColor" ng-options="color for color in predefinedColors">
                                    <option value="" data-translate="1730">Choose a color...</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <div style="color:{{ navigationButtonFontColor }};background:{{ navigationButtonBackgroundColor }};text-align:center">
                                    Txt
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="control-label" for="navigationButtonHeight" data-translate="1510">Height:</label>
                            </div>
                            <div class="col-xs-5">
                                <label class="control-label" for="navigationButtonWidth" data-translate="1511">Width:</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-5">
                                <input class="form-control" type="number" id="navigationButtonHeight" ng-model="navigationButtonHeight" min="48" max="250">
                            </div>
                            <div class="col-xs-5">
                                <input class="form-control" type="number" id="navigationButtonWidth" ng-model="navigationButtonWidth" min="48" max="250">
                            </div>
                        </div>
                        <input type="hidden" ng-model="pData.touch_menu_default_navigation_button_appearance.value">
                    </div>
                </div>
            </div>
		</div>
    </div>
</ng-form>