<ng-form name="pref_form" ng-controller="formStatEmitter" ng-if="pData" class="pref_form">
    <div class="container-fluid" ng-controller="ACReasons">
        <div class="row">
            <div class="col-xs-3">
                <div class="row">
                    <label class="control-label" data-translate="542">Type</label>
                    <select class="form-control" ng-change="setReasonsGrid()" ng-model="selectedModel" ng-options="s as s.txt | translate for s in modelVals"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                </div>
            </div>
            <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-12">
                             
                        </div>
                    </div>
                    <div class="row" ng-if="selectedModel.val!=='sales'">

                        <div class="col-xs-12">
                            <label for="req_sc" class="control-label">
                                <input type="checkbox" ng-if="selectedModel" ng-model="pData['documents_reason_comments_doc_reason_required_' + selectedModel.val].value" id="req_sc">
                                <span data-translate="1755">Comment Required</span>
                            </label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row top-margin">
            <div>
                <div ng-show="reasonsList!=undefined&&reasonsList.length!=0" class="panel panel-default">
                    <div class="panel-heading">
                        <span data-translate="1756">Reasons</span> - <span data-translate="{{selectedModel.txt}}">{{selectedModel.txt}}</span>
                    </div>
                    <div class="panel-body">
                        <editgrid gridid="reason_grid" ng-if="reasonsList" displaycolumns="Active,Name,Shrinkable,Default" datacolumns="active,name,shrink_flag,default" partial="{{viewPath}}edit-discount-reasons.partial.htm" tableclass="table-responsive table-bordered col-xs-12 table-centered table-striped" modalclass="discount-modal"></editgrid>
                    </div>
                </div>
                <div ng-show="reasonsList==undefined||reasonsList.length==0" data-translate="{{ msg }}">
                    {{ msg | translate}}
                </div>
            </div>
        </div>
    </div>
</ng-form>