<ng-form name="pref_form" ng-controller="formStatEmitter" class="pref_form">
    <div>
        <div ng-controller="selectMultipleCheckboxGrid" class="row">
            <div class="col-xs-6">
                <label class="control-label" data-translate="609">Lookup By</label>
                <table class="table-responsive table-striped table-bordered table-centered">
                    <thead>
                        <tr>
                            <th class="col-md-10" data-translate="1124">Item Field</th>
                            <th class="col-md-2" data-translate="1125">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemLookUpColumns">
                            <td class="align-left col-md-10" data-translate="{{item.txt}}">{{item.txt}}</td>
                            <td class="col-md-2"><input type="checkbox" ng-model="nothing" ng-click="toggleSelectMultipleCheckbox($event,item.val,item_lookup_by, pData.documents_general_item_lookup_by)" ng-checked="isCheckBoxSelected(item.val,item_lookup_by)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6 form-group" ng-controller="advancedLookupControllerAC">
                <multi-select sortable="false" first-label="Advanced Lookup By:" second-label="Selected" text-key="name" value-key="value" in-obj="offColumns" ng-model="pData.transactions_general_advanced_item_lookup_by.value"></multi-select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6">
                <label class="control-label"><input ng-checked="toBoolean(pData.pos_options_general_use_accumulated_discounting.value)" ng-model="pData.pos_options_general_use_accumulated_discounting.value" type="checkbox">
                <span class="checkbox_label" data-translate="2441">Use Accumulated Discounting</span></label>
            </div>
            <div class="col-xs-6">
                <label class="control-label" data-translate="1363">Bring Original Price from Price Level</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6">
                <label class="control-label"><input ng-checked="toBoolean(pData.documents_general_consolidate_items_on_docs.value)" ng-model="pData.documents_general_consolidate_items_on_docs.value" type="checkbox">
                <span data-translate="2216">Consolidate like items on documents</span></label>
            </div>
            <div class="col-xs-6">
                <select class="form-control" valid-levels="subsidiary,store,workstation" ng-options="pl.price_level.toString() as pl.price_level_name for pl in PriceLevels" ng-model="pData.pos_options_general_bring_orig_price_from_price_lvl.value">
                    <option value="" style="display:none">Select...</option>
                </select>
            </div>
        </div>
    </div>
</ng-form>
