<div class="tab-container" ng-controller="ACworkstationController">
    <span class="tab-title tab-on">
        Workstation Preferences
    </span>
    <div class="tab-content">
        <div class="tab-header-nav">
            <div class="row-fluid">
                <label class="span4" data-translate="532">
                    Subsidiary:
                </label>
                <label class="span4" data-translate="683">
                    Store:
                </label>
                <label class="span4" data-translate="809">
                    Workstation:
                </label>
            </div>
            <div class="row-fluid marginbottom20px">
                <div class="span4">
                    <select class="span12" id="sub" ng-change="getStores();" ng-disabled="(subInfo.length==0)" ng-model="activeSub" ng-options="s as s.subsidiary.display_name for s in subInfo"><option value="" style="display:none" data-translate="1358">Select...</option>
                    </select>
                </div>
                <div class="span4">
                    <select class="span12" ng-change="getStations();" ng-disabled="(storeInfo.length==0)" ng-model="activeStore" ng-options="s as s.store.store_name._value_ for s in storeInfo"><option value="" style="display:none" data-translate="1358">Select...</option>
                    </select>
                </div>
                <div class="span4">
                    <select class="span12" ng-change="setWorkStation();" ng-disabled="(workStations.length==0)" ng-model="activeStation" ng-options="s as s.workstation.workstation_name._value_ for s in workStations"><option value="" style="display:none" data-translate="1358">Select...</option>
                    </select>
                </div>
            </div>
            <span class="tab-on tab-title" data-translate="1796">
                Workstations
            </span>
            <div class="tab-content grid">
                <table class="width100 grid-list">
                    <thead>
                        <tr class="gray-gradient">
                            <th data-translate="586">Active</th>
                            <th data-translate="1797">Number</th>
                            <th data-translate="1113">Name</th>
                            <th data-translate="543">Type</th>
                            <th data-translate="1798">Store Name</th>
                            <th data-translate="961">Currency</th>
                            <th data-translate="1645">Price Level</th>
                            <th data-translate="1799">Doc</th>
                            <th data-translate="1800">Doc Design</th>
                            <th data-translate="1801">Hardware</th>
                            <th data-translate="1802">EFT Service</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="modalDblClick" modalclass="admin-modal" partial="templates.ac.workstation_edit()" ng-dblclick="selectRow(x);" ng-click="selectRow(x);" ng-class="setRowClass(x)" ng-repeat="x in workStations">
                            <td class="center"><input disabled="disabled" type="checkbox" ng-checked="toBoolean(x.workstation.active._value_)"></td>
                            <td>{{x.workstation.workstation_number._value_}}</td>
                            <td>{{x.workstation.workstation_name._value_}}</td>
                            <td>{{x.workstation.workstation_type._value_}}</td>
                            <td>{{x.workstation.store_name._value_}}</td>
                            <td>{{x.workstation.base_currency_name._value_}}</td>
                            <td>{{x.workstation.price_level_name._value_}}</td>
                            <td>?</td>
                            <td>?</td>
                            <td>{{x.workstation.hardware_service_host_name._value_}}</td>

                            <td>{{x.workstation.eft_service_host_name._value_}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-large modalClick" modalclass="admin-modal" ng-disabled="(activeStation==undefined)" partial="templates.ac.workstation_edit()"><span data-translate="774">Edit</span></button>
                <button type="button" ng-click="deleteStation()" class="btn btn-large"><span data-translate="544">Delete</span></button>
                <button type="button" ng-click="exitAC()" cssurl="/styles/adminconsole/admin-helpers.css" class="btn btn-large appUnLoad"><span data-translate="0.1">Exit</span></button>
            </div>
        </div>
    </div>
</div>