<div class="modalouter" ng-controller="workStationEditController">
<div class="modal-header">
    <h3 data-translate="1988">Edit Workstation</h3>
</div>
<div class="modal-body form-group">
<tabset>
    <tab ng-click="activeTabButton.name='General'" heading="{{'685' | translate}}">
        <div class="row">
            <div class="col-xs-12">
                <ng-form name="ac_edit" id="ac_edit" novalidate="novalidate">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-translate="1760">
                                    Workstation Identification
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label class="control-label" data-translate="1635">Number:</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <label class="control-label" data-translate="1636">Name:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <!-- DT19657 - Preventing non-numeric characters from being entered using the numberonly directive -->
                                            <input class="form-control" maxlength="5" name="workstation_number" required="required" ng-model="activeWorkstation.workstation_number" type="text" numberonly>
                                        </div>
                                        <div class="col-xs-9">
                                            <input class="form-control" readonly="true" required="required" name="workstation_name" ng-model="activeWorkstation.workstation_name" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="control-label" data-translate="542">Type:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <select class="form-control" required="required" name="workstation_type" ng-model="activeWorkstation.workstation_type" ng-options="s.value as s.name for s in workstationTypes">
                                                <option style="display:none" value="" data-translate="1761">Select a Type...</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <input name="active" type="checkbox" ng-model="activeWorkstation.active" ng-checked="toBoolean(activeWorkstation.active)"> <label class="checkbox-label" data-translate="586">Active</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-translate="1646">
                                    Override Global Settings
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="control-label" data-translate="562">Subsidiary:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select required="required" name="subsidiary_sid" class="form-control" ng-change="changeSubsidiary();" ng-model="activeWorkstation.subsidiary_sid" ng-options="s.sid as s.subsidiary_name for s in subsidiaries"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="control-label" data-translate="683">Store:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select required="required" name="store_sid" class="form-control" ng-disabled="(storeInfo.length==0)" ng-model="activeWorkstation.store_sid" ng-options="s.sid as s.store_number   + ' - ' + s.store_name for s in stores">
                                                <option data-translate="1765" style="display:none;">Select a Store...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="control-label" data-translate="553">Price Level:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select class="form-control" name="active_price_level_sid" ng-disabled="(priceLevels.length==0)" ng-model="activeWorkstation.active_price_level_sid" ng-options="s.sid as s.pricelvlname for s in PriceLevels">
                                                <option style="display:none" value="" data-translate="1766">Select a Price Level...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="control-label" data-translate="1767">Tax Area 1:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select class="form-control" name="tax_area_sid" ng-disabled="(taxAreas.length==0)" ng-model="activeWorkstation.tax_area_sid" ng-options="s.sid as s.tax_area_name for s in TaxAreas">
                                                <option style="display:none" value="" data-translate="1643">Select a Tax Area...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label data-translate="2218">Tax Area 2:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select class="form-control" name="tax_area2_sid" ng-disabled="(taxAreas.length==0)" ng-model="activeWorkstation.tax_area2_sid" ng-options="s.sid as s.tax_area_name for s in TaxAreas">
                                                <option style="display:none" value="" data-translate="1643">Select a Tax Area...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-default closeModal" ng-disabled="!ac_edit.$valid" ng-click="save();$close();"><span data-translate="1514">Save &amp; Exit</span></button>
                                <button type="button" class="btn btn-default" ng-click="$close();"><span data-translate="0.1">Exit</span></button>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </tab>
    <tab ng-click="activeTabButton.name='Sequencing'" heading="{{'2465' | translate}}">
        <div ng-include="viewPath + 'ac-sequence-edit-partial.htm'"></div>
    </tab>
    <tab ng-if="workstationPreferences" heading="{{'1200' | translate }}">
        <div ng-include="halTemplate"></div>
    </tab>
</tabset>

<!--<div>

<div class="modalouter">
<span class="tab-title" ng-repeat="x in tabs" ng-class="setTabClass(x)" ng-click="selectTab(x);">{{x.name}}</span>
<div class="modalouter">
    <div class="tab-content" ng-show="activeTabButton.name=='General'">
        <div class="tab-header-nav">

        </div>
    </div>
</div>
<div class="modalouter">
    <div class="tab-content" ng-show="activeTabButton.name=='EFT'">
        <div class="tab-header-nav">
            <div class="row">
                <div class="col-xs-12">
                    <fieldset class="fieldset">
                        <h4 data-translate="1768">EFT Gateway</h4>
                        <div class="row">
                            <div class="col-xs-4"> </div>
                            <div class="col-xs-1" data-translate="50.3">Port:</div>
                            <div class="col-xs-4" data-translate="1205">Log Level:</div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-1" data-translate="1769">Delay:</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4"><select class="form-control" ng-model="activeWorkstation.eft_sid" ng-change="setEFT()" ng-options="s.externalservice.sid as s.externalservice.host_name for s in externalEFT"><option value="" style="display:none" data-translate="1358">Select...</option></select></div>
                            <div class="col-xs-1"><input type="text" class="col-xs-12" ng-model="activeEFT.port" ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" /></div>
                            <div class="col-xs-4"><select class="form-control" ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" ng-model='activeEFT.config_data.log.loglevel' ng-options="s.val as s.text for s in loglevels"><option value="" style="display:none" data-translate="1358">Select...</option></select></div>
                            <div class="col-xs-2"><input type="checkbox" ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" ng-model="activeEFT.config_data.log.livelog" ng-checked="toBoolean(activeEFT.config_data.log.livelog)" /> <label class="control-label" class="checkbox-label" data-translate="1206">Live Logging</label></div>
                            <div class="col-xs-1"><input type="text" ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" class="col-xs-12" ng-model="activeEFT.startup_delay" /></div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset topf">
                        <h4 class="nested" data-translate="1770">Provider</h4>
                        <div class="col-xs-4">
                            <fieldset>
                                <h4 data-translate="1771">Card Shield Address</h4>
                                <div class="row">
                                    <div class="col-xs-8" data-translate="1772">Host:</div>
                                    <div class="col-xs-2" data-translate="50.3">Port:</div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-8"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="text" ng-model="activeEFT.config_data.cardshield.host" class="col-xs-12" /></div>
                                    <div class="col-xs-4"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="text" ng-model="activeEFT.config_data.cardshield.port" class="col-xs-12" /></div>
                                </div>
                            </fieldset>
                            <fieldset class="montera">
                                <h4 data-translate="1773">Monetra Address</h4>
                                <div class="row">
                                    <div class="col-xs-8" data-translate="1772">Host:</div>
                                    <div class="col-xs-4" data-translate="50.3">Port:</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="text" ng-model="activeEFT.config_data.cardshield.monetra_host" class="col-xs-12" /></div>
                                    <div class="col-xs-4"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="text" ng-model="activeEFT.config_data.cardshield.monetra_port" class="col-xs-12" /></div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-xs-3">
                            <fieldset>
                                <h4 data-translate="1774">Card Shield</h4>
                                <div class="row">
                                    <div class="col-xs-12" data-translate="1211">User Name:</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" ng-model="activeEFT.config_data.cardshield.user_name" type="text" class="col-xs-12" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" data-translate="1775">Sub User Name:</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" ng-model="activeEFT.config_data.cardshield.sub_user_name" type="text" class="col-xs-12" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" data-translate="1212">Password:</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="password" ng-model="activeEFT.config_data.cardshield.password" class="col-xs-12" /></div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-xs-4">
                            <fieldset>
                                <h4>Device</h4>
                                <div class="row">
                                    <div class="col-xs-12" data-translate="542">Type:</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"><select ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" ng-model="activeEFT.config_data.cardshield.device_type" ng-options="s.prodid as s.name for s in hwdevices" class="col-xs-12"><option value="" style="display:none" data-translate="1358">Select...</option></select></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" data-translate="1777">COM Port:</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" ng-model="activeEFT.config_data.cardshield.device_port" type="text" class="col-xs-12" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" data-translate="needsID">Timeout:</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"><input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" ng-model="activeEFT.config_data.eft_gateway.preprocess_timeout" type="text" class="col-xs-12" /></div>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <h4 data-translate="1779">Use EFT for:</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <fieldset>
                                    <h4 data-translate="1780">Credit Card Gateway</h4>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="checkbox" name="workPrefs.workstation.pos_tenders_eft_use_for_credit" ng-model="workPrefs.workstation.pos_tenders_eft_use_for_credit" ng-checked="toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_credit)" /> <label class="control-label" class='checkbox-label' data-translate="573">Credit</label>
                                        </div>
                                        <div class="col-xs-6" data-translate="1781">
                                            Default Entry Method:
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select ng-model="activeEFT.config_data.eft_gateway.credit_lib_name" ng-options="s.val as s.text for s in gateways" ng-disabled="(activeWorkstation.eft_sid==''||!toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_credit))" class="col-xs-12"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-disabled="(activeWorkstation.eft_sid==''||!toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_credit))" ng-model="workPrefs.workstation.pos_tenders_eft_credit_default_entry_method" ng-options="s.val as s.txt for s in entryMethods"<option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-xs-6">
                                <fieldset>
                                    <h4 data-translate="1782">Debit Card Gateway</h4>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="checkbox" ng-model="workPrefs.workstation.pos_tenders_eft_use_for_debit" ng-checked="toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_debit)" /> <label class="control-label" class='checkbox-label' data-translate="574">Debit</label>
                                        </div>
                                        <div class="col-xs-6" data-translate="1781">
                                            Default Entry Method:
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select ng-model="activeEFT.config_data.eft_gateway.debit_lib_name" ng-options="s.val as s.text for s in gateways" class="col-xs-12" ng-disabled="(activeWorkstation.eft_sid==''||!toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_debit))"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select ng-disabled="(activeWorkstation.eft_sid==''||!toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_debit))" class="col-xs-12" ng-model="workPrefs.workstation.pos_tenders_eft_debit_default_entry_method" ng-options="s.val as s.txt for s in debitEntryMethods"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <fieldset>
                                    <h4 data-translate="1783">Gift Card Gateway</h4>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="checkbox" ng-model="workPrefs.workstation.pos_tenders_eft_use_for_gift_card" ng-checked="toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_gift_card)" /> <label class="control-label" class='checkbox-label' data-translate="575">Gift Card</label>
                                        </div>
                                        <div class="col-xs-6" data-translate="1781">
                                            Default Entry Method:
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-model="activeEFT.config_data.eft_gateway.gift_lib_name" ng-options="s.val as s.text for s in gateways" ng-disabled="(activeWorkstation.eft_sid==''||!toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_gift_card))"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-disabled="(activeWorkstation.eft_sid==''||!toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_gift_card))" ng-model="workPrefs.workstation.pos_tenders_eft_gift_default_entry_method" ng-options="s.val as s.txt for s in entryMethods"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-xs-6">
                                <fieldset>
                                    <h4 data-translate="1784">Check Gateway</h4>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input ng-disabled="(activeWorkstation.eft_sid==''||activeWorkstation.eft_sid=='0')" type="checkbox" ng-model="workPrefs.workstation.pos_tenders_eft_use_for_check" ng-checked="toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_check)" /> <label class="control-label" class='checkbox-label' data-translate="1785">Check Verification</label>
                                        </div>
                                        <div class="col-xs-6" data-translate="1781">
                                            Default Entry Method:
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-model="activeEFT.config_data.eft_gateway.check_lib_name" ng-options="s.val as s.text for s in gateways" ng-disabled="(activeWorkstation.eft_sid==''||!toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_check))"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-model="workPrefs.workstation.pos_tenders_eft_check_default_entry_method" ng-disabled="(activeWorkstation.eft_sid==''||!toBoolean(workPrefs.workstation.pos_tenders_eft_use_for_check))" ng-options="s.val as s.txt for s in checkEntryMethods"><option value="" style="display:none" data-translate="1358">Select...</option></select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</ng-form>
<div class="modalouter">
    <div class="tab-content" ng-show="activeTabButton.name=='HAL'">
        <div class="tab-header-nav">
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include="halTemplate"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>-->

</div>
<!--<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
</div>-->
</div>
