<form novalidate="novalidate" id="zOutAddTender" name="zOutAddTender" class="form-horizontal relative">
	<div class="modalouter">
		<div class="modal-header">
			<div class="row">
				<div class="col-sm-12">
					<h4 data-translate="1851">Confirm Drawer Reconcile</h4>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div ng-class="{'col-sm-6':!isStructured, 'col-sm-4':isStructured}">
					<button event-name="zOutOverlapConfirmationOk" class="btn btn-default btn-large btn-block" tabindex="15" type="button" id="okButton" ng-click="Continue()"><img src="/images/pos/check.png" class="margin-right"><span data-translate="7159">Reconcile</span></button>
				</div>
        <div class="col-sm-4" ng-if="isStructured">
          <button event-name="zOutOverlapConfirmationAudit" class="btn btn-default btn-large btn-block" tabindex="15" type="button" id="auditButton" ng-click="Audit()"><img src="/images/pos/check.png" class="margin-right"><span data-translate="4940">Audit</span></button>
        </div>
				<div ng-class="{'col-sm-6':!isStructured, 'col-sm-4':isStructured}">
					<button event-name="zOutOverlapConfirmationCancel" class="btn btn-large bnt-default btn-block" tabindex="16" type="button" id="cancelButton" ng-click="Cancel()"><img src="/images/pos/delete.png" class="margin-right"><span data-translate="801">Back</span></button>
				</div>
			</div>
		</div>
	</div>
</form>
