<form novalidate="" id="zOutAddTender" name="zOutAddTender" class="form-horizontal relative">
	<div class="modalouter">
		<div class="modal-header">
			<div class="row">
				<div class="col-sm-12">
					<h4 data-translate="2274">Count Mismatch</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-1">
					<img src="/images/pos/question_32.png" class="margintop">
				</div>
				<div class="col-sm-11">
					<p data-translate="2275">Count does not match tendered amount. Do you wish to continue?</p>

					<p><span data-translate="2276">Recount Attempts Available:</span> {{attempts}}</p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-sm-6">
					<button event-name="zOutCountMismatchOk" class="btn btn-primary btn-large btn-block" tabindex="15" type="button" id="okButton" ng-click="Recount()"> <span data-translate="1850">Recount</span></button>
				</div>
				<div class="col-sm-6">
					<button event-name="zOutCountMismatchCancel" class="btn btn-large btn-block" tabindex="16" type="button" id="cancelButton" ng-click="Continue()"><span data-translate="3724">Continue</span></button>
				</div>
			</div>
		</div>
	</div>
</form>
