<div ng-controller="zOutFiltersController">

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title" data-translate="1835">Z Out Close: Z Out Parameter</h1>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="control-group">
                  <label class="control-label" for="start-date" data-translate="958">Start Date</label>
                  <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
                  </p>

                  <label class="control-label" for="end-date" data-translate="611">End Date</label>
                  <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
                  </p>

									<label class="control-label" for="subsidiary" data-translate="562">Subsidiary:</label>
									<div class="controls">
										<select id="subsidiary" ng-model="filter.subsidiary" ng-change="onSubsidiaryChange()" class="form-control" ng-options="s.sid as s.subsidiary_number + ' :' + s.subsidiary_name for s in subsidiaries"><option value="" style="display:none" data-translate="1358">Select...</option>
										</select>
									</div>

									<label class="control-label" for="installation" data-translate="957">Installation:</label>
									<div class="controls">
										<select id="installation" ng-model="filter.installation" class="form-control" ng-options="c.sid as c.controller_number + ' :' + c.controller_name for c in controllers">
											<option value="" data-translate="1143">All</option>
										</select>
									</div>

									<label class="control-label" for="store" data-translate="683">Store:</label>
									<div class="controls">
										<select id="store" ng-model="filter.store" ng-change="onStoreChange()" class="form-control" ng-options="c.sid as c.store_number + ' :' + c.store_name for c in stores">
											<option value="" data-translate="1143">All</option>
										</select>
									</div>

									<label class="control-label" for="workstation" data-translate="809">Workstation:</label>
									<div class="controls">
										<select id="workstation" ng-model="filter.workstation" class="form-control" ng-change="changeWorkstation(filter.workstation,'{{filter.workstation}}')" ng-options="c.sid as c.workstation_number + ' :' + c.workstation_name for c in workstations">
											<option value="" data-translate="1143">All</option>
										</select>
									</div>

									<label class="control-label" for="drawer" data-translate="662">Drawer:</label>
									<div class="controls">
										<select id="drawer" ng-model="filter.drawer" class="form-control">
											<option value="" data-translate="1143">All</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</div>

									<label class="control-label" for="till" data-translate="661">Till:</label>
									<div class="controls">
										<select id="till" ng-model="filter.till" class="form-control" ng-options="c.sid as c.till_name for c in tills">
											<option value="" data-translate="1143">All</option>
										</select>
									</div>

									<label class="control-label" for="cashier" data-translate="622">Cashier:</label>
									<div class="controls">
										<select id="cashier" ng-model="filter.cashier" class="form-control" ng-options="c.sid as c.employee_name for c in employees">
											<option value="" data-translate="1143">All</option>
										</select>
									</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
