<div class="modalouter">
  <div class="modal-header">
    <h4 data-translate="6443">Authorization</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 text-center">
        <label class="control-label text-left">
          <span data-translate="1011">Username</span>
          <input type="text" ng-model="connAuth.username" class="form-control">
        </label>
        <br>
        <label class="control-label text-left">
          <span data-translate="1212">Password</span>
          <input type="password" ng-model="connAuth.password" class="form-control" maxlength="24">
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-default" ng-click="connAuth.dismiss()"><span data-translate="1.2">Cancel</span></button>
    <button class="btn btn-default" ng-click="connAuth.auth()"><span data-translate="6807">Authorize</span></button>
  </div>
</div>
