<form
  name="mwGeniusDevice"
  id="mwGeniusDevice"
  autocomplete="off"
  class="form-horizontal"
>
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h3 data-translate="6715">Cayan</h3>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid" style="text-align:center">
        <div class="row" ng-show="deviceInitialized&&!deviceValidating">
          <!-- Show DIV if deviceInitialized is true -->
          <h4>
            <on-polling-loading-status
              loading-status-msg="'Waiting On Customer'"
            ></on-polling-loading-status>
          </h4>
          <h5 data-translate="1941">
            Please wait for the customer to complete the transaction using the
            card reader/pinpad.
          </h5>
        </div>
        <div class="row" ng-show="!deviceInitialized&&!deviceValidating">
          <!-- Show DIV if deviceInitialized is not true -->
          <h4>
            <on-polling-loading-status
              loading-status-msg="'Waiting On Device'"
            ></on-polling-loading-status>
          </h4>
          <h5 data-translate="3354">
            Please wait for the Customer Engagement Device to complete
            initialization.
          </h5>
        </div>
        <div class="row" ng-show="deviceValidating">
          <!-- Show DIV if deviceInitialized is not true -->
          <h4>
            <on-polling-loading-status
              loading-status-msg="'Waiting On Device'"
            ></on-polling-loading-status>
          </h4>
          <h5 data-translate="6353">
            The device is taking longer than expected to respond, please
            continue to wait.
          </h5>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <div class="container-fluid">
        <div class="row">
          <button id="mwKeyedButton" type="button" class="btn btn-lg btn-default" ng-disabled="!deviceInitialized||giveTender" ng-show="showKeyedEntry" ng-click="keyedEntry()">
            <span data-translate="3643">Keyed Entry</span>
          </button>
          <button id="bypassButton" type="button" class="btn btn-lg btn-default" ng-disabled="!deviceInitialized" ng-hide="bypassDeviceDisabled" ng-click="abortCED(true)" data-translate="1942">
            Bypass Device
          </button>
          <button id="cancelButton" type="button" class="btn btn-lg btn-default" ng-disabled="!deviceInitialized" ng-click="abortCED()" data-translate="1.2">
            Cancel
          </button>
        </div>
      </div> -->
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group" style="padding:0.5em" ng-if='externalScope.tender.tenderType!=="GiftCard"'>
          <button
            id="mwKeyedButton"
            type="button"
            class="btn btn-lg btn-default"
            ng-disabled="!deviceInitialized||giveTender"
            ng-show="showKeyedEntry"
            ng-click="keyedEntry()"
          >
            <span data-translate="3643">Keyed Entry</span>
          </button>
        </div>
        <div class="btn-group" role="group" style="padding:0.5em">
          <button
            id="bypassButton"
            type="button"
            class="btn btn-lg btn-default"
            ng-disabled="!deviceInitialized"
            ng-hide="bypassDeviceDisabled"
            ng-click="abortCED(true)"
            data-translate="1942"
          >
            Bypass Device
          </button>
        </div>
        <div class="btn-group" role="group" style="padding:0.5em">
          <button
            id="cancelButton"
            type="button"
            class="btn btn-lg btn-default"
            ng-disabled="!deviceInitialized"
            ng-click="abortCED()"
            data-translate="1.2"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
