<div class="modal-content">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          <span data-translate="6715">Cayan</span>
          <span data-translate="575">Gift Card</span> -
          <span data-translate="{{cayanData.titleId}}"></span>
        </h3>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid" style="text-align: center">
      <!--Show Card Reader swipe/Key-in card content below-->
      <div ng-if="!showBalance">
        <form
          name="form.mwGiftCards"
          id="mwGiftCards"
          autocomplete="off"
          class="form-horizontal"
        >
          <!--Show header content based on action type-->
          <div class="row" ng-if="cayanData.actionType!=='GIFT_BALANCE'">
            <div class="col-xs-4">
              <h4 for="addValueLabel" data-translate="931" ng-if='!cayanData.forTender'>
                Add Value
              </h4>
              <h4 for="saleAmounttLabel" data-translate="1425" ng-if="cayanData.forTender&&cayanData.actionType==='GIFT_TAKE'">
                Sale Amount
              </h4>
              <h4 for="saleAmounttLabel" data-translate="1405" ng-if="cayanData.forTender&&cayanData.actionType==='GIFT_GIVE'">
                Return Value
              </h4>
            </div>
            <div class="col-xs-8">
              <input
                id="addValueInput"
                class="form-control"
                style="font-size: 18px"
                type="text"
                tabindex="2"
                autocomplete="off"
                name="addValueInput"
                ng-model="form.addValue"
                ng-disabled="processing || cayanData.forTender"
                data-currency-formatter
                numberonly
                ng-keyup="($event.keyCode === 13) ? ((cayanData.useCED) ? processWithCed(): actionButtons[0].action()) : setButtons()"
              />
            </div>
          </div>
          <!-- swipe mode with special hidden input field to capture card number-->
          <div ng-if="!keyInMode">
            <div style="width:0;height:0;overflow:auto;">
              <input
                id="txtCardNumber"
                type="text"
                maxlength="600"
                name="txtCardNumber"
                ng-model="form.swipeRawTrackData"
                ng-blur="removedFocus()"
              />
            </div>
          </div>
          <!-- keyin mode with an input field to capture card number-->
          <div ng-if="keyInMode">
            <div class="row">
              <div class="col-xs-4">
                <h4 for="txtKeyedCardNumber" data-translate="1426">
                  Card Number
                </h4>
              </div>
              <div class="col-xs-8">
                <input
                  id="txtKeyedCardNumber"
                  class="form-control"
                  style="font-size: 18px"
                  type="text"
                  placeholder="{{ '1857' | translate }}"
                  tabindex="2"
                  maxlength="19"
                  autocomplete="off"
                  name="txtKeyedCardNumber"
                  ng-model="form.keyedInCardNo"
                  ng-disabled="processing"
                  ng-keyup="$event.keyCode === 13 ? processKeyedEntry() : setButtons()"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--Show below message to suggest user about required action-->
      <div ng-if="showSuggestion">
        <h4>{{infoMessage}}</h4>
      </div>
      <!--Show below messages if currently in process-->
      <div ng-if="processing && !showBalance">
        <div class="row">
          <h4>
            <on-polling-loading-status
              loading-status-msg="inProcess.titleMsg"
            ></on-polling-loading-status>
          </h4>
          <h5>{{inProcess.detailMsg}}</h5>
        </div>
      </div>
      <!--Show gift card balance-->
      <div class="row" ng-if="showBalance">
        <h3>
          <b>
            <span data-translate="1428">Card Balance</span>
            <span> : {{giftCardBalance|currency}}</span>
          </b>
        </h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div
        class="btn-group"
        role="group"
        style="padding:0.5em"
        ng-repeat="actionBtn in actionButtons"
        ng-if="actionBtn.show"
      >
        <button
          type="button"
          id="{{actionBtn.id}}"
          class="{{(actionBtn.name==='Process')?'btn btn-lg btn-info':'btn btn-lg btn-default'}}"
          event-name="{{actionBtn.eventName}}"
          ng-disabled="actionBtn.disabled"
          data-translate="{{actionBtn.translateId}}"
          ng-click="actionBtn.action()"
        >
          {{actionBtn.name}}
        </button>
      </div>
    </div>
  </div>
</div>
