<form name="mwGeniusDevice" id="mwGeniusDevice" autocomplete="off" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="6715">Cayan</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <h4 data-translate="6709">Please select action</h4>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <button type="button" id="mwSwipeButton" class="btn btn-lg btn-info btn-block" ng-click="swipe()"><span data-translate="6710">Swipe</span></button>
              <button type="button" id="mwKeyedButton" class="btn btn-lg btn-info btn-block" ng-click="keyed()" ng-disabled="giveTender"><span data-translate="3643">Keyed Entry</span></button>
              <button type="button" id="bypassButton" class="btn btn-lg btn-info btn-block" ng-click="bypass()"><span data-translate="1942">Bypass Device</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <button id="cancelButton" type="button" class="btn btn-lg btn-default" ng-click="cancel()" data-translate="1.2">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
