﻿@model API_net_core.Areas.AdminTool.Models.ObjData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/angular.js/angular.js"></script>
    <script src="~/lib/app.js"></script>
    <script src="~/lib/Myfactory.js?v=1.0.0"></script>
</head>
<body ng-app="myapp">
    <script>
    
        $(function () {
     
            $('#img_source').click(function (e) {
              
                var offset = $(this).offset();
                $("#x_").val(e.pageX - offset.left);
                $("#y_").val(e.pageY - offset.top);
            });
            $("#watermrk").draggable();
            $("#droppable").droppable({
                drop: function (event, ui) {
                    var offset = $(this).offset();
                    $("#x_").val(event.pageX - offset.left);
                    $("#y_").val(event.pageY - offset.top);
                  
                },
                
            });
        });
       
    </script>
    <h4>ObjData</h4>
    <hr />
  
    <div class="row" ng-controller="initupload">
          <div class="col-md-4">
              <div class="col-md-4">
                  <div class="form-group">
                      <input type="file" id="fileInput" multiple>
                  </div>
                  <div class="form-group">
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" ng-model="isWeb" /> Data Web
                          </label>
                          width: <input placeholder="width" ng-model="widthweb" />
                          height: <input placeholder="height" ng-model="heightweb" />
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" ng-model="isApp" /> Data App
                          </label>
                          width: <input placeholder="width" ng-model="widthapp" />
                          height: <input placeholder="height" ng-model="heightapp" />
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" ng-model="iswatermark" /> Watermark
                          </label>

                      </div>
                  </div>
                  <div class="form-group">
                      <label> <input type="radio" name="positionwt" checked value="0" ng-model="pst" />Top right</label>
                      <label> <input type="radio" name="positionwt" value="1" ng-model="pst" />Top left</label>
                      <label> <input type="radio" name="positionwt" value="2" ng-model="pst" />Center left</label>
                      <label> <input type="radio" name="positionwt" value="3" ng-model="pst" />Center right</label>
                      <label> <input type="radio" name="positionwt" value="4" ng-model="pst" />Bottom left</label>
                      <label> <input type="radio" name="positionwt" value="5" ng-model="pst" />Bottom right</label>
                  </div>
                  <div class="form-group">
                      <input type="button" ng-click="submitData()" value="Upload" />
                  </div>
                  {{result}}
              </div>
                  <form style="display:none" asp-action="Index" method="post" enctype="multipart/form-data">
                      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                      <div class="form-group">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" asp-for="isWeb" /> @Html.DisplayNameFor(model => model.isWeb)
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="checkbox">
                              <label>
                                  @Html.CheckBoxFor(m => m.isApp) @Html.DisplayNameFor(model => model.isApp)
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="checkbox">
                              <label>
                                  @Html.CheckBoxFor(m => m.iswatermark) @Html.DisplayNameFor(model => model.iswatermark)
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="checkbox">
                              <label>
                                  @Html.TextBoxFor(m => m.files, new { type = "file" }) @Html.DisplayNameFor(model => model.isApp)
                              </label>
                          </div>
                      </div>
                      <div class="form-group" style="position:relative">
                          <div id="droppable">
                              <img src="~/Images/demo.jpg" style="height:500px" id="img_source" />
                          </div>
                          <div id="watermrk">
                              <img src="~/Images/watermark.png" style="height:200px" id="watermrk2" />
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="submit" value="Create" class="btn btn-default" />
                          <input type="button" ng-click="submitData()" value="wew" />
                      </div>
                  </form>
              </div>
    </div>

</body>
</html>
