﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pushnoti</title>
</head>
<body>
    <form method="post">
        <input name="content" />
        <input type="submit" value="push" />
    </form>
</body>
</html>
