﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadImg</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        @*<input type="file" multiple name="files" onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory />*@
        <input type="file" multiple name="files" />
        <input type="submit" value="Upload" />
    </form>
</body>

</html>
<script>
    function selectFolder(e) {
    var theFiles = e.target.files;
        var relativePath = theFiles[0].name1;
         alert(relativePath);
}
</script>