<div class="row">
  <div class="col-xs-3">
    <label class="control-label" data-translate="3896">Arrival Date</label>
  </div>
  <div class="col-xs-7">
    <p class="input-group" ng-click="openCalendar($event, 'arrivalDt')">
      <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="arrivalDt.datepickerOptions" ng-model="arrivalDt.date" value="{{(voucher.arriveddate)?(voucher.arriveddate | date:'mediumDate'):(arrivalDt.placeholder)}}" is-open="arrivalDt.open" enable-time="false" when-closed="arrivalDt.closed()" position-left="true" ng-disabled="!disabled()">
    </p>
  </div>
</div>
