<span><button ng-if="sharedData.documentLookup.selected.length===1" class="btn btn-info btn-large" ng-click="activateOrDeactivate()" data-permission="poinactivatedelete" type="button">
    <span ng-if="!sharedData.documentLookup.selected[0].active" data-translate="2334">Activate</span>
    <span ng-if="sharedData.documentLookup.selected[0].active" data-translate="3041">Deactivate</span>
</button>
</span>
