<ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <button id="{{'asideButton_'+buttonId}}" ng-disabled="button.disable()" ng-click="open()" tabindex="1000" type="button" class="btn navbar-btn btn-default" data-container="body" event-name="openFloatingSearchFilters">
        <span data-translate="1562">Search Parameters</span>
      </button>
    </li>
</ul>
