<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" data-translate="1020">
                Central Server Settings
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label class="control-label col-xs-12">
                            <span style="color:{{testColor}}" class="glyphicon glyphicon-{{serverStat}}-circle"></span>
                            <span data-translate="5179">Connection Name</span></label>
                            <select class="form-control" ng-model="remote_connection" ng-options="x.sid as x.remotecontrollername for x in connectionList" ng-change="updateConnection()">
                              <option value="" data-translate="1358">Select...</option>
                            </select>
                        <!--<input ng-model="remote_connection_name" type="text" class="form-control" readonly>-->
                    </div>
                    <div ng-hide="true" class="col-xs-2">
                        <label class="control-label col-xs-12" data-translate="1023">Timeout</label>
                        <input class="form-control numberonly" type="text">
                    </div>
                    <div ng-hide="true" class="col-xs-2">
                        <label class="control-label col-xs-12" data-translate="3052">Resiliency Interval</label>
                        <input class="form-control numberonly" type="text">
                    </div>
                    <div ng-hide="true" class="col-xs-2">
                        <button class="btn btn-info btn-block large-text" style="margin-top:24px;" ng-click=""><span data-translate="4783" type="button">Run Resiliency</span></button>
                    </div>
                </div>
                <div ng-hide="true" class="row">
                    <div class="col-xs-3">
                        <strong data-translate="4330">Service State:</strong>
                    </div>
                    <div class="col-xs-3">
                        <strong data-translate="4331">Last Cycle:</strong>
                    </div>
                    <div class="col-xs-3">
                        <strong data-translate="4332">Status of Last Cycle:</strong>
                    </div>
                    <div class="col-xs-3">
                        <strong data-translate="4333">Next Cycle:</strong>
                    </div>
                </div>
                <div ng-hide="true" class="row">
                    <div class="col-xs-3">
                        {{}}
                    </div>
                    <div class="col-xs-3">
                        {{}}
                    </div>
                    <div class="col-xs-3">
                        {{}}
                    </div>
                    <div class="col-xs-3">
                        {{}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="pData.pos_loyalty_enabled.value" ng-checked="toBoolean(pData.pos_loyalty_enabled.value)">
                <span data-translate="4620">Enable Customer Loyalty</span>
            </label>
        </div>
    </div>

    <!-- Left Column -->
    <div class="col-sm-6">
        <div class="col-sm-12">
            <label><span class="text-muted" data-translate="4621">Use Item and total based redemption as a discount/tender</span></label>
            <select class="form-control" ng-disabled="!pData.pos_loyalty_enabled.value || pos_loyalty_redemption_type.length === 1" ng-model="pData.pos_loyalty_redemption_type.value" ng-options="x.value as x.text |      translate for x in pos_loyalty_redemption_type">
            </select>
        </div>
        <div class="col-xs-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="pData.pos_loyalty_include_tax.value" ng-disabled="!pData.pos_loyalty_enabled.value" ng-checked="toBoolean(pData.pos_loyalty_include_tax.value)">
                    <span data-translate="4622">Include Taxes when accumulating points</span>
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="pData.pos_loyalty_charge_tax.value" ng-disabled="!pData.pos_loyalty_enabled.value" ng-checked="toBoolean(pData.pos_loyalty_charge_tax.value)">
                    <span data-translate="4623">Charge taxes on loyalty items</span>
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-6">
            <label data-translate="4624">Offline point usage</label>
            <input type="text" ng-disabled="true" class="form-control" numberonly="0" decimals="2" min="0" ng-model="pData.pos_loyalty_offline_limit.value">
        </div>
        <div class="col-xs-6">
            <label data-translate="4625">Round loyalty points</label>
            <select class="form-control" convert-to-number="" ng-disabled="!pData.pos_loyalty_enabled.value" ng-model="pData.pos_loyalty_point_decimals.value">
              <option value="-1">None</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
        </div>
        <div class="col-xs-12" ng-if="false">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-disabled="!pData.pos_loyalty_enabled.value||true" ng-model="pData.pos_loyalty_enforce_returning_points.value" ng-checked="toBoolean(pData.pos_loyalty_enforce_returning_points.value)">
                    <span class="text-muted" data-translate="4626">Enforce returning loyalty points for loyalty tenders</span>
                </label>
            </div>
        </div>
    </div>
    <!-- End Left Column -->

    <!-- Right Column -->
    <div class="col-sm-6">
        <div class="col-sm-12">
            <label><span data-translate="4627">Enable Customers Opt-in flag</span></label>
            <select class="form-control" ng-disabled="!pData.pos_loyalty_enabled.value" ng-model="pData.pos_loyalty_optin_mode.value" ng-options="x.value as x.text | translate for x in pos_loyalty_optin_mode">
            </select>
        </div>
        <div class="col-xs-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-disabled="!pData.pos_loyalty_enabled.value" ng-model="pData.pos_loyalty_use_enroll_date_for_points.value" ng-checked="toBoolean(pData.pos_loyalty_use_enroll_date_for_points.value)">
                    <span data-translate="4628">Use Enroll Date for Accumulated points</span>
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-disabled="!pData.pos_loyalty_enabled.value" ng-model="pData.pos_loyalty_suggest_using_points.value" ng-checked="toBoolean(pData.pos_loyalty_suggest_using_points.value)">
                    <span data-translate="4629">Suggest using loyalty points when available</span>
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <label><span data-translate="4630">Default loyalty level</span></label>
            <select class="form-control" ng-disabled="!pData.pos_loyalty_enabled.value" ng-model="pData.pos_loyalty_default_level_sid.value" ng-options="x.sid as x.ltylvlname for x in pos_loyalty_default_level_sid">
                <option value="" data-translate="1361">None</option>
            </select>
        </div>
    </div>
    <!-- End Right Column  -->

</div>
