<div class="panel">
  <div class="panel-heading">
    <span data-translate="6609">Edit Tax Area</span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="cols-xs-12 padding-15">
        <label class="control-label ng-scope" data-translate="2830">Tax Area Name</label>
        <input type="text" class="form-control" ng-model="selectedArea.taxareaname" maxlength="11" ng-required="true">
      </div>
    </div>
    <div class="row">
      <div class="cols-xs-12 padding-15">
        <label class="control-label ng-scope" data-translate="5199">Taxable Ceiling</label>
        <input type="number" class="form-control" ng-model="selectedArea.ceilingamt">
      </div>
    </div>
    <div class="row">
      <div class="cols-xs-12 padding-15">
        <div class="col-xs-2">
          <label class="control-label ng-scope" data-translate="640">Active</label>
        </div>
        <div class="cols-xs-10">
          <input type="checkbox" class="large-input-field" ng-model="selectedArea.active">
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button type="button" data-translate="547" ng-click="editArea()" class="btn btn-primary" ng-disabled="!selectedArea.taxareaname">Save</button>
    <button type="button" data-translate="1.2" ng-click="cancelEdit()" class="btn btn-primary">Cancel</button>
  </div>
</div>
