<div class="col-xs-4">
    <label data-translate="2494">Cost</label>
</div>
<div class="col-xs-8">
    <input ng-if="!$ctrl.service.isPermissionDenied('seecost')" ng-disabled="$ctrl.service.disableOnReadOnlyMode()||$ctrl.service.isPermissionDenied('cost')||(!$ctrl.service.item.active)" type="text" ng-blur="$ctrl.service.onCostBlur($event)" numberonly data-currency-formatter="currency" ng-model="$ctrl.service.item.cost" class="form-control" id="imi-cost">
    <input ng-if="$ctrl.service.isPermissionDenied('seecost')" ng-disabled="true" type="text" class="form-control" id="imi-cost">
</div>
