<div>
  <div class="row">
    <div class="col-xs-12">
      <span class="input-group">
        <span ng-click="editAllocation()" class="input-group-addon" ng-show="ap.pattern.sid"><span class="glyphicon glyphicon-pencil"></span></span>
        <select class="form-control" ng-disabled="!purchaseOrder.isEdit" ng-change="changeAllocation();" ng-model="ap.pattern" ng-init="ap.pattern = null" ng-options="x as x.patternname | translate for x in ap.gPatterns">
          <option value="" data-translate="5408">Apply Allocation Patterns</option>
        </select>
        <a ng-click="initToggle();" ng-if="ap.pattern.sid" class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></a>
        <a ng-if="!ap.pattern.sid" class="input-group-addon" style="color:#CCC"><span class="glyphicon glyphicon-ok"></span></a>
      </span>
    </div>
  </div>
  <div class="row" ng-if="showOptions">
    <div class="col-xs-12">
      <ul class="list-group col-xs-12" id="allocationOptions" style="position:absolute;z-index:9999;">
        <li class="list-group-item" style="color:#000;cursor:pointer;" ng-if="$index===1||purchaseOrder.activeItems.length>0" ng-click="setAllocation(x.val)" ng-repeat="x in options">{{x.txt}}</li>
      </ul>
    </div>
  </div>
</div>




