<!doctype html>
<html ng-app="prismApp">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>REST API Explorer (Beta) - Retail Pro Prism</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <script src="/scripts/6c2cfc1e.api.modules.js"></script>

  <!-- Everything else after this can load in whatever order you want -->
  <script src="scripts/main-app.js"></script>

  <script src="scripts/controllers/base-controller.js"></script>
  <script src="scripts/controllers/ac-services-controller.js"></script>
  <script src="scripts/controllers/rpc-controller.js"></script>
  <script src="scripts/controllers/merchantware-controller.js" type="text/javascript"></script>
  <script src="scripts/controllers/globalblue-controller.js" type="text/javascript"></script>
  <script src="scripts/controllers/raw-http-controller.js" type="text/javascript"></script>
  <script src="components/response-format-tabs/response-format-tabs.js" type="text/javascript"></script>

  <script src="scripts/objects/loggerObject.js"></script>
  <script src="scripts/directives/dateinput-directive.js" type="text/javascript"></script>
  <script src="scripts/services/prismLogin.js"></script>
  <script src="scripts/services/prismSession.js"></script>
  <script src="scripts/services/prismUtilities.js"></script>
  <script src="scripts/services/dateinput-service.js"></script>
  <script src="scripts/services/EFTService.js"></script>
  <script src="scripts/services/loggingService.js"></script>
  <script src="scripts/services/servicesService.js"></script>
  <script src="scripts/directives/treeMenu-directive.js"></script>

  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/apitests.css">
  <link rel="stylesheet" href="styles/angular-motion.min.css">
  <link rel="stylesheet" href="/styles/api.main.css">

  <link href="styles/datepicker.css" rel="stylesheet" />


</head>

<body ng-controller="base_ctrl">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-7">
          <div class="navbar-header">
            <span class="navbar-brand" style="padding:0;">
              <img src="img/RetailProLogo48.png" /> Prism API Explorer</span>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <a href="#/services">Services</a>
            </li>
            <li>
              <a href="#/raw">Raw Requests</a>
            </li>
            <!-- <li class="dropdown" uib-dropdown ng-hide="notLoggedIn && notSeated">
                                <a href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle>
                                    EFT Providers <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                    <li><a href="#/eft/mw/config">Merchant Warehouse</a></li>
                                </ul>
                            </li> -->
          </ul>
        </div>
        <form ng-show="notLoggedIn">
          <div class="col-xs-2" style="margin-top:5px;">
            <input id="username" placeholder="User Name" type="text" class="form-control " autocapitalize="off" autocorrect="off" ng-model="credentials.username"
            />
          </div>
          <div class="col-xs-2" style="margin-top:5px;">
            <input type="password" placeholder="Password" class="form-control col-xs-3" autocapitalize="off" autocorrect="off" ng-model="credentials.password"
              id="password" />

          </div>
          <div class="col-xs-1" style="margin-top:5px;">
            <button type="submit" class="btn btn-primary" ng-click="logIn()">
              Login
            </button>
          </div>
        </form>
        <div ng-show="!notLoggedIn" style="margin-top:5px;">
          <div class="col-xs-5 text-right">
            <span class="logged">
              <span class="glyphicon glyphicon-star" style="color:#E6AC00;font-size:18px;position:relative;top:3px;right:3px;"></span>Logged in as {{credentials.username}}</span>
            <button type="button" class="btn btn-primary" ng-click="logOut()">
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div ui-view></div>


</body>

</html>
