<ul tabindex="-1" class="typeahead dropdown-menu tooltip" style="overflow-x:auto;height:250px;" ng-show="$isVisible()" role="select"><li role="presentation" ng-repeat="match in $matches" ng-class="{active: $index == $activeIndex}"><a role="menuitem" tabindex="-1" ng-click="$select($index, $event)" ng-bind="match.label"></a></li></ul>
