<div class="col-xs-12 no-padding to-items-grid-column">
    <div class="padding-10" ng-if="state.gridDataLoaded">
        <responsive-grid grid="state.grid.settings" external-scopes="state.grid.externalScopes" extra-class="to-items-grid"></responsive-grid>
    </div>
    <div class="content-loader-wrapper" ng-if="!state.gridDataLoaded">
        <img src="images/three-dots-loader.svg" alt="{{ '5028' | translate }}">
    </div>
</div>