<div class="col-xs-3 no-left-padding">
  <label data-translate="552">Max Discount %</label>
</div>
<div class="col-xs-2" ng-if="$ctrl.service.prefDiscount === 0"> <!-- Max Discount Pct -->
  <input ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" numberonly="" max="100" min="0" ng-model="$ctrl.service.item.maxdiscperc1" class="form-control" id="imi-maxdiscperc1">
</div>
<div class="col-xs-2" ng-if="$ctrl.service.prefDiscount === 1"> <!-- Max Accumulated Discount Pct -->
  <input ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" numberonly="" max="100" min="0" ng-model="$ctrl.service.item.maxdiscperc2" class="form-control" id="imi-maxdiscperc2">
</div>
