<a name="link{{$index}}" id="searchTransactionItemsResult{{$index}}" data-item-group="" bind-buttons="" index="{{$index}}" ng-class="{'gift':true,'list-group-item':true, 'header':thisTransactionItem.kit_flag == 3, 'component':thisTransactionItem.kit_flag == 5}" ng-repeat="thisTransactionItem in document.items" ng-click="selectTransactionItem($index)" ng-if="thisTransactionItem.item_type===1">
    <div class="row">
        <div class="col-xs-9">
            <div class="row" id="{{thisTransactionItem.scan_upc}}">
                <div class="col-xs-4">
                    {{ thisTransactionItem.item_description1 }}
                </div>
                <div class="col-xs-4">
                    <strong data-translate="677">UPC:</strong> {{ thisTransactionItem.scan_upc|padUPC }}
                </div>
                <div class="col-xs-4">
                    <strong data-translate="542">Type:</strong> {{ thisTransactionItem.item_type|itemTypeName : thisTransactionItem.order_type | translate }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <strong data-translate="772">Quantity:</strong> {{thisTransactionItem.quantity|number:thisTransactionItem.inventory_use_quantity_decimals}}
                </div>
                <div class="col-xs-4">
                    <strong data-translate="773">Price:</strong> {{ thisTransactionItem.price|currency }}
                </div>
            </div>
        </div>
        <div class="col-xs-3 giftQty">
            <label data-translate="838">Gift Qty</label> <span class="badge">{{thisTransactionItem.gift_quantity|number:thisTransactionItem.inventory_use_quantity_decimals}}</span>
        </div>
    </div>
    <kitflags template="kit-flags-template.htm"></kitflags>
</a>
