<div ng-repeat="thisTransactionItem in document.items" class="row top-margin portrait-pos-row" ng-class="{'portrait-pos-row-unsel': $index!==selectedItem, 'portrait-pos-row-sel': $index===selectedItem}">
    <a name="link{{$index}}"
       id="searchTransactionItemsResult{{$index}}"
       index="{{$index}}"
       class="list-group-item"
       ng-class="{'header':thisTransactionItem.kit_flag == 3, 'component':thisTransactionItem.kit_flag == 5}"
       ng-click="selectTransactionItem($index)"
       ng-if="thisTransactionItem.item_type===1"
       style="background-color: #11ffee00;"
    >
        <div class="row">
            <div class="col-xs-10">
                <div class="row" id="{{thisTransactionItem.scan_upc}}">
                    {{ thisTransactionItem.item_description1 }}
                </div>
                <div class="row">
                    <strong data-translate="677">UPC</strong> {{ thisTransactionItem.scan_upc|padUPC }}
                </div>
                <div class="row">
                    <div class="col-xs-3 text-center">
                        <label data-translate="764">Qty</label><br>{{thisTransactionItem.quantity|number:thisTransactionItem.inventory_use_quantity_decimals}}
                    </div>
                    <div class="col-xs-4 text-center">
                        <label data-translate="773">Price</label><br>{{thisTransactionItem.price|currency }}
                    </div>
                    <div class="col-xs-4 text-center">
                        <label data-translate="542">Type</label><br>{{thisTransactionItem.item_type|itemTypeName : thisTransactionItem.order_type | translate }}
                    </div>
                </div>
            </div>
            <div class="col-xs-2 text-center" ng-class="{'portrait-bkgrnd-lt-blue':selectedItem === $index,'portrait-bkgrnd-lt-gray':selectedItem !== $index}">
                <label data-translate="838">Gift Qty</label> <span class="badge">{{thisTransactionItem.gift_quantity|number:thisTransactionItem.inventory_use_quantity_decimals}}</span>
            </div>
        </div>
    </a>
    <kitflags template="kit-flags-template.htm"></kitflags>
    <div class="row portrait-btn-row" ng-if="$index===selectedItem">
        <div class="btn-group btn-group-justified actionButtons portrait-pos-btn-grp">
            <div class="btn-group"><button tabindex="711" type="button" event-name="GiftSelectAllButton" class="btn btn-info" id="selectAllButton" ng-click="selectAll(true)" ng-disabled="selectAllButton"><span data-translate="1143">All</span></button></div>
            <div class="btn-group"><button tabindex="709" type="button" event-name="GiftSelectNoneButton" class="btn btn-info" id="selectNoneButton" ng-click="selectAll(false)" ng-disabled="selectNoneButton"><span data-translate="1361">None</span></button></div>
        </div>
        <div class="btn-group btn-group-justified actionButtons portrait-pos-btn-grp">
            <div class="btn-group"><button tabindex="714" type="button" event-name="GiftQuantityPlusOneButton" class="btn btn-info leftsquare" id="quantityPlusOneButton" ng-click="adjustQuantity(false)" ng-disabled="quantityPlusOneButton"><span data-translate="769">Qty + 1</span></button></div>
            <div class="btn-group"><button tabindex="715" type="button" event-name="GiftQuantityMinusOneButton" class="btn btn-info rightsquare" id="quantityMinusOneButton" ng-click="adjustQuantity(true)" ng-disabled="quantityMinusOneButton"><span data-translate="770">Qty - 1</span></button></div>
        </div>
    </div>
</div>