<div>
  <div style="height: 350px">
    <carousel interval="carouselInterval">
      <slide ng-repeat="slide in carouselSlides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </slide>
    </carousel>
  </div>
</div>

