<div ng-repeat="thisTransactionItem in document.items">
    <div class="row top-margin portrait-pos-row" ng-class="{'portrait-pos-row-unsel': $index!==selectedItem, 'portrait-pos-row-sel': $index===selectedItem}">
        <a name="link{{$index}}"
           id="searchTransactionItemsResult{{$index}}"
           index="{{$index}}"
           class="list-group-item"
           ng-class="{'header':thisTransactionItem.kit_flag == 3,'component':thisTransactionItem.kit_flag == 5}"
           ng-click="selectTransactionItem($index)"
           ng-dblclick="viewTransactionItem($index)"
           style="border: hidden; background-color: #11ffee00;"
        >
            <div class="row">
                {{ thisTransactionItem.item_description1 }}
            </div>
            <div class="row">
                <strong data-translate="677">UPC</strong> {{ thisTransactionItem.scan_upc|padUPC }}
            </div>
            <div class="row">
                <div class="col-xs-3 text-center">
                    <label data-translate="764">Qty</label><br>{{thisTransactionItem.quantity|number:thisTransactionItem.inventory_use_quantity_decimals}}
                </div>
                <div class="col-xs-4 text-center">
                    <label data-translate="773">Price</label><br>{{thisTransactionItem.price|currency }}
                </div>
                <div class="col-xs-4 text-center">
                    <label data-translate="542">Type</label><br>{{thisTransactionItem.item_type|itemTypeName : thisTransactionItem.order_type | translate }}
                </div>
                <div class="col-xs-1 text-danger text-center" ng-if="thisTransactionItem.item_type !== 3 && ((thisTransactionItem.serial_type===2 && (!thisTransactionItem.serial_number)) || (thisTransactionItem.lot_type===8 && (!thisTransactionItem.lot_number)))">
                    <br><img src="images/pos/incomplete.png" height="18" width="18" ng-click="resolveItemIssues($index);"/>
                </div>
            </div>
        </a>
        <kitflags template="kit-flags-template.htm"></kitflags>
        <div class="row portrait-btn-row" ng-if="$index===selectedItem">
            <div class="btn-group btn-group-justified actionButtons portrait-pos-btn-grp">
                <div class="btn-group">
                    <button tabindex="709" type="button" event-name="posTransactionItemDetails" class="btn btn-block btn-info" id="itemDetailButton" ng-click="itemDetails('inventory')" ng-disabled="itemDetailButton">
                        <span data-translate="1522">Details</span></button>
                </div>
                <div class="btn-group">
                    <button tabindex="710" type="button" event-name="posTransactionItemType" class="btn btn-block btn-info" id="itemTypeButton" ng-click="itemType()" ng-disabled="itemTypeButton||isPackageItem()||thisTransactionItem.lty_type===3||thisTransactionItem.order_type===1">
                        <span data-translate="542">Type</span></button>
                </div>
                <div class="btn-group">
                    <button tabindex="711" type="button" event-name="posTransactionRemoveItem" class="btn btn-block btn-info" id="removeItemButton" ng-click="removeItem()" data-permission="removeitemfromposdocument" permission-disabled="removeItemButton">
                        <span data-translate="1523">Remove</span></button>
                </div>
            </div>
            <div class="btn-group btn-group-justified actionButtons portrait-pos-btn-grp">
                <div class="btn-group">
                    <pos-line-item-discount call-back="adjustItemDiscount" is-disabled="(discountButton||document.so_cancel_flag||thisTransactionItem.lty_type===3||processingDiscount||itemFulfilled||(document.status===4&&!finalizedOrder))" item="document.items[selectedItem]" customer="customer"></pos-line-item-discount>
                </div>
                <div class="btn-group">
                    <button tabindex="" type="button" event-name="posTransactionItemVoid" class="btn btn-block btn-info" id="voidItemButton" ng-click="voidItem()" ng-disabled="voidItemButton||!canVoidItem">
                        <span data-translate="1486">Void</span></button>
                </div>
                <div class="btn-group">
                    <pos-item-qty status="document.status" call-back="adjustQuantity" is-disabled="(quantityPlusOneButton||document.so_cancel_flag||thisTransactionItem.lty_type===3||processingQty||(document.status===4&&!finalizedOrder))" item="document.items[selectedItem]"></pos-item-qty>
                </div>

            </div>
        </div>
    </div>
</div>
