
<div ng-repeat="thisTransactionItem in docInfo.Items">
  <a name="link{{$index}}" id="searchTransactionItemsResult{{$index}}" index="{{$index}}" ng-class="{'list-group-item':true, 'header':thisTransactionItem.kit_flag == 3, 'component':thisTransactionItem.kit_flag == 5}" ng-click="selectTransactionItem($index)" ng-dblclick="viewTransactionItem($index)">
    <div class="row">
	
      <div class="col-xs-4" style="width:100%">
        <strong>MTK:</strong>{{ thisTransactionItem.item_description1 }}-{{ thisTransactionItem.item_description2 }}
      </div>
	<div class="div-container">
		<div class="ctn-left ctn-obj">
			<div class="col-xs-new">
			<strong data-translate="677">UPC:</strong> {{ thisTransactionItem.scan_upc|padUPC }}
			  </div>
			   <div class="col-xs-new">
				<strong>Loại:</strong> {{ thisTransactionItem.item_type|itemTypeName : thisTransactionItem.order_type | translate }}
			  </div>
			<div class="col-xs-new">
			<strong>Số tồn cửa hàng:</strong>{{ thisTransactionItem.inventory_on_hand_quantity }}
		  </div>
		</div>
		<div class="ctn-center ctn-obj">
			  <div class="col-xs-new">
			<strong>Số lượng:</strong><span class='lineqlt'> {{thisTransactionItem.quantity|number:thisTransactionItem.inventory_use_quantity_decimals}}</span>
			</div>
			<div class="col-xs-new">
			<strong>Giá gốc:</strong><span class='rootprice'> {{ thisTransactionItem.original_price|number:percision}}</span>
		  </div>
		  <div class="col-xs-new">
			<strong>Giá bán:</strong> {{ thisTransactionItem.price|number:percision }}
		  </div>
		</div>
		<div class="ctn-right ctn-obj">
		 <div class="col-xs-new">
	    <strong>Ext Amt:</strong>{{ thisTransactionItem.quantity * thisTransactionItem.price|number:percision }}
      </div>
	    <div class="col-xs-new" ng-if="thisTransactionItem.discount_amt">
        <span ng-if="thisTransactionItem.quantity===1"><strong data-translate="3243">Disc Amt:</strong></span>
        <span ng-if="thisTransactionItem.quantity>1"><strong data-translate="6496">Ext Disc Amt</strong></span>
         {{ thisTransactionItem.discount_amt|currency }}
      </div>
	    <div class="col-xs-new" ng-if="thisTransactionItem.discount_perc">
        <strong>Giảm %:</strong> {{ thisTransactionItem.discount_perc|number:percision }}
        <!--
          change due to #14954
          old condition : thisTransactionItem.discount_perc<customer.suggested_discount_percent&&thisTransactionItem.discount_perc!=0&&thisTransactionItem.kit_flag===0 -->
        <!-- <span ng-if="(thisTransactionItem.maxaccumdiscpercent !== 0 && thisTransactionItem.discount_perc >= thisTransactionItem.maxaccumdiscpercent) || (thisTransactionItem.maxaccumdiscpercent === 0 && thisTransactionItem.discount_perc >= thisTransactionItem.maxdiscpercent)"><em style="color:red">Max</em></span> -->
        <!-- changed due to new development in #14954 -->
        <span ng-if="(discount_preference && thisTransactionItem.discount_perc >= thisTransactionItem.maxdiscpercent) || ( !discount_preference && thisTransactionItem.discount_perc >= thisTransactionItem.maxaccumdiscpercent)"><em style="color:red">Max</em></span>
        <br>
      </div>
		</div>
	</div>
      
	
	 
      <div class="col-xs-1 text-danger text-center" ng-if="(thisTransactionItem.item_type !== 3 && ((thisTransactionItem.serial_type===2 && !thisTransactionItem.serial_number) || (thisTransactionItem.lot_type === 8 && !thisTransactionItem.lot_number))) || ((thisTransactionItem.lot_type === 4) && (!thisTransactionItem.lot_number) && (lotNoIsRequired(thisTransactionItem)))">
        <img src="images/pos/incomplete.png" height="22" width="22" ng-click="resolveItemIssues($index);">
      </div>
    </div>
   
    <kitflags template="kit-flags-template.htm"></kitflags>
  </a>
  <div class="btn-group btn-group-justified actionButtons" ng-if="$index===selectedItem">
    <div class="btn-group"><button tabindex="711" type="button" event-name="posTransactionItemDetails" class="btn btn-info" id="itemDetailButton" ng-click="itemDetails('inventory')" ng-disabled="itemDetailButton"><span data-translate="1522">Details</span></button></div>
    <div class="btn-group" style="display:none"><button tabindex="709" type="button" event-name="posTransactionItemType" class="btn btn-info" id="itemTypeButton" ng-click="itemType()" ng-disabled="itemTypeButton||isPackageItem()||thisTransactionItem.lty_type===3||thisTransactionItem.order_type===1"><span data-translate="768">Item Type</span></button></div>
    <div class="btn-group"><pos-line-item-discount call-back="adjustItemDiscount" is-disabled="(discountButton||document.so_cancel_flag||thisTransactionItem.lty_type===3||processingDiscount||itemFulfilled||(document.status===4&&!finalizedOrder))" item="document.items[selectedItem]" customer="customer"></pos-line-item-discount></div>
    <div class="btn-group" style="display:none"><button tabindex="" type="button" event-name="posTransactionItemVoid" class="btn btn-info" id="voidItemButton" ng-click="voidItem()" ng-disabled="voidItemButton||!canVoidItem"><span data-translate="1486">Void</span></button></div>
    <div class="btn-group"><button tabindex="710" type="button" data-permission="removeitemfromposdocument" event-name="posTransactionRemoveItem" class="btn btn-info" id="removeItemButton" ng-click="removeItem()" permission-disabled="removeItemButton"><span data-translate="1523">Remove</span></button></div>
    <div class="btn-group"><pos-item-qty status="document.status" call-back="adjustQuantity" is-disabled="(quantityPlusOneButton||document.so_cancel_flag||thisTransactionItem.lty_type===3||processingQty||(document.status===4&&!finalizedOrder))&&(!(thisTransactionItem.item_type===3&&stateParams.mode==='edit'))" item="document.items[selectedItem]"></pos-item-qty></div>
  </div>
</div>
