<div ng-repeat="thisTransactionItem in docInfo.Items">
  <a name="link{{$index}}" id="searchTransactionItemsResult{{$index}}" index="{{$index}}" ng-class="{'list-group-item':true, 'header':thisTransactionItem.kit_flag == 3, 'component':thisTransactionItem.kit_flag == 5}" ng-click="selectTransactionItem($index)" ng-dblclick="viewTransactionItem($index)">
      <div class="row">
          <div class="col-xs-4">
              <strong data-translate="675">Desc 1:</strong> {{ thisTransactionItem.item_description1 }}
          </div>
          <div class="col-xs-2">
              <strong data-translate="677">UPC:</strong> {{ thisTransactionItem.scan_upc|padUPC }}
          </div>
          <div class="col-xs-2">
              <strong data-translate="721">Tax Amount:</strong> {{ thisTransactionItem.tax_amount|price }}
          </div>
          <div class="col-xs-2">
              <strong data-translate="771">Disc %:</strong> {{ thisTransactionItem.discount_perc|number }}
              <!-- <span ng-if="thisTransactionItem.discount_perc<customer.suggested_discount_percent&&thisTransactionItem.discount_perc!=0"><em style="color:red">Max</em></span> -->
              <!-- changed due to new development in #14954 -->
              <span ng-if="(discount_preference && thisTransactionItem.discount_perc >= thisTransactionItem.maxdiscpercent) || ( !discount_preference && thisTransactionItem.discount_perc >= thisTransactionItem.maxaccumdiscpercent)"><em style="color:red">Max</em></span>
          </div>
          <div class="col-xs-1">
              <strong>{{ thisTransactionItem.item_type|itemTypeName : thisTransactionItem.order_type | translate }}</strong>
          </div>
          <div class="col-xs-1 text-danger text-center" ng-if="(thisTransactionItem.item_type !== 3 && ((thisTransactionItem.serial_type===2 && !thisTransactionItem.serial_number) || (thisTransactionItem.lot_type === 8 && !thisTransactionItem.lot_number))) || ((thisTransactionItem.lot_type === 4) && (!thisTransactionItem.lot_number) && (lotNoIsRequired(thisTransactionItem)))">
            <img src="images/pos/incomplete.png" height="22" width="22"/>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-4">
              <strong data-translate="676">Desc 2:</strong> {{ thisTransactionItem.item_description2 }}
          </div>
          <div class="col-xs-2">
              <strong data-translate="678">Attr:</strong> {{ thisTransactionItem.attribute }}
          </div>
          <div class="col-xs-2">
              <strong data-translate="679">Size:</strong> {{ thisTransactionItem.item_size }}
          </div>
          <div class="col-xs-2">
              <strong data-translate="772">Quantity:</strong> {{thisTransactionItem.quantity|number:thisTransactionItem.inventory_use_quantity_decimals}}
          </div>
          <div class="col-xs-2">
              <strong data-translate="773">Price:</strong> {{ thisTransactionItem.price|price }}
          </div>
      </div>
      <kitflags template="kit-flags-template.htm"></kitflags>
  </a>
  <div class="btn-group btn-group-justified actionButtons" ng-if="$index===selectedItem">
    <div class="btn-group"><button tabindex="711" type="button" event-name="posTransactionItemDetails" class="btn btn-info" id="itemDetailButton" ng-click="itemDetails('inventory')" ng-disabled="itemDetailButton"><span data-translate="1522">Details</span></button></div>
    <div class="btn-group"><button tabindex="709" type="button" event-name="posTransactionItemType" class="btn btn-info" id="itemTypeButton" ng-click="itemType()" ng-disabled="itemTypeButton||isPackageItem()||thisTransactionItem.lty_type===3||thisTransactionItem.order_type===1"><span data-translate="768">Item Type</span></button></div>
    <div class="btn-group"><pos-line-item-discount call-back="adjustItemDiscount" is-disabled="(discountButton||document.so_cancel_flag||thisTransactionItem.lty_type===3||processingDiscount)" item="document.items[selectedItem]" customer="customer"></pos-line-item-discount></div>
    <div class="btn-group"><button tabindex="" type="button" event-name="posTransactionItemVoid" class="btn btn-info" id="voidItemButton" ng-click="voidItem()" ng-disabled="voidItemButton||!canVoidItem"><span data-translate="1486">Void</span></button></div>
    <div class="btn-group"><button tabindex="710" type="button" data-permission="removeitemfromposdocument" event-name="posTransactionRemoveItem" class="btn btn-info" id="removeItemButton" ng-click="removeItem()" permission-disabled="removeItemButton"><span data-translate="1523">Remove</span></button></div>
    <div class="btn-group"><pos-item-qty call-back="adjustQuantity"  is-disabled="(quantityPlusOneButton||document.so_cancel_flag||thisTransactionItem.lty_type===3||processingQty)" item="document.items[selectedItem]"></pos-item-qty></div>
  </div>
</div>
