<div ng-repeat="thisTransactionItem in docInfo.Items">
  <a name="link{{$index}}" id="searchTransactionItemsResult{{$index}}" index="{{$index}}" ng-class="{'list-group-item':true, 'header':thisTransactionItem.kit_flag == 3, 'component':thisTransactionItem.kit_flag == 5}" class="touch" ng-click="selectTransactionItem($index)" ng-dblclick="viewTransactionItem($index)">
    <div class="row">
      <div class="col-xs-12">
        <h6 class="list-group-item-heading">{{thisTransactionItem.item_description1}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <strong data-translate="2230">Quantity:</strong>
      </div>
      <div class="col-xs-2">
        {{thisTransactionItem.quantity|formatNumber:thisTransactionItem.inventory_use_quantity_decimals:false}}
      </div>
      <div class="col-xs-2">
        <strong data-translate="2231">Price:</strong>
      </div>
      <div class="col-xs-3">
        {{thisTransactionItem.price|price}}
      </div>
      <div class="col-xs-2">
        {{ thisTransactionItem.item_type|itemTypeName : thisTransactionItem.order_type | translate }}
      </div>
      <div class="col-xs-1 text-danger text-center" ng-if="(thisTransactionItem.item_type !== 3 && ((thisTransactionItem.serial_type===2 && !thisTransactionItem.serial_number) || (thisTransactionItem.lot_type === 8 && !thisTransactionItem.lot_number))) || ((thisTransactionItem.lot_type === 4) && (!thisTransactionItem.lot_number) && (lotNoIsRequired(thisTransactionItem)))">
        <img src="images/pos/incomplete.png" height="22" width="22"/>
      </div>
    </div>
    <kitflags template="kit-flags-template.htm"></kitflags>
  </a>
  <div class="row actionButtons" ng-if="$index===selectedItem">
    <div class="btn-group btn-group-justified">
      <div class="btn-group"><button tabindex="711" type="button" event-name="posTransactionItemDetails" class="btn btn-info" id="itemDetailButton" ng-click="itemDetails('inventory')" ng-disabled="itemDetailButton"><span data-translate="1522">Details</span></button></div>
      <div class="btn-group"><button tabindex="709" type="button" event-name="posTransactionItemType" class="btn btn-info" id="itemTypeButton" ng-click="itemType()" ng-disabled="itemTypeButton||thisTransactionItem.lty_type===3"><span data-translate="768">Item Type</span></button></div>
      <div class="btn-group"><pos-line-item-discount call-back="adjustItemDiscount" is-disabled="(discountButton||document.so_cancel_flag||thisTransactionItem.lty_type===3||processingDiscount)" item="document.items[selectedItem]"></pos-line-item-discount></div>
    </div>
  </div>
  <div class="row actionButtons" ng-if="$index===selectedItem">
    <div id="actionButtons" class="btn-group btn-group-justified">
      <div class="btn-group"><button tabindex="710" type="button" data-permission="removeitemfromposdocument" event-name="posTransactionRemoveItem" class="btn btn-info" id="removeItemButton" ng-click="removeItem()" permission-disabled="removeItemButton"><span data-translate="1523">Remove</span></button></div>
      <div class="btn-group"><button tabindex="" type="button" event-name="posTransactionItemVoid" class="btn btn-info" id="voidItemButton" ng-click="voidItem()" ng-disabled="voidItemButton||!canVoidItem"><span data-translate="1486">Void</span></button></div>
      <div class="btn-group"><pos-item-qty call-back="adjustQuantity"  is-disabled="(quantityPlusOneButton||document.so_cancel_flag||thisTransactionItem.lty_type===3||processingQty)" item="document.items[selectedItem]"></pos-item-qty></div>
    </div>
  </div>
</div>
