<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="530">Info 1</label>
    <input id="info1" name="info1" maxlength="20" type="text" class="form-control" data-permission="customerseditinfomarkfields" ng-required="field.required" ng-model="field.service.active.info1">
  </div>
</div>
