<div class="row form-group">
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control" ng-required="true" style="text-transform:uppercase" ng-init="$ctrl.focus=true" id="pkgInput" placeholder="{{ '6659' | translate }}" ng-model="$ctrl.pkgno" ng-keyup="$ctrl.clearInput($event)" ng-keydown="$ctrl.submitEnter($event,$ctrl.pkgno)">
      <span class="input-group-btn">
        <button class="btn btn-info" ng-disabled="!$ctrl.pkgno" ng-click="$ctrl.addPackage($ctrl.pkgno)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </div>
  </div>
</div>
