﻿@model ReportNino.Models.TonUPCModel
@{
    /**/

    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section searchfrom{
    <form method="post">
        <p>
            @Html.HiddenFor(m => m.store, new { name = "store_", value = "" })
            @Html.TextBoxFor(m => m.upc, new { name = "upc", value = "" })
            <label>@Html.RadioButtonFor(m => m.position, "HO CHI MINH", new { name = "position", Checked = "checked" }):HO CHI MINH</label>
            <label>@Html.RadioButtonFor(m => m.position, "MIEN TAY", new { name = "position" }):MIEN TAY</label>
            <label>@Html.RadioButtonFor(m => m.position, "MIEN DONG", new { name = "position" }):MIEN DONG</label>
            <label>@Html.RadioButtonFor(m => m.position, "MIEN TRUNG", new { name = "position" }):MIEN TRUNG</label>
            <label>@Html.RadioButtonFor(m => m.position, "MIEN BAC", new { name = "position" }):MIEN BAC</label>
            <input type="submit" value="search" />
        </p>
    </form>
}
<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline collapsed" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 982px;">
    <thead>
        <tr>
            <th>Cửa hàng</th>
            <th>UPC</th>
            <th>Size</th>
            <th>Số lượng</th>
            <th>Màu</th>
            <th>Giá</th>
            <th>Khu vực</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.data!=null)
        {
            foreach (var i in Model.data)
            {
                <tr>
                    <td>@i["STORE_CODE"]</td>
                    <td>@i["UPC"]</td>
                    <td>@i["SIZ"]</td>
                    <td>@i["QTY"]</td>
                    <td>@i["ATTR"]</td>
                    <td>@i["PRICE_RETAIL"]</td>
                    <td>@i["REGION_NAME"]</td>
                </tr>
            }
        }
       
    </tbody>
    <tfoot></tfoot>
</table>
