<div class="aside fade in right" tabindex="-1" role="dialog"
     ng-class="{'in': animate}"
     ng-style="{'z-index': 1050 + index*10, display: 'block'}"
     ng-click="close($event)">
  <div class="aside-dialog">
    <div class="aside-content" ng-transclude=""></div>
  </div>
</div>
