  <div class="form-group">
    <label class="col-xs-5 control-label">
      {{tender.mode}} <span data-translate="982">Amount:</span>
    </label>
    <div class="col-xs-7">
      <input tabindex="1" type="tel" id="CreditCard" class="form-control text-right" data-currency-formatter numberonly ng-focuser="focusMe.CreditCard" ng-blur="amtUpdate()" ng-model="tender.amount" />
      <em style="color:red">{{oTenderFlag1}}<br>{{oTenderFlag2}}</em>
    </div>
  </div>

