<div id="{{cId}}_bg" class="clear_bg ng-hide" ng-show="false"></div>
<div class="rp-datepicker">
  <div class="row">
    <div class="btn-group btn-block col-xs-12" ng-if="original==''">
      <button type="button" ng-disabled="isDisabled" id="t{{cId}}" ng-click="calToggle($event);" class="btn btn-primary col-xs-10">{{displayDate}}</button>
      <button type="button" ng-disabled="isDisabled" ng-click="reset();" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
    <div class="btn-group col-xs-12" id="t{{cId}}" ng-if="original!=''">
      <button type="button" ng-disabled="isDisabled" ng-click="calToggle($event);" class="btn btn-primary col-xs-12">{{displayDate}}</button>
    </div>
  </div>
  <div class="row panel panel-default col-xs-12 panel-body ng-hide" id="{{cId}}" ng-show="calendar_on.stat" ng-style="{'z-index': displayIndex}" style="position:absolute; margin:0 0 0 -5px; padding:0;">
    <table class=" table table-responsive table-condensed" style="margin:0 auto;">
      <thead>
      <tr>
        <td colspan="7">
          <div class="form-inline text-center">
            <div class="row">
              <div class="col-xs-12 btn-group btn-group-justified" ng-hide="hideDate">
                <div class="btn-group" uib-dropdown is-open="monthOpen">
                  <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle type="button" ng-click="toggleMonth()">
                    <span>{{dInfo.months[dInfo.month].month | translate}}</span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="x in dInfo.months">
                      <a class="month_opt" ng-click="setMonth(x.index)"><span>{{x.month | translate}}</span></a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group" uib-dropdown is-open="yearOpen">
                  <button class="dropdown-toggle btn btn-default" uib-dropdown-toggle type="button" ng-click="toggleYear()">
                    {{dInfo.year}}
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="x in dInfo.years">
                      <a class="year_opt" ng-click="setYears(x)">{{x}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 btn-group btn-group-justified" ng-show="isTime" ng-style="hideDate && {'display':'block'}">
                <div class="btn-group" uib-dropdown is-open="hourOpen">
                  <button class="dropdown-toggle btn btn-default" type="button" uib-dropdown-toggle ng-click="toggleHour()">
                    {{dInfo.hour}}
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="x in dInfo.hours">
                      <a class="hour_opt" ng-click="setHours(x)">{{x.txt}}</a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group" ng-show="isTime" uib-dropdown is-open="minuteOpen">
                  <button class="dropdown-toggle btn btn-default" type="button" uib-dropdown-toggle ng-click="toggleMinute()">
                    {{dInfo.minute}}
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="x in dInfo.minutes">
                      <a class="min_opt" ng-click="setMinutes(x)">{{x}}</a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group" ng-show="isTime && editSeconds" uib-dropdown is-open="secondOpen">
                  <button class="dropdown-toggle btn btn-default" type="button" uib-dropdown-toggle ng-click="toggleSecond()">
                    {{dInfo.second}}
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="x in dInfo.seconds">
                      <a class="min_opt" ng-click="setSeconds(x)">{{x}}</a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group" ng-if="timePref==0" ng-show="isTime">
                  <button ng-click="setAmPm()" class=" btn btn-default ampm_opt" type="button">
                    {{dInfo.ampm}}
                  </button>
                </div>
              </div>

            </div>
          </div>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="x in days track by $index" ng-hide="hideDate">
        <td ng-repeat="y in x">
          <button ng-click="selectDate(y.date_obj)" class="btn btn-block {{btnClass}} btn-primary {{y.active}}" type="button">{{y.date_str}}</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class=" btn-group btn-group-justified">
        <div class="col-xs-6 btn-group-sm" style="padding-left: 5px;"><button class="btn btn-default btn-sm form-control" ng-click="cancelDatePick()" style="margin-bottom: 5px;" data-translate="1.2" type="button">Cancel</button></div>
        <div class="col-xs-6 btn-group-sm" style="padding-left: 5px;"><button class="btn btn-default btn-sm form-control" ng-click="acceptDatePick()" style="margin-bottom: 5px;" data-translate="1342" type="button">Accept</button></div>
      </div>
    </div>
  </div>
</div>
