<div id="{{cId}}_bg" class="clear_bg" ng-show="calendar_on.stat"></div>
<div class="row">
  <div class="col-xs-12" id="t{{cId}}">
    <div class="input-group">
      <input type="button"  popover-trigger="'none'" popover-append-to-body="true" popover-is-open="calendar_on.stat" uib-popover-template="'select-popoverCalender.html'" popover-placement="auto bottom" ng-click="calToggle($event);" ng-disabled="!disabledWhen||isDisabled" class="form-control" value="{{ showDate(ngModel) }}">
      <span class="input-group-btn">
        <button ng-if="!hideButton" type="button" ng-click="calToggle($event);" ng-disabled="!disabledWhen||isDisabled" class="btn btn-primary rp-main-button-container">
          <span class="glyphicon glyphicon-calendar"></span>
        </button>
      </span>
    </div>
  </div>
</div>
<script type="text/ng-template" id="select-popoverCalender.html">
  <div id="{{cId}}" ng-show="calendar_on.stat">
    <div class="rp-datepicker" style="padding:5px;width:320px;background-color:#FFF;border:solid 1px #000;border-radius:5px;">
      <div class="form-inline text-center">
        <div class="row">
          <div class="col-xs-12 btn-group btn-group-justified">
            <div class="btn-group" uib-dropdown is-open="dropdowns.month.isOpen">
              <button class="dropdown-toggle btn btn-default" uib-dropdown-toggle type="button">
                <span>{{dInfo.months[dInfo.month].month | translate}}</span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-repeat="x in dInfo.months">
                  <a class="month_opt" ng-click="setMonth(x.index)"><span>{{x.month | translate}}</span></a>
                </li>
              </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="dropdowns.year.isOpen">
              <button class="dropdown-toggle btn btn-default" uib-dropdown-toggle type="button">
                {{dInfo.year}}
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-repeat="x in dInfo.years">
                  <a class="year_opt" ng-click="setYears(x)">{{x}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 btn-group btn-group-justified" ng-if="isTime">
            <div class="btn-group">
              <button class="dropdown-toggle btn btn-default" uib-dropdown-toggle type="button">
                {{dInfo.hour}}
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="x in dInfo.hours">
                  <a class="hour_opt" ng-click="setHours(x)">{{x.txt}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" ng-if="isTime">
              <button class="dropdown-toggle btn btn-default" uib-dropdown-toggle type="button">
                {{dInfo.minute}}
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="x in dInfo.minutes">
                  <a class="min_opt" ng-click="setMinutes(x)">{{x}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" ng-if="timePref==0" ng-if="isTime">
              <button ng-click="setAmPm()" class=" btn btn-default ampm_opt" type="button">
                {{dInfo.ampm}}
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class="row">

          <table class="table table-condensed">
            <tbody>
            <tr ng-repeat="x in days track by $index">
              <td ng-repeat="y in x">
                <button ng-click="selectDate(y.date_obj)" class="btn btn-block {{btnClass}} btn-primary {{y.active}}" type="button">{{y.date_str}}</button>
              </td>
            </tr>
            </tbody>
          </table>

      </div>

      <div class="row" ng-if="!allowNull">
        <div class="col-xs-12">
          <button class="btn btn-default btn-block text-center" style="position:relative;left:-2px;" ng-click="calToggle()" data-translate="583" type="button">Close</button>
        </div>
      </div>
      <div class="row" ng-if="allowNull">
        <div class="col-xs-6">
          <button class="btn btn-default btn-block text-center" ng-click="calToggle()" data-translate="583" type="button">Close</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-default btn-block text-center" ng-click="clear()" data-translate="1335" type="button">Clear</button>
        </div>
      </div>
    </div>
  </div>
</script>
