<button ng-if="permissionName" ng-disabled="state.disable()" type="button" class="btn img-btn btn-primary btn-icon btn-lg btn-block" data-permission="{{permissionName}}" data-permission-disabled="permissionDisabled" event-name="{{eventName}}" data-apply-permission-when="applyPermissionWhen" ng-click="state.onClick()">
    <table class="table table-responsive table-condensed">
        <tbody>
            <tr>
                <td class="text-left"><img ng-src="{{imgSrc}}" align="center" alt="{{buttonText}}" /></td>
                <td class="text-left" data-translate="{{translationName}}">{{buttonText}}</td>
            </tr>
        </tbody>
    </table>
</button>
<button ng-if="!permissionName" event-name="{{eventName}}" ng-disabled="state.disable()" type="button" class="btn img-btn btn-primary btn-icon btn-lg btn-block" ng-click="state.onClick()">
    <table class="table table-responsive table-condensed">
        <tbody>
            <tr>
                <td class="text-left"><img ng-src="{{imgSrc}}" align="center" alt="{{buttonText}}" /></td>
                <td class="text-left" data-translate="{{translationName}}">{{buttonText}}</td>
            </tr>
        </tbody>
    </table>
</button>
