<div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-5">
                <select multiple="true" ng-options="optionsExp" ng-model="selectedValues"></select>
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-5">

            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>