<ul class="pagination-sm pagination" ng-if="!pgObj.justNavigateLeftAndRight && !portraitMode">
    <li>
        <button class="btn btn-default" ng-disabled="pgObj.page==1" ng-click="setVisibleRange(1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-fast-backward"></span></button>
    </li>
    <li>
        <button class="btn btn-default" ng-disabled="pgObj.page==1" ng-click="setVisibleRange(pgObj.page-1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-backward"></span></button>
    </li>
    <li ng-show="isInRange($index+1)" ng-repeat="x in arrayOfNumbers(pgObj.pageCount) track by $index">
        <button class="btn btn-default" ng-disabled="pgObj.page==$index+1" ng-click="setVisibleRange($index + 1)" href="javascript:void(0);" type="button">{{$index + 1}}</button>
    </li>
    <li>
        <button class="btn btn-default" ng-disabled="pgObj.page==pgObj.pageCount" ng-click="setVisibleRange(pgObj.page + 1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-forward"></span></button>
    </li>
    <li>
        <button class="btn btn-default" ng-disabled="pgObj.page==pgObj.pageCount" ng-click="setVisibleRange(pgObj.pageCount)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-fast-forward"></span></button>
    </li>
</ul>
<ul class="pagination-sm pagination" ng-if="pgObj.justNavigateLeftAndRight && !portraitMode">
    <li>
        <button class="btn btn-default" ng-disabled="pgObj.page === 1" ng-click="navigateLeft()" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-backward"></span></button>
    </li>
    <li>
        <button class="btn btn-default" ng-disabled="resultsPerSearch === 0" ng-click="navigateRight()" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-forward"></span></button>
    </li>
</ul>
<ul class="pagination-sm pagination" ng-if="portraitMode">
    <li>
        <button class="btn btn-md btn-default" ng-disabled="pgObj.page==1" ng-click="setVisibleRange(1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-fast-backward"></span></button>
    </li>
    <li>
        <button class="btn btn-default" ng-disabled="pgObj.page==1" ng-click="setVisibleRange((pgObj.page * 1) - 1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-backward"></span></button>
    </li>
    <li>
        <input type="text" numberonly class="text-center form-inline" style="margin: 0 5px;" size="2" ng-keyup="$event.keyCode===13 && setVisibleRange(pgObj.page)" ng-model="pgObj.page">
    </li>
    <li>
        <button class="btn btn-default" ng-disabled="pgObj.page===pgObj.pageCount" ng-click="setVisibleRange((pgObj.page * 1) + 1)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-forward"></span></button>
    </li>
    <li>
        <button class="btn btn-default" ng-disabled="pgObj.page===pgObj.pageCount" ng-click="setVisibleRange(pgObj.pageCount)" href="javascript:void(0);" type="button"><span class="glyphicon glyphicon-fast-forward"></span></button>
    </li>
</ul>
