<div class="panel panel-default">
    <div class="panel-heading">
        <h4 ng-if="header" data-translate="{{header}}">Header Text</h4>
        <div ng-include="headerTemplate"></div>
    </div>
    <div class="panel-body" ng-include="templateFile" />
</div>