<div class="modal-content" style="overflow:hidden">
    <input style="position:absolute;left:-1000px;" focus-me="focuser.clicked" onblur="var me=this;setTimeout(function(){me.focus()},100)" ng-keydown="checkKey($event)">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-8">
                <input type="text" readonly="true" ng-model="tenKeyValue" class="form-control text-right">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-default inline-block" type="button" ng-click="backSpace();"><span class="glyphicon glyphicon-arrow-left"></span></button>
                <button class="btn btn-default inline-block" type="button" ng-click="clear();"><span class="glyphicon glyphicon-remove-sign"></span></button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-xs-4" ng-repeat="x in [7,8,9]">
                <button type="button" class="btn btn-default btn-block" ng-click="setKey(x)">{{x}}</button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4" ng-repeat="x in [4,5,6]">
                <button type="button" class="btn btn-default btn-block" ng-click="setKey(x)">{{x}}</button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4" ng-repeat="x in [1,2,3]">
                <button type="button" class="btn btn-default btn-block" ng-click="setKey(x)">{{x}}</button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                <button type="button" class="btn btn-default btn-block" ng-click="setKey(0)">0</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-default btn-block" ng-click="setKey(char)">{{char}}</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-default btn-block" ng-click="setKey('+')">+/-</button>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
        <button type="submit" class="btn btn-default" ng-click="ok();" data-translate="1.1">OK</button>
        <button type="button" class="btn btn-default" ng-click="cancel();" data-translate="1.2">Cancel</button>
    </div>
</div>
