<div role="columnheader"
     ui-grid-one-bind-aria-labelledby-grid="col.uid + '-header-text ' + col.uid + '-sortdir-text'"
     aria-sort="{{col.sort.direction == 'asc' ? 'ascending' : ( col.sort.direction == 'desc' ? 'descending' : (!col.sort.direction ? 'none' : 'other'))}}">
    <div role="button"
         tabindex="0"
         class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"
         col-index="renderIndex" title="TOOLTIP">
        <span class="ui-grid-header-cell-label"
              ui-grid-one-bind-id-grid="col.uid + '-header-text'">{{ col.displayName CUSTOM_FILTERS }}
        </span>
    </div>
    <div role="button"
         tabindex="0"
         ui-grid-one-bind-id-grid="col.uid + '-menu-button'"
         class="ui-grid-column-menu-button"
         ng-if="grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false"
         ng-click="toggleMenu($event)" ng-class="{'ui-grid-column-menu-button-last-col': isLastCol}"
         ui-grid-one-bind-aria-label="i18n.headerCell.aria.columnMenuButtonLabel"
         aria-haspopup="true">
        <i ng-class="{ 'glyphicon glyphicon-chevron-up': col.sort.direction === 'asc', 'glyphicon glyphicon-chevron-down': col.sort.direction === 'desc', 'ui-grid-icon-angle-down': !col.sort.direction }" aria-hidden="true"></i>
    </div>
    <div ui-grid-filter></div>
</div>