<div class="panel panel-default"> <!--filter-panel-->
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 filter-scroll">
        <div class="form-group">
          <label data-translate="5683">Date Type</label>:
          <select id="dateType" tabindex="0" class="form-control" ng-model="fields.date_type">
            <option value="createddatetime" data-translate="533">Created Date</option>
            <option value="modifieddatetime" data-translate="3948">Modified Date</option>
            <option value="markdowndate" data-translate="6052">Updated Date</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="start-date" data-translate="1451">From Date:</label>
          <p class="input-group" ng-click="openCalendar($event, 'startDate')">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
          </p>
        </div>
        <div class="form-group">
          <label class="control-label" for="end-date" data-translate="1452">To Date:</label>
          <p class="input-group" ng-click="openCalendar($event, 'endDate')">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
          </p>
        </div>

        <div class="form-group">
          <input id="markdownName" type="text" tabindex="2" placeholder="{{ '6048' | translate }}" class="form-control" ng-model="fields.markdown_name">
        </div>

        <div class="form-group">
          <label data-translate="1453">Status</label>:
          <select id="markdownStatus" tabindex="3" class="form-control" ng-model="fields.status">
            <option value="" data-translate="1143">All</option>
            <option value="3" data-translate="3012">Pending</option>
            <option value="1" data-translate="6186">Planned</option>
            <option value="0" data-translate="4929">Updated</option>
            <option value="5" data-translate="6219">Restored</option>
            <option value="4" data-translate="4930">Reversed</option>
          </select>
        </div>
        <div class="form-group" ng-show="fields.subsidiary !== null && fields.subsidiary !== ''">
          <label data-translate="553">Price Levels</label>:
          <select id="markdownPriceLevel" tabindex="5" class="form-control" ng-model="fields.price_level" ng-options="s.sid as s.pricelvlname for s in priceLevelList">
            <option value="" data-translate="1143">All</option>
          </select>
        </div>
        <div class="form-group" ng-show="fields.subsidiary !== null && fields.subsidiary !== ''">
          <label data-translate="4866">Season</label>:
          <select id="markdownSeason" tabindex="6" class="form-control" ng-model="fields.season" ng-options="s.sid as s.seasonname for s in seasonList">
            <option value="" data-translate="1143">All</option>
          </select>
        </div>
      </div>
    </div>
    <div class="panel-footer text-right top-buffer">
      <button event-name="posSearchTransactionsReset" id="resetSearchButton" type="button" tabindex="8" class="btn btn-default" ng-click="resetSearchFields()">
        <span class="glyphicon-ban-circle glyphicon"></span>
        <span data-translate="1335">Clear</span>
      </button>
      <button event-name="posSearchTransactionsSearch" type="submit" tabindex="7" class="btn btn-default" ng-disabled="searching || before > today || !before || !today" ng-click="searchTransactions()">
        <span class="glyphicon-search glyphicon"></span>
        <span data-translate="630">Search</span>
      </button>
    </div>
  </div>
</div>
