<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <div class="row">
		            <div class="col-xs-2">
		                <h4 data-translate="3824">Voucher Details</h4>
		            </div>
		            <div class="col-xs=7 col-xs-offset-3">
		            	<div class="row">
			            	<div class="col-xs-4">
								<div class="row">
									<label data-translate="3825">Voucher #</label>: <span>{{voucher.vouno}}</span>
								</div>
								<div class="row">
									<label data-translate="3826">PO #</label>: <span>{{voucher.pono}}</span>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="row">
									<label data-translate="683">Store</label>: <span>{{getStoreName(voucher.storesid)}}</span>
								</div>
								<div class="row">
									<label data-translate="699">Associate</label>: <span>{{voucher.clerkname}}</span>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="row">
									<label data-translate="3533">Vendor Code</label>: <span>{{voucher.vendcode}}</span>
								</div>
								<div class="row">
									<label data-translate="3827">Order Date</label>: <span>{{voucher.orderdate | date:"MM/dd/yyyy h:mma"}}</span>
								</div>
							</div>
						</div>
		            </div>
		        </div>
		    </div>
        </div>
    </div>
    <div class="modal-body" style="min-height:550px">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<div class="row form-group">
							      <div class="col-xs-12">
							        <ul class="nav nav-tabs">
							          <li ng-class="{'active': (x.name === activeTab)}" ng-repeat="x in tabs">
							            <a ng-click="setTab(x)">
							              {{x.txt | translate}}
							            </a>
							          </li>
							        </ul>
							      </div>
							    </div>
							    <div class="row">
									<div class="col-xs-12">
										<voucher-details-general ng-if="activeTab==='general'" voucher="voucher" recvfees="receivingFees" update="saveChanges"></voucher-details-general>
										<voucher-details-vendor ng-if="activeTab==='vendor'" voucher="voucher" recvterms="receivingTerms" update="saveChanges"></voucher-details-vendor>
										<!-- <voucher-details-instructions ng-if="activeTab==='instructions'"></voucher-details-instructions> -->
										<voucher-details-comments ng-if="activeTab==='comments'" vousid="voucher.sid"></voucher-details-comments>
										<voucher-details-notes ng-if="activeTab==='notes'" voucher="voucher" update="saveChanges"></voucher-details-notes>
									</div>
							    </div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12">
	            <div class="col-xs-1">
	            	<button ng-if="activeTab==='general'" ng-disabled="!(sharedData.receiving.voucher.workingMode)" class="btn btn-info" type="button" ng-click="spreadCost()"><span data-translate="3881">Spread Cost</span></button>
	            </div>
	            <div class="col-xs-4 col-xs-offset-7 rightalign">
	                <button class="btn btn-info" type="button" ng-click="closeModal(false)"><span data-translate="907">Cancel</span></button>
	            </div>
            </div>
        </div>
    </div>
</div>