<div class="well well-sm">
  <div class="row">
    <div class="col-xs-3">
      <ul class="list-group-nopad">
        <li class="list-group-item">
          <po-freightamt></po-freightamt>
        </li>
        <li class="list-group-item">
          <po-discamt></po-discamt>
        </li>
        <li class="list-group-item">
          <po-discperc></po-discperc>
        </li>
        <li class="list-group-item">
          <po-feetype></po-feetype>
        </li>
        <li class="list-group-item">
          <po-feeamt></po-feeamt>
        </li>
      </ul>
    </div>
    <div class="col-xs-3">
      <ul class="list-group-nopad">
        <li class="list-group-item">
          <po-lineitems></po-lineitems>
        </li>
        <li class="list-group-item">
          <po-ordqty></po-ordqty>
        </li>
        <li class="list-group-item">
          <po-rcvdqty></po-rcvdqty>
        </li>
        <li class="list-group-item">
          <po-dueqty></po-dueqty>
        </li>
        <li class="list-group-item">
          <po-unfilledperc></po-unfilledperc>
        </li>
      </ul>
    </div>
    <div class="col-xs-3 col-xs-offset-3">
      <ul class="list-group-nopad">
        <li class="list-group-item total">
          <span class="badge total">{{purchaseOrder.active.posubtotal||0 | currency}}</span>
          <span data-translate="1524">Subtotal</span>
        </li>
        <li class="list-group-item total">
          <span class="badge total">{{purchaseOrder.active.pototal||0 | currency}}</span>
          <span data-translate="979">Total</span>
        </li>
      </ul>
    </div>
  </div>

</div>
