<label class="control-label" data-translate="1212">Password</label>
<div class="form-group">
  <input type="password" maxlength="24" ng-class="{'ng-invalid':$ctrl.service.passwordverify&&$ctrl.service.active.password!==$ctrl.service.passwordverify}" autocomplete="new-password" class="form-control" ng-required="true" ng-disabled="$ctrl.sp.mode!=='new'" ng-model="$ctrl.service.active.password">
</div>
