<ng-form>
  <script type="text/ng-template" id="tree_item_renderer.html">

    <div ng-show="false">
      {{b.push(data.name)}}
      {{url='v1/rest/' + b.join('/') + '/meta/'}}
    </div>
    <a></a><a ng-init="on=false" href="changeState(data.sid)" ng-click="on=!on;reset(url,true)">{{data.name}}</a>
    <ul>
      <li ng-repeat="data in data.sections" ng-include="'tree_item_renderer.html'"></li>
    </ul>
    {{show(url)}}    {{show($index)}} {{data.sections}} {{$index}}
    <div ng-if="!data.sections||$index==0">
      <div ng-show="false">
        <a></a>{{b.pop();}}
      </div>
    </div>
  </script>
  <div ui-if="treeList" class="services-left tree-menu-two col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6"><h4 data-translate="4519">Print Areas</h4></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="row" style="background-color:#dddddd; margin:0 1px;">
              <div class="col-xs-11 margin-10"><b><span data-translate="3332">Selected</span>: {{prefSvc.selectedArea.Name}}</b></div>
        </div>
            <div class="row m-0" style="background-color:#dddddd; margin:0 1px;">
              <div class="col-xs-11 col-xs-offset-1">
                <label ng-if="prefSvc.selectedArea.areaSid && prefSvc.selectedArea.HasChildren">
                  <input type="checkbox" ng-checked="prefSvc.selectedArea.OverrideFlag" ng-model="prefSvc.selectedArea.OverrideFlag" ng-change="updateOverride(prefSvc.selectedArea.valueSid)"> <span data-translate="6352">Override Sub-Areas</span>
                </label>
                <span ng-if="!prefSvc.selectedArea.HasChildren">&nbsp;</span>
              </div>
        </div>
        <ul class="list-group">
          <li ng-if="treeList.length" class="list-group-item" style="" ng-repeat="x in treeList">
            <a></a> <a ng-click="selectArea(x.sid)">{{x.name}}</a>
            <ul class="scroll">
              <li ng-if="x.sections" ng-repeat="y in x.sections">
                <a ng-click="selectArea(y.sid)">{{y.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
    </div>
  </div>
</ng-form>
