<button class="btn btn-default btn-lg" ng-disabled="!transferSlip.isEdit||transferSlip.saving||(selectedComment < 0)||isEditComment||isAddComment" ng-click="deleteComment();" type="button">
    <span data-translate="544">Delete</span>
</button>