<div>
    <button ng-if="button.getLayout() === 0" data-permission="pocreatecopy" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()" event-name="createPurchaseOrderFromInventory">
        <span data-translate="4537">New Purchase Order</span>
    </button>
    <button ng-if="button.getLayout() === 1" data-permission="pocreatecopy" class="btn btn-info btn-block" ng-disabled="button.disable()" ng-click="button.action()" type="button" event-name="createPurchaseOrderFromInventory">
        <span data-translate="4537">New Purchase Order</span>
    </button>
</div>
