<div>
	<div class="container-fluid" ng-if="!mainState.lookup">
		<div class="row padding-5">
			<div class="col-xs-12">
				<div class="row row-container mobile-screen-title">
					<div class="col-xs-12">
						<span>{{'2732' | translate}} {{ (state.department.dcscode.length > 0) ? '|' : '' }} {{state.department.dcscode}}</span><span ng-if="state.contentReady.department&&!state.department.active&&state.department.sid">({{'2916' | translate}})</span>
					</div>
				</div>
				<div class="row row-container no-padding transparent" ng-if="state">
		            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding split-ui-left-container">
                        <div class="row row-container no-padding split-ui-left-pane single-tab">
                            <department-main-information mode="state.mode" update-department="state.updateDepartmentRowVersion" department="state.department" ng-if="state.contentReady.department&&state.config.left.showTab(1)"></department-main-information>
                        </div>
                        <!--<div class="row row-container no-padding">
                            <department-left-tab-button-bar current-tab="state.config.left.selectedTab"></department-left-tab-button-bar>
                        </div>-->
		            </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding split-ui-right-container">
                        <div class="row row-container no-padding split-ui-right-pane single-tab">
                            <department-additional-information mode="state.mode" api="state.api" update-department="state.updateDepartmentRowVersion" department="state.department" department-image="state.departmentImage" ng-if="state.contentReady.department&&state.config.right.showTab(1)"></department-additional-information>
                        </div>
                        <!--<div class="row row-container no-padding">
                            <department-right-tab-button-bar current-tab="state.config.right.selectedTab"></department-right-tab-button-bar>
                        </div>-->
		            </div>
				</div>
			</div>
		</div>
		<div>
			<!--<mobile-nav category-menu=""></mobile-nav>-->
		</div>
		<div class="row hidden-xs">
			<button-bar view-path="components/store-ops/department/department-button-bar.htm"></button-bar>
		</div>
	</div>
	<department-lookup ng-if="mainState.lookup"></department-lookup>
  	<prism-ajax-loader ng-if="prismAjaxLoader.handler" loader-title="prismAjaxLoader.title" loader-message="prismAjaxLoader.message"></prism-ajax-loader>
</div>
