<div class="btn-group btn-group-lg btn-group-justified footer-btn-group" id="rpButtons">
	<div class="btn-group" ng-if="buttonBar.mode !== 'edit'">
		<button event-name="createNewDepartment" type="button" class="btn btn-default" ng-click="buttonBar.new.action()" ng-disabled="buttonBar.new.disable()">
			<span data-translate="581">New</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit'">
		<button event-name="cancelDepartmentAction" type="button" class="btn btn-default" ng-click="buttonBar.cancel.action(state.department, state.terms)" ng-disabled="buttonBar.cancel.disable(buttonBar.mode)">
			<span data-translate="1.2">Cancel</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode !== 'edit'">
		<button event-name="editSelectedDepartment" type="button" class="btn btn-default" ng-click="buttonBar.edit.action(state.department)" ng-disabled="buttonBar.edit.disable()||!state.isDepartmentSelected()">
			<span data-translate="774">Edit</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit'">
		<button event-name="saveSelectedDepartment" type="button" class="btn btn-default" ng-click="buttonBar.save.action(state.department, state.addresses, state.contacts, state.terms)" ng-disabled="buttonBar.save.disable()">
			<span data-translate="547">Save</span>
		</button>
	</div>
	<div class="btn-group">
		<button event-name="copySelectedDepartment" type="button" class="btn btn-default" ng-click="buttonBar.copy.action(state.department)" ng-disabled="buttonBar.copy.disable()||!state.isDepartmentSelected()||(buttonBar.mode === 'edit')">
			<span data-translate="582">Copy</span>
		</button>
	</div>
	<div class="btn-group" ng-if="!state.department||(state.department&&state.department.active===1)">
		<button event-name="deactivateSelectedDepartment" type="button" class="btn btn-default" ng-click="buttonBar.deactivate.action(state.department)" ng-disabled="buttonBar.deactivate.disable()||!state.isDepartmentSelected()||(buttonBar.mode === 'edit')">
			<span data-translate="3041">Deactivate</span>
		</button>
	</div>
	<div class="btn-group" ng-if="state.department&&state.department.active===0">
		<button event-name="activateSelectedDepartment" type="button" class="btn btn-default" ng-click="buttonBar.activate.action(state.department)" ng-disabled="buttonBar.activate.disable()||(buttonBar.mode === 'edit')">
			<span data-translate="2334">Activate</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode !== 'edit' && buttonBar.mode !== 'readonly'">
		<button event-name="showSelectedDepartmentDetails" type="button" class="btn btn-default" ng-click="buttonBar.departmentDetail.action(state.department)" ng-disabled="(buttonBar.departmentDetail.disable()||!state.isDepartmentSelected())">
			<span data-translate="5036">Department Detail</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit' || buttonBar.mode === 'readonly'">
		<button event-name="showDepartmentList" type="button" class="btn btn-default" ng-click="buttonBar.departmentList.action()" ng-disabled="buttonBar.departmentList.disable()||(buttonBar.mode === 'edit')">
			<span data-translate="5037">Department List</span>
		</button>
	</div>
	<!--This button should be enabled once department profile and allocation patterns UI is implemented in Prism-->
	<!--<div class="btn-group">
		<button event-name="optionsDepartmentAction" type="button" class="btn btn-default" ng-click="buttonBar.options.action(state.department)" ng-disabled="buttonBar.options.disable()||!state.isDepartmentSelected()||(buttonBar.mode === 'edit')">
			<span data-translate="10">Options</span>
		</button>
	</div>-->
</div>
