<a event-name="{{eventName}}" ng-click="setPanelUrl()">
<div class="row">
  <div class="panel panel-default cursor-pointer">
      <div class="panel-body text-center">
        <!--Commenting out for icon-nav as no image is used only icon - removes error from DT 12286
        <span ng-if="imagePath"><img src="{{imagePath}}" class="center-block" alt="{{ tabText | translate }}"></span>-->
        <span ng-if="glyphName" class="glyphicon glyphicon-{{glyphName}} rpicon-nav"></span>
      </div>
      <div class="panel-footer" style="padding:0px;">
        <button class="btn btn-block btn-info" ng-disabled="disabled" data-translate="{{tabText}}" type="button"></button>
      </div>
  </div>
  <img alt="" class="center-block" id="posOn" src="/images/bullet_up.png" ng-show="templateFile===iNav.templateFile">
</div>
</a>
