<form name="emlForm.form" class="container-fluid">
  <div class="row form-group">
    <div class="col-xs-10">
      <label class="control-label" data-translate="590">Email Type:</label>
      <rp-select-input repeater-data="emlForm.typeObj.listData" default-obj="emlForm.defaultType" ng-model="emlForm.typeObj.selectValue" call-back="emlForm.typeObj.http()" is-last-page="emlForm.typeObj.isLastPage" key-string="emlForm.typeObj.textKey" page="emlForm.typeObj.page" filter-string="emlForm.typeObj.searchString" ng-change="emlForm.updateType()"></rp-select-input>
    </div>
    <div class="col-xs-10">
      <div class="row" style="margin: 5px;">
        <div class="col-xs-4">
          <label class="control-label">
            <input type="checkbox" id="adrContact" name="adrContact" ng-model="emlForm.dataObj.emailallowcontact">
            <span data-translate="1055">Allow Contact</span>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">
            <input type="checkbox" id="adrPrimary" name="adrPrimary" ng-model="emlForm.dataObj.primaryflag" ng-change="emlForm.checkPrimary()">
            <span data-translate="537">Primary</span>
          </label>
        </div>
        <!--  Currently no active flag in db
        <div class="col-xs-4" >
          <label class="control-label">
            <input type="checkbox" id="adrActive" name="adrActive" ng-true-value="1" ng-false-value="0" ng-model="emlForm.dataObj.active">
            <span data-translate="586">Active</span>
          </label>
        </div>
        -->
      </div>
    </div>
    <div class="col-xs-10">
      <label class="control-label" data-translate="529">Email Address:</label>
      <input type="text" maxlength="100" class="form-control" ng-required="emlForm.reqFields['custemail.emailaddress']" ng-model="emlForm.dataObj.emailaddress">
    </div>
  </div>
</form>
