<div class="panel panel-default">
  <div class="panel-heading">
    <span data-translate="1096">User Defined Fields</span>
  </div>
  <div class="panel-body height55 autoOverflow">
    <div class="row">
      <div class="col-xs-12">
        <div ng-repeat="x in udfForm.Customer.extended.fieldNames">
          <div>
            <label class="control-label">{{x.name}}</label>
            <input type="text" readonly="readonly" class="form-control" ng-if="x.fieldvalue.resource==='customer'" value="{{udfForm.Customer.active[x.fieldvalue.key]}}">
            <input type="text" readonly="readonly" class="form-control" ng-if="x.fieldvalue.resource==='extended'" value="{{udfForm.Customer.extended.active[x.fieldvalue.key]}}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12 text-right">
        <edit-customer-udf-button></edit-customer-udf-button>
      </div>
    </div>
  </div>
</div>
