<div class="row">
  <div class="col-xs-10" style="float:right;">
    <button id="getStoreCreditBalanceButton" name="getStoreCreditBalanceButton" type="button" class="btn btn-info form-control" data-permission="checkcentralcreditbal" ng-disabled="field.ngDisabled" ng-click="field.checkCentralCreditBalance()">
      <span class="glyphicon glyphicon-refresh"></span>
      <span data-translate="3817">Get Balance</span>
    </button>
  </div>
</div>
