<div>
  <div ng-if="mode==='edit'&&display==='block'">
    <label class="control-label" data-translate="4019">PO Type</label>
    <select ng-disabled="!purchaseOrder.isEdit" ng-change="savePO()" ng-model="purchaseOrder.active.potype" class="form-control" ng-options="x.val as x.txt | translate for x in poTypes">
      <option style="display:none" data-translate="1358">Select...</option>
    </select>
  </div>
  <div ng-if="mode==='edit'&&display==='inline'">
    <div class="row">
      <div class="col-xs-6">
        <label class="control-label" data-translate="4019">PO Type</label>
      </div>
      <div class="col-xs-6">
        <select ng-disabled="!purchaseOrder.isEdit||potype_disabled" ng-change="savePO()" ng-model="purchaseOrder.active.potype" class="form-control" ng-options="x.val as x.txt | translate for x in poTypes">
          <option style="display:none" data-translate="1358">Select...</option>
        </select>
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='block'">
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label" data-translate="4019">PO Type</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{purchaseOrder.active.potype}}
      </div>
    </div>
  </div>
  <div ng-if="mode==='display'&&display==='inline'">
    <label class="control-label" data-translate="4019">PO Type</label>
    <span>{{purchaseOrder.active.potype}}</span>
  </div>
</div>
