 <div>
  <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-2">
            <h4><span ng-if="sharedData.receiving.voucher.info.vouclass !== 2">{{'3898.1'|translate}}</span><span ng-if="sharedData.receiving.voucher.info.vouclass === 2">{{'4786'|translate}}</span> <small>#{{sharedData.receiving.voucher.info.vouno}}</small></h4>
          </div>
          <div class="col-xs-4">
            <top-filter-change-button asklayout="asklayout" disable="doDisableTFButton" on-close="updateTopFilter">
            </top-filter-change-button>
          </div>
          <div class="col-xs-2">
            <voucher-active ng-if="sharedData.receiving.voucher.info.vouclass === 2" voucher="sharedData.receiving.voucher.info" disable="disableVoucherActive()"></voucher-active>
          </div>
          <div class="col-xs-6">
            <receiving-dates></receiving-dates>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row form-group receiving-info-content">
          <div class="col-xs-2">
            <div class="row padding-5">
              <label data-translate="3899">Voucher Type</label>
              <voucher-select disable="disableVoucherType()" change="updateVoucher" ng-if="sharedData.receiving.voucher.voucher_type_options.length > 0" options="sharedData.receiving.voucher.voucher_type_options" subject="sharedData.receiving.voucher.info.voutype" field="'voutype'"></voucher-select>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="row padding-5">
              <label data-translate="3900">Reference PO#</label>:
              <div class="col-xs-9">
                <input type="text" ng-disabled="!(sharedData.receiving.voucher.workingMode)" ng-blur="searchPO('blur', $event)" enter-blur ng-model="sharedData.receiving.voucher.info.pono" ng-class="{'required':requireReferenceToPo}" class="form-control">
              </div>
              <div class="col-xs-2">
                <voucher-po-lookup-button></voucher-po-lookup-button>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="row padding-5">
              <label data-translate="699">Associate</label>
              <voucher-select disable="disableAssociate()" change="updateVoucher" validate="true" options="sharedData.receiving.voucher.voucher_associate_options" subject="sharedData.receiving.voucher.info.clerksid" field="'clerksid'"></voucher-select>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row padding-5">
              <label data-translate="3533">Vendor Code</label>
              <voucher-select disable="disableVendorCode()" change="updateVoucher" validate="validateVendor.value" options="sharedData.receiving.voucher.voucher_vendor_code_options" subject="sharedData.receiving.voucher.info.vendsid" field="'vendsid'"></voucher-select>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row padding-5">
              <label data-translate="683">Store</label>
              <voucher-select disable="false" change="updateVoucher" ng-if="sharedData.receiving.voucher.voucher_type_options.length > 0" options="sharedData.receiving.voucher.voucher_store_options" subject="sharedData.receiving.voucher.info.storesid" field="'storesid'"></voucher-select>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
