<div class="row">
  <div class="col-xs-12">
    <form novalidate="" name="customerStoreCreditForm" id="customerStoreCreditForm" class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-8">
              <h4 data-translate="642">Purchase Customer Store Credit</h4>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <div class="form-group">
              <div class="col-xs-12" data-translate="1145">
                Enter the amount of store credit to be purchased for this
                customer.
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-5 control-label">
                <span data-translate="644">Amount To Purchase:</span>
              </label>
              <div class="col-xs-7">
                <input type="tel" class="form-control" id="creditToAdd" name="creditToAdd" placeholder="{{ '2048' | translate }} " min="0" max="{{purchaseCredit.service.isCentrals && purchaseCredit.purchaseLimit > 0 ? purchaseCredit.purchaseLimit : undefined}}" ng-keydown="purchaseCredit.checkKey($event)" data-currency-formatter="currency" numberonly ng-model="purchaseCredit.credit.creditToAdd" ng-focuser="purchaseCredit.creditToAddFocus" ng-change="purchaseCredit.calculateNewCreditBalance()">
              </div>
            </div>
            <div class="form-group" ng-if="!purchaseCredit.service.isCentrals || (purchaseCredit.service.isCentrals && purchaseCredit.service.showCentralBal)">
              <label class="col-xs-5 control-label" data-translate="645">Current Balance:</label>
              <div class="col-xs-7">
                <input type="text" ng-readonly="true" data-currency-formatter="" numberonly="" ng-model="purchaseCredit.service.active.storecredit" class="form-control" ng-if="!purchaseCredit.service.isCentrals">
                <input type="text" ng-readonly="true" data-currency-formatter="" numberonly="" ng-model="purchaseCredit.service.active.centralcredit" class="form-control" ng-if="purchaseCredit.service.isCentrals && purchaseCredit.service.showCentralBal">
              </div>
            </div>
            <div class="row" ng-if="!purchaseCredit.service.isCentrals || (purchaseCredit.service.isCentrals && purchaseCredit.service.showCentralBal)">
              <div class="col-xs-5 text-right">
                <p class="form-control-static">
                  <strong data-translate="646">New Balance:</strong>
                </p>
              </div>
              <div class="col-xs-7">
                <input type="text" ng-readonly="true" class="form-control" data-currency-formatter="" numberonly="" ng-model="purchaseCredit.credit.newCreditBalance">
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row"></div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <action-button-bar action-bar="purchaseCredit.buttonBar"></action-button-bar>
  </div>
</div>
