<div>
  <div ng-if="noTendering&&tenderInformationReady" ng-include="'views/default/close-order-confirm-partial.htm'"></div>
  <div class="modal-content" ng-if="!noTendering&&tenderInformationReady">
    <credit-card-frame></credit-card-frame>
    <div class="modal-header" ng-if="!docData.ccFrame">
      <div class="row">
        <div class="col-xs-6">
          <h3 data-translate="5730">Deposit Refund</h3>
        </div>
        <div class="col-xs-6 text-right">
          <div class="well well-sm" style="color:#FFF;background-color:#000;margin:0px;">
            <div class="row">
              <div class="col-xs-4 text-left" data-translate="5731">
                Amt. Due
              </div>
              <div class="col-xs-8">
                <span ng-if="depDocument">{{depDocument.due_amt|currency}}</span>
                <span ng-if="!depDocument">{{(form.deposit_amt*-1)|currency}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body" ng-if="!noTendering&&!docData.ccFrame&&depDocument">
      <div class="container-fluid">
        <div class="row form-group">
          <div class="col-xs-6">
            <label class="control-label">Tender Type</label>
            <select class="form-control" ng-model="form.tender" ng-required="true" ng-change="setTender()" ng-options="tender as tender.transId | translate for tender in AvailableTenders"></select>
          </div>
          <div class="col-xs-6" ng-if="form.tender.tenderName==='CreditCard'">
            <label class="control-label" data-translate="925">Card Type</label>
            <select id="creditType" tabindex="3" class="form-control" ng-required="true" ng-model="form.creditType" ng-options="cctype.sid as cctype.name for cctype in creditCardTypes"><option value="" style="display:none" data-translate="1358">Select...</option>
            </select>
          </div>
          <div class="col-xs-6" ng-if="form.tender.tenderIndex===15">
            <label class="control-label">
              <span data-translate="2997">Central Gift Card No</span>
            </label>
            <div class="input-group">
              <input tabindex="2" type="text" id="centralGiftCardNumber" class="form-control text-right" ng-disabled="(centralGiftCardGenerateCentralID)||!allowGCKey" ng-required="true" ng-model="form.tender.centralCardNumber">
              <span class="input-group-btn"><button class="btn btn-info" ng-click="swipeCard('centralCardNumber')" type="button"><span class="glyphicon glyphicon-credit-card"></span></button></span>
            </div>
          </div>
          <div class="col-xs-6" ng-if="form.tender.tenderName==='GiftCertificate'">
            <label class="control-label" data-translate="5732">Certificate Number</label>
            <input tabindex="2" type="text" id="certificateNumber" class="form-control text-right" ng-required="true" ng-model="form.tender.certificate_number">
          </div>
          <div class="col-xs-6" ng-if="form.tender.tenderIndex===12">
            <label class="control-label" data-translate="941">Foreign Currency:</label>
            <select id="currencyType" tabindex="5" class="form-control" ng-change="setCurrency(form.currencyType.sid)" ng-model="form.currencyType" ng-options="c as c.currency_name for c in foreignCurrencies"><option value="" style="display:none" data-translate="1358">Select...</option>
            </select>
          </div>
          <div class="col-xs-6" ng-if="form.tender.tenderName==='Check'">
            <label class="col-xs-5 control-label" data-translate="933">Check No:</label>
            <input tabindex="2" type="tel" id="checkNumber" class="form-control text-right" ng-focuser="focusMe.checkNo" ng-model="form.checkNo">
          </div>
        </div>
        <div class="well well-sm" style="margin-bottom:0px" ng-if="form.tender.tenderIndex===12">
          <div class="row">
            <div class="col-xs-4">
              <strong data-translate="942">Foreign Due</strong>
              <div>{{currency.foreignCurrency.due | foreign_currency : form.currencyType}}</div>
            </div>
            <div class="col-xs-4">
              <strong data-translate="943">Base Currency</strong>
              <div>{{currency.baseCurrency.alphabetic_code}}:{{currency.baseCurrency.currency_name}}</div>
            </div>
            <div class="col-xs-4">
              <strong data-translate="1480">Rate</strong>
              <div>{{currency.foreignCurrency.rate}}</div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-6" ng-if="form.tender.tenderName==='CreditCard'||form.tender.tenderName==='DebitCard'||form.tender.tenderName==='Check'||form.tender.tenderName==='GiftCard'">
            <label class="control-label" data-translate="5733">Auth. No.</label>
            <input type="text" id="creditAuth" class="form-control text-right" ng-focuser="focusMe.creditAuth" ng-model="form.authNo">
          </div>
          <div class="col-xs-6" ng-if="form.tender.tenderName==='CreditCard'">
            <label>
              <input type="checkbox" id="forceCreditAuth" ng-change="amtUpdate()" ng-model="form.forceCreditAuth"> <span data-translate="5734">Force Authorization</span>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-12">
            <label class="control-label">Give Amount</label>
            <div class="input-group">
              <input type="text" ng-if="form.tender.tenderIndex!==12" data-currency-formatter="" ng-keyup="setDocData()" ng-blur="setDocData()" focus-it="form.focusIt" onfocus="this.select()" numberonly="" class="form-control" ng-model="form.taken_amt">
              <input type="text" ng-if="form.tender.tenderIndex===12" foreign-currency-formatter="form.currencyType" ng-keyup="convertToBaseCurrency()" onfocus="this.select()" numberonly="" class="form-control" ng-model="form.taken_amt">
              <span class="input-group-btn"><button class="btn btn-info" ng-disabled="AvailableTenders.length == 0||!form.tender||depDocument.due_amt===0||giving||!depDocument||!form.taken_amt" ng-click="give()">Give</button></span>
            </div>
            <br>
            <div class="alert alert-danger" role="alert" ng-if="AvailableTenders.length == 0">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span data-translate="3329">Error</span>:
              <span data-translate="6267">This order has a deposit balance and cannot be closed.</span>
            </div>
          </div>
        </div>
        <div class="row" ng-if="depDocument&&tenders.length>1">
          <div class="col-xs-12" style="max-height:300px;overflow:auto;">
            <label class="control-label" data-translate="1485">Change</label>
            <div class="well well-sm" style="padding:3px" ng-if="x.given" ng-repeat="x in tenders">
              <div class="row">
                <div class="col-xs-9">
                  <button type="button" ng-click="void(x)" event-name="posTenderVoidPayment" data-permission="allowvoidtender" class="btn btn-sm btn-danger"><span data-translate="1486">Void</span></button>
                  <span ng-if="x.tender_type!==12">{{tenderTranslations[x.tender_type] | translate}}</span>
                  <span ng-if="x.tender_type===12">{{x.tender_name}} {{x.base_given | foreign_currency : getCurrency(x.foreign_currency_sid)}}</span>
                  <span ng-if="x.authorization_code&&x.tender_type!==1">Auth #{{x.authorization_code}}</span>
                  <span ng-if="x.tender_type===1">#{{x.check_number}}</span>
                  <span ng-if="x.tender_type===15">#{{x.central_card_number}}</span>
                  <span ng-if="x.tender_type===9">#{{x.certificate_number}}</span>
                </div>
                <div class="col-xs-3 text-right" style="padding-top:3px;">
                  <span class="badge badge-info">{{x.amount * -1 | currency}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" ng-if="!docData.ccFrame">
      <button class="btn btn-info" ng-click="save({print:true})" ng-disabled="depDocument.due_amt!==0" data-translate="4334" type="button">Confirm & Print</button>
      <button class="btn btn-info" ng-click="save({print:false})" ng-disabled="depDocument.due_amt!==0" data-translate="1.1" type="button">OK</button>
      <button class="btn btn-default" ng-click="cancel()" data-translate="1.2">Cancel</button>
    </div>
  </div>
</div>
