<form novalidate="" id="plNewForm" name="plNewForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h4><span ng-if="!editMode" data-translate="2904">Create</span><span ng-if="editMode" data-translate="774">Edit</span> - <span data-translate="1645">Price Level</span></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
           <div class="form-group">
            <label>
              <strong data-translate="2717">Price Level Name</strong>
            </label>
            <input class="form-control col-xs-8" ng-required="true" ng-model="prcLvl.name" type="text" maxlength="6">
           </div>
         </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" id="plNewCancelBtn" event-name="plNewCancel" name="plNewCancelBtn" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
            <button type="button" id="plNewOkBtn" event-name="plNewOk" name="plNewOkBtn" class="btn btn-lg btn-default" ng-disabled="plNewForm.$invalid" ng-click="save()"><span data-translate="1.1">OK</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
