<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
                <h4 data-translate="5509">Inventory Item Price/Cost Change</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <em><span data-translate="5497">This item is a member of a Style.  What would you like the change to affect?</span></em>
                        </div>
                    </div>
                    <div class="row top-margin20" ng-if="flags.showCost">
                        <div class="col-xs-10 col-xs-offset-1">
                            <strong><span data-translate="5510">For Cost:</span></strong>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-2">
                                    <label><input type="radio" ng-click="changeCostType('item')" name="cost_style_type" value="item">&nbsp;&nbsp;<span data-translate="5511">Item - Change the Cost for this item only</span></label>
                                    <br>
                                    <label><input type="radio" ng-click="changeCostType('style')" name="cost_style_type" value="style">&nbsp;&nbsp;<span data-translate="5512">Style - Change the Cost for all of the Style Items</span></label>
                                </div>
                            </div>
                            <hr ng-if="flags.showCost && flags.showPrice" style="height:1px;border:none;color:#555;background-color:#555;">
                        </div>
                    </div>
                    <div class="row" ng-if="flags.showPrice">
                        <div class="col-xs-10 col-xs-offset-1">
                            <strong><span data-translate="5513">For Price:</span></strong>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-2">
                                    <label><input type="radio" ng-click="changePriceType('item')" name="price_style_type" value="item">&nbsp;&nbsp;<span data-translate="5514">Item - Change the Price for this item only</span></label>
                                    <br>
                                    <label><input type="radio" ng-click="changePriceType('style')" name="price_style_type" value="style">&nbsp;&nbsp;<span data-translate="5515">Style - Change the Price for all of the Style Items</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button type="button" ng-disabled="!state.costChangeType && !state.priceChangeType" class="btn btn-info btn-large" ng-click="close({action:1,costChangeType:state.costChangeType,priceChangeType:state.priceChangeType})">
                    <span data-translate="1.3">Apply</span>
                </button>
                <button type="button" class="btn btn-info btn-large" ng-click="close({action:0})">
                    <span data-translate="1.2">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
