<button type="button" ng-disabled="$ctrl.button.disable()" class="btn btn-warning" ng-click="$ctrl.button.action()" event-name="TransferVerificationUpdateAll">
  <span data-translate="6385">Update All</span>
</button>
