<div>
  <div class="row">
    <ul class="nav nav-tabs invert">
      <li ng-repeat="x in connMgr.tabs" ng-class="{'active':(connMgr.stateParams.type===x.type)}">
        <a href="javascript:void(0)" ng-click="connMgr.setTab($index)">
          <span class="glyphicon {{x.icon}}" ng-if="x.icon"></span> {{x.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ui-view=""></div>
    </div>
  </div>
</div>
