<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <label class="col-xs-4 text-left">
        <strong data-translate="553">Price Level:</strong>
      </label>
      <div class="col-xs-8">
        <select id="price_level_sid" name="price_level_sid" class="form-control ng-pristine ng-valid" ng-disabled="field.ngDisabled || field.perms.checkDeny('custchangepricelevel')" ng-change="field.setPrValue()" ng-model="field.service.active.pricelvlsid" ng-options="p.sid as p.pricelvlname for p in field.pricelevelList">
          <option value="" data-translate="1358">Select...</option>
        </select>
      </div>
    </div>
  </div>
</div>
