<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="531">Info 2</label>
    <input id="info2" name="info2" maxlength="20" type="text" class="form-control" data-permission="customerseditinfomarkfields" ng-required="field.required" ng-model="field.service.active.info2">
  </div>
</div>
