<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="1094">Mark 2</label>
    <input id="mark2" name="mark2" maxlength="4" type="text" class="form-control" data-permission="customerseditinfomarkfields" ng-required="field.required" ng-model="field.service.active.mark2">
  </div>
</div>
