<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
  <div class="btn-group">
    <button class="btn btn-default btn-lg" ng-click="mergeScans()" data-permission="pimodifyzonecounts" data-permission-disabled="zoneSheet.merged_datetime !== '' || currentPage==='default' || currentPage==='bad_scans'" type="button">
      <span data-translate="3717">Merge</span>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default btn-lg" ng-disabled="zoneSheet.merged_datetime !== '' || currentPage!=='imported'" ng-click="importSheetItems()" type="button">
      <span data-translate="3719">Import</span>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default btn-lg" ng-disabled="zoneSheet.merged_datetime !== '' || (currentPage === 'default') || (currentPage === 'add_counts')" ng-click="rejectScans()" type="button">
      <span data-translate="3718">Reject</span>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default btn-lg" ng-click="clearItemsScanQty()" data-permission="pimodifyzonecounts" data-permission-disabled="!enableClear() || currentPage==='bad_scans'" type="button">
      <span data-translate="3820">Clear Sel</span>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default btn-lg" ng-click="clearItemsScanQty(true)" data-permission="pimodifyzonecounts" data-permission-disabled="zoneSheet.merged_datetime !== '' || currentPage==='bad_scans'" type="button">
      <span data-translate="1407">Clear All</span>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default btn-lg" ng-click="printZoneSheetItems()" data-permission="piprintzonesheet" data-permission-disabled="zoneSheet === null" type="button">
      <span data-translate="522">Print</span>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default btn-lg" ng-click="returnToZones()" type="button">
      <span data-translate="583">Close</span>
    </button>
  </div>
</div>
