<div name="zoneSheetItems">
  <div class="panel panel-default">
    <div class="pi-sheet panel-heading">
        <h4>{{selectedTabName|translate}}</h4>
    </div>
    <div class="panel-body pi-items-grid-container" ui-i18n="{{lang}}">
        <div id="grid1" ui-grid-resize-columns ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid="piItemsGrid" ng-if="piItemsGrid.columnDefs.length > 0" external-scopes="gridHandlers" class="grid">
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-2 text-left" ng-if="piItemsTotalRecords > 0">
                <span>{{'2789'|translate}}: </span><b>{{piItemsTotalRecords}}</b>
            </div>
            <div class="col-xs-10 text-center">
                <paging-control ng-if="piItemsGrid.data.length>0&&!searchingZoneSheetItems" total-records="piItemsTotalRecords" grid-reference="gridApi" results-per-search="piItemsResultsPerSearch" results-per-page="piSheetItemsPageSize" call-back="searchItems"></paging-control>
            </div>
        </div>
    </div>
  </div>
  <prism-ajax-loader ng-if="prismAjaxLoader.handler" loader-title="prismAjaxLoader.title" loader-message="prismAjaxLoader.message"></prism-ajax-loader>
  <button-bar view-path="components/store-ops/pi/pi-zones/zone-sheet/zone-sheet-items/zone-item-action-bar.htm"></button-bar>
</div>


