<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">
  <div class="row top-margin10">
    <div class="col-xs-4">
      <label class="control-label" data-translate="1209">Email Host Name</label>
      <input type="text" class="form-control" ng-model="pData.email_server_host_name.value">
    </div>
    <div class="col-xs-4">
      <label class="control-label" data-translate="1210">SMTP Port</label>
      <input type="text" class="form-control" ng-model="pData.email_server_smtp_port.value">
    </div>
    <div class="col-xs-4">
      <label class="control-label">
        <input type="checkbox" ng-model="pData.email_server_use_ssl.value" ng-checked="toBoolean(pData.email_server_use_ssl.value)">
        <span class="checkbox_label ng-scope" data-translate="4403">Use SSL</span>
      </label>
    </div>
  </div>
  <div class="row top-margin10">
    <div class="col-xs-4">
      <label class="control-label" data-translate="4591">Sender Email Address</label>
      <input type="text" class="form-control" ng-model="pData.email_server_sender.value">
    </div>
    <div class="col-xs-4">
      <label class="control-label" data-translate="4404">Server User Name</label>
      <input type="text" class="form-control" ng-model="pData.email_server_user_name.value">
    </div>
    <div class="col-xs-4">
      <label class="control-label" data-translate="4405">Server Password</label>
      <input type="password" class="form-control" ng-model="pData.email_server_password.value">
    </div>
  </div>
  <div class="row top-margin10">
    <div class="col-xs-4">
      <label class="control-label" data-translate="7155">Document Email Subject Line</label>
      <input type="text" maxlength="77" class="form-control" ng-model="pData.default_subject_line.value">
    </div>
    <div class="col-xs-4">
      <label class="control-label" data-translate="7156">POS Receipt Email Subject Line</label>
      <input type="text" maxlength="77" class="form-control" ng-model="pData.document_subject_line.value">
    </div>
  </div>
</ng-form>
