<div class="row">
    <div class="col-xs-6 amBigBold" data-translate="4721">Price Difference</div>
    <div class="col-xs-6 text-right" ng-class="(adjMemo.memo.totadjextprice - adjMemo.memo.totorigextprice) > 0 ? 'text-success' : (adjMemo.memo.totadjextprice - adjMemo.memo.totorigextprice) < 0 ? 'text-danger' : ''"><strong>{{adjMemo.memo.totadjextprice - adjMemo.memo.totorigextprice | currency}}</strong></div>
</div>