<div class="row">
    <select class="form-control" ng-disable="!(disable)" ng-model="creatingdoctype" ng-options="x.source as x.desc for x in sourceList">
        <option value=""></option>
    </select>
</div>