<button class="btn btn-lg btn-default" ng-disabled="sharedData.disableUpdate||disbursements.active.finalized||!disbursement.form.$valid||(disbursements.active.event_type!==4&&disbursements.active.currency_total===0)" ng-click="updateDisbursement();" type="button">
  <span data-translate="1301">Update Only</span>
</button>
