<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="636">Last Name</label>
    <input id="last_name" name="last_name" type="text" class="form-control" maxlength="30" ng-required="field.required" ng-model="field.service.active.lastname">
  </div>
</div>
