<img-btn ng-if="layout === 0" event-name="asnLookup" tabindex="123" translation-name="'4732'" img-src="'/images/pos/trans_lookup_48.png'" click-handler="button.action" disable="button.disable()" permission-name="'accessreceivingarea'" button-text="'ASN Lookup'"></img-btn>

<button ng-if="layout === 1" class="btn btn-info btn-block" ng-disabled="button.disable()" disable-by-permission="accessreceivingarea" data-translate="4732" event-name="pendingAsnVouchers" ng-click="button.action()" type="button">
  <span data-translate="4732">ASN Lookup</span>
</button>
