<fieldset ng-disabled="assignments.stateParams.mode==='view'">
  <div class="col-xs-12" ng-if="assignments.service.active.employeestore&&assignments.service.active.employeesubsidiary">
    <sbs-store-list-selection form="assignments.service.formState" store-model="assignments.service.active.employeestore" sbs-model="assignments.service.active.employeesubsidiary" store-bindings="{sid:'storesid',subsidiary_sid:'sbssid'}" sbs-bindings="{sid:'sbssid'}">
    </sbs-store-list-selection>
  </div>
</fieldset>
