<div>
    <button type="button" ng-class="{'btn-info btn-block':button.layoutType(1), 'btn-default btn-lg':button.layoutType()}" class="btn hidden-xs" ng-disabled="button.disable()" ng-click="button.action()">
        <span ng-if="!unmarkAll" data-translate="4740">Unmark ASN</span>
        <span ng-if="unmarkAll" data-translate="4839">Unmark All ASN</span>
    </button>
    <a class="hidden-sm hidden-md hidden-lg" ng-class="{'disabled':button.disable()}" ng-click="button.action()"><span data-translate="4740">Unmark ASN</span></a>
</div>