<div>
  <label class="control-label"><span data-translate="699">Associate</span></label>
  <select-associate ng-blur="saveField()" class="{{fieldClass}}" storesid="storesid" ng-model="disbursements.active.cashier_sid"></select-associate>
</div>
