<div class="row">
    <div class="col-xs-6 cm-strong" data-translate="694">Fee Type</div>
    <div class="col-xs-6 text-right">
        <span>{{transferSlip.fee.tranfeetypesid|transferFeeTypes}}</span>
    </div>
</div>
