<div style="height:195px;overflow-y:auto;overflow-x:hidden">
  <div class="row">
    <div class="col-xs-4">
      <label class="badge badge-info">{{adrList.parent.active.addresstype}}</label>
    </div>
    <div class="col-xs-4 text-right">
      <label class="badge badge-info">
        <span ng-if="!adrList.parent.active.addressallowcontact" class="glyphicon-ban-circle glyphicon"></span>
        <span ng-if="adrList.parent.active.addressallowcontact" class="glyphicon-ok glyphicon"></span>
        <span data-translate="539">Contact</span>
      </label>
    </div>
     <div class="col-xs-4 text-right">
      <label class="badge badge-success">
        <span ng-if="!adrList.parent.active.primaryflag" class="glyphicon-ban-circle glyphicon"></span>
        <span ng-if="adrList.parent.active.primaryflag" class="glyphicon-ok glyphicon"></span>
        <span data-translate="537">Primary</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="row" ng-repeat="x in ['1','2','3','4','5','6']">
        <div class="col-xs-12" ng-if="adrList.parent.active['address' + x]">
          {{adrList.parent.active['address' + x]}}
        </div>
      </div>
    </div>
    <div class="col-xs-4 text-right">
      <div class="row">
        <div class="col-xs-12">
          <label class="badge badge-info">
            <span ng-if="!adrList.parent.active.active" class="glyphicon-ban-circle glyphicon"></span>
            <span ng-if="adrList.parent.active.active" class="glyphicon-ok glyphicon"></span>
            <span data-translate="586">Active</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      {{adrList.parent.active.postalcode}}
    </div>
  </div>
</div>
