<div class="root">
  <div ng-if="!checkLevel('subsidiary')" class="alert alert-danger" role="alert" data-translate="6591">Customer UDF Fields requires your context to be set to the Subsidiary level.</div>
  <div class="row padding-20">
      <div class="col-xs-6" ng-if="checkLevel('subsidiary')">
          <div class="row padding-5">
              <h4 class="text-center" data-translate="5325">UDF Naming</h4>
              <hr>
          </div>
          <div class="row padding-5" ng-repeat="item in udf.udfList">
              <div class="col-xs-4 no-left-padding">
                  <label><span data-translate="5232">UDF</span>{{$index+1}} <span data-translate="1113">Name</span></label>
              </div>
              <div class="col-xs-8 no-right-padding">
                  <input type="text" class="form-control" ng-disabled="!checkLevel('subsidiary')" ng-model="item[0].name" maxlength="15">
              </div>
          </div>
          <div class="row padding-5">
              <div class="col-xs-12">
                  <button type="button" ng-click="onSaveUdfNamesClick(0)" ng-disabled="!checkLevel('subsidiary')" class="btn btn-info btn-block" data-translate="5326">Save UDFs</button>
              </div>
          </div>
      </div>
      <div class="col-xs-6" ng-if="checkLevel('subsidiary')">
          <div class="row padding-5">
              <h4 class="text-center" data-translate="5327">UDF Options</h4>
              <hr>
          </div>
          <div>
            <span data-translate="5328">UDF Options require</span>
          </div>
          <div class="row padding-5" ng-if="checkLevel('subsidiary')">
              <div class="col-xs-4 no-left-padding"><b><span data-translate="5329">Select UDF</span></b></div>
              <div class="col-xs-8 no-right-padding">
                  <select class="form-control" ng-disabled="!checkLevel('subsidiary')" ng-change="onUdfSelectedChange()" ng-model="udf.selectedUdf.value" ng-options="option[0] as option[0].name for option in udf.udfList"> <!--  | filter:{udfno:'!1'} | filter:{udfno:'!2'} -->
                      <option value="?" selected="selected"></option>
                  </select>
              </div>
          </div>
          <div class="row padding-5" ng-if="checkLevel('subsidiary')">
              <ac-customers-udf-options udf="udf.selectedUdf.value" disable="!checkLevel('subsidiary')" on-parent-change="udf.selectedUdf.refreshOptions"></ac-customers-udf-options>
          </div>
      </div>
  </div>
</div>
