<form novalidate="" id="pmCopyForm" name="pmCopyForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="6047">Copy Markdown</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row top-margin">
            <label class="col-xs-4 control-label">
              <strong data-translate="6048" class="ng-scope">Markdown Name</strong>
            </label>
            <input class="col-xs-8" ng-required="true" id="markdownName" ng-model="markdownName" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" id="pmCopyCancelBtn" event-name="pmCopyCancel" name="pmCopyCancelBtn" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
            <button type="button" id="pmCopyOkBtn" event-name="pmCopyOk" name="pmCopyOkBtn" class="btn btn-lg btn-default" ng-disabled="pmCopyForm.$invalid" ng-click="copy()"><span data-translate="1.1">OK</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
