<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="637">First Name</label>
    <input id="first_name" name="first_name" type="text" class="form-control" maxlength="30" ng-required="field.required" ng-model="field.service.active.firstname">
  </div>
</div>
