<div>
    <button type="button" data-permission="asnflagpackagesreceived" ng-class="{'btn-info btn-block':button.layoutType(1), 'btn-default btn-lg':button.layoutType(0)}" class="btn hidden-xs" ng-click="button.action()" data-permission-disabled="button.disable()">
        <span ng-if="!markAll" data-translate="4737">Mark ASN</span>
        <span ng-if="markAll" data-translate="4838">Mark All ASN</span>
    </button>
    <a class="hidden-sm hidden-md hidden-lg" data-permission="asnflagpackagesreceived" ng-click="button.action()" ng-class="{'disabled':button.disable()}"><span data-translate="4737">Mark ASN</span></a>
</div>
