<img-btn ng-if="layout === 0" event-name="AccessVendorInvoice" tabindex="123" translation-name="'3678'" img-src="'/images/pos/pos_new_48.png'" click-handler="button.action" disable="button.disable()" button-text="'Vendor Invoice'"></img-btn>

<button ng-if="layout === 1" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()" event-name="AccessVendorInvoice">
    <span data-translate="3678">Vendor Invoice</span>
</button>
