<div>
    <div class="container-fluid">
        <div class="row padding-5">
            <div class="col-xs-12">
                <div class="row row-container mobile-screen-title">
                    <span data-translate="4585">Promotion Priorities</span>
                </div>
                <div class="promo-form-container">
                    <div class="responsive-container promo-priorities" ng-if="viewPortChange">
                        <div class="row row-container full-height">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label data-translate="4354">Promotion Group</label>
                                            <select ng-model="promotionGroupFilter.value" class="form-control" ng-disabled="performingSearch.value" ng-change="prepareFilter(promotionGroupFilter.value)" ng-options="group.name as group.name | translate for group in promotionsGroupList"></select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label data-translate="6910">Date/Time Status</label>
                                            <select ng-model="promotionDateStatusFilter" class="form-control" ng-disabled="performingSearch.value" ng-change="prepareDateTimeFilter(promotionDateStatusFilter)" ng-options="status.value as status.name | translate for status in dateStatusList"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <select multiple="multiple" class="form-control promotion-priorities-list" ng-options="promo as (promo.general_pos+' - '+promo.general_promo_name) for promo in promotionList" ng-model="selectedPromotion.value"></select>
                                    </div>
                                    <div class="col-xs-4">
                                        <ul class="list-group align-vertical priorities-action-buttons">
                                            <li class="list-group-item">
                                                <button ng-disabled="disableActionButtons()" disable-by-permission="pcpromoedit" class="btn btn-info full-width" type="button" ng-click="moveSelected('top');"><span data-translate="4586">Top</span></button>
                                            </li>
                                            <li class="list-group-item">
                                                <button ng-disabled="disableActionButtons()" disable-by-permission="pcpromoedit" class="btn btn-info full-width" type="button" ng-click="moveSelected('up');"><span data-translate="3.2">Up</span></button>
                                            </li>
                                            <li class="list-group-item">
                                                <button ng-disabled="disableActionButtons()" disable-by-permission="pcpromoedit" class="btn btn-info full-width" type="button" ng-click="moveSelected('down');"><span data-translate="3.3">Down</span></button>
                                            </li>
                                            <li class="list-group-item">
                                                <button ng-disabled="disableActionButtons()" disable-by-permission="pcpromoedit" class="btn btn-info full-width" type="button" ng-click="moveSelected('bottom');"><span data-translate="4587">Bottom</span></button>
                                            </li>
                                            <li class="list-group-item">
                                                <input ng-disabled="disableActionButtons()" type="number" class="form-control" ng-model="position.value" placeholder="{{ '3851' | translate }}" enter-blur="" ng-blur="moveSelected('position', position.value);" min="1">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 hidden-xs summary-details-container promotion-priorities-details" match-height="">
                                <promotion-summary-details promotion="selectedPromotion.value[0]" ng-if="showSelectedPromotionDetails()"></promotion-summary-details>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <mobile-nav category-menu="promotionActionButtons"></mobile-nav>
        </div>
    </div>
    <div class="row hidden-xs">
        <button-bar view-path="components/pos/promotions/promotions-button-bar.htm"></button-bar>
    </div>
</div>
