<img-btn ng-if="layout === 0" event-name="pendingAsnLookup" tabindex="123" translation-name="'4743'" img-src="'/images/pos/document_pending_48.png'" click-handler="button.action" disable="button.disable()" button-text="'Pending ASNs'"></img-btn>
<button ng-if="layout === 1" class="btn btn-info btn-block" ng-disabled="button.disable()" disable-by-permission="accessreceivingarea" event-name="pendingAsnLookup" ng-click="button.action()" type="button" data-translate="4743">
  <span data-translate="4743">Pending ASNs</span>
</button>
