<div class="modalouter">
  <div class="modal-header">
    <span data-translate="5378">Generate Transfer Order</span>
  </div>
  <div class="modal-body" ng-if="!distributed">
    <ul class="list-group">
      <li class="list-group-item">
        <button class="btn btn-info btn-block" ng-click="generateTO(2)">
          <span data-translate="5398">Marked For</span>
        </button>
      </li>
      <!--<li class="list-group-item">
        <button class="btn btn-info btn-block" ng-click="setDistributed(true)">
          <span data-translate="needsID">Distributed</span>
        </button>
      </li>
      <li class="list-group-item">
        <button class="btn btn-info btn-block" ng-click="generateTO(0)">
          <span data-translate="needsID">Undistributed</span>
        </button>
      </li>-->
    </ul>
  </div>
  <div class="modal-body" ng-if="distributed">

      <div class="row form-group">
        <div class="col-xs-12">
          <label class="control-label"><span data-translate="4426">Stores</span></label>
          <multi-select ng-if="stores" sortable="true" array="true" first-label="{{searchByLabel}}" in-obj="stores" second-label="{{selectedLabel}}" text-key="store_name" value-key="sid" ng-model="to.stores"></multi-select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">
          <label class="control-label"><span data-translate="6969">Fill to</span></label>
          <br>
          <label class="control-label">
            <input type="radio" value="min" ng-model="to.fill_level"> <span data-translate="5417">Min Level</span>
          </label>
          <br>
          <label class="control-label">
            <input type="radio" value="max" ng-model="to.fill_level"> <span data-translate="5418">Max Level</span>
          </label>
          <br>
          <label class="control-label" ng-if="to.fill_level!=='custom'">
            <input type="radio" value="custom" ng-model="to.fill_level"> <span data-translate="5419">Custom Level</span>
          </label>
          <label class="control-label" ng-if="to.fill_level==='custom'">
              <input type="text" class="form-control col-xs-6" numberonly="" placeholder="{{ '5395' | translate }}" data-currency-formatter="number" max="100" min="1" ng-model="to.fill_amount">
          </label>
        </div>
        <div class="col-xs-6">
          <label class="control-label">
            <input type="checkbox" ng-model="to.include_items">
            <span data-translate="5420">Include items at or above min level</span>
          </label>
          <label class="control-label">
            <input type="checkbox" ng-model="to.force">
            <span data-translate="5421">Force distribution of all PO quantities</span>
          </label>
        </div>
      </div>
  </div>
  <div class="modal-footer" ng-if="distributed">
      <button class="btn btn-default" ng-click="setDistributed(false)">
        <span data-translate="1.2">Cancel</span>
      </button>
      <button class="btn btn-default" ng-click="">
        <span data-translate="5255">Generate</span>
      </button>
  </div>
  <div class="modal-footer" ng-if="!distributed">
    <button class="btn btn-default" ng-click="$close()">
      <span data-translate="1.2">Cancel</span>
    </button>
  </div>
</div>
