<button event-name="posTransactionOrderDetails" tabindex="720" type="button" class="btn btn-info btn-block large-text" id="OrderDetailsButton" ng-click="orderDetails()" ng-disabled="orderDetailsButton||document.deposit_ref_doc_sid">
<span data-translate="778">Order Details</span>
</button>
