<div>
    <label for="slipCreatedDate" class="control-label" data-translate="533">Created Date</label>
    <input type="button" id="slipCreatedDate" class="form-control" value="{{(transferSlip.slip.createddatetime)?(transferSlip.slip.createddatetime | date:'mediumDate'):'Never'}}">
</div>
