<div name="pisheet">
	<div class="panel panel-default">
        <div class="panel-heading">
            <h4><span data-translate="6567"></span> - {{piSheetName}} - {{zoneSheet.name}}</h4>
        </div>
        <div class="panel-body height85" ng-if="zoneSheetReady">
            <zone-sheet-header></zone-sheet-header>
            <zone-sheet-body></zone-sheet-body>
            <!-- <pi-sheet-footer></pi-sheet-footer> -->
        </div>
    </div>
</div>
