<div class="modal-content">
  <div class="modal-header">
    <h4 data-translate="6372">Generate Coupons</h4>
  </div>
  <div class="modal-body" style="overflow: visible;">
    <ng-form name="form.couponGen">
      <div class="row form-group">
        <div class="col-xs-4">
          <label class="control-label" data-translate="6359">Set ID</label>
        </div>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-required="required['setid']" ng-model="couponGen.setid" readonly="readonly">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          <label class="control-label" data-translate="6360">Set Name</label>
        </div>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-required="required['setname']" ng-model="couponGen.setname" readonly="readonly">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          <label class="control-label" data-translate="6364">Code Prefix</label>
        </div>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="couponGen.codeprefix">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          <label class="control-label" data-translate="3033">Issued</label>
        </div>
        <div class="col-xs-8">
          <input type="checkbox" class="" ng-model="couponGen.issuedstatus" ng-checked="couponGen.issuedstatus===1" ng-true-value="1" ng-false-value="2">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          <label class="control-label" data-translate="1832">Count</label>&nbsp;
        </div>
        <div class="col-xs-8">
          <input type="text" class="form-control" numberonly="" min="0" ng-model="couponGen.count" required>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          &nbsp;<label class="control-label" data-translate="958">Start Date</label>
        </div>
        <div class="col-xs-8">
          <p class="input-group" ng-click="openCalendar($event, 'startDate')">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'mediumDate'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="false" datepicker-options="startDate.datepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
          </p>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          &nbsp;<label class="control-label" data-translate="611">End Date</label>
        </div>
        <div class="col-xs-8">
          <p class="input-group" ng-click="openCalendar($event, 'endDate')">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'mediumDate'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="false" datepicker-options="endDate.datepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
          </p>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-translate="1.1" ng-click="generateCoupons()" ng-disabled="!form.couponGen.$valid" event-name="generateCouponSetOK" id="generateCouponSetOkButton">OK</button>
    <button class="btn btn-default" data-translate="1.2" ng-click="closeModal()" event-name="generateCouponSetCancel" id="generateCouponSetCancelButton">Cancel</button>
  </div>
</div>
