<div class="col-xs-3 no-left-padding">
  <label data-translate="2772">Tax Code</label>
</div>
<div class="col-xs-4">
  <select class="form-control" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" ng-model="$ctrl.service.item.taxcodesid" ng-options="taxcode.sid as taxcode.taxcode + ' - ' + taxcode.taxname for taxcode in $ctrl.service.taxCodeList" ng-change="$ctrl.service.onCalcFieldBlur('taxcodesid')"></select>
</div>
