<div class="row top-margin">
    <div>
        <div class="col-xs-{{labelWidth}} text-left">
            <label class="control-label" data-translate="4717">Memo Source</label>
        </div>
        <div class="col-xs-{{fieldWidth}}">
            <span>{{adjMemo.memo.creatingdoctype | memoSource}}</span>
        </div>
    </div>
</div>