<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-2">
                <h4 data-translate="5069">Gift Item Selection</h4>
            </div>
            <div class="col-xs-4 col-xs-offset-6">
                <div class="row">
                    <div class="col-xs-6">
                        <label data-translate="634">Sort By</label>
                        <select class="form-control" ng-disabled="!(searching !== true)" ng-change="sortItems()" ng-options="sort.value as sort.name |   translate for sort in sortBy" ng-model="sortItems.sortby"></select>
                    </div>
                    <div class="col-xs-6">
                        <label data-translate="908">Sort Order</label>
                        <select class="form-control" ng-disabled="!(searching !== true)&&!sortBy" ng-change="sortItems()" ng-options="order.value as order.name |   translate for order in orderBy" ng-model="sortItems.orderby"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div id="selectGiftItem" class="panel panel-default ModalSearchPanel autoOverflow">
                        <div class="list-group">
                            <a name="link{{$index}}" event-name="posItemSelectionThisItem" id="giftLookupResult{{$index}}" index="{{$index}}" class="list-group-item" data-item-group="data-item-group" ng-repeat="thisInventory in lookup" ng-click="selectItem($index)" ng-dblclick="addMe($index)">
                              <common-item-select></common-item-select>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
          <button event-name="resetSort" type="button" class="btn btn-lg btn-default" ng-click="resetSort()">
            <span data-translate="3946">Reset Sort</span>
          </button>
          <button type="button" id="giftLtyItemOkButton" event-name="giftLtyItemUseSelection" class="btn btn-lg btn-default" ng-click="selectGiftItem()">
            <span data-translate="1.3">Apply</span>
          </button>
          <button type="button" id="giftLtyItemCancelButton" event-name="giftLtyItemCancel" class="btn btn-lg btn-default" ng-click="closeGiftModal()">
              <span data-translate="1.2">Cancel</span>
          </button>
        </div>
    </div>
</div>
