<form name="adrForm.form" class="container-fluid">
  <div class="row form-group">
    <div class="col-xs-10">
      <label class="control-label" data-translate="591">
        Address Type
      </label>
      <rp-select-input class="custom-form-control" repeater-data="adrForm.adrTypeObj.listData" default-obj="adrForm.defaultType" ng-model="adrForm.adrTypeObj.selectValue" call-back="adrForm.adrTypeObj.http()" is-last-page="adrForm.adrTypeObj.isLastPage" key-string="adrForm.adrTypeObj.textKey" page="adrForm.adrTypeObj.page" filter-string="adrForm.adrTypeObj.searchString" ng-required="adrForm.reqFields['address_type_sid']" ng-change="adrForm.updateType()"></rp-select-input>
    </div>
    <div class="col-xs-10">
      <div class="row" style="margin: 5px;">
        <div class="col-xs-4">
           <label class="control-label">
            <input type="checkbox" id="adrContact" name="adrContact" ng-model="adrForm.dataObj.addressallowcontact">
            <span data-translate="1055">Allow Contact</span>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">
            <input type="checkbox" id="adrPrimary" name="adrPrimary" ng-model="adrForm.dataObj.primaryflag" ng-change="adrForm.checkPrimary()">
            <span data-translate="537">Primary</span>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">
            <input type="checkbox" id="adrActive" name="adrActive" ng-model="adrForm.dataObj.active">
            <span data-translate="586">Active</span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="row" ng-repeat="x in ['1','2','3','4','5','6']">
        <div class="col-xs-12">
          <label class="control-label"><span data-translate="1392">Address</span> {{x}}</label>
          <input type="text" class="form-control" ng-required="adrForm.reqFields['custaddress.address'+x]" ng-model="adrForm.dataObj['address' + x]">
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <postal-code-lookup address="adrForm.dataObj" ng-required="adrForm.reqFields['custaddress.postalcode']" ng-model="adrForm.dataObj.postalcode"></postal-code-lookup>
    </div>
  </div>
</form>
