<div class="panel panel-default">
    <ng-form name="freight_form">
        <div class="panel-heading">
            <h4 data-translate="3828">Freight</h4>
        </div>
        <div class="panel-body po-details-panel">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label" data-translate="3829">Freight Amount</label>
                    <input type="text" numberonly ng-disabled="!transferSlip.isEdit||transferSlip.slip.status!==3" ng-blur="saveFreight();" data-currency-formatter="undefined" class="form-control {{fieldClass}}" ng-model="transferSlip.freight.amt">
                </div>
            </div>
            <div class="row top-margin">
                <div class="col-xs-12">
                  <label data-translate="862">Tracking No.</label>
                  <input ng-if="transferSlip.slip.status!==4" class="form-control" ng-disabled="!transferSlip.isEdit" type="text" ng-blur="saveTracking()" enter-blur ng-model="transferSlip.slip.trackingno">
                  <input ng-if="transferSlip.slip.status===4" class="form-control" ng-disabled="true" type="text" ng-model="transferSlip.slip.voutrackingno">
                </div>
            </div>
            <div class="row top-margin">
                <div class="col-xs-12">
                    <label data-translate="5703">Package No.</label>
                    <input class="form-control" ng-readonly="true" type="text" enter-blur ng-model="transferSlip.slip.voupkgno">
                </div>
            </div>
        </div>
    </ng-form>
</div>
