<button type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()" event-name="VoucherVendorInvoiceDeactivate">
    <span data-translate="3041">Deactivate</span>
</button>
