<form name="Notifications" id="Notifications">
<div class="modal-content">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-12">
        <h3 data-translate="522">Print</h3>
        </div>
      </div>
    </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12" data-translate="5392">Print all allocations on a single purchase order or one purchase order for each store allocation?</div>
      </div>
    </div>
  <div class="modal-footer">
    <div class="container-fluid">
      <div class="row">
        <button id="POPrintSingleButton" type="button" class="btn btn-lg btn-default" ng-click="allocationSelect(false)" data-translate="5393">
          Single PO
          </button>
        <button id="POPrintMultipleButton" type="button" class="btn btn-lg btn-default" ng-click="allocationSelect(true)" data-translate="5394">
          Multiple POs
          </button>

        </div>
      </div>
    </div>
  </div>
</div></form>
