<div class="row">
    <div class="col-xs-6 cm-strong" data-translate="5770">Inserted SN Quantity</div>
    <div class="col-xs-6 text-right" ng-class="snAdjInfo.insQty > 0 ? 'text-success' : snAdjInfo.insQty < 0 ? 'text-danger' : ''">{{snAdjInfo.insQty||0 | number}}</div>
</div>