<div class="col-xs-12">
    <label for="arrivalStatus" class="control-label text-right" data-translate="7285">Arrival Status</label>
    <strong><input id="arrivalStatus" type="text" ng-disabled="true" ng-model="transferSlip.arrivalStatus" class="form-control text-center"></strong>
</div>
