<div class="row" style="padding:3px;">
  <button class="col-xs-4 col-xs-offset-4 text-center btn btn-info" style="border-radius:0;" ng-disabled="pcToggle.sub.active.subscriptionname==='CoreResources'||pcToggle.saving||pcToggle.sub.active.subscriptionname==='ControllerOnly'" ng-click="pcToggle.toggleLink()">
    <span class="glyphicon glyphicon-check" ng-if="pcToggle.isLinked()" style="position:relative;top:-3px;"></span>
    <span class="glyphicon glyphicon-unchecked" ng-if="!pcToggle.isLinked()" style="position:relative;top:-3px;"></span>
  </button>
</div>
