<div class="row row-container" style="background-color:#fff;">
  <div ng-show="pmListCtrl.priceManager.pmPollingInProgress">
    <on-polling-loading-status loading-status-msg="pmListCtrl.priceManager.pmPollingStatusMsg"></on-polling-loading-status>
  </div>
  <div class="row top-margin" ng-if="pmListCtrl.isGridReady">
    <div class="col-xs-4">
      <pm-main-filter params="pmListCtrl.filterSettings"></pm-main-filter>
    </div>
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12 padding-5 vendor-grid-column">
          <responsive-grid grid="pmListCtrl.state.grid.settings" grid="state.grid.settings" extra-class="department-grid"></responsive-grid>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          <div class="row" ng-if="pmListCtrl.activeItems.length===1">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default" ng-disabled="!pmListCtrl.gridApi.grid.rows[pmListCtrl.activeIndex+1]" ng-click="moveActiveItem('+')">
                <span class="glyphicon glyphicon-arrow-down"></span>
              </button>
              <button type="button" class="btn btn-default" ng-disabled="!pmListCtrl.gridApi.grid.rows[pmListCtrl.activeIndex-1]" ng-click="moveActiveItem('-')">
                <span class="glyphicon glyphicon-arrow-up"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <prism-ajax-loader ng-if="pmListCtrl.state.prismAjaxLoader.handler" loader-title="pmListCtrl.state.prismAjaxLoader.title" loader-message="pmListCtrl.state.prismAjaxLoader.message"></prism-ajax-loader>
</div>
