<ng-form name="pref_form" ng-controller="formStatEmitter">
  <div ng-controller="amPreferences_ctrl">
    <div class="container-fluid">
      <div class="height20">
        <div class="row">
          <div class="col-xs-5 text-left">
            <div class="row">
              <h5 data-translate="4752">Tax areas to use when calculating price with tax on price/cost memos</h5>
            </div>
            <div class="row padding-5">
              <label class="control-label" data-translate="4753">Tax Area 1:</label>
              <select class="form-control" ng-disabled="!isSubsidiary" ng-model="pData.merchandise_adjustments_use_tax_area1_to_calc_pwt_on_memos.value" ng-options="thisTaxArea.sid as thisTaxArea.tax_area_name for thisTaxArea in taxAreasList">
                <option value="-1" data-translate="3655">None</option>
              </select>
            </div>
            <div class="row padding-5">
              <label class="control-label" data-translate="4754">Tax Area 2:</label>
              <select class="form-control" ng-disabled="!isSubsidiary" ng-model="pData.merchandise_adjustments_use_tax_area2_to_calc_pwt_on_memos.value" ng-options="thisTaxArea.sid as thisTaxArea.tax_area_name for thisTaxArea in taxAreasList">
                <option value="-1" data-translate="3655">None</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-1">
            <div class="row top-margin">
              <label class="control-label">
                <input type="checkbox" ng-disabled="(!isCorporate)&&(!isSubsidiary)" ng-checked="toBoolean(pData.merchandise_adjustments_save_store_qty_on_memos.value)" ng-model="pData.merchandise_adjustments_save_store_qty_on_memos.value">
                <span data-translate="4756">Save store quantities for Price/Cost memos</span>
              </label>
            </div>
            <div class="row top-margin">
              <label class="control-label">
                <input type="checkbox" ng-checked="toBoolean(pData.merchandise_adjustments_allow_negative_qty_on_qty_memo.value)" ng-model="pData.merchandise_adjustments_allow_negative_qty_on_qty_memo.value">
                <span data-translate="4757">Allow negative quantity in Quantity Memo</span>
              </label>
            </div>
            <div class="row top-margin">
              <label class="control-label">
                <input type="checkbox" ng-checked="toBoolean(pData.merchandise_adjustments_create_price_memo_for_zerooh_qty.value)" ng-model="pData.merchandise_adjustments_create_price_memo_for_zerooh_qty.value">
                <span data-translate="4758">Create price adjustments for items with zero OH Qty</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
