<div class="btn-group">
    <button ng-show="currentType===2" data-permission="adjmemoscreatecostmemo" data-permission-disabled="!adjMemo.memo.sid||adjMemo.saving||(adjMemo.memo.status !== 4)||(adjMemo.memo.creatingdoctype===9)||(adjMemo.isAssignLimited)" class="btn btn-default" ng-click="adjMemo.copyMemo();">
        <span data-translate="582">Copy</span>
    </button>
    <button ng-show="currentType===1" data-permission="adjmemoscreatepricememo" data-permission-disabled="!adjMemo.memo.sid||adjMemo.saving||(adjMemo.memo.status !== 4)||(adjMemo.memo.creatingdoctype===9)||(adjMemo.isAssignLimited)" class="btn btn-default" ng-click="adjMemo.copyMemo();">
      <span data-translate="582">Copy</span>
    </button>
    <button ng-show="currentType===0" data-permission="adjmemoscreateqtymemo" data-permission-disabled="!adjMemo.memo.sid||adjMemo.saving||(adjMemo.memo.status !== 4)||(adjMemo.memo.creatingdoctype===9)||(adjMemo.isAssignLimited)" class="btn btn-default" ng-click="adjMemo.copyMemo();">
    <span data-translate="582">Copy</span>
    </button>
</div>
