<div ng-if="contentReady">
    <div class="row">
        <div class="col-xs-12 position-fixed">
            <h4 class="hidden-xs text-center">{{title}}</h4>
        </div>
    </div>
    <vendor-invoices-filters-button button-id="resource" on-search-event="resetPreviousFilter" grid-src="grid.settings.filters"></vendor-invoices-filters-button>
    <responsive-grid grid="grid.state" extra-class="vendor-invoice-grid"></responsive-grid>
</div>
