<div class="col-xs-3 no-left-padding">
  <label data-translate="2733">Subclass</label>
</div>
<div class="col-xs-4">
  <input ng-disabled="true" type="text" ng-model="$ctrl.service.dcs.data.sname" class="form-control" id="imi-needchilddata">
</div>
