<div class="modalouter">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-6">
        <div class="span12">
          <h4>{{ sharedData.documentLookup.title | translate }}</h4>
        </div>
      </div>
      <div ng-if="asklayout===2" class="col-xs-6">
        <top-filter-change-button asklayout="asklayout" disable="doDisableTFButton" on-close="updateTopFilter">
        </top-filter-change-button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <div class="row" ng-if="runIt">
          <div class="col-xs-4">
            <document-lookup-filter update="updateSearchParams.value" sortby="sharedData.documentLookup.sortby" sortorder="sharedData.documentLookup.orderby" search="documentSearchFilter" disablelookup="sharedData.disableLookupSearch" template="sharedData.documentLookup.template"></document-lookup-filter>
          </div>
          <div class="col-xs-8">
            <div class="row" ui-i18n="{{lang}}">
              <div id="grid1" ng-if="documentLookupGrid" ui-grid-resize-columns="undefined" ui-grid-cellnav="undefined" auto-resize="undefined" ui-grid-selection="undefined" ui-grid="documentLookupGrid" external-scopes="gridHandlers" class="grid"></div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-2 text-center">
                <span>{{ "2789" | translate }}:
                  <b>{{ documentLookupGridRecords }}</b></span>
              </div>
              <div class="col-xs-10 text-right">
                <paging-control ng-if="documentLookupGrid.data.length>0" grid-reference="gridApi" total-records="documentLookupGridRecords" results-per-page="sharedData.documentLookup.resultsPerPage" call-back="executeSearch"></paging-control>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="col-xs-2 align-left">
        <button class="btn btn-info btn-large" type="button" ng-click="executeSearch()" ng-disabled="sharedData.disableLookupSearch">
          <span data-translate="630">Search</span>
        </button>
        <button class="btn btn-info btn-large" type="button" ng-click="resetFilters()">
          <span data-translate="614">Reset</span>
        </button>
      </div>
      <div class="col-xs-10">
        <div class="text-right">
          <span ng-if="leaveSpaceForMoreButtons()" ng-include="sharedData.documentLookup.extraActionButtonsTemplate"></span>
          <button class="btn btn-info btn-large" type="button" ng-click="viewSelected()">
            <span ng-if="!sharedData.documentLookup.customSelectButtonText" data-translate="3214">View</span><span ng-if="sharedData.documentLookup.customSelectButtonText">{{
              sharedData.documentLookup.customSelectButtonText | translate
            }}</span>
          </button>
          <button class="btn btn-info btn-large" type="button" ng-click="$close(false)">
            <span data-translate="583">Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
