<div>
  <div class="ui-grid-cell-contents"><a href="javascript:void(0)" rp-popover="resource-list.htm" align="left">View</a></div>
  <script type="text/ng-template" id="resource-list.htm">
    <div class="popover">
      <div class="popover-content" style="padding:5px;max-height:200px;overflow:auto;">
        <table class="table table-bordered table-responsive">
          <thead>
          <tr>
            <th data-translate="1113">Name</th>
            <th data-translate="635">Filter</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="x in rList.resources">
            <td>{{x.resourcename}}</td>
            <td style="max-width:250px;word-wrap: break-word;">{{x.filter}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </script>
</div>
