<div class="responsive-container" ng-if="viewPortChange">
	<div class="row row-container full-height" ng-if="showForm">
		<div class="col-xs-12 col-md-8 col-lg-8">
			<div class="row">
				<div class="col-xs-12">
					<div class="row-container" ng-repeat="rule in validationRules" ng-if="rule.show()">
						<div class="row form-group">
						    <div class="col-xs-4">
								<div class="checkbox">
								    <label>
									    <input type="checkbox" ng-disabled="rule.disabled" ng-model="rule.value" ng-change="rule.blur(rule, $index)"> {{rule.name}}
								    </label>
								</div>
						    </div>
						    <div class="col-xs-4">
								<div class="checkbox" ng-if="promotion.validation_use_coupons && rule.value && rule.transid==='4386'">
								    <label>
										<input type="checkbox" ng-model="promotion.validation_coupon_type" ng-change="useSerial()">
										<span data-translate="6423">Serialized</span>
								    </label>
								</div>
						    </div>
						</div>

						<div class="row" ng-if="rule.name==='Sale Items'&&rule.value">
							<div class="col-xs-12">
								<label for="validation-sort" data-translate="908" class="ng-scope">Sort Order</label>
								<select id="validation-sort" ng-disabled="saving" convert-to-number="" ng-change="savePromotion()" ng-model="promotion.validation_sort_order" class="form-control">
								    <option value="" style="display:none" data-translate="1358">Select...</option>
								    <option value="0" data-translate="5826">Highest</option>
								    <option value="1" data-translate="5827">Lowest</option>
								</select>
							</div>
						</div>
						
						<div class="validation-rules-template" ng-include="rule.template" ng-if="rule.value&&rule.ready"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-4 hidden-xs summary-details-container" match-height="">
			<promotion-summary-details promotion="promotion" ng-if="showForm"></promotion-summary-details>
		</div>
	</div>
</div>
