<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="562">Subsidiary</label>
    <select id="sbs_sid" name="sbs_sid" class="form-control ng-pristine ng-valid" ng-model="field.service.active.sbssid" ng-disabled="true" ng-options="thisSub.sid as thisSub.subsidiary_name for thisSub in field.subsList">
      <option value="" data-translate="1358">Select...</option>
    </select>
  </div>
</div>
