<div class="no-padding no-margin" ng-show="schedule.show()">
  <div class="row" ng-repeat="x in schedule.list track by $index">
    <div class="col-xs-5">
      <div class="input-group col-xs-12" ng-show="schedule.showPerc('discperc', x)">
      <input maxlength="100" ng-disabled="schedule.disableFields.value||schedule.disableFields.byParent()" class="form-control" type="text" placeholder="{{ '4008' | translate }}" numberonly="" data-currency-formatter="number" ng-blur="schedule.onBlur($event, $index)" enter-blur="" ng-model="x.discperc">
        <span class="input-group-addon" ng-if="x.discperc===0" data-translate="4008">NET</span>
      </div>
      <input ng-show="schedule.showPerc('discpmtperc', x)" maxlength="100" ng-disabled="schedule.disableFields.value||schedule.disableFields.byParent()" class="form-control" placeholder="{{ '4008' | translate }}" type="text" ng-blur="schedule.onBlur($event, $index)" enter-blur="" numberonly="" data-currency-formatter="number" ng-model="x.discpmtperc">
    </div>
    <div class="col-xs-1">
      <h4 class="text-center">%</h4>
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control" ng-disabled="schedule.disableFields.value||schedule.disableFields.byParent()" ng-blur="schedule.onBlur($event, $index)" enter-blur="" numberonly="" data-currency-formatter="number" ng-model="x.days">
    </div>
    <div class="col-xs-1">
      <h4 data-translate="4009" class="text-center" ng-if="x.days!==''&&x.days"><span data-translate="3836">Days</span></h4>
      <h4 data-translate="4009" class="text-center" ng-if="x.days==''||!x.days"><span data-translate="3856">EOM</span></h4>
    </div>
  </div>
</div>
