<div class="margin-left-5">
  <div class="col-xs-6" ng-if="searchFilterTypes.criteria.operator==='nl'||searchFilterTypes.criteria.operator==='nn'">
    <input disabled="disabled" type="text" class="form-control">
  </div>
  <div ng-class="{'col-xs-6':(!searchFilterTypes.useDefault),'col-xs-10':(searchFilterTypes.useDefault)}" ng-if="searchFilterTypes.criteria.operator!=='nl'&&searchFilterTypes.criteria.operator!=='nn'">
    <!--Standard String-->
    <input type="text" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-if="(!searchFilterTypes.column.selectType&&searchFilterTypes.column.datatype.toLowerCase()==='string')||(!searchFilterTypes.column.selectType&&searchFilterTypes.column.datatype.toLowerCase()==='login')" class="form-control" ng-model="searchFilterTypes.criteria.value">
    <!---->
    <!--UPC-->
    <!-- DT19541 - Replacing ng-keypress directive with our custom enter-blur directive to handle searching via enter button when the blur event hasn't fired yet; enter-blur forces the blur event to fire and, in this case, it then calls submitEnter to initialize the search -->
    <!-- <input type="text" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-if="!searchFilterTypes.column.selectType&&searchFilterTypes.column.datatype.toLowerCase()==='upc'||!searchFilterTypes.column.selectType&&searchFilterTypes.column.datatype.toLowerCase()==='int64'" ng-blur="searchFilterTypes.criteria.value = searchFilterTypes.criteria.value ? searchFilterTypes.criteria.value*1 : null" numberonly="" class="form-control" ng-model="searchFilterTypes.criteria.value"> -->
    <input type="text" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" enter-blur after-enter-blur="searchFilterTypes.submitEnter" ng-if="!searchFilterTypes.column.selectType&&searchFilterTypes.column.datatype.toLowerCase()==='upc'||!searchFilterTypes.column.selectType&&searchFilterTypes.column.datatype.toLowerCase()==='int64'" ng-blur="searchFilterTypes.criteria.value = searchFilterTypes.criteria.value ? searchFilterTypes.criteria.value*1 : null" numberonly="" class="form-control" ng-model="searchFilterTypes.criteria.value">
    <!---->
    <!--Number-->
    <div ng-if="!searchFilterTypes.column.selectType&&(searchFilterTypes.resourceLookupService.isNumberDataType(searchFilterTypes.column))" class="row">
      <div class="col-xs-5">
        <input type="text" numberonly="" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-class="{'no-value-number':(searchFilterTypes.criteria.range1===''),'ng-invalid':searchFilter.isRangeInvalid(searchFilterTypes.criteria)}" ng-if="!searchFilterTypes.criteria.refresh" data-currency-formatter="number" class="form-control" ng-model="searchFilterTypes.criteria.range1">
      </div>
      <div class="col-xs-2 text-center">
        <h3>-</h3>
      </div>
      <div class="col-xs-5">
        <input type="text" numberonly="" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-class="{'no-value-number':(searchFilterTypes.criteria.range2===''),'ng-invalid':searchFilter.isRangeInvalid(searchFilterTypes.criteria)}" ng-if="!searchFilterTypes.criteria.refresh" data-currency-formatter="number" class="form-control" ng-model="searchFilterTypes.criteria.range2">
      </div>
    </div>
    <!---->
    <!--Date-->
    <div ng-if="searchFilterTypes.column.datatype.toLowerCase()==='date'||searchFilterTypes.column.datatype.toLowerCase()==='datetime'" class="row">
      <div class="col-xs-12">
        <p class="input-group" ng-click="searchFilterTypes.openCalendar($event, 'startDate')">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="searchFilterTypes.startDate.date" value="From : {{(searchFilterTypes.startDate.date)?(searchFilterTypes.startDate.date | date:'mediumDate'):(searchFilterTypes.startDate.placeholder)}}" is-open="searchFilterTypes.startDate.open" enable-time="false" datepicker-options="searchFilterTypes.startDate.datepickerOptions" when-closed="searchFilterTypes.startDate.closed()" placeholder="{{searchFilterTypes.startDate.placeholder}}">
        </p>
      </div>

      <div class="col-xs-12">
        <p class="input-group" ng-click="searchFilterTypes.openCalendar($event, 'endDate')">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <input type="button" class="form-control" datetime-picker="mediumDate" ng-model="searchFilterTypes.endDate.date" value="To : {{(searchFilterTypes.endDate.date)?(searchFilterTypes.endDate.date | date:'mediumDate'):(searchFilterTypes.endDate.placeholder)}}" is-open="searchFilterTypes.endDate.open" enable-time="false" datepicker-options="searchFilterTypes.endDate.datepickerOptions" when-closed="searchFilterTypes.endDate.closed()" placeholder="{{searchFilterTypes.endDate.placeholder}}">
        </p>
      </div>
    </div>
    <!---->
    <!--Currency-->
    <div ng-if="!searchFilterTypes.column.selectType&&(searchFilterTypes.column.datatype.toLowerCase()==='currency')">
      <div class="col-xs-5">
        <input type="text" ng="" numberonly="" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-class="{'no-value-number':(searchFilterTypes.criteria.range1===''),'ng-invalid':searchFilter.isRangeInvalid(searchFilterTypes.criteria)}" ng-if="!searchFilterTypes.criteria.refresh" data-currency-formatter="currency" class="form-control" ng-model="searchFilterTypes.criteria.range1">
      </div>
      <div class="col-xs-2 text-center">
        -
      </div>
      <div class="col-xs-5">
        <input type="text" numberonly="" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-class="{'no-value-number':(searchFilterTypes.criteria.range2===''),'ng-invalid':searchFilterTypes.isRangeInvalid(searchFilterTypes.criteria)}" ng-if="!searchFilterTypes.criteria.refresh" data-currency-formatter="currency" class="form-control" ng-model="searchFilterTypes.criteria.range2">
      </div>
    </div>
    <!---->
    <!--Selectable-->
    <rp-select-input ng-if="searchFilterTypes.column.selectType || searchFilterTypes.column.datatype.toLowerCase()==='enumeration'" repeater-data="searchFilterTypes.column.listData || searchFilterTypes.column.obj.valuelist" ng-model="searchFilterTypes.criteria.value" call-back="searchFilterTypes.column.http()" is-last-page="searchFilterTypes.column.isLastPage" key-string="searchFilterTypes.column.textKey || 'value'" value-key="searchFilterTypes.column.valueKey || 'key'" suppress-translate="searchFilterTypes.column.suppressTranslate" page="searchFilterTypes.column.page" filter-string="searchFilterTypes.column.searchString" required="true"></rp-select-input>
    <!---->
    <!--Boolean-->
    <div class="row" ng-if="searchFilterTypes.column.datatype.toLowerCase()==='boolean'">
      <div class="col-xs-6">
        <label class="control-label btn btn-default">
          <input type="radio" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" name="{{searchFilterTypes.column.name + searchFilterTypes.criteriaIdx}}" ng-model="searchFilterTypes.criteria.value" value="true"> <span data-translate="6896">True</span>
        </label>
      </div>
      <div class="col-xs-6">
        <label class="control-label btn btn-default">
          <input type="radio" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" name="{{searchFilterTypes.column.name + searchFilterTypes.criteriaIdx}}" ng-model="searchFilterTypes.criteria.value" value="false"> <span data-translate="6897">False</span>
        </label>
      </div>
    </div>
    <!---->
    <!--Fullname-->
    <div ng-if="!searchFilterTypes.column.selectType&&searchFilterTypes.column.datatype.toLowerCase()==='fullname'" class="row">
      <div class="col-xs-6">
        <input type="text" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" class="form-control" ng-model="searchFilterTypes.criteria.range1">
      </div>
      <div class="col-xs-6">
        <input type="text" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" class="form-control" ng-model="searchFilterTypes.criteria.range2">
      </div>
    </div>
    <!---->
    <!--RegEx-->
    <div ng-if="!searchFilterTypes.column.selectType&&(searchFilterTypes.column.datatype.toLowerCase()==='regex')" class="row">
      <div class="col-xs-12">
        <input type="text" pattern="{{searchFilterTypes.column.regexp}}" ng-pattern-restrict ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-class="{'no-value-number':(searchFilterTypes.criteria.range1===''),'ng-invalid':searchFilter.isRangeInvalid(searchFilterTypes.criteria)}" ng-if="!searchFilterTypes.criteria.refresh" class="form-control" ng-model="searchFilterTypes.criteria.value">
      </div>
    </div>
    <!---->
    <!--RegEx Range-->
    <div ng-if="!searchFilterTypes.column.selectType&&(searchFilterTypes.column.datatype.toLowerCase()==='regexr')" class="row">
      <div class="col-xs-5">
        <input type="text" pattern="{{searchFilterTypes.column.regexp}}" ng-pattern-restrict ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-class="{'no-value-number':(searchFilterTypes.criteria.range1===''),'ng-invalid':searchFilter.isRangeInvalid(searchFilterTypes.criteria)}" ng-if="!searchFilterTypes.criteria.refresh" class="form-control" ng-model="searchFilterTypes.criteria.range1">
      </div>
      <div class="col-xs-2 text-center">
        <h3>-</h3>
      </div>
      <div class="col-xs-5">
        <input type="text" pattern="{{searchFilterTypes.column.regexp}}" ng-pattern-restrict ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters" ng-keypress="searchFilterTypes.submitEnter($event)" ng-class="{'no-value-number':(searchFilterTypes.criteria.range2===''),'ng-invalid':searchFilter.isRangeInvalid(searchFilterTypes.criteria)}" ng-if="!searchFilterTypes.criteria.refresh" class="form-control" ng-model="searchFilterTypes.criteria.range2">
      </div>
    </div>
    <!---->
  </div>
  <div class="col-xs-4" ng-if="!searchFilterTypes.useDefault">
    <rp-select-input ng-if="searchFilterTypes.column.operators.length" repeater-data="searchFilterTypes.column.operators" ng-change="searchFilterTypes.setOperator(searchFilterTypes.criteria)" is-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters||searchFilterTypes.disableOperators" default-obj="searchFilterTypes.column.defaultObj" ng-model="searchFilterTypes.criteria.operator" value-key="'value'" key-string="'name'" required="true"></rp-select-input>
  </div>
  <div class="col-xs-2" ng-if="searchFilterTypes.allowRemove">
    <button class="btn btn-default" ng-click="searchFilterTypes.remove(searchFilterTypes.criteriaIdx,searchFilterTypes.column,searchFilterTypes.columnIdx)" ng-disabled="searchFilterTypes.resourceLookupService.resourceData.disableFilters">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div class="col-xs-2" ng-if="!searchFilterTypes.allowRemove && searchFilterTypes.allowSearch">
    <button class="btn btn-info" ng-disabled="searchFilterTypes.criteriaEmpty()" ng-click="searchFilterTypes.submitDirect()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</div>
