.tree-menu ul{
    padding:0;
    margin:0;
    margin-left:10px;
}
ul.tree-menu li a{
    padding:0px;
}
.tree-menu i{
    color:#336699;
}
.tree-menu li ul{
    display:none;
    list-style:none;
}
.tree-menu .rpc-table{
    width: 768px;
    margin-bottom: 0;
}
.parmeter-section{
    border:solid 1px #DDDDDD;
    border-radius:5px;
}
.tree-menu .rpc-panel .container{
    width:800px;
}
.tree-menu .rpc-panel{
    height:540px;
    overflow-x:auto;
}
.tree-folder{
    margin-right:5px;
}
.tree-arrow{
    margin-left:3px;
}

.tree-menu .panel-body{
    padding:0;
}
.tree-menu .scroll{
    max-height:368px;
    overflow:auto;
}
.tree-menu .list-group-item{
    border-top-left-radius:0px;
    border-top-right-radius:0px
}
.tree-menu .list-group{
    margin-left:0px;
    border:solid 0px
}
.text-small .nav-tabs{
    z-index:1;
    position:relative;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    color:#000;
}
.gridStyle{
    height:630px;
}
.services-left .panel{
    height:880px;
}
.tree-menu .scroll{
    max-height:595px;
}
.gridStyle2{
    height:50px;
}

@media (max-height: 1000px){
    .gridStyle{
        height:630px;
    }
    .services-left .panel{
        height:880px;
    }
    .tree-menu .scroll{
        max-height:595px;
    }
    .gridStyle2{
        height:50px;
    }
}
@media (max-height: 980px){
    .gridStyle{
        height:610px;
    }
    .services-left .panel{
        height:842px;
    }
    .tree-menu .scroll{
        max-height:575px;
    }
    .gridStyle2{
        height:465px;
    }
}
@media (max-height: 960px){
    .tree-menu .scroll{
        max-height:555px;
    }
    .gridStyle{
        height:590px;
    }
    .services-left .panel{
        height:822px;
    }
    .gridStyle2{
        height:445px;
    }
}
@media (max-height: 940px){
    .gridStyle{
        height:570px;
    }
    .services-left .panel{
        height:802px;
    }
    .tree-menu .scroll{
        max-height:535px;

    }
    .gridStyle2{
        height:425px;
    }
}
@media (max-height: 920px){
    .gridStyle{
        height:550px;
    }
    .services-left .panel{
        height:782px;
    }
    .tree-menu .scroll{
        max-height:515px;
    }
    .gridStyle2{
        height:405px;
    }
}
@media (max-height: 900px){
    .gridStyle{
        height:530px;
    }
    .services-left .panel{
        height:762px;
    }
    .tree-menu .scroll{
        max-height:495px;
    }
    .gridStyle2{
        height:385px;
    }
}
@media (max-height: 880px){
    .gridStyle{
        height:510px;
    }
    .services-left .panel{
        height:742px;
    }
    .tree-menu .scroll{
        max-height:475px;
    }
    .gridStyle2{
        height:365px;
    }
}
@media (max-height: 860px){
    .gridStyle{
        height:490px;
    }
    .services-left .panel{
        height:722px;
    }
    .tree-menu .scroll{
        max-height:455px;
    }
    .gridStyle2{
        height:345px;
    }
}
@media (max-height: 840px){
    .gridStyle{
        height:470px;
    }
    .services-left .panel{
        height:702px;
    }
    .tree-menu .scroll{
        max-height:435px;
    }
    .gridStyle2{
        height:325px;
    }
}
@media (max-height: 820px){
    .gridStyle{
        height:450px;
    }
    .services-left .panel{
        height:682px;
    }
    .tree-menu .scroll{
        max-height:415px;
    }
    .gridStyle2{
        height:305px;
    }
}
@media (max-height: 800px){
    .gridStyle{
        height:430px;
    }
    .services-left .panel{
        height:662px;
    }
    .tree-menu .scroll{
        max-height:395px;
    }
    .gridStyle2{
        height:285px;
    }
}
@media (max-height: 780px){
    .gridStyle{
        height:410px;
    }
    .services-left .panel{
        height:642px;
    }
    .tree-menu .scroll{
        max-height:375px;
    }
    .gridStyle2{
        height:265px;
    }
}
@media (max-height: 760px){
    .gridStyle{
        height:390px;
    }
    .services-left .panel{
        height:622px;
    }
    .tree-menu .scroll{
        max-height:355px;
    }
    .gridStyle2{
        height:245px;
    }
}
@media (max-height: 740px){
    .gridStyle{
        height:370px;
    }
    .services-left .panel{
        height:602px;
    }
    .tree-menu .scroll{
        max-height:335px;
    }
    .gridStyle2{
        height:225px;
    }
}
@media (max-height: 720px){
    .gridStyle{
        height:350px;
    }
    .services-left .panel{
        height:582px;
    }
    .tree-menu .scroll{
        max-height:315px;
    }
    .gridStyle2{
        height:205px;
    }
}
@media (max-height: 700px){
    .gridStyle{
        height:330px;
    }
    .services-left .panel{
        height:562px;
    }
    .tree-menu .scroll{
        max-height:295px;
    }
    .gridStyle2{
        height:185px;
    }
}
@media (max-height: 680px){
    .gridStyle{
        height:310px;
    }
    .services-left .panel{
        height:542px;
    }
    .tree-menu .scroll{
        max-height:275px;
    }
    .gridStyle2{
        height:165px;
    }
}
@media (max-height: 660px){
    .gridStyle{
        height:290px;
    }
    .services-left .panel{
        height:522px;
    }
    .tree-menu .scroll{
        max-height:255px;
    }
    .gridStyle2{
        height:145px;
    }
}
@media (max-height: 640px){
    .gridStyle{
        height:270px;
    }
    .services-left .panel{
        height:502px;
    }
    .tree-menu .scroll{
        max-height:235px;
    }
    .gridStyle2{
        height:125px;
    }
}
@media (max-height: 620px){
    .gridStyle{
        height:250px;
    }
    .services-left .panel{
        height:482px;
    }
    .tree-menu .scroll{
        max-height:215px;
    }
    .gridStyle2{
        height:105px;
    }
}
@media (max-height: 600px){
    .gridStyle{
        height:230px;
    }
    .services-left .panel{
        height:462px;
    }
    .tree-menu .scroll{
        max-height:195px;
    }
    .gridStyle2{
        height:85px;
    }
}
a{
    cursor:pointer;
}
.reqUrl{
    z-index:0;
    position:relative;
    top:-1px;
}
.gridStyle2 {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    float:left;
    color:#000;
}
.ngGrid {
    background-color: #fdfdfd;
}
.ngGrid input[type="checkbox"] {
    margin: 0;
    padding: 0;
}
.ngGrid input {
    vertical-align: top;
}
.ngGrid.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.ngViewport {
    overflow: auto;
    min-height: 20px;
}
.ngViewport:focus {
    outline: none;
}
.ngCanvas {
    position: relative;
}
.ngVerticalBar {
    position: absolute;
    right: 0;
    width: 0;
}
.ngVerticalBarVisible {
    width: 1px;
    background-color: #d4d4d4;
}
#testDataLength {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100000;
}
.ngHeaderContainer {
    position: relative;
    overflow: hidden;
    font-weight: bold;
    background-color: inherit;
}
.ngHeaderCell {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: inherit;
}
.ngHeaderCell.pinned {
    z-index: 1;
}
.ngHeaderSortColumn {
    position: absolute;
    overflow: hidden;
}
.ngTopPanel {
    position: relative;
    z-index: 1;
    background-color: #eaeaea;
    border-bottom: 1px solid #d4d4d4;
}
.ngSortButtonDown {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-color: gray transparent;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    height: 0;
    width: 0;
}
.ngNoSort {
    cursor: default;
}
.ngHeaderButton {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 15px;
    height: 26px;
    z-index: 1;
    background-color: #9fbbb4;
    cursor: pointer;
}
.ngSortButtonUp {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-color: gray transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    height: 0;
    width: 0;
}
.ngHeaderScroller {
    position: absolute;
    background-color: inherit;
}
.ngSortPriority {
    position: absolute;
    top: -5px;
    left: 1px;
    font-size: 6pt;
    font-weight: bold;
}
.ngHeaderGrip {
    cursor: col-resize;
    width: 10px;
    right: -5px;
    top: 0;
    height: 100%;
    position: absolute;
    background-color: transparent;
}
.ngHeaderText {
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ngHeaderButtonArrow {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 4.5px 0 4.5px;
    border-color: #4d4d4d transparent transparent transparent;
}
.ngPinnedIcon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAmElEQVQoU33PQapBURjA8UtkwJuaWYGSgfQWYBMvczPmTCzAAGVuaA228BZhRCkDGSmE31FucuRfvzq3vr5zT/JSjSU7DsypEPXDkDVn2hSIytJhw4kWGaLCxgHh2gt/RBuLzNhz5caWPjnSqqw4EraFfwznf8qklWjwy4IRTerkiQoPGtPl40OehcEJvcfXl8LglLfBJLkDcMgbgHlHhK8AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 10px;
    width: 10px;
}
.ngUnPinnedIcon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAlElEQVQoU33PPQrCQBRF4fFnI2KfZVi5ARvdgo1l6mwmkCJVOgluwd5OwUoDtnoOxAei8cLXTN7cvEl/skCNDCMPfsUPO5zQwOHIDEvYtMURHe6wOVLgigvOePRyeDkyR4ln7wZ//7XfFBu8B23+aDJjrHGAwza7hjtHJvDmHg7b7Bru7AMjK7Rw2ObBVHDY5oGk9AKQNB2zy8MBTgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    position: absolute;
    height: 10px;
    width: 10px;
    right: 5px;
    top: 5px;
}
.ngColMenu {
    right: 0px;
    padding: 5px;
    top: 25px;
    background-color: #bdd0cb;
    position: absolute;
    z-index: 1;
}
.ngColListCheckbox {
    position: relative;
    right: 3px;
    top: 4px;
}
.ngColList {
    list-style-type: none;
    margin-top: 2px;
    margin-left: 8px;
}
.ngColListItem {
    white-space: nowrap;
}
.ngMenuText {
    position: relative;
    top: 2px;
    left: 2px;
}
.ngGroupPanel {
    background-color: #eaeaea;
    overflow: hidden;
    border-bottom: 1px solid #d4d4d4;
}
.ngGroupPanelDescription {
    margin-top: 5px;
    margin-left: 5px;
}
.ngGroupList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ngAggHeader {
    position: absolute;
    border: none;
}
.ngGroupElement {
    float: left;
    height: 100%;
    width: 100%;
}
.ngGroupIcon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAEFJREFUKFNjoAhISkr+h2J5JDZODNXGwGBsbPwfhIGAA8bGh6HaGBiAGhxAGJmND4M1gQCSM0adCsVQbcPcqQwMALWDGyDvWPefAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    position: absolute;
    right: -2px;
    top: 2px;
    display:none;
}
.ngGroupedByIcon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAElJREFUKFNjoAhISkr+R8LyaHwMDNXGwGBsbPwfhoGAA5mPDUO1oWpE52PDYE0gALTFAYbR+dgwWBMIoPlh1I9ADNU2NPzIwAAAFQYI9E4OLvEAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    position: absolute;
    right: -2px;
    top: 2px;
}
.ngGroupName {
    background-color: #fdfdfd;
    border: 1px solid #d4d4d4;
    padding: 3px 10px;
    float: left;
    margin-left: 0;
    margin-top: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}
.ngGroupArrow {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid black;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
.ngGroupingNumber {
    position: absolute;
    right: -10px;
    top: -2px;
}
.ngAggArrowCollapsed {
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #000000;
}
.ngGroupItem {
    float: left;
}
.ngGroupItem:first-child {
    margin-left: 2px;
}
.ngRemoveGroup {
    width: 5px;
    -moz-opacity: 0.4;
    opacity: 0.4;
    margin-top: -1px;
    margin-left: 5px;
}
.ngRemoveGroup:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.ngAggArrowExpanded {
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 9px 9px;
    border-color: transparent transparent #000000 transparent;
}
.ngAggregate {
    position: absolute;
    background-color: #c9dde1;
    border-bottom: 1px solid beige;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: -1px;
    left: 0;
}
.ngAggregateText {
    position: absolute;
    left: 27px;
    top: 5px;
    line-height: 20px;
    white-space: nowrap;
}
.ngRow {
    position: absolute;
    border-bottom: 1px solid #d4d4d4;
}
.ngRow.odd {
    background-color: #fdfdfd;
}
.ngRow.even {
    background-color: #f3f3f3;
}
.ngRow.selected {
    background-color: #c9dde1;
}
.ngCell {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: inherit;
}
.ngCell.pinned {
    z-index: 1;
}
.ngCellText {
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ngSelectionCell {
    margin-top: 9px;
    margin-left: 6px;
}
.ngSelectionHeader {
    position: absolute;
    top: 11px;
    left: 6px;
}
.ngCellElement:focus {
    outline: 0;
    background-color: #b3c4c7;
}
.ngRow.canSelect {
    cursor: pointer;
}
.ngSelectionCheckbox {
    margin-top: 9px;
    margin-left: 6px;
}
.ngFooterPanel {
    background-color: #eaeaea;
    padding: 0;
    border-top: 1px solid #d4d4d4;
    position: relative;
}
.nglabel {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}
.ngTotalSelectContainer {
    float: left;
    margin: 5px;
    margin-top: 7px;
}
.ngFooterSelectedItems {
    padding: 2px;
}
.ngFooterTotalItems.ngnoMultiSelect {
    padding: 0 !important;
}
.ngGridMaxPagesNumber {
    vertical-align: middle;
}
.ngPagerFirstBar {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-left: -3px;
}
.ngPagerButton {
    height: 25px;
    min-width: 26px;
}
.ngPagerFirstTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 8.7px 5px 0;
    border-color: transparent #4d4d4d transparent transparent;
    margin-left: 2px;
}
.ngPagerNextTriangle {
    margin-left: 1px;
}
.ngPagerPrevTriangle {
    margin-left: 0;
}
.ngPagerLastTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #4d4d4d;
    margin-left: -1px;
}
.ngPagerLastBar {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-left: 1px;
}
.ngFooterTotalItems {
    padding: 2px;
}
.ngPinnedIcon{
    display:none;
}
.ngUnPinnedIcon{
    display:none;
}
.ngColList{
    max-height:300px;
    width:250px;
    overflow-x:auto;
}
.json-pre{
    max-height:200px;
    overflow:auto;
}
.nav-tabs.bottom {
    border-bottom: 0px;
    border-top: 0px solid #ddd;
}
.nav-tabs.bottom > li {
    margin-bottom:0;
    margin-top:-20px;
}
.text-small table{
    font-size:11px;
}
.word-break{
    word-wrap:break-word;
}
.services-right h5{
    margin:0px;
}
.nav-tabs.bottom > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid #DDD;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav-tabs.bottom > .active > a, .nav-tabs.bottom > .active > a:hover, .nav-tabs.bottom > .active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-top-color: transparent;
}
.rpcGridStyle{
    border: 1px solid rgb(212,212,212);
}
.tab-content{
    padding-top:10px;
}
.logged{
    background-color:#FFF;
    border:solid 1px #428bca;
    border-radius:5px 0px 0px 5px;
    padding:8px;
    position:relative;
    top:1px;
    left:8px;
}

.textarea-container {
  position: relative;
}
.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: lightgray;
}
.textarea-container button {
  position: absolute;
  top: 0;
  right: 0;
}

.centerContent{
  width: 500px;
  margin: auto;
}

#loadingDiv{
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-size: 50px;
  background-color:#666;
  background-image:url('/api-explorer/img/ajax-loader.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
