﻿.dp_outer_div
{
    position:fixed;

    text-align:right;
    width:450px;
    padding:0px;
    z-index:10401;
    background-color:#FFFFFF;
    font-family:Verdana;
    padding-top:0px;
    background-color:#DDDDDD;
}
.dp_outer_div h2
{
    font-size:1.3em;
    padding:0;
    margin:0;
    margin-left:10px;
}
.dp_inner_div
{
    float:left;
    padding:0px;
    width:100%;
    margin-top:0px;
}
.date_container
{
    width:251px;
    padding:0px;
    float:left;
    margin-right:10px;
}
.dp_cal_div
{
    float:left;
}
.dp_close
{

    background-color:#FEFEFE;
    border:solid 1px #ADADAD;
    padding:3px;
    padding-top:0px;
    padding-bottom:0px;
    color:#ADADAD;
    margin-right:5px;
    margin-top:10px;
}
.dp_div_date
{
    width:228px;
    text-align:center;
    height:20px;
    margin-left:10px;
    margin-top:5px;
    background-color:#FFF;
    color:#000;
    font-weight:bold;
    float:left;
    padding:5px;
    font-size:.8em;
    border:solid 1px #ADADAD;
}

.cal_header
{
    border:outset 1px;
    float:left;
    background-color:#F0F0F0;
    text-align:left;
    height:25px;
    color:#000;
    padding-bottom:5px;
    border-radius:5px;
    padding-top:5px;
    margin-top:5px;
    margin-left:9px;
}
.cal_header a
{
    color:#000;
    background-color:#F0F0F0;
    margin:5px;
    margin-top:0px;
    width:20px;
    font-weight:normal;
    font-size:2em;
}
.month_back
{
    float:left;
    width:25px;
    text-align:center;
    position:relative;
    top:-3px;
}
.month_spot
{
    width:179px;
    float:left;
    font-weight:bold;
    padding-top:3px;
    text-align:center;
}
.month_next
{
    float:left;
    width:25px;
    text-align:center;
    position:relative;
    top:-3px;
    right:4px;
}

.dp_inner_div
{
    text-align:left;
}

.dp_outer_div table
{
    margin:10px;
    margin-left:12px;
    float:left;
    margin-top:1px;
    width:240px;
    border-collapse:collapse;
}
.dp_outer_div table tr td button
{
    display:block;
    text-align:center;
    height:25px;
    width:25px;
    padding:1px;
    margin:1px;
}
.time_container
{
    float:left;
    margin-left:0px;
    width:185px;
}
.dp_div_time
{
    width:165px;
    text-align:center;
    height:20px;
    margin-top:5px;
    background-color:#FFF;
    color:#000;
    border:solid 1px #ADADAD;
    font-weight:bold;
    padding:5px;

}
.dp_outer_div *{
    font-size:10px;
    webkit-box-sizing:none;
    -moz-box-sizing: none;
    box-sizing:content-box;
}
.button-div
{
    margin-left:-5px;

}
.calc-button-container
{
    width:50px;
    height:25px;
    float:left;
    margin:5px;
    text-align:center;
    margin-top:8px;
}
.button-calc
{
    display:block;
    height:30px;
    width:30px;
    vertical-align:middle;
    text-align:center;
    padding-top:0px;
}
.button-calc-off
{
    background: -webkit-gradient(linear, left top, left bottom, from(#D4D1D5), to(#D4D1D5));
	background: -moz-linear-gradient(top, #D4D1D5, #D4D1D5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4D1D5, endColorstr=#D4D1D5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4D1D5, endColorstr=#D4D1D5)";
	color:#969696;
	height:30px;
	padding-top:5px;
	margin-top:17px;
}

.button-calc-mid
{
    width:81px;
    margin-top:15px;
}
.button-calc-large
{
    width:112px;
}
.button-calc-sub
{
    color:#ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e9bdf), to(#294086));
	background: -moz-linear-gradient(top, #0e9bdf, #294086);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e9bdf, endColorstr=#294086);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e9bdf, endColorstr=#294086)";
	height:30px;
	padding-top:5px;
	margin-top:18px;
}
.rp-datepicker .dropdown{
    padding:0px;
}
.rp-datepicker .btn-group{
    position:relative;
    z-index:100;
}
.rp-datepicker td{
    width:50px;
    height:30px;
}
.rp-datepicker select{
    padding:0;
}
.cal-btn{
    height:35px;
    width:40px;
}
.rp-datepicker li.dropdown{
    display:inline-block;
    margin-left:0px;
}
.rp-datepicker .dropdown-menu li{
    padding:7px;
    cursor:pointer;
}
.rp-datepicker .dropdown-menu{
    max-height:250px;
    overflow:auto;
}
.cal-btn-sm{
    width:30px;
    height:35px;
    padding-top:5px;
    vertical-align:middle;
}