<div class="col-xs-12">
    <label for="slipLastEditDate" class="control-label" data-translate="534">Last Edit Date</label>
    <input type="button" id="slipLastEditDate" class="form-control" value="{{(transferSlip.slip.modifieddatetime)?(transferSlip.slip.modifieddatetime | date:'mediumDate'):'Never'}}">
</div>
