<div class="row">
  <div class="col-xs-12">
    <label class="control-label" data-translate="4020">Ship Date</label>
    <p class="input-group {{fieldClass}}" ng-click="openCalendar($event, 'poShipDate')">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-disabled="!purchaseOrder.isEdit"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="poShipDate.datepickerOptions" ng-model="poShipDate.date" value="{{(poShipDate.date)?(poShipDate.date | date:'mediumDate'):(poShipDate.placeholder)}}" is-open="poShipDate.open" button-bar="poShipDate.buttonBar" enable-time="false" when-closed="poShipDate.closed()">
    </p>
  </div>
</div>

