<div class="modalouter">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span12">
		        <h4 data-translate="5816">Confirm Serial Number Quantity</h4>
		    </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
				<div class="row padding-5">
                    <div>
					<br class="col-xs-12">
            <em><span data-translate="5817">The adjusted quantity you specified does not match the Serial Number adjustments.  What action would you like to take?</span></em>
            <br><br>
            <label><input type="radio" ng-click="qtyActionChange('change')" name="adj_action" value="change">&nbsp;&nbsp;<span data-translate="5818">Change the Adjusted Quantity to match the Serial Number counts</span></label>
            <br><br>
            <label><input type="radio" ng-click="qtyActionChange('leave')" name="adj_action" value="leave">&nbsp;&nbsp;<span data-translate="5819">Leave the Adjusted Quantity as it was specified</span></label>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12 rightalign">
                <button type="button" ng-disabled="!state.adjAction" class="btn btn-info btn-large" ng-click="close({action:1,adjAction:state.adjAction})">
					<span data-translate="1.3">Apply</span>
				</button>
                <button type="button" class="btn btn-info btn-large" ng-click="close({action:0})">
					<span data-translate="1.2">Cancel</span>
				</button>
            </div>
        </div>
    </div>
</div>
