<div class="summary-details">
	<div class="floating-container">
		<ul class="main-parent">
			<li class="main-child">
				<h4 data-translate="4365">General Details</h4>
				<ul>
					<li ng-if="promotion.general_promo_name===''&&promotion.general_description===''&&promotion.general_promo_group===''&&promotion.general_disc_reason===''&&promotion.general_promo_type===''"><span data-translate="4461">There are no settings defined</span></li>
					<li ng-if="promotion.general_promo_name!==''"><span class="summary-title" data-translate="4353">Promotion Name</span>: <span class="summary-value">{{promotion.general_promo_name}}</span></li>
					<li ng-if="promotion.general_promo_name!=='' && promotionService.currPromoNameIsDuplicate"><strong style="color:#d9534f;" data-translate="7289">Promotion name is not unique</strong></li>
					<li ng-if="promotion.general_description!==''"><span class="summary-title" data-translate="1279">Description</span>: <span class="summary-value">{{promotion.general_description}}</span></li>
					<li ng-if="promotion.general_promo_group!==''"><span class="summary-title" data-translate="4354">Promotion Group</span>: <span class="summary-value">{{promotion.general_promo_group}}</span></li>
					<li ng-if="promotion.general_disc_reason!==''"><span class="summary-title" data-translate="716">Discount Reason</span>: <span class="summary-value">{{promotion.general_disc_reason}}</span></li>
					<li ng-if="promotion.general_promo_type!==''"><span class="summary-title" data-translate="4355">Promotion Type</span>: <span class="summary-value">{{ getPromoType(promotion.general_promo_type) }}</span></li>
				</ul>
			</li>
			<li class="main-child">
				<h4 data-translate="4366">Activation Details</h4>
				<ul>
					<li><span class="summary-title" data-translate="1453">Status</span>: <span class="summary-value" ng-if="promotion.general_active">Active</span><span class="summary-value" ng-if="!promotion.general_active">Inactive</span></li>
					<li ng-if="promotion.activation_start_date_str !== ''"><span class="summary-title" data-translate="958">Start Date</span>: <span class="summary-value">{{ formatDate(promotion.activation_start_date_str) }}</span></li>
					<li ng-if="promotion.activation_end_date_str !== ''"><span class="summary-title" data-translate="611">End Date</span>: <span class="summary-value">{{ formatDate(promotion.activation_end_date_str) }}</span></li>
					<li ng-if="promotion.activation_start_time_str !== ''"><span class="summary-title" data-translate="4356">Start Time</span>: <span class="summary-value">{{promotion.activation_start_time_str }}</span></li>
					<li ng-if="promotion.activation_end_time_str !== ''"><span class="summary-title" data-translate="4357">End Time</span>: <span class="summary-value">{{ promotion.activation_end_time_str }}</span></li>
					<li ng-if="promotion.activation_sbs_sid !== ''"><span class="summary-title" data-translate="562">Subsidiary</span>: <span class="summary-value">{{ getSubsidiaryName(promotion.activation_sbs_sid) }}</span></li>
					<li ng-if="promotion.activation_use_stores"><span class="summary-title" data-translate="4426">Stores</span>: <span class="summary-value" ng-if="activationStoreList !== ''">{{ activationStoreList }}</span></li>
					<!-- <li><span class="summary-title" data-translate="4427">Regions</span>: <span class="summary-value"></span></li>
					<li><span class="summary-title" data-translate="4428">Districts</span>: <span class="summary-value"></span></li> -->
					<li ng-if="promotion.activation_store_filter !== ''"><span class="summary-title" data-translate="4358">Store Filter</span>: <span class="summary-value" ng-if="promotion.activation_store_filter!==''" data-translate="4500">Filter Defined</span></li>
          <li ng-if="promotion.activation_use_price_levels"><span class="summary-title" data-translate="710">Price Levels</span>: <span class="summary-value" ng-if="activationPriceLevelList!==''">{{ activationPriceLevelList }}</span></li>
          <li ng-if="promotion.activation_can_be_combined&&!promotion.activation_combined_groups"><span class="summary-title" data-translate="4429">Combine</span>: <span class="summary-value">Any</span></li>
          <li ng-if="promotion.activation_can_be_combined&&promotion.activation_combined_groups"><span class="summary-title" data-translate="4429">Combine</span>: <span class="summary-value" ng-if="combineGroupsList!==''">{{ combineGroupsList }}</span><span class="summary-value" data-translate="1361" ng-if="combineGroupsList===''">None</span></li>
          <li><span class="summary-title" data-translate="6269">Manual Discount</span>: <span class="summary-value" ng-if="promotion.apply_manual_discounted_items" data-translate="1.5">Yes</span><span class="summary-value" ng-if="!promotion.apply_manual_discounted_items" data-translate="1.6">No</span></li>
					<li ng-show="showApplyOption"><span class="summary-title" data-translate="1.3">Apply</span>: <span class="summary-value" ng-if="promotion.activation_apply_count > 1">{{promotion.activation_apply_count}} Times</span><span class="summary-value" ng-if="promotion.activation_apply_count === 1" data-translate="4387">Once</span><span class="summary-value" ng-if="promotion.activation_apply_count === 0" data-translate="4388">Unlimited</span></li>
				</ul>
			</li>
			<li class="main-child">
				<h4 data-translate="4367">Validation Details</h4>
				<ul>
					<li ng-if="!promotion.validation_use_items&&!promotion.validation_use_subtotal&&!promotion.validation_use_coupons&&!promotion.validation_use_customers"><span data-translate="4461">There are no settings defined</span></li>
					<li ng-if="promotion.validation_use_items" ng-repeat="rule in saleItemRulesList"><span class="summary-title" data-translate="4392">Sale Items</span>: <span class="summary-value">{{rule.qty}} {{rule.subtotal}} {{rule.filter_elements}}</span></li>
					<li ng-if="promotion.validation_use_subtotal"><span class="summary-title" data-translate="4393">Sale Subtotal</span>: <span class="summary-value">{{promotion.validation_subtotal | currency}}</span></li>
					<li ng-if="promotion.validation_use_coupons"><span class="summary-title" data-translate="4386">Coupon</span>: <span class="summary-value">{{couponList}}</span></li>
					<li ng-if="promotion.validation_use_customers"><span class="summary-title" data-translate="790">Customer</span>: <span class="summary-value" ng-if="promotion.validation_customer_filter!==''" data-translate="4500">Filter Defined</span><span class="summary-value" ng-if="promotion.validation_customer_filter===''" data-translate="4501">Filter Undefined</span></li>
				</ul>
			</li>
			<li class="main-child">
				<h4 data-translate="4374">Reward Rules</h4>
				<ul>
					<li ng-if="!promotion.reward_validation_items&&!promotion.reward_other_items&&!promotion.reward_gd&&promotion.reward_coupon_code.length === 0&&!promotion.reward_giftitem&&!promotion.reward_coupon_setid"><span data-translate="4461">There are no settings defined</span></li>
					<li ng-if="promotion.reward_validation_items"><span class="summary-title" data-translate="4389">Item Discount</span>: <span class="summary-value">{{ getItemDiscountDetails() }}</span></li>
					<li ng-if="promotion.reward_other_items" ng-repeat="disc in bogoList"><span class="summary-title" data-translate="4390">BOGO Discount</span>: <span class="summary-value">{{disc.qty}} {{disc.value}} {{disc.plname}} {{disc.filter_elements}}</span></li>
					<li ng-if="promotion.reward_gd"><span class="summary-title" data-translate="4391">Transaction Discount</span>: <span class="summary-value">{{ getTransactionDiscountDetails() }}</span></li>
					<li ng-if="promotion.reward_coupon_code.length > 0"><span class="summary-title" data-translate="4362">Coupon Code</span>: <span class="summary-value">{{promotion.reward_coupon_code}}</span></li>
          <li ng-if="promotion.reward_coupon_type"><span class="summary-title" data-translate="4386">Coupon</span>: <span class="summary-value">{{couponSetName}}</span></li>
          <li ng-if="promotion.reward_giftitem"><span class="summary-title" data-translate="833">Gift Item</span>: <span class="summary-value">{{ giftItem }}</span></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
