<label class="control-label" data-translate="662">Drawer</label>
<rp-select-input ng-if="$ctrl.list" repeater-data="$ctrl.list" key-string="'val'" default-obj="{val:$ctrl.service.active.drawer}" value-key="'val'" suppress-translate="true" form="$ctrl.service.formState" ng-model="$ctrl.service.active.drawer"></rp-select-input>

