<div class="row">
    <select class="form-control" ng-disable="!(disable)" ng-model="status" ng-options="x.status as x.desc for x in statusList">
        <option value=""></option>
    </select>
</div>