<button event-name="posTransactionReturn" tabindex="709"  type="button" class="btn btn-info ng-isolate-scope" id="returnItemTypeButton" ng-disabled="returnButton||!canReturn||restrictAddItemTypeSwitching()" align="bottom" pop-width="element" rp-popover="{{popper}}" ng-class="{'active-item-type':(default.item_type*1===2)}">
  <span data-translate="747">Return</span>
</button>
