<form novalidate="" id="pmUpdateForm" name="pmUpdateForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="6082">Restore Markdown</h4>
    </div>
    <div class="modal-body allow-overlay">
      <div class="row">
        <div class="col-xs-7 col-xs-offset-5">
          <div class="row top-margin">
            <label class="col-xs-5 control-label">
              <strong data-translate="686" class="ng-scope">Reason</strong>
            </label>
            <div class="col-xs-7">
              <select ng-required="true" class="form-control" name="amReasonSid" ng-model="update.adjreasonsid" ng-options="x.sid as x.name for x in reasonList">
                <option value="?" data-translate="1358">Select...</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" id="pmUpdateCancelBtn" event-name="pmUpdateCancel" name="pmUpdateCancelBtn" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
            <button type="button" id="pmUpdateOkBtn" event-name="pmUpdateOk" name="pmUpdateOkBtn" class="btn btn-lg btn-default" ng-disabled="pmUpdateForm.$invalid" ng-click="save()"><span data-translate="3724">Continue</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
