<div class="modalouter">
    <div class="modal-header">
      <h4><span data-translate="4933">Markdown</span> <span data-translate="10">Options</span></h4>
    </div>
    <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" ng-show="action == 0">
            <button class="btn btn-info btn-block" ng-disabled="!markdown || markdown.itemcount === 0 || actionDisabled" event-name="PmUpdateNow" tabindex="122" type="button" ng-click="$close(1);">
              <span data-translate="6076">Update Now</span>
            </button>
          </li>
          <li class="list-group-item" ng-show="action == 1">
            <button class="btn btn-info btn-block" ng-disabled="actionDisabled" event-name="PmRestoreNow" tabindex="122" type="button" ng-click="$close(3);">
              <span data-translate="6218">Restore Now</span>
            </button>
          </li>
          <li class="list-group-item" ng-show="action == 2">
            <button class="btn btn-info btn-block" ng-disabled="actionDisabled" event-name="PmReverse" tabindex="122" type="button" ng-click="$close(4);">
              <span data-translate="4790">Reverse</span>
            </button>
          </li>

          <li class="list-group-item">
            <button class="btn btn-info btn-block" ng-disabled="!markdown || markdown.itemcount === 0" event-name="PmScheduleUpdate" tabindex="123" type="button" ng-click="$close(2);">
              <span data-translate="6094">Schedule Update</span>
            </button>
          </li>
          <li class="list-group-item">
            <button class="btn btn-info btn-block" event-name="PmCancelUpdate" tabindex="124" type="button" ng-click="$close(0);">
              <span data-translate="1.2">Cancel</span>
            </button>
          </li>
        </ul>
    </div>
  <div class="modal-footer text-right">
  </div>
</div>

