<div class="modalouter">
  <div class="modal-header">
    <h4 data-translate="6078">Update Markdown</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="row top-margin">
          <p ng-if="data.scheduledate == null"><span data-translate="6255">Clicking 'Yes' will update the selected Markdown.</span></p>
          <p ng-if="data.scheduledate != null"><span data-translate="6256">Clicking 'Yes' will update the selected Markdown on</span> {{formatedStart}}.</p>
        </div>
         <div ng-if="data.restoredate != null" class="row top-margin">
           <p><span data-translate="6257">The Markdown will be restored on</span> {{formatedRestore}}.</p>
         </div>
        <div class="row top-margin" ng-if="data.priceadjustfrom != -1">
          <p ng-if="data.priceadjustfrom == 0"><span ng-if="formatedPricelevelName" data-translate="6258">This process will update Price Level</span><span ng-if="formatedPricelevelName"> {{formatedPricelevelName}}.</span><span> {{formatedCount}} </span><span data-translate="6259">items will be affected.</span></p> <!-- and Season {{formatedSeasonName}}-->
          <p ng-if="data.priceadjustfrom != 0"><span data-translate="6968">This process will update Cost.</span><span> {{formatedCount}} </span><span data-translate="6259">items will be affected.</span></p>
        </div>
        <div class="row top-margin">
          <p data-translate="6260">Do you wish to proceed?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <button type="button" id="pmUpdateNoBtn" event-name="pmUpdateNo" name="pmUpdateNoBtn" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.6">No</span></button>
          <button type="button" id="pmUpdateYesBtn" event-name="pmUpdateYes" name="pmUpdateYesBtn" class="btn btn-lg btn-default" ng-click="confirm()"><span data-translate="1.5">Yes</span></button>
        </div>
      </div>
    </div>
  </div>
</div>

