<form novalidate="" id="pmUpdateForm" name="pmUpdateForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 ng-if="scheduleNow" data-translate="6079">Update Markdown Now</h4>
      <h4 ng-if="!scheduleNow" data-translate="6080">Schedule Markdown Update</h4>
    </div>
    <div class="modal-body allow-overlay">
       <div class="row">
        <div class="col-xs-5" ng-if="scheduleNow">
          <div class="row top-margin">
            <div class="form-group">
              <div class="col-xs-12"><strong data-translate="6095">Update price or cost?</strong></div>
              <div class="col-xs-11 col-xs-offset-1"><input type="radio" ng-model="update.adjustFrom" name="adjPrcFrom" value="0"> <span data-translate="773">Price</span></div>
              <div class="col-xs-11 col-xs-offset-1"><input type="radio" ng-model="update.adjustFrom" name="adjPrcFrom" value="1"> <span data-translate="2494">Cost</span></div>
            </div>
          </div>
        </div>
        <div class="col-xs-7" ng-class="{'col-xs-offset-5': !scheduleNow}">
          <div class="row top-margin" ng-if="update.adjustFrom == 0">
            <label class="col-xs-5 control-label">
              <strong data-translate="1645" class="ng-scope">Price Level</strong>
            </label>
            <div class="col-xs-7">
              <select id="priceLevel" name="priceLevel" class="form-control ng-pristine ng-valid" ng-model="update.pricelvlsid" ng-options="priceLvl.sid as priceLvl.pricelvlname for priceLvl in priceLevelList"></select>
            </div>
          </div>
          <div class="row top-margin" ng-if="update.adjustFrom == 0">
            <label class="col-xs-5 control-label">
              <strong data-translate="4866" class="ng-scope">Season</strong>
            </label>
            <div class="col-xs-7">
              <select id="seasons" name="seasons" class="form-control ng-pristine ng-valid" ng-model="update.seasonsid" ng-options="season.sid as season.seasonname for season in seasonList"></select>
            </div>
          </div>
          <div class="row top-margin">
            <label class="col-xs-5 control-label">
              <strong data-translate="686" class="ng-scope">Reason</strong>
            </label>
            <div class="col-xs-7">
              <select ng-required="true" class="form-control" name="amReasonSid" ng-model="update.adjreasonsid" ng-options="x.sid as x.name for x in reasonList">
                <option value="?" data-translate="1358">Select...</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!scheduleNow" class="row form-group">
        <div class="col-xs-12">
          <div class="row top-margin" ng-if="markdownPast">
            <div class="col-xs-3"><span data-translate="6052">Updated Date</span>: </div>
            <div class="col-xs-9"> {{markdown.markdowndate | cleanDate:locale}} </div>
            <br>
          </div>
          <div class="row top-margin" ng-if="!markdownPast">
            <label class="col-xs-5 control-label" for="start-date" data-translate="6083">Update on:</label>
            <div class="col-xs-7">
              <p class="input-group" ng-click="openCalendar($event, 'startDate')">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  <input type="button" class="form-control" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
              </p>
            </div>
          </div>
          <div class="row top-margin">
            <div class="col-xs-5 text-right">
              <strong data-translate="6082">Restore Markdown </strong>
            </div>
            <div class="col-xs-7">
              <input ng-disabled="restorePast" type="checkbox" ng-model="update.useRestore">
            </div>
          </div>
        </div>
        <div ng-if="update.useRestore" class="col-xs-12">
          <div class="row top-margin">
            <label class="col-xs-5 control-label" for="end-date" data-translate="6084">Restore on: </label>
            <div class="col-xs-7">
                <p class="input-group" ng-click="openCalendar($event, 'endDate')">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    <input type="button" class="form-control" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
                </p>
            </div>
          </div>
        </div>
     </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" id="pmUpdateCancelBtn" event-name="pmUpdateCancel" name="pmUpdateCancelBtn" class="btn btn-lg btn-default" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
            <button type="button" id="pmUpdateOkBtn" event-name="pmUpdateOk" name="pmUpdateOkBtn" class="btn btn-lg btn-default" ng-disabled="pmUpdateForm.$invalid || scheduleInvalid || !update.startDate || (update.useRestore && !update.restoreDate)" ng-click="save()"><span data-translate="3724">Continue</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></form>
