﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @ViewBag.code
    <form method="post">
        <input type="text" name="numpage" />
        <input type="submit" value="submit" />

    </form>
    <select>
        <option></option>
    </select>
</body>
</html>
