<script type="text/ng-template" id="tree_item_renderer.html">
  <div ng-show="false">
      {{b.push(data.name)}}
      {{url=(version==='2')?'api/'+ namespace +'/' + b.join('/') +'?introspection=true':'v1/rest/' + b.join('/') + '/meta/'}}
  </div>

  <a></a><a ng-init="on=false" href="#/services?resource={{url}}" ng-click="on=!on;reset(url,true);active.url=url">{{data.name}}</a>
  <ul>
      <li ng-repeat="data in data.resources" ng-include="'tree_item_renderer.html'"></li>
  </ul>
  {{show(url)}}    {{show($index)}}
  <div ng-if="!data.resources||$index==0||!data.resources[$index].resources">
      <div ng-show="false">
          <a></a>{{b.pop();}}
      </div>
  </div>
</script>
<div class="container-fluid">
  <div name="pref_form" ng-if="serviceList">
    <div class="services-left tree-menu col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Services</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li ng-show="x.name!=='PubSubService'" class="list-group-item" ng-repeat="x in serviceList">
              <a></a>{{x.name}}
              <ul>
                <li ng-show="x.methods.length>0">
                  <a></a>RPC Methods
                  <ul class="scroll">
                    <li ng-repeat="y in x.methods">
                      <a href="#/services?rpc={{y.name}}" ng-click="setVersion(x.uriversion,x.name)">{{y.name}}</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a></a>REST Resources
                  <ul class="scroll">
                    <li ng-repeat="data in x.resources" ng-include="'tree_item_renderer.html'">
                      {{version=x.uriversion}}{{namespace=x.name}}
                      <a href="javascript:void(0);"></a>{{b=[]}}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="services-left col-xs-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Details</h4>
            </div>
            <div class="panel-body">
              <div class="col-xs-12" ng-if="rpcName || activeResource">
                <div class="row">
                  <h5 ng-if="rpcName"><strong>Method : </strong> {{rpcName}}</h5>
                  <h5 ng-if="activeResource"><strong>Resource : </strong> {{activeResource}}</h5>
                </div>
                <div class="row" ng-if='currentUrl.indexOf("replication/")===-1'>
                    <h5><strong>URL : </strong> {{currentUrl}}</h5>
                </div>
                <div class="row">
                  <uib-tabset active="0" justified="true">
                      <uib-tab index="0" heading="Meta Data" select="refreshGridView()">
                        <div ng-if="rpcName" class="col-xs-12">
                          <p><strong>Description: </strong> {{rpcData.comments}}</p>
                          <div id="grid1" class="grid" ng-if='gridType==="1"' ui-grid="rpcV1GridOptions"></div>
                          <div id="grid2" class="grid" ng-if='gridType==="2"' ui-grid="rpcV2GridOptions"></div>
                        </div>
                        <div ng-show='gridType==="0"'>
                          <div class="col-xs-12" ng-show="!xmlData">
                            <label class="control-label">
                              <a ng-click="toggleDefaultCols()">{{colTxt}} Default Columns</a>
                            </label>
                          </div>
                          <div class="col-xs-12">
                            <div id="grid3" class="grid" ui-grid="gridOptions"></div>
                          </div>
                        </div>
                      </uib-tab>
                      <uib-tab index="1" heading="JSON payload">
                        <div class="col-xs-12">
                          <strong>Sample JSON Payload : </strong>
                          <div class="textarea-container">
                            <textarea id="sampleJsonPayload" cols=50 rows=25 readonly=true>{{sampleJsonPayload}}</textarea>
                            <button type="button" class="btn btn-primary btn-lg" uib-popover={{toolTipText}} popover-trigger="'mouseenter'" popover-placement="left" ng-click="copyToClipboard()" ng-mouseover="resetTooltip()">
                                Copy
                            </button>
                          </div>
                        </div>
                      </uib-tab>
                    </uib-tabset>
                  </div>
              </div>
              <div class="centerContent" ng-if="(rpcName===null)&&(activeResource===null)">
                Select an option from services to see meta data of an RPC or REST resource.
              </div>
            </div>
        </div>
    </div>
  </div>
  <div ng-show="!serviceList">
    <!-- <img src="img/ajax-loader.gif"  class="glyphicon glyphicon-refresh" style="height: 75px;width: 75px;text-align: center;"> -->
    <div id="loadingDiv">
    </div>
  </div>
</div>
