<div name="pref_form" ng-controller="globalblue_ctrl" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3>Global Blue</h3>
    </div>
  </div>
  <tabset class="form-group">
    <tab heading="Initiate Transaction" active="tabs.gb.initiate.active">
      <div class="row form-group">
        <div class="col-xs-12">
          At this time Global Blue only works with the Prism iOS application.
        </div>
      </div>
      <div class="row form-group">
        <div class="form-group">
          <label class="control-label col-xs-2">
            Action:
          </label>
          <div class="col-xs-3">
            <select class="form-control" ng-model="gb.action">
              <option value="sale">Sale</option>
              <option value="refund">Refund</option>
              <option value="void">Void</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label col-xs-2">
            Amount:
          </label>
          <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="gb.amount" />
            <span class="help-block" ng-show="gb.amount.length === 0">
              <b class="text-danger">Required</b>
            </span>
          </div>
          <div class="col-xs-5 col-xs-offset-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="gb.confirmamount" />
                <b>Confirm Amount</b>
              </label>
              <span class="help-block" ng-show="gb.confirmamount">
                Transaction will begin to process immediately.
              </span>
              <span class="help-block" ng-show="!gb.confirmamount">
                User will be required to press 'Sale' to start processing transaction.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2">
          Receipt Number:
        </label>
        <div class="col-xs-3">
          <input type="text" class="form-control" ng-model="gb.receiptno" />
        </div>
        <label class="control-label col-xs-2">
          Reference:
        </label>
        <div class="col-xs-3">
          <input type="text" class="form-control" ng-model="gb.reference" />
          <span class="help-block" ng-show="gb.action === 'void' && gb.reference.length === 0">
            <b class="text-danger">Required</b>
          </span>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label class="control-label col-xs-2">
          Success URL:
        </label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-disabled="gb.successtothispage" ng-model="gb.success" />
        </div>
        <div class="col-xs-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="gb.successtothispage" ng-click="setUrl()">
              <b>This Page</b>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2">
          Error URL:
        </label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-disabled="gb.errorstothispage" ng-model="gb.error" />
        </div>
        <div class="col-xs-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="gb.errorstothispage" ng-click="setUrl()">
              <b>This Page</b>
            </label>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <div class="col-xs-6 col-xs-offset-2">
          <button type="button" class="btn btn-primary" ng-click="doGBTransaction()">
            Initiate Transaction
          </button>
          <button type="reset" class="btn btn-default">
            Reset
          </button>
        </div>
      </div>
    </tab>
    <tab heading="Transaction Response" active="tabs.gb.response.active">
      <div class="row">
        <div class="col-xs-12">
          At this time Global Blue only works with the Prism iOS application.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>The response from Global Blue contains the following:</p>
          <ul>
            <li ng-show="gbResponse.amount.length > 0">
              <b>Amount:</b> {{gbResponse.amount}}</li>
            <li ng-show="gbResponse.approved.length > 0">
              <b>Approved:</b> {{gbResponse.approved}}</li>
            <li ng-show="gbResponse.authcode.length > 0">
              <b>Auth Code:</b> {{gbResponse.authcode}}</li>
            <li ng-show="gbResponse.batch.length > 0">
              <b>Batch:</b> {{gbResponse.batch}}</li>
            <li ng-show="gbResponse.cardscheme.length > 0">
              <b>Card Type:</b> {{gbResponse.cardscheme}}</li>
            <li ng-show="gbResponse.currency.length > 0">
              <b>Currency:</b> {{gbResponse.currency}}</li>
            <li ng-show="gbResponse.date.length > 0">
              <b>Date:</b> {{gbResponse.date}}</li>
            <li ng-show="gbResponse.entrymode.length > 0">
              <b>Entry Mode:</b> {{gbResponse.entrymode}}</li>
            <li ng-show="gbResponse.maskedpan.length > 0">
              <b>Masked Card Number:</b> {{gbResponse.maskedpan}}</li>
            <li ng-show="gbResponse.message.length > 0">
              <b>Message:</b> {{gbResponse.message}}</li>
            <li ng-show="gbResponse.mid.length > 0">
              <b>MID:</b> {{gbResponse.mid}}</li>
            <li ng-show="gbResponse.receiptno.length > 0">
              <b>Receipt Number:</b> {{gbResponse.receiptno}}</li>
            <li ng-show="gbResponse.reference.length > 0">
              <b>Reference:</b> {{gbResponse.reference}}</li>
            <li ng-show="gbResponse.tid.length > 0">
              <b>TID:</b> {{gbResponse.tid}}</li>
            <li ng-show="gbResponse.time.length > 0">
              <b>Time:</b> {{gbResponse.time}}</li>
            <li ng-show="gbResponse.tipamount.length > 0">
              <b>Tip Amount:</b> {{gbResponse.tipamount}}</li>
            <li ng-show="gbResponse.trace.length > 0">
              <b>Trace:</b> {{gbResponse.trace}}</li>
            <li ng-show="gbResponse.type.length > 0">
              <b>Type:</b> {{gbResponse.type}}</li>
            <li ng-show="gbResponse.verifyresult.length > 0">
              <b>Verify Result:</b> {{gbResponse.verifyresult}}</li>
          </ul>
          <div ng-show="true">
            <div ng-show="gbResponse.rendered.length > 0">
              <b>Rendered Receipt:</b>
              <br />
              <span>{{receipt}}</span>
            </div>
          </div>
          <p>
            <b>Raw Response:</b>
            <button type="button" class="btn btn-sm btn-info" ng-click="changeButtonText()">{{rawResponseButtonText}}</button>
          </p>
        </div>
      </div>
      <div class="row" ng-show="showRawResponse">
        <div class="col-xs-12">
          <p>{{rawGBResponse}}</p>
        </div>
      </div>
    </tab>
  </tabset>
</div>
