<div name="pref_form" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3>MerchantWare</h3>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li ng-class="isActiveTab('config')">
      <a href='#/eft/mw/config' ng-click='setTabs("config")'>Configuration</a>
    </li>
    <li ng-class="isActiveTab('ced')">
      <a href='#/eft/mw/ced' ng-disabled="!validateManualMWConfig()" ng-click='setTabs("ced")'>CED Transactions</a>
    </li>
    <li ng-class="isActiveTab('web')">
      <a href='#/eft/mw/web' ng-disabled="!validateCreditMWConfig()" ng-click='setTabs("web")'>Web Transactions</a>
    </li>
    <li ng-class="isActiveTab('gift')">
      <a href='#/eft/mw/gift' ng-disabled="!validateGiftMWConfig()" ng-click='setTabs("gift")'>Gift Transactions</a>
    </li>
  </ul>
  <div>
    <div ng-show="tabs.mw.config">
      <div class="row">
        <div class="col-xs-12">
          &nbsp;
        </div>
      </div>
      <div ng-show="!mw.loaded">
        <div class="row">
          <div class="col-xs-12">
            <p>Please wait while we load the MerchantWare configuration information...</p>
          </div>
        </div>
      </div>
      <div ng-show="mw.loaded && mw.configured">
        <div class="row">
          <div class="col-xs-12">
            <p>MerchantWare is properly configured on this workstation.</p>
          </div>
        </div>
      </div>
      <div ng-show="mw.loaded && !mw.configured">
        <div class="row">
          <div class="col-xs-12">
            <p>MerchantWare needs to be properly configured on this workstation before you are able to run API tests. You may
              populate the fields below with your own corporate information or click
              <button type="button" class="btn btn-primary btn-xs" ng-click="fillEFT()">
                This Button</button> to populate the fields below with the default Retail Pro test information.
            </p>
            <p class="small">Note: These values will not permanently configure this workstation to use MerchantWare.</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <label class="control-label" data-translate="1156">Logo Location</label>
            <input placeholder="https://path_to_logo" ng-model="mw.mwData.eft_mw_logo_location" type="text" class="form-control" />
          </div>
          <div class="col-xs-6">
            <label class="control-label" data-translate="1157">Redirect Location</label>
            <input placeholder="https://path_to_redirect" ng-model="mw.mwData.eft_mw_redirect_location" type="text" class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <label class="control-label" data-translate="1158">Credit Schema</label>
            <input placeholder="https://path_to_credit_schema" ng-model="mw.mwData.eft_mw_credit_schema" type="text" class="form-control"
            />
          </div>
          <div class="col-xs-6">
            <label class="control-label" data-translate="1159">Gift Schema</label>
            <input placeholder="https://path_to_gift_schema" ng-model="mw.mwData.eft_mw_gift_schema" type="text" class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <label class="control-label" data-translate="1160">Credit Endpoint</label>
            <input placeholder="https://path_to_credit_endpoint" ng-model="mw.mwData.eft_mw_credit_endpoint" type="text" class="form-control"
            />
          </div>
          <div class="col-xs-6">
            <label class="control-label" data-translate="1161">Gift Endpoint</label>
            <input placeholder="https://path_to_gift_endpoint" ng-model="mw.mwData.eft_mw_gift_endpoint" type="text" class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-3">
            <label class="control-label" data-translate="1162">Merchant Name</label>
            <input ng-model="mw.mwData.eft_mw_merchant_name" type="text" class="form-control" />
          </div>
          <div class="col-xs-3">
            <label class="control-label" data-translate="1163">Merchant Site ID</label>
            <input ng-model="mw.mwData.eft_mw_merchant_site_id" type="text" class="form-control" />
          </div>
          <div class="col-xs-6">
            <label class="control-label" data-translate="1164">Merchant Key</label>
            <input ng-model="mw.mwData.eft_mw_merchant_key" type="text" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-3">
            <label class="control-label" data-translate="1165">Software Name</label>
            <input ng-model="mw.mwData.eft_mw_software_name" type="text" class="form-control" />
          </div>
          <div class="col-xs-3">
            <label class="control-label" data-translate="1166">Software Version</label>
            <input ng-model="mw.mwData.eft_mw_software_version" type="text" class="form-control" />
          </div>
          <div class="col-xs-6">
            <label class="control-label" data-translate="1167">Web Transaction Server</label>
            <input placeholder="https://path_to_transaction_server" class="form-control" ng-model="mw.mwData.eft_mw_web_transaction_server"
              type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div ng-show="!mw.loaded && mw.error">
        <div class="row">
          <div class="col-xs-12">
            <p>Error loading MerchantWare data for this workstation.</p>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="tabs.mw.ced">
      <div class="row">
        <div class="col-xs-12">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">Prepare Transaction</span>
            </div>
            <div class="panel-body">
              <div ng-hide="form.ced.completed">
                <div class="row form-group">
                  <label class="col-xs-5 control-label">
                    Amount:
                  </label>
                  <div class="col-xs-7">
                    <input type="tel" id="CEDValue" class="form-control text-right" ng-model="form.ced.amount" />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-xs-5 control-label">
                    Transaction Type:
                  </label>
                  <div class="col-xs-7">
                    <select id="cedTransactionType" class="form-control" ng-model="form.ced.type">
                      <option>CREDIT_TAKE</option>
                      <option>CREDIT_GIVE</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-success form-control" ng-disabled="form.ced.initiated" ng-click="doMWTransaction('initced')">Initiate CED</button>
                  </div>
                  <div class="col-xs-6 text-center">
                    <button type="button" class="btn btn-danger form-control" ng-disabled="!form.ced.initiated" ng-click="doMWTransaction('cancelced')">Cancel CED</button>
                  </div>
                </div>
              </div>
              <div ng-hide="!form.ced.completed">
                <p>Your transaction has been completed and the results are available in the Communication Log to the right.</p>
                <p class="text-center">
                  <button type="button" class="btn btn-primary" ng-click="newMWTransaction('ced')">
                    New Transaction
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">
                Communication Log:
              </span>
            </div>
            <table class="table table-condensed">
              <tr ng-repeat="logLine in dataLog">
                <td>
                  <p>
                    <b>Action:</b> {{logLine.label}}
                  </p>
                  <p>
                    <b>Resource:</b> {{logLine.data.url}}
                  </p>
                  <p>
                    <b>Method:</b> {{logLine.data.method}}
                  </p>
                  <accordion>
                    <accordion-group heading="Sent">
                      {{logLine.data.sent}}
                    </accordion-group>
                    <accordion-group heading="Received">
                      {{logLine.data.received}}
                    </accordion-group>
                  </accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="tabs.mw.web" deselect="resetLogger()">
      <div class="row">
        <div class="col-xs-12">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">Prepare Transaction</span>
            </div>
            <div class="panel-body">
              <div ng-hide="form.web.initiated">
                <div class="row form-group">
                  <label class="col-xs-5 control-label">
                    Amount:
                  </label>
                  <div class="col-xs-7">
                    <input type="tel" id="WebValue" class="form-control text-right" ng-model="form.web.amount" />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-xs-5 control-label">
                    Transaction Type:
                  </label>
                  <div class="col-xs-7">
                    <select id="webTransactionType" class="form-control" ng-model="form.web.type">
                      <option>CREDIT_TAKE</option>
                      <option>CREDIT_GIVE</option>
                      <option>CREDIT_FORCE</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-7 col-xs-offset-5">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="form.web.dupes"> Override Duplicate Checking
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-success" ng-disabled="form.web.amount.length === 0" ng-click="doMWTransaction('initweb')">Initiate Transaction</button>
                  </div>
                </div>
              </div>
              <div class="row" ng-hide="!form.web.initiated">
                <div class="col-xs-12" ng-hide="form.web.completed">
                  <p>Your transaction has been prepared and is ready to send to Merchant Ware for processing. Clicking this
                    button will take you to the Merchant Ware transaction page. Once the transaction has been completed or
                    cancelled, you will be returned to this page to view the results.</p>
                  <p class="text-center">
                    <button type="button" class="btn btn-danger" ng-disabled="!form.web.initiated" ng-click="doMWTransaction('sendtoweb')">Go To MW Page</button>
                  </p>
                </div>
                <div class="col-xs-12" ng-hide="!form.web.completed">
                  <p>Your transaction has been completed and the results are available in the Communication Log to the right.</p>
                  <p class="text-center">
                    <button type="button" class="btn btn-primary" ng-click="newMWTransaction('web')">
                      New Transaction
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">
                Communication Log:
              </span>
            </div>
            <table class="table table-condensed">
              <tr ng-repeat="logLine in dataLog">
                <td>
                  <p>
                    <b>Action:</b> {{logLine.label}}
                  </p>
                  <p>
                    <b>Resource:</b> {{logLine.data.url}}
                  </p>
                  <p>
                    <b>Method:</b> {{logLine.data.method}}
                  </p>
                  <accordion>
                    <accordion-group heading="Sent">
                      {{logLine.data.sent}}
                    </accordion-group>
                    <accordion-group heading="Received">
                      {{logLine.data.received}}
                    </accordion-group>
                  </accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="tabs.mw.gift" deselect="resetLogger()">
      <div class="row">
        <div class="col-xs-12">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">Prepare Transaction</span>
            </div>
            <div class="panel-body">
              <div ng-hide="form.giftcard.completed">
                <div class="row form-group">
                  <label class="col-xs-5 control-label" for="txtKeyedCardNumber">
                    Card Number:
                  </label>
                  <div class="col-xs-7">
                    <input id="txtKeyedCardNumber" name="txtKeyedCardNumber" class="form-control" type="text" placeholder="enter card number"
                      maxlength="19" autocomplete="off" ng-model="form.giftcard.carddata">
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-xs-5 control-label">
                    Amount:
                  </label>
                  <div class="col-xs-7">
                    <input type="tel" tabindex="1" id="GiftCard" class="form-control text-right" ng-model="form.giftcard.amount" />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-12">
                    <p class="form-control-static">
                      <b>Transaction Type:</b>
                    </p>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-6">
                    <button type="button" id="addValueToGiftcardButton" class="btn btn-success form-control" ng-click="doMWTransaction('value')">Add Value</button>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" id="getGiftcardBalanceButton" class="btn btn-success form-control" ng-click="doMWTransaction('balance')">Balance</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <button type="button" id="purchaseGiftcardButton" class="btn btn-success form-control" ng-click="doMWTransaction('activate')">Purchase</button>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" id="getGiftcardTenderButton" class="btn btn-success form-control" ng-click="doMWTransaction('tender')">Take</button>
                  </div>
                </div>
              </div>
              <div ng-hide="!form.giftcard.completed">
                <p>Your transaction has been completed and the results are available in the Communication Log to the right.</p>
                <p class="text-center">
                  <button type="button" class="btn btn-primary" ng-click="newMWTransaction('gift')">
                    New Transaction
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">
                Communication Log:
              </span>
            </div>
            <table class="table table-condensed">
              <tr ng-repeat="logLine in dataLog">
                <td>
                  <p>
                    <b>Action:</b> {{logLine.label}}
                  </p>
                  <p>
                    <b>Resource:</b> {{logLine.data.url}}
                  </p>
                  <p>
                    <b>Method:</b> {{logLine.data.method}}
                  </p>
                  <accordion>
                    <accordion-group heading="Sent">
                      {{logLine.data.sent}}
                    </accordion-group>
                    <accordion-group heading="Received">
                      {{logLine.data.received}}
                    </accordion-group>
                  </accordion>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
