<div ng-controller="raw_http_ctrl">
  <form name="form" class="panel panel-default">
    <div class="panel-heading">
      <h4>Raw Requests</h4>
    </div>
    <div class="panel-body">
      <div class="input-group form-group">
        <span class="input-group-addon">API Request URL -</span>
        <input type="text" ng-disabled="true" class="form-control" ng-model="requestApiUrl" style="color: blue;">
      </div>
      <div class="row form-group">
        <div class="col-xs-3">
          <select required ng-model="form.method" ng-init="form.method='GET'" class="form-control">
            <option value="">Method...</option>
            <option value="GET">GET</option>
            <option value="PUT">PUT</option>
            <option value="POST">POST</option>
            <option value="DELETE">DELETE</option>
          </select>
        </div>
        <div class="col-xs-3">
          <select required="required" ng-model="form.cType" ng-init="form.cType='application/json'" class="form-control">
            <option value="">Content Type...</option>
            <option value="application/json">application/json</option>
            <option value="text/xml">text/xml</option>
          </select>
        </div>
        <div class="col-xs-3">
          <select required="required" ng-model="form.serviceModule" ng-options="thisService.name for thisService in servicesList" ng-change="setServiceModule()"
            class="form-control">
            <option value="">Select Service Module..</option>
          </select>
        </div>
        <!-- <div class="col-xs-3">
          <select ng-model="form.methodName" ng-options="thisMethod.name for thisMethod in methodList" ng-change="constructApiUrl()"
            class="form-control">
            <option value="">Select Method..</option>
          </select>
        </div> -->
        <div class="col-xs-3">
          <select ng-model="form.resourceName" ng-options="thisResource.name for thisResource in resourceList" ng-change="constructApiUrl()"
            class="form-control">
            <option value="">Select Resource...</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <input class="form-control" ng-model="form.params" ng-change="constructApiUrl()" type="text" placeholder="Request URL Params & Filters..."
          />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <textarea class="form-control" ng-model="form.payload" placeholder="Payload..."></textarea>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-2 text-left">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="enablePaging" ng-model="enablePaging" ng-click="!enablePaging" style="width: 18px;height: 18px;">
            </span>
            <input type="text" class="form-control" ng-disabled="true" placeholder="Enable Paging">
            <!-- <span class="input-group-addon">Enable Paging</span> -->
          </div>
        </div>
        <div class="col-xs-10 text-right">
          <button class="btn btn-default" ng-click="resetForm()" style="background-color:lightgrey;">Reset Form</button>
          <button class="btn btn-warning" ng-click="send()" ng-disabled="!form.serviceModule">Send Request</button>
        </div>
      </div>
      <div class="row" ng-show="responseData">
        <div class="col-xs-12">
          <ul class="nav nav-tabs">
            <li ng-class="isActiveTab('response')">
              <a href="javascript:void(0);" ng-click="setTab('response')">Response Details</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content" ng-show="activeTab=='response'">
        <div ng-show="loadingResults" style="text-align: center">
          <img src="img/ajax-loader.gif" style="height:50px;width:50px;position:relative;top:-3px;" class="glyphicon glyphicon-refresh">
        </div>
        <response-format-tabs ng-if="!loadingResults&&responseData" response="responseData"></response-format-tabs>
      </div>
    </div>
  </form>
</div>
