<div class="panel-heading">
  <h4>{{activeResource}}</h4>
</div>
<div ng-if="myData.length>0" class="panel-body" ng-show="tab=='request'">
  <div ng-show="request.method=='GET'" ng-if="myData.length>0&&putData.length==0" class="row form-group">
    <div class="col-xs-12" ng-show="!xmlData">
      <label class="control-label">
        <a ng-click="toggleDefaultCols()">{{colTxt}} Default Columns</a>
      </label>
    </div>
    <div class="col-xs-12">
      <div ng-show="xmlData!=undefined">The v9 API is read only.</div>
      <div id="grid1" class="grid" ui-grid="gridOptions"></div>
    </div>
  </div>
</div>

