<div class="panel panel-default" ng-controller="rpc_ctrl">
  <div class="panel-heading">
    <h4>Method: {{rpcName}}</h4>
  </div>
  <div class="panel-body">
    <div>
      <br />
      <p>
        <strong>Description: </strong> {{rpcData.comments}}</p>
      <ul class="nav nav-tabs">
        <li ng-class="isActiveTab('params')">
          <a href="javascript:void(0);" ng-click="setTab('params')">Parameters</a>
        </li>
        <li ng-show="rpc.rpcResponse" ng-class="isActiveTab('payload')">
          <a href="javascript:void(0);" ng-click="setTab('payload')">Post Data</a>
        </li>
        <li ng-show="rpc.rpcResponse" ng-class="isActiveTab('rpcresponse')">
          <a href="javascript:void(0);" ng-click="setTab('rpcresponse')">Response</a>
        </li>
      </ul>
      <div ng-if="activeTab=='params'" class="form-group" ng-repeat="x in rpcData.parameters">
        <div style="height:85px" ui-grid="{data:getRPCData(x),enableGridMenu:false,
              enableColumnResizing:true}" ui-grid-resize-columns="" class="rpcGridStyle"></div>
      </div>

      {{rpcConfig.data.params.lookupvalue}}
      <response-format-tabs ng-if="activeTab=='payload'&&rpc.rpcResponse" response="rpcConfig"></response-format-tabs>
      <response-format-tabs ng-if="activeTab=='rpcresponse'&&rpc.rpcResponse" response="rpc.rpcResponse"></response-format-tabs>
    </div>
  </div>
</div>
