<div class="popover" style="width:20em !important">
  <div class="popover-content" style="padding:5px;max-height:200px;overflow:auto;width:20em !important; background-color:#FFF">
    <div class="row">
      <div class="col-xs-6">
        <ul style="list-style-type:none; padding-left:0">
          <li style="margin-bottom:0.5em;">
            <button class="btn btn-default btn-lg" style="width:100%" data-permission="PIUpdateStartQuantity" data-permission-disabled="selectedZones === null || (selected !== null && selected.merged_datetime !== '')" ng-click="toggleMark()">
              <span data-translate="2125" ng-if="!selected || selected.marked === 0">Mark</span>
              <span data-translate="6568" ng-if="selected.marked === 1">UnMark</span>
            </button>
          </li>
          <li>
            <button class="btn btn-default btn-lg" style="width:100%" data-permission="PIUpdateStartQuantity" data-permission-disabled="gridOptions.data.length === 0 || allZones.merged" ng-click="markAll()" ng-if="(!allZones.marked && !allZones.merged) || allZones.merged">
              <span data-translate="6571">Mark All</span>
            </button>
            <button class="btn btn-default btn-lg" style="width:100%" data-permission="PIUpdateStartQuantity" data-permission-disabled="gridOptions.data.length === 0 || allZones.merged" ng-click="unMarkAll()" ng-if="!allZones.unmarked && allZones.marked">
              <span data-translate="6964">UnMark All</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <ul style="list-style-type:none; padding-left:0">
          <li style="margin-bottom:0.5em;">
            <button class="btn btn-default btn-lg" style="width:100%" data-permission="pizonemerge" data-permission-disabled="selected === null" ng-if="selected === null || (selected !== null && selected.merged_datetime === '')" ng-click="toggleMerge()">
              <span data-translate="3717">Merge</span>
            </button>
            <button class="btn btn-default btn-lg" style="width:100%" data-permission="pizoneunmerge" data-permission-disabled="selected === null" ng-if="selected !== null && selected.merged_datetime !== ''" ng-click="toggleMerge()">
              <span data-translate="6569">UnMerge</span>
            </button>
          </li>
          <li>
            <button class="btn btn-default btn-lg" style="width:100%" data-permission="pizonemerge" data-permission-disabled="!piSheet.active || allZones.merged" ng-click="mergeAllMarked()" ng-if="!allZones.merged">
              <span data-translate="6572">Merge Marked</span>
            </button>
            <button class="btn btn-default btn-lg" style="width:100%" data-permission="pizonemerge" data-permission-disabled="!piSheet.active" ng-click="unmergeAll()" ng-if="allZones.merged">
              <span data-translate="6965">UnMerge All</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
