<div class="popover">
  <div class="popover-content" style="padding:5px;max-height:200px;overflow:auto;">
    <ul style="list-style-type:none; padding-left:0">
      <li style="margin-bottom:0.5em;">
        <button class="btn btn-default btn-lg" style="width:100%" data-permission="pizonemerge" data-permission-disabled="selected === null" ng-if="selected === null || (selected !== null && selected.merged_datetime === '')" ng-click="toggleMerge()">
          <span data-translate="3717">Merge</span>
        </button>
        <button class="btn btn-default btn-lg" style="width:100%" data-permission="pizoneunmerge" data-permission-disabled="selected === null" ng-if="selected !== null && selected.merged_datetime !== ''" ng-click="toggleMerge()">
          <span data-translate="6569">UnMerge</span>
        </button>
      </li>
      <li>
        <button class="btn btn-default btn-lg" style="width:100%" data-permission="pizonemerge" data-permission-disabled="!piSheet.active" ng-click="mergeAllMarked()">
          <span data-translate="6572">Merge Marked</span>
        </button>
      </li>
    </ul>
  </div>
</div>
