<div name="pi">
	<div class="panel panel-default">
        <div class="panel-heading">
            <h4 data-translate="6566">Physical Inventory (Zones)</h4>
        </div>
        <div class="panel-body height">
            <div class="panel panel-default">
                <div class="pi-sheet panel-heading">
                    <h4><span data-translate="6682">PI Zones</span> - {{piSheetName}}</h4>
                </div>
                <div class="panel-body" ui-i18n="{{lang}}">
                    <div id="grid1" ui-grid-resize-columns="undefined" ui-grid-selection="undefined" ui-grid="gridOptions" external-scopes="" class="grid"></div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <paging-control ng-if="gridOptions.data.length>0&&!searching" grid-reference="gridApi" total-records="gridTotalRecords" results-per-page="gridPageSize" call-back="getZones"></paging-control>
                            <br>
                            <span data-translate="2789">Total Records</span> {{gridTotalRecords}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <prism-ajax-loader ng-if="prismAjaxLoader.handler" loader-title="prismAjaxLoader.title" loader-message="prismAjaxLoader.message"></prism-ajax-loader>
    <button-bar view-path="components/store-ops/pi/pi-zones/pi-zones-button-bar.htm"></button-bar>
</div>
