<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
    <div class="btn-group">
        <button class="btn btn-default btn-lg" data-permission-disabled="!piSheet.active" ng-click="newZone()" data-permission="picreatepizone">
          <span data-translate="581">New</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-lg" ng-click="delete()" data-permission="deletezone" data-permission-disabled="selectedZones === null || (selected !== null && selected.merged_datetime !== '')">
          <span data-translate="544">Delete</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-lg" data-permission="pieditpizone" data-permission-disabled="selectedZones === null || !piSheet.active" ng-click="editZone()">
          <span data-translate="774">Edit</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-lg" ng-disabled="selectedZones === null" ng-click="goToZoneDetails()">
          <span data-translate="6966">Zone Sheet</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-lg" id="mark" ng-disabled="!piSheet.active" pop-width="element" rp-popover="components/store-ops/pi/pi-zones/mark-popover.htm" align="top">
          <span data-translate="1613">Actions</span>
        </button>
    </div>
    <!-- <div class="btn-group">
        <button class="btn btn-default btn-lg" id="merge" pop-width="element" rp-popover="components/store-ops/pi/pi-zones/merge-popover.htm" align="top">
          <span data-translate="needsID">Merge</span>
        </button>
    </div> -->
    <div class="btn-group">
        <button class="btn btn-default btn-lg" data-permission="piprintzonesheet" data-permission-disabled="selectedZones === null" ng-click="printZone()">
          <span data-translate="522">Print</span>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-md" ng-click="returnToPiSheet()" type="button">
          <span data-translate="583">Close</span>
        </button>
    </div>
</div>
