<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label data-translate="3834">Payment Terms</label>

            <rp-select-input repeater-data="terms.dropdownConfig.listData" ng-model="terms.selectedTerm" ng-change="terms.termChange($value)" default-obj="terms.selectedTerm" key-string="terms.dropdownConfig.textKey" is-disabled="terms.isReadOnly" filter-string="terms.dropdownConfig.searchString">
            </rp-select-input>
        </div>
    </div>
</div>

<div class="row mt-5" style="padding-left:1em;padding-right:1em;" ng-if="terms.showTermsPerc" ng-repeat="obj in terms.vendor.active.vendorterm">
    <div class="col-xs-5">
        <div class="input-group col-xs-12">
            <input maxlength="100" ng-disabled="terms.isReadOnly" class="form-control" type="number" min="0" max="100" step="0.01" placeholder="{{ '4008' | translate }}" ng-model="obj.discperc">
          <span class="input-group-addon" ng-if="obj.discperc===0"><span data-translate="4008">NET</span></span>
        </div>
    </div>
    <div class="col-xs-1">
        <h4 class="text-center">%</h4>
    </div>
    <div class="col-xs-5">
        <input type="number" min="0" max="10000" step="1" class="form-control" ng-disabled="terms.isReadOnly" ng-model="obj.days">
    </div>
    <div class="col-xs-1">
        <h4 data-translate="4009" class="text-center" ng-if="obj.days!==''&&obj.days">Days</h4>
        <h4 data-translate="3856" class="text-center" ng-if="obj.days==''||!obj.days">EOM</h4>
    </div>
</div>
