<div id="ac-inventory-wrapper">
    <div ng-if="!contextState.subsidiary_sid" class="row">
        <div class="col-xs-12">
          <div class="alert alert-warning" role="alert"><span data-translate="6856">Please select a subsidiary</span></div>
        </div>
    </div>
    <div ng-if="contextState.subsidiary_sid" class="row">

        <div class="col-sm-6">
            <div class="row">

                <div ng-hide="true" class="col-sm-12">
                    <div class="form-group">
                        <label><span data-translate="5183">Default Commission Code</span>(has to be modified)</label>
                        <select class="form-control" ng-disabled="false" ng-model="pData.inventory_default_commission_code_sid.value" ng-options="x.value as x.text for x in inventory_default_commission_code_sid">
                        </select>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label><span data-translate="5219">Margins Affect</span></label>
                        <select class="form-control" ng-disabled="false" ng-model="pData.inventory_have_margins_affect_cost.value" ng-options="x.value as x.text for x in inventory_have_margins_affect_cost">
                        </select>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label><span data-translate="5184">Style Definition Field</span></label>
                        <select class="form-control" ng-disabled="false" ng-model="pData.inventory_style_definition_field.value" ng-options="x.value as x.text for x in inventory_style_definition_field">
                        </select>
                    </div>
                </div>

              <!-- Commented out per DT 12950
                <div class="col-sm-12">
                    <div class="form-group">
                        <label><span data-translate="5185">Discount Price Level</span></label>
                        <select class="form-control" ng-disabled="false" ng-model="pData.inventory_discount_price_level_sid.value" ng-options="x.sid as x.price_level_name for x in inventory_discount_price_level_sid">
                            <option value="">Active</option>
                        </select>
                    </div>
                </div>
                 -->

                <div class="col-sm-12">
                    <div class="form-group">
                        <label><span data-translate="5220">Default Maximum Discount</span></label>
                        <input class="form-control" type="tel" numberonly="" min="0" max="100" ng-disabled="false" ng-model="pData.inventory_default_maximum_discount.value">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label><span data-translate="6207">Populate Max Discount From</span></label>
                        <select class="form-control" ng-disabled="false" ng-model="pData.populate_max_discount_from.value" ng-options="x.value as x.text | translate for x in populate_max_discount_from">
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">

                <div class="col-sm-12">
                    <div class="form-group">
                        <label><span data-translate="5221" ng-class="{'text-muted': !pData.inventory_enable_cost_difference_threshold.value}">Cost Difference Threshold</span></label>
                        <input class="form-control" type="tel" numberonly="" min="0" max="100" ng-disabled="!pData.inventory_enable_cost_difference_threshold.value" ng-model="pData.inventory_cost_difference_threshold.value">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">
                            <input ng-model="pData.inventory_enable_cost_difference_threshold.value" type="checkbox">
                            <span data-translate="5222">Enable Cost Difference Threshold</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">
                            <input ng-model="pData.inventory_alert_when_item_price_differs_with_style_price.value" type="checkbox">
                            <span data-translate="5223">Alert when Item Price differs with Style Price</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">
                            <input ng-model="pData.inventory_allow_negative_quantities.value" type="checkbox">
                            <span data-translate="5224">Allow Negative Quantities</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">
                            <input ng-model="pData.inventory_allow_duplicate_alu.value" type="checkbox">
                            <span data-translate="5229">Allow Duplicate ALU</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">
                            <input ng-model="pData.inventory_enable_alu_sequence.value" type="checkbox">
                            <span data-translate="5230">Enable ALU Sequence</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">
                            <input ng-model="pData.inventory_allow_duplicate_upc.value" type="checkbox">
                            <span data-translate="5226">Allow Duplicate UPC</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">
                            <input ng-model="pData.inventory_enable_upc_sequence.value" type="checkbox">
                            <span data-translate="5227">Enable UPC Sequence</span>
                        </label>
                    </div>
                </div>


                <!-- Not ready to use this preference yet...
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">
                            <input ng-model="pData.inventory_enable_style_udfs.value" type="checkbox">
                            <span data-translate="5225">Enable Style AUX/UDF</span>
                        </label>
                    </div>
                </div>-->

            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
