<form name="printDialogueForm" id="printDialogueForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4>{{printDialogTitle}}</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="designSelection" class="col-xs-3 control-label" data-translate="525">Print Design:</label>
        <div class="col-xs-9">
          <select id="designSelection" class="form-control" ng-model="printSpec.design" ng-options="d.sid as d.design_name for d in printTemplates"><option value="undefined" style="display:none" data-translate="1358">Select...</option></select>
        </div>
      </div>
      <div ng-class="{'form-group': true, 'has-success': printDialogueForm.printer.$valid, 'has-error': !printDialogueForm.$valid || printSpec.printer ==='DEFAULT'}">
        <label for="printerOptions" class="col-xs-3 control-label" data-translate="526">Printer:</label>
        <div class="col-xs-9">
          <select ng-change="refreshDesigns()" id="printerOptions" class="form-control" name="printer" ng-model="printSpec.printer" ng-options="p.sid as p.name for p in printerList" required="required"><option value="undefined" style="display:none" data-translate="1358">Select...</option></select>
        </div>
      </div>
      <!--
      <div ng-if="printTags && (docType ==='invnTags')" class="form-group">
        <div class="col-xs-12"><b>Source</b></div>
        <div class="col-xs-4 col-xs-offset-2"><input type="radio" ng-model='sourceType' value="selected" /> Selected Items</div>
        <div class="col-xs-4 col-xs-offset-2"><input type="radio" ng-model='sourceType' value="all"/> All Listed Items</div>
      </div>
      -->
      <div ng-if="printTags" class="form-group">
        <div class="col-xs-12"><b>Quantity</b></div>
        <div class="col-xs-10 col-xs-offset-2"><input type="radio" ng-model="printSpec.type" name="tagCopyType" value="2"> On Hand Quantity</div>
        <div class="col-xs-10 col-xs-offset-2" ng-hide="hideDocQty"><input type="radio" ng-model="printSpec.type" name="tagCopyType" value="1"> Document Quantity</div>
        <div class="col-xs-10 col-xs-offset-2"><input type="radio" ng-model="printSpec.type" name="tagCopyType" value="0"> Copies</div>
      </div>

      <div class="form-group">
        <label ng-if="!printTags" for="printQuantity" class="col-xs-5 control-label" data-translate="772">Quantity:</label>
        <label ng-if="printTags && (printSpec.type === 0)" for="printQuantity" class="col-xs-5 control-label" data-translate="4254">Copies</label>
        <label ng-if="printTags && (printSpec.type !== 0)" for="printQuantity" class="col-xs-5 control-label" data-translate="4255">Qty Multiplier</label>
        <div class="col-xs-7">
          <div class="col-xs-3">
            <button event-name="posPrintDialogueDecrement" id="decrementPrintQuantityButton" class="btn btn-info form-control" type="button" ng-click="decrementPrintQuantity()">-</button>
          </div>
          <div class="col-xs-6">
            <input id="printQuantity" type="text" class="form-control text-center" min="1" pattern="\d*" maxlength="2" ng-model="printSpec.quantity" onchange="">
          </div>
          <div class="col-xs-3">
            <button event-name="posPrintDialogueIncrement" id="incrementPrintQuantityButton" class="btn btn-info form-control" type="button" ng-click="incrementPrintQuantity()">+</button>
          </div>
        </div>
      </div>
      <div ng-if="!printTags" class="form-group">
        <label class="col-xs-3 control-label" data-translate="1462">Print Order:</label>
        <div class="col-xs-6">
          <label class="radio-inline">
            <input type="radio" ng-model="printSpec.printOrder" value="group" name="printorder" ng-checked="true" id="printGroup">
            <span data-translate="527">Group</span>
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="printSpec.printOrder" value="collate" name="printorder" id="printCollate">
            <span data-translate="528">Collate</span>
          </label>
        </div>
      </div>
      <div ng-if="!printTags" ng-class="{'row': true, 'has-success': printDialogueForm.emailAddress.$valid && printSpec.email !== '', 'has-error': !printDialogueForm.emailAddress.$valid}">
        <div for="emailAddress" class="col-xs-3 text-right">
          <p class="form-control-static">
            <strong data-translate="529">Email Address:</strong>
          </p>
        </div>
        <div class="col-xs-9">
          <input id="emailAddress" name="emailAddress" type="email" class="form-control" ng-model="printSpec.email">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <button event-name="posPrintDialoguePrint" type="submit" id="printButton" class="btn btn-lg btn-default" ng-click="print()" ng-disabled="printSpec.design.length === 0 || printSpec.printer.length === 0"><span data-translate="522">Print</span></button> 
          <button event-name="posPrintDialoguePreview" type="button" id="previewButton" class="btn btn-lg btn-default" ng-click="preview()" ng-disabled="printSpec.design.length === 0"><span data-translate="523">Preview</span></button> 
          <button ng-if="!printTags" event-name="posPrintDialogueEmail" type="button" name="emailButton" id="emailButton" class="btn btn-lg btn-default" ng-click="email()" ng-disabled="!printDialogueForm.emailAddress.$valid || printSpec.email.length === 0 || printSpec.design.length === 0"><span data-translate="524">Email</span></button>
          <button event-name="posPrintDialogueCancel" type="button" id="cancelPrintButton" class="btn btn-lg btn-default" ng-click="closeForm()"><span data-translate="1.2">Cancel</span></button>
        </div>
      </div>
    </div>
  </div>
</form>
