<div class="row padding-5">
    <div class="col-xs-12">
        <div class="row">
            <select class="form-control" ng-disabled="paymentTerms.disable()" ng-change="paymentTerms.onPaymentTermChange($event)" ng-model="paymentTerms.selected" ng-options="term as term.name for term in paymentTerms.list"></select>
        </div>
        <br>
        <div class="row padding-5" ng-if="paymentTerms.selected.childTemplate && paymentTerms.selected.contentReady">
            <div ng-include="paymentTerms.selected.childTemplate"></div>
        </div>
    </div>
</div>