<child-resource-form child-validator ng-required="false" label="phoneListI.label" disable-edit="phoneListI.mode==='view'" form-component="'<employee-emplphone-form></employee-emplphone-form>'" list-component="'<employee-emplphone-view></employee-emplphone-view>'" parent-form="phoneListI.service.formState" ng-model="phoneListI.service.active.emplphone">
</child-resource-form>
