<fieldset ng-disabled="uPerms.mode==='view'">
  <div class="col-xs-12 no-padding">
    <table class="table table-responsive table-striped col-xs-12" ng-if="uPerms.sections">
      <tbody>
        <tr class="form-group">
          <th class="text-left">
            <input type="text" ng-model="uPerms.permissionFilter" ng-keyup="uPerms.filterPermissions()" class="form-control" placeholder="{{ '6420' | translate }}">
          </th>
          <th><button type="button" ng-disabled="groupSid" ng-click="uPerms.selectAll('ALLOW');" class="btn btn-primary"><span data-translate="4521">Allow All</span></button></th>
          <th><button type="button" ng-disabled="groupSid" ng-click="uPerms.selectAll('OVERRIDE');" class="btn btn-primary"><span data-translate="4522">Override All</span></button></th>
          <th><button type="button" ng-disabled="groupSid" ng-click="uPerms.selectAll('DENY');" class="btn btn-primary"><span data-translate="4523">Deny All</span></button></th>
          <th>
            <a>
              <button ng-if="!uPerms.userGroup.isSelectedAllLogOverride" type="button" ng-disabled="groupSid" ng-click="uPerms.selectAll('LOGOVERRIDE');" class="btn btn-primary">
                <span data-translate="7280">Log Override All</span>
              </button>
            </a>
            <a>
              <button ng-if="uPerms.userGroup.isSelectedAllLogOverride" type="button" ng-disabled="groupSid" ng-click="uPerms.selectAll('LOGOVERRIDE');" class="btn btn-primary">
                <span data-translate="7281">Log Override Clear</span>
              </button>
            </a>
          </th>
        </tr>
      </tbody>
      <tbody ng-repeat="section in uPerms.sections">
        <tr>
          <th class="text-left">
            {{section.name}}
          </th>
          <th><a ng-if="uPerms.mode!=='view'" href="javascript:void(0);" ng-disabled="groupSid" ng-click="uPerms.selectAll('ALLOW',$parent.$index);"><span data-translate="4521">Allow All</span></a></th>
          <th><a ng-if="uPerms.mode!=='view'" href="javascript:void(0);" ng-disabled="groupSid" ng-click="uPerms.selectAll('OVERRIDE',$parent.$index);"><span data-translate="4522">Override All</span></a></th>
          <th><a ng-if="uPerms.mode!=='view'" href="javascript:void(0);" ng-disabled="groupSid" ng-click="uPerms.selectAll('DENY',$parent.$index);"><span data-translate="4523">Deny All</span></a></th>
          <th>
            <a ng-if="!section.isSelectedAllLogOverride && uPerms.mode!=='view'" href="javascript:void(0);" ng-disabled="groupSid" ng-click="uPerms.selectAll('LOGOVERRIDE',$parent.$index);">
              <span data-translate="7280">Log Override All</span>
            </a>
            <a ng-if="section.isSelectedAllLogOverride && uPerms.mode!=='view'" href="javascript:void(0);" ng-disabled="groupSid" ng-click="uPerms.selectAll('LOGOVERRIDE',$parent.$index);">
              <span data-translate="7281">Log Override Clear</span>
            </a>
          </th>
          <td>&nbsp;</td>
        </tr>
        <tr ng-repeat="permission in section.permissions" ng-if="uPerms.filteredPermissions.indexOf(permission.name)===-1">
          <td class="text-left">{{permission.translationid | translate}} </td>
          <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='ALLOW'" ng-model="permission.level" value="ALLOW" name="{{permission.translationid | translate}}" type="radio"></td>
          <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='OVERRIDE'" ng-if="!permission.noOverride" ng-model="permission.level" value="OVERRIDE" name="{{permission.translationid | translate}}" type="radio"></td>
          <td class="text-center"><input ng-click="setDirty()" ng-checked="permission.level=='DENY'" ng-model="permission.level" value="DENY" name="{{permission.translationid | translate}}" type="radio"></td>
          <td class="text-center"><input ng-click="setDirty()" ng-if="!permission.noOverride" ng-model="permission.logoverride" value="LOGOVERRIDE" name="{{permission.translationid | translate}}" type="checkbox"></td>
        </tr>
      </tbody>
    </table>
  </div>
</fieldset>
