<div>
  <label class="control-label">
    <span data-translate="4015">Instruction 3</span>
  </label>
  <input type="text" ng-readonly="purchaseOrder.saving" maxlength="60" ng-blur="saveInstruction()" class="form-control {{fieldClass}}" ng-disabled="!purchaseOrder.isEdit" ng-model="purchaseOrder.active.instruction3">
</div>
