<div class="row">
    <div class="col-xs-12">
        <div class="row" ng-show="!state.isThereAnImageSelected()">
            <div class="browse-wrap col-xs-12" ng-class="{'disabled':state.disable()}">
                <div class="title" ng-class="{'disabled':state.disable()}"><span data-translate="5009">Choose file to upload</span> <span class="glyphicon glyphicon-upload" aria-hidden="true"></span></div>
                <input ng-disabled="state.disable()" type="file" accept=".png,.bmp,.jpg" class="form-control upload" id="{{state.tempID}}" input-file="" ng-change="state.onImageSelected()" ng-model="state.imageData" base-sixty-four-input="undefined">
            </div>
        </div>
        <div ng-if="state.isThereAnImageSelected()" class="col-xs-12">
            <div class="img_to_upload">
                {{state.imageData.filename}} ({{state.imageData.filesize/1024 | number}}kb)<span ng-click="state.clearSelected()" class="del">X</span>
            </div>
        </div>
    </div>
</div>
