<button class="btn btn-default" ng-click="printASN()" ng-disabled="sharedData.receiving.voucher.recvitem.length===0||(sharedData.receiving.voucher.info.status!==3&&!sharedData.receiving.voucher.info.held)">
  <span data-translate="522">Print</span>
</button>
