<div class="col-xs-4">
    <label data-translate="845">Store OH Qty</label>
</div>
<div class="col-xs-8">
    <input ng-disabled="$ctrl.service.disableOnReadOnlyMode()||$ctrl.service.isPermissionDenied('ohqty')||(!$ctrl.service.item.active)||($ctrl.service.item.kittype > 0 && $ctrl.service.item.kittype < 3)||$ctrl.service.item.noninventory" enter-blur ng-blur="$ctrl.service.onQtyBlur($event)" type="text" numberonly ng-model="$ctrl.service.item.actstrohqty" decimals="{{$ctrl.service.item.useqtydecimals||0}}" class="form-control" id="imi-ohqty">
</div>
