<div class="btn-group btn-group-lg btn-group-justified" id="rpButtons">
    <div class="btn-group">
      <button class="btn btn-default btn-lg" ng-click="mergeScans()" data-permission="pimodifyquantity" data-permission-disabled="!piSheet.active || !prefs || currentPage==='default' || currentPage==='bad_scans'" type="button">
        <span data-translate="3717">Merge</span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-lg" ng-disabled="!piSheet.active || !prefs || currentPage!=='imported'" ng-click="importSheetItems()" type="button">
        <span data-translate="3719">Import</span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-lg" ng-disabled="!piSheet.active || !prefs || (currentPage === 'default') || (currentPage === 'add_counts')" ng-click="rejectScans()" type="button">
        <span data-translate="3718">Reject</span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-lg" ng-click="clearItemsScanQty()" data-permission="pimodifyquantity" data-permission-disabled="!enableClear() || currentPage==='bad_scans'" type="button">
        <span data-translate="3820">Clear Sel</span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-lg" ng-click="clearItemsScanQty(true)" data-permission="pimodifyquantity" data-permission-disabled="!piSheet.active || !prefs || currentPage==='bad_scans'" type="button">
        <span data-translate="1407">Clear All</span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-lg" ng-disabled="prefs" ng-click="goToZones(true)" type="button">
        <span data-translate="6580">Zones</span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-lg" ng-click="printPiSheetItems()" data-permission="PIPrintSheet" data-permission-disabled="!piSheet.active" type="button">
        <span data-translate="522">Print</span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default btn-lg" ng-click="checkUserChanges()" type="button">
        <span data-translate="583">Close</span>
      </button>
    </div>
  </div>
