<div class="row">
  <div class="col-xs-12">
    <div ng-if="$ctrl.hasData" ui-grid="$ctrl.gridOptions"></div>
    <div ng-if="!$ctrl.hasData" class="well well-sm text-center">
      <span class="glyphicon-ban-circle glyphicon"></span>
      <span data-translate="6703">No Pending Messages</span>
    </div>
  </div>
</div>
