<div class="navbar navbar-fixed-bottom navbar-default">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified" id="rpButtons">
                <action-button ng-repeat="btn in aBar.actionBar.buttons" btn-event="btn.event" alt-event="btn.altEvent" btn-hide="btn.hide" alt-hide="btn.altHide" btn-click="btn.click" btn-disabled="btn.disabled" btn-transid="btn.transid" btn-text="btn.text" alt-text="btn.altText" alt-click="btn.altClick" alt-transid="btn.altTransid" alt-flag="btn.altFlag" btn-permissions="btn.permissions" alt-permissions="btn.altPermissions" alt-disabled="btn.altDisabled"></action-button>
                <div class="btn-group" ng-if="aBar.actionBar.options">
                    <button type="button" class="btn btn-default" event-name="posOptionsButton" ng-disabled="aBar.actionBar.options.disabled()" ng-click="aBar.modal()">
                        <span data-translate="10">Options</span>
                    </button>
                </div>

                <div class="btn-group" ng-if="!aBar.actionBar.hideRproButton">
                    <rp-button></rp-button>
                </div>

            </div>
        </div>
    </div>
</div>
