﻿@model ReportNino.Models.ReportinventoryModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section searchfrom{
    
<form method="post">
    @Html.HiddenFor(m => m.store_name)
    @Html.HiddenFor(m => m.store_no)
    <p>

        <span>Từ ngày: @Html.TextBoxFor(m => m.from, new { type = "text", @class = "date_input", autocomplete = "off" })</span>
        <span>Từ ngày: @Html.TextBoxFor(m => m.to, new { type = "text", @class = "date_input", autocomplete = "off" })</span>
        <span><input type="submit" value="search" /></span>

    </p>
    <p>Cửa hàng :   @Html.DisplayFor(m => m.store_name)</p>
</form>
    }
<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline collapsed" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 982px;">
    <thead>
        <tr>
            <th>UPC</th>
            <th>Gia</th>
            <th>Màu</th>
            <th>Size</th>
            <th>Mã thiết kế</th>
            <th>UF10</th>
            <th>DK</th>
            <th>Nhập</th>
            <th>Xuất</th>
            <th>Bán</th>
            <th>DC</th>
            <th>Tồn</th>
            <th>Giá trị</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.data != null && Model.data.Count > 0)
        {
            foreach (var row in Model.data)
            {
                var price = int.Parse(row["PRICE"].ToString()) / 1000;
                var giatri = price * int.Parse(row["TON"].ToString());
                Model.sum_giatri = Model.sum_giatri + giatri;
                <tr>
                    <td>@row["UPC"].ToString()</td>
                    <td>@price</td>
                    <td>@row["ATTR"].ToString()</td>
                    <td>@row["SIZ"].ToString()</td>
                    <td>@row["DESCRIPTION1"].ToString()</td>
                    <td>@row["STRUCTURE_CLASS"].ToString()</td>
                    <td>@row["DK"].ToString()</td>
                    <td>@row["PS_PN"].ToString()</td>
                    <td>@row["PS_PX"].ToString()</td>
                    <td>@row["PS_HD"].ToString()</td>
                    <td>@row["PS_DC"].ToString()</td>
                    <td>@row["TON"].ToString()</td>
                    <td>@giatri</td>
                </tr>
            }
        }
    </tbody>
    <tfoot></tfoot>
</table>
<script>
    $(document).ready(function () {
        $('#kt_table_1').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5'

            ]
        });
    });
</script>
