<div class="col-xs-12">
  <label class="control-label" data-translate="6472">Base Subsidiary</label>
  <select-subsidiary ng-if="$ctrl.service.ready" form="$ctrl.service.formState" disable="$ctrl.sp.mode!=='new' || $ctrl.disabled" subsidiary="$ctrl.service.active.origsbssid" on-change="$ctrl.clearUDF" ng-required="true">
  </select-subsidiary>
</div>
