<div class="panel panel-default">
  <ng-form name="ins_form">
    <div class="panel-heading">
      <h4 data-translate="594">Notes</h4>
    </div>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-xs-6">
          <textarea ng-blur="saveNote()" ng-readonly="purchaseOrder.saving || !allowEditPoNotes" class="form-control {{fieldClass}}" ng-disabled="!purchaseOrder.isEdit || !allowEditPoNotes" ng-model="purchaseOrder.active.note"></textarea>
        </div>
      </div>
    </div>
  </ng-form>
</div>
