<div ng-if="transferSlip.slip.reversedflag && transferSlip.slip.refslipsid">
    <label class="control-label" data-translate="4162">Ref Doc Type</label><br>
    <span>{{transferSlip.slip.refdoctype}}</span>
</div>
