<div class="row">
  <div class="col-xs-12">
    <div class="row" ng-if="!field.service.isCentrals || (field.service.isCentrals && field.service.showCentralBal)">
      <label class="col-xs-6 text-left">
        <strong data-translate="550">Avail Store Credit:</strong>
      </label>
      <div class="col-xs-6 input-group">
        <input readonly="readonly" class="form-control" type="number" ng-model="field.service.active.storecredit" ng-if="!field.service.isCentrals">
        <input readonly="readonly" class="form-control" type="number" ng-model="field.service.active.centralcredit" ng-if="field.service.isCentrals && field.service.showCentralBal">
        <span class="input-group-addon" style="padding:0px;">
          <button class="btn btn-info" ng-click="field.checkCentralCreditBalance()" style="margin:-1px; text-transform:capitalize" ng-if="field.service.isCentrals && field.service.showCentralBal">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
