<button event-name="resetUserPassword" type="button" ng-disabled="button.disable()" class="btn btn-default btn-block" ng-click="button.action()">
    <span data-translate="5537">Change Password</span>
</button>
