<div class="form-group">
  <div class="row" ng-if="!promotion.reward_coupon_type">
    <div class="col-xs-12">
      <label for="coupon_code" data-translate="4362">
        Coupon Code
      </label>
      <input type="text" class="form-control uppercase" id="coupon_code" required-box="" required-status="{{[8].indexOf(promotion.general_promo_type) !== -1}}" ng-model="promotion.reward_coupon_code" ng-blur="promotionService.put($event)" enter-blur="undefined">
    </div>
  </div>
  <div class="row form-group" ng-if="promotion.reward_coupon_type">
    <div class="col-xs-12">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <label for="couponSet" data-translate="6424">
              Coupon Set
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <select id="couponSet" name="couponSet" class="form-control" ng-options="c.setid as c.setname for c in couponSetList" ng-model="promotion.reward_coupon_setid" ng-change="updateCoupon()">
                <option value="-1" data-translate="3655">None</option>
              </select>
              <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="createCoupon()">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </span>
            </div><!-- /input-group -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
