<div>
  <div class="row">
    <div class="col-xs-6">
      <div class="control-group">
        <label class="control-label" for="searchField" data-translate="1497">Lookup Type:</label>
        <select class="form-control" id="searchField" ng-model="formData.searchField" ng-options="field for field in searchFields">
          <option value="" style="display:none" data-translate="1358">Select...</option>
        </select>

        <label class="control-label" for="inventoryItem" data-translate="1415">Item Lookup:</label>
        <input type="text" class="form-control" id="inventoryItem" ng-model="formData.inventoryItem" placeholder="{{ '1998' | translate }} " bar-code ng-keydown="findItem($event)">
      </div>
    </div>
    <div class="col-xs-6">
      <table class="table table-striped table-bordered table-condensed" style="margin-top: 25px;">
        <tbody>
        <tr>
          <td class="col-xs-3" data-translate="681">DCS:</td>
          <td class="col-xs-9" ng-bind="selectedInventoryItem.dcscode"></td>
        </tr>
        <tr>
          <td class="col-xs-3" data-translate="3533">Vendor Code:</td>
          <td class="col-xs-9" ng-bind="selectedInventoryItem.vendorcode"></td>
        </tr>
        <tr>
          <td class="col-xs-3" data-translate="675">Desc 1:</td>
          <td class="col-xs-9" ng-bind="selectedInventoryItem.description1"></td>
        </tr>
        <tr>
          <td class="col-xs-3" data-translate="676">Desc 2:</td>
          <td class="col-xs-9" ng-bind="selectedInventoryItem.description2"></td>
        </tr>
        <tr>
          <td class="col-xs-3" data-translate="1501">Desc 3:</td>
          <td class="col-xs-9" ng-bind="selectedInventoryItem.description3"></td>
        </tr>
        <tr>
          <td class="col-xs-3" data-translate="679">Size:</td>
          <td class="col-xs-9" ng-bind="selectedInventoryItem.itemsize"></td>
        </tr>
        <tr>
          <td class="col-xs-3" data-translate="678">Attr:</td>
          <td class="col-xs-9" ng-bind="selectedInventoryItem.attribute"></td>
        </tr>
        <tr>
          <td class="col-xs-3" data-translate="841">ALU:</td>
          <td class="col-xs-9" ng-bind="selectedInventoryItem.alu"></td>
        </tr>
        <tr>
          <td class="col-xs-3" data-translate="677">UPC:</td>
          <td class="col-xs-9">{{selectedInventoryItem.upc|padUPC}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
