<div>
	<div class="form-group">
		<button class="btn" ng-class="{'btn-info':checkValidation(0,'reward_validation_mode'), 'btn-primary':!checkValidation(0, 'reward_validation_mode')}" type="button" ng-disabled="promotionService.saving||!([3,4].indexOf(promotion.general_promo_type)===-1)" ng-click="updateValidationMode('reward_validation_mode',0)">
            <span data-translate="2154">Normal</span>
        </button>
		<button class="btn" ng-class="{'btn-info':checkValidation(1,'reward_validation_mode'), 'btn-primary':!checkValidation(1, 'reward_validation_mode')}" type="button" ng-disabled="promotionService.saving||!([1,2,4,5,6].indexOf(promotion.general_promo_type)===-1)" ng-click="updateValidationMode('reward_validation_mode',1,overrideValidationSaleItemQty)">
            <span data-translate="4382">Tiered</span>
        </button>
		<button class="btn" ng-class="{'btn-info':checkValidation(2, 'reward_validation_mode'), 'btn-primary':!checkValidation(2, 'reward_validation_mode')}" type="button" ng-disabled="promotionService.saving||!([1,2,3,5,6].indexOf(promotion.general_promo_type)===-1)" ng-click="updateValidationMode('reward_validation_mode', 2,overrideValidationSaleItemQty)">
            <span data-translate="4383">Rolling</span>
        </button>
	</div>
	<div class="form-group">
		<label for="discount_type" data-translate="1150">Discount Type</label>
		<select id="discount_type" class="form-control" blur-on-change="" ng-model="promotion.reward_validation_disc_type" ng-disabled="promotionService.saving||disableItemDiscountType()" ng-blur="promotionService.put($event)" ng-options="disc.value as disc.name for disc in getItemDiscountTypes()">
			<option value="" style="display:none"></option>
		</select>
	</div>
	<div class="form-group" ng-if="checkValidation(0, 'reward_validation_mode')">
		<label for="discount_value" data-translate="4363">Discount Value</label>
		<div ng-if="promotion.reward_validation_disc_type !== 4">
		    <input type="text" id="discount_value" class="form-control" ng-if="promotion.reward_validation_disc_type !== 1" numberonly="" data-currency-formatter="currency" ng-model="promotion.reward_validation_disc_value" ng-disabled="promotionService.saving" ng-blur="promotionService.put($event)" enter-blur="undefined">
		    <input type="text" id="discount_value" class="form-control" ng-if="promotion.reward_validation_disc_type === 1" numberonly="" data-currency-formatter="number" ng-model="promotion.reward_validation_disc_value" ng-disabled="promotionService.saving" ng-blur="promotionService.put($event)" enter-blur="undefined">
		</div>
		<div ng-if="promotion.reward_validation_disc_type === 4">
		    <select id="discount_value" class="form-control" blur-on-change="" ng-required="true" ng-model="promotion.reward_validation_pl_sid" ng-disabled="promotionService.saving||disableItemDiscountType()" ng-blur="promotionService.put($event)" ng-options="pl.value as pl.name for pl in plPrices">
			    <option value="" style="display:none"></option>
		    </select>
		</div>
    </div>

	<div ng-if="promotion.reward_validation_disc_type === 4">
		<div class="form-group">
			<label for="add_discount_type">Additional Discount Type</label>
			<select id="add_discount_type" class="form-control" blur-on-change="" ng-model="promotion.reward_additional_disc_type" ng-disabled="promotionService.saving||disableItemDiscountType()" ng-blur="promotionService.put($event)" ng-options="disc.value as disc.name for disc in additionalDiscountTypesPL">
				<option value=""> None </option>
			</select>

		</div>
    <div ng-if="promotion.reward_additional_disc_type === 1 || promotion.reward_additional_disc_type === 2">
		  <div class="form-group">
			  <label for="add_discount_value">Additional Discount Value</label>
			  <input type="text" id="add_discount_value" class="form-control" ng-if="promotion.reward_additional_disc_type === 1" numberonly="" data-currency-formatter="number" ng-model="promotion.reward_additional_disc_value" ng-disabled="promotionService.saving" ng-blur="promotionService.put($event)" enter-blur="undefined">
			  <input type="text" id="add_discount_value" class="form-control" ng-if="promotion.reward_additional_disc_type === 2" numberonly="" data-currency-formatter="currency" ng-model="promotion.reward_additional_disc_value" ng-disabled="promotionService.saving" ng-blur="promotionService.put($event)" enter-blur="undefined">
		  </div>
    </div>
	</div>

	<div class="fomr-group" ng-if="checkValidation(1, 'reward_validation_mode')||checkValidation(2, 'reward_validation_mode')">
		<discount-tier disable="promotionService.saving" parent="promotion.sid" parent-name="'promo_sid'" resource="'RewardItemDiscountTier'" titles="itemDiscountTierTitles" update="promotionService.updateRowVersion"></discount-tier>
	</div>
</div>
