<div>
	<div class="form-group">
		<button class="btn" ng-class="{'btn-info':checkValidation(0, 'reward_gd_mode'), 'btn-primary':!checkValidation(0, 'reward_gd_mode')}" type="button" ng-disabled="promotionService.saving" ng-click="updateValidationMode('reward_gd_mode',0)">
            <span data-translate="2154">Normal</span>
        </button>
		<button class="btn" ng-class="{'btn-info':checkValidation(1, 'reward_gd_mode'), 'btn-primary':!checkValidation(1, 'reward_gd_mode')}" type="button" ng-disabled="promotionService.saving" ng-click="updateValidationMode('reward_gd_mode',1)">
            <span data-translate="4382">Tiered</span>
        </button>
		<!-- <button class="btn" ng-class="{'btn-info':checkValidation(2, 'reward_gd_mode'), 'btn-primary':!checkValidation(2, 'reward_gd_mode')}" type="button" ng-disabled="promotionService.saving" ng-click="updateValidationMode('reward_gd_mode',2)">Rolling</button> -->
	</div>
	<div class="form-group">
		<label for="discount_type" data-translate="1150">Discount Type</label>
		<select id="discount_type" blur-on-change="" class="form-control" ng-model="promotion.reward_gd_disc_type" ng-disabled="promotionService.saving" ng-blur="promotionService.put($event)" ng-options="disc.value as disc.name for disc in transactionDiscountTypes">
			<option value="" style="display:none"></option>
		</select>
	</div>
	<div class="form-group" ng-if="checkValidation(0, 'reward_gd_mode')">
		<label for="discount_value" data-translate="4363">Discount Value</label>
		<input type="text" id="discount_value" ng-if="promotion.reward_gd_disc_type !== 1" numberonly="" data-currency-formatter="currency" class="form-control" ng-model="promotion.reward_gd_disc_value" ng-disabled="promotionService.saving" ng-blur="promotionService.put($event)" enter-blur="undefined">
		<input type="text" id="discount_value" ng-if="promotion.reward_gd_disc_type === 1" numberonly="" data-currency-formatter="number" class="form-control" ng-model="promotion.reward_gd_disc_value" ng-disabled="promotionService.saving" ng-blur="promotionService.put($event)" enter-blur="undefined">
	</div>
	<div class="fomr-group" ng-if="checkValidation(1, 'reward_gd_mode')||checkValidation(2, 'reward_gd_mode')">
		<discount-tier disable="promotionService.saving" parent="promotion.sid" parent-name="'promo_sid'" resource="'RewardTransactionDiscountTier'" titles="transactionDiscountTierTitles" update="promotionService.updateRowVersion"></discount-tier>
	</div>
</div>
