<form name="form.giftReceiptForm" id="giftReceiptForm" class="form-horizontal">
  <div class="modal-container">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="3340">Gift Receipt Items</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row top-margin">
          <div class="col-xs-12">
            <span data-translate="3341">Select one or more items for a gift receipt.</span>
          </div>
        </div>
        <!-- The following HTML was commented for now, on 4/2/2018.  Per Thanom, the lookup feature is more complex than what this is set up for, and requires much more coding.
        <!--<div class="row top-margin">
          <div class="col-xs-6">
            <input type="text" bar-code type="text" id="giftItemLookup" name="giftItemLookup" class="form-control" placeholder="{{ '1415' | translate }}" ng-blur="findItem()" ui-keypress="{13:'findItem();'}" ng-model="form.item_lookup">
          </div>
        </div>-->
        <div class="row top-margin">
          <div class="col-xs-12">
            <div id="transactionItems" class="MediumResultsPane autoOverflow height63">
              <div class="list-group col-xs-12">
                <documentitem template="gift-receipt-template.htm"></documentitem>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <gift-receipt1to1-button></gift-receipt1to1-button>
          <gift-receipt-all-button></gift-receipt-all-button>
          <gift-receipt-selected-button></gift-receipt-selected-button>
          <gift-receipt-cancel-button></gift-receipt-cancel-button>
        </div>
      </div>
    </div>
  </div>
  <script>iosModalFix();</script>
</form>
