<div class="col-xs-12">
    <div class="row">
        <h4 class="text ng-scope" data-translate="5684">Policy</h4>        
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">            
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="pData.enforce_strong_password.value"> <span data-translate="5685">Enforce strong password</span>
                    </label>
                </div>
                <!--<div class="form-group">
                    <label for="enforce_password_history" data-translate="needsID">Enforce password history</label>
                    <input type="text" class="form-control" numberonly="" min="0" max="24" id="enforce_password_history" ng-model="pData.enforce_password_history.value" placeholder="{{ '5530' | translate }}">
                </div>
                <div class="form-group">
                    <label for="password_expires_after" data-translate="needsID">Password expires after</label>
                    <input type="text" class="form-control" numberonly="" min="0" max="999" id="password_expires_after" ng-model="pData.password_expires_after.value" placeholder="{{ '5531' | translate }}">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="pData.prompt_before_expiration.value"> <span data-translate="needsID">Prompt user to Change Password before expiration</span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="lock_after_failed_logon_attempts" data-translate="needsID">Lock user account after failed logon attempts</label>
                    <input type="text" class="form-control" numberonly="" min="0" max="999" id="lock_after_failed_logon_attempts" ng-model="pData.lock_after_failed_logon_attempts.value" placeholder="{{ '5531' | translate }}">
                </div>
                <div class="form-group">
                    <label for="lockout_duration" data-translate="needsID">User account Lockout Duration</label>
                    <input type="text" class="form-control" numberonly="" min="1" max="999" id="lockout_duration" ng-model="pData.lockout_duration.value" placeholder="{{ '5531' | translate }}">
                </div>-->            
        </div>
        <!--<div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row padding-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="pData.log_successfull_login.value"> <span data-translate="needsID">Log successful logon attempts</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="pData.log_failed_login.value"> <span data-translate="needsID">Log failed logon attempts</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="pData.log_password_change.value"> <span data-translate="needsID">Log user password changes</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="pData.log_user_group_change.value"> <span data-translate="needsID">Log user/group changes</span>
                    </label>
                </div>
            </div>
        </div>-->
    </div>
</div>
