<div class="col-xs-3 no-left-padding">
  <label data-translate="2731">Class</label>
</div>
<div class="col-xs-4">
  <input ng-disabled="true" type="text" ng-model="$ctrl.service.dcs.data.cname" class="form-control" id="imi-class">
</div>
