<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 text-left">
        <strong data-translate="6592">Avail Pts</strong>
      </div>
      <div class="col-xs-8">
        <button ng-if="field.customerPayment.loyaltyFields.balance === '' && field.customerPayment.seePtsOverride" class="btn btn-primary" ng-click="field.customerPayment.seePoints()"><span data-translate="4875">See points</span></button>
        <div class="input-group">
          <input class="form-control" ng-if="field.customerPayment.loyaltyFields.balance === '' && !field.customerPayment.seePtsOverride" type="text" value="***" disabled="disabled">

          <input type="tel" class="form-control" ng-if="field.customerPayment.loyaltyFields.balance !== ''" ng-model="field.customerPayment.loyaltyFields.balance" decimals="{{field.ltyDecimals}}" data-format-decimal="{{field.ltyDecimals}}" ng-blur="field.validate()" ng-focus="field.setCurrentBalance()" ng-disabled="field.ngDisabled || !field.customerPayment.loyaltyFields.optin || !field.allowAdjust">

          <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
