<div class="pane panel-default" style="z-index: 5000;">
    <div class="panel-heading">
      <h4><span data-translate="6963">Create new Zone</span></h4>
    </div>
    <div class="panel-body">
        <form name="form">
            <div class="form-group">
              <label for="store"><span data-translate="4155">Store No</span></label>
                <input type="text" id="store" disabled="disabled" ng-model="store_number" class="form-control">
            </div>
            <div class="form-group">
              <label for="name"><span data-translate="1113">Name</span></label>
                <input type="text" id="name" required ng-model="zone.name" autofocus class="form-control">
            </div>
            <div class="form-group">
              <label for="notes"><span data-translate="594">Notes</span></label>
                <textarea type="text" id="notes" ng-model="zone.notes" class="form-control"></textarea>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <button class="btn btn-default" ng-disabled="form.$invalid" ng-click="create()">
                      <span data-translate="2904">Create</span>
                    </button>
                    <button class="btn btn-default" ng-click="cancel()">
                      <span data-translate="1.2">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
