<div class="form-group">
    <input type="text" placeholder="{{ 'TO#' | translate }}" numberonly="" class="form-control" ng-model="search.tono">
</div>
<!--<div class="form-group">
    <input type="text" placeholder="{{ '3941' | translate }}" class="form-control" ng-model="search.pono">
</div>-->
<div class="form-group">
    <label data-translate="699">Associate</label>
    <select-associate ng-model="search.clerksid"></select-associate>
</div>
<div class="form-group">
    <label>
        <input type="radio" ng-init="search.active=true" name="active" value="true" ng-checked="search.active" ng-model="search.active">
        <span data-translate="586">Active</span>
    </label>
    <label>
        <input type="radio" ng-click="search.active=false" name="active" value="false" ng-checked="!search.active" ng-model="search.active">
        <span data-translate="2916">Inactive</span>
    </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-init="search.held=false" name="active" ng-model="search.held">
    <span data-translate="1454">Held</span>
  </label>
</div>
