<button type="button" class="btn btn-info" ng-disabled="(!enableToLookupButton())||(transferSlip.slip.status!==3)" ng-click="openToLookup();">
  <span class="glyphicon glyphicon-search"></span>
</button>
