<div class="panel panel-default search-panel">
  <div class="panel-heading" style="height:40px;">
    <div class="row">
      <div class="col-xs-8">
        <button class="btn btn-default search-filter-toggle-small" ng-if="!$ctrl.toggle" ng-click="$ctrl.toggleFilters()">
          <span data-translate="635">Filter</span> <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <span data-translate="6335" ng-class="{'search-result-title-on-small':$ctrl.toggle,'search-result-title-off-small':!$ctrl.toggle}">Results</span>
      </div>
      <div class="col-xs-4 text-right" ng-if="searchResults.resourceLookupService.results!==undefined">
        <span class="badge-info badge record-count" ng-if="searchResults.resourceLookupService.results">Total Records {{searchResults.resourceLookupService.recordCount}}</span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div ng-if="$ctrl.bs.resultsGrid.length>0" ui-grid-selection="" ui-grid-auto-resize="" ui-grid-resize-columns="" ui-grid-cellnav="" ng-class="'batch-asn-list-grid grid'" ui-grid="$ctrl.gridSettings"></div>
    <div class="well well-sm text-center no-results-batch-rcv" style="position:relative;" ng-if="!$ctrl.bs.resultsGrid||$ctrl.bs.resultsGrid.length===0">
      <em style="font-size:24px;" data-translate="2333">No Records Found</em>
      <span style="font-size:75px;" class="glyphicon glyphicon-ban-circle center-icon"></span>
    </div>
  </div>
  <div class="panel-footer text-center">
    <paging ng-if="$ctrl.bs.resultsGrid.length>0" record-count="$ctrl.bs.searchResultCount" results-per-page="30" page="$ctrl.bs.resultPage" call-back="$ctrl.changePage(pg)"></paging>
  </div>
</div>
