<div class="col-xs-3 no-left-padding">
  <label data-translate="2734">Vendor Name</label>
</div>
<div class="col-xs-9">
  <input ng-disabled="true" type="text" ng-model="$ctrl.service.item.vendorname" class="form-control" id="imi-vendorName">
</div>
