<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label" data-translate="1135">Company</label>
    <input id="company" name="company" type="text" class="form-control" ng-focus="field.processingCompany=true" ng-blur="field.checkCompany()" ng-model="field.service.active.company">
  </div>
</div>
