 <!--  removed this condition from data-permission-disabled = noOrders|| for DT15524-->
 <span>
   <button event-name="posTransactionOrder" tabindex="708" type="button" class="btn btn-info ng-isolate-scope" id="orderItemTypeButton" data-permission="orderitem" data-permission-disabled="noOrders||!canOrder||restrictAddItemTypeSwitching()||orderButton||checkForSpecialOrders()" rp-popover="{{popper}}" pop-width="element" align="bottom" ng-click="setGlobalItemType(3,local_order_type)" ng-class="{'active-item-type':(default.item_type*1===3)}">
    <span ng-if="local_order_type*1===0&&default.item_type*1===3" data-translate="790" class="ng-scope">Customer</span>
    <span ng-if="local_order_type*1===2&&default.item_type*1===3" data-translate="895" class="ng-scope">Layaway</span>
    <span data-translate="749" class="ng-scope">Order</span>
  </button>
</span>
