<ng-form roll="form" name="pref_form" ng-controller="formStatEmitter" class="pref_form">

  <div class="row" ng-if="isSubsidiary" style="margin-top:0.5em;margin-bottom:1em;">
      <div class="col-xs-12">
          <label for="seasonal_pricing">
            <input type="checkbox" ng-model="pData.merchandise_pricing_use_seasonal_pricing.value" name="seasonal_pricing" id="seasonal_pricing">
            <span data-translate="6436"> Use Seasonal Pricing</span>
          </label>
        </div>
  </div>
  <div class="prefs {{ menuState.stat }}" ng-controller="priceLevels_ctrl" ng-click="activeRow=undefined;">
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-if="contextState.level !== 'subsidiary'" class="row">
          <div class="col-xs-12">
            <div class="alert alert-warning" role="alert"><span data-translate="6861">Price Levels can only be displayed at the subsidiary level.</span></div>
          </div>
        </div>
        <div ng-if="contextState.level === 'subsidiary'" class="row form-group">
          <div class="col-xs-12 rep-grid-wrapper">
            <div ui-grid-resize-columns="" class="rep-grid" ui-grid="gridOptions" ui-grid-selection="" external-scopes="gridHandlers"></div>
          </div>
        </div>
      </div>
      </div>
      <div ng-if="contextState.level === 'subsidiary'">
        <!--
        <div class="col-xs-6 text-left">
          <input type="checkbox" ng-change="toggleActive()" ng-model="showInactive" class=""></input>
          <span class="checkbox_label" data-translate="4462">Show Inactive</span>
        </div>
        -->
        <div class="text-right">
          <button type="button" ng-click="addPriceLevel()" class="btn btn-primary"><span data-translate="1.8">Add</span></button>
          <button type="button" ng-disabled="priceLevels.active==undefined||priceLevels.active==null" ng-click="editPriceLevel()" class="btn btn-primary"><span data-translate="774">Edit</span></button>
          <!--<button type="button" ng-disabled="priceLevels.active==undefined||priceLevels.active==null" ng-click="deletePriceLevel()" class="btn btn-primary"><span data-translate="544">Delete</span></button> -->
        </div>
      </div>
    </div>
   </ng-form>