<div class="hidden">
    <button ng-if="button.showLayout(1)" event-name="transferOrderLookupAccess" type="button" ng-disabled="button.disable()" class="btn btn-info btn-block" ng-click="button.action()">
        <span data-translate="5382">Transfer Orders Lookup</span>
    </button>
    <img-btn ng-if="button.showLayout(2)" event-name="transferOrderLookupAccess" translation-name="'5382'" img-src="'/images/pos/pos_new_48.png'" click-handler="button.action" disable="button.disable()" button-text="'Transfer Orders Lookup'" permission-name="'transferorderaccess'"></img-btn>
</div>
