<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <h3>{{splitUi.config.title}}</h3>
        </div>
        <div class="col-xs-9 text-right" ng-if="splitUi.config.topInclude">
          <split-panel-compiler config="splitUi.config.topInclude"></split-panel-compiler>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="container-fluid" style="overflow:auto;">
        <div class="row">
          <div ng-class="(splitUi.config.isPortrait) ? 'col-xs-12' : (splitUi.showLeftTab) ? 'col-xs-6' : ''" ng-show="splitUi.showLeftTab">
            <div class="col-xs-12 no-padding">
              <div class="row row-container mobile-screen-title">
                <div class="col-xs-8">
                  <span>{{splitUi.config.leftPanel[splitUi.leftTab].translationId | translate}}</span>
                </div>
                <div class="col-xs-4" ng-if="splitUi.config.allowTabToggle">
                  <button class="btn btn-default" ng-click="splitUi.toggleLeftTab()">
                    <span class="glyphicon glyphicon-chevron-left" style="font-size: medium;"></span>
                  </button>
                </div>
              </div>
              <div class="row row-container split-ui-tab-content single-tab" style="height:70vh">
                <split-panel-compiler config="splitUi.config.leftPanel[splitUi.leftTab]"></split-panel-compiler>
              </div>
              <div class="row" ng-if="splitUi.config.leftPanel.length>1">
                <div class="btn-group btn-group-justified" style="padding-left:3px;padding-right:3px;">
                  <div class="btn-group" ng-repeat="btn in splitUi.config.leftPanel">
                    <button type="button" class="btn" ng-class="{'btn-info':splitUi.leftTab===$index.toString(),'btn-default':splitUi.leftTab!==$index.toString()}" event-name="{{btn.name}}" ng-disabled="splitUi.leftTab===$index.toString()" ng-click="splitUi.setTab($index.toString(),'left')">
                      <span>{{btn.translationId | translate}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-class="{'col-xs-6':splitUi.showLeftTab,'col-xs-12':!splitUi.showLeftTab}" ng-if="splitUi.config.rightPanel.length">
            <div class="col-xs-12">
              <div class="row row-container mobile-screen-title">
                <div class="col-xs-12">
                  <button class="btn btn-default" ng-if="!splitUi.showLeftTab" ng-click="splitUi.toggleLeftTab()" style="float: left;">
                    <span class="glyphicon glyphicon-chevron-right" style="font-size: medium;"></span>
                  </button>
                  <span>{{splitUi.config.rightPanel[splitUi.rightTab].translationId | translate}}</span>
                </div>
              </div>
              <div class="row row-container split-ui-tab-content single-tab" style="height:70vh!important;">
                <split-panel-compiler config="splitUi.config.rightPanel[splitUi.rightTab]"></split-panel-compiler>
              </div>
              <div class="row" ng-if="splitUi.config.rightPanel.length>1">
                <div class="btn-group btn-group-justified" style="padding-left:3px;padding-right:3px;">
                  <div class="btn-group" ng-repeat="btn in splitUi.config.rightPanel">
                    <button type="button" class="btn" ng-class="{'btn-info':splitUi.rightTab===$index.toString(),'btn-default':splitUi.rightTab!==$index.toString()}" event-name="{{btn.name}}" ng-disabled="splitUi.rightTab===$index.toString()" ng-click="splitUi.setTab($index.toString(),'right')">
                      <span>{{btn.translationId  | translate}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="panel-footer">
    <action-button-bar action-bar="splitUi.config.buttonBar"></action-button-bar>
  </div>
</div>
