<ng-form name="form" id="qtyDropMenu">
  <button tabindex="714" type="button" event-name="posTransactionUp" class="btn btn-info" id="quantityPlusOneButton" ng-click="toggleQtyEdit()" ng-disabled="isDisabled"><span data-translate="772">Quantity</span></button>
  <div ng-if="qtyEditMode">
    <ul id="qtyDropMenuList" class="nav nav-tabs nav-stacked">
      <li id="qtyDropMenuItem" class="drop-menu">
        <div class="input-group">
          <input type="text" class="form-control" name="qtyInput" ng-keydown="submitEnter($event)" ng-class="{'ng-invalid':form.qty<minQty || !form.qty}" numberonly="" decimals="{{item.inventory_use_quantity_decimals}}" ng-model="form.qty">
          <span class="input-group-btn">
            <button type="button" class="btn btn-info" event-name="posItemQtyChange" id="itemQtyClick" call-back="changeQty()" ng-disabled="form.qty<minQty" ng-click="toggleQtyEdit();" style="padding-left:10px;">
              <span class="glyphicon glyphicon-check"></span>
            </button>
          </span>
        </div>
      </li>
    </ul>
  </div>
</ng-form>
