<button ng-if="layout === 0" type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()" event-name="generateVoucherFromAsn">
    <span data-translate="4741">Generate Voucher</span>
</button>
<button ng-if="layout === 1" class="btn btn-info btn-block" ng-disabled="button.disable()" ng-click="button.action()" type="button" event-name="generateVoucherFromAsn">
    <span data-translate="4741">Generate Voucher</span>
</button>