<div>
    <div class="btn-group">
        <button ng-disabled="invnItemSvc.editMode===null||invnItemSvc.saving" class="btn btn-default" ng-click="invnItemSvc.save()">
            <span data-translate="547">Save</span>
        </button>
    </div>
    <div class="pull-right">
        <modal-close-button></modal-close-button>
    </div>
</div>