<div class="btn-group btn-group-lg btn-group-justified footer-btn-group" id="rpButtons">
	<div class="btn-group" ng-if="buttonBar.mode !== 'edit'">
		<button event-name="createNewInventoryItem" type="button" class="btn btn-default" ng-click="buttonBar.new.action(state.store, state.priceLevel)" ng-disabled="buttonBar.new.disable()">
			<span data-translate="581">New</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit'">
		<button event-name="cancelInventoryItemChangesAction" type="button" class="btn btn-default" ng-click="buttonBar.cancel.action(state.item, state.store, state.priceLevel)" ng-disabled="buttonBar.cancel.disable(buttonBar.mode)">
			<span data-translate="1.2">Cancel</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode !== 'edit'">
		<button event-name="editSelectedInventoryItem" type="button" class="btn btn-default" ng-click="buttonBar.edit.action(state.item, state.store, state.priceLevel)" ng-disabled="buttonBar.edit.disable()||(!state.isInventoryItemSelected() && state.grid.activeItems && state.grid.activeItems.length !== 1)">
			<span data-translate="774">Edit</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit'">
		<button event-name="saveSelectedInventoryItem" type="button" class="btn btn-default" click-by-flag disable-click-flag="state.disableSaveButton" ng-mouseup="buttonBar.save.action(state.item, state.invnExtend, state.invnPrice, state.invnQty, state.store, state.priceLevel, state.snAdjItems, state.lnAdjItems)" ng-disabled="buttonBar.save.disable()">
			<span data-translate="547">Save</span>
		</button>
	</div>
	<!--<div class="btn-group">
		<button event-name="copySelectedInventoryItem" type="button" class="btn btn-default" ng-click="buttonBar.copy.action(state.item, state.store, state.priceLevel)" ng-disabled="buttonBar.copy.disable()||!state.isInventoryItemSelected()||(buttonBar.mode === 'edit')">
			<span data-translate="582">Copy</span>
		</button>
	</div>-->
	<div class="btn-group" ng-if="state.item && state.item.active && buttonBar.mode !== 'edit' && buttonBar.mode === 'readonly'">
		<button event-name="deactivateSelectedItem" type="button" class="btn btn-default" ng-click="buttonBar.deactivate.action(state.item)" ng-disabled="buttonBar.deactivate.disable()||(buttonBar.mode === 'edit')">
			<span data-translate="3041">Deactivate</span>
		</button>
	</div>
	<div class="btn-group" ng-if="state.item && !state.item.active && buttonBar.mode !== 'edit' && buttonBar.mode === 'readonly'">
		<button event-name="activateSelectedItem" type="button" class="btn btn-default" ng-click="buttonBar.activate.action(state.item)" ng-disabled="buttonBar.activate.disable()||(buttonBar.mode === 'edit')">
			<span data-translate="2334">Activate</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode !== 'edit' && buttonBar.mode !== 'readonly'">
		<button event-name="showSelectedItemDetails" permission-disabled="(buttonBar.itemDetail.disable())||(!state.isInventoryItemSelected()&&state.grid.activeItems && state.grid.activeItems.length !== 1)" data-permission="viewitemdetails" type="button" class="btn btn-default" ng-click="buttonBar.itemDetail.action(state.item, state.store, state.priceLevel)">
			<span data-translate="5249">Item Detail</span>
		</button>
	</div>
	<div class="btn-group" ng-if="buttonBar.mode === 'edit' || buttonBar.mode === 'readonly'">
		<button event-name="showInventoryList" type="button" class="btn btn-default" ng-click="buttonBar.itemList.action(state.store, state.priceLevel, state.item)" ng-disabled="buttonBar.itemList.disable()||(buttonBar.mode === 'edit')">
			<span data-translate="5354">Item List</span>
		</button>
	</div>
	<div class="btn-group">
		<button event-name="inventoryOptionsButtonAction" type="button" class="btn btn-default" ng-click="buttonBar.options.action(state.item, state.grid.activeItems, state.grid, state.store, state.priceLevel)" ng-disabled="buttonBar.options.disable()||(state.grid.settings.totalRecords===0) || (buttonBar.mode === 'edit')">
			<span data-translate="10">Options</span>
		</button>
	</div>
</div>
