<div class="col-xs-3 no-left-padding">
  <label data-translate="2148">Description 4</label>
</div>
<div class="col-xs-9">
  <input maxlength="30" ng-disabled="$ctrl.service.disableOnReadOnlyMode()" type="text" ng-model="$ctrl.service.item.description4" class="form-control" id="imi-description4">
</div>
