<ng-form name="activateForm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 data-translate="6035">Gift Card Activation</h4>
    </div>
    <div class="modal-body allow-overlay">
      <div class="row">
        <div class="col-xs-6">
          <strong data-translate="2118">Description 1</strong>: {{item.item_description1}}
        </div>
        <div class="col-xs-6">
          <strong data-translate="677">UPC</strong>: {{item.scan_upc|padUPC}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <strong data-translate="4375">DCS Code</strong>: {{item.dcs_code}}
        </div>
        <div class="col-xs-6">
          <strong data-translate="3533">Vendor Code</strong>: {{item.vendor_code}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <strong data-translate="3333">Attribute</strong>: {{item.attribute}}
        </div>
        <div class="col-xs-6">
          <strong data-translate="679">Size</strong>: {{item.item_size}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <strong data-translate="982">Amount</strong>: {{item.price |currency}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <label class="control-label">
            <span data-translate="6036">Gift Card Number</span>
          </label>
          <div class="input-group">
            <input tabindex="2" type="{{centralGiftCardElementType}}" id="centralGiftCardNumber" class="form-control text-right" focus-me="setFocus" ng-disabled="!allowGCKey || centralGiftCardGenerateCentralID" ng-required="true" ng-model="tender.centralCardNumber" swipe-tracker="">
            <span class="input-group-btn">
              <button class="btn btn-info" ng-click="swipeCard('centralCardNumber')" ng-disabled="centralGiftCardGenerateCentralID" type="button"><span class="glyphicon glyphicon-credit-card"></span></button>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row" ng-if="expire != 0 && expire != null">
        <div class="col-xs-7">
          <date-input id="centralGiftCardExpire" name="centralGiftCardExpire" disabled-when="editExpire" empty-message="973" allow-null="false" ng-model="tender.expireDate"></date-input>
        </div>
        <div class="col-xs-5 alert alert-danger" role="alert" ng-if="expired">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span data-translate="6299">Invalid expiration date.</span>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-default" type="button" ng-disabled="activateForm.$invalid" ng-click="save()"><span data-translate="1.1">OK</span></button>
      <button class="btn btn-default" type="button" ng-click="cancel()"><span data-translate="1.2">Cancel</span></button>
    </div>
  </div>
</ng-form>

