<div>
	<div ng-if="itemRules.length > 0" ng-repeat="rule in itemRules" class="row row-container">
		<div class="form-group">
			<promo-item-filter-button import-action="importAction" update-parent="updateAction" promotion="promotion" disabled="saving" rule="rule.sid" resource="itemFilterResource"></promo-item-filter-button>
		</div>
		<div class="form-group" ng-if="promotionType !== 1">
			<label for="item-qty" data-translate="3871">Item Qty</label>
			<input type="text" id="item-qty" numberonly="" required-box="" non-zero="" required-status="{{([2,5].indexOf(promotionType) !== -1)||(promotionType===7 && !rule.qty && !rule.subtotal)}}" data-currency-formatter="number" ng-disabled="saving||([1,2].indexOf(itemDiscountRewardMode) !== -1)" ng-model="rule.qty" ng-blur="saveRule(rule, $index, $event)" enter-blur="undefined" class="form-control">
		</div>
		<div class="form-group" ng-if="fields !== 2">
			<label for="item-subtotal" data-translate="4369">Item Subtotal</label>
			<input type="text" id="item-subtotal" numberonly="" data-currency-formatter="currency" ng-disabled="saving" ng-model="rule.subtotal" ng-blur="saveRule(rule, $index, $event)" enter-blur="undefined" class="form-control">
		</div>
		<div class="form-group" ng-if="fields === 2">
			<label for="discount_type" data-translate="1150">Discount Type</label>
			<select id="discount_type" class="form-control" blur-on-change="" ng-model="rule.disc_type" ng-disabled="saving" ng-blur="saveRule(rule, $index, $event)" ng-options="opt.value as opt.name for opt in discountTypes">
				<option value="" style="display:none"></option>
			</select>
		</div>
		<div class="form-group" ng-if="fields === 2">
		    <label for="discount_value" data-translate="4363">Discount Value</label>
		    <div ng-if="rule.disc_type !== 4">
			    <input type="text" id="discount_value" ng-if="rule.disc_type !== 1" numberonly="" data-currency-formatter="currency" ng-disabled="saving" class="form-control" ng-model="rule.disc_value" ng-blur="saveRule(rule, $index, $event)" enter-blur="undefined">
			    <input type="text" id="discount_value" ng-if="rule.disc_type === 1" numberonly="" data-currency-formatter="number" ng-disabled="saving" class="form-control" ng-model="rule.disc_value" ng-blur="saveRule(rule, $index, $event)" enter-blur="undefined">
		    </div>
		    <div ng-if="rule.disc_type === 4">
			    <select id="discount_value" class="form-control" blur-on-change ng-required="true" ng-model="rule.reward_validation_pl_sid" ng-disabled="saving" ng-blur="saveRule(rule, $index, $event)" ng-options="pl.value as pl.name for pl in discountPlPrices">
			        <option value="" style="display:none"></option>
			    </select>
		    </div>
		</div>

		<div ng-if="rule.disc_type === 4">
			<div class="form-group">
				<label for="add_discount_type">Additional Discount Type</label>
				<select id="add_discount_type" class="form-control" blur-on-change="" ng-model="rule.additional_disc_type" ng-disabled="saving" ng-blur="saveRule(rule, $index, $event)" ng-options="opt.value as opt.name for opt in getAdditionalDiscountTypesPL()">
					<option value=""> None </option>
				</select>
			</div>
      <div ng-if="rule.additional_disc_type === 1 || rule.additional_disc_type === 2">
			  <div class="form-group">
				  <label for="add_discount_value">Additional Discount Value</label>
				  <input type="text" id="add_discount_value" ng-if="rule.additional_disc_type === 1" numberonly="" data-currency-formatter="number" ng-disabled="saving" class="form-control" ng-model="rule.additional_disc_value" ng-blur="saveRule(rule, $index, $event)" enter-blur="undefined">
				  <input type="text" id="add_discount_value" ng-if="rule.additional_disc_type === 2" numberonly="" data-currency-formatter="currency" ng-disabled="saving" class="form-control" ng-model="rule.additional_disc_value" ng-blur="saveRule(rule, $index, $event)" enter-blur="undefined">
			  </div>
      </div>
		</div>

		<div class="text-right">
			<button class="btn btn-danger" ng-disabled="saving" ng-if="$last&&itemRules.length>1" ng-click="removeRule(rule, $index)" type="button">
				<span data-translate="544">Delete</span>
			</button>
		</div>
		<hr>
	</div>
	<div class="form-group">
		<button class="btn btn-primary full" ng-disabled="saving" ng-click="addEmptyRule()" type="button">
			<span ng-if="itemRules.length > 0" data-translate="4370">Additional Rule</span>
			<!-- <span ng-if="itemRules.length === 0" data-translate="4371">New Rule</span> -->
		</button>
	</div>
</div>
