<form novalidate="" id="invnLnForm" name="invnLnForm" class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-6">
          <h4 data-translate="5774">Enter Lot Numbers</h4>
        </div>
        <div class="col-xs-6">
          <button type="button" ng-disabled="disable" class="btn btn-icon btn-default inline-block pull-right" ng-click="addLotRow()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div id="lnEntryHeaders">
        <div class="row" style="margin-bottom: 0;">
          <div class="col-xs-3">
            <strong data-translate="3959">Lot Number</strong>
          </div>
          <div class="col-xs-2">
            <strong data-translate="3145">Store Qty</strong>
          </div>
          <div class="col-xs-4">
            <strong data-translate="5602">Expiry Date</strong>
          </div>
          <div class="col-xs-3"><strong data-translate="884">Note</strong></div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr class="bold-hr">
          </div>
        </div>
      </div>
      <div id="lnitemlist" class="container-fluid height50 autoOverflow">
        <div class="row" ng-repeat="lnItem in modalLnAdjItems track by $index">
          <div class="row">
            <div class="form-group has-feedback list-group-item no-border">
              <div class="col-xs-3">
                <ng-form name="lotNoForm">
                  <div>
                    <input type="text" ng-class="((lnItem.lottype === 8)&&(!lnItem.lotno)) ? 'has-error' : (!lnItem.lotno) ? 'has-warning' : 'has-success'" class="form-control uppercase" ng-keydown="tabToNext($event,lnItem)" tabindex="{{ 1000 + $index }}" maxlength="50" id="itemLotNumber{{ $index }}" name="itemLotNumber" ng-model="lnItem.lotno" ng-blur="getLotNo(lnItem)" ng-change="lotNoChange(lnItem)">
                    <i ng-if="mode !== 'new'" class="glyphicon glyphicon-search form-control-feedback" id="lotNoLookupIcon" ng-click="lotNoLookup(lnItem)"></i>
                  </div>
                  <div class="error" ng-if="lotNoForm.itemLotNumber.$error.unique">
                    <span class="text-danger" data-translate="3381">Duplicate</span>
                  </div>
                </ng-form>
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" id="invnLnQty" name="invnLnQty" ng-model="lnItem.lnqty" enter-blur ng-blur="checkIfAllLotNosEntered()">
              </div>
              <div class="col-xs-4">
                <p class="input-group" ng-click="openCalendar($event, $index)">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                  <input type="button" class="form-control" datetime-picker="medium" ng-model="lnItemsDtPickers[$index].date" value="{{
                      lnItemsDtPickers[$index].date
                        ? (lnItemsDtPickers[$index].date | date: 'medium')
                        : lnItemsDtPickers[$index].placeholder
                    }}" is-open="lnItemsDtPickers[$index].open" enable-time="true" datepicker-options="lnItemsDtPickers[$index].datepickerOptions" timepicker-options="lnItemsDtPickers[$index].timepickerOptions" when-closed="lnItemsDtPickers[$index].closed()" placeholder="{{ lnItemsDtPickers[$index].placeholder }}">
                </p>
                <!-- <date-input disabled-when="true" is-time="true" allow-null="true" ng-model="lnItem.expirydate"></date-input> -->
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-disabled="disable" id="invnLnNote" name="invnLnNote" ng-model="lnItem.lotnote">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="submit" id="invnLnSaveButton" event-name="invnLnSave" name="invnLnSaveButton" class="btn btn-lg btn-default" ng-disabled="invnLnForm.$invalid||disableSaveButton" ng-click="saveLNChanges();" data-translate="547">
              Save
            </button>
            <button id="invnLnCancelButton" event-name="invnLnCancel" name="invnLnCancelButton" class="btn btn-lg btn-default" ng-disabled="invnLnForm.$invalid" ng-click="cancelEntry();" data-translate="1.2">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
