<div class="modalouter">
  <div class="modal-header">
    <span ng-if="!$ctrl.all" data-translate="6384">Resolve Pair</span>
    <span ng-if="$ctrl.all" data-translate="6971">Default Resolution</span>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">
        <button class="btn btn-info btn-block" event-name="tvResolveSending" tabindex="122" type="button" ng-click="$ctrl.close(2);">
          <span data-translate="6393">Correct Sending</span>
        </button>
      </li>
      <li class="list-group-item">
        <button class="btn btn-info btn-block" event-name="tvResolveReceiving" tabindex="123" type="button" ng-click="$ctrl.close(1);">
          <span data-translate="6394">Correct Receiving</span>
        </button>
      </li>
      <li class="list-group-item">
        <button class="btn btn-info btn-block" event-name="tvResolveLost" tabindex="124" type="button" ng-click="$ctrl.close(3);">
          <span data-translate="6395">Adjust Sending</span>
        </button>
      </li>
      <li class="list-group-item">
        <button class="btn btn-info btn-block" event-name="tvResolveLost" tabindex="124" type="button" ng-click="$ctrl.close(4);">
          <span data-translate="6396">Adjust Receiving</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="modal-footer text-right">
    <div class="row">
      <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-lg btn-default" ng-click="$ctrl.close()">
          <span data-translate="1.2">Cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>
