<div class="voucher-details-tab-wrapper">
  	<div class="row">
	    <div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 data-translate="3828">Freight</h4>
				</div>
				<div class="panel-body">
					<div class="row top-margin">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<label data-translate="3829">Freight Amount</label>
								</div>
								<div class="col-xs-6">
									<input class="form-control" ng-readonly="!(sharedData.receiving.voucher.tools.enableFields)" ng-disabled="!(sharedData.receiving.voucher.workingMode)" type="text" numberonly ng-change="updateFreightAmount()" ng-blur="sharedData.receiving.voucher.tools.updateField('freight', $event)" data-currency-formatter="currency" enter-blur ng-model="freightAmount.value" placeholder="{{ '649' | translate }}">
								</div>
							</div>
						</div>
					</div>
					<div class="row top-margin20">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<label data-translate="862">Tracking No.</label>
								</div>
								<div class="col-xs-6">
									<input class="form-control" ng-readonly="!(sharedData.receiving.voucher.tools.enableFields)" ng-disabled="!(sharedData.receiving.voucher.workingMode)" type="text" ng-blur="sharedData.receiving.voucher.tools.updateField('voucher', $event)" enter-blur ng-model="voucher.trackingno">
								</div>
							</div>
						</div>
					</div>
          <div class="row top-margin20 m-b-5">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-2">
                  <label data-translate="5703">Package No.</label>
                </div>
                <div class="col-xs-6">
                  <input class="form-control" ng-readonly="!(sharedData.receiving.voucher.tools.enableFields)" ng-disabled="!(sharedData.receiving.voucher.workingMode)" type="text" ng-blur="sharedData.receiving.voucher.tools.updateField('voucher', $event)" enter-blur ng-model="voucher.pkgno">
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
	    </div>
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 data-translate="2107">Discount</h4>
				</div>
				<div class="panel-body">
					<div class="row top-margin">
						<div class="col-xs-12">
							<percentage-amt-box subject="voucher" type="'discount'" fields="{amt:{name:'discamt', title:'715'}, perc:{name:'discperc', title:'714'}}" disable="!(voucher.vousubtotal > 0)||!(sharedData.receiving.voucher.workingMode)" readonly="!(sharedData.receiving.voucher.tools.enableFields)" save="saveDiscountBox"></percentage-amt-box>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<voucher-fee-types voucher="voucher" recvfees="recvfees"></voucher-fee-types>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 data-translate="1525">Tax</h4>
				</div>
				<div class="panel-body">
					<div class="row top-margin">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-6">
									<percentage-amt-box type="'taxexcl'" subject="voucher" fields="{amt:{name:'taxamtexcl', title:'3831'}, perc:{name:'taxpercexcl',title:'3830'}}" disable="!(voucher.vousubtotal > 0)||!(sharedData.receiving.voucher.workingMode)" readonly="!(sharedData.receiving.voucher.tools.enableFields)" save="saveDiscountBox"></percentage-amt-box>
								</div>
								<div class="col-xs-6">
									<percentage-amt-box type="'taxincl'" subject="voucher" fields="{amt:{name:'taxamtincl', title:'3833'}, perc:{name:'taxpercincl',title:'3832'}}" disable="!(voucher.vousubtotal > 0)||!(sharedData.receiving.voucher.workingMode)" readonly="!(sharedData.receiving.voucher.tools.enableFields)" save="saveDiscountBox"></percentage-amt-box>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="col-xs-6" ng-if="reasonRequired">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 data-translate="1756">Reasons</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-2">
                  <label data-translate="1526">Reason Code</label>
                </div>
                <div class="col-xs-10">
                  <select class="form-control" ng-readonly="!(sharedData.receiving.voucher.tools.enableFields)" ng-disabled="!(sharedData.receiving.voucher.workingMode)" ng-model="selectedReason.value" blur-on-change ng-blur="slowBlurForReason($event)" ng-options="r as r.name for r in voucherReasonList">
                    <option value="" style="display:none" data-translate="1358">Select...</option>
									</select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
