<button class="btn btn-default btn-lg" ng-disabled="!transferSlip.isEdit||transferSlip.saving||isEditComment||isAddComment" ng-click="addSlipComment();" type="button">
    <span data-translate="1.8">Add</span>
</button>