<div class="ssp-wrapper">
    <label><input type="checkbox" ng-model="state.allselected" ng-change="state.onAllChange()">&nbsp;&nbsp;{{'1143' | translate}}</label>
    <accordion close-others="true">
        <accordion-group ng-repeat="sbs in state.subsidiaries" ng-if="sbs.stores.length > 0" is-open="sbs.accordion.open">
            <div class="row top-margin">
                <accordion-heading>
                <div class="panel-heading sbs-container-child">
                    <div class="row no-margin no-padding">
                        <div class="col-xs-11">
                            <input type="checkbox" ng-model="sbs.selected" ng-change="state.onSbsChange(sbs)">
                            <label>&nbsp;&nbsp;{{sbs.name}}</label>
                        </div>
                        <div class="col-xs-1" ng-click="sbs.accordion.toggle()">
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sbs.accordion.open, 'glyphicon-chevron-right': !sbs.accordion.open}"></i>
                        </div>
                    </div>
                </div>
            </accordion-heading>
                <div class="ssp-container-child" ng-if="sbs.accordion.open">
                    <div class="checkbox" ng-repeat="store in sbs.stores">
                        <label>
                            <input type="checkbox" ng-model="store.selected" ng-change="state.onSbsStoreChange(sbs, store)"> {{store.name}}
                        </label>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>