<form class="form-horizontal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-12">
          <h4 data-translate="4010">Multiple Items</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div id="selectItem" class="panel panel-default ModalSearchPanel autoOverflow" ng-if="!(showNoItemsMessage)">
              <div class="list-group">
                <a name="link{{$index}}" event-name="voucherItemSelectionThisItem" id="itemLookupResult{{$index}}" index="{{$index}}" class="list-group-item" data-item-group="data-item-group" ng-repeat="thisInventory in itemsList" ng-click="selectItem($index)" ng-dblclick="returnSelectedItem($index)">
                  <common-item-select></common-item-select>
                </a>
              </div>
            </div>
            <p data-translate="4011" ng-if="showNoItemsMessage">
              <span data-translate="4011">There are no results for the provided barcode.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <span class="pull-left">{{statusMessage}}</span>
        <button ng-disabled="!(showNoItemsMessage === false)" event-name="posItemSelectionSelectItem" type="submit" tabindex="6" id="posItemSelectionSelectItemButton" name="posItemSelectionSelectItemButton" class="btn btn-lg btn-default" ng-click="returnSelectedItem()"><span data-translate="1416">Select Item</span></button>
        <button event-name="posItemSelectionClose" type="button" tabindex="8" id="closeSearchButton" name="closeSearchButton" class="btn btn-lg btn-default" ng-click="$close(false)"><span data-translate="907">Close</span></button> 
      </div>
    </div>
  </div>
</form>
