<div>
  <div class="col-xs-5 text-right">
    <p class="form-control-static">
      <strong data-translate="4554">Net Days:</strong>
    </p>
  </div>
  <div class="col-xs-7">
    <input tabindex="3" ng-required="isFieldRequired('charge_net_days','charge')" type="text" id="chargetermnetdays" numberonly="" class="form-control text-right" ng-model="tender.charge_net_days">
  </div>
</div>
