<label class="control-label" data-translate="5551">Home Store</label>
<select-store-sbs ng-if="$ctrl.service.ready" assigned="$ctrl.assigned" form="$ctrl.service.formState" store-model="$ctrl.service.active.basestoresid" subsidiary-sid="$ctrl.service.active.origsbssid">
</select-store-sbs>
