<ng-form name="adjForm">
  <div class="modalouter">
    <div class="modal-header">
      <div class="row-fluid">
        <div class="span12">
          <h4 data-translate="5350">Adjustments & Comments</h4>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span12">
          <div class="row padding-5">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="icm-comments" data-translate="1969">Comments</label>
                <textarea ng-model="state.comment" ng-required="state.adjCommentReq" id="icm-comments" class="form-control" rows="9"></textarea>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="ddDefaultCostReason" data-translate="5351">Cost Reason</label>
                <select class="form-control" id="ddDefaultCostReason" ng-required="state.costReq" ng-model="state.costmemoname" ng-change="reasonChanged('cost')" ng-if="reasons.requestCost" ng-options="reason.name as reason.name for reason in state.reasons">
                </select>
                <input class="form-control" id="ddDefaultCostReason" disabled="true" ng-if="!reasons.requestCost" value="">
              </div>
              <div class="form-group">
                <label for="ddDefaultPriceReason" data-translate="5352">Price Reason</label>
                <select class="form-control" id="ddDefaultPriceReason" ng-required="state.priceReq" ng-model="state.pricememoname" ng-change="reasonChanged('price')" ng-if="reasons.requestPrice" ng-options="reason.name as reason.name for reason in state.reasons">
                </select>
                <input class="form-control" id="ddDefaultPriceReason" disabled="true" ng-if="!reasons.requestPrice" value="">
              </div>
              <div class="form-group">
                <label for="ddDefaultQtyReason" data-translate="5353">Quantity Reason</label>
                <select class="form-control" id="ddDefaultQtyReason" ng-required="state.qtyReq" ng-model="state.qtymemoname" ng-if="reasons.requestQty" ng-change="reasonChanged('qty')" ng-options="reason.name as reason.name for reason in state.reasons">
                </select>
                <input class="form-control" id="ddDefaultQtyReason" disabled="true" ng-if="!reasons.requestQty" value="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="span12 rightalign">
          <button type="button" class="btn btn-warning btn-large" ng-click="close(false)">
            <span data-translate="1.2">Cancel</span>
          </button>
          <button type="button" ng-disabled="!adjForm.$valid" class="btn btn-info btn-large" ng-click="close(state)">
            <span data-translate="3724">Continue</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-form>
