<button class="btn btn-info grid-button" ng-class="{'green-button':$ctrl.package.received}" ng-disabled="$ctrl.disabled||$ctrl.isDeny()" ng-click="$ctrl.toggleReceived(row.entity)">
  <span ng-if="$ctrl.package.received&&!$ctrl.returnOnly" class="glyphicon glyphicon-check"></span>
  <span ng-if="!$ctrl.package.received&&!$ctrl.returnOnly" class="glyphicon glyphicon-unchecked"></span>
  <span ng-if="$ctrl.returnOnly" class="glyphicon glyphicon-share-alt"></span>
</button>
