<form name="$ctrl.scaleForm" id="scaleForm" class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 data-translate="7142">Scales</h3>
    </div>
    <div class="panel-body" style="padding: 10px;">
      <div class="row form-group">
        <div class="col-xs-12">
          <inven-select-scale disable="false" scale-sbs="$ctrl.sbs" chosen-scale-sid="$ctrl.chosenScaleSid" notify-scale-change="$ctrl.notifyScaleChange(scaleObj)" set-default-scale="true" allow-inactive="true"></inven-select-scale>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          <button class="btn btn-info" type="button" ng-disabled="$ctrl.scaleForm.$dirty" ng-click="$ctrl.addScale()" data-translate="1.8" style="width: -webkit-fill-available">Add</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-info" type="button" ng-disabled="$ctrl.scaleForm.$dirty" ng-if="$ctrl.scaleService.selectedScale.active" ng-click="$ctrl.updateScaleActiveFlag()" data-translate="3041" style="width: -webkit-fill-available">Deactivate</button>
          <button class="btn btn-info" type="button" ng-disabled="$ctrl.scaleForm.$dirty" ng-if="!$ctrl.scaleService.selectedScale.active" ng-click="$ctrl.updateScaleActiveFlag()" data-translate="2334" style="width: -webkit-fill-available">Activate</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-info" type="button" ng-disabled="$ctrl.scaleForm.$dirty" ng-click="$ctrl.addScale(true)" data-translate="582" style="width: -webkit-fill-available">Copy</button>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-9">
          <label data-translate="7180">Scale Name</label>
        </div>
        <div class="col-xs-3">
          <label data-translate="7181">Scale #</label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-9">
          <input type="text" class="form-control" ng-disabled="!$ctrl.scaleService.selectedScale.active" ng-model="$ctrl.scaleService.selectedScale.scalename" maxlength="12" capitalize>
        </div>
        <div class="col-xs-3">
          <span class="form-control" disabled="true">{{$ctrl.scaleService.selectedScale.scaleno}}</span>
        </div>
      </div>
      <div class="row row-container">
        <div class="col-xs-6">
          <table class="table col-md-12 table-bordered table-reponsive table-centered fixed_header">
            <thead>
              <tr>
                <th>
                  <div class="col-xs-6">
                    <strong data-translate="3333">Attribute</strong>
                  </div>
                  <div class="col-xs-6 text-left">
                    <span class="btn btn-default glyphicon glyphicon-plus" id="addAttr" ng-click="$ctrl.addNewAttr()" ng-disabled="!$ctrl.scaleService.selectedScale.active"></span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="attr in $ctrl.scaleService.selectedScale.scaleattribute track by $index">
                <td class="input-group">
                  <input name="{{attr.attribute}}" id="scaleattribute{{$index}}" type="text" maxlength="8" class="form-control" ng-model="attr.attribute" ng-disabled="!$ctrl.scaleService.selectedScale.active" capitalize>
                  <span class="btn btn-default glyphicon glyphicon-remove input-group-addon" id="removeAttr{{attr.attribute}}" style="border: 0px;top: 0px;color: white;" ng-click="$ctrl.removeAttr($index)" ng-disabled="!$ctrl.scaleService.selectedScale.active"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-6">
          <table class="table col-md-12 table-bordered table-reponsive table-centered fixed_header">
            <thead>
              <tr>
                <th>
                  <div class="col-xs-6">
                    <strong data-translate="679">Size</strong>
                  </div>
                  <div class="col-xs-6 text-left">
                    <span class="btn btn-default glyphicon glyphicon-plus" id="addSize" ng-click="$ctrl.addNewSize()" ng-disabled="!$ctrl.scaleService.selectedScale.active"></span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="size in $ctrl.scaleService.selectedScale.scalesize track by $index">
                <td class="input-group">
                  <input name="{{size.scalesize}}" type="text" maxlength="8" class="form-control" ng-model="size.scalesize" ng-disabled="!$ctrl.scaleService.selectedScale.active" id="scalesize{{$index}}" capitalize>
                  <span class="btn btn-default glyphicon glyphicon-remove input-group-addon" id="removeSize{{size.scalesize}}" style="border: 0px;top: 0px;color: white;" ng-click="$ctrl.removeSize($index)" ng-disabled="!$ctrl.scaleService.selectedScale.active"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-lg btn-default" type="button" data-translate="547" ng-disabled="!$ctrl.scaleForm.$dirty" ng-click="$ctrl.saveScaleChanges()">Save</button>
      <button class="btn btn-lg btn-default" type="button" data-translate="1.2" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </div>
</form>
