<ng-form name="slip_form">
    <div class="row" ng-if="transferSlip.slip">
        <div class="col-xs-12">
            <slip-info></slip-info>
        </div>
    </div>
    <div class="row" ng-if="transferSlip.slip">
        <div class="col-xs-12">
            <slip-main></slip-main>
        </div>
    </div>
    <div class="row">
        <button-bar view-path="pages/store-ops/transfers/slip-buttons.htm"></button-bar>
    </div>
</ng-form>
