<div class="row">
    <div class="col-xs-4">
        <ul class="list-parent">
            <li>
                <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-change="state.merchandise_pi_use_pagination_count.onChange()" ng-model="state.merchandise_pi_use_pagination_count.value"> <span data-translate="6857">Enable pagination count</span>
                    </label>
                </div>
            </li>
            <li>
              <label for="physical_inventory_type"><span data-translate="6858">Physical Inventory Type</span></label>
                <select class="form-control" id="physical_inventory_type" ng-model="pData.physical_inventory_type.value">
                  <option value="0"><span data-translate="6859">Simple</span></option>
                  <option value="1"><span data-translate="6860">Zone</span></option>
                </select>
            </li>
        </ul>
    </div>
</div>
