<div>
  <div class="col-xs-5 text-right">
    <p class="form-control-static">
      <strong data-translate="4555">Terms:</strong>
    </p>
  </div>
  <div class="col-xs-7">
    <select class="form-control" ng-model="form.term" ng-change="setTerms(form.term)" ng-options="x as x.discperc + '% - ' + x.discdays + ' - ' + x.netdays for x in terms">
      <option style="display:none" data-translate="1358">Select...</option>
    </select>
  </div>
</div>
