<div class="row" ng-if="connPro.conn.active.connected">
  <div class="col-xs-12">
    <div class="well well-lg text-center connection-profiles" style="padding-top:50px;font-size:24px;" ng-if="!connPro.proData||connPro.proData.length===0">
      <div ng-if="connPro.proData.length===0&&!connPro.noPrism">
        <span class="glyphicon-ban-circle glyphicon"></span><br><span data-translate="6808">No profiles defined, add a profile using the</span> <span class="glyphicon glyphicon-plus"></span> <span data-translate="6809">button above.</span>
      </div>
      <div ng-if="connPro.noPrism&&connPro.proData">
        <span class="glyphicon-ban-circle glyphicon"></span> <span data-translate="6810">Not available - Manage on local system or POA</span>
      </div>
      <div ng-if="!connPro.proData&&connPro.conn.active.connected">
        <img src="images/ajax-loader.gif"><br><span data-translate="6811">Getting Server Profiles</span>
      </div>
    </div>
    <div ui-grid="connPro.receiveGridOptions" class="connection-profiles" ng-if="connPro.proData.length>0"></div>
  </div>
</div>
