<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <button ng-click="toggleFilters()" tabindex="1000" type="button" class="btn navbar-btn btn-default" data-container="body" event-name="toggleVendorInvoicesSearchFilters">
      <i class="glyphicon glyphicon-chevron-left" ng-class="{'glyphicon-chevron-left': filters.showVoucher||filters.showReceiving, 'glyphicon-chevron-right': !filters.showVoucher&&!filters.showReceiving}"></i>
      <span data-translate="826">Filters</span>
    </button>
  </li>
</ul>
