<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" ng-disabled="disable" class="btn btn-icon btn-default" ng-click="state.createOption()"><span class="glyphicon glyphicon-plus"></span></button>
                <label class="panel-title">{{udf.name}}</label>
            </div>
        </div>
    </div>
    <div class="panel-body vendor-dataTypes-content-wrapper">
      <em ng-if="state.optionList.length === 0"><span data-translate="6838">There are no options defined. Click the + sign to add a new type.</span></em>
        <div class="row form-group text-center" ng-if="state.optionList.length > 0">
            <div class="col-xs-1">
                <strong data-translate="586">Active</strong>
            </div>
            <div class="col-xs-7">
                <strong data-translate="5186">Field Entry</strong>
            </div>
            <div class="col-xs-1">
              <strong data-translate="1114">Default</strong>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="row form-group text-center" ng-repeat="option in state.optionList">
            <div class="col-xs-1">
                <input type="checkbox" ng-disabled="!option.editable||disable" ng-checked="option.active" ng-model="option.active" class="ng-pristine ng-untouched ng-valid ng-not-empty">
            </div>
           <div class="col-xs-7">
                <input type="text" ng-disabled="!option.editable||disable" ng-required="true" class="form-control" ng-model="option.udfoption" required="required">
            </div>
            <div class="col-xs-1">
              <input type="checkbox" ng-disabled="!option.editable||disable" ng-checked="option.defaultflag" ng-model="option.defaultflag" class="ng-pristine ng-untouched ng-valid ng-not-empty">
            </div>
            <div class="col-xs-3" ng-if="option.editable">
                <button type="button" ng-disabled="!option.udfoption" ng-click="state.saveOption(option, $index);">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" ng-click="state.cancelChanges($index);">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </div>
            <div class="col-xs-3" ng-if="!option.editable">
                <button type="button" ng-click="state.enableEdit($index)" ng-disabled="disable">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" ng-click="state.removeOption($index)" ng-disabled="disable">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
</div>
