<div name="inventory-itemX">
  <div class="row row-container">
    <!--<pm-inv-list></pm-inv-list> -->
    <div class="col-xs-12">
      <resource-lookup lookup-title="resourceTitle" grid-name="'markdownInventory'" end-point="'/api/backoffice/inventory'" action="resourceData.actionObj" sort="'description1,asc'" append-filter="resourceData.appendFilter" grid-settings="gridSettings" before-search="beforeSearch" after-search="afterSearch" after-row-selection-changed="afterRowSelection" after-cell-edit="afterCellEdit" on-search-column-selection="prepareColumns" external-bindings="resourceData" static-filter-include="'<pm-inv-markdown-filter></pm-inv-markdown-filter>'" top-include="'<pm-inv-top-filters></pm-inv-top-filters>'" bottom-include="'<advanced-inventory-search-buttons></advanced-inventory-search-buttons>'">
      </resource-lookup>
    </div>
  </div>
  <div class="row">
    <action-button-bar ng-if="pmInvButtons" action-bar="pmInvButtons"></action-button-bar>
 </div>
  <pm-action-status ng-if="actionStatus.handler" loader-title="actionStatus.title" total="priceManager.tracker.total" processed="priceManager.tracker.progress"></pm-action-status>
</div> <!--append-cols="gridCols"  on-search-column-selection="prepareColumns" -->

