<div class="row document-lookup-filters">
  <div class="form-group">
    <label class="control-label" for="from-date" data-translate="1451">From Date:</label>
    <p class="input-group" ng-click="openCalendar($event, 'startDate')">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
      <input type="button" class="form-control" id="from-date" datetime-picker="medium" ng-model="startDate.date" value="{{(startDate.date)?(startDate.date | date:'medium'):(startDate.placeholder)}}" is-open="startDate.open" enable-time="true" datepicker-options="startDate.datepickerOptions" timepicker-options="startDate.timepickerOptions" when-closed="startDate.closed()" placeholder="{{startDate.placeholder}}">
    </p>
  </div>
  <div class="form-group">
    <label class="control-label" for="end-date" data-translate="1452">To Date:</label>
    <p class="input-group" ng-click="openCalendar($event, 'endDate')">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
      <input type="button" class="form-control" id="end-date" datetime-picker="medium" ng-model="endDate.date" value="{{(endDate.date)?(endDate.date | date:'medium'):(endDate.placeholder)}}" is-open="endDate.open" enable-time="true" datepicker-options="endDate.datepickerOptions" timepicker-options="endDate.timepickerOptions" when-closed="endDate.closed()" placeholder="{{endDate.placeholder}}">
    </p>
  </div>
  <div ng-include="template"></div>
  <div class="row">
    <div class="col-xs-6" ng-if="sharedData.documentLookup.sortby.length > 0">
      <label data-translate="634">Sort By:</label>
      <select id="sortBy" tabindex="3" class="form-control" ng-model="search.sort_by" ng-options="sort.value as sort.name | translate for sort in sharedData.documentLookup.sortby"></select>
    </div>
    <div class="col-xs-6" ng-if="sharedData.documentLookup.sortby.length > 0">
      <label data-translate="908">Sort Order:</label>
      <select id="sortOrder" tabindex="3" class="form-control" ng-model="search.sort_order" ng-options="sort.value as sort.name | translate for sort in [{name:'Descending', value:'desc'},{name:'Ascending', value:'asc'}]"></select>
    </div>
  </div>
</div>
