<div style="max-height:200px;overflow-y:auto;overflow-x:hidden">
  <div class="row form-group">
    <div class="col-xs-3">
      <span class="badge badge-info">
        <span ng-if="!contactList.parent.active.primaryflag" class="glyphicon-ban-circle glyphicon"></span>
        <span ng-if="contactList.parent.active.primaryflag" class="glyphicon-ok glyphicon"></span>
        <span data-translate="537">Primary</span>
      </span>
    </div>
    <div class="col-xs-6 text-center">
      <strong>{{ contactList.parent.active.title }} {{ contactList.parent.active.firstname }} {{ contactList.parent.active.lastname }}</strong>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-6">
      <span ng-if="contactList.parent.active.phone1no" class="glyphicon-phone glyphicon"></span>
      {{contactList.parent.active.phonetype1}} {{contactList.parent.active.phone1no}}
    </div>
    <div class="col-xs-6">
      <span ng-if="contactList.parent.active.phone2no" class="glyphicon-phone glyphicon"></span>
      {{contactList.parent.active.phonetype2}}
      {{contactList.parent.active.phone2no}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span ng-if="contactList.parent.active.emailaddress" class="glyphicon-envelope glyphicon"></span>
      {{contactList.parent.active.emailtype}}
      {{contactList.parent.active.emailaddress}}
    </div>
  </div>
</div>
