<div class="merchandise-ac">
  <br>
  <div class="row form-group">
    <editable-dropdown ng-model="selectedMapping" data-new="{{ newMapStructure }}" call-back-check="checkNewName" mappings="mappingSchemas" create-new-active="createNewActive" change-mode="changeEditMode" in-edit-mode="inEditMode"></editable-dropdown>
  </div>

  <div ng-if="mappingActive()">
    <div class="row form-group">
      <div class="col-xs-3">
        <label class="control-label" data-translate="6375"></label>
      </div>
      <div class="col-xs-1">:</div>
      <div class="col-xs-7">
        <select ng-disabled="!inEditMode" ng-options="file.type as file.name for file in [{name:'fixed length', type:0},{name:'delimited', type:1}]" ng-model="selectedMapping.map_type.value" class="form-control"></select>
      </div>
    </div>

    <div ng-if="selectedMapping.map_type.value === 0">
      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label" data-translate="{{ selectedMapping.settings.item_start.name }}"></label>
        </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-7">
          <input ng-required="true" ng-disabled="!inEditMode" ng-change="setCountStartMin()" type="text" decimals="0" number ng-model="selectedMapping.settings.item_start.value" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label" data-translate="{{
              selectedMapping.settings.item_start_length.name
            }}"></label>
        </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-7">
          <input ng-required="true" ng-disabled="!inEditMode" ng-change="setCountStartMin()" type="text" decimals="0" number ng-model="selectedMapping.settings.item_start_length.value" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label" data-translate="{{ selectedMapping.settings.count_start.name }}"></label>
        </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-7">
          <input ng-required="true" ng-disabled="!inEditMode" type="text" decimals="0" min="{{ calculateCountStartMin() }}" number ng-model="selectedMapping.settings.count_start.value" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label" data-translate="{{
              selectedMapping.settings.count_start_length.name
            }}"></label>
        </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-7">
          <input ng-required="true" ng-disabled="!inEditMode" type="text" decimals="0" number ng-model="selectedMapping.settings.count_start_length.value" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label" data-translate="{{ selectedMapping.settings.next_item_start.name }}"></label>
        </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-7">
          <input ng-required="true" ng-disabled="!inEditMode" type="text" ng-model="selectedMapping.settings.next_item_start.value" class="form-control">
        </div>
      </div>
    </div>

    <div ng-if="selectedMapping.map_type.value === 1">
      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label" data-translate="{{ selectedMapping.settings.delimiter.name }}"></label>
        </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-7">
          <input ng-required="true" ng-disabled="!inEditMode" ng-change="setCountStartMin()" type="text" decimals="0" ng-model="selectedMapping.settings.delimiter.value" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label" data-translate="{{ selectedMapping.settings.items_column.name }}"></label>
        </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-7">
          <input ng-required="true" ng-disabled="!inEditMode" type="text" decimals="0" min="{{ calculateCountStartMin() }}" number ng-model="selectedMapping.settings.items_column.value" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-3">
          <label class="control-label" data-translate="{{ selectedMapping.settings.count_column.name }}"></label>
        </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-7">
          <input ng-required="true" ng-disabled="!inEditMode" type="text" decimals="0" number ng-model="selectedMapping.settings.count_column.value" class="form-control">
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-3">
        <label class="control-label">{{ '3398' | translate }} ({{ '1128' | translate }})</label>
      </div>
      <div class="col-xs-1">:</div>
      <div class="col-xs-7">
        <ul class="lookup_by_list">
          <li ng-repeat="li in selectedMapping.settings.lookup_item_by.value">
            <div ng-if="li.active">
              <div class="col-xs-6">
                <label>
                  {{ li.name | translate }}
                </label>
              </div>
              <div class="col-xs-6">
                <input ng-disabled="!inEditMode" class="large-input-field" type="checkbox" ng-model="li.visible">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <div ng-if="mappingActive()">
    <div class="row form-group text-right">
      <button type="button" ng-disabled="" ng-show="inEditMode" ng-click="saveMapping()" class="btn btn-info">
        <span data-translate="547"></span>
      </button>
      <button type="button" ng-show="!inEditMode" ng-click="changeEditMode()" class="btn btn-info">
        <span data-translate="774"></span>
      </button>

      <button type="button" ng-click="deleteMapping()" class="btn btn-default">
        <span data-translate="544"></span>
      </button>
    </div>
  </div>
</div>
