<select class="form-control" blur-on-change ng-class="{'required':requiredField}" ng-options="opt.value as opt.name for opt in options" ng-disabled="!(disable)||blockPayee" ng-model="subject" ng-blur="updateSlowly($event);">
	<option value="" style="display:none"></option>
</select>