﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/bootstrap.min.js"></script>
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>

    <title>@ViewBag.Title</title>
   
    <style>
       
        body {
            padding: 40px
        }
        table {
            border-collapse: collapse;
            width:100%
        }

        table, th, td {
            border: 1px solid black;
        }

        #menu {
            list-style-type: none;
            height: 25px;
        }

            #menu li {
                float: left;
                margin: 10px;
                padding: 5px;
            }

        .active {
            background: black;
        }
    </style>
</head>
<body>
    @using Microsoft.AspNetCore.Http
    <ul id="menu">
        <li class="li_menu" link="/Tool/ToolUpPrism/Customer"><a href="/Tool/ToolUpPrism/Customer">Khách hàng</a></li>
        <li class="li_menu" link="/Tool/ToolUpPrism/Index"><a href="/Tool/ToolUpPrism/Index">Up web</a></li>
        <li class="li_menu" link="/Tool/ToolUpPrism/invoice"><a href="/Tool/ToolUpPrism/invoice">Hóa đơn</a></li>
        <li class="li_menu" link="/Tool/ToolUpPrism/invoice"><a href="/Tool/ToolUpPrism/exportProduct" target="_blank">Export sản phẩm</a></li>
        <li class="li_menu" link="/Tool/ToolUpPrism/splitInvoid" style="display:none"><a href="/Tool/ToolUpPrism/splitInvoid">Up hoa don nhập</a></li>
        <li class="li_menu" link="/Tool/ToolUpPrism/splitInvoid"><a href="/Tool/ToolUpPrism/Orderpr">Sắp xếp sp</a></li>
        @*<li class="li_menu" link="/Tool/ToolUpPrism/checkproduct"><a href="/Tool/ToolUpPrism/checkproduct">check product</a></li>*@
        <li class="li_menu" style="display:block" link="/Tool/ToolUpPrism/RemoveDiscount"><a href="/Tool/ToolUpPrism/RemoveDiscount">Tạo voucher</a></li>
    </ul>
    <br />
    <div>
        @RenderBody()
    </div>
    @{
        var user = Context.Session.GetString("au");
        if (user == null)
        {
            Context.Response.Redirect("/Tool/ToolUpPrism/LoginTool");

        }
    }
    <script>
        
        var pathname = window.location.pathname;
        $(".li_menu").each(function (index) {
            if ($(this).attr('link') == pathname) {
                $(this).addClass('active');
                return false;
            }
        });

    </script>
</body>
</html>
