<div class="prism-ajax-loader">
    <div class="message-container">
        <h3>{{ loaderTitle | translate }}</h3>
        <br>
        <div>
          <div class="row" ng-if="ready&&total!==processed" style="background-color:#FFF;padding:0px;border:solid 1px;">
            <div class="col-xs-12" style="padding:0px;">
              <div style="width:{{bar_width}};position:absolute;z-index:1;background-color:#144371;">&nbsp;</div>
              <span class="text-center" style="z-index:2;display:block;position:relative;color:darkgrey;">{{processed}} <span data-translate="4746">of</span> {{total}} - {{bar_width}}</span>
            </div>
          </div>
          <div class="row" ng-if="ready&&total===processed">
            <div class="col-xs-12 text-center">
              <span class="glyphicon glyphicon-import"></span> {{processed}} <span data-translate="4746">of</span> {{total}}
            </div>
          </div>
        </div>
    </div>
</div>
