<div class="row">
    <div ng-class="{'col-xs-9':attrs.requireItemQty, 'col-xs-12':!attrs.requireItemQty}">
      <input type="text" ng-disabled="disableSearch()" id="itemLookup" ng-focuser="sharedData.focusItemSearch" class="form-control" ng-model="itemObj.searchStr" bar-code ng-keydown="listenScannerInput($event)" placeholder="{{ '1415' | translate }}">
      <span style="display: none; height: 0px; width:0px">
        <button class="btn btn-default" id="itemSearchButton" ng-click="searchGo()" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>

		<!--<input type="text" id="itemLookup" class="form-control" ng-model="searchStr" ng-blur="addToItemList(searchStr)" focus-me="sharedData.focusItemSearch" ng-keydown="listenScannerInput($event)" placeholder="{{ '1415' | translate }}"></span>-->
    </div>
	<div class="col-xs-3" ng-if="attrs.requireItemQty">
        <button style="font-size: xx-small;" type="button" class="btn btn-info" ng-click="requireItemQty.value=!requireItemQty.value" ng-disabled="disableSearch()">
            <span data-translate="4791">popup</span>
            <img ng-if="!requireItemQty.value" width="22" src="../../../images/unchecked_32.png">
            <img ng-if="requireItemQty.value" width="22" src="../../../images/checked_32.png">
            <span data-translate="4792">entry</span>
        </button>
    </div>
</div>
