<button type="button" ng-disabled="disableSelectButton" class="btn btn-lg btn-default" event-name="posGiftReceiptItemsPrintSelection" id="posGiftReceiptItemsPrintSelection" ng-click="printGiftReceipt('selected')" title="{{ '3650' | translate }}"><span data-translate="3344">Print Selection</span></button>
