<div>
    <button type="button" class="btn btn-default btn-lg hidden-xs" ng-click="button.action()" ng-disabled="button.disable()">
        <span data-translate="4738">Receive Marked</span>
    </button>
    <a class="hidden-sm hidden-md hidden-lg" ng-click="button.action()" ng-class="{'disabled':button.disable()}"><span data-translate="4738">Receive Marked</span></a>
</div>