<ng-form name="form" id="discDropMenu">
    <button tabindex="714" type="button" event-name="posTransactionDisc" class="btn btn-block btn-info" id="discountButton" ng-click="toggleDiscountEdit()" ng-disabled="isDisabled">
        <span data-translate="2107">Discount</span></button>
    <div ng-if="discEditMode"><!-- Moved Input into drop menu to provide more room for input on smaller devices/screens DT 15925-->
        <div ng-if="!smallMenu">
            <ul id="discDropMenuList" class="nav nav-tabs nav-stacked">
                <li class="drop-menu">
                    <div class="input-group" ng-class="{'has-error' : (discountType==='price' && formData.discountInput < 0)}">
                        <input ng-if="discTypeIsAmt" type="text" autofocus tabindex="708" name="discountInput" id="discountInput1" class="form-control" ng-keyup="submitIt($event)" numberonly ng-disabled="disableDiscountInput" data-currency-formatter="currency" data-permission-disabled="disableEdit || formData.editOrderItem || formData.viewMode" data-collect-permission data-permission="GiveItemDiscount,EditFormerPOSDetails" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:document.status === 4 || disableEdit}]" ng-model="formData.discountInput" min="0">
                        <input ng-if="!discTypeIsAmt" type="text" autofocus onclick="setTimeout(setSelectionRange(0, 9999),0);" tabindex="708" name="discountInput" id="discountInput2" class="form-control" ng-keyup="submitIt($event)" percent-field ng-disabled="disableDiscountInput" placeholder="{{ '5395' | translate }}" data-permission-disabled="disableEditLimited || form.editOrderItem || (form.viewMode && !disableEdit)" data-collect-permission data-permission="GiveItemDiscount,EditFormerPOSDetails" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:document.status === 4 || disableEdit}]" ng-model="formData.discountInput" min="0">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-info" event-name="posItemDiscountChange" id="itemDiscountClick" ng-disabled="(discountType==='price' && formData.discountInput < 0) || disableDiscountInput" ng-click="toggleDiscountEdit();" style="padding-left:10px;">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                    </span>
                    </div>

                </li>
                <li ng-if="discountTypes[0].show" class="drop-menu">
                    <button tabindex="709" style="height: 3%;" type="button" class="btn btn-small" ng-class="(discountType==='amt') ? 'btn-info' : 'btn-primary'" ng-click="setDiscountType('amt')">
                        <span data-translate="982">Amount</span></button>
                </li>
                <li ng-if="discountTypes[1].show" class="drop-menu">
                    <button tabindex="710" style="height: 3%;" type="button" class="btn btn-small" ng-class="(discountType==='pct') ? 'btn-info' : 'btn-primary'" ng-click="setDiscountType('pct')">
                        <span data-translate="3930">Percent</span></button>
                </li>
                <li ng-if="discountTypes[2].show" class="drop-menu">
                    <button tabindex="711" style="height: 3%;" type="button" class="btn btn-small" ng-class="(discountType==='price') ? 'btn-info' : 'btn-primary'" ng-click="setDiscountType('price')">
                        <span data-translate="773.1">Price</span></button>
                </li>
                <li>
                    <hr class="drop-menu-sep">
                </li>
                <li class="drop-menu">
                    <button tabindex="712" style="height: 3%;" type="button" event-name="posTransactionViewItemDetails" class="btn btn-small btn-primary" id="detailsButton" ng-disabled="kitBreak||itemDetailButton||thisTransactionItem.kit_type===7" ng-click="setDiscountType('details')">
                        <span data-translate="1522">Details</span></button>
                </li>
            </ul>
        </div>
        <div ng-if="smallMenu" id="discDropMenuList">
            <div class="row">
                <div>
                    <!--<ul id="discDropMenuList" class="nav nav-tabs nav-stacked">
                        <li class="dropup-menu">-->
                    <div class="input-group" ng-class="{'has-error' : (discountType==='price' && formData.discountInput < 0)}">
                        <input ng-if="discTypeIsAmt" type="text" autofocus tabindex="708" name="discountInput" id="discountInput1" class="form-control" ng-keyup="submitIt($event)" numberonly ng-disabled="disableDiscountInput" data-currency-formatter="currency" data-permission-disabled="disableEdit || formData.editOrderItem || formData.viewMode" data-collect-permission data-permission="GiveItemDiscount,EditFormerPOSDetails" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:document.status === 4 || disableEdit}]" ng-model="formData.discountInput" min="0">
                        <input ng-if="!discTypeIsAmt" type="text" autofocus onclick="setTimeout(setSelectionRange(0, 9999),0);" tabindex="708" name="discountInput" id="discountInput2" class="form-control" ng-keyup="submitIt($event)" percent-field ng-disabled="disableDiscountInput" placeholder="{{ '5395' | translate }}" data-permission-disabled="disableEditLimited || form.editOrderItem || (form.viewMode && !disableEdit)" data-collect-permission data-permission="GiveItemDiscount,EditFormerPOSDetails" data-apply-permission-when="[{permission:'EditFormerPOSDetails', condition:document.status === 4 || disableEdit}]" ng-model="formData.discountInput" min="0">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info" event-name="posItemDiscountChange" id="itemDiscountClick" ng-disabled="(discountType==='price' && formData.discountInput < 0) || disableDiscountInput" ng-click="toggleDiscountEdit();" style="padding-left:10px;">
                                <span class="glyphicon glyphicon-check"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <nav class="navbar navbar-default" style="margin-left: 2px;">
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group btn-group-sm mr-4" role="group" aria-label="First group">
                            <div class="btn-group">
                                <button ng-if="discountTypes[0].show" tabindex="709" type="button" event-name="posLineItemDiscountTypeAmt" class="btn btn-sm" ng-class="(discountType==='amt') ? 'btn-info' : 'btn-primary'" ng-click="setDiscountType('amt')">
                                <span data-translate="1440">Amt</span></button>
                            </div>
                            <div class="btn-group">
                                <button ng-if="discountTypes[1].show" tabindex="710" type="button" event-name="posLineItemDiscountTypePct" class="btn btn-sm" ng-class="(discountType==='pct') ? 'btn-info' : 'btn-primary'" ng-click="setDiscountType('pct')">
                                <span data-translate="">Pct</span></button>
                            </div>
                            <div class="btn-group">
                                <button ng-if="discountTypes[2].show" tabindex="711" type="button" event-name="posLineItemDiscountTypePrc" class="btn btn-sm" ng-class="(discountType==='price') ? 'btn-info' : 'btn-primary'" ng-click="setDiscountType('price')">
                                <span data-translate="">Prc</span></button>
                            </div>
                            <div class="btn-group">
                                <button tabindex="712" type="button" event-name="posLineItemDiscountDetails" class="btn btn-sm btn-primary" id="altDetailsButton" ng-disabled="kitBreak||itemDetailButton||thisTransactionItem.kit_type===7" ng-click="setDiscountType('details')">
                                <span data-translate="">Det</span></button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</ng-form>
