<div class="form-group">
    <label data-translate="4844">Memo Number</label>
    <div class="row">
        <input numberonly="" type="text" class="form-control" ng-model="search.adjno">
    </div>
</div>

<div class="form-group">
    <label data-translate="4719">Memo Type</label>
    <select-memo-type ng-model="search.adjtype" disable="true"></select-memo-type>
</div>

<div class="form-group">
    <label data-translate="686">Reason</label>
    <select-memo-reason ng-model="search.adjreasonsid" disable="true"></select-memo-reason>
</div>

<div class="form-group">
    <div class="row no-margin no-padding">
        <div class="col-xs-8">
            <label data-translate="4718">Memo Status</label>
            <div class="row">
                <select-memo-status status="search.status" disable="true"></select-memo-status>
            </div>
        </div>
        <div class="col-xs-3 col-xs-offset-1">
            <div class="row">
                <label data-translate="1454">Held</label>
                <select-memo-held held="search.held" disable="true"></select-memo-held>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label data-translate="4717">Memo Source</label>
    <select-memo-source ng-model="search.creatingdoctype" disable="true"></select-memo-source>
</div>

<div class="form-group">
    <label data-translate="683">Store</label>
    <select-memo-store ng-model="search.storesid" disable="true"></select-memo-store>
</div>

<div class="form-group">
    <label data-translate="699">Associate</label>
    <select-memo-assoc ng-model="search.clerksid" disable="true"></select-memo-assoc>
</div>