<div>
    <div class="row top-margin">
        <div class="col-xs-12">
            <button class="btn btn-info btn-block" id="adjMemosLookup" event-name="adjMemoLookup" tabindex="122" type="button" ng-click="externalScope.adjMemoLookup();">
                <span data-translate="4710">Adjustment Memo Lookup</span>
            </button>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-xs-12">
          <button data-permission="adjmemosreversememo" data-permission-disabled="(externalScope.adjMemo.memo.creatingdoctype===9)||(externalScope.adjMemo.memo.reversedflag)||(!externalScope.adjMemo.memo.sid)||(externalScope.adjMemo.saving)||(externalScope.adjMemo.memo.status !== 4)" class="btn btn-info btn-block" ng-click="externalScope.adjMemoReverse();">
            <span data-translate="5233">Reverse Memo</span>
            </button>
            <!--<button class="btn btn-info btn-block" id="adjMemosPrint" event-name="adjMemosPrint" tabindex="123" type="button" ng-click="adjMemo.printMemo();">-->
                <!--<span data-translate="4845">Print Memo</span>-->
            <!--</button>-->
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-xs-12">
            <button data-permission="merchandiseprinttag" class="btn btn-info btn-block" id="adjMemosPrintTags" event-name="adjMemosPrintTags" tabindex="124" type="button" ng-click="externalScope.printTags();">
                <span data-translate="4253">Print Tags</span>
            </button>
        </div>
    </div>
</div>
