<button type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="button.action()" event-name="VoucherVendorInvoiceUnassign">
    <span data-translate="4814">Unassign</span>
</button>