<div>
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-2">
                <h4 data-translate="765">Item Details</h4>
            </div>
            <div class="col-xs-2 col-xs-offset-8">
                <am-item-prev-button></am-item-prev-button> <am-item-next-button></am-item-next-button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <label data-translate="2118">Description 1</label>
                    </div>
                    <div class="col-xs-9">
                        <span>{{selectedItem.description1}}</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-3">
                        <label data-translate="678">Attr</label>
                    </div>
                    <div class="col-xs-9">
                        <span>{{selectedItem.attr}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <label data-translate="2119">Description 2</label>
                    </div>
                    <div class="col-xs-9">
                        <span>{{selectedItem.description2}}</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-3">
                        <label data-translate="679">Size</label>
                    </div>
                    <div class="col-xs-9">
                        <span>{{selectedItem.size}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <label data-translate="677">UPC</label>
                    </div>
                    <div class="col-xs-9">
                        <span>{{selectedItem.upc|padUPC}}</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-3">
                        <label data-translate="841">ALU</label>
                    </div>
                    <div class="col-xs-9">
                        <span>{{selectedItem.alu}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row top-margin form-group">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="{{(x.active)?'active':''}}" ng-repeat="x in itemTabs">
                        <a ng-click="setDetTab(x.name)">
                            {{x.txt | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" ng-if="activeTab==='Details'">
            <div class="col-xs-12">
                <am-item-details-details></am-item-details-details>
            </div>
        </div>
        <div class="row" ng-if="activeTab==='Notes'">
            <div class="col-xs-12">
                <am-item-details-notes></am-item-details-notes>
            </div>
        </div>
        <div class="row" ng-if="activeTab==='SN'">
            <div class="col-xs-12">
                <am-item-details-sn></am-item-details-sn>
            </div>
        </div>
        <div class="row" ng-if="activeTab==='LN'">
            <div class="col-xs-12">
                <am-item-details-ln></am-item-details-ln>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
        <div class="text-right">
            <button class="btn btn-info" type="button" ng-click="saveDetails(true);"><span data-translate="1.1">Ok</span></button>
            <button class="btn btn-info" type="button" ng-click="saveDetails(false);"><span data-translate="1.3">Apply</span></button>
            <button class="btn btn-info" type="button" ng-click="$close();"><span data-translate="1.2">Cancel</span></button>
        </div>
    </div>
</div>
