<div class="modal-header">
    <h3 class="modal-title" data-translate="3678">Vendor Invoice</h3>
</div>
<div class="modal-body">
    <div ng-cloak="" class="row padding-5">
        <div class="form-group" ng-repeat="obj in vendorInvoice">
            <label for="{{$index+'_'+obj.field}}">{{obj.label}}</label>
            <div ng-if="obj.type === 'text'">
              <div class="row" ng-if="obj.field==='vendinvcno'">
                <div class="col-xs-11">
                  <input type="text" class="form-control" ng-keydown="(($event.keyCode === 13 || $event.keyCode === 9) && findVendInv(obj))" maxlength="{{obj.maxlength}}" id="{{$index+'_'+obj.field}}" ng-model="obj.model">    <!--ng-enter="findVendInv(obj)" ng-change="obj.check()"-->
                </div>
                <div class="col-xs-1">
                  <button type="button" ng-disabled="button.disable()" class="btn btn-info" ng-click="findVendInv(obj)">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </div>
              </div>
              <div class="row" ng-if="obj.field!=='vendinvcno'">
                <div class="col-xs-12">
                  <input type="text" class="form-control" maxlength="{{obj.maxlength}}" id="{{$index+'_'+obj.field}}" ng-model="obj.model">
                </div>
              </div>
            </div>
            <div class="row" ng-if="obj.type === 'number'">
                <div class="col-xs-12">
                    <input data-currency-formatter="currency" type="text" numberonly="" class="form-control" id="{{$index+'_'+obj.field}}" ng-model="obj.model" maxlength="18">
                </div>
            </div>
            <div class="row" ng-if="obj.type === 'dropdown'">
                <div class="col-xs-12">
                    <select class="form-control" id="{{$index+'_'+obj.field}}" ng-options="opt.value as opt.name for opt in obj.source" ng-model="obj.model"></select>
                </div>
            </div>
            <div class="row" ng-if="obj.type === 'vendor'">
                <div class="col-xs-12">
                    <select-vendor vendor="obj.model" disable="false"></select-vendor>
                </div>
            </div>
            <div class="row" ng-if="obj.type === 'associate'">
                <div class="col-xs-12">
                    <select-associate ng-model="obj.model" disable="true"></select-associate>
                </div>
            </div>
            <div ng-if="obj.type === 'po'" class="row">
                <div class="col-xs-11">
                    <input type="text" class="form-control" ng-change="obj.defineModel()" id="{{$index+'_'+obj.field}}" ng-model="obj.readonlyText">
                </div>
                <div class="col-xs-1">
                    <reference-po-button on-resolve="obj.action"></reference-po-button>
                </div>
            </div>
            <p class="input-group" ng-if="obj.type === 'date'" id="{{$index+'_'+obj.field}}" ng-click="openCalendar($event, 'vendInvDt')">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="button" class="form-control" datetime-picker="medium" datepicker-options="vendInvDt.datepickerOptions" ng-model="vendInvDt.date" value="{{(vendInvDt.date)?(vendInvDt.date | date:'medium'):(vendInvDt.placeholder)}}" is-open="vendInvDt.open" enable-time="true" when-closed="vendInvDt.closed()">
            </p>
            <div class="row" ng-if="obj.type === 'textarea'">
                <div class="col-xs-12">
                    <textarea class="form-control" id="{{$index+'_'+obj.field}}" ng-model="obj.model"></textarea>
                </div>
            </div>
        </div>
        <div ng-if="ready" class="row">
            <div class="col-xs-6">
                <label data-translate="3878">Voucher Total</label>
                <span class="form-control" disabled="disabled">{{invoice.vouchertotal | currency}}</span>
            </div>
            <div class="col-xs-6">
                <label data-translate="534">Last Edit Date</label>
                <span ng-cloak="" class="form-control" disabled="disabled">{{invoice.modifieddatetime | date:'medium'}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="onSaveButtonClick()" data-translate="547">Save</button>
    <button class="btn btn-info" type="button" ng-click="onCancelButtonClick()" data-translate="1.2">Cancel</button>
</div>
