<div class="padding-10 psf-wrapper" ng-class="{'open':searchFilters.open, 'closed':!searchFilters.open}">
    <!--<div class="psf-content-toggler">
    </div>-->
    <button type="button" class="close" aria-label="Close" ng-click="onContentTogglerClick(false)">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="form-group">
      <label for="psf-subsidiary"><span data-translate="6887">SUBSIDIARY</span></label>
        <select-subsidiary id="psf-subsidiary" subsidiary="state.subsidiary"></select-subsidiary>
    </div>
    <div class="btn-group btn-group-responsive btn-33" role="group">
      <button type="button" class="btn btn-info" ng-click="state.setResultState(1)" ng-disabled="state.resultState === 1"><span data-translate="586">Active</span></button>
      <button type="button" class="btn btn-info" ng-click="state.setResultState(0)" ng-disabled="state.resultState === 0"><span data-translate="2916">Inactive</span></button>
      <button type="button" class="btn btn-info" ng-click="state.setResultState(2)" ng-disabled="state.resultState === 2"><span data-translate="1143">All</span></button>
    </div>
    <div class="psf_separator"></div>
    <div class="form-group">
      <label for="psf-filters"><span data-translate="6888">SELECT FILTER</span></label>
        <select name="psf-filters" id="psf-filters" ng-model="state.newFilter.field" ng-options="filter as filter.name for filter in filters" class="form-control"></select>
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-responsive btn-33" role="group">
          <button type="button" class="btn btn-info" ng-click="state.toggleOperator(1)" ng-disabled="state.newFilter.operator === 1"><span data-translate="6889">EQUAL</span></button>
          <button type="button" class="btn btn-info" ng-click="state.toggleOperator(3)" ng-disabled="state.newFilter.operator === 3"><span data-translate="6890">NOT EQUAL</span></button>
          <button type="button" class="btn btn-info" ng-click="state.toggleOperator(2)" ng-disabled="state.newFilter.operator === 2"><span data-translate="4376">CONTAINS</span></button>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" ng-keydown="listenForEnterKey($event)" ng-model="state.newFilter.value" placeholder="{{ '5025' | translate }}">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" ng-click="state.addFilter()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="psf_separator"></div>
    <div class="form-group">
      <label ng-if="!state.showEmptyFiltersMessage()"><span data-translate="6891">FILTERS</span> {{state.filtersSize}}</label>
    </div>
    <div class="psf_filter_list padding-5">
        <em ng-if="state.showEmptyFiltersMessage()"><span data-translate="6892">0 filters</span></em>
        <div ng-if="!state.showEmptyFiltersMessage()" ng-repeat="(field, filter) in state.userDefinedFilters">
            <div class="psf_filter_operand and" ng-if="!$first">
              <span data-translate="4379">AND</span>
                <div></div>
            </div>
            <div ng-repeat="value in filter.values">
                <div class="psf_filter_operand or" ng-if="!$first">
                    <div></div>
                    <span data-translate="4380">OR</span>
                    <div></div>
                </div>
                <div class="input-group">
                    <input type="text" ng-disabled="true" class="form-control" value="{{filter.name + ' ' + state.getOperatorName(value.operator) + ' ' + value.value}}">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" ng-click="state.removeFilter(field, $index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="psf_separator"></div>
    <div class="form-group">
        <button type="button" class="btn btn-default btn-block" ng-disabled="state.showEmptyFiltersMessage()" ng-click="onResetFiltersClick()">
            <span class="glyphicon glyphicon-refresh"></span>
            <span data-translate="614">Reset</span>
        </button>
        <button type="button" class="btn btn-info btn-block" ng-click="onSearchButtonClick()">
            <span class="glyphicon glyphicon-search"></span>
            <span data-translate="630">Search</span>
        </button>
    </div>
    <!--<div class="vertical-separator"></div>-->
</div>
