<form name="$ctrl.form" class="container-fluid">
  <div class="row form-group">
    <div class="col-xs-10">
      <label class="control-label" data-translate="6468">Email Type:</label>
      <rp-select-input repeater-data="$ctrl.typeObj.listData" default-obj="$ctrl.defaultType" ng-model="$ctrl.typeObj.selectValue" call-back="$ctrl.typeObj.http()" is-last-page="$ctrl.typeObj.isLastPage" key-string="$ctrl.typeObj.textKey" page="$ctrl.typeObj.page" filter-string="$ctrl.typeObj.searchString" ng-change="$ctrl.updateType()"></rp-select-input>
    </div>
    <div class="col-xs-10">
      <div class="row" style="margin: 5px;">
        <div class="col-xs-4">
          <label class="control-label">
            <input type="checkbox" id="adrContact" name="adrContact" ng-model="$ctrl.dataObj.emailallowcontact">
            <span data-translate="1055">Allow Contact</span>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">
            <input type="checkbox" id="adrPrimary" name="adrPrimary" ng-model="$ctrl.dataObj.primaryflag" ng-change="$ctrl.checkPrimary()">
            <span data-translate="537">Primary</span>
          </label>
        </div>
        <!--  Currently no active flag in db
        <div class="col-xs-4" >
          <label class="control-label">
            <input type="checkbox" id="adrActive" name="adrActive" ng-model="$ctrl.dataObj.active">
            <span data-translate="586">Active</span>
          </label>
        </div>
        -->
      </div>
    </div>
    <div class="col-xs-10">
      <label class="control-label" data-translate="6469">Email:</label>
      <input type="text" class="form-control" maxlength="100" ng-required="$ctrl.reqFields['email_address']" ng-model="$ctrl.dataObj.emailaddress">
    </div>

  </div>
</form>
