<div>
  <div class="well well-sm" ng-if="dItemDetail.resourceCount===0">
    <em data-translate="5974">There are no messages for this connection.</em>
  </div>
  <div class="row form-group" ng-if="dItemDetail.resourceCount>0&&!dItemDetail.messagesLoaded">
    <div class="col-xs-6">
      <div class="input-group">
        <button class="form-control" ng-disabled="true" style="text-transform: capitalize">
          <span data-translate="6814">(Local)</span> {{dItemDetail.localServer();}}
              <span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-arrow-right"></span>
          <span data-translate="6815">(Remote)</span> {{dItemDetail.remoteServer();}}
        </button>
        <span class="input-group-btn" ng-if="dItemDetail.sp.type!=='custom'">
          <button class="btn btn-default" ng-click="dItemDetail.flipConnection()"><span class="glyphicon glyphicon-retweet"></span> <span data-translate="6816">Flip</span></button>
        </span>
      </div>
    </div>
  </div>
  <div class="row form-group" ng-show="dItemDetail.messagesLoaded&&!url">
    <div class="col-xs-12">
      <label class="control-label">
        <input type="checkbox" ng-click="dItemDetail.filterMessages()" ng-model="dItemDetail.showSuccess"> <span data-translate="6307">Show Successful Messages</span>
      </label>
    </div>
  </div>
  <div class="row form-group" ng-if="dItemDetail.resourceCount>0&&!dItemDetail.messagesLoaded">
    <div class="col-xs-12">
      <div ui-grid="dItemDetail.resourceGrid" class="day-to-day-resources" ui-grid-resize-columns="" ui-grid-selection="" external-scopes="gridHandlers"></div>
    </div>
  </div>
  <div class="row form-group" ng-if="dItemDetail.resourceCount>0&&!dItemDetail.messagesLoaded">
    <div class="col-xs-12 text-left">
      <div class="well well-sm" ng-if="!dItemDetail.messagesLoaded">
        <div class="row">
          <div class="col-xs-12">
              <span class="glyphicon glyphicon-arrow-up">
                <span data-translate="5966">Select a resource to view messages</span>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-group" ng-if="!dItemDetail.noMessages&&dItemDetail.messagesLoaded&&!dItemDetail.url">
    <div ui-grid="dItemDetail.messageGridOptions" class="day-to-day-detail" ui-grid-resize-columns="" ui-grid-selection="" external-scopes="gridHandlers"></div>
  </div>
  <div class="row" ng-if="!dItemDetail.noMessages&&dItemDetail.messagesLoaded&&!dItemDetail.url">
    <div class="col-xs-3">
      <button ng-if="(!dItemDetail.noMessages&&!dItemDetail.url)&&(dItemDetail.replicationStatus.getMode()===''&&!dItemDetail.replicationStatus.getRemoteFlg()||dItemDetail.replicationStatus.getMode()!=='')" ng-disabled="dItemDetail.processing||dItemDetail.selectedRows.length===0||!dItemDetail.selectedRows" class="btn btn-default" ng-click="dItemDetail.reprocessBatch()">
        <span class="glyphicon glyphicon-refresh" ng-if="!dItemDetail.processing"></span>
        <img src="images/ajax-loader.gif" style="height:15px;width:15px;position:relative;top:-3px;" class="glyphicon glyphicon-refresh" ng-if="dItemDetail.processing">
        <span data-translate="2200">Reprocess Selected</span>
      </button>
    </div>
    <div class="col-xs-6 text-center">
      <paging-control results-per-page="30" ng-if="!dItemDetail.filtering" grid-reference="dItemDetail.mgridApi" total-records="dItemDetail.totalRecords" call-back="dItemDetail.getMessages"></paging-control>
    </div>
    <div class="col-xs-3"></div>
  </div>
  <div ng-if="dItemDetail.url">
    <d2d-item-detail-message ng-if="!dItemDetail.noMessages" url="dItemDetail.url" row="dItemDetail.row" close="dItemDetail.close"></d2d-item-detail-message>
  </div>
  <div class="well well-sm" ng-if="dItemDetail.noMessages">
    <em data-translate="5975">There are no messages for this resource.</em>
  </div>
</div>
