<div class="row row-container">
	<div class="form-group">
		<!-- <label for="customer-filter" data-translate="4364">Customer Filter</label> -->
		<!-- <input type="text" id="customer-filter" ng-blur="promotionService.put($event)" enter-blur="undefined" ng-model="promotion.validation_customer_filter" class="form-control"> -->
		<resource-filter-button disable="promotionService.saving" fields="customerResource.fields" save="promotionService.saveFilter" target="{structure:'customer_filter_ui', string:'validation_customer_filter'}" filters="promotion.customer_filter_ui" button-title="customerResource.title"></resource-filter-button> 
	</div>
</div>