<div class="row row-container">
	<div class="form-group">
		<input type="text" id="sale-subtotal" ng-disabled="promotionService.saving||rule.disabled||[1,2,3,4,5].indexOf(promotion.general_promo_type) !== -1" numberonly data-currency-formatter="currency" ng-model="promotion.validation_subtotal" ng-blur="promotionService.put($event)" enter-blur class="form-control">
	</div>
</div>