<div class="modalouter">
    <div class="modal-header">
      <h4 class="modal-title" data-translate="7143">Add Special Order Item</h4>
    </div>
    <div class="modal-body">
      <span data-translate="7144">Do you want to add a New item, or search for an Existing item?</span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info col-xs-3" ng-click="$ctrl.close(1)" data-translate="7145" type="button">New Item</button>
      <button class="btn btn-info col-xs-3" ng-click="$ctrl.close(2)" data-translate="7146" type="button">Existing Item</button>
      <button class="btn btn-info col-xs-3 pull-right" ng-click="$ctrl.dismiss()" data-translate="1.2" type="button">Cancel</button>
    </div>
</div>

