<div class="row">
  <div class="col-xs-12">
    <label class="control-label" data-translate="4012">Cancel Date</label>
    <p class="input-group {{fieldClass}}" ng-click="openCalendar($event, 'poCancelDate')">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-disabled="!purchaseOrder.isEdit"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      <input type="button" class="form-control" datetime-picker="mediumDate" datepicker-options="poCancelDate.datepickerOptions" ng-model="poCancelDate.date" value="{{(poCancelDate.date)?(poCancelDate.date | date:'mediumDate'):(poCancelDate.placeholder)}}" is-open="poCancelDate.open" enable-time="false" when-closed="poCancelDate.closed()">
    </p>
  </div>
</div>
