<div class="row">
	<div class="col-xs-4">
		<div class="checkbox">
			<label>
				<input type="checkbox"> <span data-translate="4338">Check Available Charge Balance</span>
			</label>
		</div>
	</div>
	<div class="col-xs-8">
		<add-remove-list ng-if="renderContent" settings="addRemoveListSettings"></add-remove-list>
	</div>
</div>
