<div>
  <div ng-show="$ctrl.transferVerification.state.tvPollingInProgress">
    <on-polling-loading-status loading-status-msg="$ctrl.tvPollingStatusMsg"></on-polling-loading-status>
  </div>
  <div ng-class="($ctrl.transferVerification.state.tvPollingInProgress)? 'row disable-page-on-polling' : 'row'">
    <div class="col-xs-12">
      <div class="panel panel-default" ng-if="$ctrl.ready">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-2">
              <h4 data-translate="6387">Transfer Verification</h4>
            </div>

            <div class="col-xs-6">
              <top-filter-change-button asklayout="1" disable="doDisableTFButton" on-close="updateTopFilter">
              </top-filter-change-button>
            </div>

            <div class="col-xs-4">
                  <tv-show-voucher-btn ng-disabled="false" search-action="$ctrl.transferVerification.api.setSearchType">
                  </tv-show-voucher-btn>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4" ng-if="$ctrl.filters.showFilter">
              <tv-filters default-filters="$ctrl.state.grids.slips.defaultFilter"></tv-filters>
            </div>
            <div ng-class="{'col-xs-12':!$ctrl.filters.showFilter,'col-xs-8':$ctrl.filters.showFilter}">
              <div class="row">
                <div class="col-xs-12">
                  <tv-grid auto-load="true" resource="'Transferslip'" load-on-select="$ctrl.transferVerification.api.slipSelect" custom-search="false" grid-src="$ctrl.state.grids.slips.settings" default-filter="$ctrl.state.grids.slips.defaultFilter" columns="$ctrl.state.grids.slips.columns" grid-title="$ctrl.state.grids.slips.title" listed="$ctrl.state.grids.slips.listed" selected="$ctrl.state.grids.slips.selected" trigger-lookup="$ctrl.state.grids.slips.onLookupEvent"></tv-grid>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <tv-grid auto-load="false" resource="'Receiving'" custom-search="true" grid-src="$ctrl.state.grids.vouchers.settings" default-filter="$ctrl.state.grids.vouchers.defaultFilter" columns="$ctrl.state.grids.vouchers.columns" grid-title="$ctrl.state.grids.vouchers.title" listed="$ctrl.state.grids.vouchers.listed" selected="$ctrl.state.grids.vouchers.selected" trigger-lookup="$ctrl.state.grids.vouchers.onLookupEvent"></tv-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <action-button-bar ng-if="$ctrl.tvButtons" action-bar="$ctrl.tvButtons"></action-button-bar>
    </div>
  </div>
</div>
