<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <div class="checkbox">
          <label for="detax_flag">
            <strong data-translate="738">Detax</strong>
            <input id="detax_flag" name="detax_flag" tabindex="56" type="checkbox" ng-disabled="field.ngDisabled" ng-model="field.service.active.detax">
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
