<form name="soGetVendorForm" id="soGetVendorForm" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <span data-translate="7148">Choose Vendor</span>
        </div>
        <div class="modal-body">
            <div class="row top-margin20" style="padding: 0 10px;">
                <div class="col-xs-12">
                    <div class="row top-margin">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label data-translate="3997">Vendor Code</label>
                            </div>
                            <div class="col-xs-8">
                                <select-vendor vendor="$ctrl.vendorsid" refresh-list="refreshVendorDropdown" on-change="onVendorCodeChanged" sbs="sbsSid"></select-vendor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" id="soGetVendorSaveButton" event-name="soGetVendorSave" name="soGetVendorSaveButton" class="btn btn-md btn-default" ng-disabled="soGetVendorForm.$invalid" ng-click="$ctrl.dismiss();$ctrl.saveVendor($ctrl.vendorsid);" data-translate="547">Save</button>
                        <button type="button" id="soGetVendorCancelButton" event-name="soGetVendorCancel" name="soGetVendorCancelButton" class="btn btn-md btn-default" ng-click="$ctrl.dismiss();" data-translate="1.2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
